interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogbhanuresource/monitoredSubscriptions?api-version=2025-06-11
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogbhanuresource/monitoredSubscriptions/default","name":"default","type":"Microsoft.Datadog/monitors/monitoredSubscriptions","properties":{"operation":"AddBegin","monitoredSubscriptionList":[]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4d0539d6-78cd-40c9-8a7e-f38384344c8f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
