interactions:
- request:
    body: '{"properties": {"logRules": {"filteringTags": [{"action": "Include", "name":
      "Environment", "value": "Prod"}], "sendAadLogs": false, "sendResourceLogs":
      true, "sendSubscriptionLogs": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogtestresource/tagRules/default?api-version=2025-06-11
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogtestresource/tagRules/default","name":"default","type":"microsoft.datadog/monitors/tagrules","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-30T21:37:07.2258012Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-31T07:59:50.1024961Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":false,"sendSubscriptionLogs":true,"sendResourceLogs":true,"filteringTags":[{"name":"Environment","value":"Prod","action":"Include"}]},"metricRules":{"filteringTags":[]},"agentRules":{"enableAgentMonitoring":false,"filteringTags":[]},"automuting":true,"customMetrics":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"120033c6-0000-3300-0000-69046c780000"'
      mise-correlation-id:
      - fab2bb33-200f-4884-bc68-ee90debb6f7e
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogtestresource/tagRules?api-version=2025-06-11
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogtestresource/tagRules/default","name":"default","type":"microsoft.datadog/monitors/tagrules","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-30T21:37:07.2258012Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-31T07:59:54.6907095Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":false,"sendSubscriptionLogs":true,"sendResourceLogs":true,"filteringTags":[{"name":"Environment","value":"Prod","action":"Exclude"}]},"metricRules":{"filteringTags":[]},"agentRules":{"enableAgentMonitoring":false,"filteringTags":[]},"automuting":true}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogtestresource/tagRules/default?api-version=2025-06-11
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhanu-rg/providers/Microsoft.Datadog/monitors/datadogtestresource/tagRules/default","name":"default","type":"microsoft.datadog/monitors/tagrules","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-30T21:37:07.2258012Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-31T07:59:54.6907095Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":false,"sendSubscriptionLogs":true,"sendResourceLogs":true,"filteringTags":[{"name":"Environment","value":"Prod","action":"Exclude"}]},"metricRules":{"filteringTags":[]},"agentRules":{"enableAgentMonitoring":false,"filteringTags":[]},"automuting":true,"customMetrics":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"120035c6-0000-3300-0000-69046c7b0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
