interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateLinkResources?api-version=2026-01-20-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateLinkResources/DefaultPool","name":"DefaultPool","type":"Microsoft.HorizonDb/clusters/privateLinkResources","properties":{"groupId":"DefaultPool","requiredMembers":["rw","ro"],"requiredZoneNames":["privatelink.horizondb.azure.com"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateLinkResources/DefaultPool?api-version=2026-01-20-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateLinkResources/DefaultPool","name":"DefaultPool","type":"Microsoft.HorizonDb/clusters/privateLinkResources","properties":{"groupId":"DefaultPool","requiredMembers":["rw","ro"],"requiredZoneNames":["privatelink.horizondb.azure.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections?api-version=2026-01-20-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections/test-connection","name":"test-connection","type":"Microsoft.HorizonDb/clusters/privateEndpointConnections","properties":{"groupIds":["DefaultPool"],"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/test-private-endpoint"},"privateLinkServiceConnectionState":{"status":"Pending","description":"Requested","actionsRequired":"None"},"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections/test-connection?api-version=2026-01-20-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections/test-connection","name":"test-connection","type":"Microsoft.HorizonDb/clusters/privateEndpointConnections","properties":{"groupIds":["DefaultPool"],"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/test-private-endpoint"},"privateLinkServiceConnectionState":{"status":"Pending","description":"Requested","actionsRequired":"None"},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"privateLinkServiceConnectionState": {"status": "Approved", "description": "Approved"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections/test-connection?api-version=2026-01-20-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections/test-connection","name":"test-connection","type":"Microsoft.HorizonDb/clusters/privateEndpointConnections","properties":{"groupIds":["DefaultPool"],"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/test-private-endpoint"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Approved","actionsRequired":"None"},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.HorizonDb/clusters/horizondbclitest-000002/privateEndpointConnections/test-connection?api-version=2026-01-20-preview
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
