apiVersion: v1
kind: Secret
metadata:
  name: upload-service-principal-secret
type: Opaque
data:
    clientId: {{ model.SPN_CLIENT_ID }}
    clientSecret: {{ model.SPN_CLIENT_SECRET }}
    tenantId: {{ model.SPN_TENANT_ID }}
    authority: {{ model.SPN_AUTHORITY }}