interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 19 Jul 2023 21:09:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pFQWCBqMUEqVDhMDfxb8Uw.0
      x-processing-time:
      - 101ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-07-19T22:09:39.275575", "validUntil": "2023-07-19T23:09:39.275575",
      "participants": {"8:acs:xxxx":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Jul 2023 21:09:39 GMT
      Repeatability-Request-ID:
      - 92e705a0-2678-11ee-96c7-8cf8c5abc371
      x-ms-content-sha256:
      - OrFLTxRK91okGO4CD/mIXicdIoM3HfbmS1Aiul8qm9c=
      x-ms-date:
      - Wed, 19 Jul 2023 21:09:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:09:41.9766475+00:00",
        "validFrom": "2023-07-19T22:09:39.275575+00:00", "validUntil": "2023-07-19T23:09:39.275575+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '9948870845986931'
      ms-cv:
      - eu7AWu5GNk+3+r9vzAXoHg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
