interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 08 Aug 2022 22:25:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-09T22:25:49.4420099+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Zbjmvr0qtEWjkcWQ7f50Iw.0
      x-processing-time:
      - 120ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 2f633236-5577-4ad6-8659-0f2d82fbe862
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2022-08-08T22:25:50Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ASVy-d1J316jFnvtQe_cVaJ6SLcQl0Y8xunMNbWxENMM1@thread.v2
      ms-cv:
      - VcFIgfhl60uCU21n5vXi4A.0
      x-processing-time:
      - 709ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9YrMLw/MJU+humfS/mlgxA.0
      x-processing-time:
      - 82ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "1659997550500", "type": "topicUpdated", "sequenceId":
        "2", "version": "1659997550500", "content": {"topic": "thread-topic", "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3",
        "communicationUser": {"id": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3"}}},
        "createdOn": "2022-08-08T22:25:50Z"}, {"id": "1659997550475", "type": "participantAdded",
        "sequenceId": "1", "version": "1659997550475", "content": {"participants":
        [{"communicationIdentifier": {"rawId": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3",
        "communicationUser": {"id": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3",
        "communicationUser": {"id": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3"}}},
        "createdOn": "2022-08-08T22:25:50Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dmzOrNOZ/kCDASY6DiqrSg.0
      x-processing-time:
      - 157ms
    status:
      code: 200
      message: OK
- request:
    body: '{"chatMessageId": "1659997550500"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      ms-cv:
      - AcFjkvkhg0yFproQmyhxFA.0
      x-processing-time:
      - 113ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"senderCommunicationIdentifier": {"rawId": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3",
        "communicationUser": {"id": "8:acs:02d6f49c-ac10-4eef-a3b3-6e1f182591fc_00000013-1f72-177d-570c-113a0d0006f3"}},
        "chatMessageId": "1659997550500", "readOn": "2022-08-08T22:25:52Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VTf7JReOfUuBhqtN8PQFfg.0
      x-processing-time:
      - 148ms
    status:
      code: 200
      message: OK
version: 1
