interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T09:57:31.223724Z'
      Repeatability-Request-ID:
      - bc9fdac1-7227-11ed-9586-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 09:57:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T09:57:31.7721072+00:00",
        "validFrom": "2022-12-02T09:57:31.5722261+00:00", "validUntil": "2023-05-31T09:57:31.5722261+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99478141378157846'
      ms-cv:
      - XlH20zyCV0mWKjPTSaeoQA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 09:57:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mVxZ2bH0zU6uWLFvdP8n+A.0
      x-processing-time:
      - 136ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - r/6phPeJO09Jv063pnuXLqruJfuWcQxyJNgY0fdaroU=
      x-ms-date:
      - Fri, 02 Dec 2022 09:57:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zhfStxkpk02bjoDOqGsTtw.0
    status:
      code: 200
      message: OK
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 57uj9W85KZvbrcHPkLftP/M4XE4zOIZbAOh5LNSbpYY=
      x-ms-date:
      - Fri, 02 Dec 2022 09:57:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:remove?api-version=2022-02-01
  response:
    body:
      string: '{"participants": []}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jfAC9uMH1kqjR82Bvq8GCw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 09:57:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants": []}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nnUTfLo7xE+3GEndNGtIvA.0
    status:
      code: 200
      message: OK
version: 1
