interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 14 Dec 2023 11:08:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
      ms-cv:
      - 1Z4Hq0hvYUeIJM1Sz9AEzw.0
      operation-id:
      - search_336cbbaa-ff1b-48ac-b8b8-2f960f80e755
      operation-location:
      - /phoneNumbers/operations/search_336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
      search-id:
      - 336cbbaa-ff1b-48ac-b8b8-2f960f80e755
      x-processing-time:
      - 3182ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:09:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01",
        "createdDateTime": "2023-12-14T11:09:00.6681007+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
      ms-cv:
      - ztlogVFwyUWG540nfvwlQQ.0
      x-processing-time:
      - 272ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:09:03 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "336cbbaa-ff1b-48ac-b8b8-2f960f80e755", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-14T11:25:02.7014143+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cmjSLF3NFU2LEQhR84RrQA.0
      x-processing-time:
      - 406ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "336cbbaa-ff1b-48ac-b8b8-2f960f80e755"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 5M0le5cJsXwWu9IFV3cSyy6Rms+8n7khTvGR0N90Ztk=
      x-ms-date:
      - Thu, 14 Dec 2023 11:09:04 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - oO/76yoW/U+zN39JQnnGrw.0
      operation-id:
      - purchase_336cbbaa-ff1b-48ac-b8b8-2f960f80e755
      operation-location:
      - /phoneNumbers/operations/purchase_336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
      purchase-id:
      - 336cbbaa-ff1b-48ac-b8b8-2f960f80e755
      x-processing-time:
      - 968ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:09:05 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_336cbbaa-ff1b-48ac-b8b8-2f960f80e755?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-14T11:09:00.6681007+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - G5QEeRURqkaHm+CeThBaog.0
      x-processing-time:
      - 237ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:09:23 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-12-14T11:09:19.3984367+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1ZyinorpsUCr/+WXrBDZ0A.0
      x-processing-time:
      - 1494ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
