interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 10 Jun 2024 13:55:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
      ms-cv:
      - AoV4E5LsdE2b23Dye82vYw.0
      operation-id:
      - search_79f6cb59-65e3-4fd4-b4af-848551a05825
      operation-location:
      - /phoneNumbers/operations/search_79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
      search-id:
      - 79f6cb59-65e3-4fd4-b4af-848551a05825
      x-processing-time:
      - 4947ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:55:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview",
        "createdDateTime": "2024-06-10T13:55:35.4039391+00:00", "id": "search_79f6cb59-65e3-4fd4-b4af-848551a05825",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
      ms-cv:
      - i3EK700C8kyVWSNJuP00Zg.0
      x-processing-time:
      - 260ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:55:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
  response:
    body:
      string: '{"searchId": "79f6cb59-65e3-4fd4-b4af-848551a05825", "phoneNumbers":
        ["+18337939061"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-06-10T14:11:37.5023657+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8iTkhNe7BkurNZVlhNPm8Q.0
      x-processing-time:
      - 674ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "79f6cb59-65e3-4fd4-b4af-848551a05825", "consentToNotResellNumbers":
      false}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 4aaSOZa1sHLWXTt0QSM7E5d37NMrIXfnRyHTQreidjo=
      x-ms-date:
      - Mon, 10 Jun 2024 13:55:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - GsuX7kvqtkO5K2KtqZmlWg.0
      operation-id:
      - purchase_79f6cb59-65e3-4fd4-b4af-848551a05825
      operation-location:
      - /phoneNumbers/operations/purchase_79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
      purchase-id:
      - 79f6cb59-65e3-4fd4-b4af-848551a05825
      x-processing-time:
      - 1315ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:55:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_79f6cb59-65e3-4fd4-b4af-848551a05825?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-06-10T13:55:35.4039391+00:00", "id": "purchase_79f6cb59-65e3-4fd4-b4af-848551a05825",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 368+adLUG0yGq7aZjyANWg.0
      x-processing-time:
      - 274ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 4IRwWgbHyGFL2XsIUBktjjxS6NwAvYPF9bdR5sxS3Yg=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PYJxSQ7C5UCOHcrORVcJtg.0
      x-processing-time:
      - 1159ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
