interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 25 Mar 2025 01:15:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - tBDz/raHFEm0hsc3/gsjuw.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"8:acs:4e3b7b67-1a5f-4548-b769-dcc465d561bb_00000026-6abf-cc1c-6ad4-363a0d00ed5c":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 25 Mar 2025 01:15:11 GMT
      Repeatability-Request-Id:
      - 9917dc07-0916-11f0-a531-8c3b4abe269c
      x-ms-content-sha256:
      - RCO210YcG2Q3HCh2aX3VW8r9qVUhzJ1pMc1x6+TqkDA=
      x-ms-date:
      - Tue, 25 Mar 2025 01:15:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-25T01:15:12.275385+00:00",
        "validFrom": "2025-03-25T01:15:12.2297154+00:00", "validUntil": "2025-09-21T01:15:12.2297154+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99427327734296360'
      ms-cv:
      - 00f7aZqADkKMnah2SmerpQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
