interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:06 GMT
=======
      - Fri, 23 Jun 2023 17:16:51 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:40:45 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:07 GMT
      ms-cv:
      - iQhnE+OAkUqJ5gdxPI17BA.0
=======
      - Fri, 23 Jun 2023 17:16:50 GMT
      ms-cv:
      - ca2zZjhod0+2O47HSJu1+g.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:40:46 GMT
      ms-cv:
      - qVkoph/1GEeVwxjzFJYkZg.0
>>>>>>> 7c5b674c0 (Reran tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0D+2lZAAAAABTzwxRtlb9TZyya/Vd4rblWVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 99ms
=======
      - 0gtOVZAAAAABZThmX68ZZRp5xwQ2p3pv6WVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 97ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0/a2kZAAAAABpiylpwbZjRo+3f7/5pos+WVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 99ms
>>>>>>> 7c5b674c0 (Reran tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - nhFAfqVNNvGtmqZXLZeMFVwYcIW0NuuEF0d+D1dlKIY=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:07 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - nhFAfqVNNvGtmqZXLZeMFVwYcIW0NuuEF0d+D1dlKIY=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:16:51 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:40:46 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"token": "sanitized", "expiresOn": "2023-07-06T22:22:08.2755581+00:00"}'
=======
      string: '{"token": "sanitized", "expiresOn": "2023-06-24T17:16:51.5845078+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"token": "sanitized", "expiresOn": "2023-07-05T23:40:47.1584473+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
 [...]
