interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:07:29 GMT
      Repeatability-Request-ID:
      - 06f06695-1c6b-11ee-a9d6-ef1ec79c5484
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 07 Jul 2023 02:07:29 GMT
=======
      - Fri, 23 Jun 2023 17:22:35 GMT
=======
      - Tue, 04 Jul 2023 23:44:42 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      Repeatability-Request-ID:
      - bfb19498-1ac4-11ee-9945-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:22:35 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:44:42 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-07T02:07:29.4478156+00:00",
        "validFrom": "2023-07-07T02:07:29.3503657+00:00", "validUntil": "2024-01-03T02:07:29.3503657+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:22:36.511712+00:00",
        "validFrom": "2023-06-23T17:22:36.0907294+00:00", "validUntil": "2023-12-20T17:22:36.0907294+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:44:43.6406461+00:00",
        "validFrom": "2023-07-04T23:44:42.9269636+00:00", "validUntil": "2023-12-31T23:44:42.9269636+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 07 Jul 2023 02:07:28 GMT
      location:
      - '99493872223198801'
      ms-cv:
      - XBwje7yUy0aFC7fYfTmGjg.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 7c5b674c0 (Reran tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 04 Jul 2023 23:44:43 GMT
      location:
      - '99470621691786503'
      ms-cv:
<<<<<<< HEAD
      - HvEYj7wqRkmFe1aUD32E7w.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - YSWU4uBXPk+aO4iM7flNrA.0
>>>>>>> 7c5b674c0 (Reran tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0YXOnZAAAAAA+cjCRLMVWTp6TBUj5+RGtWVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 029SVZAAAAABSTEXuqPfRTalYka5Wu1gtWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 06q6kZAAAAABt9K/KEN5FS5xlhE3hNeKOWVZSMzExMDAwMTE1MDM3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 02:07:30 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=[...]
