interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 24 Mar 2025 07:18:06 GMT
      Repeatability-Request-Id:
      - 21fda7a8-0880-11f0-ac43-00155d7b1001
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 24 Mar 2025 07:18:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:18:07.6173542+00:00",
        "validFrom": "2025-03-24T07:18:07.2416778+00:00", "validUntil": "2025-09-20T07:18:07.2416778+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99452036521273689'
      ms-cv:
      - QhnQzTvF/02A84rx9aWcOQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
