interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
      ms-cv:
      - /QKxajS/xkOlGe/UlLkVlA.0
      operation-id:
      - search_e5276e52-91b5-43cb-9fb4-dad28a0ff15c
      operation-location:
      - /phoneNumbers/operations/search_e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
      search-id:
      - e5276e52-91b5-43cb-9fb4-dad28a0ff15c
      x-processing-time:
      - 3479ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:37 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview",
        "createdDateTime": "2024-04-22T18:13:37.5109837+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
      ms-cv:
      - Fs7Mbxe6FEaroHBnYC3KtA.0
      x-processing-time:
      - 362ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:40 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
  response:
    body:
      string: '{"searchId": "e5276e52-91b5-43cb-9fb4-dad28a0ff15c", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T18:29:39.1142538+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ux6+5fv66kG9UR2MSHjhfQ.0
      x-processing-time:
      - 395ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "e5276e52-91b5-43cb-9fb4-dad28a0ff15c", "consentToNotResellNumbers":
      false}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - wF6UoJOrMzEtmPVItqSzhWKsaZVB/YYhw47htpj5VN4=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - TFP82rYDNU2sI7ZKLIJ/XQ.0
      operation-id:
      - purchase_e5276e52-91b5-43cb-9fb4-dad28a0ff15c
      operation-location:
      - /phoneNumbers/operations/purchase_e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
      purchase-id:
      - e5276e52-91b5-43cb-9fb4-dad28a0ff15c
      x-processing-time:
      - 1021ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:42 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_e5276e52-91b5-43cb-9fb4-dad28a0ff15c?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T18:13:37.5109837+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TKLE7jAsDUqejBn24DzRtw.0
      x-processing-time:
      - 195ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:14:08 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2023-10-01-preview
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2024-04-22T18:13:58.7434519+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FddGgr0kzUilGBsLQMmtqw.0
      x-processing-time:
      - 1320ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
