interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-identity/1.3.1 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 07 Jul 2023 01:55:43 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 23 Jun 2023 17:08:45 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
        "expiresOn": "2023-07-08T01:55:42.7233507+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:08:45.6334369+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:55:41 GMT
      ms-cv:
      - /QNWL/0LnkG0wyf2ChKuIg.0
=======
      - Fri, 23 Jun 2023 17:08:44 GMT
      ms-cv:
      - nFvpmU9ffEG1jNWD7oOEPA.0
>>>>>>> ddcd2202f (Adding test recordings)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
      - 0nnCnZAAAAAB0hCrdKd2FSrTCVCXCn6tPWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 105ms
=======
      - 0ndGVZAAAAAAx59gw/mhPT5wLvIgXYrz7WVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 304ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 201
      message: Created
version: 1
