interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T01:28:47.58076Z'
      Repeatability-Request-ID:
      - ab1d8f78-71e0-11ed-895c-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 01:28:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T01:28:48.9975542+00:00",
        "validFrom": "2022-12-02T01:28:48.932388+00:00", "validUntil": "2023-05-31T01:28:48.932388+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99454587258478889'
      ms-cv:
      - 80KboLqSZkeB1qK/XO53eQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 01:28:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OviiBzL9WUm6ZBYJuNI4oQ.0
      x-processing-time:
      - 123ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 1q57TvZq+hPY+qrmyb22GRVupTct71tDhm1HeAm9cpw=
      x-ms-date:
      - Fri, 02 Dec 2022 01:28:48 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T01:28:48.9975542+00:00",
        "validFrom": "2022-12-02T01:28:48.932388+00:00", "validUntil": "2023-05-31T01:28:48.932388+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "role":
        "Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1tbRtACGGUO0zj9Lw1v6ew.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 01:28:49 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T01:28:48.9975542+00:00",
        "validFrom": "2022-12-02T01:28:48.932388+00:00", "validUntil": "2023-05-31T01:28:48.932388+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "role":
        "Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nPAwO2/1mkWbiIzKyZtqmQ.0
    status:
      code: 200
      message: OK
version: 1
