interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"acs:8-invalidMRI": {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 16 Oct 2023 16:13:36 GMT
      Repeatability-Request-Id:
      - f60b2688-6c3e-11ee-a48c-8cf8c5abc371
      x-ms-content-sha256:
      - StjPbZ+anErZes8IJRa2STDgsBYIizhcGHmw6U39sio=
      x-ms-date:
      - Mon, 16 Oct 2023 16:13:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid format for communication
        identifier."}}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nrCnkTxJakqeNIc/ejuDtQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
