interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:20:32 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:11:24 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:34:22 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:15:08 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-06T22:20:33.1010405+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:11:25.2069699+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:34:22.2597018+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:15:08.5108895+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:32 GMT
      ms-cv:
      - uYEORp1Sv0mpZMaTeA4ktg.0
=======
      - Fri, 23 Jun 2023 17:11:24 GMT
      ms-cv:
      - N13QfX4Ge0CckwabPmxckg.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:34:22 GMT
      ms-cv:
      - zx5oPWB/20WdGKJnlvkIgg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:15:07 GMT
      ms-cv:
      - Y8wL4zi0v0uBjQuImgQYFA.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0seylZAAAAAAmUtBn0WemRbl64E4TCNILWVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 109ms
=======
      - 0PNKVZAAAAACWTkQYhTjMSapxUDV64uywWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 107ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0fqykZAAAAAAnggPTvm8sR6z1/Q6jvsflWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 105ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0LLOlZAAAAABQ99cRkVTrS5zBKlPJJFGdWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 103ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "yet-another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-chat/1.1.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - d1028d09-8187-4d15-9b5b-0a8de8568190
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - 75f9f32a-4e84-4207-9daf-1c32bc97329e
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 6cb8fc7e-c925-4c0b-a157-3400b4acb3be
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - aaf83132-02d4-4330-be5c-d58f71bbc20c
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "yet-another-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-05T22:20:33Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:11:25Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:34:22Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:15:08Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:33 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AOfSAaDv_zdlh8K1cKBDoh45RIqbc08lFj4A4T7GGfVA1@thread.v2
      ms-cv:
      - KHTXvfRggUORN4R3Ul4jIg.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0seylZAAAAADr6hajcnj/R64vJc94hQSkWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 790ms
=======
      - Fri, 23 Jun 2023 17:11:25 GMT
=======
      - Tue, 04 Jul 2023 23:34:23 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:15:08 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3At9ieAwRVuMmRn1rDJnfY2-DgIuoDbQmLiBcFAmNJr241@thread.v2
      ms-cv:
      - fyLwG69iZ0OQWxmsPO8Z/A.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0LLOlZAAAAACYT5BQw5NzQolv0+t2QurjWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 589ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 1084ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 486ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
version: 1
