interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T01:27:12.898937Z'
      Repeatability-Request-ID:
      - 72ae42bb-71e0-11ed-89d1-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 01:27:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T01:27:13.9314761+00:00",
        "validFrom": "2022-12-02T01:27:13.862008+00:00", "validUntil": "2023-05-31T01:27:13.862008+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99458396733819687'
      ms-cv:
      - EjmRZ1PVJ0m0Kxsd59NGbg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 01:27:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a8ymcyojo0mNMDI+kPw27Q.0
      x-processing-time:
      - 126ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kXuvtuKO4tLq+3X1WpGanIkyJfISzbkmr1ZyUAKS85A=
      x-ms-date:
      - Fri, 02 Dec 2022 01:27:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - v0DpCdVaqEOzEDuYHbicZA.0
    status:
      code: 200
      message: OK
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - xWY+Q16P4DMWz8lcuSYm2dz+SoUg/d3z8jlY7swVUzM=
      x-ms-date:
      - Fri, 02 Dec 2022 01:27:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:remove?api-version=2022-02-01
  response:
    body:
      string: '{"participants": []}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Uw22etpZRE27PFEejBxlyA.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 01:27:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants": []}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PaA6u4IzU0Oz09apX1SYsA.0
    status:
      code: 200
      message: OK
version: 1
