interactions:
- request:
    body: '{"roomJoinPolicy": "azure12345"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T09:58:24.190117Z'
      Repeatability-Request-ID:
      - dc31e276-7227-11ed-9c99-a864f13124e5
      x-ms-content-sha256:
      - oyvw7nmJwqfGg4WefiXdtWSG0WwA8NpyXs5EaT2qzzQ=
      x-ms-date:
      - Fri, 02 Dec 2022 09:58:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-58286c50949205574b1b48dcc6ab9c16-5a24e80041e269ab-00","errors":{"createRoomRequest":["The
        createRoomRequest field is required."],"$.roomJoinPolicy":["The JSON value
        could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoomJoinPolicyDto.
        Path: $.roomJoinPolicy | LineNumber: 0 | BytePositionInLine: 31."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - 0cM066JlvUmYB2SS6ca8ag.0
    status:
      code: 400
      message: Bad Request
version: 1
