interactions:
- request:
    body: '{"roomJoinPolicy": "azure12345"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:12:02.253608Z'
      Repeatability-Request-ID:
      - 14b5c793-74d9-11ed-9d9b-a864f13124e5
      x-ms-content-sha256:
      - oyvw7nmJwqfGg4WefiXdtWSG0WwA8NpyXs5EaT2qzzQ=
      x-ms-date:
      - Mon, 05 Dec 2022 20:12:02 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-38cec33a1087d35733c7f83e36053d8d-74c8e760187ab78f-00","errors":{"createRoomRequest":["The
        createRoomRequest field is required."],"$.roomJoinPolicy":["The JSON value
        could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoomJoinPolicyDto.
        Path: $.roomJoinPolicy | LineNumber: 0 | BytePositionInLine: 31."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - JQEfhHeb00e80MncuAZJFQ.0
    status:
      code: 400
      message: Bad Request
version: 1
