interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 26 Mar 2024 20:38:06 GMT
      Repeatability-Request-Id:
      - c01fa773-ebb0-11ee-8d8c-70cf49b3e948
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Tue, 26 Mar 2024 20:38:06 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-26T20:38:07.2307098+00:00",
        "validFrom": "2024-03-26T20:38:07.1842154+00:00", "validUntil": "2024-09-22T20:38:07.1842154+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9947244145675673'
      ms-cv:
      - 9ckm3vjGJEe3oN9Dfz6DEQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 26 Mar 2024 20:38:07 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-26T20:38:07.2307098+00:00",
        "validFrom": "2024-03-26T20:38:07.1842154+00:00", "validUntil": "2024-09-22T20:38:07.1842154+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4WSCUwekX020wgdU2NwK8Q.0
    status:
      code: 200
      message: OK
version: 1
