interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Thu, 14 Dec 2023 12:17:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-12-15T12:17:24.0759905+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fygH+RFPFk+tAeczwkwRHA.2.0
      x-processing-time:
      - 117ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - e2893d84-747b-4940-a110-25e0ce61aa71
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2023-12-14T12:17:24Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A5JHm0RoPWjgJlFHQ7rf9uaIm9DRhKEMZ8wO_7pX0DG81@thread.v2
      ms-cv:
      - hmpjR7OKDEOnTlHsKjXq9A.0
      x-processing-time:
      - 459ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}, "shareHistoryTime": "2022-01-01T00:00:00.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2023-11-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - i473tIGN40uMzQfxJj/hOQ.0
      x-processing-time:
      - 385ms
    status:
      code: 201
      message: Created
version: 1
