interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:18:54 GMT
=======
      - Fri, 23 Jun 2023 17:15:18 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:18:55 GMT
      ms-cv:
      - AeAaOnaXwEWSCPlmanyRcw.0
=======
      - Fri, 23 Jun 2023 17:15:17 GMT
      ms-cv:
      - nnkcEcXUNUKIk/vwzq/g1g.0
>>>>>>> ddcd2202f (Adding test recordings)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
      - 0T+ylZAAAAACa8zRHNlr9RLNjXTZZdwYaWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 100ms
=======
      - 0JdOVZAAAAACsi5trMouISLMfptBaiwhoWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 101ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - nhFAfqVNNvGtmqZXLZeMFVwYcIW0NuuEF0d+D1dlKIY=
      x-ms-date:
      - Wed, 05 Jul 2023 22:18:55 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - nhFAfqVNNvGtmqZXLZeMFVwYcIW0NuuEF0d+D1dlKIY=
      x-ms-date:
      - Fri, 23 Jun 2023 17:15:18 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"token": "sanitized", "expiresOn": "2023-07-06T22:18:56.2694858+00:00"}'
=======
      string: '{"token": "sanitized", "expiresOn": "2023-06-24T17:15:18.5336649+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:18:56 GMT
      ms-cv:
      - eon0kc/SnUWhflszt29dzA.0
=======
      - Fri, 23 Jun 2023 17:15:17 GMT
      ms-cv:
      - RRQtm6GRXkW3J3+LqWySQw.0
>>>>>>> ddcd2202f (Adding test recordings)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
      - 0T+ylZAAAAAD50J1C7w9YRKARg7veyq9NWVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 176ms
=======
      - 0JtOVZAAAAABSAUPMcJntRoGDsFv1uKRGWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 170ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 200
      message: OK
version: 1
