interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 26 Mar 2025 08:31:58 GMT
      Repeatability-Request-Id:
      - c80afa08-0a1c-11f0-8226-00155d7b1001
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Wed, 26 Mar 2025 08:31:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-26T08:31:58.9976068+00:00",
        "validFrom": "2025-03-26T08:31:58.6086413+00:00", "validUntil": "2025-09-22T08:31:58.6086413+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99411232202010808'
      ms-cv:
      - UechG/hzQEu38zRxHtBGVg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 08:31:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - x8McjT4EKkqIHiESu9cPqQ.2.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:c2af4689-c368-400b-b2ce-a4542b8f1fba_00000026-7176-1099-f40f-343a0d00a267":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 0TbTXFkqPMv+GC+6A/8Iw3Kp9UdhjbBISnLp7sbuMUA=
      x-ms-date:
      - Wed, 26 Mar 2025 08:32:01 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZMoH6Xvo/EqT8IkhaNwSJw.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 08:32:05 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bQoRqkPeMU23O2YQiW33zQ.0
    status:
      code: 200
      message: OK
version: 1
