interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 13 Dec 2023 11:51:23 GMT
      Repeatability-Request-Id:
      - f08fd5a6-99ad-11ee-8963-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Wed, 13 Dec 2023 11:51:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-13T11:51:26.0081379+00:00",
        "validFrom": "2023-12-13T11:51:25.8363272+00:00", "validUntil": "2024-06-10T11:51:25.8363272+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '9946934867504958'
      ms-cv:
      - RxBXTpMlSkGT0aX7lj923w.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
