interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Communication/emailServices/clitestemail000005/domains/acs.contoso.net000006/senderUsernames?api-version=2023-04-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000004/providers/microsoft.communication/emailservices/clitestemail000005/domains/acs.contoso.net000006/senderusernames/donotreply",
        "name": "donotreply", "type": "emailservices/domains/senderusernames", "properties":
        {"username": "DoNotReply", "displayName": "DoNotReply"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ddb9d6eb-ea83-425c-be4c-fdedc4fcc8d8
      ms-cv:
      - SQreFlPavUCk+ofGcfkAkA.0
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"username": "clitestsenderusername000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sanitized.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Communication/emailServices/clitestemail000005/domains/acs.contoso.net000006/senderUsernames/clitestsenderusername000003?api-version=2023-04-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000004/providers/Microsoft.Communication/emailServices/clitestemail000005/domains/acs.contoso.net000006/senderUsernames/clitestsenderusername000003",
        "name": "clitestsenderusername000003", "type": "microsoft.communication/emailservices/domains/senderusernames",
        "systemData": {"createdBy": "sanitized", "createdByType": "User", "createdAt":
        "2025-03-27T07:13:42.5267011Z", "lastModifiedBy": "sanitized", "lastModifiedByType":
        "User", "lastModifiedAt": "2025-03-27T07:13:42.5267011Z"}, "properties": {"username":
        "clitestsenderusername000003", "provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a52bc125-f4d2-4435-afc6-998b405c27dc
      ms-cv:
      - BS4Wb4pOHE2K8GlJX61bSQ.0
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Communication/emailServices/clitestemail000005/domains/acs.contoso.net000006/senderUsernames/clitestsenderusername000003?api-version=2023-04-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 7ff6ab2a-9861-4323-9506-c7a9602d6102
      ms-cv:
      - UKx2/xI6jke0CEeXm1f/Yw.0
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
