interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 26 May 2023 04:09:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
      ms-cv:
      - PqX/55B4+E26WVjyuwMLOw.0
      operation-id:
      - search_d3bac126-7bf9-426b-9c29-4291b3a63636
      operation-location:
      - /phoneNumbers/operations/search_d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
      search-id:
      - d3bac126-7bf9-426b-9c29-4291b3a63636
      x-processing-time:
      - 3592ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01",
        "createdDateTime": "2023-05-26T04:09:15.6773152+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
      ms-cv:
      - ABWZxUP7h0So4Cy4wLMOuQ.0
      x-processing-time:
      - 208ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "d3bac126-7bf9-426b-9c29-4291b3a63636", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-05-26T04:25:17.3777008+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BmwiFTyN3EeSx3GV0b5B9Q.0
      x-processing-time:
      - 770ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "d3bac126-7bf9-426b-9c29-4291b3a63636"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Ycg08+BYBDImcXpJ4x6+ssXoZ5Cpmd89i8BpiEVYiH4=
      x-ms-date:
      - Fri, 26 May 2023 04:09:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - iJroKY1e506SAt8bFMO0mQ.0
      operation-id:
      - purchase_d3bac126-7bf9-426b-9c29-4291b3a63636
      operation-location:
      - /phoneNumbers/operations/purchase_d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
      purchase-id:
      - d3bac126-7bf9-426b-9c29-4291b3a63636
      x-processing-time:
      - 1256ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_d3bac126-7bf9-426b-9c29-4291b3a63636?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-05-26T04:09:15.6773152+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3KThflwjp0mW1z+odpEtzQ.0
      x-processing-time:
      - 205ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:46 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-05-26T04:09:41.4236215+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MClw6draVUCid0h5GFrSmw.0
      x-processing-time:
      - 1579ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
