interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
      ms-cv:
      - /Z2PtJZPp0m1C6/OBRK2Kg.0
      operation-id:
      - search_64f92a99-a185-45ca-a9bd-04cdf93bc64c
      operation-location:
      - /phoneNumbers/operations/search_64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
      search-id:
      - 64f92a99-a185-45ca-a9bd-04cdf93bc64c
      x-processing-time:
      - 2386ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T16:13:54.2039854+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
      ms-cv:
      - LyBmMNgjSkCAY+H2fzCywA.0
      x-processing-time:
      - 221ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "64f92a99-a185-45ca-a9bd-04cdf93bc64c", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T16:29:55.2200907+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QaViaaldokqXFnHZKZvd2g.0
      x-processing-time:
      - 506ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "64f92a99-a185-45ca-a9bd-04cdf93bc64c"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - XAFGzzezv0vwCU4+XUORyQgjuumrcmkaSe5ncfmGE6k=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - Saopl4OvKEWPvpdBfw2lxg.0
      operation-id:
      - purchase_64f92a99-a185-45ca-a9bd-04cdf93bc64c
      operation-location:
      - /phoneNumbers/operations/purchase_64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
      purchase-id:
      - 64f92a99-a185-45ca-a9bd-04cdf93bc64c
      x-processing-time:
      - 1125ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_64f92a99-a185-45ca-a9bd-04cdf93bc64c?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T16:13:54.2039854+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MU0atAA/RUCrTEFlrO1nTg.0
      x-processing-time:
      - 227ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2024-04-22T16:14:55.3042267+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3fq9cBXkfk+MfvhH8UmrGA.0
      x-processing-time:
      - 2301ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
