interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:12:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - X3Z9HQGkd0yFkc9AeKgd3w.2.0
      x-processing-time:
      - 80ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:643e0084-aae9-4488-baa7-93963457dadf_0000001d-07e8-9014-3d39-8e3a0d000190":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 14 Dec 2023 11:12:12 GMT
      Repeatability-Request-Id:
      - a19b26a0-9a71-11ee-988f-a497b10aa3d0
      x-ms-content-sha256:
      - Vg5FYY2BQGSSzMzCGg/mVjdIwgDQb9qt5XzBpxM2Gwo=
      x-ms-date:
      - Thu, 14 Dec 2023 11:12:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-14T11:12:14.8671336+00:00",
        "validFrom": "2023-12-14T11:12:14.7650785+00:00", "validUntil": "2024-06-11T11:12:14.7650785+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99415695956806966'
      ms-cv:
      - BTSt12yrlkqLplspgPbEUw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
