interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Thu, 14 Dec 2023 11:03:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-12-15T11:03:13.9470874+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - C8ID2nJvYEClkGF9OFkp4Q.2.0
      x-processing-time:
      - 91ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - fbf00bef-79a8-4e30-9715-c985742d3dc2
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "new-topic", "createdOn":
        "2023-12-14T11:03:14Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ASrwAvAQ6yb7_Ithfy6ot2E6vin5qiaxSEMcYJzlyVa01@thread.v2
      ms-cv:
      - x5BSVVB6SkS92iiqxmysWw.0
      x-processing-time:
      - 503ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello!", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ASrwAvAQ6yb7_Ithfy6ot2E6vin5qiaxSEMcYJzlyVa01@thread.v2/messages/1702551795807
      ms-cv:
      - NfDkjESz+UakWBGh7bWrLQ.0
      x-processing-time:
      - 336ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized", "type": "html", "sequenceId": "3", "version": "1702551795807",
        "content": {"message": "hello!", "attachments": []}, "senderDisplayName":
        "", "createdOn": "2023-12-14T11:03:15Z", "senderCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RNHJHe/7z0a2W/yMQ2TAkw.0
      x-processing-time:
      - 252ms
    status:
      code: 200
      message: OK
version: 1
