interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 12:43:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mPWXu5BWtUq+Q0Bd9ClEMg.2.0
      x-processing-time:
      - 86ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - sZHRO4JkAmw3HcI1PyxrC5twHvkHIWjyMLVIkauXKRA=
      x-ms-date:
      - Thu, 14 Dec 2023 12:43:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2023-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2023-12-15T12:43:28.2096532+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DDXGWSrMaEOS0zcpqmb12Q.2.0
      x-processing-time:
      - 162ms
    status:
      code: 200
      message: OK
version: 1
