interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Jul 2023 21:11:14 GMT
      Repeatability-Request-ID:
      - cb9ef780-2678-11ee-8101-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 19 Jul 2023 21:11:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:11:17.0998876+00:00",
        "validFrom": "2023-07-19T21:11:16.379698+00:00", "validUntil": "2024-01-15T21:11:16.379698+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99443300531970485'
      ms-cv:
      - WMFeiAaLnEKEHS403ZiqdA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-07-19T22:11:16.134690", "validUntil": "2023-07-19T23:11:16.134690"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - TSyXnf0rcVA2iFh0yz4z/N6IiHTpCuQf0plmH4rhPns=
      x-ms-date:
      - Wed, 19 Jul 2023 21:11:16 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:11:17.0998876+00:00",
        "validFrom": "2023-07-19T22:11:16.13469+00:00", "validUntil": "2023-07-19T23:11:16.13469+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 50w+hDmfpE2dcMb4wtlY2Q.0
    status:
      code: 200
      message: OK
version: 1
