interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 26 Mar 2025 08:48:29 GMT
      Repeatability-Request-Id:
      - 16d4d67a-0a1f-11f0-9fb7-00155d7b1001
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Wed, 26 Mar 2025 08:48:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-26T08:48:30.3529557+00:00",
        "validFrom": "2025-03-26T08:48:29.9965322+00:00", "validUntil": "2025-09-22T08:48:29.9965322+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99444474928747602'
      ms-cv:
      - wR3tc0yXu0CtYd+rb8UlnA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - QQKbDQ8A0x7b9852DAZ3wjSpELmfU1PGiuAyzF0GbQg=
      x-ms-date:
      - Wed, 26 Mar 2025 08:48:30 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-26T08:48:30.3529557+00:00",
        "validFrom": "2025-03-26T08:48:29.9965322+00:00", "validUntil": "2025-09-22T08:48:29.9965322+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dGrNe/qftU2Le1jJAyF6qQ.0
    status:
      code: 200
      message: OK
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Wed, 26 Mar 2025 08:48:32 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-26T08:48:30.3529557+00:00",
        "validFrom": "2025-03-26T08:48:29.9965322+00:00", "validUntil": "2025-09-22T08:48:29.9965322+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AD6kPyuKQ0SlN4krdtYb1w.0
    status:
      code: 200
      message: OK
version: 1
