interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 14 Dec 2023 11:20:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
      ms-cv:
      - /WRfTxGwZU6RoqPIuT7NOA.0
      operation-id:
      - search_95274dbc-e515-48ee-b459-085137982871
      operation-location:
      - /phoneNumbers/operations/search_95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
      search-id:
      - 95274dbc-e515-48ee-b459-085137982871
      x-processing-time:
      - 4428ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:20:58 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01",
        "createdDateTime": "2023-12-14T11:20:58.0128252+00:00", "id": "search_95274dbc-e515-48ee-b459-085137982871",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
      ms-cv:
      - f1jsZ5lr9EWzJEXgzfZeKw.0
      x-processing-time:
      - 392ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:21:01 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "95274dbc-e515-48ee-b459-085137982871", "phoneNumbers":
        ["+18333931059"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-14T11:37:01.5948341+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PZ50EmvkzUOumfW7GgGHtA.0
      x-processing-time:
      - 501ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "95274dbc-e515-48ee-b459-085137982871"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 70ErRU8rum3AXENM7NDKZSz8SzyQ6hz1X4YAmTvRZqY=
      x-ms-date:
      - Thu, 14 Dec 2023 11:21:02 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - FO2EniPdZU6h0ZTZIr+Okg.0
      operation-id:
      - purchase_95274dbc-e515-48ee-b459-085137982871
      operation-location:
      - /phoneNumbers/operations/purchase_95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
      purchase-id:
      - 95274dbc-e515-48ee-b459-085137982871
      x-processing-time:
      - 897ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:21:03 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_95274dbc-e515-48ee-b459-085137982871?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-14T11:20:58.0128252+00:00", "id": "purchase_95274dbc-e515-48ee-b459-085137982871",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YXfwDVCKI0yBuckkSHHmBw.0
      x-processing-time:
      - 242ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - dyJPTVqLxgDc+ccGdqL7G4qaBIzBtz/nU/b/v3ogZJs=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0izATL97XkKouzUtHgOH4Q.0
      x-processing-time:
      - 3941ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
