interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:07 GMT
      Repeatability-Request-ID:
      - 60d23912-1b82-11ee-a87b-8cf8c5abc371
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:07 GMT
=======
      - Fri, 23 Jun 2023 17:20:34 GMT
=======
      - Tue, 04 Jul 2023 23:45:25 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      Repeatability-Request-ID:
      - d94ee95e-1ac4-11ee-b151-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:34 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:45:25 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-05T22:22:09.1991589+00:00",
        "validFrom": "2023-07-05T22:22:08.8826616+00:00", "validUntil": "2024-01-01T22:22:08.8826616+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:20:34.1151788+00:00",
        "validFrom": "2023-06-23T17:20:34.0460269+00:00", "validUntil": "2023-12-20T17:20:34.0460269+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:45:26.7434781+00:00",
        "validFrom": "2023-07-04T23:45:26.2454473+00:00", "validUntil": "2023-12-31T23:45:26.2454473+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 22:22:08 GMT
      location:
      - '99436305928263961'
      ms-cv:
      - 3G2Ovf6xKkSP/yH8dYaOgA.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 7c5b674c0 (Reran tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 04 Jul 2023 23:45:26 GMT
      location:
      - '99487445282669483'
      ms-cv:
<<<<<<< HEAD
      - ElSSnsO8fEOVB6CVtIEKWQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - QLEX0Mshm0SPJ0PPneneEQ.0
>>>>>>> 7c5b674c0 (Reran tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0EO2lZAAAAAAK4KZWZghQSIWu7CoTq4xSWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0YdSVZAAAAABiTFvy2XwLQ6QCEsqH+TbDWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0Fa+kZAAAAAAcZhyyX2yqQr1oR4TSFgEUWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
<<<<<<< HEAD
    body: '{"participants": {"8:acs:fakeid": {"role": "Consumer"}}}'
=======
    body: '{"participants": {"8:acs:123456c": {"role": "Consumer"}}}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      Content-Type:
      - application/merge-patch+json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - GGeywqkmwEbmvIr+M7fYvPtgLYHCAoJWqoApBN7ZlcA=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:08 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - GGeywqkmwEbmvIr+M7fYvPtgLYHCAoJWqoApBN7ZlcA=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:34 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:45:26 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid value for the
        Participants."}}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:10 GMT
      ms-cv:
      - r2vSo3gHX0qfU4w7Q6eb9w.0
=======
      - Fri, 23 Jun 2023 17:20:34 GMT
      ms-cv:
      - 6aawoADEq0O6HHX5RAJW9w.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:45:26 GMT
      ms-cv:
      - UTRah893IkeIlErb76D8/Q.0
>>>>>>> 7c5b674c0 (Reran tests)
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0Ee2lZAAAAAC2WoPIGsfMTaiLLyNdfS40WVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0YtSVZAAAAAA3+BDUmWVXTZaqjQJwto3YWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0F6+kZAAAAADFie8/mhOhSLltbE8X8h/0WVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
      x-cache:
      - CONFIG_NOCACHE
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
