interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
      ms-cv:
      - MsE+lstTuUGwwgQMQIiwoQ.0
      operation-id:
      - search_ccaad719-583d-4865-b362-ba79a27dcba8
      operation-location:
      - /phoneNumbers/operations/search_ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
      search-id:
      - ccaad719-583d-4865-b362-ba79a27dcba8
      x-processing-time:
      - 3333ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07",
        "createdDateTime": "2022-08-05T18:48:56.1619768+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
      ms-cv:
      - jepTN1KwG06vAvbyfqoK7w.0
      x-processing-time:
      - 407ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "ccaad719-583d-4865-b362-ba79a27dcba8", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-05T19:04:58.9493554+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wcnX9ZkekEGWbEFmcYk9Ig.0
      x-processing-time:
      - 2253ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "ccaad719-583d-4865-b362-ba79a27dcba8"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ZCCj66Fg9CvF7RxGHkhQFyz2Th6GnGPk8CjndX6oxsk=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - wH/8Fzv0xEyP1KzkMEECSQ.0
      operation-id:
      - purchase_ccaad719-583d-4865-b362-ba79a27dcba8
      operation-location:
      - /phoneNumbers/operations/purchase_ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
      purchase-id:
      - ccaad719-583d-4865-b362-ba79a27dcba8
      x-processing-time:
      - 1942ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_ccaad719-583d-4865-b362-ba79a27dcba8?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-05T18:48:56.1619768+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mR0XevoqtkinE35bFSImow.0
      x-processing-time:
      - 491ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2022-08-05T18:49:48.4962728+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZUt2lJLvp0uM/fhSMrd5FA.0
      x-processing-time:
      - 2579ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
