interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 16 Oct 2023 23:02:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RNfxAYHDD0+/FTKY1lIUeA.0
      x-processing-time:
      - 80ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:c1749b6a-6223-4a0d-9037-363e4076d5d2_0000001b-da9b-55f1-9806-113a0d00240b":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 16 Oct 2023 23:02:10 GMT
      Repeatability-Request-Id:
      - 09414e88-6c78-11ee-98a9-8cf8c5abc371
      x-ms-content-sha256:
      - e4yZElf4gZ67nhEoISk0bgnRyVzKaVIUPXc6eo+He6s=
      x-ms-date:
      - Mon, 16 Oct 2023 23:02:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-10-16T23:02:11.398774+00:00",
        "validFrom": "2023-10-16T23:02:11.3637955+00:00", "validUntil": "2024-04-13T23:02:11.3637955+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99445662401276942'
      ms-cv:
      - BIf2Cee0QUipfFBVz5fy6A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
