interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Jul 2023 05:19:03 GMT
      Repeatability-Request-ID:
      - c665cd58-25f3-11ee-8df7-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 19 Jul 2023 05:19:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T05:19:04.5687732+00:00",
        "validFrom": "2023-07-19T05:19:04.3854478+00:00", "validUntil": "2024-01-15T05:19:04.3854478+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99421032268381686'
      ms-cv:
      - 4l1vqKW9tESzcJyC81xYCA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-22T19:14:59.829926+00:00", "validUntil": "2022-11-23"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - zlWO4EFhT1ervgHolxeGoDg90Trj1w0sz1JnhetMYZs=
      x-ms-date:
      - Wed, 19 Jul 2023 05:19:04 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - actxew9ETUStJZ3YKBoQMw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
