interactions:
- request:
    body: '{"validFrom": "2023-12-11T05:07:29.420526", "validUntil": "2024-06-28T04:07:29.420526",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 11 Dec 2023 04:07:29 GMT
      Repeatability-Request-Id:
      - cd55fc68-97da-11ee-a207-a497b10aa3d0
      x-ms-content-sha256:
      - 8IevTkkKlDgrwzrdnCvpuFtdXCol7jtjgRWl0L9fSXQ=
      x-ms-date:
      - Mon, 11 Dec 2023 04:07:30 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GavGFDQY9UKCik6S71BIOQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
