interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Tue, 26 Mar 2024 20:37:39 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-03-27T20:37:39.8465004+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HAaYl9bRjUGEHitiJVTV2g.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 3f5d3f90-43bb-4bfd-b644-38321fd0dc24
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2024-03-26T20:37:40Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://managedidentitylive.unitedstates.communication.azure.com/chat/threads/19%3AhhuzpJcOxp4GUIDVc9qSEiuMKzoD4GPqWjUJsvgI5b41@thread.v2
      ms-cv:
      - 1jIkKczt2EGy5qpCfB9oow.0
      x-processing-time:
      - 1003ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://managedidentitylive.unitedstates.communication.azure.com/chat/threads/19%3AhhuzpJcOxp4GUIDVc9qSEiuMKzoD4GPqWjUJsvgI5b41@thread.v2/messages/1711485461865
      ms-cv:
      - LZUs2klygUu5ePOceOZe3g.0
      x-processing-time:
      - 163ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello there!"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2023-11-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      ms-cv:
      - uqLoZIcmc0WkET7jIBCuog.0
      x-processing-time:
      - 441ms
    status:
      code: 204
      message: No Content
version: 1
