interactions:
- request:
    body: '{"validFrom": "2024-04-22T17:23:58.436995", "validUntil": "2024-11-08T16:23:58.436995",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 16:23:58 GMT
      Repeatability-Request-Id:
      - b8c255a0-00c4-11ef-9e8f-e4fd45a09c30
      x-ms-content-sha256:
      - ixOQPoRqC5aLprAFK3i1Ug0rqT7UBlX6xfRo/jhwMj0=
      x-ms-date:
      - Mon, 22 Apr 2024 16:23:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kh0pPJXsx0SzKr2T6ZeGsQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
