interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 24 Mar 2025 08:50:37 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      location:
      - /availablePhoneNumbers/searchResults/0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
      ms-cv:
      - N86voa/bUEuht6pGFILGow.0
      operation-id:
      - search_0f523d9d-b836-4934-bd97-37ab4e41b2ed
      operation-location:
      - /phoneNumbers/operations/search_0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
      search-id:
      - 0f523d9d-b836-4934-bd97-37ab4e41b2ed
      x-processing-time:
      - 4217ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 24 Mar 2025 08:50:42 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11",
        "createdDateTime": "2025-03-24T08:50:41.4253392+00:00", "id": "search_0f523d9d-b836-4934-bd97-37ab4e41b2ed",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
      ms-cv:
      - oX/vbDuOEEKbUDZXwK/pYA.0
      x-processing-time:
      - 558ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 24 Mar 2025 08:50:42 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
  response:
    body:
      string: '{"searchId": "0f523d9d-b836-4934-bd97-37ab4e41b2ed", "phoneNumbers":
        ["+18446985185"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2025-03-24T09:06:42.1997860+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +mtNOTvXvEOkJpY+CIvylA.0
      x-processing-time:
      - 751ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "0f523d9d-b836-4934-bd97-37ab4e41b2ed"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - KymSSE5q7lhtVHqlJmQB3Hfl0ZjB6oGK8OclV9p+gjo=
      x-ms-date:
      - Mon, 24 Mar 2025 08:50:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      ms-cv:
      - jEiD2xMXJ0uTXFy5b6M5aQ.0
      operation-id:
      - purchase_0f523d9d-b836-4934-bd97-37ab4e41b2ed
      operation-location:
      - /phoneNumbers/operations/purchase_0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
      purchase-id:
      - 0f523d9d-b836-4934-bd97-37ab4e41b2ed
      x-processing-time:
      - 2590ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 24 Mar 2025 08:50:46 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_0f523d9d-b836-4934-bd97-37ab4e41b2ed?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "purchase", "status": "notStarted", "resourceLocation":
        null, "createdDateTime": "2025-03-24T08:50:41.4253392+00:00", "id": "purchase_0f523d9d-b836-4934-bd97-37ab4e41b2ed",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ztzSOVlFLUKlK/I3i1SpmA.0
      x-processing-time:
      - 557ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - LitqBDWnf1ztwkxgDyutMHpxlya/uAlxu1pppBcTo1I=
      x-ms-date:
      - Mon, 24 Mar 2025 08:51:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4V1V+VPoQEqbT1G/xAWKJA.0
      x-processing-time:
      - 569ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
