interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 25 May 2023 04:50:06 GMT
      Repeatability-Request-ID:
      - 9e96a715-fab7-11ed-a295-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 25 May 2023 04:50:06 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-25T04:50:08.1143946+00:00",
        "validFrom": "2023-05-25T04:50:07.7841705+00:00", "validUntil": "2023-11-21T04:50:07.7841705+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99486371052895848'
      ms-cv:
      - TExOGNwlq0eZqpVAzKINfw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 25 May 2023 04:50:07 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k8s990YbE0m5qPACx7z5CA.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"sanitized":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - lykc8je7R5bV66OC85T8bkQgH91SAGrwdQbD86CRPN8=
      x-ms-date:
      - Thu, 25 May 2023 04:50:07 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gxcadT0unEeqr0zreoHpHA.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 25 May 2023 04:50:08 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ozZ9gbyX+kuDh6Md4TN6IQ.0
    status:
      code: 200
      message: OK
version: 1
