interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:16:52.231744Z'
      Repeatability-Request-ID:
      - c18cee81-74d9-11ed-a1d4-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:16:53.2173044+00:00",
        "validFrom": "2022-12-05T20:16:53.1099567+00:00", "validUntil": "2023-06-03T20:16:53.1099567+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99455694884076569'
      ms-cv:
      - 36+vr2aPT028zabrBZHqVg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iGhx4a8fkU690NMCrlS6yQ.0
      x-processing-time:
      - 130ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Presenter"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 7AL7NYO1vP1oN+vFisfcADxGPvh/0q+nzs0HE7yOJak=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:update?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-ad30876d1de8cce3fa7aaa05c73dad53-4cceb93f5644fd1d-00","errors":{"Participants":["Provided
        request has duplicate participant with same id but different attributes"]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - 7PzUwGL+nkiL1zctwbIkig.0
    status:
      code: 400
      message: Bad Request
version: 1
