interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:07:23 GMT
      Repeatability-Request-ID:
      - 031098b9-1c6b-11ee-964f-ef1ec79c5484
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 07 Jul 2023 02:07:23 GMT
=======
      - Fri, 23 Jun 2023 17:20:34 GMT
=======
      - Tue, 04 Jul 2023 23:45:25 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:39 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:15:13 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      Repeatability-Request-ID:
      - 32900e87-1c42-11ee-8361-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:34 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:45:25 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:39 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:15:13 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-07T02:07:23.4958609+00:00",
        "validFrom": "2023-07-07T02:07:23.1623327+00:00", "validUntil": "2024-01-03T02:07:23.1623327+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:20:34.1151788+00:00",
        "validFrom": "2023-06-23T17:20:34.0460269+00:00", "validUntil": "2023-12-20T17:20:34.0460269+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:45:26.7434781+00:00",
        "validFrom": "2023-07-04T23:45:26.2454473+00:00", "validUntil": "2023-12-31T23:45:26.2454473+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:25:41.0451734+00:00",
        "validFrom": "2023-07-05T18:25:40.3498601+00:00", "validUntil": "2024-01-01T18:25:40.3498601+00:00"}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:15:13.4743892+00:00",
        "validFrom": "2023-07-06T21:15:13.4022867+00:00", "validUntil": "2024-01-02T21:15:13.4022867+00:00"}'
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:07:22 GMT
      location:
      - '99417245875683266'
      ms-cv:
      - 6UG5eggk1E+YRX5Knj/DWQ.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 7c5b674c0 (Reran tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 04 Jul 2023 23:45:26 GMT
=======
      - Wed, 05 Jul 2023 18:25:40 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:15:13 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      location:
      - '99486937788854320'
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - ElSSnsO8fEOVB6CVtIEKWQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - QLEX0Mshm0SPJ0PPneneEQ.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - uZs3iiwxT0Wb+GiOvTvewg.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - oPAdDlmNNk6bdRcpHLblCg.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0WnOnZAAAAAB+IWDpn9W2RaRokw9TNNo+WVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0YdSVZAAAAABiTFvy2XwLQ6QCEsqH+TbDWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0Fa+kZAAAAAAcZhyyX2yqQr1oR4TSFgEUWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0o7WlZAAAAACn2rf6Hx/8Qpmrh4yFNsLLWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 04S6nZAAAAAAD/TVdUpq+Q70njmyVin6JWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:123456c": {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - GGeywqkmwEbmvIr+M7fYvPtgLYHCAoJWqoApBN7ZlcA=
      x-ms-date:
      - Fri, 07 Jul 2023 02:07:24 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
     [...]
