interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 01 Apr 2024 05:53:05 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
      ms-cv:
      - MfSJXepNrEiOla4i4cqmfw.0
      operation-id:
      - search_fc57c41f-ca64-4f86-815b-4998cbf0eeed
      operation-location:
      - /phoneNumbers/operations/search_fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
      search-id:
      - fc57c41f-ca64-4f86-815b-4998cbf0eeed
      x-processing-time:
      - 3764ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 01 Apr 2024 05:53:10 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01",
        "createdDateTime": "2024-04-01T05:53:09.7652879+00:00", "id": "search_fc57c41f-ca64-4f86-815b-4998cbf0eeed",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2,
        2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
      ms-cv:
      - lh81K9T4eUiGdWoqMdmzJA.0
      x-processing-time:
      - 265ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 01 Apr 2024 05:53:13 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "fc57c41f-ca64-4f86-815b-4998cbf0eeed", "phoneNumbers":
        ["+18552387583"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-01T06:09:10.8772441+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GR5kafZBS0eujCo5PmMBqQ.0
      x-processing-time:
      - 463ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "fc57c41f-ca64-4f86-815b-4998cbf0eeed"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - HE1Jcce1GMErLVzDAkJhaWBlzbbBu+LI5488A2X1DNc=
      x-ms-date:
      - Mon, 01 Apr 2024 05:53:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      ms-cv:
      - M4lM4tphkESmaW9+YH8//Q.0
      operation-id:
      - purchase_fc57c41f-ca64-4f86-815b-4998cbf0eeed
      operation-location:
      - /phoneNumbers/operations/purchase_fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
      purchase-id:
      - fc57c41f-ca64-4f86-815b-4998cbf0eeed
      x-processing-time:
      - 922ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 01 Apr 2024 05:53:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_fc57c41f-ca64-4f86-815b-4998cbf0eeed?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-01T05:53:09.7652879+00:00", "id": "purchase_fc57c41f-ca64-4f86-815b-4998cbf0eeed",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2,
        2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mPUOLp0ZB0WgzMx1CsgwdQ.0
      x-processing-time:
      - 269ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - W5eL1H7rklrthko9EQqvo3EWkdW+VmNMmCAzz0NFHbw=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - taqefPyRS0GLMDjRTUWcmw.0
      x-processing-time:
      - 1096ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
