interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:10:43 GMT
      Repeatability-Request-ID:
      - 7a9c804b-1c6b-11ee-b414-ef1ec79c5484
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 07 Jul 2023 02:10:43 GMT
=======
      - Fri, 23 Jun 2023 17:25:24 GMT
=======
      - Tue, 04 Jul 2023 23:48:39 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      Repeatability-Request-ID:
      - 4cc93729-1ac5-11ee-9eb0-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:25:24 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:48:39 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-07T02:10:44.2149061+00:00",
        "validFrom": "2023-07-07T02:10:43.7147055+00:00", "validUntil": "2024-01-03T02:10:43.7147055+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:25:25.2932832+00:00",
        "validFrom": "2023-06-23T17:25:25.2148097+00:00", "validUntil": "2023-12-20T17:25:25.2148097+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:48:40.2621547+00:00",
        "validFrom": "2023-07-04T23:48:39.9737078+00:00", "validUntil": "2023-12-31T23:48:39.9737078+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 07 Jul 2023 02:10:43 GMT
      location:
      - '99448225136082721'
      ms-cv:
      - /K3WSLRuF0uhEdf1/ucLng.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 7c5b674c0 (Reran tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 04 Jul 2023 23:48:39 GMT
      location:
      - '99465628185224088'
      ms-cv:
<<<<<<< HEAD
      - lRwSGeFiGUOkf/xqpzCFkA.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - I4XQ8X5PZk28in/8aGnSiw.0
>>>>>>> 7c5b674c0 (Reran tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0I3SnZAAAAAAh3AfGsHqDQb49BSB5WHg4WVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0hNWVZAAAAADyc4A4KSExQZiyGYjfnCoAWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 016+kZAAAAACfpwQueJm2SLjmnV/sDOGbWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"validFrom": "2023-07-07T03:10:45.029619", "validUntil": "2023-07-07T04:10:45.029619"}'
=======
    body: '{"validFrom": "2023-06-23T18:25:25.810789", "validUntil": "2023-06-23T19:25:25.810789"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
    body: '{"validFrom": "2023-07-05T00:48:40.299335", "validUntil": "2023-07-05T01:48:40.299335"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      Content-Type:
      - application/merge-p[...]
