interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
      ms-cv:
      - Uc1JS7uhEkWCADripS8Ziw.0
      operation-id:
      - search_09fbcb77-c7f5-44d9-a66f-775eb94551c1
      operation-location:
      - /phoneNumbers/operations/search_09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
      search-id:
      - 09fbcb77-c7f5-44d9-a66f-775eb94551c1
      x-processing-time:
      - 2509ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07",
        "createdDateTime": "2022-12-05T20:07:24.9984447+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
      ms-cv:
      - OUZ69BdMAE22sVQjKqvTXw.0
      x-processing-time:
      - 285ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "09fbcb77-c7f5-44d9-a66f-775eb94551c1", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-12-05T20:23:26.5176441+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MHlkr72qoEKp7+Ptgdw1tA.0
      x-processing-time:
      - 573ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "09fbcb77-c7f5-44d9-a66f-775eb94551c1"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - WafFIOgG8aN2AvONUJMPh9dAF/oyJnOxFyfWV2nt55g=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - vjUL4Hac7EyUI2LqGsJEYQ.0
      operation-id:
      - purchase_09fbcb77-c7f5-44d9-a66f-775eb94551c1
      operation-location:
      - /phoneNumbers/operations/purchase_09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
      purchase-id:
      - 09fbcb77-c7f5-44d9-a66f-775eb94551c1
      x-processing-time:
      - 1381ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_09fbcb77-c7f5-44d9-a66f-775eb94551c1?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-12-05T20:07:24.9984447+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4RNOFW/zQE2te+znt8jHcA.0
      x-processing-time:
      - 284ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2022-12-05T20:08:11.2820189+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - n70hsPpnYkS4byN8nv/NHw.0
      x-processing-time:
      - 4427ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
