interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:34 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
      ms-cv:
      - yAy30kCmA0itM5Ts/m2W5A.0
      operation-id:
      - search_47aab953-34b6-49f3-8d23-42b0d4e0aff6
      operation-location:
      - /phoneNumbers/operations/search_47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
      search-id:
      - 47aab953-34b6-49f3-8d23-42b0d4e0aff6
      x-processing-time:
      - 4105ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview",
        "createdDateTime": "2024-04-22T18:13:39.2128969+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
      ms-cv:
      - FJRnpG6jvEyvWpxGOL0xKA.0
      x-processing-time:
      - 243ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:42 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
  response:
    body:
      string: '{"searchId": "47aab953-34b6-49f3-8d23-42b0d4e0aff6", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T18:29:41.8693851+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4FiBcKzspEumpcdQUiH8qg.0
      x-processing-time:
      - 383ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "47aab953-34b6-49f3-8d23-42b0d4e0aff6", "consentToNotResellNumbers":
      false}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - HyeZDl9V+UTaXRHO3DxUdLOG3Egvsck28ENc0SBjxdo=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - kx9+h6H5Rkelge6crDpaqQ.0
      operation-id:
      - purchase_47aab953-34b6-49f3-8d23-42b0d4e0aff6
      operation-location:
      - /phoneNumbers/operations/purchase_47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
      purchase-id:
      - 47aab953-34b6-49f3-8d23-42b0d4e0aff6
      x-processing-time:
      - 1022ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:43 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_47aab953-34b6-49f3-8d23-42b0d4e0aff6?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T18:13:39.2128969+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - f0fYtn9BbkeSoJzlfnxiyA.0
      x-processing-time:
      - 202ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:15:37 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2024-04-22T18:15:29.4533217+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2IZM/wovUU+vH1LeIgLUPw.0
      x-processing-time:
      - 1927ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
