interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
      ms-cv:
      - LUPf9vvjPUW3pA6TCiDz2w.0
      operation-id:
      - search_919284e1-03c2-45c8-b0c8-a656b37adf22
      operation-location:
      - /phoneNumbers/operations/search_919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
      search-id:
      - 919284e1-03c2-45c8-b0c8-a656b37adf22
      x-processing-time:
      - 2773ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07",
        "createdDateTime": "2022-08-16T10:08:39.1184266+00:00", "id": "search_919284e1-03c2-45c8-b0c8-a656b37adf22",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
      ms-cv:
      - t+3Tkuj7z0iMT7kK4HIk0w.0
      x-processing-time:
      - 463ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "919284e1-03c2-45c8-b0c8-a656b37adf22", "phoneNumbers":
        ["+18772189974"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-16T10:24:40.7566140+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1BbC7U1eUE+kktYYJfNt7w.0
      x-processing-time:
      - 1178ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "919284e1-03c2-45c8-b0c8-a656b37adf22"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - j7Gtn4Ex5LwaxxGxPRkAqW0BIUctr/noPBUwI10IRpk=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - oVqaEQu/5Ee6hPFHlC2+Mw.0
      operation-id:
      - purchase_919284e1-03c2-45c8-b0c8-a656b37adf22
      operation-location:
      - /phoneNumbers/operations/purchase_919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
      purchase-id:
      - 919284e1-03c2-45c8-b0c8-a656b37adf22
      x-processing-time:
      - 2093ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_919284e1-03c2-45c8-b0c8-a656b37adf22?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-16T10:08:39.1184266+00:00", "id": "purchase_919284e1-03c2-45c8-b0c8-a656b37adf22",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nMK+51HE3UugFEbD6hpE/w.0
      x-processing-time:
      - 433ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 9/wzPp6cxxrhUJVMYMGwAO1kdz5PfJcP6roS2iAQFIA=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TExI0kkKJkOjMS8YQaESMA.0
      x-processing-time:
      - 256ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
