interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:40 GMT
      Repeatability-Request-ID:
      - 983d3ca4-1b82-11ee-a0db-8cf8c5abc371
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 22:23:40 GMT
=======
      - Fri, 23 Jun 2023 17:23:50 GMT
      Repeatability-Request-ID:
      - b8385beb-11ea-11ee-b370-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 23 Jun 2023 17:23:50 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-05T22:23:41.6992049+00:00",
        "validFrom": "2023-07-05T22:23:41.5463329+00:00", "validUntil": "2024-01-01T22:23:41.5463329+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:23:50.9499279+00:00",
        "validFrom": "2023-06-23T17:23:50.8761541+00:00", "validUntil": "2023-12-20T17:23:50.8761541+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 22:23:40 GMT
      location:
      - '9942427476403506'
      ms-cv:
      - UzVnZMzLLUyzcG/oqBTVdg.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 23 Jun 2023 17:23:50 GMT
      location:
      - '99495140807057329'
      ms-cv:
      - qbrKmEU6OE6Fkzgvd8G+rA.0
>>>>>>> ddcd2202f (Adding test recordings)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
      - 0be2lZAAAAACJPvWc76rHQYLsSvfZlXtAWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0JtWVZAAAAAChkz+7HCM2R7sjoDq//m7BWVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:23:41 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:23:51 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:41 GMT
      ms-cv:
      - tE/soOcLKUGiCTPFtdM92Q.0
=======
      - Fri, 23 Jun 2023 17:23:51 GMT
      ms-cv:
      - eua+DbwjXkOFoyIrzoVrjg.0
>>>>>>> ddcd2202f (Adding test recordings)
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
      - 0be2lZAAAAACU/9gZvEVkQ7kg0Lg67QHhWVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0J9WVZAAAAABnscfEAOIoQoiRrEr5k5dFWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 200
      message: OK
version: 1
