interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 15 Dec 2023 10:22:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
      ms-cv:
      - 67MeaOVik0+LLxCJgTJQOQ.0
      operation-id:
      - search_dddf6235-a581-4700-b81b-2ceab69a66c6
      operation-location:
      - /phoneNumbers/operations/search_dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
      search-id:
      - dddf6235-a581-4700-b81b-2ceab69a66c6
      x-processing-time:
      - 2229ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:22:57 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01",
        "createdDateTime": "2023-12-15T10:22:56.7043729+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
      ms-cv:
      - oXfTzTF20E6nGYA7knbj5A.0
      x-processing-time:
      - 244ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:23:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "dddf6235-a581-4700-b81b-2ceab69a66c6", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-15T10:38:59.6508267+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vxFhrPC3D0u+nnwHBLYZCQ.0
      x-processing-time:
      - 481ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "dddf6235-a581-4700-b81b-2ceab69a66c6"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - HsAmmmqp8nv8hWSFtKxxCvygGoPghBsrcoNSIyeRMr4=
      x-ms-date:
      - Fri, 15 Dec 2023 10:23:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - Otz2K8AuNEOQiF+dbKNaow.0
      operation-id:
      - purchase_dddf6235-a581-4700-b81b-2ceab69a66c6
      operation-location:
      - /phoneNumbers/operations/purchase_dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
      purchase-id:
      - dddf6235-a581-4700-b81b-2ceab69a66c6
      x-processing-time:
      - 834ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:23:02 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_dddf6235-a581-4700-b81b-2ceab69a66c6?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-15T10:22:56.7043729+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rHsipLd8A0CAvBa9VKYRhg.0
      x-processing-time:
      - 220ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:23:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-12-15T10:23:15.5759114+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oARUlzEnWEGXzAaD5Z4ssg.0
      x-processing-time:
      - 1547ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
