interactions:
- request:
    body: '{"validFrom": "2023-12-15T11:28:04.288637", "validUntil": "2023-12-15T08:28:04.288637",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 15 Dec 2023 10:28:04 GMT
      Repeatability-Request-Id:
      - a1752d40-9b34-11ee-b538-a497b10aa3d0
      x-ms-content-sha256:
      - 2d6/NkAdp8qG9a/JT+wVSL0ZDxYgsjK3QeYlbPal+N0=
      x-ms-date:
      - Fri, 15 Dec 2023 10:28:04 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Pimh1q0FokmdLlv5y7QdsQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
