interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 07 Jul 2023 02:35:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-08T02:35:06.0954232+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RpgPBnge3E6IRVyhgQsL+w.0
      x-processing-time:
      - 144ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 8d42ed44-19a2-4ad7-88d7-05fdfc461f03
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2023-07-07T02:35:06Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AqqIryx_3rEdfmUFK7_Cg5j40Bt4YWGXnsHH4RjMJEsg1@thread.v2
      ms-cv:
      - uLgFbHpF80WXiNH4EGfjFQ.0
      x-processing-time:
      - 338ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}, "shareHistoryTime": "1970-01-01T00:00:00Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8ug8lrb0AEuF4mSGWqKjiw.0
      x-processing-time:
      - 85ms
    status:
      code: 200
      message: OK
version: 1
