interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:28 GMT
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:27:01 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:50:16 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:32 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:29 GMT
      location:
      - /availablePhoneNumbers/searchResults/4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=2022-12-01
      ms-cv:
      - a/rQahnDyESD78wo/KJKdg.0
      operation-id:
      - search_4c4c38f9-a418-4a56-8270-f0ec7d680a52
      operation-location:
      - /phoneNumbers/operations/search_4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=2022-12-01
      search-id:
      - 4c4c38f9-a418-4a56-8270-f0ec7d680a52
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0sG6nZAAAAAC8KglnM/zgR7KcNfMEd0o/WVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 2104ms
=======
      - Fri, 23 Jun 2023 17:27:03 GMT
=======
      - Tue, 04 Jul 2023 23:50:17 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:33 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - /availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      ms-cv:
      - eq4xTtGOvEitz79pFwwcUQ.0
      operation-id:
      - search_384d5ec1-4593-4623-b9ec-962a43ed1ecb
      operation-location:
      - /phoneNumbers/operations/search_384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      search-id:
      - 384d5ec1-4593-4623-b9ec-962a43ed1ecb
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0yLalZAAAAAB+YGPU9LYiRJZI7b5gysKlWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 1231ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 1729ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 1205ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:30 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=2022-12-01",
        "createdDateTime": "2023-07-07T01:47:29.833415+00:00", "id": "search_4c4c38f9-a418-4a56-8270-f0ec7d680a52",
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:34 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
<<<<<<< HEAD
<<<<<<< HEAD
        "/availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:27:02.8760945+00:00", "id": "search_28de0d63-068e-48c1-a0b0-0ae144762801",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "/availablePhoneNumbers/searchResults/250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:50:18.2300068+00:00", "id": "search_250bfda0-1769-43e1-9d92-d1f7b41ba587",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "/availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:30:33.8728873+00:00", "id": "search_384d5ec1-4593-4623-b9ec-962a43ed1ecb",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:29 GMT
      location:
      - /availablePhoneNumbers/searchResults/4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=2022-12-01
      ms-cv:
      - oR/1GBLKE06r6b3lZJVHMw.0
=======
      - Fri, 23 Jun 2023 17:27:03 GMT
=======
      - Tue, 04 Jul 2023 23:50:18 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:34 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - /availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
      - 8xEpX4D8S0+t0CrZi2/fow.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - lil3sj3BzkSNH+aBc281bA.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 4dIcH4rSG0iHdBnqoJDljA.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0sm6nZAAAAAA4Ij/1o6x7Q7RiMqwS6savWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 418ms
=======
      - 059WVZAAAAAAjcK/6ay+9RJMity5ItWKsWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 229ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0OrCkZAAAAADX0IgZvzd+Q5GjKoqBiQoKWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 226ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0yralZAAAAAD9jmmHYiKwSKY32xlZv/EbWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 255ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:33 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "4c4c38f9-a418-4a56-8270-f0ec7d680a52", "phoneNumbers":
        ["+18442233957"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-07T02:03:31.8659171+00:00", "error": "NoError"}'
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:06 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
  response:
    body:[...]
- request:
<<<<<<< HEAD
    body: '{"searchId": "4c4c38f9-a418-4a56-8270-f0ec7d680a52"}'
=======
    body: '{"searchId": "28de0d63-068e-48c1-a0b0-0ae144762801"}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ChSHV0BUfUjYuR3fLMcihql3NM0opdEJLZn5FS7c1nA=
      x-ms-date:
      - Fri, 07 [...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:36 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_4c4c38f9-a418-4a56-8270-f0ec7d680a52?api-version=202[...]
[...]
- request:
    body: '{"searchId": "250bfda0-1769-43e1-9d92-d1f7b41ba587"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - npsrCsx2b3VA+g4a0wmgvpE/LZoIcqdKs6GnDqntMA0=
      x-ms-date:
      - Tue, 04 Jul 2023 23:50:21 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - X3i9KI6UHUyS7GSMWyKqkQ.0
      operation-id:
      - purchase_250bfda0-1769-43e1-9d92-d1f7b41ba587
      operation-location:
      - /phoneNumbers/operations/purchase_250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
      purchase-id:
      - 250bfda0-1769-43e1-9d92-d1f7b41ba587
      x-processing-time:
      - 803ms
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:56 GMT
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-sms/1.0.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - y1HzVITt2Eoi78Io3iU8SohDs089+P10r61RoiWP3vw=
=======
      - Fri, 23 Jun 2023 17:27:24 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - Gl8ConxOL4h4vXBkufX5cgDfMiKZZUOC/xneRSfO7J0=
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:50:42 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - NafbY91RfrV6DMs8batk7j/+Mi/SBtHb5tonmB0gHrk=
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:58 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - qtlseBYb8OdAaULjpjBBRzMjK6YjMJReInknPcmi9iM=
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:55 GMT
      ms-cv:
      - pJpqa9gFVEysgjwnzbtRuA.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0y26nZAAAAAAaHjyxPjPiQrToV7dJ/H+QWVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 108ms
=======
      - Fri, 23 Jun 2023 17:27:25 GMT
=======
      - Tue, 04 Jul 2023 23:50:42 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:58 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      ms-cv:
      - gcxHjDSuME+NKlPfdiSL6g.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 04ralZAAAAACz6zKtU/8mSrtPh7tcpo5jWVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 307ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 253ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 232ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
