interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 10 Jun 2024 13:52:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
      ms-cv:
      - J5prKlnX00Gp91CXt7Pe8g.0
      operation-id:
      - search_ea76b5ae-e55a-4c13-8123-43ced8ee6131
      operation-location:
      - /phoneNumbers/operations/search_ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
      search-id:
      - ea76b5ae-e55a-4c13-8123-43ced8ee6131
      x-processing-time:
      - 2811ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:53:02 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview",
        "createdDateTime": "2024-06-10T13:53:01.6664786+00:00", "id": "search_ea76b5ae-e55a-4c13-8123-43ced8ee6131",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
      ms-cv:
      - dWQ2EAHYqUObzzq0pLhqxA.0
      x-processing-time:
      - 312ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:53:08 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
  response:
    body:
      string: '{"searchId": "ea76b5ae-e55a-4c13-8123-43ced8ee6131", "phoneNumbers":
        ["+18339094159"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-06-10T14:09:06.0181966+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LHfz9MdsIEmtgUtKmWyrnA.0
      x-processing-time:
      - 523ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "ea76b5ae-e55a-4c13-8123-43ced8ee6131", "consentToNotResellNumbers":
      false}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ZWKpwraOJPHZOrH/Ry0pNec3H3Cbtv1/rbHbJPgutik=
      x-ms-date:
      - Mon, 10 Jun 2024 13:53:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - C4I8h7p+t02+OiJ5qViSFg.0
      operation-id:
      - purchase_ea76b5ae-e55a-4c13-8123-43ced8ee6131
      operation-location:
      - /phoneNumbers/operations/purchase_ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
      purchase-id:
      - ea76b5ae-e55a-4c13-8123-43ced8ee6131
      x-processing-time:
      - 1299ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:53:11 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_ea76b5ae-e55a-4c13-8123-43ced8ee6131?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-06-10T13:53:01.6664786+00:00", "id": "purchase_ea76b5ae-e55a-4c13-8123-43ced8ee6131",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RxjW3ytuZ0KiP7KUWO1FDQ.0
      x-processing-time:
      - 295ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - g/NxgGqYDtwzBKveqAD51EiQgQeGZlysfJQCwuuyApo=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - s+JL+EG2JEi9q0nD5/Extw.0
      x-processing-time:
      - 891ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
