interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:20:31 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 23 Jun 2023 17:05:30 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
        "expiresOn": "2023-07-06T22:20:32.5917508+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:05:30.164849+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:32 GMT
      ms-cv:
      - hrbkQE3i9k+vP604Lc22Vg.0
=======
      - Fri, 23 Jun 2023 17:05:29 GMT
      ms-cv:
      - +apy+MF5Z0qarSVa8eIuog.0
>>>>>>> ddcd2202f (Adding test recordings)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
      - 0sOylZAAAAAABRDGHe4B9Tay4JJ7a/OoRWVZSMzExMDAwMTE1MDM3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 303ms
=======
      - 02tCVZAAAAAAVjp13CKj4RK7c4ydLRWUWWVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 107ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-chat/1.1.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 32684491-60a2-4e8e-8c26-9a7c606bb7e5
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 826c532c-4009-4410-870c-3002cb5f8cb9
>>>>>>> ddcd2202f (Adding test recordings)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "another-topic", "createdOn":
<<<<<<< HEAD
        "2023-07-05T22:20:32Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:05:30Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:32 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A4jxDHMi_lovtl0ZKlnnrcSykInqbZJPCLIKLze9hj0s1@thread.v2
      ms-cv:
      - MEk68SUJHUKdynLjCVTntw.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0sOylZAAAAADT9b2m5JxLRrSciOkuZE+eWVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 539ms
=======
      - Fri, 23 Jun 2023 17:05:31 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A4QvN-iNntv5YrC7vOscH-7SvFOKUEue8deJIY6MRvzY1@thread.v2
      ms-cv:
      - yvOhCpnWJESMCvV8gGq97Q.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 02tCVZAAAAACA9+VUQ0uQTparPka9AcMMWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 465ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?startTime=2022-01-01T00%3A00%3A00.000Z&api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "sanitized", "type": "topicUpdated", "sequenceId":
<<<<<<< HEAD
        "2", "version": "1688595633195", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2023-07-05T22:20:33Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
        "1", "version": "1688595633106", "content": {"participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "shareHistoryTime":
        "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}, "createdOn": "2023-07-05T22:20:33Z"}]}'
=======
        "2", "version": "1687539930947", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2023-06-23T17:05:30Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
 [...]
