interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:08 GMT
      Repeatability-Request-ID:
      - 614368f0-1b82-11ee-a34a-8cf8c5abc371
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:08 GMT
=======
      - Fri, 23 Jun 2023 17:20:34 GMT
=======
      - Tue, 04 Jul 2023 23:44:30 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:24 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      Repeatability-Request-ID:
      - 4ee44641-1b61-11ee-8a54-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:34 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:44:30 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:24 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-05T22:22:09.9713102+00:00",
        "validFrom": "2023-07-05T22:22:09.6600739+00:00", "validUntil": "2024-01-01T22:22:09.6600739+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:20:35.9051621+00:00",
        "validFrom": "2023-06-23T17:20:35.2183332+00:00", "validUntil": "2023-12-20T17:20:35.2183332+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:44:31.1116419+00:00",
        "validFrom": "2023-07-04T23:44:30.6699334+00:00", "validUntil": "2023-12-31T23:44:30.6699334+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:25:25.0623628+00:00",
        "validFrom": "2023-07-05T18:25:24.7541248+00:00", "validUntil": "2024-01-01T18:25:24.7541248+00:00"}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 22:22:10 GMT
      location:
      - '99472712429168962'
      ms-cv:
      - sJrT88mVyEW0R71gWbGOdw.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 18:25:24 GMT
      location:
      - '99435911096384706'
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
      - KX2cx4dDKkWzKad+NO0XSQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - l+fuO+qItkScfHB8HaGrJw.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 1XUaze021UudsUSZmFmt7Q.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0Ee2lZAAAAABgsSA7l8G2Q4+e75e588dsWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0YtSVZAAAAADstAnH1cBXRYgnR2oMAGN0WVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 03q6kZAAAAACydTImveB4TqW7LGRNMwjSWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0lLWlZAAAAAAHOJOZqEGPRZ+xI9Ti6QF2WVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:09 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:36 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:44:31 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:25 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:09 GMT
      ms-cv:
      - SC+ovpU6r026JzWCkkajLw.0
=======
      - Fri, 23 Jun 2023 17:20:35 GMT
      ms-cv:
      - JDHuedeWJkOS9sIeUNFrDA.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:44:31 GMT
      ms-cv:
      - caVZG4/cJUabH6EDRr3HAg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:25 GMT
      ms-cv:
      - AiMZeuWldUi0tHqYLonubA.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0Eu2lZAAAAAC46jGE0c2TS7uh9mtYSLdIWVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0ZNSVZAAAAACc4GIqNPe5RrZDTyiesF3LWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0366kZAAAAADxrQPvxJAgSpbcncnE72ejWVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0lbWlZAAAAACyu/2sYOhYRrVb/a6GEl4+WVZSMzExMDAwMTE1MDM3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 98ms
    status:
      code: 201
      message: Created
- request:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"participants": {"8:acs:fakeid"}":
=======
    body: '{"participants": {"8:acs:436d33d8-f804-4402-8596-ce88ac6abf06_00000019-8927-4c7e-eaf3-543a0d0066cb":
>>>>>>> ddcd2202f (Adding test recordings)
=======
    body: '{"participants": {"8:acs:22f795fb-aa55-4ab2-9340-2dd88d0fa897_00000019-c32c-bea0-92fd-8b3a0d00029c":
>>>>>>> 7c5b674c0 (Reran tests)
=======
    body: '{"participants": {"8:acs:94ba9ca3-98bc-485a-a6fd-1470b7ff9bcd_00000019-c72e-f492-5b3d-8e3a0d00334f":
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - r0/LUvR2+OISa/qWXbwEEwJ3KcChl3r9IoJ7JV/j0w4=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:09 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
=======
      - Azure[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:10 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:38 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:44:33 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:25:27 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:10 GMT
      ms-cv:
      - GblhYK9ErEaRg+tI+kqRGg.0
=======
      - Fri, 23 Jun 2023 17:20:37 GMT
      ms-cv:
      - 3xS8lU+7hkyPq2Z2837mZA.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023[...]
