interactions:
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Rsio2XQfYXPydbjR/pHiKifnBCG52iodSSFf8+aVBVE=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '<!DOCTYPE html PUBLIC ''-//W3C//DTD XHTML 1.0 Transitional//EN'' ''http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd''><html
        xmlns=''http://www.w3.org/1999/xhtml''><head><meta content=''text/html; charset=utf-8''
        http-equiv=''content-type''/><style type=''text/css''>body {font-family:Arial;
        margin-left:40px; }img  { border:0 none; }#content { margin-left: auto; margin-right:
        auto }#message h2 { font-size: 20px; font-weight: normal; color: #000000;
        margin: 34px 0px 0px 0px }#message p  { font-size: 13px; color: #000000; margin:
        7px 0px 0px0px}#errorref { font-size: 11px; color: #737373; margin-top: 41px
        }</style><title>Service unavailable</title></head><body><div id=''content''><div
        id=''message''><h2>Our services aren''t available right now</h2><p>We''re
        working to restore all services as soon as possible. Please check back soon.</p></div><div
        id=''errorref''><span>0OTIDZgAAAAAsfg05N2bPQ7ZK7Bx5JK2CV1NURURHRTA4MTEAOWZjN2I1MTktYThjYy00Zjg5LTkzNWUtYzkxNDhhZTA5ZTgx</span></div></div></body></html>'
    headers:
      content-type:
      - text/html
      x-azure-externalerror:
      - 0x80072efd,OriginConnectionRefused
    status:
      code: 503
      message: Service Unavailable
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Rsio2XQfYXPydbjR/pHiKifnBCG52iodSSFf8+aVBVE=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - g7eHX96YNUShsE/YhoE48Q.0
      x-processing-time:
      - 199ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
