interactions:
- request:
    body: '{"validFrom": "2023-07-19T22:09:39.273627", "validUntil": "2023-07-19T23:09:39.273627"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Jul 2023 21:09:39 GMT
      Repeatability-Request-ID:
      - 92b155ab-2678-11ee-8576-8cf8c5abc371
      x-ms-content-sha256:
      - GbGdiRIGjR/VEysVuDj4aelOBhw09PIkcTDuEjHbPYk=
      x-ms-date:
      - Wed, 19 Jul 2023 21:09:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:09:41.2072488+00:00",
        "validFrom": "2023-07-19T22:09:39.273627+00:00", "validUntil": "2023-07-19T23:09:39.273627+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99448824377711321'
      ms-cv:
      - QpsbcFdr8kmOQQ8GHEZxgA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
