interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      ms-cv:
      - 8C6iljkyT0KYkfZXkD1XcQ.0
      operation-id:
      - search_e1cbbaee-19da-40dd-84b2-a06deab27260
      operation-location:
      - /phoneNumbers/operations/search_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      search-id:
      - e1cbbaee-19da-40dd-84b2-a06deab27260
      x-processing-time:
      - 1479ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:09 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T22:22:09.889194+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      ms-cv:
      - XZn0AsCuUEaCxmd5xEswFQ.0
      x-processing-time:
      - 223ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:12 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "e1cbbaee-19da-40dd-84b2-a06deab27260", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T22:38:11.7207224+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4161xjFpOEC+iB/XTZlXFA.0
      x-processing-time:
      - 389ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "e1cbbaee-19da-40dd-84b2-a06deab27260"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 88QMKNQQSMQhlIYiAtUtHpZc0Us9ErV8Xjzpw6QLT1k=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 8Efxv9241kunPi36MpV1JA.0
      operation-id:
      - purchase_e1cbbaee-19da-40dd-84b2-a06deab27260
      operation-location:
      - /phoneNumbers/operations/purchase_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      purchase-id:
      - e1cbbaee-19da-40dd-84b2-a06deab27260
      x-processing-time:
      - 787ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:13 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T22:22:09.889194+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ku50Aw3szESvM3wjCsPE2g.0
      x-processing-time:
      - 327ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:22:32 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-05T22:22:28.3618991+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - O92W8xPw5061aGtxfM8rIA.0
      x-processing-time:
      - 3339ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
