interactions:
- request:
    body: '{"validFrom": "2025-03-25T02:15:09.828664", "validUntil": "2025-03-24T23:15:09.828664",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 25 Mar 2025 01:15:10 GMT
      Repeatability-Request-Id:
      - 98727d44-0916-11f0-89cd-8c3b4abe269c
      x-ms-content-sha256:
      - H+ZFJvpPZ/L26zRcJErMLPbV0GAVUB3Iq6Orcuf4QGc=
      x-ms-date:
      - Tue, 25 Mar 2025 01:15:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KDDZx59qlUS2xjcCVDuWRQ.0
    status:
      code: 400
      message: Bad Request
version: 1
