interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-22T22:24:51.96613Z'
      Repeatability-Request-ID:
      - 7ba8a6f9-6ab4-11ed-8c98-6ca100547643
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Tue, 22 Nov 2022 22:24:51 GMT
    method: POST
    uri: https://clitestj.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99431147030281448","createdDateTime":"2022-11-22T22:24:52.430513+00:00","validFrom":"2022-11-22T22:24:52.3653121+00:00","validUntil":"2023-05-21T22:24:52.3653121+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99431147030281448'
      ms-cv:
      - OjQYWQZbOUetb9iXZN4rgg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-22T19:14:59.829926Z", "validUntil": "2022-11-23T19:14:59.829926Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - um1ezr11wx67780KH7zw0PMbZ7G4AcDgm61NLYQNdDY=
      x-ms-date:
      - Tue, 22 Nov 2022 22:24:52 GMT
    method: PATCH
    uri: https://clitestj.communication.azure.com/rooms/99431147030281448?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99431147030281448","createdDateTime":"2022-11-22T22:24:52.430513+00:00","validFrom":"2022-11-22T19:14:59.829926+00:00","validUntil":"2022-11-23T19:14:59.829926+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5ui7EAK78kaDjivbyuBRmA.0
    status:
      code: 200
      message: OK
version: 1
