interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 26 Mar 2024 20:37:49 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c+SecndAEkGfNT10MkzeQw.0
      x-processing-time:
      - 13ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"8:acs:e9b97946-5295-4768-82c1-a8bd612e88c1_0000001f-1c5d-68a8-d68a-08482200ab2a":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 26 Mar 2024 20:37:49 GMT
      Repeatability-Request-Id:
      - b6314492-ebb0-11ee-b1ac-70cf49b3e948
      x-ms-content-sha256:
      - jSN48acXCIVVQ8BPzuHqE4v8m2gxPNQGnXFrLVjcvaA=
      x-ms-date:
      - Tue, 26 Mar 2024 20:37:49 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-26T20:37:50.9988469+00:00",
        "validFrom": "2024-03-26T20:37:50.6905563+00:00", "validUntil": "2024-09-22T20:37:50.6905563+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9946755273037941'
      ms-cv:
      - daH4h7Au8k+CO41spS0Fpg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
