interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
      ms-cv:
      - aZwuOsteT0yiC+dG0ZNicg.0
      operation-id:
      - search_af48cfa2-7618-46bc-9cd5-d985edf0b899
      operation-location:
      - /phoneNumbers/operations/search_af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
      search-id:
      - af48cfa2-7618-46bc-9cd5-d985edf0b899
      x-processing-time:
      - 4368ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07",
        "createdDateTime": "2022-08-16T10:05:53.8697119+00:00", "id": "search_af48cfa2-7618-46bc-9cd5-d985edf0b899",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
      ms-cv:
      - UjF984VsCUqoWQH19kHljA.0
      x-processing-time:
      - 504ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "af48cfa2-7618-46bc-9cd5-d985edf0b899", "phoneNumbers":
        ["+18447291986"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-16T10:21:56.5998157+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lz/P1wBGJkaz0KIOk574Pw.0
      x-processing-time:
      - 1161ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "af48cfa2-7618-46bc-9cd5-d985edf0b899"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - lB2Xep9Ba7oWFPSHEd3suqi0up0I8ubo5txTqvij0V0=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - Y1q6qZ3YV0ic2ChRrgNIbw.0
      operation-id:
      - purchase_af48cfa2-7618-46bc-9cd5-d985edf0b899
      operation-location:
      - /phoneNumbers/operations/purchase_af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
      purchase-id:
      - af48cfa2-7618-46bc-9cd5-d985edf0b899
      x-processing-time:
      - 2345ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_af48cfa2-7618-46bc-9cd5-d985edf0b899?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-16T10:05:53.8697119+00:00", "id": "purchase_af48cfa2-7618-46bc-9cd5-d985edf0b899",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bEZT5JxvakuEGqi5aaD4Xw.0
      x-processing-time:
      - 435ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - H8CAc5clzgZGuTYXWOsRDbkqnqkvU9p9IMw++w2l90c=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hquxFdVu6kaLsLS6LTNWMw.0
      x-processing-time:
      - 309ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
