interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:14:30.172761Z'
      Repeatability-Request-ID:
      - 6ce0737a-74d9-11ed-8416-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Mon, 05 Dec 2022 20:14:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:14:31.3328789+00:00",
        "validFrom": "2022-12-05T20:14:31.2196644+00:00", "validUntil": "2023-06-03T20:14:31.2196644+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483079637320747'
      ms-cv:
      - hTGOeJVx4kix2Imdutgy6A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 05 Dec 2022 20:14:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:14:31.3328789+00:00",
        "validFrom": "2022-12-05T20:14:31.2196644+00:00", "validUntil": "2023-06-03T20:14:31.2196644+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2jBSrPBTOkmsW8vTnWDO/w.0
    status:
      code: 200
      message: OK
version: 1
