interactions:
- request:
    body: '{"createTokenWithScopes": ["voip", "chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hlYiA5kT1yt3LwEdaupQDHzQEfodx+8svsStB5uolgw=
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-05T03:49:16.4078509+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WPAovhNH+E2TZ7mrBqc7Xw.0
      x-processing-time:
      - 135ms
    status:
      code: 201
      message: Created
version: 1
