interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 03:57:35 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /IHdB6FRP0q60hVuia4Ajg.2.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:59980828-d74d-42fa-9150-922c60b2d09c_0000001c-f6e7-8e90-d68a-084822003658":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 11 Dec 2023 03:57:36 GMT
      Repeatability-Request-Id:
      - 6bb926d8-97d9-11ee-b9f6-a497b10aa3d0
      x-ms-content-sha256:
      - g07xnpw0tzPjeXSTgNp5O3kvJuP/c//H+5i5SOZgWOA=
      x-ms-date:
      - Mon, 11 Dec 2023 03:57:36 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-11T03:57:37.4191407+00:00",
        "validFrom": "2023-12-11T03:57:36.5512885+00:00", "validUntil": "2024-06-08T03:57:36.5512885+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99480044554128784'
      ms-cv:
      - Ha2dTQIW/Ei74GYABXWFXw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
