interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 11 Dec 2023 04:09:15 GMT
      Repeatability-Request-Id:
      - 0c73c850-97db-11ee-8f18-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:15 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-11T04:09:15.8700578+00:00",
        "validFrom": "2023-12-11T04:09:15.6837399+00:00", "validUntil": "2024-06-08T04:09:15.6837399+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99453905292096969'
      ms-cv:
      - k8blh4thsUSdXm8EY9VGwg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-12-11T05:09:17.345027", "validUntil": "2023-12-11T06:09:17.345027",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - uIVIzGoC/MnrgHZymlzyP7igswRpahaZCOSo9VVYiJs=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:17 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-11T04:09:15.8700578+00:00",
        "validFrom": "2023-12-11T05:09:17.345027+00:00", "validUntil": "2023-12-11T06:09:17.345027+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +mEvhOBTWkWmMDH/D1zVYA.0
    status:
      code: 200
      message: OK
version: 1
