interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 27 Mar 2025 08:33:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      location:
      - /availablePhoneNumbers/searchResults/115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
      ms-cv:
      - FOSK3N9y1EKtcXjtrWF1lg.0
      operation-id:
      - search_115ca1ce-59e5-4435-8575-1c7d171f8d5d
      operation-location:
      - /phoneNumbers/operations/search_115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
      search-id:
      - 115ca1ce-59e5-4435-8575-1c7d171f8d5d
      x-processing-time:
      - 12844ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 27 Mar 2025 08:33:38 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11",
        "createdDateTime": "2025-03-27T08:33:35.9704518+00:00", "id": "search_115ca1ce-59e5-4435-8575-1c7d171f8d5d",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
      ms-cv:
      - 6LzdRiT9MkqLzizgLOQJow.0
      x-processing-time:
      - 4564ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 27 Mar 2025 08:33:47 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
  response:
    body:
      string: '{"searchId": "115ca1ce-59e5-4435-8575-1c7d171f8d5d", "phoneNumbers":
        ["+18667221429"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2025-03-27T08:49:39.6329136+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - uurbe8R6e06PTHkNd9ggWA.0
      x-processing-time:
      - 776ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "115ca1ce-59e5-4435-8575-1c7d171f8d5d"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ntB7E00KLzJ0hxqqFxBgLYewpJaUc4Xz/K3iTfMX6mw=
      x-ms-date:
      - Thu, 27 Mar 2025 08:33:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      ms-cv:
      - 5zevo0mlf06PrPNimq5zVw.0
      operation-id:
      - purchase_115ca1ce-59e5-4435-8575-1c7d171f8d5d
      operation-location:
      - /phoneNumbers/operations/purchase_115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
      purchase-id:
      - 115ca1ce-59e5-4435-8575-1c7d171f8d5d
      x-processing-time:
      - 7338ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 27 Mar 2025 08:33:56 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_115ca1ce-59e5-4435-8575-1c7d171f8d5d?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "purchase", "status": "notStarted", "resourceLocation":
        null, "createdDateTime": "2025-03-27T08:33:35.9704518+00:00", "id": "purchase_115ca1ce-59e5-4435-8575-1c7d171f8d5d",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TtZ3EBjTgUOi4BYpwB8uiQ.0
      x-processing-time:
      - 2750ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - CIwzPvhK0A+Hb19nIuaeweOHYrKWeuJM6wUAWWUQExA=
      x-ms-date:
      - Thu, 27 Mar 2025 08:36:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BBCMVFEYqUSCuv4u0zP1CA.0
      x-processing-time:
      - 570ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
