interactions:
- request:
    body: '{"validFrom": "2025-03-27T08:30:45.339028", "validUntil": "2025-03-27T09:30:45.339028",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 27 Mar 2025 07:30:45 GMT
      Repeatability-Request-Id:
      - 657a7c08-0add-11f0-afa7-00155d7b1001
      x-ms-content-sha256:
      - dfuaIEFFPKJxQt79yCxsqcGGY7k0fbF7lZAzGU4ZNAA=
      x-ms-date:
      - Thu, 27 Mar 2025 07:30:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-27T07:30:45.7901141+00:00",
        "validFrom": "2025-03-27T08:30:45.339028+00:00", "validUntil": "2025-03-27T09:30:45.339028+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99468213801535885'
      ms-cv:
      - 2hA01COOH0u3FuobF4QZfQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
