interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Jul 2023 21:09:39 GMT
      Repeatability-Request-ID:
      - 92ebb143-2678-11ee-b97e-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 19 Jul 2023 21:09:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:09:41.4856259+00:00",
        "validFrom": "2023-07-19T21:09:41.3006207+00:00", "validUntil": "2024-01-15T21:09:41.3006207+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99473393045544800'
      ms-cv:
      - 38LqQADCCESSnjBzUEcGqA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
