interactions:
- request:
    body: '{"createTokenWithScopes": ["voip", "chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hlYiA5kT1yt3LwEdaupQDHzQEfodx+8svsStB5uolgw=
      x-ms-date:
      - Wed, 26 Mar 2025 09:50:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2025-03-27T09:50:37.5234208+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oRohUARe2Eagzt3eJv1Y2w.2.0
      x-processing-time:
      - 30ms
    status:
      code: 201
      message: Created
version: 1
