interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
      ms-cv:
      - RQ4f1aWn3UyPGdjnXXJcnQ.0
      operation-id:
      - search_0d5d4cad-4386-42e5-8490-1ecebaaeeab4
      operation-location:
      - /phoneNumbers/operations/search_0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
      search-id:
      - 0d5d4cad-4386-42e5-8490-1ecebaaeeab4
      x-processing-time:
      - 4672ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07",
        "createdDateTime": "2022-08-16T10:03:06.255795+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
      ms-cv:
      - Iyer8+C8xEmgzHF+c2TdsA.0
      x-processing-time:
      - 480ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "0d5d4cad-4386-42e5-8490-1ecebaaeeab4", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-16T10:19:08.6849195+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /c3H3J2QxU2nZZPDYod3zw.0
      x-processing-time:
      - 1184ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "0d5d4cad-4386-42e5-8490-1ecebaaeeab4"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - TmqDDYLXl38UpeqVJfkdBx2bma+yyPj3yfp0TcmDkMQ=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - blKi99R4jEij2H/0IUqvCQ.0
      operation-id:
      - purchase_0d5d4cad-4386-42e5-8490-1ecebaaeeab4
      operation-location:
      - /phoneNumbers/operations/purchase_0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
      purchase-id:
      - 0d5d4cad-4386-42e5-8490-1ecebaaeeab4
      x-processing-time:
      - 2096ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_0d5d4cad-4386-42e5-8490-1ecebaaeeab4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-16T10:03:06.255795+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OJ+EicyA5UK9p2iqafAEsw.0
      x-processing-time:
      - 612ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2022-08-16T10:03:56.1608173+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a6tSvLcitUWbmN+q7PdSSA.0
      x-processing-time:
      - 3441ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
