interactions:
- request:
    body: '{"validFrom": "2024-03-27T01:31:51.911082", "validUntil": "2024-03-27T02:31:51.911082",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 27 Mar 2024 00:31:52 GMT
      Repeatability-Request-Id:
      - 680b0ada-ebd1-11ee-a510-70cf49b3e948
      x-ms-content-sha256:
      - BCrj7izay7XzI5MpEj/qIpIvtBRHZQBUGS0YpNejj0I=
      x-ms-date:
      - Wed, 27 Mar 2024 00:31:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-27T00:31:53.5298352+00:00",
        "validFrom": "2024-03-27T01:31:51.911082+00:00", "validUntil": "2024-03-27T02:31:51.911082+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99416664447367488'
      ms-cv:
      - 28e/cWNiukaP7IzNYd9Sig.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
