interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
      ms-cv:
      - aAASG2gQMU6X2rwOUpcM7A.0
      operation-id:
      - search_c25cc1c2-7023-4065-b6b7-a9e368e4a88d
      operation-location:
      - /phoneNumbers/operations/search_c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
      search-id:
      - c25cc1c2-7023-4065-b6b7-a9e368e4a88d
      x-processing-time:
      - 3769ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07",
        "createdDateTime": "2022-08-10T02:21:17.3424018+00:00", "id": "search_c25cc1c2-7023-4065-b6b7-a9e368e4a88d",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
      ms-cv:
      - Yhe8e/gr0UuC3IEiFJc88g.0
      x-processing-time:
      - 337ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "c25cc1c2-7023-4065-b6b7-a9e368e4a88d", "phoneNumbers":
        ["+18334312297"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-10T02:37:19.1083196+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FgsiRsf6uECworLeD/VsJw.0
      x-processing-time:
      - 2107ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "c25cc1c2-7023-4065-b6b7-a9e368e4a88d"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - blmtHkmgCxFh5r/W1EJB3knA/z9DbwfqqHcktGtr3wo=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - whDesyeh3U24qa6ZRfNioA.0
      operation-id:
      - purchase_c25cc1c2-7023-4065-b6b7-a9e368e4a88d
      operation-location:
      - /phoneNumbers/operations/purchase_c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
      purchase-id:
      - c25cc1c2-7023-4065-b6b7-a9e368e4a88d
      x-processing-time:
      - 1925ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_c25cc1c2-7023-4065-b6b7-a9e368e4a88d?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-10T02:21:17.3424018+00:00", "id": "purchase_c25cc1c2-7023-4065-b6b7-a9e368e4a88d",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7FH98Sl6bE6T3+Czn7pJKw.0
      x-processing-time:
      - 329ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - rTDRgOgYfkG62I6tGTpdVJCQsT9Fuk+aFO4vJVr8K48=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - M48ad5ulT0WQGEIPImsS5Q.0
      x-processing-time:
      - 133ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
