interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 10 Jul 2023 21:04:18 GMT
      Repeatability-Request-ID:
      - 557e48b3-1f65-11ee-94c7-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Mon, 10 Jul 2023 21:04:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-10T21:04:18.0211975+00:00",
        "validFrom": "2023-07-10T21:04:17.9159241+00:00", "validUntil": "2024-01-06T21:04:17.9159241+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99476087632712482'
      ms-cv:
      - KPhTOfIclUqcm+QQ6gP2ig.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jul 2023 21:04:19 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-10T21:04:18.0211975+00:00",
        "validFrom": "2023-07-10T21:04:17.9159241+00:00", "validUntil": "2024-01-06T21:04:17.9159241+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /ADg2Bi2c0Cz1GItTjyd2A.0
    status:
      code: 200
      message: OK
version: 1
