interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 14 Dec 2023 11:11:10 GMT
      Repeatability-Request-Id:
      - 7c99c385-9a71-11ee-9ce3-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Thu, 14 Dec 2023 11:11:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-14T11:11:12.5549075+00:00",
        "validFrom": "2023-12-14T11:11:12.4634248+00:00", "validUntil": "2024-06-11T11:11:12.4634248+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99416486374169809'
      ms-cv:
      - Ik+09MC2tUSLelBYPZdnbA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
