interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 27 Mar 2025 06:44:02 GMT
      Repeatability-Request-Id:
      - de833ba4-0ad6-11f0-8a9f-00155d7b1001
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Thu, 27 Mar 2025 06:44:02 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-27T06:44:02.0920048+00:00",
        "validFrom": "2025-03-27T06:44:01.9453079+00:00", "validUntil": "2025-09-23T06:44:01.9453079+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99469211544733123'
      ms-cv:
      - U7pfbMy4f02tGLYxZZRh5A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 27 Mar 2025 06:44:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - meokBHriSUaWsK+ukfEZgg.2.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:a0c5d64c-b498-4da5-8b40-38fb6118b469_00000026-7639-97ad-6ad4-363a0d000681":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - GYcYuq6qA9MU0sr1DyM8gW3o76s/SVcqlbv2sN4uS7Y=
      x-ms-date:
      - Thu, 27 Mar 2025 06:44:04 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Cvo1wFTnMkWi5nJdvjTMYA.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 27 Mar 2025 06:44:05 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BWDBoCBAUkKjFPjx6MOR8Q.0
    status:
      code: 200
      message: OK
version: 1
