interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 01 Apr 2024 05:52:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
      ms-cv:
      - og+SYx/1TUaeRnDXoETNbw.0
      operation-id:
      - search_8e951867-e9fd-40ab-a713-3edbc7286c3b
      operation-location:
      - /phoneNumbers/operations/search_8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
      search-id:
      - 8e951867-e9fd-40ab-a713-3edbc7286c3b
      x-processing-time:
      - 2469ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 01 Apr 2024 05:52:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01",
        "createdDateTime": "2024-04-01T05:52:20.6368508+00:00", "id": "search_8e951867-e9fd-40ab-a713-3edbc7286c3b",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2,
        2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
      ms-cv:
      - LZE1L7HCGEiqZwtuvU+dkw.0
      x-processing-time:
      - 302ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 01 Apr 2024 05:52:24 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "8e951867-e9fd-40ab-a713-3edbc7286c3b", "phoneNumbers":
        ["+18445956947"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-01T06:08:22.6450729+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9lv4AzHv+kOytnSSQsnLQw.0
      x-processing-time:
      - 519ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "8e951867-e9fd-40ab-a713-3edbc7286c3b"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - MPuIxyOX8iDjd49Pos+YiRhX0yKpQ4jjDghOj0Ye/48=
      x-ms-date:
      - Mon, 01 Apr 2024 05:52:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      ms-cv:
      - y1W3J7bT2E2aKCiP1bAgtw.0
      operation-id:
      - purchase_8e951867-e9fd-40ab-a713-3edbc7286c3b
      operation-location:
      - /phoneNumbers/operations/purchase_8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
      purchase-id:
      - 8e951867-e9fd-40ab-a713-3edbc7286c3b
      x-processing-time:
      - 924ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 01 Apr 2024 05:52:26 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_8e951867-e9fd-40ab-a713-3edbc7286c3b?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-01T05:52:20.6368508+00:00", "id": "purchase_8e951867-e9fd-40ab-a713-3edbc7286c3b",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2,
        2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xdoVMBfSXEGVQrRWCp6irg.0
      x-processing-time:
      - 254ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 90n/8n9LYo9y3Ksv7PItSjfcKDvxwXLfdImuvCQ3PoA=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '<!DOCTYPE html PUBLIC ''-//W3C//DTD XHTML 1.0 Transitional//EN'' ''http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd''><html
        xmlns=''http://www.w3.org/1999/xhtml''><head><meta content=''text/html; charset=utf-8''
        http-equiv=''content-type''/><style type=''text/css''>body {font-family:Arial;
        margin-left:40px; }img  { border:0 none; }#content { margin-left: auto; margin-right:
        auto }#message h2 { font-size: 20px; font-weight: normal; color: #000000;
        margin: 34px 0px 0px 0px }#message p  { font-size: 13px; color: #000000; margin:
        7px 0px 0px0px}#errorref { font-size: 11px; color: #737373; margin-top: 41px
        }</style><title>Service unavailable</title></head><body><div id=''content''><div
        id=''message''><h2>Our services aren''t available right now</h2><p>We''re
        working to restore all services as soon as possible. Please check back soon.</p></div><div
        id=''errorref''><span>05ksKZgAAAADZYY2ZvlWlTYxv3cdcYB44SEtCRURHRTA3MTUAOWZjN2I1MTktYThjYy00Zjg5LTkzNWUtYzkxNDhhZTA5ZTgx</span></div></div></body></html>'
    headers:
      content-type:
      - text/html
      x-azure-externalerror:
      - 0x80072efd,OriginConnectionRefused
    status:
      code: 503
      message: Service Unavailable
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 90n/8n9LYo9y3Ksv7PItSjfcKDvxwXLfdImuvCQ3PoA=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pJjMP713E0ORlqlDA35RPw.0
      x-processing-time:
      - 943ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
