interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 16:31:51 GMT
      Repeatability-Request-Id:
      - d2da95c2-00c5-11ef-966d-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 16:31:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T16:31:52.9947095+00:00",
        "validFrom": "2024-04-22T16:31:52.7381001+00:00", "validUntil": "2024-10-19T16:31:52.7381001+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99426168646746844'
      ms-cv:
      - iXDwtGhPb0CwcnaO0FqoIg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T17:31:53.088930", "validUntil": "2024-04-22T18:31:53.088930",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - vuCRpjCya+tJsPzm0JUCn9ylqfAMlNLJh5tnrA5KZiE=
      x-ms-date:
      - Mon, 22 Apr 2024 16:31:53 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T16:31:52.9947095+00:00",
        "validFrom": "2024-04-22T17:31:53.08893+00:00", "validUntil": "2024-04-22T18:31:53.08893+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IAqcQwYuDk26EuhnGXghiQ.0
    status:
      code: 200
      message: OK
version: 1
