interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
      ms-cv:
      - 8X8oYReme0axi7GTfyr3Mw.0
      operation-id:
      - search_31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e
      operation-location:
      - /phoneNumbers/operations/search_31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
      search-id:
      - 31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e
      x-processing-time:
      - 2042ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01",
        "createdDateTime": "2023-12-13T11:42:35.1628691+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
      ms-cv:
      - BmlaWi79ZE+TMIyDzQprQA.0
      x-processing-time:
      - 230ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:37 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-13T11:58:36.9136672+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gt9VtqzK0kyKKGjAVxzZlQ.0
      x-processing-time:
      - 387ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - yMKvPKc99cainIVbybDpeBtDkkp1T/cBzmWPMuagtds=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:38 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - 4JPLnjIDJk+jj+hlG2v8yQ.0
      operation-id:
      - purchase_31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e
      operation-location:
      - /phoneNumbers/operations/purchase_31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
      purchase-id:
      - 31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e
      x-processing-time:
      - 827ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_31eb7dbb-8566-4c04-bef4-db0bdaf2bb5e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-13T11:42:35.1628691+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - n+IZkXrstk+7SMq+HO9wTg.0
      x-processing-time:
      - 326ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:57 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-12-13T11:42:54.1616812+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KvvDKMGNNEeaU2oE00Gu3w.0
      x-processing-time:
      - 1538ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
