interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:23:50 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lIGk+KwZJUangTKx4o7qaw.2.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:73ea6ecf-9bd7-4018-a61d-b42bf27384fa_00000020-a233-68c7-f40f-343a0d006e4b":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 10 Jun 2024 13:23:51 GMT
      Repeatability-Request-Id:
      - adc25592-272c-11ef-8d7d-00155d7acf01
      x-ms-content-sha256:
      - vWAmNFjjwTGZZef3NUCgIO71AJc58k/MEpRIYBT14Pw=
      x-ms-date:
      - Mon, 10 Jun 2024 13:23:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-06-10T13:23:53.3943771+00:00",
        "validFrom": "2024-06-10T13:23:52.9789504+00:00", "validUntil": "2024-12-07T13:23:52.9789504+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9945364570285828'
      ms-cv:
      - oe0/cY+wg0+jyRMBNT3GtA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
