interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 25 Mar 2025 01:18:26 GMT
      Repeatability-Request-Id:
      - 0d5a1c1b-0917-11f0-a3f5-8c3b4abe269c
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Tue, 25 Mar 2025 01:18:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-25T01:18:27.4770769+00:00",
        "validFrom": "2025-03-25T01:18:27.4156968+00:00", "validUntil": "2025-09-21T01:18:27.4156968+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99442103181125162'
      ms-cv:
      - EwYxaEyxUkGrEybBg9dkKg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 25 Mar 2025 01:18:26 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QxHAb5ztMk65fQx9kEuJaw.0
    status:
      code: 200
      message: OK
version: 1
