interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 26 May 2023 04:09:14 GMT
      Repeatability-Request-ID:
      - 137316ad-fb7b-11ed-9fd0-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 26 May 2023 04:09:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-26T04:09:15.6128206+00:00",
        "validFrom": "2023-05-26T04:09:15.1569459+00:00", "validUntil": "2023-11-22T04:09:15.1569459+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '9946617369205971'
      ms-cv:
      - O70jw0yVukWf/WvKDD/ITg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
