interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Jul 2023 21:11:16 GMT
      Repeatability-Request-ID:
      - cc76979b-2678-11ee-a20f-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 19 Jul 2023 21:11:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:11:17.7964168+00:00",
        "validFrom": "2023-07-19T21:11:17.6869626+00:00", "validUntil": "2024-01-15T21:11:17.6869626+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483887519937887'
      ms-cv:
      - XIFJ0QL+lES2K39i/axC6g.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 19 Jul 2023 21:11:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-19T21:11:17.7964168+00:00",
        "validFrom": "2023-07-19T21:11:17.6869626+00:00", "validUntil": "2024-01-15T21:11:17.6869626+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SAgY44sHHEGeztg99SC/eg.0
    status:
      code: 200
      message: OK
version: 1
