interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 16:30:11 GMT
      Repeatability-Request-Id:
      - 97353017-00c5-11ef-9cfa-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 16:30:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T16:30:12.5970887+00:00",
        "validFrom": "2024-04-22T16:30:12.4500923+00:00", "validUntil": "2024-10-19T16:30:12.4500923+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9943242517870032'
      ms-cv:
      - PyTmwwbCb0yFEhx8LeY2Fg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-22T19:14:59.829926+00:00", "validUntil": "2022-11-23",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - VztSYEdQgt6r3uF5baFbPI5NYeeCpmEDvnwtcY9SMtw=
      x-ms-date:
      - Mon, 22 Apr 2024 16:30:12 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2024-04-15
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eyAAUNAAG0+1eTX9wQCFfw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
