interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-identity/1.3.1 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 07 Jul 2023 01:55:44 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:08:46 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:32:44 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:13:30 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:06:32 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-08T01:55:44.6283027+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:08:46.4274744+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:32:44.4644552+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:13:31.0772839+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
        "expiresOn": "2023-07-07T21:06:32.2495967+00:00"}}'
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:55:44 GMT
      ms-cv:
      - W/N/EqLBGkSDh/HlDtVBuw.0
=======
      - Fri, 23 Jun 2023 17:08:45 GMT
      ms-cv:
      - HCDGVfm/yE+PE2GwJTAAbg.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:32:43 GMT
      ms-cv:
      - DmevhzbhKka0SjWONvaYsg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:13:30 GMT
      ms-cv:
      - cV7gFcNNY0CVc9OxvqnjQA.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:06:31 GMT
      ms-cv:
      - SXtYF9iumU2S71wNdCX5RQ.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0oHCnZAAAAABgWpwXgdzRQJOCzEJWvKUlWVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 105ms
=======
      - 0ntGVZAAAAAA81TlH1x83SqPnIlXpvf85WVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 112ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0HKykZAAAAAC9kEMiYpnkQp2w8N9vPIxTWVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 104ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0y7KlZAAAAACEzd6EwnaaRYJY09V6KhDpWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 102ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 02CynZAAAAAA+NbANq/AhTKKp1TWdEiCJWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 104ms
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 6664110a-c7b3-4dca-b120-20dbdad7a63d
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - 372b6cb3-3dd1-4e1b-aa0f-dc317454651d
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - f0b5bc06-ea57-4c47-a2ec-5dfe0ebbeffc
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0e151e3d-455b-42a4-bc60-8f60025d4a67
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - d274ff38-2e65-487b-9aa9-2aa1acf54def
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-07T01:55:45Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:08:46Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:32:44Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:13:31Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
        "2023-07-06T21:06:32Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:55:45 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AhU16L85ip4UtlWwCT1Wi7vdB4sWVufcvNggtvhHr12k1@thread.v2
      ms-cv:
      - ira3oLjOGUa8SksUMZxfkg.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0oXCnZAAAAAAKZrkoMScoRr7hcM6YUbpFWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 368ms
=======
      - Fri, 23 Jun 2023 17:08:47 GMT
=======
      [...]
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}, "displayName": "John Doe"}]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole tes[...]
