interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:08 GMT
=======
      - Fri, 23 Jun 2023 17:18:30 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:42:25 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:09 GMT
      location:
      - /availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      ms-cv:
      - 8C6iljkyT0KYkfZXkD1XcQ.0
      operation-id:
      - search_e1cbbaee-19da-40dd-84b2-a06deab27260
      operation-location:
      - /phoneNumbers/operations/search_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      search-id:
      - e1cbbaee-19da-40dd-84b2-a06deab27260
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0EO2lZAAAAADP0jl77ziJSKCAaZq6mkqnWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1479ms
=======
      - Fri, 23 Jun 2023 17:18:31 GMT
=======
      - Tue, 04 Jul 2023 23:42:27 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      location:
      - /availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      ms-cv:
      - Hvhp3R8pcE24ctARmsX7ww.0
      operation-id:
      - search_12b327c1-3ba9-4e86-91b7-25bb5e4ff631
      operation-location:
      - /phoneNumbers/operations/search_12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      search-id:
      - 12b327c1-3ba9-4e86-91b7-25bb5e4ff631
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0Ya6kZAAAAAAHCkYnutefR4JSFUzqqC+pWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
      - 1570ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 2161ms
>>>>>>> 7c5b674c0 (Reran tests)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:09 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T22:22:09.889194+00:00", "id": "sanitized",
=======
      - Fri, 23 Jun 2023 17:18:32 GMT
=======
      - Tue, 04 Jul 2023 23:42:28 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
  response:
    body:
<<<<<<< HEAD
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:18:32.1865503+00:00", "id": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:42:27.600616+00:00", "id": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:10 GMT
      location:
      - /availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
      ms-cv:
      - XZn0AsCuUEaCxmd5xEswFQ.0
=======
      - Fri, 23 Jun 2023 17:18:32 GMT
=======
      - Tue, 04 Jul 2023 23:42:27 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      location:
      - /availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      ms-cv:
<<<<<<< HEAD
      - Z4V/GtJ1TU6LtCB8lY/dGg.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - A09FhUjFtkq87twJBdU3sA.0
>>>>>>> 7c5b674c0 (Reran tests)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0Eu2lZAAAAAAqvkB0I106SbEMUcLpfz1rWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 223ms
=======
      - 06NOVZAAAAAARZRNO7NcoQaFK02qRRIgEWVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 249ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0ZK6kZAAAAAArZ+9dRa0hR45mv5XPS4iGWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 185ms
>>>>>>> 7c5b674c0 (Reran tests)
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:12 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "e1cbbaee-19da-40dd-84b2-a06deab27260", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T22:38:11.7207224+00:00", "error": "NoError"}'
=======
      - Fri, 23 Jun 2023 17:18:35 GMT
=======
      - Tue, 04 Jul 2023 23:42:31 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "12b327c1-3ba9-4e86-91b7-25bb5e4ff631", "phoneNumbers":
        ["sanitized"], "phone[...]
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"searchId": "e1cbbaee-19da-40dd-84b2-a06deab27260"}'
=======
    body: '{"searchId": "437c8d62-84a6-4ec4-84f5-bf8b05ac41a3"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
    body: '{"searchId": "12b327c1-3ba9-4e86-91b7-25bb5e4ff631"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
<<<<<<< HEAD
<<<<<<< HEAD
      - 88QMKNQQSMQhlIYiAtUtHpZc0Us9ErV8Xjzpw6QLT1[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:13 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_e1cbbaee-19da-40dd-84b2-a06deab27260?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "statu[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-phonenumbers/1.1.0 Python/3.8.0
=======
      - AzureCli/2.0.0 azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7
>>>>>>> ddcd2202f (Adding test recordings)
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:22:32 GMT
=======
      - Fri, 23 Jun 2023 17:18:56 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:42:52 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
<<<<<<< HEAD
<<<<<<< HEAD
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-05T22:22:28.3618991+00:00",
=======
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-06-23T17:18:50.6437858+00:00",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-04T23:42:48.5892147+00:00",
>>>>>>> 7c5b674c0 (Reran tests)
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
[...]
