interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 24 Mar 2025 07:34:44 GMT
      Repeatability-Request-Id:
      - 74739b1e-0882-11f0-9a3c-00155d7b1001
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 24 Mar 2025 07:34:44 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:34:44.8340648+00:00",
        "validFrom": "2025-03-24T07:34:44.6286159+00:00", "validUntil": "2025-09-20T07:34:44.6286159+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99442580287955509'
      ms-cv:
      - j18b8478c0uxhLQgPiDw1Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - QQKbDQ8A0x7b9852DAZ3wjSpELmfU1PGiuAyzF0GbQg=
      x-ms-date:
      - Mon, 24 Mar 2025 07:34:45 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:34:44.8340648+00:00",
        "validFrom": "2025-03-24T07:34:44.6286159+00:00", "validUntil": "2025-09-20T07:34:44.6286159+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZhX9+OhTT0WCKsikiXAnMQ.0
    status:
      code: 200
      message: OK
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 24 Mar 2025 07:34:47 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:34:44.8340648+00:00",
        "validFrom": "2025-03-24T07:34:44.6286159+00:00", "validUntil": "2025-09-20T07:34:44.6286159+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4WAE/wC1lkGhpyrqSlI+8A.0
    status:
      code: 200
      message: OK
version: 1
