interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 25 Mar 2025 01:16:50 GMT
      Repeatability-Request-Id:
      - d44cd2ab-0916-11f0-9904-8c3b4abe269c
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Tue, 25 Mar 2025 01:16:50 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-25T01:16:52.3141525+00:00",
        "validFrom": "2025-03-25T01:16:51.7690097+00:00", "validUntil": "2025-09-21T01:16:51.7690097+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483885852760564'
      ms-cv:
      - NhYpoilNoESqt/MDO7R3oA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
