interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 26 Mar 2024 20:38:11 GMT
      Repeatability-Request-Id:
      - c3294702-ebb0-11ee-8169-70cf49b3e948
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Tue, 26 Mar 2024 20:38:11 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-26T20:38:12.3353833+00:00",
        "validFrom": "2024-03-26T20:38:12.2708348+00:00", "validUntil": "2024-09-22T20:38:12.2708348+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99499100290599328'
      ms-cv:
      - 6Rb5Jk1Su0uf3EtIH83W0A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-03-26T21:38:11.984762", "validUntil": "2024-10-12T20:38:11.984762",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 822nXAih6yy4+L6BGgQbo8aZz3oYxn3bnog1E1MWqZ4=
      x-ms-date:
      - Tue, 26 Mar 2024 20:38:12 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fQuWcj5OuEKjEF/FQq3XqA.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
