interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 02 Dec 2022 09:51:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-12-03T09:51:08.8603935+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XNWNCkbmNEmaPLaZZytAAw.0
      x-processing-time:
      - 133ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - e98b26e5-c549-4fdf-a17c-bf256667c1ce
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2022-12-02T09:51:09Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AGgZTYfoUHVWkz09rDG1nMMbygzXYGuDuwgWa5ILcstk1@thread.v2
      ms-cv:
      - 0Rk87s4yLU+N5nIiKMlEEQ.0
      x-processing-time:
      - 673ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AGgZTYfoUHVWkz09rDG1nMMbygzXYGuDuwgWa5ILcstk1@thread.v2/messages/1669974670232
      ms-cv:
      - 3yWboP/7qkqOr39P8Qb50w.0
      x-processing-time:
      - 186ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello there!"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      ms-cv:
      - a1NEheEGYEacZjs2cQe4Yg.0
      x-processing-time:
      - 211ms
    status:
      code: 204
      message: No Content
version: 1
