interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:14:59.156999Z'
      Repeatability-Request-ID:
      - 7e27184c-74d9-11ed-ac61-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Mon, 05 Dec 2022 20:14:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:14:59.9958899+00:00",
        "validFrom": "2022-12-05T20:14:59.885465+00:00", "validUntil": "2023-06-03T20:14:59.885465+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99441785570294962'
      ms-cv:
      - tORZSwO7bkK95uT+f7Pdvw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
