interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 25 Mar 2025 01:16:47 GMT
      Repeatability-Request-Id:
      - d2d1effc-0916-11f0-9451-8c3b4abe269c
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Tue, 25 Mar 2025 01:16:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-25T01:16:49.3208879+00:00",
        "validFrom": "2025-03-25T01:16:49.2305059+00:00", "validUntil": "2025-09-21T01:16:49.2305059+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483501291788882'
      ms-cv:
      - eY3Ychdm/kKvNI2/vfasPg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 25 Mar 2025 01:16:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - l3iipjxKbkiHbAz9BUziIw.0
      x-processing-time:
      - 15ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:694b7a53-7cf7-41fe-af5b-0d55180b1590_00000026-6ac1-4cab-ac00-343a0d00f679":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 0Am376/cADwyHJaMnM5AvJqNg4igKVq4mUBlf7X6mA4=
      x-ms-date:
      - Tue, 25 Mar 2025 01:16:49 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Kfr7mW0/A0aM9g6gSjCknQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 25 Mar 2025 01:16:50 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2025-03-13
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pZVpmGgrq0C5fYdRSFYF0A.0
    status:
      code: 200
      message: OK
version: 1
