interactions:
- request:
    body: '{"validFrom": "2023-12-14T13:26:06.314388", "validUntil": "2023-12-14T14:26:06.314388",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 14 Dec 2023 12:26:06 GMT
      Repeatability-Request-Id:
      - f43c2f21-9a7b-11ee-90d4-a497b10aa3d0
      x-ms-content-sha256:
      - PdGQGj9tjBPjXRgU8aXN3K7cSfd/0bfX2xZ0QYo0eWQ=
      x-ms-date:
      - Thu, 14 Dec 2023 12:26:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-14T12:26:08.7367366+00:00",
        "validFrom": "2023-12-14T13:26:06.314388+00:00", "validUntil": "2023-12-14T14:26:06.314388+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99436462593925861'
      ms-cv:
      - 5bifNFG7LkWwLxG4U3mfNg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
