interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
      ms-cv:
      - i5DUrVRIF0aHeqf/mWKIRw.0
      operation-id:
      - search_9955c470-a092-46b6-adb5-dc25db5b9bdb
      operation-location:
      - /phoneNumbers/operations/search_9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
      search-id:
      - 9955c470-a092-46b6-adb5-dc25db5b9bdb
      x-processing-time:
      - 3400ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01",
        "createdDateTime": "2023-12-13T11:42:37.2439942+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
      ms-cv:
      - Aygl7RoZ40umUkBgWa5Vgw.0
      x-processing-time:
      - 238ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "9955c470-a092-46b6-adb5-dc25db5b9bdb", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-13T11:58:38.9237974+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qZzK73PoqE68sLutGnIIjA.0
      x-processing-time:
      - 516ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "9955c470-a092-46b6-adb5-dc25db5b9bdb"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 9oD/5TMNMdX2lAdEc5gNaMQ76A36UHnMhjdYx8WoboA=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - FU2kYCxfckOn+A+6GAuosg.0
      operation-id:
      - purchase_9955c470-a092-46b6-adb5-dc25db5b9bdb
      operation-location:
      - /phoneNumbers/operations/purchase_9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
      purchase-id:
      - 9955c470-a092-46b6-adb5-dc25db5b9bdb
      x-processing-time:
      - 1108ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:42:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_9955c470-a092-46b6-adb5-dc25db5b9bdb?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-13T11:42:37.2439942+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jRLUQKC4okC1bDIhIL7/7A.0
      x-processing-time:
      - 474ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:43:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-12-13T11:42:57.3663929+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - tVIlfjyoDEuNtMbN64Kdpg.0
      x-processing-time:
      - 1766ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
