interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-identity/1.3.1 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 07 Jul 2023 01:58:57 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:10:21 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:34:19 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:15:05 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:08:07 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-08T01:58:56.8958669+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:10:21.9235778+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:34:19.6212209+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:15:06.2776299+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
        "expiresOn": "2023-07-07T21:08:07.4658262+00:00"}}'
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:58:56 GMT
      ms-cv:
      - NwFxNWbIFUq8nimMEHe/rw.0
=======
      - Fri, 23 Jun 2023 17:10:21 GMT
      ms-cv:
      - XxGqu01pbU2umZkHSH+sYQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:34:19 GMT
      ms-cv:
      - ON8VDn78dk21TrIZ6Nt96Q.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:15:05 GMT
      ms-cv:
      - gGdXbgp8lUqI4SfrLvuq6g.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:08:06 GMT
      ms-cv:
      - 85ujujMHyEetODAVFBOWXg.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0YHGnZAAAAACF7uXHRSc7SpjUCrMQ5aqpWVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 104ms
=======
      - 0/dGVZAAAAAApiBaLkX3wTKRP9sdW1JXgWVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 108ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0e6ykZAAAAAArvBBh3LfpT6eT7vXtS0T/WVZSMzExMDAwMTE1MDIzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 104ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0KrOlZAAAAADA0kv661FRQLRW6MYhdpCMWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 111ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 0Ny2nZAAAAAAM7XPeSfXcRKqggWpmwz9iWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 106ms
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - e1df96b0-2cb3-4497-8c5b-31a0cce022bc
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - cd3960bf-7b75-4b25-a4c7-00700150cd8d
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - fe874b83-8ad4-408c-b40b-4778f3846bdb
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - e58697f1-0e8e-4277-915d-682995890326
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 507627bb-c29c-4cc0-b0b5-3174deef7f21
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-07T01:58:57Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:10:22Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:34:20Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:15:07Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
        "2023-07-06T21:08:10Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:58:57 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ALpCWy-sksL1tYyg08mzgCe9jnYW0Jq_0_8peuNrPwtA1@thread.v2
      ms-cv:
      - ncVDxMKGb0apqi2mlCRnMA.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0YXGnZAAAAABT2Un39meoQZSX/ez6MbblWVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 359ms
=======
      - Fri, 23 Jun 2023 17:10:22 GMT
=======
      [...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
>>[...]
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22[...]
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "BadRequest", "Message": "Identifier
        format is invalid (8:acs:fakeid).", "Details": []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:58:59 GMT
      ms-cv:
      - sP4rkSMWnUSri6xH8PVyQw.0
=======
      - Fri, 23 Jun 2023 17:10:23 GMT
      ms-cv:
      - R9OdkJD46EWqukF3Jhuq7w.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:34:21 GMT
      ms-cv:
      - 4giha6V8E0aEHZnsER2JSQ.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:15:08 GMT
      ms-cv:
      - BP91qFJj2EWQa23CP4xkCA.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:08:13 GMT
      ms-cv:
      - okldFFACXkGu9geQTmOifw.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0Y3GnZAAAAADpjsnRbbSrS5BoZFLQcyz+WVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1ms
=======
      - 0ANKVZAAAAAApd5NaC8UVRIxulCdjNlk7WVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 4ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0fqykZAAAAAC/E+Phc6iwRK4ifB1WZmOfWVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 8ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0LLOlZAAAAADD3lwROva4RqaoSmLT6Ed8WVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 3ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 0PS2nZAAAAAD1j3itIM1JSqfJJVk65ViJWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 4ms
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    status:
      code: 400
      message: Bad Request
[...]
