interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:18:55 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:07:08 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:31:06 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:53 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-06T22:18:55.701649+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:07:08.0490374+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:31:06.7742349+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:11:53.5848943+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:18:55 GMT
      ms-cv:
      - nwy/VfuXb0GbAAJ8eNGIfw.0
=======
      - Fri, 23 Jun 2023 17:07:08 GMT
      ms-cv:
      - ys2PVVS6tUqZJwH6twwIoA.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:31:06 GMT
      ms-cv:
      - EctP5a+A50W15TntSmjC6A.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:52 GMT
      ms-cv:
      - 1tAi9HohuEC/JJ+tSxEMIQ.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0T+ylZAAAAAB15nVDaxOGS538z75SLKBWWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 100ms
=======
      - 0O9GVZAAAAACzLxkFuMB+TKUR4yUYhCKzWVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 109ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0uqukZAAAAAATzkyUnc/xTqywaZzPWb2dWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 104ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0abKlZAAAAABsMnGmAjG7RqWJb/QXtT9DWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 106ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-chat/1.1.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 158473e1-348f-4896-9c08-d4396e7352de
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - 8d5add04-e536-4f5d-8c24-e44f4ad3bbef
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 901da1d0-cec2-4ffa-8301-14c4c6a1ae76
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - dccf4392-debb-430f-bf42-8fb81ee109bc
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-05T22:18:56Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:07:08Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:31:07Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:11:54Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:18:55 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AJrzmj1W9KlvdPIvGkcBWFgHK7RTUX34NlRPVOW8eJyw1@thread.v2
      ms-cv:
      - pWNt1aQP5E+kOt2WyTtStA.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0T+ylZAAAAACXy1IgmowbSLNWNkyvpdciWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 457ms
=======
      - Fri, 23 Jun 2023 17:07:08 GMT
=======
      - Tue, 04 Jul 2023 23:31:06 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:54 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ATAZ9W0wY_erGyD8lbUhJY7zI0Hre0_Dv_ERWE5qcqa81@thread.v2
      ms-cv:
      - YBB7hLd8mUO19+lslR3t1Q.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0abKlZAAAAACWJJT54/heS5fSUd/dXqkqWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 483ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 354ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 535ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
version: 1
