interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 11 Dec 2023 03:54:31 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
      ms-cv:
      - W5kilqNnRkKILnnWApuEeg.0
      operation-id:
      - search_f5ca51c0-27f1-46d7-bc7d-5d8bf7400190
      operation-location:
      - /phoneNumbers/operations/search_f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
      search-id:
      - f5ca51c0-27f1-46d7-bc7d-5d8bf7400190
      x-processing-time:
      - 3596ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 03:54:36 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01",
        "createdDateTime": "2023-12-11T03:54:34.0869537+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
      ms-cv:
      - gp4QPBWBvEW6UWZQZNGWAQ.0
      x-processing-time:
      - 302ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 03:54:39 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "f5ca51c0-27f1-46d7-bc7d-5d8bf7400190", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-11T04:10:36.3207463+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6tXe8oxsHUyD8Pq5PLvUBw.0
      x-processing-time:
      - 360ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "f5ca51c0-27f1-46d7-bc7d-5d8bf7400190"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - I+RlxrInJZv2ulPVXiesd+tvyGqolTDcyxKih5tC1BQ=
      x-ms-date:
      - Mon, 11 Dec 2023 03:54:40 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - FGgZH0vuak2C9DRA1b0MUA.0
      operation-id:
      - purchase_f5ca51c0-27f1-46d7-bc7d-5d8bf7400190
      operation-location:
      - /phoneNumbers/operations/purchase_f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
      purchase-id:
      - f5ca51c0-27f1-46d7-bc7d-5d8bf7400190
      x-processing-time:
      - 792ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 03:54:41 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_f5ca51c0-27f1-46d7-bc7d-5d8bf7400190?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-11T03:54:34.0869537+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - l+a/mzG5MES1gcnnubmlpw.0
      x-processing-time:
      - 217ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 03:55:01 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-12-11T03:54:56.7938635+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LUy6I6i94E6aJ1rOvpRE0A.0
      x-processing-time:
      - 1504ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
