interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:28 GMT
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:14 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:29 GMT
      location:
      - /availablePhoneNumbers/searchResults/15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
      ms-cv:
      - sWJjqjgUiky2A8QkjJTSbw.0
      operation-id:
      - search_15b87661-477e-4057-82b4-15a43fa44221
      operation-location:
      - /phoneNumbers/operations/search_15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
      search-id:
      - 15b87661-477e-4057-82b4-15a43fa44221
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0r26nZAAAAABvEA0Z9PGIRJkIeR/nldNiWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1778ms
=======
      - Fri, 23 Jun 2023 17:30:16 GMT
      location:
      - /availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      ms-cv:
      - o9YgjrPuY0Cua1YMw43Zag.0
      operation-id:
      - search_70443af6-e42d-477a-99cc-9e5dcdb85492
      operation-location:
      - /phoneNumbers/operations/search_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      search-id:
      - 70443af6-e42d-477a-99cc-9e5dcdb85492
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0ptaVZAAAAAC6B7qXcjJCT6gJVOHUsvHHWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 2506ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:30 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01",
        "createdDateTime": "2023-07-07T01:47:29.2639729+00:00", "id": "search_15b87661-477e-4057-82b4-15a43fa44221",
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:17 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:30:16.5342993+00:00", "id": "search_70443af6-e42d-477a-99cc-9e5dcdb85492",
>>>>>>> ddcd2202f (Adding test recordings)
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:29 GMT
      location:
      - /availablePhoneNumbers/searchResults/15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
      ms-cv:
      - Q0jnf6BQwUGvAV6yYrsxMg.0
=======
      - Fri, 23 Jun 2023 17:30:16 GMT
      location:
      - /availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      ms-cv:
      - h0tgfWySMkmK20S8enlr+w.0
>>>>>>> ddcd2202f (Adding test recordings)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
      - 0sW6nZAAAAAC5f5c295bRQrm3fd+e7pzfWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 212ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "15b87661-477e-4057-82b4-15a43fa44221", "phoneNumbers":
        ["+18332407862"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-07T02:03:31.3476045+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zn3+zJYVdkegXHQTUgD4jg.0
      x-processing-time:
      - 537ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "15b87661-477e-4057-82b4-15a43fa44221"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - oC3AIfhyNLfWPgMh1Sf7yRnzxpEnXiEy+35BC2Rmq9w=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - i9dWSsusF0yqPNUw/ZsW6w.0
      operation-id:
      - purchase_15b87661-477e-4057-82b4-15a43fa44221
      operation-location:
      - /phoneNumbers/operations/purchase_15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
      purchase-id:
      - 15b87661-477e-4057-82b4-15a43fa44221
      x-processing-time:
      - 768ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_15b87661-477e-4057-82b4-15a43fa44221?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-07T01:47:29.2639729+00:00", "id": "purchase_15b87661-477e-4057-82b4-15a43fa44221",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1yh6B3Qtx0+Coezh/ELmeA.0
      x-processing-time:
      - 265ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:48:42 GMT
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-sms/1.0.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - LV5CX9WvuzjPO/u/ieEmFlZNihZ1+hCPFuqO2hnOSoA=
=======
      - Fri, 23 Jun 2023 17:31:31 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - XmclZFlzYIEPuUBoitcL6LGBtOHbbxrhmCQOerNvleA=
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:48:41 GMT
      ms-cv:
      - 5Qsu9tIb6kem1Pe1ta21tg.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0+W6nZAAAAAChpWU6tZsSSoc57CNJdvdSWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 156ms
=======
      - Fri, 23 Jun 2023 17:31:31 GMT
      ms-cv:
      - jG5ySdp+XU2/XMhQ38WpnQ.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 089aVZAAAAADKWN509NJ0SZFSM5FlwddWWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 151ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
