interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Wed, 10 Aug 2022 02:08:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-11T02:08:18.1405279+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fI7/ZVlyHkaTkZzjcmV/hQ.0
      x-processing-time:
      - 225ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 6b9bb915-dc8c-47a9-ad58-a27f24e07ec3
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2022-08-10T02:08:19Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AaSmQGitZlMnaiiDv9lOwJ0Jj_ZSgA0NUlDXwRZ1l2pg1@thread.v2
      ms-cv:
      - tfmeFenQykaHLjU5vLy4JA.0
      x-processing-time:
      - 888ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:8d660a5d-2f5c-46a0-8d5c-5e70721b8412_00000013-2564-256a-b4f1-9c3a0d007f69"}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - z5LJZO83PUi+yKv0swbJWw.0
      x-processing-time:
      - 217ms
    status:
      code: 201
      message: Created
version: 1
