interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:40 GMT
      Repeatability-Request-ID:
      - 983d3ca4-1b82-11ee-a0db-8cf8c5abc371
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 22:23:40 GMT
=======
      - Fri, 23 Jun 2023 17:23:50 GMT
=======
      - Tue, 04 Jul 2023 23:47:02 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:27:17 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      Repeatability-Request-ID:
      - 924f7012-1b61-11ee-b72f-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:23:50 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:02 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:27:17 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-05T22:23:41.6992049+00:00",
        "validFrom": "2023-07-05T22:23:41.5463329+00:00", "validUntil": "2024-01-01T22:23:41.5463329+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:23:50.9499279+00:00",
        "validFrom": "2023-06-23T17:23:50.8761541+00:00", "validUntil": "2023-12-20T17:23:50.8761541+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:03.1686735+00:00",
        "validFrom": "2023-07-04T23:47:02.8613947+00:00", "validUntil": "2023-12-31T23:47:02.8613947+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:27:18.2013116+00:00",
        "validFrom": "2023-07-05T18:27:17.8860205+00:00", "validUntil": "2024-01-01T18:27:17.8860205+00:00"}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 22:23:40 GMT
      location:
      - '9942427476403506'
      ms-cv:
      - UzVnZMzLLUyzcG/oqBTVdg.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 18:27:17 GMT
      location:
      - '99434390830988701'
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
      - qbrKmEU6OE6Fkzgvd8G+rA.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - ZPN5/7bFXUGPGIDC0t1ZPg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - X1/y3X4Mt0GrveN4b65JpQ.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0be2lZAAAAACJPvWc76rHQYLsSvfZlXtAWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0JtWVZAAAAAChkz+7HCM2R7sjoDq//m7BWVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0dq+kZAAAAADITVuAdblxT6tyLm079M3cWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0BbalZAAAAADqeY4CAjMkTIeKYoz3cFCFWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:23:41 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:23:51 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:03 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:27:18 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:41 GMT
      ms-cv:
      - tE/soOcLKUGiCTPFtdM92Q.0
=======
      - Fri, 23 Jun 2023 17:23:51 GMT
      ms-cv:
      - eua+DbwjXkOFoyIrzoVrjg.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:03 GMT
      ms-cv:
   [...]
