interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
      ms-cv:
      - CmKftY22WUKgNKn79h5cng.0
      operation-id:
      - search_5c5fbb21-5ce9-408d-8537-f9ca17e516e4
      operation-location:
      - /phoneNumbers/operations/search_5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
      search-id:
      - 5c5fbb21-5ce9-408d-8537-f9ca17e516e4
      x-processing-time:
      - 3620ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07",
        "createdDateTime": "2022-12-02T10:04:02.6614728+00:00", "id": "search_5c5fbb21-5ce9-408d-8537-f9ca17e516e4",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
      ms-cv:
      - QUBzhdvq1UyZvKTQfZj6pg.0
      x-processing-time:
      - 492ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "5c5fbb21-5ce9-408d-8537-f9ca17e516e4", "phoneNumbers":
        ["+18337912248"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-12-02T10:20:06.0420611+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YpvNiqROaUCF/pq1DV743A.0
      x-processing-time:
      - 939ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "5c5fbb21-5ce9-408d-8537-f9ca17e516e4"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 49qvxpEtAm6iJwftfpkgavjkzxlAZO2XdFEBu0MKsq0=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - JOdp/fDl1UWd8UAZ10WJ5w.0
      operation-id:
      - purchase_5c5fbb21-5ce9-408d-8537-f9ca17e516e4
      operation-location:
      - /phoneNumbers/operations/purchase_5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
      purchase-id:
      - 5c5fbb21-5ce9-408d-8537-f9ca17e516e4
      x-processing-time:
      - 2192ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_5c5fbb21-5ce9-408d-8537-f9ca17e516e4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-12-02T10:04:02.6614728+00:00", "id": "purchase_5c5fbb21-5ce9-408d-8537-f9ca17e516e4",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iCN8V6W5f0GsVpf39TUHGA.0
      x-processing-time:
      - 291ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 71kFCcWT02wzQeoNNfkLHSuEB772/zTCDHE9gL5W+4g=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ClmbGJdmwEefYxNKu8wmLg.0
      x-processing-time:
      - 904ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
