interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://acstelephonyportaltesting.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers":[{"id":"15017919910","phoneNumber":"+15017919910","countryCode":"US","phoneNumberType":"geographic","capabilities":{"calling":"inbound+outbound","sms":"none"},"assignmentType":"application","purchaseDate":"2021-04-08T17:35:37.4352574+00:00","cost":{"amount":1.0,"currencyCode":"USD","billingFrequency":"monthly"}},{"id":"18332061557","phoneNumber":"+18332061557","countryCode":"US","phoneNumberType":"tollFree","capabilities":{"calling":"inbound","sms":"inbound+outbound"},"assignmentType":"application","purchaseDate":"2021-11-17T11:47:47.2286877+00:00","cost":{"amount":2.0,"currencyCode":"USD","billingFrequency":"monthly"}},{"id":"18333561913","phoneNumber":"+18333561913","countryCode":"US","phoneNumberType":"tollFree","capabilities":{"calling":"inbound","sms":"inbound+outbound"},"assignmentType[...]
