interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:10:38 GMT
      Repeatability-Request-ID:
      - 7773d13e-1c6b-11ee-be67-ef1ec79c5484
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 07 Jul 2023 02:10:38 GMT
=======
      - Fri, 23 Jun 2023 17:23:51 GMT
=======
      - Tue, 04 Jul 2023 23:47:47 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:35 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      Repeatability-Request-ID:
      - c08555e6-1b61-11ee-8e6a-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:23:51 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:47 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:35 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-07T02:10:38.5126411+00:00",
        "validFrom": "2023-07-07T02:10:38.3994481+00:00", "validUntil": "2024-01-03T02:10:38.3994481+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:23:51.9909645+00:00",
        "validFrom": "2023-06-23T17:23:51.9009369+00:00", "validUntil": "2023-12-20T17:23:51.9009369+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:47.8361608+00:00",
        "validFrom": "2023-07-04T23:47:47.7092572+00:00", "validUntil": "2023-12-31T23:47:47.7092572+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:28:35.8398028+00:00",
        "validFrom": "2023-07-05T18:28:35.7229359+00:00", "validUntil": "2024-01-01T18:28:35.7229359+00:00"}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 07 Jul 2023 02:10:37 GMT
      location:
      - '99446942175793423'
      ms-cv:
      - svk+JVsX8k66zlapyIZ1Cg.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 18:28:34 GMT
      location:
      - '99470521604121881'
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
      - mx6jrfVLqE6Diur51xRbAQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - q+3gkPRJi0OOLu0URgzTEw.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Z6hFs0IsdEuahMExfacvBQ.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0HnSnZAAAAACv1tAdVD15SYpcvOCg2zFzWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0J9WVZAAAAADRRatbn6NuQogP1XyklmJgWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0o6+kZAAAAAAzOlxiwVo8SbdSopCn5G1oWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0U7alZAAAAADSdcWtzdQ/TaQyynB61VRaWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-22T19:14:59.829926+00:00", "validUntil": "2022-11-23"}'
    headers:
      Content-Type:
      - application/merge-patch+json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - zlWO4EFhT1ervgHolxeGoDg90Trj1w0sz1JnhetMYZs=
      x-ms-date:
      - Fri, 07 Jul 2023 02:10:39 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - zlWO4EFhT1ervgHolxeGoDg90Trj1w0sz1JnhetMYZs=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:23:52 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:48 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - zlWO4EFhT1ervgHolxeGoDg90Trj1w0sz1JnhetMYZs=
      x-ms-date:
      - Wed, 05 Jul 2023 18:28:36 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:10:38 GMT
      ms-cv:
      - GrSz8epDc0Wgz2fBSOWjqQ.0
=======
      - Fri, 23 Jun 2023 17:23:52 GMT
      ms-cv:
      - QVcFhRZ6qUmka4TSkiTLBg.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:48 GMT
      ms-cv:
      - 3ZmE59cIF0qVeBdkNKDiaQ.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:35 GMT
      ms-cv:
      - JfX33V/ChkCynBdt97K1Ag.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0HnSnZAAAAAC8r8AsBBMvRoMnsc3r5UOUWVZSMzExMDAwMTE1MDM3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0KNWVZAAAAABnGXuGQfu8RKSyQdkntO4ZWVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0pK+kZAAAAACpRHUunquQQKTJu+ykoAb3WVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0VLalZAAAAACM/omRF8WYSYKOdHszRuj4WVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-cache:
      - CONFIG_NOCACHE
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
