interactions:
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - f1ee76c8-cf1f-4683-9925-a1f1799bfbf8
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '<!DOCTYPE html PUBLIC ''-//W3C//DTD XHTML 1.0 Transitional//EN'' ''http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd''><html
        xmlns=''http://www.w3.org/1999/xhtml''><head><meta content=''text/html; charset=utf-8''
        http-equiv=''content-type''/><style type=''text/css''>body {font-family:Arial;
        margin-left:40px; }img  { border:0 none; }#content { margin-left: auto; margin-right:
        auto }#message h2 { font-size: 20px; font-weight: normal; color: #000000;
        margin: 34px 0px 0px 0px }#message p  { font-size: 13px; color: #000000; margin:
        7px 0px 0px0px}#errorref { font-size: 11px; color: #737373; margin-top: 41px
        }</style><title>Service unavailable</title></head><body><div id=''content''><div
        id=''message''><h2>Our services aren''t available right now</h2><p>We''re
        working to restore all services as soon as possible. Please check back soon.</p></div><div
        id=''errorref''><span>0x4brYgAAAAAJcbKum1TKRb+15EATEK3sWVZSMzExMDAwMTE2MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==</span></div></div></body></html>'
    headers:
      content-type:
      - text/html
      x-azure-externalerror:
      - 0x80072ee7,DNSNameNotResolved
    status:
      code: 503
      message: Service Unavailable
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - f1ee76c8-cf1f-4683-9925-a1f1799bfbf8
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2022-08-04T08:43:52Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AIWcw4rEAfulhmUBnj5FmcFtp6BvZE534aoollbHQD4s1@thread.v2
      ms-cv:
      - FBapVFI5+Em1fmT90+/tvg.0
      x-processing-time:
      - 636ms
    status:
      code: 201
      message: Created
version: 1
