interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 10 Jun 2024 13:16:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-06-11T13:16:03.2376209+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sjpycF5OYkWTyPcK9qJpqA.2.0
      x-processing-time:
      - 25ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 9d294233-ded6-44ec-88cc-75586ba1409f
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2024-03-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2024-06-10T13:16:04Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AIB00gMPaUO1rAwlhKLPAk-K3UbtCnxvrpyUhsFpoDGI1@thread.v2
      mise-correlation-id:
      - 9d70f195-6d17-4983-ae60-cbebe332f152
      ms-cv:
      - QRWhYG6nG0+qrvYAW6sp6A.0
      x-processing-time:
      - 614ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2024-03-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AIB00gMPaUO1rAwlhKLPAk-K3UbtCnxvrpyUhsFpoDGI1@thread.v2/messages/1718025366375
      mise-correlation-id:
      - 66863c34-a9a6-4977-8ab3-7e0492d12d9a
      ms-cv:
      - tjYZnktfVESTPzxmrEO33g.0
      x-processing-time:
      - 302ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello there!"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2024-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      mise-correlation-id:
      - b5c7aa24-18de-441b-93c6-9ded1f733c70
      ms-cv:
      - ftw+19CsTE+t0abCIP2Hgw.0
      x-processing-time:
      - 725ms
    status:
      code: 204
      message: No Content
version: 1
