interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 14 Dec 2023 11:19:10 GMT
      Repeatability-Request-Id:
      - 9a7d0b56-9a72-11ee-a103-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Thu, 14 Dec 2023 11:19:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-14T11:19:11.8086366+00:00",
        "validFrom": "2023-12-14T11:19:11.7530918+00:00", "validUntil": "2024-06-11T11:19:11.7530918+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483297419985884'
      ms-cv:
      - rNDRYsVp5E+zRk0SV+5Wkw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-12-14T12:19:11.259782", "validUntil": "2024-07-01T11:19:11.259782",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - VF/22ZvLO3oSgJZzbJTcg+60lbqiaXAUQeb6UhQpoKE=
      x-ms-date:
      - Thu, 14 Dec 2023 11:19:11 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PRE/wc9tRkOMq3QDAgp7Cw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
