interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
      ms-cv:
      - 7ZgWHNHzKUK5XZWFKmt7Gg.0
      operation-id:
      - search_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad
      operation-location:
      - /phoneNumbers/operations/search_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
      search-id:
      - 8bdd95e9-9cb1-487f-8fad-d1a27167b1ad
      x-processing-time:
      - 3969ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07",
        "createdDateTime": "2022-08-16T10:05:53.3222001+00:00", "id": "search_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
      ms-cv:
      - 6Bqt3T1uSky+tV2YIbYN2A.0
      x-processing-time:
      - 363ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "8bdd95e9-9cb1-487f-8fad-d1a27167b1ad", "phoneNumbers":
        ["+18335540445"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-16T10:21:55.7611777+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Sovy3xV8gEmKLZWn6GQecg.0
      x-processing-time:
      - 1370ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "8bdd95e9-9cb1-487f-8fad-d1a27167b1ad"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - MnsOukh6c+mgAbfYjvtf4LOigGqELu6v2aCc3AoLpKU=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - pRD//etaekeTPwOzakvD0g.0
      operation-id:
      - purchase_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad
      operation-location:
      - /phoneNumbers/operations/purchase_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
      purchase-id:
      - 8bdd95e9-9cb1-487f-8fad-d1a27167b1ad
      x-processing-time:
      - 1899ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-16T10:05:53.3222001+00:00", "id": "purchase_8bdd95e9-9cb1-487f-8fad-d1a27167b1ad",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CDrG4AuGbUekb7sW9C6bmQ.0
      x-processing-time:
      - 574ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 6vRg0bwSbO1/YKAV/HD5UL0DivdYG+vB8OKAoNNh7p4=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FaEpKA/jDEO6v2m2+eYccQ.0
      x-processing-time:
      - 282ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
