interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:12:53.919329Z'
      Repeatability-Request-ID:
      - 338157d3-74d9-11ed-a746-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Mon, 05 Dec 2022 20:12:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:12:55.1195262+00:00",
        "validFrom": "2022-12-05T20:12:54.956281+00:00", "validUntil": "2023-06-03T20:12:54.956281+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99443378930471540'
      ms-cv:
      - JU0Zw2DZakewl4hMql5MVg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
