interactions:
- request:
    body: '{"validFrom": "2023-10-16T17:13:35.247740", "validUntil": "2023-10-16T14:13:35.247740",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 16 Oct 2023 16:13:35 GMT
      Repeatability-Request-Id:
      - f5526e79-6c3e-11ee-869d-8cf8c5abc371
      x-ms-content-sha256:
      - xkaveAEA67OWHZgK5DIQEPpMoSh9xDaa39IG4FAb7FA=
      x-ms-date:
      - Mon, 16 Oct 2023 16:13:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a0IZyUu2mkyv1LZqYU0HfQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
