interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-identity/1.3.1 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 07 Jul 2023 01:52:30 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:05:30 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:29:28 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:10:15 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:03:15 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-08T01:52:29.6557144+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:05:30.3056638+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:29:29.3323786+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:10:15.3939272+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
        "expiresOn": "2023-07-07T21:03:15.1223879+00:00"}}'
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:52:28 GMT
      ms-cv:
      - iEfnzyx1BEi2O1fHKF0Y3g.0
=======
      - Fri, 23 Jun 2023 17:05:29 GMT
      ms-cv:
      - o49UWX9p7EuRHZUJaQd1lQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:29:29 GMT
      ms-cv:
      - AcEAdE4mAkmvb9aYoiD1qg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:10:15 GMT
      ms-cv:
      - XrnUHy/7vUiKEynNuhpwmw.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:03:14 GMT
      ms-cv:
      - +t48zmAuIkezqEiPSYmFyA.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 03W+nZAAAAACK+FRMhNGRR4em2DzNbPEsWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 104ms
=======
      - 02tCVZAAAAADvrR65RuP8TKgzZFVFKzyUWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 106ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0WKukZAAAAADemioWf7ecRKeh8eGWTEHZWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 107ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0B7KlZAAAAABPLMmLH+B1TL8TxUEEi9zOWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 105ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 0EiynZAAAAAAe7orasaqUT5aZ1G/3Pq2XWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 131ms
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - e0131d45-f7f8-4442-9341-6d1288af91d5
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - 174a63cb-42ef-40b5-8f17-85293404a06e
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 3b5f392d-31c7-4bd0-944b-0cda767b4649
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 4b8a5ea3-05bb-4ebf-ad17-45c6b30596cd
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - eed3bead-9918-4bf4-bdcd-cd5a7d572b3a
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-07T01:52:30Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:05:30Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:29:29Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:10:15Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
        "2023-07-06T21:03:15Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:52:30 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AveJPJhNE2BF01Pj8QWkYWu9JH1NRCY3L7I_W1SlP8oM1@thread.v2
      ms-cv:
      - FKH9QtX5yEuUQWHwvrTpsw.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 03m+nZAAAAAB20hrVmg3cS4C7H6EGTYQwWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 402ms
=======
      - Fri, 23 Jun 2023 17:05:30 GMT
=======
      [...]
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}, "shareHistoryTime": "2022-01-01T00:00:00.000Z"}]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
>>>>>>> b2629cbf8 (Fix user-identity tests. Rer[...]
