interactions:
- request:
    body: '{"validFrom": "2023-12-15T11:30:00.261475", "validUntil": "2023-12-15T12:30:00.261475",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 15 Dec 2023 10:30:00 GMT
      Repeatability-Request-Id:
      - e6924b7a-9b34-11ee-9c02-a497b10aa3d0
      x-ms-content-sha256:
      - o0UBIifcS1uE5JvWWaJ3W2SKyJ0clcTS2XtMmErWr/o=
      x-ms-date:
      - Fri, 15 Dec 2023 10:30:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-15T10:30:01.3670221+00:00",
        "validFrom": "2023-12-15T11:30:00.261475+00:00", "validUntil": "2023-12-15T12:30:00.261475+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99487409291573523'
      ms-cv:
      - I1CcAJiCq0+tT1MsTFxt1g.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
