interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 07:28:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GSUvMkP+uUGBPG8HYPrLGQ.2.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2025-03-26T08:28:23.237751", "validUntil": "2025-03-26T09:28:23.238751",
      "pstnDialOutEnabled": true, "participants": {"8:acs:5a38e1be-acab-4c16-9ee1-071b1befd665_00000026-713b-d507-1000-343a0d006d79":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 26 Mar 2025 07:28:24 GMT
      Repeatability-Request-Id:
      - e70a8f7e-0a13-11f0-a27c-00155d7b1001
      x-ms-content-sha256:
      - oMmWa36kPKwpEq5WL9qtwVBLyiSRmwLaqZCF77Ztwrw=
      x-ms-date:
      - Wed, 26 Mar 2025 07:28:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-26T07:28:25.2260745+00:00",
        "validFrom": "2025-03-26T08:28:23.237751+00:00", "validUntil": "2025-03-26T09:28:23.238751+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99413580679085362'
      ms-cv:
      - 7UNL32AzmEuMAnkZ3iwFzw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
