interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T10:00:42.578389Z'
      Repeatability-Request-ID:
      - 2eae4255-7228-11ed-a643-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 10:00:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T10:00:43.3531739+00:00",
        "validFrom": "2022-12-02T10:00:43.2583802+00:00", "validUntil": "2023-05-31T10:00:43.2583802+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99438592866608208'
      ms-cv:
      - ZIcbqgXz5EaDelCkmR+XwA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 10:00:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vsQtJIWZ3U2J47+96Qw8kg.0
      x-processing-time:
      - 124ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 3Vs2oKMyFEWBIlIhwqNS34632JvBv0s+gSKBCCVHhWw=
      x-ms-date:
      - Fri, 02 Dec 2022 10:00:43 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T10:00:43.3531739+00:00",
        "validFrom": "2022-12-02T10:00:43.2583802+00:00", "validUntil": "2023-05-31T10:00:43.2583802+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "role":
        "Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - m1CnWwtmmUuZtQu65epD5A.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 10:00:44 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T10:00:43.3531739+00:00",
        "validFrom": "2022-12-02T10:00:43.2583802+00:00", "validUntil": "2023-05-31T10:00:43.2583802+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "role":
        "Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AocuuiMn8kK+lvl6eM0CgA.0
    status:
      code: 200
      message: OK
version: 1
