interactions:
- request:
    body: '{"validFrom": "2023-12-15T11:30:49.013603", "validUntil": "2023-12-15T12:30:49.013603",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 15 Dec 2023 10:30:49 GMT
      Repeatability-Request-Id:
      - 03a0f4fb-9b35-11ee-a47b-a497b10aa3d0
      x-ms-content-sha256:
      - F7f41vH1dMx8izaX3StCkof7ZTuA6VwvtjiZNq5Fjk8=
      x-ms-date:
      - Fri, 15 Dec 2023 10:30:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-15T10:30:50.3135556+00:00",
        "validFrom": "2023-12-15T11:30:49.013603+00:00", "validUntil": "2023-12-15T12:30:49.013603+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99463786863172329'
      ms-cv:
      - hQAADna1f0SUdqSruCkz5Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
