interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
      ms-cv:
      - eILSBP2qLUqW1TjsK/M9Sw.0
      operation-id:
      - search_213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00
      operation-location:
      - /phoneNumbers/operations/search_213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
      search-id:
      - 213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00
      x-processing-time:
      - 2600ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07",
        "createdDateTime": "2022-12-02T09:55:38.4859556+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
      ms-cv:
      - 36ICruQTIE+dpOgh8/mcKA.0
      x-processing-time:
      - 323ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-12-02T10:11:41.5088297+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rbQVf4J73ky7eizBUp/+HQ.0
      x-processing-time:
      - 800ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - bm8WKC7sPH90VU3Qbgnt+dJ5WfSDQouQtXiIwj32B5A=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - ukFqxecyHkiRL/uB6F4S1w.0
      operation-id:
      - purchase_213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00
      operation-location:
      - /phoneNumbers/operations/purchase_213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
      purchase-id:
      - 213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00
      x-processing-time:
      - 1904ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_213c1a3e-fe1f-4e0b-9cdd-c512d4a02d00?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-12-02T09:55:38.4859556+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AYtRdpvjnUee/aB8BOv4EA.0
      x-processing-time:
      - 247ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2022-12-02T09:56:30.5762787+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QsWiZ42HNkmAhX2/J+I0hQ.0
      x-processing-time:
      - 4671ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
