interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Wed, 21 Sep 2022 22:44:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-09-22T22:44:33.4331794+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - uFRwE/Re30GMejGxTI9H5w.0
      x-processing-time:
      - 112ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - a6d59b89-2d84-454f-8e3a-8e79310c19e8
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2022-09-21T22:44:33Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AzLFq-Xep6WMNzypTuMllBe3Wcsa6psbp5Grn7eX4kOQ1@thread.v2
      ms-cv:
      - P6nNGjhaV02D0JbmtEHSkg.0
      x-processing-time:
      - 477ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"communicationIdentifier": {"rawId": "8:acs:f30f1632-f24d-46ec-93eb-64be0c671c1d_00000014-021b-0e14-570c-113a0d0097f7",
        "communicationUser": {"id": "8:acs:f30f1632-f24d-46ec-93eb-64be0c671c1d_00000014-021b-0e14-570c-113a0d0097f7"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AnG++cmec0O1xZ89bqP7Ng.0
      x-processing-time:
      - 99ms
    status:
      code: 200
      message: OK
version: 1
