interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:16:35.202623Z'
      Repeatability-Request-ID:
      - b7667e7f-74d9-11ed-bd8f-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:16:36.3354302+00:00",
        "validFrom": "2022-12-05T20:16:36.2462664+00:00", "validUntil": "2023-06-03T20:16:36.2462664+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99477055799555524'
      ms-cv:
      - w98XMPOatUCd17p/0cQ+vg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - tK6oIRSdGQ2WoGSYiG7V2igNFPdlkZuHloFEmNJ8iQc=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:36 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"error": {"code": "InvalidInput", "message": "Room join policy cannot
        be updated after room start time has elapsed"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KzRcrA7gvUadDSlpfuyPVQ.0
      x-ms-error-code:
      - InvalidInput
    status:
      code: 400
      message: Bad Request
version: 1
