interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:18:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-06T22:18:55.6759481+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WF7LGr2680CI5Rq539Qy9w.0
      x-processing-time:
      - 116ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 880cd755-bdb9-463f-af3d-3302b1356eb7
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "new-topic", "createdOn":
        "2023-07-05T22:18:56Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3Abcer8EJHQDdtDR7Ued_AmoVLI56QxgxT_O2SzC9ZoZ41@thread.v2
      ms-cv:
      - NDAhweUTtk2gIM8NNVU6lg.0
      x-processing-time:
      - 533ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello!", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3Abcer8EJHQDdtDR7Ued_AmoVLI56QxgxT_O2SzC9ZoZ41@thread.v2/messages/1688595536855
      ms-cv:
      - m8jHf1J9Q0KXeENFBqR6Mg.0
      x-processing-time:
      - 204ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "html", "sequenceId": "3", "version": "1688595536855",
        "content": {"message": "hello!"}, "senderDisplayName": "", "createdOn": "2023-07-05T22:18:56Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - C2gB96DGAkyITirBS4J2mQ.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
version: 1
