interactions:
- request:
    body: '{"validFrom": "2024-03-27T01:31:46.674961", "validUntil": "2024-03-26T22:31:46.674961",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 27 Mar 2024 00:31:46 GMT
      Repeatability-Request-Id:
      - 64e4bf0d-ebd1-11ee-931c-70cf49b3e948
      x-ms-content-sha256:
      - SM3WIZfTz4FQG70jb47PJDmD7P7euF5JMGdwz8dLghE=
      x-ms-date:
      - Wed, 27 Mar 2024 00:31:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hciZAOei7UCu+DKNq/qcdw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
