interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-identity/1.3.1 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 07 Jul 2023 01:54:07 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:07:07 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:31:06 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:53 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-08T01:54:07.4326391+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:07:07.7487081+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:31:06.9517237+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:11:53.3763156+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:54:07 GMT
      ms-cv:
      - YRwfMVECLky42ftuWlIb9Q.0
=======
      - Fri, 23 Jun 2023 17:07:07 GMT
      ms-cv:
      - cFFo4ZAEwUKCzkOhsCOWdg.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:31:07 GMT
      ms-cv:
      - bic6LyfgzU+A4RQbe9YPhg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:53 GMT
      ms-cv:
      - FoHHYNhp3E2zzC4nF7g2lg.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0P3CnZAAAAAAXIIDjuS/5T5MWYo6tgIVqWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 108ms
=======
      - 0O9GVZAAAAADOPYFm68QBRrxZMMKlS76cWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 103ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0uqukZAAAAAC7N6DP81SPQ6E7pdvTuD72WVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 101ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0abKlZAAAAAClcUgBacRNQJZ2l17+9lTtWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 106ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 298f7a75-323b-453f-aded-d9430a4fdadf
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - c1452d0a-30e6-4140-99cb-097f2a4fe733
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 089c5481-782e-4f75-b2b3-ea099bdde694
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 069bf4bd-b790-48fd-9aea-8de98427779d
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-07T01:54:07Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:07:08Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:31:07Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:11:53Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:54:08 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3Aoy-fgmuyHFQU2CEJN_b7S5yPa0-szh4TGLg_EqapOWE1@thread.v2
      ms-cv:
      - pdeXCoEVjUGoWIPZE3J/Qw.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0P3CnZAAAAADKCizdcfc3TpA/thisecj9WVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 421ms
=======
      - Fri, 23 Jun 2023 17:07:08 GMT
=======
      - Tue, 04 Jul 2023 23:31:07 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:53 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AZ2K-AuQ5qAKfnZY_t2Wb0o1MryFJNrcX7Nri-sIshSk1@thread.v2
      ms-cv:
      - DMQ5XsQlGE2p3P6gNml06g.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0abKlZAAAAAB1HbeB0dHnR4M6rgfKw/N8WVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 694ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 567ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 343ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{"invalidParticipants": [{"code": "403", "message": "Permissions check
        failed", "target": "8:acs:00000000-1111-2222-3333-444444444444_55555555-6666-7777-8888-999999999999"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:54:07 GMT
      ms-cv:
      - RMALsxhpFkKxwtD9AFIWlA.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
    [...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-communication-chat/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
>>>>>>> ddcd2202f (Adding test recordings)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "BadRequest", "Message": "Identifier
        format is invalid (8:acs:fakeid===).", "Details": []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:54:08 GMT
      ms-cv:
      - QkXvtoGWjkiC7lbQu5+qOg.0
=======
      - Fri, 23 Jun 2023 17:07:09 GMT
      ms-cv:
      - aynwuU0FY0C7KdjTX68lDQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:31:08 GMT
      ms-cv:
      - Ow4PeDDFpkGaIvwSl/kvFw.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:11:54 GMT
      ms-cv:
      - 2PKC6YVS7Eq/lzOG7aCT9g.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0QHCnZAAAAAAt2+tUXG4lT7s15rmw8jGOWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 41ms
=======
      - 0PdGVZAAAAAAWm7LcJ4ffRY5U8qjouETdWVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 44ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0vKukZAAAAACyFX4GAA7fSoKWJSx5gTn+WVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 10ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0a7KlZAAAAADm+25j6CEtRoVs1J9rYbpbWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 47ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 400
      message: Bad Request
version: 1
