interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 26 Mar 2025 09:04:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      location:
      - /availablePhoneNumbers/searchResults/d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
      ms-cv:
      - 9KPcjRPHVE6g1yYR5/Ra0g.0
      operation-id:
      - search_d9f7c552-7b91-402c-85f7-9b4e7b129dc5
      operation-location:
      - /phoneNumbers/operations/search_d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
      search-id:
      - d9f7c552-7b91-402c-85f7-9b4e7b129dc5
      x-processing-time:
      - 4093ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 09:04:57 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11",
        "createdDateTime": "2025-03-26T09:04:56.7654688+00:00", "id": "search_d9f7c552-7b91-402c-85f7-9b4e7b129dc5",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
      ms-cv:
      - mn3g0eC/NkOkNq37TgUeZg.0
      x-processing-time:
      - 530ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 09:05:01 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
  response:
    body:
      string: '{"searchId": "d9f7c552-7b91-402c-85f7-9b4e7b129dc5", "phoneNumbers":
        ["+18335473862"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2025-03-26T09:20:57.8401295+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - t1fsW8cIv0ewZZDEbPtX2A.0
      x-processing-time:
      - 493ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "d9f7c552-7b91-402c-85f7-9b4e7b129dc5"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - wlvJnQexhE7w1lf4Lp9n4SPUgoh/pYg6WUfM2rOc0MM=
      x-ms-date:
      - Wed, 26 Mar 2025 09:05:02 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      ms-cv:
      - 0ZDJCLH1d067kho/PNMKYQ.0
      operation-id:
      - purchase_d9f7c552-7b91-402c-85f7-9b4e7b129dc5
      operation-location:
      - /phoneNumbers/operations/purchase_d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
      purchase-id:
      - d9f7c552-7b91-402c-85f7-9b4e7b129dc5
      x-processing-time:
      - 3150ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 09:05:05 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_d9f7c552-7b91-402c-85f7-9b4e7b129dc5?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "purchase", "status": "notStarted", "resourceLocation":
        null, "createdDateTime": "2025-03-26T09:04:56.7654688+00:00", "id": "purchase_d9f7c552-7b91-402c-85f7-9b4e7b129dc5",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dbPl7r4q9UaCU/AvSff6nQ.0
      x-processing-time:
      - 488ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Qa3QZeWguX1XTE2GZNSct5CW1LW1Ra5bCOOaEwedgUI=
      x-ms-date:
      - Wed, 26 Mar 2025 09:05:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - q87N4vA6WE2QcZ9uGDbvVw.0
      x-processing-time:
      - 586ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
