interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:07:31 GMT
      Repeatability-Request-ID:
      - 081a447b-1c6b-11ee-bfba-ef1ec79c5484
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 07 Jul 2023 02:07:31 GMT
=======
      - Fri, 23 Jun 2023 17:20:32 GMT
=======
      - Tue, 04 Jul 2023 23:44:33 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:18 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      Repeatability-Request-ID:
      - 4b51c810-1b61-11ee-ad8e-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:20:32 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:44:33 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:25:18 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-07T02:07:31.6805862+00:00",
        "validFrom": "2023-07-07T02:07:31.6320175+00:00", "validUntil": "2024-01-03T02:07:31.6320175+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:20:32.9276881+00:00",
        "validFrom": "2023-06-23T17:20:32.7535529+00:00", "validUntil": "2023-12-20T17:20:32.7535529+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:44:35.8623727+00:00",
        "validFrom": "2023-07-04T23:44:34.8531396+00:00", "validUntil": "2023-12-31T23:44:34.8531396+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:25:19.6758296+00:00",
        "validFrom": "2023-07-05T18:25:19.133196+00:00", "validUntil": "2024-01-01T18:25:19.133196+00:00"}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 07 Jul 2023 02:07:30 GMT
      location:
      - '99498620095913568'
      ms-cv:
      - qqeB4oM2P0uqW53PbHcMRg.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 18:25:19 GMT
      location:
      - '99442286413287888'
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
      - rBCb/CeFlUuwcrYVTkbY8Q.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 4qV/RNBPdEyDmvLTIJLMww.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - SOicoVviL0Wx3hdi2Rw6wg.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0Y3OnZAAAAABsYbic4iHnR56ULWZ/wZK/WVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0YNSVZAAAAABQnbfYieB9SZHDAoF3LYbJWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 04a6kZAAAAACOENbteusFTq8ct9ZUJi+ZWVZSMzExMDAwMTE1MDMzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0jrWlZAAAAAA6Yip2n2GqSYJgyVAPKyT/WVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
version: 1
