interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 29 Mar 2024 07:56:00 GMT
      Repeatability-Request-Id:
      - c8634c0c-eda1-11ee-9286-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Fri, 29 Mar 2024 07:56:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-29T07:56:01.8176727+00:00",
        "validFrom": "2024-03-29T07:56:01.5723695+00:00", "validUntil": "2024-09-25T07:56:01.5723695+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99426724776831809'
      ms-cv:
      - MCleySZE6UG90JPcBZt5ag.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-03-29T08:56:01.811738", "validUntil": "2024-10-15T07:56:01.811738",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - zAD8VAF6BsoQH9FnUvTa6MhE4nKrmECb+i02jJvFw0s=
      x-ms-date:
      - Fri, 29 Mar 2024 07:56:01 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HyVRceNY80C8phIZubViZg.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
