interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Mon, 11 Dec 2023 03:52:06 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-12-12T03:52:06.6038851+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qjtexnuCIUyRYQ8Oi0K1XA.2.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 2a1522eb-0600-4f16-be0e-43cb4038d756
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2023-12-11T03:52:07Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AaUn3joT-jKkUMjd-_ds6x56zVjqA8DdrUU5Qoolgr5A1@thread.v2
      ms-cv:
      - gHUE7km14kC2ufueR/BkDw.0
      x-processing-time:
      - 922ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yHLYiTBcXU2ty9/WC/4Blw.0
      x-processing-time:
      - 252ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "sanitized", "type": "topicUpdated", "sequenceId":
        "2", "version": "1702266727593", "content": {"topic": "thread-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2023-12-11T03:52:07Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
        "1", "version": "1702266727495", "content": {"participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "shareHistoryTime":
        "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}, "createdOn": "2023-12-11T03:52:07Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - N8wGgcx4RkOGupzxBLQnaw.0
      x-processing-time:
      - 395ms
    status:
      code: 200
      message: OK
- request:
    body: '{"chatMessageId": "1702266727593"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      ms-cv:
      - IiDsFPAnPkKSuVTTapUKcg.0
      x-processing-time:
      - 321ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"senderCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "chatMessageId": "1702266727593",
        "readOn": "2023-12-11T03:52:09Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CB0ibGIUkEOgcWOuCDKXDA.0
      x-processing-time:
      - 256ms
    status:
      code: 200
      message: OK
version: 1
