interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
      ms-cv:
      - dz+XPj0SHEWad4Kcn9ZETw.0
      operation-id:
      - search_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94
      operation-location:
      - /phoneNumbers/operations/search_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
      search-id:
      - 3f46b3a3-c1c2-4fac-a572-3895c1e9cb94
      x-processing-time:
      - 3613ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07",
        "createdDateTime": "2022-09-21T23:03:40.615383+00:00", "id": "search_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
      ms-cv:
      - znJl2ZhCrUOkTUxjvO73+w.0
      x-processing-time:
      - 685ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "3f46b3a3-c1c2-4fac-a572-3895c1e9cb94", "phoneNumbers":
        ["+18332667147"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-09-21T23:19:42.4533940+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vw8iwrI0MkecXL6gQYjWBw.0
      x-processing-time:
      - 1347ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "3f46b3a3-c1c2-4fac-a572-3895c1e9cb94"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - FnZYnH92+Lp9l83oAozQ6Ibu4sKwCDebhBhiRQTIN2w=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - xdSZ6biL+0m6/2OxWj0jeQ.0
      operation-id:
      - purchase_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94
      operation-location:
      - /phoneNumbers/operations/purchase_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
      purchase-id:
      - 3f46b3a3-c1c2-4fac-a572-3895c1e9cb94
      x-processing-time:
      - 1894ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-09-21T23:03:40.615383+00:00", "id": "purchase_3f46b3a3-c1c2-4fac-a572-3895c1e9cb94",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WC6SOpoNrEa/P9gfV29ZOw.0
      x-processing-time:
      - 338ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 9m7EwcYzk4fYMCAHgxnm+v4huLY/Z7NWocZZK27ebyU=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bDkyWPhjtESp3uc3JNWuLA.0
      x-processing-time:
      - 282ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
