interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      location:
      - /availablePhoneNumbers/searchResults/2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
      ms-cv:
      - +fn8wM5+S0q51QDBzbKCog.0
      operation-id:
      - search_2a77a8fc-7ce6-4772-a73f-032383693ea4
      operation-location:
      - /phoneNumbers/operations/search_2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
      search-id:
      - 2a77a8fc-7ce6-4772-a73f-032383693ea4
      x-processing-time:
      - 4685ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07",
        "createdDateTime": "2022-06-10T00:30:21.7878417+00:00", "id": "search_2a77a8fc-7ce6-4772-a73f-032383693ea4",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
      ms-cv:
      - DBDSfYSCMkSu6H6XS2h1YA.0
      x-processing-time:
      - 354ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "2a77a8fc-7ce6-4772-a73f-032383693ea4", "phoneNumbers":
        ["+18772141103"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-06-10T00:46:24.0376156+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MXztCMP7xkK/bAxKlAOoXw.0
      x-processing-time:
      - 996ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "2a77a8fc-7ce6-4772-a73f-032383693ea4"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - BV6FA4pfi1Zv445E+sTv+/uYtzt/J9dNJciBRr+jECw=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      ms-cv:
      - tuLIr2lQ30eN1mBmaF5S9Q.0
      operation-id:
      - purchase_2a77a8fc-7ce6-4772-a73f-032383693ea4
      operation-location:
      - /phoneNumbers/operations/purchase_2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
      purchase-id:
      - 2a77a8fc-7ce6-4772-a73f-032383693ea4
      x-processing-time:
      - 2014ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_2a77a8fc-7ce6-4772-a73f-032383693ea4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-06-10T00:30:21.7878417+00:00", "id": "purchase_2a77a8fc-7ce6-4772-a73f-032383693ea4",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VVi5q8hRtkWAs7yT+fXhQw.0
      x-processing-time:
      - 352ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 6RZC16+wt2HTn777vQeKwmnhn5prkv+gWuEl64AtAY4=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 693m7+l1fkW7uVBTNlo9wQ.0
      x-processing-time:
      - 300ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
