interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 26 Mar 2024 20:37:57 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bNAw98EyfEuQAQo6G1XLSg.0
      x-processing-time:
      - 13ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:e9b97946-5295-4768-82c1-a8bd612e88c1_0000001f-1c5d-87d8-2c8a-0848220082e3":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 26 Mar 2024 20:37:57 GMT
      Repeatability-Request-Id:
      - bade4d78-ebb0-11ee-ae48-70cf49b3e948
      x-ms-content-sha256:
      - Rqcgm5I/Hoi4Om5GhA4s1nD+Zr2svi/9a2yWMhofSQs=
      x-ms-date:
      - Tue, 26 Mar 2024 20:37:57 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-03-26T20:37:58.675468+00:00",
        "validFrom": "2024-03-26T20:37:58.383618+00:00", "validUntil": "2024-09-22T20:37:58.383618+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99464763844332546'
      ms-cv:
      - 87JjWvnP8E6aBwwmvKL64A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
