interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T01:28:46.893463Z'
      Repeatability-Request-ID:
      - aab4afe8-71e0-11ed-9cbf-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 01:28:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T01:28:47.9646661+00:00",
        "validFrom": "2022-12-02T01:28:47.8946464+00:00", "validUntil": "2023-05-31T01:28:47.8946464+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99420799910731040'
      ms-cv:
      - 4B7Cy6bBlE6lubYzURHsXg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
