interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 26 Mar 2025 08:35:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      location:
      - /availablePhoneNumbers/searchResults/2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
      ms-cv:
      - y5zJF5h3s0u2FlZCpT1EnA.0
      operation-id:
      - search_2a385100-7c46-4bc7-969e-2d6c1593763e
      operation-location:
      - /phoneNumbers/operations/search_2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
      search-id:
      - 2a385100-7c46-4bc7-969e-2d6c1593763e
      x-processing-time:
      - 4863ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 08:35:52 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11",
        "createdDateTime": "2025-03-26T08:35:51.6980371+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
      ms-cv:
      - LBPOLctNU0i745Mh8uA/QA.0
      x-processing-time:
      - 581ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 08:35:53 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
  response:
    body:
      string: '{"searchId": "2a385100-7c46-4bc7-969e-2d6c1593763e", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2025-03-26T08:51:52.4699325+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aqCLQn6R2E6FKbaRzcFUeQ.0
      x-processing-time:
      - 848ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "2a385100-7c46-4bc7-969e-2d6c1593763e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ShrOSDEe+ro7HwhwpVLMacl9rree1PsK9Ou7c8CKziQ=
      x-ms-date:
      - Wed, 26 Mar 2025 08:35:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      ms-cv:
      - HXiCN+8FG0+nnEEzH8lY/Q.0
      operation-id:
      - purchase_2a385100-7c46-4bc7-969e-2d6c1593763e
      operation-location:
      - /phoneNumbers/operations/purchase_2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
      purchase-id:
      - 2a385100-7c46-4bc7-969e-2d6c1593763e
      x-processing-time:
      - 2483ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 08:35:57 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_2a385100-7c46-4bc7-969e-2d6c1593763e?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2025-03-26T08:35:51.6980371+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - J/8HX/2WQ0WEFe0eOqQOng.0
      x-processing-time:
      - 632ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 26 Mar 2025 08:36:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2025-02-11
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2025-03-26T08:36:17.3656923+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FMTLAJyM2kyUu7h7Rq0fzQ.0
      x-processing-time:
      - 1558ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
