interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Wed, 10 Aug 2022 02:14:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-11T02:14:46.3085014+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Yy31QogHU0CmFi5uDVtREQ.0
      x-processing-time:
      - 115ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-other-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 2f72057c-3dfe-406f-b546-f2b08270fddf
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-other-topic", "createdOn":
        "2022-08-10T02:14:46Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ADmNakIClcWtJ4ha6BLJZGysaf1X0yV7NIvKVD6Ngmqw1@thread.v2
      ms-cv:
      - MFsIvWFNtU2Bq37QB0tgrw.0
      x-processing-time:
      - 675ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ADmNakIClcWtJ4ha6BLJZGysaf1X0yV7NIvKVD6Ngmqw1@thread.v2/messages/1660097687768
      ms-cv:
      - OGwE5uUv+0ibOCaYS8NG3Q.0
      x-processing-time:
      - 169ms
    status:
      code: 201
      message: Created
version: 1
