interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:10:42 GMT
      Repeatability-Request-ID:
      - 7a034e96-1c6b-11ee-bddb-ef1ec79c5484
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 07 Jul 2023 02:10:42 GMT
=======
      - Fri, 23 Jun 2023 17:24:13 GMT
=======
      - Tue, 04 Jul 2023 23:47:56 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:39 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:18:07 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      Repeatability-Request-ID:
      - 9a503cff-1c42-11ee-a74c-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:24:13 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:56 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:39 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:18:07 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-07T02:10:42.4937466+00:00",
        "validFrom": "2023-07-07T02:10:42.41556+00:00", "validUntil": "2024-01-03T02:10:42.41556+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:24:14.4894214+00:00",
        "validFrom": "2023-06-23T17:24:14.296543+00:00", "validUntil": "2023-12-20T17:24:14.296543+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:57.6742446+00:00",
        "validFrom": "2023-07-04T23:47:57.1573467+00:00", "validUntil": "2023-12-31T23:47:57.1573467+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:28:41.3734656+00:00",
        "validFrom": "2023-07-05T18:28:40.6586179+00:00", "validUntil": "2024-01-01T18:28:40.6586179+00:00"}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:18:07.6829031+00:00",
        "validFrom": "2023-07-06T21:18:07.5400162+00:00", "validUntil": "2024-01-02T21:18:07.5400162+00:00"}'
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:10:42 GMT
      location:
      - '99466821205299243'
      ms-cv:
      - GabNzQyiC0eJO2p9QL9RzQ.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
=======
      - 2023-03-31-preview, 2023-06-14
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 18:28:40 GMT
=======
      - Thu, 06 Jul 2023 21:18:07 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      location:
      - '99411303461808388'
      ms-cv:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - ExRSPSuJ2EGinsJGFwzBbQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0djXushyy0+ne3W89sgenw.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - KKaWerIiD0WcbSq/1ZOiqw.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - r7UyzDd5+EKdl7quNp5HRA.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0InSnZAAAAAAeYmnl51RsTYBJNBWYODKKWVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0PdWVZAAAAABQoXHiv9KdRp/8uedA4twCWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0rK+kZAAAAAAUNXmT9yWcSIJl+jjKZ0S9WVZSMzExMDAwMTE1MDM3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0WLalZAAAAACESeBmvsCESZimiyf4167JWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 0jy+nZAAAAABInCQKs1h2SL2fZgwI0YNLWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AzureCli/1.7.0b1 azsdk-python-communication-identity/1.3.1 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 02:10:43 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:24:15 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:57 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:41 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:18:08 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 02:10:42 GMT
      ms-cv:
      - zyvdVOILsUa5tBOfRFDv3A.0
=======
      - Fri, 23 Jun 2023 17:24:14 GMT
      ms-cv:
      - PHCuQROvyEKXR16qdOGI/w.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:57 GMT
      ms-cv:
      - QbFckPN9gkut49hLOKEZNg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:28:41 GMT
      ms-cv:
      - 0gAWh93yfUuVLP9ItIWhaw.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:18:07 GMT
      ms-cv:
      - C5LTK3+t90GW6vqRImu+5w.0
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0I3SnZAAAAAAulY/Cw1lTQINVZvFxMsaHWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 119ms
=======
      - 0PtWVZAAAAACGSl8ejFoLTJo7OkrrxXYdWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 102ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0WbalZAAAAADps3qmZ0dCQJPtdcYlQc6aWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 98ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 0kC+nZAAAAABMc40k2kHJSL2LJZoh5+gVWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 100ms
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    status:
      code: 201
      message: Created
[...]
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"participants": {"8:acs:df86859f-6e35-4519-b2af-129faad9f2ec_00000019-cdff-4e71-80f5-8b3a0d00acba":
      {"role": "Presenter"}, "8:acs:df86859f-6e35-4519-b2af-129faad9f2ec_00000019-cdff-5042-9c32-8e3a0d00b51d":
=======
    body: '{"participants": {"8:acs:8bee634d-b4e9-4d4b-9e09-af047e6a9014_00000019-892a-a1e7-69ff-9c3a0d006c65":
      {"role": "Presenter"}, "8:acs:8bee634d-b4e9-4d4b-9e09-af047e6a9014_00000019-892a-a3c5-bc66-563a0d006f72":
>>>>>>> ddcd2202f (Adding test recordings)
=======
    body: null
    headers:
      Content-Type:
      - application/json
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:18:09 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pEnl+T2oAEirQN/ICDmmeA.0
      x-processing-time:
      - 97ms
    status:
      code: 201
      message: Created
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"participants": {"8:acs:fb041838-5b4d-4828-9794-014649a0379f_00000019-c32f-e458-2633-8e3a0d000151":
      {"role": "Presenter"}, "8:acs:fb041838-5b4d-4828-9794-014649a0379f_00000019-c32f-e5e4-69f0-553a0d000228":
>>>>>>> 7c5b674c0 (Reran tests)
=======
    body: '{"participants": {"8:acs:4d8b282c-7fd9-431b-89ab-3a277f59756b_00000019-c731-f3bf-7bfa-553a0d0036cc":
      {"role": "Presenter"}, "8:acs:4d8b282c-7fd9-431b-89ab-3a277f59756b_000000[...]
[...]
