interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
      ms-cv:
      - RgXIbYmX3kikVNh3vfINtg.0
      operation-id:
      - search_1b997f52-71e6-4a08-83e9-96883ca9bca1
      operation-location:
      - /phoneNumbers/operations/search_1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
      search-id:
      - 1b997f52-71e6-4a08-83e9-96883ca9bca1
      x-processing-time:
      - 5151ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07",
        "createdDateTime": "2022-09-21T22:54:18.3761636+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
      ms-cv:
      - mzCSFlB8lEe1OgRDEBAp0g.0
      x-processing-time:
      - 571ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "1b997f52-71e6-4a08-83e9-96883ca9bca1", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-09-21T23:10:20.6903814+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kpYl+4eja0CJBrk/bGy3jA.0
      x-processing-time:
      - 1095ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "1b997f52-71e6-4a08-83e9-96883ca9bca1"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Cbpqr27Nd2avhloZa13OAtjWe0NoVcyQvs9pUsEm2cI=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - QcThO952xkGyqcQb7kiFTQ.0
      operation-id:
      - purchase_1b997f52-71e6-4a08-83e9-96883ca9bca1
      operation-location:
      - /phoneNumbers/operations/purchase_1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
      purchase-id:
      - 1b997f52-71e6-4a08-83e9-96883ca9bca1
      x-processing-time:
      - 2475ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_1b997f52-71e6-4a08-83e9-96883ca9bca1?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-09-21T22:54:18.3761636+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - w0qjWqOQyUapSKLaFtxqIw.0
      x-processing-time:
      - 626ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2022-09-21T22:55:11.1424551+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zhhfmfatV0GRBnHAbPBYdA.0
      x-processing-time:
      - 2775ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
