interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 15 Dec 2023 10:38:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
      ms-cv:
      - NPTX0gv2EkS2NclTh7S0jg.0
      operation-id:
      - search_1da29dfd-5654-4dd4-9821-1951ddfb1ef2
      operation-location:
      - /phoneNumbers/operations/search_1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
      search-id:
      - 1da29dfd-5654-4dd4-9821-1951ddfb1ef2
      x-processing-time:
      - 2656ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:38:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01",
        "createdDateTime": "2023-12-15T10:38:30.9678019+00:00", "id": "search_1da29dfd-5654-4dd4-9821-1951ddfb1ef2",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
      ms-cv:
      - kMQXEJVT6Uyg5RfkoS+mtQ.0
      x-processing-time:
      - 473ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:38:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "1da29dfd-5654-4dd4-9821-1951ddfb1ef2", "phoneNumbers":
        ["+18334231556"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-15T10:54:33.1836416+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4EZwy4y2C0SccEZqjTSZPw.0
      x-processing-time:
      - 419ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "1da29dfd-5654-4dd4-9821-1951ddfb1ef2"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - l9qbI6NOgIrNW26cH9vZZMDmd449VINfFa+ru4qDnAo=
      x-ms-date:
      - Fri, 15 Dec 2023 10:38:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - JjlJkAHlnkuyzS6oGNqGyg.0
      operation-id:
      - purchase_1da29dfd-5654-4dd4-9821-1951ddfb1ef2
      operation-location:
      - /phoneNumbers/operations/purchase_1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
      purchase-id:
      - 1da29dfd-5654-4dd4-9821-1951ddfb1ef2
      x-processing-time:
      - 920ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:38:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_1da29dfd-5654-4dd4-9821-1951ddfb1ef2?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-15T10:38:30.9678019+00:00", "id": "purchase_1da29dfd-5654-4dd4-9821-1951ddfb1ef2",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UJQ1OcTCU0e+tplgbAHRYg.0
      x-processing-time:
      - 280ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - NYYLrRvm7MHw8w2gSGWPer1yNvLk0oWx1Px4dEjoEz8=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a5GYX8hURUWvq8BHKZeCXg.0
      x-processing-time:
      - 1203ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
