interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 29 Mar 2024 07:45:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
      ms-cv:
      - 6dVTPla+Gk+kUJ0WyiWasg.0
      operation-id:
      - search_fa7502e5-7c90-45a8-9c0c-5d02e59dcf08
      operation-location:
      - /phoneNumbers/operations/search_fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
      search-id:
      - fa7502e5-7c90-45a8-9c0c-5d02e59dcf08
      x-processing-time:
      - 4005ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 29 Mar 2024 07:45:28 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01",
        "createdDateTime": "2024-03-29T07:45:28.5965113+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2,
        2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
      ms-cv:
      - cIjpIScJ3k2KfGCg4grpyA.0
      x-processing-time:
      - 226ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 29 Mar 2024 07:45:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "fa7502e5-7c90-45a8-9c0c-5d02e59dcf08", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-03-29T08:01:29.7227398+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /MC3Bc0IKkq1K9OyPbLSyg.0
      x-processing-time:
      - 452ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "fa7502e5-7c90-45a8-9c0c-5d02e59dcf08"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - TsrZE8xLIjqku/cR7e72f+eQBbj43ld298n10G81axg=
      x-ms-date:
      - Fri, 29 Mar 2024 07:45:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      ms-cv:
      - 00AJjRadVUaVEB9k2uspmw.0
      operation-id:
      - purchase_fa7502e5-7c90-45a8-9c0c-5d02e59dcf08
      operation-location:
      - /phoneNumbers/operations/purchase_fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
      purchase-id:
      - fa7502e5-7c90-45a8-9c0c-5d02e59dcf08
      x-processing-time:
      - 985ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 29 Mar 2024 07:45:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_fa7502e5-7c90-45a8-9c0c-5d02e59dcf08?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-03-29T07:45:28.5965113+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2,
        2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nYYpcqOLIkGBR2iG0izR7g.0
      x-processing-time:
      - 258ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 29 Mar 2024 07:45:52 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2024-03-29T07:45:48.5835142+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview,
        2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - blYCrZVaaUKhrjjxvU6mYA.0
      x-processing-time:
      - 2279ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
