interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 08 Aug 2022 22:20:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-09T22:20:58.3819296+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GzAEuKxL/kWJh2BnIw3Mtg.0
      x-processing-time:
      - 118ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 721c36a2-3a09-4b6d-a79b-9677a93fe6db
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2022-08-08T22:20:59Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A3LHqAYg1zhBaqvAVDwtSdm7TqkSdthorDuQKp-f31tE1@thread.v2
      ms-cv:
      - wKI+SV2D7UqNqE80YoNm0Q.0
      x-processing-time:
      - 600ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:257d3a6a-4a24-4368-b0ae-bf1e798c54d0_00000013-1f6d-ad85-3dfe-9c3a0d00f29c"}},
      "shareHistoryTime": "2022-01-01T00:00:00.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EO9kQOHU9UODO8aUM0WUDA.0
      x-processing-time:
      - 352ms
    status:
      code: 201
      message: Created
version: 1
