interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Wed, 21 Sep 2022 22:52:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HqQg3/SF70yXbRYpSWQmHg.0
      x-processing-time:
      - 114ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - sZHRO4JkAmw3HcI1PyxrC5twHvkHIWjyMLVIkauXKRA=
      x-ms-date:
      - Wed, 21 Sep 2022 22:52:37 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2022-09-22T22:52:38.8405938+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Hybzgm0b9U6oYt45Q7EPSA.0
      x-processing-time:
      - 183ms
    status:
      code: 200
      message: OK
version: 1
