interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:34 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
      ms-cv:
      - xxWXIKx+LUWPFD4vylwj6A.0
      operation-id:
      - search_051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91
      operation-location:
      - /phoneNumbers/operations/search_051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
      search-id:
      - 051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91
      x-processing-time:
      - 2926ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:37 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview",
        "createdDateTime": "2024-04-22T18:13:37.6944522+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
      ms-cv:
      - esndefI4JkK9Y/Ibb2rqcw.0
      x-processing-time:
      - 235ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:40 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
  response:
    body:
      string: '{"searchId": "051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T18:29:40.1844846+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CYyyopQLZE+jvJEk+5VOEQ.0
      x-processing-time:
      - 410ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91", "consentToNotResellNumbers":
      false}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - BNSaz0nNC7/5wyNZ+CtegAFy/vK1gBHzwVr2BWCcRr8=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - yDo2oFIY/EWT6OYfeof3tQ.0
      operation-id:
      - purchase_051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91
      operation-location:
      - /phoneNumbers/operations/purchase_051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
      purchase-id:
      - 051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91
      x-processing-time:
      - 1075ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:13:42 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_051cc7aa-f27b-4c67-bbc8-2cd3f1cc0d91?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T18:13:37.6944522+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oLrH0hqxdUeQIBQ3QWA+eQ.0
      x-processing-time:
      - 221ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 18:15:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2023-10-01-preview
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2024-04-22T18:15:28.7550289+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - r0JxMWnx/Ue1dMF3M8Rf6Q.0
      x-processing-time:
      - 1394ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
