interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 24 Mar 2025 07:47:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      location:
      - /availablePhoneNumbers/searchResults/474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
      ms-cv:
      - 9T2YtJjaD06DjthqqrWQjA.0
      operation-id:
      - search_474fc716-9f9c-4f04-bdb5-9c9c58358755
      operation-location:
      - /phoneNumbers/operations/search_474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
      search-id:
      - 474fc716-9f9c-4f04-bdb5-9c9c58358755
      x-processing-time:
      - 4706ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 24 Mar 2025 07:47:19 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11",
        "createdDateTime": "2025-03-24T07:47:18.5506424+00:00", "id": "search_474fc716-9f9c-4f04-bdb5-9c9c58358755",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
      ms-cv:
      - jiT29xeOXEGx76ENA/ZR7A.0
      x-processing-time:
      - 653ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 24 Mar 2025 07:47:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
  response:
    body:
      string: '{"searchId": "474fc716-9f9c-4f04-bdb5-9c9c58358755", "phoneNumbers":
        ["+18332319961"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2025-03-24T08:03:19.2686267+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WeayqN3+PUOktg1ceeO14g.0
      x-processing-time:
      - 576ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "474fc716-9f9c-4f04-bdb5-9c9c58358755"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - c0HBMY1/45qe0JdQEFa9Ks/4+JdHfHqRiERE10M6IpA=
      x-ms-date:
      - Mon, 24 Mar 2025 07:47:21 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2025-02-11
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview,
        2025-04-01, 2025-04-15-preview
      ms-cv:
      - OMGvHmCeu0i4c6mGISQIyA.0
      operation-id:
      - purchase_474fc716-9f9c-4f04-bdb5-9c9c58358755
      operation-location:
      - /phoneNumbers/operations/purchase_474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
      purchase-id:
      - 474fc716-9f9c-4f04-bdb5-9c9c58358755
      x-processing-time:
      - 1994ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 24 Mar 2025 07:47:23 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_474fc716-9f9c-4f04-bdb5-9c9c58358755?api-version=2025-02-11
  response:
    body:
      string: '{"operationType": "purchase", "status": "notStarted", "resourceLocation":
        null, "createdDateTime": "2025-03-24T07:47:18.5506424+00:00", "id": "purchase_474fc716-9f9c-4f04-bdb5-9c9c58358755",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview,
        2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VjTiB6iiDkifpOjwvrX66Q.0
      x-processing-time:
      - 460ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - wcIC6rGba0yAsWyncmVINxDZ2o2fuYUNOH+lMrRyzg4=
      x-ms-date:
      - Mon, 24 Mar 2025 07:47:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - B+jNT4WPSkKUjLDDjS9gTw.0
      x-processing-time:
      - 929ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
