interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 15 Dec 2023 10:40:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
      ms-cv:
      - nIApLfcLb0KTTqhEJwn6wQ.0
      operation-id:
      - search_ce1f231d-8c7e-4095-b1d9-079b2b8681a3
      operation-location:
      - /phoneNumbers/operations/search_ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
      search-id:
      - ce1f231d-8c7e-4095-b1d9-079b2b8681a3
      x-processing-time:
      - 3332ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:40:17 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01",
        "createdDateTime": "2023-12-15T10:40:17.0958937+00:00", "id": "search_ce1f231d-8c7e-4095-b1d9-079b2b8681a3",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
      ms-cv:
      - ycaP4IUgy0+6OVU8/sSjiw.0
      x-processing-time:
      - 244ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:40:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "ce1f231d-8c7e-4095-b1d9-079b2b8681a3", "phoneNumbers":
        ["+18442941733"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-15T10:56:18.6842459+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DiZ3/uEyzEmA7gU3QTNWTg.0
      x-processing-time:
      - 388ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "ce1f231d-8c7e-4095-b1d9-079b2b8681a3"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - xlKgLmDmQW5Cs+p+9Y/c/9xr8lHNVRljYbKDp0Vbw2o=
      x-ms-date:
      - Fri, 15 Dec 2023 10:40:21 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - dnG6CVN3F0u/xl/L0nfbFg.0
      operation-id:
      - purchase_ce1f231d-8c7e-4095-b1d9-079b2b8681a3
      operation-location:
      - /phoneNumbers/operations/purchase_ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
      purchase-id:
      - ce1f231d-8c7e-4095-b1d9-079b2b8681a3
      x-processing-time:
      - 968ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:40:22 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_ce1f231d-8c7e-4095-b1d9-079b2b8681a3?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-15T10:40:17.0958937+00:00", "id": "purchase_ce1f231d-8c7e-4095-b1d9-079b2b8681a3",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CQ6931dZ8kel8LZ4g1OT5A.0
      x-processing-time:
      - 250ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - HAy1rXoYbT+g0CPzP1KY4pFjwB7AIRjRQ6UykcpR9R0=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - N2Rgd4RCKUuL1ayX9OFFOQ.0
      x-processing-time:
      - 730ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
