interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
      ms-cv:
      - u74KjtuPy0a2XEcqOb5FNQ.0
      operation-id:
      - search_07946b46-db49-4800-9290-690047e74e28
      operation-location:
      - /phoneNumbers/operations/search_07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
      search-id:
      - 07946b46-db49-4800-9290-690047e74e28
      x-processing-time:
      - 3194ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T16:33:42.0989473+00:00", "id": "search_07946b46-db49-4800-9290-690047e74e28",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
      ms-cv:
      - vhHSfVFw+06x49IVagzhHQ.0
      x-processing-time:
      - 317ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "07946b46-db49-4800-9290-690047e74e28", "phoneNumbers":
        ["+18443038308"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T16:49:43.6567982+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZTpm9HLgjkyOe4efIuPY5A.0
      x-processing-time:
      - 432ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "07946b46-db49-4800-9290-690047e74e28"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 6V+d11Chf928oPIaETewu2xaxDf3fklGzcW+PVAqlh8=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - eSEL8qLEX0O4c9jbyno73Q.0
      operation-id:
      - purchase_07946b46-db49-4800-9290-690047e74e28
      operation-location:
      - /phoneNumbers/operations/purchase_07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
      purchase-id:
      - 07946b46-db49-4800-9290-690047e74e28
      x-processing-time:
      - 1163ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_07946b46-db49-4800-9290-690047e74e28?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T16:33:42.0989473+00:00", "id": "purchase_07946b46-db49-4800-9290-690047e74e28",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qGysY24EcU6OTX+P5tzKqw.0
      x-processing-time:
      - 210ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - igUTB513Q+LyblqrtMt474LMgkWBf3S3WGcbNLeWqSU=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2Kadxru8n0+fDyAettJWqA.0
      x-processing-time:
      - 82ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
