interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
      ms-cv:
      - y1B14iU/k0CfP7JFI6w4YQ.0
      operation-id:
      - search_fd46d930-43bd-40f8-8bf5-4c818612eceb
      operation-location:
      - /phoneNumbers/operations/search_fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
      search-id:
      - fd46d930-43bd-40f8-8bf5-4c818612eceb
      x-processing-time:
      - 3543ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07",
        "createdDateTime": "2022-12-02T10:04:51.5596036+00:00", "id": "search_fd46d930-43bd-40f8-8bf5-4c818612eceb",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
      ms-cv:
      - IvlTcDJ96kCsGTBzbFeMFg.0
      x-processing-time:
      - 242ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "fd46d930-43bd-40f8-8bf5-4c818612eceb", "phoneNumbers":
        ["+18442172892"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-12-02T10:20:53.4239930+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - M7jSAklYeUOOZLKFWijLzA.0
      x-processing-time:
      - 751ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "fd46d930-43bd-40f8-8bf5-4c818612eceb"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - tgbWTvx2QHZOSAJZ2KMTmeGDI4PtmXQ67P8cCahEjaU=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - fXUDVlXHBEexg7ZDKXBajw.0
      operation-id:
      - purchase_fd46d930-43bd-40f8-8bf5-4c818612eceb
      operation-location:
      - /phoneNumbers/operations/purchase_fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
      purchase-id:
      - fd46d930-43bd-40f8-8bf5-4c818612eceb
      x-processing-time:
      - 1337ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_fd46d930-43bd-40f8-8bf5-4c818612eceb?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-12-02T10:04:51.5596036+00:00", "id": "purchase_fd46d930-43bd-40f8-8bf5-4c818612eceb",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - h1cowSAf+0qboIYgUm1a0A.0
      x-processing-time:
      - 249ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hjKXyMtmwcOkLfsvfAnnaDKWN2FmZBVv1T7/Q1qbdnA=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k3HfnuOY/kqWCBt9J0h27w.0
      x-processing-time:
      - 524ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
