interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
      ms-cv:
      - lwaHoZD3EECj1MBx26vOxQ.0
      operation-id:
      - search_bd7495d0-257d-4ab9-87de-055470e9e496
      operation-location:
      - /phoneNumbers/operations/search_bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
      search-id:
      - bd7495d0-257d-4ab9-87de-055470e9e496
      x-processing-time:
      - 2638ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07",
        "createdDateTime": "2022-08-05T18:51:45.8215137+00:00", "id": "search_bd7495d0-257d-4ab9-87de-055470e9e496",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
      ms-cv:
      - gwIJ+3KOs0yqGZdnl51Zbg.0
      x-processing-time:
      - 328ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "bd7495d0-257d-4ab9-87de-055470e9e496", "phoneNumbers":
        ["+18335966373"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-05T19:07:47.7395323+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xCohvMw6AEuH+pplHRq6Dg.0
      x-processing-time:
      - 2702ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "bd7495d0-257d-4ab9-87de-055470e9e496"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - NKgGs5uUjoyOguaLnqBajWyYtKe1Fzg0dAmULrWKHEY=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - g7ZjtUIqYkCaPjEoIX4cDw.0
      operation-id:
      - purchase_bd7495d0-257d-4ab9-87de-055470e9e496
      operation-location:
      - /phoneNumbers/operations/purchase_bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
      purchase-id:
      - bd7495d0-257d-4ab9-87de-055470e9e496
      x-processing-time:
      - 2370ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_bd7495d0-257d-4ab9-87de-055470e9e496?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-05T18:51:45.8215137+00:00", "id": "purchase_bd7495d0-257d-4ab9-87de-055470e9e496",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /icR6uOyVECKFG5flNSUcQ.0
      x-processing-time:
      - 497ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 32Sm4vkYcI2QwiD5CLnxIP0CW2Z9dsKNk47etOwddQw=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cLvazjaMc0WWdZnmsIaB/g.0
      x-processing-time:
      - 558ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
