interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
      ms-cv:
      - lF6OjIXTiUygJzR29Ygt+A.0
      operation-id:
      - search_daee3c02-ff9c-4471-affd-6ecefbc5634d
      operation-location:
      - /phoneNumbers/operations/search_daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
      search-id:
      - daee3c02-ff9c-4471-affd-6ecefbc5634d
      x-processing-time:
      - 4808ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07",
        "createdDateTime": "2022-08-16T10:03:06.6005275+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
      ms-cv:
      - PPPCxoNAKE6KXxsAco2uaA.0
      x-processing-time:
      - 346ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "daee3c02-ff9c-4471-affd-6ecefbc5634d", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-16T10:19:09.1577578+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - V77idBuuoku0FgcpaoVeKQ.0
      x-processing-time:
      - 1220ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "daee3c02-ff9c-4471-affd-6ecefbc5634d"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - mW6DOLK8/P/1iH7cJUnUzXnPlqeR/3yLhvspY1J+hk4=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - ySa4BpVCCk+gwvbFpf9mhg.0
      operation-id:
      - purchase_daee3c02-ff9c-4471-affd-6ecefbc5634d
      operation-location:
      - /phoneNumbers/operations/purchase_daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
      purchase-id:
      - daee3c02-ff9c-4471-affd-6ecefbc5634d
      x-processing-time:
      - 1949ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_daee3c02-ff9c-4471-affd-6ecefbc5634d?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-16T10:03:06.6005275+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iOOhq3V0m0ammIf6EC7YQw.0
      x-processing-time:
      - 379ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2022-08-16T10:03:56.35774+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Tu+JS/GbtEmrscFDHxK2dg.0
      x-processing-time:
      - 2391ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
