interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 10 Jun 2024 13:56:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
      ms-cv:
      - 94IrVjstC0yFZ2xmQjxeTw.0
      operation-id:
      - search_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39
      operation-location:
      - /phoneNumbers/operations/search_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
      search-id:
      - d5f5b854-e27d-404b-9e73-9b8c1ceb3c39
      x-processing-time:
      - 2507ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:56:56 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview",
        "createdDateTime": "2024-06-10T13:56:55.6764051+00:00", "id": "search_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
      ms-cv:
      - SPWVYxqaZE25TJnYK9bxwQ.0
      x-processing-time:
      - 301ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:57:02 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
  response:
    body:
      string: '{"searchId": "d5f5b854-e27d-404b-9e73-9b8c1ceb3c39", "phoneNumbers":
        ["+18337939050"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-06-10T14:12:57.2251760+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8SU2oT8oJ02zMgcBgR/yCA.0
      x-processing-time:
      - 581ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "d5f5b854-e27d-404b-9e73-9b8c1ceb3c39", "consentToNotResellNumbers":
      false}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 6jyypTYEXEOvsZcIS/JIZNGbcf9R94U0YpkRjDqHacI=
      x-ms-date:
      - Mon, 10 Jun 2024 13:57:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - 1y5GM0P7gEOeooMnVXuWIQ.0
      operation-id:
      - purchase_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39
      operation-location:
      - /phoneNumbers/operations/purchase_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
      purchase-id:
      - d5f5b854-e27d-404b-9e73-9b8c1ceb3c39
      x-processing-time:
      - 1374ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:57:06 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39?api-version=2023-10-01-preview
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-06-10T13:56:55.6764051+00:00", "id": "purchase_d5f5b854-e27d-404b-9e73-9b8c1ceb3c39",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Y3kU/zgLnkqsaJjOpr4hjw.0
      x-processing-time:
      - 295ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - v/dhx3msPlW9pwV/sVVcDBWh9UyvZXGaU8AbRlHc2Rg=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hNbMMiGQCUye9W4pcSFENw.0
      x-processing-time:
      - 1211ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
