interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Tue, 26 Mar 2024 20:37:55 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-03-27T20:37:56.082137+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SPy1Nq8QrUSyGivaucf2oA.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-other-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 775bdd44-4ca4-4ecf-842e-b27d90447d92
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-other-topic", "createdOn":
        "2024-03-26T20:37:56Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://managedidentitylive.unitedstates.communication.azure.com/chat/threads/19%3AvzHvXmyMhkDY2KOJ5NB23NnLSfUu9Vo4gJyeo37UMJ41@thread.v2
      ms-cv:
      - bcaUBa/HMEaKEdTs94mEFw.0
      x-processing-time:
      - 1049ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://managedidentitylive.unitedstates.communication.azure.com/chat/threads/19%3AvzHvXmyMhkDY2KOJ5NB23NnLSfUu9Vo4gJyeo37UMJ41@thread.v2/messages/1711485478038
      ms-cv:
      - WfIWtxgvoE+iGsnJMbhUyQ.0
      x-processing-time:
      - 169ms
    status:
      code: 201
      message: Created
version: 1
