interactions:
- request:
    body: '{"validFrom": "2023-12-11T04:59:21.260857", "validUntil": "2023-12-11T05:59:21.260857",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 11 Dec 2023 03:59:21 GMT
      Repeatability-Request-Id:
      - aa41769f-97d9-11ee-8501-a497b10aa3d0
      x-ms-content-sha256:
      - v0nANixgloVsxMvNnyB5Zw4wsVP62x21SR4OUIJYM5M=
      x-ms-date:
      - Mon, 11 Dec 2023 03:59:21 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-11T03:59:20.8252224+00:00",
        "validFrom": "2023-12-11T04:59:21.260857+00:00", "validUntil": "2023-12-11T05:59:21.260857+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99446321684523162'
      ms-cv:
      - kcH73ocLD0CRafBJdnF0nA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
