interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:28 GMT
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:25:28 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:49:25 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:12 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:32 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:30 GMT
      location:
      - /availablePhoneNumbers/searchResults/b2ba7e37-16df-4444-9e49-b9e6943e06a9?api-version=2022-12-01
      ms-cv:
      - Y1GIq2YaW0GcM0bczpwIbQ.0
      operation-id:
      - search_b2ba7e37-16df-4444-9e49-b9e6943e06a9
      operation-location:
      - /phoneNumbers/operations/search_b2ba7e37-16df-4444-9e49-b9e6943e06a9?api-version=2022-12-01
      search-id:
      - b2ba7e37-16df-4444-9e49-b9e6943e06a9
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0r26nZAAAAADMr2aXwoLzRK9Ej1oeOyzZWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 2236ms
=======
      - Fri, 23 Jun 2023 17:25:29 GMT
=======
      - Tue, 04 Jul 2023 23:49:26 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:30:15 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - Thu, 06 Jul 2023 21:19:33 GMT
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      location:
      - /availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      ms-cv:
      - SGo2tMK2kUadmo7s9mYBIg.0
      operation-id:
      - search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      operation-location:
      - /phoneNumbers/operations/search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      search-id:
      - a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 04y+nZAAAAACV/ZgFhc4ASI7/uwIGzSAnWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 2190ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 2017ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 3129ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
=======
      - 1923ms
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 07 Jul 2023 01:47:31 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_b2ba7e37-16df-4444-9e49-b9e6943e06a9?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/b2ba7e37-16df-4444-9e49-b9e6943e06a9?api-version=2022-12-01",
        "createdDateTime": "2023-07-07T01:47:29.9382784+00:00", "id": "search_b2ba7e37-16df-4444-9e49-b9e6943e06a9",
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
=======
      - azsdk-python-communication-phonenumbers/1.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
>>>>>>> b2629cbf8 (Fix user-identity tests. Reran the whole test suite)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:34 GMT
      x-ms-return-client-r[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:19:33.4798009+00:00", "id": "search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      ms-cv:
      - bMgztD0PJk68dwN90c1Ehw.0
      x-processing-time:
      - 218ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "a7f56f7a-4589-4e7e-842e-7291e5d53d0e", "phoneNumbers":
        ["+18332407762"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:35:36.2139001+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c8laFNPDiU6xAj6RJZ95/g.0
      x-processing-time:
      - 487ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "a7f56f7a-4589-4e7e-842e-7291e5d53d0e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - DrjYxFL3TMyvpYFEKRmT7L8jFyTxLIYVHNO81H5ar/A=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - xnrrSNnpjEyPzXt6A/efnQ.0
      operation-id:
      - purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      operation-location:
      - /phoneNumbers/operations/purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      purchase-id:
      - a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      x-processing-time:
      - 792ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:19:33.4798009+00:00", "id": "purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0Y0WHpibx0G1Rrj0lOHPAg.0
      x-processing-time:
      - 220ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
=======
>>>>>>> ddcd2202f (Adding test recordings)
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 07 Jul 2023 01:47:56 GMT
      User-Agent:
      - AzureCli/1.7.0b1 azsdk-python-communication-sms/1.0.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - f44pP/0R2MdXLU+SLZlle3zK5yVCz8NJIdGCbpMG6cQ=
=======
      - Fri, 23 Jun 2023 17:25:53 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - gbSdBAr2G3KgEFcwrmfEnG1sQN1pkJ+rIY0GKz6ktnA=
>>>>>>> ddcd2202f (Adding test recordings)
=======
     [...]
