interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 10 Jun 2024 13:39:24 GMT
      Repeatability-Request-Id:
      - d971b8fc-272e-11ef-9ada-00155d7acf01
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 10 Jun 2024 13:39:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-06-10T13:39:25.6465208+00:00",
        "validFrom": "2024-06-10T13:39:25.3708056+00:00", "validUntil": "2024-12-07T13:39:25.3708056+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99434592922898749'
      ms-cv:
      - bUOOZnNcKEOvwGYg//Xqyw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 10 Jun 2024 13:39:26 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2024-04-15
  response:
    body:
      string: '{"value": []}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JoFNoyoclk2u8B2K0ZCveg.0
    status:
      code: 200
      message: OK
version: 1
