interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Thu, 27 Mar 2025 06:47:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2025-03-28T06:47:40.3388211+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /3r/if9+bUuXYuqjO9zZ5Q.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 39839408-4e7f-4fd4-9c55-404097ea88db
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2024-03-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2025-03-27T06:47:41Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AacsV1_ViPWadgq6NhXng4LtCVhBs_bpxY6zcqMSuMzm3DU_Zc1@thread.v2
      ms-cv:
      - wi3mZ2xUVEua3SiGvxLrog.0
      x-processing-time:
      - 1058ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic!"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2024-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      ms-cv:
      - dbi/GmyMZEOgcO4KTgi26A.0
      x-processing-time:
      - 421ms
    status:
      code: 204
      message: No Content
version: 1
