interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
      ms-cv:
      - podN7+Snjkq0j+UKLAsfzQ.0
      operation-id:
      - search_71bda68e-236e-4737-87a3-c2d7064a6a44
      operation-location:
      - /phoneNumbers/operations/search_71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
      search-id:
      - 71bda68e-236e-4737-87a3-c2d7064a6a44
      x-processing-time:
      - 4369ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07",
        "createdDateTime": "2022-08-04T03:49:24.4645304+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
      ms-cv:
      - CCYhLtZcBkOcoHIdlKcBCw.0
      x-processing-time:
      - 304ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "71bda68e-236e-4737-87a3-c2d7064a6a44", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-04T04:05:26.5207227+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fqIxnfvfnUSv8K/vb6Yopg.0
      x-processing-time:
      - 2265ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "71bda68e-236e-4737-87a3-c2d7064a6a44"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - t60/FDN433udtqJUA5XUAGsKELmD6lTJ038lBCdj0W4=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - 5BirexxqEE2D/zLTG5kIFA.0
      operation-id:
      - purchase_71bda68e-236e-4737-87a3-c2d7064a6a44
      operation-location:
      - /phoneNumbers/operations/purchase_71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
      purchase-id:
      - 71bda68e-236e-4737-87a3-c2d7064a6a44
      x-processing-time:
      - 3658ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_71bda68e-236e-4737-87a3-c2d7064a6a44?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-04T03:49:24.4645304+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hXS5z/1nKEi0DZ6uUgugPg.0
      x-processing-time:
      - 1334ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2022-08-04T03:50:16.9087717+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RFUpPGl2lk2ssI6UB/cqvQ.0
      x-processing-time:
      - 2992ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
