interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 10 Jun 2024 12:58:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-06-11T12:59:00.2953834+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - K7tJWUPIlkueS8zFomqF+g.2.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - bebcd676-275f-4677-8020-ac4c5fb17dff
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2024-03-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2024-06-10T12:59:01Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AEGdmZ4IYLE9LdLtO0AXBQNk4QbaqSLh6_7wx2avJPMg1@thread.v2
      mise-correlation-id:
      - e042c72b-64ae-4d92-873d-c6641d6cbac2
      ms-cv:
      - Bqwev023PU6pmNAgPC/BxA.0
      x-processing-time:
      - 663ms
    status:
      code: 201
      message: Created
version: 1
