interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Fri, 29 Mar 2024 07:41:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-03-30T07:41:10.473867+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3LMKtwOD9UCFqR81IMKrTw.2.0
      x-processing-time:
      - 28ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 630a4846-ccc8-4420-8807-956a984d67ab
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "another-topic", "createdOn":
        "2024-03-29T07:41:11Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3A5VWFUGi5KTx14clY8HlZSoN7MzR1b7H9rrX08DJWj9k1@thread.v2
      ms-cv:
      - bbqbhqAMo0GlB33NHfB0nA.0
      x-processing-time:
      - 1892ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?startTime=2022-01-01T00%3A00%3A00.000Z&api-version=2023-11-07
  response:
    body:
      string: '{"value": [{"id": "sanitized", "type": "topicUpdated", "sequenceId":
        "2", "version": "1711698072420", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2024-03-29T07:41:12Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
        "1", "version": "1711698072307", "content": {"participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "shareHistoryTime":
        "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}, "createdOn": "2024-03-29T07:41:12Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Ml9pzvj1JU6e+i4zr22xcw.0
      x-processing-time:
      - 316ms
    status:
      code: 200
      message: OK
version: 1
