interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T04:24:12.246609Z'
      Repeatability-Request-ID:
      - 2c4e1f30-71f9-11ed-96d3-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 04:24:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T04:24:13.7652339+00:00",
        "validFrom": "2022-12-02T04:24:13.6718524+00:00", "validUntil": "2023-05-31T04:24:13.6718524+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99498804424114887'
      ms-cv:
      - 5vk+armnpEOGsEx4YH0vHQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 04:24:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0xt+OSbkZ0G/QqlGC19XiA.0
      x-processing-time:
      - 128ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - +nxsH9PLit9tjbKyT6R7B3okbBpE8HJvqqpUxw/n0ZM=
      x-ms-date:
      - Fri, 02 Dec 2022 04:24:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Eoj/dDVgf0S0Nq3ZW7muCQ.0
    status:
      code: 200
      message: OK
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - NXYDh4YVbAERcC/CH5kXDYlsqiRubpHaxcAY8Kd6I5Y=
      x-ms-date:
      - Fri, 02 Dec 2022 04:24:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:remove?api-version=2022-02-01
  response:
    body:
      string: '{"participants": []}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Cc5L/DviEESkCpRvowQSgw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 04:24:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants": []}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - l/Qcyx1qQkKCt2yrNC6wqg.0
    status:
      code: 200
      message: OK
version: 1
