interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:54:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CqtTwaNzxUanTogCnFrNIA.2.0
      x-processing-time:
      - 16ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"8:acs:4d07412f-1464-4747-8eec-2b1fe819d7bf_0000001d-02e8-efc1-0d8b-08482200c6fe":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 13 Dec 2023 11:54:30 GMT
      Repeatability-Request-Id:
      - 5ffdcca1-99ae-11ee-b5f1-a497b10aa3d0
      x-ms-content-sha256:
      - kVazX/2oVojx7N1o3W92+yKKUxswhoC7KmRb8CANZCs=
      x-ms-date:
      - Wed, 13 Dec 2023 11:54:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-13T11:54:32.9510828+00:00",
        "validFrom": "2023-12-13T11:54:32.7548865+00:00", "validUntil": "2024-06-10T11:54:32.7548865+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99415539212174968'
      ms-cv:
      - dmpArEIsGEmEX1klug/7ag.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
