interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 24 Mar 2025 07:34:32 GMT
      Repeatability-Request-Id:
      - 6db7a24f-0882-11f0-bd5e-00155d7b1001
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 24 Mar 2025 07:34:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:34:33.7875962+00:00",
        "validFrom": "2025-03-24T07:34:33.6498057+00:00", "validUntil": "2025-09-20T07:34:33.6498057+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99497844559597248'
      ms-cv:
      - FYPA2KPLdUSCVdLHwGmLkQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2025-03-24T08:34:34.162388", "validUntil": "2025-03-24T09:34:34.162388",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - P465xPCpsZ3QMWL0axDvEDh9ISE0bBC/eaFcFBCwu8k=
      x-ms-date:
      - Mon, 24 Mar 2025 07:34:34 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:34:33.7875962+00:00",
        "validFrom": "2025-03-24T08:34:34.162388+00:00", "validUntil": "2025-03-24T09:34:34.162388+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aGf0tsyL5UWvI0Zx/iVtvw.0
    status:
      code: 200
      message: OK
version: 1
