interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-05T08:42:14.2377872+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +hDlB7/SmU+wcQ0TA0T/uw.0
      x-processing-time:
      - 101ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 0e8c1aa8-0d43-4a04-9b2d-b55a3521f74e
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2022-08-04T08:42:14Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ApDPgF_bb5hEYQZLOCHxcJWOs3FrVfFVkCD7dhS5VBw41@thread.v2
      ms-cv:
      - 2Wqu6KqQHk6wDF/OEWSjdA.0
      x-processing-time:
      - 722ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-07e6-a358-3ef0-8b3a0d00aa29"}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /YwN5igENkqFEwCCs9z2uQ.0
      x-processing-time:
      - 385ms
    status:
      code: 201
      message: Created
version: 1
