interactions:
- request:
    body: '{"validFrom": "2025-03-24T08:10:33.030248", "validUntil": "2025-03-24T09:10:33.030248",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 24 Mar 2025 07:10:33 GMT
      Repeatability-Request-Id:
      - 13aa4b0c-087f-11f0-9d95-00155d7b1001
      x-ms-content-sha256:
      - AB8mrb6Vf2/WRPnJ4v0uJzDMY29hc4BpFTXqx7dJtfM=
      x-ms-date:
      - Mon, 24 Mar 2025 07:10:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-24T07:10:34.2199931+00:00",
        "validFrom": "2025-03-24T08:10:33.030248+00:00", "validUntil": "2025-03-24T09:10:33.030248+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99493508360645489'
      ms-cv:
      - oBT/AfzT3E2FHYOYgdQiIg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
