interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:20:31 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:14:40 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:37:36 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:18:25 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-06T22:20:32.386053+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:14:40.5419038+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:37:37.0055985+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:18:25.7050468+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:31 GMT
      ms-cv:
      - ycjCfoiXpEePVH4ufbq3DQ.0
=======
      - Fri, 23 Jun 2023 17:14:40 GMT
      ms-cv:
      - X7yQqM/U7EqLu6bax8bimQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:37:36 GMT
      ms-cv:
      - jBuk6SCGik2sxymQWgoidw.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:18:25 GMT
      ms-cv:
      - NBVQS3/IPEexHtnTcTSipA.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0sOylZAAAAAD/tDWodDVfTolPpJDnquuPWVZSMzExMDAwMTE1MDQ5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 103ms
=======
      - 0ANOVZAAAAABfK3t4mCIaS6pHud1X+5bfWVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 109ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0QK2kZAAAAACXlSaNQlZyTKx5CvKKYzoYWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 106ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 08bOlZAAAAADMa0+tEkfiQ7wFgd/hR7OfWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 108ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-chat/1.1.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - e80ec2ba-37a6-4d90-bab1-c590ff2fd650
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - b4a2a4f6-7272-48b4-a88a-c11b9ff13e6e
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - e46bd6dc-6d90-4011-91da-c2944fbf5948
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - dda0d2bd-d215-447a-bd64-0bfb8878490e
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-05T22:20:32Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:14:41Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:37:37Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:18:26Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:32 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ACGJUQw1IfMh1NrFKUx88BD901Iym_sSjDhT89aKITkI1@thread.v2
      ms-cv:
      - QD1i968/kk6R++gnoBlQ7Q.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0sOylZAAAAACvLxEwvHSgRavT8X9kF2R6WVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 639ms
=======
      - Fri, 23 Jun 2023 17:14:41 GMT
=======
      - Tue, 04 Jul 2023 23:37:37 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:18:25 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3Aqx0piRWrwAWyMzIMtXK6qoB08g9AqePFOglJiRWLGn81@thread.v2
      ms-cv:
      - xqieUTCoNkyzZxXyuGywlA.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 08rOlZAAAAACV+tAuZiAqTqXj9hfefj/eWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 579ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 479ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 514ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
[...]
- request:
    body: '{"content": "Hello there!"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 [...]
