interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 13 Dec 2023 11:56:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
      ms-cv:
      - ZYrOb8/X4EGwkBRG7Orlyg.0
      operation-id:
      - search_d6ec9309-7eb3-47dd-8cc8-d09699f4696c
      operation-location:
      - /phoneNumbers/operations/search_d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
      search-id:
      - d6ec9309-7eb3-47dd-8cc8-d09699f4696c
      x-processing-time:
      - 2813ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:56:51 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01",
        "createdDateTime": "2023-12-13T11:56:51.7324636+00:00", "id": "search_d6ec9309-7eb3-47dd-8cc8-d09699f4696c",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
      ms-cv:
      - mtvOOcw8WUOjPf0B/vUBuw.0
      x-processing-time:
      - 308ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:56:54 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "d6ec9309-7eb3-47dd-8cc8-d09699f4696c", "phoneNumbers":
        ["+18662303520"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-13T12:12:53.7120160+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JYlODHOPb0aiHsCd1++BEg.0
      x-processing-time:
      - 403ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "d6ec9309-7eb3-47dd-8cc8-d09699f4696c"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - rC9EZblY2eSBcG4Bh+lAQJB5tm5V1DWtW9/ThLLgOI8=
      x-ms-date:
      - Wed, 13 Dec 2023 11:56:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - au0a7qPfNE61xwrtW2uiSQ.0
      operation-id:
      - purchase_d6ec9309-7eb3-47dd-8cc8-d09699f4696c
      operation-location:
      - /phoneNumbers/operations/purchase_d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
      purchase-id:
      - d6ec9309-7eb3-47dd-8cc8-d09699f4696c
      x-processing-time:
      - 783ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 13 Dec 2023 11:56:56 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_d6ec9309-7eb3-47dd-8cc8-d09699f4696c?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-13T11:56:51.7324636+00:00", "id": "purchase_d6ec9309-7eb3-47dd-8cc8-d09699f4696c",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MZlnddFv802vQDcaV3ldmw.0
      x-processing-time:
      - 230ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - xZIy+cJcN+ETlh5ZIAU7bXYnVQFXC9kbaqJvRX4bFCk=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Fh68QQkC6UiHp7H1L5leSw.0
      x-processing-time:
      - 987ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
