interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 03:58:35 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QO4JdqAY2kGJXqpinsIzCg.2.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-12-11T04:58:34.844847", "validUntil": "2023-12-11T05:58:34.844847",
      "pstnDialOutEnabled": true, "participants": {"8:acs:f2a8f731-7ef7-4a62-bf85-78f24109ca6e_0000001c-f6e8-776b-99c6-593a0d002d16":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 11 Dec 2023 03:58:36 GMT
      Repeatability-Request-Id:
      - 8f25192e-97d9-11ee-b49a-a497b10aa3d0
      x-ms-content-sha256:
      - xOHMvPoo06K5EqpXVWSLiueFfGPXR4lsVQItgQrFeBs=
      x-ms-date:
      - Mon, 11 Dec 2023 03:58:36 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-11T03:58:35.849966+00:00",
        "validFrom": "2023-12-11T04:58:34.844847+00:00", "validUntil": "2023-12-11T05:58:34.844847+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99453687681801460'
      ms-cv:
      - qxPpIrUSmE+fn54M0Hmbww.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
