interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Wed, 10 Aug 2022 02:09:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-11T02:09:56.6547451+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nlNaLMBtTEWksu0rNFWO/Q.0
      x-processing-time:
      - 113ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 0904d6ea-7ce8-40f0-9504-4a0bcb46ce1c
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2022-08-10T02:09:57Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AIzaPB8YgytBgjlrsUGu8ssagDGlyE1zI963jrNMfkhw1@thread.v2
      ms-cv:
      - bt0YAs493kWJQS4y0qNMGg.0
      x-processing-time:
      - 621ms
    status:
      code: 201
      message: Created
version: 1
