interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Tue, 16 Aug 2022 09:53:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-17T09:53:17.3507748+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5O/PwE13GE2Liz49rTkoPw.0
      x-processing-time:
      - 123ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 56b24df4-5527-45fb-9e43-bba3e0176378
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "another-topic", "createdOn":
        "2022-08-16T09:53:18Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AeR_MnK1spkPX4RHB4F0fyxIQVXDP0tn97zwRZbsRnPA1@thread.v2
      ms-cv:
      - YtEJbR5NtEasHuNRDCB5Hg.0
      x-processing-time:
      - 627ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?startTime=2022-01-01T00%3A00%3A00.000Z&api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "1660643598419", "type": "topicUpdated", "sequenceId":
        "2", "version": "1660643598419", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:9e61d9f2-a2b3-4ab6-96e7-9985b8bf8dd9_00000013-45f4-0021-eef0-8b3a0d00046a",
        "communicationUser": {"id": "8:acs:9e61d9f2-a2b3-4ab6-96e7-9985b8bf8dd9_00000013-45f4-0021-eef0-8b3a0d00046a"}}},
        "createdOn": "2022-08-16T09:53:18Z"}, {"id": "1660643598335", "type": "participantAdded",
        "sequenceId": "1", "version": "1660643598335", "content": {"participants":
        [{"communicationIdentifier": {"rawId": "8:acs:9e61d9f2-a2b3-4ab6-96e7-9985b8bf8dd9_00000013-45f4-0021-eef0-8b3a0d00046a",
        "communicationUser": {"id": "8:acs:9e61d9f2-a2b3-4ab6-96e7-9985b8bf8dd9_00000013-45f4-0021-eef0-8b3a0d00046a"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:9e61d9f2-a2b3-4ab6-96e7-9985b8bf8dd9_00000013-45f4-0021-eef0-8b3a0d00046a",
        "communicationUser": {"id": "8:acs:9e61d9f2-a2b3-4ab6-96e7-9985b8bf8dd9_00000013-45f4-0021-eef0-8b3a0d00046a"}}},
        "createdOn": "2022-08-16T09:53:18Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ghCgc0nbM0uQl9liXllt6A.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
version: 1
