interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      location:
      - /availablePhoneNumbers/searchResults/f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
      ms-cv:
      - NI5ZXWIF4kWkvN9kEw/vBQ.0
      operation-id:
      - search_f6eca54e-d1d8-4b41-9263-6d71c4a58335
      operation-location:
      - /phoneNumbers/operations/search_f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
      search-id:
      - f6eca54e-d1d8-4b41-9263-6d71c4a58335
      x-processing-time:
      - 4398ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07",
        "createdDateTime": "2022-06-07T16:49:21.4366953+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
      ms-cv:
      - OOQtzINlXkSjNxVK7L1utQ.0
      x-processing-time:
      - 492ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "f6eca54e-d1d8-4b41-9263-6d71c4a58335", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-06-07T17:05:23.7441024+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NsfDAzJg0E+WdL17+1mZWA.0
      x-processing-time:
      - 1140ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "f6eca54e-d1d8-4b41-9263-6d71c4a58335"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - d2B1AS+/fJ/RmUnc3tEWblSSmHGVzYMsWDuxLa36Zdo=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      ms-cv:
      - Uum/odE22k+Bvp1JCft9dQ.0
      operation-id:
      - purchase_f6eca54e-d1d8-4b41-9263-6d71c4a58335
      operation-location:
      - /phoneNumbers/operations/purchase_f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
      purchase-id:
      - f6eca54e-d1d8-4b41-9263-6d71c4a58335
      x-processing-time:
      - 2319ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_f6eca54e-d1d8-4b41-9263-6d71c4a58335?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-06-07T16:49:21.4366953+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aL0ztid9jkO29MA3wf/s1Q.0
      x-processing-time:
      - 488ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2022-06-07T16:50:11.1922472+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p6AdsMrVpkeq/hQvP7QTig.0
      x-processing-time:
      - 1577ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
