interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 25 May 2023 18:28:36 GMT
      Repeatability-Request-ID:
      - f67b5078-fb29-11ed-9a02-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 25 May 2023 18:28:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-25T18:28:38.2704636+00:00",
        "validFrom": "2023-05-25T18:28:37.942546+00:00", "validUntil": "2023-11-21T18:28:37.942546+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99423128664227721'
      ms-cv:
      - d6ja4p2EfkyXyZsJ5jEW+Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"sanitized": {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - GGeywqkmwEbmvIr+M7fYvPtgLYHCAoJWqoApBN7ZlcA=
      x-ms-date:
      - Thu, 25 May 2023 18:28:37 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid value for the
        Participants."}}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - whV3RZySfEWr25BzGMNi8w.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
