interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:18:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-06T22:18:56.0829918+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VoJRjDQe50CVdec+6jvOjA.0
      x-processing-time:
      - 104ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-other-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 69a46583-5962-4980-8b30-8a33c3f85a5f
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-other-topic", "createdOn":
        "2023-07-05T22:18:56Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AnXGNDPJPQs9G3y9GSFncPJ55578KmjCEYOr_RKrTSy41@thread.v2
      ms-cv:
      - 7YkMMAYW1kmsFG1B0GLVvQ.0
      x-processing-time:
      - 430ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AnXGNDPJPQs9G3y9GSFncPJ55578KmjCEYOr_RKrTSy41@thread.v2/messages/1688595537104
      ms-cv:
      - bPlW491mBUGfUf/BI8E37g.0
      x-processing-time:
      - 176ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "text", "sequenceId": "3", "version": "1688595537104",
        "content": {"message": "Hello!"}, "senderDisplayName": "", "createdOn": "2023-07-05T22:18:57Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Wod+DT1DSkuPGA7myOq8lw.0
      x-processing-time:
      - 88ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "text", "sequenceId": "3", "version": "1688595537795",
        "content": {"message": ""}, "senderDisplayName": "", "createdOn": "2023-07-05T22:18:57Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}, "deletedOn": "2023-07-05T22:18:57Z"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4awb+EbR2Uu3tg7/VA+xtQ.0
      x-processing-time:
      - 88ms
    status:
      code: 200
      message: OK
version: 1
