interactions:
- request:
    body: '{"location": "Global", "properties": {"dataLocation": "United States"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_service_link_keys_000001/providers/Microsoft.Communication/communicationServices/comm-100002?api-version=2020-08-20-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_service_link_keys_000001/providers/Microsoft.Communication/communicationServices/comm-100002","name":"comm-100002","type":"Microsoft.Communication/communicationServices","location":"Global","properties":{"provisioningState":"Accepted","hostName":"comm-100002.communication.azure.com","immutableResourceId":"2f8b0c92-681b-480a-95e4-a7abb9bd8d2a","dataLocation":"United
        States"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8c983db4-39fe-4da5-8b23-b407ab9d3af4?api-version=2020-08-20-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2201a196-0000-0700-0000-5fa394b10000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8c983db4-39fe-4da5-8b23-b407ab9d3af4?api-version=2020-08-20-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8c983db4-39fe-4da5-8b23-b407ab9d3af4","name":"8c983db4-39fe-4da5-8b23-b407ab9d3af4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_service_link_keys_000001/providers/Microsoft.Communication/communicationServices/comm-100002","status":"Succeeded","startTime":"2020-11-05T05:59:09.7782106Z","percentComplete":100.0,"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7a005aca-0000-0800-0000-5fa394b10000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_service_link_keys_000001/providers/Microsoft.Communication/communicationServices/comm-100002/listKeys?api-version=2020-08-20-preview
  response:
    body:
      string: '{"primaryKey":"2zf3RxrABXLm/3nq8yXrxXGPPUBeB7W+lq5i83RYh6Fvgcun+RDjK9oQ6vckgKJ3Y/jTyWC/6778W9K45EZtWA==","secondaryKey":"CAZTQ45vuK3GazS292ljkodpKWAZelK8Wmh+VQoqkKwKobaieBHTyV8lxxxRovnHciwMXXCqtbJk5gRstzTwrg==","primaryConnectionString":"endpoint=https://comm-100002.communication.azure.com/;accesskey=2zf3RxrABXLm/3nq8yXrxXGPPUBeB7W+lq5i83RYh6Fvgcun+RDjK9oQ6vckgKJ3Y/jTyWC/6778W9K45EZtWA==","secondaryConnectionString":"endpoint=https://comm-100002.communication.azure.com/;accesskey=CAZTQ45vuK3GazS292ljkodpKWAZelK8Wmh+VQoqkKwKobaieBHTyV8lxxxRovnHciwMXXCqtbJk5gRstzTwrg=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/60c09470-44dc-4558-9f42-c2e320f56b64?api-version=2020-08-20-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/60c09470-44dc-4558-9f42-c2e320f56b64","name":"60c09470-44dc-4558-9f42-c2e320f56b64","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_service_link_keys_000001/providers/Microsoft.Communication/communicationServices/comm-100002","status":"Deleted","startTime":"2020-11-05T05:59:53.373348Z","percentComplete":100.0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7a00a8cb-0000-0800-0000-5fa394db0000"'
    status:
      code: 200
      message: OK
version: 1
