interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:45 GMT
=======
      - Fri, 23 Jun 2023 17:30:14 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:47 GMT
      location:
      - /availablePhoneNumbers/searchResults/59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
      ms-cv:
      - fOzUsYQWZkqFMJAbAsHMzQ.0
      operation-id:
      - search_59e6b62b-b502-49d9-a53c-5aba4ce6ce79
      operation-location:
      - /phoneNumbers/operations/search_59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
      search-id:
      - 59e6b62b-b502-49d9-a53c-5aba4ce6ce79
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0ce2lZAAAAAAr1kvOz3wES5Sl7wQj/eEIWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1900ms
=======
      - Fri, 23 Jun 2023 17:30:16 GMT
      location:
      - /availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      ms-cv:
      - o9YgjrPuY0Cua1YMw43Zag.0
      operation-id:
      - search_70443af6-e42d-477a-99cc-9e5dcdb85492
      operation-location:
      - /phoneNumbers/operations/search_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      search-id:
      - 70443af6-e42d-477a-99cc-9e5dcdb85492
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0ptaVZAAAAAC6B7qXcjJCT6gJVOHUsvHHWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 2506ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:47 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T22:23:47.5584983+00:00", "id": "search_59e6b62b-b502-49d9-a53c-5aba4ce6ce79",
=======
      - Fri, 23 Jun 2023 17:30:17 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:30:16.5342993+00:00", "id": "search_70443af6-e42d-477a-99cc-9e5dcdb85492",
>>>>>>> ddcd2202f (Adding test recordings)
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:47 GMT
      location:
      - /availablePhoneNumbers/searchResults/59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
      ms-cv:
      - 9L4kirc3tUSQke9pAAVqTg.0
=======
      - Fri, 23 Jun 2023 17:30:16 GMT
      location:
      - /availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      ms-cv:
      - h0tgfWySMkmK20S8enlr+w.0
>>>>>>> ddcd2202f (Adding test recordings)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
      - 0dO2lZAAAAABsxa01XDqARYNfAuRD/ro/WVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 364ms
=======
      - 0qdaVZAAAAAAQGlgTaNAaS6fi6PbcTuYaWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 220ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:50 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "59e6b62b-b502-49d9-a53c-5aba4ce6ce79", "phoneNumbers":
        ["+18332311960"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T22:39:49.6735904+00:00", "error": "NoError"}'
=======
      - Fri, 23 Jun 2023 17:30:20 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "70443af6-e42d-477a-99cc-9e5dcdb85492", "phoneNumbers":
        ["+18443037613"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabiliti[...]
- request:
<<<<<<< HEAD
    body: '{"searchId": "59e6b62b-b502-49d9-a53c-5aba4ce6ce79"}'
=======
    body: '{"searchId": "70443af6-e42d-477a-99cc-9e5dcdb85492"}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
<<<<<<< HEAD
      - h5GtVBl7yLblrGfi2+1AdpfA6Iz+CBk4YPPhWrC0rk0=
      x-ms-date:
      - Wed, 05 Jul 2023 22:23:50 GMT
=======
      - xDQ1yNK+J5210CND4TIWPquOThzBalOceZGfRX1aAQA=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:20 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:51 GMT
      ms-cv:
      - KSImieJU1EuR0JF23sFL8w.0
      operation-id:
      - purchase_59e6b62b-b502-49d9-a53c-5aba4ce6ce79
      operation-location:
      - /phoneNumbers/operations/purchase_59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
      purchase-id:
      - 59e6b62b-b502-49d9-a53c-5aba4ce6ce79
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0d+2lZAAAAAB4sucfTEbCQKcYE5cycIfmWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 749ms
=======
      - Fri, 23 Jun 2023 17:30:20 GMT
      ms-cv:
      - 0byEHu6IekCXqL9b5oMaHg.0
      operation-id:
      - purchase_70443af6-e42d-477a-99cc-9e5dcdb85492
      operation-location:
      - /phoneNumbers/operations/purchase_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      purchase-id:
      - 70443af6-e42d-477a-99cc-9e5dcdb85492
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0rNaVZAAAAABcLlRsbCVRS6YLvHNXSS9cWVZSMzExMDAwMTE1MDM1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 816ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:51 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_59e6b62b-b502-49d9-a53c-5aba4ce6ce79?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running",[...]
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:25:00 GMT
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-sms/1.0.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - t1/UW5KzkHe8GbQ31RU3NSgbpyJJpQzwCXi2S9bHbj0=
=======
      - Fri, 23 Jun 2023 17:31:31 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - XmclZFlzYIEPuUBoitcL6LGBtOHbbxrhmCQOerNvleA=
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:25:01 GMT
      ms-cv:
      - UqWKqC7ql0G4IcmVAETb6Q.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0ve2lZAAAAADEuVqv4bOhQYz0BTDhsnDzWVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 214ms
=======
      - Fri, 23 Jun 2023 17:31:31 GMT
      ms-cv:
      - jG5ySdp+XU2/XMhQ38WpnQ.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 089aVZAAAAADKWN509NJ0SZFSM5FlwddWWVZSMzExMDAwMTE1MDUzADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 151ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
