interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 11 Dec 2023 04:07:28 GMT
      Repeatability-Request-Id:
      - cc871e9e-97da-11ee-8703-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 11 Dec 2023 04:07:28 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-11T04:07:28.6501935+00:00",
        "validFrom": "2023-12-11T04:07:28.0456071+00:00", "validUntil": "2024-06-08T04:07:28.0456071+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99427376740937282'
      ms-cv:
      - yEIcQB2ZiU+K5j/72BHmVA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 04:07:30 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hS5H87OgFkGV4h0ThnV2JQ.2.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:b93d9f8d-c9f8-4b49-b821-74f244f59059_0000001c-f6f0-a6bf-0d8b-0848220037cb":
      {"role": "Presenter"}, "8:acs:b93d9f8d-c9f8-4b49-b821-74f244f59059_0000001c-f6f0-ad49-0d8b-0848220037cc":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - JJ5Hru0Um3os26HESRo/fvhWiiCoy7ufJfu4uMgL+k4=
      x-ms-date:
      - Mon, 11 Dec 2023 04:07:34 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BPut9EYQ30ekh2XIlpz3DA.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 04:07:36 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}, {"rawId": "sanitized",
        "role": "Consumer"}]}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mW1lfMGYuESooJDqzprFAQ.0
    status:
      code: 200
      message: OK
version: 1
