interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 22 Apr 2024 17:34:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-04-23T17:34:10.0339488+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kiyIc7DCiEKmjaSLI5epjQ.0
      x-processing-time:
      - 98ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 192b888e-e44d-46de-a70f-b7ae8a7d8d7e
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2024-03-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2024-04-22T17:34:12Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AZVFQclKqo2C9CwV8KMNMUDK26GZHTx8dgFDe32R2sfo1@thread.v2
      ms-cv:
      - 0v/yHsuTpk2vFCRSMLfN9g.0
      x-processing-time:
      - 645ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}, "shareHistoryTime": "2022-01-01T00:00:00.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2024-03-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yJELI1MkQUO3gsmiu1S8Yg.0
      x-processing-time:
      - 307ms
    status:
      code: 201
      message: Created
version: 1
