interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Fri, 29 Mar 2024 07:43:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-03-30T07:43:02.75147+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0e1raCA9Hk+iuR+ceedNNg.2.0
      x-processing-time:
      - 27ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 5f711530-1b0a-42b4-8f58-384212cb62fb
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2024-03-29T07:43:03Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3Asw5oPsPpqG7WRD6TIOljUK9T3Jjh-Wwt9Dx74ftPRZI1@thread.v2
      ms-cv:
      - FrNqZTgVgUqOb8Ddd9YEUw.0
      x-processing-time:
      - 1595ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2023-11-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vrpQoR77p0OE86WQeAYFnw.0
      x-processing-time:
      - 261ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"value": [{"id": "sanitized", "type": "topicUpdated", "sequenceId":
        "2", "version": "1711698184582", "content": {"topic": "thread-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2024-03-29T07:43:04Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
        "1", "version": "1711698184475", "content": {"participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "shareHistoryTime":
        "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}, "createdOn": "2024-03-29T07:43:04Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1sdaWnW40kGWtdXvGr43uA.0
      x-processing-time:
      - 346ms
    status:
      code: 200
      message: OK
- request:
    body: '{"chatMessageId": "1711698184582"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2023-11-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      ms-cv:
      - Lh0NOg1qJkG25tBPm2EQVg.0
      x-processing-time:
      - 1454ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2023-11-07
  response:
    body:
      string: '{"value": [{"senderCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "chatMessageId": "1711698184582",
        "readOn": "2024-03-29T07:43:07Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /k7R3vNTdki0WlscyalJjg.0
      x-processing-time:
      - 198ms
    status:
      code: 200
      message: OK
version: 1
