interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 01 Apr 2024 05:51:12 GMT
      Repeatability-Request-Id:
      - d8ce4c9b-efeb-11ee-91f1-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 01 Apr 2024 05:51:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-01T05:51:14.5812793+00:00",
        "validFrom": "2024-04-01T05:51:14.0688533+00:00", "validUntil": "2024-09-28T05:51:14.0688533+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99493650398260286'
      ms-cv:
      - NUwClL/Sd0qZY/HN4WA/Hg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-01T06:51:14.660826", "validUntil": "2024-04-01T07:51:14.660826",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - UVJpnLhbW80vN6qsniI1DEMnnPsQcx1yVc++SgaEFfE=
      x-ms-date:
      - Mon, 01 Apr 2024 05:51:14 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-01T05:51:14.5812793+00:00",
        "validFrom": "2024-04-01T06:51:14.660826+00:00", "validUntil": "2024-04-01T07:51:14.660826+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9U7gZmZwKE2GZA6gln0BlA.0
    status:
      code: 200
      message: OK
version: 1
