interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"acs:8-invalidMRI": {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 26 Mar 2025 07:32:07 GMT
      Repeatability-Request-Id:
      - 6c06292e-0a14-11f0-aa65-00155d7b1001
      x-ms-content-sha256:
      - StjPbZ+anErZes8IJRa2STDgsBYIizhcGHmw6U39sio=
      x-ms-date:
      - Wed, 26 Mar 2025 07:32:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid format for communication
        identifier."}}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fW0UqN6N4EWSWf0h655CNA.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
