interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
      ms-cv:
      - JqW5p225WUa5qeG6GNUQUQ.0
      operation-id:
      - search_d563c8a0-8e55-4600-a6f7-1105cef715b4
      operation-location:
      - /phoneNumbers/operations/search_d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
      search-id:
      - d563c8a0-8e55-4600-a6f7-1105cef715b4
      x-processing-time:
      - 4680ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07",
        "createdDateTime": "2022-12-05T20:18:33.7227791+00:00", "id": "search_d563c8a0-8e55-4600-a6f7-1105cef715b4",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
      ms-cv:
      - RZ+iPCvfmUKmLKcwyre3nw.0
      x-processing-time:
      - 496ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "d563c8a0-8e55-4600-a6f7-1105cef715b4", "phoneNumbers":
        ["+18442197987"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-12-05T20:34:37.5818979+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +g6M4UpEM0CsWXC3ZT3Jbw.0
      x-processing-time:
      - 995ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "d563c8a0-8e55-4600-a6f7-1105cef715b4"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - +LS6q7WvCreXQVhaZgzJBfQk3Uk5sTaIViJFPnInlFM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - wC8vjb2RyUmTlx3fVUkICA.0
      operation-id:
      - purchase_d563c8a0-8e55-4600-a6f7-1105cef715b4
      operation-location:
      - /phoneNumbers/operations/purchase_d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
      purchase-id:
      - d563c8a0-8e55-4600-a6f7-1105cef715b4
      x-processing-time:
      - 1869ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_d563c8a0-8e55-4600-a6f7-1105cef715b4?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-12-05T20:18:33.7227791+00:00", "id": "purchase_d563c8a0-8e55-4600-a6f7-1105cef715b4",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9sBgMIEYqkiZhiFR/i9voQ.0
      x-processing-time:
      - 221ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hbGnDbg9zex5dF6NGAmT14vf3YY8WwEx8tlJwkHo7SI=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AXBCos2lPEqDzR5NS3UYkg.0
      x-processing-time:
      - 180ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
