interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:24:09 GMT
      Repeatability-Request-ID:
      - a9840cb4-1b82-11ee-85bb-8cf8c5abc371
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 22:24:09 GMT
=======
      - Fri, 23 Jun 2023 17:24:13 GMT
=======
      - Tue, 04 Jul 2023 23:47:56 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      Repeatability-Request-ID:
      - 333f3c2a-1ac5-11ee-95b5-ef1ec79c5484
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:24:13 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:56 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id": "sanitized", "createdAt": "2023-07-05T22:24:11.200945+00:00",
        "validFrom": "2023-07-05T22:24:11.0408619+00:00", "validUntil": "2024-01-01T22:24:11.0408619+00:00"}'
=======
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:24:14.4894214+00:00",
        "validFrom": "2023-06-23T17:24:14.296543+00:00", "validUntil": "2023-12-20T17:24:14.296543+00:00"}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:57.6742446+00:00",
        "validFrom": "2023-07-04T23:47:57.1573467+00:00", "validUntil": "2023-12-31T23:47:57.1573467+00:00"}'
>>>>>>> 7c5b674c0 (Reran tests)
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
<<<<<<< HEAD
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 05 Jul 2023 22:24:11 GMT
      location:
      - '99452030309189582'
      ms-cv:
      - 6y35ptQqPEOPz4sWZMEhKQ.0
=======
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 04 Jul 2023 23:47:57 GMT
      location:
      - '99445300582080749'
      ms-cv:
<<<<<<< HEAD
      - ExRSPSuJ2EGinsJGFwzBbQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0djXushyy0+ne3W89sgenw.0
>>>>>>> 7c5b674c0 (Reran tests)
      repeatability-result:
      - accepted
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0iu2lZAAAAABdZ4bFeBXUToqMTwQgmZNzWVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0PdWVZAAAAABQoXHiv9KdRp/8uedA4twCWVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0rK+kZAAAAAAUNXmT9yWcSIJl+jjKZ0S9WVZSMzExMDAwMTE1MDM3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:24:10 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:24:15 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:57 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:24:11 GMT
      ms-cv:
      - 2z0QkPW0a02Ux2Zgkm4aOg.0
=======
      - Fri, 23 Jun 2023 17:24:14 GMT
      ms-cv:
      - PHCuQROvyEKXR16qdOGI/w.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:47:57 GMT
      ms-cv:
      - QbFckPN9gkut49hLOKEZNg.0
>>>>>>> 7c5b674c0 (Reran tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0i+2lZAAAAAAubfUxAJCoQbF/vW37C652WVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 100ms
=======
      - 0PtWVZAAAAACGSl8ejFoLTJo7OkrrxXYdWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 102ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 201
      message: Created
[...]
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"participants": {"8:acs:fakeid":
      {"role": "Presenter"}, "8:acs:fakeid":
=======
    body: '{"participants": {"8:acs:8bee634d-b4e9-4d4b-9e09-af047e6a9014_00000019-892a-a1e7-69ff-9c3a0d006c65":
      {"role": "Presenter"}, "8:acs:8bee634d-b4e9-4d4b-9e09-af047e6a9014_00000019-892a-a3c5-bc66-563a0d006f72":
>>>>>>> ddcd2202f (Adding test recordings)
=======
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /WpDpIsfvk2xzz26bW9+gA.0
      x-processing-time:
      - 102ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:fb041838-5b4d-4828-9794-014649a0379f_00000019-c32f-e458-2633-8e3a0d000151":
      {"role": "Presenter"}, "8:acs:fb041838-5b4d-4828-9794-014649a0379f_00000019-c32f-e5e4-69f0-553a0d000228":
>>>>>>> 7c5b674c0 (Reran tests)
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-rooms/1.0.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 22:24:12 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-rooms/1.0.0b3 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:24:17 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:48:00 GMT
>>>>>>> 7c5b674c0 (Reran tests)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}, {"rawId": "sanitized",
        "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:24:13 GMT
      ms-cv:
      - AK18vlz6JES9YKEly5lSSg.0
=======
      - Fri, 23 Jun 2023 17:24:16 GMT
      ms-cv:
      - W1wlBZEKGUi5xgFM4GyPMA.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:48:00 GMT
      ms-cv:
      - oaaUm9oY5US4L4OyZWAieg.0
>>>>>>> 7c5b674c0 (Reran tests)
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
      - 0je2lZAAAAABjU7gLXSCGQK6S4XM+ndM/WVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
=======
      - 0QdWVZAAAAAAJv/XwmyW5QpvIrftQkrA5WVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 0sK+kZAAAAAC93wQOuxTXTLzFXBBKwSTZWVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
>>>>>>> 7c5b674c0 (Reran tests)
      x-cache:
      - CONFIG_NOCACHE
    status:
      code: 200
      message: OK
version: 1
