interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
      ms-cv:
      - NBhk+xkwuk6nnd1Oc7r1Gw.0
      operation-id:
      - search_045c7810-e43a-43f9-9fb1-555b50c39972
      operation-location:
      - /phoneNumbers/operations/search_045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
      search-id:
      - 045c7810-e43a-43f9-9fb1-555b50c39972
      x-processing-time:
      - 2456ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07",
        "createdDateTime": "2022-12-05T20:07:21.93032+00:00", "id": "sanitized", "lastActionDateTime":
        "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
      ms-cv:
      - LEKVlMoAaEKXzKW2V+a/vw.0
      x-processing-time:
      - 216ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "045c7810-e43a-43f9-9fb1-555b50c39972", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-12-05T20:23:24.0195739+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aZ438MyYxUucAFjPV2YeqA.0
      x-processing-time:
      - 657ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "045c7810-e43a-43f9-9fb1-555b50c39972"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - yg+ZNKrKkcsba8Ou+v7lEM8T+q5ZwDO1q8DOpQHLHL0=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - yXYOAlBQGUKqKk4SQ9peHQ.0
      operation-id:
      - purchase_045c7810-e43a-43f9-9fb1-555b50c39972
      operation-location:
      - /phoneNumbers/operations/purchase_045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
      purchase-id:
      - 045c7810-e43a-43f9-9fb1-555b50c39972
      x-processing-time:
      - 23897ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_045c7810-e43a-43f9-9fb1-555b50c39972?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-12-05T20:07:21.93032+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - khLS6HJkukSFS3zDtCKErQ.0
      x-processing-time:
      - 406ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2022-12-05T20:08:40.4863187+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bUnMPz7hTEaTq1LAqRUPAw.0
      x-processing-time:
      - 2998ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
