interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 26 May 2023 04:09:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
      ms-cv:
      - tyjG570bi0yUndiaxS4LIQ.0
      operation-id:
      - search_c9b7d4e2-dffb-4944-908a-31ab5dc2bc43
      operation-location:
      - /phoneNumbers/operations/search_c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
      search-id:
      - c9b7d4e2-dffb-4944-908a-31ab5dc2bc43
      x-processing-time:
      - 3437ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01",
        "createdDateTime": "2023-05-26T04:09:16.8309637+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
      ms-cv:
      - 39tAtxfsSEOuP8CcGcsn6g.0
      x-processing-time:
      - 228ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:19 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "c9b7d4e2-dffb-4944-908a-31ab5dc2bc43", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-05-26T04:25:18.4877951+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eH/w1AEFIU6xdHSdJSb/eg.0
      x-processing-time:
      - 918ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "c9b7d4e2-dffb-4944-908a-31ab5dc2bc43"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - oXq3x3vjMcVVzYy5+yUG1m3pEMG1Msku/nOb7smdksM=
      x-ms-date:
      - Fri, 26 May 2023 04:09:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 1edEM+YGAkeJaVhqey80LA.0
      operation-id:
      - purchase_c9b7d4e2-dffb-4944-908a-31ab5dc2bc43
      operation-location:
      - /phoneNumbers/operations/purchase_c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
      purchase-id:
      - c9b7d4e2-dffb-4944-908a-31ab5dc2bc43
      x-processing-time:
      - 1386ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:22 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_c9b7d4e2-dffb-4944-908a-31ab5dc2bc43?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-05-26T04:09:16.8309637+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QJw/PrwCqUOB9wvhWRzXqg.0
      x-processing-time:
      - 316ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-05-26T04:09:35.4433772+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ckGpDtCFQkGz3+CcHFcR0A.0
      x-processing-time:
      - 3468ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
