interactions:
- request:
    body: '{"createTokenWithScopes": ["voip", "chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hlYiA5kT1yt3LwEdaupQDHzQEfodx+8svsStB5uolgw=
      x-ms-date:
      - Thu, 14 Dec 2023 11:23:05 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-12-15T11:23:07.5593221+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - h+Cj6EKFpkuYoKhh6pBGEw.2.0
      x-processing-time:
      - 89ms
    status:
      code: 201
      message: Created
version: 1
