interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Tue, 16 Aug 2022 08:31:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-17T08:31:08.2082199+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sRF6GNjSnkaSMcZqJYFSgA.0
      x-processing-time:
      - 116ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - e0ccea5f-e9a0-40d4-a94b-941902c0f8b0
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "new-topic", "createdOn":
        "2022-08-16T08:31:08Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ASSg2xS4yLYyhoeQMcTnIcVr0mPEda7R6ZMB1Z_SuIAw1@thread.v2
      ms-cv:
      - Dd9PJOgTk06vdw2jsPmhYA.0
      x-processing-time:
      - 424ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello!", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ASSg2xS4yLYyhoeQMcTnIcVr0mPEda7R6ZMB1Z_SuIAw1@thread.v2/messages/1660638669878
      ms-cv:
      - ez+9IoHOcEui8ESmkCeRpA.0
      x-processing-time:
      - 234ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "html", "sequenceId": "3", "version": "1660638669878",
        "content": {"message": "hello!"}, "senderDisplayName": "", "createdOn": "2022-08-16T08:31:09Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - f7Qs2rbCxUuuc3XkK3EfQQ.0
      x-processing-time:
      - 189ms
    status:
      code: 200
      message: OK
version: 1
