interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 15 Dec 2023 10:31:42 GMT
      Repeatability-Request-Id:
      - 238d5f13-9b35-11ee-82d5-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Fri, 15 Dec 2023 10:31:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-15T10:31:43.7122407+00:00",
        "validFrom": "2023-12-15T10:31:43.5339016+00:00", "validUntil": "2024-06-12T10:31:43.5339016+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99445972733166041'
      ms-cv:
      - /9y/7K90BUOzKordIC0LXQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
