interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:12 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
      ms-cv:
      - 732v/Pj9MEi3srik8ZeKuA.0
      operation-id:
      - search_4eaab6ce-07e4-4b83-a14e-a860190d680a
      operation-location:
      - /phoneNumbers/operations/search_4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
      search-id:
      - 4eaab6ce-07e4-4b83-a14e-a860190d680a
      x-processing-time:
      - 2109ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:15 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01",
        "createdDateTime": "2023-12-11T04:09:13.7955833+00:00", "id": "search_4eaab6ce-07e4-4b83-a14e-a860190d680a",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
      ms-cv:
      - eTD+S2rBrEKGNq1ZBgowKA.0
      x-processing-time:
      - 599ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:19 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "4eaab6ce-07e4-4b83-a14e-a860190d680a", "phoneNumbers":
        ["+18332404725"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-11T04:25:15.4674526+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Wv6m/UsZa0C+1yJ4uaa7TA.0
      x-processing-time:
      - 415ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "4eaab6ce-07e4-4b83-a14e-a860190d680a"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Tvw3c4G2hQ+9ozioSwzmoUqj+0wv4vvgNmy3eRg+OBw=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:20 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - HZU7iM5EmUSlElHjJvaegw.0
      operation-id:
      - purchase_4eaab6ce-07e4-4b83-a14e-a860190d680a
      operation-location:
      - /phoneNumbers/operations/purchase_4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
      purchase-id:
      - 4eaab6ce-07e4-4b83-a14e-a860190d680a
      x-processing-time:
      - 902ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 11 Dec 2023 04:09:21 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_4eaab6ce-07e4-4b83-a14e-a860190d680a?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-11T04:09:13.7955833+00:00", "id": "purchase_4eaab6ce-07e4-4b83-a14e-a860190d680a",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7xpJu0+oQkulEG1OOXi3qg.0
      x-processing-time:
      - 256ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - h3wIxsrf2Mociz68CQ898fIOzMQ+gi9FBTX8HeVJ0Cw=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - m9kZS2JWKE2ZhBZhvsckHA.0
      x-processing-time:
      - 1504ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
