interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 10 Jun 2024 13:19:50 GMT
      Repeatability-Request-Id:
      - 1de6e98f-272c-11ef-9476-00155d7acf01
      x-ms-content-sha256:
      - QQKbDQ8A0x7b9852DAZ3wjSpELmfU1PGiuAyzF0GbQg=
      x-ms-date:
      - Mon, 10 Jun 2024 13:19:50 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-06-10T13:19:53.3233029+00:00",
        "validFrom": "2024-06-10T13:19:52.5682685+00:00", "validUntil": "2024-12-07T13:19:52.5682685+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99475559790519783'
      ms-cv:
      - hT/K8Zr2aEWEyZWGpmJ1bA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 10 Jun 2024 13:19:53 GMT
      Repeatability-Request-Id:
      - 1fc1a665-272c-11ef-a1f2-00155d7acf01
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 10 Jun 2024 13:19:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2024-04-15
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-06-10T13:19:54.6242448+00:00",
        "validFrom": "2024-06-10T13:19:54.2824193+00:00", "validUntil": "2024-12-07T13:19:54.2824193+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99411749805105261'
      ms-cv:
      - 9YaNKT4lDU6Gt86HOGYbLQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
