interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 15 Dec 2023 10:25:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      location:
      - /availablePhoneNumbers/searchResults/8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
      ms-cv:
      - ZjuQwmRD+UuE9gn9OkeMzQ.0
      operation-id:
      - search_8414f375-f1ee-4423-a399-c370ccfd78bc
      operation-location:
      - /phoneNumbers/operations/search_8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
      search-id:
      - 8414f375-f1ee-4423-a399-c370ccfd78bc
      x-processing-time:
      - 3542ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:25:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01",
        "createdDateTime": "2023-12-15T10:25:17.5771415+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
      ms-cv:
      - HhIFQILnRU6APX3HJSi/Fg.0
      x-processing-time:
      - 394ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:25:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "8414f375-f1ee-4423-a399-c370ccfd78bc", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-12-15T10:41:19.4704755+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hhI+nKnJlUyBMP4C4jukAg.0
      x-processing-time:
      - 391ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "8414f375-f1ee-4423-a399-c370ccfd78bc"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ILBb8nRRHyAMJrJUvyStDnykzNYEQ9g7J7mqoytI/SI=
      x-ms-date:
      - Fri, 15 Dec 2023 10:25:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      ms-cv:
      - wCKzWmNA5Uixolyykj5jsg.0
      operation-id:
      - purchase_8414f375-f1ee-4423-a399-c370ccfd78bc
      operation-location:
      - /phoneNumbers/operations/purchase_8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
      purchase-id:
      - 8414f375-f1ee-4423-a399-c370ccfd78bc
      x-processing-time:
      - 824ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:25:23 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_8414f375-f1ee-4423-a399-c370ccfd78bc?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-12-15T10:25:17.5771415+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oBI5GFBhzU2pQsUYOmdhlw.0
      x-processing-time:
      - 269ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 15 Dec 2023 10:25:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-12-15T10:25:36.3095546+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xgqNTbTC50iUVp4z4b+Ntw.0
      x-processing-time:
      - 1248ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
