interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-25T21:34:59.449837Z'
      Repeatability-Request-ID:
      - 03382743-6d09-11ed-90e1-6ca100547643
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 25 Nov 2022 21:34:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-11-25T21:35:00.0036725+00:00",
        "validFrom": "2022-11-25T21:34:59.8964856+00:00", "validUntil": "2023-05-24T21:34:59.8964856+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99492802120938327'
      ms-cv:
      - HclLX86cEku7JJ/dt181ig.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 25 Nov 2022 21:35:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - A3iXce1WA0eLWBiq7v2H/g.0
      x-processing-time:
      - 61ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-bd64-0520-343a0d0073d5"}},
      "role": "Presenter"}, {"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-beda-28c5-593a0d00a0af"}},
      "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Q86NQtyDlvAjyHxnmzAnKg9IuoDLVkq4mY3ABAs9Ki4=
      x-ms-date:
      - Fri, 25 Nov 2022 21:35:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/99492802120938327/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-bd64-0520-343a0d0073d5",
        "communicationUser": {"id": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-bd64-0520-343a0d0073d5"}},
        "role": "Presenter"}, {"communicationIdentifier": {"rawId": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-beda-28c5-593a0d00a0af",
        "communicationUser": {"id": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-beda-28c5-593a0d00a0af"}},
        "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oTTk66CPuUilJSyEHul3ug.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 25 Nov 2022 21:35:01 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99492802120938327/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-bd64-0520-343a0d0073d5",
        "communicationUser": {"id": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-bd64-0520-343a0d0073d5"}},
        "role": "Presenter"}, {"communicationIdentifier": {"rawId": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-beda-28c5-593a0d00a0af",
        "communicationUser": {"id": "8:acs:40204c66-fa39-4b5d-8f88-ea5dc3bb22e2_00000015-5098-beda-28c5-593a0d00a0af"}},
        "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - C7p7w6eYm0G96momWX5PlA.0
    status:
      code: 200
      message: OK
version: 1
