interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 25 May 2023 18:28:36 GMT
      Repeatability-Request-ID:
      - f63e1851-fb29-11ed-a003-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 25 May 2023 18:28:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-25T18:28:37.8573221+00:00",
        "validFrom": "2023-05-25T18:28:37.708151+00:00", "validUntil": "2023-11-21T18:28:37.708151+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99412740306333986'
      ms-cv:
      - dtgowmjN/UWa2havbCtk1A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 25 May 2023 18:28:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-25T18:28:37.8573221+00:00",
        "validFrom": "2023-05-25T18:28:37.708151+00:00", "validUntil": "2023-11-21T18:28:37.708151+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zy3nIibpc0aiarMeVQAcAg.0
    status:
      code: 200
      message: OK
version: 1
