interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 26 May 2023 04:09:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
      ms-cv:
      - 9Kb/mg/iekK8jKi3SMSYiQ.0
      operation-id:
      - search_1e6c054f-5f7f-48f7-ab06-688abaa5680f
      operation-location:
      - /phoneNumbers/operations/search_1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
      search-id:
      - 1e6c054f-5f7f-48f7-ab06-688abaa5680f
      x-processing-time:
      - 3723ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:17 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01",
        "createdDateTime": "2023-05-26T04:09:17.1188585+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
      ms-cv:
      - dTA49lr9CUKbBIXtHECEyg.0
      x-processing-time:
      - 219ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "1e6c054f-5f7f-48f7-ab06-688abaa5680f", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-05-26T04:25:18.9251468+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vCLeKJCRwEGM5oNJECMeKw.0
      x-processing-time:
      - 776ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "1e6c054f-5f7f-48f7-ab06-688abaa5680f"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - F+6SCkxkB0YdFxjf8kmUyJD5ZMreE4Ad0N79AFd2n8M=
      x-ms-date:
      - Fri, 26 May 2023 04:09:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - X2PPSkBgrE+y2QSFmhRiZw.0
      operation-id:
      - purchase_1e6c054f-5f7f-48f7-ab06-688abaa5680f
      operation-location:
      - /phoneNumbers/operations/purchase_1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
      purchase-id:
      - 1e6c054f-5f7f-48f7-ab06-688abaa5680f
      x-processing-time:
      - 1427ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:22 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_1e6c054f-5f7f-48f7-ab06-688abaa5680f?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-05-26T04:09:17.1188585+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Ib7xQR1I40OIIQpW+VOD+A.0
      x-processing-time:
      - 219ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 26 May 2023 04:09:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-05-26T04:09:36.4253296+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cLb5aB2d+kWAcolwnaZiGg.0
      x-processing-time:
      - 6126ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
