interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 14 Dec 2023 11:17:25 GMT
      Repeatability-Request-Id:
      - 5c032a49-9a72-11ee-ad05-a497b10aa3d0
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Thu, 14 Dec 2023 11:17:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-14T11:17:27.7324131+00:00",
        "validFrom": "2023-12-14T11:17:27.5662932+00:00", "validUntil": "2024-06-11T11:17:27.5662932+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99416032397649726'
      ms-cv:
      - gDU3kTCHAEWGY/kyG8yXcA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 14 Dec 2023 11:17:27 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-12-14T11:17:27.7324131+00:00",
        "validFrom": "2023-12-14T11:17:27.5662932+00:00", "validUntil": "2024-06-11T11:17:27.5662932+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4DI67i9mw0+VVnZqvwk4Mw.0
    status:
      code: 200
      message: OK
version: 1
