interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 25 Mar 2025 01:20:03 GMT
      Repeatability-Request-Id:
      - 47642233-0917-11f0-9424-8c3b4abe269c
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Tue, 25 Mar 2025 01:20:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-25T01:20:04.8911771+00:00",
        "validFrom": "2025-03-25T01:20:04.8219506+00:00", "validUntil": "2025-09-21T01:20:04.8219506+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      location:
      - '99489113125850025'
      ms-cv:
      - LGGBIRo4wU+q5kEF7nbscw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2025-03-25T02:20:04.133248", "validUntil": "2025-03-25T03:20:04.133248",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - iruvc6v0A9gA0kMiGP67hlvS0xwHTJBxOimBDiYkUCk=
      x-ms-date:
      - Tue, 25 Mar 2025 01:20:04 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2025-03-13
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2025-03-25T01:20:04.8911771+00:00",
        "validFrom": "2025-03-25T02:20:04.133248+00:00", "validUntil": "2025-03-25T03:20:04.133248+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-supported-versions:
      - 2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jejvl+jBBEyq0bH7VEc/cg.0
    status:
      code: 200
      message: OK
version: 1
