interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:47 GMT
=======
      - Fri, 23 Jun 2023 17:27:01 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:48 GMT
      location:
      - /availablePhoneNumbers/searchResults/c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
      ms-cv:
      - FJDi8PYhC0aOoFiRpMd48Q.0
      operation-id:
      - search_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9
      operation-location:
      - /phoneNumbers/operations/search_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
      search-id:
      - c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0c+2lZAAAAABx0Q1mXKviQKWh0cmonT9WWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1480ms
=======
      - Fri, 23 Jun 2023 17:27:03 GMT
      location:
      - /availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      ms-cv:
      - trvtSXdomEmnN7A6e+/ryQ.0
      operation-id:
      - search_28de0d63-068e-48c1-a0b0-0ae144762801
      operation-location:
      - /phoneNumbers/operations/search_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      search-id:
      - 28de0d63-068e-48c1-a0b0-0ae144762801
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 05dWVZAAAAADuIJAwNy/FRqVR/wVA/ZC2WVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1231ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:48 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T22:23:49.0387303+00:00", "id": "search_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9",
=======
      - Fri, 23 Jun 2023 17:27:03 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:27:02.8760945+00:00", "id": "search_28de0d63-068e-48c1-a0b0-0ae144762801",
>>>>>>> ddcd2202f (Adding test recordings)
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:49 GMT
      location:
      - /availablePhoneNumbers/searchResults/c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
      ms-cv:
      - fbLbCZoFoU205PrFf7VFng.0
=======
      - Fri, 23 Jun 2023 17:27:03 GMT
      location:
      - /availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      ms-cv:
      - 8xEpX4D8S0+t0CrZi2/fow.0
>>>>>>> ddcd2202f (Adding test recordings)
      strict-transport-security:
      - max-age=2592000
      transfer-encoding:
      - chunked
      x-azure-ref:
<<<<<<< HEAD
      - 0de2lZAAAAACYXC2G6VAtS5rqt0n04QvvWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 235ms
=======
      - 059WVZAAAAAAjcK/6ay+9RJMity5ItWKsWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 229ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:51 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9", "phoneNumbers":
        ["+18332311964"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T22:39:50.7319465+00:00", "error": "NoError"}'
=======
      - Fri, 23 Jun 2023 17:27:06 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "28de0d63-068e-48c1-a0b0-0ae144762801", "phoneNumbers":
        ["+18333251378"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabiliti[...]
- request:
<<<<<<< HEAD
    body: '{"searchId": "c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9"}'
=======
    body: '{"searchId": "28de0d63-068e-48c1-a0b0-0ae144762801"}'
>>>>>>> ddcd2202f (Adding test recordings)
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
<<<<<<< HEAD
      - 1rRJjG1WW5+XENUrUb/3goVSug8H8MgV4A2wpR092GQ=
      x-ms-date:
      - Wed, 05 Jul 2023 22:23:52 GMT
=======
      - JoXRi53speDRgKXQjfB9oExJm3qTn1oDoUM4Ve5JXe8=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:06 GMT
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:52 GMT
      ms-cv:
      - ZXmlxNWdRUWA2l+F99o7QQ.0
      operation-id:
      - purchase_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9
      operation-location:
      - /phoneNumbers/operations/purchase_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
      purchase-id:
      - c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0eO2lZAAAAAB6oNjaHfN/TapXgDCIEuAOWVZSMzExMDAwMTE1MDM5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 796ms
=======
      - Fri, 23 Jun 2023 17:27:07 GMT
      ms-cv:
      - uhZChni95kK9GTVpwICeFw.0
      operation-id:
      - purchase_28de0d63-068e-48c1-a0b0-0ae144762801
      operation-location:
      - /phoneNumbers/operations/purchase_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      purchase-id:
      - 28de0d63-068e-48c1-a0b0-0ae144762801
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 06tWVZAAAAADy0/I0W4C2S5T3I+INxdXWWVZSMzExMDAwMTE1MDA5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 1014ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:23:52 GMT
      x-ms-return-client-request-id:
      - 'true'
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_c14eb858-31ee-42e1-9e1d-b4f9d17ed1b9?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running",[...]
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:24:12 GMT
      User-Agent:
      - AzureCli/1.6.1 azsdk-python-communication-sms/1.0.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - R22l98PqnNoZTJfY4tFeAI9v/KZsETlNe47aY94678k=
=======
      - Fri, 23 Jun 2023 17:27:24 GMT
      User-Agent:
      - AzureCli/2.0.0 azsdk-python-communication-sms/1.0.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - Gl8ConxOL4h4vXBkufX5cgDfMiKZZUOC/xneRSfO7J0=
>>>>>>> ddcd2202f (Adding test recordings)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:24:12 GMT
      ms-cv:
      - SzBEyi2I7kKkuf3JED5T7A.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0jO2lZAAAAACgAWHsLmODRoT1KuUsZd02WVZSMzExMDAwMTE1MDQ3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 141ms
=======
      - Fri, 23 Jun 2023 17:27:25 GMT
      ms-cv:
      - n5g9qUzMEkWLPK40hIRokA.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0/NWVZAAAAAAY+SBRfJ94Tb7DAhvZa+yuWVZSMzExMDAwMTE1MDI5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 307ms
>>>>>>> ddcd2202f (Adding test recordings)
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
