interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-02T04:26:25.629504Z'
      Repeatability-Request-ID:
      - 7bcebc81-71f9-11ed-9920-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 02 Dec 2022 04:26:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T04:26:27.2626781+00:00",
        "validFrom": "2022-12-02T04:26:27.1636109+00:00", "validUntil": "2023-05-31T04:26:27.1636109+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '9943410817492013'
      ms-cv:
      - 6RcAQvVhY0OdLiAujsB+wA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 02 Dec 2022 04:26:26 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-02T04:26:27.2626781+00:00",
        "validFrom": "2022-12-02T04:26:27.1636109+00:00", "validUntil": "2023-05-31T04:26:27.1636109+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Q875di4G60O5TOAGnNRcAA.0
    status:
      code: 200
      message: OK
version: 1
