interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-identity/1.3.1 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 22:20:34 GMT
=======
      - AzureCli/2.0.0 azsdk-python-communication-identity/1.3.1 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 23 Jun 2023 17:12:01 GMT
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:35:59 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:16:45 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      x-ms-return-client-request-id:
      - 'true'
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "expiresOn": "2023-07-06T22:20:35.1367577+00:00"}}'
=======
        "expiresOn": "2023-06-24T17:12:01.6613789+00:00"}}'
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "expiresOn": "2023-07-05T23:35:59.858827+00:00"}}'
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "expiresOn": "2023-07-06T18:16:46.3410604+00:00"}}'
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:34 GMT
      ms-cv:
      - 240+9ntBSkuJaS/JHoSoxA.0
=======
      - Fri, 23 Jun 2023 17:12:01 GMT
      ms-cv:
      - xC/8RCN0n02EgaOw95lwVQ.0
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - Tue, 04 Jul 2023 23:35:58 GMT
      ms-cv:
      - CD4wvESSokWX2GTHvvtLeg.0
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:16:46 GMT
      ms-cv:
      - 0iy1q5w1TU22fIjgtNKWgQ.0
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      request-context:
      - appId=
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - 0suylZAAAAABCA6S2P+2eRYUp9yNrKIYWWVZSMzExMDAwMTE1MDIxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 102ms
=======
      - 0YdKVZAAAAADSYSqtbu63SJgOXvzKPgBVWVZSMzExMDAwMTE1MDExADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 110ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 036ykZAAAAABkjjPhn3ojRpc+JEe0eUqGWVZSMzExMDAwMTE1MDMxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 105ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 0jrOlZAAAAAD51PI1dJwET4AgTuQzp84/WVZSMzExMDAwMTE1MDE5ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 103ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "yet-another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AzureCli/1.6.1 azsdk-python-communication-chat/1.1.0 Python/3.8.0 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
      - 700f7e33-f504-49c2-811c-f0fcf9309cc5
=======
      - AzureCli/2.0.0 azsdk-python-communication-chat/1.1.0 Python/3.10.7 (Windows-10-10.0.22621-SP0)
      repeatability-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - e0d6987b-cc4c-47f1-87d3-edc6e5acb564
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 83ecdefe-7fb0-4bbd-b750-d7cef1ce3ab2
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - b0f867a9-aee9-4e79-bb44-404d807673b2
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "yet-another-topic", "createdOn":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        "2023-07-05T22:20:35Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
=======
        "2023-06-23T17:12:02Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> ddcd2202f (Adding test recordings)
=======
        "2023-07-04T23:36:00Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 7c5b674c0 (Reran tests)
=======
        "2023-07-05T18:16:47Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
>>>>>>> 6a8169d18 (Updated rooms version for tests)
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 05 Jul 2023 22:20:35 GMT
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A4mgxeue0zcqh1g8EZYJ8o1X_b8qbf0Ksd3-O1QW6zIg1@thread.v2
      ms-cv:
      - LLudOHUBq0+B2STBBrPEmw.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0s+ylZAAAAADHfohBdRcSQYFhNILAR632WVZSMzExMDAwMTE1MDI1ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
      - 398ms
=======
      - Fri, 23 Jun 2023 17:12:02 GMT
=======
      - Tue, 04 Jul 2023 23:36:00 GMT
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - Wed, 05 Jul 2023 18:16:47 GMT
>>>>>>> 6a8169d18 (Updated rooms version for tests)
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AY8KIILwZW7Ts_SE65noKf10JhfORDuzbL6nQjAACxF81@thread.v2
      ms-cv:
      - bel9OeySgUCZgF0N0MjaFg.0
      strict-transport-security:
      - max-age=2592000
      x-azure-ref:
      - 0jrOlZAAAAAB2k3vGAJxQRIMu611XzwcUWVZSMzExMDAwMTE1MDE3ADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==
      x-cache:
      - CONFIG_NOCACHE
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
      - 526ms
>>>>>>> ddcd2202f (Adding test recordings)
=======
      - 554ms
>>>>>>> 7c5b674c0 (Reran tests)
=======
      - 338ms
>>>>>>> 6a8169d18 (Updated rooms version for tests)
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "<br>hello!<br>", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
[...]
