interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Wed, 21 Sep 2022 22:44:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-09-22T22:44:30.4974521+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XD6ugVGRMEKSuLyc3F83Jg.0
      x-processing-time:
      - 115ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 60f6546b-fdd6-4d54-96cc-c07ffaa6e963
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "another-topic", "createdOn":
        "2022-09-21T22:44:30Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AA6U4TK8HFWpfjcLGu7a6o0bxFEluX6L_z5lfslWpZl41@thread.v2
      ms-cv:
      - lb/QAXPBDkmkEA/f/05L2w.0
      x-processing-time:
      - 539ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?startTime=2022-01-01T00%3A00%3A00.000Z&api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "1663800271108", "type": "topicUpdated", "sequenceId":
        "2", "version": "1663800271108", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:00d81c2d-9741-471a-8369-f3791fd60ced_00000014-021b-029b-b4f1-9c3a0d00b331",
        "communicationUser": {"id": "8:acs:00d81c2d-9741-471a-8369-f3791fd60ced_00000014-021b-029b-b4f1-9c3a0d00b331"}}},
        "createdOn": "2022-09-21T22:44:31Z"}, {"id": "1663800271066", "type": "participantAdded",
        "sequenceId": "1", "version": "1663800271066", "content": {"participants":
        [{"communicationIdentifier": {"rawId": "8:acs:00d81c2d-9741-471a-8369-f3791fd60ced_00000014-021b-029b-b4f1-9c3a0d00b331",
        "communicationUser": {"id": "8:acs:00d81c2d-9741-471a-8369-f3791fd60ced_00000014-021b-029b-b4f1-9c3a0d00b331"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:00d81c2d-9741-471a-8369-f3791fd60ced_00000014-021b-029b-b4f1-9c3a0d00b331",
        "communicationUser": {"id": "8:acs:00d81c2d-9741-471a-8369-f3791fd60ced_00000014-021b-029b-b4f1-9c3a0d00b331"}}},
        "createdOn": "2022-09-21T22:44:31Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iNRqGTtQP0SRyYwmUczppQ.0
      x-processing-time:
      - 139ms
    status:
      code: 200
      message: OK
version: 1
