interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Fri, 29 Mar 2024 07:47:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-03-30T07:47:08.7606335+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XkTgZOkF8Uyv/yGicryxIQ.2.0
      x-processing-time:
      - 26ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "yet-another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - e2cf058d-0379-472e-81d5-16b6de597137
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "yet-another-topic", "createdOn":
        "2024-03-29T07:47:09Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AFbJ4luNhLkaRzXifA3k37Em-HK6eEmkxNW-sTimApl41@thread.v2
      ms-cv:
      - rWPwicxJNUWfgV1FRfk4zA.0
      x-processing-time:
      - 1283ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "<br>hello!<br>", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AFbJ4luNhLkaRzXifA3k37Em-HK6eEmkxNW-sTimApl41@thread.v2/messages/1711698431867
      ms-cv:
      - vDhqhvXNO0Suw118n0h7qg.0
      x-processing-time:
      - 581ms
    status:
      code: 201
      message: Created
version: 1
