interactions:
- request:
    body: '{"validFrom": "2023-04-01T13:35:00.000Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:16:07.324815Z'
      Repeatability-Request-ID:
      - a6c8ad9a-74d9-11ed-9867-a864f13124e5
      x-ms-content-sha256:
      - L4aPyZsj3xQ9rAIkzGHR3LCK2YT6qJCD3Du6LZoSlW4=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:16:08.4842931+00:00",
        "validFrom": "2023-04-01T13:35:00+00:00", "validUntil": "2023-06-03T20:16:08.3949007+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99445767792477621'
      ms-cv:
      - YaTj89f4ZEmftDU+BEXCNw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - tK6oIRSdGQ2WoGSYiG7V2igNFPdlkZuHloFEmNJ8iQc=
      x-ms-date:
      - Mon, 05 Dec 2022 20:16:08 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:16:08.4842931+00:00",
        "validFrom": "2023-04-01T13:35:00+00:00", "validUntil": "2023-06-03T20:16:08.3949007+00:00",
        "roomJoinPolicy": "CommunicationServiceUsers", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vSrrdnXMokSTVmc9GJ28Gg.0
    status:
      code: 200
      message: OK
version: 1
