interactions:
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - d0aa1591-0ea2-4d41-80e2-b980ae270763
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2022-08-04T03:44:28Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3Ac9iLvy0xKJV1K8Adyv-8E5W_ySgpi4DlxIOrgKJ_Ccw1@thread.v2
      ms-cv:
      - obRPDZcGf0690brVJ0XfFw.0
      x-processing-time:
      - 853ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GHDh9pm8DUu7vtZDYCcSzg.0
      x-processing-time:
      - 92ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "1659584668572", "type": "topicUpdated", "sequenceId":
        "2", "version": "1659584668572", "content": {"topic": "thread-topic", "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f",
        "communicationUser": {"id": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f"}}},
        "createdOn": "2022-08-04T03:44:28Z"}, {"id": "1659584668528", "type": "participantAdded",
        "sequenceId": "1", "version": "1659584668528", "content": {"participants":
        [{"communicationIdentifier": {"rawId": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f",
        "communicationUser": {"id": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f",
        "communicationUser": {"id": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f"}}},
        "createdOn": "2022-08-04T03:44:28Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - U5LH/JjSnU+Vp2nMVzArRQ.0
      x-processing-time:
      - 157ms
    status:
      code: 200
      message: OK
- request:
    body: '{"chatMessageId": "1659584668572"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      ms-cv:
      - HQFKR3uKh0O5NBjsXRZxsQ.0
      x-processing-time:
      - 127ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"senderCommunicationIdentifier": {"rawId": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f",
        "communicationUser": {"id": "8:acs:0f59b30a-421f-4769-bca0-70396a952e80_00000013-06d6-024d-7bfa-553a0d00660f"}},
        "chatMessageId": "1659584668572", "readOn": "2022-08-04T03:44:29Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aP/F1PneQkib0FoiNhe+TA.0
      x-processing-time:
      - 43ms
    status:
      code: 200
      message: OK
version: 1
