interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      location:
      - /availablePhoneNumbers/searchResults/45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
      ms-cv:
      - Dusfmchp4EOXa6GoQjZ5/g.0
      operation-id:
      - search_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea
      operation-location:
      - /phoneNumbers/operations/search_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
      search-id:
      - 45bac9f1-4a71-4df1-a6df-6fed5b6e7dea
      x-processing-time:
      - 2507ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07",
        "createdDateTime": "2022-08-10T02:22:32.7169114+00:00", "id": "search_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
      ms-cv:
      - yxgwhOhcA02jNxgU6RTd/g.0
      x-processing-time:
      - 300ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "45bac9f1-4a71-4df1-a6df-6fed5b6e7dea", "phoneNumbers":
        ["+18772156002"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-08-10T02:38:34.9146502+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rc6yzjtTPEiSUZFZEbCkog.0
      x-processing-time:
      - 917ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "45bac9f1-4a71-4df1-a6df-6fed5b6e7dea"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - D6prARGGy4jd7Om59aodlQy5UIK3bc0o3ZYT5pF7yeU=
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      ms-cv:
      - 8KtDL6W4nEih0/sDVwMzLw.0
      operation-id:
      - purchase_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea
      operation-location:
      - /phoneNumbers/operations/purchase_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
      purchase-id:
      - 45bac9f1-4a71-4df1-a6df-6fed5b6e7dea
      x-processing-time:
      - 1603ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "succeeded", "resourceLocation":
        null, "createdDateTime": "2022-08-10T02:22:32.7169114+00:00", "id": "purchase_45bac9f1-4a71-4df1-a6df-6fed5b6e7dea",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2AZSQhZnsE6XGLixymJocw.0
      x-processing-time:
      - 329ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - gMMkv8XBkKXbft8sSBeakESzFG5M1Zi+N4LvyC6gF7g=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wjtbUM5QREWxvXD1k5XC6g.0
      x-processing-time:
      - 212ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
