interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 24 Mar 2025 06:46:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2025-03-25T06:46:19.0090096+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01,
        2022-10-01, 2023-10-01, 2025-03-02-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LCCiAK9E+0+E11lhid0s8g.2.0
      x-processing-time:
      - 26ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 3c44ae30-f52b-400d-98f4-70cf403c4319
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2024-03-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2025-03-24T06:46:21Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AacsV1_Mi3Lcwj8NRRp-wzO5OBMPSLzM-T8bHD27lTZH6KHQE01@thread.v2
      ms-cv:
      - 66nLeRVzTUORtXwsWZfK8A.0
      x-processing-time:
      - 1909ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2024-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview,
        2024-06-05-preview
      ms-cv:
      - YqKGr5f5WU6BYDz85sKF4A.0
      x-processing-time:
      - 218ms
    status:
      code: 204
      message: No Content
version: 1
