interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-12-05T20:10:29.716117Z'
      Repeatability-Request-ID:
      - dd8dadd3-74d8-11ed-aa35-a864f13124e5
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Mon, 05 Dec 2022 20:10:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-12-05T20:10:30.8266453+00:00",
        "validFrom": "2022-12-05T20:10:30.7575109+00:00", "validUntil": "2023-06-03T20:10:30.7575109+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99452990980788120'
      ms-cv:
      - 2Iu1kPFZTUCrnzOcc3aySw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 05 Dec 2022 20:10:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - s0GOIVhIjkGEXb0oeksTyg.0
      x-processing-time:
      - 130ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - akNHJ0HT7HpLzOwt+sBAHw8NyGOWTpzUjngnd51sKgo=
      x-ms-date:
      - Mon, 05 Dec 2022 20:10:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5cBDXdZC70eidXvPNixnTQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 05 Dec 2022 20:10:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1xY0tH9fS0SN/TQv21qpzA.0
    status:
      code: 200
      message: OK
version: 1
