interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 25 May 2023 04:50:06 GMT
      Repeatability-Request-ID:
      - 9ec303b7-fab7-11ed-8194-8cf8c5abc371
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 25 May 2023 04:50:06 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-25T04:50:08.2741762+00:00",
        "validFrom": "2023-05-25T04:50:08.086278+00:00", "validUntil": "2023-11-21T04:50:08.086278+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - '99420915298633703'
      ms-cv:
      - nlRBq4iBdUeJ8bxCDOH9SA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 25 May 2023 04:50:07 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-05-25T04:50:08.2741762+00:00",
        "validFrom": "2023-05-25T04:50:08.086278+00:00", "validUntil": "2023-11-21T04:50:08.086278+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PftgttyVVkOTqpELzC9ogA.0
    status:
      code: 200
      message: OK
version: 1
