interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Thu, 14 Dec 2023 11:06:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-12-15T11:06:47.6319702+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZX4Wj4RhPEOx6ExLUXJKYQ.2.0
      x-processing-time:
      - 88ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-other-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 950c77c9-3804-43cb-a94e-3e2556f05da4
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-other-topic", "createdOn":
        "2023-12-14T11:06:48Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AWTbmd2YDYHy0JJTilcXy62ME1KBB9B0FYLLm-WkzS5s1@thread.v2
      ms-cv:
      - DNxvlWERO0KDHVkRu7ivBQ.0
      x-processing-time:
      - 632ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AWTbmd2YDYHy0JJTilcXy62ME1KBB9B0FYLLm-WkzS5s1@thread.v2/messages/1702552009603
      ms-cv:
      - 4+aHimc5B0640PCML98LIw.0
      x-processing-time:
      - 286ms
    status:
      code: 201
      message: Created
version: 1
