interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AZcliDeploymentTestRG_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001","name":"AZcliDeploymentTestRG_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2022-09-14T10:29:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "sku": {"name": "Standard"}, "zones": ["2"], "properties":
      {"publicIPAllocationMethod": "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes":
      4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-public-ip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip\"\
        ,\r\n  \"etag\": \"W/\\\"9ddfa156-bb05-462b-a40c-7a89a32ad738\\\"\",\r\n \
        \ \"location\": \"eastus2\",\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"\
        properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\"\
        : \"3140734a-0193-4aaa-ab56-531a9882b202\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\
        ,\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/1b6720d5-b35e-4790-96b9-60c7c57f1a75?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/1b6720d5-b35e-4790-96b9-60c7c57f1a75?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-public-ip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip\"\
        ,\r\n  \"etag\": \"W/\\\"51c6cfbd-f9bd-41dc-ab80-ed2650cb1bc0\\\"\",\r\n \
        \ \"location\": \"eastus2\",\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"\
        properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\"\
        : \"3140734a-0193-4aaa-ab56-531a9882b202\",\r\n    \"ipAddress\": \"20.85.123.165\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n\
        }"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"51c6cfbd-f9bd-41dc-ab80-ed2650cb1bc0"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "azclitest-subnet",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"d4fd7e11-769b-430e-8165-7045416d3692\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"fb77cd00-c4cb-487f-b002-3d7ef0012503\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"azclitest-subnet\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\"\
        ,\r\n        \"etag\": \"W/\\\"d4fd7e11-769b-430e-8165-7045416d3692\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n \
        \         \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/5ccbce52-be33-448b-a534-d88769b48c2e?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\"\
        ,\r\n  \"etag\": \"W/\\\"edca2b14-6636-4abb-b4f1-e5ddb1b5c97c\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"edca2b14-6636-4abb-b4f1-e5ddb1b5c97c"
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet",
      "name": "azclitest-subnet", "type": "Microsoft.Network/virtualNetworks/subnets",
      "properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"name": "0",
      "properties": {"serviceName": "NGINX.NGINXPLUS/nginxDeployments"}}], "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\"\
        ,\r\n  \"etag\": \"W/\\\"7240627c-7aa1-4804-90ba-30080e5df12c\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [\r\n      {\r\n\
        \        \"name\": \"0\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet/delegations/0\"\
        ,\r\n        \"etag\": \"W/\\\"7240627c-7aa1-4804-90ba-30080e5df12c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"serviceName\": \"NGINX.NGINXPLUS/nginxDeployments\",\r\n\
        \          \"actions\": [\r\n            \"Microsoft.Network/virtualNetworks/subnets/join/action\"\
        \r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\
        \r\n      }\r\n    ],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\"\
        ,\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"\
        type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7240627c-7aa1-4804-90ba-30080e5df12c"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"enableDiagnosticsSupport": true,
      "networkProfile": {"frontEndIPConfiguration": {"publicIPAddresses": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip"}]},
      "networkInterfaceConfiguration": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet"}}},
      "sku": {"name": "preview_Monthly_gmz7xq9ge3py"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment","name":"azclitest-deployment","type":"nginx.nginxplus/nginxdeployments","sku":{"name":"preview_Monthly_gmz7xq9ge3py"},"location":"eastus2","systemData":{"createdBy":"georgengugi@microsoft.com","createdByType":"User","createdAt":"2022-09-14T10:30:52.3291308Z","lastModifiedBy":"georgengugi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-14T10:30:52.3291308Z"},"properties":{"provisioningState":"Accepted","nginxVersion":null,"managedResourceGroup":null,"ipAddress":null,"networkProfile":{"frontEndIPConfiguration":{"publicIPAddresses":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip"}]},"networkInterfaceConfiguration":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet"}},"enableDiagnosticsSupport":true,"logging":null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0?api-version=2022-08-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"66007f2a-0000-0200-0000-6321ad5e0000"'
      location:
      - https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0?api-version=2022-08-01
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0","name":"f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment","status":"Accepted","startTime":"2022-09-14T10:30:54.3841617Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3f01f45e-0000-0200-0000-6321ad5e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0","name":"f1df8ca5-3d64-404f-b52e-3cec067abe79*64D754040FA3468E173A7A4E387F5ABB04DEFEE0A0FC7A252178E619D5E994A0","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment","status":"Succeeded","startTime":"2022-09-14T10:30:54.3841617Z","endTime":"2022-09-14T10:35:58.4872849Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3f01af65-0000-0200-0000-6321ae8e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment","name":"azclitest-deployment","type":"nginx.nginxplus/nginxdeployments","sku":{"name":"preview_Monthly_gmz7xq9ge3py"},"location":"eastus2","systemData":{"createdBy":"georgengugi@microsoft.com","createdByType":"User","createdAt":"2022-09-14T10:30:52.3291308Z","lastModifiedBy":"georgengugi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-14T10:30:52.3291308Z"},"properties":{"provisioningState":"Succeeded","nginxVersion":"","managedResourceGroup":"NGX_AZcliDeploymentTestRG_000001_azclitest-deployment_eastus2","ipAddress":"20.85.123.165","networkProfile":{"frontEndIPConfiguration":{"publicIPAddresses":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip"}]},"networkInterfaceConfiguration":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet"}},"enableDiagnosticsSupport":true}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d3adb587-a96f-4305-a1b0-d5872fb7b447
      - b0feeb03-26db-478c-8d2f-16db59e78bf5
      - 45d895ec-0953-4ba1-a263-e6864ca934a5
      - 43677bb9-b374-4fbc-92b8-2d15db090d71
      - 5c339720-53b0-4ffe-9226-a5d7fa6532e8
      - 284840d7-d8b8-472d-b814-80d7264a2b6d
      - 55fddde2-6b39-43c8-8eca-5534ff75175d
      - 55e444cb-419c-46e5-af45-ed7fd7cecab2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "properties": {"enableDiagnosticsSupport": false,
      "managedResourceGroup": "NGX_AZcliDeploymentTestRG_000001_azclitest-deployment_eastus2",
      "networkProfile": {"frontEndIPConfiguration": {"publicIPAddresses": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip"}]},
      "networkInterfaceConfiguration": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet"}},
      "provisioningState": "Succeeded"}, "sku": {"name": "preview_Monthly_gmz7xq9ge3py"},
      "tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.KeyVault/vaults/cli000002?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cli000002''
        under resource group ''AZcliDeploymentTestRG_000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+254
        (20) 7268140"],"displayName":"George Ngugi","givenName":"George","jobTitle":"SOFTWARE
        ENGINEER","mail":"georgengugi@microsoft.com","mobilePhone":null,"officeLocation":"NAIROBI-WAIYAKI
        WAY/Mobile","preferredLanguage":null,"surname":"Ngugi","userPrincipalName":"georgengugi@microsoft.com","id":"44307965-0ae2-4620-9a3d-0a9a0371e958"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"AM1PEPF000105A9"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "44307965-0ae2-4620-9a3d-0a9a0371e958",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.KeyVault/vaults/cli000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZcliDeploymentTestRG_000001/providers/Microsoft.KeyVault/vaults/cli000002","name":"cli000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"georgengugi@microsoft.com","createdByType":"User","createdAt":"2022-09-14T10:37:10.331Z","lastModifiedBy":"georgengugi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-14T10:37:10.331Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"44307965-0ae2-4620-9a3d-0a9a0371e958","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli000002.vault.azure.net/certificates/azclitestcert/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli000002.vault.azure.net/certificates/azclitestcert/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli000002.vault.azure.net/certificates/azclitestcert/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALGFc4kHlL5XZGy+VVINGbyMt9Ms4mfW4RM2p+GLw/ZCR3PYxhQPK4/3Lhjw8Yp+QcRC/8Dvh7FNTjidyjJv9he4H5SH7y4KRFzS/i8lynSrNLXqwggRY75e55ceMSp6PrKPAFxNEkdn2dZ6VEpU45H3srzeiMwaRiJ+3sSvmL9FrVGM/XviTy/AxlL+XUpa9fEVx0RfdFCwB+tP1MxHRnwWCiODTSvMLXmZbiWu63DWd4nE15KYSUmrV6V1kdnFEiF0lK0OW17jDDsMozcld/a49OMi+ZwPxPtqMIoXPOl7MJ7Wy+FKEn5yg41UtrgxQ0p77fyuYyI/YXK4kNYbjF0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCGKUovQeZ9oeXVfvFDfb1NCd25b4fZeQ/5by3aNXz4DlrOeiz/bQyqpNKDhlWIm/u7bq2SgfPZrtRKG/b0Dou+t6OvJSsikrK1ysKlmhbYQwZuFJ4i+dOudcBLRRz5S24Yyz2SOzRs9KjfKMTrKqCi+wfqjKD9L7JwLzmMPfyFLFZWBPhNayohIdg4WDoE4hDrQtLYqU5NFjhO1wAPdgnR/CvTHmsTN7fN73UNGi3ENaieFo9dKpuPudYyPeq0y5p/cf+PA75rlQ0pohZi+d88OGilgyBY+nP7RIaL5la2lDizGLT5YXoKeJzU0w0J7ZDd7PjxsE2mdPTwTgMS+6jq","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"5c640a8b0c644605b9455cbe40bff7f3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://cli000002.vault.azure.net/certificates/azclitestcert/pending?api-version=7.0&request_id=5c640a8b0c644605b9455cbe40bff7f3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli000002.vault.azure.net/certificates/azclitestcert/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli000002.vault.azure.net/certificates/azclitestcert/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALGFc4kHlL5XZGy+VVINGbyMt9Ms4mfW4RM2p+GLw/ZCR3PYxhQPK4/3Lhjw8Yp+QcRC/8Dvh7FNTjidyjJv9he4H5SH7y4KRFzS/i8lynSrNLXqwggRY75e55ceMSp6PrKPAFxNEkdn2dZ6VEpU45H3srzeiMwaRiJ+3sSvmL9FrVGM/XviTy/AxlL+XUpa9fEVx0RfdFCwB+tP1MxHRnwWCiODTSvMLXmZbiWu63DWd4nE15KYSUmrV6V1kdnFEiF0lK0OW17jDDsMozcld/a49OMi+ZwPxPtqMIoXPOl7MJ7Wy+FKEn5yg41UtrgxQ0p77fyuYyI/YXK4kNYbjF0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCGKUovQeZ9oeXVfvFDfb1NCd25b4fZeQ/5by3aNXz4DlrOeiz/bQyqpNKDhlWIm/u7bq2SgfPZrtRKG/b0Dou+t6OvJSsikrK1ysKlmhbYQwZuFJ4i+dOudcBLRRz5S24Yyz2SOzRs9KjfKMTrKqCi+wfqjKD9L7JwLzmMPfyFLFZWBPhNayohIdg4WDoE4hDrQtLYqU5NFjhO1wAPdgnR/CvTHmsTN7fN73UNGi3ENaieFo9dKpuPudYyPeq0y5p/cf+PA75rlQ0pohZi+d88OGilgyBY+nP7RIaL5la2lDizGLT5YXoKeJzU0w0J7ZDd7PjxsE2mdPTwTgMS+6jq","cancellation_requested":false,"status":"completed","target":"https://cli000002.vault.azure.net/certificates/azclitestcert","request_id":"5c640a8b0c644605b9455cbe40bff7f3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli000002.vault.azure.net/certificates/azclitestcert/?api-version=7.0
  response:
    body:
[...]
