interactions:
- request:
    body: '{"properties": {"action": {"elseBlockExists": true, "if": {"condition":
      "[[equals(AccessTier,''Hot'')]]"}}, "blobs": [{"metadata": [{"key": "mKey1",
      "value": "mValue1"}], "name": "folder1/file1.txt", "properties": [{"key": "Creation-Time",
      "value": "Wed, 07 Jun 2023 05:23:29 GMT"}, {"key": "Last-Modified", "value":
      "Wed, 07 Jun 2023 05:23:29 GMT"}, {"key": "Etag", "value": "0x8DB67175454D36D"},
      {"key": "Content-Length", "value": "38619"}, {"key": "Content-Type", "value":
      "text/xml"}, {"key": "Content-Encoding", "value": ""}, {"key": "Content-Language",
      "value": ""}, {"key": "Content-CRC64", "value": ""}, {"key": "Content-MD5",
      "value": "njr6iDrmU9+FC89WMK22EA=="}, {"key": "Cache-Control", "value": ""},
      {"key": "Content-Disposition", "value": ""}, {"key": "BlobType", "value": "BlockBlob"},
      {"key": "AccessTier", "value": "Hot"}, {"key": "AccessTierInferred", "value":
      "true"}, {"key": "LeaseStatus", "value": "unlocked"}, {"key": "LeaseState",
      "value": "available"}, {"key": "ServerEncrypted", "value": "true"}, {"key":
      "TagCount", "value": "1"}], "tags": [{"key": "tKey1", "value": "tValue1"}]},
      {"metadata": [{"key": "mKey2", "value": "mValue2"}], "name": "folder2/file1.txt",
      "properties": [{"key": "Creation-Time", "value": "Wed, 06 Jun 2023 05:23:29
      GMT"}, {"key": "Last-Modified", "value": "Wed, 06 Jun 2023 05:23:29 GMT"}, {"key":
      "Etag", "value": "0x6FB67175454D36D"}], "tags": [{"key": "tKey2", "value": "tValue2"}]}],
      "container": {"metadata": [{"key": "mContainerKey1", "value": "mContainerValue1"}],
      "name": "firstContainer"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageActions/locations/eastus2euap/previewActions?api-version=2023-01-01
  response:
    body:
      string: '{"properties":{"container":{"name":"firstContainer","metadata":[{"key":"mContainerKey1","value":"mContainerValue1"}]},"blobs":[{"matchedBlock":"If","properties":[{"key":"Creation-Time","value":"Wed,
        07 Jun 2023 05:23:29 GMT"},{"key":"Last-Modified","value":"Wed, 07 Jun 2023
        05:23:29 GMT"},{"key":"Etag","value":"0x8DB67175454D36D"},{"key":"Content-Length","value":"38619"},{"key":"Content-Type","value":"text/xml"},{"key":"Content-Encoding","value":""},{"key":"Content-Language","value":""},{"key":"Content-CRC64","value":""},{"key":"Content-MD5","value":"njr6iDrmU9+FC89WMK22EA=="},{"key":"Cache-Control","value":""},{"key":"Content-Disposition","value":""},{"key":"BlobType","value":"BlockBlob"},{"key":"AccessTier","value":"Hot"},{"key":"AccessTierInferred","value":"true"},{"key":"LeaseStatus","value":"unlocked"},{"key":"LeaseState","value":"available"},{"key":"ServerEncrypted","value":"true"},{"key":"TagCount","value":"1"}],"tags":[{"key":"tKey1","value":"tValue1"}],"name":"folder1/file1.txt","metadata":[{"key":"mKey1","value":"mValue1"}]},{"matchedBlock":"Else","properties":[{"key":"Creation-Time","value":"Wed,
        06 Jun 2023 05:23:29 GMT"},{"key":"Last-Modified","value":"Wed, 06 Jun 2023
        05:23:29 GMT"},{"key":"Etag","value":"0x6FB67175454D36D"}],"tags":[{"key":"tKey2","value":"tValue2"}],"name":"folder2/file1.txt","metadata":[{"key":"mKey2","value":"mValue2"}]}],"action":{"if":{"condition":"[[equals(AccessTier,''Hot'')]]"},"elseBlockExists":true}},"isValid":true,"errors":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
