interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_mobile_network000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001","name":"cli_test_mobile_network000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-05T07:57:14Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"publicLandMobileNetworkIdentifier":
      {"mcc": "001", "mnc": "01"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002","name":"mobile_network_000002","type":"microsoft.mobilenetwork/mobilenetworks","location":"eastus","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-01-05T07:57:30.5296389Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-05T07:57:30.5296389Z"},"properties":{"provisioningState":"Succeeded","publicLandMobileNetworkIdentifier":{"mcc":"001","mnc":"01"},"serviceKey":"181cb935-4766-4ca9-aff1-833e9efa7fea"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9d002ee3-0000-0100-0000-63b682eb0000"'
      mise-correlation-id:
      - 3d37455d-edff-41b4-a215-4ed83418ea35
      x-ms-build-version:
      - 1.0.1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002/sites/site_000003?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002/sites/site_000003","name":"site_000003","type":"microsoft.mobilenetwork/mobilenetworks/sites","location":"eastus","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-01-05T07:57:37.2333504Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-05T07:57:37.2333504Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1e0112da-0000-0100-0000-63b682f20000"'
      mise-correlation-id:
      - 676bfd36-7684-4fd0-9b34-2483d18064e5
      x-ms-build-version:
      - 1.0.1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"controlPlaneAccessInterface": {"ipv4Address":
      "10.28.128.2", "ipv4Gateway": "10.28.128.1", "ipv4Subnet": "10.28.128.0/24",
      "name": "N2"}, "coreNetworkTechnology": "5GC", "localDiagnosticsAccess": {"authenticationType":
      "AAD"}, "platform": {"type": "AKS-HCI"}, "sites": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002/sites/site_000003"}],
      "sku": "G0", "ueMtu": 1440}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004","name":"pccp000004","type":"microsoft.mobilenetwork/packetcorecontrolplanes","location":"eastus","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-01-05T07:57:44.8183457Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-05T07:57:44.8183457Z"},"properties":{"controlPlaneAccessInterface":{"ipv4Address":"10.28.128.2","ipv4Gateway":"10.28.128.1","ipv4Subnet":"10.28.128.0/24","name":"N2"},"coreNetworkTechnology":"5GC","localDiagnosticsAccess":{"authenticationType":"AAD"},"platform":{"type":"AKS-HCI"},"sites":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002/sites/site_000003"}],"sku":"G0","ueMtu":1440,"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/2a6f5241-5f14-4e38-8166-0a03573e349f*77AECCCD2D0CF5B287267BD55A2FF6521E9ADFBDEA284DD6ACC331B1CBA4F604?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4d01fdcc-0000-0100-0000-63b682fb0000"'
      x-ms-build-version:
      - 1.0.1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/2a6f5241-5f14-4e38-8166-0a03573e349f*77AECCCD2D0CF5B287267BD55A2FF6521E9ADFBDEA284DD6ACC331B1CBA4F604?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/2a6f5241-5f14-4e38-8166-0a03573e349f*77AECCCD2D0CF5B287267BD55A2FF6521E9ADFBDEA284DD6ACC331B1CBA4F604","name":"2a6f5241-5f14-4e38-8166-0a03573e349f*77AECCCD2D0CF5B287267BD55A2FF6521E9ADFBDEA284DD6ACC331B1CBA4F604","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004","status":"Accepted","startTime":"2023-01-05T07:57:46.8856644Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9d00356e-0000-0100-0000-63b682fa0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"userPlaneAccessInterface": {"ipv4Address":
      "10.28.128.2", "ipv4Gateway": "10.28.128.1", "ipv4Subnet": "10.28.128.0/24",
      "name": "N2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004/packetCoreDataPlanes/pcdp000005?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/[...]
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/mobileNetworks/mobile_network_000002/dataNetworks/dn000006?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_net[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"dnsAddresses": ["1.1.1.1"], "userPlaneDataInterface":
      {"ipv4Address": "10.28.128.2", "ipv4Gateway": "10.28.128.1", "ipv4Subnet": "10.28.128.0/24",
      "name": "N2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004/packetCoreDataPlanes/pcdp000005/attachedDataNetworks/dn000006?api-version=2022-11-01
  response:
   [...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"dnsAddresses": ["1.1.1.1"], "userPlaneDataInterface":
      {"ipv4Address": "10.28.128.2", "ipv4Gateway": "10.28.128.1", "ipv4Subnet": "10.28.128.0/24",
      "name": "N2"}}, "tags": {"tag": "test", "tag2": "test2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004/packetCoreDataPlanes/pcdp000005/attachedDataNetworks/dn000006?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004/packetCoreDataPlanes/pcdp000005/attachedDataNetworks?api-version=2022-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004/packetCoreDataPlanes/pcdp000005/attachedDataNetworks/dn000006","name":"dn000006","type":"microsoft.mobilenetwork/packetcorecontrolplanes/packetcoredataplanes/attacheddatanetworks","location":"eastus","tags":{"tag":"test","tag2":"test2"},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-01-05T08:01:34.8597484Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-05T08:03:13.7861149Z"},"properties":{"provisioningState":"Succeeded","userPlaneDataInterface":{"name":"N2","ipv4Address":"10.28.128.2","ipv4Subnet":"10.28.128.0/24","ipv4Gateway":"10.28.128.1"},"dnsAddresses":["1.1.1.1"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 17b9c58e-b014-4add-973a-0cc87e5b1d4e
      - a644d06b-593d-4180-947a-942ab703cf85
      - 82ae713b-9d2d-4e6d-bbf3-2cf88923c0d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/e799e5c0-1fd6-4ef5-8703-3742aa91ad57*1D657F73320CA6833F54C07C2B5E78AA8F885AC9DB904C14539E7379CB674CF5?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/e799e5c0-1fd6-4ef5-8703-3742aa91ad57*1D657F73320CA6833F54C07C2B5E78AA8F885AC9DB904C14539E7379CB674CF5","name":"e799e5c0-1fd6-4ef5-8703-3742aa91ad57*1D657F73320CA6833F54C07C2B5E78AA8F885AC9DB904C14539E7379CB674CF5","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mobile_network000001/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/pccp000004/packetCoreDataPlanes/pcdp000005/attachedDataNetworks/dn000006","status":"Succeeded","startTime":"2023-01-05T08:04:57.5747127Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9d002b71-0000-0100-0000-63b684ec0000"'
    status:
      code: 200
      message: OK
version: 1
