interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sentinel_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001","name":"cli_test_sentinel_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-28T09:57:10Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6d1bca23-fd4d-406e-8e70-90de901e05a8","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-03-28T09:57:11.7177177Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-03-28T19:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-03-28T09:57:11.7177177Z","modifiedDate":"2023-03-28T09:57:11.7177177Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002","name":"workspace-000002","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6d1bca23-fd4d-406e-8e70-90de901e05a8","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-03-28T09:57:11.7177177Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-03-28T19:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-03-28T09:57:11.7177177Z","modifiedDate":"2023-03-28T09:57:11.7177177Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002","name":"workspace-000002","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "plan": {"name": "SecurityInsights(workspace-000002)",
      "publisher": "Microsoft", "promotionCode": "", "product": "OMSGallery/SecurityInsights"},
      "properties": {"workspaceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/microsoft.OperationalInsights/workspaces/workspace-000002"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights%28workspace-000002%29?api-version=2015-11-01-preview
  response:
    body:
      string: '{"plan":{"name":"SecurityInsights(workspace-000002)","publisher":"Microsoft","promotionCode":"","product":"OMSGallery/SecurityInsights"},"properties":{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/microsoft.OperationalInsights/workspaces/workspace-000002","provisioningState":"Succeeded","creationTime":"Tue,
        28 Mar 2023 09:57:42 GMT","sku":{"name":"PerGB"},"lastModifiedTime":"Tue,
        28 Mar 2023 09:57:42 GMT","containedResources":[],"workbookTemplates":[]},"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)","name":"SecurityInsights(workspace-000002)","type":"Microsoft.OperationsManagement/solutions"}'
    headers:
      api-supported-versions:
      - 2015-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)?api-version=2015-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)?api-version=2015-11-01-preview
  response:
    body:
      string: '{"plan":{"name":"SecurityInsights(workspace-000002)","publisher":"Microsoft","promotionCode":"","product":"OMSGallery/SecurityInsights"},"properties":{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/microsoft.OperationalInsights/workspaces/workspace-000002","provisioningState":"Succeeded","creationTime":"Tue,
        28 Mar 2023 09:57:42 GMT","sku":{"name":"PerGB"},"lastModifiedTime":"Tue,
        28 Mar 2023 09:57:42 GMT","containedResources":[],"workbookTemplates":[]},"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)","name":"SecurityInsights(workspace-000002)","type":"Microsoft.OperationsManagement/solutions"}'
    headers:
      api-supported-versions:
      - 2015-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"classification": "FalsePositive", "classificationComment":
      "Not a malicious activity", "classificationReason": "IncorrectAlertLogic", "description":
      "This is a demo incident", "firstActivityTimeUtc": "2019-01-01T13:00:30Z", "lastActivityTimeUtc":
      "2019-01-01T13:05:30Z", "owner": {"objectId": "2046feea-040d-4a46-9e2b-91c2941bfa70"},
      "severity": "High", "status": "Closed", "title": "My incident"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/incidents/afbd324f-6c48-459c-8710-8d1e1cd03812?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Incidents/afbd324f-6c48-459c-8710-8d1e1cd03812","name":"afbd324f-6c48-459c-8710-8d1e1cd03812","etag":"\"9500eae9-0000-0100-0000-6422ba390000\"","type":"Microsoft.SecurityInsights/Incidents","properties":{"title":"My
        incident","description":"This is a demo incident","severity":"High","status":"Closed","classification":"FalsePositive","classificationReason":"IncorrectAlertLogic","classificationComment":"Not
        a malicious activity","owner":{"objectId":"2046feea-040d-4a46-9e2b-91c2941bfa70","email":null,"assignedTo":null,"userPrincipalName":null,"ownerType":"Unknown"},"labels":[],"firstActivityTimeUtc":"2019-01-01T13:00:30Z","lastActivityTimeUtc":"2019-01-01T13:05:30Z","lastModifiedTimeUtc":"2023-03-28T09:58:17.1127901Z","createdTimeUtc":"2023-03-28T09:58:17.1127901Z","incidentNumber":1,"additionalData":{"alertsCount":0,"bookmarksCount":0,"commentsCount":0,"alertProductNames":[],"tactics":[],"techniques":[]},"relatedAnalyticRuleIds":[],"incidentUrl":"https://portal.azure.com/#asset/Microsoft_Azure_Security_Insights/Incident/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Incidents/afbd324f-6c48-459c-8710-8d1e1cd03812","providerName":"Azure
        Sentinel","providerIncidentId":"1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"displayName": "My bookmark", "entityMappings": [{"entityType":
      "Account", "fieldMappings": [{"identifier": "Fullname", "value": "johndoe@microsoft.com"}]}],
      "labels": ["Tag1", "Tag2"], "notes": "Found a suspicious activity", "query":
      "SecurityEvent | where TimeGenerated > ago(1d) and TimeGenerated < ago(2d)",
      "queryResult": "Security Event query result", "tactics": ["Execution"], "techniques":
      ["T1609"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096","name":"2216d0e1-91e3-4902-89fd-d2df8c535096","etag":"\"3f00283e-0000-0100-0000-6422ba390000\"","type":"Microsoft.SecurityInsights/Bookmarks","properties":{"displayName":"My
        bookmark","created":"2023-03-28T09:58:17.7075951+00:00","updated":"2023-03-28T09:58:17+00:00","createdBy":{"objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","name":"azureclilivetest"},"updatedBy":{"objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","name":"azureclilivetest"},"eventTime":"2023-03-28T09:58:17.7062454+00:00","notes":"Found
        a suspicious activity","labels":["Tag1","Tag2"],"query":"SecurityEvent | where
        TimeGenerated > ago(1d) and TimeGenerated < ago(2d)","queryResult":"Security
        Event query result","incidentInfo":{"incidentId":null,"title":null,"relationName":null,"severity":null},"entityMappings":[{"entityType":"Account","fieldMappings":[{"identifier":"Fullname","value":"johndoe@microsoft.com"}]}],"tactics":["Execution"],"techniques":["T1609"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"relatedResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/incidents/afbd324f-6c48-459c-8710-8d1e1cd03812/relations/relation-000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Incidents/afbd324f-6c48-459c-8710-8d1e1cd03812/relations/relation-000003","name":"relation-000003","etag":"\"9500ede9-0000-0100-0000-6422ba3a0000\"","type":"Microsoft.SecurityInsights/Incidents/relations","properties":{"relatedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096","relatedResourceName":"2216d0e1-91e3-4902-89fd-d2df8c535096","relatedResourceType":"Microsoft.SecurityInsights/Bookmarks"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/incidents/afbd324f-6c48-459c-8710-8d1e1cd03812/relations?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Incidents/afbd324f-6c48-459c-8710-8d1e1cd03812/relations/relation-000003","name":"relation-000003","etag":"\"9500ede9-0000-0100-0000-6422ba3a0000\"","type":"Microsoft.SecurityInsights/Incidents/relations","properties":{"relatedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096","relatedResourceName":"2216d0e1-91e3-4902-89fd-d2df8c535096","relatedResourceType":"Microsoft.SecurityInsights/Bookmarks"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/incidents/afbd324f-6c48-459c-8710-8d1e1cd03812/relations/relation-000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
version: 1
