interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/products?api-version=2024-04-01
  response:
    body:
      string: '{"totalCount":19,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/HWEG-Q6HX-BG7-TGB/products/30d76dc4-93c6-4638-dbcd-8b64f0882e9b","name":"30d76dc4-93c6-4638-dbcd-8b64f0882e9b","properties":{"autoRenew":"On","availabilityId":"CFQ7TTC0JJQN","billingFrequency":"P1M","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB","billingProfileDisplayName":"Test_Test_Dailyinvoicing_usethisone","endDate":"01/25/2025","invoiceSectionId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB/invoiceSections/3GOG-XYPA-PJA-TGB","invoiceSectionDisplayName":"Test_Test_Dailyinvoicing","productType":"Test
        - Modern M365 E5","productTypeId":"CFQ7TTC0JG7P","skuId":"0001","skuDescription":"Test
        - M365 E5 New Commerce Testing","purchaseDate":"01/26/2024","quantity":3,"status":"AutoRenew","tenantId":"473a1d36-579e-4bf9-a54c-81f682d19a7c"},"type":"Microsoft.Billing/billingAccounts/products"},{"id":"/providers/Microsoft.Billing/billingAccounts/HWEG-Q6HX-BG7-TGB/products/f8ac451d-d74f-4061-d6e4-6423529a9834","name":"f8ac451d-d74f-4061-d6e4-6423529a9834","properties":{"autoRenew":"On","availabilityId":"CFQ7TTC0JWXX","billingFrequency":"P1M","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB","billingProfileDis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB/products?api-version=2024-04-01
  response:
    body:
      string: '{"totalCount":16,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/HWEG-Q6HX-BG7-TGB/products/30d76dc4-93c6-4638-dbcd-8b64f0882e9b","name":"30d76dc4-93c6-4638-dbc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB/invoiceSections/3GOG-XYPA-PJA-TGB/products?api-version=2024-04-01
  response:
    body:
      string: '{"totalCount":16,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/HWEG-Q6HX-BG7-TGB/products/30d76dc4-93c6-4638-dbcd-8b64f0882e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/products/30d76dc4-93c6-4638-dbcd-8b64f0882e9b?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/HWEG-Q6HX-BG7-TGB/products/30d76dc4-93c6-4638-dbcd-8b64f0882e9b","name":"30d76dc4-93c6-4638-dbcd-8b64f0882e9b","properties":{"autoRenew":"On","availabilityId":"CFQ7TTC0JJQN","billingFrequency":"P1M","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB","billingProfileDisplayName":"Test_Test_Dailyinvoicing_usethisone","endDate":"01/25/2025","invoiceSectionId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB/invoiceSections/3GOG-XYPA-PJA-TGB","invoiceSectionDisplayName":"Test_Test_Dailyinvoicing","productType":"Test
        - Modern M365 E5","productTypeId":"CFQ7TTC0JG7P","skuId":"0001","skuDescription":"Test
        - M365 E5 New Commerce Testing","purchaseDate":"01/26/2024","quantity":3,"status":"AutoRenew","tenantId":"473a1d36-579e-4bf9-a54c-81f682d19a7c"},"type":"Microsoft.Billing/billingAccounts/products"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2024-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2839.777
    status:
      code: 200
      message: OK
- request:
    body: '{"destinationInvoiceSectionId": "/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/9ea04beecb25435781b6a9c112a4713b/invoiceSections/YB7U-KJHC-PJA-TGB"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/products/30d76dc4-93c6-4638-dbcd-8b64f0882e9b/validateMoveEligibility?api-version=2024-04-01
  response:
    body:
      string: '{"isMoveEligible":false,"errorDetails":{"code":"InsufficientPermissionOnSource","message":"User
        does not have permission to change the billing profile for this product."}}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2024-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '199'
      x-ms-service-version:
      - 10.6.2839.777
    status:
      code: 200
      message: OK
version: 1
