interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts?filter=properties%2FagreementType%20eq%20%27EnterpriseAgreement%27&includeAll=false&includeAllWithoutBillingProfiles=false&includeDeleted=false&includePendingAgreement=false&includeResellee=false&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/6467779","name":"6467779","properties":{"accountStatus":"Extended","accountType":"Enterprise","accountSubType":"Other","agreementType":"EnterpriseAgreement","displayName":"BVT
        EA RI VSOID#6684 Cust1 (DO NOT USE)","enrollmentDetails":{"startDate":"6/1/2020
        12:00:00 AM +00:00","endDate":"5/31/2023 12:00:00 AM +00:00","currency":"USD","channel":"EaDirect","language":"en","countryCode":"IN
        ","billingCycle":"Monthly","extendedTermOption":"Other","supportLevel":"Other"},"hasReadAccess":true,"soldTo":{"companyName":"BVT
        EA RI VSOID#6684 Cust1 (DO NOT USE)","country":"IN ","isValidAddress":true}},"type":"Microsoft.Billing/billingAccounts"},{"id":"/providers/Microsoft.Billing/billingAccounts/6575495","name":"6575495","properties":{"accountStatus":"Extended","accountType":"Enterprise","accountSubType":"Other","agreementType":"EnterpriseAgreement","displayName":"BVT
        Invoice Testing Customer1 (DO NOT USE)","enrollmentDetails":{"startDate":"6/1/2020
        12:00:00 AM +00:00","endDate":"5/31/2023 12:00:00 AM +00:00","currency":"USD","channel":"EaDirect","language":"en","countryCode":"US
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/6467779?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/6467779","name":"6467779","properties":{"accountStatus":"Extended","accountType":"Enterprise","accountSubType":"Other","agreementType":"EnterpriseAgreement","displayName":"BVT
        EA RI VSOID#6684 Cust1 (DO NOT USE)","enrollmentDetails":{"startDate":"6/1/2020
        12:00:00 AM +00:00","endDate":"5/31/2023 12:00:00 AM +00:00","currency":"USD","channel":"EaDirect","language":"en","countryCode":"IN
        ","billingCycle":"Monthly","extendedTermOption":"Opted-In","supportLevel":"Other","supportCoverage":"
        - ","cloud":"Azure Commercial","poNumber":"6467779-O150","invoiceRecipient":"mrudup@microsoft.com"},"hasReadAccess":false,"soldTo":{"companyName":"BVT
        EA RI VSOID#6684 Cust1 (DO NOT USE)","country":"IN ","isValidAddress":true}},"type":"Microsoft.Billing/billingAccounts"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-initialbilling:
      - 'False'
      x-ms-service-version:
      - 10.6.2873.826
    status:
      code: 200
      message: OK
version: 1
