interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders?filter=properties%2FbillingProfileId%20eq%20%27%2Fproviders%2FMicrosoft.Billing%2FbillingAccounts%2Fe599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31%2FbillingProfiles%2FMT3O-U4IM-BG7-TGB%27&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders/5119b7bb-944e-4ec7-a79e-0579dd96cc4d","name":"5119b7bb-944e-4ec7-a79e-0579dd96cc4d","type":"microsoft.billing/billingAccounts/reservationOrders","etag":18,"properties":{"originalQuantity":1,"requestDateTime":"2024-01-11T02:05:20.3087331Z","billingPlan":"Monthly","reservations":[{"id":"/providers/Microsoft.Capacity/reservationOrders/5119b7bb-944e-4ec7-a79e-0579dd96cc4d/reservations/0453543c-59c7-4f50-bfd2-e345ac4f8d67"}],"term":"P3Y","displayName":"VM_RI_01-10-2024_18-05","createdDateTime":"2024-01-11T02:07:59.0217034Z","benefitStartTime":"2024-01-11T02:07:57.0816300Z","provisioningState":"Succeeded","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/billingProfiles/MT3O-U4IM-BG7-TGB","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31","expiryDate":"2027-01-11","expiryDateTime":"2027-01-11T02:07:57.0816300Z","productCode":"0002c60c-0000-0160-0fdc-480cae7d3f21"}},{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders/2a9258b5-8008-45fd-bb20-4de274e3742b","name":"2a9258b5-8008-45fd-bb20-4de274e3742b","type":"microsoft.billing/billingAccounts/reservationOrders","etag":17,"properties":{"originalQuantity":1,"requestDateTime":"2024-01-11T02:12:30.7298233Z","billingPlan":"Monthly","reservations":[{"id":"/providers/Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders/5119b7bb-944e-4ec7-a79e-0579dd96cc4d?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders/5119b7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders/5119b7bb-944e-4ec7-a79e-0579dd96cc4d/reservations/0453543c-59c7-4f50-bfd2-e345ac4f8d67?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/reservationOrders/5119b7bb-944e-4ec7-a79e-0579dd96cc4d/reservations/0453543c-59c7-4f50-bfd2-e345ac4f8d67","name":"0453543c-59c7-4f50-bfd2-e345ac4f8d67","type":"microsoft.billing/billingAccounts/reservationOrders/reservations","location":"uksouth","etag":13,"sku":{"name":"Standard_B2ats_v2"},"properties":{"productCode":"0002c60c-0000-0160-0fdc-480cae7d3f21","appliedScopeProperties":{"subscriptionId":"/subscriptions/00000000-0000-0000-0000-000000000000","displayName":"Azure
        subscription"},"reservedResourceType":"VirtualMachines","userFriendlyRenewState":"Off","skuDescription":"Reserved
        VM Instance, Standard_B2ats_v2, UK South, 3 Years","renew":false,"archived":false,"quantity":1,"appliedScopeType":"Single","displayName":"VM_RI_01-10-2024_18-05","provisioningState":"Succeeded","term":"P3Y","displayProvisioningState":"Succeeded","userFriendlyAppliedScopeType":"Single","expiryDateTime":"2027-01-11T02:07:57.0816300Z","purchaseDateTime":"2024-01-11T02:05:20.3087331Z","benefitStartTime":"2024-01-11T02:07:57.0816300Z","lastUpdatedDateTime":"2024-01-26T01:31:07.2328991Z","expiryDate":"2027-01-11","purchaseDate":"2024-01-11","effectiveDateTime":"2024-01-26T01:31:07.1235226Z","instanceFlexibility":"On","utilization":{"trend":"SAME","aggregates":[{"grain":1.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"},{"grain":7.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"},{"grain":30.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"}]},"billingPlan":"Monthly","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-version:
      - 1.0.2837.793
    status:
      code: 200
      message: OK
version: 1
