interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingSubscriptions?includeDeleted=false&includeFailed=false&includeTenantSubscriptions=false&api-version=2024-04-01
  response:
    body:
      string: '{"totalCount":19,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingSubscriptions/30d76dc4-93c6-4638-dbcd-8b64f0882e9b","name":"30d76dc4-93c6-4638-dbcd-8b64f0882e9b","properties":{"autoRenew":"On","billingFrequency":"P1M","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB","billingProfileDisplayName":"Test_Test_Dailyinvoicing_usethisone","billingProfileName":"HWEG-Q6HX-BG7-TGB","invoiceSectionId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB/invoiceSections/3GOG-XYPA-PJA-TGB","invoiceSectionDisplayName":"Test_Test_Dailyinvoicing","invoiceSectionName":"3GOG-XYPA-PJA-TGB","productCategory":"SeatBased","productType":"Test
        - Modern M365 E5","productTypeId":"CFQ7TTC0JG7P","purchaseDate":"2024-01-26T20:27:37.2421107Z","quantity":3,"renewalTermDetails":{"productId":"CFQ7TTC0JG7P","skuId":"0001","termDuration":"P1Y","quantity":4},"skuId":"0001","skuDescription":"Test
        - M365 E5 New Commerce Testing","systemOverrides":{"cancellationAllowedEndDate":"2024-02-02T20:23:44.0000000Z"},"termDuration":"P1Y","termStartDate":"2024-01-26T00:00:00.0000000Z","termEndDate":"2025-01-25T00:00:00.0000000Z","provisioningTenantId":"473a1d36-579e-4bf9-a54c-81f682d19a7c","status":"Active","operationStatus":"None"},"type":"Microsoft.Billing/billingAccounts/billingSubscriptions"},{"id":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingSubscriptions/f8ac451d-d74f-4061-d6e4-6423529a9834","name":"f8ac451d-d74f-4061-d6e4-6423529a9834","properties":{"autoRenew":"On","billingFrequency":"P1M","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea:d6b82951-c3bf-485c-82a2-52da136cb99d_2019-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e00f22a3-bacf-5b74-3aaa-d503043532ea%3Ad6b82951-c3bf-485c-82a2-52da136cb99d_2019-05-31/billingProfiles/HWEG-Q6HX-BG7-TGB/billingSubscriptions?includeDeleted=false&api-version=2024-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-12-15-privatepreview,
        2021-10-01, 2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '99'
      x-ms-service-version:
      - 10.6.2851.798
    status:
      code: 200
      message: OK
version: 1
