interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts?includeAll=true&includeAllWithoutBillingProfiles=false&includeDeleted=false&includePendingAgreement=false&includeResellee=false&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"Account
        Name Updated Via CLI Test","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"},{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"SMB
        Account 1","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","registrationNumber":{"id":"12345678","required":false,"type":["RegistrationNumber"]},"billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"}]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148%3Aefd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/agreements?api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/agreements/5CD4D96401D9","name":"5CD4D96401D9","properties":{"acceptanceMode":"ClickToAccept","agreementLink":"https://wopihost.l2o.microsoft.com/v1/officehost/agreement/files/68188751-0eec-4fe4-a4a7-f76c8eccbc68?accesstoken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImUyNjFlZjQwLTM1MTctNTE1ZC0zNjgwLThiZTQyNTJhZTE0OF9lZmQ0NWQxNC1lNDU5LTRiZDctYTg4My1mM2IxNzZkMGMzMzVfMjAxOS0wNS0zMSIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2NvbnRhaW5lciI6ImFncmVlbWVudHMiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9kb2N1bWVudGlkcyI6IjY4MTg4NzUxLTBlZWMtNGZlNC1hNGE3LWY3NmM4ZWNjYmM2OCIsIm5iZiI6MTcyNzcyMDgzOCwiZXhwIjoxNzI3NzMxNjM4LCJpYXQiOjE3Mjc3MjA4MzgsImlzcyI6Imh0dHBzOi8vd29waWhvc3QuaW50Lmwyby5taWNyb3NvZnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93b3BpaG9zdC5pbnQubDJvLm1pY3Jvc29mdC5jb20ifQ.hBBci11SfoQzJenaxUbZMK2gAtQeYKGSKDkqFG9W8ic","category":"MicrosoftCustomerAgreement","displayName":"Microsoft
        Customer Agreement","effectiveDate":"2024-09-26T21:45:27.5582197Z","expirationDate":"9999-12-31T00:00:00.0000000Z","status":"Active"},"type":"Microsoft.Billing/billingAccounts/agreements"}]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2024-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148%3Aefd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/agreements/5CD4D96401D9?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/agreements/5CD4D96401D9","name":"5CD4D96401D9","propert[...]
