interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders?filter=properties%2FbillingProfileId%20eq%20%27%2Fproviders%2FMicrosoft.Billing%2FbillingAccounts%2Fe599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31%2FbillingProfiles%2FMT3O-U4IM-BG7-TGB%27&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/9abc6c63-c1a3-4bc5-943a-ac30ea6ef74d","name":"9abc6c63-c1a3-4bc5-943a-ac30ea6ef74d","type":"microsoft.billing/billingAccounts/savingsPlanOrders","properties":{"billingScopeId":"c6931bcb-9a94-49e1-80fd-0ad5cb8ecc70","savingsPlans":["/providers/Microsoft.BillingBenefits/savingsPlanOrders/9abc6c63-c1a3-4bc5-943a-ac30ea6ef74d/savingsPlans/9e2e5111-36e3-4c05-9456-041f29d80e13"],"billingPlan":"P1M","term":"P3Y","displayName":"Compute_SavingsPlan_01-09-2024_00-38","benefitStartTime":"2024-01-09T08:40:24.3880168Z","provisioningState":"Succeeded","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/billingProfiles/MT3O-U4IM-BG7-TGB","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31","expiryDateTime":"2027-01-09T08:40:24.3880168Z","productCode":"0001d726-0000-0160-ab43-b8473ce57f1d"},"sku":{"name":"Compute_Savings_Plan"}},{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/7313a529-85e1-42e9-8e52-14d848566eb4","name":"7313a529-85e1-42e9-8e52-14d848566eb4","type":"microsoft.billing/billingAccounts/savingsPlanOrders","properties":{"billingScopeId":"c6931bcb-9a94-49e1-80fd-0ad5cb8ecc70","savingsPlans":["/providers/Microsoft.BillingBenefits/savingsPlanOrders/7313a529-85e1-42e9-8e52-1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/3aa85cc2-1756-47a6-8bdc-8b90f70ba554?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/3aa85c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/3aa85cc2-1756-47a6-8bdc-8b90f70ba554/savingsPlans/8887f177-224f-4a8f-aeb1-6c1ac0cb31b4?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/3aa85cc2-1756-47a6-8bdc-8b90f70ba554/savingsPlans/8887f177-224f-4a8f-aeb1-6c1ac0cb31b4","name":"8887f177-224f-4a8f-aeb1-6c1ac0cb31b4","type":"microsoft.billing/billingAccounts/savingsPlanOrders/savingsPlans","sku":{"name":"Compute_Savings_Plan"},"properties":{"productCode":"0001d726-0000-0160-ab43-b8473ce57f1d","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15:eb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/billingProfiles/MT3O-U4IM-BG7-TGB","billingPlan":"P1M","appliedScopeProperties":{"resourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testCredit","displayName":"testCredit"},"commitment":{"grain":"Hourly","currencyCode":"USD","amount":0.001},"renew":false,"appliedScopeType":"Single","displayName":"name_32","provisioningState":"Succeeded","term":"P3Y","displayProvisioningState":"Succeeded","userFriendlyAppliedScopeType":"ResourceGroup","expiryDateTime":"2027-02-22T00:20:36.5020209Z","purchaseDateTime":"2024-02-22T00:18:31.8962672Z","benefitStartTime":"2024-02-22T00:20:36.5020209Z","effectiveDateTime":"2024-10-22T03:57:14.4548096Z","utilization":{"trend":"SAME","aggregates":[{"grain":1.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"},{"grain":7.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"},{"grain":30.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"}]}},"tags":{"key1":"val1","key2":"value2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-version:
      - 1.0.2837.793
    status:
      code: 200
      message: OK
- request:
    body: '{"benefits": [{"appliedScopeType": "Shared"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e599e039-711f-52e8-69a0-cb0876584b15%3Aeb5be248-66d2-43f1-abb7-ff3a0f618fb5_2019-05-31/savingsPlanOrders/3aa85cc2-1756-47a6-8bdc-8b90f70ba554/savingsPlans/8887f177-224f-4a8f-aeb1-6c1ac0cb31b4/validate?api-version=2024-04-01
  response:
    body:
      string: '{"benefits":[{"valid":true}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '199'
      x-ms-version:
      - 1.0.2837.793
    status:
      code: 200
      message: OK
version: 1
