interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/6575495/policies/default?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/6575495/policies/default","name":"default","properties":{"enterpriseAgreementPolicies":{"authenticationType":"OrganizationalAccountOnly","accountOwnerViewCharges":"Allowed","departmentAdminViewCharges":"Allowed"},"marketplacePurchases":"AllAllowed","reservationPurchases":"Allowed","savingsPlanPurchases":"Allowed"},"type":"Microsoft.Billing/billingAccounts/policies"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2901.845
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"enterpriseAgreementPolicies": {"accountOwnerViewCharges":
      "Allowed", "authenticationType": "OrganizationalAccountOnly", "departmentAdminViewCharges":
      "Allowed"}, "marketplacePurchases": "AllAllowed", "reservationPurchases": "Allowed",
      "savingsPlanPurchases": "Allowed"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/6575495/policies/default?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/6575495/policies/default","name":"default","properties":{"enterpriseAgreementPolicies":{"authenticationType":"OrganizationalAccountOnly","accountOwnerViewCharges":"Allowed","departmentAdminViewCharges":"Allowed"},"marketplacePurchases":"AllAllowed","reservationPurchases":"Allowed","savingsPlanPurchases":"Allowed"},"type":"Microsoft.Billing/billingAccounts/policies"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
      x-ms-service-version:
      - 10.6.2901.845
    status:
      code: 200
      message: OK
version: 1
