interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/centraluseuap/virtualMachineBundles?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[{"name":"Linux_7","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/centraluseuap/virtualMachineBundles/Linux_7","type":"Microsoft.Swiftlet/virtualMachineBundles","location":"centraluseuap","properties":{"bundleSku":"Linux_7","supportedImagePlatform":"Linux","memorySizeGB":32.0,"vcpus":8,"osDiskSizeGB":1024,"osDiskStorageAccountType":"StandardSSD_LRS","transferTB":7}},{"name":"Linux_6","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/centraluseuap/virtualMachineBundles/Linux_6","type":"Microsoft.Swiftlet/virtualMachineBundles","location":"centraluseuap","properties":{"bundleSku":"Linux_6","supportedImagePlatform":"Linux","memorySizeGB":16.0,"vcpus":4,"osDiskSizeGB":512,"osDiskStorageAccountType":"StandardSSD_LRS","transferTB":6}},{"name":"Linux_5","id":"/subscriptions/00000000-0000-0000-0000-000000000000/pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/centraluseuap/virtualMachineImages?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[{"name":"mongodb-4.2.6-0-debian-9-bitnami","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/centraluseuap/virtualMachineImages/mongodb-4.2.6-0-debian-9-bitnami","type":"Microsoft.Swiftlet/virtualMachineImages","location":"centraluseuap","properties":{"imageId":"mongodb-4.2.6-0-debian-9-bitnami","appName":"MongoDB","appVersion":"4.2.6-0","platform":"Linux","osName":"Debian","osVersion":"9","displayPublisher":"Bitnami","summary":"MongoDB
        4.2.6-0 (Debian 9)","legalTermsUri":"https://catalogartifact.azureedge.net/publicartifacts/bitnami.mongodb-608c99aa-467a-44fa-9095-500c2487dec9/termsOfUse.html"}},{"name":"windows-2016-datacenter","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/centraluseuap/virtualMachineImages/windows-2016-datacenter","type":"Microsoft.Swiftlet/virtualMachineImages","location":"centraluseuap","properties":{"imageId":"windows-2016-datacenter","platform":"Windows","osName":"Windows
        Server","[...]
