interactions:
- request:
    body: '{"tags": {"key1": "value1", "key2": "value2"}, "location": "centraluseuap",
      "properties": {"bundleSku": "Windows_1", "imageId": "windows-2019-datacenter",
      "username": "SwiftletUser", "ports": [{"portRange": "3389", "protocol": "*"}],
      "password": "testPassword0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm?api-version=2020-03-01-preview
  response:
    body:
      string: '{"name":"vm","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm","systemData":{"createdBy":"azureclitest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2020-10-30T03:10:20.8724659Z","lastModifiedBy":"azureclitest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-10-30T03:10:20.8724659Z"},"type":"Microsoft.Swiftlet/virtualMachines","location":"CentralUSEUAP","tags":{"key1":"value1","key2":"value2"},"properties":{"swiftletBundle":{"swiftletBundleSku":"Windows_1","supportedImagePlatform":"Windows","memorySizeGB":1.0,"vcpus":1,"osDiskSizeGB":32,"osDiskStorageAccountType":"StandardSSD_LRS","transferTB":1},"bundle":{"bundleSku":"Windows_1","supportedImagePlatform":"Windows","memorySizeGB":1.0,"vcpus":1,"osDiskSizeGB":32,"osDiskStorageAccountType":"StandardSSD_LRS","transferTB":1},"swiftletImage":{"swiftletImageId":"windows-2019-datacenter","platform":"Windows","osName":"Windows
        Server","osVersion":"2019","displayPublisher":"Microsoft","summary":"Windows
        Server 2019 helps you modernize your applications and infrastructure, adds
        additional layers of security and bridges on-premises and Azure.","legalTermsUri":"https://106c4.wpc.azureedge.net/80106C4/Gallery-Prod/cdn/2015-02-24/prod20161101-microsoft-windowsazure-gallery/Microsoft.smalldiskWindowsServer2008R2SP1.1.0.124/Content/LegalTerms0.DEFAULT.txt"},"image":{"imageId":"windows-2019-datacenter","platform":"Windows","osName":"Windows
        Server","osVersion":"2019","displayPublisher":"Microsoft","summary":"Windows
        Server 2019 helps you modernize your applications and infrastructure, adds
        additional layers of security and bridges on-premises and Azure.","legalTermsUri":"https://106c4.wpc.azureedge.net/80106C4/Gallery-Prod/cdn/2015-02-24/prod20161101-microsoft-windowsazure-gallery/Microsoft.smalldiskWindowsServer2008R2SP1.1.0.124/Content/LegalTerms0.DEFAULT.txt"},"swiftletBundleSku":"WINDOWS_1","bundleSku":"WINDOWS_1","swiftletImageId":"windows-2019-datacenter","imageId":"windows-2019-datacenter","username":"SwiftletUser","provisioningState":"Creating","ports":[{"portRange":"3389","protocol":"*"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[{"name":"vm","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm","systemData":{"createdBy":"azureclitest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2020-10-30T03:10:20.8724659Z","lastModifiedBy":"azureclitest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-10-30T03:10:20.8724659Z"},"type":"Microsoft.Swiftlet/virtualMachines","location":"CentralU[...]
[...]
- request:
    body: '{"tags": {"key3": "value3"}, "properties": {"ports": [{"portRange": "80",
      "protocol": "TCP"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm?api-version=2020-03-01-preview
  response:
    body:
      string: '{"name":"vm","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clites[...]
[...]
- request:
    body: '{"location": "centraluseuap", "properties": {"virtualMachineId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachineSnapshots/s1?api-version=2020-03-01-preview
  response:
    body:
      string: '{"name":"s1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLITEST_SWIFTLET_VMUGDHLF/providers/Microsoft.Swiftlet/virtualMachineSnapshots/s1","systemData":{"createdBy":"azureclitest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2020-10-30T03:13:43.6698834Z","lastModifiedBy":"azureclitest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-10-30T03:13:43.6698834Z"},"type":"Microsoft.Swiftlet/virtualMachineSnapshots","location":"CentralUSEUAP","tags":{},"properties":{"provisioningState":"Evaluating","whenCreated":"2020-10-30T03:13:44.4856562Z","bundle":{"bundleSku":"Windows_1","supportedImagePlatform":"Windows","memorySizeGB":1.0,"vcpus":1,"osDiskSizeGB":32,"osDiskStorageAccountType":"StandardSSD_LRS","transferTB":1},"diskSnapshots":[],"ports":[{"portRange":"80","protocol":"Tcp"}],"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLITEST_SWIFTLET_VMUGDHLF/providers/Microsoft.Swiftlet/virtualMachines/VM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachineSnapshots?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[{"name":"s1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLITEST_SWIFTLET_VMUGDHLF/providers/Microsoft.Swiftlet/virtualMachineSnapshots/s1","systemData":{"[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachineSnapshots/s1?api-version=2020-03-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/9a959d3a-a54f-42d8-8a83-ad7af3dd0ec5?api-version=2020-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/9a959d3a-a54f-42d8-8a83-ad7af3dd0ec5?monitor=True&api-version=2020-03-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm/stop?api-version=2020-03-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/8df6648c-4314-4ad8-a612-b49b5abf3799?api-version=2020-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/8df6648c-4314-4ad8-a612-b49b5abf3799?monitor=True&api-version=2020-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm/start?api-version=2020-03-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/e75e3b69-3a62-433c-afb4-8eb0748fc7e0?api-version=2020-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/e75e3b69-3a62-433c-afb4-8eb0748fc7e0?monitor=True&api-version=2020-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-swift-service:
      - fabric:/SwiftController_7/RPP_SwiftControllerServiceType_0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_swiftlet_vm000001/providers/Microsoft.Swiftlet/virtualMachines/vm?api-version=2020-03-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/716e58fe-6173-4d52-b5bb-fc6c1587deaf?api-version=2020-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Swiftlet/locations/CentralUSEUAP/operations/716e58fe-6173-4d52-b5bb-fc6c1587deaf?monitor=True&api-version=2020-03-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
