interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.3
    method: GET
    uri: https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Ff686d426-8d16-42db-81b7-ab578e110ccd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AVS/locations/centralus/checkQuotaAvailability?api-version=2020-03-20
  response:
    body:
      string: '{"hostsRemaining":{"gp":995,"he":999},"quotaEnabled":"Enabled"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AVS/locations/centralus/checkTrialAvailability?api-version=2020-03-20
  response:
    body:
      string: '{"availableHosts":0,"status":"TrialDisabled"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds?api-version=2020-03-20
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centralus", "tags": {}, "sku": {"name": "av20"}, "properties":
      {"managementCluster": {"clusterSize": 4}, "internet": "Disabled", "networkBlock":
      "192.168.48.0/22", "vcenterPassword": "UpfBXae9ZquZSDXk(", "nsxtPassword": "5rqdLj4GF3cePUe6("}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1","location":"centralus","name":"cloud1","properties":{"endpoints":{"hcxCloudManager":"https://192.168.48.9/","nsxtManager":"https://192.168.48.3/","vcsa":"https://192.168.48.2/"},"identitySources":[],"internet":"Disabled","managementCluster":{"clusterId":1,"clusterSize":4,"hosts":["gp-fakehost44.mp01.mock01.vmcp.vs.management","gp-fakehost45.mp01.mock01.vmcp.vs.management","gp-fakehost46.mp01.mock01.vmcp.vs.management","gp-fakehost47.mp01.mock01.vmcp.vs.management"],"provisioningState":"Building"},"managementNetwork":"192.168.48.0/24","networkBlock":"192.168.48.0/22","provisioningNetwork":"192.168.50.0/24","provisioningState":"Building","vmotionNetwork":"192.168.49.0/24"},"sku":{"name":"av20"},"tags":{},"type":"Microsoft.AVS/privateClouds"}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/e5cedffd-4a05-46a6-b550-15cfe019e785?api-version=2020-03-20
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/e5cedffd-4a05-46a6-b550-15cfe019e785?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/e5cedffd-4a05-46a6-b550-15cfe019e785","name":"e5cedffd-4a05-46a6-b550-15cfe019e785","percentComplete":88.75,"startTime":"2021-01-25T21:25:44.8892244+00:00","status":"Building"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/e5cedffd-4a05-46a6-b550-15cfe019e785?api-version=2020-03-20
  response:
    body:
      string: '{"endTime":"2021-01-25T21:27:30.5195305+00:00","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/e5cedffd-4a05-46a6-b550-15cfe019e785","name":"e5cedffd-4a05-46a6-b550-15cfe019e785","percentComplete":100,"properties":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1","location":"centralus","name":"cloud1","properties":{"circuit":{"expressRouteID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt52-cust-mp01-mock01/providers/Microsoft.Network/expressRouteCircuits/tnt52-cust-mp01-mock01-er","expressRoutePrivatePeeringID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt52-cust-mp01-mock01/providers/Microsoft.Network/expressRouteCircuits/tnt52-cust-mp01-mock01-er/peerings/AzurePrivatePeering","primarySubnet":"192.168.51.8/30","secondarySubnet":"192.168.51.12/30"},"endpoints":{"hcxCloudManager":"https://192.168.48.9/","nsxtManager":"https://192.168.48.3/","vcsa":"https://192.168.48.2/"},"identitySources":[],"internet":"Disabled","managementCluster":{"clusterId":1,"clusterSize":4,"hosts":["gp-fakehost44.mp01.mock01.vmcp.vs.management","gp-fakehost45.mp01.mock01.vmcp.vs.management","gp-fakehost46.mp01.mock01.vmcp.vs.management","gp-fakehost47.mp01.mock01.vmcp.vs.management"],"provisioningState":"Succeeded"},"managementNetwork":"192.168.48.0/24","networkBlock":"192.168.48.0/22","nsxtCertificateThumbprint":"B9A9474616752565A3FAF23E0A013ECE3DC8B8FF","provisioningNetwork":"192.168.50.0/24","provisioningState":"Succeeded","vcenterCertificateThumbprint":"BE8EA855AA13D9662A115571636B9B1925C6DB68","vmotionNetwork":"192.168.49.0/24"},"sku":{"name":"av20"},"tags":{},"type":"Microsoft.AVS/privateClouds"},"startTime":"2021-01-25T21:25:44.8892244+00:00","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/hcxEnterpriseSites?api-version=2020-03-20
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/hcxEnterpriseSites/myhcx?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/hcxEnterpriseSites/myhcx","name":"myhcx","properties":{"activationKey":"eea4b504a6c94a328d656ce0fdc55e7b","status":"Available"},"type":"Microsoft.AVS/privateClouds/hcxEnterpriseSites"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/authorizations/myauthname?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/authorizations/myauthname","name":"myauthname","properties":{"expressRouteAuthorizationId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt52-cust-mp01-mock01/providers/Microsoft.Network/expressRouteCircuits/tnt52-cust-mp01-mock01-er/authorizations/myauthname","expressRouteAuthorizationKey":"571fb47b-3f6e-4894-8ecc-928e0a36c78f","provisioningState":"Succeeded"},"type":"Microsoft.AVS/privateClouds/authorizations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centralus", "tags": {}, "sku": {"name": "av20"}, "properties":
      {"managementCluster": {"clusterSize": 3}, "internet": "Enabled", "identitySources":
      [{"name": "groupName", "alias": "groupAlias", "domain": "domain", "baseUserDN":
      "ou=baseUser", "baseGroupDN": "ou=baseGroup", "primaryServer": "ldaps://1.1.1.1:636",
      "ssl": "Disabled", "username": "someone", "password": "something"}], "circuit":
      {}, "networkBlock": "192.168.48.0/22"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/provider[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters?api-version=2020-03-20
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "av20"}, "properties": {"clusterSize": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1","name":"cluster1","properties":{"clusterId":2,"clusterSize":3,"hosts":["gp-fakehost48.mp01.mock01.vmcp.vs.management","gp-fakehost49.mp01.mock01.vmcp.vs.management","gp-fakehost50.mp01.mock01.vmcp.vs.management"],"provisioningState":"Building"},"sku":{"name":"av20"},"type":"Microsoft.AVS/privateClouds/clusters"}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/e0891ca0-6323-4bb1-85d2-a3ec8be8847e?api-version=2020-03-20
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/e0891ca0-6323-4bb1-85d2-a3ec8be8847e?api-version=2020-03-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/e0891ca0-6323-4bb1-85d2-a3ec8be8847e","name":"e0891ca0-6323-4bb1-85d2-a3ec8be8847e","percentComplete":0,"startTime":"2021-01-25T21:30:05.5737398+00:00","status":"Building"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/5305c5db-6177-4420-9528-0c454619a169?api-version=2020-03-20
  response:
    body:
      string: '{"endTime":"2021-01-25T21:32:30.5926705+00:00","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/5305c5db-6177-4420-9528-0c454619a169","name":"5305c5db-6177-4420-9528-0c454619a169","percentComplete":100,"startTime":"2021-01-25T21:31:47.3617399+00:00","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
