interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_databox000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001","name":"cli_test_databox000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_databox_custom_disk","date":"2023-05-19T08:55:11Z","module":"databox"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"details": {"contactDetails": {"contactName":
      "Public SDK Test", "emailList": ["testing@microsoft.com"], "phone": "14258828080"},
      "dataImportDetails": [{"accountDetails": {"dataAccountType": "StorageAccount",
      "storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001/providers/Microsoft.Storage/storageAccounts/clitest000002"}}],
      "jobDetailsType": "DataBoxCustomerDisk", "keyEncryptionKey": {"kekType": "MicrosoftManaged"},
      "shippingAddress": {"city": "Redmond", "companyName": "Microsoft", "country":
      "US", "postalCode": "98052", "stateOrProvince": "WA", "streetAddress1": "1 MICROSOFT
      WAY"}, "importDiskDetailsCollection": {"CLISERIAL789": {"bitLockerKey": "xxx",
      "manifestFile": "SampleManifest.xml", "manifestHash": "xxxx"}}, "returnToCustomerPackageDetails":
      {"carrierAccountNumber": "0000", "carrierName": "carrier1"}}, "transferType":
      "ImportToAzure"}, "sku": {"name": "DataBoxCustomerDisk"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001/providers/Microsoft.DataBox/jobs/job000003?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/c6522cd7-141b-4b57-90ae-eb8130322926?api-version=2022-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/c6522cd7-141b-4b57-90ae-eb8130322926?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/c6522cd7-141b-4b57-90ae-eb8130322926?api-version=2022-12-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001/providers/Microsoft.DataBox/jobs/job000003?api-version=2022-12-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"transferType\": \"ImportToAzure\"\
        ,\r\n    \"isCancellable\": true,\r\n    \"isDeletable\": false,\r\n    \"\
        isShippingAddressEditable\": true,\r\n    \"reverseShippingDetailsUpdate\"\
        : \"NotSupported\",\r\n    \"reverseTransportPreferenceUpdate\": \"NotSupported\"\
        ,\r\n    \"isPrepareToShipEnabled\": false,\r\n    \"status\": \"Created\"\
        ,\r\n    \"startTime\": \"2023-05-19T08:55:46.2221278+00:00\",\r\n    \"details\"\
        : {\r\n      \"importDiskDetailsCollection\": {\r\n        \"CLISERIAL789\"\
        : {\r\n          \"manifestFile\": \"SampleManifest.xml\",\r\n          \"\
        manifestHash\": \"xxxx\"\r\n        }\r\n      },\r\n      \"returnToCustomerPackageDetails\"\
        : {\r\n        \"carrierName\": \"carrier1\"\r\n      },\r\n      \"enableManifestBackup\"\
        : false,\r\n      \"contactDetails\": {\r\n        \"emailList\": [\r\n  \
        \        \"testing@microsoft.com\"\r\n        ],\r\n        \"notificationPreference\"\
        : [\r\n          {\r\n            \"stageName\": \"AtAzureDC\",\r\n      \
        \      \"sendNotification\": true\r\n          },\r\n          {\r\n     \
        \       \"stageName\": \"DataCopy\",\r\n            \"sendNotification\":\
        \ true\r\n          },\r\n          {\r\n            \"stageName\": \"Created\"\
        ,\r\n            \"sendNotification\": true\r\n          },\r\n          {\r\
        \n            \"stageName\": \"ShippedToCustomer\",\r\n            \"sendNotification\"\
        : true\r\n          }\r\n        ],\r\n        \"contactName\": \"Public SDK\
        \ Test\",\r\n        \"phone\": \"14258828080\"\r\n      },\r\n      \"shippingAddress\"\
        : {\r\n        \"streetAddress1\": \"1 MICROSOFT WAY\",\r\n        \"city\"\
        : \"Redmond\",\r\n        \"stateOrProvince\": \"WA\",\r\n        \"country\"\
        : \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"companyName\"\
        : \"Microsoft\",\r\n        \"addressType\": \"None\"\r\n      },\r\n    \
        \  \"dataImportDetails\": [\r\n        {\r\n          \"logCollectionLevel\"\
        : \"Error\",\r\n          \"accountDetails\": {\r\n            \"storageAccountId\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001/providers/Microsoft.Storage/storageAccounts/clitest000002\"\
        ,\r\n            \"dataAccountType\": \"StorageAccount\"\r\n          }\r\n\
        \        }\r\n      ],\r\n      \"dataExportDetails\": [],\r\n      \"jobDetailsType\"\
        : \"DataBoxCustomerDisk\",\r\n      \"preferences\": {\r\n        \"encryptionPreferences\"\
        : {\r\n          \"doubleEncryption\": \"Disabled\"\r\n        }\r\n     \
        \ },\r\n      \"reverseShippingDetails\": {},\r\n      \"keyEncryptionKey\"\
        : {\r\n        \"kekType\": \"MicrosoftManaged\"\r\n      }\r\n    },\r\n\
        \    \"deliveryType\": \"NonScheduled\",\r\n    \"deliveryInfo\": {\r\n  \
        \    \"scheduledDateTime\": \"0001-01-01T00:00:00+00:00\"\r\n    },\r\n  \
        \  \"isCancellableWithoutFee\": true\r\n  },\r\n  \"systemData\": {\r\n  \
        \  \"createdBy\": \"v-jingszhang@microsoft.com\",\r\n    \"createdByType\"\
        : \"User\",\r\n    \"createdAt\": \"2023-05-19T08:55:46.1196951+00:00\",\r\
        \n    \"lastModifiedBy\": \"v-jingszhang@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2023-05-19T08:55:46.1196951+00:00\"\
        \r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\
        \n    \"name\": \"DataBoxCustomerDisk\"\r\n  },\r\n  \"identity\": {\r\n \
        \   \"type\": \"None\"\r\n  },\r\n  \"name\": \"job000003\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001/providers/Microsoft.DataBox/jobs/job000003\"\
        ,\r\n  \"type\": \"Microsoft.DataBox/jobs\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"reason": "CancelTest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databox000001/providers/Microsoft.DataBox/jobs/job000003/cancel?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/c6522cd7-141b-4b57-90ae-eb8130322926-deleteorder?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/c6522cd7-141b-4b57-90ae-eb8130322926-deleteorder?api-version=2022-12-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body:
      string: '{"value":[{"properties":{"level":"CanNotDelete","notes":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.Authorization/locks/del","type":"Microsoft.Authorization/locks","name":"del"},{"properties":{"level":"CanNotDelete","notes":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-southeastasia/providers/Microsoft.Authorization/locks/delete","type":"Microsoft.Authorization/locks","name":"delete"},{"properties":{"level":"CanNotDelete","notes":"contact
  [...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_databox000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/locks/DATABOX_SERVICE?api-version=2016-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
