interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations?api-version=2026-02-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"providerHubMetadata":{"regionsWithCapacity":["WESTCENTRALUS"]},"privateResourceProviderConfiguration":{"allowedSubscriptions":["81ddc363-4b54-4223-833d-16b2a424d8a0"]},"provisioningState":"Succeeded","namespace":"Private.ServiceRoleTesting","providerVersion":"2.0","providerType":"Internal,
        Hidden","management":{"manifestOwners":["SPARTA-PlatformServiceAdministrator","RPAAS-PlatformServiceAdministrator"],"incidentRoutingService":"service-role-test","incidentRoutingTeam":"rpaascore","incidentContactEmail":"test@example.com","serviceTreeInfos":[{"serviceId":"d1b7d8ba-05e2-48e6-90d6-d781b99c6e69","componentId":"d1b7d8ba-05e2-48e6-90d6-d781b99c6e69"}]},"capabilities":[{"quotaId":"CSP_2015-05-01","effect":"Allow"},{"quotaId":"CSP_MG_2017-12-01","effect":"Allow"}],"metadata":null,"tokenAuthConfiguration":{"authenticationScheme":"PoP","signedRequestScope":"ResourceUri","disableCertificateAuthenticationFallback":false}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.ServiceRoleTesting","type":"Microsoft.ProviderHub/providerRegistrations","name":"Private.ServiceRoleTesting","kind":"Managed","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-15T02:17:01.9231566Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-15T02:17:50.2461621Z"}},{"properties":{"providerHubMetadata":{"regionsWithCapacity":["WESTCENTRALUS"]},"privateResourceProviderConfiguration":{"allowedSubscriptions":["81ddc363-4b54-4223-833d-16b2a424d8a0"]},"provisioningState":"Accepted","namespace":"Private.dibrahimrp","providerVersion":"2.0","providerType":"Internal,
        Hidden","management":{"manifestOwners":["SPARTA-PlatformServiceAdministrator","RPAAS-PlatformServiceAdministrator"],"incidentRoutingService":"Test
        servic[...]
