interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/generateManifest?api-version=2020-11-20
  response:
    body:
      string: '{"providerAuthorizations":[{"applicationId":"3d834152-5efa-46f7-85a4-a18c2b5d46f9","roleDefinitionId":"760505bf-dcfa-4311-b890-18da392a00b2"}],"namespace":"Microsoft.Contoso","providerVersion":"2.0","providerType":"Internal","resourceTypes":[{"name":"extensionresourcetype","routingType":"ProxyOnly,
        Extension","resourceValidation":"ReservedWords, ProfaneWords","endpoints":[{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://global.metarp.azure.com/","locations":[""],"requiredFeatures":["Microsoft.Contoso/RPaaSSampleApp"],"timeout":"PT20S"}],"linkedOperationRules":[]},{"name":"Operations","routingType":"ProxyOnly,
        Tenant","resourceValidation":"ReservedWords, ProfaneWords","allowedUnauthorizedActions":["microsoft.contoso/operations/read"],"endpoints":[{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://global.metarp.azure.com/","locations":[""],"timeout":"PT20S"}],"linkedOperationRules":[]},{"name":"clusters","routingType":"Default","resourceValidation":"ReservedWords,
        ProfaneWords","endpoints":[{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://eastus2euap.metarp.azure.com/rolelocation/eastus2euap/","locations":["East
        US 2 EUAP"],"requiredFeatures":["Microsoft.Contoso/RPaaSBridge"],"timeout":"PT20S"},{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://eastus.metarp.azure.com/rolelocation/eastus/","locations":["East
        US"],"requiredFeatures":["Microsoft.Contoso/RPaaSBridge"],"timeout":"PT20S"},{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://westeurope.metarp.azure.com/rolelocation/westeurope/","locations":["West
        Europe"],"requiredFeatures":["Microsoft.Contoso/RPaaSBridge"],"timeout":"PT20S"}],"extendedLocations":[{"type":"CustomLocation","supportedPolicy":"NotSpecified"}],"linkedOperationRules":[]},{"name":"Locations","routingType":"ProxyOnly","resourceValidation":"ReservedWords,
        ProfaneWords","endpoints":[{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://global.metarp.azure.com/","locations":[""],"timeout":"PT20S"}],"linkedOperationRules":[]},{"name":"locations/operationstatuses","routingType":"ProxyOnly,
        Tenant, LocationBased","resourceValidation":"ReservedWords, ProfaneWords","allowedUnauthorizedActions":["Microsoft.[...]
- request:
    body: '{"environment": "Prod", "baselineArmManifestLocation": "EastUS2EUAP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/checkinManifest?api-version=2020-11-20
  response:
    body:
      string: '{"isCheckedIn":false,"statusMessage":"Manifest is successfully merged.
        Use the Default/Custom rollout (http://aka.ms/rpaasrollout) to roll out the
        manifest in ARM."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"specification": {"canary": {"regions": ["EastUS2EUAP"]}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/customRollouts/canaryTesting01?api-version=2020-11-20
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","specification":{"canary":{"regions":["EastUS2EUAP"]}},"status":{"completedRegions":["EastUS2EUAP"],"failedOrSkippedRegions":{}}},"name":"canaryTesting01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/customRollouts?api-version=2020-11-20
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","specification":{"canary":{"regions":["Eastus2euap","brazilus","centraluseuap"]}},"status":{"completedRegions":["Eastus2euap","centraluseuap","brazilus"],"failedOrSkippedRegions":{}}},"name":"cr1"},{"properties":{"provisioningState":"Succeeded","specification":{"canary":{"regions":["centraluseuap"]}},"status":{"completedRegions":["centraluseuap"],"failedOrSkippedRegions":{}}},"name":"rolloutTest1"},{"properties":{"provisioningState":"Succeeded","specification":{"canary":{"regions":["EastUS2EUAP"]}},"status":{"completedRegions":["EastUS2EUAP"],"failedOrSkippedRegions":{}}},"name":"canaryTesting01"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
