interactions:
- request:
    body: '{"properties": {"specification": {"canary": {"regions": ["EastUS2EUAP",
      "centraluseuap"]}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/customRollouts/canaryTesting01?api-version=2026-02-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","specification":{"canary":{"regions":["EASTUS2EUAP","CENTRALUSEUAP"]},"releaseScopes":[],"refreshSubscriptionRegistration":false,"skipReleaseScopeValidation":false},"status":{"completedRegions":["EASTUS2EUAP","CENTRALUSEUAP"],"completedRegionsInfo":[{"region":"EASTUS2EUAP","manifestAppliedAt":"2026-09-16T22:43:18.4166438Z","previousCommitId":"104e4f1274c010ed740601e8574c111063accc79","appliedCommitId":"104e4f1274c010ed740601e8574c111063accc79"},{"region":"CENTRALUSEUAP","manifestAppliedAt":"2026-09-16T22:43:18.4024066Z","previousCommitId":"104e4f1274c010ed740601e8574c111063accc79","appliedCommitId":"104e4f1274c010ed740601e8574c111063accc79"}],"failedOrSkippedRegions":{}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/customRollouts/canaryTesting01","type":"Microsoft.ProviderHub/providerRegistrations/customRollouts","name":"canaryTesting01","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-16T22:42:57.7270735Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-16T22:42:57.7270735Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
version: 1
