interactions:
- request:
    body: '{"properties": {"skuSettings": [{"kind": "Standard", "name": "freeSku",
      "tier": "Tier1"}, {"costs": [{"meterId": "xxx"}], "kind": "Premium", "name":
      "premiumSku", "tier": "Tier2"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourcetypeRegistrations/employees/resourcetypeRegistrations/nestedResourceTypeFirst/resourcetypeRegistrations/nestedResourceTypeSecond/skus/default?api-version=2024-04-01-preview
  response:
    body:
      string: '{"properties":{"skuSettings":[{"name":"freeSku","tier":"Tier1","kind":"Standard"},{"name":"premiumSku","tier":"Tier2","kind":"Premium","costs":[{"meterId":"xxx","quantity":0}]}]},"type":"Microsoft.ProviderHub/providerRegistrations/skus","name":"default","systemData":{"createdBy":"gaurimadhok@microsoft.com","createdByType":"User","createdAt":"2024-06-05T22:03:17.7824421Z","lastModifiedBy":"gaurimadhok@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-05T22:03:17.7824421Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
