interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourcetypeRegistrations?api-version=2026-02-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"name":"testBridge","routingType":"Default","regionality":"Regional","endpoints":[{"extensions":[{"endpointUri":"https://prds-westcentralus.sparta.azure.com:17665/","extensionCategories":["ResourceCreationValidate","ResourceCreationBegin","ResourceCreationCompleted"]}],"apiVersions":["2021-10-01-privatepreview"],"locations":["West
        Central US"]}],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"templateDeploymentOptions":{"preflightSupported":true,"preflightOptions":["DefaultValidationOnly"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourceTypeRegistrations/testBridge","type":"Microsoft.ProviderHub/providerRegistrations/resourceTypeRegistrations","name":"testBridge","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2022-11-18T01:10:20.7589531Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-10T04:20:50.4709348Z"}},{"properties":{"name":"Ingredients","routingType":"Default","regionality":"Regional","endpoints":[{"kind":"Managed","apiVersions":["2022-09-23-preview"],"locations":["West
        US","East US"]},{"kind":"Managed","apiVersions":["2021-10-01-privatepreview","2022-09-23-preview"],"locations":["West
        Central US"]}],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"templateDeploymentOptions":{"preflightSupported":true,"preflightOptions":["DefaultValidationOnly"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourceTypeRegistrations/Ingredients","type":"Microsoft.ProviderHub/providerRegistrations/resourceTypeRegistrations","name":"Ingredients","kind":"Managed","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2023-04-03T23:14:40.6414603Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-12-08T21:28:18.5478565Z"}},{"properties":{"name":"employees","routingType":"Default","regionality":"Regional","endpoints":[{"kind":"Managed","apiVersions":["2021-09-01"],"locations":["West
        US"],"timeout":"PT20S","endpointType":"NotSpecified"}],"defaultApiVersion":"2021-09-01","enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"disallowedActionVerbs":["write"],"templateDeploymentOptions":{"preflightSupported":true,"preflightOptions":["DefaultValidationOnly"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourceTypeRegistrations/employees","type":"Microsoft.ProviderHub/providerRegistrations/resourceTypeRegistrations","name":"employees","kind":"Managed","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2023-09-22T16:56:20.5757206Z[...]
