interactions:
- request:
    body: '{"properties": {"dataAuthorizations": [{"role": "ServiceOwner"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/authorizedApplications/8b51e6a7-7814-42bd-aa17-3fb1837b3b7a?api-version=2026-02-01-preview
  response:
    body:
      string: '{"properties":{"providerNamespace":"Private.VPTest","dataAuthorizations":[{"role":"ServiceOwner","resourceTypes":[]}],"provisioningState":"NotSpecified","excludeApplicationIdFromManifest":false},"name":"8b51e6a7-7814-42bd-aa17-3fb1837b3b7a","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-16T21:59:32.8613605Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-16T21:59:32.8613605Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/authorizedApplications/8b51e6a7-7814-42bd-aa17-3fb1837b3b7a?api-version=2026-02-01-preview
  response:
    body:
      string: '{"properties":{"providerNamespace":"Private.VPTest","dataAuthorizations":[{"role":"ServiceOwner","resourceTypes":[]}],"provisioningState":"Succeeded","excludeApplicationIdFromManifest":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/authorizedApplications/8b51e6a7-7814-42bd-aa17-3fb1837b3b7a","type":"Microsoft.ProviderHub/providerRegistrations/authorizedApplications","name":"8b51e6a7-7814-42bd-aa17-3fb1837b3b7a","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-16T21:59:32.8613605Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-16T21:59:32.8613605Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
