interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/notificationRegistrations?api-version=2024-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"notificationMode":"EventHub","messageScope":"RegisteredSubscriptions","includedEvents":["*/write","Microsoft.Contoso/employees/delete"],"notificationEndpoints":[{"notificationDestination":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mgmtexp-eastus/providers/Microsoft.EventHub/namespaces/unitedstates-mgmtexpint/eventhubs/armlinkednotifications","locations":["EastUS"]}]},"name":"testNotificationRegistration","systemData":{"createdBy":"gaurimadhok@microsoft.com","createdByType":"User","createdAt":"2024-06-05T18:47:55.6681371Z","lastModifiedBy":"gaurimadhok@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-05T18:47:55.6681371Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
