interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/operations/default?api-version=2024-04-01-preview
  response:
    body:
      string: '{"properties":{"contents":[{"name":"Private.VPTest/Employees/Read","isDataAction":false,"display":{"default":{"provider":"Private.VPTest","resource":"Employees","operation":"Gets/List
        employee resources","description":"Read employees"}},"properties":null}]},"systemData":{"createdBy":"gaurimadhok@microsoft.com","createdByType":"User","createdAt":"2024-06-06T18:27:56.6841995Z","lastModifiedBy":"gaurimadhok@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-06T18:27:56.6841995Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
