interactions:
- request:
    body: '{"properties": {"contents": [{"display": {"default": {"description": "Read
      employees", "operation": "Gets/List employee resources", "provider": "Private.VPTest",
      "resource": "Employees"}}, "name": "Private.VPTest/Employees/Read"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/operations/default?api-version=2024-04-01-preview
  response:
    body:
      string: '{"properties":{"contents":[{"name":"Private.VPTest/Employees/Read","isDataAction":false,"display":{"default":{"provider":"Private.VPTest","resource":"Employees","operation":"Gets/List
        employee resources","description":"Read employees"}}}]},"systemData":{"createdBy":"gaurimadhok@microsoft.com","createdByType":"User","createdAt":"2024-06-18T22:52:07.2764732Z","lastModifiedBy":"gaurimadhok@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-18T22:52:07.2764732Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
version: 1
