interactions:
- request:
    body: '{"kind": "Managed", "properties": {"enableAsyncOperation": false, "endpoints":
      [{"apiVersions": ["2019-01-01"], "locations": ["WestUS"]}], "regionality": "Regional",
      "routingType": "ProxyOnly", "templateDeploymentOptions": {"preflightOptions":
      ["DefaultValidationOnly", "ContinueDeploymentOnFailure"], "preflightSupported":
      true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourcetypeRegistrations/employees%2Fresourcetyperegistrations%2FnestedResourceType?api-version=2026-02-01-preview
  response:
    body:
      string: '{"properties":{"name":"employees/nestedResourceType","routingType":"ProxyOnly","regionality":"Regional","endpoints":[{"kind":"Managed","apiVersions":["2019-01-01"],"locations":["WestUS"]}],"defaultApiVersion":"2019-01-01","throttlingRules":[{"action":"Private.VPTest/employees/nestedResourceType/write","metrics":[{"type":"NumberOfRequests","bucketSize":"XSmall"}]},{"action":"Private.VPTest/employees/nestedResourceType/read","metrics":[{"type":"NumberOfRequests","bucketSize":"XSmall"}]},{"action":"Private.VPTest/employees/nestedResourceType/delete","metrics":[{"type":"NumberOfRequests","bucketSize":"XSmall"}]}],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"templateDeploymentOptions":{"preflightSupported":true,"preflightOptions":["DefaultValidationOnly","ContinueDeploymentOnFailure"]},"superScaleEnabled":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Private.VPTest/resourceTypeRegistrations/employees/resourceTypeRegistrations/nestedResourceType","type":"Microsoft.ProviderHub/providerRegistrations/resourceTypeRegistrations","name":"employees/nestedResourceType","kind":"Managed","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-16T22:15:45.503023Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-16T22:15:45.503023Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
