interactions:
- request:
    body: '{"properties": {"providerAuthentication": {"allowedAudiences": ["https://management.core.windows.net/"]},
      "providerAuthorizations": [{"applicationId": "3d834152-5efa-46f7-85a4-a18c2b5d46f9",
      "roleDefinitionId": "760505bf-dcfa-4311-b890-18da392a00b2"}], "namespace": "Microsoft.Contoso",
      "providerVersion": "2.0", "providerType": "Internal", "management": {"incidentRoutingService":
      "Contoso Resource Provider", "incidentRoutingTeam": "Contoso Triage", "incidentContactEmail":
      "helpme@contoso.com", "serviceTreeInfos": [{"serviceId": "6f53185c-ea09-4fc3-9075-318dec805303",
      "componentId": "6f53185c-ea09-4fc3-9075-318dec805303"}]}, "capabilities": [{"quotaId":
      "CSP_2015-05-01", "effect": "Allow"}, {"quotaId": "CSP_MG_2017-12-01", "effect":
      "Allow"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso?api-version=2020-11-20
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","providerAuthentication":{"allowedAudiences":["https://management.core.windows.net/"]},"providerAuthorizations":[{"applicationId":"3d834152-5efa-46f7-85a4-a18c2b5d46f9","roleDefinitionId":"760505bf-dcfa-4311-b890-18da392a00b2"}],"namespace":"Microsoft.Contoso","providerVersion":"2.0","providerType":"Internal","management":{"manifestOwners":["SPARTA-PlatformServiceAdministrator"],"incidentRoutingService":"Contoso
        Resource Provider","incidentRoutingTeam":"Contoso Triage","incidentContactEmail":"helpme@contoso.com","serviceTreeInfos":[{"serviceId":"6f53185c-ea09-4fc3-9075-318dec805303","componentId":"6f53185c-ea09-4fc3-9075-318dec805303"}],"resourceAccessPolicy":"NotSpecified"},"capabilities":[{"quotaId":"CSP_2015-05-01","effect":"Allow"},{"quotaId":"CSP_MG_2017-12-01","effect":"Allow"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso?api-version=2020-11-20
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","providerAuthentication":{"allowedAudiences":["https://management.core.windows.net/"]},"providerAuthorizations":[{"applicationId":"3d834152-5efa-46f7-85a4-a18c2b5d46f9","roleDefinitionId":"760505bf-dcfa-4311-b890-18da392a00b2"}],"namespace":"Microsoft.Contoso","providerVersion":"2.0","providerType":"Internal","management":{"manifestOwners":["SPARTA-PlatformServiceAdministrator"],"incidentRoutingService":"Contoso
        Resource Provider","incidentRoutingTeam":"Contoso Triage","incidentContactEmail":"helpme@contoso.com","serviceTreeInfos":[{"serviceId":"6f53185c-ea09-4fc3-9075-318dec805303","componentId":"6f53185c-ea09-4fc3-9075-318dec805303"}],"resourceAccessPolicy":"NotSpecified"},"capabilities":[{"quotaId":"CSP_2015-05-01","effect":"Allow"},{"quotaId":"CSP_MG_2017-12-01","effect":"Allow"}],"metadata":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations?api-version=2020-11-20
  response:
    body:
      string: '{"value":[{"subscriptionId":"6f53185c-ea09-4fc3-9075-318dec805303","namespace":"Microsoft.Contoso","providerAuthentication":{"allowedAudiences":["https://management.core.windows.net/"]},"providerAuthorizations":[{"applicationId":"3d834152-5efa-46f7-85a4-a18c2b5d46f9","roleDefinitionId":"760505bf-dcfa-4311-b890-18da392a00b2"}],"management":{"manifestOwners":["SPARTA-PlatformServiceAdministrator"],"incidentRoutingService":"Contoso
        Resource Provider","incidentRoutingTeam":"Contoso Triage","incidentContactEmail":"helpme@contoso.com","serviceTreeInfos":[{"serviceId":"6f53185c-ea09-4fc3-9075-318dec805303","componentId":"6f53185c-ea09-4fc3-9075-318dec805303"}],"resourceAccessPolicy":"NotSpecified"},"providerType":"Internal","providerVersion":"2.0","capabilities":[{"quotaId":"CSP_2015-05-01","effect":"Allow"},{"quotaId":"CSP_MG_2017-12-01","effect":"Allow"}],"provisioningState":"Succeeded","metadata":null,"partitionKey":"FIXED","id":"MICROSOFTCONTOSO","createdTime":"2021-01-09T01:33:11.9248772Z","changedTime":"2021-01-09T01:33:11.9248772Z","_ETag":"\"5305716e-0000-0700-0000-5ff907d80000\""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/generateOperations?api-version=2020-11-20
  response:
    body:
      string: '[{"name":"Microsoft.Contoso/operations/read","isDataAction":false,"display":{"provider":"Microsoft.Contoso/","resource":"operations","operation":"Operations_List","description":"read
        operations"}},{"name":"Microsoft.Contoso/clusters/read","isDataAction":false,"display":{"provider":"Microsoft.Contoso/","resource":"clusters","operation":"clusters_Retrieve","description":"read
        clusters"}},{"name":"Microsoft.Contoso/clusters/write","isDataAction":false,"display":{"provider":"Microsoft.Contoso/","resource":"clusters","operation":"clusters_CreateOrUpdate","description":"write
        clusters"}},{"name":"Microsoft.Contoso/clusters/delete","isDataAction":false[...]
- request:
    body: '{"properties": {"routingType": "Default", "regionality": "Regional", "endpoints":
      [{"apiVersions": ["2018-11-01-preview", "2020-01-01-preview", "2019-01-01"],
      "locations": ["West US", "West Central US", "West Europe", "Southeast Asia",
      "West US 2", "East US 2 EUAP", "North Europe"], "requiredFeatures": ["Microsoft.Contoso/RPaaSSampleApp"]}],
      "swaggerSpecifications": [{"apiVersions": ["2018-11-01-preview", "2020-01-01-preview",
      "2019-01-01"], "swaggerSpecFolderUri": "https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/"}],
      "enableAsyncOperation": true, "resourceMovePolicy": {"validationRequired": false,
      "crossResourceGroupMoveEnabled": true, "crossSubscriptionMoveEnabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/resourcetypeRegistrations/employees?api-version=2020-11-20
  response:
    body:
      string: '{"properties":{"name":"employees","routingType":"Default","regionality":"Regional","endpoints":[{"apiVersions":["2018-11-01-preview","2020-01-01-preview","2019-01-01"],"locations":["West
        US","West Central US","West Europe","Southeast Asia","West US 2","East US
        2 EUAP","North Europe"],"requiredFeatures":["Microsoft.Contoso/RPaaSSampleApp"]}],"swaggerSpecifications":[{"apiVersions":["2018-11-01-preview","2020-01-01-preview","2019-01-01"],"swaggerSpecFolderUri":"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/"}],"enableAsyncOperation":true,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"resourceMovePolicy":{"validationRequired":false,"crossResourceGroupMoveEnabled":true,"crossSubscriptionMoveEnabled":true}},"name":"employees"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/resourcetypeRegistrations/employees?api-version=2020-11-20
  response:
    body:
      string: '{"properties":{"name":"employees","routingType":"Default","regionality":"Regional","endpoints":[{"apiVersions":["2018-11-01-preview","2020-01-01-preview","2019-01-01"],"locations":["West
        US","West Central US","West Europe","Southeast Asia","West US 2","East US
        2 EUAP","North Europe"],"requiredFeatures":["Microsoft.Contoso/RPaaSSampleApp"]}],"swaggerSpecifications":[{"apiVersions":["2018-11-01-preview","2020-01-01-preview","2019-01-01"],"swaggerSpecFolderUri":"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/"}],"enableAsyncOperation":true,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"resourceMovePolicy":{"validationRequired":false,"crossResourceGroupMoveEnabled":true,"crossSubscriptionMoveEnabled":true}},"name":"employees"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/resourcetypeRegistrations?api-version=2020-11-20
  response:
    body:
      string: '{"value":[{"properties":{"name":"extensionresourcetype","routingType":"ProxyOnly,
        Extension","regionality":"Global","endpoints":[{"apiVersions":["2020-01-01-preview"],"locations":[""],"requiredFeatures":["Microsoft.Contoso/RPaaSSampleApp"]}],"swaggerSpecifications":[{"apiVersions":["2020-01-01-preview"],"swaggerSpecFolderUri":"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/contoso/resource-manager/Microsoft.Contoso/"}],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false},"name":"extensionresourcetype"},{"properties":{"name":"Operations","routingType":"ProxyOnly,
        Tenant","regionality":"Global","endpoints":[{"apiVersions":["2020-01-01-preview"],"locations":[""]}],"swaggerSpecifications":[{"apiVersions":["2020-01-01-preview"],"swaggerSpecFolderUri":"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/contoso/resource-manager/Microsoft.Contoso/"}],"allowedUnauthorizedActions":["microsoft.contoso/operations/read"],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false},"name":"Operations"},{"properties":{"name":"clusters","routingType":"Default","regionality":"Regional","endpoints":[{"apiVersions":["2020-01-01-preview"],"locations":["East
        US 2 EUAP"],"requiredFeatures":["Microsoft.Contoso/RPaaSBridge"],"extensions":[{"endpointUri":"https://k8bridge.canary.production.fusion.azure.com/","extensionCategories":["ResourceCreationBegin","ResourceDeletionBegin"]}]},{"apiVersions":["2020-01-01-preview"],"locations":["East
        US"],"requiredFeatures":["Microsoft.Contoso/RPaaSBridge"],"extensions":[{"endpointUri":"https://k8bridge.unitedstates.production.fusion.azure.com/","extensionCategories":["ResourceCreationBegin","ResourceDeletionBegin"]}]},{"apiVersions":["2020-01-01-preview"],"locations":["West
        Europe"],"requiredFeatures":["Microsoft.Contoso/RPaaSBridge"],"extensions":[{"endpointUri":"https://k8bridge.europe.production.fusion.azure.com/","extensionCategories":["ResourceCreationBegin","ResourceDeletionBegin"]}]}],"swaggerSpecifications":[{"apiVersions":["2020-01-01-preview"],"swaggerSpecFolderUri":"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/"}],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false,"extendedLocations":[{"type":"CustomLocation","supportedPolicy":"NotSpecified"}]},"name":"clusters"},{"properties":{"name":"Locations","routingType":"ProxyOnly","regionality":"Global","endpoints":[{"apiVersions":["2020-01-01-preview"],"locations":[""]}],"swaggerSpecifications":[{"apiVersions":["2020-01-01-preview"],"swaggerSpecFolderUri":"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/"}],"enableAsyncOperation":false,"provisioningState":"Succeeded","enableThirdPartyS2S":false},"name"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/generateManifest?api-version=2020-11-20
  response:
    body:
      string: '{"providerAuthentication":{"allowedAudiences":["https://management.core.windows.net/"]},"providerAuthorizations":[{"applicationId":"3d834152-5efa-46f7-85a4-a18c2b5d46f9","roleDefinitionId":"760505bf-dcfa-4311-b890-18da392a00b2"}],"namespace":"Microsoft.Contoso","providerVersion":"2.0","providerType":"Internal","resourceTypes":[{"name":"extensionresourcetype","routingType":"ProxyOnly,
        Extension","resourceValidation":"ReservedWords, ProfaneWords","endpoints":[{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://global.metarp.azure.com/","locations":[""],"requiredFeatures":["Microsoft.Contoso/RPaaSSampleApp"],"timeout":"PT20S"}],"linkedOperationRules":[]},{"name":"Operations","routingType":"ProxyOnly,
        Tenant","resourceValidation":"ReservedWords, ProfaneWords","allowedUnauthorizedActions":["microsoft.contoso/operations/read"],"endpoints":[{"apiVersions":["2020-01-01-preview"],"endpointUri":"https://global.metarp.azure.com/","locations":[""],"timeout":"PT20S"}],"linkedOperationRules":[]},{"name":"clusters","routingType":"Default","resourceValidation":"ReservedWords,
        ProfaneWords","endpoints":[{"apiVersions":["2020-01-01-preview"[...]
