interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"sku": {"name": "ess-monthly-consumption_Monthly"}, "properties": {"userInfo":
      {"firstName": "Alice", "lastName": "Bob", "companyName": "Microsoft", "emailAddress":
      "alice@microsoft.com", "companyInfo": {"domain": "microsoft.com", "business":
      "Technology", "state": "WA", "country": "US"}}}, "tags": {"Environment": "Dev"},
      "location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor","name":"myMonitor","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-consumption_Monthly"},"location":"westus2","tags":{"Environment":"Dev"},"systemData":{"createdBy":"v-kaisun@microsoft.com","createdByType":"User","createdAt":"2021-09-27T07:59:08.3604372Z","lastModifiedBy":"v-kaisun@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-09-27T07:59:08.3604372Z"},"properties":{"provisioningState":"Accepted","monitoringStatus":"Enabled","elasticProperties":{"elasticCloudUser":null,"elasticCloudDeployment":null},"userInfo":null,"liftrResourceCategory":"MonitorLogs","liftrResourcePreference":0}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3800f7b0-0000-0800-0000-615179d30000"'
      location:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F?api-version=2020-07-01
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F","name":"f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor","status":"Accepted","startTime":"2021-09-27T07:59:14.5122186Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"53006a19-0000-0800-0000-615179d20000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F","name":"f189323c-eb98-4d4a-ab85-1298945bb66d*B14AA8EE2A8DEF0E99B59FDE41067CD5A2C21A69B0AB59C7D96E941F5527CD7F","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor","status":"Succeeded","startTime":"2021-09-27T07:59:14.5122186Z","endTime":"2021-09-27T08:02:27.0109559Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"53003e29-0000-0800-0000-61517a930000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor","name":"myMonitor","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-consumption_Monthly"},"location":"westus2","tags":{"Environment":"Dev"},"systemData":{"createdBy":"v-kaisun@microsoft.com","createdByType":"User","createdAt":"2021-09-27T07:59:08.3604372Z","lastModifiedBy":"9d777fa9-b417-43b8-8991-12f8ee2161d2","lastModifiedByType":"Application","lastModifiedAt":"2021-09-27T08:02:26.0897983Z"},"properties":{"provisioningState":"Succeeded","monitoringStatus":"Enabled","elasticProperties":{"elasticCloudUser":{"emailAddress":"alice@microsoft.com","id":"3894552614","elasticCloudSsoDefaultUrl":"https://cloud.elastic.co"},"elasticCloudDeployment":{"name":"myMonitor","deploymentId":"fc965903955147e08debf70ebb3516b7","azureSubscriptionId":"5a611eed-e33a-44e8-92b1-3f6bf835905e","elasticsearchRegion":"azure-westus2","elasticsearchServiceUrl":"https://83cb97bf5c5743209e0dd281fc10e210.westus2.azure.elastic-cloud.com:9243","kibanaServiceUrl":"https://fc0b56b1b7ec4264b4cd7ae12b067206.westus2.azure.elastic-cloud.com:9243","kibanaSsoUrl":"/sso/v1/go/ec:3894552614:kibana-mymonitor?acs=https://mymonitor.kb.westus2.azure.elastic-cloud.com:9243/api/security/saml/callback&sp_login_url=https://mymonitor.kb.westus2.azure.elastic-cloud.com:9243"}},"liftrResourceCategory":"MonitorLogs","liftrResourcePreference":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"380074b5-0000-0800-0000-61517a930000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Elastic/monitors?api-version=2020-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/poshett-rg/providers/Microsoft.Elastic/monitors/poshett-WestUS2-01","name":"poshett-WestUS2-01","type":"microsoft.elastic/monitors","sku":{"name":"staging_Monthly"},"location"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors?api-version=2020-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor","name":"myMonitor","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-co[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/listDeploymentInfo?api-version=2020-07-01
  response:
    body:
      string: '{"status":"Healthy","version":"7.15.0","memoryCapacity":"16384","diskCapacity":"491520"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/listMonitoredResources?api-version=2020-07-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"logRules": {"sendAadLogs": false, "sendSubscriptionLogs":
      true, "sendActivityLogs": true, "filteringTags": [{"name": "Environment", "value":
      "Prod", "action": "Include"}, {"name": "Environment", "value": "Dev", "action":
      "Exclude"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/tagRules/default?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/tagRules/default","name":"default","type":"microsoft.elastic/monitors/tagrules","systemData":{"createdBy":"v-kaisun@microsoft.com","createdByType":"User","createdAt":"2021-09-27T08:03:06.0632337Z","lastModifiedBy":"v-kaisun@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-09-27T08:03:06.0632337Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":false,"sendSubscriptionLogs":true,"sendActivityLogs":true,"filteringTags":[{"name":"Environment","value":"Prod","action":"Include"},{"name":"Environment","value":"Dev","action":"Exclude"}]}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200254d-0000-0800-0000-61517abb0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/tagRules?api-version=2020-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/tagRules/default","name":"default","type":"microsoft.elastic/monitors/tagrules","systemData":{"createdBy":"v-kaisun@microsoft.com","createdByType":"User","createdAt":"2021-09-27T08:03:06.0632337Z","lastModifiedBy":"v-kaisun@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-09-27T08:03:06.0632337Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":false,"sendSubscriptionLogs":true,"sendActivityLogs":true,"filteringTags":[{"name":"Environment","value":"Prod","action":"Include"},{"name":"Environment","value":"Dev","action":"Exclude"}]}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"vmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Compute/virtualmachines/myVM",
      "operationName": "Add"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/vmCollectionUpdate?api-version=2020-07-01
  response:
    body:
      string: '{"deploymentId":"fc965903955147e08debf70ebb3516b7","vmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Compute/virtualmachines/myVM","installDate":"2021-09-27T08:03:11.1640338Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/listVMHost?api-version=2020-07-01
  response:
    body:
      string: '{"value":[{"vmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Compute/virtualmachines/myVM"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Elastic/monitors/myMonitor/vmIngestionDetails?api-version=2020-07-01
  response:
    body:
      string: '{"cloudId":"myMonitor:d2VzdHVzMi5henVyZS5lbGFzdGljLWNsb3VkLmNvbTo5MjQzJDgzY2I5N2JmNWM1NzQzMjA5ZTBkZDI4MWZjMTBlMjEwJGZjMGI1NmIxYjdlYzQyNjRiNGNkN2FlMTJiMDY3MjA2","ingestionKey":"TGlmdHJfRWxhc3RpYzpEQlhMWEY0NDc2TFNWSUVHTlI="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
