interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_elastic_monitor000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001","name":"cli_test_elastic_monitor000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_elastic_monitor","date":"2023-07-04T08:32:00Z","module":"elastic"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"userInfo": {"companyName": "Micosoft",
      "emailAddress": "v-jingszhang@microsoft.com", "firstName": "Alice", "lastName":
      "bob"}}, "sku": {"name": "ess-monthly-consumption_Monthly"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","name":"monitor000002","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-consumption_Monthly"},"location":"eastus","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-07-04T08:32:08.0202765Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-04T08:32:08.0202765Z"},"properties":{"userInfo":{"companyName":"Micosoft","emailAddress":"v-jingszhang@microsoft.com","firstName":"Alice","lastName":"bob"},"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/2b859ded-46d5-4c91-ad50-fb9920548719*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fa001ac6-0000-0100-0000-64a3d90e0000"'
      mise-correlation-id:
      - 9b469fa4-0e2b-44b0-808e-abf8749eab97
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/2b859ded-46d5-4c91-ad50-fb9920548719*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/2b859ded-46d5-4c91-ad50-fb9920548719*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377","name":"2b859ded-46d5-4c91-ad50-fb9920548719*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","status":"Accepted","startTime":"2023-07-04T08:32:13.6388215Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"da05f207-0000-0100-0000-64a3d90d0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","name":"monitor000002","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-consumption_Monthly"},"location":"eastus","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-07-04T08:32:08.0202765Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-04T08:32:08.0202765Z"},"properties":{"provisioningState":"Succeeded","monitoringStatus":"Enabled","elasticProperties":{"elasticCloudUser":{"emailAddress":"v-jingszhang@microsoft.com","id":"2057192889","elasticCloudSsoDefaultUrl":"https://cloud.elastic.co"},"elasticCloudDeployment":{"name":"monitor000002","deploymentId":"2a4d6c6e4513a2bacf6a5574a08c9b5d","azureSubscriptionId":"5a611eed-e33a-44e8-92b1-3f6bf835905e","elasticsearchRegion":"azure-eastus","elasticsearchServiceUrl":"https://3b06dc5ed5d54a1084c9b4d8422092fe.eastus.azure.elastic-cloud.com","kibanaServiceUrl":"https://46c6af5b3b68438b9b345b8a26dc7b07.eastus.azure.elastic-cloud.com:9243","kibanaSsoUrl":"/sso/v1/go/ec:1850505891:kibana-monitor000002?acs=https://monitor000002.kb.eastus.azure.elastic-cloud.com:9243/api/security/saml/callback&sp_login_url=https://monitor000002.kb.eastus.azure.elastic-cloud.com:9243"}},"liftrResourceCategory":"MonitorLogs","liftrResourcePreference":0,"generateApiKey":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fa00a6d0-0000-0100-0000-64a3d99e0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag": "test", "tag2": "test2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","name":"monitor000002","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-consumption_Monthly"},"location":"eastus","tags":{"tag":"test","tag2":"test2"},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-07-04T08:32:08.0202765Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModif[...]
[...]
- request:
    body: '{"emailId": "email@outlook.com", "fullName": "fullname", "password": "password",
      "roles": ["admin", "other_role"], "userName": "newuser"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/createOrUpdateExternalUser?api-version=2023-02-01-preview
  response:
    body:
      string: '{"created":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ec532793-5ce0-4786-ae63-b19eb41fe37b
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/listAllTrafficFilters?api-version=2023-02-01-preview
  response:
    body:
      string: '{"rulesets":[{"name":"mnt1","description":"Created from Azure Portal","region":"azure-westus2","type":"ip","rules":[{"description":"Filtering
        IPs","source":"192.168.131.0","id":"4e602a3d8cda44dfbad4a021ef3e78d9"},{"description":"Filtering
        IPs","source":"192.168.132.6/22","id":"9386154060ac4123a68f4c8949db1127"}],"id":"423c89378e0d4013a40182ea32430de1"},{"name":"mnt1","description":"Created
        from Azure Portal","region":"azure-westus2","type":"ip","rules":[{"description":"Filtering
        IPs","source":"192.168.131.0","id":"a5587e26e6e64f50a48220435ba9591f"},{"description":"Filtering
        IPs","source":"192.168.132.6/22","id":"3478[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/listAssociatedTrafficFilters?api-version=2023-02-01-preview
  response:
    body:
      string: '{"rulesets":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b30d5966-22a0-4b2b-b30f-02e6e44415ae
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/listDeploymentInfo?api-version=2023-02-01-preview
  response:
    body:
      string: '{"status":"Healthy","version":"8.8.2","memoryCapacity":"16384","diskCapacity":"573440","deploymentUrl":"/sso/v1/go/ec:1850505891:kibana-monitor000002?acs=https://monitor000002.kb.eastus.azure.elastic-cloud.com:9243/api/security/saml/callback&sp_login_url=https://monitor000002.kb.eastus.azure.elastic-cloud.com:9243","marketplaceSaasInfo":{"marketplaceSubscription":{"id":"c8a8ab0b-1c56-43ea-c43d-968daac84556"},"marketplaceName":"AzElastic_515469a1-3450-404b-8334-82576b78ece5_monitor1","marketplaceResourceId":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b105baeb-0b9d-4d11-8f56-807d4c76ab35
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/listMonitoredResources?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f336453c-497f-4a62-8f14-273c9cde7f81
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/listUpgradableVersions?api-version=2023-02-01-preview
  response:
    body:
      string: '{"currentVersion":"8.8.2","upgradableVersions":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 55fe2d96-ad3d-4165-be14-265be9cb95db
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/listVMHost?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 1569c91b-8b61-472c-a5e9-f18a8b6db7fe
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/detachAndDeleteTrafficFilter?api-version=2023-02-01-preview
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - dd6052fc-1bcc-46f8-af83-b2d6d856b29b
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/deleteTrafficFilter?api-version=2023-02-01-preview
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 18883219-17ec-4521-9c4c-f95a86096703
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: '{"version": "8.0.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/upgrade?api-version=2023-02-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/32e0cc3b-cf22-4cef-a852-2e476cd54dec*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/32e0cc3b-cf22-4cef-a852-2e476cd54dec*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
      mise-correlation-id:
      - 34cc3279-f3fc-41dd-9c00-f412a01ec7f1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/createAndAssociateIPFilter?ips=192.168.131.0%2C%20192.168.132.6%2F22&name=filter1&api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/pro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002/createAndAssociatePLFilter?name=filter2&api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","name":"monitor000002","type":"microsoft.elastic/monitors","sku":{"name":"ess-monthly-consumption_Monthly"},"properties":{"provisioningState":"Succeeded","monitoringStatus":"Enabled","elasticProperties":{"elasticCloudUser":{"emailAddress":"v-jingszhang@microsoft.com","id":"2057192889","elasticCloudSsoDefaultUrl":"https://cloud.elastic.co"},"elasticCloudDeployment":{"name":"monitor000002","deploymentId":"2a4d6c6e4513a2bacf6a5574a08c9b5d","azureSubscriptionId":"5a611eed-e33a-44e8-92b1-3f6bf835905e","elasticsearchRegion":"azure-eastus","elasticsearchServiceUrl":"https://3b06dc5ed5d54a1084c9b4d8422092fe.eastus.azure.elastic-cloud.com","kibanaServiceUrl":"https://46c6af5b3b68438b9b345b8a26dc7b07.eastus.azure.elastic-cloud.com:9243","kibanaSsoUrl":"/sso/v1/go/ec:1850505891:kibana-monitor000002?acs=https://monitor000002.kb.eastus.azure.elastic-cloud.com:9243/api/security/saml/callback&sp_login_url=https://monitor000002.kb.eastus.azure.elastic-cloud.com:9243"}},"internalMetadata":{"marketplaceSubscription":{"id":"c8a8ab0b-1c56-43ea-c43d-968daac84556"},"monitoringPartnerEntityId":"64a3d9153c1a3a817343fd75","username":"elastic","password":"72UogHlMdslV24xmBmjJnxCBaRKFqzFhk0uGyTnlmiM=","passwordEncryptionMetadata":{"encryptionKeyResourceId":"https://etproddata20210531euskv.vault.azure.net:443/secrets/LiftrElasticEncryptionKey/77bbd894e6634715b089e6eb961d8fcf","encryptionAlgorithm":0,"contentEncryptionIV":"eDY4sjs6CCcYWPvt90DlRg=="},"userApiKey":"fVz3sfEb6Xllw4K/ZoPxoAn4Eta7WeaxNcb7ZO5RjelteCO+f06kj97D7DKSZzRvUs8CMHzkBdmJJOoeUGUpnw==","userApiKeyEncryptionMetadata":{"encryptionKeyResourceId":"https://etprodgbl20201201cuskv.vault.azure.net:443/secrets/GlobalDataEncryptionKey/4b4c68cd157b45b8ae47b543bc7486f4","encryptionAlgorithm":0,"contentEncryptionIV":"gNKxjZxSy714r0g3igq80Q=="},"elasticsearchIngestionAPIKey":"pymMO4FoYZ9KzhIIMaDVXGpXDS1i25kWIuTAyokmCJMHQiW4gYkSPIwvYiznZRTbIfTmkNn2T5BtP886JCwq7w==","elasticsearchIngestionAPIKeyEncryptionMetadata":{"encryptionKeyResourceId":"https://etproddata20210531euskv.vault.azure.net:443/secrets/LiftrElasticEncryptionKey/77bbd894e6634715b089e6eb961d8fcf","encryptionAlgorithm":0,"contentEncryptionIV":"AuWsYHcxKU4i8rM7Vxd4JQ=="},"cloudId":"monitor000002:ZWFzdHVzLmF6dXJlLmVsYXN0aWMtY2xvdWQuY29tOjQ0MyQzYjA2ZGM1ZWQ1ZDU0YTEwODRjOWI0ZDg0MjIwOTJmZSQ0NmM2YWY1YjNiNjg0MzhiOWIzNDViOGEyNmRjN2IwNw==","organizationId":"1850505891","introspectErrorCode":null,"introspectErrorMessage":null,"isMarketplaceSubscriptionActive":true,"liftrCorrelationId":"1c48590a-d45e-4ad6-8fbf-244b2401a343"},"userInfo":null,"version":null,"liftrResourceCategory":"MonitorLogs","liftrResourcePreference":0,"generateApiKey":false},"identity":null,"tags":{"tag":"test","tag2":"test2"},"location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8cbc039f-c822-4903-a54c-6c7b308fcdb7*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8cbc039f-c822-4903-a54c-6c7b308fcdb7*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
      mise-correlation-id:
      - 23b74727-3f1b-47e1-9b15-b09dabbb4662
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/389a1fc1-a803-4cc7-940e-a961726692ae*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/389a1fc1-a803-4cc7-940e-a961726692ae*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377","name":"389a1fc1-a803-4cc7-940e-a961726692ae*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","status":"Deleting","startTime":"2023-07-04T08:36:25.5854373Z","error":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"da05b42d-0000-0100-0000-64a3da090000"'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/389a1fc1-a803-4cc7-940e-a961726692ae*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/389a1fc1-a803-4cc7-940e-a961726692ae*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377","name":"389a1fc1-a803-4cc7-940e-a961726692ae*AD954E63C301E3574A3155578B24BB5CB102A8905B2BD65CC0B264E83FF42377","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_elastic_monitor000001/providers/Microsoft.Elastic/monitors/monitor000002","status":"Succeeded","startTime":"2023-07-04T08:36:25.5854373Z","endTime":"2023-07-04T08:36:27.2389706Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"da05ef2d-0000-0100-0000-64a3da0b0000"'
    status:
      code: 200
      message: OK
version: 1
