interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_hardware_security_modules_v2000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001","name":"cli_test_hardware_security_modules_v2000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-20T08:27:23Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {"fastpathenabled": "true"}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.3.0.0/16"]}, "dhcpOptions": {}, "subnets":
      [{"name": "compute", "properties": {"addressPrefix": "10.3.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1\",\r\n
        \ \"etag\": \"W/\\\"e47db08b-491f-4763-b517-f2f87582d6ea\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {\r\n    \"fastpathenabled\": \"true\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"cdfc6707-c258-413f-aa6b-041218ea1a3e\",\r\n
        \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.3.0.0/16\"\r\n
        \     ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n
        \   },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"compute\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1/subnets/compute\",\r\n
        \       \"etag\": \"W/\\\"e47db08b-491f-4763-b517-f2f87582d6ea\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.3.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/34ec5142-ee14-4f87-857c-9b4685443cd2?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/34ec5142-ee14-4f87-857c-9b4685443cd2?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1",
      "location": "eastus", "tags": {"fastpathenabled": "true"}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.3.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1/subnets/compute",
      "name": "compute", "type": "Microsoft.Network/virtualNetworks/subnets", "properties":
      {"addressPrefix": "10.3.0.0/24", "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}, {"name": "hsmsubnet",
      "properties": {"addressPrefix": "10.3.1.0/24", "delegations": [{"name": "0",
      "properties": {"serviceName": "Microsoft.HardwareSecurityModules/dedicatedHSMs"}}],
      "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}], "virtualNetworkPeerings": [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicIPAllocationMethod": "Dynamic",
      "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"testpublicIp\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp\",\r\n
        \ \"etag\": \"W/\\\"9cd6680a-d7d4-4927-98a1-b90a61baf37c\\\"\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"ac74598c-c5cd-40b7-9120-967f46656e3c\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/aafcfd9f-edeb-452c-af79-69a003ce5690?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"ipConfigurations": [{"name": "vnetGatewayConfig0",
      "properties": {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp"}}}],
      "gatewayType": "Vpn", "vpnType": "RouteBased", "activeActive": false, "sku":
      {"name": "Standard", "tier": "Standard"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"testVnetGateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway\",\r\n
        \ \"etag\": \"W/\\\"9d740714-2438-466e-8730-62383d4f870b\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"e878b65c-3d72-4a7d-868f-16c136fecf43\",\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"vnetGatewayConfig0\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway/ipConfigurations/vnetGatewayConfig0\",\r\n
        \       \"etag\": \"W/\\\"9d740714-2438-466e-8730-62383d4f870b\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1/subnets/GatewaySubnet\"\r\n
        \         }\r\n        }\r\n      }\r\n    ],\r\n    \"natRules\": [],\r\n
        \   \"enableBgpRouteTranslationForNat\": false,\r\n    \"disableIPSecReplayProtection\":
        false,\r\n    \"sku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\":
        \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n
        \   \"vpnType\": \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\":
        false,\r\n    \"vpnClientConfiguration\": {\r\n      \"vpnClientProtocols\":
        [\r\n        \"OpenVPN\",\r\n        \"IkeV2\"\r\n      ],\r\n      \"vpnAuthenticationTypes\":
        [],\r\n      \"vpnClientRootCertificates\": [],\r\n      \"vpnClientRevokedCertificates\":
        [],\r\n      \"radiusServers\": [],\r\n      \"vpnClientIpsecPolicies\": []\r\n
        \   },\r\n    \"bgpSettings\": {\r\n      \"asn\": 0,\r\n      \"peerWeight\":
        0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway/ipConfigurations/vnetGatewayConfig0\",\r\n
        \         \"defaultBgpIpAddresses\": [],\r\n          \"customBgpIpAddresses\":
        []\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayGeneration\": \"Generation1\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/18f65a45-6c7b-47b8-a7c4-ae648f67e493?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "payShield10K_LMK1_CPS60"}, "tags":
      {"Dept": "hsm", "Environment": "dogfood"}, "properties": {"networkProfile":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1/subnets/hsmsubnet"},
      "networkInterfaces": [{"privateIpAddress": "10.3.1.5"}]}, "managementNetworkProfile":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet2/subnets/hsmsubnet2"},
      "networkInterfaces": [{"privateIpAddress": "10.4.1.6"}]}, "stampId": "stamp2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1?api-version=2021-11-30
  response:
    body:
      string: '{"sku":{"name":"payShield10K_LMK1_CPS60"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1","name":"hsm1","type":"Microsoft.HardwareSecurityModules/dedicatedHSMs","location":"eastus","tags":{"Dept":"hsm","Environment":"dogfood"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2022-05-20T09:05:05.236Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-20T09:05:05.236Z"},"properties":{"networkProfile":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet1/subnets/hsmsubnet"},"networkInterfaces":[{"privateIpAddress":"10.3.1.5"}]},"managementNetworkProfile":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.Network/virtualNetworks/testvnet2/subnets/hsmsubnet2"},"networkInterfaces":[{"privateIpAddress":"10.4.1.6"}]},"provisioningState":"CheckingQuota","statusMessage":"Resource
        creation in progress. Validating subscription device quota...","stampId":"stamp2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2021-11-30
  response:
    body:
      string: '{"value":[{"sku":{"name":"payShield10K_LMK1_CPS60"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules_v2000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1","name":"hsm1","type":"Microsoft.HardwareSecurityModules/dedicatedHSMs","location":"eastus","tags":{"Dept":"hsm","Environment":"dogfood"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2022-05-20T09:05:05.236Z","lastModifiedBy":"v-tao[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HardwareSecurityModules/locations/eastus/operationResults/MEIxRjY0NzEtMUJGMC00RERBLUFFQzMtQ0I5MjcyRjA5NTkwL0NMSV9URVNUX0hBUkRXQVJFX1NFQ1VSSVRZX01PRFVMRVNfVjJaNVI1NzMzSjM0QUdOSTJDNjVOU1BWT0JUS1JBTkRZSFRJNEozMi9IU00x?api-version=2021-11-30
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HardwareSecurityModules/locations/eastus/operationResults/MEIxRjY0NzEtMUJGMC00RERBLUFFQzMtQ0I5MjcyRjA5NTkwL0NMSV9URVNUX0hBUkRXQVJFX1NFQ1VSSVRZX01PRFVMRVNfVjJaNVI1NzMzSjM0QUdOSTJDNjVOU1BWT0JUS1JBTkRZSFRJNEozMi9IU00x?api-version=2021-11-30
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/81f4b231-9b87-4790-a409-1a53d318390d?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
