interactions:
- request:
    body: '{"location": "westcentralus", "properties": {"description": "MoverDesc"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"westcentralus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-19T10:04:34.3295973Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-19T10:04:34.3295973Z"},"properties":{"description":"MoverDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000b6cd-0000-0600-0000-6a0c35b20000"'
      mise-correlation-id:
      - 36f414da-5b9d-4d69-8f09-9350159a0e57
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "ProjectDesc"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/projects/project000003?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/projects/project000003","name":"project000003","type":"microsoft.storagemover/storagemovers/projects","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-19T10:04:35.5579871Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-19T10:04:35.5579871Z"},"properties":{"description":"ProjectDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000f71a-0000-0600-0000-6a0c35b30000"'
      mise-correlation-id:
      - 960bc058-9801-4041-9c5e-df90e3e37f63
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 May 2026 10:04:36 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://cpmoveraccount.blob.core.windows.net/srccontainer000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB58E09B1128F"'
      last-modified:
      - Tue, 19 May 2026 10:04:38 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 May 2026 10:04:38 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://cpmoveraccount.blob.core.windows.net/tgtcontainer000006?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB58E0A8CFC31"'
      last-modified:
      - Tue, 19 May 2026 10:04:40 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"description":
      "srcEndpointDesc", "endpointKind": "Source", "endpointType": "AzureStorageBlobContainer",
      "blobContainerName": "srccontainer000005", "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CP_Mover_IN_WCUS/providers/Microsoft.Storage/storageAccounts/cpmoveraccount"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/endpoints/test-srcep000007?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/endpoints/test-srcep000007","name":"test-srcep000007","type":"microsoft.storagemover/storagemovers/endpoints","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-19T10:04:40.8706261Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-19T10:04:40.8706261Z"},"identity":{"principalId":"9d887181-f5d4-4411-a005-951782804969","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"storageAccountResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CP_Mover_IN_WCUS/providers/Microsoft.Storage/storageAccounts/cpmoveraccount","blobContainerName":"srccontainer000005","endpointType":"AzureStorageBlobContainer","endpointKind":"Source","description":"srcEndpointDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00006254-0000-0600-0000-6a0c35ba0000"'
      mise-correlation-id:
      - 634ff97a-34d6-460a-9040-005f6d3fa578
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"description":
      "tgtEndpointDesc", "endpointKind": "Target", "endpointType": "AzureStorageBlobContainer",
      "blobContainerName": "tgtcontainer000006", "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CP_Mover_IN_WCUS/providers/Microsoft.Storage/storageAccounts/cpmoveraccount"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: htt[...]
- request:
    body: '{"properties": {"copyMode": "Additive", "dataIntegrityValidation": "None",
      "description": "JobDefWithSchedule", "jobType": "CloudToCloud", "preservePermissions":
      true, "schedule": {"daysOfWeek": ["Monday", "Wednesday", "Friday"], "endDate":
      "2026-06-18T00:00:00.000Z", "executionTime": {"hour": 9, "minute": 0}, "frequency":
      "Weekly", "isActive": true, "startDate": "2026-05-20T09:00:00.000Z"}, "sourceName":
      "test-srcep000007", "sourceSubpath": "/", "targetName": "test-tgtep000008",
      "targetSubpath": "/"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/projects/project000003/jobDefinitions/jobdefsch000004?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/projects/project000003/jobDefinitions/jobdefsch000004","name":"jobdefsch000004","type":"microsoft.storagemover/storagemovers/projects/jobdefinitions","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-19T10:04:45.0319953Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-19T10:04:45.0319953Z"},"properties":{"jobType":"CloudToCloud","copyMode":"Additive","sourceName":"test-srcep000007","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/endpoints/test-srcep000007","sourceSubpath":"/","targetName":"test-tgtep000008","targetResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/endpoints/test-tgtep000008","targetSubpath":"/","schedule":{"isActive":true,"frequency":"Weekly","startDate":"2026-05-20T00:00:00Z","executionTime":{"hour":9,"minute":0},"daysOfWeek":["Monday","Wednesday","Friday"],"endDate":"2026-06-18T00:00:00Z"},"description":"JobDefWithSchedule","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000059aa-0000-0600-0000-6a0c35bd0000"'
      mise-correlation-id:
      - fd5efe8c-10b0-457d-907f-ec7e2c4e1c23
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/projects/project000003/jobDefinitions/jobdefsch000004?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/stora[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002/projects/project000003/jobDefinitions/jobdefsch000004?api-version=2025-12-01
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - f8fe5218-1a5b-4a0c-b1e4-304b3a7c54ca
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 204
      message: No Content
version: 1
