interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "ExampleDesc"},
      "tags": {"key1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"key1":"value1"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-07-04T02:56:59.9912511Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-04T02:56:59.9912511Z"},"properties":{"description":"ExampleDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000084ac-0000-3300-0000-64a38a7c0000"'
      mise-correlation-id:
      - b63f1a41-c847-4164-9664-8d8e6201db7f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers?api-version=2023-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"key1":"value1"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-07-04T02:56:59.9912511Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-04T02:56:59.9912511Z"},"properties":{"description":"ExampleDesc","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e36bd516-3d3c-4541-aaea-6d59b0f4adf3
      - ea7d1041-1fe8-4d55-99b9-63b6cc4fdbc3
      - f1a28717-f095-4d99-86bd-93cb3f1193f4
      - 923fa0d2-c0fe-454b-9f39-61d357c287c3
      - 4891cad6-36f9-4f00-90e4-0d413dc389fc
      - 72fdcf53-29fd-4c45-a1e8-557017c92ad5
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "ExampleDesc2"}, "tags": {"key2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"key2":"value2"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-07-04T02:56:59.9912511Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-04T02:57:06.6657539Z"},"properties":{"description":"ExampleDesc2","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000085ac-0000-3300-0000-64a38a820000"'
      mise-correlation-id:
      - af6e344b-3770-48f4-a0d4-21c8bbc39cb3
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2023-07-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/e31a0c7d-7b28-469c-9383-461a6607509b*BD5DE2CEB4AD61B7559F76E5AD67A9B3547087BC7EC5C95F58971A2CAC2A8882?api-version=2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000086ac-0000-3300-0000-64a38a840000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/e31a0c7d-7b28-469c-9383-461a6607509b*BD5DE2CEB4AD61B7559F76E5AD67A9B3547087BC7EC5C95F58971A2CAC2A8882?api-version=2023-07-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/e31a0c7d-7b28-469c-9383-461a6607509b*BD5DE2CEB4AD61B7559F76E5AD67A9B3547087BC7EC5C95F58971A2CAC2A8882?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/e31a0c7d-7b28-469c-9383-461a6607509b*BD5DE2CEB4AD61B7559F76E5AD67A9B3547087BC7EC5C95F58971A2CAC2A8882","name":"e31a0c7d-7b28-469c-9383-461a6607509b*BD5DE2CEB4AD61B7559F76E5AD67A9B3547087BC7EC5C95F58971A2CAC2A8882","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","status":"Deleting","startTime":"2023-07-04T02:57:08.6864297Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2b00f8c8-0000-3300-0000-64a38a840000"'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers?api-version=2023-07-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - c18da010-a2b9-4b52-bc89-51ea28cd0c85
      - 48106e18-b5b1-481d-b900-f3758b45902a
      - 062c5fc8-fac5-4d13-a3b9-8f3dcef3bdcc
      - 1d9706ee-fd51-4b23-ac4b-b246900299fa
      - 71c33eba-1c94-413c-8690-eeff9b4185ed
      - 631135be-02bf-4be5-beaa-a344c4a0693e
    status:
      code: 200
      message: OK
version: 1
