interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "ExampleDesc"},
      "tags": {"key1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"key1":"value1"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-08-08T06:28:21.7137071Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-08T06:28:21.7137071Z"},"properties":{"description":"ExampleDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000e68c-0000-3400-0000-64d1e0860000"'
      mise-correlation-id:
      - 153abf8a-eee9-44a8-86a4-b81d0005b084
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers?api-version=2023-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"key1":"value1"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-08-08T06:28:21.7137071Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-08T06:28:21.7137071Z"},"properties":{"description":"ExampleDesc","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 952e0f82-9236-4718-8672-dd02343ccab6
      - 2fc323c7-ab2c-484a-8e55-17ac77d7a922
      - 89eaf4b2-9db8-4fa7-a899-d05092457911
      - 0ef82bab-963f-4052-aa62-5578ccc63d7c
      - 508fa2fe-7f94-4671-9962-ac6aa1ee8882
      - 1f08c370-b122-4cfd-8bc7-8bbdbd657eb9
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "ExampleDesc2"},
      "tags": {"key2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","name":"storage-mover000002","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"key2":"value2"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-08-08T06:28:21.7137071Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-08T06:28:27.4800634Z"},"properties":{"description":"ExampleDesc2","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000e88c-0000-3400-0000-64d1e08b0000"'
      mise-correlation-id:
      - 464c6b5d-fe59-4eac-b626-425999e81fdd
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002?api-version=2023-07-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3?api-version=2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000e98c-0000-3400-0000-64d1e08d0000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3?api-version=2023-07-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/EASTUS2EUAP/operationStatuses/ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3","name":"ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000002","status":"Deleting","startTime":"2023-08-08T06:28:29.2591751Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/eastus2euap/operationStatuses/ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3?api-version=2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"06002f8a-0000-3400-0000-64d1e08d0000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageMover/locations/eastus2euap/operationStatuses/ccb2ea80-2006-4af4-ae74-3df17233a0ff*D32B3260D56E26AA5FBF08CC4F358A49202AC6BFB35B84DAD202FD1D2F4A1AF3?api-version=2023-07-01-preview
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers?api-version=2023-07-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 79ae79dc-4d27-4c79-bc7d-0e4e01f09ebd
      - 0bb2849c-4a0e-45ce-b58b-e67cefc40345
      - d58ef6db-ad2f-4717-a16b-e5ebfd27f280
      - 0f21cc8c-dc1d-477d-b4d2-0b674512a2ee
      - 8a224f2d-6936-4c97-8863-e2e94782b743
      - 81b2539f-7087-4f1e-996c-bae6387f6c82
    status:
      code: 200
      message: OK
version: 1
