interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-04-02T09:30:55.0710668Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-04-02T09:30:55.0710668Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{"Mover":"Dev","team":"Discovery"},"properties":{"keyCreationTime":{"key1":"2026-04-02T09:30:55.0710668Z","key2":"2026-04-02T09:30:55.0710668Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-02T09:30:55.0812566Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-02T09:30:55.0812566Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2026-04-02T09:30:54.8304322Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "MoverDesc"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003","name":"storage-mover000003","type":"microsoft.storagemover/storagemovers","location":"eastus2euap","tags":{"Mover":"Dev","team":"Discovery"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-02T09:31:23.3193932Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-02T09:31:23.3193932Z"},"properties":{"description":"MoverDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"24001cae-0000-3300-0000-69ce376b0000"'
      mise-correlation-id:
      - a9ebdad8-cc32-4193-ac91-120ad52b9d96
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "ProjectDesc"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003/projects/project000004?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003/projects/project000004","name":"project000004","type":"microsoft.storagemover/storagemovers/projects","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-02T09:31:24.5278131Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-02T09:31:24.5278131Z"},"properties":{"description":"ProjectDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5b0323ca-0000-3300-0000-69ce376c0000"'
      mise-correlation-id:
      - 0d745972-b362-4f8a-8446-32dc1264f432
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2026 09:31:22 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/srccontainer000006?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE909A9CBB4CA0"'
      last-modified:
      - Thu, 02 Apr 2026 09:31:26 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2026 09:31:23 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/tgtcontainer000007?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE909A9D890D6F"'
      last-modified:
      - Thu, 02 Apr 2026 09:31:27 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"description":
      "srcEndpointDesc", "endpointKind": "Source", "endpointType": "AzureStorageBlobContainer",
      "blobContainerName": "srccontainer000006", "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003/endpoints/srcendpoint000008?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003/endpoints/srcendpoint000008","name":"srcendpoint000008","type":"microsoft.storagemover/storagemovers/endpoints","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-02T09:31:28.5805576Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-02T09:31:28.5805576Z"},"identity":{"principalId":"40ac6d64-54e4-457a-9845-d4f12b5f23ae","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"storageAccountResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","blobContainerName":"srccontainer000006","endpointType":"AzureStorageBlobContainer","endpointKind":"Source","description":"srcEndpointDesc","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"16006e52-0000-3300-0000-69ce37720000"'
      mise-correlation-id:
      - 7915334d-40df-4cf3-a600-82466f36aa26
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"description":
      "tgtEndpointDesc", "endpointKind": "Target", "endpointType": "AzureStorageBlobContainer",
      "blobContainerName": "tgtcontainer000007", "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: http[...]
- request:
    body: '{"properties": {"copyMode": "Additive", "dataIntegrityValidation": "None",
      "description": "JobDefWithSchedule", "jobType": "CloudToCloud", "preservePermissions":
      true, "schedule": {"daysOfWeek": ["Monday", "Wednesday", "Friday"], "endDate":
      "2026-12-31T00:00:00.000Z", "executionTime": {"hour": 9, "minute": 0}, "frequency":
      "Weekly", "isActive": true, "startDate": "2026-04-02T00:00:00.000Z"}, "sourceName":
      "srcendpoint000008", "sourceSubpath": "/", "targetName": "tgtendpoint000009",
      "targetSubpath": "/"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003/projects/project000004/jobDefinitions/jobdefsch000005?api-version=2025-12-01
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"An unexpected error
        occurred while processing the request; Please retry or file a support ticket."}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - ccb8cc9c-c384-45a1-9563-b630e93d2cf7
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"properties": {"copyMode": "Additive", "dataIntegrityValidation": "None",
      "description": "JobDefWithSchedule", "jobType": "CloudToCloud", "preservePermissions":
      true, "schedule": {"daysOfWeek": ["Monday", "Wednesday", "Friday"], "endDate":
      "2026-12-31T00:00:00.000Z", "executionTime": {"hour": 9, "minute": 0}, "frequency":
      "Weekly", "isActive": true, "startDate": "2026-04-02T00:00:00.000Z"}, "sourceName":
      "srcendpoint000008", "sourceSubpath": "/", "targetName": "tgtendpoint000009",
      "targetSubpath": "/"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StorageMover/storageMovers/storage-mover000003/projects/project000004/jobDefinitions/jobdefsch000005?api-version=2025-12-01
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"An unexpected error
        occurred while processing the request; Please retry or file a support ticket."}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - 854cd508-0b0e-421b-b539-fa715cee4e79
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2

    status:
      code: 500
      message: Internal Server Error
version: 1
