interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest-redisenterprise-rg1-000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001","name":"clitest-redisenterprise-rg1-000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-23T08:21:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "value1"}, "location": "eastus", "sku": {"name": "Enterprise_E20",
      "capacity": 4}, "zones": ["1", "2", "3"], "properties": {"minimumTlsVersion":
      "1.2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"East US\",\r\n  \"name\": \"clitest-cache1-000002\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"tag1\":
        \"value1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Enterprise_E20\",\r\n
        \   \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n  },\r\n  \"zones\":
        [\r\n    \"1\",\r\n    \"2\",\r\n    \"3\"\r\n  ]\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/53d80ffc-9443-422c-811a-fd86ae49835d?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"clientProtocol": "Encrypted", "port": 10000, "clusteringPolicy":
      "EnterpriseCluster", "evictionPolicy": "NoEviction", "persistence": {"aofEnabled":
      true, "aofFrequency": "1s"}, "modules": [{"name": "RedisBloom", "args": "ERROR_RATE
      0.00 INITIAL_SIZE 400"}, {"name": "RedisTimeSeries", "args": "RETENTION_POLICY
      20"}, {"name": "RediSearch"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases/default?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases/default\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n  \"properties\":
        {\r\n    \"clientProtocol\": \"Encrypted\",\r\n    \"port\": 10000,\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"clusteringPolicy\":
        \"EnterpriseCluster\",\r\n    \"evictionPolicy\": \"NoEviction\",\r\n    \"modules\":
        [\r\n      {\r\n        \"name\": \"RedisBloom\",\r\n        \"args\": \"ERROR_RATE
        0.00 INITIAL_SIZE 400\",\r\n        \"version\": \"2.2.4\"\r\n      },\r\n
        \     {\r\n        \"name\": \"RedisTimeSeries\",\r\n        \"args\": \"RETENTION_POLICY
        20\",\r\n        \"version\": \"1.4.5\"\r\n      },\r\n      {\r\n        \"name\":
        \"RediSearch\",\r\n        \"args\": \"\",\r\n        \"version\": \"2.0.1\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/be9473d0-0244-4aa3-9aa6-4193aca178f3?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases/default?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/53d80ffc-9443-422c-811a-fd86ae49835d?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/operationsStatus/53d80ffc-9443-422c-811a-fd86ae49835d","name":"53d80ffc-9443-422c-811a-fd86ae49835d","status":"InProgress","startTime":"2021-02-23T08:21:40.986483+00:00","endTime":"2021-02-23T08:21:41.5782647+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"East US\",\r\n  \"name\": \"clitest-cache1-000002\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"tag1\":
        \"value1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Enterprise_E20\",\r\n
        \   \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n    \"privateEndpointConnections\":
        []\r\n  },\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\",\r\n    \"3\"\r\n
        \ ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases/default\",\r\n
        \     \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n      \"properties\":
        {\r\n        \"clientProtocol\": \"Encrypted\",\r\n        \"port\": 10000,\r\n
        \       \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\":
        \"Running\",\r\n        \"clusteringPolicy\": \"EnterpriseCluster\",\r\n        \"evictionPolicy\":
        \"NoEviction\",\r\n        \"modules\": [\r\n          {\r\n            \"name\":
        \"RedisBloom\",\r\n            \"args\": \"ERROR_RATE 0.00 INITIAL_SIZE 400\",\r\n
        \           \"version\": \"2.2.4\"\r\n          },\r\n          {\r\n            \"name\":
        \"RedisTimeSeries\",\r\n            \"args\": \"RETENTION_POLICY 20\",\r\n
        \           \"version\": \"1.4.5\"\r\n          },\r\n          {\r\n            \"name\":
        \"RediSearch\",\r\n            \"args\": \"\",\r\n            \"version\":
        \"2.0.1\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/redisEnterprise?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"location":"East US","name":"clicache-no-db-test1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/andrew-newtemprg/providers/Microsoft.Cache/redisEnterprise/clicache-no-db-test1","type":"Microsoft.Cache/redisEnterpris[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/andrew-newtemprg/providers/Microsoft.Cache/redisEnterprise/clicache-no-db-test1/databases?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/andrew-newtemprg/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/andrew-newtemprg/providers/Microsoft.Cache/redisEnterprise/azcli95/databases?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/andrew-newtemprg/providers/Microsoft.Cache/redisE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-bf3px6o4g7fa/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-xdzy43pzozxashs/databases?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/andrew-newtemprg/providers/Microsoft.Cache/redisEnterprise/azclitest90/databases?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases/default/listKeys?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"primaryKey\": \"primary-key\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "Primary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-000001/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-000002/databases/default/regenerateKey?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"primaryKey\": \"new-primary-key\",\r\n
        \ \"secondaryKey\": \"secondary-key\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - b23cd069-38d7-4d13-87a0-e3f31a877503
    status:
      code: 200
      message: OK
[...]
