interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003","name":"mcc_cli_ci_tst_cst000003","type":"microsoft.connectedcache/enterprisemcccustomers","location":"westus","systemData":{"createdBy":"dcornwell@microsoft.com","createdByType":"User","createdAt":"2024-10-24T22:59:58.6871685Z","lastModifiedBy":"dcornwell@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-24T22:59:58.6871685Z"},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ConnectedCache/locations/WESTUS/operationStatuses/fb06c826-669b-4174-b80f-47f4425da36b*27D816DAB1970D61AB25F3DC3535D91641F37E00368D7C2EA6BEC478C4BD323C?api-version=2023-05-01-preview&t=638654075997340335&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ConnectedCache/locations/WESTUS/operationStatuses/fb06c826-669b-4174-b80f-47f4425da36b*27D816DAB1970D61AB25F3DC3535D91641F37E00368D7C2EA6BEC478C4BD323C?api-version=2023-05-01-preview&t=638654075997340335&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003","name":"mcc_cli_ci_tst_cst000003","type":"microsoft.connectedcache/enterpriseMccCustomers","location":"westus","properties":{"customer":{"fullyQualifiedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003","customerId":"ce0394ee-f177-4009-866b-05ee6b6f913b","customerName":"mcc_cli_ci_tst_cst000003","contactEmail":"","contactPhone":"","contactName":"","isEntitled":true,"releaseVersion":2,"clientTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","synchWithAzureAttemptsCount":0,"lastSyncWithAzureTimestamp":"1601-01-01T00:00:00Z","isEnterpriseManaged":true,"shouldMigrate":false,"resendSignupCode":false,"verifySignupCode":false},"additionalCustomerProperties":{"peeringDbLastUpdateTime":"2024-10-24T23:00:30.3651627Z","customerPropertiesOverviewCacheEfficiency":0.0,"customerPropertiesOverviewAverageEgressMbps":0.0,"customerPropertiesOverviewAverageMissMbps":0.0,"customerPropertiesOverviewEgressMbpsMax":0.0,"customerPropertiesOverviewEgressMbpsMaxDateTime":"2024-10-24T23:00:30.2401555+00:00","customerPropertiesOverviewMissMbpsMax":0.0,"customerPropertiesOverviewMissMbpsMaxDateTime":"2024-10-24T23:00:30.2401555+00:00","customerPropertiesOverviewCacheNodesHealthyCount":0,"customerPropertiesOverviewCacheNodesUnhealthyCount":0,"signupStatus":false,"signupStatusCode":0,"signupStatusText":"Not
        signed up.","signupPhaseStatusCode":0,"signupPhaseStatusText":"Not signed
        up.","peeringDbLastUpdateDate":"2024-10-24T23:00:30.3651627Z","customerOrgName":"","customerEmail":"","customerTransitAsn":"","customerTransitState":"NoTransit","customerAsn":"","customerAsnEstimatedEgressPeekGbps":0.0},"provisioningState":"Succeeded","statusCode":"Success"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3000c9dd-0000-0700-0000-671ad1720000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003","name":"mcc_cli_ci_tst_cst000003","type":"microsoft.connectedcache/enterpriseMccCustomers","location":"westus","properties":{"customer":{"fullyQualifiedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_mcc","date":"2024-10-24T22:59:53Z","module":"mcc"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"additionalCacheNodeProperties":
      {"optionalProperty1": "1", "osType": "Windows"}, "cacheNode": {"isEnabled":
      true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003/enterpriseMccCacheNodes/mcc_cli_ci_tst_node000004?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ConnectedCache/locations/WESTUS/operationStatuses/c20849cb-87a6-403e-8c21-5b009cba577c*1494A994F066485B4350B7D5255499B842022D62CAC1A263DED800611E949A24?api-version=2023-05-01-preview&t=638654076347457767&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003/enterpriseMccCacheNodes/mcc_cli_ci_tst_node000004?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003/enterpriseMccCacheNodes/mcc_cli_ci_tst_node000004","name":"mcc_cli_ci_tst_node000004","type":"microsoft.connectedcache/enterpriseMccCustomers/enterpriseMccCacheNodes","location":"westus","properties":{"cacheNode":{"ipAddress":"","customerId":"ce0394ee-f177-4009-866b-05ee6b6f913b","customerName":"mcc_cli_ci_tst_cst000003","cacheNodeId":"5cc3b567-a2de-4bca-b747-bc95788b856e","cacheNodeName":"mcc_cli_ci_tst_node000004","customerAsn":-1,"isEnabled":true,"maxAllowableEgressInMbps":1000,"maxAllowableProbability":1.0,"xCid":"","isEnterpriseManaged":true,"fullyQualifiedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003/enterpriseMccCacheNodes/mcc_cli_ci_tst_node000004","containerConfigurations":"{\"cacheNodeState\":0,\"isProvisioned\":false,\"aggregatedStatusCode\":0,\"osType\":\"Windows\",\"autoUpdateNextAvailableDateTime\":\"0001-01-01T00:00:00\",\"autoUpdateLastAppliedDateTime\":\"0001-01-01T00:00:00\",\"autoUpdateLastTriggeredDateTime\":\"0001-01-01T00:00:00\",\"optionalProperty1\":\"1\"}","cidrCsv":[],"cidrCsvLastUpdateTime":"2024-10-24T23:00:36.4437076Z","bgpCidrCsvLastUpdateTime":"2000-01-01T00:00:00Z","bgpLastReportedTime":"2000-01-01T00:00:00Z","bgpReviewStateText":"Cache
        node created but has not been configured.","bgpReviewState":"Not configured","bgpNumberOfTimesUpdated":0,"bgpNumberOfRecords":0,"bgpCidrBlocksCount":0,"bgpAddressSpace":0,"bgpFileBytesTruncated":0,"cidrSelectionType":1,"isFrozen":false,"reviewState":2,"reviewStateText":"Approved","configurationState":"Not
        Provisioned","configurationStateText":"Not Provisioned","addressSpace":0,"releaseVersion":2,"clientTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","workerConnections":0,"workerConnectionsLastUpdatedDateTime":"1601-01-01T00:00:00Z","containerResyncTrigger":0,"synchWithAzureAttemptsCount":0,"lastSyncWithAzureTimestamp":"1601-01-01T00:00:00Z","lastUpdatedTimestamp":"2024-10-24T23:00:39.4491229Z","shouldMigrate":false,"autoUpdateRingType":"Fast"},"additionalCacheNodeProperties":{"cacheNodeState":0,"cacheNodeStateShortText":"Registration
        In Progress","cacheNodeStateDetailedText":"Cache node registration is in progress.","isProvisioned":false,"productVersion":"Unknown","aggregatedStatusCode":0,"osType":"Windows","autoUpdateNextAvailableDateTime":"0001-01-01T00:00:00","autoUpdateLastAppliedDateTime":"0001-01-01T00:00:00","autoUpdateLastTriggeredDateTime":"0001-01-01T00:00:00"},"provisioningState":"Succeeded","statusCode":"Success","statusText":"Cache
        node has not been configured."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"23006ab4-0000-0700-0000-671ad1940000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003/enterpriseMccCacheNodes?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMcc[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"additionalCacheNodeProperties":
      {"driveConfiguration": [{"cacheNumber": 1, "physicalPath": "/var/mcc", "sizeInGb":
      50}], "isProxyRequired": "Enabled", "osType": "Windows", "proxyUrlConfiguration":
      {"proxyUrl": "abc.xyz:80"}}, "cacheNode": {"autoUpdateRequestedDay": 7, "autoUpdateRequestedTime":
      "05:35", "autoUpdateRequestedWeek": 2, "autoUpdateRingType": "Slow", "cacheNodeId":
      "5cc3b567-a2de-4bca-b747-bc95788b856e", "cacheNodeName": "mcc_cli_ci_tst_node000004",
      "cidrCsv": [], "cidrSelectionType": 1, "customerAsn": -1, "customerName": "mcc_cli_ci_tst_cst000003",
      "fullyQualifiedResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003/enterpriseMccCacheNodes/mcc_cli_ci_tst_node000004[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ConnectedCache/locations/WESTUS/operationStatuses/f374c146-28db-4788-bfba-e5ae9c5659aa*1494A994F066485B4350B7D5255499B842022D62CAC1A263DED800611E949A24?api-version=2023-05-01-preview&t=638654076695609521&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ConnectedCache/locations/WESTUS/operationStatuses/7b78ee01-5fc2-43fb-a1b7-8e511720aae8*1494A994F066485B4350B7D5255499B842022D62CAC1A263DED800611E949A24?api-version=2023-05-01-preview&t=638654077031605603&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ConnectedCache/locations/WESTUS/operationStatuses/7b78ee01-5fc2-43fb-a1b7-8e511720aae8*1494A994F066485B4350B7D5255499B842022D62CAC1A263DED800611E949A24?api-version=2023-05-01-preview&t=638654077031759679&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/mcc_cli_ci_tst_cst000003?api-version=2023-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
