interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-04T01:11:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003","name":"testid_000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"53abe43d-74ab-46ac-b102-e8c6b1723f85","clientId":"e61c3e10-624c-41dd-8ffe-fc2eab7b747b"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"user@domain.com","createdByType":"User","createdAt":"2023-02-04T01:11:10.2961623Z","lastModifiedBy":"user@domain.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-04T01:11:10.2961623Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":{"principalId":"53abe43d-74ab-46ac-b102-e8c6b1723f85","clientId":"e61c3e10-624c-41dd-8ffe-fc2eab7b747b"}}},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305?api-version=2022-11-11-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"340001e6-0000-4d00-0000-63ddb0af0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":21,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"westus3"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-02-04T01:12:10.7181044Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305","name":"cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Accepted","startTime":"2023-02-04T01:11:10.737414Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00009d2e-0000-4d00-0000-63ddb0ae0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305","name":"cea054e8-e0e7-4b9c-b963-7c62bef8172c*B073D40E771FF2587191847568C883F450B327BA49C842DFDEC07ABF5D5C2305","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Succeeded","startTime":"2023-02-04T01:11:10.737414Z","endTime":"2023-02-04T01:12:20.4422389Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000a22e-0000-4d00-0000-63ddb0f40000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"user@domain.com","createdByType":"User","createdAt":"2023-02-04T01:11:10.2961623Z","lastModifiedBy":"user@domain.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-04T01:11:10.2961623Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":{"principalId":"53abe43d-74ab-46ac-b102-e8c6b1723f85","clientId":"e61c3e10-624c-41dd-8ffe-fc2eab7b747b"}}},"properties":{"provisioningState":"Succeeded","devCenterUri":"https://00000000-0000-0000-0000-000000000000-cli000002.westus3.devcenter.azure.com/"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"340064ef-0000-4d00-0000-63ddb0f40000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus3", "properties": {"devCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000004?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-0000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity", "id":"00000000-0000-0000-0000-000000000000"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"BY3PEPF00010586"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000000-0000-0000-0000-000000000000%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"BY3PEPF00014A56"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["00000000-0000-0000-0000-000000000000"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"00000000-0000-0000-0000-000000000000"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"BY3PEPF00010596"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18e40d4e-8d2e-438d-97e1-9528336e149c",
      "principalId": "00000000-0000-0000-0000-000000000000", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000004/providers/Microsoft.Authorization/roleAssignments/30ab56c6-482c-418c-99ff-df1650baade9?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18e40d4e-8d2e-438d-97e1-9528336e149c","principalId":"00000000-0000-0000-0000-000000000000","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000004","condition":null,"conditionVersion":null,"createdOn":"2023-02-04T01:13:17.6308241Z","updatedOn":"2023-02-04T01:13:18.4950412Z","createdBy":null,"updatedBy":"00000000-0000-0000-0000-000000000000","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000004/providers/Microsoft.Authorization/roleAssignments/30ab56c6-482c-418c-99ff-df1650baade9","type":"Microsoft.Authorization/roleAssignments","name":"30ab56c6-482c-418c-99ff-df1650baade9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: '{"tags": {"val1": "key1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002/environmentTypes/c000005?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002/environmentTypes/c000005","name":"c000005","type":"microsoft.devcenter/devcenters/environmenttypes","tags":{"val1":"key1"},"systemData":{"createdBy":"user@domain.com","createdByType":"User","createdAt":"2023-02-04T01:13:21.0630698Z","lastModifiedBy":"user@domain.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-04T01:13:21.0630698Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000c423-0000-4d00-0000-63ddb1310000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '2023-02-04T01:13:43.8647848Z'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":
      {}}}, "location": "westus3", "properties": {"deploymentTargetId": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "status": "Enabled", "creatorRoleAssignment": {"roles": {"8e3af657-a8ff-443c-a75c-2fe8c4bcb635":
      {}}}, "userRoleAssignments": {"53abe43d-74ab-46ac-b102-e8c6b1723f85": {"roles":
      {"8e3af657-a8ff-443c-a75c-2fe8c4bcb635": {}}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000004/environmentTypes/c000005?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000[...]
- request:
    body: '{"query": " Resources |where type =~''Microsoft.devcenter/projects''\n    |
      where name =~ ''cli000004''\n    | extend devCenterArr = split(properties.devCenterId,
      ''/'')\n    | extend devCenterName = devCenterArr[array_length(devCenterArr)
      -1]\n    | where devCenterName =~ ''cli000002''\n    | take 1\n    | extend
      devCenterUri = properties.devCenterUri\n    | project name,devCenterUri "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":1,"count":1,"data":[{"name":"cli000004","devCenterUri":"https://00000000-0000-0000-0000-000000000000-cli000002.westus3.devcenter.azure.com/"}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '14'
      x-ms-resource-graph-request-duration:
      - '0:00:00:00.3409229'
      x-ms-user-quota-remaining:
      - '14'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://00000000-0000-0000-0000-000000000000-cli000002.westus3.devcenter.azure.com/projects/cli000004/environmentTypes?api-version=2022-11-11-preview
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"name\": \"c000005\",\n      \"deploymentTargetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000\",\n      \"status\":
        \"Enabled\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-02-04T01:14:26.6931408Z'
    status:
      code: 200
      message: OK
version: 1
