interactions:
- request:
    body: '{"query": " Resources |where type =~''Microsoft.devcenter/projects''\n    \n    |
      extend devCenterArr = split(properties.devCenterId, ''/'')\n    | extend devCenterName
      = devCenterArr[array_length(devCenterArr) -1]\n    | where devCenterName =~
      ''amlim-dev-center-euap''\n    | take 1\n    | extend devCenterUri = properties.devCenterUri\n    |
      project name,devCenterUri ", "options": {"allowPartialScopes": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":1,"count":1,"data":[{"name":"amlim-project","devCenterUri":"https://00000000-0000-0000-0000-000000000000-amlim-dev-center-euap.centraluseuap.devcenter.azure.com/"}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '12'
      x-ms-resource-graph-request-duration:
      - '0:00:00:00.1378355'
      x-ms-user-quota-remaining:
      - '12'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://00000000-0000-0000-0000-000000000000-amlim-dev-center-euap.centraluseuap.devcenter.azure.com/projects/amlim/catalogs?api-version=2025-04-01-preview
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"name\": \"testUpdateCatalog\"\n    },\n
        \   {\n      \"name\": \"testAddCatalog\"\n    },\n    {\n      \"name\":
        \"env-quickstart\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '2024-12-17T01:33:51.4865062Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://00000000-0000-0000-0000-000000000000-amlim-dev-center-euap.centraluseuap.devcenter.azure.com/projects/amlim/catalogs/env-quickstart?api-version=2025-04-01-preview
  response:
    body:
      string: "{\n  \"name\": \"env-quickstart\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2024-12-17T01:33:52.5590491Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://00000000-0000-0000-0000-000000000000-amlim-dev-center-euap.centraluseuap.devcenter.azure.com/projects/amlim/catalogs/env-quickstart?api-version=2025-04-01-preview
  response:
    body:
      string: "{\n  \"name\": \"env-quickstart\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '2024-12-17T01:33:51.4865062Z'
    status:
      code: 200
      message: OK
version: 1
