interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters?api-version=2022-11-11-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - c91d4eac-7356-47dc-97d3-3e5acfbc97c6
      - 8c8fe64c-92c6-4c50-88fa-fdde89ab93bb
      - 2c4a611c-3231-43af-b77c-806d7f21b113
      - 450fb0c3-507b-4255-95bd-6372f8c7f09c
      - f2d20743-b782-4598-9744-f8cbf44529f1
      - 295dc13b-6b0d-41e2-93be-2c1c535135b8
      - 8f88a691-5339-4248-aa07-7f28f1b2b20d
      - cbacf241-f878-4503-a631-cc66f7fa7314
      - ca44193f-7018-4d6c-ac51-62dc5313609f
      - 0bf84da7-3719-4177-91f6-9dc3a500814c
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "identity": {"type":
      "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","name":"cli000003","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-01-14T04:34:10.9179308Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-14T04:34:10.9179308Z"},"identity":{"principalId":"2b8edec6-1ef2-4325-9cdc-bcda507d7eba","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D?api-version=2022-11-11-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200ca98-0000-4d00-0000-63c230c40000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":44,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"westus3"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '2023-01-14T04:35:09.6297495Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D","name":"9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","status":"Accepted","startTime":"2023-01-14T04:34:11.5978563Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000d301-0000-4d00-0000-63c230c30000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D","name":"9f79d15f-6bfa-4851-8f1d-2d0731aa3938*932218DEB5919336E049E24C28185C75AB33E37B2D252C57A74317DFA4968F8D","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","status":"Succeeded","startTime":"2023-01-14T04:34:11.5978563Z","endTime":"2023-01-14T04:35:05.0427174Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000dc01-0000-4d00-0000-63c230f90000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","name":"cli000003","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-01-14T04:34:10.9179308Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-14T04:34:10.9179308Z"},"identity":{"principalId":"2b8edec6-1ef2-4325-9cdc-bcda507d7eba","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-cli000003.devcenter.azure.com/"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200bf99-0000-4d00-0000-63c230f90000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002","name":"clitest000002","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-14T04:34:07Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004","name":"testid_000004","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"b314938e-9aa8-4b75-8861-c0b70f26cb04","clientId":"fc1652be-8781-4cdf-8809-2a5c1c46a211"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000005?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscript[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters?api-version=2022-11-11-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 3102282b-87d8-4cee-bd41-c31074636a63
      - 7da3a9fd-a27f-4192-972c-7a8e18bcccdb
      - 88e1c0a3-7a29-4811-b3e2-fd8fc7450c03
      - 0813fcb3-0b59-4046-9ea6-1c0292b60a0a
      - 9ba1ecaf-e3d2-4eb3-8e81-597a4323b2dc
      - 9f2fea88-2682-41ec-a554-ad0738bb8e72
      - 00d980bf-e872-4724-81a0-f1f6e85ef002
      - 46029e79-d193-4cbd-8079-8d8fa61af0a3
      - 24f5690e-4c55-413f-921f-e85507ed93e1
      - 09667783-dd9a-4786-b8c6-bbf0748ac28f
    status:
      code: 200
      message: OK
version: 1
