interactions:
- request:
    body: '{"location": "canadacentral"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001","name":"cli000001","type":"Microsoft.Resources/resourceGroups","location":"canadacentral","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "canadacentral"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003?api-version=2023-01-31
  response:
    body:
      string: '{"location":"canadacentral","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003","name":"testid_000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"003b06c3-d471-4452-9686-9e7f3ca85f0a","principalId":"d38c8bfc-f84c-4def-8aae-bc911997e40c","clientId":"2b73ffa1-eca0-4e43-bc51-e1fa3b3c6b30"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":
      {}}}, "location": "canadacentral", "tags": {"CostCode": "12345"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"canadacentral","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-09-06T22:59:42.247908Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T22:59:42.247908Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":{"principalId":"d38c8bfc-f84c-4def-8aae-bc911997e40c","clientId":"2b73ffa1-eca0-4e43-bc51-e1fa3b3c6b30"}}},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03008938-0000-0a00-0000-64f9045f0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":14,"category":"Informational","scope":"subscription","target":"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/","region":"canadacentral"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-09-06T23:00:42.7927743Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E","name":"866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Accepted","startTime":"2023-09-06T22:59:42.8173661Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0300940e-0000-0a00-0000-64f9045e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E","name":"866cecae-6333-47d2-bca5-a795d105b72e*8C226B2A450A0F6997EFD3769F63E3554F4E15FE572D7804E4D1528F7CE1EA7E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Succeeded","startTime":"2023-09-06T22:59:42.8173661Z","endTime":"2023-09-06T23:02:36.656594Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03006110-0000-0a00-0000-64f9050c0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"canadacentral","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-09-06T22:59:42.247908Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T22:59:42.247908Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003":{"principalId":"d38c8bfc-f84c-4def-8aae-bc911997e40c","clientId":"2b73ffa1-eca0-4e43-bc51-e1fa3b3c6b30"}}},"properties":{"provisioningState":"Succeeded","devCenterUri":"https://003b06c3-d471-4452-9686-9e7f3ca85f0a-cli000002.canadacentral.devcenter.azure.com/"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03007c39-0000-0a00-0000-64f9050c0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27d38c8bfc-f84c-4def-8aae-bc911997e40c%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"BY3PEPF00010586"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["d38c8bfc-f84c-4def-8aae-bc911997e40c"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"d38c8bfc-f84c-4def-8aae-bc911997e40c","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000003"],"appDisplayName":null,"appDescription":null,"appId":"2b73ffa1-eca0-4e43-bc51-e1fa3b3c6b30","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2023-09-06T22:59:39Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"testid_000003","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["2b73ffa1-eca0-4e43-bc51-e1fa3b3c6b30","https://identity.azure.net/O0CmyEexC6ow3JIsqSS++0QM5R/qT3IWfVtGe42Z6F8="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"35BEF75BAB6D398EF2035BC4B5F19130DBA3BAD4","displayName":"CN=2b73ffa1-eca0-4e43-bc51-e1fa3b3c6b30","endDateTime":"2023-12-05T22:54:00Z","key":null,"keyId":"b85a9728-c2a0-4d86-94c3-7fe4d50c51ad","startDateTime":"2023-09-06T22:54:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"BY3PEPF00028DDB"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy/providers/Microsoft.KeyVault/vaults/dummy/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Secrets%20Officer%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Secrets Officer","type":"BuiltInRole","description":"Perform
        any action on the secrets of a key vault, except manage permissions. Only
        works for key vaults that use the ''Azure role-based access control'' permission
        model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.KeyVault/checkNameAvailability/read","Microsoft.KeyVault/deletedVaults/read","Microsoft.KeyVault/locations/*/read","Microsoft.KeyVault/vaults/*/read","Microsoft.KeyVault/operations/read"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/secrets/*"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:47.1449242Z","updatedOn":"2021-11-11T20:14:30.7793470Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b86a8fe4-44ce-4948-aee5-eccb2c155cd7","type":"Microsoft.Authorization/roleDefinitions","name":"b86a8fe4-44ce-4948-aee5-eccb2c155cd7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b86a8fe4-44ce-4948-aee5-eccb2c155cd7",
      "principalId": "d38c8bfc-f84c-4def-8aae-bc911997e40c", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy/providers/Microsoft.KeyVault/vaults/dummy/providers/Microsoft.Authorization/roleAssignments/056afa57-ae37-461b-ad17-bc34b308d49e?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b86a8fe4-44ce-4948-aee5-eccb2c155cd7","principalId":"d38c8bfc-f84c-4def-8aae-bc911997e40c","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy/providers/Microsoft.KeyVault/vaults/amlim-kv","condition":null,"conditionVersion":null,"createdOn":"2023-09-06T23:02:48.7303853Z","updatedOn":"2023-09-06T23:02:48.9513899Z","createdBy":null,"updatedBy":"345ff1ed-a4c2-4499-93e1-7554303e6607","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy/providers/Microsoft.KeyVault/vaults/amlim-kv/providers/Microsoft.Authorization/roleAssignments/056afa57-ae37-461b-ad17-bc34b308d49e","type":"Microsoft.Authorization/roleAssignments","name":"056afa57-ae37-461b-ad17-bc34b308d49e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "canadacentral", "properties": {"devCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/projects/cli000004?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/re[...]
[...]
- request:
    body: '{"ids": ["c3c951b7-d307-4c40-9495-70bd562d98d5"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"c3c951b7-d307-4c40-9495-70bd562d98d5","businessPhones":[],"displayName":"Amanda
        Lim","givenName":"Amanda","jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":"Lim","userPrincipalName":"amlim@fidalgosh010.onmicrosoft.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"BY3PEPF0002B125"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18e40d4e-8d2e-438d-97e1-9528336e149c",
      "principalId": "c3c951b7-d307-4c40-9495-70bd562d98d5", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevC[...]
- request:
    body: '{"properties": {"gitHub": {"branch": "main", "path": "/Environments", "secretIdentifier":
      "https://dummy.fake.net/secrets/dummy/0000000000000000000000000000000",
      "uri": "https://domain.com/dummy/dummy.git"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002/catalogs/c2000005?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002/catalogs/c2000005","name":"c2000005","type":"microsoft.devcenter/devcenters/catalogs","systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-09-06T23:07:01.3707069Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T23:07:01.3707069Z"},"properties":{"provisioningState":"Accepted","syncState":"InProgress","gitHub":{"uri":"https://domain.com/dummy/dummy.git","branch":"main","secretIdentifier":"https://dummy.fake.net/secrets/dummy/0000000000000000000000000000000","path":"/Environments"}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/f3284000-31a6-4ad0-a2fb-63c106d34842*1E40B0ED00C38EAD883BA0845437372E043D2F53C6CDDC3D62A3E67767E95631?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"08004840-0000-0a00-0000-64f906160000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-09-06T23:08:01.6527295Z'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/f3284000-31a6-4ad0-a2fb-63c106d34842*1E40B0ED00C38EAD883BA0845437372E043D2F53C6CDDC3D62A3E67767E95631?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/f3284000-31a6-4ad0-a2fb-63c106d34842*1E40B0ED00C38EAD883BA0845437372E043D2F53C6CDDC3D62A3E67767E95631","name":"f3284000-31a6-4ad0-a2fb-63c106d34842*1E40B0ED00C38EAD883BA0845437372E043D2F53C6CDDC3D62A3E67767E95631","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002/catalogs/c2000005","status":"Succeeded","startTime":"2023-09-06T23:07:01.6763715Z","endTime":"2023-09-06T23:07:44.8926396Z","properties":{"Success":["FunctionApp","Sandbox","WebApp"],"Conflict":{},"Invalid":{}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03003e12-0000-0a00-0000-64f906410000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002/catalogs/c2000005?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002/catalogs/c2000005","name":"c2000005","type":"microsoft.devcenter/devcenters/catalogs","systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-09-06T23:07:01.3707069Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T23:07:01.3707069Z"},"properties":{"provisioningState":"Succeeded","syncState":"Succeeded","gitHub":{"uri":"https://domain.com/dummy/dummy.git","branch":"main","secretIdentifier":"https://dummy.fake.net/secrets/dummy/0000000000000000000000000000000","path":"/Environments"},"lastSyncTime":"2023-09-06T23:07:44.1190634Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"08005d41-0000-0a00-0000-64f906410000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.DevCenter/devcenters/cli000002/catalogs/c2000005/sync?api-version=2023-10-01-preview
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/235275f6-f00f-40af-a6c7-82ee59abed0a*1E40B0ED00C38EAD883BA0845437372E043D2F53C6CDDC3D62A3E67767E95631?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/CANADACENTRAL/operationStatuses/235275f6-f00f-40af-a6c7-82ee59abed0a*1E40B0ED00C38EAD883BA0845437372E043D2F53C6CDDC3D62A3E67767E95631?api-version=2023-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-09-06T23:09:04.7510863Z'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions?api-version=2019-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000","authorizationSource":"RoleBased","managedByTenants":[],"subscriptionId":"f141e9f2-4778-45a4-9aa0-8b31e6469454","tenantId":"003b06c3-d471-4452-9686-9e7f3ca85f0a","displayName":"Project
        Fidalgo - Selfhost","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Public_2014-09-01","quotaId":"Sponsored_2016-01-01","spendingLimit":"Off"}}],"count":{"type":"Total","value":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": " Resources |where type =~''Microsoft.devcenter/projects''\n    |
      where name =~ ''cli000004''\n    | extend devCenterArr = split(properties.devCenterId,
      ''/'')\n    | extend devCenterName = devCenterArr[array_length(devCenterArr)
      -1]\n    | where devCenterName =~ ''cli000002''\n    | take 1\n    | extend
      devCenterUri = properties.devCenterUri\n    | project name,devCenterUri ", "options":
      {"allowPartialScopes": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":1,"count":1,"data":[{"name":"cli000004","devCenterUri":"https://003b06c3-d471-4452-9686-9e7f3ca85f0a-cli000002.canadacentral.devcenter.azure.com/"}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '14'
      x-ms-resource-graph-request-duration:
      - '0:00:00:00.2633024'
      x-ms-user-quota-remaining:
      - '14'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://003b06c3-d471-4452-9686-9e7f3ca85f0a-cli000002.canadacentral.devcenter.azure.com/projects/cli000004/environmentDefinitions?api-version=2023-10-01-preview
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/projects/cli000004/catalogs/c2000005/environmentDefinitions/sandbox\"\
        ,\n      \"name\": \"Sandbox\",\n      \"catalogName\": \"c2000005\",\n  \
        \    \"description\": \"Deploys an empty sandbox environment\",\n      \"\
        parameters\": [],\n      \"parametersSchema\": \"{\\\"type\\\":\\\"object\\\
        \"}\",\n      \"templatePath\": \"Environments/Sandbox/azuredeploy.json\"\n\
        \    },\n    {\n      \"id\": \"/projects/cli000004/catalogs/c2000005/environmentDefinitions/functionapp\"\
        ,\n      \"name\": \"FunctionApp\",\n      \"catalogName\": \"c2000005\",\n\
        \      \"description\": \"Deploys an Azure Function App, Storage Account,\
        \ and Application Insights\",\n      \"parameters\": [\n        {\n      \
        \    \"id\": \"name\",\n          \"name\": \"Name\",\n          \"description\"\
        : \"Name of the Function App.\",\n          \"type\": \"string\",\n      \
        \    \"readOnly\": false,\n          \"required\": true\n        },\n    \
        \    {\n          \"id\": \"supportsHttpsTrafficOnly\",\n          \"name\"\
        : \"Supports Https Traffic Only\",\n          \"description\": \"Allows https\
        \ traffic only to Storage Account and Functions App if set to true.\",\n \
        \         \"type\": \"boolean\",\n          \"readOnly\": false,\n       \
        \   \"required\": false\n        },\n        {\n          \"id\": \"runtime\"\
        ,\n          \"name\": \"Runtime\",\n          \"description\": \"The language\
        \ worker runtime to load in the function app.\",\n          \"default\": \"\
        dotnet-isolated\",\n          \"type\": \"string\",\n          \"readOnly\"\
        : false,\n          \"required\": false,\n          \"allowed\": [\n     \
        \       \"dotnet\",\n            \"dotnet-isolated\",\n            \"java\"\
        ,\n            \"node\",\n            \"powershell\",\n            \"python\"\
        \n          ]\n        }\n      ],\n      \"parametersSchema\": \"{\\\"type\\\
        \":\\\"object\\\",\\\"properties\\\":{\\\"name\\\":{\\\"title\\\":\\\"Name\\\
        \",\\\"description\\\":\\\"Name of the Function App.\\\"},\\\"supportsHttpsTrafficOnly\\\
        \":{\\\"title\\\":\\\"Supports Https Traffic Only\\\",\\\"description\\\"\
        :\\\"Allows https traffic only to Storage Account and Functions App if set\
        \ to true.\\\"},\\\"runtime\\\":{\\\"title\\\":\\\"Runtime\\\",\\\"description\\\
        \":\\\"The language worker runtime to load in the function app.\\\",\\\"default\\\
        \":\\\"dotnet-isolated\\\",\\\"enum\\\":[\\\"dotnet\\\",\\\"dotnet-isolated\\\
        \",\\\"java\\\",\\\"node\\\",\\\"powershell\\\",\\\"python\\\"]}},\\\"required\\\
        \":[\\\"name\\\"]}\",\n      \"templatePath\": \"Environments/FunctionApp/azuredeploy.json\"\
        \n    },\n    {\n      \"id\": \"/projects/cli000004/catalogs/c2000005/environmentDefinitions/webapp\"\
        ,\n      \"name\": \"WebApp\",\n      \"catalogName\": \"c2000005\",\n   \
        \   \"description\": \"Deploys an Azure Web App without a data store\",\n\
        \      \"parameters\": [\n        {\n          \"id\": \"name\",\n       \
        \   \"name\": \"Name\",\n          \"description\": \"Name of the Web App.\"\
        ,\n          \"type\": \"string\",\n          \"readOnly\": false,\n     \
        \     \"required\": true\n        }\n      ],\n      \"parametersSchema\"\
        : \"{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"name\\\":{\\\"title\\\
        \":\\\"Name\\\",\\\"description\\\":\\\"Name of the Web App.\\\"}},\\\"required\\\
        \":[\\\"name\\\"]}\",\n      \"templatePath\": \"Environments/WebApp/azuredeploy.json\"\
        \n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-09-06T23:09:43.5044715Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://003b06c3-d471-4452-9686-9e7f3ca85f0a-cli000002.canadacentral.devcenter.azure.com/projects/cli000004/catalogs/c2000005/environmentDefinitions?api-version=2023-10-01-preview
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/projects/cli000004/catalogs/c2000005/environmentDefinitions/sandbox\"\
[...]
