interactions:
- request:
    body: '{"location": "centraluseuap", "tags": {"CostCode": "12345"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"centraluseuap","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-05-03T04:00:57.1016727Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-03T04:00:57.1016727Z"},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1100f200-0000-4d00-0000-6451dc7a0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":24,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"centraluseuap"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '2023-05-03T04:01:55.0741300Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E","name":"d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Accepted","startTime":"2023-05-03T04:00:57.241664Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2400b409-0000-4d00-0000-6451dc790000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E","name":"d7e167a9-9046-4441-83c9-24da2c223584*C4005BD09B096D67EF6AE5B6D581DA90913F24EE97F177E909E24D554E9C513E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","status":"Succeeded","startTime":"2023-05-03T04:00:57.241664Z","endTime":"2023-05-03T04:02:19.066787Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2400140a-0000-4d00-0000-6451dccb0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002","name":"cli000002","type":"microsoft.devcenter/devcenters","location":"centraluseuap","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-05-03T04:00:57.1016727Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-03T04:00:57.1016727Z"},"properties":{"provisioningState":"Succeeded","devCenterUri":"https://00000000-0000-0000-0000-000000000000-cli000002.centraluseuap.devcenter.azure.com/"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"11001e01-0000-4d00-0000-6451dccb0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects?api-version=2023-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - eb365613-5e32-41e0-9c6a-6d412f124821
      - e74730d1-6fcd-45e1-8762-e3721ad9206f
      - 512c9ce6-1ceb-4fc4-b0de-8eb305e48537
      - 487273a0-5f79-41df-a35f-beda2f923000
      - 47ad1cd3-9536-4996-bc18-117a022cf3c4
      - 829d2307-5767-4eb4-87ea-daaa70ec60d9
      - 9fce7b57-583c-4129-9e84-d23275de04f7
      - 976d5acd-7c6b-41b2-a073-e565b30e1a60
      - 51b115da-a5d2-4dd4-a6d0-47bcfc823bc1
      - a9728258-68f5-44d2-bc25-6b034573386c
      - d97579a5-a841-4e38-9bdb-5af664d1d5d8
      - 0af60017-2653-4e8b-8c08-79ec7c7718e6
      - 3fa4c135-bdc6-421f-8d17-24d8b4f8eedb
      - 89d1250b-83e7-42dc-8528-ac422e9f8ae4
      - 2c03e6a0-7ba3-420e-82dc-bca62e14e4d3
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"devCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/devcenters/cli000002",
      "maxDevBoxesPerUser": 0}, "tags": {"CostCode": "12345"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000003?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects/cli000003","name":"cli000003","type[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/projects?api-version=2023-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5f74eb22-f08e-4a2c-b5e1-cf9b0377502c
      - 8f09b639-2d6b-4527-90ad-d16739188c24
      - f5718524-2f4e-4997-bad0-0e00b65855ac
      - 4e2d8cde-1658-43aa-abe8-5fcbcefa0d6c
      - 30d064f4-f5f5-4467-b011-e63b1c4e1bd2
      - 1aee5490-ab12-4043-a182-bd03e8de8b20
      - 142093b0-165b-4e0b-a39d-7dc72b8385db
      - 4267bd13-5977-4822-8fe8-7a1358b13126
      - c180df45-13bd-4d2b-8387-667db6a86c8e
      - 9663c7c2-2a42-4d91-996b-2e76efe1fbbd
      - 0d9acb83-3da0-444e-8016-401155140406
      - 2423193a-83ce-4521-8f90-68cb5de779a8
      - 5f15a263-f420-447c-8af0-d180bd7fa9c6
      - 2762d470-aa90-45cf-815d-d3b8ab59015c
      - 51f61fc0-5d56-4cf8-8a44-96106daee986
    status:
      code: 200
      message: OK
version: 1
