interactions:
- request:
    body: '{"location": "westus3", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002\"\
        ,\r\n  \"etag\": \"W/\\\"57190d19-0b6f-4b0d-b4f2-a6b8907950a9\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus3\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"dc79e949-742b-467d-93ab-f358f2334291\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/c3e030c4-19cf-42af-b680-27374458c4cb?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/c3e030c4-19cf-42af-b680-27374458c4cb?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus3"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/networkSecurityGroups/cli000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/networkSecurityGroups/cli000004\"\
        ,\r\n  \"etag\": \"W/\\\"52014b5f-4bf5-4182-8e1c-bcf6956fe755\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"d7633107-4e2e-4260-bbe2-2df5aa41ac5c\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/networkSecurityGroups/cli000004/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"52014b5f-4bf5-4182-8e1c-bcf6956fe755\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\":\
        \ [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\"\
        : [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n   \
        \   },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\
        \n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/networkSecurityGroups/cli000004/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"52014b5f-4bf5-4182-8e1c-bcf6956fe755\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecu[...]
[...]
- request:
    body: '{"name": "cli000003", "properties": {"addressPrefix": "10.0.0.0/21", "networkSecurityGroup":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/networkSecurityGroups/cli000004"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002/subnets/cli000003?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002/subnets/cli000003\"\
        ,\r\n  \"etag\": \"W/\\\"7c91f45d-fd59-4674-b216-b6fc7e1896a0\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/21\",\r\n    \"networkSecurityGroup\": {\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/networkSecurityGroups/cli000004\"\
        \r\n    },\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/53047759-bdc7-48dd-bd8f-3a2db24505e5?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections?api-version=2022-11-11-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2dad510a-91a9-43d0-8b72-415ed91b9179
      - 21f0f90e-b53c-4dda-92b0-8ef58fecdea7
      - 935ae5f1-f72f-4002-8a85-112d418fd29e
      - 2a3febd4-8f6a-4b70-a0a4-475a47848a13
      - 9a5799e6-780b-4ab1-9152-f280ff40758f
      - c0ad18ff-1cca-4657-9b62-3d01922f17df
      - ee686fe0-9890-4038-bfdf-b64f287c214e
      - bf6b2ee6-4832-4860-843e-f596cf85ae03
      - 527fe7b5-9f24-414e-8324-f020e82cd2cf
      - 8177cf8c-19d9-4597-9088-9e4f2e7d0c4c
      - 74c7b55c-8d54-458a-a490-b6ff6a096c88
      - 8b6da974-2cd7-4f89-9ff1-051861da14a1
      - 44cb78fa-ee59-431d-8214-675126d1d232
      - feaea7cd-a34e-4319-b261-9fab89f6cf7e
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus3", "properties": {"domainJoinType": "AzureADJoin",
      "networkingResourceGroupName": "cli000008", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002/subnets/cli000003"},
      "tags": {"CostCode": "12345"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000006?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000006","name":"cli000006","type":"microsoft.devcenter/networkconnections","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"user@domain.com","createdByType":"User","createdAt":"2023-03-01T00:48:55.2935331Z","lastModifiedBy":"user@domain.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-01T00:48:55.2935331Z"},"properties":{"provisioningState":"Accepted","networkingResourceGroupName":"cli000008","domainJoinType":"AzureADJoin","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002/subnets/cli000003"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/e8aeb313-e5a7-474b-8b4c-0dd384ea56b0*7633CF0C624F1891BA95AF04D831C508F8DAEC1EE5D35464DBF6611584F9018D?api-version=2022-11-11-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1600067b-0000-4d00-0000-63fea0f80000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"networkConnections"},"limit":80,"currentUsed":8,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"westus3"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-03-01T00:49:55.4935794Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/e8aeb313-e5a7-474b-8b4c-0dd384ea56b0*7633CF0C624F1891BA95AF04D831C508F8DAEC1EE5D35464DBF6611584F9018D?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/e8aeb313-e5a7-474b-8b4c-0dd384ea56b0*7633CF0C624F1891BA95AF04D831C508F8DAEC1EE5D35464DBF6611584F9018D","name":"e8aeb313-e5a7-474b-8b4c-0dd384ea56b0*7633CF0C624F1891BA95AF04D831C508F8DAEC1EE5D35464DBF6611584F9018D","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000006","status":"Succeeded","startTime":"2023-03-01T00:48:55.9078477Z","endTime":"2023-03-01T00:49:25.0339337Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3f006907-0000-4d00-0000-63fea1150000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus3", "properties": {"domainJoinType": "HybridAzureADJoin",
      "domainName": "fidalgoppe010.local", "domainPassword": "fakePassword", "domainUsername":
      "domainjoin@fidalgoppe010.local", "networkingResourceGroupName": "cli000007",
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002/subnets/cli000003"},
      "tags": {"CostCode": "12345"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000005?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000005","name":"cli000005","type":"microsoft.devcenter/networkconnections","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"user@domain.com","createdByType":"User","createdAt":"2023-03-01T00:49:33.6955569Z","lastModifiedBy":"2dc3760b-4713-48b1-a383-1dfe3e449ec2","lastModifiedByType":"Application","lastModifiedAt":"2023-03-01T00:50:13.8139016Z"},"properties":{"provisioningState":"Succeeded","networkingResourceGroupName":"cli000007","domainJoinType":"HybridAzureADJoin","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cli000002/subnets/cli000003","domainName":"fidalgoppe010.local","domainUsername":"domainjoin@fidalgoppe010.local","healthCheckStatus":"Running"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"16004c7b-0000-4d00-0000-63fea1450000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000006/healthChecks?api-version=2022-11-11-preview
  response:
    body:
      string: '{"value":[{"properties":{"startDateTime":"2023-03-01T00:49:24.000000Z","endDateTime":"2023-03-01T00:57:06.000000Z","healthChecks":[{"status":"Passed","displayName":"Azure
        tenant readiness","startDateTime":"2023-03-01T00:49:25.075432Z","endDateTime":"2023-03-01T00:50:10.536414Z"},{"status":"Passed","displayName":"Azure
        virtual network readiness","startDateTime":"2023-03-01T00:49:25.191825Z","endDateTime":"2023-03-01T00:49:26.446925Z"},{"status":"Warning","displayName":"Intune
        enrollment restrictions allow Windows enrollment","startDateTime":"2023-03-01T00:49:25.595396Z","endDateTime":"2023-03-01T00:49:26.216821Z","errorType":"ResourceAvailabilityCheckIntuneCustomWindowsRestrictionViolation","recommendedAction":"Please
        allow the Windows platform in the Intune custom enrollment policy."},{"status":"Passed","displayName":"Azure
        subnet IP address usage","startDateTime":"2023-03-01T00:49:26.582669Z","endDateTime":"2023-03-01T00:49:27.112217Z"},{"status":"Passed","displayName":"Endpoint
        connectivity","startDateTime":"2023-03-01T00:56:12.000000Z","endDateTime":"2023-03-01T00:56:34.000000Z"},{"status":"Passed","displayName":"Localization
        language package readiness","startDateTime":"2023-03-01T00:56:12.000000Z","endDateTime":"2023-03-01T00:56:34.000000Z"},{"status":"Passed","displayName":"UDP
        connection check","startDateTime":"2023-03-01T00:56:38.000000Z","endDateTime":"2023-03-01T00:56:40.000000Z"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-03-01T01:01:50.7641513Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DevCenter/networkConnections/cli000006/healthChecks/latest?api-version=2022-11-11-preview
  response:
    body:
      string: '{"properties":{"startDateTime":"2023-03-01T00:49:24.000000Z","endDateTime":"2023-03-01T00:57:06.000000Z","healthChecks":[{"status":"Passed","displayName":"Azure
        tenant read[...]
[...]
