interactions:
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "identity": {"type":
      "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","name":"cli000003","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-01-14T04:34:08.9989911Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-14T04:34:08.9989911Z"},"identity":{"principalId":"27bcd8b1-e65d-463a-910b-190cce41ae67","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA?api-version=2022-11-11-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200c098-0000-4d00-0000-63c230c20000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-quota:
      - '{"name":{"localizedValue":null,"value":"devCenters"},"limit":100,"currentUsed":43,"category":"Informational","scope":"subscription","target":"/subscriptions/3de261df-f2d8-4c00-a0ee-a0be30f1e48e/","region":"westus3"}'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '2023-01-14T04:35:09.6297495Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA","name":"177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","status":"Accepted","startTime":"2023-01-14T04:34:09.6455716Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000d201-0000-4d00-0000-63c230c10000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevCenter/locations/WESTUS3/operationStatuses/177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA","name":"177b3bf7-0154-42c8-bdf9-0e787c12f71a*D874120E8585355E7A6694B9FE418F88AFA7F365697AF67E91D1F1225DD050BA","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","status":"Succeeded","startTime":"2023-01-14T04:34:09.6455716Z","endTime":"2023-01-14T04:35:11.240018Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000dd01-0000-4d00-0000-63c230ff0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003","name":"cli000003","type":"microsoft.devcenter/devcenters","location":"westus3","tags":{"CostCode":"12345"},"systemData":{"createdBy":"amlim@microsoft.com","createdByType":"User","createdAt":"2023-01-14T04:34:08.9989911Z","lastModifiedBy":"amlim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-14T04:34:08.9989911Z"},"identity":{"principalId":"27bcd8b1-e65d-463a-910b-190cce41ae67","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-cli000003.devcenter.azure.com/"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200da99-0000-4d00-0000-63c230ff0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/projects?api-version=2022-11-11-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f5a90c1f-5698-436a-9af4-4a3231143d78
      - 4090ebec-4c20-47a6-8ffc-fa8c48d22212
      - cbaab6d5-80fa-4ee2-baff-afe862b6335f
      - e790fd3a-7f26-4585-a6e9-dd87a43f21fa
      - bacba2a3-c57f-4186-ba81-409ec765bd1e
      - d7aff885-2a05-416f-b7f5-60ebe707d7d3
      - 917d0d60-2c33-4e28-8be1-b056ab44adf9
      - 3511d7c8-6f2f-42dd-97ec-4b6963bf9cfa
      - 447c1472-4430-40de-b459-30f075b6bae7
      - f90367c2-88ca-49ac-a729-6836395ef628
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"CostCode": "12345"}, "location": "westus3", "properties": {"devCenterId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/devcenters/cli000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/projects/cli000004?api-version=2022-11-11-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.DevCenter/projects?api-version=2022-11-11-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 10716884-8f17-4f71-b836-d83269fb11e6
      - 4c3acedf-c260-4f03-95f5-23f2c7310f0e
      - 322d6d04-a109-49aa-9520-7bb1b0581ae8
      - b7642e1e-55a1-47fa-90de-232975a18806
      - 9efd2bba-e8c3-4d86-ab9d-acbeed521db3
      - f692ea41-2b6b-40ec-a3c8-4c5c36382eb8
      - 2b8183da-f341-4c04-972a-7ad865262947
      - 2af8e8ff-4fd6-4c68-8706-e2f66fd42441
      - 5e8663de-31f8-40bd-aa16-fa6588294c4a
      - e4fe1379-48c4-4449-a241-0654236bac75
    status:
      code: 200
      message: OK
version: 1
