# See for instructions on this file https://help.github.com/articles/about-codeowners/

/linter_exclusions.yml @kairu-ms @fengzhou-msft

/src/index.json @fengzhou-msft @qwordy @houk-ms @kairu-ms @jsntcy @Juliehzl @jiasli @zhoxing-ms @evelyn-ys @msyyc @xfz11 @08nholloway

/src/footprint/ @jonunezd @Diego-Perez-Botero

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula @dannysongg

/src/aem/ @qwordy

/src/subscription/ @wilcobmsft

/src/alias/ @Juliehzl

/src/managementpartner/ @jeffrey-ace

/src/eventgrid/ @kalyanaj

/src/storage-preview/ @Juliehzl

/src/db-up/ @Juliehzl

/src/dev-spaces/ @amsoedal

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @kairu-ms @msyyc

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @kairu-ms @msyyc

/src/virtual-network-tap/ @kairu-ms @msyyc

/src/virtual-wan/ @kairu-ms @msyyc

/src/front-door/ @pichandwork

/src/interactive/ @jiasli

/src/aks-preview/ @zqingqing1 @gtracer @xizhamsft @andyliuliming

/src/vm-repair/ @swbae31

/src/netappfiles-preview/ @b-lefr

/src/healthcareapis/ @fengzhou-msft @iviark

/src/healthbot/ @guy-microsoft

/src/hack/ @geektrainer

/src/internet-analyzer/ @jsntcy

/src/spring-cloud/ @peizhou298

/src/peering/ @jsntcy

/src/connectedmachine/ @farehar

/src/ip-group/ @msyyc

/src/connectedk8s/ @akashkeshari @alphaWizard

/src/storagesync/ @jsntcy

/src/maintenance/ @gautamd-ms

/src/ai-examples/ @mirdaki

/src/notification-hub/ @fengzhou-msft

/src/connection-monitor-preview/ @msyyc

/src/support/ @mit2nil @shahbj79 @RudraSharma93Microsoft

/src/alertsmanagement/ @qwordy

/src/stream-analytics/ @houk-ms

/src/databricks/ @fengzhou-msft @xfz11

/src/powerbidedicated/ @Juliehzl @tarostok @evelyn-ys

/src/blueprint/ @fengzhou-msft

/src/storage-blob-preview/ @Juliehzl

/src/logic/ @jsntcy @msyyc @kairu

/src/hardware-security-modules/ @bquantump

/src/databox/ @jsntcy

/src/datadog/ @limingu

/src/hpc-cache/ @zhoxing-ms

/src/timeseriesinsights/ @jiasli

/src/portal/ @YalinLi0312

/src/import-export/ @xfz11

/src/account/ @jiasli @fengzhou-msft

/src/quantum/ @anpaz-msft

/src/datashare/ @fengzhou-msft

/src/ssh/ @rlrossiter @danybeam @fengzhou-msft @N6UDP

/src/k8sconfiguration/ @NarayanThiru @jonathan-innis

/src/k8s-configuration/ @NarayanThiru @jonathan-innis

/src/k8s-extension/ @NarayanThiru @jonathan-innis

/src/log-analytics-solution/ @zhoxing-ms

/src/kusto/ @ilayr @orhasban @astauben

/src/custom-providers/ @jsntcy

/src/costmanagement/ @msyyc

/src/datafactory/ @qiaozha @fengzhou-msft @qwordy

/src/blockchain/ @jsntcy

/src/codespaces/ @derekbekoe

/src/desktopvirtualization/ @changlong-liu

/src/attestation/ @YalinLi0312 @houk-ms

/src/guestconfig/ @gehuan

/src/swiftlet/ @qwordy

/src/maintenance/ @sotaneja

/src/scheduled-query/ @jsntcy

/src/cli-translator/ @houk-ms @fengzhou-msft

/src/vmware/ @fengzhou-msft @qwordy

/src/stack-hci/ @zhoxing-ms

/src/acrtransfer/ @mabenedi

/src/securityinsight/ @houk-ms

/src/communication/ @msyyc

/src/automation/ @qwordy

/src/monitor-control-service/ @jsntcy @msyyc @kairu-ms

/src/rdbms-connect/ @mjain2 @Juliehzl

/src/confluent/ @fengzhou-msft

/src/offazure/ @houk-ms

/src/resource-mover/ @houk-ms

/src/providerhub/ @wwendyc @vikashj

/src/cosmosdb-preview/ @wmengmsft @MehaKaushik @kavskalyan

/src/ad/ @evelyn-ys

/src/next/ @zhoxing-ms

/src/redisenterprise/ @greenms

/src/cloudservice/ @qwordy

/src/webpubsub/ @zackliu
