/src/account/ @jiasli @fengzhou-msft
/src/acrtransfer/ @mabenedi
/src/ad/ @evelyn-ys
/src/aem/ @qwordy
/src/ai-examples/ @mirdaki
/src/aks-preview/ @zqingqing1 @gtracer @xizhamsft @andyliuliming
/src/alertsmanagement/ @qwordy
/src/alias/ @Juliehzl
/src/application-insights/ @alexeldeib
/src/attestation/ @YalinLi0312 @houk-ms
/src/authV2/ @mkarmark
/src/automation/ @zhoxing-ms
/src/azure-firewall/ @kairu-ms @jsntcy
/src/blockchain/ @jsntcy
/src/blueprint/ @fengzhou-msft
/src/cli-translator/ @houk-ms @fengzhou-msft
/src/cloudservice/ @zhoxing-ms
/src/codespaces/ @derekbekoe
/src/communication/ @kairu-ms @jsntcy
/src/confluent/ @zhoxing-ms @jsntcy
/src/connectedk8s/ @akashkeshari @alphaWizard
/src/connectedmachine/ @farehar
/src/connectedvmware/ @sanmishra18
/src/connection-monitor-preview/ @kairu-ms @jsntcy
/src/cosmosdb-preview/ @wmengmsft @MehaKaushik @kavskalyan
/src/costmanagement/ @kairu-ms @jsntcy
/src/custom-providers/ @jsntcy
/src/databox/ @jsntcy
/src/databricks/ @fengzhou-msft @xfz11
/src/datadog/ @limingu
/src/datafactory/ @kairu-ms  @evelyn-ys @Juliehzl
/src/dataprotection/ @sambitratha
/src/datashare/ @fengzhou-msft
/src/db-up/ @Juliehzl
/src/desktopvirtualization/ @changlong-liu
/src/dev-spaces/ @amsoedal
/src/diskpool/ @Juliehzl
/src/dms-preview/ @temandr
/src/dnc/ @alegal
/src/eventgrid/ @kalyanaj
/src/express-route-cross-connection/ @kairu-ms @jsntcy
/src/footprint/ @jonunezd @Diego-Perez-Botero
/src/front-door/ @pichandwork
/src/guestconfig/ @gehuan
/src/hack/ @geektrainer
/src/hardware-security-modules/ @bquantump
/src/healthbot/ @guy-microsoft
/src/healthcareapis/ @fengzhou-msft @iviark
/src/hpc-cache/ @zhoxing-ms
/src/image-copy/ @tamirkamara
/src/import-export/ @xfz11
/src/interactive/ @jiasli
/src/internet-analyzer/ @jsntcy
/src/ip-group/ @kairu-ms @jsntcy
/src/k8s-configuration/ @NarayanThiru @jonathan-innis
/src/k8s-extension/ @NarayanThiru @jonathan-innis
/src/k8sconfiguration/ @NarayanThiru @jonathan-innis
/src/kusto/ @ilayr @orhasban @astauben
/src/log-analytics-solution/ @zhoxing-ms
/src/log-analytics/ @alexeldeib
/src/logic/ @jsntcy @kairu
/src/maintenance/ @gautamd-ms
/src/maintenance/ @sotaneja
/src/managementpartner/ @jeffrey-ace
/src/mesh/ @linggengmsft @jeffj6123
/src/mixed-reality/ @xiangyul
/src/monitor-control-service/ @jsntcy @kairu-ms
/src/netappfiles-preview/ @b-lefr
/src/next/ @zhoxing-ms
/src/notification-hub/ @fengzhou-msft
/src/offazure/ @houk-ms
/src/peering/ @jsntcy
/src/portal/ @YalinLi0312
/src/powerbidedicated/ @Juliehzl @tarostok @evelyn-ys
/src/providerhub/ @wwendyc @vikashj
/src/purview/ @kairu-ms @jsntcy
/src/quantum/ @anpaz-msft
/src/rdbms-connect/ @mjain2 @Juliehzl
/src/redisenterprise/ @greenms
/src/resource-graph/ @demyanenko @amirhbk @chiragg4u
/src/resource-mover/ @houk-ms
/src/scheduled-query/ @jsntcy
/src/securityinsight/ @houk-ms
/src/serial-console/ @adrianabedon
/src/spring-cloud/ @peizhou298
/src/ssh/ @rlrossiter @danybeam @fengzhou-msft @N6UDP
/src/stack-hci/ @zhoxing-ms
/src/storage-blob-preview/ @Juliehzl
/src/storage-preview/ @Juliehzl
/src/storagesync/ @jsntcy
/src/stream-analytics/ @houk-ms
/src/subscription/ @wilcobmsft
/src/support/ @mit2nil @shahbj79 @RudraSharma93Microsoft
/src/swiftlet/ @zhoxing-ms
/src/timeseriesinsights/ @jiasli
/src/virtual-network-tap/ @kairu-ms @jsntcy
/src/virtual-wan/ @kairu-ms @jsntcy
/src/vm-repair/ @swbae31
/src/vmware/ @Juliehzl @zhoxing-ms
/src/webapp/ @panchagnula @dannysongg
/src/webpubsub/ @zackliu
