# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @zikalino

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @qwordy

/src/subscription/ @wilcobmsft

/src/alias/ @Juliehzl

/src/managementpartner/ @jeffrey-ace

/src/privatedns/ @dijyotir

/src/eventgrid/ @kalyanaj

/src/storage-preview/ @Juliehzl

/src/db-up/ @Juliehzl

/src/dev-spaces/ @amsoedal

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @MyronFanQiu

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @MyronFanQiu

/src/virtual-network-tap/ @MyronFanQiu

/src/virtual-wan/ @MyronFanQiu

/src/express-route/ @MyronFanQiu

/src/front-door/ @pichandwork

/src/interactive/ @jiasli

/src/aks-preview/ @zqingqing1 @gtracer @xizhamsft

/src/vm-repair/ @swbae31

/src/netappfiles-preview/ @b-lefr

/src/healthcareapis/ @zikalino

/src/hack/ @geektrainer

/src/internet-analyzer/ @zikalino

/src/spring-cloud/ @peizhou298

/src/peering/ @zikalino

/src/connectedmachine/ @farehar

/src/ip-group/ @haroldrandom

/src/maintenance/ @gautamd-ms

/src/ai-examples/ @mirdaki

/src/notification-hub/ @fengzhou-msft

/src/connection-monitor-preview/ @haroldrandom

/src/support/ @mit2nil @shahbj79

/src/synapse/ @idear1203 @aim-for-better

/src/databricks/ @fengzhou-msft

/src/blueprint/ @fengzhou-msft
