interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003?$expand=instanceView&api-version=2022-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/virtualMachines/cli000003''
        under resource group ''cli_test_serialconsole000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachineScaleSets/cli000003?api-version=2022-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/virtualMachineScaleSets/cli000003''
        under resource group ''cli_test_serialconsole000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachineScaleSets/cli000003/virtualMachines/0/instanceView?api-version=2022-03-01
  response:
    body:
      string: '{"error":{"code":"ParentResourceNotFound","message":"Can not perform
        requested operation on nested resource. Parent resource ''cli000003'' not
        found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Debian\": {\n            \"publisher\":
        \"Debian\",\n            \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"opensuse-leap-15-3\",\n            \"sku\":
        \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHEL\": {\n            \"publisher\": \"RedHat\",\n
        \           \"offer\": \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"SLES\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"sles-15-sp3\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-Datacenter\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2008-R2-SP1\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"41b202f4dc5098d126019dc00721a4c5e30df0c5196794514fadc3710ee2a5cb"
      source-age:
      - '0'
      x-fastly-request-id:
      - 29db9dba783dfb6c7445f841b680c224fadff98a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2022-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus2\",\r\n    \"name\": \"18.04.202209210\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202209210\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15996,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43982
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202209210?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\":
        31,\r\n      \"sizeInBytes\": 32213303808\r\n    },\r\n    \"dataDiskImages\":
        []\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"name\": \"18.04.202209210\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202209210\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12997,Microsoft.Compute/GetVMImageFromLocation30Min;73997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "cli000003VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "cli000003Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "cli000003NSG", "apiVersion":
      "2015-06-15", "location": "westus2", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "cli000003PublicIP", "location": "westus2", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "cli000003VMNic", "location":
      "westus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/cli000003VNET",
      "Microsoft.Network/networkSecurityGroups/cli000003NSG", "Microsoft.Network/publicIpAddresses/cli000003PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigcli000003", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/virtualNetworks/cli000003VNET/subnets/cli000003Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/publicIPAddresses/cli000003PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkSecurityGroups/cli000003NSG"}}},
      {"apiVersion": "2022-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "cli000003", "location": "westus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/cli000003VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "cli000003",
      "adminUsername": "rhoover", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDGHMN+bC56N4k9+7PHmc05TzPztY3dhpwfJ04DdRilla5TuKfjeSM1Wlb0Zk6b4toZ3Ore9SBx5KXNllIIwEP1Knhux7hMUXE0anRfSdw+LIN6JzACMhbUeqYKHT89VA8piZZVFd0bjU+mnKCOzhcD7YoVInkJFfntJOZkm9ON1hogaCaU8jIqNsnNjU5deE3KM/FzF9Ewf/XEOe86NQOvERaTLyPkPQAsMFauVRZHpJ1ZTlDdcz1XDpQQbHj2CaDcc61Z4lGmiUG45FAhKGCKjacRtCHpkygfZ9mEh7OE6/4D/UekaXOO0uo4SXnjSCecU6huML9otyNmKFm9wKg9euAEBcoymAhUphyvuFWLjBwKYNBv4kxJ//mfrbE0/rAQL0blc4DTgcGTHfmb6tJygHHfajB5wlJPchuT7Hmys/0SsBnAfHfOhvIQ9+YNlt1809UyuIhxzGg0KnsuZ/fdZxenDv8Fdt6geZT6+P8t4EBBMfswxieouUmTwSevS5M=
      rhoover@LAPTOP-E23KTKIU\n", "path": "/home/rhoover/.ssh/authorized_keys"}]}}}}}],
      "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_serialconsole000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Resources/deployments/vm_deploy_73i3x914wDuuEZ8lziRsF29j0FgO2UH8","name":"vm_deploy_73i3x914wDuuEZ8lziRsF29j0FgO2UH8","type":"Microsoft.Resources/deployments","properties":{"templateHash":"12101603571349635289","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-10-12T20:26:51.2962067Z","duration":"PT0.0006403S","correlationId":"e62f1d12-5a05-4b22-9280-6af6fd39adb5","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus2"]},{"resourceType":"networkSecurityGroups","locations":["westus2"]},{"resourceType":"publicIPAddresses","locations":["westus2"]},{"resourceType":"networkInterfaces","locations":["westus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/virtualNetworks/cli000003VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"cli000003VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkSecurityGroups/cli000003NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"cli000003NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/publicIPAddresses/cli000003PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"cli000003PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cli000003VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cli000003VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"cli000003"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_serialconsole000001/providers/Microsoft.Resources/deployments/vm_deploy_73i3x914wDuuEZ8lziRsF29j0FgO2UH8/operationStatuses/08585360004759287717?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_serialconsole000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585360004759287717?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_serialconsole000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Resources/deployments/vm_deploy_73i3x914wDuuEZ8lziRsF29j0FgO2UH8","name[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003?$expand=instanceView&api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
        \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"05fdee42-1b93-4ba4-858e-2538b9266bba\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"18.04.202209210\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Linux\",\r\n        \"name\": \"cli000003_disk1_4d1517948d3043e4bca9e88f06458304\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/disks/cli000003_disk1_4d1517948d3043e4bca9e88f06458304\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"cli000003\",\r\n      \"adminUsername\": \"rhoover\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/rhoover/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDGHMN+bC56N4k9+7PHmc05TzPztY3dhpwfJ04DdRilla5TuKfjeSM1Wlb0Zk6b4toZ3Ore9SBx5KXNllIIwEP1Knhux7hMUXE0anRfSdw+LIN6JzACMhbUeqYKHT89VA8piZZVFd0bjU+mnKCOzhcD7YoVInkJFfntJOZkm9ON1hogaCaU8jIqNsnNjU5deE3KM/FzF9Ewf/XEOe86NQOvERaTLyPkPQAsMFauVRZHpJ1ZTlDdcz1XDpQQbHj2CaDcc61Z4lGmiUG45FAhKGCKjacRtCHpkygfZ9mEh7OE6/4D/UekaXOO0uo4SXnjSCecU6huML9otyNmKFm9wKg9euAEBcoymAhUphyvuFWLjBwKYNBv4kxJ//mfrbE0/rAQL0blc4DTgcGTHfmb6tJygHHfajB5wlJPchuT7Hmys/0SsBnAfHfOhvIQ9+YNlt1809UyuIhxzGg0KnsuZ/fdZxenDv8Fdt6geZT6+P8t4EBBMfswxieouUmTwSevS5M=
        rhoover@LAPTOP-E23KTKIU\\n\"\r\n            }\r\n          ]\r\n        },\r\n
        \       \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\":
        \"ImageDefault\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n
        \       \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\":
        [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
        true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"cli000003\",\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.8.0.11\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2022-10-12T20:27:22+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"cli000003_disk1_4d1517948d3043e4bca9e88f06458304\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2022-10-12T20:27:02.5411761+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2022-10-12T20:27:11.197682+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2022-10-12T20:27:00.6660753+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3986,Microsoft.Compute/LowCostGet30Min;31885
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000003VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic\",\r\n
        \ \"etag\": \"W/\\\"940e455d-8148-4a75-b27f-c90279a67b3a\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"71b33c53-36c7-4334-af34-3a370b0341db\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigcli000003\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic/ipConfigurations/ipconfigcli000003\",\r\n
        \       \"etag\": \"W/\\\"940e455d-8148-4a75-b27f-c90279a67b3a\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/publicIPAddresses/cli000003PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/virtualNetworks/cli000003VNET/subnets/cli000003Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"pm4h3a4tkcoerfze2dzdxbd4ng.xx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-22-48-78-90-4E\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkSecurityGroups/cli000003NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"westus2\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"940e455d-8148-4a75-b27f-c90279a67b3a"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/publicIPAddresses/cli000003PublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000003PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/publicIPAddresses/cli000003PublicIP\",\r\n
        \ \"etag\": \"W/\\\"1c2a1ce2-029d-4275-a255-d11fe2811b70\\\"\",\r\n  \"location\":
        \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"8870ea16-9619-42c1-ad44-a3f6cc79cb08\",\r\n
        \   \"ipAddress\": \"20.112.112.217\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Network/networkInterfaces/cli000003VMNic/ipConfigurations/ipconfigcli000003\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c2a1ce2-029d-4275-a255-d11fe2811b70"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_serialconsole000001/providers/Microsoft.Compute/virtualMachines/cli000003\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
