interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "EnterpriseFlash_F300"}, "tags":
      {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"East US\",\r\n  \"name\": \"clitest-cache31-000001\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"tag1\":
        \"value1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"EnterpriseFlash_F300\",\r\n
        \   \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\":
        \"1.2\",\r\n    \"hostName\": \"clitest-cache31-000001.eastus.redisenterprise.cache.azure.net\",\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n
        \ },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/cb4fbd87-e9dd-4ebb-a400-4c2d6ca6d8e7?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/cb4fbd87-e9dd-4ebb-a400-4c2d6ca6d8e7?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/operationsStatus/cb4fbd87-e9dd-4ebb-a400-4c2d6ca6d8e7","name":"cb4fbd87-e9dd-4ebb-a400-4c2d6ca6d8e7","status":"InProgress","startTime":"2023-05-03T15:19:59.3680992+00:00","endTime":"2023-05-03T15:19:59.7958491+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"East US\",\r\n  \"name\": \"clitest-cache31-000001\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"tag1\":
        \"value1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"EnterpriseFlash_F300\",\r\n
        \   \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\":
        \"1.2\",\r\n    \"hostName\": \"clitest-cache31-000001.eastus.redisenterprise.cache.azure.net\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n
        \   \"privateEndpointConnections\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\":
        \"None\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"clientProtocol": "Encrypted", "clusteringPolicy": "EnterpriseCluster",
      "evictionPolicy": "NoEviction", "geoReplication": {"groupNickname": "groupName",
      "linkedDatabases": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001/databases/default"}]},
      "port": 10000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001/databases/default?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001/databases/default\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n  \"properties\":
        {\r\n    \"clientProtocol\": \"Encrypted\",\r\n    \"port\": 10000,\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"clusteringPolicy\":
        \"EnterpriseCluster\",\r\n    \"evictionPolicy\": \"NoEviction\",\r\n    \"geoReplication\":
        {\r\n      \"linkedDatabases\": [\r\n        {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001/databases/default\",\r\n
        \         \"state\": \"Linking\"\r\n        }\r\n      ],\r\n      \"groupNickname\":
        \"groupName\"\r\n    }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/bb5fd100-b67c-49e4-917e-12a89e9ea7f0?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001/databases/default?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationsStatus/b288b920-eee6-4aa4-9b48-8ed36b2a7099?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/operationsStatus/b288b920-eee6-4aa4-9b48-8ed36b2a7099","name":"b288b920-eee6-4aa4-9b48-8ed36b2a7099","status":"InProgress","startTime":"2023-05-03T15:30:53.3619846+00:00","endTime":"2023-05-03T15:30:54.4713207+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ids": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-000003/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-000001/databases/default"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg32-000004/providers/Microsoft.Cache/redisEnterprise/clitest-cache32-000002/databases/default/forceUnlink?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"StatusCode\": 202\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationsStatus/e240f1e9-54f4-4ca9-9c7a-341c0259d272?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg32-000004/providers/Microsoft.Cache/redisEnterprise/clitest-cache32-000002/databases/default/operationresults/e240f1e9-54f4-4ca9-9c7a-341c0259d272?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg32-000004/providers/Microsoft.Cache/redisEnterprise/clitest-cache32-000002/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationsStatus/6e19d66c-9736-43e0-9b54-4bf57e70950f?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/operationsStatus/6e19d66c-9736-43e0-9b54-4bf57e70950f","name":"6e19d66c-9736-43e0-9b54-4bf57e70950f","status":"Succeeded","startTime":"2023-05-03T15:50:59.7173458+00:00","endTime":"2023-05-03T16:04:04.625288+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d989e7fd-f6af-418b-8126-b5fbc5384fde
    status:
      code: 200
      message: OK
version: 1
