interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_integration_account_assembly_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001","name":"cli_test_integration_account_assembly_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_integration_account_assembly","date":"2024-01-12T01:52:02Z","module":"logic"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"state": "Enabled"}, "sku": {"name":
      "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002?api-version=2019-05-01
  response:
    body:
      string: '{"properties":{"state":"Enabled"},"sku":{"name":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002","name":"inte000002","type":"Microsoft.Logic/integrationAccounts","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"assemblyName": "assembly000003",
      "content": "Base64 encoded Assembly Content", "contentType": "application/octet-stream"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002/assemblies/assembly000003?api-version=2019-05-01
  response:
    body:
      string: '{"properties":{"assemblyName":"assembly000003","assemblyVersion":"0.0.0.0","contentLink":{"uri":"https://prod-47.eastus.logic.azure.com:443/integrationAccounts/9f740d77801643c8bc554855892b00b5/assemblies/assembly000003/contents/Value?api-version=2015-08-01-preview&se=2024-01-12T05%3A52%3A10.7759794Z&sp=%2Fassemblies%2Fassembly000003%2Fread&sv=1.0&sig=wu9OzcZm9po23vMB-_vIBSeIBm8vkYnGOBxtnNc6HaQ","contentSize":21},"createdTime":"2024-01-12T01:52:10.7400385Z","changedTime":"2024-01-12T01:52:10.7400385Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002/assemblies/assembly000003","name":"assembly000003","type":"Microsoft.Logic/integrationAccounts/assemblies"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"assemblyName": "assembly000003",
      "assemblyVersion": "1.0.0.0", "changedTime": "2024-01-12T01:52:10.7412377Z",
      "contentLink": {"uri": "https://prod-47.eastus.logic.azure.com:443/integrationAccounts/9f740d77801643c8bc554855892b00b5/assemblies/assembly000003/contents/Value?api-version=2015-08-01-preview&se=2024-01-12T05%3A52%3A12.7164913Z&sp=%2Fassemblies%2Fassembly000003%2Fread&sv=1.0&sig=Vq4W2jUA7NHvYJhh4_UwqdgryoVvDrn36zW7e[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002/assemblies?api-version=2019-05-01
  response:
    body:
      string: '{"value":[{"properties":{"assemblyName":"assembly000003","assemblyVersion":"1.0.0.0","contentLink":{"uri":"https://prod-47.eastus.logic.azure.com:443/integrationAccounts/9f740d77801643c8bc554855892b00b5/assemblies/assembly000003/contents/Value?api-version=2015-08-01-preview&se=2024-01-12T05%3A52%3A16.2580201Z&sp=%2Fassemblies%2Fassembly000003%2Fread&sv=1.0&sig=HGZG1bp793iDVegAY7IOABX5dcxd5DuIj2dslTK_k4s","contentSize":21},"createdTime":"2024-01-12T01:52:10.7400385Z","changedTime":"2024-01-12T01:52:13.4644779Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002/assemblies/assembly000003","name":"assembly000003","type":"Microsoft.Logic/integrationAccounts/assemblies"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_integration_account_assembly_000001/providers/Microsoft.Logic/integrationAccounts/inte000002/assemblies/assembly000003?api-version=2019-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
