interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM?api-version=2021-05-20&$expand=instanceView
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM","name":"sdkTestVM","location":"eastus2euap","tags":{},"identity":{"type":"SystemAssigned","principalId":"89888542-ded2-49d6-a64e-f15317b0792c","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","agentVersion":"1.12.21285.002","status":"Connected","lastStatusChange":"2021-10-27T02:58:47.615613Z","errorDetails":[],"displayName":"dorothy-surface","machineFqdn":"dorothy-surface","osName":"windows","osVersion":"10.0.19043.1288","osProfile":{"computerName":"dorothy-surface"},"vmId":"c921de10-fd9d-47f0-86cd-b7e84d623e1d","vmUuid":"2883CCA3-7EE6-60E9-A204-97718B655D1D","clientPublicKey":"MIIBCgKCAQEAr96QKDsKlM7fn3gNYxNdelHLYEesEebJs8kUiJ5dPioP0Te5G33ib9ELuBN2FAAcHH90AYxqALHvzI/KBikhWQ916Xm9+JwMQs55ZA1tEquFfpHMfhntnWOxNVuogGu7IXuQ/w5S8lUpJGmSfsfUcDeEogI4mpnME00v32wMT6sG5S8khZ2L3kaXCoFiDFoZEAoRn/NCkmze7koUN+ffkTNkgMiGEQFMOO1RTXYfD1TFwcCJvv4BBV0bMX/oRIhamgNzmxgrTTDuQek82P+EVWSXm/7WMEFA3SykmCmfqMVqwWmdm61IVyC74P5lp2HhFMi6g0oxoPF4FUwUqM1nqQIDAQAB","osSku":"Windows
        10 Enterprise","domainName":"redmond.corp.microsoft.com","adFqdn":"dorothy-surface.redmond.corp.microsoft.com","dnsFqdn":"redmond.corp.microsoft.com.dorothy-surface","detectedProperties":{"cloudprovider":"N/A","manufacturer":"Microsoft
        Corporation","model":"Surface Book 2","mssqldiscovered":"true"}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines?api-version=2021-05-20
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/dorothylinux2-Virtual-Machine","name":"dorothylinux2-Virtual-Machine","location":"eastus2euap","tags":{},"identity":{"type":"SystemAssigned","principalId":"5ce02094-bd55-44ba-b1e4-2d56b6a6ba69","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","agentVersion":"1.7.21162.005","statu[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"publisher": "Microsoft.Compute",
      "type": "CustomScriptExtension", "typeHandlerVersion": "1.10.10", "enableAutomaticUpgrade":
      true, "settings": {"commandToExecute": "powershell.exe -c \"Get-Process | Where-Object
      {{ $_.CPU -gt 10000 }}\""}, "instanceView": {"name": "CustomScriptExtension"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension?api-version=2021-05-20
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/ef35a372-f75d-45e9-879f-2b9d078ac731?api-version=2021-05-20
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/ef35a372-f75d-45e9-879f-2b9d078ac731?api-version=2021-05-20
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '31'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/ef35a372-f75d-45e9-879f-2b9d078ac731?api-version=2021-05-20
  response:
    body:
      string: '{"name":"ef35a372-f75d-45e9-879f-2b9d078ac731","status":"Succeeded","startTime":"2021-10-27T02:59:38.3382463Z","properties":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension","name":"CustomScriptExtension","location":"eastus2euap","type":"Microsoft.HybridCompute/machines/extensions","properties":{"publisher":"Microsoft.Compute","type":"CustomScriptExtension","typeHandlerVersion":"1.10.10","autoUpgradeMinorVersion":false,"enableAutomaticUpgrade":true,"settings":{"commandToExecute":"powershell.exe
        -c \"Get-Process | Where-Object {{ $_.CPU -gt 10000 }}\""},"provisioningState":"Succeeded","instanceView":{"name":"CustomScriptExtension","type":"CustomScriptExtension","typeHandlerVersion":"1.10.10","status":{"code":"success","level":"Information","message":"Extension
        Message: Command execution finished, StdOut: 84      42368   4,653.03      4   0
        System                                                       \r\n    767      35    28232      52812       1.80   9792   1
        SystemSettings                                               \r\n    412      22    12024      24476     952.66  14276   1
        TabTip                                                       \r\n    331      34     8944      18736      15.13   6648   1
        taskhostw                 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions?api-version=2021-05-20
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension","name":"CustomScriptEx[...]
[...]
- request:
    body: '{"extensionTargets": {"Microsoft.Compute.CustomScriptExtension": {"targetVersion":
      "1.10.12"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/upgradeExtensions?api-version=2021-05-20
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/3b0fe23e-bdfe-4dc7-8913-2c7a2575754b?api-version=2021-05-20
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/3b0fe23e-bdfe-4dc7-8913-2c7a2575754b?api-version=2021-05-20
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/3b0fe23e-bdfe-4dc7-8913-2c7a2575754b?api-version=2021-05-20
  response:
    body:
      string: '[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension","name":"Cust[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM?api-version=2021-05-20
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
