interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM?api-version=2021-05-20&$expand=instanceView
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM","name":"sdkTestVM","location":"eastus2euap","tags":{},"identity":{"type":"SystemAssigned","principalId":"48360e91-d9d0-4775-a495-2153be15e6d7","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","agentVersion":"1.9.21208.007","status":"Connected","lastStatusChange":"2021-08-06T05:02:26.1645443Z","errorDetails":[],"displayName":"DorothyWinVM","machineFqdn":"DorothyWinVM","osName":"windows","osVersion":"10.0.18363.1679","osProfile":{"computerName":"DorothyWinVM"},"vmId":"6da4f06d-5c23-479e-b03f-2324ac13d20a","vmUuid":"FF6B044A-FE11-40F7-9D6A-AFA7F98852F5","clientPublicKey":"MIIBCgKCAQEAmpl2RBojJk8nQ5QTN10aBmTynRt4STHyRxLQorQrw38+4XJZIEh0E6TPHMdxgKvH5TPhPXK8YeZZz41g9f81z6UpzObv5tmL/MAMGFfYPFINvWlG7Io5KOQSewJWfSj8RYM1Z1IXSrhe7qAhaiBpIpOTBzWTQtcfFwkYRpogtmD+sS2LV+QSMyfHx61dgfTOnFVTIF0Q5SAdd2heREUVfvBe04iksA3nYz4TUXxJMUZ9e1QK2LNX7O6VXDnqUmfgYJAToqRy5S70KeohA+NG2TLwmXIjks4/ItHADQe0OVq43L4R63ovanytVG8S2tOK+OayaV3IbtsveIYENStZ4wIDAQAB","osSku":"Windows
        10 Enterprise Evaluation","domainName":"WORKGROUP","adFqdn":"DorothyWinVM","dnsFqdn":"DorothyWinVM","detectedProperties":{"cloudprovider":"N/A","manufacturer":"Microsoft
        Corporation","model":"Virtual Machine","mssqldiscovered":"false"}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines?api-version=2021-05-20
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/dorothy-surface2","name":"dorothy-surface2","location":"eastus","tags":{},"identity":{"type":"SystemAssigned","principalId":"b6beae53-faf5-4966-8038-2366eb663c45","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","agentVersion":"1.9.21208.007","status":"Connected","lastStatusChang[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"publisher": "Microsoft.Compute",
      "type": "CustomScriptExtension", "typeHandlerVersion": "1.10.10", "settings":
      {"commandToExecute": "powershell.exe -c \"Get-Process | Where-Object {{ $_.CPU
      -gt 10000 }}\""}, "instanceView": {"name": "CustomScriptExtension"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension?api-version=2021-05-20
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/a638993c-b439-4b1d-8afb-c16639f8306c?api-version=2021-05-20
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/a638993c-b439-4b1d-8afb-c16639f8306c?api-version=2021-05-20
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '31'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/a638993c-b439-4b1d-8afb-c16639f8306c?api-version=2021-05-20
  response:
    body:
      string: '{"name":"a638993c-b439-4b1d-8afb-c16639f8306c","status":"InProgress","startTime":"2021-08-06T05:07:53.3919742Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/a638993c-b439-4b1d-8afb-c16639f8306c?api-version=2021-05-20
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/a638993c-b439-4b1d-8afb-c16639f8306c?api-version=2021-05-20
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/a638993c-b439-4b1d-8afb-c16639f8306c?api-version=2021-05-20
  response:
    body:
      string: '{"name":"a638993c-b439-4b1d-8afb-c16639f8306c","status":"Succeeded","startTime":"2021-08-06T05:07:53.3919742Z","properties":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension","name":"CustomScriptExtension","location":"eastus2euap","type":"Microsoft.HybridCompute/machines/extensions","properties":{"publisher":"Microsoft.Compute","type":"CustomScriptExtension","typeHandlerVersion":"1.10.10","autoUpgradeMinorVersion":false,"enableAutomaticUpgrade":false,"settings":{"commandToExecute":"powershell.exe
        -c \"Get-Process | Where-Object {{ $_.CPU -gt 10000 }}\""},"provisioningState":"Succeeded","instanceView":{"name":"CustomScriptExtension","type":"CustomScriptExtension","typeHandlerVersion":"1.10.10","status":{"code":"success","level":"Information","message":"Extension
        Message: Command execution finished, StdOut: 52      36116       3.78   1400   0
        svchost                                                      \r\n    278      14     3100       9348       0.63   1528   0
        svchost                                                      \r\n    889      38     8708      22564       6.83   1756   0
        svchost                                                      \r\n    225      12     2316      10756       0.22   1864   0
        svchost                   [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions?api-version=2021-05-20
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension","name":"CustomScriptEx[...]
[...]
- request:
    body: '{"extensionTargets": {"Microsoft.Compute.CustomScriptExtension": {"targetVersion":
      "1.10.12"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/upgradeExtensions?api-version=2021-05-20
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/62d620ab-ea86-4eb8-b788-264ff1d249a7?api-version=2021-05-20
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/62d620ab-ea86-4eb8-b788-264ff1d249a7?api-version=2021-05-20
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationresults/62d620ab-ea86-4eb8-b788-264ff1d249a7?api-version=2021-05-20
  response:
    body:
      string: '[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM/extensions/CustomScriptExtension","name":"Cust[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/sdkTestVM?api-version=2021-05-20
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
