# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
from typing import Any, Callable, Dict, Optional, TypeVar
========
from typing import Any, Callable, Optional, TypeVar
import urllib.parse
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models as _models
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
from .._configuration import ApplicationInsightsManagementClientConfiguration
from .._utils.serialization import Deserializer, Serializer

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]
========
from .._configuration import ContainerServiceClientConfiguration
from .._utils.serialization import Deserializer, Serializer

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, dict[str, Any]], Any]]
List = list
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_list_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2021-03-08"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.Insights/operations")
========
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2025-10-01"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.ContainerService/operations")
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class Operations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
        :class:`~azure.mgmt.applicationinsights.ApplicationInsightsManagementClient`'s
========
        :class:`~azure.mgmt.containerservice.ContainerServiceClient`'s
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py
        :attr:`operations` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs) -> None:
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
        self._config: ApplicationInsightsManagementClientConfiguration = (
            input_args.pop(0) if input_args else kwargs.pop("config")
        )
========
        self._config: ContainerServiceClientConfiguration = input_args.pop(0) if input_args else kwargs.pop("config")
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @distributed_trace
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
    def list(self, **kwargs: Any) -> ItemPaged["_models.Operation"]:
        """Lists all of the available insights REST API operations.

        :return: An iterator like instance of either Operation or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~azure.mgmt.applicationinsights.models.Operation]
========
    def list(self, **kwargs: Any) -> ItemPaged["_models.OperationValue"]:
        """Gets a list of operations.

        Gets a list of operations.

        :return: An iterator like instance of either OperationValue or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~azure.mgmt.containerservice.models.OperationValue]
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
        api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2021-03-08"))
========
        api_version: str = kwargs.pop("api_version", _params.pop("api-version", self._config.api_version))
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py
        cls: ClsType[_models.OperationListResult] = kwargs.pop("cls", None)

        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        def prepare_request(next_link=None):
            if not next_link:

                _request = build_list_request(
                    api_version=api_version,
                    headers=_headers,
                    params=_params,
                )
                _request.url = self._client.format_url(_request.url)

            else:
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
                _request = HttpRequest("GET", next_link)
========
                # make call to next link with the client's api-version
                _parsed_next_link = urllib.parse.urlparse(next_link)
                _next_request_params = case_insensitive_dict(
                    {
                        key: [urllib.parse.quote(v) for v in value]
                        for key, value in urllib.parse.parse_qs(_parsed_next_link.query).items()
                    }
                )
                _next_request_params["api-version"] = self._config.api_version
                _request = HttpRequest(
                    "GET", urllib.parse.urljoin(next_link, _parsed_next_link.path), params=_next_request_params
                )
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py
                _request.url = self._client.format_url(_request.url)
                _request.method = "GET"
            return _request

        def extract_data(pipeline_response):
            deserialized = self._deserialize("OperationListResult", pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)  # type: ignore
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
            return deserialized.next_link or None, iter(list_of_elem)
========
            return None, iter(list_of_elem)
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py

        def get_next(next_link=None):
            _request = prepare_request(next_link)

            _stream = False
            pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
                _request, stream=_stream, **kwargs
            )
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
<<<<<<<< HEAD:src/spring/azext_spring/vendored_sdks/applicationinsights/operations/_operations.py
                error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
========
                error = self._deserialize.failsafe_deserialize(
                    _models.ErrorResponse,
                    pipeline_response,
                )
>>>>>>>> upstream/main:src/aks-agent/azext_aks_agent/vendored_sdks/azure_mgmt_containerservice/2025_10_01/operations/_operations.py
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(get_next, extract_data)
