interactions:
- request:
    body: '{"tenantId": "d99f94f0-719f-4528-a9b1-cba806ef4124"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Dynatrace.Observability/getMarketplaceSaaSResourceDetails?api-version=2024-04-24
  response:
    body:
      string: '{"marketplaceSaaSResourceId": "e6b57923-8588-4e61-d5dd-5e13e9d6730f",
        "marketplaceSaaSResourceName": "svee-test-jun-28", "planId": "azureportalintegration_privatepreview",
        "marketplaceSubscriptionStatus": "Subscribed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 8361cb09-f948-41c9-a692-b739ec8c2ddc
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
