interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dynatrace_monitor000001?api-version=2021-04-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001",
        "name": "cli_test_dynatrace_monitor000001", "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap", "tags": {"product": "azurecli", "cause": "automation",
        "date": "2022-08-26T02:43:15Z"}, "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"dynatraceEnvironmentProperties":
      {"singleSignOnProperties": {"aadDomains": ["abc"]}}, "planData": {"billingCycle":
      "Monthly", "effectiveDate": "2022-08-19T16:00:00.000Z", "planDetails": "azureportalintegration_privatepreview@TIDhjdtn7tfnxcy",
      "usageType": "committed"}, "userInfo": {"country": "US", "emailAddress": "agarwald@microsoft.com",
      "firstName": "Alice", "lastName": "Bobab", "phoneNumber": "1234567890"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002",
        "name": "monitor000002", "type": "dynatrace.observability/monitors", "location":
        "eastus2euap", "systemData": {"createdBy": "v-jingszhang@microsoft.com", "createdByType":
        "User", "createdAt": "2022-08-26T02:43:24.4487558Z", "lastModifiedBy": "v-jingszhang@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-08-26T02:43:24.4487558Z"},
        "properties": {"monitoringStatus": "Enabled", "marketplaceSubscriptionStatus":
        "Active", "dynatraceEnvironmentProperties": {"userId": null, "accountInfo":
        null, "environmentInfo": null, "singleSignOnProperties": {"singleSignOnState":
        "Initial", "enterpriseAppId": null, "singleSignOnUrl": null, "aadDomains":
        ["abc"], "provisioningState": "Accepted"}}, "userInfo": null, "planData":
        {"usageType": "committed", "billingCycle": "Monthly", "planDetails": "azureportalintegration_privatepreview@TIDhjdtn7tfnxcy",
        "effectiveDate": "2022-08-19T16:00:00Z"}, "liftrResourceCategory": "MonitorLogs",
        "liftrResourcePreference": 0, "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F?api-version=2021-09-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"dc01d40b-0000-0300-0000-630833510000"'
      location:
      - https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F?api-version=2021-09-01-preview
      mise-correlation-id:
      - 1b8fc74a-165a-4ce7-9416-0e38cfc6090d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id": "/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F",
        "name": "a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002",
        "status": "Accepted", "startTime": "2022-08-26T02:43:29.6819798Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4200a0c3-0000-0300-0000-630833510000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id": "/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F",
        "name": "a623f9e3-dcbe-4658-879a-aebd8e95a839*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002",
        "status": "Succeeded", "startTime": "2022-08-26T02:43:29.6819798Z", "endTime":
        "2022-08-26T02:44:15.8338514Z", "error": {}, "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"420089c4-0000-0300-0000-6308337f0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002",
        "name": "monitor000002", "type": "dynatrace.observability/monitors", "location":
        "eastus2euap", "systemData": {"createdBy": "v-jingszhang@microsoft.com", "createdByType":
        "User", "createdAt": "2022-08-26T02:43:24.4487558Z", "lastModifiedBy": "v-jingszhang@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-08-26T02:43:24.4487558Z"},
        "properties": {"monitoringStatus": "Enabled", "marketplaceSubscriptionStatus":
        "Active", "dynatraceEnvironmentProperties": {"userId": "365ae911-8d26-4d05-a026-c3c1125ef2fc",
        "accountInfo": {"accountId": "df877719-854b-4025-8dd7-29d4bf29c23e", "regionId":
        "eastus"}, "environmentInfo": {"environmentId": "noe65684", "logsIngestionEndpoint":
        "https://noe65684.sprint.dynatracelabs.com/api/v2/logs/ingest", "landingURL":
        "https://noe65684.sprint.dynatracelabs.com/"}, "singleSignOnProperties": {"singleSignOnState":
        "Initial", "aadDomains": ["abc"], "provisioningState": "Accepted"}}, "userInfo":
        {"firstName": "Alice", "lastName": "Bobab", "emailAddress": "agarwald@microsoft.com",
        "phoneNumber": "1234567890", "country": "US"}, "planData": {"usageType": "committed",
        "billingCycle": "Monthly", "planDetails": "azureportalintegration_privatepreview@TIDhjdtn7tfnxcy",
        "effectiveDate": "2022-08-19T16:00:00Z"}, "liftrResourceCategory": "MonitorLogs",
        "liftrResourcePreference": 0, "provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"dc01db0b-0000-0300-0000-6308337f0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"env": "dev"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/m[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors?api-version=2021-09-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002",
        "name": "monitor000002", "type": "dynatrace.observability/monitors", "location":
        "eastus2euap", "tags": {"env": "dev"}, "systemData": {"createdBy": "v-jingszhang@microsoft.com",
        "createdByType": "User", "createdAt": "2022-08-26T02:43:24.4487558Z", "lastModifiedBy":
        "v-jingszhang@microsoft.com", "la[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002/listAppServices?api-version=2021-09-01-preview
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0e35c40e-dcea-4327-b024-6a2a35df6618
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002/listHosts?api-version=2021-09-01-preview
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4de80375-23e0-437a-a663-65765a352f22
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002/listMonitoredResources?api-version=2021-09-01-preview
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e168a166-005c-461d-b25f-941ef69ec8e7
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002/getVMHostPayload?api-version=2021-09-01-preview
  response:
    body:
      string: '{"ingestionKey": "aW5nZXN0aW9uS2V5IGNvbnRlbnQgcmVwbGFjZWQgYnkgRXhwcmVzc1JvdXRlUG9ydExPQUNvbnRlbnRSZXBsYWNlcg==",
        "environmentId": "noe65684"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 1f6b81e9-cf82-4aba-a283-0f67c2a73dad
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/97fe6d33-3ffb-44c0-993a-ff203d70ddaf*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id": "/providers/Dynatrace.Observability/locations/EASTUS2EUAP/operationStatuses/97fe6d33-3ffb-44c0-993a-ff203d70ddaf*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F",
        "name": "97fe6d33-3ffb-44c0-993a-ff203d70ddaf*69969D3959B1CEB699D536528C6E398F3FF30CC3C917D9BF41E7F82A4670CF2F",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002",
        "status": "Succeeded", "startTime": "2022-08-26T02:44:53.8158816Z", "endTime":
        "2022-08-26T02:45:58.3144989Z", "error": {}, "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4200f1c9-0000-0300-0000-630833e60000"'
    status:
      code: 200
      message: OK
version: 1
