# Set default behavior to automatically normalize line endings
* text=auto

# Force bash scripts to use LF
*.sh text eol=lf

# Force batch scripts to use CRLF
*.bat text eol=crlf

src/vmware/azext_vmware/tests/latest/recordings/*.yaml linguist-generated=true
