interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/test_workspace?api-version=2025-08-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/test_workspace","name":"test_workspace","type":"microsoft.iotfirmwaredefense/workspaces","location":"eastus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-12T04:48:30.9571007Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-12T18:43:53.0142779Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6c00cd9e-0000-0100-0000-68c469e90000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces?api-version=2025-08-02
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/default","name":"default","type":"microsoft.iotfirmwaredefense/workspaces","location":"East
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2023-05-16T17:30:30.3783022Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-12T18:10:34.6559775Z"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/Dona_Velma","name":"Dona_Velma","type":"microsoft.iotfirmwaredefense/workspaces","sku":{"name":"A0","tier":"Free","capacity":0},"location":"East
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-04-24T19:20:24.3834581Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-24T19:20:24.3834581Z"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/mytoul-workspace","name":"mytoul-workspace","type":"m[...]
