interactions:
- request:
    body: '{"properties": {"description": "description", "fileName": "file_name",
      "fileSize": 1, "model": "model_name", "status": "Ready", "vendor": "vendor_name",
      "version": "version_name"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/6da8e809-d382-269b-8b82-ac62993fb781?api-version=2025-08-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/6da8e809-d382-269b-8b82-ac62993fb781","name":"6da8e809-d382-269b-8b82-ac62993fb781","type":"microsoft.iotfirmwaredefense/workspaces/firmwares","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-12T04:58:47.3547905Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-12T19:41:38.5189088Z"},"properties":{"provisioningState":"Succeeded","description":"description","fileName":"file_name","fileSize":1,"model":"model_name","status":"Ready","vendor":"vendor_name","version":"version_name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"48003c5c-0000-0100-0000-68c477730000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares?api-version=2025-08-02
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/7e8899c0-6093-e468-a197-9d70bf79c482","name":"7e8899c0-6093-e468-a197-9d70bf79c482","type":"microsoft.iotfirmwaredefense/workspaces/firmwares","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-11T22:19:10.7209012Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-[...]
