interactions:
- request:
    body: '{"format": "link", "specification": {"name": "openapi", "version": "3.0.2"},
      "value": "https://petstore3.swagger.io/api/v3/openapi.json"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/clitest000003/versions/clitest000004/definitions/clitest000005/importSpecification?api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/clitest000003/versions/clitest000004/definitions/clitest000005/operationResults/66533e7d57f34e3298008c663b3cfdca?api-version=2024-03-01&t=638542009641380576&c=MIIHpTCCBo2gAwIBAgITOgMPIyvO-SSNo3JCxQAEAw8jKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/clitest000003/versions/clitest000004/definitions/clitest000005/operationResults/66533e7d57f34e3298008c663b3cfdca?api-version=2024-03-01&t=638542009641380576&c=MIIHpTCCBo2gAwIBAgITOgMPIyvO-SSNo3JCxQAEAw8jKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/clitest000003/versions/clitest000004/definitions/clitest000005/operationResults/66533e7d57f34e3298008c663b3cfdca?api-version=2024-03-01&t=638542009654642968&c=MIIHpTCCBo2gAwIBAgITOgMPIyvO-SSNo3JCxQAEAw8jKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/clitest000003/versions/clitest000004/definitions/clitest000005/exportSpecification?api-version=2024-03-01
  response:
    body:
      string: '{"format":"inline","value":"{\"openapi\":\"3.0.2\",\"info\":{\"title\":\"Swagger
        Petstore - OpenAPI 3.0\",\"description\":\"This is a sample Pet Store Server
        based on the OpenAPI 3.0 specification.  You can find out more about\\nSwagger
        at [http://swagger.io](http://swagger.io). In the third iteration of the pet
        store, we''ve switched to the design first approach!\\nYou can now help us
        improve the API whether it''s by making changes to the definition itself or
        to the code.\\nThat way, with time, we can improve the API in general, and
        expose some of the new features in OAS3.\\n\\nSome useful links:\\n- [The
        Pet Store repository](https://github.com/swagger-api/swagger-petstore)\\n-
        [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)\",\"termsOfService\":\"http://swagger.io/terms/\",\"contact\":{\"email\":\"apiteam@swagger.io\"},\"license\":{\"name\":\"Apache
        2.0\",\"url\":\"http://www.apache.org/licenses/LICENSE-2.0.html\"},\"version\":\"1.0.19\"},\"externalDocs\":{\"description\":\"Find
        out more about Swagger\",\"url\":\"http://swagger.io\"},\"servers\":[{\"url\":\"/api/v3\"}],\"tags\":[{\"name\":\"pet\",\"description\":\"Everything
        about your Pets\",\"externalDocs\":{\"description\":\"Find out more\",\"url\":\"http://swagger.io\"}},{\"name\":\"store\",\"description\":\"Access
        to Petstore orders\",\"externalDocs\":{\"description\":\"Find out more about
        our store\",\"url\":\"http://swagger.io\"}},{\"name\":\"user\",\"description\":\"Operations
        about user\"}],\"paths\":{\"/pet\":{\"put\":{\"tags\":[\"pet\"],\"summary\":\"Update
        an existing pet\",\"description\":\"Update an existing pet by Id\",\"operationId\":\"updatePet\",\"requestBody\":{\"description\":\"Update
        an existent pet in the store\",\"content\":{\"application/json\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}},\"application/xml\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}},\"application/x-www-form-urlencoded\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}}},\"required\":true},\"responses\":{\"200\":{\"description\":\"Successful
        operation\",\"content\":{\"application/xml\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}},\"application/json\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}}}},\"400\":{\"description\":\"Invalid
        ID supplied\"},\"404\":{\"description\":\"Pet not found\"},\"405\":{\"description\":\"Validation
        exception\"}},\"security\":[{\"petstore_auth\":[\"write:pets\",\"read:pets\"]}]},\"post\":{\"tags\":[\"pet\"],\"summary\":\"Add
        a new pet to the store\",\"description\":\"Add a new pet to the store\",\"operationId\":\"addPet\",\"requestBody\":{\"description\":\"Create
        a new pet in the store\",\"content\":{\"application/json\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}},\"application/xml\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}},\"application/x-www-form-urlencoded\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}}},\"required\":true},\"responses\":{\"200\":{\"description\":\"Successful
        operation\",\"content\":{\"application/xml\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}},\"application/json\":{\"schema\":{\"$ref\":\"#/components/schemas/Pet\"}}}},\"405\":{\"description\":\"Invalid
        input\"}},\"security\":[{\"petstore_auth\":[\"write:pets\",\"read:pets\"]}]}},\"/pet/findByStatus\":{\"get\":{\"tags\":[\"pet\"],\"summary\":\"Finds
        Pets by status\",\"description\":\"Multiple status values can be provided
        with comma separated strings\",\"operationId\":\"findPetsByStatus\",\"parameters\":[{\"name\":\"status\",\"in\":\"query\",\"description\":\"Status
        values that need to be considered for filter\",\"required\":false,\"explode\":true,\"schema\":{\"type\":\"string\",\"default\":\"available\",\"enum\":[\"available\",\"pending\",\"sold\"]}}],\"responses\":{\"200\":{\"description\":\"successful
        operation\",\"content\":{\"application/xml\":{\"schema\":{\"type\":\"array\",\"items\":{\"$ref\":\"#/components/schemas/Pet\"}}},\"application/json\":{\"schema\":{\"type\":\"array\",\"items\":{\"$ref\":\"#/components/schemas/Pet\"}}}}},\"400\":{\"description\":\"Invalid
        status value\"}},\"security\":[{\"petstore_auth\":[\"write:pets\",\"read:pets\"]}]}},\"/pet/findByTags\":{\"get\":{\"tags\":[\"pet\"],\"summary\":\"Finds
        Pets by tags\",\"description\":\"Multiple tags can be provided with comma
        separated strings. Use tag1, tag2, tag3 for testing.\",\"operati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://petstore3.swagger.io/api/v3/openapi.json
  response:
    body:
      string: '{"openapi":"3.0.2","info":{"title":"Swagger Petstore - OpenAPI 3.0","description":"This
        is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You
        can find out more about\nSwagger at [http://swagger.io](http://swagger.io).
        In the third iteration of the pet store, we''ve switched to the design first
        approach!\nYou can now help us improve the API whether it''s by making changes
        to the definition itself or to the code.\nThat way, with time, we can improve
        the API in general, and expose some of the new features in OAS3.\n\nSome useful
        links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n-
        [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)","termsOfService":"http://swagger.io/terms/","contact":{"email":"apiteam@swagger.io"},"license":{"name":"Apache
        2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0.19"},"externalDocs":{"description":"Find
        out more about Swagger",[...]
