interactions:
- request:
    body: '{"format": "inline", "specification": {"name": "openapi", "version": "3.0.0"},
      "value": "{\"openapi\":\"3.0.1\",\"info\":{\"title\":\"httpbin.org\",\"description\":\"API
      Management facade for a very handy and free online HTTP tool.\",\"version\":\"1.0\"}}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/clitest000003/versions/clitest000004/definitions/clitest000005/importSpecification?api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
version: 1
