interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000004?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/workspaces/environments","properties":{"title":"test
        environment","kind":"testing","customProperties":{}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000004","name":"clitest000004","systemData":{"createdAt":"2024-10-09T08:19:16.7496868Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3400e1fc-0000-0100-0000-67063c840000
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"customProperties": {"clitest000003": true}, "description":
      "environment description", "kind": "testing", "onboarding": {"developerPortalUri":
      ["https://developer.contoso.com"], "instructions": "instructions markdown"},
      "server": {"managementPortalUri": ["example.com"], "type": "Azure API Management"},
      "title": "test environment 2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000004?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/workspaces/environments","properties":{"title":"test
        environment 2","kind":"testing","description":"environment description","server":{"type":"Azure
        API Management","managementPortalUri":["example.com"]},"onboarding":{"instructions":"instructions
        markdown","developerPortalUri":["https://developer.contoso.com"]},"customProperties":{"clitest000003":true}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000004","name":"clitest000004","systemData":{"lastModifiedAt":"2024-10-09T08:19:19.2341917Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3400f1fc-0000-0100-0000-67063c870000
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
version: 1
