interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/api-center-test?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/api-center-test","name":"api-center-test","type":"Microsoft.Resources/resourceGroups","location":"centralus","tags":{},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"authentication": {"clientId":
      "91247fa2-f214-439f-ae71-512bc75d60db", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
      "isPublished": false, "title": "ContosoEUAP"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/api-center-test/providers/Microsoft.ApiCenter/services/contosoeuap/portals/default?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/portals","properties":{"portalDefaultHostName":"contosoeuap.portal.centraluseuap.azure-apicenter.ms","dataApiHostName":"contosoeuap.data.centraluseuap.azure-apicenter.ms","title":"ContosoEUAP","authentication":{"clientId":"91247fa2-f214-439f-ae71-512bc75d60db","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"enabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/api-center-test/providers/Microsoft.ApiCenter/services/contosoeuap/portals/default","name":"default","systemData":{"createdAt":"2024-01-24T21:40:14.3573244Z","lastModifiedAt":"2024-01-24T21:42:39.6044509Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00004a25-0000-3300-0000-65b1844f0000
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/api-center-test/providers/Microsoft.ApiCenter/services/contosoeuap/portals/default?api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
version: 1
