interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clirg000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001","name":"clirg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_create_service","date":"2025-06-11T05:51:43Z","module":"apic-extension"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/cli000002?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The subscription
        is not registered to use namespace ''Microsoft.ApiCenter''. See https://aka.ms/rps-not-found
        for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.ApiCenter","message":"The
        subscription is not registered to use namespace ''Microsoft.ApiCenter''. See
        https://aka.ms/rps-not-found for how to register subscriptions."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiCenter/register?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiCenter","namespace":"Microsoft.ApiCenter","authorizations":[{"applicationId":"a45c1cb0-6899-445e-8961-29576781c228","roleDefinitionId":"eb535636-6f68-45ec-903f-506493b326c2"},{"applicationId":"c3ca1a77-7a87-4dba-b8f8-eea115ae4573","roleDefinitionId":"eb535636-6f68-45ec-903f-506493b326c2"}],"resourceTypes":[{"resourceType":"services","locations":["East
        US","West Europe","UK South","Central India","Australia East","France Central","Sweden
        Central","Canada Central","Central US EUAP"],"apiVersions":["2024-06-01-preview","2024-03-15-preview","2024-03-01","2023-07-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"},{"resourceType":"operations","locations":["East
        US","Central US EUAP"],"apiVersions":["2024-06-01-preview","2024-03-15-preview","2024-03-01","2023-07-01-preview"]},{"resourceType":"deletedServices","locations":["East
        US","West Europe","UK South","Central India","Australia East","France Central","Sweden
        Central","Canada Central","Central US EUAP"],"apiVersions":["2024-06-01-preview","2024-03-15-preview"]},{"resourceType":"services/eventGridFilters","locations":["East
        US","West Europe","UK South","Central India","Australia East","France Central","Sweden
        Central","Canada Central","Central US EUAP"],"apiVersions":["2024-06-01-preview","2024-03-15-preview","2024-03-01","2023-07-01-preview"]}],"registrationState":"Registering"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiCenter?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiCenter","namespace":"Microsoft.ApiCenter","authorizations":[{"applicationId":"a45c1cb0-6899-445e-8961-29576781c228","roleDefinitionId":"eb535636-6f68-45ec-903f-506493b326c2"},{"applica[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/cli000002?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services","location":"eastus","sku":{"name":"Free"},"properties":{"portalHostname":"cli000002.portal.eastus.azure-apicenter.ms","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/cli000002","name":"cli000002","tags":{},"systemData":{"createdAt":"2025-06-11T05:53:16.0092843Z","lastModifiedAt":"2025-06-11T05:53:16.0092621Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
version: 1
