interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dalSUK/providers/PureStorage.Block/storagePools/testpooltag_2/getHealthStatus?api-version=2024-11-01-preview
  response:
    body:
      string: '{"health":{"usedCapacityPercentage":0.0,"bandwidthUsage":{"current":0.0,"provisioned":838860800.0,"max":2147483648.0},"iopsUsage":{"current":0.0,"provisioned":50000.0,"max":150000.0},"space":{"totalUsed":344711168,"unique":0,"snapshots":0,"shared":344711168},"dataReductionRatio":1.0,"estimatedMaxCapacity":0},"alerts":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f04cfff9-ce4b-4006-9894-6eee91dfbcc7
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
version: 1
