interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/storagePools/deepak-sp-01?api-version=2024-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/storagePools/deepak-sp-01","name":"deepak-sp-01","type":"purestorage.block/storagepools","location":"East
        US 2 EUAP","tags":{"project":"alpha","env":"test"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-05-05T07:04:14.2945985Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-05T07:04:14.2945985Z"},"identity":{"principalId":"b09a9dd6-ae17-4634-86ae-65c4b0a00449","tenantId":"888d76fa-54b2-4ced-8ee5-aac1585adee7","type":"SystemAssigned"},"properties":{"storagePoolInternalId":"1fb5f324-540d-4e07-8496-d11d10002250","availabilityZone":"1","vnetInjection":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/Microsoft.Network/virtualNetworks/ritikavnet/subnets/ritikasubnet","vnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/Microsoft.Network/virtualNetworks/ritikavnet"},"dataRetentionPeriod":259200,"provisionedBandwidthMbPerSec":992,"provisionedIops":65384,"avs":{"avsEnabled":false,"sddcResourceId":""},"provisioningState":"Failed","reservationResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/reservations/tempReservation2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"150067d8-0000-3300-0000-683812370000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/PureStorage.Block/storagePools?api-version=2024-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/storagePools/cliTestStoragePool","name":"cliTestStoragePool","type":"purestorage.block/storagepools","location":"centralus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-09T12:19:19.325741Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-09T12:19:19.325741Z"},"identity":{"principalId":"24506c88-6a32-49de[...]
