interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/reservations/cliTestReservation/getResourceLimits?api-version=2024-11-01-preview
  response:
    body:
      string: '{"storagePool":{"provisionedBandwidthMbPerSec":{"min":800,"max":2048},"provisionedIops":{"min":50000,"max":150000},"physicalAvailabilityZones":["centralus-az3","centralus-az2","centralus-az1"]},"volume":{"provisionedSize":{"min":1048576,"max":54975581388800}},"protectionPolicy":{"frequency":{"min":300,"max":34560000},"retention":{"min":60,"max":34560000}},"performancePolicy":{"iopsLimit":{"min":100,"max":100000000},"bandwidthLimit":{"min":1048576,"max":549755813888}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3661e5c0-2204-4bde-ad3b-12d016078258
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
version: 1
