interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.3
    method: GET
    uri: https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Ff686d426-8d16-42db-81b7-ab578e110ccd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"delegatedManagementSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tekommin-vnet/providers/Microsoft.Network/virtualNetworks/projectnovatest-vnet/subnets/nova-subnet"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002","name":"cli000002","type":"Microsoft.DocumentDB/cassandraClusters","location":"westus2","tags":{},"properties":{"provisioningState":"Creating","delegatedManagementSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tekommin-vnet/providers/Microsoft.Network/virtualNetworks/projectnovatest-vnet/subnets/nova-subnet","clusterNameOverride":"cli000002","authenticationMethod":"Cassandra","hoursBetweenBackups":0,"clientCertificates":[],"externalGossipCertificates":[],"gossipCertificates":[],"prometheusEndpoint":{},"seedNodes":[]}}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/af9d8f02-eccc-476e-b48f-95fcf1a312ba?api-version=2020-06-01-preview
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/af9d8f02-eccc-476e-b48f-95fcf1a312ba?api-version=2020-06-01-preview
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002","name":"cli000002","type":"Microsoft.DocumentDB/cassandraClusters","location":"westus2","tags":{},"properties":{"provisioningState":"Succeeded","delegatedManagementSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tekommin-vnet/providers/Microsoft.Network/virtualNetworks/projectnovatest-vnet/subnets/nova-subnet","clusterNameOverride":"cli000002","authenticationMethod":"Cassandra","hoursBetweenBackups":0,"clientCertificates":[],"externalGossipCertificates":[],"gossipCertificates":[{"pem":"\r\n-----BEGIN
        CERTIFICATE-----\r\nMIIIljCCBn6gAwIBAgITHwAAABdSYeX7sQBCUwAAAAAAFzANBgkqhkiG9w0BAQsF\r\nADA8MRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRAw\r\nDgYDVQQDEwdhbWVyb290MB4XDTE3MDMyMDE3MzcxMloXDTIyMDMyMDE3NDcxMlow\r\nRDETMBEGCgmSJomT8ixkARkWA0dCTDETMBEGCgmSJomT8ixkARkWA0FNRTEYMBYG\r\nA1UEAxMPQU1FIElORlJBIENBIDAxMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB\r\nCgKCAQEAs/sujUqYPkRKZeaOyIl9pn0D3BpvZ6V0711WlDN2pc8OBPHiG8POqq8+\r\n0/Dr7uZFYxGKJhGX8KO7zsIAaC6NPw2s9Xy2BudkMa1m37W4[...]
[...]
- request:
    body: '{"properties": {"dataCenterLocation": "westus2", "delegatedSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tekommin-vnet/providers/Microsoft.Network/virtualNetworks/projectnovatest-vnet/subnets/nova-subnet",
      "nodeCount": 3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/dataCenters/cli-dc000003?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/dataCenters/cli-dc000003","name":"cli000002/cli-dc000003","type":"Microsoft.DocumentDB/cassandraClusters/dataCenters","properties":{"provisioningState":"Creating","dataCenterLocation":"westus2","delegatedSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tekommin-vnet/providers/Microsoft.Network/virtualNetworks/projectnovatest-vnet/subnets/nova-subnet","nodeCount":3,"seedNodes":[],"base64EncodedCassandraYamlFragment":""}}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/a177a02b-6d9c-4df4-b652-29fee0365d2b?api-version=2020-06-01-preview
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/dataCenters/cli-dc000003?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/dataCenters/cli-dc000003","name":"cli000002/cli-dc000003","type":"Microsoft.DocumentDB/cassandraClusters/dataCenters","properties":{"provisioningState":"Succeeded","dataCenterLocation":"westus2","delegatedSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tekommin-vnet/providers/Microsoft.Network/virtualNetworks/projectnovatest-vnet/subnets/nova-subnet","nodeCount":3,"seedNodes":[{"ipAddress":"10.0.0.37"},{"ipAddress":"10.0.0.43"},{"ipAddress":"10.0.0.47"}],"base64EncodedCassandraYamlFragment":""}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/operationResults/d67a50ba-8e46-4b56-adf7-afe30c866528?api-version=2020-06-01-preview
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      location:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/operationResults/d67a50ba-8e46-4b56-adf7-afe30c866528?api-version=2020-06-01-preview
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_managed_cassandra000001/providers/Microsoft.DocumentDB/cassandraClusters/cli000002/operationResults/d67a50ba-8e46-4b56-adf7-afe30c866528?api-version=2020-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DocumentDB/cassandraClusters/cli000002''
        under resource group ''cli_managed_cassandra000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
