interactions:
- request:
    body: '{"location": "eastus", "properties": {"createMode": "Default", "administratorLogin":
      "cli000003", "administratorLoginPassword": "Cli1@asvrct", "serverVersion": "5.0",
      "nodeGroupSpecs": [{"sku": "M40", "diskSizeGB": 128, "enableHa": true, "kind":
      "Shard", "nodeCount": 2}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongocluster_firewall000001/providers/Microsoft.DocumentDB/mongoClusters/cli000002?api-version=2023-03-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongocluster_firewall000001/providers/Microsoft.DocumentDB/mongoClusters/cli000002\",\n
        \ \"name\": \"cli000002\",\n  \"type\": \"Microsoft.DocumentDB/mongoClusters\",\n
        \ \"tags\": {\n},\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\":
        \"InProgress\",\n    \"clusterStatus\": \"Provisioning\",\n    \"administratorLogin\":
        \"cli000003\",\n    \"serverVersion\": \"5.0\",\n    \"nodeGroupSpecs\": [\n
        \     {\n        \"name\": \"\",\n        \"kind\": \"Shard\",\n        \"sku\":
        \"M40\",\n        \"diskSizeGB\": 128,\n        \"enableHa\": true,\n        \"nodeCount\":
        2\n      }\n    ],\n    \"connectionString\": \"mongodb+srv://<user>:<password>@cli000002.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000\",\n
        \   \"earliestRestoreTime\": null\n  }\n}"
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterAzureAsyncOperation/ff0f6dc0-4b87-498e-8ec3-389dc215d5c6?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterOperationResults/ff0f6dc0-4b87-498e-8ec3-389dc215d5c6?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterAzureAsyncOperation/ff0f6dc0-4b87-498e-8ec3-389dc215d5c6?api-version=2023-03-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterAzureAsyncOperation/ff0f6dc0-4b87-498e-8ec3-389dc215d5c6\",\n
        \ \"name\": \"ff0f6dc0-4b87-498e-8ec3-389dc215d5c6\",\n  \"status\": \"InProgress\",\n
        \ \"startTime\": \"2023-04-11 21:13:38 +0000\"\n}"
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterAzureAsyncOperation/ff0f6dc0-4b87-498e-8ec3-389dc215d5c6?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterOperationResults/ff0f6dc0-4b87-498e-8ec3-389dc215d5c6?api-version=2023-03-01-preview
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"startIpAddress": "10.0.0.120", "endIpAddress": "10.0.0.130"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongocluster_firewall000001/providers/Microsoft.DocumentDB/mongoClusters/cli000002/firewallRules/cli000004?api-version=2023-03-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongoclust[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongocluster_firewall000001/providers/Microsoft.DocumentDB/mongoClusters/cli000002/firewallRules?api-version=2023-03-01-preview
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongocluster_firewall000001/providers/Microsoft.DocumentDB/mongoClusters/cli000002/firewallRules/cli000004\",\n
        \     \"name\": \"cli000004\",\n      \"type\": \"Microsoft.DocumentDB/mongoClusters/firewallRules\",\n
        \     \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"startIpAddress\":
        \"10.0.0.120\",\n        \"endIpAddress\": \"10.0.0.140\"\n      }\n    }\n
        \ ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_cosmosdb_mongocluster_firewall000001/providers/Microsoft.DocumentDB/mongoClusters/cli000002/firewallRules/blah?api-version=2023-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterOperationResults/2d692925-14e2-4584-b875-fdcad2a3946b?api-version=2023-03-01-preview
  response:
    body:
      string: '{

        }'
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterAzureAsyncOperation/2d692925-14e2-4584-b875-fdcad2a3946b?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterOperationResults/2d692925-14e2-4584-b875-fdcad2a3946b?api-version=2023-03-01-preview
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterOperationResults/790be59d-680c-4652-aa78-c122ca4aea82?api-version=2023-03-01-preview
  response:
    body:
      string: '{

        }'
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterAzureAsyncOperation/790be59d-680c-4652-aa78-c122ca4aea82?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/mongoClusterOperationResults/790be59d-680c-4652-aa78-c122ca4aea82?api-version=2023-03-01-preview
    status:
      code: 200
      message: OK
version: 1
