interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_cross_region_restore000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001","name":"cli_test_cosmosdb_cross_region_restore000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","test":"test_cosmosdb_xrr_single_region_account","date":"2023-07-26T00:47:47Z","module":"cosmosdb-preview"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "kind": "GlobalDocumentDB", "properties":
      {"locations": [{"locationName": "westcentralus", "failoverPriority": 0, "isZoneRedundant":
      false}], "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode":
      "Default", "backupPolicy": {"type": "Continuous", "continuousModeProperties":
      {"tier": "Continuous7Days"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004?api-version=2023-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004","name":"cli-xrr-000004","location":"West
        Central US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-07-26T00:47:52.3228516Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"f80daac2-24cc-4b23-a1cb-46e10a5e1287","createMode":"Default","databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","enableMaterializedViews":false,"defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"enableBurstCapacity":false,"minimalTlsVersion":"Tls","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli-xrr-000004-westcentralus","locationName":"West
        Central US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli-xrr-000004-westcentralus","locationName":"West
        Central US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli-xrr-000004-westcentralus","locationName":"West
        Central US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli-xrr-000004-westcentralus","locationName":"West
        Central US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Continuous","continuousModeProperties":{"tier":"Continuous7Days"}},"networkAclBypassResourceIds":[],"diagnosticLogSettings":{"enableFullTextQuery":"None"},"keysMetadata":{"primaryMasterKey":{"generationTime":"2023-07-26T00:47:52.3228516Z"},"secondaryMasterKey":{"generationTime":"2023-07-26T00:47:52.3228516Z"},"primaryReadonlyMasterKey":{"generationTime":"2023-07-26T00:47:52.3228516Z"},"secondaryReadonlyMasterKey":{"generationTime":"2023-07-26T00:47:52.3228516Z"}}},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/operationsStatus/1edb39f2-d7a0-4a77-bd2f-4c08d86d08d8?api-version=2023-03-15-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/operationResults/1edb39f2-d7a0-4a77-bd2f-4c08d86d08d8?api-version=2023-03-15-preview
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/operationsStatus/1edb39f2-d7a0-4a77-bd2f-4c08d86d08d8?api-version=2023-03-15-preview
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004?api-version=2023-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004","name":"cli-xrr-000004","location":"West
        Central US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-07-26T00:49:49.103438Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli-xrr-000004.documents.azure.com:443/","sqlEndpoint":"https://cli-xrr-000004.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"f80daac2-24cc-4b23-a1cb-46e10a5e1287","createMode":"De[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli-xrr000003"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003?api-version=2023-04-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/operationsStatus/6ddfa15d-1664-4ac7-8e89-9b81a213f2a5?api-version=2023-04-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003/operationResults/6ddfa15d-1664-4ac7-8e89-9b81a213f2a5?api-version=2023-04-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/operationsStatus/6ddfa15d-1664-4ac7-8e89-9b81a213f2a5?api-version=2023-04-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003?api-version=2023-04-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli-xrr000003","properties":{"resource":{"id":"cli-xrr000003","_rid":"ohEZAA==","_self":"dbs/ohEZAA==/","_etag":"\"0000e20e-0000-0600-0000-64c06ddb0000\"","_colls":"colls/","_users":"users/","_ts":1690332635}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"resource": {"id": "cli-xrr000002", "indexingPolicy": {"automatic":
      true, "indexingMode": "consistent", "includedPaths": [{"path": "/*"}], "excludedPaths":
      [{"path": "/\"_etag\"/?"}]}, "partitionKey": {"paths": ["/pk"], "kind": "Hash"}},
      "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003/containers/cli-xrr000002?api-version=2023-03-15-preview
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/operationsStatus/df687ffd-1bd4-4ea8-bfe3-185b4de1b4d5?api-version=2023-03-15-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003/containers/cli-xrr000002/operationResults/df687ffd-1bd4-4ea8-bfe3-185b4de1b4d5?api-version=2023-03-15-preview
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003/containers/cli-xrr000002?api-version=2023-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004/sqlDatabases/cli-xrr000003/containers/cli-xrr000002","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers","name":"cli-xrr000002","properties":{"resource":{"id":"cli-xrr000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"partitionKey":{"paths":["/pk"],"kind":"Hash"},"uniqueKeyPolicy":{"uniqueKeys":[]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"backupPolicy":{"type":1},"geospatialConfig":{"type":"Geography"},"_rid":"ohEZAI32sGE=","_ts":1690332666,"_self":"dbs/ohEZAA==/colls/ohEZAI32sGE=/","_etag":"\"0000e50e-0000-0600-0000-64c06dfa0000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","statistics":[{"id":"0","sizeInKB":0,"documentCount":0,"sampledDistinctPartitionKeyCount":0,"partitionKeys":[]}]}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/f80daac2-24cc-4b23-a1cb-46e10a5e1287?api-version=2023-03-15-preview
  response:
    body:
      string: '{"name":"f80daac2-24cc-4b23-a1cb-46e10a5e1287","location":"West Central
        US","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/f80daac2-24cc-4b23-a1cb-46e10a5e1287","properties":{"accountName":"cli-xrr-000004","apiType":"Sql","creationTime":"2023-07-26T00:49:50Z","oldestRestorableTime":"2023-07-26T00:49:50Z","restorableLocations":[{"locationName":"West
        Central US","regionalDatabaseAccountInstanceId":"774971e8-f3f5-4798-a018-476e2d06b35e","creationTime":"2023-07-26T00:49:50Z"}]}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/restorableDatabaseAccounts?api-version=2023-03-15-preview
  response:
    body:
      string: '{"value":[{"name":"6f3ef6eb-b4b7-44fa-8f21-ee88c5c78034","location":"West
        Central US","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/6f3ef6eb-b4b7-44fa-8f21-ee88c5c78034","properties":{"accountName":"cli-xrr-2ozrroszscu4i5jgv","apiType":"Sql","creationTime":"2023-07-26T00:42:18Z","oldestRestorableTime":"2023-07-26T00:42:18Z","restorableLoc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/f80daac2-24cc-4b23-a1cb-46e10a5e1287/restorableSqlResources?api-version=2023-04-15&restoreLocation=West%20Central%20US&restoreTimestampInUtc=2023-07-26%2001%3A50%3A50%2B00%3A00
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/f80daac2-24cc-4b23-a1cb-46e10a5e1287/restorableSqlResources/cli-xrr000003","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts/restorableSqlResources","name":"cli-xrr000003","databaseName":"cli-xrr000003","collectionNames":["cli-xrr000002"]}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"location": "West Central US", "kind": "GlobalDocumentDB", "properties":
      {"locations": [{"locationName": "northcentralus", "failoverPriority": 0}], "databaseAccountOfferType":
      "Standard", "apiProperties": {}, "createMode": "Restore", "restoreParameters":
      {"restoreSource": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/f80daac2-24cc-4b23-a1cb-46e10a5e1287",
      "restoreTimestampInUtc": "2023-07-26T01:50:50.000Z", "restoreMode": "PointInTime",
      "sourceBackupLocation": "West Central US"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-xrr-000004-restored?api-version=2023-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cross_region_restore00[...]
[...]
