interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"accountCreationSource": "LIFTR",
      "orgCreationSource": "LIFTR", "planData": {"billingCycle": "MONTHLY", "effectiveDate":
      "2022-10-25T13:14:33.000Z", "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
      "usageType": "PAYG"}, "userInfo": {"emailAddress": "v-taoxuzeng@microsoft.com",
      "firstName": "vdftzcggiref", "lastName": "bcsztgqovdlmzf", "phoneNumber": "123456"}},
      "tags": {"key6976": "oaxfhf"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor","name":"test-new-relic-monitor","type":"newrelic.observability/monitors","location":"eastus2euap","tags":{"key6976":"oaxfhf"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-06-28T08:50:50.0759688Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-28T08:50:50.0759688Z"},"properties":{"orgCreationSource":"LIFTR","accountCreationSource":"LIFTR","provisioningState":"Accepted","monitoringStatus":"Enabled","marketplaceSubscriptionStatus":"Active","newRelicAccountProperties":{"userId":null,"accountInfo":null,"organizationInfo":null},"userInfo":{"firstName":"vdftzcggiref","lastName":"bcsztgqovdlmzf","emailAddress":"v-taoxuzeng@microsoft.com","phoneNumber":"123456"},"planData":{"usageType":"PAYG","billingCycle":"MONTHLY","planDetails":"newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg","effectiveDate":"2022-10-25T13:14:33Z"},"liftrResourceCategory":"MonitorLogs","liftrResourcePreference":0}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"06004d4a-0000-3300-0000-649bf4710000"'
      location:
      - https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
      mise-correlation-id:
      - 01202be9-4e8c-4a10-a462-4c6b8c99975f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2","name":"0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor","status":"Accepted","startTime":"2023-06-28T08:50:56.348269Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000fe24-0000-3300-0000-649bf4700000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2","name":"0ee8d897-ccd1-47bb-8955-0ece45bfa18f*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor","status":"Succeeded","startTime":"2023-06-28T08:50:56.348269Z","endTime":"2023-06-28T08:51:47.7680266Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000ff24-0000-3300-0000-649bf4a30000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor","name":"test-new-relic-monitor","type":"newrelic.observability/monitors","location":"eastus2euap","tags":{"key6976":"oaxfhf"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-06-28T08:50:50.0759688Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-28T08:50:50.0759688Z"},"properties":{"orgCreationSource":"LIFTR","accountCreationSource":"LIFTR","provisioningState":"Succeeded","monitoringStatus":"Enabled","marketplaceSubscriptionStatus":"Active","newRelicAccountProperties":{"accountInfo":{"accountId":"11854470"},"organizationInfo":{"organizationId":"f0511f62-1c8e-4594-81c8-89e17455f74f"}},"userInfo":{"firstName":"vdftzcggiref","lastName":"bcsztgqovdlmzf","emailAddress":"v-taoxuzeng@microsoft.com","phoneNumber":"123456"},"planData":{"usageType":"PAYG","billingCycle":"MONTHLY","planDetails":"newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg","effectiveDate":"2022-10-25T13:14:33Z"},"liftrResourceCategory":"MonitorLogs","liftrResourcePreference":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600574a-0000-3300-0000-649bf4a40000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"logRules": {"filteringTags": [], "sendAadLogs": "Enabled",
      "sendActivityLogs": "Enabled", "sendSubscriptionLogs": "Enabled"}, "metricRules":
      {"filteringTags": [{"action": "Include", "name": "Environment", "value": "Prod"}],
      "userEmail": "v-taoxuzeng@microsoft.com"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/tagRules/default?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/tagRules/default","name":"default","type":"newrelic.observability/monitors/tagrules","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-06-28T08:52:01.9305059Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-28T08:52:01.9305059Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":"Enabled","sendSubscriptionLogs":"Enabled","sendActivityLogs":"Enabled","filteringTags":[]},"metricRules":{"sendMetrics":"Disabled","filteringTags":[{"name":"Environment","value":"Prod","action":"Include"}],"userEmail":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00007b02-0000-3300-0000-649bf4b70000"'
      mise-correlation-id:
      - 3f0b7795-e061-4127-b6f0-674cf0896b8d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/tagRules?api-version=2022-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/tagRules/default","name":"default","type":"newrelic.observability/monitors/tagrules","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-06-28T08:52:01.9305059Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-28T08:52:08.6381556Z"},"properties":{"provisioningState":"Succeeded","logRules":{"sendAadLogs":"Enabled","sendSubscriptionLogs":"Enabled","sendActivityLogs":"Disabled","filteringTags":[]},"metricRules":{"sendMetrics":"Disabled","filteringTags":[{"name":"Environment","value":"Prod","action":"Include"}]}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"userEmail": "v-taoxuzeng@microsoft.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/getMetricRules?api-version=2022-07-01
  response:
    body:
      string: '{"sendMetrics":"Disabled","filteringTags":[],"userEmail":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 779b7a90-ebe4-4e84-af4f-b3403a573331
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"azureResourceIds": ["abcdefg"], "userEmail": "v-taoxuzeng@microsoft.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/getMetricStatus?api-version=2022-07-01
  response:
    body:
      string: '{"azureResourceIds":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - d676a410-eae4-4a0a-aeb5-b5c9e189b223
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/monitors?api-version=2022-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dipesh_test/providers/NewRelic.Observability/monitors/dipesh_test_16_3_sb","name":"dipesh_test_16_3_sb","type":"newrelic.observability/monitors","location":"eastus","tags":{},"systemData":{"createdBy":"dipeshbhakat@microsoft.com","createdByType":"User","createdAt":"2023-06-16T06:26:11.4295321Z","lastModifiedBy":"f73fdc11-ed25-4c35-a93a-f525ab3fd649","lastModifiedByType":"Application","lastModifiedAt":"2023-06-16T06:47:28.4938976Z"},"identity":{"principalId":"7b257014-f3ac-471d-9f4b-282c031949f6","tenantId":"888d76fa-54b2-4ced-8ee5-aac1585adee7","type":"SystemAssigned"},"properties":{"orgCreationSource":"LIFTR","accountCreationSource":"NEWRELIC","provisioningState":"Failed","monitoringStatus":"Enabled","marketplaceSubscriptionStatus":"Active","newRelicAccountProperties":{"accountInfo":{"accountId":"3821452"},"organizationInfo":{"organizationId":"fdd04e7d-c6a6-4a08-ab2c-b5095e9c1297"}},"userInfo":{"firstName":"Dipesh","lastName":"Bhakat","emailAddress":"dipeshbhakat@microsoft.com","phoneNumber":""},[...]
- request:
    body: '{"azureResourceIds": ["abcdefg"], "userEmail": "v-taoxuzeng@microsoft.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/listAppServices?api-version=2022-07-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - edbfa56c-849d-44ff-8257-4f10abc35228
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"userEmail": "v-taoxuzeng@microsoft.com", "vmIds": ["test-vm"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/listHosts?api-version=2022-07-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2a7f66b3-f6af-4b8e-a3e9-5731fb8d0947
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/monitoredResources?api-version=2022-07-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 1d2c5ba4-6c1c-4f22-b8d8-091c410d5a8f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor/vmHostPayloads?api-version=2022-07-01
  response:
    body:
      string: '{"ingestionKey":"8ab90654998f848cb7d62b7857d34ff64059NRAL"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5303d706-921c-4302-a8bc-e79a54a56a31
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/accounts?location=eastus2euap&userEmail=v-taoxuzeng%40microsoft.com&api-version=2022-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/accounts/11854470","properties":{"accountId":"11854470","accountName":"11854470","organizationId":"f0511f62-1c8e-4594-81c8-89e17455f74f","region":"eastus"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/accounts/11854456","properties":{"accountId":"11854456","accountName":"11854456","organizationId":"47fbe836-5e24-46e8-9986-d7005ee1936a","region":"eastus"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/accounts/11854460","properties":{"accountId":"11854460","accountName":"11854460","organizationId":"f74da658-9b0e-42ac-9e87-ad1ba9d83bda","region":"e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/organizations?location=eastus2euap&userEmail=v-taoxuzeng%40microsoft.com&api-version=2022-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a5b48c41-09ed-4739-af7d-863c5b043193
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/plans?accountId=test-account&organizationId=test-organization&api-version=2022-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/NewRelic.Observability/plans/","properties":{"orgCreationSource":"NEWRELIC"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 62fa1ef4-caf7-417e-a48d-6019ce1a2cbc
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor?userEmail=v-taoxuzeng%40microsoft.com&api-version=2022-07-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/e4db3c20-132a-4c0d-86f1-4b8c0bd339d5*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600694a-0000-3300-0000-649bf4f70000"'
      location:
      - https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/e4db3c20-132a-4c0d-86f1-4b8c0bd339d5*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
      mise-correlation-id:
      - 34e7dc99-da49-4547-a825-e6d73408fe43
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/e4db3c20-132a-4c0d-86f1-4b8c0bd339d5*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/providers/NewRelic.Observability/locations/EASTUS2EUAP/operationStatuses/e4db3c20-132a-4c0d-86f1-4b8c0bd339d5*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2","name":"e4db3c20-132a-4c0d-86f1-4b8c0bd339d5*831D1738070A7AC0C717E6ACBCED7F31F0ABD8E70C311F495AAA99A51316D4C2","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_new_relic_monitor000001/providers/NewRelic.Observability/monitors/test-new-relic-monitor","status":"Succeeded","startTime":"2023-06-28T08:53:11.4589298Z","endTime":"2023-06-28T08:54:10.764668Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00000e25-0000-3300-0000-649bf5320000"'
    status:
      code: 200
      message: OK
version: 1
