interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ComputeLimit/locations/eastus/sharedLimits/StandardDSv3Family?api-version=2025-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ComputeLimit/locations/eastus/sharedLimits/StandardDSv3Family","name":"StandardDSv3Family","type":"Microsoft.ComputeLimit/locations/sharedLimits","properties":{"resourceName":{"value":"StandardDSv3Family","localizedValue":"Standard
        DSv3 Family vCPUs"},"limit":100,"unit":"Count","provisioningState":"Succeeded"},"systemData":{"createdBy":"user@contoso.com","createdByType":"User","createdAt":"2025-03-01T00:00:00.0000000Z","lastModifiedBy":"user@contoso.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-01T00:00:00.0000000Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
