interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-27e40714/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"collectionInterval":
      15, "enabledMetrics": ["node_os_version"]}, "tags": {"tag1": "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default","name":"default","type":"microsoft.networkcloud/clusters/metricsconfigurations","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-27e40714/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-19T19:58:55.5856613Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-19T19:58:55.5856613Z"},"properties":{"provisioningState":"Accepted","collectionInterval":15,"enabledMetrics":["node_os_version"]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"750086ca-0000-0100-0000-6467d5000000"'
      mise-correlation-id:
      - 443eddaf-5f0c-41fb-8ba5-9110e392a87c
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51","name":"c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default","status":"Accepted","startTime":"2023-05-19T19:58:55.749806Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"940091cb-0000-0100-0000-6467d4ff0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51","name":"c5fed04a-9c7a-4db7-b63a-47d62646b3f8*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default","status":"Succeeded","startTime":"2023-05-19T19:58:55.749806Z","endTime":"2023-05-19T19:59:03.7861949Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"940038ce-0000-0100-0000-6467d5070000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default","name":"default","type":"microsoft.networkcloud/clusters/metricsconfigurations","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-27e40714/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-19T19:58:55.5856613Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-19T19:59:04.7030967Z"},"properties":{"provisioningState":"Succeeded","collectionInterval":15,"enabledMetrics":["node_os_version"],"disabledMetrics":["apiserver_client_certificate_expiration_seconds_bucket","container_file_descriptors","container_fs_io_current","container_fs_io_time_weighted_seconds_total","container_fs_read_seconds_total","container_fs_reads_bytes_total","container_fs_reads_total","container_fs_sector_reads_total","container_fs_sector_writes_total","container_fs_usage_bytes","container_fs_write_seconds_total","container_fs_writes_bytes_total","container_fs_writes_total","container_memory_cache","container_memory_failures_to[...]
- request:
    body: '{"properties": {"collectionInterval": 15, "enabledMetrics": ["node_os_version"]},
      "tags": {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/cb4b62dd-b17f-46c1-b86f-f777709b5980*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"75007cd3-0000-0100-0000-6467d5210000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/cb4b62dd-b17f-46c1-b86f-f777709b5980*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51?api-version=2023-10-01-preview
      mise-correlation-id:
      - 293449f9-e1b7-476f-9b7a-54857780966b
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default","name":"default","type":"microsoft.networkcloud/clusters/metricsconfigurations","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-27e40714/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocatio[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/b831755c-755f-426c-a4ac-b23d19205211*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/b831755c-755f-426c-a4ac-b23d19205211*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51","name":"b831755c-755f-426c-a4ac-b23d19205211*79EFC94645C91D0284367C8887C033B89F6A153134559E0F69C39CC657C28D51","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-automation-rg/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default","status":"Succeeded","startTime":"2023-05-19T20:00:03.7083356Z","endTime":"2023-05-19T20:00:09.3463349Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"940049e5-0000-0100-0000-6467d5490000"'
    status:
      code: 200
      message: OK
version: 1
