interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_8C2M?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_8C2M","name":"V1_5_4_Compute_DellR750_8C2M","type":"Microsoft.NetworkCloud/rackSkus","properties":{"provisioningState":"Succeeded","rackType":"Compute","maxClusterSlots":0,"description":"A
        compute rack with eight Dell750 computes and two Dell650 controllers","controllerMachines":[{"properties":{"vendor":"Dell","model":"R650","generation":"8","hardwareVersion":"3","bootstrapProtocol":"PXE","cpuSockets":1,"cpuCores":8,"totalThreads":16,"memoryCapacityGB":128,"disks":[{"capacityGB":446,"type":"SAS","connection":"TBD"},{"capacityGB":446,"type":"SAS","connection":"TBD"}],"networkInterfaces":[{"address":"04:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"04:00.1","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"51:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"51:00.1","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"52:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"52:00.1","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"8a:00.0","physicalSlot":1,"portCount":2,"portSpeed":100,"deviceConnectionType":"PCI","vendor":"Mellanox","model":"ConnectX-6"},{"address":"8a:00.1","physicalSlot":1,"portCount":2,"portSpeed":100,"deviceConnectionType":"PCI","vendor":"Mellanox","model":"ConnectX-6"}]},"rackSlot":9},{"properties":{"vendor":"Dell","model":"R650","generation":"8","hardwareVersion":"3","bootstrapProtocol":"PXE","cpuSockets":1,"cpuCores":8,"totalThreads":16,"memoryCapacityGB":128,"disks":[{"capacityGB":446,"type":"SAS","connection":"TBD"},{"capacityGB":446,"type":"SAS","connection":"TBD"}],"networkInterfaces":[{"address":"04:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"04:00.1","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"51:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"51:00.1","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"52:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"52:00.1","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnectionType":"PCI","vendor":"Broadcom","model":"BCM5720"},{"address":"8a:00.0","physicalSlot":1,"portCount":2,"portSpeed":100,"deviceConnectionType":"PCI","vendor":"Mellanox","model":"ConnectX-6"},{"address":"8a:00.1","physicalSlot":1,"portCount":2,"portSpeed":100,"deviceConnectionType":"PCI","vendor":"Mellanox","model":"ConnectX-6"}]},"rackSlot":10}],"computeMachines":[{"properties":{"vendor":"Dell","model":"R750","generation":"8","hardwareVersion":"3","bootstrapProtocol":"PXE","cpuSockets":2,"cpuCores":28,"totalThreads":112,"memoryCapacityGB":512,"disks":[{"capacityGB":893,"type":"SAS","connection":"TBD"},{"capacityGB":893,"type":"SAS","connection":"TBD"},{"capacityGB":3576,"type":"SAS","connection":"TBD"},{"capacityGB":3576,"type":"SAS","connection":"TBD"}],"networkInterfaces":[{"address":"04:00.0","physicalSlot":0,"portCount":2,"portSpeed":1,"deviceConnect[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Aggregator_x70r3_9","name":"V1_5_4_Aggregator_x70r3_9","type":"Microsoft.NetworkCloud/rackSkus","properties":{"provisioningState":"Succeeded","supportedRackSkuIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_8C2M","/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_12C2M","/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_16C2M","/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_4C2M"],"rackType":"Aggregator","maxClusterSlots":8,"description":"An
        aggregator rack with one Pure device","storageAppliances":[{"properties":{"capacityGB":91000,"model":"x70r3-9"},"rackSlot":1}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Compute_DellR750_8C2M","name":"VLab1_4_Compute_DellR750_8C2M","type":"Microsoft.NetworkCloud/rackSkus","properties":{"provisioningState":"Succeeded","rackType":"Compute","maxClusterSlots":0,"description":"A
        compute rack with eight Dell750 computes and two Dell650 controllers","controllerMachines":[{"properties"[...]
