interactions:
- request:
    body: '{"arguments": ["-l"], "limitTimeSeconds": 60, "script": "bHM="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02/runCommand?api-version=2022-12-12-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A?api-version=2022-12-12-preview
      mise-correlation-id:
      - 417e90e4-b36c-43f7-9e22-7261d2af3d2a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A","name":"2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02","status":"Accepted","startTime":"2023-05-23T20:24:30.0351173Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9c019d7b-0000-0100-0000-646d20fe0000"'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A","name":"2a172226-7d0c-437b-944f-69faccaa1574*FAA5801187CC5D6E11B88645EED3385FC7E176F1C8CA989E3A6F27754C89CA0A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02","status":"Succeeded","startTime":"2023-05-23T20:24:30.0351173Z","endTime":"2023-05-23T20:24:51.3781381Z","error":{},"properties":{"exitCode":"0","outputHead":"====Action
        Command Output====\nbin\nboot\ndev\netc\nhome\nlib\nlib64\nlost+found\nmedia\nmnt\nopt\nproc\nroot\nrun\nsbin\nsrv\nsys\ntmp\nusr\nvar\n","resultUrl":"https://cmhdx4xtxhqdst.blob.core.windows.net/bmm-run-command-output/3aa54a62-b1e6-492c-9102-f7f5f276402a-action-bmmruncmd.tar.gz?se=2023-05-24T00%3A24%3A49Z&sig=M%2B%2BvpU%2BWo14Zlx7uuTU1Z79QNzyRUzS7VlUBJrh3pzo%3D&sp=r&spr=https&sr=b&st=2023-05-23T20%3A24%3A49Z&sv=2019-12-12"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9c014182-0000-0100-0000-646d21130000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"commands": [{"arguments": ["SysInfo", "TTYLog"], "command": "hardware-support-data-collection"}],
      "limitTimeSeconds": 60}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute03/runDataExtracts?api-version=2022-12-12-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/9b5a868f-ad11-4058-b1e2-109e8a081a3e*A23FFACE109100CDE9F10454DC2CDAD6C14694A46A9A61FE140BD459A7500277?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/9b5a868f-ad11-4058-b1e2-109e8a081a3e*A23FFACE109100CDE9F10454DC2CDAD6C14694A46A9A61FE140BD459A7500277?api-version=2022-12-12-preview
      mise-correlation-id:
      - f59c4b89-1544-4c44-96a3-492b1a38dbdf
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"commands": [{"arguments": ["pods", "-A"], "command": "kubectl get"}],
      "limitTimeSeconds": 60}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1control01/runReadCommands?api-version=2022-12-12-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/9b90ff85-4129-41df-bcb8-5852e7cf88ad*61204BCCD9B9E5457CFAF09DEDC500C132FCA72F3250C0581A8CA02D331BC80E?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/9b90ff85-4129-41df-bcb8-5852e7cf88ad*61204BCCD9B9E5457CFAF09DEDC500C132FCA72F3250C0581A8CA02D331BC80E?api-version=2022-12-12-preview
      mise-correlation-id:
      - 41c7fe2f-d867-4300-ad26-7e5011884ff1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
