interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"cniBgpConfiguration":
      {"bgpPeers": [{"asNumber": 64497, "peerIp": "203.0.113.254"}], "communityAdvertisements":
      [{"communities": ["64512", "100"], "subnetPrefix": "192.0.2.0/27"}], "serviceExternalPrefixes":
      ["192.0.2.0/28"], "serviceLoadBalancerPrefixes": ["192.0.2.16/28"]}, "ipAllocationType":
      "DualStack", "ipv4ConnectedPrefix": "10.20.101.0/24", "ipv6ConnectedPrefix":
      "fd01:20::0/64", "l3IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L3IsolationDomains/l3isolationdomain2",
      "vlan": 1004}, "tags": {"tag1": "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001","name":"cli-test-defaultcni-000001","type":"microsoft.networkcloud/defaultcninetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T19:26:17.3644734Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-15T19:26:17.3644734Z"},"properties":{"provisioningState":"Accepted","cniBgpConfiguration":{"bgpPeers":[{"asNumber":64497,"peerIp":"203.0.113.254"}],"communityAdvertisements":[{"communities":["64512","100"],"subnetPrefix":"192.0.2.0/27"}],"serviceExternalPrefixes":["192.0.2.0/28"],"serviceLoadBalancerPrefixes":["192.0.2.16/28"]},"ipAllocationType":"DualStack","ipv4ConnectedPrefix":"10.20.101.0/24","ipv6ConnectedPrefix":"fd01:20::0/64","l3IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L3IsolationDomains/l3isolationdomain2","vlan":1004}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8059cc4-0000-0100-0000-6462875a0000"'
      mise-correlation-id:
      - 5649efa9-54da-4933-b749-a8ab89c19c01
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8","name":"2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001","status":"Accepted","startTime":"2023-05-15T19:26:17.411158Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8015c92-0000-0100-0000-646287590000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8","name":"2f075a00-c600-42ea-823f-cb33068b39d3*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001","status":"Succeeded","startTime":"2023-05-15T19:26:17.411158Z","endTime":"2023-05-15T19:26:23.5196698Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8017b92-0000-0100-0000-6462875f0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cl[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/defaultCniNetworks?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/defaultCniNetworks/defaultcninetwork-529","name":"defaultcninetwork-529","type":"microsoft.networkcloud/defaultcninetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations/m16-1-9c522075177c-cstm-loc","type":"CustomLocation"},"tags":{"ResourceType":"defaultcninetwork","ManagedBy":"nc-labs","LabEnvironment":"m16-1","ResourceTest":"deployment"},"systemData":{"createdBy":"de975306-d24e-4dec-9d3b-ef05c66f0075","createdByType":"Application","createdAt":"2023-05-09T06:05:38.593992Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-11T13:19:15.5105119Z"},"properties":{"provisioningState":"Succeeded","l3IsolationDomainId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m16-1-l3domain-2","ipAllocationType":"IPV4","ipv4ConnectedPrefix":"10.1.88.0/24","vlan":529,"cniBgpConfiguration":{"bgpPeers":[],"serviceExternalPrefixes":["10.1.89.0/25"],"serviceLoadBalancerPrefixes":["10.1.89.0/25"],"communityAdvertisements":[{"communities":["65535:65281","65535:65282"],"subnetPrefix":"10.244.0.0/16"}]},"interfaceName":"defaultcni","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/clusters/m16-1-9c522075177c","fabricBgpPeers":[{"asNumber":65018,"peerIp":"10.1.88.2"},{"asNumber":65018,"peerIp":"10.1.88.3"}],"cniAsNumber":64516,"hybridAksClustersAssociatedIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.HybridContainerService/provisionedClusters/pipelinehaks-xEaZHs8atcaIPQ"],"detailedStatus":"Available","detailedStatusMessage":"all
        resource creation succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/defaultCniNetworks/defaultcninetwork-536","name":"defaultcninetwork-536","type":"microsoft.networkcloud/defaultcninetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001","name":"cli-test-defaultcni-0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/59547c40-6af8-42de-9759-4684485536dd*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/59547c40-6af8-42de-9759-4684485536dd*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8","name":"59547c40-6af8-42de-9759-4684485536dd*529643E7BC976AA8B7DFA29F1D9E6AC6C41D93D8A3F3B40F625B9C047A9910C8","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/defaultCniNetworks/cli-test-defaultcni-000001","status":"Succeeded","startTime":"2023-05-15T19:26:53.8136904Z","endTime":"2023-05-15T19:27:02.746178Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801e192-0000-0100-0000-646287860000"'
    status:
      code: 200
      message: OK
version: 1
