interactions:
- request:
    body: '{"properties": {"rackLocation": "Microsoft Datacenter, Floor 2, Aisle 1,
      Rack 1", "rackSerialNumber": "0000-AAA-1234"}, "tags": {"tag1": "tag1", "tag2":
      "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks/aa1234?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"350200f3-0000-0100-0000-6465003b0000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE?api-version=2023-10-01-preview
      mise-correlation-id:
      - 1a2921d4-0352-4e53-8175-1d25720280ef
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE","name":"f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks/aa1234","status":"Accepted","startTime":"2023-05-17T16:26:35.2364072Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2f00cf66-0000-0100-0000-6465003b0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE","name":"f441cec6-a868-4b5f-8f8f-b5fe0a1553d5*61FE74D8D49C5BB9C545C0A923B5399D31DE21C3337221153BDFB76643325FEE","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks/aa1234","status":"Succeeded","startTime":"2023-05-17T16:26:35.2364072Z","endTime":"2023-05-17T16:26:40.2567676Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2f00126a-0000-0100-0000-646500400000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks/aa1234?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks/aa1234","name":"aa1234","type":"microsoft.networkcloud/racks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-hostedresources-624cf26d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1","tag2":"tag2update"},"systemData":{"createdBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","createdByType":"Application","createdAt":"2023-05-12T14:55:20.3733877Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-17T16:26:40.7635961Z"},"properties":{"rackSkuId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_x70r3_9_sim","rackSerialNumber":"0000-AAA-1234","availabilityZone":"A","rackLocation":"Microsoft
        Datacenter, Floor 2, Aisle 1, Rack 1","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/drewwalters-sim-rg/providers/Microsoft.NetworkCloud/clusters/simulator","detailedStatus":"Available","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3502a4f3-0000-0100-0000-646500400000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-624CF26D/providers/Microsoft.NetworkCloud/racks/aa1234","name":"aa1234","type":"microsoft.networkcloud/racks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-hostedresources-624cf26d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1","tag2":"tag2update"[...]
