interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"hybridAksPluginType":
      "DPDK", "interfaceName": "eth0", "l2IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"},
      "tags": {"tag1": "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T19:42:51.2960199Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-15T19:42:51.2960199Z"},"properties":{"provisioningState":"Accepted","hybridAksPluginType":"DPDK","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710?api-version=2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600223a-0000-0100-0000-64628b3b0000"'
      mise-correlation-id:
      - d28c746f-0b7f-4aa7-9461-12af0dbbe1be
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710","name":"ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Accepted","startTime":"2023-05-15T19:42:51.3456709Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801ea9c-0000-0100-0000-64628b3b0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710","name":"ab805e45-2d2c-4406-bde5-72f07e31378b*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Succeeded","startTime":"2023-05-15T19:42:51.3456709Z","endTime":"2023-05-15T19:43:00.3334053Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801f19c-0000-0100-0000-64628b440000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T19:42:51.2960199Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-15T19:43:01.6066269Z"},"properties":{"provisioningState":"Succeeded","hybridAksPluginType":"DPDK","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mbashtovaya-sim2-rg/providers/Microsoft.NetworkCloud/clusters/simulator","associatedResourceIds":[],"hybridAksClustersAssociatedIds":[],"virtualMachinesAssociatedIds":[],"detailedStatus":"Available","detailedStatusMessage":"all
        resource creation succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600243a-0000-0100-0000-64628b450000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/l2Networks?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/l2Networks/l2network-569","name":"l2network-569","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations/m16-1-9c522075177c-cstm-loc","type":"CustomLocation"},"tags":{"ResourceType":"l2Network","ManagedBy":"nc-labs","LabEnvironment":"m16-1","ResourceTest":"deployment"},"systemData":{"createdBy":"de975306-d24e-4dec-9d3b-ef05c66f0075","createdByType":"Application","createdAt":"2023-05-09T06:05:38.5742447Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-09T06:08:20.0601402Z"},"properties":{"provisioningState":"Succeeded","hybridAksPluginType":"DPDK","l2IsolationDomainId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.ManagedNe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.network[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f36bc72c-7238-4509-9c73-acba4be4458c*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f36bc72c-7238-4509-9c73-acba4be4458c*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710","name":"f36bc72c-7238-4509-9c73-acba4be4458c*B0D0EE27E243D5C711C8FE7ECF2AEB48019B05B189C6A6DDFB839F2AAC4CC710","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Succeeded","startTime":"2023-05-15T19:43:26.9700894Z","endTime":"2023-05-15T19:43:35.1434272Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801409d-0000-0100-0000-64628b670000"'
    status:
      code: 200
      message: OK
version: 1
