interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01/restart?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
      mise-correlation-id:
      - 4b70dd66-b544-4d5b-84ed-75d44a660395
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","name":"0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01","status":"Accepted","startTime":"2023-05-25T00:07:08.417889Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"020274f4-0000-0100-0000-646ea6ac0000"'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","name":"0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01","status":"Provisioning","startTime":"2023-05-25T00:07:08.417889Z","error":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"02021bf5-0000-0100-0000-646ea6b10000"'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","name":"0de35caf-69ce-4a8a-841f-cf6679b267c7*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01","status":"Succeeded","startTime":"2023-05-25T00:07:08.417889Z","endTime":"2023-05-25T00:12:23.7815804Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0302691e-0000-0100-0000-646ea7e70000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"skipShutdown": "False"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01/powerOff?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2fa7df33-501e-4e58-bf84-1d900c895616*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2fa7df33-501e-4e58-bf84-1d900c895616*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
      mise-correlation-id:
      - 0502eb12-1f5a-42f7-acdf-a02ea3ed2f35
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01/start?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a37c63a-ac40-4623-afd1-c1ebea4d88f8*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a37c63a-ac40-4623-afd1-c1ebea4d88f8*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
      mise-correlation-id:
      - 4bb2c405-67fb-4237-a403-6a0c4b7cd233
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a37c63a-ac40-4623-afd1-c1ebea4d88f8*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a37c63a-ac40-4623-afd1-c1ebea4d88f8*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","name":"8a37c63a-ac40-4623-afd1-c1ebea4d88f8*0B68D2F1B49EFD857A81E33DABF319B1EB675B72E7A796CC967F9C050C78CDD9","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-02DDCFD2/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute01","status":"Succeeded","startTime":"2023-05-25T00:15:11.7048694Z","endTime":"2023-05-25T00:16:46.3800985Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0302b73b-0000-0100-0000-646ea8ee0000"'
    status:
      code: 200
      message: OK
version: 1
