interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"interfaceName":
      "eth0", "l2IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"},
      "tags": {"tag1": "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2023-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-06-21T20:46:07.3035931Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-06-21T20:46:07.3035931Z"},"properties":{"provisioningState":"Accepted","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189?api-version=2023-07-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0410a1c8-0000-0100-0000-649361900000"'
      mise-correlation-id:
      - 9f127f2d-d8b5-4212-bae5-9abf6f1a02ca
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189?api-version=2023-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189","name":"a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Accepted","startTime":"2023-06-21T20:46:07.5627141Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e1020a77-0000-0100-0000-6493618f0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189?api-version=2023-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189","name":"a3d410b4-7305-40ed-b1f4-6bbda25fbea6*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Succeeded","startTime":"2023-06-21T20:46:07.5627141Z","endTime":"2023-06-21T20:46:14.9836414Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e1021177-0000-0100-0000-649361960000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2023-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-06-21T20:46:07.3035931Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-06-21T20:46:17.1142379Z"},"properties":{"provisioningState":"Succeeded","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1","hybridAksPluginType":"SRIOV","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator","associatedResourceIds":[],"hybridAksClustersAssociatedIds":[],"virtualMachinesAssociatedIds":[],"detailedStatus":"Available","detailedStatusMessage":"all
        resource creation succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0410f8c8-0000-0100-0000-649361990000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2023-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-te[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/l2Networks?api-version=2023-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/linquan-sim-rg/providers/Microsoft.NetworkCloud/l2Networks/l2network","name":"l2network","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tags":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-25T05:14:09.0754976Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-25T05:14:09.0754976Z"},"properties":{"provisioningState":"Failed","hybridAksPluginType":"DPDK","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/j25-cluster/providers/Microsoft.NetworkCloud/l2Networks/l2network-569","name":"l2network-569","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/j25-77c882e61c36-hostedresources-516cffcc/providers/microsoft.extendedlocation/customlocations/j25-77c882e61c36-cstm-loc","type":"CustomLocation"},"tags":{"ResourceType":"l2Network","ManagedBy":"nc-labs","LabEnvironment":"j25","ResourceTest":"deployment"},"systemData":{"createdBy":"de975306-d24e-4dec-9d3b-ef05c66f0075","createdByType":"Application","createdAt":"2023-06-18T20:42:00.1547454Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-06-18T20:44:09.5349843Z"},"properties":{"provisioningState":"Succeeded","hybridAksPluginType":"DPDK","l2IsolationDomainId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/j25-cluster/providers/Microsoft.ManagedNetw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks?api-version=2023-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/d1bdc11b-fbe8-466a-83a8-198f2999c9ed*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189?api-version=2023-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/d1bdc11b-fbe8-466a-83a8-198f2999c9ed*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189","name":"d1bdc11b-fbe8-466a-83a8-198f2999c9ed*65C246F4DA46FA5685D49541F22273BFDC1BCC2B45ADECBAB9319FAC13947189","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Succeeded","startTime":"2023-06-21T20:46:45.8656214Z","endTime":"2023-06-21T20:46:55.6768211Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e1027d77-0000-0100-0000-649361bf0000"'
    status:
      code: 200
      message: OK
version: 1
