interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"hybridAksPluginType":
      "DPDK", "interfaceName": "eth0", "isolationDomainIds": ["/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L3IsolationDomains/l3isolationdomain2"],
      "vlans": [1004]}, "tags": {"tag1": "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001","name":"cli-test-trunkednw-000001","type":"microsoft.networkcloud/trunkednetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T20:19:48.5754486Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-15T20:19:48.5754486Z"},"properties":{"provisioningState":"Accepted","hybridAksPluginType":"DPDK","interfaceName":"eth0","isolationDomainIds":["/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L3IsolationDomains/l3isolationdomain2"],"vlans":[1004]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35?api-version=2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bc11bb80-0000-0100-0000-646293e40000"'
      mise-correlation-id:
      - 72c151f5-e161-4523-bd39-27d7bdd030d4
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35","name":"55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001","status":"Accepted","startTime":"2023-05-15T20:19:48.6380764Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b80145b3-0000-0100-0000-646293e40000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35","name":"55b7c400-ce5d-44d5-8542-b26b85074d59*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001","status":"Succeeded","startTime":"2023-05-15T20:19:48.6380764Z","endTime":"2023-05-15T20:20:00.8537366Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b80153b3-0000-0100-0000-646293f00000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001","name":"cli-test-trunkednw-000001","type":"microsoft.networkcloud/trunkednetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T20:19:48.5754486Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-15T20:20:02.3694555Z"},"properties":{"provisioningState":"Succeeded","hybridAksPluginType":"DPDK","interfaceName":"eth0","isolationDomainIds":["/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L3IsolationDomains/l3isolationdomain2"],"vlans":[1004],"clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mbashtovaya-sim2-rg/providers/Microsoft.NetworkCloud/clusters/simulator","associatedResourceIds":[],"hybridAksClustersAssociatedIds":[],"virtualMachinesAssociatedIds":[],"detailedStatus":"Available","detailedStatusMessage":"all
        resource creation succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bc11c58a-0000-0100-0000-646293f20000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/trunkedNetworks?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/trunkedNetworks/trunk-530-535","name":"trunk-530-535","type":"microsoft.networkcloud/trunkednetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations/m16-1-9c522075177c-cstm-loc","type":"CustomLocation"},"tags":{"ResourceType":"trunkednetwork","ManagedBy":"nc-labs","LabEnvironment":"m16-1","ResourceTest":"deployment"},"systemData":{"createdBy":"de975306-d24e-4dec-9d3b-ef05c66f0075","createdByType":"Application","createdAt":"2023-05-09T06:05:41.7087607Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-09T06:05:54.8876338Z"},"properties":{"provisioningState":"Succeeded","isolationDomainIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomain[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001","name":"cli-test-trunkednw-000001","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/08825ed3-eb2e-4df6-9b55-316f4f20c556*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35?api-version=2023-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/08825ed3-eb2e-4df6-9b55-316f4f20c556*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35","name":"08825ed3-eb2e-4df6-9b55-316f4f20c556*6FB1CB30CCD5D91754C15244C24DA6B732F57002D8B0BAEF05F026E88E74BD35","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/trunkedNetworks/cli-test-trunkednw-000001","status":"Succeeded","startTime":"2023-05-15T20:20:27.0268526Z","endTime":"2023-05-15T20:20:35.2056497Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801cdb3-0000-0100-0000-646294130000"'
    status:
      code: 200
      message: OK
version: 1
