interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sim-clustermgr-mrg-potf3lhzemulk/providers/microsoft.extendedlocation/customlocations/sim-cluster-mgr-potf3lhzemulk-cl",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"aggregatorOrSingleRackDefinition":
      {"availabilityZone": "1", "bareMetalMachineConfigurationData": [{"bmcCredentials":
      {"password": "password", "username": "root"}, "bmcMacAddress": "AA:BB:CC:DD:E7:08",
      "bootMacAddress": "AA:BB:CC:F8:71:2E", "machineName": "lab00r750wkr1", "rackSlot":
      2, "serialNumber": "5HS7PK3"}, {"bmcCredentials": {"password": "password",
      "username": "root"}, "bmcMacAddress": "B0:7B:25:FD:E6:CC", "bootMacAddress":
      "B0:7B:25:F8:78:C0", "machineName": "lab00r750wkr2", "rackSlot": 3, "serialNumber":
      "4HS7PK3"}, {"bmcCredentials": {"password": "password", "username": "root"},
      "bmcMacAddress": "B0:7B:25:FD:D8:A4", "bootMacAddress": "B0:7B:25:F8:50:C6",
      "machineName": "lab00r750wkr3", "rackSlot": 4, "serialNumber": "FM56PK3"}, {"bmcCredentials":
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/d507a58f-8d26-4896-874f-2a26fd9ea839*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/d507a58f-8d26-4896-874f-2a26fd9ea839*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33","name":"d507a58f-8d26-4896-874f-2a26fd9ea839*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001","status":"Accepted","startTime":"2023-05-15T22:04:52.9564978Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b80124f8-0000-0100-0000-6462ac840000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001","name":"cli-test-cluster-000001","type":"microsoft.networkcloud/clusters","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sim-clustermgr-mrg-potf3lhzemulk/providers/microsoft.extendedlocation/customlocations/sim-cluster-mgr-potf3lhzemulk-cl","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T22:04:52.6613735Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-15T22:06:21.0017498Z"},"properties":{"provisioningState":"Succeeded","aggregatorOrSingleRackDefinition":{"availabilityZone":"1","bareMetalMachineConfigurationData":[{"rackSlot":2,"bootMacAddress":"AA:BB:CC:F8:71:2E","bmcCredentials":{"username":"root"},"machineName":"lab00r750wkr1","bmcMacAddress":"AA:BB:CC:DD:E7:08","serialNumber":"5HS7PK3"},{"rackSlot":3,"bootMacAddress":"B0:7B:25:F8:78:C0","bmcCredentials":{"username":"root"},"machineName":"lab00r750wkr2","bmcMacAddress":"B0:7B:25:FD:E6:CC","serialNumber":"4HS7PK3"},{"rackSlot":4,"bootMacAddress":"[...]
- request:
    body: '{"properties": {"clusterLocation": "Foo Street, 4rd Floor, row 10"}, "tags":
      {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8e690d04-c295-4597-8981-ab7ab8d35e3d*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05071886-0000-0100-0000-6462ad210000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8e690d04-c295-4597-8981-ab7ab8d35e3d*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33?api-version=2023-10-01-preview
      mise-correlation-id:
      - e46410bb-c128-4e5f-91cf-a99c4ad250b2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8e690d04-c295-4597-8981-ab7ab8d35e3d*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8e690d04-c295-4597-8981-ab7ab8d35e3d*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33","name":"8e690d04-c295-4597-8981-ab7ab8d35e3d*17A55162C7BE02C64110E252BA4CA5B51FCA0D166933B6D3BE88ABDD1A6F9C33","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001","status":"Succeeded","startTime":"2023-05-15T22:07:28.4605528Z","endTime":"2023-05-15T22:07:37.9415965Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801cef9-0000-0100-0000-6462ad290000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/clusters?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synt-test-FunctionalTests-APITestingTemplateJob-westus3_USWest-lg2heycz/providers/Microsoft.NetworkCloud/clusters/cluster8eeb38","name":"cluster8eeb38","type":"microsoft.networkcloud/clusters","location":"westus3","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clustermgr21f81c-hostedresources-46676782/providers/microsoft.extendedlocation/customlocations/clustermgr21f81c-cl","type":"customLocation"},"tags":{"some_key":"some_value"},"systemData":{"createdBy":"7767ac4b-77d4-43ad-ae5d-daf53d32ed03","createdByType":"Application","createdAt":"2023-05-15T21:39:22.0853403Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-15T21:43:43.6383224Z"},"properties":{"provisioningState":"Deleting","availableUpgradeVersions":[],"workloadResourceIds":[],"clusterManagerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synt-test-functionaltests-apitestingtemplatejob-westus3_uswest-lg2heycz/providers/Microsoft.NetworkCloud/clusterManagers/clustermgr21f81c","detailedStatus":"Deleting","detailedStatusMessage":"Cluster
        is in the process of being deleted.","aggregatorOrSingleRackDefinition":{"availabilityZone":"1","bareMetalMachineConfigurationData":[{"rackSlot":2,"bootMacAddress":"B0:7B:25:F8:71:2E","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr1","bmcMacAddress":"B0:7B:25:FD:E7:08","serialNumber":"5HS7PK3"},{"rackSlot":3,"bootMacAddress":"B0:7B:25:F8:78:C0","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr2","machineDetails":"16628585","bmcMacAddress":"B0:7B:25:FD:E6:CC","serialNumber":"4HS7PK3"},{"rackSlot":4,"bootMacAddress":"B0:7B:25:F8:50:C6","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr3","bmcMacAddress":"B0:7B:25:FD:D8:A4","serialNumber":"FM56PK3"},{"rackSlot":5,"bootMacAddress":"B0:7B:25:F8:5B:C8","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr4","bmcMacAddress":"B0:7B:25:FE:82:4E","serialNumber":"7M56PK3"},{"rackSlot":6,"bootMacAddress":"B0:7B:25:DE:7F:F4","bmcCredentials":{"username":"root"},"machineName":"m15r650mgr1","bmcMacAddress":"B0:7B:25:EF:5E:B8","serialNumber":"6P56PK3"},{"rackSlot":7,"bootMacAddress":"B0:7B:25:DE:79:FC","bmcCredentials":{"username":"root"},"machineName":"m15r650mgr2","bmcMacAddress":"B0:7B:25:EF:60:20","serialNumber":"7P56PK3"},{"rackSlot":8,"bootMacAddress":"B0:7B:25:F8:5B:12","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr5","bmcMacAddress":"B0:7B:25:FD:E9:4E","serialNumber":"8HS7PK3"},{"rackSlot":9,"bootMacAddress":"B0:7B:25:F8:76:A6","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr6","bmcMacAddress":"B0:7B:25:FD:E8:52","serialNumber":"2N56PK3"},{"rackSlot":10,"bootMacAddress":"B0:7B:25:F8:60:4C","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr7","bmcMacAddress":"B0:7B:25:FD:E8:40","serialNumber":"GM56PK3"},{"rackSlot":11,"bootMacAddress":"B0:7B:25:F8:50:CA","bmcCredentials":{"username":"root"},"machineName":"m15r750wkr8","bmcMacAddress":"B0:7B:25:FD:DC:76","serialNumber":"9M56PK3"}],"networkRackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m15-lab/providers/Microsoft.Network/virtualNetworks/m15-vnet/subnets/ClusterManagerSubnet","rackLocation":"b37m15r1","rackSerialNumber":"b37m15r1","rackSkuId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Single_DellR750_8C2M_x70r3_9_labonly","storageApplianceConfigurationData":[{"rackSlot":1,"adminCredentials":{"username":"pureuser"},"storageApplianceName":"name","serialNumber":"serial"}]},"analyticsWorkspaceId":"testAnalyticsWorkspaceID","clusterType":"SingleRack","clusterVersion":"0.1.6","computeRackDefinitions":[],"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m15-lab/providers/Microsoft.Network/virtualNetworks/m15-vnet/subnets/M15ClusterManagerSubnet","managedResourceGroupConfiguration":{"location":"westus3","name":"cluster8eeb38-HostedResources-43217B43"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shared-dev-rajeshwarig/providers/Microsoft.NetworkCloud/clusters/arctestcluster1","name":"arctestcluster1","type":"microsoft.networkcloud/clusters","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/arctestcm-hostedresources-5f0deae8/providers/microsoft.extendedlocation/customlocations/ar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001","name":"cli-test-cluster-000001","type":"microsoft.n[...]
