interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"additionalEgressEndpoints":
      [{"category": "azure-resource-management", "endpoints": [{"domainName": "https://storageaccountex.blob.core.windows.net",
      "port": 443}]}], "enableDefaultEgressEndpoints": "False"}, "tags": {"tag1":
      "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001","name":"cli-test-csn-000001","type":"microsoft.networkcloud/cloudservicesnetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T18:53:32.8791981Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-15T18:53:32.8791981Z"},"properties":{"provisioningState":"Accepted","additionalEgressEndpoints":[{"category":"azure-resource-management","endpoints":[{"domainName":"https://storageaccountex.blob.core.windows.net","port":443}]}],"enableDefaultEgressEndpoints":"False"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ce101978-0000-0100-0000-64627fad0000"'
      mise-correlation-id:
      - 760069a9-e9db-4cda-ae68-75d43ccc498e
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A","name":"8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001","status":"Accepted","startTime":"2023-05-15T18:53:32.9630291Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801f77d-0000-0100-0000-64627fac0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A","name":"8a612b78-30b5-4995-af7a-4cae0c0ce028*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001","status":"Succeeded","startTime":"2023-05-15T18:53:32.9630291Z","endTime":"2023-05-15T18:53:41.5619673Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8012e7e-0000-0100-0000-64627fb50000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001","name":"cli-test-csn-000001","type":"microsoft.networkcloud/cloudservicesnetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T18:53:32.8791981Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-15T18:53:42.2484214Z"},"properties":{"provisioningState":"Succeeded","additionalEgressEndpoints":[{"category":"azure-resource-management","endpoints":[{"domainName":"https://storageaccountex.blob.core.windows.net","port":443}]}],"enableDefaultEgressEndpoints":"False","interfaceName":"cloudservices","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mbashtovaya-sim2-rg/providers/Microsoft.NetworkCloud/clusters/simulator","hybridAksClustersAssociatedIds":[],"virtualMachinesAssociatedIds":[],"detailedStatus":"Available","detailedStatusMessage":"all
        resource creation succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ce10927a-0000-0100-0000-64627fb60000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/cloudServicesNetworks?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-596E8427/providers/Microsoft.NetworkCloud/cloudServicesNetworks/vmconsolecsn","name":"vmconsolecsn","type":"microsoft.networkcloud/cloudservicesnetworks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-596e8427/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001","name":"cli-test-csn-000001","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/15f2907e-6318-4100-8bb4-e825b0147b44*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/15f2907e-6318-4100-8bb4-e825b0147b44*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A","name":"15f2907e-6318-4100-8bb4-e825b0147b44*D5101039E0FE2791BF8AF08C71AF55F873D00D411B0E728DC6069B27C489109A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cli-test-csn-000001","status":"Succeeded","startTime":"2023-05-15T18:54:39.5641071Z","endTime":"2023-05-15T18:54:45.0931794Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801e87e-0000-0100-0000-64627ff50000"'
    status:
      code: 200
      message: OK
version: 1
