interactions:
- request:
    body: '{"bmcCredentials": {"password": "password", "username": "ZFhObGNtNWhiV1VL"},
      "bmcMacAddress": "AA:BB:CC:DD:EE:BB", "bootMacAddress": "52:54:00:68:9b:b1",
      "machineName": "rack1compute02", "serialNumber": "BM1219XXX"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-00245EF8/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02/replace?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E?api-version=2023-10-01-preview
      mise-correlation-id:
      - 6f1215b9-819d-4691-9506-df10184e8949
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E","name":"589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-00245EF8/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02","status":"Accepted","startTime":"2023-06-05T17:40:21.9932871Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b02b318-0000-0100-0000-647e1e050000"'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E","name":"589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-00245EF8/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02","status":"Succeeded","startTime":"2023-06-05T17:40:21.9932871Z","endTime":"2023-06-05T17:58:38.2627424Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b020023-0000-0100-0000-647e224e0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E","name":"589e8e72-fbfd-4312-9080-532ad0529918*4783309B1F7EE70879AEDE380B5A7A093A2D97638FE4BF3090F9FD922D7D479E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-00245EF8/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02","status":"Succeeded","startTime":"2023-06-05T17:40:21.9932871Z","endTime":"2023-06-05T17:58:38.2627424Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b020023-0000-0100-0000-647e224e0000"'
    status:
      code: 200
      message: OK
version: 1
