interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
      "type": "CustomLocation"}, "location": "eastus", "properties": {"hybridAksPluginType":
      "DPDK", "interfaceName": "eth0", "l2IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"},
      "tags": {"tag1": "tag1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T19:08:09.521542Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-15T19:08:09.521542Z"},"properties":{"provisioningState":"Accepted","hybridAksPluginType":"DPDK","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600f339-0000-0100-0000-646283190000"'
      mise-correlation-id:
      - 8f3db77a-faca-4046-b5ba-d4744a1451c1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217","name":"c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Accepted","startTime":"2023-05-15T19:08:09.6060449Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8018087-0000-0100-0000-646283190000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217","name":"c301bfc3-12de-447d-8e8a-09717618992d*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Succeeded","startTime":"2023-05-15T19:08:09.6060449Z","endTime":"2023-05-15T19:08:19.9396107Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8018e87-0000-0100-0000-646283230000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-15T19:08:09.521542Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-15T19:08:21.2796508Z"},"properties":{"provisioningState":"Succeeded","hybridAksPluginType":"DPDK","interfaceName":"eth0","l2IsolationDomainId":"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mbashtovaya-sim2-rg/providers/Microsoft.NetworkCloud/clusters/simulator","hybridAksClustersAssociatedIds":[],"virtualMachinesAssociatedIds":[],"detailedStatus":"Available","detailedStatusMessage":"all
        resource creation succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600f539-0000-0100-0000-646283250000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "tag1", "tag2": "tag2update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/l2Networks?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/l2Networks/l2network-569","name":"l2network-569","type":"microsoft.networkcloud/l2networks","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations/m16-1-9c522075177c-cstm-loc","type":"CustomLocation"},"tags":{"ResourceType":"l2Network","ManagedBy":"nc-labs","LabEnvironment":"m16-1","ResourceTest":"deployment"},"systemData":{"createdBy":"de975306-d24e-4dec-9d3b-ef05c66f0075","createdByType":"Application","createdAt":"2023-05-09T06:05:38.5742447Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-09T06:08:20.0601402Z"},"properties":{"provisioningState":"Succeeded","hybridAksPluginType":"DPDK","l2IsolationDomainId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.ManagedNe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","name":"cli-test-l2-000001","type":"microsoft.network[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/81d31434-e325-4a7c-b452-570ff827749b*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/81d31434-e325-4a7c-b452-570ff827749b*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217","name":"81d31434-e325-4a7c-b452-570ff827749b*E574335E3029FE5A9C64BF881EDCE043E13C75957E2EB98E234A67BD37162217","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/l2Networks/cli-test-l2-000001","status":"Succeeded","startTime":"2023-05-15T19:08:45.5277725Z","endTime":"2023-05-15T19:09:00.4031821Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801e787-0000-0100-0000-6462834c0000"'
    status:
      code: 200
      message: OK
version: 1
