interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1/enableRemoteVendorManagement?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C?api-version=2023-10-01-preview
      mise-correlation-id:
      - ba1de8cc-dc96-4239-a014-62e192b6dc15
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C","name":"44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1","status":"Accepted","startTime":"2023-05-18T23:35:36.9327832Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4c00f573-0000-0100-0000-6466b6480000"'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C","name":"44262eef-d916-4426-991d-858da7ef2db2*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1","status":"Succeeded","startTime":"2023-05-18T23:35:36.9327832Z","endTime":"2023-05-18T23:35:51.7402011Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4c009078-0000-0100-0000-6466b6570000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1/disableRemoteVendorManagement?api-version=2023-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/d7614dcd-45e5-4c18-bb69-9328b99ab709*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C?api-version=2023-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/d7614dcd-45e5-4c18-bb69-9328b99ab709*B0E965AEBB5A6247B18AE5AA08D2CEB57E7A499CA846E41D4FB48448D8618A6C?api-version=2023-10-01-preview
      mise-correlation-id:
      - 2b1025cd-dce3-451f-bcfe-12d40a7d54a2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1","name":"b37m16purestor1","type":"microsoft.networkcloud/storageappliances","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations/m16-1-9c522075177c-cstm-loc","type":"CustomLocation"},"tags":{"CreatedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-hostedresources-07abb5ff/providers/microsoft.extendedlocation/customlocations/m16-1-9c522075177c-cstm-loc/resourcesyncrules/storageapplianceshydrationrule"},"systemData":{"createdBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","createdByType":"Application","createdAt":"2023-05-09T04:49:02.2693193Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-05-18T23:36:18.4413384Z"},"properties":{"rackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/racks/b37m16r1","storageApplianceSkuId":"Pure_x70r3_9_91000GB","serialNumber":"serial","rackSlot":1,"administratorCredentials":{"username":"pureuser"},"clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/clusters/m16-1-9c522075177c","detailedStatus":"Available","detailedStatusMessage":"OK","managementIpv4Address":"172.29.70.60","capacity":11792,"capacityUsed":1,"remoteVendorManagementStatus":"Disabled","remoteVendorManagementFeature":"Supported","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"42006f66-0000-0100-0000-6466b6720000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/storageAppliances?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-HostedResources-79D8EB80/providers/Microsoft.NetworkCloud/storageAppliances/storage-appliance","name":"storage-appliance","type":"microsoft.networkcloud/storageappliances","location":"westus3","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/simulator-hostedresources-79d8eb80/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc","type":"CustomLocat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/m16-1-9c522075177c-HostedResources-07ABB5FF/providers/Microsoft.NetworkCloud/storageAppliances[...]
[...]
