interactions:
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CM-simdev-2444489-5ortjre5carf2/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-5ortjre5carf2-cl",
      "type": "CustomLocation"}, "identity": {"type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CM-simdev-2444489-5ortjre5carf2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sim-cluster-mgr-5ortjre5carf2-aks-cp":
      {}}}, "location": "uksouth", "properties": {"aggregatorOrSingleRackDefinition":
      {"availabilityZone": "1", "bareMetalMachineConfigurationData": [{"bmcCredentials":
      {"password": "password", "username": "root"}, "bmcMacAddress": "AA:BB:CC:DD:E7:08",
      "bootMacAddress": "AA:BB:CC:F8:71:2E", "machineName": "lab00r750wkr1", "rackSlot":
      2, "serialNumber": "5HS7PK3"}, {"bmcCredentials": {"password": "password",
      "username": "root"}, "bmcMacAddress": "AA:BB:CC:DD:E6:CC", "bootMacAddress":
      "AA:BB:CC:F8:78:C0", "machineDetails": "16628585", "machineName": "lab00r750wkr2",
      "rackSlot": 3, "serialNumber": "4HS7PK3"}, {"bmcCredentials": {"password": "password",
      "username": "root"}, "bmcMacAddress": "AA:BB:CC:DD:D8:A4", "bootMacAddress":
      "AA:BB:CC:F8:50:C6", "machineName": "lab00r750wkr3", "rackSlot": 4, "serialNumber":
      "FM56PK3"}, {"bmcCredentials": {"password": "password", "username": "root"},
      "bmcMacAddress": "AA:BB:CC:FE:82:4E", "bootMacAddress": "AA:BB:CC:F8:5B:C8",
      "machineName": "l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/5b95c950-4664-414c-a394-58f63e8ba2d6*9030A4C144380DF2DB8762635C5DC17548753968F334FCC38578DDDCC7A7D13E?api-version=2025-07-01-preview&t=638597632118657037&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI5MDUyNzU1WhcNMjUwNjI0MD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001?api-version=2025-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001","name":"cli-test-cluster-000001","type":"microsoft.networkcloud/clusters","location":"uksouth","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CM-simdev-2444489-5ortjre5carf2/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-5ortjre5carf2-cl","type":"CustomLocation"},"tags":{"tag1":"tag1"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2024-08-20T15:06:50.3500496Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2024-08-20T15:08:22.4757281Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CM-simdev-2444489-5ortjre5carf2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sim-cluster-mgr-5ortjre5carf2-aks-cp":{"clientId":"73472978-7ce5-4033-8790-436b6ccea147","principalId":"75669a28-c160-4f89-9fe0-8cf52e5c30f5"}}},"properties":{"aggregatorOrSingleRackDefinition":{"availabilityZone":"1","bareMetalMachineConfigurationData":[{"rackSlot":2,"bootMacAddress":"AA:BB:CC:F8:71:2E","bmcCredentials":{"username":"root"},"machineName":"lab00r750wkr1","bmcMacAddress":"AA:BB:CC:DD:E7:08","serialNumber":"5HS7PK3"},{"rackSlot":3,"bootMacAddress":"AA:BB:CC:F8:78:C0","bmcCredentials":{"username":"root"},"machineName":"lab00r750wkr2","machineDetails":"16628585","bmcMacAddress":"AA:BB[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CM-simdev-2444489-5ortjre5carf2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sim-cluster-mgr-5ortjre5carf2-aks-cp":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001?api-version=2025-07-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/0345ecdc-a70f-4836-96b7-5d38facaf18b*9030A4C144380DF2DB8762635C5DC17548753968F334FCC38578DDDCC7A7D13E?api-version=2025-07-01-preview&t=638597633673495927&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI5MDUyNzU1WhcNMjUwNjI0MDUyNzU1W[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/0345ecdc-a70f-4836-96b7-5d38facaf18b*9030A4C144380DF2DB8762635C5DC17548753968F334FCC38578DDDCC7A7D13E?api-version=2025-07-01-preview&t=638597633673495927&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/clusters?api-version=2025-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev01-cluster-1/providers/Microsoft.NetworkCloud/clusters/dev01-abf10006fcbb","name":"dev01-abf10006fcbb","type":"microsoft.networkcloud/clusters","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/dev01-clustermgr-mrg-je4phppniz3ck/providers/microsoft.extendedlocation/customlocations/dev01-je4phppniz3ck-cl","type":"CustomLocation"},"tags":{"ManagedBy":"nc-labs","LabEnvironment":"dev01","ResourceType":"cluster","sshKeyUrl":"https://aka.ms/aods-nc-ssh","SkipHardwareValidation":"false","CredentialRotationPeriod":"1"},"systemData":{"createdBy":"241b58c0-92c3-4757-82a2-c1066d9bd3c9","createdByType":"Application","createdAt":"2024-05-24T15:37:22.0655285Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2024-05-27T02:41:47.0279768Z"},"properties":{"analyticsWorkspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev01-cluster-1/providers/Microsoft.OperationalInsights/workspaces/dev01-law-56pbf554w7oaa","networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aods-lab-eastus2euap/providers/Microsoft.Network/virtualNetworks/aods-lab-eastus2euap-vnet/subnets/ClusterManagerSubnet","clusterType":"SingleRack","clusterVersion":"3.11.0","aggregatorOrSingleRackDefinition":{"networkRackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aods-lab-eastus2euap/providers/Microsoft.Network/virtualNetworks/aods-lab-eastus2euap-vnet/subnets/ClusterManagerSubnet","rackSkuId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/rackSkus/VNearEdge1_Single_DellR750_8C2M_x70r3_9_labonly","rackSerialNumber":"b37dev01a1","rackLocation":"b37dev01a1","availabilityZone":"A","storageApplianceConfigurationData":[{"rackSlot":1,"adminCredentials":{"username":"pureuser"},"storageApplianceName":"B37DEV01A1PU01","serialNumber":"serial"}],"bareMetalMachineConfigurationData":[{"rackSlot":2,"bootMacAddress":"B0:7B:25:F8:71:2E","bmcCredentials":{"username":"root"},"bmcConnectionString":"redfish+https://10.0.3.11/redfish/v1/Systems/System.Embedded.1","machineName":"B37DEV01A1CO01","bmcMacAddress":"B0:7B:25:FD:E7:08","serialNumber":"5HS7PK3"},{"rackSlot":3,"bootMacAddress":"B0:7B:25:F8:78:C0","bmcCredentials":{"username":"root"},"bmcConnectionString":"redfish+https://10.0.3.12/redfish/v1/Systems/System.Embedded.1","machineName":"B37DEV01A1CO02","machineDetails":"16628585","bmcMacAddress":"B0:7B:25:FD:E6:CC","serialNumber":"4HS7PK3"},{"rackSlot":4,"bootMacAddress":"B0:7B:25:F8:50[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters?api-version=2025-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.NetworkCloud/clusters/cli-test-cluster-000001","name":"cli-test-cluster-000001","type":"microsoft.n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/e41cf5c3-c392-455e-af0f-7f0bef602090*9030A4C144380DF2DB8762635C5DC17548753968F334FCC38578DDDCC7A7D13E?api-version=2025-07-01-preview&t=638597634027937315&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
