interactions:
- request:
    body: '{"location": "eastus", "properties": {"analyticsWorkspaceId": "", "fabricControllerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ssteinbrueck-sim-rg/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/azcli3",
      "managedResourceGroupConfiguration": {"name": "cli-test-cm-mrg-000002"}}, "tags":
      {"DisableFabricIntegration": "true"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001","name":"cli-test-cm-000001","type":"microsoft.networkcloud/clustermanagers","location":"eastus","tags":{"DisableFabricIntegration":"true"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-19T18:11:12.2648025Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-19T18:11:12.2648025Z"},"properties":{"analyticsWorkspaceId":"","fabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ssteinbrueck-sim-rg/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/azcli3","managedResourceGroupConfiguration":{"location":"eastus","name":"cli-test-cm-mrg-000002"},"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/372bd487-9f26-44b4-8b47-0d677763d6b7*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5?api-version=2022-12-12-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"21003d93-0000-0100-0000-6467bbc00000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/372bd487-9f26-44b4-8b47-0d677763d6b7*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/372bd487-9f26-44b4-8b47-0d677763d6b7*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5","name":"372bd487-9f26-44b4-8b47-0d677763d6b7*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001","status":"Accepted","startTime":"2023-05-19T18:11:12.3390319Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8a0094fc-0000-0100-0000-6467bbc00000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001","name":"cli-test-cm-000001","type":"microsoft.networkcloud/clustermanagers","location":"eastus","tags":{"DisableFabricIntegration":"true","nc:environment":"sandbox"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-19T18:11:12.2648025Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-19T18:11:12.2648025Z"},"properties":{"analyticsWorkspaceId":"","fabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ssteinbrueck-sim-rg/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/azcli3","managedResourceGroupConfiguration":{"location":"eastus","name":"cli-test-cm-mrg-000002"},"provisioningState":"Succeeded","availabilityZones":["1","2","3"],"vmSize":"Standard_D4_v2","clusterVersions":[{"supportExpiryDate":"2023-07-31
        00:00:00 +0000 UTC","targetClusterVersion":"3.1.0"},{"supportExpiryDate":"2023-07-31
        00:00:00 +0000 UTC","targetClusterVersion":"3.2.0"}],"managerExtendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cm-mrg-000002/providers/microsoft.extendedlocation/customlocations/cli-test-cm-000001-cl","type":"CustomLocation"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"210044c4-0000-0100-0000-6467bfc30000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"DisableFabricIntegration": "true", "tagUpdate": "NewTag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers?api-version=2022-12-12-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001","name":"cli-test-cm-000001","type":"microsoft.networkcloud/clustermanagers","location":"eastus","tags":{"DisableFabricIntegration":"true","tagUpdate":"NewTag"},"systemData":{"createdBy":"REDACTED","createdByType":"User","createdAt":"2023-05-19T18:11:12.2648025Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2023-05-19T18:28:51.5647522Z"},"properties":{"analyticsWorkspaceId":"","fabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ssteinbrueck-sim-rg/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/azcli3","managedResourceGroupConfiguration":{"location":"eastus","name":"cli-test-cm-mrg-000002"},"provisioningState":"Succeeded","availabilityZones":["1","2","3"],"vmSize":"Standard_D4_v2","clusterVersions":[{"supportExpiryDate":"2023-07-31
        00:00:00 +0000 UTC","targetClusterVersion":"3.1.0"},{"supportExpiryDate":"2023-07-31
        00:00:00 +0000 UTC","targetClusterVersion":"3.2.0"}],"managerExtendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cm-mrg-000002/providers/microsoft.extendedlocation/customlocations/cli-test-cm-000001-cl","type":"CustomLocation"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 94816504-2e14-41b0-b78a-a251db2ef181
      - da54713d-824d-4df3-9b13-a0b93a4a6fa9
      - 55dbd84d-bdf2-4bdb-9995-462e473c8863
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0fd2db80-87be-4837-a326-b67d3d399976*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5?api-version=2022-12-12-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0fd2db80-87be-4837-a326-b67d3d399976*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5","name":"0fd2db80-87be-4837-a326-b67d3d399976*0CBDF305C8906FCFE85640DBAEDED030B318DD66AC83DFB193388F418BD9C2E5","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000003/providers/Microsoft.NetworkCloud/clusterManagers/cli-test-cm-000001","status":"Succeeded","startTime":"2023-05-19T18:28:55.0925582Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"04004b54-0000-4d00-0000-6467c1cf0000"'
    status:
      code: 200
      message: OK
version: 1
