interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001","name":"cli_test_fluid_relay000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-07-26T08:17:39Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1?api-version=2021-09-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1","name":"id1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"94d9ffac-0ee0-45e8-85fa-17dc7f01003e","clientId":"d5c4a05b-e7a9-433b-ae72-3d4c7a06653c"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westus2", "properties":
      {"storagesku": "standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1","name":"testfr1","type":"microsoft.fluidrelay/fluidrelayservers","location":"westus2","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2022-07-26T08:18:04.5951015Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-07-26T08:18:04.5951015Z"},"identity":{"principalId":"a4b0d2b5-49fa-4789-bad0-c70b3405d840","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"frsTenantId":"22851c80-feb2-4c5b-b4d1-e3c0098ba2a6","fluidRelayEndpoints":{"ordererEndpoints":["https://alfred.westus2.fluidrelay.azure.com"],"storageEndpoints":["https://historian.westus2.fluidrelay.azure.com"],"serviceEndpoints":["https://us.fluidrelay.azure.com"]},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a901fc2d-0000-0500-0000-62dfa3410000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"category": "sales"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1","name[...]
- request:
    body: '{"identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id2":
      {}}}, "location": "westus2", "properties": {"storagesku": "standard"}, "tags":
      {"category": "sales"}}'
    headers:
      Content-Type:
      - applic[...]
[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}, "location": "westus2", "properties": {"encryption": {"customerManagedKeyEncryption":
      {"keyEncryptionKeyIdentity": {"identityType": "UserAssigned", "userAssignedIdentityResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1"},
      "keyEncryptionKeyUrl": "https://contosovault.vault.azure.net/keys/contosokek"}},
      "storagesku": "basic"}, "tags": {"category": "sales"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr3?api-version=2022-06-01
  response:
    body:
      string: '{"error":{"code":"503","message":"CMK is temporarily not available
        and it is not allowed to enable CMK on new Fluid Relay resource for now."}}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2-nOO9QiTIwXgNtWtBJezz8kv3SLc"
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 503
      message: Service Unavailable
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers?api-version=2022-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1","name":"testfr1","type":"microsoft.fluidrelay/fluidrelayservers","location":"westus2","tags":{"category":"sales"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2022-07-26T08:18:04.5951015Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-07-26T08:1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FluidRelay/fluidRelayServers?api-version=2022-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1","name":"testfr1","type":"microsoft.fluidrelay/fluidrelayservers","location":"w[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1/listKeys?api-version=2022-06-01
  response:
    body:
      string: '{"key1":"e41d729bf36168eeaccc0f66f97c2486","key2":"2b3abaf037ee0dba3cf51230eeb6bef0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"55-QjagqOVPZDiqqJ/0uYFP/yiGMIE"
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1/regenerateKey?api-version=2022-06-01
  response:
    body:
      string: '{"key1":"602457e69e82ea2657f654dd173c0f12","key2":"2b3abaf037ee0dba3cf51230eeb6bef0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"55-W1GsEwkkycr0f0PfZobcXOFaWlk"
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1/fluidRelayContainers?api-version=2022-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c-ct3goOI+b+kRZv2R9j2fTtMXwkk"
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers?api-version=2022-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 417cda3e-8228-4da8-acb6-fb30c84ac778
      - 5824a485-6fe5-40f7-bc1c-4d8792813136
      - ebc6b3e7-874d-4bfb-a60f-cd9b27412baa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FluidRelay/fluidRelayServers?api-version=2022-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5e542a4d-599f-46e3-87a1-9ab9579712ac
      - 89f62730-8a44-413d-bd52-119f005eadd9
      - 9f17c2fc-7d2a-4512-8950-795e10199c15
    status:
      code: 200
      message: OK
version: 1
