interactions:
- request:
    body: '{"location": "westus", "tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"collectorPolicies\": [],\r\n    \"provisioningState\":
        \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002\",\r\n
        \ \"name\": \"cli_test_atc-000002\",\r\n  \"type\": \"Microsoft.NetworkFunction/AzureTrafficCollectors\",\r\n
        \ \"etag\": \"b7a347a5-0246-4af5-a17b-70226e720be6\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperations/cc45ae94-d7af-4484-87c0-2cc0efd18253?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperations/cc45ae94-d7af-4484-87c0-2cc0efd18253?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"collectorPolicies\":
        [],\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002\",\r\n
        \     \"name\": \"cli_test_atc-000002\",\r\n      \"type\": \"Microsoft.NetworkFunction/AzureTrafficCollectors\",\r\n
        \     \"etag\": \"b7a347a5-0246-4af5-a17b-70226e720be6\",\r\n      \"location\":
        \"westus\",\r\n      \"tags\": {\r\n        \"foo\": \"doo\"\r\n      }\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_traffic_collector000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001","name":"cli_test_azure_traffic_collector000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-03-28T14:15:35Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"ingestionPolicy": {"ingestionSources":
      [{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.Network/expressRouteCircuits/cli_test_cp-000003",
      "sourceType": "Resource"}], "ingestionType": "IPFIX"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002/collectorPolicies/cli_test_cp-000003?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"ingestionPolicy\": {\r\n      \"ingestionType\":
        \"IPFIX\",\r\n      \"ingestionSources\": [\r\n        {\r\n          \"sourceType\":
        \"Resource\",\r\n          \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.Network/expressRouteCircuits/cli_test_cp-000003\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"emissionPolicies\": [],\r\n    \"processingPolcies\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002/collectorPolicies/cli_test_cp-000003\",\r\n
        \ \"name\": \"cli_test_cp-000003\",\r\n  \"type\": \"Microsoft.NetworkFunction/AzureTrafficCollectors/CollectorPolicies\",\r\n
        \ \"etag\": \"5f54cbcd-bcbc-44b3-a768-af5e56c0c4e0\",\r\n  \"location\": \"westus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperations/ab33c754-ef23-4f25-905b-37e748c50214?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"emissionPolicies": [{"emissionDestinations":
      [{"destinationType": "AzureMonitor"}], "emissionType": "IPFIX"}], "ingestionPolicy":
      {"ingestionSources": [{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.Network/expressRouteCircuits/cli_test_cp-000003",
      "sourceType": "Resource"}], "ingestionType": "IPFIX"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperationResults/fd0edc85-00ac-444c-bb34-68d7f8b34b73?api-version=2022-11-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperationResults/3b888bbb-0257-4f13-8526-734d22e199cb?api-version=2022-11-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
