interactions:
- request:
    body: '{"location": "westus", "tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"collectorPolicies\": [],\r\n    \"provisioningState\":
        \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002\",\r\n
        \ \"name\": \"cli_test_atc-000002\",\r\n  \"type\": \"Microsoft.NetworkFunction/AzureTrafficCollectors\",\r\n
        \ \"etag\": \"8d4165eb-e798-4c02-8da7-7b9fe62f2f1b\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperations/7a55817b-7420-4c7e-8888-9568e2750745?api-version=2022-08-01
      content-type:
      - application/json; charset=utf-8
      www-authenticate-dsts:
      - http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.windows.net/,certificate-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/certificate,issued-token-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://uswest-dsts.dsts.core.windows.net/2012/IDstsDiscoveryService,service-dns-name=westus.test.nfvrp.azure.com,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description="The
        security token is invalid. Cannot decode base64 encoded string. The input
        is not a valid Base-64 string as it contains a non-base 64 character, more
        than two padding characters, or an illegal character among the padding characters.
        "
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperations/7a55817b-7420-4c7e-8888-9568e2750745?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate-dsts:
      - http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.windows.net/,certificate-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/certificate,issued-token-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://uswest-dsts.dsts.core.windows.net/2012/IDstsDiscoveryService,service-dns-name=westus.test.nfvrp.azure.com,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description="The
        security token is invalid. Cannot decode base64 encoded string. The input
        is not a valid Base-64 string as it contains a non-base 64 character, more
        than two padding characters, or an illegal character among the padding characters.
        "
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"collectorPolicies\":
        [],\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002\",\r\n
        \     \"name\": \"cli_test_atc-000002\",\r\n      \"type\": \"Microsoft.NetworkFunction/AzureTrafficCollectors\",\r\n
        \ [...]
[...]
- request:
    body: '{"location": "westus", "properties": {"ingestionPolicy": {"ingestionSources":
      [{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.Network/expressRouteCircuits/cli_test_cp-000003",
      "sourceType": "Resource"}], "ingestionType": "IPFIX"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002/collectorPolicies/cli_test_cp-000003?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"ingestionPolicy\": {\r\n      \"ingestionType\":
        \"IPFIX\",\r\n      \"ingestionSources\": [\r\n        {\r\n          \"sourceType\":
        \"Resource\",\r\n          \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.Network/expressRouteCircuits/cli_test_cp-000003\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"emissionPolicies\": [],\r\n    \"processingPolcies\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.NetworkFunction/azureTrafficCollectors/cli_test_atc-000002/collectorPolicies/cli_test_cp-000003\",\r\n
        \ \"name\": \"cli_test_cp-000003\",\r\n  \"type\": \"Microsoft.NetworkFunction/AzureTrafficCollectors/CollectorPolicies\",\r\n
        \ \"etag\": \"507a5cf1-dad8-4b1e-9f60-0e4b700edab[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"emissionPolicies": [{"emissionDestinations":
      [{"destinationType": "AzureMonitor"}], "emissionType": "IPFIX"}], "ingestionPolicy":
      {"ingestionSources": [{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_traffic_collector000001/providers/Microsoft.Network/expressRouteCircuits/cli_test_cp-000003",
      "sourceType": "Resource"}], "ingestionType": "IPFIX"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperationResults/bc09cd1c-dec1-4c21-96c2-4978713c321b?api-version=2022-08-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate-dsts:
      - http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.windows.net/,certificate-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/certificate,issued-token-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://uswest-dsts.dsts.core.windows.net/2012/IDstsDiscoveryService,service-dns-name=westus.test.nfvrp.azure.com,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description="The
        security token is invalid. Cannot decode base64 encoded string. The input
        is not a valid Base-64 string as it contains a non-base 64 character, more
        than two padding characters, or an illegal character among the padding characters.
        "
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetworkFunction/locations/westus/nfvOperationResults/9369d065-2fcc-4ca1-a870-ab49ff97ad70?api-version=2022-08-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate-dsts:
      - http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.windows.net/,certificate-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/certificate,issued-token-sts-address=https://uswest-dsts.dsts.core.windows.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://uswest-dsts.dsts.core.windows.net/2012/IDstsDiscoveryService,service-dns-name=westus.test.nfvrp.azure.com,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description="The
        security token is invalid. Cannot decode base64 encoded string. The input
        is not a valid Base-64 string as it contains a non-base 64 character, more
        than two padding characters, or an illegal character among the padding characters.
        "
    status:
      code: 200
      message: OK
version: 1
