interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest_amcs_endpoints000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001","name":"clitest_amcs_endpoints000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2022-04-21T09:49:54Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"networkAcls": {"publicNetworkAccess":
      "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints/endpoint1?api-version=2021-09-01-preview
  response:
    body:
      string: '{"properties":{"immutableId":"dce-6bf72b1e442446c9b5f294a243f33c11","configurationAccess":{"endpoint":"https://endpoint1-cdsd.eastus2euap-1.handler.canary.control.monitor.azure.com"},"logsIngestion":{"endpoint":"https://endpoint1-cdsd.eastus2euap-1.canary.ingest.monitor.azure.com"},"networkAcls":{"publicNetworkAccess":"Disabled"},"provisioningState":"Succeeded"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints/endpoint1","name":"endpoint1","type":"Microsoft.Insights/dataCollectionEndpoints","etag":"\"00001c76-0000-3300-0000-626128cf0000\"","systemData":{"createdBy":"ethanyang@microsoft.com","createdByType":"User","createdAt":"2022-04-21T09:50:05.1808069Z","lastModifiedBy":"ethanyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-21T09:50:05.1808069Z"}}'
    headers:
      api-supported-versions:
      - 2021-04-01, 2021-09-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '59'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "kind": "Windows", "properties": {"immutableId":
      "dce-6bf72b1e442446c9b5f294a243f33c11", "configurationAccess": {}, "logsIngestion":
      {}, "networkAcls": {"publicNetworkAccess": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints/endpoint1?api-version=2021-09-01-preview
  re[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints?api-version=2021-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"immutableId":"dce-6bf72b1e442446c9b5f294a243f33c11","configurationAccess":{"endpoint":"https://endpoint1-cdsd.eastus2euap-1.handler.canary.control.monitor.azure.com"},"logsIngestion":{"endpoint":"https://endpoint1-cdsd.eastus2euap-1.canary.ingest.monitor.azure.com"},"networkAcls":{"publicNetworkAccess":"Enabled"},"provisioningState":"Succeeded"},"location":"eastus2euap","kind":"Windows","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoin[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints/endpoint2?api-version=2021-09-01-preview
  response:
    body:
      string: '{"error":{"code":"ProcessingError","message":"The scope ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-amcs-canary-eeap/providers/Microsoft.Network/dnsZones/eastus2euap-1.handler.canary.control.monitor.azure.com/CNAME/endpoint2-cc4j''
        cannot perform delete operation because following scope(s) are locked: ''/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-amcs-canary-eeap/providers/Microsoft.Network/DNSZones/eastus2euap-1.handler.canary.control.monitor.azure.com''.
        Please remove the lock and try again."}}'
    headers:
      api-supported-versions:
      - 2021-04-01, 2021-09-01-preview
      content-type:
      - application/json
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints?api-version=2021-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"immutableId":"dce-6bf72b1e442446c9b5f294a243f33c11","configurationAccess":{"endpoint":"https://endpoint1-cdsd.eastus2euap-1.handler.canary.control.monitor.azure.com"},"logsIngestion":{"endpoint":"https://endpoint1-cdsd.eastus2euap-1.canary.ingest.monitor.azure.com"},"networkAcls":{"publicNetworkAccess":"Enabled"},"provisioningState":"Succeeded"},"location":"eastus2euap","kind":"Windows","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_amcs_endpoints000001/providers/Microsoft.Insights/dataCollectionEndpoints/endpoint1","name":"endpoint1","type":"Microsoft.Insights/dataCollectionEndpoints","etag":"\"00002576-0000-3300-0000-626128d60000\"","systemData":{"createdBy":"ethanyang@microsoft.com","createdByType":"User","createdAt":"2022-04-21T09:50:05.1808069Z","lastModifiedBy":"ethanyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-21T09:50:14.0042181Z"}}],"nextLink":null}'
    headers:
      api-supported-versions:
      - 2021-04-01, 2021-09-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
