interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fleet-cli-000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001","name":"fleet-cli-000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2022-08-19T03:42:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"hubProfile": {"dnsPrefix":
      "fleet-bawb-fleet-cli-000001-8ecadf"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002?api-version=2022-06-02-preview
  response:
    body:
      string: '{"etag":"\"00009711-0000-3300-0000-62ff06900000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002","location":"centraluseuap","name":"fleet-000002","properties":{"hubProfile":{"dnsPrefix":"fleet-bawb-fleet-cli-000001-8ecadf","fqdn":"","kubernetesVersion":""},"provisioningState":"Creating"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/168f57b2-252d-4b66-92f4-ce348f609937?api-version=2016-03-30
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/168f57b2-252d-4b66-92f4-ce348f609937?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b2578f16-2d25-664b-92f4-ce348f609937\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-08-19T03:42:08.5812282Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/168f57b2-252d-4b66-92f4-ce348f609937?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b2578f16-2d25-664b-92f4-ce348f609937\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-08-19T03:42:08.5812282Z\",\n  \"endTime\":
        \"2022-08-19T03:48:28.7998456Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002?api-version=2022-06-02-preview
  response:
    body:
      string: '{"etag":"\"00009e11-0000-3300-0000-62ff08190000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002","location":"centraluseuap","name":"fleet-000002","properties":{"hubProfile":{"dnsPrefix":"fleet-bawb-fleet-cli-000001-8ecadf","fqdn":"fleet-bawb-fleet-cli-000001-8ecadf-d7091b43.hcp.centraluseuap.azmk8s.io","kubernetesVersion":"1.23.8"},"provisioningState":"Succeeded"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets?api-version=2022-06-02-preview
  response:
    body:
      string: '{"value":[{"etag":"\"00009d11-0000-3300-0000-62ff080c0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002","location":"centraluseuap","name":"fleet-000002","properties":{"hubProfile":{"dnsPrefix":"fleet-bawb-fleet-cli-000001-8ecadf","fqdn":"fleet-bawb-fleet-cli-000001-8ecadf-d7091b43.hcp.centraluseuap.azmk8s.io","kubernetesVersion":"1.23.8"},"provisioningState":"Succeeded"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/fleets?api-version=2022-06-02-preview
  response:
    body:
      string: '{"value":[{"etag":"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ster-fleet/providers/Microsoft.ContainerService/fleets/test-fleet","location":"centraluseuap","name":"test-fleet","properties":{"hubProf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002/listCredentials?api-version=2022-06-02-preview
  response:
    body:
      string: '{"kubeconfigs":[{"name":"clusterUser","value":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVVsdGNGcHBXVk52ZUd4bVoxTlZOMnhzTTA5WVJFMTNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BKZDA5RVJUVk5SRTE2VFhwRmVsZG9aMUJOYWtFeFRXcEJORTFVYTNkTmVsRjZUVlJPWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVs[...]
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "fleet-mc-t-fleet-cli-000001-8ecadf",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC0nzEQJcYcIrEXJ4Rrhlp7Erb121z2E7JRZQc8tLWPNFUt3vH5MmMnq5esJl2NxGFFr14UvKe/ZlSQ+TkGe8v9jwoEcFHAkOz8AFAULbZZKamSkvjGBidfWA3/sudinIocoVOMNAmDTc7Sh/0jyzcILyZSLe+TMSwfipz5x8FqJWVw0hs6VRBqcoLxxn5cKtHe9sv3MIiNEBJTnQijf7llTLHjPBWMgjTVLO0KgcjxPEqaKkMLar5gZG5p9aCBo1/Dys8OA7YUuBa0Vvj8RouWU+Nu9GqNRVTRmEeycGg4ZAOO+10MiBm6KYbLa2z0H9tRhk6q0gsCusl6juYPM+ReFwbHYqmQ770x2+/436Sh/4pFx9nRZ+o8PbswfX6Dp5bBXzBW/enfyQrofV/4TugYPym6zssEmrTJPSyhwqkEZXwAmKopWnKLLHioAA3QL98aMcc29JVJy+ttN2B65pQNnG4n0yxJE1/WxMFHEqd4IHQj/LsrGW76PVNM9yvf37c=
      root@devbox\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/managedClusters/fleet-mc-000003?api-version=2022-04-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fleet-cli-000001/providers/Microsoft.ContainerService/managedClusters/fleet-mc-000003\",\n
        \ \"location\": \"centraluseuap\",\n  \"name\": \"fleet-mc-000003\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.8\",\n   \"currentKubernetesVersion\": \"1.23.8\",\n   \"dnsPrefix\":
        \"fleet-mc-t-fleet-cli-000001-8ecadf\",\n   \"fqdn\": \"fleet-mc-t-fleet-cli-000001-8ecadf-1db48d47.hcp.centraluseuap.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"fleet-mc-t-fleet-cli-000001-8ecadf-1db48d47.portal.hcp.centraluseuap.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.23.8\",\n     \"currentOrchestratorVersion\":
        \"1.23.8\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.08.10\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC0nzEQJcYcIrEXJ4Rrhlp7Erb121z2E7JRZQc8tLWPNFUt3vH5MmMnq5esJl2NxGFFr14UvKe/ZlSQ+TkGe8v9jwoEcFHAkOz8AFAULbZZKamSkvjGBidfWA3/sudinIocoVOMNAmDTc7Sh/0jyzcILyZSLe+TMSwfipz5x8FqJWVw0hs6VRBqcoLxxn5cKtHe9sv3MIiNEBJTnQijf7llTLHjPBWMgjTVLO0KgcjxPEqaKkMLar5gZG5p9aCBo1/Dys8OA7YUuBa0Vvj8RouWU+Nu9GqNRVTRmEeycGg4ZAOO+10MiBm6KYbLa2z0H9tRhk6q0gsCusl6juYPM+ReFwbHYqmQ770x2+/436Sh/4pFx9nRZ+o8PbswfX6Dp5bBXzBW/enfyQrofV/4TugYPym6zssEmrTJPSyhwqkEZXwAmKopWnKLLHioAA3QL98aMcc29JVJy+ttN2B65pQNnG4n0yxJE1/WxMFHEqd4IHQj/LsrGW76PVNM9yvf37c=
        root@devbox\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_fleet-cli-000001_fleet-mc-000003_centraluseuap\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   }\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\": \"5f476f2a-d358-4eaf-9604-c41700a2957d\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/485d0bf8-4453-4d66-ac8d-0b7a4684cf80?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fleet-cli-000001/providers/Microsoft.ContainerService/managedClusters/fleet-mc-000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002/members/fleet-mc-000003?api-version=2022-06-02-preview
  response:
    body:
      string: '{"etag":"\"0000a311-0000-3300-0000-62ff094f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002/members/fleet-mc-000003","name":"fleet-mc-000003","properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fleet-cli-000001/providers/Microsoft.ContainerService/managedClusters/fleet-mc-000003","provisioningState":"Joining"},"type":"Microsoft.ContainerService/fleets/members"}'
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/e55fe876-cd79-4376-8f05-1e0a4761c023?api-version=2016-03-30
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002/members?api-version=2022-06-02-preview
  response:
    body:
      string: '{"value":[{"etag":"\"0000a311-0000-3300-0000-62ff094f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fleet-cli-000001/providers/Microsoft.ContainerService/fleets/fleet-000002/members/fleet-mc-000003","name":"fleet-mc-000003","properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fleet-cli-000001/providers/Microsoft.ContainerService/managedClusters/fleet-mc-000003","provisioningState":"Succeeded"},"type":"Microsoft.ContainerService/fleets/members"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/8401ac98-06ff-4d3d-846b-13eb223da6c9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"98ac0184-ff06-3d4d-846b-13eb223da6c9\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-08-19T03:56:26.4226756Z\"\n }"
    headers:
      content-type:
      - application/json
      location:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/8401ac98-06ff-4d3d-846b-13eb223da6c9?api-version=2016-03-30
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/09d11696-c4d6-4e19-876f-b83961cc1521?api-version=2016-03-30
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      location:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/09d11696-c4d6-4e19-876f-b83961cc1521?api-version=2016-03-30
    status:
      code: 204
      message: No Content
version: 1
