interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_fleet_hubless","date":"2026-05-12T07:54:58Z","module":"fleet"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "identity": {"type": "None"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"60008237-0000-0700-0000-6a02dcd60000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"westus","name":"fl-000002","properties":{"provisioningState":"Creating","status":{"lastOperationId":"e9a50837-654f-4b1b-ae46-800901ed4214"}},"systemData":{"createdAt":"2026-05-12T07:55:01.9878179Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-12T07:55:01.9878179Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/e9a50837-654f-4b1b-ae46-800901ed4214?api-version=2016-03-30&t=639141693024097320&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/e9a50837-654f-4b1b-ae46-800901ed4214?api-version=2016-03-30&t=639141693024097320&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"60008437-0000-0700-0000-6a02dcd60000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"westus","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"e9a50837-654f-4b1b-ae46-800901ed4214"}},"systemData":{"createdAt":"2026-05-12T07:55:01.9878179Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-12T07:55:01.9878179Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      fleet-configuration-version:
      - v20260128.1
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"6000b737-0000-0700-0000-6a02dcd90000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"westus","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"e9a50837-654f-4b1b-ae46-800901ed4214"}},"systemData":{"createdAt":"2026-05-12T07:55:01.9878179Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-12T07:55:05.0786577Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}, "location": "westus", "identity": {"type": "None"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"6000b737-0000-0700-0000-6a02dcd90000"'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"6000cb37-0000-0700-0000-6a02dcda0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/3782889f-7958-4b40-9dc1-157367e4a7ce?api-version=2016-03-30&t=639141693065634909&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets?api-version=2026-03-02-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"6000cd37-0000-0700-0000-6a02dcda0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"westus","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"3782889f-7958-4b40-9dc1-157367e4a7ce"}},"systemData":{"createdAt":"2026-05-12T07:55:01.9878179Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-12T07:55:06.2353625Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 082d37ab-9c92-472f-b431-91f649741655
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/fleets?api-version=2026-03-02-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"cb03acd9-0000-1a00-0000-69b391c20000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sw-fleet-oly-demo/providers/Microsoft.ContainerService/fleets/sw-oly-demo-flt-01","identity":{"principalId":"dbd2404e-58d0-4c6a-a296-cb03f4313442","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"location":"australiaeast","name":"sw-oly-demo-flt-01","properties":{"hubProfile":{"dnsPrefix":"sw-oly-demo-flt-01-dns","fqdn":"sw-oly-demo-flt-01-dns-vnm80dhs.hcp.australiaeast.azmk8s.io","kubernetesVersion":"1.34.3","portalFqdn":"sw-oly-demo-flt-01-dns-vnm80dhs.portal.hcp.australiaeast.azmk8s.io"},"provisioningState":"Succeeded","status":{"lastOperationId":"b2e44b44-c437-4c8f-b8f9-34f89d8d2f2a"}},"systemData":{"createdAt":"2026-03-13T04:19:02.9283742Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-03-13T04:19:02.9283742Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"tags":{"exempted_by_qi":"35497291"},"type":"Microsoft.ContainerService/fleets"},{"eTag":"\"6002cec3-0000-1a00-0000-6a01e9930000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chenyu1-experimental/providers/Microsoft.ContainerService/fleets/centeroftheforest","identity":{"principalId":"597d6928-4bf8-49dc-ac03-6b0ee9e9154f","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"location":"australiaeast","name":"centeroftheforest","properties":{"hubProfile":{"dnsPrefix":"c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2026-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/flmc-000003''
        under resource group ''cli-000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "westus", "properties": {"agentPoolProfiles": [{"name": "nodepool1",
      "orchestratorVersion": "", "vmSize": "", "osType": "Linux", "enableNodePublicIP":
      false, "count": 3, "enableAutoScaling": false, "scaleSetPriority": "Regular",
      "nodeTaints": [], "upgradeSettings": {}, "type": "VirtualMachineScaleSets",
      "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS": false,
      "mode": "System"}], "kubernetesVersion": "", "dnsPrefix": "flmc-000003-cli-000001-d712bf",
      "disableLocalAccounts": false, "enableRBAC": true, "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "networkProfile": {"loadBalancerSku": "standard", "outboundType":
      "loadBalancer"}, "addonProfiles": {}, "storageProfile": {}, "bootstrapProfile":
      {"artifactSource": "Direct"}}, "identity": {"type": "SystemAssigned"}, "sku":
      {"name": "Base", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2026-02-01
  response:
    body:
      string: "{\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003\",\n
        \"location\": \"westus\",\n \"name\": \"flmc-000003\",\n \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \"kind\": \"Base\",\n \"properties\": {\n  \"provisioningState\": \"Creating\",\n
        \ \"powerState\": {\n   \"code\": \"Running\"\n  },\n  \"kubernetesVersion\":
        \"1.34\",\n  \"currentKubernetesVersion\": \"1.34.6\",\n  \"dnsPrefix\": \"flmc-000003-cli-000001-d712bf\",\n
        \ \"fqdn\": \"flmc-000003-cli-000001-d712bf-zpo9amsa.hcp.westus.azmk8s.io\",\n
        \ \"azurePortalFQDN\": \"flmc-000003-cli-000001-d712bf-zpo9amsa.portal.hcp.westus.azmk8s.io\",\n
        \ \"agentPoolProfiles\": [\n   {\n    \"name\": \"nodepool1\",\n    \"count\":
        3,\n    \"vmSize\": \"Standard_D8d_v5\",\n    \"osDiskSizeGB\": 300,\n    \"osDiskType\":
        \"Ephemeral\",\n    \"kubeletDiskType\": \"OS\",\n    \"maxPods\": 250,\n
        \   \"type\": \"VirtualMachineScaleSets\",\n    \"enableAutoScaling\": false,\n
        \   \"scaleDownMode\": \"Delete\",\n    \"provisioningState\": \"Creating\",\n
        \   \"powerState\": {\n     \"code\": \"Running\"\n    },\n    \"orchestratorVersion\":
        \"1.34\",\n    \"currentOrchestratorVersion\": \"1.34.6\",\n    \"enableNodePublicIP\":
        false,\n    \"nodeLabels\": {},\n    \"mode\": \"System\",\n    \"enableEncryptionAtHost\":
        false,\n    \"enableUltraSSD\": false,\n    \"osType\": \"Linux\",\n    \"osSKU\":
        \"Ubuntu\",\n    \"nodeImageVersion\": \"AKSUbuntu-2204gen2containerd-202604.24.0\",\n
        \   \"upgradeSettings\": {\n     \"maxSurge\": \"10%\",\n     \"maxUnavailable\":
        \"0\"\n    },\n    \"enableFIPS\": false,\n    \"securityProfile\": {\n     \"enableVTPM\":
        false,\n     \"enableSecureBoot\": false\n    }\n   }\n  ],\n  \"linuxProfile\":
        {\n   \"adminUsername\": \"azureuser\",\n   \"ssh\": {\n    \"publicKeys\":
        [\n     {\n      \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n     }\n    ]\n   }\n  },\n  \"servicePrincipalProfile\":
        {\n   \"clientId\": \"msi\"\n  },\n  \"nodeResourceGroup\": \"MC_cli-000001_flmc-000003_westus\",\n
        \ \"enableRBAC\": true,\n  \"supportPlan\": \"KubernetesOfficial\",\n  \"networkProfile\":
        {\n   \"networkPlugin\": \"azure\",\n   \"networkPluginMode\": \"overlay\",\n
        \  \"networkPolicy\": \"none\",\n   \"networkDataplane\": \"azure\",\n   \"loadBalancerSku\":
        \"standard\",\n   \"loadBalancerProfile\": {\n    \"managedOutboundIPs\":
        {\n     \"count\": 1\n    },\n    \"backendPoolType\": \"nodeIPConfiguration\"\n
        \  },\n   \"podCidr\": \"10.244.0.0/16\",\n   \"serviceCidr\": \"10.0.0.0/16\",\n
        \  \"dnsServiceIP\": \"10.0.0.10\",\n   \"outboundType\": \"loadBalancer\",\n
        \  \"podCidrs\": [\n    \"10.244.0.0/16\"\n   ],\n   \"serviceCidrs\": [\n
        \   \"10.0.0.0/16\"\n   ],\n   \"ipFamilies\": [\n    \"IPv4\"\n   ]\n  },\n
        \ \"maxAgentPools\": 100,\n  \"autoUpgradeProfile\": {\n   \"nodeOSUpgradeChannel\":
        \"NodeImage\"\n  },\n  \"disableLocalAccounts\": false,\n  \"securityProfile\":
        {},\n  \"storageProfile\": {\n   \"diskCSIDriver\": {\n    \"enabled\": true\n
        \  },\n   \"fileCSIDriver\": {\n    \"enabled\": true\n   },\n   \"snapshotController\":
        {\n    \"enabled\": true\n   }\n  },\n  \"oidcIssuerProfile\": {\n   \"enabled\":
        true,\n   \"issuerURL\": \"https://westus.oic.prod-aks.azure.com/72f988bf-86f1-41af-91ab-2d7cd011db47/14621aee-c4db-4d0f-a8b4-4f329caffc04/\"\n
        \ },\n  \"workloadAutoScalerProfile\": {},\n  \"resourceUID\": \"6a02dce7b105e30001756a2e\",\n
        \ \"metricsProfile\": {\n   \"costAnalysis\": {\n    \"enabled\": false\n
        \  }\n  },\n  \"nodeProvisioningProfile\": {\n   \"mode\": \"Manual\",\n   \"defaultNodePools\":
        \"Auto\"\n  },\n  \"bootstrapProfile\": {\n   \"artifactSource\": \"Direct\"\n
        \ }\n },\n \"identity\": {\n  \"type\": \"SystemAssigned\",\n  \"principalId\":
        \"99a149a7-66d4-49a2-a83b-cb48886f713f\",\n  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        },\n \"sku\": {\n  \"name\": \"Base\",\n  \"tier\": \"Free\"\n }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/provider[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/6c3886e1-4877-4545-ac3a-d58a3ded5fe1?api-version=2025-03-01&t=639141693200519922&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVy[...]
[...]
- request:
    body: '{"properties": {"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003",
      "group": "group1", "labels": {"team": "fleet"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/flmc-000003?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"6000704f-0000-0700-0000-6a02de3f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/ad0d80ed-17b1-4dac-ae80-70c418dec0d3?api-version=2016-03-30&t=639141696633438688&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/54ae85d0-42a6-45fc-b2fb-a15dafb3c995?api-version=2016-03-30&t=639141697336988184&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members?api-version=2026-03-02-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"60006754-0000-0700-0000-6a02de8d0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/m[...]
[...]
- request:
    body: '{"properties": {"strategy": {"stages": [{"name": "stage1", "groups": [{"name":
      "group1", "maxConcurrency": "100%", "beforeGates": [{"displayName": "group before
      gate", "type": "Approval"}], "afterGates": [{"displayName": "group after gate",
      "type": "Approval"}]}, {"name": "group2", "maxConcurrency": "50%", "beforeGates":
      [{"displayName": "group before gate", "type": "Approval"}], "afterGates": [{"displayName":
      "group after gate", "type": "Approval"}]}], "afterStageWaitInSeconds": 3600,
      "maxConcurrency": "7", "beforeGates": [{"displayName": "stage before gate",
      "type": "Approval"}], "afterGates": [{"displayName": "stage after gate", "type":
      "Approval"}]}]}, "managedClusterUpdate": {"upgrade": {"type": "Full", "kubernetesVersion":
      "1.33.0"}, "nodeImageSelection": {"type": "Latest"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"60003656-0000-0700-0000-6a02deaa0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004","name":"uprn-000004","properties":{"managedClusterUpdate":{"nodeImageSelection":{"type":"Latest"},"upgrade":{"kubernetesVersion":"1.33.0","type":"Full"}},"provisioningState":"Succeeded","status":{"nodeImageSelection":{},"stages":[{"afterGates":[{"displayName":"stage
        after gate","status":{"state":"NotStarted"}}],"afterStageWaitStatus":{"status":{"state":"NotStarted"},"waitDurationInSeconds":3600},"beforeGates":[{"displayName":"stage
        before gate","status":{"state":"NotStarted"}}],"groups":[{"afterGates":[{"displayName":"group
        after gate","status":{"state":"NotStarted"}}],"beforeGates":[{"displayName":"group
        before gate","status":{"state":"NotStarted"}}],"maxConcurrency":1,"name":"group1","status":{"state":"Skipped"}},{"afterGates":[{"displayName":"group
        after gate","status":{"state":"NotStarted"}}],"beforeGates":[{"displayName":"group
        before gate","status":{"state":"NotStarted"}}],"maxConcurrency":1,"members":[{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003","name":"flmc-000003","status":{"state":"NotStarted"}}],"name":"group2","status":{"state":"NotStarted"}}],"maxConcurrency":7,"name":"stage1","status":{"state":"NotStarted"}}],"status":{"state":"NotStarted"}},"strategy":{"stages":[{"afterGates":[{"displayName":"stage
        after gate","type":"Approval"}],"afterStageWaitInSeconds":3[...]
- request:
    body: '{"targets": [{"type": "Group", "name": "group2"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004/skip?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"60004356-0000-0700-0000-6a02deab0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004","name":"uprn-000004","properties":{"managedClusterUpdate":{"nodeImageSelection":{"type":"Latest"},"upgrade":{"kubernetesVersion":"1.33.0","type":"Full"}},"provisioningState":"Succeeded","status":{"nodeImageSelection":{},"stages":[{"afterGates":[{"displayName":"stage
        after gate","status":{"state":"NotStarted"}}],"afterStageWaitStatus":{"status":{"state":"NotStarted"},"waitDurationInSeconds":3600},"beforeGates":[{"displayName":"stage
        before gate","status":{"state":"NotStarted"}}],"groups":[{"afterGates":[{"displayName":"group
        after gate","status":{"state":"NotStarted"}}],"beforeGates":[{"displayName":"group
        before gate","status":{"state":"NotStarted"}}],"maxConcurrency":1,"name":"group1","status":{"state":"Skipped"}},{"afterGates":[{"displayName":"group
        after gate","status":{"completedTime":"2026-05-12T08:02:51.479168215Z","state":"Skipped"}}],"beforeGates":[{"displayName":"group
        before gate","status":{"completedTime":"2026-05-12T08:02:51.479108914Z","state":"Skipped"}}],"maxConcurrency":1,"members":[{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003","message":"skipped
        by request.","name":"flmc-000003","status":{"completedTime":"2026-05-12T08:02:51.4789[...]
[...]
- request:
    body: '{"properties": {"strategy": {"stages": [{"name": "stage1", "groups": [{"name":
      "group1", "maxConcurrency": "100%", "beforeGates": [{"displayName": "group before
      gate", "type": "Approval"}], "afterGates": [{"displayName": "group after gate",
      "type": "Approval"}]}, {"name": "group2", "maxConcurrency": "50%", "beforeGates":
      [{"displayName": "group before gate", "type": "Approval"}], "afterGates": [{"displayName":
      "group after gate", "type": "Appro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateStrategies?api-version=2026-03-02-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"60005e56-0000-0700-0000-6a02dead0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl[...]
- request:
    body: '{"properties": {"updateStrategyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateStrategies/upstr-000005",
      "managedClusterUpdate": {"upgrade": {"type": "Full", "kubernetesVersion": "1.33.0"},
      "nodeImageSelection": {"type": "Latest"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/pro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004/start?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"60008356-0000-0700-0000-6a02deb00000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004?api-version=2026-03-02-preview
  response:
    body:
      string: '{"eTag":"\"60009e56-0000-0700-0000-6a02deb10000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004","name":"uprn-000004","properties":{"managedClusterUpdate":{"nodeImageSelection":{"type":"Latest"},"upgrade":{"kubernetesVersion":"1.33.0","type":"Full"}},"provisioningState":"Succeeded","status":{"nodeImageSelection":{},"stages":[{"afterGates":[{"displayName":"stage
        after gate","status":{"state":"NotStarted"}}],"afterStageWaitStatus":{"status":{"state":"NotStarted"},"waitDurationInSeconds":3600},"beforeGates":[{"displayName":"stage
        before gate","gateId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/gates/dca87d2e-9af5-4a36-addd-a867cf1aa38d","status":{"startTime":"2026-05-12T08:02:57.546070635Z","state":"Pending"}}],"groups":[{"afterGates":[{"displayName":"group
        after gate","status":{"state":"NotStarted"}}],"beforeGates":[{"displayName":"group
        before gate","status":{"state":"NotStarted"}}],"maxConcurrency":1,"name":"group1","status":{"state":"Skipped"}},{"afterGates":[{"displayName":"group
        after gate","status":{"state":"NotStarted"}}],"beforeGates":[{"displayName":"group
        before gate","status":{"state":"NotStarted"}}],"maxC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns?api-version=2026-03-02-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"60009e56-0000-0700-0000-6a02deb10000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-00000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/gates?api-version=2026-03-02-preview
  response:
    body:
[...]
