interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"product":"azurecli","cause":"automation","test":"test_fleet","date":"2023-08-17T20:28:20Z","module":"github.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus3", "properties": {"hubProfile": {"dnsPrefix": "fl-000002-cli-000001-26ad90"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2023-06-15-preview
  response:
    body:
      string: '{"eTag":"\"00007f1f-0000-4d00-0000-64de82ed0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus3","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26ad90","fqdn":"","kubernetesVersion":""},"provisioningState":"Creating"},"systemData":{"createdAt":"2023-08-17T20:28:29.7366705Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:28:29.7366705Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2023-06-15-preview
  response:
    body:
      string: '{"eTag":"\"00007f1f-0000-4d00-0000-64de82ed0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus3","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26ad90","fqdn":"","kubernetesVersion":""},"provisioningState":"Creating"},"systemData":{"createdAt":"2023-08-17T20:28:29.7366705Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:28:29.7366705Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      fleet-configuration-version:
      - v20230615.1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2023-06-15-preview
  response:
    body:
      string: '{"eTag":"\"0000831f-0000-4d00-0000-64de83d00000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus3","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26ad90","fqdn":"fl-000002-cli-000001-26ad90-0gokyqca.hcp.westus3.azmk8s.io","kubernetesVersion":"1.25.11"},"provisioningState":"Succeeded"},"systemData":{"createdAt":"2023-08-17T20:28:29.7366705Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:28:29.7366705Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/d38d713f-7955-404b-8ff0-3c0004734a65?api-version=2016-03-30
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets?api-version=2023-06-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"0000811f-0000-4d00-0000-64de83a90000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus3","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26ad90","fqdn":"fl-000002-cli-000001-26ad90-0gokyqca.hcp.westus3.azmk8s.io","kubernetesVersion":"1.25.11"},"provisioningState":"Succeeded"},"systemData":{"createdAt":"2023-08-17T20:28:29.7366705Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:28:29.7366705Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/fleets?api-version=2023-06-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"0000811f-0000-4d00-0000-64de83a90000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus3","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26ad90","fqdn":"fl-000002-cli-000001-26ad90-0gokyqca.hcp.westus3.azmk8s.io","kubernetesVersion":"1.25.11"},"provisioningState":"Succeeded"},"systemData":{"createdAt":"2023-08-17T20:28:29.7366705Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:28:29.7366705Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/listCredentials?api-version=2023-06-15-preview
  response:
    body:
      string: '{"kubeconfigs":[{"name":"clusterUser","value":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVVwdmRGcDRUVWd5VjBKT1NHRkNjbVpsTW5kSVduZDNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BOZDA5RVJUTk5ha0Y0VDFSRk1sZG9aMUJOYWtFeFRYcEJORTFVWTNsTlJFazFUVlJhWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2023-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/flmc-000003''
        under resource group ''cli-000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "westus3", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "flmc-000003-cli-000001-26ad90", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux",
      "enableAutoScaling": false, "type": "VirtualMachineScaleSets", "mode": "System",
      "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP": false,
      "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2023-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003\",\n
        \ \"location\": \"westus3\",\n  \"name\": \"flmc-000003\",\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.26.6\",\n
        \  \"currentKubernetesVersion\": \"1.26.6\",\n   \"dnsPrefix\": \"flmc-000003-cli-000001-26ad90\",\n
        \  \"fqdn\": \"flmc-000003-cli-000001-26ad90-msnr69t3.hcp.westus3.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"flmc-000003-cli-000001-26ad90-msnr69t3.portal.hcp.westus3.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.26.6\",\n     \"currentOrchestratorVersion\":
        \"1.26.6\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-202308.01.0\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_cli-000001_flmc-000003_westus3\",\n
        \  \"enableRBAC\": true,\n   \"supportPlan\": \"KubernetesOfficial\",\n   \"networkProfile\":
        {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n
        \   \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\":
        1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"autoUpgradeProfile\": {\n    \"nodeOSUpgradeChannel\":
        \"NodeImage\"\n   },\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\": \"07761c09-e6e2-40c0-8669-4f2077443869\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Base\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/ee648b3a-fba3-4860-a544-447db89144a2?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/ee648b3a-fba3-4860-a544-447db89144a2?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"3a8b64ee-a3fb-6048-a544-447db89144a2\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-08-17T20:32:40.6684661Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/ee648b3a-fba3-4860-a544-447db89144a2?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"3a8b64ee-a3fb-6048-a544-447db89144a2\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-08-17T20:32:40.6684661Z\",\n  \"endTime\":
        \"2023-08-17T20:35:52.7435836Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003",
      "group": "group1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/flmc-000003?api-version=2023-06-15-preview
  response:
    body:
      string: '{"eTag":"\"00008c1f-0000-4d00-0000-64de84c50000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/flmc-000003","name":"flmc-000003","properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003","group":"group1","provisioningState":"Joining"},"systemData":{"createdAt":"2023-08-17T20:36:18.8099316Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:36:18.8099316Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/members"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members?api-version=2023-06-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"0000931f-0000-4d00-0000-64de85270000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/flmc-000003","name":"flmc-000003","properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003","group":"group2","provisioningState":"Succeeded"},"systemData":{"createdAt":"2023-08-17T20:36:18.8099316Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:36:18.8099316Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/members"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"managedClusterUpdate": {"upgrade": {"type": "Full", "kubernetesVersion":
      "1.25.0"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004?api-version=2023-06-15-preview
  response:
    body:
      string: '{"eTag":"\"0000951f-0000-4d00-0000-64de856f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004","name":"uprn-000004","properties":{"managedClusterUpdate":{"upgrade":{"kubernetesVersion":"1.25.0","type":"Full"}},"provisioningState":"Succeeded","status":{"nodeImageSelection":{},"stages":[{"groups":[{"members":[{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003","name":"flmc-000003","status":{"state":"NotStarted"}}],"name":"default","status":{"state":"NotStarted"}}],"name":"default","status":{"state":"NotStarted"}}],"status":{"state":"NotStarted"}}},"systemData":{"createdAt":"2023-08-17T20:39:10.3953543Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:39:10.3953543Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/updateRuns"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004/start?api-version=2023-06-15-preview
  response:
    body:
      string: '{"eTag":"\"0000951f-0000-4d00-0000-64de856f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns?api-version=2023-06-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"0000961f-0000-4d00-0000-64de85780000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/updateRuns/uprn-000004","name":"uprn-000004","properties":{"managedClusterUpdate":{"upgrade":{"kubernetesVersion":"1.25.0","type":"Full"}},"provisioningState":"Succeeded","status":{"nodeImageSelection":{},"stages":[{"groups":[{"members":[{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003","name":"flmc-000003","status":{"startTime":"2023-08-17T20:39:15.914203201Z","state":"Skipped"}}],"name":"default","status":{"startTime":"2023-08-17T20:39:15.914203601Z","state":"Skipped"}}],"name":"default","status":{"startTime":"2023-08-17T20:39:15.914203801Z","state":"Skipped"}}],"status":{"completedTime":"2023-08-17T20:39:20.519969018Z","startTime":"2023-08-17T20:39:15.914204001Z","state":"Completed"}}},"systemData":{"createdAt":"2023-08-17T20:39:10.3953543Z","createdBy":"sehobbs@microsoft.com","createdByType":"User","lastModifiedAt":"2023-08-17T20:39:10.3953543Z","lastModifiedBy":"sehobbs@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/updateRuns"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operationresults/47b4b1f3-8ae1-4a14-ba56-ae83753ef3c6?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3b1b447-e18a-144a-ba56-ae83753ef3c6\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-08-17T20:39:31.345438Z\"\n }"
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operationresults/47b4b1f3-8ae1-4a14-ba56-ae83753ef3c6?api-version=2016-03-30
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operationresults/90fd6c21-018b-40c2-be3f-c12825ac3cca?api-version=2016-03-30
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operationresults/90fd6c21-018b-40c2-be3f-c12825ac3cca?api-version=2016-03-30
    status:
      code: 204
      message: No Content
version: 1
