interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_fleet_hubless","date":"2025-08-27T19:12:10Z","module":"go.goms.io"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "identity": {"type": "None"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"eTag":"\"4800834d-0000-0700-0000-68af588f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"westus","name":"fl-000002","properties":{"provisioningState":"Creating","status":{"lastOperationId":"cfc15d82-80da-440f-adfa-b33ae8cfb6a7"}},"systemData":{"createdAt":"2025-08-27T19:12:15.5618937Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-27T19:12:15.5618937Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      azure-asyncoperation:
      - https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/cfc15d82-80da-440f-adfa-b33ae8cfb6a7?api-version=2016-03-30&t=638919187358900164&c=MIIIrzCCBpegAwIBAgITUQCCFFa_AJ6LRJmuAQABAIIUVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE5MTY1MjU5WhcNMjYwMTE1MTY1MjU5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/cfc15d82-80da-440f-adfa-b33ae8cfb6a7?api-version=2016-03-30&t=638919187358900164&c=MIIIrzCCBpegAwIBAgITUQCCFFa_AJ6LRJmuAQABAIIUVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE5MTY1MjU5WhcNMjYwMTE1MTY1Mj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"eTag":"\"4800844d-0000-0700-0000-68af588f0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"westus","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"cfc15d82-80da-440f-adfa-b33ae8cfb6a7"}},"systemData":{"createdAt":"2025-08-27T19:12:15.5618937Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-27T19:12:15.5618937Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      fleet-configuration-version:
      - v20250716.1
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"eTag":"\"4800aa4d-0000-0700-0000-68af58940000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"cfc15d82-80da-440f-adfa-b33ae8cfb6a7"}},"systemData":{"createdAt":"2025-08-27T19:12:15.5618937Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-27T19:12:20.7406267Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}, "location": "westus"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"4800aa4d-0000-0700-0000-68af58940000"'
    method: PUT
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"eTag":"\"4800bf4d-0000-0700-0000-68af58970000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-00000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/c269afa0-34d8-499b-91e4-98335e7b7037?api-version=2016-03-30&t=638919187438742039&c=MIIIrzCCBpegAwIBAgITUQCCFFa_AJ6LRJmuAQABAIIUVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE5MTY1MjU5WhcNMjYwMTE1MTY1Mj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"4800c04d-0000-0700-0000-68af58970000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"westus","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"c269afa0-34d8-499b-91e4-98335e7b7037"}},"systemData":{"createdAt":"2025-08-27T19:12:15.5618937Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-27T19:12:23.6085729Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"tags":{"foo":"doo"},"type":"Microsoft.ContainerService/fleets"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 16561285-4722-472c-b67b-4b6d05fabae7
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/fleets?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"2704a063-0000-0100-0000-68ae11de0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-ofdw/providers/Microsoft.ContainerService/fleets/fl-zvk4","identity":{"type":"None"},"location":"eastus","name":"fl-zvk4","properties":{"hubProfile":{"agentProfile":{"vmSize":"standard_dc4as_cc_v5"},"apiServerAccessProfile":{"enablePrivateCluster":false,"enableVnetIntegration":false},"fqdn":"hub-zspbrc-svfpajcc.hcp.eastus.azmk8s.io","kubernetesVersion":"1.33.2","portalFqdn":"hub-zspbrc-svfpajcc.portal.hcp.eastus.azmk8s.io"},"provisioningState":"Succeeded","status":{"lastOperationId":"3f76f6c3-67df-41f5-bfb2-00153832f65a"}},"systemData":{"createdAt":"2025-08-26T19:53:34.8659052Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2025-08-26T19:53:34.8659052Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"},{"eTag":"\"2904a070-0000-0100-0000-68ae19680000\"","id":"/subscriptions/00000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2025-06-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/flmc-000003''
        under resource group ''cli-000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Base", "tier": "Free"}, "identity":
      {"type": "SystemAssigned"}, "kind": "Base", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "flmc-000003-cli-000001-feb5b1", "agentPoolProfiles": [{"count":
      3, "vmSize": "", "osDiskSizeGB": 0, "workloadRuntime": "OCIContainer", "osType":
      "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets", "mode":
      "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "enableCustomCATrust": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "spotMaxPrice": -1.0, "nodeTaints": [], "nodeInitializationTaints":
      [], "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "networkProfile": {}, "securityProfile": {"sshAccess": "localuser"},
      "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts":
      false, "storageProfile": {}, "bootstrapProfile": {"artifactSource": "Direct"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2025-06-02-preview
  response:
    body:
      string: "{\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003\",\n
        \"location\": \"westus\",\n \"name\": \"flmc-000003\",\n \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \"kind\": \"Base\",\n \"properties\": {\n  \"provisioningState\": \"Creating\",\n
        \ \"powerState\": {\n   \"code\": \"Running\"\n  },\n  \"kubernetesVersion\":
        \"1.32\",\n  \"currentKubernetesVersion\": \"1.32.6\",\n  \"dnsPrefix\": \"flmc-000003-cli-000001-feb5b1\",\n
        \ \"fqdn\": \"flmc-000003-cli-000001-feb5b1-inwqm7ay.hcp.westus.azmk8s.io\",\n
        \ \"azurePortalFQDN\": \"flmc-000003-cli-000001-feb5b1-inwqm7ay.portal.hcp.westus.azmk8s.io\",\n
        \ \"agentPoolProfiles\": [\n   {\n    \"name\": \"nodepool1\",\n    \"count\":
        3,\n    \"vmSize\": \"Standard_D4pds_v5\",\n    \"osDiskSizeGB\": 150,\n    \"osDiskType\":
        \"Ephemeral\",\n    \"kubeletDiskType\": \"OS\",\n    \"workloadRuntime\":
        \"OCIContainer\",\n    \"maxPods\": 250,\n    \"type\": \"VirtualMachineScaleSets\",\n
        \   \"enableAutoScaling\": false,\n    \"scaleDownMode\": \"Delete\",\n    \"provisioningState\":
        \"Creating\",\n    \"powerState\": {\n     \"code\": \"Running\"\n    },\n
        \   \"orchestratorVersion\": \"1.32\",\n    \"currentOrchestratorVersion\":
        \"1.32.6\",\n    \"enableNodePublicIP\": false,\n    \"enableCustomCATrust\":
        false,\n    \"nodeLabels\": {},\n    \"mode\": \"System\",\n    \"enableEncryptionAtHost\":
        false,\n    \"enableUltraSSD\": false,\n    \"osType\": \"Linux\",\n    \"osSKU\":
        \"Ubuntu\",\n    \"nodeImageVersion\": \"AKSUbuntu-2204gen2arm64containerd-202508.06.0\",\n
        \   \"upgradeSettings\": {\n     \"maxSurge\": \"10%\",\n     \"maxUnavailable\":
        \"0\"\n    },\n    \"enableFIPS\": false,\n    \"networkProfile\": {},\n    \"securityProfile\":
        {\n     \"sshAccess\": \"LocalUser\",\n     \"enableVTPM\": false,\n     \"enableSecureBoot\":
        false\n    }\n   }\n  ],\n  \"linuxProfile\": {\n   \"adminUsername\": \"azureuser\",\n
        \  \"ssh\": {\n    \"publicKeys\": [\n     {\n      \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n     }\n    ]\n   }\n  },\n  \"servicePrincipalProfile\":
        {\n   \"clientId\": \"msi\"\n  },\n  \"nodeResourceGroup\": \"MC_cli-000001_flmc-000003_westus\",\n
        \ \"enableRBAC\": true,\n  \"supportPlan\": \"KubernetesOfficial\",\n  \"networkProfile\":
        {\n   \"networkPlugin\": \"azure\",\n   \"networkPluginMode\": \"overlay\",\n
        \  \"networkPolicy\": \"none\",\n   \"networkDataplane\": \"azure\",\n   \"loadBalancerSku\":
        \"standard\",\n   \"loadBalancerProfile\": {\n    \"managedOutboundIPs\":
        {\n     \"count\": 1\n    },\n    \"backendPoolType\": \"nodeIPConfiguration\"\n
        \  },\n   \"podCidr\": \"10.244.0.0/16\",\n   \"serviceCidr\": \"10.0.0.0/16\",\n
        \  \"dnsServiceIP\": \"10.0.0.10\",\n   \"outboundType\": \"loadBalancer\",\n
        \  \"podCidrs\": [\n    \"10.244.0.0/16\"\n   ],\n   \"serviceCidrs\": [\n
        \   \"10.0.0.0/16\"\n   ],\n   \"ipFamilies\": [\n    \"IPv4\"\n   ],\n   \"podLinkLocalAccess\":
        \"IMDS\"\n  },\n  \"maxAgentPools\": 100,\n  \"autoUpgradeProfile\": {\n   \"nodeOSUpgradeChannel\":
        \"NodeImage\"\n  },\n  \"disableLocalAccounts\": false,\n  \"securityProfile\":
        {},\n  \"storageProfile\": {\n   \"diskCSIDriver\": {\n    \"enabled\": true,\n
        \   \"version\": \"v1\"\n   },\n   \"fileCSIDriver\": {\n    \"enabled\":
        true\n   },\n   \"snapshotController\": {\n    \"enabled\": true\n   }\n  },\n
        \ \"oidcIssuerProfile\": {\n   \"enabled\": false\n  },\n  \"workloadAutoScalerProfile\":
        {},\n  \"metricsProfile\": {\n   \"costAnalysis\": {\n    \"enabled\": false\n
        \  }\n  },\n  \"resourceUID\": \"68af58c1e60c3f0001aee430\",\n  \"controlPlanePluginProfiles\":
        {\n   \"azure-monitor-metrics-ccp\": {\n    \"enableV2\": true\n   },\n   \"gpu-provisioner\":
        {\n    \"enableV2\": true\n   },\n   \"karpenter\": {\n    \"enableV2\": true\n
        \  },\n   \"kubelet-serving-csr-approver\": {\n    \"enableV2\": true\n   },\n
        \  \"live-patching-controller\": {\n    \"enableV2\": true\n   },\n   \"static-egress-controller\":
        {\n    \"enableV2\": true\n   }\n  },\n  \"nodeProvisioningProfile\": {\n
        \  \"mode\": \"Manual\",\n   \"defaultNodePools\": \"Auto\"\n  },\n  \"bootstrapProfile\":
        {\n   \"artifactSource\": \"Direct\"\n  }\n },\n \"identity\": {\n  \"type\":
        \"SystemAssigned\",\n  \"principalId\": \"241e282e-63ce-4e5e-ba1c-c3b95301e1ed\",\n
        \ \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n },\n \"sku\": {\n
        \ \"name\": \"Base\",\n  \"tier\": \"Free\"\n }\n}"
    headers:
      azure-asyncoperation:
      - https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/76a74c14-5b1c-4ba1-95f1-623599911c5c?api-version=2025-03-01&t=638919187859834458&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/76a74c14-5b1c-4ba1-95f1-623599911c5c?api-version=2025-03-01&t=638919187859834458&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0Nz[...]
[...]
- request:
    body: '{"properties": {"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003",
      "group": "group1", "labels": {"team": "fleet"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/flmc-000003?api-version=2025-08-01-preview
  response:
    body:
      string: '{"eTag":"\"48000056-0000-0700-0000-68af59be0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/bd4ed03d-8972-43fb-86f0-4b4acd64cffc?api-version=2016-03-30&t=638919190386098174&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0Nz[...]
[...]
