interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_fleet_cluster_mesh","date":"2026-06-26T04:20:45Z","module":"fleet"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "identity": {"type": "None"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2026-06-02-preview
  response:
    body:
      string: '{"eTag":"\"0b00948c-0000-3400-0000-6a3dfe250000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"eastus2euap","name":"fl-000002","properties":{"provisioningState":"Creating","status":{"lastOperationId":"92bf7ec0-2f73-49e6-aabe-88799c2e826f"}},"systemData":{"createdAt":"2026-06-26T04:20:53.1708935Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-06-26T04:20:53.1708935Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/92bf7ec0-2f73-49e6-aabe-88799c2e826f?api-version=2016-03-30&t=639180444532959285&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1cmUuY29tMIIBI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/92bf7ec0-2f73-49e6-aabe-88799c2e826f?api-version=2016-03-30&t=639180444532959285&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2026-06-02-preview
  response:
    body:
      string: '{"eTag":"\"0b00958c-0000-3400-0000-6a3dfe250000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","identity":{"type":"None"},"location":"eastus2euap","name":"fl-000002","properties":{"provisioningState":"Succeeded","status":{"lastOperationId":"92bf7ec0-2f73-49e6-aabe-88799c2e826f"}},"systemData":{"createdAt":"2026-06-26T04:20:53.1708935Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-06-26T04:20:53.1708935Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      fleet-configuration-version:
      - v20260520.1
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007?api-version=2024-07-01
  response:
    body:
      string: '{"name":"vnet-000007","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007","etag":"W/\"702b7172-976a-4851-b50f-4fb350a13f21\"","type":"Microsoft.Network/virtualNetworks","location":"eastus2euap","properties":{"provisioningState":"Updating","resourceGuid":"5cfa6c1a-1c10-4c88-b4e4-5e905c6d0dfc","addressSpace":{"addressPrefixes":["192.168.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/ef1a1507-5c5c-445d-8273-ac144dd19f17?api-version=2024-07-01&t=639180444683735458&c=MIIIJzCCBw-gAwIBAgIRAPkg2z-B9Jm_vrDg-qNrjwswDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNjUyMTdaFw0yNjEwMDUxMjUyMTdaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbml[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/ef1a1507-5c5c-445d-8273-ac144dd19f17?api-version=2024-07-01&t=639180444683735458&c=MIIIJzCCBw-gAwIBAgIRAPkg2z-B9Jm_vrDg-qNrjwswDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNjUyMTdaFw0yNjEwMDUxMjUyMTdaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007?api-version=2024-07-01
  response:
    body:
      string: '{"name":"vnet-000007","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007","etag":"W/\"1c06b826-ad02-4c17-97d5-3f787baf976c\"","type":"Microsoft.Network/virtualNetworks","location":"eastus2euap","properties":{"provisioningState":"Succeeded","resourceGuid":"5cfa6c1a-1c10-4c88-b4e4-5e905c6d0dfc","addressSpace":{"addressPrefixes":["192.168.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttle-levels:
      - operationRatePct=0.1, operationConcurrencyPct=2.5, etc
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "nodesubnet1", "properties": {"addressPrefix": "192.168.1.0/24",
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/nodesubnet1?api-version=2024-07-01
  response:
    body:
      string: '{"name":"nodesubnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/nodesubnet1","etag":"W/\"f31c5eb5-b10b-4c92-94c7-15fdb181f7ff\"","properties":{"provisioningState":"Updating","addressPrefix":"192.168.1.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/c371a1be-1a3b-4efe-a54e-92510580fb2e?api-version=2024-07-01&t=639180444746474917&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/c371a1be-1a3b-4efe-a54e-92510580fb2e?api-version=2024-07-01&t=639180444746474917&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0[...]
[...]
- request:
    body: '{"name": "podsubnet1", "properties": {"addressPrefix": "192.168.2.0/24",
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/podsubnet1?api-version=2024-07-01
  response[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/31fad7ae-876e-41a2-bf3a-37445768ca39?api-version=2024-07-01&t=639180444805544546&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/9fa58066-9b76-4982-84cb-9d09dc7e42ae?api-version=2024-07-01&t=639180444890780442&c=MIIIJzCCBw-gAwIBAgIRAPkg2z-B9Jm_vrDg-qNrjwswDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNjUyMTdaFw0yNjEwMDUxMjUyMTdaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/d8f51799-a156-40c4-8e0d-36ad31beb4ae?api-version=2024-07-01&t=639180444993520790&c=MIIIJzCCBw-gAwIBAgIRAPkg2z-B9Jm_vrDg-qNrjwswDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNjUyMTdaFw0yNjEwMDUxMjUyMTdaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/cm1-000003?api-version=2026-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cm1-000003''
        under resource group ''cli-000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"agentPoolProfiles": [{"name":
      "nodepool1", "orchestratorVersion": "", "vmSize": "", "osType": "Linux", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/nodesubnet1",
      "podSubnetID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/podsubnet1",
      "enableNodePublicIP": false, "count": 3, "enableAutoScaling": false, "scaleSetPriority":
      "Regular", "nodeTaints": [], "upgradeSettings": {}, "type": "VirtualMachineScaleSets",
      "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS": false,
      "mode": "System"}], "kubernetesVersion": "", "dnsPrefix": "cm1-000003-cli-000001-d712bf",
      "disableLocalAccounts": false, "enableRBAC": true, "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "networkProfile": {"networkPlugin": "azure", "networkDataplane":
      "cilium", "loadBalancerSku": "standard", "outboundType": "loadBalancer", "advancedNetworking":
      {"enabled": true}}, "addonProfiles": {}, "storageProfile": {}, "bootstrapProfile":
      {"artifactSource": "Direct"}}, "identity": {"type": "SystemAssigned"}, "sku":
      {"name": "Base", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/cm1-000003?api-version=2026-01-01
  response:
    body:
      string: "{\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/cm1-000003\",\n
        \"location\": \"eastus2euap\",\n \"name\": \"cm1-000003\",\n \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \"kind\": \"Base\",\n \"properties\": {\n  \"provisioningState\": \"Creating\",\n
        \ \"powerState\": {\n   \"code\": \"Running\"\n  },\n  \"kubernetesVersion\":
        \"1.35\",\n  \"currentKubernetesVersion\": \"1.35.5\",\n  \"dnsPrefix\": \"cm1-000003-cli-000001-d712bf\",\n
        \ \"fqdn\": \"cm1-000003-cli-000001-d712bf-gh1mc72t.hcp.eastus2euap.azmk8s.io\",\n
        \ \"azurePortalFQDN\": \"cm1-000003-cli-000001-d712bf-gh1mc72t.portal.hcp.eastus2euap.azmk8s.io\",\n
        \ \"agentPoolProfiles\": [\n   {\n    \"name\": \"nodepool1\",\n    \"count\":
        3,\n    \"vmSize\": \"Standard_D4lds_v5\",\n    \"osDiskSizeGB\": 150,\n    \"osDiskType\":
        \"Ephemeral\",\n    \"kubeletDiskType\": \"OS\",\n    \"vnetSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/nodesubnet1\",\n
        \   \"podSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.Network/virtualNetworks/vnet-000007/subnets/podsubnet1\",\n
        \   \"maxPods\": 250,\n    \"type\": \"VirtualMachineScaleSets\",\n    \"enableAutoScaling\":
        false,\n    \"scaleDownMode\": \"Delete\",\n    \"provisioningState\": \"Creating\",\n
        \   \"powerState\": {\n     \"code\": \"Running\"\n    },\n    \"orchestratorVersion\":
        \"1.35\",\n    \"currentOrchestratorVersion\": \"1.35.5\",\n    \"enableNodePublicIP\":
        false,\n    \"nodeLabels\": {},\n    \"mode\": \"System\",\n    \"enableEncryptionAtHost\":
        false,\n    \"enableUltraSSD\": false,\n    \"osType\": \"Linux\",\n    \"osSKU\":
        \"Ubuntu\",\n    \"nodeImageVersion\": \"AKSUbuntu-2404gen2containerd-202606.08.1\",\n
        \   \"upgradeSettings\": {\n     \"maxSurge\": \"10%\",\n     \"maxUnavailable\":
        \"0\"\n    },\n    \"enableFIPS\": false,\n    \"securityProfile\": {\n     \"sshAccess\":
        \"LocalUser\",\n     \"enableVTPM\": false,\n     \"enableSecureBoot\": false\n
        \   }\n   }\n  ],\n  \"linuxProfile\": {\n   \"adminUsername\": \"azureuser\",\n
        \  \"ssh\": {\n    \"publicKeys\": [\n     {\n      \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n     }\n    ]\n   }\n  },\n  \"windowsProfile\": {\n
        \  \"adminUsername\": \"azureuser\",\n   \"enableCSIProxy\": true\n  },\n
        \ \"servicePrincipalProfile\": {\n   \"clientId\": \"msi\"\n  },\n  \"nodeResourceGroup\":
        \"MC_cli-000001_cm1-000003_eastus2euap\",\n  \"enableRBAC\": true,\n  \"supportPlan\":
        \"KubernetesOfficial\",\n  \"networkProfile\": {\n   \"networkPlugin\": \"azure\",\n
        \  \"networkPolicy\": \"cilium\",\n   \"networkDataplane\": \"cilium\",\n
        \  \"loadBalancerSku\": \"standard\",\n   \"loadBalancerProfile\": {\n    \"managedOutboundIPs\":
        {\n     \"count\": 1\n    },\n    \"backendPoolType\": \"nodeIPConfiguration\"\n
        \  },\n   \"serviceCidr\": \"10.0.0.0/16\",\n   \"dnsServiceIP\": \"10.0.0.10\",\n
        \  \"outboundType\": \"loadBalancer\",\n   \"serviceCidrs\": [\n    \"10.0.0.0/16\"\n
        \  ],\n   \"ipFamilies\": [\n    \"IPv4\"\n   ],\n   \"advancedNetworking\":
        {\n    \"enabled\": true,\n    \"observability\": {\n     \"enabled\": true\n
        \   },\n    \"security\": {\n     \"enabled\": true,\n     \"advancedNetworkPolicies\":
        \"FQDN\",\n     \"transitEncryption\": {\n      \"type\": \"None\"\n     }\n
        \   },\n    \"performance\": {\n     \"accelerationMode\": \"None\"\n    }\n
        \  }\n  },\n  \"maxAgentPools\": 100,\n  \"autoUpgradeProfile\": {\n   \"nodeOSUpgradeChannel\":
        \"NodeImage\"\n  },\n  \"disableLocalAccounts\": false,\n  \"securityProfile\":
        {},\n  \"storageProfile\": {\n   \"diskCSIDriver\": {\n    \"enabled\": true\n
        \  },\n   \"fileCSIDriver\": {\n    \"enabled\": true\n   },\n   \"snapshotController\":
        {\n    \"enabled\": true\n   }\n  },\n  \"oidcIssuerProfile\": {\n   \"enabled\":
        true,\n   \"issuerURL\": \"https://eastus2euap.oic.prod-aks.azure.com/72f988bf-86f1-41af-91ab-2d7cd011db47/5f284972-a94d-4d54-b8ad-7e235ca30c3f/\"\n
        \ },\n  \"workloadAutoScalerProfile\": {},\n  \"resourceUID\": \"6a3dfe69de88e90001c5fcae\",\n
        \ \"metricsProfile\": {\n   \"costAnalysis\": {\n    \"enabled\": false\n
        \  }\n  },\n  \"nodeProvisioningProfile\": {\n   \"mode\": \"Manual\",\n   \"defaultNodePools\":
        \"Auto\"\n  },\n  \"bootstrapProfile\": {\n   \"artifactSource\": \"Direct\"\n
        \ }\n },\n \"identity\": {\n  \"type\": \"SystemAssigned\",\n  \"principalId\":
        \"d23a614a-5925-4b48-a3d5-2fbd01fbb689\",\n  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        },\n \"sku\": {\n  \"name\": \"Base\",\n  \"tier\": \"Free\"\n }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/3944b0fc-b075-4f09-844c-7d0d674f3503?api-version=2025-03-01&t=639180445222018470&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/3944b0fc-b075-4f09-844c-7d0d674f3503?api-version=2025-03-01&t=639180445222018470&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/0b664c15-a99a-406d-a700-e50a1fae9003?api-version=2025-03-01&t=639180448281180917&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5[...]
[...]
- request:
    body: '{"properties": {"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/cm1-000003",
      "group": "group1", "labels": {"env": "production"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/cm1-000003?api-version=2026-06-02-preview
  response:
    body:
      string: '{"eTag":"\"0b00d0a4-0000-3400-0000-6a3e00e60000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/5921abb6-bc7a-442d-93ad-938db4f301f8?api-version=2016-03-30&t=639180451581165942&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/3a9ce9ef-e5ea-4fad-89ee-22f8d76c6676?api-version=2016-03-30&t=639180453659674887&c=MIIH9TCCBt2gAwIBAgIRAP4PdvzwmwtaNTafWfAIMvMwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA2MjAxOTQ4MDZaFw0yNjA5MTYwMTQ4MDZaMEAxPjA8BgNVBAMTNWFzeW5[...]
[...]
- request:
    body: '{"properties": {"memberSelector": {"byLabel": "env=production"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles/cmp-000005?api-version=2026-06-02-preview
  response:
    body:
      string: '{"eTag":"\"0b001bac-0000-3400-0000-6a3e01dd0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles/cmp-000005","name":"cmp-000005","properties":{"memberSelector":{"byLabel":"env=production"},"provisioningState":"Succeeded","status":{"lastOperationId":"3d64b006-cffd-4296-ac36-1077cdf935b3","state":"NotConnected"}},"systemData":{"createdAt":"2026-06-26T04:36:45.5251576Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-06-26T04:36:45.5251576Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/clusterMeshProfiles"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles?api-version=2026-06-02-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"0b002bac-0000-3400-0000-6a3e01e00000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles/cmp-000006","name":"cmp-000006","properties":{"memberSelector":{"byLabel":"env=production"},"provisioningState":"Succeeded","status":{"lastOperationId":"f394903b-a357-42bd-8102-3dd33b0a1e73","state":"NotConnected"}},"systemData":{"createdAt":"2026-06-26T04:36:47.9440972Z","createdBy":"test[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members?api-version=2026-06-02-preview&$filter=clusterMeshProfile%20eq%20cmp-000005
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members?api-version=2026-06-02-preview&$filter=clusterMeshProfile.Selector%20eq%20cmp-000005
  response:
    body:
      string: '{"value":[{"eTag":"\"0b0061ab-0000-3400-0000-6a3e01bd0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/p[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles/cmp-000005/apply?api-version=2026-06-02-preview
  response:
    body:
      string: '{"eTag":"\"0b0088ac-0000-3400-0000-6a3e01ee0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles/cmp-000005","name":"cmp-000005","properties":{"memberSelector":{"byLabel":"env=production"},"provisioningState":"Succeeded","status":{"lastAppliedMemberSelector":{"byLabel":"env=production"},"lastOperationId":"f56e60f8-9096-45e8-83f3-9b795f0f63f3","state":"Applying"}},"systemData":{"createdAt":"2026-06-26T04:36:45.5251576Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-06-26T04:36:45.5251576Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/clusterMeshProfiles"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/cm1-000003?api-version=2026-06-02-preview
  response:
    body:
      string: '{"eTag":"\"0c00171c-0000-3400-0000-6a3e101b0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members/cm1-000003","name":"cm1-000003","properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/cm1-000003","group":"group1","labels":{"env":"production","fleet.azure.com/cluster-name":"cm1-000003","fleet.azure.com/group":"group1","fleet.azure.com/location":"eastus2euap","fleet.azure.com/member-name":"cm1-000003","fleet.azure.com/resource-group":"cli-000001","fleet.azure.com/subscription-id":"d712bfad-d238-486f-8f1b-bf61a831b712"},"meshProperties":{"ciliumProperties":{"id":1,"name":"cm1-0000031"},"clusterMeshProfileResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/clusterMeshProfiles/cmp-000005","status":{"error":{"code":"ConnectivityTimeout","message":"No
        peers visible to Cilium for 1h0m1s (timeout: 15m0s)"},"lastUpdatedAt":"2026-06-26T05:37:31.280115307Z","state":"Failed"}},"provisioningState":"Succeeded","status":{"lastOperationId":"5921abb6-bc7a-442d-93ad-938db4f301f8"}},"systemData":{"createdAt":"2026-06-26T04:32:36.4447516Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-06-26T04:32:36.4447516Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets/members"}'
    headers:
      content-type:
      - application/json; charset=utf-8
[...]
