interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10 (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.10.10 (Linux-5.15.0-1034-azure-x86_64-with-glibc2.31)
        VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_261_0
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001?api-version=2021-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2023-04-05T22:52:33Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2023-03-16T10:19:55Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Apr 2023 22:52:33 GMT
=======
      - Thu, 16 Mar 2023 10:19:55 GMT
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"hubProfile": {"dnsPrefix":
<<<<<<< HEAD
      "fl-000002-cli-000001-26fe00"}}}'
=======
      "fl-000002-cli-000001-0b1f64"}}}'
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2023-03-15-preview
  response:
    body:
      string: '{"eTag":"\"00004904-0000-3300-0000-642dfbb30000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"centraluseuap","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26fe00","fqdn":"","kubernetesVersion":""},"provisioningState":"Creating"},"systemData":{"createdAt":"2023-04-05T22:52:35.4731922Z","createdBy":"pdaru@microsoft.com","createdByType":"User","lastModifiedAt":"2023-04-05T22:52:35.4731922Z","lastModifiedBy":"pdaru@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/20.3.0 Python/3.10.10
        (Linux-5.15.0-1034-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_261_0
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2022-07-02-preview
  response:
    body:
      string: '{"etag":"\"00005d3c-0000-3300-0000-6412ed4d0000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"centraluseuap","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-0b1f64","fqdn":"","kubernetesVersion":""},"provisioningState":"Creating"},"systemData":{"createdAt":"2023-03-16T10:19:57.1015158Z","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","lastModifiedAt":"2023-03-16T10:19:57.1015158Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 05 Apr 2023 22:52:35 GMT
=======
      - Thu, 16 Mar 2023 10:19:56 GMT
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2023-03-15-preview
  response:
    body:
      string: '{"eTag":"\"00004904-0000-3300-0000-642dfbb30000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"centraluseuap","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26fe00","fqdn":"","kubernetesVersion":""},"provisioningState":"Creating"},"systemData":{"createdAt":"2023-04-05T22:52:35.4731922Z","createdBy":"pdaru@microsoft.com","createdByType":"User","lastModifiedAt":"2023-04-05T22:52:35.4731922Z","lastModifiedBy":"pdaru@microsoft.com","lastModifiedByType":"User"},"type":"Microsoft.ContainerService/fleets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      fleet-configuration-version:
      - v20230301.1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2023-03-15-preview
  response:
    body:
      string: '{"eTag":"\"0000550[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets?api-version=2023-03-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"00005404-0000-3300-0000-642dfc830000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002","location":"centraluseuap","name":"fl-000002","properties":{"hubProfile":{"dnsPrefix":"fl-000002-cli-000001-26fe00","fqdn":"fl-000002-cli-000001-26fe00-vjxwlcke.hcp.centraluseuap.azmk8s.io","kubernetesVersion":"1.25.6"},"provisioningState":"Succeeded"},"systemData":{"createdAt":"2023-04-05T22:52:35.4731922Z"[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - fleet list
      Connection:
      - keep-alive
      User-Agent:
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/fleets?api-version=2023-03-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"00005404-0000-3300-0000-642dfc830000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl[...]
- request:
    body: null
    headers:
=======
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - fleet wait
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
      Connection:
      - keep-alive
      Content-Length:
      - '0'
      ParameterSetName:
<<<<<<< HEAD
      - -g -n --overwrite-existing
      User-Agent:
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/listCredentials?api-version=2023-03-15-preview
  response:
    body:
      string: '{"kubeconfigs":[{"name":"clusterUser","value":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVZBeVowSTRWRFF5UVZaUk1WQTFOMUZxT1VsUmFsVjNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BOZDA1RVFURk5ha2t3VFhwTmVWZG9aMUJOYWtFeFRYcEJNRTFFVlhsTmFsVjZUWHBLWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVs[...]
- request:
<<<<<<< HEAD
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001","name":"cli-000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"cause":"automation","date":"2023-04-05T22:52:33Z","gc_duetime":"2023-04-08T22:53:44Z","gc_skip":"test_int","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "flmc-000003-cli-000001-26fe00", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux",
      "enableAutoScaling": false, "type": "VirtualMachineScaleSets", "mode": "System",
      "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP": false,
      "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003?api-version=2022-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003\",\n
        \ \"location\": \"centraluseuap\",\n  \"name\": \"flmc-000003\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.10\",\n   \"currentKubernetesVersion\": \"1.24.10\",\n   \"dnsPrefix\":
        \"flmc-000003-cli-000001-26fe00\",\n   \"fqdn\": \"flmc-000003-cli-000001-26fe00-st8rd6jx.hcp.centraluseuap.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"flmc-000003-cli-000001-26fe00-st8rd6jx.portal.hcp.centraluseuap.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.24.10\",\n     \"currentOrchestratorVersion\":
        \"1.24.10\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-202303.22.0\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_cli-000001_flmc-000003_centraluseuap\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   }\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\": \"1180e49e-6cad-42ac-9e4f-5b431717a095\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/04517045-1752-4f34-aaa8-e28d171f676a?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/04517045-1752-4f34-aaa8-e28d171f676a?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"45705104-5217-344f-aaa8-e28d171f676a\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-04-05T22:56:23.4882433Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
=======
    body: '{"tags": {"foo": "doo"}}'
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
    headers:
<<<<<<< HEAD
=======
      Content-Length:
      - '24'
      Content-Type:
      - application/json
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
      ParameterSetName:
      - -g -n --tags
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/04517045-1752-4f34-aaa8-e28d171f676a?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"45705104-5217-344f-aaa8-e28d171f676a\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-04-05T22:56:23.4882433Z\",\n  \"endTime\":
        \"2023-04-05T22:59:59.322928Z\"\n }"
    headers:
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/20.3.0 Python/3.10.10
        (Linux-5.15.0-1034-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_261_0
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002?api-version=2022-07-02-preview
  response:
    bo[...]
[...]
- request:
    body: '{"properties": {"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-000001/providers/Microsoft.ContainerService/managedClusters/flmc-000003"}}'
    headers:
<<<<<<< HEAD
      - fleet member create
=======
      - fleet list
>>>>>>> ed3f463e9ef7980eff196504a8bb29800c123eba
      Connection:
      - keep-alive
      Content-Length:
      - '183'
      Content-Type:
      - application/json
      ParameterSetName:
<<<<<<< HEAD
      - -g --fleet-name -n --member-cluster-id
      User-Agent:
 [...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-000001/providers/Microsoft.ContainerService/fleets/fl-000002/members?api-version=2023-03-15-preview
  response:
    body:
      string: '{"value":[{"eTag":"\"00005904-0000-3300-0[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservicefleet/0.1.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/35f0f9b2-e920-4c32-b2a1-f5f49b57e65f?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b2f9f035-20e9-324c-b2a1-f5f49b57e65f\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-04-05T23:03:32.3097008Z\"\n }"
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/35f0f9b2-e920-4c32-b2a1-f5f49b57e65f?api-version=2016-03-30
    status:
      code: 202
      message: Accepted
[...]
