interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-13T09:08:06.9159389","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T09:08:06.9159389"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"livelypebble-4bdc8f59.eastus.azurecontainerapps.io","staticIp":"52.191.238.10","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"2c2bfa08-413f-427b-aef1-4bd1edf3e5ad","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/mana[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart:latest",
      "name": "capp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": {"minReplicas":
      1, "maxReplicas": null, "rules": []}, "volumes": null, "serviceBinds": null},
      "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-07T06:58:26.1876234Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-07T06:58:26.1876234Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":null,"outboundIpAddresses":["52.191.234.23"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"capp000002.livelypebble-4bdc8f59.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"capp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/a970e8e9-b258-470d-99d8-e4536616bf8b?api-version=2023-05-02-preview&azureAsyncOperation=true&t=638322587068439389&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTgwNDI4WhcNMjQwNzI3MTgwNDI4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/a970e8e9-b258-470d-99d8-e4536616bf8b?api-version=2023-05-02-preview&azureAsyncOperation=true&t=638322587068439389&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps","location":"East
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://capp000002.livelypebble-4bdc8f59.eastus.azurecontainerapps.io/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=en>\n\n<head>\n    <meta charset=utf-8\
        \ />\n    <meta name=viewport content=\"width=device-width, initial-scale=1.0\"\
        \ />\n    <meta http-equiv=X-UA-Compatible content=\"IE=edge\" />\n    <title>Azure\
        \ Container Apps - Welcome</title>\n    <link rel=\"icon\" href=favicon.svg\
        \ type=image/x-icon />\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css\"\
        \ rel=\"stylesheet\"\n        integrity=\"sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM\"\
        \ crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css\"\
        \n        crossorigin=\"anonymous\">\n    <script type=text/javascript>window.onload=function(){try{loc(\"\
        landing\")}catch(a){}};</script>\n</head>\n\n<body>\n    <nav class=\"navbar\
        \ navbar-light\">\n        <div class=navbar-brand>\n            <div class=\"\
        container pl-4 ml-5\">\n                <img src=https://appservice.azureedge.net/images/static-apps/v3/microsoft_azure_logo.svg\
        \ width=270\n                    height=108 alt />\n            </div>\n \
        \       </div>\n    </nav>\n    <div class=\"container-fluid container-height\
        \ mr-2\">\n        <div class=\"pt-10 pb-10 mt-10 mb-10 d-xxs-none d-xs-none\
        \ d-sm-none d-md-none d-lg-block d-xl-block\"\n            style=height:20px;width:100%;clear:both></div>\n\
        \        <div class=row>\n            <div class=\"row col-xs-12 col-sm-12\
        \ d-block d-lg-none d-xl-none d-md-block d-sm-block d-xs-block\">\n      \
        \          <div class=text-center>\n\n                </div>\n           \
        \ </div>\n            <div\n                class=\"extra-pl-small-scr offset-xl-1\
        \ offset-lg-1 offset-md-2 offset-sm-2 offset-xs-4 col-xl-5 col-lg-5 col-md-10\
        \ col-sm-11 col-xs-11 div-vertical-center\">\n                <div class=container-fluid>\n\
        \                    <div class=row>\n                        <h2 id=titleText>Your\
        \ Azure Container Apps app is live</h2>\n                    </div>\n    \
        \                <br />\n                    <div class=row>\n           \
        \             <h5>\n                            What's next?\n           \
        \             </h5>\n                    </div>\n                    <div\
        \ class=row>\n                        <ol class=\"list-group list-group-numbered\"\
        >\n                            <li class=\"list-group-item\">\n          \
        \                      Understand the concepts of revisions and replicas\n\
        \n                                <a id=learnMoreLink1 class=\"icon-link\"\
        \n                                    href=\"https://learn.microsoft.com/en-us/azure/container-apps/revisions\"\
        >\n                                    <i class=\"bi-arrow-right\"></i>\n\
        \                                </a>\n                            </li>\n\
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--01eict2/replicas?api-version=2023-05-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--01eict2/replicas/capp000002--01eict2-574d5788c9-xswqx","name":"capp000002--01eict2-574d5788c9-xswqx","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2023-10-07T06:58:27Z","runningState":"Running","runningStateDetails":"","containers":[{"name":"capp000002","containerId":"containerd://d94f1380c62b0c6687c4c27824d1f264aa57e8434bd33d831ec36e2d96e7de2f","ready":true,"started":true,"restartCount":0,"runningState":"Running","runningStateDetails":"Container
        started at: 10/7/2023 6:58:30 AM.","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--01eict2/replicas/capp000002--01eict2-574d5788c9-xswqx/containers/capp000002/logstream","execEndpoint":"wss://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--01eict2/replicas/capp000002--01eict2-574d5788c9-xswqx/containers/capp000002/exec"}],"initContainers":[]}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--01eict2?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--01eict2","name":"capp000002--01eict2","type":"Microsoft.App/containerapps/revisions","properties":{"createdTime":"2023-10-07T06:58:26+00:00","fqdn":"capp000002--01eict2.livelypebble-4bdc8f59.eastus.azurecontainerapps.io","template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"capp000002","resources":{"cpu":0.500,"memory":"1Gi"},"probes":[]}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"active":true,"replicas":1,"trafficWeight":100,"healthState":"Healthy","provisioningState":"Provisioned","runningState":"Running"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--01eict2/replicas/capp000002--01eict2-574d5788c9-xswqx/?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp00000[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/getAuthToken?api-version=2023-05-01
  response:
    body:
      string: '{"location":"East US","properties":{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjIzZjk1ZjBlLWU3ODItNDdiZS05Zjk3LTU2MDM1ZWMxMGU0MiIsImNhcHBfcmciOiJjbGl0ZXN0LnJnNGxoMnh1N291eWEycWt1Zmw1MnEzemQ3bzN1N2dsbzd1c3l3dngybDdkeDRiazRmaWtwdmZpZmF2c3ppaG1lb24iLCJjYXBwX25hbWUiOiJjYXBwY3Zyb2IzeHFvcXdwdTJmZzI2ZHciLCJjYXBwX2ppdF9leHBpcnkiOiIyMDIzLTEwLTA3VDA3OjU4OjQ2LjgyMDQyMzFaIiwibmJmIjoxNjk2NjYxOTI2LCJleHAiOjE2OTY2NjU1MjYsImlhdCI6MTY5NjY2MTkyNiwiaXNzIjoiQXp1cmVDb250YWluZXJBcHBzIiwiYXVkIjoiaHR0cHM6Ly9lYXN0dXMuYXp1cmVjb250YWluZXJhcHBzLmRldiJ9.u8Nqf6QlOdWRjA-EG7mpQMGdAbREngx_TV51TudbWig","expires":"2023-10-07T07:58:46.8204231Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps/accesstoken"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--01eict2/replicas/capp000002--01eict2-574d5788c9-xswqx/containers/capp000002/logstream?follow=false&output=json&tailLines=20
  response:
    body:
      string: '{"TimeStamp":"2023-10-07T06:58:49.38903","Log":"Connecting to the container
        \u0027capp000002\u0027..."}

        {"TimeStamp":"2023-10-07T06:58:49.40506","Log":"Successfully Connected to
        container: \u0027capp000002\u0027 [Revision: \u0027capp000002--01eict2\u0027,
        Replica: \u0027capp000002--01eict2-574d5788c9-xswqx\u0027]"}

        {"TimeStamp":"2023-10-07T06:58:30.4168991+00:00","Log":"06:58:30 Listening
        on :80..."}

        '
    headers:
    status:
      code: 200
      message: OK
version: 1
