interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-05-10T18:49:58Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"customerId":"1b514c02-2ff1-4b0e-9030-8cbdb39a1741","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-05-10T18:50:10.2260976Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-05-11T09:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-05-10T18:50:10.2260976Z","modifiedDate":"2022-05-10T18:50:10.2260976Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"customerId":"1b514c02-2ff1-4b0e-9030-8cbdb39a1741","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-05-10T18:50:10.2260976Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-05-11T09:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-05-10T18:50:10.2260976Z","modifiedDate":"2022-05-10T18:50:10.2260976Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"B4wxK1mTq3HbrrNq6nxvufteahcq2GZWi01UZgRT50tgi4sPz5E5OqUfJ8VLi1NfleZVAkO0J0ueO6V2TuvY7w==","secondarySharedKey":"x6+vRbJMoL1tdcEoTDvcNcg93JfW8jDQ73XLbk0Gk75BcwDqtHek0mXiv/z3A+oD8P75bltK94Yoq10Clph9Vw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"containerApps"[...]
[...]
- request:
    body: '{"location": "northeurope", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "internalLoadBalancerEnabled": false, "appLogsConfiguration":
      {"destination": "log-analytics", "logAnalyticsConfiguration": {"customerId":
      "1b514c02-2ff1-4b0e-9030-8cbdb39a1741", "sharedKey": "B4wxK1mTq3HbrrNq6nxvufteahcq2GZWi01UZgRT50tgi4sPz5E5OqUfJ8VLi1NfleZVAkO0J0ueO6V2TuvY7w=="}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","name":"env000003","type":"Microsoft.App/managedEnvironments","location":"northeurope","systemData":{"createdBy":"calcha@microsoft.com","createdByType":"User","createdAt":"2022-05-10T18:50:52.282276Z","lastModifiedBy":"calcha@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-10T18:50:52.282276Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"purpledesert-8c0a8ba2.northeurope.azurecontainerapps.io","staticIp":"20.223.95.45","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"1b514c02-2ff1-4b0e-9030-8cbdb39a1741"}},"zoneRedundant":false}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northeurope/managedEnvironmentOperationStatuses/6ee064d6-0cdf-4a35-bd66-1d4d85923657?api-version=2022-03-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "northeurope", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "traffic":
      null, "customDomains": null}, "dapr": null, "registries": null}, "template":
      {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "capp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "scale": {"minReplicas": 1, "maxReplicas": null,
      "rules": []}, "volumes": null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps","location":"North
        Europe","systemData":{"createdBy":"calcha@microsoft.com","createdByType":"User","createdAt":"2022-05-10T18:51:38.9503816Z","lastModifiedBy":"calcha@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-10T18:51:38.9503816Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","outboundIpAddresses":["20.223.18.252","20.223.19.28","20.223.19.91"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"A5B12E93C19D795D34DF79C449C2C3BAF58329ACBE54CAAF49EDCD93822ACCE8","configuration":{"activeRevisionsMode":"Single","ingress":{"fqdn":"capp000002.purpledesert-8c0a8ba2.northeurope.azurecontainerapps.io","external":true,"targetPort":80,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"allowInsecure":false}},"template":{"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"capp000002","resources":{"cpu":0.5,"memory":"1Gi"}}],"scale":{"minReplicas":1,"maxReplicas":10}}},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northeurope/containerappOperationStatuses/cc5719d6-7581-42da-9f98-da8c746eb12d?api-version=2022-03-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://capp000002.purpledesert-8c0a8ba2.northeurope.azurecontainerapps.io/
  response:
    body:
      string: "<html>\n<head>\n  <title>Welcome to Azure Container Apps!</title>\n</head>\n<style>\nh1
        {\n    color: #552f99;\n    font-family:arial, sans-serif;\n    font-weight:
        lighter;\n} \nbody{\n    margin-top: 30px;\n    background-color: #EEE;\n}\n</style>\n\n<body>\n\n<div
        align=\"center\">\n<h1>Welcome to Azure Container Apps!</h1>\n\n<svg xmlns=\"http://www.w3.org/2000/svg\"
        width=\"300\" height=\"300\" viewBox=\"0 0 18 18\">\n    <defs>\n      <linearGradient
        id=\"b27f1ad0-7d11-4247-9da3-91bce6211f32\" x1=\"8.798\" y1=\"8.703\" x2=\"14.683\"
        y2=\"8.703\" gradientUnits=\"userSpaceOnUse\">\n        <stop offset=\"0.001\"
        stop-color=\"#773adc\"/>\n        <stop offset=\"1\" stop-color=\"#552f99\"/>\n
        \     </linearGradient>\n      <linearGradient id=\"b2f92112-4ca9-4b17-a019-c9f26c1a4a8f\"
        x1=\"5.764\" y1=\"3.777\" x2=\"5.764\" y2=\"13.78\" gradientUnits=\"userSpaceOnUse\">\n
        \       <stop offset=\"0\" stop-color=\"#a67af4\"/>\n        <stop offset=\"0.999\"
        stop-color=\"#773adc\"/>\n      </linearGradient>\n    </defs>\n    <g id=\"b8a0486a-5501-4d92-b540-a766c4b3b548\">\n
        \     <g>\n        <g>\n          <g>\n            <path d=\"M16.932,11.578a8.448,8.448,0,0,1-7.95,5.59,8.15,8.15,0,0,1-2.33-.33,2.133,2.133,0,0,0,.18-.83c.01,0,.03.01.04.01a7.422,7.422,0,0,0,2.11.3,7.646,7.646,0,0,0,6.85-4.28l.01-.01Z\"
        fill=\"#32bedd\"/>\n            <path d=\"M3.582,14.068a2.025,2.025,0,0,0-.64.56,8.6,8.6,0,0,1-1.67-2.44l1.04.23v.26a.6.6,0,0,0,.47.59l.14.03a6.136,6.136,0,0,0,.62.73Z\"
        fill=\"#32bedd\"/>\n            <path d=\"M12.352.958a2.28,2.28,0,0,0-.27.81c-.02-.01-.05-.02-.07-.03a7.479,7.479,0,0,0-3.03-.63,7.64[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--sy1e7y5/replicas?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--sy1e7y5/replicas/capp000002--sy1e7y5-584ff8f849-qqr27","name":"capp000002--sy1e7y5-584ff8f849-qqr27","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2022-05-10T18:51:42Z","containers":[{"name":"capp000002","containerId":"containerd://79db94c282b545be35fbde9409ac93b6ed3d6e774dfd56e02b2e62ada259bc41","ready":true,"started":true,"restartCount":0},{"name":"identity-service-0cee4339","containerId":"containerd://8c5bb29950835c881e0fd7628b24c04d20eaafe3ddd74b4b6de13eafee69d5f9","ready":true,"started":true,"restartCount":0}]}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--sy1e7y5?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--sy1e7y5","name":"capp000002--sy1e7y5","type":"Microsoft.App/containerapps/revisions","properties":{"createdTime":"2022-05-10T18:51:41+00:00","fqdn":"capp000002--sy1e7y5.purpledesert-8c0a8ba2.northeurope.azurecontainerapps.io","template":{"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"capp000002","resources":{"cpu":0.50,"memory":"1Gi"},"probes":[]}],"scale":{"minReplicas":1,"maxReplicas":10}},"active":true,"replicas":1,"trafficWeight":100,"healthState":"Healthy","provisioningState":"Provisioned"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--sy1e7y5/replicas/capp000002--sy1e7y5-584ff8f849-qqr27/?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--sy1e7y5/replicas/capp000002--sy1e7y5-584ff8f849-qqr27","name":"capp000002--sy1e7y5-584ff8f849-qqr27","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2022-05-10T18:51:42Z","containers":[{"name":"capp000002","containerId":"containerd://79db94c282b545be35fbde9409ac93b6ed3d6e774dfd56e02b2e62ada259bc41","ready":true,"started":true,"restartCount":0},{"name":"identity-service-0cee4339","containerId":"containerd://8c5bb29950835c881e0fd7628b24c04d20eaafe3ddd74b4b6de13eafee69d5f9","ready":true,"started":true,"restartCount":0}]}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/authtoken?api-version=2022-03-01
  response:
    body:
      string: '{"location":"North Europe","properties":{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjU3MDBmYzk2LTc3YjQtNGY4ZC1hZmNlLWMzNTNkOGM0NDNiZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnY2tpZmxpaTNlcmR1eWxoY3d2N3JxZncydTJqbzdjejQyeGl0enFlaGp4dDI2ZTJxb3Nna2g3cnpvbmpvbWNnZXoiLCJjYXBwX25hbWUiOiJjYXBweHFzcXo3dWRuZHl6amZ3NHdnNG0iLCJuYmYiOjE2NTIyMDg3MzYsImV4cCI6MTY1MjIxMjMzNiwiaWF0IjoxNjUyMjA4NzM2LCJpc3MiOiJBenVyZUNvbnRhaW5lckFwcHMiLCJhdWQiOiJodHRwczovL25vcnRoZXVyb3BlLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ._sT7ApnFpsZuO-3-6AuK-Xb7mZtG76iOUQ8IuS-vbWg","expires":"2022-05-10T19:52:16.3270947Z","logStreamEndpoint":"https://northeurope.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/logstream?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjU3MDBmYzk2LTc3YjQtNGY4ZC1hZmNlLWMzNTNkOGM0NDNiZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnY2tpZmxpaTNlcmR1eWxoY3d2N3JxZncydTJqbzdjejQyeGl0enFlaGp4dDI2ZTJxb3Nna2g3cnpvbmpvbWNnZXoiLCJjYXBwX25hbWUiOiJjYXBweHFzcXo3dWRuZHl6amZ3NHdnNG0iLCJuYmYiOjE2NTIyMDg3MzYsImV4cCI6MTY1MjIxMjMzNiwiaWF0IjoxNjUyMjA4NzM2LCJpc3MiOiJBenVyZUNvbnRhaW5lckFwcHMiLCJhdWQiOiJodHRwczovL25vcnRoZXVyb3BlLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ._sT7ApnFpsZuO-3-6AuK-Xb7mZtG76iOUQ8IuS-vbWg","execEndpoint":"wss://northeurope.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/exec?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjU3MDBmYzk2LTc3YjQtNGY4ZC1hZmNlLWMzNTNkOGM0NDNiZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnY2tpZmxpaTNlcmR1eWxoY3d2N3JxZncydTJqbzdjejQyeGl0enFlaGp4dDI2ZTJxb3Nna2g3cnpvbmpvbWNnZXoiLCJjYXBwX25hbWUiOiJjYXBweHFzcXo3dWRuZHl6amZ3NHdnNG0iLCJuYmYiOjE2NTIyMDg3MzYsImV4cCI6MTY1MjIxMjMzNiwiaWF0IjoxNjUyMjA4NzM2LCJpc3MiOiJBenVyZUNvbnRhaW5lckFwcHMiLCJhdWQiOiJodHRwczovL25vcnRoZXVyb3BlLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ._sT7ApnFpsZuO-3-6AuK-Xb7mZtG76iOUQ8IuS-vbWg"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps/accesstoken"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://northeurope.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--sy1e7y5/replicas/capp000002--sy1e7y5-584ff8f849-qqr27/containers/capp000002/logstream?follow=false&output=json&tailLines=20
  response:
    body:
      string: '{"TimeStamp":"2022-05-10T18:52:17.68627","Log":"Connecting to the container
        \u0027capp000002\u0027..."}

        {"TimeStamp":"2022-05-10T18:52:17.70781","Log":"Successfully Connected to
        container: \u0027capp000002\u0027 [Revision: \u0027capp000002--sy1e7y5\u0027,
        Replica: \u0027capp000002--sy1e7y5-584ff8f849-qqr27\u0027]"}

        {"TimeStamp":"2022-05-10T18:51:44.6674348+00:00","Log":"on port 80"}

        '
    headers:
    status:
      code: 200
      message: OK
version: 1
