interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env-francecentral''
        under resource group ''client.env_rg_francecentral'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "francecentral"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_francecentral?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral","name":"client.env_rg_francecentral","type":"Microsoft.Resources/resourceGroups","location":"francecentral","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "francecentral", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": null,
      "logAnalyticsConfiguration": null}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral","name":"env-francecentral","type":"Microsoft.App/managedEnvironments","location":"France
        Central","systemData":{"createdBy":"bgashirabake@microsoft.com","createdByType":"User","createdAt":"2024-01-10T19:48:26.0871599","lastModifiedBy":"bgashirabake@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-10T19:48:26.0871599"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"thankfuldune-85e7e002.francecentral.azurecontainerapps.io","staticIp":"51.11.200.71","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://francecentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/managedEnvironments/env-francecentral/eventstream","customDomainConfiguration":{"customDomainVerificationId":"BD4B1B8716EE2411F49E8D8E02231E4C80C6134013C72828BF30408FF5D101DE","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/managedEnvironmentOperationStatuses/b5bd134c-44cb-4ce3-9174-620eed800c1d?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405129077902938&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQDEzVhc3luY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/managedEnvironmentOperationStatuses/b5bd134c-44cb-4ce3-9174-620eed800c1d?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405129077902938&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0Eg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral","name":"env-francecentral"[...]
[...]
- request:
    body: '{"location": "France Central", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "redis"}}, "template":
      {"revisionSuffix": null, "containers": [{"image": "redis", "name": "redis",
      "command": null, "args": null, "env": null, "resources": null, "volumeMounts":
      null}], "initContainers": null, "scale": null, "volumes": null, "serviceBinds":
      null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/containerApps/redis?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/containerapps/redis","name":"redis","type":"Microsoft.App/containerApps","location":"France
        Central","systemData":{"createdBy":"bgashirabake@microsoft.com","createdByType":"User","createdAt":"2024-01-10T19:49:38.6509342Z","lastModifiedBy":"bgashirabake@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-10T19:49:38.6509342Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral","workloadProfileName":"Consumption","outboundIpAddresses":["20.216.216.188","20.216.216.219","20.216.217.5","20.216.216.182","20.74.16.183","20.74.94.128","20.74.94.150","20.74.93.40"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"BD4B1B8716EE2411F49E8D8E02231E4C80C6134013C72828BF30408FF5D101DE","configuration":{"secrets":[{"name":"redis-config"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"redis.internal.thankfuldune-85e7e002.francecentral.azurecontainerapps.io","external":false,"targetPort":6379,"exposedPort":6379,"transport":"Tcp","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":null,"service":{"type":"redis"}},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/azure-redis-cache/redis:7.0.12-alpine","name":"redis","command":["redis-server"],"args":["/redis-config/redis.config"],"resources":{"cpu":1.0,"memory":"2Gi","ephemeralStorage":""},"volumeMounts":[{"volumeName":"redis-config","mountPath":"/redis-config"}]}],"initContainers":null,"scale":{"minReplicas":0,"maxReplicas":1,"rules":null},"volumes":[{"name":"redis-config","storageType":"EmptyDir"}],"serviceBinds":null},"eventStreamEndpoint":"https://francecentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/containerApps/redis/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/containerappOperationStatuses/97bbe14c-c335-4fb6-a042-b3a9301f8df4?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405129799479094&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHh[...]
[...]
- request:
    body: '{"location": "France Central", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "postgres"}}, "template":
      {"re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/containerappOperationStatuses/7a10704c-9ccd-43af-b9f5-4837ba260b66?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405130751316208&c=MIIHADCCBeigAwIBAgITHgOPMCVriuS4-lWO9AAAA48wJTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHh[...]
[...]
- request:
    body: '{"location": "France Central", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "kafka"}}, "template":
      {"revis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/containerappOperationStatuses/4040fea4-9585-44c6-af46-2e7c51cf8029?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405130894061799&c=MIIHADCCBeigAwIBAgITHgOPMCVriuS4-lWO9AAAA48wJTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHh[...]
[...]
- request:
    body: '{"location": "France Central", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "mariadb"}}, "template":
      {"rev[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/containerappOperationStatuses/93d47b5a-ac59-4556-b5f9-9904cf27537a?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405131025527487&c=MIIHADCCBeigAwIBAgITHgOPMCVriuS4-lWO9AAAA48wJTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHh[...]
[...]
- request:
    body: '{"location": "France Central", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_francecentral/providers/Microsoft.App/managedEnvironments/env-francecentral",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "qdrant"}}, "template":
      {"revi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/containerappOperationStatuses/34483ef2-6871-4f6f-aa04-06bcfe02ebae?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638405131170168134&c=MIIHADCCBeigAwIBAgITHgOPMCVriuS4-lWO9AAAA48wJTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHh[...]
[...]
