interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgym6wlmii46vrnzuyzqfii?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6fabb5c9-1c2e-45e7-ab4b-95e182e7c519","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-11T23:57:20.4159843Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-12T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-11T23:57:20.4159843Z","modifiedDate":"2023-09-11T23:57:20.4159843Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgym6wlmii46vrnzuyzqfii","name":"workspace-clitestrgym6wlmii46vrnzuyzqfii","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgym6wlmii46vrnzuyzqfii?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgym6wlmii46vrnzuyzqfii?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6fabb5c9-1c2e-45e7-ab4b-95e182e7c519","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-11T23:57:20.4159843Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-12T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-11T23:57:20.4159843Z","modifiedDate":"2023-09-11T23:57:20.4159843Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgym6wlmii46vrnzuyzqfii","name":"workspace-clitestrgym6wlmii46vrnzuyzqfii","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgym6wlmii46vrnzuyzqfii/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"dwRY0+v2QRG17y3GUSdGJmyL/bH6BxP4JZ8NpzCh/Owi+79lQXERhYY0RNYGLBfnT/5psuMTyabYvOm4hkT+YA==","secondarySharedKey":"TdmJkavAeFY75tPPPxM2M/ZCbrBqIh+TxOhisUWCmZxbMCqxlRMUzsdageIYifTouU1Qc2/hn4hHj9juSr4oCQ=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "6fabb5c9-1c2e-45e7-ab4b-95e182e7c519",
      "sharedKey": "dwRY0+v2QRG17y3GUSdGJmyL/bH6BxP4JZ8NpzCh/Owi+79lQXERhYY0RNYGLBfnT/5psuMTyabYvOm4hkT+YA=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-11T23:57:22.9324119Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-11T23:57:22.9324119Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"agreeablesand-0bbc5bb9.eastus.azurecontainerapps.io","staticIp":"52.170.173.91","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"6fabb5c9-1c2e-45e7-ab4b-95e182e7c519","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/229920ef-c78c-4c2e-ba35-be9a5161215c?api-version=2023-04-01-preview&azureAsyncOperation=true&t=638300734461980521&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAzMDczNjQzWhcNMjQwNzI4MDczNjQzWjBAMT4wPAYDVQQDEz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/229920ef-c78c-4c2e-ba35-be9a5161215c?api-version=2023-04-01-preview&azureAsyncOperation=true&t=638300734461980521&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhc[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-11T23:57:44.1142646+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-11T23:57:44.1142646+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-09-11T23:57:44.1142646Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-09-11T23:57:50.5305264+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-09-11T23:57:50.5305691+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-ffbfcb90-50fe-11ee-b6c1-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-ffbfcb90-50fe-11ee-b6c1-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-ffbfcb90-50fe-11ee-b6c1-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"BQEymMckWkuf+ZdgCGZtZheRw2hoO9gZmQyZdxXaiH+ACRC8xud8"},{"name":"password2","value":"aSgO5nQttA6ZMhh74YhNk0A6I9IPJEblFtTl4LxT/v+ACRA9+ix7"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"BQEymMckWkuf+ZdgCGZtZheRw2hoO9gZmQyZdxXaiH+ACRC8xud8"},{"name":"password2","value":"aSgO5nQttA6ZMhh74YhNk0A6I9IPJEblFtTl4LxT/v+ACRA9+ix7"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBydGhlZHVsajVvdjI6MjAyMzA5MTExNjU3NTg1ODUwMjkgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwcnRoZWR1bGo1b3YyOjIwMjMwOTExMTY1NzU4NTg1MDI5Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-11T23[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged69.blob.core.windows.net/1850b918bf8f4ec2902792d17fb5ea97-gdkkyxwwqo/source/202309110000/59f6dd7d-d759-47be-955a-0355054cc069.tar.gz?sv=2021-12-02&se=2023-09-12T00%3A58%3A18Z&sr=b&sp=cw&sig=%2BU8fsb8%2B84AGponmS%2BeMXuvZfsxDQQyRwKLx9tBulSo%3D","relativePath":"source/202309110000/59f6dd7d-d759-47be-955a-0355054cc069.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICJup/2QC/2NsaV9zb3VyY2VfYXJjaGl2ZV84YjQ3MjY5MGViNmM0YzlkOTdhYmYzOGM2ZTEy
      OTMxZS50YXIA7Vxtb9s4Es7nAP0PU+8t5HZtWZLfEjfJ7l6bbRfodYO2h8PhcFgoEm2zkUUtSTnJ
      dXO//Yak5Chu+oo6ubbz5EPkIYccvswMORLp9/zeT0fx2RMWp0xubQSBw9v+B0F/cPls6GE4GEZb
      cLZ1AyiVjiVW/7kb+YUg2oGF5gu2H452RsHucGc38sfD3WjQj7a3CF89ejdQh9GH8Xj8dv1/43kc
      jYMtGJL+bxw+2X+y/2T/v1nEReG/Upu3/6PR6G36HwWjaE3/g3403oKA9H/jWMYSEslizQ6lFBL2
      QbI/Si5Z25trXXSZoSrv3oNtk5OdFZIp1cxVkeocRaznzWT[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-11T23:58:07.1647363+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202309110000/59f6dd7d-d759-47be-955a-0355054cc069.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmpe9q7fk60", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-09-11T23:58:21+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-11T23:58:20.2307508+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged69.blob.core.windows.net/1850b918bf8f4ec2902792d17fb5ea97-gdkkyxwwqo/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-12T01%3A08%3A21Z&sr=b&sp=r&sig=p%2FqADwHG4EBFw9zys4WVeEqW9owN4vf6k5O%2BqRfkG%2Fc%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Sep 2023 23:58:22 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged69.blob.core.windows.net/1850b918bf8f4ec2902792d17fb5ea97-gdkkyxwwqo/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-12T01%3A08%3A21Z&sr=b&sp=r&sig=p%2FqADwHG4EBFw9zys4WVeEqW9owN4vf6k5O%2BqRfkG%2Fc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB322FAA0D39D"'
      last-modified:
      - Mon, 11 Sep 2023 23:58:21 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 11 Sep 2023 23:58:21 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Sep 2023 23:58:23 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged69.blob.core.windows.net/1850b918bf8f4ec2902792d17fb5ea97-gdkkyxwwqo/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-12T01%3A08%3A21Z&sr=b&sp=r&sig=p%2FqADwHG4EBFw9zys4WVeEqW9owN4vf6k5O%2BqRfkG%2Fc%3D
  response:
    body:
      string: "2023/09/11 23:58:21 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB322FAA0D39D"'
      last-modified:
      - Mon, 11 Sep 2023 23:58:21 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 11 Sep 2023 23:58:21 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Sep 2023 23:58:26 GMT
      x-ms-range:
      - bytes=48-4143
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged69.blob.core.windows.net/1850b918bf8f4ec2902792d17fb5ea97-gdkkyxwwqo/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-12T01%3A08%3A21Z&sr=b&sp=r&sig=p%2FqADwHG4EBFw9zys4WVeEqW9owN4vf6k5O%2BqRfkG%2Fc%3D
  response:
    body:
      string: "2023/09/11 23:58:22 Finished downloading source code\r\n2023/09/11
        23:58:22 Alias support enabled for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases
        for more information.\n2023/09/11 23:58:22 Creating Docker network: acb_default_network,
        driver: 'bridge'\n2023/09/11 23:58:22 Successfully set up Docker network:
        acb_default_network\n2023/09/11 23:58:22 Setting up Docker configuration...\n2023/09/11
        23:58:23 Successfully set up Docker configuration\n2023/09/11 23:58:23 Logging
        in to registry: containerapp000004.azurecr.io\n2023/09/11 23:58:23 Successfully
        logged into containerapp000004.azurecr.io\n2023/09/11 23:58:23 Executing step
        ID: acb_step_0. Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/11
        23:58:23 Launching container with name: acb_step_0\nUnable to find image 'mcr.microsoft.com/oryx/cli:debian-buster-20230222.1'
        locally\ndebian-buster-20230222.1: Pulling from oryx/cli\nb2404786f3fe: Pulling
        fs layer\ne97ef50ee5a8: Pulling fs layer\ndfb1477a1a0e: Pulling fs layer\n69fefe447a70:
        Pulling fs layer\n75c028bd406f: Pulling fs layer\n69285aafba30: Pulling fs
        layer\n5ec5a733efd1: Pulling fs layer\n940e5351b949: Pulling fs layer\n75c028bd406f:
        Waiting\n69285aafba30: Waiting\n5ec5a733efd1: Waiting\n940e5351b949: Waiting\n69fefe447a70:
        Waiting\ne97ef50ee5a8: Download complete\ndfb1477a1a0e: Verifying Checksum\ndfb1477a1a0e:
        Download complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 48-1447/1448
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB322FC4B1D5D"'
      last-modified:
      - Mon, 11 Sep 2023 23:58:24 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 11 Sep 2023 23:58:21 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Sep 2023 23:58:45 GMT
      x-ms-range:
      - bytes=4336-8431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged69.blob.core.windows.net/1850b918bf8f4ec2902792d17fb5ea97-gdkkyxwwqo/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-12T01%3A08%3A21Z&sr=b&sp=r&sig=p%2FqADwHG4EBFw9zys4WVeEqW9owN4vf6k5O%2BqRfkG%2Fc%3D
  response:
    body:
      string: " ---> Running in 847239aae5d9\nOperation performed by Microsoft Oryx,
        https://github.com/Microsoft/Oryx\nYou can report issues at https://github.com/Microsoft/Oryx/issues\n\nOryx
        Version: 0.2.20230904.1, Commit: f2d28cc9e92250b08ae08ccedf3b64dc4944b762,
        ReleaseTagName: 20230904.1\n\nBuild Operation ID: f7e8965dcb3197c9\nOS Type
        \          : bullseye\nImage Type        : cli\n\nDetecting platforms...\nDetected
        following platforms:\n  nodejs: 16.20.2\nVersion '16.20.2' of platform 'nodejs'
        is not installed. Generating script to install it...\nDetected the following
        frameworks: Express\n\n\nSource directory     : /app\nDestination directory:
        /output\n\nInstalling common platform dependencies...\nGet:1 http://deb.debian.org/debian
        bullseye InRelease [116 kB]\nGet:2 http://deb.debian.org/debian-security bullseye-security
        InRelease [48.4 kB]\nGet:3 http://deb.debian.org/debian bullseye-updates InRelease
        [44.1 kB]\nGet:4 http://deb.debian.org/debian bullseye/main amd64 Packages
        [8183 kB]\nGet:5 http://deb.debian.org/debian-security bullseye-security/main
[...]
