interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-23T04:59:04.4655929"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-26T02:15:41.4551089+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-26T02:15:41.4551089+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-10-26T02:15:41.4551089Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-10-26T02:15:48.4476146+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-10-26T02:15:48.4476632+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-8e107381-73a5-11ee-baf4-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-8e107381-73a5-11ee-baf4-2c0da7bd12b1?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-8e107381-73a5-11ee-baf4-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"r1dHsqnSySV3PMsuHAx45Q1VdRMKibrTtRGj1NLI2b+ACRCDVzag"},{"name":"password2","value":"gsgt2MGeisww6Lof3F8e5ZoGEpIprtVkEHBT+xgS3E+ACRAeBM5D"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/mana[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"r1dHsqnSySV3PMsuHAx45Q1VdRMKibrTtRGj1NLI2b+ACRCDVzag"},{"name":"password2","value":"gsgt2MGeisww6Lof3F8e5ZoGEpIprtVkEHBT+xgS3E+ACRAeBM5D"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/source/202310260000/34cd83e2-0bff-4827-b56f-07d1c8029106.tar.gz?sv=2021-12-02&se=2023-10-26T03%3A16%3A09Z&sr=b&sp=cw&sig=YirAiWb4I%2FQAyhLR7dqwAiBk1C5WqGxr5SRBOCo%2FlS4%3D","relativePath":"source/202310260000/34cd83e2-0bff-4827-b56f-07d1c8029106.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICOfLOWUC/2J1aWxkX2FyY2hpdmVfYzJmOWJiMmMzM2Q5NDAyNTk3NmEzMWE1NDZiZGMxNWEu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp0QiEJCMDDko4tJJsx+s4Ts9MSWro6R5390jIPMd5
      m/Xu2+Mlm42Tl32O4yQ2BozBNpgbjPFt7kNCgAQCSQiDLgQSiEOu/aqqe24JcGBgTX32x7S6q77v
      q+s7qqurXG6Xe0aFtHgOlsJYn3BHwMNhrF+PJ9+fuKb3vR6f1zcBLZ6QA4gZpqQD+wn3J/imoogp
      R3CJNzA1UOj3FXp9Lp83MM03zTdxgoBvPLhzwIMO6sLCwrHHP1x7/X6/Lx/+K6T3Ax74QQVi/N9x
      cAn9L/S/0P/3LUjRqIFNU1ZrDdcsXI8VLRrBqulaaGjq7Rz[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["runtime7.0:20231026101607142142"], "isPushEnabled": true, "noCache": false,
      "dockerFilePath": "c948872d82fc4c3099aedc7f188de830_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202310260000/34cd83e2-0bff-4827-b56f-07d1c8029106.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-10-26T02:16:12+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-26T02:16:11.9364643+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:16:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C9874443E9"'
      last-modified:
      - Thu, 26 Oct 2023 02:16:13 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:16:15 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: "2023/10/26 02:16:13 Downloading source code...\r\n2023/10/26 02:16:13\
        \ Finished downloading source code\r\n2023/10/26 02:16:14 Using acb_vol_3322e238-586f-4aaa-aaf4-ff2fb9629861\
        \ as the home volume\n2023/10/26 02:16:14 Setting up Docker configuration...\n\
        2023/10/26 02:16:14 Successfully set up Docker configuration\n2023/10/26 02:16:14\
        \ Logging in to registry: containerapp000003.azurecr.io\n2023/10/26 02:16:15\
        \ Successfully logged into containerapp000003.azurecr.io\n2023/10/26 02:16:15\
        \ Executing step ID: build. Timeout(sec): 28800, Working directory: '', Network:\
        \ ''\n2023/10/26 02:16:15 Scanning for dependencies...\n2023/10/26 02:16:15\
        \ Successfully scanned dependencies\n2023/10/26 02:16:15 Launching container\
        \ with name: build\nSending build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C98893288A"'
      last-modified:
      - Thu, 26 Oct 2023 02:16:15 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:16:21 GMT
      x-ms-range:
      - bytes=782-4877
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: "Step 1/17 : FROM mcr.microsoft.com/dotnet/aspnet:6.0 AS base\n6.0:\
        \ Pulling from dotnet/aspnet\ne67fdae35593: Pulling fs layer\n0ab66724116f:\
        \ Pulling fs layer\nd90b26813434: Pulling fs layer\n4de354b39de7: Pulling\
        \ fs layer\nb7a1edb79307: Pulling fs layer\n4de354b39de7: Waiting\nb7a1edb79307:\
        \ Waiting\n0ab66724116f: Verifying Checksum\n0ab66724116f: Download complete\n\
        d90b26813434: Verifying Checksum\nd90b26813434: Download complete\n4de354b39de7:\
        \ Verifying Checksum\n4de354b39de7: Download complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 782-1269/1270
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C98BBD3EED"'
      last-modified:
      - Thu, 26 Oct 2023 02:16:21 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:16:25 GMT
      x-ms-range:
      - bytes=1270-5365
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: "b7a1edb79307: Verifying Checksum\nb7a1edb79307: Download complete\n\
        e67fdae35593: Verifying Checksum\ne67fdae35593: Download complete\ne67fdae35593:\
        \ Pull complete\n0ab66724116f: Pull complete\nd90b26813434: Pull complete\r\
        \n4de354b39de7: Pull complete\nb7a1edb79307: Pull complete\nDigest: sha256:78db2415ff20e22d2f3fd6078a8fff5e17f327729d34e1d94d926a02a2c41520\n\
        Status: Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n --->\
        \ 2335ab8c4f9c\nStep 2/17 : WORKDIR /app\n ---> Running in 38ddd0eefdf1\n\
        Removing intermediate container 38ddd0eefdf1\n ---> 2416eb9f042f\nStep 3/17\
        \ : EXPOSE 80\n ---> Running in b33940517cb2\nRemoving intermediate container\
        \ b33940517cb2\n ---> 21d8d5ef928e\nStep 4/17 : EXPOSE 443\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1270-1969/1970
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C98E937519"'
      last-modified:
      - Thu, 26 Oct 2023 02:16:26 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:16:28 GMT
      x-ms-range:
      - bytes=1970-6065
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: " ---> Running in 815fa597cd39\nRemoving intermediate container 815fa597cd39\n\
        \ ---> 264bbdfdfaaf\nStep 5/17 : FROM mcr.microsoft.com/dotnet/sdk:6.0 AS\
        \ build\n6.0: Pulling from dotnet/sdk\ne67fdae35593: Already exists\n0ab66724116f:\
        \ Already exists\nd90b26813434: Already exists\n4de354b39de7: Already exists\n\
        b7a1edb79307: Already exists\n0eef3037cc86: Pulling fs layer\n86fd15b81fe2:\
        \ Pulling fs layer\n55f0edb918e9: Pulling fs layer\n55f0edb918e9: Verifying\
        \ Checksum\n55f0edb918e9: Download complete\n0eef3037cc86: Verifying Checksum\n\
        0eef3037cc86: Download complete\n86fd15b81fe2: Verifying Checksum\n86fd15b81fe2:\
        \ Download complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1970-2585/2586
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C99043094D"'
      last-modified:
      - Thu, 26 Oct 2023 02:16:28 GMT
      x-ms-blob-committed-block-count:
      - '7'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:16:52 GMT
      x-ms-range:
      - bytes=4641-8736
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: " ---> Running in a8b9a0b2c449\nRemoving intermediate container a8b9a0b2c449\n\
        \ ---> 1def2631c92f\nSuccessfully built 1def2631c92f\nSuccessfully tagged\
        \ containerapp000003.azurecr.io/runtime7.0:20231026101607142142\n2023/10/26\
        \ 02:16:51 Successfully executed container: build\n2023/10/26 02:16:51 Executing\
        \ step ID: push. Timeout(sec): 3600, Working directory: '', Network: ''\n\
        2023/10/26 02:16:51 Pushing image: containerapp000003.azurecr.io/runtime7.0:20231026101607142142,\
        \ attempt 1\nThe push refers to repository [containerapp000003.azurecr.io/runtime7.0]\n\
        907de6055aec: Preparing\n6ad6ccd7951c: Preparing\n9fd9fd212419: Preparing\n\
        d1c696aa8adb: Preparing\ncf255648a207: Preparing\n9a822c647cc9: Preparing\n\
        633f5bf471f7: Preparing\n9a822c647cc9: Waiting\n633f5bf471f7: Waiting\n907de6055aec:\
        \ Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4641-5440/5441
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C99E9E2A86"'
      last-modified:
      - Thu, 26 Oct 2023 02:16:52 GMT
      x-ms-blob-committed-block-count:
      - '15'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:17:01 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged75.blob.core.windows.net/7a643319212c4bd784d3994a6dfd7d80-n2frlf7zez/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A26%3A14Z&sr=b&sp=r&sig=rm78Rp9JkrSxlr7XSw4UP6cgeNUGGNU9%2BJ5OkixAapY%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5C9A3C1566A"'
      last-modified:
      - Thu, 26 Oct 2023 02:17:01 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "r1dHsqnSySV3PMsuHAx45Q1VdRMKibrTtRGj1NLI2b+ACRCDVzag"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000003.azurecr.io",
      "username": "containerapp000003", "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000003.azurecr.io/runtime7.0:20231026101607142142", "name": "containerapp000002",
      "command": ["/code/entrypoint.sh"], "args": ["echo \"hello world\""], "env":
      null, "resources": null, "volumeMounts": null}], "initContainers": null, "scale":
      null, "volumes": null, "serviceBinds": null}, "workloadProfileName": null},
      "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"East
[...]
