interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-16T12:05:37.6625567Z","lastModifiedBy":"64b12d6e-6549-484c-8cc6-6281839ba394","lastModifiedByType":"Application","lastModifiedAt":"2023-11-16T12:08:01.9568695Z"},"identity":{"principalId":"ecb04343-045a-4e9b-9af7-9856675b4a50","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","connectivityStatus":"Connected","privateLinkState":"Disabled","azureHybridBenefit":"NotApplicable","agentPublicKeyCertificate":"MIICCgKCAgEAsGBGO1fipR7tcK/J8ISVWXW1fDnThrZlbraAOaiYp/wOPO9jcEEnpSyt/v76jpNeZdMuwguUK12fr/t67aPpgWob1hXzFg0p8dggAS7RFpkQ0VB2kRVkxPW18Vhsb7upFinvVqT4oHoYM6XXcAbl4qVv/3iGQdoto7wcMrH1C3P797XYB4TOQXnuniYza5oCbAGsINuPg2tfGwmNNn72F9XPoacvLgv7i3f0KHwIQXPrQaKJQui2Rjg3+HItMygJoMXcaVtdBWsjCRxSPdZdkinUOwLV03wO+eBWJBoTp04O764bXhrkB4IoALqL+Qybyvu2OOGqbefJ63h/VxB2dLCIcvKCv9hGyatzAtYy2wlo8Vg+LRv1i0SeGEU9DAwFEkgvhCNY6bR67urfMUBMw0ZmytL29G39F+1gFrvcEkCw3G3naCC732V1oFvVGEdy4UkQ4HGy9BHv5wq/zdvVNYYlsI6OvAgC4fbzIw465YV6xpihkB5JIbZXsaB5//fIhAfohvNac3GoOU42Y37nSd0eJI3QtfKp5zExXqKHkzXOTZiyn1zGnHIdYqfSNUXvl4HqISpfSe09pASdX/rQy751LKzopV+AIw1CRwPFDIcfBSYkHUZOsmWqIkP1ovrXA8w8LiK7SRM0yAzoEwBbOPbrzLFDeGZ3pYutBWz8YRMCAwEAAQ==","distribution":"aks","infrastructure":"azure","kubernetesVersion":"1.26.6","totalNodeCount":4,"agentVersion":"1.13.7","totalCoreCount":8,"lastConnectivityTime":"2023-11-16T12:07:57.793Z","managedIdentityCertificateExpirationTime":"2024-02-14T12:00:00Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8404b2b9-0000-0100-0000-655606220000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"90155430-a360-410f-af5d-89dc284d85c6"},{"applicationId":"03db181c-e9d3-4868-9097-f0b728327182","roleDefinitionId":"DE2ADB97-42D8-49C8-8FCF-DBB53EF936AC"},{"applicationId":"a0f92522-89de-4c5e-9a75-0044ccf66efd","roleDefinitionId":"b3429810-7d5c-420e-8605-cf280f3099f2"},{"applicationId":"bd9b7cd5-dac1-495f-b013-ac871e98fa5f","roleDefinitionId":"0d44c8f0-08b9-44d4-9f59-e51c83f95200"},{"applicationId":"585fc3c3-9a59-4720-8319-53cce041a605","roleDefinitionId":"4a9ce2ee-6de2-43ba-a7bd-8f316de763a7"}],"resourceTypes":[{"resourceType":"sourceControlConfigurations","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central India","South
        India","Japan West","Uk West","France South","Korea South","South Africa North","Brazil
        South","Uae North","Norway West","Germany North","Jio India West"],"apiVersions":["2023-05-01","2022-11-01","2022-07-01","2022-03-01","2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"defaultApiVersion":"2022-03-01","capabilities":"SupportsExtension"},{"resourceType":"extensions","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central Indi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","t[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"extensionType":
      "microsoft.app.environment", "autoUpgradeMinorVersion": true, "releaseTrain":
      "stable", "scope": {"cluster": {"releaseNamespace": "appplat-ns"}}, "configurationSettings":
      {"Microsoft.CustomLocation.ServiceAccount": "default", "appsNamespace": "appplat-ns",
      "clusterName": "my-connected-cluster", "envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":
      "clitest.rg000001"}, "configurationProtectedSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext","name":"containerapp-ext","type":"Microsoft.KubernetesConfiguration/extensions","properties":{"extensionType":"microsoft.app.environment","autoUpgradeMinorVersion":true,"releaseTrain":"stable","version":null,"currentVersion":null,"scope":{"cluster":{"releaseNamespace":"appplat-ns"}},"provisioningState":"Creating","configurationSettings":{"Microsoft.CustomLocation.ServiceAccount":"default","appsNamespace":"appplat-ns","clusterName":"my-connected-cluster","envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":"clitest.rg000001"},"configurationProtectedSettings":{},"statuses":[],"aksAssignedIdentity":null,"isSystemExtension":false},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2023-11-16T12:08:51.3901234+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2023-11-16T12:08:51.3901234+00:00"},"identity":{"type":"SystemAssigned","principalId":"3585bae8-ab72-4642-ac41-ce098f218f7a"}}'
    headers:
      api-supported-versions:
      - '2023-05-01'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/f44c4245-0f68-4d04-918b-e693c3be67d6?api-Version=2023-05-01&t=638357333316712782&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/f44c4245-0f68-4d04-918b-e693c3be67d6?api-Version=2023-05-01&t=638357333316712782&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterExtensionIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],
      "displayName": "my-custom-location000003", "hostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster",
      "hostType": "Kubernetes", "namespace": "appplat-ns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003?api-version=2021-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003","name":"my-custom-location000003","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-16T12:12:04.6747048Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-16T12:12:04.6747048Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location000003","provisioningState":"Creating","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/6b341e6e-ba4f-4871-9431-8ede501637cc?api-version=2021-03-15-preview&t=638357335264249214&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/6b341e6e-ba4f-4871-9431-8ede501637cc?api-version=2021-03-15-preview&t=638357335264249214&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2Mj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","t[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/app1000004''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connect[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation/customLocations?api-version=2021-03-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/xinyupang_rg_4293/providers/microsoft.extendedlocation/customlocations/xinyupang-env-location-4293","name":"xinyupang-env-location-4293","location":"ea[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003?api-version=2021-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003","name":"[...]
[...]
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003",
      "type": "CustomLocation"}, "tags": null, "location": "eastus", "properties":
      {"staticIp": null, "daprAIConnectionString": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/app1000004-env?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/app1000004-env","name":"app1000004-env","type":"Microsoft.App/connectedEnvironments","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-16T12:13:05.962313Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-16T12:13:05.962313Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"app1g3c3zkh6wojy-yczdhk7.eastus.k4apps.io","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"}}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationStatuses/d03f31f0-6190-4e23-84a0-7ed7fee3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationStatuses/d03f31f0-6190-4e23-84a0-7ed7fee3e2ce?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638357335885248681&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/app1000004''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "eastus", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/app1000004-env",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": null}, "template": {"revisionSuffix":
      null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "app1000004", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null, "extendedLocation":
      {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003",
      "type": "CustomLocation"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/app1000004","name":"app1000004","type":"Microsoft.App/containerApps","location":"East
        US","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location000003","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-16T12:14:31.9837821Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-16T12:14:31.9837821Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":null,"environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/app1000004-env","workloadProfileName":null,"outboundIpAddresses":null,"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":null,"registries":null,"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"app1000004","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/app1000004/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/5a6f9ea2-824a-41fe-8f06-1ef39a868a3b?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638357336746712988&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/4298cf9d-4df7-401b-8003-02a242089990?api-version=2023-08-01-preview&t=638357337165537857&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/app1000004-env?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/app1000004-env''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/app1000004-env?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/mycontainerapp2?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/mycontainerapp2''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/mycontainerapp2?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/mycontainerapp2''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
