interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-23T04:59:04.4655929"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"firstPartyConfiguration":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T03:38:48.5623319+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T03:38:48.5623319+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-11-08T03:38:48.5623319Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-11-08T03:39:10.5632869+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-11-08T03:39:10.5633321+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-5305b562-7de8-11ee-a9e9-c85acf032b42?api-version=2022-02-01-preview&t=638350115510356611&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-5305b562-7de8-11ee-a9e9-c85acf032b42?api-version=2022-02-01-preview&t=638350115510356611&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"ep2GV/cKdFC847s7cDUdWY/x+xUnK8gfg83aXtlyLL+ACRD54TNq"},{"name":"password2","value":"z/XBpElrOx4lvNcDLxoWtdOb5O9SEkfIOqpiEBpffN+ACRBn0JA0"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"ep2GV/cKdFC847s7cDUdWY/x+xUnK8gfg83aXtlyLL+ACRD54TNq"},{"name":"password2","value":"z/XBpElrOx4lvNcDLxoWtdOb5O9SEkfIOqpiEBpffN+ACRBn0JA0"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/manag[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/source/202311080000/4543ca9e-eb0e-4feb-aac9-7e63e55f2b8f.tar.gz?sv=2021-12-02&se=2023-11-08T04%3A39%3A31Z&sr=b&sp=cw&sig=AAQmQCwJ%2F4IvzR8N5GxyoWhhLJCT5k56OBUyiOnmo8U%3D","relativePath":"source/202311080000/4543ca9e-eb0e-4feb-aac9-7e63e55f2b8f.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICPICS2UC/2J1aWxkX2FyY2hpdmVfMWJiNDUzMDlkZmQ5NDBjNTkwZjM4OGU0Yzk4ZWUzNzEu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylGY1ASDIy4KCEQyvJdryO4/TMlKSGnu5xd4+EzHOc
      t1nvvj1estk4ednnOE5iY4OxsA3mBmN8m/uQECCBQBLCoAuBBOKQa7+q6p5bAhwYs6Y++2Na3VXf
      99X1HdXVVS63yz2rQlo6D0thrE+6I+DhMN6vx+PzJ67pfa8n35s/CS2dlAOIGaakA/tJ9ybkT0cR
      U47gEm9gRqE/f7rPF3AFPH7f9Bn5kycJ+MaDOwc86KAuLCwcf/zDtddf4PXBfwUBL9wPeAKFk1CB
      GP93HFxC/wv9L/T/PQtSNGpg05TVWsM1B9djRYtG[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["runtime7.0:cli-containerapp-20231108113930077407"], "isPushEnabled": true,
      "noCache": false, "dockerFilePath": "1b75c1de147c4fe3ad9533ddba6baa34_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202311080000/4543ca9e-eb0e-4feb-aac9-7e63e55f2b8f.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-11-08T03:39:33+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T03:39:33.3451795+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A49%3A35Z&sr=b&sp=r&sig=VU9CG%2BvgH91cJ4JoUhX6eRQS2vvyEg%2Bg8DgEzHmcqM0%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Nov 2023 03:39:35 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A49%3A35Z&sr=b&sp=r&sig=VU9CG%2BvgH91cJ4JoUhX6eRQS2vvyEg%2Bg8DgEzHmcqM0%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE00C53EAE8A9"'
      last-modified:
      - Wed, 08 Nov 2023 03:39:35 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 08 Nov 2023 03:39:34 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Nov 2023 03:39:37 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A49%3A35Z&sr=b&sp=r&sig=VU9CG%2BvgH91cJ4JoUhX6eRQS2vvyEg%2Bg8DgEzHmcqM0%3D
  response:
    body:
      string: "2023/11/08 03:39:34 Downloading source code...\r\n2023/11/08 03:39:35
        Finished downloading source code\r\n2023/11/08 03:39:35 Using acb_vol_62b69534-166c-4da3-9733-77dd74cae4db
        as the home volume\n2023/11/08 03:39:35 Setting up Docker configuration...\n2023/11/08
        03:39:36 Successfully set up Docker configuration\n2023/11/08 03:39:36 Logging
        in to registry: containerapp000003.azurecr.io\n2023/11/08 03:39:36 Successfully
        logged into containerapp000003.azurecr.io\n2023/11/08 03:39:36 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2023/11/08
        03:39:36 Scanning for dependencies...\n2023/11/08 03:39:37 Successfully scanned
        dependencies\n2023/11/08 03:39:37 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE00C55213F46"'
      last-modified:
      - Wed, 08 Nov 2023 03:39:37 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 08 Nov 2023 03:39:34 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Nov 2023 03:40:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A49%3A35Z&sr=b&sp=r&sig=VU9CG%2BvgH91cJ4JoUhX6eRQS2vvyEg%2Bg8DgEzHmcqM0%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE00C6B6EB5EA"'
      last-modified:
      - Wed, 08 Nov 2023 03:40:14 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 08 Nov 2023 03:39:34 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Nov 2023 03:40:16 GMT
      x-ms-range:
      - bytes=5602-9697
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A49%3A35Z&sr=b&sp=r&sig=VU9CG%2BvgH91cJ4JoUhX6eRQS2vvyEg%2Bg8DgEzHmcqM0%3D
  response:
    body:
      string: "cli-containerapp-20231108113930077407: digest: sha256:3ca2149c0a48849b6eb5f39892ca7e1359b13eac57bcfda93643c09092cdb4a0
        size: 1786\n2023/11/08 03:40:13 Successfully pushed image: containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20231108113930077407\n2023/11/08
        03:40:13 Step ID: build marked as successful (elapsed time in seconds: 28.344181)\n2023/11/08
        03:40:13 Populating digests for step ID: build...\n2023/11/08 03:40:14 Successfully
        populated digests for step ID: build\n2023/11/08 03:40:14 Step ID: push marked
        as successful (elapsed time in seconds: 8.362162)\n2023/11/08 [...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "ep2GV/cKdFC847s7cDUdWY/x+xUnK8gfg83aXtlyLL+ACRD54TNq"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000003.azurecr.io",
      "username": "containerapp000003", "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20231108113930077407",
      "name": "containerapp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T03:40:18.5695821Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T03:40:18.5695821Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":"Consumption","outboundIpAddresses":["20.124.73.117","4.156.169.214","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140","20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"containerapp000003azurecrio-containerapp000003"}],"activeRevisionsMode":"Single","ingress":null,"registries":[{"server":"containerapp000003.azurecr.io","username":"containerapp000003","passwordSecretRef":"containerapp000003azurecrio-containerapp000003","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20231108113930077407","name":"containerapp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/a2880d3b-191e-4cb1-bad5-9cd8addb40f1?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638350116213823184&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: !!binary |
      H4sICFMDS2UC/2J1aWxkX2FyY2hpdmVfMDAzNjE1ZmU4NmMyNDUwYjk2NjE3YmRlMzQxNDkzNGMu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylGY2EkGRkwEEJh1aS7Xgdx+mZKUkNPd3j7h4Jmec4
      b7PefXu8ZLNx8rLPcZzExgZjsA3mBmN8m/uQECCBQBLCoAuBBOKQa7+q6p5bAhwYs6Y++2Na3VXf
      99X1HdXVVS63yz2zUloyF0thrE+6I+DhMN6vx+PzJ67pfa8n35s/CS2ZlAOIGaakA/tJ9ybkF6GI
      KUdwqTcwvdCfX+TzBVwBj99XND1/8iQB33hw54AHHdSFhYXjj3+49voLvD74ryDghfsBT6BwEioQ
      4/+Og0vof6H/hf6/Z0GKRg1smrJaZ7hm4wasaNEI[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Nov 2023 03:41:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca2/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A51%3A12Z&sr=b&sp=r&sig=z8LDRvQZKBWn6fMzGfooadteDvKypcYN7Wnedo2qrqc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE00C8E200846"'
      last-modified:
      - Wed, 08 Nov 2023 03:41:13 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 08 Nov 2023 03:41:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Nov 2023 03:41:50 GMT
      x-ms-range:
      - bytes=4872-8967
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged95.blob.core.windows.net/384ad69d8a1148769d9a3fcdae242fcf-i0kvdhddsh/logs/ca2/rawtext.log?sv=2021-12-02&se=2023-11-08T04%3A51%3A12Z&sr=b&sp=r&sig=z8LDRvQZKBWn6fMzGfooadteDvKypcYN7Wnedo2qrqc%3D
  response:
    body:
      string: "2023/11/08 03:41:47 Successfully executed container: build\n2023/11/08
        03:41:47 Executing step ID: push. Timeout(sec): 3600, Working directory: '',
        Network: ''\n2023/11/08 03:41:47 Pushing image: containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20231108114107415018,
        attempt 1\nThe push refers to repository [containerapp000003.azurecr.io/runtime7.0]\na7a8c5f0c505:
        Preparing\n5b7ebd7cf1a7: Preparing\n7fd414bec2fb: Preparing\n01048d78fddc:
        Preparing\n5af7f8a08515: Preparing\nef20a2883fd6: Preparing\n74c0af6e0227:
        Preparing\nef20a2883fd6: Waiting\n74c0af6e0227: Waiting\n01048d78fddc: Layer
        already exists\n7fd414bec2fb: Layer already exists\n5af7f8a08515: Layer already
        exists\nef20a2883fd6: Layer already exists\n74c0af6e0227: Layer already exists\na7a8c5f0c505:
        Pushed\n5b7ebd7cf1a7: Pushed\ncli-containerapp-20231108114107415018: digest:
        sha256:53ab01ac636ebfa7ee3348fd859643c790534b12b55184d3bce75a6b96bbae00 size:
        1786\n2023/11/08 03:41:48 Successfully pushed image: containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20231108114107415018\n2023/11/08
        03:41:48 Step ID: build marked as successful (elapsed time in seconds: 31.898072)\n2023/11/08
        03:41:48 Populating digests for step ID: build...\n2023/11/08 03:41:50 Successfully
        populated digests for step ID: build\n2023/11/08 03:41:50 Step ID: push[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/f537f3bc-548f-45a3-9cd5-8df6e4e7ec29?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638350117141390676&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: !!binary |
      H4sICJ4DS2UC/2J1aWxkX2FyY2hpdmVfMGFiYmEyZWQzOWQyNDQyMDk3M2Y1OWQzMTM1NTYxMDUu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylkUZCSDIy4KCEQyvJdryO4/TMlKSGnu5xd4+EzHOc
      t1nvvj1estk4ednnOE5iY4Mx2AZzgzG+jQBxSAiQQCAJYdCFQAJxyLVfVXXPLQEOjFlTn/0xre6q
      7/vq+o7q6iqX2+WeXSEtm4+lENan3BHwcJjo1+Px5cWv6X2vJ9ebOwUtm5IFiBqmpAP7Kfcm5Bai
[...]
