interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T02:41:49.4366892"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"},{"workloadProfileType":"D8","name":"wpname","minimumCount":1,"maximumCount":8}],"firstPartyConfiguration":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-10T15:12:25.489344+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T15:12:25.489344+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-11-10T15:12:25.489344Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-11-10T15:12:32.5397059+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-11-10T15:12:32.5397472+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-8c3e6d0f-7fdb-11ee-badd-2c0da7bd12b1?api-version=2022-02-01-preview&t=638352259530362888&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-8c3e6d0f-7fdb-11ee-badd-2c0da7bd12b1?api-version=2022-02-01-preview&t=638352259530362888&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"mraVtZFoWkfGSYqrx3EdQVLKGHggMizqFCkATf6LQX+ACRCtKvzk"},{"name":"password2","value":"UWXKTchojymGunXcq1/MVtCVDjb0AcZCCKCaswxBa1+ACRC5Eow3"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"mraVtZFoWkfGSYqrx3EdQVLKGHggMizqFCkATf6LQX+ACRCtKvzk"},{"name":"password2","value":"UWXKTchojymGunXcq1/MVtCVDjb0AcZCCKCaswxBa1+ACRC5Eow3"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/manag[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/source/202311100000/95fbaa9c-3232-412a-a52e-5eba10e8dbcf.tar.gz?sv=2021-12-02&se=2023-11-10T16%3A12%3A56Z&sr=b&sp=cw&sig=8LGsRJM2MbpUPaJ%2BbdGXAkOpyAdkAFPdgq5eiu6GjP4%3D","relativePath":"source/202311100000/95fbaa9c-3232-412a-a52e-5eba10e8dbcf.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICHVITmUC/2J1aWxkX2FyY2hpdmVfNThmN2IzNTVlYWRhNDIyODhmZmJmOWRjNDliOThiMmEu
      dGFyAO09+3MUx5nKXe4Xrqjyn9BZ1yXCxb61u0hIMjLgoISHDsl2fI7jzO62pIHZmfXMrIRMOU5d
      znd1j0ouFyeVq5zjJDY2GINtMG8wxm/zfkgIkEAggTAICQQSiIfc93X3zD60KwEOLJTVDZ9mtqf7
      +75+fY+enm6X2+WeViUtmoWlKNYL7krw8DDa1ePxF6XuabzX4/P6CtCigjyEhGFKOpAvGJ/BNwXF
      TDmGy7zB4uJAscfj9bt8nuLglGBgQoEI3/jgzgMNOqhDodDo4x/uvUUBn9/vCwVCAYgPej1FBSgg
      xv9dDy4h/4X8z5L/oZCnSMj/8RCkeNzApimrdYZr[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000002:cli-containerapp-20231110231253099972"], "isPushEnabled":
      true, "noCache": false, "dockerFilePath": "bb24e28d5f0c42f985cd77e7ec1032f1_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202311100000/95fbaa9c-3232-412a-a52e-5eba10e8dbcf.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-11-10T15:12:59+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T15:12:58.7608985+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A23%3A00Z&sr=b&sp=r&sig=3tRo8qAK8AeojcNS%2BGHdV81zYqhS4xVYamgcfLK18KQ%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:12:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A23%3A00Z&sr=b&sp=r&sig=3tRo8qAK8AeojcNS%2BGHdV81zYqhS4xVYamgcfLK18KQ%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FF876297CE"'
      last-modified:
      - Fri, 10 Nov 2023 15:13:00 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:13:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:13:01 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A23%3A00Z&sr=b&sp=r&sig=3tRo8qAK8AeojcNS%2BGHdV81zYqhS4xVYamgcfLK18KQ%3D
  response:
    body:
      string: "2023/11/10 15:13:00 Downloading source code...\r\n2023/11/10 15:13:00\
        \ Finished downloading source code\r\n2023/11/10 15:13:01 Using acb_vol_a375ab49-e010-4310-88d0-74cc3119ea35\
        \ as the home volume\n2023/11/10 15:13:01 Setting up Docker configuration...\n\
        2023/11/10 15:13:01 Successfully set up Docker configuration\n2023/11/10 15:13:01\
        \ Logging in to registry: containerapp000003.azurecr.io\n2023/11/10 15:13:02\
        \ Successfully logged into containerapp000003.azurecr.io\n2023/11/10 15:13:02\
        \ Executing step ID: build. Timeout(sec): 28800, Working directory: '', Network:\
        \ ''\n2023/11/10 15:13:02 Scanning for dependencies...\n2023/11/10 15:13:02\
        \ Successfully scanned dependencies\n2023/11/10 15:13:02 Launching container\
        \ with name: build\nSending build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FF88A23BDB"'
      last-modified:
      - Fri, 10 Nov 2023 15:13:02 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:13:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:13:08 GMT
      x-ms-range:
      - bytes=1456-5551
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A23%3A00Z&sr=b&sp=r&sig=3tRo8qAK8AeojcNS%2BGHdV81zYqhS4xVYamgcfLK18KQ%3D
  response:
    body:
      string: "0a33056c1d9b: Pull complete\n72cae2b4ebed: Pull complete\n96830a80fe4a:\
        \ Pull complete\nDigest: sha256:f3da633088e7a3b7cbafc22c92659f69197bd4c0021c40381eeb78beb6ef1057\n\
        Status: Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n --->\
        \ 63bd24373d54\nStep 2/17 : WORKDIR /app\n ---> Running in aa6eba0f4929\n\
        Removing intermediate container aa6eba0f4929\n ---> 9e59bf66d663\nStep 3/17\
        \ : EXPOSE 80\n ---> Running in e891091cddbb\nRemoving intermediate container\
        \ e891091cddbb\n ---> 6532616eb5e0\nStep 4/17 : EXPOSE 443\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1456-1968/1969
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FF8BB7EAC7"'
      last-modified:
      - Fri, 10 Nov 2023 15:13:08 GMT
      x-ms-blob-committed-block-count:
      - '5'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:13:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:13:18 GMT
      x-ms-range:
      - bytes=2152-6247
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A23%3A00Z&sr=b&sp=r&sig=3tRo8qAK8AeojcNS%2BGHdV81zYqhS4xVYamgcfLK18KQ%3D
  response:
    body:
      string: "0bc8ff246cb8: Already exists\n5c7a0ff61f6b: Already exists\n0a33056c1d9b:\
        \ Already exists\n72cae2b4ebed: Already exists\n96830a80fe4a: Already exists\n\
        1143b2a14b65: Pulling fs layer\nb5e3c0596624: Pulling fs layer\n19a10a9b1d43:\
        \ Pulling fs layer\n19a10a9b1d43: Verifying Checksum\n19a10a9b1d43: Download\
        \ complete\n1143b2a14b65: Verifying Checksum\n1143b2a14b65: Download complete\n\
        b5e3c0596624: Verifying Checksum\nb5e3c0596624: Download complete\n1143b2a14b65:\
        \ Pull complete\nb5e3c0596624: Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2152-2641/2642
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FF92F448C9"'
      last-modified:
      - Fri, 10 Nov 2023 15:13:20 GMT
      x-ms-blob-committed-block-count:
      - '7'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:13:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:13:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A23%3A00Z&sr=b&sp=r&sig=3tRo8qAK8AeojcNS%2BGHdV81zYqhS4xVYamgcfLK18KQ%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FFA5BDEF81"'
      last-modified:
      - Fri, 10 Nov 2023 15:13:51 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:13:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "mraVtZFoWkfGSYqrx3EdQVLKGHggMizqFCkATf6LQX+ACRCtKvzk"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "containerapp000003.azurecr.io", "username": "containerapp000003",
      "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}], "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20231110231253099972",
      "name": "containerapp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-10T15:13:54.912594Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T15:13:54.912594Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":"Consumption","outboundIpAddresses":["20.124.73.117","4.156.169.214","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140","20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"containerapp000003azurecrio-containerapp000003"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000002.whitebeach-63bf60a5.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":[{"server":"containerapp000003.azurecr.io","username":"containerapp000003","passwordSecretRef":"containerapp000003azurecrio-containerapp000003","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20231110231253099972","name":"containerapp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/c4cafd7e-cef4-40df-b20f-907750de8d02?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638352260369907327&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: !!binary |
      H4sICNVITmUC/2J1aWxkX2FyY2hpdmVfYzhmNzMwOGM4MjFhNDBmYTg2NTAzYTdiYTZlZWU1M2Yu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsytmUFCksGAgxIOrSTb8TqO0zNTkhp6usfdPQiZ5zhv
      s959e7xks3Hysi/rOImNDcZgG8wNxvg29yEhQAKBJIRBFwIJxOXar6q659CMBDgw8Kwq+NQ91VXf
      99X1HdXVVS63yz29QloyB0tRrE+4K8HDw2hXj8dfmLqn8V6Pz+ubgJZMyENIGKakA/kJ4zP4pqKY
      KcdwqTdYVBQo8ni8fpfPUxScGgxMnCDCNz6480CDDupQKDT6+Id7b2HA5/f7QoFQAOKDXk/hBBQQ
      4/+uB5eQ/0L+Z8n/UMhTKOT/eAhSPG5g05TVWsM1[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:14:35 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged76.blob.core.windows.net/a54123b337074ce8b8bab6c6fce85485-4g5o6dyprk/logs/ca2/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A24%3A36Z&sr=b&sp=r&sig=4fMEH%2Bn53Kssf8Kulyd2SA9Q592XIp4ru1J92Mhb5Bg%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FFC05E9B0F"'
      last-modified:
      - Fri, 10 Nov 2023 15:14:36 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:14:35 GMT
[...]
