interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrga3d7hzngjasrvhepyufhl?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"2bfb0ea0-3dda-4f9d-9e15-647772bf47a1","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-08-03T01:57:55.4885165Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-03T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-03T01:57:55.4885165Z","modifiedDate":"2023-08-03T01:57:55.4885165Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrga3d7hzngjasrvhepyufhl","name":"workspace-clitestrga3d7hzngjasrvhepyufhl","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrga3d7hzngjasrvhepyufhl?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrga3d7hzngjasrvhepyufhl?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"2bfb0ea0-3dda-4f9d-9e15-647772bf47a1","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-08-03T01:57:55.4885165Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-03T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-03T01:57:55.4885165Z","modifiedDate":"2023-08-03T01:57:55.4885165Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrga3d7hzngjasrvhepyufhl","name":"workspace-clitestrga3d7hzngjasrvhepyufhl","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrga3d7hzngjasrvhepyufhl/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"Jl2SXZwyIp1Rsxtq4Aa1CSTVjK8YhQY/77ARRvu0GJ0GuIqP2GAD+9jhDeDx50r1m/HXvtINrffl0YD1I+eWbg==","secondarySharedKey":"M7IbmKg2XovtkCzN7TYNjuVl8NiXtt5W/w8Yvrxz1vXUfBOUunh0C0XtKnp1cB8UJXy2SQX0jx8ntT3zCEiAmg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "2bfb0ea0-3dda-4f9d-9e15-647772bf47a1",
      "sharedKey": "Jl2SXZwyIp1Rsxtq4Aa1CSTVjK8YhQY/77ARRvu0GJ0GuIqP2GAD+9jhDeDx50r1m/HXvtINrffl0YD1I+eWbg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-03T01:57:59.9143738Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-03T01:57:59.9143738Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"proudstone-0b6a014c.eastus.azurecontainerapps.io","staticIp":"20.102.23.72","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"2bfb0ea0-3dda-4f9d-9e15-647772bf47a1","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.8"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/92c63753-fa43-490c-838e-7892917556f8?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/92c63753-fa43-490c-838e-7892917556f8?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/92c63753-fa43-490c-838e-7892917556f8","name":"92c63753-fa43-490c-838e-7892917556f8","status":"InProgress","startTime":"2023-08-03T01:58:04.8889251"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-15T03:51:22.0481882Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-06T13:17:51.6966031Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rggy6h7nggmgx2rdibhyn5wcyertyjx43cz4axrkbts53gblnlh5kzs73rcbjjsz6bp/providers/Microsoft.ContainerRegistry/registries/cae90e458a71acr","name"[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr","name":"caa980089985acr","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-03T01:59:11.3634336+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-03T01:59:11.3634336+00:00"},"properties":{"loginServer":"caa980089985acr.azurecr.io","creationDate":"2023-08-03T01:59:11.3634336Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-03T01:59:18.8959884+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-03T01:59:18.8959884+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/operationStatuses/registries-4f2652db-31a1-11ee-ace4-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/operationStatuses/registries-4f2652db-31a1-11ee-ace4-2c0da7bd12b1?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/operationStatuses/registries-4f2652db-31a1-11ee-ace4-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"caa980089985acr","passwords":[{"name":"password","value":"svGPoS+lnIJtpt5D7Ni4/xT+wA3K3aRh7Kg1fbrKG8+ACRAQlLJD"},{"name":"password2","value":"292TpVVaLR4lqF2rH4iy18qZXFHVgxsgty5TsrsbIb+ACRBmT6dP"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\"\
        ,\n    \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\"\
        ,\n    \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\"\
        ,\n    \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHA3dW5vbHVtZmdvbjI6MjAyMzA4MDMwOTU5MjMxMTQzOTMgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwN3Vub2x1bWZnb24yOjIwMjMwODAzMDk1OTIzMTE0MzkzIl0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-08-[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/source/202308030000/5572d81a-f966-4db4-ad3b-f22a29955cd3.tar.gz?sv=2021-12-02&se=2023-08-03T02%3A59%3A43Z&sr=b&sp=cw&sig=PnaBa7zGUcUDeX76sLrI%2BrC1hP7gmjanG%2Bdnas6E8ls%3D","relativePath":"source/202308030000/5572d81a-f966-4db4-ad3b-f22a29955cd3.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICA0Ky2QC/2NsaV9zb3VyY2VfYXJjaGl2ZV9jM2ZjZWRiODlkY2E0MzI0OWIyZGM5OThiMmVh
      OGFkMC50YXIA7T35dxTHmcpu9hf28Z7/hPJ4NxF+mlsXQpLBQIKyBmsRtuN1HKdnpiQ1zHSPu3sk
      jf0S523Wu2+Pl2w2zr7sSxwnsbHBWNgGc4NlfBsB4pCQQAKBLgy6EEggDrn2q6rumR5pxOGgMQ71
      wafuqa6q76vrO6qrq1xul3t+uVS3BEshrGXNCHg4THf1ePy5yXsa7vX4vL4sVJeVAYjphqQB+ay7
      E3yFKGLIEVzizS/ML8j1FXh9Lp/HP9db6JuVJeAvHtwZoEEHdUFBwfTjH+69ubm5Pj/8K6Dh+R64
      oDwx/mccXEL+C/kv5P9dC1I0qmPDkJUq3bUI1+Cw[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-08-03T01:59:29.77983[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202308030000/5572d81a-f966-4db4-ad3b-f22a29955cd3.tar.gz",
      "file": "C:\\Users\\XINYUP~1.RED\\AppData\\Local\\Temp\\tmpyo4peczx", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-03T01:59:47+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-03T01:59:47.3696543+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa980089985acr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A49Z&sr=b&sp=r&sig=JowBircLLbjFcEp7iB0ycMKHGyngV31PvIRWWigSGDA%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 01:59:48 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A49Z&sr=b&sp=r&sig=JowBircLLbjFcEp7iB0ycMKHGyngV31PvIRWWigSGDA%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C551F3D375"'
      last-modified:
      - Thu, 03 Aug 2023 01:59:49 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 01:59:50 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A49Z&sr=b&sp=r&sig=JowBircLLbjFcEp7iB0ycMKHGyngV31PvIRWWigSGDA%3D
  response:
    body:
      string: "2023/08/03 01:59:48 Downloading source code...\r\n2023/08/03 01:59:49\
        \ Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C551F3D375"'
      last-modified:
      - Thu, 03 Aug 2023 01:59:49 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 02:00:01 GMT
      x-ms-range:
      - bytes=2052-6147
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A49Z&sr=b&sp=r&sig=JowBircLLbjFcEp7iB0ycMKHGyngV31PvIRWWigSGDA%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\n\
        Status: Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\n\
        Dockerfile written to '/workspace/Dockerfile'.\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2052-2294/2295
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C558F8C08F"'
      last-modified:
      - Thu, 03 Aug 2023 02:00:01 GMT
      x-ms-blob-committed-block-count:
      - '7'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 02:00:37 GMT
      x-ms-range:
      - bytes=18755-22850
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A49Z&sr=b&sp=r&sig=JowBircLLbjFcEp7iB0ycMKHGyngV31PvIRWWigSGDA%3D
  response:
    body:
      string: '264 MB of additional disk space will be used.

        Get:1 http://deb.debian.org/debian-security buster/updates/main amd64 libpython3.7-minimal
        amd64 3.7.3-2+deb10u5 [589 kB]

        Get:2 http://deb.debian.org/debian-security buster/updates/main amd64 python3.7-minimal
        amd64 3.7.3-2+deb10u5 [1728 kB]

        Get:3 http://deb.debian.org/debian buster/main amd64 python3-minimal amd64
        3.7.3-1 [36.6 kB]

        Get:4 http://deb.debian.org/debian buster/main amd64 mime-support all 3.62
        [37.2 kB]

        Get:[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 02:01:59 GMT
      x-ms-range:
      - bytes=67440-71535
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/7b6d94860a9c4b03894a38a2da0ba313-xfioiz0znv/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A49Z&sr=b&sp=r&sig=JowBircLLbjFcEp7iB0ycMKHGyngV31PvIRWWigSGDA%3D
  response:
    body:
[...]
