interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrr2rl7jx3baz45xyhnlj6?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"f5f77da8-5483-4a49-8053-355cdb767ae8","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-07-31T01:20:40.3397912Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-31T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-31T01:20:40.3397912Z","modifiedDate":"2023-07-31T01:20:40.3397912Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrr2rl7jx3baz45xyhnlj6","name":"workspace-clitestrgrr2rl7jx3baz45xyhnlj6","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrr2rl7jx3baz45xyhnlj6?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrr2rl7jx3baz45xyhnlj6?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"f5f77da8-5483-4a49-8053-355cdb767ae8","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-07-31T01:20:40.3397912Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-31T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-31T01:20:40.3397912Z","modifiedDate":"2023-07-31T01:20:40.3397912Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrr2rl7jx3baz45xyhnlj6","name":"workspace-clitestrgrr2rl7jx3baz45xyhnlj6","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrr2rl7jx3baz45xyhnlj6/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"m+BNu5/SNi00LPEWUscWFsDCXPYErM4Kw2vw+FF6cyDd9GVErcHaOX8HVtdnDFJUk2XZjrTyCr4fNEzlJD1kBg==","secondarySharedKey":"FEPboXk2J3VKuFwLm6vh5cDns6GJFD1J+ZiT1uRj0TEA+5RMMZDhkMUM00kxT9BazSsJQSE8Xp6Ql6WhzA8HFw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "f5f77da8-5483-4a49-8053-355cdb767ae8",
      "sharedKey": "m+BNu5/SNi00LPEWUscWFsDCXPYErM4Kw2vw+FF6cyDd9GVErcHaOX8HVtdnDFJUk2XZjrTyCr4fNEzlJD1kBg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-07-31T01:20:42.1725063Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-31T01:20:42.1725063Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"graysea-5b523895.eastus.azurecontainerapps.io","staticIp":"52.234.246.106","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"f5f77da8-5483-4a49-8053-355cdb767ae8","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.8"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/4209b748-9a9d-446f-87c0-c58fd535bdef?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/4209b748-9a9d-446f-87c0-c58fd535bdef?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/4209b748-9a9d-446f-87c0-c58fd535bdef","name":"4209b748-9a9d-446f-87c0-c58fd535bdef","status":"InProgress","startTime":"2023-07-31T01:20:45.8523525"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-07-31T01:21:55.8957041+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-31T01:21:55.8957041+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-07-31T01:21:55.8957041Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-07-31T01:22:02.9578076+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-07-31T01:22:02.9578076+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-a3b0d80e-2f40-11ee-a129-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-a3b0d80e-2f40-11ee-a129-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-a3b0d80e-2f40-11ee-a129-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"bWuD+7Wo8grugbT65U5CUmLHeoUg/cSAgri/2k5K7D+ACRAZ16Ci"},{"name":"password2","value":"za+Hm9kHEO2/48Rj198XxV4IOjz1nuRqMaKmocGiPP+ACRBWZIe3"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/source/202307310000/30762251-a657-4d9c-8f40-bebd6a4fa855.tar.gz?sv=2021-12-02&se=2023-07-31T02%3A22%3A08Z&sr=b&sp=cw&sig=smNuTrK4aPqYDGE16sXmHul3Tc8VWSXmrzzgRjFTYNs%3D","relativePath":"source/202307310000/30762251-a657-4d9c-8f40-bebd6a4fa855.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICMEMx2QC/2J1aWxkX2FyY2hpdmVfY2IzMWFjNmRmZmZhNDYwZDkwZGEwMjdiNTA4YThkNWQu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfkzPIWmEhSQjAw5KOLSSbMfrOE7PTElq6Oked/dIyH6O
      8zbr3bfHSzYbJy/7vI6T2NhgDLbB3GCMb3MfEgIkEEhCGHQhkEAccu1XVd1zS4ADY2Lqsz+m1V31
      fV9d31FdXSV5JM/MSnnJXCyHsTHptoCXw3i/Xm9+fuKa3vf5Cgp9k9CSSTmAmGnJBrC/1YX8KwF/
      EYpYSgSX+gLTA977C6ff75eKigqmBwonTxLwzQdPDnjQ8VBUVDT++M+4LvIXeSehQjH+bztIQv8L
      /S/0/10LcjRqYstStDpTmo0bsKpHI1izpEWmrt3K8R8IBMY[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20230730182209767049"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "c76863f66e084ef29a5d57430c0d72a2_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202307310000/30762251-a657-4d9c-8f40-bebd6a4fa855.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-07-31T01:22:09+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-31T01:22:09.7679289+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-31T02%3A32%3A10Z&sr=b&sp=r&sig=vr9YjEiOt1QUGGurojYHGHRj4ydt1RmSt2cYvIBJykQ%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 31 Jul 2023 01:22:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-31T02%3A32%3A10Z&sr=b&sp=r&sig=vr9YjEiOt1QUGGurojYHGHRj4ydt1RmSt2cYvIBJykQ%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB91649051A990"'
      last-modified:
      - Mon, 31 Jul 2023 01:22:10 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 31 Jul 2023 01:22:10 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 31 Jul 2023 01:22:12 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-31T02%3A32%3A10Z&sr=b&sp=r&sig=vr9YjEiOt1QUGGurojYHGHRj4ydt1RmSt2cYvIBJykQ%3D
  response:
    body:
      string: "2023/07/31 01:22:10 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB91649051A990"'
      last-modified:
      - Mon, 31 Jul 2023 01:22:10 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 31 Jul 2023 01:22:10 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 31 Jul 2023 01:22:57 GMT
      x-ms-range:
      - bytes=4870-8965
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-31T02%3A32%3A10Z&sr=b&sp=r&sig=vr9YjEiOt1QUGGurojYHGHRj4ydt1RmSt2cYvIBJykQ%3D
  response:
    body:
      string: "2023/07/31 01:22:53 Successfully executed container: build\n2023/07/31
        01:22:53 Executing step ID: push. Timeout(sec): 3600, Working directory: '',
        Network: ''\n2023/07/31 01:22:53 Pushing image: containerapp000004.azurecr.io/containerapp000003:20230730182209767049,
        attempt 1\nThe push refers to repository [containerapp000004.azurecr.io/containerapp000003]\n7a5fb92eb654:
        Preparing\ne2ee0fd353c2: Preparing\nbe37720e5f82: Preparing\n72a7e3e0cdae:
        Preparing\n8de6f7578c38: Preparing\nb63bee926c4e: Preparing\n8ce178ff9f34:
        Preparing\nb63bee926c4e: Waiting\n8ce178ff9f34: Waiting\ne2ee0fd353c2: Pushed\n7a5fb92eb654:
        Pushed\n72a7e3e0cdae: Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4870-5525/5526
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB9164AAD11362"'
      last-modified:
      - Mon, 31 Jul 2023 01:22:55 GMT
      x-ms-blob-committed-block-count:
      - '16'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 31 Jul 2023 01:22:10 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 31 Jul 2023 01:23:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-31T02%3A32%3A10Z&sr=b&sp=r&sig=vr9YjEiOt1QUGGurojYHGHRj4ydt1RmSt2cYvIBJykQ%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB9164B055D911"'
      last-modified:
      - Mon, 31 Jul 2023 01:23:04 GMT
      x-ms-blob-committed-block-count:
      - '20'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 31 Jul 2023 01:22:10 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 31 Jul 2023 01:23:06 GMT
      x-ms-range:
      - bytes=5612-9707
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged113.blob.core.windows.net/c1838fed534942b8aee6b4de4db0a1ca-kyy0cpuktl/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-31T02%3A32%3A10Z&sr=b&sp=r&sig=vr9YjEiOt1QUGGurojYHGHRj4ydt1RmSt2cYvIBJykQ%3D
  response:
    body:
      string: "20230730182209767049: digest: sha256:79af0486199e2971d8bc3eb557cf1e808b9dbfff9280f3f68632bbf0ddae5e7a
        size: 1786\n2023/07/31 01:23:02 Successfully pushed image: containerapp000004.azurecr.io/containerapp000003:20230730182209767049\n2023/07/31
        01:23:02 Step ID: build marked as successful (elapsed time in seconds: 40.122591)\n2023/07/31
        01:23:02 Populating digests for step ID: build...\n2023/07/31 01:23:04 Successfully
        populated digests for step ID: build\n2023/07/31 01:23:04 Step ID: push marked
        as successful (elapsed time in seconds: 9.380665)\n2023/07/31 01:23:04 The
[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "containerapp000004azurecrio-containerapp000004",
      "value": "bWuD+7Wo8grugbT65U5CUmLHeoUg/cSAgri/2k5K7D+ACRAZ16Ci"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": [{"server": "containerapp000004.azurecr.io",
      "username": "containerapp000004", "passwordSecretRef": "containerapp000004azurecrio-containerapp000004"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000004.azurecr.io/containerapp000003:20230730182209767049", "name":
      "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
[...]
