interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:27:25.1178336Z","lastModifiedBy":"64b12d6e-6549-484c-8cc6-6281839ba394","lastModifiedByType":"Application","lastModifiedAt":"2023-09-07T04:30:48.0098207Z"},"identity":{"principalId":"5fdde70c-7b3c-429c-837f-de5f05357c4b","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","connectivityStatus":"Connected","privateLinkState":"Disabled","azureHybridBenefit":"NotApplicable","agentPublicKeyCertificate":"MIICCgKCAgEAoqafa6PFWRWZz75VIBYokbvy8+z9aq9V0GrIHV0ja0ruwZA8/IvgMMBT1M2B9ZfA7sdcyX7d0/gjt/gLW3OMJl70rg6ahQ+gFh834PyU1nixpVKu59sICdZathEPZLoA6AHnthRDn1qrWMJZ9AEQXEBQoJth5MQmJvOlkCgIHXqTQ/0H9Y0o6IXj/46uuIBbTrulD7Tx6kPG/uSjycopzc+x3NaHoHlB0BB2eNhd1sbq2M1g+U7/sV9/Wl6nLgw8k7cWcAlO22BxRWEBtOYBSP9f+1sNzPOYQ0Htp64xyR8RG0khjpyk5Jc43PzS65lSCD42wcPDWdv3XMpTnYKPygHZoEFJjI1Bi/k0hfcafnDAkS6M4hOB2Q5rMSbxzcv0gOo7bvr89O5yno5dSHKyfkwPZdh02T5h41Dw0vDECwmmu2pI4d7FSlig+FGA2NwiWOnnW/+ywbeIsmNRLafY8wVgI3WZLhUqoc5/LT00S0V/O9QasbY+eEKdHdFObmQr+12bUOjc+1mZhcPfMb3t1ZTHuCHY0IGGho472IZjdlDV+fHcUe/FHH7jujRbzNExc9t0BmypL4KH3r8S7uhSQKol1/vEE/8hLZG8Io+0THbvU8BCEZ8w0dKIcMTReKHw+ufiDetMckEuDz+YnjQqXHd30fhCsju9ZRbRyd73FNMCAwEAAQ==","distribution":"aks","infrastructure":"azure","kubernetesVersion":"1.26.6","totalNodeCount":4,"agentVersion":"1.12.7","totalCoreCount":8,"lastConnectivityTime":"2023-09-07T04:30:45.275Z","managedIdentityCertificateExpirationTime":"2023-12-06T04:22:00Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"38046c96-0000-0100-0000-64f951f80000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"90155430-a360-410f-af5d-89dc284d85c6"},{"applicationId":"03db181c-e9d3-4868-9097-f0b728327182","roleDefinitionId":"DE2ADB97-42D8-49C8-8FCF-DBB53EF936AC"},{"applicationId":"a0f92522-89de-4c5e-9a75-0044ccf66efd","roleDefinitionId":"b3429810-7d5c-420e-8605-cf280f3099f2"},{"applicationId":"bd9b7cd5-dac1-495f-b013-ac871e98fa5f","roleDefinitionId":"0d44c8f0-08b9-44d4-9f59-e51c83f95200"},{"applicationId":"585fc3c3-9a59-4720-8319-53cce041a605","roleDefinitionId":"4a9ce2ee-6de2-43ba-a7bd-8f316de763a7"}],"resourceTypes":[{"resourceType":"sourceControlConfigurations","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central India","South
        India","Japan West","Uk West","France South","Korea South","South Africa North","Brazil
        South","Uae North","Norway West","Germany North","Jio India West"],"apiVersions":["2023-05-01","2022-11-01","2022-07-01","2022-03-01","2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"defaultApiVersion":"2022-03-01","capabilities":"SupportsExtension"},{"resourceType":"extensions","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central Indi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","t[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"extensionType":
      "microsoft.app.environment", "autoUpgradeMinorVersion": true, "releaseTrain":
      "stable", "scope": {"cluster": {"releaseNamespace": "appplat-ns"}}, "configurationSettings":
      {"Microsoft.CustomLocation.ServiceAccount": "default", "appsNamespace": "appplat-ns",
      "clusterName": "my-connected-cluster", "envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":
      "clitest.rg000001"}, "configurationProtectedSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext","name":"containerapp-ext","type":"Microsoft.KubernetesConfiguration/extensions","properties":{"extensionType":"microsoft.app.environment","autoUpgradeMinorVersion":true,"releaseTrain":"stable","version":null,"currentVersion":null,"scope":{"cluster":{"releaseNamespace":"appplat-ns"}},"provisioningState":"Creating","configurationSettings":{"Microsoft.CustomLocation.ServiceAccount":"default","appsNamespace":"appplat-ns","clusterName":"my-connected-cluster","envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":"clitest.rg000001"},"configurationProtectedSettings":{},"statuses":[],"aksAssignedIdentity":null,"isSystemExtension":false},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2023-09-07T04:31:18.4448009+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2023-09-07T04:31:18.4448009+00:00"},"identity":{"type":"SystemAssigned","principalId":"3678db50-2b51-47ab-9dc0-367c3c5048c0"}}'
    headers:
      api-supported-versions:
      - '2022-11-01'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/a6a8034e-58bf-4a12-b44c-14639bf2a0c7?api-Version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus.rp.kubernetesconfiguration.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/a6a8034e-58bf-4a12-b44c-14639bf2a0c7?api-Version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/a6a8034e-58bf-4a12-b44c-14639bf2a0c7","name":"a6a8034e-58bf-4a12-b44c-14639bf2a0c7","status":"Creating"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview, 2021-05-01-preview, 2021-06-01-preview, 2021-09-01, 2021-11-01-preview,
        2022-01-01-preview, 2022-03-01, 2022-04-02-preview, 2022-07-01, 2022-11-01,
        2023-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterExtensionIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],
      "displayName": "my-custom-location", "hostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster",
      "hostType": "Kubernetes", "namespace": "appplat-ns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location?api-version=2021-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","name":"my-custom-location","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:35:06.6980159Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T04:35:06.6980159Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location","provisioningState":"Creating","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/92015a41-2795-4e1d-ad1f-f6ab11ac42b6?api-version=2021-03-15-preview&t=2023-09-07T04%3a35%3a09&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwNzI3MDYzNj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/92015a41-2795-4e1d-ad1f-f6ab11ac42b6?api-version=2021-03-15-preview&t=2023-09-07T04%3A35%3A09&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location?api-version=2021-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","name":"my-custom-location","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:35:06.6980159Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T04:35:06.6980159Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location","provisioningState":"Succeeded","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location",
      "type": "CustomLocation"}, "tags": null, "location": "northcentralusstage",
      "properties": {"staticIp": null, "daprAIConnectionString": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env","name":"my-connected-env","type":"Microsoft.App/connectedEnvironments","location":"northcentralusstage","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:35:51.9262694Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T04:35:51.9262694Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"my-connected-env-ibd6whp.northcentralusstage.k4apps.io","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"}}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/connectedEnvironmentOperationStatuses/7ac4fa31-5b30-43cf-a568-824d3cf58744?ap[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/connectedEnvironmentOperationStatuses/7ac4fa31-5b30-43cf-a568-824d3cf58744?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-07T04%3A35%3A53&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUU[...]
[...]
- request:
    body: '{"properties": {"componentType": "state.azure.blobstorage", "version":
      "v1", "ignoreErrors": false, "initTimeout": null, "secrets": [{"name": "storage-account-name",
      "value": "storage-account-name", "identity": null, "keyVaultUrl": null}], "secretStoreComponent":
      null, "metadata": [{"name": "accountName", "value": null, "secretRef": "storage-account-name"}],
      "scopes": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/daprComponents/dapr-component000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/connectedEnvironments/daprComponents","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:37:04.6649318Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T04:37:04.6649318Z"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/daprComponents?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/connectedEnvironments/daprComponents","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:37:04.6649318","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T04:37:04.6649318"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}]}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/daprComponents/dapr-component000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/connectedEnvironments/daprComponents","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-07T04:37:04.6649318","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T04:37:04.6649318"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
