interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/usages?api-version=2023-05-02-preview
  response:
    body:
      string: '{"value":[{"name":{"value":"ManagedEnvironmentCount","localizedValue":"Managed
<<<<<<< HEAD
        Environment Count"},"usage":6,"limit":40}]}'
=======
        Environment Count"},"usage":8,"limit":40}]}'
>>>>>>> main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 17 Oct 2023 07:00:59 GMT
=======
      - Tue, 24 Oct 2023 13:08:35 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding,Accept-Encoding
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2022-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"customerId":"12f49b89-9a46-42c9-84f4-4e20b067165d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-10-17T07:01:03.4253979Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-10-18T04:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-10-17T07:01:03.4253979Z","modifiedDate":"2023-10-17T07:01:03.4253979Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces"}'
=======
      string: '{"properties":{"customerId":"2b36ec8a-2f33-40dd-a82a-a609f7c8502d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-10-24T13:08:39.6749756Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-10-24T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-10-24T13:08:39.6749756Z","modifiedDate":"2023-10-24T13:08:39.6749756Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces"}'
>>>>>>> main
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 17 Oct 2023 07:01:03 GMT
=======
      - Tue, 24 Oct 2023 13:08:39 GMT
>>>>>>> main
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2022-10-01
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:e6336c63-aab2-45f0-996a-e5dbab2a1508
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-powered-by:
      - ASP.NET
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2022-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"customerId":"12f49b89-9a46-42c9-84f4-4e20b067165d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-10-17T07:01:03.4253979Z"},"rete[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003/sharedKeys?api-version=2020-08-01
  response:
    body:
<<<<<<< HEAD
      string: '{"primarySharedKey":"EoATdAa54VXQlHpLb1XBNKWnCDd1ajA92s29fwRRXFWxdW4TSKQQaoHU6OBw41HBmNX/x5ZTh3NZtSJaRRpvlg==","secondarySharedKey":"XI8M97INjrciL29Rf1niPnDZjGeaCuGsNTkp31wo7QyHVXder7tKLevjjcWP2RIQbhBvr0LuSTZFLEVg67KYRQ=="}'
=======
      string: '{"primarySharedKey":"aoZY86wg6Ky5wD/3fIp888H+jbZ/VYILMirFtadx/X16vgul7MoryFAaBCsArnAjZLoKFiDzt38MjA3KvHBaHA==","secondarySharedKey":"1sk7Yysyw9u97TMKCqq60X6kgVr8fBjTlPh4Xes8WNMbO46JGIFJOu35Ak9pa9B6Bri8F2N/z1vL6dY8Vy49mw=="}'
>>>>>>> main
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 17 Oct 2023 07:01:05 GMT
=======
      - Tue, 24 Oct 2023 13:08:41 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:e6336c63-aab2-45f0-996a-e5dbab2a1508
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/containerapp-e2e-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
<<<<<<< HEAD
      "logAnalyticsConfiguration": {"customerId": "12f49b89-9a46-42c9-84f4-4e20b067165d",
      "sharedKey": "EoATdAa54VXQlHpLb1XBNKWnCDd1ajA92s29fwRRXFWxdW4TSKQQaoHU6OBw41HBmNX/x5ZTh3NZtSJaRRpvlg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false, "peerAuthentication": {"mtls": {"enabled": true}}}}'
=======
      "logAnalyticsConfiguration": {"customerId": "2b36ec8a-2f33-40dd-a82a-a609f7c8502d",
      "sharedKey": "aoZY86wg6Ky5wD/3fIp888H+jbZ/VYILMirFtadx/X16vgul7MoryFAaBCsArnAjZLoKFiDzt38MjA3KvHBaHA=="}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "InfrastructureResourceGroup": null,
      "zoneRedundant": false, "peerAuthentication": {"mtls": {"enabled": true}}}}'
>>>>>>> main
    headers:
<<<<<<< HEAD
      - '497'
=======
      - '593'
>>>>>>> main
      Content-Type:
      - application/json
      ParameterSetName:
      - -g -n --logs-workspace-id --logs-workspace-key --enable-mtls
      User-Agent:
      - python/3.10.11 (Windows-10-10.0.22621-SP0) AZURECLI/2.53.0
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002","name":"containerapp-e2e-env000002","type":"Microsoft.App/managedEnvironments","location":"East
<<<<<<< HEAD
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-17T07:01:09.8418944Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-17T07:01:09.8418944Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"greenmeadow-b77c43a5.eastus.azurecontainerapps.io","staticIp":"20.242.194.156","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"12f49b89-9a46-42c9-84f4-4e20b067165d","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-e2e-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":true}}}}'
=======
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-24T13:08:48.0639339Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-24T13:08:48.0639339Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"wonderfulocean-4caca885.eastus.azurecon[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/45d14fa7-d730-4a82-9e5a-9492b0e92ec4?api-version=2023-05-02-preview&azureAsyncOperation=true&t=638331228737170640&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/cc19efbf-d78c-4956-b658-0828c9078436?api-version=2023-05-01&azureAsyncOperation=true&t=638337497302358174&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/usages?api-version=2023-05-02-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"name":{"value":"ManagedEnvironmentConsumptionCores","localizedValue":"Managed
=======
      string: '{"value":[{"name":{"value":"ManagedEnvironmentGeneralPurposeCores","localizedValue":"Managed
        Environment General Purpose Cores"},"usage":0,"limit":100},{"name":{"value":"ManagedEnvironmentMemoryOptimizedCores","localizedValue":"Managed
        Environment Memory Optimized Cores"},"usage":0,"limit":50},{"name":{"value":"ManagedEnvironmentConsumptionCores","localizedValue":"Managed
>>>>>>> main
        Environment Consumption Cores"},"usage":0,"limit":100}]}'
    headers:
<<<<<<< HEAD
      - '146'
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 17 Oct 2023 07:02:19 GMT
=======
      - '431'
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 24 Oct 2023 13:11:35 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding,Accept-Encoding
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
version: 1
