interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg724p6dkoutlmhajttnw55?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a5d4e6a4-02d6-43c2-8b95-08f30cc1a060","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-22T07:38:02.9903535Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-22T20:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-22T07:38:02.9903535Z","modifiedDate":"2024-01-22T07:38:02.9903535Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg724p6dkoutlmhajttnw55","name":"workspace-clitestrg724p6dkoutlmhajttnw55","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5000e069-0000-0100-0000-65ae1b5b0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg724p6dkoutlmhajttnw55?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg724p6dkoutlmhajttnw55?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a5d4e6a4-02d6-43c2-8b95-08f30cc1a060","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-22T07:38:02.9903535Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-22T20:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-22T07:38:02.9903535Z","modifiedDate":"2024-01-22T07:38:02.9903535Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg724p6dkoutlmhajttnw55","name":"workspace-clitestrg724p6dkoutlmhajttnw55","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5000e069-0000-0100-0000-65ae1b5b0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg724p6dkoutlmhajttnw55/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"7YIvetqJAl/4Fq0V1J1kXJes/3mjj8RyyAhIMYQNyZC0uo1EunhHPAN5uzKoBg5KH+nErrYCIapdVNPyPk9kcw==","secondarySharedKey":"2fMgqxoT5XEwhLQ9ERAbfYYGx+baufaelRimgRpaeH5h1M7uQmL/Pk9FNY/lT5WLKiBtoelJb4F7C0N2qJiDbg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "a5d4e6a4-02d6-43c2-8b95-08f30cc1a060",
      "sharedKey": "7YIvetqJAl/4Fq0V1J1kXJes/3mjj8RyyAhIMYQNyZC0uo1EunhHPAN5uzKoBg5KH+nErrYCIapdVNPyPk9kcw==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2024-01-22T07:38:07.677862","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-22T07:38:07.677862"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"orangebeach-8dcb8da9.eastus.azurecontainerapps.io","staticIp":"4.255.27.7","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"a5d4e6a4-02d6-43c2-8b95-08f30cc1a060","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0674969772E03EB0DD7BBCAE645CC3BE5D0663C94605C1ED83DBE7FAF0E5C9E4","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/c4c9c488-89b5-408d-a586-4fb23bb147d6?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638415058892872565&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/c4c9c488-89b5-408d-a586-4fb23bb147d6?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638415058892872565&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDE[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/spring-boot-admin/providers/Microsoft.ContainerRegistry/registries/testsba","name":"testsba","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"eastus","tags":{},"systemData":{"createdBy":"xuycao@microsoft.com","createdByType":"User","createdAt":"2023-09-13T03:21:09.105602Z","lastModifiedBy":"xuycao@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T03:23:10.5133514Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgzd7khthnhqq6tstk2233bjciuxo6zlwi6g3k6tctxg6ysehwpbinuqf7xxuj44lhu/providers/Microsoft.ContainerRegistry/registries/containerappoocqo7c57b7j","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949","name":"builder22949","type":"Microsoft.App/builders","location":"East
        US","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2024-01-22T07:39:24.0289805Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-22T07:39:24.0289805Z"},"properties":{"provisioningState":"Creating","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","containerRegistries":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6YzIyZDBjNmUtYjA0Yi00MTNlLTlhMWUtNjY0MWEzNWE5MDc2?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638415059650602694&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6YzIyZDBjNmUtYjA0Yi00MTNlLTlhMWUtNjY0MWEzNWE5MDc2?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638415059650602694&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"configuration": {"environmentVariables":
      null}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989","name":"build2294989","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2024-01-22T07:40:49.0707422Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-22T07:40:49.0707422Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","configuration":{},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder22949/builds/build2294989/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder22949/builds/build2294989/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRzOjNjYjcxMmFkLTg3NDktNDRjO[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989/listAuthToken?api-version=2023-11-02-preview
  response:
    body:
      string: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6ImQwODIyYjAxLTYyZWEtNGViOS04ODViLTk1YzYwZTQyNTBiNCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnNzI0cDZka291dGxtaGFqdHRudzU1cGc3enhqNnoyYW50aGl4YnNwNWxjaXc2ZmZjNHNyMm52bWY1ZG15cDN4eHUiLCJidWlsZF9uYW1lIjoiYnVpbGQyMjk0OTg5IiwiY2FwcF9qaXRfZXhwaXJ5IjoiMjAyNC0wMS0yMlQwODo0MDo1MS4zNTc2MDQxWiIsIm5iZiI6MTcwNTkwOTI1MSwiZXhwIjoxNzA1OTEyODUxLCJpYXQiOjE3MDU5MDkyNTEsImlzcyI6IkF6dXJlQ29udGFpbmVyQXBwcyIsImF1ZCI6Imh0dHBzOi8vZWFzdHVzLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ.dJdtriDEoWGy_ZyEWHRLqf-ijV9aAAa_NqIQ_wPER7k","expires":"2024-01-22T08:40:51.3576041Z"}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      LS1kZWRhOTJlZDBkNzNjZDY1OGRmY2MyZTY3MjA5ZGEzZA0KQ29udGVudC1EaXNwb3NpdGlvbjog
      Zm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImJ1aWxkX2RhdGEudGFyLmd6Ig0KQ29u
      dGVudC1UeXBlOiBhcHBsaWNhdGlvbi94LXRhcg0KDQofiwgIBByuZQL/YnVpbGQyMjk0OTg5LnRh
      cgDtPflzFceZZDf7C1tU+U/ovNQmwsW7dAKWZAiQoCxg1lJMvI7jzHuvJQ3MmxnPzNMRynFqs96t
      PSrZbJxUtryOk9jYYCxsgzkFlvFtBIhDQgIJBLow6EIggTjk3q+7Z94tcViSyaobPr05uvv7+uvu
      7+j5esbj9XgXrZaqlmMphI1ZU5J8PI336/NlZceO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989","name":"build2294989","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2024-01-22T07:40:49.0707422Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-22T07:40:49.0707422Z"},"properties":{"provisioningState":"Succeeded","buildStatus":"InProgress","destinationContainerRegistry":{"server":"default","image":"default/build2294989"},"configuration":{},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder22949/builds/build2294989/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder22949/builds/build2294989/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder22949/builds/build2294989/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder22949/builds/build2294989/logstream
  response:
    body:
      string: '2024-01-22T07:40:58.28248  Connecting to the container ''build2294989''...

        2024-01-22T07:40:58.30270  Kubernetes error happened. Closing the connection.

        '
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder22949/builds/build2294989/logstream
  response:
    body:
      string: "2024-01-22T07:41:00.91038  Connecting to the container 'build2294989'...\n2024-01-22T07:41:00.93023
        \ Successfully Connected to container: 'build2294989' [Build: 'build2294989'
        Execution: 'build-6c7d0a264cf9aed12efd-xrhuc61-tw2pw']\n2024-01-22T07:41:01.172686161Z
        Timer: Analyzer started at 2024-01-22T07:41:01Z\n2024-01-22T07:41:01.181657321Z
        Image with name \"default/build2294989\" not found\n2024-01-22T07:41:01.229861126Z
        Found image with identifier \"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\"\n2024-01-22T07:41:01.230574107Z
        Timer: Analyzer ran for 57.907568ms and ended at 2024-01-22T07:41:01Z\n2024-01-22T07:41:01.230588564Z
        Run image info in analyzed metadata is: \n2024-01-22T07:41:01.231026757Z {\"Reference\":\"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\",\"Image\":\"mcr.microsoft.com/oryx/builder:stack-run-debian-bullseye-20230926.1\",\"Extend\":false,\"target\":{\"os\":\"linux\",\"arch\":\"amd64\"}}\n2024-01-22T07:41:01.231981804Z
        \n2024-01-22T07:41:01.231995169Z ===== Executing the detect phase =====\n2024-01-22T07:41:01.248893737Z
        Starting detector...\n2024-01-22T07:41:01.248908695Z Parsing inputs...\n2024-01-22T07:41:01.248914737Z
        Ensuring privileges...\n2024-01-22T07:41:01.248920076Z Executing command...\n2024-01-22T07:41:01.250924788Z
        \e[33;1mWarning: \e[0mPlatform requested experimental feature 'Dockerfiles'\n2024-01-22T07:41:01.25094153[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 8080, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "default/build2294989",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2024-01-22T07:41:47.4482908Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-22T07:41:47.4482908Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":"Consumption","outboundIpAddresses":["20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169","20.124.73.117","4.156.169.214","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"0674969772E03EB0DD7BBCAE645CC3BE5D0663C94605C1ED83DBE7FAF0E5C9E4","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000003.orangebeach-8dcb8da9.eastus.azurecontainerapps.io","external":true,"targetPort":8080,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"default/build2294989","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
[...]
