interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"8055edf9-af4c-4453-bf15-bc5dbffa6927","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-30T07:52:15.8382341Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-30T21:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-30T07:52:15.8382341Z","modifiedDate":"2024-01-30T07:52:15.8382341Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005","name":"containerapp-env000005","type":"Microsoft.OperationalInsights/workspaces","etag":"\"3f03c2f2-0000-0100-0000-65b8aaaf0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"8055edf9-af4c-4453-bf15-bc5dbffa6927","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-30T07:52:15.8382341Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-30T21:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-30T07:52:15.8382341Z","modifiedDate":"2024-01-30T07:52:15.8382341Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005","name":"containerapp-env000005","type":"Microsoft.OperationalInsights/workspaces","etag":"\"3f03c2f2-0000-0100-0000-65b8aaaf0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"c99gXr4D16dlrU77bGPRpnUv5gFTnaKGKkoAXdJdnr+qiRK3CXbg4fk5nAZEAzZjHAeyMVpNtX3iW2yifhdg0A==","secondarySharedKey":"HLiTMdCHetJp8JwXa6jHcmnsfa+oEp7hL88MIAuii0uY/X4XXuaS3nEjIbvcarRgSXSShbs3HHaXk1ionzO08g=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/containerapp-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "8055edf9-af4c-4453-bf15-bc5dbffa6927",
      "sharedKey": "c99gXr4D16dlrU77bGPRpnUv5gFTnaKGKkoAXdJdnr+qiRK3CXbg4fk5nAZEAzZjHAeyMVpNtX3iW2yifhdg0A==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","name":"containerapp-env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"beverst@microsoft.com","createdByType":"User","createdAt":"2024-01-30T07:52:18.6753247","lastModifiedBy":"beverst@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T07:52:18.6753247"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"proudocean-45a1d8f5.eastus.azurecontainerapps.io","staticIp":"4.236.192.211","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"8055edf9-af4c-4453-bf15-bc5dbffa6927","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"5BFE8DB4137DA7297200F72097CECB01290B238883234F58DCD8A18AA49D2DD7","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/79f027ae-b132-4860-8ef1-9e2b87347c34?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638421979397377883&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDEz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/79f027ae-b132-4860-8ef1-9e2b87347c34?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638421979397377883&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhc[...]
[...]
- request:
    body: '{"properties": {"componentType": "state.azure.blobstorage", "version":
      "v1", "ignoreErrors": false, "initTimeout": null, "secrets": [{"name": "storage-account-name",
      "value": "storage-account-name", "identity": null, "keyVaultUrl": null}], "secretStoreComponent":
      null, "metadata": [{"name": "accountName", "value": null, "secretRef": "storage-account-name"}],
      "scopes": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003","name":"daprcomp000003","type":"Microsoft.App/managedEnvironments/daprComponents","systemData":{"createdBy":"beverst@microsoft.com","createdByType":"User","createdAt":"2024-01-30T07:53:28.7598469Z","lastModifiedBy":"beverst@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T07:53:28.7598469Z"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bad-rg/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''bad-rg'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/bad-comp/resiliencyPolicies/resil000004?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"DaprComponentNotFound","message":"Dapr Component
        with name ''bad-comp'' was not found."}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/bad-env/daprComponents/daprcomp000003/resiliencyPolicies/resil000004?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/bad-env''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004","name":"resil000004","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":5,"retryBackOff":{"initialDelayInMilliseconds":1000,"maxIntervalInMilliseconds":10000}},"timeoutPolicy":{"responseTimeoutInSeconds":15}}}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004",
      "name": "resil000004", "type": "Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies",
      "properties": {"inboundPolicy": {"httpRetryPolicy": {"maxRetries": 5, "retryBackOff":
      {"initialDelayInMilliseconds": 1000, "maxIntervalInMilliseconds": 10000}}, "timeoutPolicy":
      {"responseTimeoutInSeconds": 15}}, "outboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      45}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004","name":"resil000004","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":5,"retryBackOff":{"initialDelayInMilliseconds":1000,"maxIntervalInMilliseconds":10000}},"timeoutPolicy":{"responseTimeoutInSeconds":15}},"outboundPolicy":{"timeoutPolicy":{"responseTimeoutInSeconds":45}}}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004","name":"resil000004","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":5,"retryBackOff":{"initialDelayInMilliseconds":1000,"maxIntervalInMilliseconds":10000}},"timeoutPolicy":{"responseTimeoutInSeconds":15}},"outboundPolicy":{"timeoutPolicy":{"responseTimeoutInSeconds":45}}}}]}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bad-rg/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''bad-rg'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/bad-comp/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"DaprComponentNotFound","message":"Dapr Component
        with name ''bad-comp'' was not found."}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/bad-env/daprComponents/daprcomp000003/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/bad-env''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"inboundPolicy": {"httpRetryPolicy": {"maxRetries": 15,
      "retryBackOff": {"initialDelayInMilliseconds": 9, "maxIntervalInMilliseconds":
      99}}, "circuitBreakerPolicy": {"consecutiveErrors": 3, "timeoutInSeconds": 10}},
      "outboundPolicy": {"httpRetryPolicy": {"maxRetries": 16, "retryBackOff": {"initialDelayInMilliseconds":
      10, "maxIntervalInMilliseconds": 100}}, "timeoutPolicy": {"responseTimeoutInSeconds":
      17}, "circuitBreakerPolicy": {"consecutiveErrors": 5, "timeoutInSeconds": 15,
      "intervalInSeconds": 60}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002/daprComponents/daprcomp000003/resiliencyPolicies/resil000004","name":"resil000004","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":15,"retryBackOff":{"initialDelayInMilliseconds":9,"maxIntervalInMilliseconds":99}},"circuitBreakerPolicy":{"consecutiveErrors":3,"timeoutInSeconds":10}},"outboundPolicy":{"httpRetryPolicy":{"maxRetries":16,"retryBackOff":{"initialDelayInMilliseconds":10,"maxIntervalInMilliseconds":100}},"timeoutPolicy":{"responseTimeoutInSeconds":17},"circuitBreakerPolicy":{"consecutiveErrors":5,"intervalInSeconds":60,"timeoutInSeconds":15}}}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
