interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"c196afd8-fe89-4754-9811-fea3ae7688ed","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-10T14:49:51.0405656Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-10T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-10T14:49:51.0405656Z","modifiedDate":"2023-11-10T14:49:51.0405656Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005","name":"containerapp-env000005","type":"Microsoft.OperationalInsights/workspaces","etag":"\"04042879-0000-0100-0000-654e430f0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"c196afd8-fe89-4754-9811-fea3ae7688ed","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-10T14:49:51.0405656Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-10T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-10T14:49:51.0405656Z","modifiedDate":"2023-11-10T14:49:51.8627293Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005","name":"containerapp-env000005","type":"Microsoft.OperationalInsights/workspaces","etag":"\"04043b79-0000-0100-0000-654e430f0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000005/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"padPwbAyK2WHqYNn3mqVBvLXldd0+T3LNdcGrampEY+5mxS0qDNTX2ya0sNWjbmVpgt8wepZHIrWggWlPky7Gg==","secondarySharedKey":"eZHDfSCmSI3neCXPrYpEG90x5viy0Uvj2bZfTjRGjzA+sCbYAp5gpJPV/KwYiWtUE7KDhmhahQ5IRMQAFhyL5A=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"042ed5c8-9150-4164-be5d-470afa4f25ed","roleDefinitionId":"88c4e81c-eca5-4130-be23-409ab881cb29"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["East
        US 2","West US 3","West US 2","South Central US","Australia East","Southeast
        Asia","North Central US","North Europe"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-05-01","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["East
        US 2","West US 3","West US 2","South Central US","Australia East","Southeast
        Asia","North Central US","North Europe"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022[...]
- request:
    body: '{"properties": {"componentType": "state.azure.blobstorage", "version":
      "v1", "ignoreErrors": false, "initTimeout": null, "secrets": [{"name": "storage-account-name",
      "value": "storage-account-name", "identity": null, "keyVaultUrl": null}], "secretStoreComponent":
      null, "metadata": [{"name": "accountName", "value": null, "secretRef": "storage-account-name"}],
      "scopes": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002","name":"daprcomp000002","type":"Microsoft.App/managedEnvironments/daprComponents","systemData":{"createdBy":"AzTestbeverst@outlook.com","createdByType":"User","createdAt":"2024-01-10T02:41:29.2585897Z","lastModifiedBy":"AzTestbeverst@outlook.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-10T02:41:29.2585897Z"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bad-rg/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''bad-rg'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/bad-comp/resiliencyPolicies/resil000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"DaprComponentNotFound","message":"Dapr Component
        with name ''bad-comp'' was not found."}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '299'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/bad-env/daprComponents/daprcomp000002/resiliencyPolicies/resil000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/bad-env''
        under resource group ''clitest.rg000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"inboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      15}, "httpRetryPolicy": {"maxRetries": 5, "retryBackOff": {"initialDelayInMilliseconds":
      1000, "maxIntervalInMilliseconds": 10000}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003","name":"resil000003","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":5,"retryBackOff":{"initialDelayInMilliseconds":1000,"maxIntervalInMilliseconds":10000}},"timeoutPolicy":{"responseTimeoutInSeconds":15}}}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003",
      "name": "resil000003", "type": "Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies",
      "properties": {"inboundPolicy": {"httpRetryPolicy": {"maxRetries": 5, "retryBackOff":
      {"initialDelayInMilliseconds": 1000, "maxIntervalInMilliseconds": 10000}}, "timeoutPolicy":
      {"responseTimeoutInSeconds": 15}}, "outboundPolicy": {"timeoutPolicy": {"responseTimeoutInSeconds":
      45}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003","name":"resil000003","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":5,"retryBackOff":{"initialDelayInMilliseconds":1000,"maxIntervalInMilliseconds":10000}},"timeoutPolicy":{"responseTimeoutInSeconds":15}},"outboundPolicy":{"timeoutPolicy":{"responseTimeoutInSeconds":45}}}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003","name":"resil000003","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":5,"retryBackOff":{"initialDelayInMilliseconds":1000,"maxIntervalInMilliseconds":10000}},"timeoutPolicy":{"responseTimeoutInSeconds":15}},"outboundPolicy":{"timeoutPolicy":{"responseTimeoutInSeconds":45}}}}]}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bad-rg/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''bad-rg'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/bad-comp/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"DaprComponentNotFound","message":"Dapr Component
        with name ''bad-comp'' was not found."}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/bad-env/daprComponents/daprcomp000002/resiliencyPolicies?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/bad-env''
        under resource group ''clitest.rg000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"inboundPolicy": {"httpRetryPolicy": {"maxRetries": 15,
      "retryBackOff": {"initialDelayInMilliseconds": 9, "maxIntervalInMilliseconds":
      99}}, "circuitBreakerPolicy": {"consecutiveErrors": 3, "timeoutInSeconds": 10}},
      "outboundPolicy": {"httpRetryPolicy": {"maxRetries": 16, "retryBackOff": {"initialDelayInMilliseconds":
      10, "maxIntervalInMilliseconds": 100}}, "timeoutPolicy": {"responseTimeoutInSeconds":
      17}, "circuitBreakerPolicy": {"consecutiveErrors": 5, "timeoutInSeconds": 15,
      "intervalInSeconds": 60}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-envqusbx7ly/daprComponents/daprcomp000002/resiliencyPolicies/resil000003","name":"resil000003","type":"Microsoft.App/managedEnvironments/daprComponents/resiliencyPolicies","properties":{"inboundPolicy":{"httpRetryPolicy":{"maxRetries":15,"retryBackOff":{"initialDelayInMilliseconds":9,"maxIntervalInMilliseconds":99}},"circuitBreakerPolicy":{"consecutiveErrors":3,"timeoutInSeconds":10}},"outboundPolicy":{"httpRetryPolicy":{"maxRetries":16,"retryBackOff":{"initialDelayInMilliseconds":10,"maxIntervalInMilliseconds":100}},"timeoutPolicy":{"responseTimeoutInSeconds":17},"circuitBreakerPolicy":{"consecutiveErrors":5,"intervalInSeconds":60,"timeoutInSeconds":15}}}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '299'
    status:
      code: 200
      message: OK
[...]
