interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgm6xp7r57hf6fhvf5a3l7g?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"eb698c18-69e9-416d-9440-a2d02b3cf87d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-28T20:35:43.2999428Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-29T01:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-28T20:35:43.2999428Z","modifiedDate":"2023-08-28T20:35:43.2999428Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgm6xp7r57hf6fhvf5a3l7g","name":"workspace-clitestrgm6xp7r57hf6fhvf5a3l7g","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgm6xp7r57hf6fhvf5a3l7g?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgm6xp7r57hf6fhvf5a3l7g?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"eb698c18-69e9-416d-9440-a2d02b3cf87d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-28T20:35:43.2999428Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-29T01:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-28T20:35:43.2999428Z","modifiedDate":"2023-08-28T20:35:43.2999428Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgm6xp7r57hf6fhvf5a3l7g","name":"workspace-clitestrgm6xp7r57hf6fhvf5a3l7g","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgm6xp7r57hf6fhvf5a3l7g/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"ox0cTmF9xprKDhI7XH47DZy/fayZjShSbTUr4/8NNQxA6yxgnYwTdDjkX29z5x8DwwL76lSwKl0NfcCMKdyzWA==","secondarySharedKey":"aS8DanFR13FRGrR89Ud8zvXP3Ah4t/UkMcA41WH0qZptGqahXeJnmsB2cTuKYmZUqqeooN0L4JudyOgmZpId6w=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "eb698c18-69e9-416d-9440-a2d02b3cf87d",
      "sharedKey": "ox0cTmF9xprKDhI7XH47DZy/fayZjShSbTUr4/8NNQxA6yxgnYwTdDjkX29z5x8DwwL76lSwKl0NfcCMKdyzWA=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-28T20:35:44.6124483Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T20:35:44.6124483Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"icypond-a6d342f7.eastus.azurecontainerapps.io","staticIp":"20.121.105.215","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"eb698c18-69e9-416d-9440-a2d02b3cf87d","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/41c175db-a33c-4581-aa69-5d43693ffed7?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-28T20%3a35%3a51&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/41c175db-a33c-4581-aa69-5d43693ffed7?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-28T20%3A35%3A51&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-28T20:37:22.9199862+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T20:37:22.9199862+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-08-28T20:37:22.9199862Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-28T20:37:29.2144354+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-28T20:37:29.2144743+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-b2cb2a0e-45e2-11ee-86be-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-b2cb2a0e-45e2-11ee-86be-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-b2cb2a0e-45e2-11ee-86be-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"M0waVEeRg2ZZCdlt5YPIsZDO/FWyIqxPaBfzRaaLFs+ACRA4qerV"},{"name":"password2","value":"tnBWFXipkVwXzXb622OZy5hVSPBrG5dwPryMDxY1cW+ACRDdkGbd"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHB5YW82cjRiYzdsbzM6MjAyMzA4MjgxMzM3Mzc5NjA2NzIgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBweWFvNnI0YmM3bG8zOjIwMjMwODI4MTMzNzM3OTYwNjcyIl0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-08-28T20[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/source/202308280000/d1a0e962-a5c4-4012-bbbe-7465136cd500.tar.gz?sv=2021-12-02&se=2023-08-28T21%3A37%3A46Z&sr=b&sp=cw&sig=PYsqrfSHG9AZAoT5Ne1ftOVzGKP0%2BJVXeEUXAcqAC2s%3D","relativePath":"source/202308280000/d1a0e962-a5c4-4012-bbbe-7465136cd500.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICJ4F7WQC/2NsaV9zb3VyY2VfYXJjaGl2ZV80MmY5NDAzYjNkNGE0MDFhYWU4NTU1MDExZjhm
      OTNhOS50YXIA7Vzrc9u4Efdnz+R/2Oh6QyUnUXzoYSt2rtfEl9xMmvMk6XQ6nc4NTUISYopgAUi2
      mnP/9i4AUqYd5zmR3OT25w+mFljs4rFYYEnA7/m9Px8n509ZkjG5sxEEDu/6HwRx//LZ0MOwP4h2
      4HxnC1gonUgU/6Ur+ZUg2oO55nN2GA73hsH+YG8/8keD/agfR7s7hG8evS3IMPYwGo3ebf9vPY+i
      UbADA7L/jcOn+Z/mf5r//7BIytJ/rTY//w+Hw3fZfxQMo2v2H8TRaAcCsv+NY5lISCVLNDuSUkg4
      BMn+veCStb2Z1mWXGary7j3YNTnZeSmZUs1cFanOUSZ61kw[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-08-28T20:37:35.9048041+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202308280000/d1a0e962-a5c4-4012-bbbe-7465136cd500.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmpfmdshvtr", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-28T20:37:48+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T20:37:47.931534+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A48Z&sr=b&sp=r&sig=AnMLXrozMnVhFJ1RQ9PA6frMVsLRa%2BD9ApzHv8oQUuM%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:37:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A48Z&sr=b&sp=r&sig=AnMLXrozMnVhFJ1RQ9PA6frMVsLRa%2BD9ApzHv8oQUuM%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA806A4857448"'
      last-modified:
      - Mon, 28 Aug 2023 20:37:48 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:37:52 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A48Z&sr=b&sp=r&sig=AnMLXrozMnVhFJ1RQ9PA6frMVsLRa%2BD9ApzHv8oQUuM%3D
  response:
    body:
      string: "2023/08/28 20:37:48 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA806A4857448"'
      last-modified:
      - Mon, 28 Aug 2023 20:37:48 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:37:55 GMT
      x-ms-range:
      - bytes=48-4143
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A48Z&sr=b&sp=r&sig=AnMLXrozMnVhFJ1RQ9PA6frMVsLRa%2BD9ApzHv8oQUuM%3D
  response:
    body:
      string: "2023/08/28 20:37:49 Finished downloading source code\r\n2023/08/28
        20:37:49 Alias support enabled for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases
        for more information.\n2023/08/28 20:37:49 Creating Docker network: acb_default_network,
        driver: 'bridge'\n2023/08/28 20:37:49 Successfully set up Docker network:
        acb_default_network\n2023/08/28 20:37:49 Setting up Docker configuration...\n2023/08/28
        20:37:50 Successfully set up Docker configuration\n2023/08/28 20:37:50 Logging
        in to registry: containerapp000004.azurecr.io\n2023/08/28 20:37:50 Successfully
        logged into containerapp000004.azurecr.io\n2023/08/28 20:37:50 Executing step
        ID: acb_step_0. Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/08/28
        20:37:50 Launching container with name: acb_step_0\nUnable to find image 'mcr.microsoft.com/oryx/cli:debian-buster-20230222.1'
        locally\ndebian-buster-20230222.1: Pulling from oryx/cli\nb2404786f3fe: Pulling
        fs layer\ne97ef50ee5a8: Pulling fs layer\ndfb1477a1a0e: Pulling fs layer\n69fefe447a70:
        Pulling fs layer\n75c028bd406f: Pulling fs layer\n69285aafba30: Pulling f[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:38:05 GMT
      x-ms-range:
      - bytes=2069-6164
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A48Z&sr=b&sp=r&sig=AnMLXrozMnVhFJ1RQ9PA6frMVsLRa%2BD9ApzHv8oQUuM%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\nStatus:
        Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\nDockerfile
        written to '/workspace/Dockerfile'.\n2023/08/28 20:37:59 Successfully executed
        container: acb_step_0\n2023/08/28 20:37:59 Executing step ID: acb_step_1.
        Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/08/28
        20:37:59 Scanning for dependencies...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2069-2550/2551
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA806AAEFE1A1"'
      last-modified:
      - Mon, 28 Aug 2023 20:37:59 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:38:24 GMT
      x-ms-range:
      - bytes=8404-12499
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged145.blob.core.windows.net/ddbed99914d444b0a38c3b8ba875a672-ywt8he6c2x/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A48Z&sr=b&sp=r&sig=AnMLXrozMnVhFJ1RQ9PA6frMVsLRa%2BD9ApzHv8oQUuM%3D
  response:
    body:
      string: "Preparing to unpack .../1-libgdbm6_1.19-2_amd64.deb ...\nUnpacking
        libgdbm6:amd64 (1.19-2) ...\nSelecting previously unselected package libgdbm-compat4:amd64.\nPreparing
        to unpack .../2-libgdbm-compat4_1.19-2_amd64.deb ...\nUnpacking libgdbm-compat4:amd64
        (1.19-2) ...\nSelecting previously unselected package libperl5.32:amd64.\nPreparing
        to unpack .../3-libperl5.32_5.32.1-4+deb11u2_amd64.deb ...\nUnpacking libperl5.32:amd64
        (5.32.1-4+deb11u2) ...\nSelecting previously unselected package perl.\nPreparing
        to unpack .../4-perl_5.32.1-4+deb11u2_amd64.deb ...\nUnpacking perl (5.32.1-4+deb11u2)
        ...\nSelecting previously unselected package libcurl3-gnutls:amd64.\nPreparing
        to unpack .../5-libcurl3-gnutls_7.74.0-1.3+deb11u7_amd64.deb ...\nUnpacking
        libcurl3-gnutls:amd64 (7.74.0-1.3+deb11u7) ...\nSelecting previously unselected
        package liberror-perl.\nPreparing to unpack .../6-liberror-perl_0.17029-1_all.deb
        ...\nUnpacking liberror-perl (0.17029-1) ...\nSelecting previously unselected
        package git-man.\nPreparing to unpack .../7-git-man_1%3a2.30.2-1+deb11u2_all.deb
        ...\nUnpacking git-man (1:2.30.2-1+deb11u2) ...\nSelecting previously unselected
        package git.\nPreparing to unpack .../8-git_1%3a2.30.2-1+deb11u2_amd64.deb[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
[...]
