interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Central US EUAP","East
        US 2 EUAP"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Centra[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus2", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwoxsqbjd6k2remome33f4?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"5cdff1ba-ad1a-4033-bc16-fcf7e81a145b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-31T05:54:08.6937215Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-31T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-31T05:54:08.6937215Z","modifiedDate":"2024-01-31T05:54:08.6937215Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwoxsqbjd6k2remome33f4","name":"workspace-clitestrgwoxsqbjd6k2remome33f4","type":"Microsoft.OperationalInsights/workspaces","etag":"\"7b006617-0000-0200-0000-65b9e0800000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwoxsqbjd6k2remome33f4?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwoxsqbjd6k2remome33f4?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"5cdff1ba-ad1a-4033-bc16-fcf7e81a145b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-31T05:54:08.6937215Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-31T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-31T05:54:08.6937215Z","modifiedDate":"2024-01-31T05:54:08.6937215Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwoxsqbjd6k2remome33f4","name":"workspace-clitestrgwoxsqbjd6k2remome33f4","type":"Microsoft.OperationalInsights/workspaces","etag":"\"7b006617-0000-0200-0000-65b9e0800000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwoxsqbjd6k2remome33f4/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"slYpqqABeMCpnFRr/r4X/8kjWhYkldePbDHled1yTvdLe0ix6tBiVcjB/vGs0ySq/+cIPoR8yXXqPek5tC5ClA==","secondarySharedKey":"hAt/QSGv9kswaTbsTH42xbt/WnT4ggovHJNpa47JXyLDzCOfySgyadqWcXytPb3EXzoGA45BhsxJ2EZ95X/jcw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "5cdff1ba-ad1a-4033-bc16-fcf7e81a145b",
      "sharedKey": "slYpqqABeMCpnFRr/r4X/8kjWhYkldePbDHled1yTvdLe0ix6tBiVcjB/vGs0ySq/+cIPoR8yXXqPek5tC5ClA==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US 2","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-01-31T05:54:10.8352288","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-31T05:54:10.8352288"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"calmflower-e95169fa.eastus2.azurecontainerapps.io","staticIp":"52.252.21.135","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"5cdff1ba-ad1a-4033-bc16-fcf7e81a145b","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0FEF6FC81FA2FA9876FEE95F895AD716D01F5495C9AC8EA62F0228DC5E40B5CA","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/managedEnvironmentOperationStatuses/60ff7ae6-94ea-4fb4-8e43-82f9fa5e35f4?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422772534604871&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/managedEnvironmentOperationStatuses/60ff7ae6-94ea-4fb4-8e43-82f9fa5e35f4?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422772534604871&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PatcherTestRg/providers/Microsoft.ContainerRegistry/registries/patchertestacr","name":"patchertestacr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"eastus","tags":{},"systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2023-03-20T03:34:21.7566725Z","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-17T18:04:20.2780742Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PatcherTestRg/providers/Microsoft.ContainerRegistry/registries/actiondebugregistry","name":"actiondebugregistry","type":"Microsoft.ContainerRegistry/re[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b","name":"builder10a6b","type":"Microsoft.App/builders","location":"East
        US 2","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-01-31T05:57:51.4580043Z","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-31T05:57:51.4580043Z"},"properties":{"provisioningState":"Creating","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","containerRegistries":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/operationStatuses/YnVpbGRlcnM6ODg2MmVhYTQtMTNhOS00MWFiLTliYWItZmJmZGQ0YjU2MzIz?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422774719736292&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/operationStatuses/YnVpbGRlcnM6ODg2MmVhYTQtMTNhOS00MWFiLTliYWItZmJmZGQ0YjU2MzIz?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422774719736292&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEg[...]
[...]
- request:
    body: '{"location": "eastus2", "properties": {"configuration": {"environmentVariables":
      null}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5","name":"build10a6bf5","type":"Microsoft.App/builders/builds","location":"East
        US 2","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-01-31T05:59:06.8897785Z","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-31T05:59:06.8897785Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","configuration":{},"uploadEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder10a6b/builds/build10a6bf5/upload","logStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder10a6b/builds/build10a6bf5/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/operationStatuses/YnVpbGRzOjBj[...]
- request:
    body: '{"location": "eastus2", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5/listAuthToken?api-version=2023-11-02-preview
  response:
    body:
      string: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6Ijg4OGQ3MDU1LTBmODAtNDExZi1iZDEzLTVmNTcyOGUzOTc3ZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnd294c3FiamQ2azJyZW1vbWUzM2Y0NDJ4YnY0Z3J5ZWJ6N2Z6aXdtbXR5d2YzZHN4NGM3aWM2cHNwZmE2cjd0bDUiLCJidWlsZF9uYW1lIjoiYnVpbGQxMGE2YmY1IiwiY2FwcF9qaXRfZXhwaXJ5IjoiMjAyNC0wMS0zMVQwNjo1OTowNy43ODY2MjkwWiIsIm5iZiI6MTcwNjY4MDc0NywiZXhwIjoxNzA2Njg0MzQ3LCJpYXQiOjE3MDY2ODA3NDcsImlzcyI6IkF6dXJlQ29udGFpbmVyQXBwcyIsImF1ZCI6Imh0dHBzOi8vZWFzdHVzMi5henVyZWNvbnRhaW5lcmFwcHMuZGV2In0.p_FKEKiA6_2jS3GuzP2Ek-NFfc7K8bhTYOqT8BX6McU","expires":"2024-01-31T06:59:07.786629Z"}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      LS0wODA1MzI0OTI3NzMyZDlmMDJlNGRlNGMxNTQ5MjgxYQ0KQ29udGVudC1EaXNwb3NpdGlvbjog
      Zm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImJ1aWxkX2RhdGEudGFyLmd6Ig0KQ29u
      dGVudC1UeXBlOiBhcHBsaWNhdGlvbi94LXRhcg0KDQofiwgIq+G5ZQL/YnVpbGQxMGE2YmY1LnRh
      cgDtPfl3FMeZZDf7C/t4z39CZfI2EX7MpdGMBJZkCJCgLGAWKSZex3F6ZkpSQ0/3uLtHQuE5ztus
      d98eL9lsnLzsSxwnsbHBWNgGc4NlfJv7kBAggUASwqALgQTikGu/quqeQzMSh6WBZOqDT9NHVX1f
      1Vf1Hd1V1S63yz17ibRyAZbCWJ8yKeDhMNavx+Mr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5","name":"build10a6bf5","type":"Microsoft.App/builders/builds","location":"East
        US 2","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-01-31T05:59:06.8897785Z","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-31T05:59:06.8897785Z"},"properties":{"provisioningState":"Succeeded","buildStatus":"InProgress","destinationContainerRegistry":{"server":"default","image":"default/build10a6bf5"},"configuration":{},"uploadEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder10a6b/builds/build10a6bf5/upload","logStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder10a6b/builds/build10a6bf5/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder10a6b/builds/build10a6bf5/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder10a6b/builds/build10a6bf5/logstream
  response:
    body:
      string: '2024-01-31T05:59:13.03676  Connecting to the container ''build10a6bf5''...

        2024-01-31T05:59:13.05457  Kubernetes error happened. Closing the connection.

        '
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder10a6b/builds/build10a6bf5/logstream
  response:
    body:
      string: "2024-01-31T05:59:17.79365  Connecting to the container 'build10a6bf5'...\n2024-01-31T05:59:17.80888
        \ Successfully Connected to container: 'build10a6bf5' [Build: 'build10a6bf5'
        Execution: 'build-c9c1756b64d960a24f79-k6wlu4x-455lf']\n2024-01-31T05:59:17.810905744Z
        ----- Initiating buildpack build -----\n2024-01-31T05:59:17.810923868Z -----
        Cloud Build correlation id: '3af0f3dc9abdcb52f36a1ef1288aab5c' -----\n2024-01-31T05:59:17.810929779Z
        \n2024-01-31T05:59:17.810938786Z \n2024-01-31T05:59:17.810943044Z ===== Executing
        the analyze phase =====\n2024-01-31T05:59:17.837394620Z Starting analyzer...\n2024-01-31T05:59:17.837430557Z
        Parsing inputs...\n2024-01-31T05:59:17.837673146Z Ensuring privileges...\n2024-01-31T05:59:17.838628450Z
        Executing command...\n2024-01-31T05:59:18.462060396Z Timer: Analyzer started
        at 2024-01-31T05:59:18Z\n2024-01-31T05:59:18.478971098Z Image with name \"default/build10a6bf5\"
        not found\n2024-01-31T05:59:18.541345135Z Found image with identifier \"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\"\n2024-01-31T05:59:18.542078348Z
        Timer: Analyzer ran for 80.413494ms and ended at 2024-01-31T05:59:18Z\n2024-01-31T05:59:18.542091091Z
        Run image info in analyzed metadata is: \n2024-01-31T05:59:18.542718195Z {\"Reference\":\"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\",\"Image\":\"mcr.microsoft.com/oryx/builder:stack-run-debian-bullseye-20230926.1\",\"Extend\":false,\"target\":{\"os\":\"linux\",\"arch\":\"amd64\"}}\n2024-01-31T05:59:18.543732696Z
        \n2024-01-31T05:59:18.543746522Z ===== Executing the detect phase =====\n2024-01-31T05:59:18.565584993Z
        Starting detector...\n2024-01-31T05:59:18.565628595Z Parsing inputs...\n2024-01-31T05:59:18.565635818Z
        Ensuring privileges...\n2024-01-31T05:59:18.565640687Z Executing command...\n2024-01-31T05:59:18.569222284Z
        \e[33;1mWarning: \e[0mPlatform requested experimental feature 'Dockerfiles'\n2024-01-31T05:59:18.56924403[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "East US 2", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 8080, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "default/build10a6bf5",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
[...]
