interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Germany North","New Zealand
        North","Chile Central","Korea South","Jio India Central","Belgium Central","Japan
        West","Australia Southeast","France South","Jio India West","Spain Central","Italy
        North","Poland Central","Malaysia West","Indonesia Central","South India"],"apiVersions":["2026-03-02-preview","2026-01-01","2025-10-02-preview","2025-07-01","2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_brazilsouth/providers/Microsoft.App/managedEnvironments/env-brazilsouth?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_brazilsouth/providers/Microsoft.App/managedEnvironments/env-brazilsouth","name":"env-brazilsouth","type":"Microsoft.App/managedEnvironments","location":"Brazil
        South","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-27T07:24:39.5710684","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-27T07:24:39.5710684"},"properties":{"environmentMode":"WorkloadProfiles","provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"ashymeadow-310e32d1.brazilsouth.azurecontainerapps.io","staticIp":"4.160.159.224","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.18.1"},"daprConfiguration":{"version":"1.16.4-msft.12"},"ingressConfiguration":null,"eventStreamEndpoint":"https://brazilsouth.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_brazilsouth/managedEnvironments/env-brazilsouth/eventstream","customDomainConfiguration":{"customDomainVerificationId":"A9DA1691FBAF2B040EB3BD6F1FFDB85FCBF82BDE6A18D8AA965EA0705BE6D010","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled","diskEncryptionConfiguration":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01, 2026-03-02-preview, 2026-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "brazilsouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"brazilsouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003","name":"containerapp-user000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"40ce73f6-10c3-43be-862e-9582cc55588e","clientId":"5eb1b08c-4cee-479d-a750-9e765609a6e0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": null, "location": "brazilsouth", "extendedLocation": null, "identity":
      {"principalId": null, "tenantId": null, "type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003":
      {}}}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_brazilsouth/providers/Microsoft.App/managedEnvironments/env-brazilsouth",
      "configuration": {"secrets": [{"name": "personal-access-token", "value": "test_personal_access_token",
      "identity": null, "keyVaultUrl": null}], "triggerType": "Event", "replicaTimeout":
      100, "replicaRetryLimit": 1, "manualTriggerConfig": null, "scheduleTriggerConfig":
      null, "eventTriggerConfig": {"replicaCompletionCount": 1, "parallelism": 1,
      "scale": {"pollingInterval": null, "minExecutions": 0, "maxExecutions": 10,
      "rules": [{"name": "github-runner-test", "type": "github-runner", "metadata":
      {"github-runner": "https://api.github.com", "owner": "test_org", "runnerScope":
      "repo", "repos": "test_repo", "targetWorkflowQueueLength": "1"}, "auth": [{"secretRef":
      "personal-access-token", "triggerParameter": "personalAccessToken"}], "identity":
      null}]}}, "registries": null, "identitySettings": null}, "template": {"initContainers":
      null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest",
      "name": "eventdriventjob", "command": null, "args": null, "env": [{"name": "ACCESS_TOKEN",
      "value": null, "secretRef": "personal-access-token"}, {"name": "DISABLE_RUNNER_UPDATE",
      "value": "true", "secretRef": null}, {"name": "RUNNER_SCOPE", "value": "repo",
      "secretRef": null}, {"name": "ORG_NAME", "value": "test_org", "secretRef": null},
      {"name": "ORG_RUNNER", "value": "false", "secretRef": null}, {"name": "RUNNER_WORKDIR",
      "value": "/tmp/runner", "secretRef": null}, {"name": "REPO_URL", "value": "https://github.com/test_org/test_repo",
      "secretRef": null}], "resources": {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage":
      "1Gi", "gpu": null}, "volumeMounts": [{"volumeName": "workdir", "mountPath":
      "/tmp/github-runner-your-repo", "subPath": null}, {"volumeName": "dockersock",
      "mountPath": "/var/run/docker.sock", "subPath": null}], "probes": null}], "volumes":
      [{"name": "workdir", "storageType": "EmptyDir", "storageName": null, "secrets":
      null, "mountOptions": null}, {"name": "dockersock", "storageType": "EmptyDir",
      "storageName": null, "secrets": null, "mountOptions": null}]}, "workloadProfileName":
      null, "eventStreamEndpoint": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002","name":"yaml000002","type":"Microsoft.App/jobs","location":"Brazil
        South","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-27T10:12:41.3065993Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-27T10:12:41.3065993Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Ready","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_brazilsouth/providers/Microsoft.App/managedEnvironments/env-brazilsouth","workloadProfileName":"Consumption","outboundIpAddresses":["20.226.185.233","20.226.185.243","20.226.186.22","20.226.186.95","4.228.165.239","4.228.166.5","4.228.165.232","4.228.166.105","4.228.166.39","4.228.166.3","4.238.166.159","74.163.171.165","20.206.230.1","4.203.83.103","191.237.206.249","4.238.166.186","4.160.153.218","20.206.235.183","20.206.235.182","20.206.235.151","74.163.157.204","4.238.164.64","20.201.32.88","4.203.84.70","20.226.176.23","20.201.33.35","20.226.176.22","4.228.3.212","20.201.16.83","4.228.25.34","4.160.153.55","4.228.24.21[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/brazilsouth/containerappsjobOperationStatuses/79385439-2f34-4ccd-91d0-00305023456a?api-version=2025-10-02-preview&azureAsyncOperation=true&t=639234223647597647&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oX[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002","name":"yaml000002","type":"Microsoft.App/jobs","location":"Brazil
        South","s[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002/listSecrets?api-version=2025-10-02-preview
  response:
    body:
      string: '{"value":[{"name":"personal-access-token","value":"test_personal_access_token"}]}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview,
        2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview,
        2025-01-01, 2025-02-02-preview, 2025-07-01, 2025-10-02-preview, 2026-01-01,
        2026-03-02-preview, 2026-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "brazilsouth", "properties": {"configuration": {"secrets":
      [{"name": "personal-access-token", "value": "test_personal_access_token"}],
      "triggerType": "Event", "replicaTimeout": 200, "replicaRetryLimit": 2, "eventTriggerConfig":
      {"replicaCompletionCount": 2, "parallelism": 2, "scale": {"minExecutions": 5,
      "maxExecutions": 95, "rules": [{"name": "github-runner-testv2", "type": "github-runner",
      "metadata": {"github-runner": "https://api.github.com", "owner": "test_org_1",
      "runnerScope": "repo", "repos": "test_repo_1", "targetWorkflowQueueLength":
      "1"}, "auth": [{"secretRef": "personal-access-token", "triggerParameter": "personalAccessToken"}]}]}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002?api-version=2025-10-02-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview,
        2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview,
        2025-01-01, 2025-02-02-preview, 2025-07-01, 2025-10-02-preview, 2026-01-01,
        2026-03-02-preview, 2026-07-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/brazilsouth/containerappsjobOperationResults/45f2329f-ac7b-428e-85f8-c6efd855caa8?api-version=2025-10-02-preview&t=639234223852768706&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oXDTI3MDIwNzAwMDI1N1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/brazilsouth/containerappsjobOperationResults/45f2329f-ac7b-428e-85f8-c6efd855caa8?api-version=2025-10-02-preview&t=639234223852768706&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oXDTI3MDIwNzAwMDI1N1owQDE-MD[...]
[...]
