interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_containerapp_preview000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001","name":"cli_test_containerapp_preview000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2022-09-15T21:57:27Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"sku": {"name": "PerGB2018"}, "retentionInDays":
      30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_containerapp_preview000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"bea0bdbf-b1f2-487d-a1a2-cf47de9c09ac\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Thu, 15 Sep 2022 21:57:31 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Fri, 16 Sep 2022 08:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Thu, 15 Sep 2022 21:57:31 GMT\",\r\n
        \   \"modifiedDate\": \"Thu, 15 Sep 2022 21:57:31 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_containerapp_preview000001/providers/microsoft.operationalinsights/workspaces/containerapp-env000003\",\r\n
        \ \"name\": \"containerapp-env000003\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_containerapp_preview000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primarySharedKey\": \"ui5mbDQhAEIBFlYz0ct/FV0h2ku3E0bk+QFbTMm8gPiB/Uu+JoKKvMa3SiYa/okIRSG8L5B7U7Xd26WG4sABrw==\",\r\n
        \ \"secondarySharedKey\": \"J5a6+DpDOufZo84iAm96wFbGCVZQ1qiJtHeRgwUBjxOY8xrA0x22pZbjZ4gFG5u1ML7dyXcd6UPRl3XSA/+lZQ==\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","West US 3","France Central","South Africa North","Norway
        East"],"apiVersions":["2022-06-01-preview","2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","West US 3","France Central","South [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/managedEnvironments?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_previewm5lsjkwfnus52uyknj2pbepn7infj3ed3z3m2zwjtp7njh/providers/Microsoft.App/managedEnvironments/containerapp-composeu7qr","name":"containerapp-composeu7qr","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"pauyu@microsoft.com","createdByType":"User","createdAt":"2022-09-15T21:56:15.4600852","lastModifiedBy":"pauyu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-15T21:56:15.4600852"},"properties":{"provisioningState":"Succeeded","defaultDomain":"greendune-eeb289d8.northcentralusstage.azurecontainerapps.io","staticIp":"20.9.56.15","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"cf5bf551-3ff9-4120-bd32-b02ba945558a"}},"zoneRedundant":false,"useKubenet":true,"customDomainConfiguration":{"customDomainVerificationId":"3541DF31F9834255A0C893DCDAB532654EC9CC2E77E485C72599D96A248FD8F3","expirationDateUtc":"0001-01-01T00:00:00"}},"sku":{"name":"Consumption"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nodejs-e5aa/providers/Microsoft.App/managedEnvironments/nodejs-MD5","name":"nodejs-MD5","type":"Microsoft.App/managedEnvironments","location":"eastus","systemData":{"createdBy":"pauyu@microsoft.com","createdByType":"User","createdAt":"2022-08-23T04:30:08.3728231","lastModifiedBy":"pauyu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-23T04:30:08.372[...]
[...]
- request:
    body: '{"location": "northcentralusstage", "tags": null, "sku": {"name": "Consumption"},
      "properties": {"daprAIInstrumentationKey": null, "vnetConfiguration": null,
      "internalLoadBalancerEnabled": null, "appLogsConfiguration": {"destination":
      "log-analytics", "logAnalyticsConfiguration": {"customerId": "bea0bdbf-b1f2-487d-a1a2-cf47de9c09ac",
      "sharedKey": "ui5mbDQhAEIBFlYz0ct/FV0h2ku3E0bk+QFbTMm8gPiB/Uu+JoKKvMa3SiYa/okIRSG8L5B7U7Xd26WG4sABrw=="}},
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/managedEnvironments/containerapp-compose000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscription[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/managedEnvironments/containerapp-compose000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/managedEnvironments/containerapp-compose000002","name":"containerapp-compose000002","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"pauyu@microsoft.com","createdByType":"User","createdAt":"2022-09-15T21:58:04.1697785","lastModifiedBy":"pauyu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-15T21:58:04.1697785"},"properties":{"provisioningState":"Waiting","defaultDomain":"icypebble-8ba84882.northcentralusstage.azurecontainerapps.io","staticIp":"40.122.191.194","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"bea0bdbf-b1f2-487d-a1a2-cf47de9c09ac"}},"zoneRedundant":false,"useKubenet":true,"customDomainConfiguration":{"customDomainVerificationId":"3541DF31F9834255A0C893DCDAB532654EC9CC2E77E485C72599D96A248FD8F3","expirationDateUtc":"0001-01-01T00:00:00"}},"sku":{"name":"Consumption"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northcentralusstage", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/managedEnvironments/containerapp-compose000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null}, "template": {"revisionSuffix": null,
      "containers": [{"image": "mcr.microsoft.com/azuredocs/aks-helloworld:v1", "name":
      "foo", "command": null, "args": null, "env": [{"name": "RACK_ENV", "value":
      "development"}, {"name": "SHOW", "value": "true"}, {"name": "BAZ", "value":
      "\"snafu\""}], "resources": null, "volumeMounts": null}], "scale": null, "volumes":
      null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/containerApps/foo?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/containerapps/foo","name":"foo","type":"Microsoft.App/containerApps","location":"North
        Central US (Stage)","systemData":{"createdBy":"pauyu@microsoft.com","createdByType":"User","createdAt":"2022-09-15T21:59:25.3776935Z","lastModifiedBy":"pauyu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-15T21:59:25.3776935Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/managedEnvironments/containerapp-compose000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/providers/Microsoft.App/managedEnvironments/containerapp-compose000002","outboundIpAddresses":["52.158.165.228"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"3541DF31F9834255A0C893DCDAB532654EC9CC2E77E485C72599D96A248FD8F3","configuration":{"activeRevisionsMode":"Single"},"template":{"revisionSuffix":"","containers":[{"image":"mcr.microsoft.com/azuredocs/aks-helloworld:v1","name":"foo","env":[{"name":"RACK_ENV","value":"development"},{"name":"SHOW","value":"true"},{"name":"BAZ","value":"\"snafu\""}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":""}}],"scale":{"maxReplicas":10}},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_containerapp_preview000001/containerApps/foo/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/11650f14-22fd-4e0f-9f27-952786011505?api-version=2022-06-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 201
      message: Created
[...]
