interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","name":"env-northcentralusstage","type":"Microsoft.App/managedEnvironments","location":"North
        Central US (Stage)","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-20T08:08:11.0019945","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-20T08:08:11.0019945"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"salmonpond-ed867706.northcentralusstage.azurecontainerapps.io","staticIp":"20.221.43.228","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/managedEnvironments/env-northcentralusstage/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:00:25.8758679+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:00:25.8758679+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2024-01-12T08:00:25.8758679Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-01-12T08:00:37.6043061+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-01-12T08:00:37.6043436+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-a3e09ca5-b120-11ee-bbff-c85acf032b42?api-version=2022-02-01-preview&t=638406432387824261&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-a3e09ca5-b120-11ee-bbff-c85acf032b42?api-version=2022-02-01-preview&t=638406432387824261&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"8hI8kssvDwF3jalvEgmctcEzfWZOUYAATwAATw+ct8+ACRCI0rMp"},{"name":"password2","value":"lPhjHSHg46YzEZNsa2yy2VR2Ua82bLIjdwdkrSMZly+ACRA6snlX"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"8hI8kssvDwF3jalvEgmctcEzfWZOUYAATwAATw+ct8+ACRCI0rMp"},{"name":"password2","value":"lPhjHSHg46YzEZNsa2yy2VR2Ua82bLIjdwdkrSMZly+ACRA6snlX"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_northcentralusstage?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/source/202401120000/e6cf693e-5d75-4982-9592-cbde2bcfa13e.tar.gz?sv=2021-12-02&se=2024-01-12T09%3A00%3A58Z&sr=b&sp=cw&sig=3%2Bhak8YkuYRtwYDUxy75HiadR59cn9uQDYTDBByiqA4%3D","relativePath":"source/202401120000/e6cf693e-5d75-4982-9592-cbde2bcfa13e.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICLnxoGUC/2J1aWxkX2FyY2hpdmVfNGE5ZWY1MjMwMTcwNGEwN2EzMWRhYWE1NjViNmQzZWYu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfkzPjI4RCElGBhyUcGgl2Y7XcZyemZLU0NM97u6RkHmO
      8zbr3bfHSzYbJy/7HMdJbGwwFrbB3GCMb3MfEgIkEEhCGHQhkEAccu1XVd1zS4ADY9bUZ39Mq7vq
      +766vqO6ukrySJ5ZFfLSeVgOYWPSHQEvh/F+vd68/Pg1ve/z5vpyJ6Glk7IAUdOSDWA/6d6E3Oko
      bClhXOIr9Pp8+TMKffnSDF9hrs87ffIkAd948GSBBx3UhYWF449/uPblF+T5cgv93tw8uO/3FsL4
      LxDj/46DJPS/0P9C/9+zIEciJrYsRas1pTm4Hqt6[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["runtime7.0:cli-containerapp-20240112160057499731"], "isPushEnabled": true,
      "noCache": false, "dockerFilePath": "d087f1f5a1ed4f69bd805a1bfd3d0de6_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202401120000/e6cf693e-5d75-4982-9592-cbde2bcfa13e.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-01-12T08:01:01+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:01:00.6907788+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:01:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC13449E8DB78E"'
      last-modified:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:01:04 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D
  response:
    body:
      string: "2024/01/12 08:01:01 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC13449E8DB78E"'
      last-modified:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:01:10 GMT
      x-ms-range:
      - bytes=102-4197
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D
  response:
    body:
      string: "2024/01/12 08:01:07 Using acb_vol_a3fbbb97-03bd-471f-bbb7-cee1613b1784
        as the home volume\n2024/01/12 08:01:07 Setting up Docker configuration...\n2024/01/12
        08:01:08 Successfully set up Docker configuration\n2024/01/12 08:01:08 Logging
        in to registry: containerapp000003.azurecr.io\n2024/01/12 08:01:08 Successfully
        logged into containerapp000003.azurecr.io\n2024/01/12 08:01:08 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/01/12
        08:01:08 Scanning for dependencies...\n2024/01/12 08:01:09 Successfully scanned
        dependencies\n2024/01/12 08:01:09 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 102-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC1344A32B3330"'
      last-modified:
      - Fri, 12 Jan 2024 08:01:09 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:01:14 GMT
      x-ms-range:
      - bytes=782-4877
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D
  response:
    body:
      string: "Step 1/17 : FROM mcr.microsoft.com/dotnet/aspnet:6.0 AS base\n6.0:
        Pulling from dotnet/aspnet\n0e0969fcaa82: Pulling fs layer\n891de5260c7d:
        Pulling fs layer\na8a9fc6aad69: Pulling fs layer\na19e29ff3dd7: Pulling fs
        layer\n435d6b2a3aba: Pulling fs layer\na19e29ff3dd7: Waiting\n435d6b2a3aba:
        Waiting\n891de5260c7d: Verifying Checksum\n891de5260c7d: Download complete\na8a9fc6aad69:
        Verifying Checksum\na8a9fc6aad69: Download complete\na19e29ff3dd7: Verifying
        Checksum\na19e29ff3dd7: Download complete\n0e0969fcaa82: Verifying Checksum\n0e0969fcaa82:
        Download complete\n435d6b2a3aba: Verifying Checksum\n435d6b2a3aba: Download
        complete\n0e0969fcaa82: Pull complete\r\n891de5260c7d: Pull complete\na8a9fc6aad69:
        Pull complete\na19e29ff3dd7: Pull complete\n435d6b2a3aba: Pull complete\nDigest:
        sha256:883d6dcb6faf02aa7b0d42325594b84d230189bc48c5fc838ec5d12dbd8642f5\nStatus:
        Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n ---> 592b3ef465ab\nStep
        2/17 : WORKDIR /app\n ---> Running in b3be3764847d\nRemoving intermediate
        container b3be3764847d\n ---> fe926b77800f\nStep 3/17 : EXPOSE 80\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 782-1851/1852
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC1344A5CDE094"'
      last-modified:
      - Fri, 12 Jan 2024 08:01:14 GMT
      x-ms-blob-committed-block-count:
      - '5'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:01:53 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC1344BD6DF846"'
      last-modified:
      - Fri, 12 Jan 2024 08:01:53 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 12 Jan 2024 08:01:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:01:53 GMT
      x-ms-range:
      - bytes=5559-9654
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A11%3A02Z&sr=b&sp=r&sig=TPdzlxhNh6E%2F96c%2BvBB0JhRkUN1ajYBcZ8jt4aVnS68%3D
  response:
    body:
      string: "bad3cd6a751a: Pushed\ne1325a2db1db: Pushed\r\ncli-containerapp-20240112160057499731:
        digest: sha256:f9489726abf025f2d07dc2794fad795fce90e0764633c97f394a5cc66741fb35
        size: 1786\n2024/01/12 08:01:52 Successfully pushed image: containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20240112160057499731\n2024/01/12
        08:01:52 Step ID: build marked as successful (elapsed time in seconds: 29.297612)\n2024/01/12
        08:01:52 Populating digests for step ID: build...\n2024/01/12 08:01:53 Successfully
        populated digests for step ID: build\n2024/01/12 08:01:53 Step ID: push marked
        as successful (elapsed time in seconds: 13.930918)\n2024/01/12[...]
[...]
- request:
    body: '{"location": "North Central US (Stage)", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "8hI8kssvDwF3jalvEgmctcEzfWZOUYAATwAATw+ct8+ACRCI0rMp"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000003.azurecr.io",
      "username": "containerapp000003", "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20240112160057499731",
      "name": "containerapp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"North
        Central US (Stage)","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:01:55.6647098Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:01:55.6647098Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","workloadProfileName":"Consumption","outboundIpAddresses":["20.9.115.172","20.9.116.165","20.9.116.161","20.9.116.46","20.221.106.163","20.221.107.3","20.221.106.208","20.221.106.152"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"containerapp000003azurecrio-containerapp000003"}],"activeRevisionsMode":"Single","ingress":null,"registries":[{"server":"containerapp000003.azurecr.io","username":"containerapp000003","passwordSecretRef":"containerapp000003azurecrio-containerapp000003","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20240112160057499731","name":"containerapp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/01e06e07-5173-486a-92dd-68f8b6d18e86?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638406433172740503&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEg[...]
[...]
- request:
    body: !!binary |
      H4sICA7yoGUC/2J1aWxkX2FyY2hpdmVfY2E0NmJiNmM3MjViNDRjOGIyMjcxZmVlZjE4OWY4NDIu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfkzPjKSRQEgyMuCghEMryXa8juP0zJSkhp7ucXePhMxz
      nLdZ7749XrLZOHnZ5zhOYmODsbAN5gZjfJv7kBAggUASwqALgQTikGu/quqeWwIcGLOmPvtjWt1V
      3/fV9R3V1VWSR/LMqpCXzsNyCBuT7gh4OYz36/Xm5cev6X2fN9eXOwktnZQFiJqWbAD7Sfcm5E5H
      YUsJ4xJfodfny59R6MuXZvgKc33e6ZMnCfjGgycLPOigLiwsHH/8w7Uv35/nyy0s8Obmwf0CbyGM
      f78Y/3ccJKH/hf4X+v+eBTkSMbFlKVqtKc3B9VjV[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 12 Jan 2024 08:02:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged45.blob.core.windows.net/ec81925c0ae1403fb6c8a2c80c064a4b-qzh0p1nuus/logs/ca2/rawtext.log?sv=2021-12-02&se=2024-01-12T09%3A12%3A26Z&sr=b&sp=r&sig=ujPjicZKFai6v23TAjCWi9U1kLRCSvIyEHjaqQPfW7A%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC1344D15A8939"'
      last-modified:
      - Fri, 12 Jan 2024 08:02:27 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 12 Jan 2024 08:02:26 GMT
[...]
