interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"kaiqianyang@microsoft.com","createdByType":"User","createdAt":"2024-01-10T07:25:06.4812621","lastModifiedBy":"kaiqianyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-10T07:25:06.4812621"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"wittystone-bf47f074.eastus.azurecontainerapps.io","staticIp":"20.102.34.239","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0674969772E03EB0DD7BBCAE645CC3BE5D0663C94605C1ED83DBE7FAF0E5C9E4","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "EastUs", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"kaiqianyang@microsoft.com","createdByType":"User","createdAt":"2024-01-30T09:56:13.2257592+00:00","lastModifiedBy":"kaiqianyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T09:56:13.2257592+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2024-01-30T09:56:13.2257592Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-01-30T09:56:20.2250147+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-01-30T09:56:20.2250522+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-cc647863-bf55-11ee-8501-b07b25242c05?api-version=2022-02-01-preview&t=638422053806794193&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-cc647863-bf55-11ee-8501-b07b25242c05?api-version=2022-02-01-preview&t=638422053806794193&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"1q4ZMAEaNMlrwtP5b9i3jYla8Eua3diu4BmteO7hmn+ACRAFMO9F"},{"name":"password2","value":"TEN4tOr7gaPpYzFZ2OWugkT3EL4oAx0kLk95j19Gcl+ACRCwUdTA"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Conductor/providers/Microsoft.ContainerRegistry/registries/conductordemoacr","name":"conductordemoacr","type":"Microsoft[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"1q4ZMAEaNMlrwtP5b9i3jYla8Eua3diu4BmteO7hmn+ACRAFMO9F"},{"name":"password2","value":"TEN4tOr7gaPpYzFZ2OWugkT3EL4oAx0kLk95j19Gcl+ACRCwUdTA"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/source/202401300000/c3270f2c-2a85-48c4-bbea-47b344d78109.tar.gz?sv=2023-01-03&se=2024-01-30T10%3A56%3A42Z&sr=b&sp=cw&sig=nSv1n44TPXEF55s9kVUx9IwpHAaMyEGCXFBjH9p2ea0%3D","relativePath":"source/202401300000/c3270f2c-2a85-48c4-bbea-47b344d78109.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICNjHuGUC/2J1aWxkX2FyY2hpdmVfMDhmNmIzMDgzZjBiNDBhMTkyZmU2MDUwZDMzYzI1Mjgu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp0QgJSUYGHJRwaJFsx+s4Ts9MSWro6R5390jIPMd5
      m/Xu2+Mlm42Tl32J4yQ2NhiDbTA3GOPb3IeEAAkEkhAGXQgkEIdc+1VV99wS4MDARlX2x7Sqq77v
      q+s7qutwuV3umZXS0rlYCmN90l0JHh7G+vV48v2JZxrv9fi8vklo6aQchJhhSjqQnzQxg286iphy
      BJd6Cz353vwi//SAy1dU5Cvy+yZPEuGvPrhzQIMO6sLCwrHHPzx7/QV+T2GB35cfgPiA1+OdhArE
      +L/rwSXkv5D/Qv5P2CBFowY2TVmtNVyzcT1WtGgE[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["runtime7.0:cli-containerapp-20240130175640286405"], "isPushEnabled": true,
      "noCache": false, "dockerFilePath": "0af92aac689c48a9b09ecad9868ece37_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202401300000/c3270f2c-2a85-48c4-bbea-47b344d78109.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-01-30T09:56:44+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"kaiqianyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T09:56:44.4235672+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A06%3A46Z&sr=b&sp=r&sig=Mm8D8VBYKcLY9qTfkO7JDHRfSI%2BmXvQALPBOR886vjU%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 09:56:46 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A06%3A46Z&sr=b&sp=r&sig=Mm8D8VBYKcLY9qTfkO7JDHRfSI%2BmXvQALPBOR886vjU%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC2179C509B98C"'
      last-modified:
      - Tue, 30 Jan 2024 09:56:46 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Tue, 30 Jan 2024 09:56:45 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 09:56:48 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A06%3A46Z&sr=b&sp=r&sig=Mm8D8VBYKcLY9qTfkO7JDHRfSI%2BmXvQALPBOR886vjU%3D
  response:
    body:
      string: "2024/01/30 09:56:45 Downloading source code...\r\n2024/01/30 09:56:46
        Finished downloading source code\r\n2024/01/30 09:56:46 Using acb_vol_a0634fa9-de9b-481a-8880-21f0478b5cc5
        as the home volume\n2024/01/30 09:56:46 Setting up Docker configuration...\n2024/01/30
        09:56:46 Successfully set up Docker configuration\n2024/01/30 09:56:46 Logging
        in to registry: containerapp000003.azurecr.io\n2024/01/30 09:56:47 Successfully
        logged into containerapp000003.azurecr.io\n2024/01/30 09:56:47 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/01/30
        09:56:47 Scanning for dependencies...\n2024/01/30 09:56:47 Successfully scanned
        dependencies\n2024/01/30 09:56:47 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC2179C63E1499"'
      last-modified:
      - Tue, 30 Jan 2024 09:56:48 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Tue, 30 Jan 2024 09:56:45 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 09:57:24 GMT
      x-ms-range:
      - bytes=4937-9032
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A06%3A46Z&sr=b&sp=r&sig=Mm8D8VBYKcLY9qTfkO7JDHRfSI%2BmXvQALPBOR886vjU%3D
  response:
    body:
      string: "cli-containerapp-20240130175640286405: digest: sha256:e54cc48f0e363d38a2bd773343c967aa069ed1a08322b2f33069871c4f370e57
        size: 1786\n2024/01/30 09:57:23 Successfully pushed image: containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20240130175640286405\n2024/01/30
        09:57:23 Step ID: build marked as successful (elapsed time in seconds: 26.809824)\n2024/01/30
        09:57:23 Populating digests for step ID: build...\n2024/01/30 09:57:24 Successfully
        populated digests for step ID: build\n2024/01/30 09:57:24 Step ID: push marked
        as successful (elapsed time in seconds: 9.236527)\n2024/01/30 [...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 09:57:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A06%3A46Z&sr=b&sp=r&sig=Mm8D8VBYKcLY9qTfkO7JDHRfSI%2BmXvQALPBOR886vjU%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC2179DC39A60A"'
      last-modified:
      - Tue, 30 Jan 2024 09:57:24 GMT
      x-ms-blob-committed-block-count:
      - '17'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Tue, 30 Jan 2024 09:56:45 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "1q4ZMAEaNMlrwtP5b9i3jYla8Eua3diu4BmteO7hmn+ACRAFMO9F"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000003.azurecr.io",
      "username": "containerapp000003", "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20240130175640286405",
      "name": "containerapp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"kaiqianyang@microsoft.com","createdByType":"User","createdAt":"2024-01-30T09:57:27.3486606Z","lastModifiedBy":"kaiqianyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T09:57:27.3486606Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":"Consumption","outboundIpAddresses":["20.124.73.117","4.156.169.214","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"0674969772E03EB0DD7BBCAE645CC3BE5D0663C94605C1ED83DBE7FAF0E5C9E4","configuration":{"secrets":[{"name":"containerapp000003azurecrio-containerapp000003"}],"activeRevisionsMode":"Single","ingress":null,"registries":[{"server":"containerapp000003.azurecr.io","username":"containerapp000003","passwordSecretRef":"containerapp000003azurecrio-containerapp000003","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000003.azurecr.io/runtime7.0:cli-containerapp-20240130175640286405","name":"containerapp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/f3db7da2-25bb-48d9-b670-3d972e5a7263?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422054493017533&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: !!binary |
      H4sICB/IuGUC/2J1aWxkX2FyY2hpdmVfZThmNjIxZTFjYzFhNDE0ZjhmNzc1ODM4NjczNjM5MjEu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp0QgJSUYGHJRwaJFsx+s4Ts9MSWro6R5390jIPMd5
      m/Xu2+Mlm42Tl32J4yQ2NhiDbTA3GOPb3IeEAAkEkhAGXQgkEIdc+1VV99wS4MDARlX2x7Sqq77v
      q+s7qutwuV3umZXS0rlYCmN90l0JHh7G+vV48v2JZxrv9fi8vklo6aQchJhhSjqQnzQxg286iphy
      BJd6Cz353vwi//SAy1dU5Cvy+yZPEuGvPrhzQIMO6sLCwrHHPzx7/QV+T2GB35cfgPiA1+OdhArE
      +L/rwSXkv5D/Qv5P2CBFowY2TVmtNVyzcT1WtGgE[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 09:57:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca2/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A07%3A55Z&sr=b&sp=r&sig=Kp0cqWbHzFSHmSh7Jv%2Br%2BjNKJ9C9c0N4dVmFSy%2Ffu94%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC2179EEA56B05"'
      last-modified:
      - Tue, 30 Jan 2024 09:57:55 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Tue, 30 Jan 2024 09:57:55 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/22fff384-eb21-43a6-9c67-90878903de0c?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422055156486706&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/manag[...]
[...]
- request:
    body: !!binary |
      H4sICGbIuGUC/2J1aWxkX2FyY2hpdmVfY2FjNDJmNGMzNDUxNDE4OWEyNDhkMTA5ZmYyNTFhMDYu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp0ehAkpEBByUcWkm243Ucp2emJDX0dI+7eyRknuO8
      zXr37fGSzcbJy77EcRIbG4zBNpgbjPFt7kNCgAQCSQiDLgQSiEOu/aqqew7NSIADAxtV2R/Tqq76
      vq+u76iuw+V2uWdVSEvnYSmM9Sl3JXh4GO/X48n1J55pvNfj8/qmoKVTshBihinpQH7K5Ay+AhQx
      5Qgu8eZ7cr25hf6CgMtXWOgr9PumThHhrz64s0CDDur8/Pzxxz88e/15fk9+nt+XG4D4gNfjnYLy
      xPi/68El5L+Q/0L+T9ogRaMGNk1ZrTVcc3A9VrRo[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 09:59:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged145.blob.core.windows.net/fb31af20b1c04306bb55d38995b7c6bd-4x2ht7crde/logs/ca3/rawtext.log?sv=2023-01-03&se=2024-01-30T11%3A09%3A07Z&sr=b&sp=r&sig=tPtDGlAdzvnfv9w%2BjS1TJxCJkIIRxz3IImStTLeAYfg%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC217A194066B1"'
      last-modified:
      - Tue, 30 Jan 2024 09:59:07 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Tue, 30 Jan 2024 09:59:06 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/78898ba9-7265-48d6-b821-ce37ff1dc91f?api-version=2023-11-02-preview&t=638422055856165313&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
