interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"spaces","locations":["Central
        US","East Asia","West Europe","East US 2 EUAP"],"apiVersions":["2023-11-02-preview"],"defaultApiVersion":"2023-11-02-preview","capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["East Asia","North
        Central US","West Europe"],"apiVersions":["2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-08-02-preview","capabilities":"None"},{"resourceType":"managedEnvironments","location[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-17T09:45:13.5879018"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-11-01T08:15:09.5777445+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-01T08:15:09.5777445+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2024-11-01T08:15:09.5777445Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-11-01T08:15:17.0682718+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-11-01T08:15:17.0683185+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-675603af-9829-11ef-b510-2c0da7bd12b1?api-version=2023-11-01-preview&t=638660457175309181&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwODA3MTYzMDI3WhcNMjUwODAyMTYzMDI3WjCBjD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-675603af-9829-11ef-b510-2c0da7bd12b1?api-version=2023-11-01-preview&t=638660457175309181&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2023-11-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"abc123"},{"name":"password2","value":"abc123"}]}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/ca5617138654acr","name":"ca5617138654acr","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2023-07-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBpamlvb2hpNWx0NG46Y2xpLWNvbnRhaW5lcmFwcC0yMDI0MTEwMTE2MTU0NDcyNzEzMSAtZiBEb2NrZXJmaWxlIC4KICAgIHRpbWVvdXQ6IDI4ODAwCiAgLSBwdXNoOiBbIiRSZWdpc3RyeS9jb250YWluZXJhcHBpamlvb2hpNWx0NG46Y2xpLWNvbnRhaW5lcmFwcC0yMDI0MTEwMTE2MTU0NDcyNzEzMSJdCiAgICB0aW1lb3V0OiAxODAwCg==",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2024-[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/source/202411010000/587b9d1d-6b1b-4e0d-a130-0d8328636d0f.tar.gz?sv=2023-01-03&se=2024-11-01T09%3A16%3A06Z&sr=b&sp=cw&sig=***","relativePath":"source/202411010000/587b9d1d-6b1b-4e0d-a130-0d8328636d0f.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICEaOJGcC/2NsaV9zb3VyY2VfYXJjaGl2ZV83YzRjNDUwMWViYzc0Y2VmODE3YTdhMDE0ZWVl
      MmEzOS50YXIA7V1tc9u4EfZnz+Q/ILreUM5JFN8k2ort6zXxJTeT5jxJOp1Op3NDk5CEmCJYAJTt
      5tLf3gVASZROcV7mJF/qffLB1AJYvO4udkkgbs/t/fk8uX5Ok4yKva3As/jQX88Lo+Wzpvte4Ad7
      5HpvB6ikSgRUv3c/ERySqWJTeuIPjo76R57nh64/CMIjL97fQ/zfo7eDOrRQx3H8YfmHZz/qB2EY
      xP24D/SB70V7pI/yv3W4qP9R/6/r//4RzECA+v8eIClL963cvv4fDAYfkv/AD8M1/R/7Eci/h/K/
      dcwSQVJBE0XPhOCCnBBB/10xQdvORKmySzVVOgeP[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2024-11-01T08:15:51.41[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202411010000/587b9d1d-6b1b-4e0d-a130-0d8328636d0f.tar.gz",
      "file": "C:\\Users\\XINYUP~1.RED\\AppData\\Local\\Temp\\tmp28g6a7wn", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-11-01T08:16:12+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-01T08:16:11.763868+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:16:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA4D74B7B5D9"'
      last-modified:
      - Fri, 01 Nov 2024 08:16:15 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 08:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:16:18 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "2024/11/01 08:16:12 Downloading source code...\r\n2024/11/01 08:16:13\
        \ Finished downloading source code\r\n2024/11/01 08:16:13 Alias support enabled\
        \ for version >= 1.1.0, plea[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:16:21 GMT
      x-ms-range:
      - bytes=1643-5738
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "69285aafba30: Verifying Checksum\n69285aafba30: Download complete\n\
        940e5351b949: Verifying Checksum\n940e5351b949: Download complete\n5ec5a733efd1:\
        \ Verifying Checksum\n5ec5a733efd1: Download complete\nb2404786f3fe: Pull\
        \ complete\ne97ef50ee5a8: Pull complete\r\ndfb1477a1a0e: Pull complete\n69fefe447a70:\
        \ Pull complete\n75c028bd406f: Pull complete\n69285aafba30: Pull complete\n\
        5ec5a733efd1: Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1643-2035/2036
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA4D779998B5"'
      last-modified:
      - Fri, 01 Nov 2024 08:16:20 GMT
      x-ms-blob-committed-block-count:
      - '5'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 08:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:16:25 GMT
      x-ms-range:
      - bytes=2036-6131
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\n\
        Status: Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\n\
        Dockerfile written to '/workspace/Dockerfile'.\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2036-2278/2279
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA4D78D4611D"'
      last-modified:
      - Fri, 01 Nov 2024 08:16:22 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 08:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:16:49 GMT
      x-ms-range:
      - bytes=27833-31928
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "l make\n  libtap-harness-archive-perl\nRecommended packages:\n  patch\
        \ less ssh-client\nThe following NEW packages will be installed:\n  git git-man\
        \ libcurl3-gnutls liberror-perl libgdbm-compat4 libgdbm6\n  libperl5.32 perl\
        \ perl-modules-5.32\n0 upgraded, 9 newly installed, 0 to remove and 0 not\
        \ upgraded.\nNeed to get 15.1 MB of archives.\nAfter this operation, 86.2\
        \ MB of additional disk space will be used.\nGet:1 http://deb.debian.org/debian-security\
        \ bullseye-security/main amd64 perl-modules-5.32 all 5.32.1-4+deb11u4 [2824\
        \ kB]\nGet:2 http://deb.debian.org/debian bullseye/main amd64 libgdbm6 amd64\
        \ 1.19-2 [64.9 kB]\nGet:3 http://deb.debian.org/debian bullseye/main amd64\
        \ libgdbm-compat4 amd64 1.19-2 [44.7 kB]\nGet:4 http://deb.debian.org/debian-security\
        \ bullseye-security/main amd64 libperl5.32 amd64 5.32.1-4+deb11u4 [4132 kB]\n\
        Get:5 http://deb.debian.org/debian-security bullseye-security/main amd64 perl\
        \ amd64 5.32.1-4+deb11u4 [293 kB]\nGet:6 http://deb.debian.org/debian bullseye/main\
        \ amd64 libcurl3-gnutls amd64 7.74.0-1.3+deb11u13 [344 kB]\nGet:7 http://deb.debian.org/debian\
        \ bullseye/main amd64 liberror-perl all 0.17029-1 [31.0 kB]\nGet:8 http://deb.debian.org/debian-security\
        \ bullseye-security/main amd64 git-man all 1:2.30.2-1+deb11u3 [1831 kB]\n\
        Get:9 http://deb.d[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:17:07 GMT
      x-ms-range:
      - bytes=77431-81526
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: 'g up libpq-dev (13.16-0+deb11u1) ...

        Setting up libgomp1:amd64 (10.2.1-6) ...

        Setting up bzip2 (1.0.8-4) ...

        Setting up libffi-dev:amd64 (3.3-6) ...

        Setting up libpthread-stubs0-dev:amd64 (0.4-1) ...

        Setting up libsource-highlight-common (3.1.9-3) ...

        Setting up libasan6:amd64 (10.2.1-6) ...

        Setting up xtrans-dev (1.4.0-1) ...

        Setting up autotools-dev (20180224.1+nmu1) ...

        Setting up libexpat1-dev:amd64 (2.2.10-2+deb11u6) ...

        Setting up libsqlite3-dev:amd64 (3.34.1-3+deb11u1) ...

        Setting up make (4.3-4.1) ...

        Setting up libmpfr6:amd64 (4.1.0-3) ...

        Setting up uuid-dev:amd64 (2.36.1-8+deb11u2) ...

        Setting up libncurses6:amd64 (6.2+20201114-2+deb11u2) ...

        Setting up libsigsegv2:amd64 (2.13-1) ...

        Setting up xz-utils (5.2.5-2.1~deb11u1) ...

        update-alternatives: using /usr/bin/xz to provide /usr/bin/lzma (lzma) in
        auto mode

        Setting up libboost-regex1.74.0:amd64 (1.74.0-9) ...

        Setting up libquadmath0:amd64 (10.2.1-6) ...

        Setting up libmpc3:amd64 (1.2.0-1) ...

        Setting up libatomic1:amd64 (10.2.1-6) ...

        Setting up patch (2.7.6-7) ...

        Setting up libtcl8.6:amd64 (8.6.11+dfsg-1) ...

        Setting up libipt2 (2.0.3-1) ...

        Setting up lzma (9.22-2.2) ...

        update[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:17:41 GMT
      x-ms-range:
      - bytes=118200-122295
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "18: Pulling from oryx/node\n646e886fa3cf: Pulling fs layer\nc5a360c5f105:\
        \ Pulling fs layer\n5cbeb8ef1d90: Pulling fs layer\n6b00021d2ab5: Pulling\
        \ fs layer\n7edfb0e75c5c: Pulling fs layer\ne0636941fc5e: Pulling fs layer\n\
        2f5c8cf038e3: Pulling fs layer\n103efbaa3c63: Pulling fs layer\ne9a86d503de3:\
        \ Pulling fs layer\nd051df7fde4f: Pulling fs layer\n77d83e55e9dc: Pulling\
        \ fs layer\na7e4bb114f64: Pulling fs layer\n4f4fb700ef54: Pulling fs layer\n\
        fc34a36546dc: Pulling fs layer\n7ecd5428edf5: Pulling fs layer\n72c7c970c7c6:\
        \ Pulling fs layer\n8a88585a8b91: Pulling fs layer\ndaf4713a6d28: Pulling\
        \ fs layer\n4784a365589d: Pulling fs layer\n3cd64a0469d0: Pulling fs layer\n\
        6b00021d2ab5: Waiting\n7edfb0e75c5c: Waiting\ne0636941fc5e: Waiting\n2f5c8cf038e3:\
        \ Waiting\n103efbaa3c63: Waiting\ne9a86d503de3: Waiting\nd051df7fde4f: Waiting\n\
        77d83e55e9dc: Waiting\na7e4bb114f64: Waiting\n4f4fb700ef54: Waiting\nfc34a36546dc:\
        \ Waiting\n7ecd5428edf5: Waiting\n72c7c970c7c6: Waiting\n8a88585a8b91: Waiting\n\
        daf4713a6d28: Waiting\n4784a365589d: Waiting\n3cd64a0469d0: Waiting\nc5a360c5f105:\
        \ Verifying Checksum\nc5a360c5f105: Download complete\n6b00021d2ab5: Verifying\
        \ Checksum\n6b00021d2ab5: Download complete\n646e886fa3cf: Verifying Checksum\n\
        646e886fa3cf: Download complete\n5cbeb8ef1d90: Verifying Checksum\n5cbeb8ef1d90:\
        \ Download complete\n7edfb0e75c5c: Verifying Checksum\n7edfb0e75c5c: Download\
        \ complete\ne0636941fc5e: Verifying Checksum\ne0636941fc5e: Download complete\n\
        2f5c8cf038e3: Verifying Checksum\n2f5c8cf038e3: Download complete\n103efbaa3c63:\
        \ Verifying Checksum\n103efbaa3c63: Download complete\nd051df7fde4f: Download\
        \ complete\ne9a86d503de3: Verifying Checksum\ne9a86d503de3: Download complete\n\
        a7e4bb114f64: Verifying Checksum\na7e4bb114f64: Download complete\n77d83e55e9dc:\
        \ Verifying Checksum\n77d83e55e9dc: Download complete\n4f4fb700ef54: Verifying\
        \ Checksum\n4f4fb700ef54: Download complete\n7ecd5428edf5: Verifying Checksum\n\
        7ecd5428edf5: Download complete\n8a88585a8b91: Verifying Checksum\n8a88585a8b91:\
        \ Download complete\n72c7c970c7c6: Verifying Checksum\n72c7c970c7c6: Download\
        \ complete\n4784a365589d: Verifying Checksum\n4784a365589d: Down[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:17:44 GMT
      x-ms-range:
      - bytes=120574-124669
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "6b00021d2ab5: Pull complete\n7edfb0e75c5c: Pull complete\ne0636941fc5e:\
        \ Pull complete\n2f5c8cf038e3: Pull complete\n103efbaa3c63: Pull complete\n\
        e9a86d503de3: Pull complete\nd051df7fde4f: Pull complete\n77d83e55e9dc: Pull\
        \ complete\na7e4bb114f64: Pull complete\n4f4fb700ef54: Pull complete\nfc34a36546dc:\
        \ Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 120574-120882/120883
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA4DA8291624"'
      last-modified:
      - Fri, 01 Nov 2024 08:17:42 GMT
      x-ms-blob-committed-block-count:
      - '39'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 08:16:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 08:17:53 GMT
      x-ms-range:
      - bytes=122246-126341
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged213.blob.core.windows.net/121924471220480f9a0ea7a4f7a40148-hj7q3kxi7g/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T09%3A26%3A14Z&sr=b&sp=r&sig=***
  response:
    body:
[...]
