interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwkacned3egfnmvsyjyimy?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"da54c397-9dc5-42c8-9c5c-455649b792a4","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-30T22:50:18.0587156Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-31T20:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-30T22:50:18.0587156Z","modifiedDate":"2023-08-30T22:50:18.0587156Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwkacned3egfnmvsyjyimy","name":"workspace-clitestrgwkacned3egfnmvsyjyimy","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwkacned3egfnmvsyjyimy?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwkacned3egfnmvsyjyimy?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"da54c397-9dc5-42c8-9c5c-455649b792a4","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-30T22:50:18.0587156Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-31T20:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-30T22:50:18.0587156Z","modifiedDate":"2023-08-30T22:50:18.0587156Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwkacned3egfnmvsyjyimy","name":"workspace-clitestrgwkacned3egfnmvsyjyimy","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgwkacned3egfnmvsyjyimy/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"lppDQEpwL+yTQJe2Ii9IOaWhstXl6qR0Dn5336vbryOwA/nQfxeGj4QdMyljfHQNDiWnOKmc3fs9teJFQ2Wfmg==","secondarySharedKey":"pYtk65ioSscp6CXW3u/BrnJy2vz2BnjIVh4830ieIzRsXMqmGBdUhxgmQO0zwqViu3TtC4QQpCigSfrLZwQl5g=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "da54c397-9dc5-42c8-9c5c-455649b792a4",
      "sharedKey": "lppDQEpwL+yTQJe2Ii9IOaWhstXl6qR0Dn5336vbryOwA/nQfxeGj4QdMyljfHQNDiWnOKmc3fs9teJFQ2Wfmg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-30T22:50:19.7127116Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T22:50:19.7127116Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"victoriousforest-6b7d84c4.eastus.azurecontainerapps.io","staticIp":"20.81.106.98","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"da54c397-9dc5-42c8-9c5c-455649b792a4","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/56ec4ea1-3795-4a71-957e-fda72714b240?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-30T22%3a50%3a25&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWhcNMjQwNzI3MDY0ODMxWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/56ec4ea1-3795-4a71-957e-fda72714b240?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-30T22%3A50%3A25&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-30T22:53:16.9199014+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T22:53:16.9199014+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-08-30T22:53:16.9199014Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-30T22:53:23.5998217+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-30T22:53:23.5998974+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-023767d0-4788-11ee-bffb-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-023767d0-4788-11ee-bffb-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-023767d0-4788-11ee-bffb-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"DgAXCPHtVPCGTFcPEqxopvmSkysfByIrsi3oEm6o4x+ACRBJaQxs"},{"name":"password2","value":"MurahlvQXm7vEfAw9HO+Fg7uo4tJaVvz5iMkrLYNb/+ACRDhWzQZ"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/source/202308300000/39ddbda5-9d11-4b0e-9563-6c1aab3950c1.tar.gz?sv=2021-12-02&se=2023-08-30T23%3A53%3A28Z&sr=b&sp=cw&sig=Q0vCul4gdDohQRnCxb7snl9dd0fRnZq31SgOkjrstPs%3D","relativePath":"source/202308300000/39ddbda5-9d11-4b0e-9563-6c1aab3950c1.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICGnI72QC/2J1aWxkX2FyY2hpdmVfNDYwYzFmZDMyZGViNDcyYmE5YTM0MzgwMmRmMzFjYjYu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylYwRCkpEBByUcWkm243Ucp2emJDX0dI+7eyRknuO8
      zXr37fGSzcbJyz6v4yQ2NhgL22BuMMa3uQ8JARIIJCEMuhBIIA659quq7pmeQwIcGBNTn/0xre6q
      7/vq+o7q6iqP1+OdVSEtnYelMNYn3RHwcRjv1+fLy0tc0/t+f36BfxJaOikLEDNMSQf2t7uQfyWQ
      W4giphzBJf7A9IBvRsH0GbmewsL86YGCyZMEfPPBmwUedDwUFhaOP/7TrgtzC32TUIEY/3ccPEL/
      C/0v9P89C1I0amDTlNVawzMH12NFi0awanoWG5p6O8d/IBA[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["runtime7.0:20230830155329298010"], "isPushEnabled": true, "noCache": false,
      "dockerFilePath": "e6bc316b839a41f788fcc9520f3436c0_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202308300000/39ddbda5-9d11-4b0e-9563-6c1aab3950c1.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-30T22:53:30+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T22:53:29.750758+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-31T00%3A03%3A30Z&sr=b&sp=r&sig=GvpWDfv5pMNsBk0qXYm3gDt834PitE90EF%2BmINA1FV0%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 22:53:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-31T00%3A03%3A30Z&sr=b&sp=r&sig=GvpWDfv5pMNsBk0qXYm3gDt834PitE90EF%2BmINA1FV0%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA9ABEE84AEE3"'
      last-modified:
      - Wed, 30 Aug 2023 22:53:30 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 30 Aug 2023 22:53:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 22:53:32 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-31T00%3A03%3A30Z&sr=b&sp=r&sig=GvpWDfv5pMNsBk0qXYm3gDt834PitE90EF%2BmINA1FV0%3D
  response:
    body:
      string: "2023/08/30 22:53:30 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA9ABEE84AEE3"'
      last-modified:
      - Wed, 30 Aug 2023 22:53:30 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 30 Aug 2023 22:53:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 22:56:19 GMT
      x-ms-range:
      - bytes=1391-5486
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-31T00%3A03%3A30Z&sr=b&sp=r&sig=GvpWDfv5pMNsBk0qXYm3gDt834PitE90EF%2BmINA1FV0%3D
  response:
    body:
      string: "a65621c96b07: Verifying Checksum\na65621c96b07: Download complete\r\na65621c96b07:
        Pull complete\n5a9070a06ae0: Pull complete\nd757ae0f0e6a: Pull complete\nDigest:
        sha256:e855110445f4a1b48bb0d5b6de9f14cd2dd311b1daaf047bf0f3965cab3e4a25\nStatus:
        Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n ---> 036528001cbb\nStep
        2/17 : WORKDIR /app\n ---> Running in be1bf75c338c\nRemoving intermediate
        container be1bf75c338c\n ---> c9565a57577f\nStep 3/17 : EXPOSE 80\n ---> Running
        in ed83ea132926\nRemoving intermediate container ed83ea132926\n ---> 2a892ec0041e\nStep
        4/17 : EXPOSE 443\r\n ---> Running in c768f42b4e74\nRe[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 22:57:01 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-31T00%3A03%3A30Z&sr=b&sp=r&sig=GvpWDfv5pMNsBk0qXYm3gDt834PitE90EF%2BmINA1FV0%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA9AC6ADC86D0"'
      last-modified:
      - Wed, 30 Aug 2023 22:56:59 GMT
      x-ms-blob-committed-block-count:
      - '25'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 30 Aug 2023 22:53:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 22:57:01 GMT
      x-ms-range:
      - bytes=6472-10567
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged158.blob.core.windows.net/6fe132af0e4745f3b506edd42a45fdc5-jg6h4c2tov/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-31T00%3A03%3A30Z&sr=b&sp=r&sig=GvpWDfv5pMNsBk0qXYm3gDt834PitE90EF%2BmINA1FV0%3D
  response:
    body:
      string: "20230830155329298010: digest: sha256:1cbb5d03af1e9771197e0b6a673da0a293f043954915c5c3b30f8c78f1a54f0e
        size: 1786\n2023/08/30 22:56:58 Successfully pushed image: containerapp000004.azurecr.io/runtime7.0:20230830155329298010\n2023/08/30
        22:56:58 Step ID: build marked as successful (elapsed time in seconds: 178.280321)\n2023/08/30
        22:56:58 Populating digests for step ID: build...\n2023/08/30 22:56:59 Successfully
        populated digests for step ID: build\n2023/08/30 22:56:59 Step ID: push marked
        as successful (elapsed time in seconds: 26.889024)\n2023/08/30 22:56:59 The
      [...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "containerapp000004azurecrio-containerapp000004",
      "value": "DgAXCPHtVPCGTFcPEqxopvmSkysfByIrsi3oEm6o4x+ACRBJaQxs"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000004.azurecr.io",
      "username": "containerapp000004", "passwordSecretRef": "containerapp000004azurecrio-containerapp000004"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000004.azurecr.io/runtime7.0:20230830155329298010", "name": "containerapp000003",
      "command": null, "args": null, "env": null, "resources": null, "volumeMounts":
      null}], "initContainers": null, "scale": null, "volumes": null, "serviceBinds":
      null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-30T22:57:00.7118941Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T22:57:00.7118941Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"outboundIpAddresses":["52.226.234.26"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","configuration":{"secrets":[{"name":"containerapp000004azurecrio-containerapp000004"}],"activeRevisionsMode":"Single","ingress":null,"registries":[{"server":"containerapp000004.azurecr.io","username":"containerapp000004","passwordSecretRef":"containerapp000004azurecrio-containerapp000004","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000004.azurecr.io/runtime7.0:20230830155329298010","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/4b9ee5fd-2d8d-4f59-962c-13424b002f25?api-version=2023-05-02-preview&azureAsyncOperation=true&t=2023-08-30T22%3A57%3A02&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: POST
[...]
