interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","name":"env-northcentralusstage","type":"Microsoft.App/managedEnvironments","location":"North
        Central US (Stage)","systemData":{"createdBy":"liha@microsoft.com","createdByType":"User","createdAt":"2024-04-18T21:00:23.6665235","lastModifiedBy":"liha@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-04-18T21:00:23.6665235"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"jollyforest-9e39eae7.northcentralusstage.azurecontainerapps.io","staticIp":"172.168.76.41","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.13.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/managedEnvironments/env-northcentralusstage/eventstream","customDomainConfiguration":{"customDomainVerificationId":"C8950C52EEEF63ABC297C3986CF126285D33BBDA08B6763BB53D759C71B9B06F","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Central US (Stage)", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage",
      "configuration": {"secrets": [{"name": "connection-string-secret", "value":
      "testConnString", "keyVaultUrl": "", "identity": ""}], "triggerType": "Event",
      "replicaTimeout": 60, "replicaRetryLimit": 1, "manualTriggerConfig": null, "scheduleTriggerConfig":
      null, "eventTriggerConfig": {"replicaCompletionCount": 1, "parallelism": 1,
      "scale": {"minExecutions": 0, "maxExecutions": 10, "pollingInterval": 60, "rules":
      [{"name": "queue", "azureQueue": null, "custom": null, "http": null, "type":
      "azure-queue", "metadata": {"accountName": "containerappextension", "queueName":
      "testeventdrivenjobs", "queueLength": "1", "connectionFromEnv": "AZURE_STORAGE_CONNECTION_STRING"},
      "auth": [{"triggerParameter": "connection", "secretRef": "connection-string-secret"}]}]}},
      "registries": null, "dapr": null}, "template": {"containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest",
      "name": "job1000002", "command": null, "args": null, "env": [{"name": "AZURE_STORAGE_QUEUE_NAME",
      "value": "testeventdrivenjobs"}, {"name": "AZURE_STORAGE_CONNECTION_STRING",
      "secretRef": "connection-string-secret"}], "resources": {"cpu": 0.5, "memory":
      "1Gi"}, "volumeMounts": null}], "initContainers": null, "volumes": null}, "workloadProfileName":
      null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000002","name":"job1000002","type":"Microsoft.App/jobs","location":"North
        Central US (Stage)","sy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappsjobOperationStatuses/4fb2bf78-ee4e-4df8-9d21-46a152d8059a?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638527214978448939&c=MIIHpTCCBo2gAwIBAgITfwM-mSI9hMXYQFHBwAAEAz6ZIjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000002","name":"job1000002","type":"Microsoft.App/jobs","location":"North
        Central US [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000002","name":"job1000002","type":"Microsoft.App/jobs","location":"North
        Central US (Stage)[...]
- request:
    body: '{"properties": {"configuration": {"replicaTimeout": 300, "replicaRetryLimit":
      1, "eventTriggerConfig": {"replicaCompletionCount": 1, "parallelism": 1, "scale":
      {"minExecutions": 0, "maxExecutions": 9, "pollingInterval": 60, "rules": [{"name":
      "queue", "type": "azure-queue", "metadata": {"accountName": "containerappextension",
      "connectionFromEnv": "AZURE_STORAGE_CONNECTION_STRING", "queueLength": "1",
      "queueName": "testeventdrivenjobs"}, "auth": [{"secretRef": "connection-string-secret",
      "triggerParameter": "connection"}]}]}}}, "template": {"containers": [{"image":
      "mcr.microsoft.com/k8se/quickstart-jobs:latest", "name": "job1000002", "env":
      [{"name": "AZURE_STORAGE_QUEUE_NAME", "value": "testeventdrivenjobs"}, {"name":
      "AZURE_STORAGE_CONNECTION_STRING", "secretRef": "connection-string-secret",
      "value": ""}], "resources": {"cpu": 0.5, "memory": "1.0Gi", "ephemeralStorage":
      ""}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000002?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview,
        2023-11-02-preview, 2024-02-02-preview, 2024-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappsjobOperationResults/9713f2a8-faf4-42a2-9081-b9232a0c144c?api-version=2023-05-01&t=638527215079527142&c=MIIHpTCCBo2gAwIBAgITfwM-mSI9hMXYQFHBwAAEAz6ZIjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE3MDIwMTU2WhcNMjUwNTEyMDIwMTU2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappsjobOperationResults/9713f2a8-faf4-42a2-9081-b9232a0c144c?api-version=2024-02-02-preview&t=638527215096188207&c=MIIHpTCCBo2gAwIBAgITfwM-mSI9hMXYQFHBwAAEAz6ZIjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE3MDIwMT[...]
[...]
