interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+86
        (21) 61880179"],"displayName":"Zhe Cheng","givenName":"Zhe","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"Zhe.Cheng@microsoft.com","mobilePhone":null,"officeLocation":"SHA-ZIZHU-BLD1/4237","preferredLanguage":null,"surname":"Cheng","userPrincipalName":"zhcheng@microsoft.com","id":"c3215255-d30b-4111-b207-0e4c881ba965"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF000198C0"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/capp-kv-000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003","name":"capp-kv-000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"zhcheng@microsoft.com","createdByType":"User","createdAt":"2024-11-04T03:40:52.71Z","lastModifiedBy":"zhcheng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-04T03:40:52.71Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":true,"vaultUri":"https://capp-kv-000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27c3215255-d30b-4111-b207-0e4c881ba965%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00007107"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["c3215255-d30b-4111-b207-0e4c881ba965"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"c3215255-d30b-4111-b207-0e4c881ba965","businessPhones":["+86
        (21) 61880179"],"displayName":"Zhe Cheng","givenName":"Zhe","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"Zhe.Cheng@microsoft.com","mobilePhone":null,"officeLocation":"SHA-ZIZHU-BLD1/4237","preferredLanguage":null,"surname":"Cheng","userPrincipalName":"zhcheng@microsoft.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000055FE"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Administrator%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Administrator","type":"BuiltInRole","description":"Perform
        all data plane operations on a key vault and all objects in it, including
        certificates, keys, and secrets. Cannot manage key vault resources or manage
        role assignments. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.KeyVault/checkNameAvailability/read","Microsoft.KeyVault/deletedVaults/read","Microsoft.KeyVault/locations/*/read","Microsoft.KeyVault/vaults/*/read","Microsoft.KeyVault/operations/read"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/*"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:46.2349235Z","updatedOn":"2021-11-11T20:14:30.2542755Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","type":"Microsoft.Authorization/roleDefinitions","name":"00482a5a-887f-4fb3-b363-3b7fe8e74483"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483",
      "principalId": "c3215255-d30b-4111-b207-0e4c881ba965", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"c3215255-d30b-4111-b207-0e4c881ba965","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003","condition":null,"conditionVersion":null,"createdOn":"2024-11-04T03:41:31.3400203Z","updatedOn":"2024-11-04T03:41:32.0991386Z","createdBy":null,"updatedBy":"c3215255-d30b-4111-b207-0e4c881ba965","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/create?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pem-file"},
      "x509_props": {"subject": "CN=*.contoso.com", "sans": {}, "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/create?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICqDCCAZACAQAwGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKr8fc/oSpwGs44WwW4wVdnHZ8jF7raxbSup7ZZDw0HeauuBnnffmKqeeA5ynxGamsipjI5k1nzWwRndGxdhbm97+Xv3+pg5hIndBgM47PhuSSpty80QGbgr0qU5nAWUXGYoi+fH4QX3wQxtgrxMuEgM9XJ39BYDM+pr0PYK0v5b/e23G32nlhDMRAxk+QK7FTpzWdL6BPUvCDuihFo5Ym1PgHvXLMQjkgw/oi42+PSB0afDGrW8TmQYUwB6Gxy+9NqMFimpyqrH6rbwwtmrGJF+jjP8c0hZ2lI9jWE12OGYpLWk15EkdawM1JbTl165pKA7opjCxmUPdzV3ND1ujrUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAGEklAc0GTyO5aP/oajifP4oSsJ4gOciNlcQmuw0Y+QfVK1zh/36xu5OZ3P7GP1vVHdAbmz1Zlo9lG4zh8GXx7E9lTvYDhz90XMeAr+OK8zIFMdCgoL6B5nWGuWXBOijjLtvyoR7nEzm6MmASY9XvGDEoWIM+DaULPARbCxeh5BdZoL1oRs2HDeieLOw8poZyjHGjb8K7MLiaIC080/DZBykEf2pvKoYlkKwXbntGpBfi7/Cz9ENJP9OTStOO1VQu9r0zQoGZMWxORUVpYKNyDQepKsmKVhDfkoXACTeaUoxDV8jmX6KMSw/xZUq8I68cSxNpmlfPEXSnniBidl1CZ","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"f12259228634463288662d0491aeabdd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4&request_id=f12259228634463288662d0491aeabdd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICqDCCAZACAQAwGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKr8fc/oSpwGs44WwW4wVdnHZ8jF7raxbSup7ZZDw0HeauuBnnffmKqeeA5ynxGamsipjI5k1nzWwRndGxdhbm97+Xv3+pg5hIn[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICqDCCAZACAQAwGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKr8fc/oSpwGs44WwW4wVdnHZ8jF7raxbSup7ZZDw0HeauuBnnffmKqeeA5ynxGamsipjI5k1nzWwRndGxdhbm97+Xv3+pg5hIndBgM47PhuSSpty80QGbgr0qU5nAWUXGYoi+fH4QX3wQxtgrxMuEgM9XJ39BYDM+pr0PYK0v5b/e23G32nlhDMRAxk+QK7FTpzWdL6BPUvCDuihFo5Ym1PgHvXLMQjkgw/oi42+PSB0afDGrW8TmQYUwB6Gxy+9NqMFimpyqrH6rbwwtmrGJF+jjP8c0hZ2lI9jWE12OGYpLWk15EkdawM1JbTl165pKA7opjCxmUPdzV3ND1ujrUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAGEklAc0GTyO5aP/oajifP4oSsJ4gOciNlcQmuw0Y+QfVK1zh/36xu5OZ3P7GP1vVHdAbmz1Zlo9lG4zh8GXx7E9lTvYDhz90XMeAr+OK8zIFMdCgoL6B5nWGuWXBOijjLtvyoR7nEzm6MmASY9XvGDEoWIM+DaULPARbCxeh5BdZoL1oRs2HDeieLOw8poZyjHGjb8K7MLiaIC080/DZBykEf2pvKoYlkKwXbntGpBfi7/Cz9ENJP9OTStOO1VQu9r0zQoGZMWxORUVpYKNyDQepKsmKVhDfkoXACTeaUoxDV8jmX6KMSw/xZUq8I68cSxNpmlfPEXSnniBidl1CZ","cancellation_requested":false,"status":"completed","target":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004","request_id":"f12259228634463288662d0491aeabdd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/906f8857131c4eb0b363d7022e523f90","kid":"https://capp-kv-000003.vault.azure.net/keys/akv-cert-000004/906f8857131c4eb0b363d7022e523f90","sid":"https://capp-kv-000003.vault.azure.net/secrets/akv-cert-000004/906f8857131c4eb0b363d7022e523f90","x5t":"kgMR_MHZw-dfJmN9kjvEWhicjOI","cer":"MIIDNjCCAh6gAwIBAgIQE7ufAtQ4SVaxIXDw3WaZvzANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDDA0qLmNvbnRvc28uY29tMB4XDTI0MTEwNDAzMzIwOVoXDTI1MTEwNDAzNDIwOVowGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKr8fc/oSpwGs44WwW4wVdnHZ8jF7raxbSup7ZZDw0HeauuBnnffmKqeeA5ynxGamsipjI5k1nzWwRndGxdhbm97+Xv3+pg5hIndBgM47PhuSSpty80QGbgr0qU5nAWUXGYoi+fH4QX3wQxtgrxMuEgM9XJ39BYDM+pr0PYK0v5b/e23G32nlhDMRAxk+QK7FTpzWdL6BPUvCDuihFo5Ym1PgHvXLMQjkgw/oi42+PSB0afDGrW8TmQYUwB6Gxy+9NqMFimpyqrH6rbwwtmrGJF+jjP8c0hZ2lI9jWE12OGYpLWk15EkdawM1JbTl165pKA7opjCxmUPdzV3ND1ujrUCAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFBMo6rykdc8OP029NFTjegHALNnoMB0GA1UdDgQWBBQTKOq8pHXPDj9NvTRU43oBwCzZ6DANBgkqhkiG9w0BAQsFAAOCAQEAXK6eQvKZwuozk/AHMDKedIYAwt+O06111l93fjbL0BJlK/IJoYicuUsjZlaVP5aLb9lOdnvleUNBR91tZlkgQC+UOrCoPGLiiy/95OwNxLs7o27ZdKdECDeoUZZ6466MiQbx+McsVCZ5JNChrCgFzUy9OUtJ3AdJoP3kZA9nxogfhwSly8lNPy+xK8L36hi2JwmC7ugJ8R40Th3Pf3Zs/tU0dGg1Gc8dNUsCvEnbfxg4OAbMYC/pxxWz+tnGrIBA5vu1ezG2kYdzdd9/U5mSGZ1+1TXv/lsbLqbTikWhFZCdKe0tm245M+C1WgbjgRul302FL6aicrDXd2lzF5Wapg==","attributes":{"enabled":true,"nbf":1730691129,"exp":1762227729,"created":1730691729,"updated":1730691729,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"policy":{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"CN=*.contoso.com","sans":{},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1730691703,"updated":1730691703}},"pending":{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/env-msi000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/env-msi000005","name":"env-msi000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"13016845-c779-4256-86f4-70a317ac81e4","clientId":"e64dfc5a-5452-4666-83b2-e64cbf818322"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/env-msi000005
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Secrets%20User%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Secrets User","type":"BuiltInRole","description":"Read
        secret contents. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/secrets/getSecret/action","Microsoft.KeyVault/vaults/secrets/readMetadata/action"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:47.2049241Z","updatedOn":"2021-11-11T20:14:30.9542829Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4633458b-17de-408a-b874-0445c86b69e6","type":"Microsoft.Authorization/roleDefinitions","name":"4633458b-17de-408a-b874-0445c86b69e6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-08-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/capp-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": null,
      "logAnalyticsConfiguration": null}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.managedidentity/userassignedidentities/env-msi000005":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002","name":"capp-env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"zhcheng@microsoft.com","createdByType":"User","createdAt":"2024-11-04T03:42:40.6928289","lastModifiedBy":"zhcheng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-04T03:42:40.6928289"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"delightfulmeadow-76310eb7.eastus.azurecontainerapps.io","staticIp":"4.156.82.173","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/capp-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0CA7D568F6126CA8723B9BDC6F6578562D277F3E04AB98A47F44299EC5A47454","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/8703004c-0a5f-46c5-836f-ff61be26fcbb?api-version=2024-10-02-preview&azureAsyncOperation=true&t=638662885658334173&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwODA3MTYzMDI3WhcNMjUwODAyMTYzMDI3WjCBjDELMAkGA1UEBh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/8703004c-0a5f-46c5-836f-ff61be26fcbb?api-version=2024-10-02-preview&azureAsyncOperation=true&t=638662885658334173&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhc[...]
[...]
- request:
    body: '{"name": "capp-envhwbnug-clitest.rgij6y-cert-6035", "type": "Microsoft.App/managedEnvironments/certificates"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002/checkNameAvailability?api-version=2024-10-02-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"password": null, "value": null,
      "certificateKeyVaultProperties": {"keyVaultUrl": "https://capp-kv-000003.vault.azure.net/secrets/akv-cert-000004",
      "identity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/env-msi000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env00000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002/managedCertificates?api-version=2024-10-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview,
        2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002/certificates?api-version=2024-10-02-preview
  response:
    body:
[...]
