interactions:
- request:
    body: '{"location": "eastus", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6a33b9d2-21e8-4ee8-afe8-4fe86607a8dc","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-07-14T04:36:03.2264303Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-14T19:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-14T04:36:03.2264303Z","modifiedDate":"2023-07-14T04:36:03.2264303Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6a33b9d2-21e8-4ee8-afe8-4fe86607a8dc","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-07-14T04:36:03.2264303Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-14T19:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-14T04:36:03.2264303Z","modifiedDate":"2023-07-14T04:36:03.2264303Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"v8EyNJMLEj7kMrfnW9gUVAkCicXx73GYrSatKBwmKdRdGl2Gq0L4MKVrdq3YJlnQ2mWT1pxfmOIvrxuImgFugQ==","secondarySharedKey":"fAOqp8ghHImos37J1gfHPdyXjBjD9qcwhrdVVKvpS1ot8nW2UTilpF1ZfJt9YuP5j4b8dIFw4U8/zq2PHg0psw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
[...]
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "6a33b9d2-21e8-4ee8-afe8-4fe86607a8dc",
      "sharedKey": "v8EyNJMLEj7kMrfnW9gUVAkCicXx73GYrSatKBwmKdRdGl2Gq0L4MKVrdq3YJlnQ2mWT1pxfmOIvrxuImgFugQ=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-07-14T04:36:14.7500983Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-14T04:36:14.7500983Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"wonderfulocean-eadc048c.eastus.azurecontainerapps.io","staticIp":"20.237.66.79","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"6a33b9d2-21e8-4ee8-afe8-4fe86607a8dc","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.8"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/d55be508-4b27-4c17-93f1-0285654acf3c?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/d55be508-4b27-4c17-93f1-0285654acf3c?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/d55be508-4b27-4c17-93f1-0285654acf3c","name":"d55be508-4b27-4c17-93f1-0285654acf3c","status":"InProgress","startTime":"2023-07-14T04:36:17.2842364"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000005","name":"containerapp-user000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ca6e0077-166c-49ed-84d9-681f8001b11f","clientId":"8b828eda-afa5-4575-86f2-32dc75a4e9dc"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": null, "location": "eastus", "identity": {"principalId": null,
      "tenantId": null, "type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000005":
      {}}}, "managedBy": null, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "personal-access-token", "value": "test_personal_access_token",
      "identity": null, "keyVaultUrl": null}], "triggerType": "Event", "replicaTimeout":
      100, "replicaRetryLimit": 1, "manualTriggerConfig": null, "scheduleTriggerConfig":
      null, "eventTriggerConfig": {"replicaCompletionCount": 1, "scale": {"minReplicas":
      null, "maxReplicas": null, "pollingInterval": null, "rules": [{"name": "github-runner-test",
      "type": "github-runner", "metadata": {"github-runner": "https://api.github.com",
      "owner": "test_org", "runnerScope": "repo", "repos": "test_repo", "targetWorkflowQueueLength":
      "1"}, "auth": [{"secretRef": "personal-access-token", "triggerParameter": "personalAccessToken"}]}]},
      "parallelism": 1}, "registries": null}, "template": {"initContainers": null,
      "containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest", "name":
      "eventdriventjob", "command": null, "args": null, "env": [{"name": "ACCESS_TOKEN",
      "value": null, "secretRef": "personal-access-token"}, {"name": "DISABLE_RUNNER_UPDATE",
      "value": "true", "secretRef": null}, {"name": "RUNNER_SCOPE", "value": "repo",
      "secretRef": null}, {"name": "ORG_NAME", "value": "test_org", "secretRef": null},
      {"name": "ORG_RUNNER", "value": "false", "secretRef": null}, {"name": "RUNNER_WORKDIR",
      "value": "/tmp/runner", "secretRef": null}, {"name": "REPO_URL", "value": "https://github.com/test_org/test_repo",
      "secretRef": null}], "resources": {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage":
      "1Gi"}, "volumeMounts": [{"volumeName": "workdir", "mountPath": "/tmp/github-runner-your-repo",
      "subPath": null}, {"volumeName": "dockersock", "mountPath": "/var/run/docker.sock",
      "subPath": null}], "probes": null}], "volumes": [{"name": "workdir", "storageType":
      "EmptyDir", "storageName": null, "secrets": null, "mountOptions": null}, {"name":
      "dockersock", "storageType": "EmptyDir", "storageName": null, "secrets": null,
      "mountOptions": null}]}, "workloadProfileName": null, "eventStreamEndpoint":
      null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003","name":"yaml000003","type":"Microsoft.App/jobs","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-07-14T04:37:29.7434113Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-14T04:37:29.7434113Z"},"properties":{"provisioningState":"InProgress","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"configuration":{"secrets":[{"name":"personal-access-token"}],"triggerType":"Event","replicaTimeout":100,"replicaRetryLimit":1,"manualTriggerConfig":null,"scheduleTriggerConfig":null,"eventTriggerConfig":{"replicaCompletionCount":1,"parallelism":1,"scale":{"minExecutions":0,"maxExecutions":10,"pollingInterval":30,"rules":[{"name":"github-runner-test","type":"github-runner","metadata":{"github-runner":"https://api.github.com","owner":"test_org","repos":"test_repo","runnerScope":"repo","targetWorkflowQueueLength":"1"},"auth":[{"secretRef":"personal-access-token","triggerParameter":"personalAccessToken"}]}]}},"registries":null,"dapr":null},"template":{"containers":[{"image":"mcr.microsoft.com/k8se/quickstart-jobs:latest","name":"eventdriventjob","env":[{"name":"ACCESS_TOKEN","secretRef":"personal-access-token"},{"name":"DISABLE_RUNNER_UPDATE","value":"true"},{"name":"RUNNER_SCOPE","value":"repo"},{"name":"ORG_NAME","value":"test_org"},{"name":"ORG_RUNNER","value":"false"},{"name":"RUNNER_WORKDIR","value":"/tmp/runner"},{"name":"REPO_URL","value":"https://github.com/test_org/test_repo"}],"resources":{"cpu":0.5,"memory":"1Gi",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003","name":"yaml000003","type":"Microsoft.App/jobs","location":"East
        US","system[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003/listSecrets?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value":[{"name":"personal-access-token","value":"test_personal_access_token"}]}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
