interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgb3fen6vqztpxosi43ufiv?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"692a803a-12fc-49a1-9a6a-70332036ffb4","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-08T05:11:32.5712381Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-08T18:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-08T05:11:32.5712381Z","modifiedDate":"2023-09-08T05:11:32.5712381Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgb3fen6vqztpxosi43ufiv","name":"workspace-clitestrgb3fen6vqztpxosi43ufiv","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgb3fen6vqztpxosi43ufiv?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgb3fen6vqztpxosi43ufiv?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"692a803a-12fc-49a1-9a6a-70332036ffb4","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-08T05:11:32.5712381Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-08T18:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-08T05:11:32.5712381Z","modifiedDate":"2023-09-08T05:11:32.5712381Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgb3fen6vqztpxosi43ufiv","name":"workspace-clitestrgb3fen6vqztpxosi43ufiv","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgb3fen6vqztpxosi43ufiv/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"ZnAEm2zv0/o07Pk3Q+MV4TgM8NhFrm2XxidtoiR8ro5GeW+RAML3wKkbM0MXBrWnZDBTZCGv6B5cDE93prlk5g==","secondarySharedKey":"WduUyDsmlYVjDF3p5rmgVShwtoSlSvH0aB3IfCwz37iIhGhHzvgl0b1e+dEBlK7pJSzMmGzwgTogWzsKYfAhmg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "692a803a-12fc-49a1-9a6a-70332036ffb4",
      "sharedKey": "ZnAEm2zv0/o07Pk3Q+MV4TgM8NhFrm2XxidtoiR8ro5GeW+RAML3wKkbM0MXBrWnZDBTZCGv6B5cDE93prlk5g=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T05:11:34.2521497Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:11:34.2521497Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"agreeablewave-95346451.eastus.azurecontainerapps.io","staticIp":"52.151.209.208","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"692a803a-12fc-49a1-9a6a-70332036ffb4","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/df7ba137-ea02-4401-aa87-6f50fcaca780?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-08T05%3a11%3a39&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAzMDczNjQzWhcNMjQwNzI4MDczNjQzWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/df7ba137-ea02-4401-aa87-6f50fcaca780?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-08T05%3A11%3A39&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T05:13:26.9162674+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:13:26.9162674+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-09-08T05:13:26.9162674Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-09-08T05:13:53.4361633+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-09-08T05:13:53.4362065+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-71960e2e-4e06-11ee-83e9-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-71960e2e-4e06-11ee-83e9-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-71960e2e-4e06-11ee-83e9-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"i+kSnEDNNv7UfkA/fS50qNdUBX45SDkC4EUETKM/0Y+ACRAYccg8"},{"name":"password2","value":"jZk5JgJ6DKW2uvW38JNOG+Ak/5hhYtFCIbCy2MgAWT+ACRDPvs9g"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"i+kSnEDNNv7UfkA/fS50qNdUBX45SDkC4EUETKM/0Y+ACRAYccg8"},{"name":"password2","value":"jZk5JgJ6DKW2uvW38JNOG+Ak/5hhYtFCIbCy2MgAWT+ACRDPvs9g"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHB0N3RrY2Rxdnc2Z2o6MjAyMzA5MDcyMjE0MDExMDgwNDcgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwdDd0a2NkcXZ3NmdqOjIwMjMwOTA3MjIxNDAxMTA4MDQ3Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-08T05[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/source/202309080000/44e1c4d4-5d49-470b-82d9-6a2a1a5e3422.tar.gz?sv=2021-12-02&se=2023-09-08T06%3A14%3A12Z&sr=b&sp=cw&sig=qQy7cOZp3TmodsjFg8fwMqgiHEDZrWkpsBt92WCun8U%3D","relativePath":"source/202309080000/44e1c4d4-5d49-470b-82d9-6a2a1a5e3422.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICKWt+mQC/2NsaV9zb3VyY2VfYXJjaGl2ZV9hYzk0ODY3MjhhNWY0YjNlYTYxNTgzMTNmNWI4
      ZThiYi50YXIA7T35dxTHmWQ3+wv7eM9/Qnm8mwg/zSmNJAtJBgMJyhqsRdiO13GcnpmS1DDTPe7u
      kTTxS5y3We++PV6y2Tj7ss9xnMTGBmNhG8wNlvFtBIhDQgIJBLow6EIggTjk2q+qumd6NCMOB41x
      XJ/9Ma3qqu/76vqO6upql9vlnl8h1S/BUghrs2YEPBym+/V48vKT1zTd6833+2ah+llZgJhuSBqw
      v92V/IqArwhFDDmCS70FRQWe+/xF9/lchf77fPl5vtmzBPzFgzsLPOh8KCwsnH7+p10X+go9s5Bf
      zP8ZB5fQ/0L/C/3/tQUpGtWxYchKte5ahGtxWI1GsGK4Vuq[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-08T05:14:01.3094063+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202309080000/44e1c4d4-5d49-470b-82d9-6a2a1a5e3422.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmp1qt98vbm", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-09-08T05:14:14+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:14:13.7414895+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A24%3A14Z&sr=b&sp=r&sig=DoB7P84tOW0phT1cCSjq9wlft8jnq6MHpA9%2FaKKYS%2Bg%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A24%3A14Z&sr=b&sp=r&sig=DoB7P84tOW0phT1cCSjq9wlft8jnq6MHpA9%2FaKKYS%2Bg%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A71D306D4"'
      last-modified:
      - Fri, 08 Sep 2023 05:14:14 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:14:14 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:16 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A24%3A14Z&sr=b&sp=r&sig=DoB7P84tOW0phT1cCSjq9wlft8jnq6MHpA9%2FaKKYS%2Bg%3D
  response:
    body:
      string: "2023/09/08 05:14:14 Downloading source code...\r\n2023/09/08 05:14:15
        Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A722C8B68"'
      last-modified:
      - Fri, 08 Sep 2023 05:14:15 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:14:14 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:27 GMT
      x-ms-range:
      - bytes=2069-6164
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A24%3A14Z&sr=b&sp=r&sig=DoB7P84tOW0phT1cCSjq9wlft8jnq6MHpA9%2FaKKYS%2Bg%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\nStatus:
        Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\nDockerfile
        written to '/workspace/Dockerfile'.\n2023/09/08 05:14:26 Successfully executed
        container: acb_step_0\n2023/09/08 05:14:26 Executing step ID: acb_step_1.
        Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/08
        05:14:26 Scanning for dependencies...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2069-2550/2551
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A788A51BA"'
      last-modified:
      - Fri, 08 Sep 2023 05:14:26 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:14:14 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:39 GMT
      x-ms-range:
      - bytes=4369-8464
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A24%3A14Z&sr=b&sp=r&sig=DoB7P84tOW0phT1cCSjq9wlft8jnq6MHpA9%2FaKKYS%2Bg%3D
  response:
    body:
      string: " ---> Running in c9b209fc849d\nOperation performed by Microsoft Oryx,
        https://github.com/Microsoft/Oryx\nYou can report issues at https://github.com/Microsoft/Oryx/issues\n\nOryx
        Version: 0.2.20230904.1, Commit: f2d28cc9e92250b08ae08ccedf3b64dc4944b762,
        ReleaseTagName: 20230904.1\n\nBuild Operation ID: 343de5592584ff33\nOS Type
        \          : buster\nImage Type        : cli\n\nDetecting platforms...\nDetected
        following platforms:\n  dotnet: 7.0.10\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4369-4806/4807
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A7EA4FE57"'
      last-modified:
      - Fri, 08 Sep 2023 05:14:36 GMT
      x-ms-blob-committed-block-count:
      - '10'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:14:14 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:47 GMT
      x-ms-range:
      - bytes=5538-9633
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/453b1a53b2084b8cab8c4b18656af473-uogcz1knrx/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A24%3A14Z&sr=b&sp=r&sig=DoB7P84tOW0phT1cCSjq9wlft8jnq6MHpA9%2FaKKYS%2Bg%3D
  response:
    body:
      string: "Building dependency tree...\nReading state information...\nCalculating
        upgrade...\n0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.\nReading
        package lists...\nBuilding dependency tree...\nReading state information...\nThe
        following additional packages will be installed:\n  git-man libcurl3-gnutls
        liberror-perl libgdbm-compat4 libgdbm6 libperl5.28\n  perl perl-modules-5.28\nSuggested
        packages:\n  gettext-base git-daemon-run | git-daemon-sysvinit git-doc git-el
[...]
