interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "westeurope", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg5wzjo45zbtdd43stqx3xn?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"11f9c60e-1389-468f-aca7-23513a32ec52","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-07-28T06:58:34.0579367Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-28T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-28T06:58:34.0579367Z","modifiedDate":"2023-07-28T06:58:34.0579367Z"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg5wzjo45zbtdd43stqx3xn","name":"workspace-clitestrg5wzjo45zbtdd43stqx3xn","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg5wzjo45zbtdd43stqx3xn?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg5wzjo45zbtdd43stqx3xn?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"11f9c60e-1389-468f-aca7-23513a32ec52","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-07-28T06:58:34.0579367Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-28T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-28T06:58:34.0579367Z","modifiedDate":"2023-07-28T06:58:34.0579367Z"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg5wzjo45zbtdd43stqx3xn","name":"workspace-clitestrg5wzjo45zbtdd43stqx3xn","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg5wzjo45zbtdd43stqx3xn/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"1TELijR58BSuW2PIui3775Uh4RzUDyTIQr1AziuA63Qs9vKk+0wWad0QiubdR+PlsLQFKKHE4xaw7tx1cGQaaw==","secondarySharedKey":"4oeJjhchjEtQ/VTe7ruy3wfbNPzJQV9am90AMrSxc91Qx4KhjMWT2dEhxZxFbgje37asROAWCUEExQJ5udZq6Q=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "11f9c60e-1389-468f-aca7-23513a32ec52",
      "sharedKey": "1TELijR58BSuW2PIui3775Uh4RzUDyTIQr1AziuA63Qs9vKk+0wWad0QiubdR+PlsLQFKKHE4xaw7tx1cGQaaw=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"West
        Europe","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-07-28T06:58:35.9895168Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T06:58:35.9895168Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"jollystone-be64b24d.westeurope.azurecontainerapps.io","staticIp":"20.76.41.93","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"11f9c60e-1389-468f-aca7-23513a32ec52","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.8"},"eventStreamEndpoint":"https://westeurope.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westeurope/managedEnvironmentOperationStatuses/650cf633-f6f5-4634-a959-3277ce9b24a9?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westeurope/managedEnvironmentOperationStatuses/650cf633-f6f5-4634-a959-3277ce9b24a9?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westeurope/managedEnvironmentOperationStatuses/650cf633-f6f5-4634-a959-3277ce9b24a9","name":"650cf633-f6f5-4634-a959-3277ce9b24a9","status":"InProgress","startTime":"2023-07-28T06:58:41.8236322"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-07-28T07:00:27.4958544+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T07:00:27.4958544+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-07-28T07:00:27.4958544Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-07-28T07:00:34.5212574+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-07-28T07:00:34.5212574+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-6e486eee-2d14-11ee-89ec-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-6e486eee-2d14-11ee-89ec-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-6e486eee-2d14-11ee-89ec-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"huZxIKkEfeN9jBiNki2qTr0sHzdU7hObLNh0HbjiIy+ACRADAywi"},{"name":"password2","value":"TQHVwLxE7aoKNpeV1okNJARd755u2e5xhZ5sWNuGH4+ACRDXY0sU"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/source/202307280000/41d91f89-1919-4bc4-bbaf-9cf6e0ac727b.tar.gz?sv=2021-12-02&se=2023-07-28T08%3A00%3A42Z&sr=b&sp=cw&sig=94tjjPobsXoAPMqOLGX6vMBVgsD8CrhrHISPRhSehOs%3D","relativePath":"source/202307280000/41d91f89-1919-4bc4-bbaf-9cf6e0ac727b.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICJlnw2QC/2J1aWxkX2FyY2hpdmVfZjI3MGIwNWJkMzE5NGY3ODg1YzI3YTk2MjEwNWQ3MmYu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsypC4QkIwMOSji0kmzH6zhOz0xJaujpHnf3SMg8x3mb
      9e7b4yWbjZOXfV7HSWxsMBa2wdxgjG9zHxICJBBIQhh0IZBAHHLtV1XdMz2HBDgwJqY++2Na3VXf
      99X1HdXVVR6vxzurQlo6D0thrE+6I+DjMN6vz5ebm7im9/3+vHz/JLR0UhYgZpiSDuxvdyH/SiBQ
      iCKmHMEl/oLpBb4Z+dNnBDyFhXnTC/InTxLwzQdvFnjQ8VBYWDj++E+7LgwU+iahfDH+7zh4hP4X
      +l/o/3sWpGjUwKYpq7WGZw6ux4oWjWDV9Cw2NPV2jv+CgoJ[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20230728000041573504"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "2f09352432864bdb8dbd1ca9487e5d8f_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202307280000/41d91f89-1919-4bc4-bbaf-9cf6e0ac727b.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-07-28T07:00:43+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T07:00:43.0167796+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-28T08%3A10%3A43Z&sr=b&sp=r&sig=9EzHRso6EpZXOoWsM%2BXdhrEWngdat5EMtkNE4vga33s%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jul 2023 07:00:44 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-28T08%3A10%3A43Z&sr=b&sp=r&sig=9EzHRso6EpZXOoWsM%2BXdhrEWngdat5EMtkNE4vga33s%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB8F385CC2AEAA"'
      last-modified:
      - Fri, 28 Jul 2023 07:00:44 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 28 Jul 2023 07:00:43 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jul 2023 07:00:44 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-28T08%3A10%3A43Z&sr=b&sp=r&sig=9EzHRso6EpZXOoWsM%2BXdhrEWngdat5EMtkNE4vga33s%3D
  response:
    body:
      string: "2023/07/28 07:00:44 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB8F385CC2AEAA"'
      last-modified:
      - Fri, 28 Jul 2023 07:00:44 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 28 Jul 2023 07:00:43 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jul 2023 07:01:28 GMT
      x-ms-range:
      - bytes=4870-8965
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-28T08%3A10%3A43Z&sr=b&sp=r&sig=9EzHRso6EpZXOoWsM%2BXdhrEWngdat5EMtkNE4vga33s%3D
  response:
    body:
      string: "2023/07/28 07:01:24 Successfully executed container: build\n2023/07/28
        07:01:24 Executing step ID: push. Timeout(sec): 3600, Working directory: '',
        Network: ''\n2023/07/28 07:01:24 Pushing image: containerapp000004.azurecr.io/containerapp000003:20230728000041573504,
        attempt 1\nThe push refers to repository [containerapp000004.azurecr.io/containerapp000003]\nd9b7b263d61a:
        Preparing\nba90abbd8690: Preparing\nbe37720e5f82: Preparing\n72a7e3e0cdae:
        Preparing\n8de6f7578c38: Preparing\nb63bee926c4e: Preparing\n8ce178ff9f34:
        Preparing\nb63bee926c4e: Waiting\n8ce178ff9f34: Waiting\nba90abbd8690: Pushed\nd9b7b263d61a:
        Pushed\nbe37720e5f82: Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4870-5525/5526
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB8F38763F23F1"'
      last-modified:
      - Fri, 28 Jul 2023 07:01:26 GMT
      x-ms-blob-committed-block-count:
      - '16'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 28 Jul 2023 07:00:43 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jul 2023 07:01:36 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-28T08%3A10%3A43Z&sr=b&sp=r&sig=9EzHRso6EpZXOoWsM%2BXdhrEWngdat5EMtkNE4vga33s%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB8F387AEE1ACB"'
      last-modified:
      - Fri, 28 Jul 2023 07:01:34 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 28 Jul 2023 07:00:43 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jul 2023 07:01:36 GMT
      x-ms-range:
      - bytes=5590-9685
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged96.blob.core.windows.net/d48090f5a09144df8c447830dd85100b-jt65zcsj2n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-07-28T08%3A10%3A43Z&sr=b&sp=r&sig=9EzHRso6EpZXOoWsM%2BXdhrEWngdat5EMtkNE4vga33s%3D
  response:
    body:
      string: "8ce178ff9f34: Pushed\n20230728000041573504: digest: sha256:b9bba8d0e5bbc35a9f2df379b9b8fdeb50f68dfcf78a8e5aae86048471975fc5
        size: 1786\n2023/07/28 07:01:32 Successfully pushed image: containerapp000004.azurecr.io/containerapp000003:20230728000041573504\n2023/07/28
        07:01:32 Step ID: build marked as successful (elapsed time in seconds: 37.681394)\n2023/07/28
        07:01:32 Populating digests for step ID: build...\n2023/07/28 07:01:34 Successfully
        populated digests for step ID: build\n2023/07/28 07:01:34 Step ID: push marked
        as successful (elapsed time in seconds: 8.597173)\n2023/07/28 07:01:34 The
[...]
[...]
- request:
    body: '{"location": "West Europe", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "containerapp000004azurecrio-containerapp000004",
      "value": "huZxIKkEfeN9jBiNki2qTr0sHzdU7hObLNh0HbjiIy+ACRADAywi"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": [{"server": "containerapp000004.azurecr.io",
      "username": "containerapp000004", "passwordSecretRef": "containerapp000004azurecrio-containerapp000004"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000004.azurecr.io/containerapp000003:20230728000041573504", "name":
      "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"West
[...]
