interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-13T09:08:06.9159389","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T09:08:06.9159389"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"livelypebble-4bdc8f59.eastus.azurecontainerapps.io","staticIp":"52.191.238.10","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"2c2bfa08-413f-427b-aef1-4bd1edf3e5ad","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-18T06:58:37.0764482+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-18T06:58:37.0764482+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-10-18T06:58:37.0764482Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-10-18T06:58:44.6106155+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-10-18T06:58:44.6106547+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-bf92360c-6d83-11ee-a3a2-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-bf92360c-6d83-11ee-a3a2-2c0da7bd12b1?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-bf92360c-6d83-11ee-a3a2-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"96IDIKoGs/AaKMZtXzVaH7ec4LKunbaagcEGDyIacQ+ACRC8Yz7o"},{"name":"password2","value":"s6El0Xuh+78DWoNgARcFmV6hNL5A4762EsbasjSlvQ+ACRDWwk11"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"96IDIKoGs/AaKMZtXzVaH7ec4LKunbaagcEGDyIacQ+ACRC8Yz7o"},{"name":"password2","value":"s6El0Xuh+78DWoNgARcFmV6hNL5A4762EsbasjSlvQ+ACRDWwk11"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvir[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\"\
        ,\n    \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\"\
        ,\n    \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\"\
        ,\n    \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBiem1iM2lobDJzdnI6MjAyMzEwMTgxNDU5MDQ3NjQxMzkgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwYnptYjNpaGwyc3ZyOjIwMjMxMDE4MTQ1OTA0NzY0MTM5Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-10-18T06[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/source/202310180000/1c25a90c-40df-4868-accc-15cc3f579645.tar.gz?sv=2021-12-02&se=2023-10-18T07%3A59%3A44Z&sr=b&sp=cw&sig=IDdgk%2BiN7XxrVbCA1gokrK%2BQOV%2B4%2B3qvUKRHQPVd9Dk%3D","relativePath":"source/202310180000/1c25a90c-40df-4868-accc-15cc3f579645.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICF6CL2UC/2NsaV9zb3VyY2VfYXJjaGl2ZV82ZTcyMGFkOTVmZGU0NDQ1YmI2ZjYyNDM3YmMx
      YWQzYS50YXIA7Vxtc9s2EvZnz/g/bNTrkE4liqTebMVOr5e4SWdyqSfxzc3NzU2HIiEJMUXyAFC2
      mqa/vQuAkiif47xMpDSXffzB1C6weN/FLgl4ba/91/Po+imLEib2tgLf4m3/fb/TXT9reuCHQbgH
      13s7QClVJLD4va8T4RHMFJ+x06B/1B90w0EQesFR7+g4ON7fI/zfo72DMvSiHgwGb1//+Bx0u92w
      g38DTe/7+A96tP63Do/0P+l/0v9fLaKi8F7J7ev/fr//tvUfBp3ODf2Ps7C/Bz6t/61jHgmIBYsU
      OxMiF3AKgv235IK5zlSposU0VTqHDw72dVJ2XQgmZT1ZRVo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-10-18T06:59:30.2125066+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202310180000/1c25a90c-40df-4868-accc-15cc3f579645.tar.gz",
      "file": "C:\\Users\\XINYUP~1.RED\\AppData\\Local\\Temp\\tmph7tadjxy", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-10-18T06:59:48+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-18T06:59:47.9195806+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 06:59:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBCFA7D255CCBE"'
      last-modified:
      - Wed, 18 Oct 2023 06:59:49 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 18 Oct 2023 06:59:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 06:59:51 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: "2023/10/18 06:59:49 Downloading source code...\r\n2023/10/18 06:59:49\
        \ Finished downloading source code\r\n2023/10/18 06:59:50 Alias support enabled\
[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 06:59:55 GMT
      x-ms-range:
      - bytes=1546-5641
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: "75c028bd406f: Verifying Checksum\n75c028bd406f: Download complete\n\
        69fefe447a70: Verifying Checksum\n69fefe447a70: Download complete\n69285aafba30:\
        \ Verifying Checksum\n69285aafba30: Download complete\n5ec5a733efd1: Verifying\
        \ Checksum\n5ec5a733efd1: Download complete\n940e5351b949: Verifying Checksum\n\
        940e5351b949: Download complete\nb2404786f3fe: Pull complete\ne97ef50ee5a8:\
        \ Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1546-1927/1928
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBCFA7D4F9FF83"'
      last-modified:
      - Wed, 18 Oct 2023 06:59:54 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 18 Oct 2023 06:59:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 07:00:02 GMT
      x-ms-range:
      - bytes=2069-6164
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\n\
        Status: Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\n\
        Dockerfile written to '/workspace/Dockerfile'.\n2023/10/18 07:00:00 Successfully\
        \ executed container: acb_step_0\n2023/10/18 07:00:00 Executing step ID: acb_step_1.\
        \ Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n\
        2023/10/18 07:00:00 Scanning for dependencies...\r\n2023/10/18 07:00:00 Successfully\
        \ scanned dependencies\n2023/10/18 07:00:00 Launching container with name:\
        \ acb_step_1\nSending build context to Docker daemon  16.38kB\r\r\nStep 1/10\
        \ : ARG RUNTIME=node:18\nStep 2/10 : FROM mcr.microsoft.com/oryx/cli:debian-bullseye-stable\
        \ as build\ndebian-bullseye-stable: Pulling from oryx/cli\nddf874abf16c: Pulling\
        \ fs layer\n5c1459d3ab8b: Pulling fs layer\n4f4fb700ef54: Pulling fs layer\n\
        eb142a15b264: Pulling fs layer\nfa99954d3521: Pulling fs layer\n52a1fe7d9962:\
        \ Pulling fs layer\n6416d1135285: Pulling fs layer\n737f1067e4d0: Pulling\
        \ fs layer\neb142a15b264: Waiting\nfa99954d3521: Waiting\n52a1fe7d9962: Waiting\n\
        6416d1135285: Waiting\n737f1067e4d0: Waiting\n4f4fb700ef54: Verifying Checksum\n\
        4f4fb700ef54: Download complete\n5c1459d3ab8b: Verifying Checksum\n5c1459d3ab8b:\
        \ Download complete\nfa99954d3521: Verifying Checksum\nfa99954d3521: Dow[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 07:00:16 GMT
      x-ms-range:
      - bytes=5598-9693
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: "Building dependency tree...\nReading state information...\nCalculating\
        \ upgrade...\nThe following packages will be upgraded:\n  adduser base-files\
        \ curl dpkg libc-bin libcurl4 libk5crypto3 libncursesw6\n  libtinfo6 ncurses-base\
        \ ncurses-bin openssl\n12 upgraded, 0 newly installed, 0 to remove and 0 not\
        \ upgraded.\nNeed to get 6443 kB of archives.\nAfter this operation, 8192\
        \ B of additional disk space will be used.\nGet:1 http://deb.debian.org/debian\
        \ bullseye/main amd64 base-files amd64 11.1+deb11u8 [70.2 kB]\nGet:2 http://deb.debian.org/debian\
        \ bullseye/main amd64 dpkg amd64 1.20.13 [2538 kB]\nGet:3 http://deb.debian.org/debian\
        \ bullseye/main amd64 ncurses-bin amd64 6.2+20201114-2+deb11u2 [429 kB]\n\
        Get:4 http://deb.debian.org/debian-security bullseye-security/main amd64 libc-bin\
        \ amd64 2.31-13+deb11u7 [829 kB]\nGet:5 http://deb.debian.org/debian bullseye/main\
        \ amd64 ncurses-base all 6.2+20201114-2+deb11u2 [272 kB]\nGet:6 http://deb.debian.org/debian\
        \ bullseye/main amd64 adduser all 3.118+deb11u1 [241 kB]\nGet:7 http://deb.debian.org/debian\
        \ bullseye/main amd64 libk5crypto3 amd64 1.18.3-6+deb11u4 [114 kB]\nGet:8\
        \ http://deb.debian.org/debian bul[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 07:01:03 GMT
      x-ms-range:
      - bytes=104971-109066
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: "18: Pulling from oryx/node\n6a70103cc499: Pulling fs layer\nccb4221e2c63:\
        \ Pulling fs layer\n48e94fe0d2ce: Pulling fs layer\n56664198588d: Pulling\
        \ fs layer\n780f70005241: Pulling fs layer\necb0584d058a: Pulling fs layer\n\
        8f6a87589ae6: Pulling fs layer\n5e0429a8d0aa: Pulling fs layer\n50706352be61:\
        \ Pulling fs layer\nc402814042be: Pulling fs layer\nf80c47c7b245: Pulling\
        \ fs layer\n4f4fb700ef54: Pulling fs layer\nb11dcbab1fb8: Pulling fs layer\n\
        e39ae9eb601b: Pulling fs layer\n79477e1a5a3a: Pulling fs layer\n6a17c25e3933:\
        \ Pulling fs layer\ncd31810ca059: Pulling fs layer\n85cddb801fd4: Pulling\
        \ fs layer\na8ecbac80730: Pulling fs layer\n56664198588d: Waiting\n780f70005241:\
        \ Waiting\necb0584d058a: Waiting\n8f6a87589ae6: Waiting\n5e0429a8d0aa: Waiting\n\
        50706352be61: Waiting\nc402814042be: Waiting\nf80c47c7b245: Waiting\n4f4fb700ef54:\
        \ Waiting\nb11dcbab1fb8: Waiting\ne39ae9eb601b: Waiting\n79477e1a5a3a: Waiting\n\
        6a17c25e3933: Waiting\ncd31810ca059: Waiting\n85cddb801fd4: Waiting\na8ecbac80730:\
        \ Waiting\n48e94fe0d2ce: Verifying Checksum\n48e94fe0d2ce: Download complete\n\
        ccb4221e2c63: Verifying Checksum\nccb4221e2c63: Download complete\n56664198588d:\
        \ Verifying Checksum\n56664198588d: Download complete\n6a70103cc499: Verifying\
        \ Checksum\n6a70103cc499: Download complete\necb0584d058a: Verifying Checksum\n\
        ecb0584d058a: Download complete\n780f70005241: Verifying Checksum\n780f70005241:\
        \ Download complete\n50706352be61: Verifying Checksum\n50706352be61: Download\
        \ complete\nc402814042be: Verifying Checksum\nc402814042be: Download complete\n\
        f80c47c7b245: Verifying Checksum\nf80c47c7b245: Download complete\n8f6a87589ae6:\
        \ Verifying Checksum\n8f6a87589ae6: Download complete\n5e0429a8d0aa: Verifying\
        \ Checksum\n5e0429a8d0aa: Download complete\n4f4fb700ef54: Verifying Checksum\n\
        4f4fb700ef54: Download complete\ne39ae9eb601b: Verifying Checksum\ne39ae9eb601b:\
        \ Download complete\n79477e1a5a3a: Verifying Checksum\n79477e1a5a3a: Download\
        \ complete\n6a17c25e3933: Verifying Checksum\n6a17c25e3933: Download complete\n\
        85cddb801fd4: Verifying Checksum\n85cddb801fd4: Download complete\nb11dcbab1fb8:\
        \ Verifying Checksum\nb11dcbab1fb8: Download complete\ncd31810ca059: Verifying\
        \ Checksum\ncd31810ca059: Download complete\na8ecbac80730: Verifying Checksum\n\
        a8ecbac80730: Download complete\n6a70103cc499: Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 104971-107202/107203
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBCFA7FCCB285A"'
      last-modified:
      - Wed, 18 Oct 2023 07:01:01 GMT
      x-ms-blob-committed-block-count:
      - '32'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 18 Oct 2023 06:59:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Oct 2023 07:01:13 GMT
      x-ms-range:
      - bytes=109107-113202
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
  response:
    body:
      string: "7d5075bfaed1: Preparing\n1ebffd44f0f4: Preparing\n848ff1fef3b0: Preparing\n\
        2de157c9f62f: Preparing\n14f5f734a231: Preparing\nd9aeb47d3c77: Preparing\n\
        83b5f610f7a1: Preparing\ne7eb5e3bda31: Preparing\ne451904c4070: Preparing\n\
        d4d59a5160d9: Preparing\n5f70bf18a086: Preparing\n992ed56f8ad7: Preparing\n\
        d6a49f4d345e: Preparing\n8bcca6d39460: Preparing\n7d6f6eb8e2c5: Preparing\n\
        61c1d5ac0677: Preparing\n1d24dc65a970: Preparing\n7b27f01713dc: Preparing\n\
        a0e053bec8d3: Preparing\n60f60bc484fe: Preparing\n8b6d3ee881ba: Preparing\n\
[...]
