interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgmfavx4ggntihzmjrnef62?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"0fabd12f-a9d3-4bc8-b763-0bfa3f5c1731","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-15T08:40:19.7609395Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-16T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-15T08:40:19.7609395Z","modifiedDate":"2024-01-15T08:40:19.7609395Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgmfavx4ggntihzmjrnef62","name":"workspace-clitestrgmfavx4ggntihzmjrnef62","type":"Microsoft.OperationalInsights/workspaces","etag":"\"eb0de790-0000-0100-0000-65a4ef730000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgmfavx4ggntihzmjrnef62?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgmfavx4ggntihzmjrnef62?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"0fabd12f-a9d3-4bc8-b763-0bfa3f5c1731","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-15T08:40:19.7609395Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-16T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-15T08:40:19.7609395Z","modifiedDate":"2024-01-15T08:40:19.7609395Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgmfavx4ggntihzmjrnef62","name":"workspace-clitestrgmfavx4ggntihzmjrnef62","type":"Microsoft.OperationalInsights/workspaces","etag":"\"eb0de790-0000-0100-0000-65a4ef730000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgmfavx4ggntihzmjrnef62/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"p0nsJt29eQxCmhLtkmwIYv/8mFpqdNwnOcGX0dkdr2jAR3hfKvt4WBpD7zl4c8IQjs9ncl1qGCnxr2O4aWloPw==","secondarySharedKey":"dO6HDJKgMOZ+PM+/06GGdwmHXX3HvHJvoHa/bibKh3zIpjdzOQKw1XPwHmaEihTq2ufy4+6yMreNWtb9CAWALg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "0fabd12f-a9d3-4bc8-b763-0bfa3f5c1731",
      "sharedKey": "p0nsJt29eQxCmhLtkmwIYv/8mFpqdNwnOcGX0dkdr2jAR3hfKvt4WBpD7zl4c8IQjs9ncl1qGCnxr2O4aWloPw==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-15T08:40:24.5651286","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T08:40:24.5651286"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"purpledesert-2a735a75.eastus.azurecontainerapps.io","staticIp":"20.242.248.50","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"0fabd12f-a9d3-4bc8-b763-0bfa3f5c1731","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/5082d460-880d-4ee1-83a3-352e0464f299?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638409048271588862&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/5082d460-880d-4ee1-83a3-352e0464f299?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638409048271588862&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDE[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-15T03:51:22.0481882Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-06T13:17:51.6966031Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/ca5617138654acr","name":"ca5617138654acr","type":"Microsoft.ContainerRegi[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr","name":"ca955670998facr","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-15T08:45:06.1369798+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T08:45:06.1369798+00:00"},"properties":{"loginServer":"ca955670998facr.azurecr.io","creationDate":"2024-01-15T08:45:06.1369798Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-01-15T08:45:18.0283572+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-01-15T08:45:18.0284118+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/operationStatuses/registries-5a9a0a92-b382-11ee-84c4-c85acf032b42?api-version=2022-02-01-preview&t=638409051184651004&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/operationStatuses/registries-5a9a0a92-b382-11ee-84c4-c85acf032b42?api-version=2022-02-01-preview&t=638409051184651004&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"ca955670998facr","passwords":[{"name":"password","value":"rJoihL3GzHHl/2jDbtSxn22dqWry669F5RASoLmChH+ACRD2DCpD"},{"name":"password2","value":"KBn99Hrblr13CsBiv5heQJoHZftxvdtotmKxjFtoCR+ACRAr3wrZ"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged75.blob.core.windows.net/ad96ee613cd74494a6b3660f34d0d0a5-he081mns8i/source/202401150000/83acf80e-d5ce-4c84-9ae6-306582c8688f.tar.gz?sv=2021-12-02&se=2024-01-15T09%3A45%3A23Z&sr=b&sp=cw&sig=Wk%2FHYSPfV9HVmKH2dHwlc9o8Enb96I2urYacsYwQXvs%3D","relativePath":"source/202401150000/83acf80e-d5ce-4c84-9ae6-306582c8688f.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICKLwpGUC/2J1aWxkX2FyY2hpdmVfYWRlMWQ5ZTYyYmI0NGI1ZWIyNmMwMzIzNzIyOGYzMTku
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylYwRCkpEBByUcWkm243Ucp2emJDX0dI+7eyRknuO8
      zXr37fGSzcbJyz7HcRIbG4yFbTA3GOPb3IeEAAkEkhAGXQgkEIdc+1VV90zPIQEOjFlTn/0xre6q
      7/vq+o7q6iqP1+OdVSEtnYelMNYn3RHwcRjv1+fLy09c0/t+X64/dxJaOikLEDNMSQf2k+5NyJ2O
      IqYcwSX+Qp/fnz+j0J/vmeEvzPX7pk+eJOAbD94s8KCDurCwcPzxD9f+/II8f25hwJebB/cDvkIY
      /wVi/N9x8Aj9L/S/0P/3LEjRqIFNU1ZrDc8cXI8V[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:cli-containerapp-20240115164504928231"], "isPushEnabled":
      true, "noCache": false, "dockerFilePath": "a75670a905d14a269367285512314860_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202401150000/83acf80e-d5ce-4c84-9ae6-306582c8688f.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-01-15T08:45:26+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T08:45:25.8484995+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca955670998facr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged75.blob.core.windows.net/ad96ee613cd74494a6b3660f34d0d0a5-he081mns8i/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A55%3A27Z&sr=b&sp=r&sig=47QHAvOejoE0Grz4uI4Irpp2B%2F0b46F3R5%2BXEAhl%2F2w%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:45:28 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged75.blob.core.windows.net/ad96ee613cd74494a6b3660f34d0d0a5-he081mns8i/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A55%3A27Z&sr=b&sp=r&sig=47QHAvOejoE0Grz4uI4Irpp2B%2F0b46F3R5%2BXEAhl%2F2w%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A652AF1D54"'
      last-modified:
      - Mon, 15 Jan 2024 08:45:27 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:45:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:45:29 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/ad96ee613cd74494a6b3660f34d0d0a5-he081mns8i/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A55%3A27Z&sr=b&sp=r&sig=47QHAvOejoE0Grz4uI4Irpp2B%2F0b46F3R5%2BXEAhl%2F2w%3D
  response:
    body:
      string: "2024/01/15 08:45:26 Downloading source code...\r\n2024/01/15 08:45:27
        Finished downloading source code\r\n2024/01/15 08:45:27 Using acb_vol_e2c4fd59-00c4-48ee-ac9d-746ac41e8a02
        as the home volume\n2024/01/15 08:45:27 Setting up Docker configuration...\n2024/01/15
        08:45:28 Successfully set up Docker configuration\n2024/01/15 08:45:28 Logging
        in to registry: ca955670998facr.azurecr.io\n2024/01/15 08:45:28 Successfully
        logged into ca955670998facr.azurecr.io\n2024/01/15 08:45:28 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/01/15
        08:45:28 Scanning for dependencies...\n2024/01/15 08:45:29 Successfully scanned
        dependencies\n2024/01/15 08:45:29 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-763/764
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A653E3C71A"'
      last-modified:
      - Mon, 15 Jan 2024 08:45:29 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:45:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:46:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged75.blob.core.windows.net/ad96ee613cd74494a6b3660f34d0d0a5-he081mns8i/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A55%3A27Z&sr=b&sp=r&sig=47QHAvOejoE0Grz4uI4Irpp2B%2F0b46F3R5%2BXEAhl%2F2w%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A66A22A512"'
      last-modified:
      - Mon, 15 Jan 2024 08:46:06 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:45:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:46:08 GMT
      x-ms-range:
      - bytes=5599-9694
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged75.blob.core.windows.net/ad96ee613cd74494a6b3660f34d0d0a5-he081mns8i/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A55%3A27Z&sr=b&sp=r&sig=47QHAvOejoE0Grz4uI4Irpp2B%2F0b46F3R5%2BXEAhl%2F2w%3D
  response:
    body:
      string: "cli-containerapp-20240115164504928231: digest: sha256:0e3951377bb06e0138f62be6c0ebacdf4db6d083c29538de415022dbdc3b00a8
        size: 1786\n2024/01/15 08:46:05 Successfully pushed image: ca955670998facr.azurecr.io/containerapp000003:cli-containerapp-20240115164504928231\n2024/01/15
        08:46:05 Step ID: build marked as successful (elapsed time in seconds: 28.285483)\n2024/01/15
        08:46:05 Populating digests for step ID: build...\n2024/01/15 08:46:06 Successfully
        populated digests for step ID: build\n2024/01/15 08:46:06 Step ID: push marked
        as successful (elapsed time in seconds: 8.266961)\n2024/0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "ca955670998facrazurecrio-ca955670998facr",
      "value": "rJoihL3GzHHl/2jDbtSxn22dqWry669F5RASoLmChH+ACRD2DCpD"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "ca955670998facr.azurecr.io", "username": "ca955670998facr",
      "passwordSecretRef": "ca955670998facrazurecrio-ca955670998facr"}], "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "ca955670998facr.azurecr.io/containerapp000003:cli-containerapp-20240115164504928231",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
[...]
