interactions:
- request:
    body: '{"location": "eastus", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"9f4ef785-b102-4914-bfe8-80d259a772df","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-29T08:25:23.6036529Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-30T06:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-29T08:25:23.6036529Z","modifiedDate":"2023-08-29T08:25:23.6036529Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"9f4ef785-b102-4914-bfe8-80d259a772df","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-29T08:25:23.6036529Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-30T06:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-29T08:25:23.6036529Z","modifiedDate":"2023-08-29T08:25:23.6036529Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"yxJ1jmql5DbVhBYx18noKWBgM8pVVdXyifnFqS4SXyno1IWZbkS0BvtsUh+Xa3M4NpbHjLZpucSQVxSppdGvGA==","secondarySharedKey":"WkbK+dp9r1tUln/RwgWOSuKAYEBrqGXSCrmXBu9O2Z80lzv6uNXv3okj/a95YLAKR9mAmaxbXqMZXxz25lFPDg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
[...]
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "9f4ef785-b102-4914-bfe8-80d259a772df",
      "sharedKey": "yxJ1jmql5DbVhBYx18noKWBgM8pVVdXyifnFqS4SXyno1IWZbkS0BvtsUh+Xa3M4NpbHjLZpucSQVxSppdGvGA=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-29T08:25:30.359488Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-29T08:25:30.359488Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"blueisland-bc385e02.eastus.azurecontainerapps.io","staticIp":"20.62.240.224","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"9f4ef785-b102-4914-bfe8-80d259a772df","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/3529bd5a-450f-428e-92d4-468f94167ce3?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-29T08%3a25%3a34&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwNzI3MDYzNjM2WjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/3529bd5a-450f-428e-92d4-468f94167ce3?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-29T08%3A25%3A34&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "testsecret", "value": "testsecretvalue",
      "keyVaultUrl": "", "identity": ""}], "triggerType": "manual", "replicaTimeout":
      200, "replicaRetryLimit": 2, "manualTriggerConfig": {"replicaCompletionCount":
      1, "parallelism": 1}, "scheduleTriggerConfig": null, "eventTriggerConfig": null,
      "registries": null, "dapr": null}, "template": {"containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest",
      "name": "job1000003", "command": null, "args": null, "env": null, "resources":
      {"cpu": 0.25, "memory": "0.5Gi"}, "volumeMounts": null}], "initContainers":
      null, "volumes": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003","name":"job1000003","type":"Microsoft.App/jobs","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-29T08:27:34.7792659Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-29T08:27:34.7792659Z"},"properties":{"provisioningState":"InProgress","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"configuration":{"secrets":[{"name":"testsecret","keyVaultUrl":"","identity":""}],"triggerType":"Manual","replicaTimeout":200,"replicaRetryLimit":2,"manualTriggerConfig":{"replicaCompletionCount":1,"parallelism":1},"scheduleTriggerConfig":null,"eventTriggerConfig":null,"registries":null,"dapr":null},"template":{"containers":[{"image":"mcr.microsoft.com/k8se/quickstart-jobs:latest","name":"job1000003","resources":{"cpu":0.25,"memory":"0.5Gi","ephemeralStorage":"1Gi"}}],"initContainers":null,"volumes":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/job1000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003/listSecrets?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value":[{"name":"testsecret","value":"testsecretvalue"}]}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
