interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggkazle3zdtv6juphgqoje?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a4462884-8944-4c93-bec7-52000d1286c7","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-09T21:18:15.1966209Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-10T06:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-09T21:18:15.1966209Z","modifiedDate":"2023-11-09T21:18:15.1966209Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggkazle3zdtv6juphgqoje","name":"workspace-clitestrggkazle3zdtv6juphgqoje","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5100c1e0-0000-0100-0000-654d4c970000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggkazle3zdtv6juphgqoje?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggkazle3zdtv6juphgqoje?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a4462884-8944-4c93-bec7-52000d1286c7","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-09T21:18:15.1966209Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-10T06:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-09T21:18:15.1966209Z","modifiedDate":"2023-11-09T21:18:15.1966209Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggkazle3zdtv6juphgqoje","name":"workspace-clitestrggkazle3zdtv6juphgqoje","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5100c1e0-0000-0100-0000-654d4c970000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggkazle3zdtv6juphgqoje/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"BLjOUaVjEdpA0H1vde2eatforjuZ5b6oCPv3SGEXdcWN00QfqnmT2qpgUW7w83Vqgwi10BMxz+bE2byrLNIBjw==","secondarySharedKey":"EMumKeKzyaYY4dpYT/p6HGjVurQ+l2tS2eOmZAPGOUGxRwKlhGSTNASbx5fSOOv62LbgalgSGRTZbx6UdeAMrw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "a4462884-8944-4c93-bec7-52000d1286c7",
      "sharedKey": "BLjOUaVjEdpA0H1vde2eatforjuZ5b6oCPv3SGEXdcWN00QfqnmT2qpgUW7w83Vqgwi10BMxz+bE2byrLNIBjw==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T21:18:17.1266473Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T21:18:17.1266473Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"agreeableriver-c6484484.eastus.azurecontainerapps.io","staticIp":"20.84.23.79","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"a4462884-8944-4c93-bec7-52000d1286c7","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"C1A7D31D77B66BE5AAD62AA3EAAE9656177E84E302C60DC537D33D3D4017DC89","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"firstPartyConfiguration":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/c9e1a457-10e0-4f54-abd4-ea36a6633411?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351614983923208&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/c9e1a457-10e0-4f54-abd4-ea36a6633411?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351614983923208&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironme[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-daniv-containerregistry/providers/Microsoft.ContainerRegistry/registries/cadanivcontainerregistry","name":"cadanivcontainerregistry","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"westus2","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-03-17T18:17:30.7016774Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-17T18:18:26.7376211Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sourcetocloudtest1030/providers/Microsoft.ContainerRegistry/registries/ca00583a3a9aacr","name":"ca00583a3a9aacr","type":"Microsoft.ContainerRegistry/reg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90","name":"builder47c90","type":"Microsoft.App/builders","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T21:23:42.4869606Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T21:23:42.4869606Z"},"properties":{"provisioningState":"Creating","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","containerRegistries":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6MWEyZjA2ZTUtNjJkYi00ZGMwLWI1MDktY2Y4NDk3ZWYyMjBl?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351618227213256&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6MWEyZjA2ZTUtNjJkYi00ZGMwLWI1MDktY2Y4NDk3ZWYyMjBl?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351618227213256&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2","name":"build47c90a2","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T21:25:05.3354411Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T21:25:05.3354411Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder47c90/builds/build47c90a2/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder47c90/builds/build47c90a2/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRzOjA0Mzg4MWYzLTNiNjgtNDYzZ[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2/listAuthToken?api-version=2023-08-01-preview
  response:
    body:
      string: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjAwZWE3NGZhLWJjZWUtNDk5ZS1iNjc3LWY2NWRlOWE4MWFhMCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnZ2themxlM3pkdHY2anVwaGdxb2pleGd1cHV6bXI1cXlibmV4b3VpdWVtemZxYmtkZmt1NnVndXdwdjVhdWpwN2giLCJidWlsZF9uYW1lIjoiYnVpbGQ0N2M5MGEyIiwiY2FwcF9qaXRfZXhwaXJ5IjoiMjAyMy0xMS0wOVQyMjoyNTowNi4yOTM4MzUzWiIsIm5iZiI6MTY5OTU2NTEwNiwiZXhwIjoxNjk5NTY4NzA2LCJpYXQiOjE2OTk1NjUxMDYsImlzcyI6IkF6dXJlQ29udGFpbmVyQXBwcyIsImF1ZCI6Imh0dHBzOi8vZWFzdHVzLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ.LLR6Qcnb8UqrdNG373hVJdC4GCkOBoM3gM61PXWdVAQ","expires":"2023-11-09T22:25:06.2938353Z"}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      LS00NDIzOWI1YjQ1YjhkNGY0ZTgxNGUyOTlmNWE1ZDNkYg0KQ29udGVudC1EaXNwb3NpdGlvbjog
      Zm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImJ1aWxkX2RhdGEudGFyLmd6Ig0KQ29u
      dGVudC1UeXBlOiBhcHBsaWNhdGlvbi94LXRhcg0KDQofiwgIMU5NZQL/YnVpbGQ0N2M5MGEyLnRh
      cgDtPfl3FMeZym72F/b5Pf8J5fHbRPhpLkkjYSHJYEyCsgZrETbxOonTM1OSGnq6x909OuKXOG+z
      3n17vGSzcfKyz7GdxMYGY2EbzA2W8W0EiENCAgkEujDoQiCBOOTar6q6Z3o0Iw4HjXGogk/dU131
      fV9d31FdXeXxerzzyqW6RVgKYz1rRoKPh+muPl9e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2","name":"build47c90a2","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T21:25:05.3354411Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T21:25:05.3354411Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","destinationContainerRegistry":{"server":"default","image":"default/build47c90a2"},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder47c90/builds/build47c90a2/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder47c90/builds/build47c90a2/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder47c90/builds/build47c90a2/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder47c90/builds/build47c90a2/logstream
  response:
    body:
      string: '2023-11-09T21:25:13.63073  Connecting to the container ''build47c90a2''...

        2023-11-09T21:25:13.65351  Kubernetes error happened. Closing the connection.

        '
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder47c90/builds/build47c90a2/logstream
  response:
    body:
      string: "2023-11-09T21:25:18.22042  Connecting to the container 'build47c90a2'...\n2023-11-09T21:25:18.23766
        \ Successfully Connected to container: 'build47c90a2' [Build: 'build47c90a2'
        Execution: 'build-56b36fc8fc2b34cdd978-atu16px-md4n8']\n2023-11-09T21:25:20.985892150Z
        Found app source at '/tmp/appsource/build47c90a2-app.tar.gz'. Extracting to
        /workspace/\n2023-11-09T21:25:20.990496749Z tar: Removing leading `/' from
        member names\n2023-11-09T21:25:20.999310258Z Updating certificates in /etc/ssl/certs...\n2023-11-09T21:25:21.677493438Z
        rehash: warning: skipping internalregistry.pem,it does not contain exactly
        one certificate or CRL\n2023-11-09T21:25:21.679956623Z 3 added, 0 removed;
        done.\n2023-11-09T21:25:21.679974877Z Running hooks in /etc/ca-certificates/update.d...\n2023-11-09T21:25:21.680694656Z
        done.\n2023-11-09T21:25:21.683909122Z ----- Initiating buildpack build -----\n2023-11-09T21:25:21.683924671Z
        ----- Cloud Build correlation id: '77ad63ba4b37e9619d95d8dbdb191b18' -----\n2023-11-09T21:25:21.683929901Z
        \n2023-11-09T21:25:21.683960899Z \n2023-11-09T21:25:21.683968093Z ===== Executing
        the analyze phase =====\n2023-11-09T21:25:21.704458663Z Starting analyzer...\n2023-11-09T21:25:21.704482959Z
        Parsing inputs...\n2023-11-09T21:25:21.704488839Z Ensuring privileges...\n2023-11-09T21:25:51.720231694Z
        Executing command...\n2023-11-09T21:25:52.507554386Z Timer: Analyzer started
        at 2023-11-09T21:25:52Z\n2023-11-09T21:25:52.518534267Z Image with name \"default/build47c90a2\"
        not found\n2023-11-09T21:25:52.562224208Z Found image with identifier \"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\"\n2023-11-09T21:25:52.562941289Z
        Timer: Analyzer ran for 55.429226ms and ended at 2023-11-09T21:25:52Z\n2023-11-09T21:25:52.562957940Z
        Run image info in analyzed metadata is: \n2023-11-09T21:25:52.563055091Z {\"Reference\":\"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\",\"Image\":\"mcr.microsoft.com/oryx/builder:stack-run-debian-bullseye-20230926.1\",\"Extend\":false,\"target\":{\"os\":\"linux\",\"arch\":\"amd64\"}}\n2023-11-09T21:25:52.564432797Z
        \n2023-11-09T21:25:52.564448216Z ===== Executing the detect phase =====\n2023-11-09T21:25:52.583838068Z
        Starting detector...\n2023-11-09T21:25:52.583861592Z Parsing inputs...\n2023-11-09T21:25:52.583867954Z
        Ensuring privileges...\n2023-11-09T21:25:52.583872713Z Executing command...\n2023-11-09T21:25:52.585740418Z
        \e[33;1mWarning: \e[0mPlatform requested experimental feature 'Dockerfiles'\n2023-11-09T21:25:52.58575712[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
