interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggzthr2hbttrm32xtwqs2j?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"047ab81f-3ce0-41a7-bc47-97c2596825b3","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-28T20:35:42.9291792Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-29T18:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-28T20:35:42.9291792Z","modifiedDate":"2023-08-28T20:35:42.9291792Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggzthr2hbttrm32xtwqs2j","name":"workspace-clitestrggzthr2hbttrm32xtwqs2j","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggzthr2hbttrm32xtwqs2j?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggzthr2hbttrm32xtwqs2j?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"047ab81f-3ce0-41a7-bc47-97c2596825b3","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-28T20:35:42.9291792Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-29T18:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-28T20:35:42.9291792Z","modifiedDate":"2023-08-28T20:35:42.9291792Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggzthr2hbttrm32xtwqs2j","name":"workspace-clitestrggzthr2hbttrm32xtwqs2j","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggzthr2hbttrm32xtwqs2j/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"UbuqP0bvO+nFfRzDMO+Oz0vYwpmA0L8csc7S3ZdUf9gTjCYC0aMgmnZYHEVN1jo4/BHcC9ztchcD/v1RPINFDg==","secondarySharedKey":"0c4XXJKXTKM4fwrY0HR1dXfvBkb5a1Mj0/OWzA4ET8Q18jmhTNg09c1m5GOw1v52ByjT/5hboxVnA9UbNNU18Q=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "047ab81f-3ce0-41a7-bc47-97c2596825b3",
      "sharedKey": "UbuqP0bvO+nFfRzDMO+Oz0vYwpmA0L8csc7S3ZdUf9gTjCYC0aMgmnZYHEVN1jo4/BHcC9ztchcD/v1RPINFDg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-28T20:35:44.3422253Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T20:35:44.3422253Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"lemonbeach-38d0afd1.eastus.azurecontainerapps.io","staticIp":"20.232.234.50","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"047ab81f-3ce0-41a7-bc47-97c2596825b3","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/b6ad0c1e-a199-4115-92e7-f8b6d2385bee?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-28T20%3a35%3a49&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/b6ad0c1e-a199-4115-92e7-f8b6d2385bee?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-28T20%3A35%3A49&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-28T20:37:14.4340358+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T20:37:14.4340358+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-08-28T20:37:14.4340358Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-28T20:37:15.9119012+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-28T20:37:15.9119544+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-adc42314-45e2-11ee-9944-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-adc42314-45e2-11ee-9944-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-adc42314-45e2-11ee-9944-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"PDWn9IkWaaDz1taYymQDujxy5r0LjspZZGj7D6J5GR+ACRA1kVPy"},{"name":"password2","value":"RepN0Q8X+pZKUGh2CX+ntsSyIjdL9sYQw2UtiF7C9++ACRA3bzO1"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/source/202308280000/9b2955e8-c5c1-41c0-ae7a-b0c6e0785cbe.tar.gz?sv=2021-12-02&se=2023-08-28T21%3A37%3A20Z&sr=b&sp=cw&sig=h6p3QVtwBPJYyGoChmXkoFrWDtjiHhNJFx%2BdLCKcPdA%3D","relativePath":"source/202308280000/9b2955e8-c5c1-41c0-ae7a-b0c6e0785cbe.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICIMF7WQC/2J1aWxkX2FyY2hpdmVfZjFiNDExYTI2NzZlNDQ0MmFhOWRmNmVmYjg0ODBmYmMu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfswpaYSFJCMDDko4tJJsx+s4Ts9MSWro6R5390jIfo7z
      Nuvdt8dLNhsnL/u8jpPY2GAMtsHcYIxvcx8SAiQQSEIYdCGQQBxy7VdV3TM9hwQ4MCamPvtjWt1V
      3/fV9R3V1VUer8c7s1JaMhdLEaxPui3g4zDer8+Xn5+8pvf9/oJC/yS0ZFIOIG6Ykg7sb3Uh/0og
      UISiphzFpf7g9KDv/sLp9wc8RUUF04OFkycJ+OaDNwc86HgoKioaf/xnXBcFinyTUKEY/7cdPEL/
      C/0v9P9dC1IsZmDTlNU6wzMbN2BFi0WxanoWGZp6K8d/MBg[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20230828133723924169"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "4d5b11661c6f48e4bb843021f0817dae_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202308280000/9b2955e8-c5c1-41c0-ae7a-b0c6e0785cbe.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-28T20:37:22+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T20:37:21.6404109+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A22Z&sr=b&sp=r&sig=xDCP%2Bx2HGmOGCwURxX3AA0doeQzzc7v7apCLbP4mdZo%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:37:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A22Z&sr=b&sp=r&sig=xDCP%2Bx2HGmOGCwURxX3AA0doeQzzc7v7apCLbP4mdZo%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA8069513038C"'
      last-modified:
      - Mon, 28 Aug 2023 20:37:22 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:22 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:37:27 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A22Z&sr=b&sp=r&sig=xDCP%2Bx2HGmOGCwURxX3AA0doeQzzc7v7apCLbP4mdZo%3D
  response:
    body:
      string: "2023/08/28 20:37:22 Downloading source code...\r\n2023/08/28 20:37:23
        Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA8069584CD4A"'
      last-modified:
      - Mon, 28 Aug 2023 20:37:23 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:22 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:37:29 GMT
      x-ms-range:
      - bytes=102-4197
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A22Z&sr=b&sp=r&sig=xDCP%2Bx2HGmOGCwURxX3AA0doeQzzc7v7apCLbP4mdZo%3D
  response:
    body:
      string: "2023/08/28 20:37:23 Using acb_vol_4acedbfa-a757-4f0a-8b59-83a585172ea8
        as the home volume\n2023/08/28 20:37:23 Setting up Docker configuration...\n2023/08/28
        20:37:24 Successfully set up Docker configuration\n2023/08/28 20:37:24 Logging
        in to registry: containerapp000004.azurecr.io\n2023/08/28 20:37:24 Successfully
        logged into containerapp000004.azurecr.io\n2023/08/28 20:37:24 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2023/08/28
        20:37:24 Scanning for dependencies...\n2023/08/28 20:37:25 Successfully scanned
        dependencies\n2023/08/28 20:37:25 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 102-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA80696D967DD"'
      last-modified:
      - Mon, 28 Aug 2023 20:37:25 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:22 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:38:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A22Z&sr=b&sp=r&sig=xDCP%2Bx2HGmOGCwURxX3AA0doeQzzc7v7apCLbP4mdZo%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA806B0A927AD"'
      last-modified:
      - Mon, 28 Aug 2023 20:38:09 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 20:37:22 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 20:38:13 GMT
      x-ms-range:
      - bytes=5610-9705
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged191.blob.core.windows.net/cf2bd3af2fe746ea954ebf872a3b764c-tdgkgg6lul/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T21%3A47%3A22Z&sr=b&sp=r&sig=xDCP%2Bx2HGmOGCwURxX3AA0doeQzzc7v7apCLbP4mdZo%3D
  response:
    body:
      string: "20230828133723924169: digest: sha256:57a4a7d7fb604bf226b041b46bd3c630c322b045c290277c6d093c6b026cab15
        size: 1786\n2023/08/28 20:38:07 Successfully pushed image: containerapp000004.azurecr.io/containerapp000003:20230828133723924169\n2023/08/28
        20:38:07 Step ID: build marked as successful (elapsed time in seconds: 29.206538)\n2023/08/28
        20:38:07 Populating digests for step ID: build...\n2023/08/28 20:38:08 Successfully
        populated digests for step ID: build\n2023/08/28 20:38:08 Step ID: push marked
        as successful (elapsed time in seconds: 13.349933)\n2023/08/28 20:38:08 The[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "containerapp000004azurecrio-containerapp000004",
      "value": "PDWn9IkWaaDz1taYymQDujxy5r0LjspZZGj7D6J5GR+ACRA1kVPy"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "containerapp000004.azurecr.io", "username": "containerapp000004",
      "passwordSecretRef": "containerapp000004azurecrio-containerapp000004"}], "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "containerapp000004.azurecr.io/containerapp000003:20230828133723924169",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
[...]
