interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2022-05-03T00:35:40Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"containerApps"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrghojuozok5qhgwgx6z2nos?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"b0735637-66ba-4250-aad5-90522b5ea4b1\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Tue, 03 May 2022 00:35:49 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Tue, 03 May 2022 03:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Tue, 03 May 2022 00:35:49 GMT\",\r\n
        \   \"modifiedDate\": \"Tue, 03 May 2022 00:35:49 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/workspace-clitestrghojuozok5qhgwgx6z2nos\",\r\n
        \ \"name\": \"workspace-clitestrghojuozok5qhgwgx6z2nos\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrghojuozok5qhgwgx6z2nos/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primarySharedKey\": \"T0DNeRe9nrHwRJzKfYP3DH1fSyWgjIojqKQVO//Nxzf0Qn8JAtXjgLgBQvLh2rmyiRYzCpyw/vysmLGKZ+n+Mw==\",\r\n
        \ \"secondarySharedKey\": \"/OVBiysjkPtHQswjWVF/0/ol/TZELYvrKuQfhdYT1ppqPAbhor2SBS7ycafgrBeU/NMd5UYZ7tP/V/c5bT59XA==\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "internalLoadBalancerEnabled": false, "appLogsConfiguration":
      {"destination": "log-analytics", "logAnalyticsConfiguration": {"customerId":
      "b0735637-66ba-4250-aad5-90522b5ea4b1", "sharedKey": "T0DNeRe9nrHwRJzKfYP3DH1fSyWgjIojqKQVO//Nxzf0Qn8JAtXjgLgBQvLh2rmyiRYzCpyw/vysmLGKZ+n+Mw=="}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","name":"env000003","type":"Microsoft.App/managedEnvironments","location":"centraluseuap","systemData":{"createdBy":"calcha@microsoft.com","createdByType":"User","createdAt":"2022-05-03T00:36:23.5030545Z","lastModifiedBy":"calcha@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-03T00:36:23.5030545Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"niceocean-8866d580.centraluseuap.azurecontainerapps.io","staticIp":"20.46.24.142","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"b0735637-66ba-4250-aad5-90522b5ea4b1"}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/centraluseuap/managedEnvironmentOperationStatuses/43e1c79e-34b8-403d-8cdc-067120a2bb1c?api-version=2022-01-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "traffic":
      null, "customDomains": null}, "dapr": null, "registries": null}, "template":
      {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "capp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "scale": {"minReplicas": 1, "maxReplicas": null,
      "rules": []}, "volumes": null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps","location":"Central
        US EUAP","systemData":{"createdBy":"calcha@microsoft.com","createdByType":"User","createdAt":"2022-05-03T00:37:25.19162Z","lastModifiedBy":"calcha@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-03T00:37:25.19162Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","outboundIpAddresses":["20.51.25.145","20.51.25.143","20.51.25.147"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"A5B12E93C19D795D34DF79C449C2C3BAF58329ACBE54CAAF49EDCD93822ACCE8","configuration":{"activeRevisionsMode":"Single","ingress":{"fqdn":"capp000002.niceocean-8866d580.centraluseuap.azurecontainerapps.io","external":true,"targetPort":80,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"allowInsecure":false}},"template":{"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"capp000002","resources":{"cpu":0.5,"memory":"1Gi"}}],"scale":{"minReplicas":1,"maxReplicas":10}}},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/centraluseuap/containerappOperationStatuses/98c8f4d3-acde-4fc8-89a0-a1aaa01407a4?api-version=2022-03-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps","location[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://capp000002.niceocean-8866d580.centraluseuap.azurecontainerapps.io/
  response:
    body:
      string: "<html>\n<head>\n  <title>Welcome to Azure Container Apps!</title>\n</head>\n<style>\nh1
        {\n    color: #552f99;\n    font-family:arial, sans-serif;\n    font-weight:
        lighter;\n} \nbody{\n    margin-top: 30px;\n    background-color: #EEE;\n}\n</style>\n\n<body>\n\n<div
        align=\"center\">\n<h1>Welcome to Azure Container Apps!</h1>\n\n<svg xmlns=\"http://www.w3.org/2000/svg\"
        width=\"300\" height=\"300\" viewBox=\"0 0 18 18\">\n    <defs>\n      <linearGradient
        id=\"b27f1ad0-7d11-4247-9da3-91bce6211f32\" x1=\"8.798\" y1=\"8.703\" x2=\"14.683\"
        y2=\"8.703\" gradientUnits=\"userSpaceOnUse\">\n        <stop offset=\"0.001\"
        stop-color=\"#773adc\"/>\n        <stop offset=\"1\" stop-color=\"#552f99\"/>\n
        \     </linearGradient>\n      <linearGradient id=\"b2f92112-4ca9-4b17-a019-c9f26c1a4a8f\"
        x1=\"5.764\" y1=\"3.777\" x2=\"5.764\" y2=\"13.78\" gradientUnits=\"userSpaceOnUse\">\n
        \       <stop offset=\"0\" stop-color=\"#a67af4\"/>\n        <stop offset=\"0.999\"
        stop-color=\"#773adc\"/>\n      </linearGradient>\n    </defs>\n    <g id=\"b8a0486a-5501-4d92-b540-a766c4b3b548\">\n
        \     <g>\n        <g>\n          <g>\n            <path d=\"M16.932,11.578a8.448,8.448,0,0,1-7.95,5.59,8.15,8.15,0,0,1-2.33-.33,2.133,2.133,0,0,0,.18-.83c.01,0,.03.01.04.01a7.422,7.422,0,0,0,2.11.3,7.646,7.646,0,0,0,6.85-4.28l.01-.01Z\"
        fill=\"#32bedd\"/>\n            <path d=\"M3.582,14.068a2.025,2.025,0,0,0-.64.56,8.6,8.6,0,0,1-1.67-2.44l1.04.23v.26a.6.6,0,0,0,.47.59l.14.03a6.136,6.136,0,0,0,.62.73Z\"
        fill=\"#32bedd\"/>\n            <path d=\"M12.352.958a2.28,2.28,0,0,0-.27.81c-.02-.01-.05-.02-.07-.03a7.479,7.479,0,0,0-3.03-.63,7.64[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--p9wkomp/replicas?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--p9wkomp/replicas/capp000002--p9wkomp-5d7f8fff98-mhznq","name":"capp000002--p9wkomp-5d7f8fff98-mhznq","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2022-05-03T00:37:28Z","containers":[{"name":"capp000002","containerId":"containerd://4a46eafda7352e25bcd8bf8e35f00aedd1517026de3239175546bb1f8baa73de","ready":true,"started":true,"restartCount":0},{"name":"identity-service-0cee4339","containerId":"containerd://06f498d766e3c151477a7bacb9f602b40e2b58322c167a85e0d3816caae00ecf","ready":true,"started":true,"restartCount":0}]}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--p9wkomp?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--p9wkomp","name":"capp000002--p9wkomp","type":"Microsoft.App/containerapps/revisions","properties":{"createdTime":"2022-05-03T00:37:28+00:00","fqdn":"capp000002--p9wkomp.niceocean-8866d580.centraluseuap.azurecontainerapps.io","template":{"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"capp000002","resources":{"cpu":0.50,"memory":"1Gi"},"probes":[]}],"scale":{"minReplicas":1,"maxReplicas":10}},"active":true,"replicas":1,"trafficWeight":100,"healthState":"Healthy","provisioningState":"Provisioned"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--p9wkomp/replicas/capp000002--p9wkomp-5d7f8fff98-mhznq/?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--p9wkomp/replicas/capp000002--p9wkomp-5d7f8fff98-mhznq","name":"capp000002--p9wkomp-5d7f8fff98-mhznq","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2022-05-03T00:37:28Z","containers":[{"name":"capp000002","containerId":"containerd://4a46eafda7352e25bcd8bf8e35f00aedd1517026de3239175546bb1f8baa73de","ready":true,"started":true,"restartCount":0},{"name":"identity-service-0cee4339","containerId":"containerd://06f498d766e3c151477a7bacb9f602b40e2b58322c167a85e0d3816caae00ecf","ready":true,"started":true,"restartCount":0}]}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/authtoken?api-version=2022-03-01
  response:
    body:
      string: '{"location":"Central US EUAP","properties":{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjU3MDBmYzk2LTc3YjQtNGY4ZC1hZmNlLWMzNTNkOGM0NDNiZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnaG9qdW96b2s1cWhnd2d4Nnoybm9zMm12aWl2ZGxieTJzbzNxaHJ3dGlzM21rZXB3Y2tzZWN5emlqdDZvc3RvMmYiLCJjYXBwX25hbWUiOiJjYXBwZHdnajR3eGRmbzRhc21uM2Q2N2YiLCJuYmYiOjE2NTE1MzgyNjMsImV4cCI6MTY1MTU0MTg2MywiaWF0IjoxNjUxNTM4MjYzLCJpc3MiOiJBenVyZUNvbnRhaW5lckFwcHMiLCJhdWQiOiJodHRwczovL2NlbnRyYWx1c2V1YXAuYXp1cmVjb250YWluZXJhcHBzLmRldiJ9.lWUwkIX-e_gLMCniSFWcjj6dQjt5auIxyEj2f9BrMdE","expires":"2022-05-03T01:37:43.8782817Z","logStreamEndpoint":"https://centraluseuap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/logstream?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjU3MDBmYzk2LTc3YjQtNGY4ZC1hZmNlLWMzNTNkOGM0NDNiZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnaG9qdW96b2s1cWhnd2d4Nnoybm9zMm12aWl2ZGxieTJzbzNxaHJ3dGlzM21rZXB3Y2tzZWN5emlqdDZvc3RvMmYiLCJjYXBwX25hbWUiOiJjYXBwZHdnajR3eGRmbzRhc21uM2Q2N2YiLCJuYmYiOjE2NTE1MzgyNjMsImV4cCI6MTY1MTU0MTg2MywiaWF0IjoxNjUxNTM4MjYzLCJpc3MiOiJBenVyZUNvbnRhaW5lckFwcHMiLCJhdWQiOiJodHRwczovL2NlbnRyYWx1c2V1YXAuYXp1cmVjb250YWluZXJhcHBzLmRldiJ9.lWUwkIX-e_gLMCniSFWcjj6dQjt5auIxyEj2f9BrMdE","execEndpoint":"wss://centraluseuap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/exec?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjU3MDBmYzk2LTc3YjQtNGY4ZC1hZmNlLWMzNTNkOGM0NDNiZCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnaG9qdW96b2s1cWhnd2d4Nnoybm9zMm12aWl2ZGxieTJzbzNxaHJ3dGlzM21rZXB3Y2tzZWN5emlqdDZvc3RvMmYiLCJjYXBwX25hbWUiOiJjYXBwZHdnajR3eGRmbzRhc21uM2Q2N2YiLCJuYmYiOjE2NTE1MzgyNjMsImV4cCI6MTY1MTU0MTg2MywiaWF0IjoxNjUxNTM4MjYzLCJpc3MiOiJBenVyZUNvbnRhaW5lckFwcHMiLCJhdWQiOiJodHRwczovL2NlbnRyYWx1c2V1YXAuYXp1cmVjb250YWluZXJhcHBzLmRldiJ9.lWUwkIX-e_gLMCniSFWcjj6dQjt5auIxyEj2f9BrMdE"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps/accesstoken"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--p9wkomp/replicas/capp000002--p9wkomp-5d7f8fff98-mhznq/containers/capp000002/logstream?follow=false&output=json&tailLines=20
  response:
    body:
      string: '{"TimeStamp":"2022-05-03T00:37:44.68059","Log":"Connecting to the container
        \u0027capp000002\u0027..."}

        {"TimeStamp":"2022-05-03T00:37:44.6967","Log":"Successfully Connected to container:
        \u0027capp000002\u0027 [Revision: \u0027capp000002--p9wkomp\u0027, Replica:
        \u0027capp000002--p9wkomp-5d7f8fff98-mhznq\u0027]"}

        {"TimeStamp":"2022-05-03T00:37:33.9313098+00:00","Log":"on port 80"}

        '
    headers:
    status:
      code: 200
      message: OK
version: 1
