interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgjpj4dezjapowb5gvhbyq6?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"173a00a7-1fbb-40cc-bc16-25d80967eb47","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-09T17:49:01.9617674Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-09T18:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-09T17:49:01.9617674Z","modifiedDate":"2023-11-09T17:49:01.9617674Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgjpj4dezjapowb5gvhbyq6","name":"workspace-clitestrgjpj4dezjapowb5gvhbyq6","type":"Microsoft.OperationalInsights/workspaces","etag":"\"4f0056c7-0000-0100-0000-654d1b8d0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgjpj4dezjapowb5gvhbyq6?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgjpj4dezjapowb5gvhbyq6?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"173a00a7-1fbb-40cc-bc16-25d80967eb47","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-09T17:49:01.9617674Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-09T18:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-09T17:49:01.9617674Z","modifiedDate":"2023-11-09T17:49:01.9617674Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgjpj4dezjapowb5gvhbyq6","name":"workspace-clitestrgjpj4dezjapowb5gvhbyq6","type":"Microsoft.OperationalInsights/workspaces","etag":"\"4f0056c7-0000-0100-0000-654d1b8d0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgjpj4dezjapowb5gvhbyq6/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"MjmCEv8H0WkXCbvJ6KGJI82XAiKZvsgUZrh07TJXwQlppj7uf6mre2MctTK3TQeo7XGWu6BPqWHV7JRYmay6ug==","secondarySharedKey":"Qt2DpdjsNcn7l+TCe3yTLsyI1ZR08yae4reC1XeoYNjwgLt4u/ObFVvBMe2iE/AwuakbTg4RJV1cSQMfQeX1wA=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "173a00a7-1fbb-40cc-bc16-25d80967eb47",
      "sharedKey": "MjmCEv8H0WkXCbvJ6KGJI82XAiKZvsgUZrh07TJXwQlppj7uf6mre2MctTK3TQeo7XGWu6BPqWHV7JRYmay6ug=="}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T17:49:04.0378016Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:49:04.0378016Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"graysea-fec97008.eastus.azurecontainerapps.io","staticIp":"40.88.202.79","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"173a00a7-1fbb-40cc-bc16-25d80967eb47","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"C1A7D31D77B66BE5AAD62AA3EAAE9656177E84E302C60DC537D33D3D4017DC89","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"firstPartyConfiguration":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/3d35ef16-946f-40c6-9da0-10273da7f67c?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351489463972064&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/3d35ef16-946f-40c6-9da0-10273da7f67c?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351489463972064&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironme[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-daniv-containerregistry/providers/Microsoft.ContainerRegistry/registries/cadanivcontainerregistry","name":"cadanivcontainerregistry","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"westus2","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-03-17T18:17:30.7016774Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-17T18:18:26.7376211Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sourcetocloudtest1030/providers/Microsoft.ContainerRegistry/registries/ca00583a3a9aacr","name":"ca00583a3a9aacr","type":"Microsoft.ContainerRegistry/reg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c","name":"builderc774c","type":"Microsoft.App/builders","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T17:54:21.4240873Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:54:21.4240873Z"},"properties":{"provisioningState":"Creating","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","containerRegistries":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6N2IzZWVjYjAtYjE2OS00OWQ2LTg4YmMtNGY3NjMxOGE3MmFh?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351492616740900&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6N2IzZWVjYjAtYjE2OS00OWQ2LTg4YmMtNGY3NjMxOGE3MmFh?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351492616740900&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04","name":"buildc774c04","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T17:55:46.3336259Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:55:46.3336259Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builderc774c/builds/buildc774c04/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builderc774c/builds/buildc774c04/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRzOmE4MGM0MmVmLWIxOTMtNGM0N[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04/listAuthToken?api-version=2023-08-01-preview
  response:
    body:
      string: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjAwZWE3NGZhLWJjZWUtNDk5ZS1iNjc3LWY2NWRlOWE4MWFhMCIsImNhcHBfcmciOiJjbGl0ZXN0LnJnanBqNGRlemphcG93YjVndmhieXE2d3ZobjM1eGp6Y21waDZ4b2FtYTQyM29lYXdvZ2Q1cGdzcTU2ZGZkM21oZ2EiLCJidWlsZF9uYW1lIjoiYnVpbGRjNzc0YzA0IiwiY2FwcF9qaXRfZXhwaXJ5IjoiMjAyMy0xMS0wOVQxODo1NTo0Ny45NDM5MDQxWiIsIm5iZiI6MTY5OTU1MjU0NywiZXhwIjoxNjk5NTU2MTQ3LCJpYXQiOjE2OTk1NTI1NDcsImlzcyI6IkF6dXJlQ29udGFpbmVyQXBwcyIsImF1ZCI6Imh0dHBzOi8vZWFzdHVzLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ.Vuun7SPs8Z7G_CNtWHbDsznS1lLUpLXX-6Om9cTe42k","expires":"2023-11-09T18:55:47.9439041Z"}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      LS04M2I2ZGMyMjE5ZjY3NTJhYjQ4YjY5N2M1M2FlZTg1NA0KQ29udGVudC1EaXNwb3NpdGlvbjog
      Zm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImJ1aWxkX2RhdGEudGFyLmd6Ig0KQ29u
      dGVudC1UeXBlOiBhcHBsaWNhdGlvbi94LXRhcg0KDQofiwgIIx1NZQL/YnVpbGRjNzc0YzA0LnRh
      cgDtPflzFceZZDf7C1tU+U/ovNQmwsW7dGIsyRAgQVnArKXY8TqOM++9ljQwb2Y8M0/SC+U4tVnv
      1h6VbDZOKltex0lsbDAWtsGcAsv4NgLEISGBBAJdGHQhkEAccu/X3TPvljgsyWzohk9vju7+vv66
      +zt6vp7xeD3ehaukmmVYCmFj1rQkH08T/fp8Obnx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04","name":"buildc774c04","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T17:55:46.3336259Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:55:46.3336259Z"},"properties":{"provisioningState":"Succeeded","buildStatus":"InProgress","destinationContainerRegistry":{"server":"default","image":"default/buildc774c04"},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builderc774c/builds/buildc774c04/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builderc774c/builds/buildc774c04/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builderc774c/builds/buildc774c04/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builderc774c/builds/buildc774c04/logstream
  response:
    body:
      string: '2023-11-09T17:55:53.64487  Connecting to the container ''buildc774c04''...

        2023-11-09T17:55:53.66755  Kubernetes error happened. Closing the connection.

        '
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builderc774c/builds/buildc774c04/logstream
  response:
    body:
      string: "2023-11-09T17:56:02.12292  Connecting to the container 'buildc774c04'...\n2023-11-09T17:56:02.14564
        \ Successfully Connected to container: 'buildc774c04' [Build: 'buildc774c04'
        Execution: 'build-0994d54f4d74a5c0ec36-3ute8co-m5gxl']\n2023-11-09T17:56:03.336450948Z
        Found app source at '/tmp/appsource/buildc774c04-app.tar.gz'. Extracting to
        /workspace/\n2023-11-09T17:56:03.340856538Z tar: Removing leading `/' from
        member names\n2023-11-09T17:56:03.350385927Z Updating certificates in /etc/ssl/certs...\n2023-11-09T17:56:04.021267100Z
        rehash: warning: skipping internalregistry.pem,it does not contain exactly
        one certificate or CRL\n2023-11-09T17:56:04.023435907Z 3 added, 0 removed;
        done.\n2023-11-09T17:56:04.023473969Z Running hooks in /etc/ca-certificates/update.d...\n2023-11-09T17:56:04.024303757Z
        done.\n2023-11-09T17:56:04.027255240Z ----- Initiating buildpack build -----\n2023-11-09T17:56:04.027271741Z
        ----- Cloud Build correlation id: '2061214428b89f4204fb16068a0f9054' -----\n2023-11-09T17:56:04.027277261Z
        \n2023-11-09T17:56:04.027295381Z \n2023-11-09T17:56:04.027309317Z ===== Executing
        the analyze phase =====\n2023-11-09T17:56:04.044744858Z Starting analyzer...\n2023-11-09T17:56:04.044764816Z
        Parsing inputs...\n2023-11-09T17:56:04.044801344Z Ensuring privileges...\n2023-11-09T17:56:34.045299542Z
        Executing command...\n2023-11-09T17:56:34.705963036Z Timer: Analyzer started
        at 2023-11-09T17:56:34Z\n2023-11-09T17:56:34.719078958Z Image with name \"default/buildc774c04\"
        not found\n2023-11-09T17:56:34.771172207Z Found image with identifier \"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\"\n2023-11-09T17:56:34.771922473Z
        Timer: Analyzer ran for 65.97611ms and ended at 2023-11-09T17:56:34Z\n2023-11-09T17:56:34.771941959Z
        Run image info in analyzed metadata is: \n2023-11-09T17:56:34.771987151Z {\"Reference\":\"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\",\"Image\":\"mcr.microsoft.com/oryx/builder:stack-run-debian-bullseye-20230926.1\",\"Extend\":false,\"target\":{\"os\":\"linux\",\"arch\":\"amd64\"}}\n2023-11-09T17:56:34.773531201Z
        \n2023-11-09T17:56:34.773552130Z ===== Executing the detect phase =====\n2023-11-09T17:56:34.791294259Z
        Starting detector...\n2023-11-09T17:56:34.791317723Z Parsing inputs...\n2023-11-09T17:56:34.791325097Z
        Ensuring privileges...\n2023-11-09T17:56:34.791330688Z Executing command...\n2023-11-09T17:56:34.792998440Z
        \e[33;1mWarning: \e[0mPlatform requested experimental feature 'Dockerfiles'\n2023-11-09T17:56:34.79301736[...]
