interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-13T09:08:06.9159389","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T09:08:06.9159389"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"livelypebble-4bdc8f59.eastus.azurecontainerapps.io","staticIp":"52.191.238.10","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"2c2bfa08-413f-427b-aef1-4bd1edf3e5ad","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-07T05:55:12.3764534+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-07T05:55:12.3764534+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-10-07T05:55:12.3764534Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-10-07T05:55:19.3246057+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-10-07T05:55:19.3246473+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-1379d76e-64d6-11ee-8504-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-1379d76e-64d6-11ee-8504-2c0da7bd12b1?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-1379d76e-64d6-11ee-8504-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"srwOt50XAKCPSJ7b4rGt2xP2heL9hmxamO6SFzuz0v+ACRBxUgZW"},{"name":"password2","value":"OtEnEqp0PUBwd8beskPrBTSST22C3be7/GQBHgLnIb+ACRB84vH6"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/mana[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"srwOt50XAKCPSJ7b4rGt2xP2heL9hmxamO6SFzuz0v+ACRBxUgZW"},{"name":"password2","value":"OtEnEqp0PUBwd8beskPrBTSST22C3be7/GQBHgLnIb+ACRB84vH6"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/source/202310070000/223a7a73-a0c5-443c-92df-1efa3005f6e0.tar.gz?sv=2021-12-02&se=2023-10-07T06%3A55%3A37Z&sr=b&sp=cw&sig=hg2erI9fwa2iIUe%2BxaibzWSde7AYgPSmZl%2Bo%2FSxj9Fw%3D","relativePath":"source/202310070000/223a7a73-a0c5-443c-92df-1efa3005f6e0.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICNfyIGUC/2J1aWxkX2FyY2hpdmVfNzI1ZmEzMGY3MjcyNGNhNGI2ZjkzNDJiZGI3NzJhMjQu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp0QiEJCMDDko4tJJsx+s4Ts9MSWro6R5390jIPMd5
      m/Xu2+Mlm42Tl32O4yQ2BozBNpgbjPFt7kNCgAQCSQiDLgQSiEOu/aqqe24JcGBgTX32x7S6q77v
      q+s7qqurXG6Xe0aFtHgOlsJYn3BHwMNhrF+PJ9+fuKb3vR6f1zcBLZ6QA4gZpqQD+wn3J/imoogp
      R3CJNzA1UOj3FXp9Lp83MM03zTdxgoBvPLhzwIMO6sLCwrHHP1x7/X6/Lx/+K6T3Ax74QQVi/N9x
      cAn9L/S/0P/3LUjRqIFNU1ZrDdcsXI8VLRrBqulaaGjq7Rz[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000002:20231007135535564708"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "d02255ac0c9442a7a713cc451929fb4b_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202310070000/223a7a73-a0c5-443c-92df-1efa3005f6e0.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-10-07T05:55:39+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-07T05:55:38.661458+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA09DC1895"'
      last-modified:
      - Sat, 07 Oct 2023 05:55:41 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:55:41 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D
  response:
    body:
      string: "2023/10/07 05:55:40 Downloading source code...\r\n2023/10/07 05:55:41\
        \ Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA09DC1895"'
      last-modified:
      - Sat, 07 Oct 2023 05:55:41 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:55:45 GMT
      x-ms-range:
      - bytes=732-4827
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D
  response:
    body:
      string: "Sending build context to Docker daemon  35.33kB\r\r\nStep 1/17 : FROM\
        \ mcr.microsoft.com/dotnet/aspnet:6.0 AS base\n6.0: Pulling from dotnet/aspnet\n\
        7dbc1adf280e: Pulling fs layer\n969d48310aaa: Pulling fs layer\nafc97c449fa5:\
        \ Pulling fs layer\ne58451d930ad: Pulling fs layer\n4e0f0bdb2d33: Pulling\
        \ fs layer\ne58451d930ad: Waiting\n4e0f0bdb2d33: Waiting\n969d48310aaa: Verifying\
        \ Checksum\n969d48310aaa: Download complete\nafc97c449fa5: Verifying Checksum\n\
        afc97c449fa5: Download complete\ne58451d930ad: Verifying Checksum\ne58451d930ad:\
        \ Download complete\n7dbc1adf280e: Verifying Checksum\n7dbc1adf280e: Download\
        \ complete\n4e0f0bdb2d33: Verifying Checksum\n4e0f0bdb2d33: Download complete\n\
        7dbc1adf280e: Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 732-1427/1428
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA0C8748EE"'
      last-modified:
      - Sat, 07 Oct 2023 05:55:45 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:55:48 GMT
      x-ms-range:
      - bytes=1428-5523
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D
  response:
    body:
      string: "969d48310aaa: Pull complete\nafc97c449fa5: Pull complete\ne58451d930ad:\
        \ Pull complete\n4e0f0bdb2d33: Pull complete\nDigest: sha256:fee44277c9c0d56ef90e1863b3ff4bfad95b9b3aef766f12b0af5660d8c993df\n\
        Status: Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n --->\
        \ 559a4d20c10e\nStep 2/17 : WORKDIR /app\n ---> Running in a3c1318a8885\n\
        Removing intermediate container a3c1318a8885\n ---> be58f23c4d71\nStep 3/17\
        \ : EXPOSE 80\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1428-1851/1852
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA0DE37CF1"'
      last-modified:
      - Sat, 07 Oct 2023 05:55:48 GMT
      x-ms-blob-committed-block-count:
      - '5'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:56:17 GMT
      x-ms-range:
      - bytes=5156-9251
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D
  response:
    body:
      string: "The push refers to repository [containerapp000003.azurecr.io/containerapp000002]\n\
        202ae9216bf3: Preparing\ncfba6b0b4094: Preparing\ne6f237ed06a3: Preparing\n\
        b8d845d8f1db: Preparing\n6ae9ec55dd4b: Preparing\n7a17569cab26: Preparing\n\
        10764c37bcbc: Preparing\n7a17569cab26: Waiting\n10764c37bcbc: Waiting\n202ae9216bf3:\
        \ Pushed\nb8d845d8f1db: Pushed\ncfba6b0b4094: Pushed\ne6f237ed06a3: Pushed\r\
        \n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 5156-5545/5546
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA1F723962"'
      last-modified:
      - Sat, 07 Oct 2023 05:56:17 GMT
      x-ms-blob-committed-block-count:
      - '15'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:56:24 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A05%3A40Z&sr=b&sp=r&sig=tcVEt8%2FnTAetTF9Ub92IYSrIgVpTj6OuVCcXu6AmW%2Bw%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA23C9ADC1"'
      last-modified:
      - Sat, 07 Oct 2023 05:56:24 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 07 Oct 2023 05:55:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "srwOt50XAKCPSJ7b4rGt2xP2heL9hmxamO6SFzuz0v+ACRBxUgZW"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "containerapp000003.azurecr.io", "username": "containerapp000003",
      "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}], "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "containerapp000003.azurecr.io/containerapp000002:20231007135535564708",
      "name": "containerapp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-07T05:56:26.6106908Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-07T05:56:26.6106908Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":null,"outboundIpAddresses":["52.191.234.23"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"containerapp000003azurecrio-containerapp000003"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000002.livelypebble-4bdc8f59.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":[{"server":"containerapp000003.azurecr.io","username":"containerapp000003","passwordSecretRef":"containerapp000003azurecrio-containerapp000003","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000003.azurecr.io/containerapp000002:20231007135535564708","name":"containerapp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/c843a287-493d-4cd0-9c7d-1e3ab8bb400b?api-version=2023-05-02-preview&azureAsyncOperation=true&t=638322549872825719&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
[...]
- request:
    body: !!binary |
      H4sICCLzIGUC/2J1aWxkX2FyY2hpdmVfNzFlNGFjZGRiYmJkNDIwNjgwYzAxMjBhNzhmYmRjNGMu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylYwRCkpEBByUcWkm243Ucp6enJDX0dI+7eyRknuO8
      zXr37fGSzcbJyz7HcRIbA8ZgG8wNxvg29yEhQAKBJIRBFwIJxCHXflXVPbcEODCwpj77Y1rdVd/3
      1fUd1dVVHq/HO6NCWjwHSyFsTLgj4OMw1q/Pl5cfv6b3/b5cf+4EtHhCFiBqWpIB7Cfcn5A7FYUt
      JYxL/IGpgcL83EJ/rifXH5iWOy134gQB33jwZoEHHdSFhYVjj3+49ufn5+fmwX+F9H7ABz+oQIz/
      Ow4eof+F/hf6/74FKRIxsWUpWq3pmYXrsapHwlizPAtNXbu[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Oct 2023 05:56:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged184.blob.core.windows.net/07fb41f89fbb43d697ebe488f5a63776-n5vjrtojr0/logs/ca2/rawtext.log?sv=2021-12-02&se=2023-10-07T07%3A06%3A55Z&sr=b&sp=r&sig=Y%2F9o4fBuok33ahcnnog%2BzpsQHsB2Uf%2FtFBck1iSKvaQ%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBC6FA36B20902"'
      last-modified:
      - Sat, 07 Oct 2023 05:56:56 GMT
[...]
