interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-05-19T18:50:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"b32c09a9-4038-4f24-bcb9-6334a1324bf9\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Thu, 19 May 2022 18:50:45 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Fri, 20 May 2022 04:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Thu, 19 May 2022 18:50:45 GMT\",\r\n
        \   \"modifiedDate\": \"Thu, 19 May 2022 18:50:45 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/containerapp-env000004\",\r\n
        \ \"name\": \"containerapp-env000004\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westeurope\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primarySharedKey\": \"6bONeu4jzfg0ooABQ5zQhEUEYuOhEMIVr5ni0agLFx6tJfoybuV19FQRjJe/x/Hh7xAa31Th7J/TcbXFSp3LDg==\",\r\n
        \ \"secondarySharedKey\": \"5xTrgnbS0wYT6bx0Hthy1eobur6RLohQ3KYiHEp2rfeA1bwk1XsbwmsIjSjHOnpy1T+o/Bdhm/2GgdXQJJcsXg==\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        C[...]
[...]
- request:
    body: '{"location": "westeurope", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "internalLoadBalancerEnabled": false, "appLogsConfiguration":
      {"destination": "log-analytics", "logAnalyticsConfiguration": {"customerId":
      "b32c09a9-4038-4f24-bcb9-6334a1324bf9", "sharedKey": "6bONeu4jzfg0ooABQ5zQhEUEYuOhEMIVr5ni0agLFx6tJfoybuV19FQRjJe/x/Hh7xAa31Th7J/TcbXFSp3LDg=="}},
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","name":"containerapp-env000002","type":"Microsoft.App/managedEnvironments","location":"westeurope","systemData":{"createdBy":"silasstrawn@microsoft.com","createdByType":"User","createdAt":"2022-05-19T18:51:24.9235851Z","lastModifiedBy":"silasstrawn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-19T18:51:24.9235851Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"victorioustree-eba4d72d.westeurope.azurecontainerapps.io","staticIp":"20.76.156.152","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"b32c09a9-4038-4f24-bcb9-6334a1324bf9"}},"zoneRedundant":false}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-05-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westeurope/managedEnvironmentOperationStatuses/68f2ccf2-4cc3-482e-8525-9203ca912c6d?api-version=2022-03-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westeurope", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "traffic":
      null, "customDomains": null}, "dapr": null, "registries": null}, "template":
      {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "scale": null, "volumes": null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"West
        Europe","systemData":{"createdBy":"silasstrawn@microsoft.com","createdByType":"User","createdAt":"2022-05-19T18:52:20.5312153Z","lastModifiedBy":"silasstrawn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-19T18:52:20.5312153Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","outboundIpAddresses":["20.76.154.237","20.76.154.225","20.76.154.242"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"333646C25EDA7C903C86F0F0D0193C412978B2E48FA0B4F1461D339FBBAE3EB7","configuration":{"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000003.victorioustree-eba4d72d.westeurope.azurecontainerapps.io","external":true,"targetPort":80,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"allowInsecure":false}},"template":{"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi"}}],"scale":{"maxReplicas":10}}},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-05-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westeurope/containerappOperationStatuses/eb2991cf-2fd4-4e11-923c-f4e44b9699f5?api-version=2022-03-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003/listCustomHostNameAnalysis?api-version=2022-03-01&customHostname=devtest.containerapp000003.victorioustree-eba4d72d.westeurope.azurecontainerapps.io
  response:
    body:
      string: '{"isHostnameAlreadyVerified":false,"customDomainVerificationTest":"Failed","customDomainVerificationFailureInfo":{"code":"InvalidCustomHostNameValidation","message":"A
        TXT record pointing from asuid.devtest.containerapp000003.victorioustree-eba4d72d.westeurope.azurecontainerapps.io
        to 333646C25EDA7C903C86F0F0D0193C412978B2E48FA0B4F1461D339FBBAE3EB7 was not
        found."},"hasConflictOnManagedEnvironment":false,"cNameRecords":[],"txtRecords":[],"aRecords":["20.76.156.152"],"alternateTxtRecords":[]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
