interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T02:28:47.2579915Z","lastModifiedBy":"64b12d6e-6549-484c-8cc6-6281839ba394","lastModifiedByType":"Application","lastModifiedAt":"2023-11-08T02:31:20.352009Z"},"identity":{"principalId":"e492eb45-b2fc-4a83-9381-941ef611b402","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","connectivityStatus":"Connected","privateLinkState":"Disabled","azureHybridBenefit":"NotApplicable","agentPublicKeyCertificate":"MIICCgKCAgEAn4jJO37St3ni9WBgEN/e+GV6cbHfLZm16UIYIaHET8n7jH6f02EROimDMhbv0H56d4BCjux5zo15svZRM1y4ky3XWpQYzlgGB7MPem3mt6W/90OuISj22TqEqMh6yRfQF6e42JOMyec62LCmVemmX/k9CxTsh8iD70KWjqLuA7fkiAuN/KNSf7WGhLICsdEBeaNEZWh2YaC/MwNsg3Z+rDXVnn5/GQol9IGEIg8oqiAo2Bgbe+G6Yg6UfTvagYJPoL0Q0EKCVSJljpQSg7WBVt87Q4+Pw1OHnSJk0LGGzWIzzrtVJpSXIc3bHspzJNG0XKAILoY7fJfMJwTLv523/LVMIv8i+4YVr9tFN/el3D5DBAp7yp19PQNmL6l0qNFZVxkBBzDAF0vtioe5dxAbiXqShOOKw3345nOWQ1SY2PVvyIT4pum4dDmj0leGppl/QQ6y1AlHVKz5zYEZViLvuOjcUioLqXCZF5ARG0Yb/6bMuYBTol/M/igYiULBtMtQarU+SWyFKK/eVnxM/qxc+1D5KlQKDgidxn64sObo7OAnjyonpK2N3wZq3EjOO30ZgNH/dwKzJi3pMfTfJTI1kHPsm/Ps035hafzWJEr1m0qweWvuqhYtEIHu/7l21EAZUkGDvbIrmjMW2WzpHl2S769L1Cineaor+/EE5xlvLWcCAwEAAQ==","distribution":"aks","infrastructure":"azure","kubernetesVersion":"1.26.6","totalNodeCount":4,"agentVersion":"1.13.4","totalCoreCount":8,"lastConnectivityTime":"2023-11-08T02:31:13.803Z","managedIdentityCertificateExpirationTime":"2024-02-06T02:23:00Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"cc02e8cd-0000-0100-0000-654af2f80000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"90155430-a360-410f-af5d-89dc284d85c6"},{"applicationId":"03db181c-e9d3-4868-9097-f0b728327182","roleDefinitionId":"DE2ADB97-42D8-49C8-8FCF-DBB53EF936AC"},{"applicationId":"a0f92522-89de-4c5e-9a75-0044ccf66efd","roleDefinitionId":"b3429810-7d5c-420e-8605-cf280f3099f2"},{"applicationId":"bd9b7cd5-dac1-495f-b013-ac871e98fa5f","roleDefinitionId":"0d44c8f0-08b9-44d4-9f59-e51c83f95200"},{"applicationId":"585fc3c3-9a59-4720-8319-53cce041a605","roleDefinitionId":"4a9ce2ee-6de2-43ba-a7bd-8f316de763a7"}],"resourceTypes":[{"resourceType":"sourceControlConfigurations","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central India","South
        India","Japan West","Uk West","France South","Korea South","South Africa North","Brazil
        South","Uae North","Norway West","Germany North","Jio India West"],"apiVersions":["2023-05-01","2022-11-01","2022-07-01","2022-03-01","2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"defaultApiVersion":"2022-03-01","capabilities":"SupportsExtension"},{"resourceType":"extensions","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central Indi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","t[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"extensionType":
      "microsoft.app.environment", "autoUpgradeMinorVersion": true, "releaseTrain":
      "stable", "scope": {"cluster": {"releaseNamespace": "appplat-ns"}}, "configurationSettings":
      {"Microsoft.CustomLocation.ServiceAccount": "default", "appsNamespace": "appplat-ns",
      "clusterName": "my-connected-cluster", "envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":
      "clitest.rg000001"}, "configurationProtectedSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext","name":"containerapp-ext","type":"Microsoft.KubernetesConfiguration/extensions","properties":{"extensionType":"microsoft.app.environment","autoUpgradeMinorVersion":true,"releaseTrain":"stable","version":null,"currentVersion":null,"scope":{"cluster":{"releaseNamespace":"appplat-ns"}},"provisioningState":"Creating","configurationSettings":{"Microsoft.CustomLocation.ServiceAccount":"default","appsNamespace":"appplat-ns","clusterName":"my-connected-cluster","envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":"clitest.rg000001"},"configurationProtectedSettings":{},"statuses":[],"aksAssignedIdentity":null,"isSystemExtension":false},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2023-11-08T02:31:47.15931+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2023-11-08T02:31:47.15931+00:00"},"identity":{"type":"SystemAssigned","principalId":"935fc9f6-e491-4b68-8917-7730f23280a3"}}'
    headers:
      api-supported-versions:
      - '2023-05-01'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/3fe09465-dc3f-4c07-9a5f-ce6c66ed0629?api-Version=2023-05-01&t=638350075074170972&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/3fe09465-dc3f-4c07-9a5f-ce6c66ed0629?api-Version=2023-05-01&t=638350075074170972&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterExtensionIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],
      "displayName": "my-custom-location", "hostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster",
      "hostType": "Kubernetes", "namespace": "appplat-ns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location?api-version=2021-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","name":"my-custom-location","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T02:35:31.4066502Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T02:35:31.4066502Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location","provisioningState":"Creating","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/387890cd-67dd-4854-a119-db592987b241?api-version=2021-03-15-preview&t=638350077333442814&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/387890cd-67dd-4854-a119-db592987b241?api-version=2021-03-15-preview&t=638350077333442814&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2Mj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location?api-version=2021-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","name":"my-custom-location","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T02:35:31.4066502Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T02:35:31.4066502Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location","provisioningState":"Succeeded","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location",
      "type": "CustomLocation"}, "tags": null, "location": "eastus", "properties":
      {"staticIp": null, "daprAIConnectionString": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env","name":"my-connected-env","type":"Microsoft.App/connectedEnvironments","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T02:36:13.4638237Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T02:36:13.4638237Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"my-connected-env-zd8ki3k.eastus.k4apps.io","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"}}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationStatuses/57baaf93-12de-416a-a56d-ed5065e72a40?api-version=202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationStatuses/57baaf93-12de-416a-a56d-ed5065e72a40?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638350077763077865&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/certificates?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "my-connected-e-clitest.rgpgyo-8d2d-0163", "type": "Microsoft.App/connectedEnvironments/certificates"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/checkNameAvailability?api-version=2023-08-01-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"password": "test12", "value": "MIIFzwIBAzCCBYsGCSqGSIb3DQEHAaCCBXwEggV4MIIFdDCCAW0GCSqGSIb3DQEHAaCCAV4EggFaMIIBVjCCAVIGCyqGSIb3DQEMCgECoIHMMIHJMBwGCiqGSIb3DQEMAQMwDgQI1pcuwSQZlCACAgfQBIGoBqds6Ro9lBw8YxvXB9xoYZufhhCpsytcKFnq+Uz7ScwUNDFdoS3E5r1WMtp+YyLV13rnvDG4KXFY7tJssxc9hgJEy3S2nPktiNoVBNiWPDNO9JBYXGp9VVCW1gxP/TxT+mT4W4r8ZaRbhzobPhQEnVGCMU8Sl4Wes2zkRKDEFHBIGn+M2XNAf02dCz+vJvKMWtZ5HO210A8HLyBjAO7pxWWbi1/l0/NOMXQwEwYJKoZIhvcNAQkVMQYEBAEAAAAwXQYJKwYBBAGCNxEBMVAeTgBNAGkAYwByAG8AcwBvAGYAdAAgAFMAbwBmAHQAdwBhAHI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/certificates?api-version=2023-08-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env/certificates/my-connected-e-clitest.rgpgyo-8d2d-0163","name":"my-connected-e-clitest.rgpgyo-8d2d-0163","type":"Microsoft.App/connectedEnvironments/certificates","location":"eastus","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-08T02:37:55.9570914","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-08T02:37:55.9570914"},"properties":{"subjectName":"CN=testcert.com","subjectAlternativeNames":["my-subject-name.company.net","my-subject-name.company2.net"],"issuer":"CN=root","issueDate":"2023-04-23T02:36:09","expirationDate":"2028-04-23T02:36:09","thumbprint":"4A52204B1C8DF9C59F60D3B6D0E8640B92CF1F1F","valid":true,"publicKeyHash":"z6cNOX/Zp562+VCQffT+tcQThf8C2g0kdFr5iPYQjII=","provisioningState":"Succeeded"}}]}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationResults/92f38682-7bcf-4e2d-8761-481f9937db26?api-version=2023-08-01-preview&t=638350079022095747&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQ[...]
[...]
