interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","France South","Jio India West","Spain Central","Italy North","Poland
        Central","South India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2025-10-02-preview","2025-07-01","2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-04-14T05:41:59.9183497","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-14T05:44:45.7094345"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"braveforest-05e8858f.eastus.azurecontainerapps.io","staticIp":"135.234.205.115","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.17.2"},"daprConfiguration":{"version":"1.13.6-msft.6"},"ingressConfiguration":null,"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled","diskEncryptionConfiguration":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003","name":"containerapp-user000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"663142d3-d2ed-48c5-af9e-866e39e0271c","clientId":"eb8e8af6-eccf-4593-b3d5-32792b99e741"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": null, "location": "eastus", "extendedLocation": null, "identity":
      {"principalId": null, "tenantId": null, "type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000003":
      {}}}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "personal-access-token", "value": "test_personal_access_token",
      "identity": null, "keyVaultUrl": null}], "triggerType": "Event", "replicaTimeout":
      100, "replicaRetryLimit": 1, "manualTriggerConfig": null, "scheduleTriggerConfig":
      null, "eventTriggerConfig": {"replicaCompletionCount": 1, "parallelism": 1,
      "scale": {"pollingInterval": null, "minExecutions": 0, "maxExecutions": 10,
      "rules": [{"name": "github-runner-test", "type": "github-runner", "metadata":
      {"github-runner": "https://api.github.com", "owner": "test_org", "runnerScope":
      "repo", "repos": "test_repo", "targetWorkflowQueueLength": "1"}, "auth": [{"secretRef":
      "personal-access-token", "triggerParameter": "personalAccessToken"}], "identity":
      null}]}}, "registries": null, "identitySettings": null}, "template": {"initContainers":
      null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest",
      "name": "eventdriventjob", "command": null, "args": null, "env": [{"name": "ACCESS_TOKEN",
      "value": null, "secretRef": "personal-access-token"}, {"name": "DISABLE_RUNNER_UPDATE",
      "value": "true", "secretRef": null}, {"name": "RUNNER_SCOPE", "value": "repo",
      "secretRef": null}, {"name": "ORG_NAME", "value": "test_org", "secretRef": null},
      {"name": "ORG_RUNNER", "value": "false", "secretRef": null}, {"name": "RUNNER_WORKDIR",
      "value": "/tmp/runner", "secretRef": null}, {"name": "REPO_URL", "value": "https://github.com/test_org/test_repo",
      "secretRef": null}], "resources": {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage":
      "1Gi", "gpu": null}, "volumeMounts": [{"volumeName": "workdir", "mountPath":
      "/tmp/github-runner-your-repo", "subPath": null}, {"volumeName": "dockersock",
      "mountPath": "/var/run/docker.sock", "subPath": null}], "probes": null}], "volumes":
      [{"name": "workdir", "storageType": "EmptyDir", "storageName": null, "secrets":
      null, "mountOptions": null}, {"name": "dockersock", "storageType": "EmptyDir",
      "storageName": null, "secrets": null, "mountOptions": null}]}, "workloadProfileName":
      null, "eventStreamEndpoint": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002","name":"yaml000002","type":"Microsoft.App/jobs","location":"East
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-11-05T10:00:12.303985Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-11-05T10:00:12.303985Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Ready","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":"Consumption","configuration":{"secrets":[{"name":"personal-access-token"}],"triggerType":"Event","replicaTimeout":100,"replicaRetryLimit":1,"manualTriggerConfig":null,"scheduleTriggerConfig":null,"eventTriggerConfig":{"replicaCompletionCount":1,"parallelism":1,"scale":{"minExecutions":0,"maxExecutions":10,"pollingInterval":30,"rules":[{"name":"github-runner-test","type":"github-runner","metadata":{"github-runner":"https://api.github.com","owner":"test_org","repos":"test_repo","runnerScope":"repo","targetWorkflowQueueLength":"1"},"auth":[{"secretRef":"personal-access-token","triggerParameter":"personalAccessToken"}]}]}},"registries":null,"identitySettings":[],"dapr":null},"template":{"containers":[{"image":"mcr.microsoft.com/k8se/quickstart-jobs:latest","imageType":"ContainerImage","name":"eventdriventjob","env":[{"name":"ACCESS_TOKEN","secretRef":"personal-access-token"},{"name":"DISABLE_RUNNER_UPDATE","value":"true"},{"name":"RUNNER_SCOPE","value":"repo"},{"name":"ORG_NAME","value":"test_org"},{"name":"ORG_RUNNER","value":"false"},{"name":"RUNNER_WORKDIR","value":"/tmp/runner"},{"name":"REPO_URL","value":"https://github.com/test_org/test_repo"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":""},"volumeMounts":[{"volumeName":"workdir","mountPat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappsjobOperationStatuses/f5ef1e3c-4c21-489b-9e03-4a0c7bf78629?api-version=2025-10-02-preview&azureAsyncOperation=true&t=638979336143352498&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002","name":"yaml000002","type":"Microsoft.App/jobs","location":"East
        US","system[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002/listSecrets?api-version=2025-10-02-preview
  response:
    body:
      string: '{"value":[{"name":"personal-access-token","value":"test_personal_access_token"}]}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview,
        2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview,
        2025-01-01, 2025-02-02-preview, 2025-07-01, 2025-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"configuration": {"secrets": [{"name":
      "personal-access-token", "value": "test_personal_access_token"}], "triggerType":
      "Event", "replicaTimeout": 200, "replicaRetryLimit": 2, "eventTriggerConfig":
      {"replicaCompletionCount": 2, "parallelism": 2, "scale": {"minExecutions": 5,
      "maxExecutions": 95, "rules": [{"name": "github-runner-testv2", "type": "github-runner",
      "metadata": {"github-runner": "https://api.github.com", "owner": "test_org_1",
      "runnerScope": "repo", "repos": "test_repo_1", "targetWorkflowQueueLength":
      "1"}, "auth": [{"secretRef": "personal-access-token", "triggerParameter": "personalAccessToken"}]}]}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000002?api-version=2025-10-02-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview,
        2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview,
        2025-01-01, 2025-02-02-preview, 2025-07-01, 2025-10-02-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappsjobOperationResults/164d5eff-a653-4fb9-8b97-593a10a02696?api-version=2025-10-02-preview&t=638979336335705494&c=MIIHpTCCBo2gAwIBAgITOgXu3BQhPLy_9LQSEQAEBe7cFDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUxMDIwMDM1NjM2WhcNMjYwNDE4MDM1NjM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappsjobOperationResults/164d5eff-a653-4fb9-8b97-593a10a02696?api-version=2025-10-02-preview&t=638979336335705494&c=MIIHpTCCBo2gAwIBAgITOgXu3BQhPLy_9LQSEQAEBe7cFDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUxMDIwMDM1NjM2WhcNMjYwNDE[...]
[...]
