interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg7j7z536ighjkbcleh3235?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"de156668-96c2-455a-bc62-76e693c410b1","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-12T08:10:19.0214549Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-12T21:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-12T08:10:19.0214549Z","modifiedDate":"2024-01-12T08:10:19.0214549Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg7j7z536ighjkbcleh3235","name":"workspace-clitestrg7j7z536ighjkbcleh3235","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5c0d735a-0000-0100-0000-65a0f3eb0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg7j7z536ighjkbcleh3235?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg7j7z536ighjkbcleh3235?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"de156668-96c2-455a-bc62-76e693c410b1","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-12T08:10:19.0214549Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-12T21:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-12T08:10:19.0214549Z","modifiedDate":"2024-01-12T08:10:19.9409415Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg7j7z536ighjkbcleh3235","name":"workspace-clitestrg7j7z536ighjkbcleh3235","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5c0d945a-0000-0100-0000-65a0f3eb0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg7j7z536ighjkbcleh3235/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"XqHcIZCMdBmEsI++dR5ymccxJskba0h242PkeNRihcOdZpCmCWt90XEf3EfR53MjesYZ8aXtiZSfIQ/jaqoADQ==","secondarySharedKey":"I+5FUKhyw9PhJwpd3QFOJENx764cs1BWYW6ZgrQgdqfClaD8vsPRWcSw+EXB6fBwmlus2moZ8uxuU6yxpgyDFw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "de156668-96c2-455a-bc62-76e693c410b1",
      "sharedKey": "XqHcIZCMdBmEsI++dR5ymccxJskba0h242PkeNRihcOdZpCmCWt90XEf3EfR53MjesYZ8aXtiZSfIQ/jaqoADQ==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": {"dnsSuffix": "devtest.containerapp-env5rflvqwv.com",
      "certificateValue": "MIIFzwIBAzCCBYsGCSqGSIb3DQEHAaCCBXwEggV4MIIFdDCCAW0GCSqGSIb3DQEHAaCCAV4EggFaMIIBVjCCAVIGCyqGSIb3DQEMCgECoIHMMIHJMBwGCiqGSIb3DQEMAQMwDgQI1pcuwSQZlCACAgfQBIGoBqds6Ro9lBw8YxvXB9xoYZufhhCpsytcKFnq+Uz7ScwUNDFdoS3E5r1WMtp+YyLV13rnvDG4KXFY7tJssxc9hgJEy3S2nPktiNoVBNiWPDNO9JBYXGp9VVCW1gxP/TxT+mT4W4r8ZaRbhzobPhQEnVGCMU8Sl4Wes2zkRKDEFHBIGn+M2XNAf02dCz+vJvKMWtZ5HO210A8HLyBjAO7pxWWbi1/l0/NOMXQwEwYJKoZIhvcNAQkVMQYEBAEAAAAwXQYJKwYBBAGCNxEBMVAeTgBNAGkAYwByAG8AcwBvAGYAdAAgAFMAbwBmAHQAdwBhAHIAZQAgAEsAZQB5ACAAUw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/f4f44153-d3e7-4791-99ff-1454204fb541?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638406438255379892&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:10:23.7567915","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:10:23.7567915"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"greenpond-9d1bba29.eastus.azurecontainerapps.io","staticIp":"52.147.212.66","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"de156668-96c2-455a-bc62-76e693c410b1","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":"devtest.containerapp-env5rflvqwv.com","certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":"4A52204B1C8DF9C59F60D3B6D0E8640B92CF1F1F","subjectName":"CN=testcert.com","expirationDate":"2028-04-23T02:36:09"},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-15T03:51:22.0481882Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-06T13:17:51.6966031Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/ca5617138654acr","name":"ca5617138654acr","type":"Microsoft.ContainerRegi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d","name":"builder0bd9d","type":"Microsoft.App/builders","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:14:19.3490324Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:14:19.3490324Z"},"properties":{"provisioningState":"Creating","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","containerRegistries":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6YWY1ODk5YTEtYjI1MS00MGFiLWE3NDItY2Q3ZTc2YjQzZjM5?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638406440603959645&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6YWY1ODk5YTEtYjI1MS00MGFiLWE3NDItY2Q3ZTc2YjQzZjM5?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638406440603959645&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2","name":"build0bd9dc2","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:15:40.3721418Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:15:40.3721418Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder0bd9d/builds/build0bd9dc2/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder0bd9d/builds/build0bd9dc2/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRzOjQyYjkzNmYwLWY5Y2MtNGI4Y[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2/listAuthToken?api-version=2023-11-02-preview
  response:
    body:
      string: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjIzZjk1ZjBlLWU3ODItNDdiZS05Zjk3LTU2MDM1ZWMxMGU0MiIsImNhcHBfcmciOiJjbGl0ZXN0LnJnN2o3ejUzNmlnaGprYmNsZWgzMjM1M2RyaHh0bmhnYXljbmQ3NGFsdW4zc2hweTNyeWI2NWRjYXJyemJ5YWhybTYiLCJidWlsZF9uYW1lIjoiYnVpbGQwYmQ5ZGMyIiwiY2FwcF9qaXRfZXhwaXJ5IjoiMjAyNC0wMS0xMlQwOToxNTo0Mi4zNTc0NTEyWiIsIm5iZiI6MTcwNTA0NzM0MiwiZXhwIjoxNzA1MDUwOTQyLCJpYXQiOjE3MDUwNDczNDIsImlzcyI6IkF6dXJlQ29udGFpbmVyQXBwcyIsImF1ZCI6Imh0dHBzOi8vZWFzdHVzLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ.S5DvZl6hNgLO1sC4qiLeAGKAaCQ4uoVG7_dquYpvaEk","expires":"2024-01-12T09:15:42.3574512Z"}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      LS02MjY3YTg0MDdjN2NhMmY3ZDRjODIxMjY0MTJlOGQwMA0KQ29udGVudC1EaXNwb3NpdGlvbjog
      Zm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImJ1aWxkX2RhdGEudGFyLmd6Ig0KQ29u
      dGVudC1UeXBlOiBhcHBsaWNhdGlvbi94LXRhcg0KDQofiwgILvWgZQL/YnVpbGQwYmQ5ZGMyLnRh
      cgDtPfl3FMeZym72F/bxnv+EyuRtIvyYGY2OEcGSDAESlAXMWoodr+M4PTMlqaGnu93doyM8x3mb
      9e7b4yWbjZOXfY7tJDY2GAvbYE4BMr5BgDgkJJBAoAuDLgQSiEOu/aqqe26Jw5LMC1Xwafqoqu+r
      r6q+o/qrbo/X412wUqpeiqUQNjKmJWXxNNFvVlZO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2","name":"build0bd9dc2","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:15:40.3721418Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:15:40.3721418Z"},"properties":{"provisioningState":"Succeeded","buildStatus":"InProgress","destinationContainerRegistry":{"server":"default","image":"default/build0bd9dc2"},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder0bd9d/builds/build0bd9dc2/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder0bd9d/builds/build0bd9dc2/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder0bd9d/builds/build0bd9dc2/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder0bd9d/builds/build0bd9dc2/logstream
  response:
    body:
      string: '2024-01-12T08:15:50.37255  Connecting to the container ''build0bd9dc2''...

        2024-01-12T08:15:50.40088  Kubernetes error happened. Closing the connection.

        '
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder0bd9d/builds/build0bd9dc2/logstream
  response:
    body:
      string: "2024-01-12T08:16:00.99421  Connecting to the container 'build0bd9dc2'...\n2024-01-12T08:16:01.01439
        \ Successfully Connected to container: 'build0bd9dc2' [Build: 'build0bd9dc2'
        Execution: 'build-65a27c410b492f3a7436-7rcl6rl-8df69']\n2024-01-12T08:16:01.479148973Z
        Version '8.0.0' of platform 'dotnet' is not installed. Generating script to
        install it...\n2024-01-12T08:16:01.486274459Z \n2024-01-12T08:16:01.486683980Z
        Setting up environment...\n2024-01-12T08:16:01.486706371Z \n2024-01-12T08:16:01.486712633Z
        \n2024-01-12T08:16:01.486719326Z Downloading and extracting 'dotnet' version
        '8.0.100' to '/layers/opt/dotnet/8.0.100'...\n2024-01-12T08:16:01.489286065Z
        Detected image debian flavor: bullseye.\n2024-01-12T08:16:04.451849384Z Downloaded
        in 3 sec(s).\n2024-01-12T08:16:04.452160379Z Verifying checksum...\n2024-01-12T08:16:04.455694527Z
        Extracting contents...\n2024-01-12T08:16:09.310712497Z performing sha512 checksum
        for: dotnet...\n2024-01-12T08:16:09.912227122Z Done in 8 sec(s).\n2024-01-12T08:16:09.912265114Z
        \n2024-01-12T08:16:09.912271125Z \n2024-01-12T08:16:09.912321560Z Done setting
        up environment.\n2024-01-12T08:16:09.912339063Z \n2024-01-12T08:16:10.052051388Z
        Processing layers\n2024-01-12T08:16:10.052209085Z Updating environment\n2024-01-12T08:16:10.052225075Z
        Reading output files\n2024-01-12T08:16:10.052551354Z Updating buildpack processes\n2024-01-12T08:16:10.052567274Z
        Updating process list\n2024-01-12T08:16:10.052571472Z Finished running build
        for buildpack oryx/dotnet-install@0.0.1\n2024-01-12T08:16:10.052574528Z Running
        build for buildpack fagiani/apt@0.2.5\n2024-01-12T08:16:10.052576932Z Looking
        up buildpack\n2024-01-12T08:16:10.052846316Z Finding plan\n2024-01-12T08:16:10.052857307Z
        Creating plan directory\n2024-01-12T08:16:10.052932999Z Preparing paths\n2024-01-12T08:16:10.053159445Z
        Running build command\n2024-01-12T08:16:10.063644159Z -----> Detected Aptfile
        changes, flushing cache\n2024-01-12T08:16:10.070087946Z -----> Updating apt
        caches\n2024-01-12T08:16:10.104079886Z        Get:1 http://deb.debian.org/debian
        bullseye InRelease [116 kB]\n2024-01-12T08:16:10.111198161Z        Get:2 http://deb.debian.org/debian-security
        bullseye-security InRelease [48.4 kB]\n2024-01-12T08:16:10.111760860Z        Get:3
        http://deb.debian.org/debian bullseye-updates InRelease [44.1 kB]\n2024-01-12T08:16:10.189610896Z
        \       Get:4 http://deb.debian.org/debian bullseye/main amd64 Packages [8062
        kB]\n2024-01-12T08:16:10.328854013Z        Get:5 http://deb.debian.org/debian-security
        bullseye-security/main amd64 Packages [265 kB]\n2024-01-12T08:16:10.504992356Z
        \       Get:6 http://deb.debian.org/debian bullseye-updates/main amd64 Packages
        [18.8 kB]\n2024-01-12T08:16:11.235731624Z        Fetched 8554 kB in 1s (7427
        kB/s)\n2024-01-12T08:16:11.591164286Z        Reading package lists...\n2024-01-12T08:16:11.604832337Z
        -----> Fetching .debs for libc6\n2024-01-12T08:16:11.983392335Z        Reading
        package lists...\n2024-01-12T08:16:12.103177825Z        Building dependency
        tree...\n2024-01-12T08:16:12.207289192Z        The following additional packages
        will be installed:\n2024-01-12T08:16:12.207603724Z          libc-dev-bin libc6-dev\n2024-01-12T08:16:12.208223947Z
        \       Suggested packages:\n2024-01-12T08:16:12.208238875Z          glibc-doc
        libc-l10n locales manpages-dev\n2024-01-12T08:16:12.208246178Z        Recommended
        packages:\n2024-01-12T08:16:12.208533394Z          manpages manpages-dev libc-devtools
        libnss-nis libnss-nisplus\n2024-01-12T08:16:12.223523041Z        The following
        packages will be upgraded:\n2024-01-12T08:16:12.223914250Z          libc-dev-bin
        libc6 libc6-dev\n2024-01-12T08:16:12.667501035Z        3 upgraded, 0 newly
        installed, 0 to remove and 26 not upgraded.\n2024-01-12T08:16:12.667532835Z
        \       Need to get 5461 kB of archives.\n2024-01-12T08:16:12.6675[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 8080, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "default/build0bd9dc2",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
[...]
