interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcx2dxc2wwset5tuueeroi?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6cc3d1f7-0d5b-4ea6-8000-df1946e89a35","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-08T05:11:32.5549487Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-09T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-08T05:11:32.5549487Z","modifiedDate":"2023-09-08T05:11:32.5549487Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcx2dxc2wwset5tuueeroi","name":"workspace-clitestrgcx2dxc2wwset5tuueeroi","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcx2dxc2wwset5tuueeroi?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcx2dxc2wwset5tuueeroi?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"6cc3d1f7-0d5b-4ea6-8000-df1946e89a35","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-08T05:11:32.5549487Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-09T03:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-08T05:11:32.5549487Z","modifiedDate":"2023-09-08T05:11:32.5549487Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcx2dxc2wwset5tuueeroi","name":"workspace-clitestrgcx2dxc2wwset5tuueeroi","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcx2dxc2wwset5tuueeroi/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"6LngGsi2tExCF54T1pm6aJSAxyPxCco60/oviRY1D6pQ8O/xO+KG7aOfg19Noih4m6CW1VMICBY/pPQ51sd9qQ==","secondarySharedKey":"VjlQcVQ+lnLOhWtxfSyuFfTuUPCTHQePmflP9eWsWLl6CJ1Qk3DpwTV+7K0WmK7SYZsq4KVAyzAl0vqEQ8E0wg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "6cc3d1f7-0d5b-4ea6-8000-df1946e89a35",
      "sharedKey": "6LngGsi2tExCF54T1pm6aJSAxyPxCco60/oviRY1D6pQ8O/xO+KG7aOfg19Noih4m6CW1VMICBY/pPQ51sd9qQ=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T05:11:34.2209044Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:11:34.2209044Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"redsmoke-fb029518.eastus.azurecontainerapps.io","staticIp":"20.253.127.36","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"6cc3d1f7-0d5b-4ea6-8000-df1946e89a35","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/60b297c6-0dc8-470e-afc5-775719f23d1d?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-08T05%3a11%3a42&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAzMDczNjQzWhcNMjQwNzI4MDczNjQzWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/60b297c6-0dc8-470e-afc5-775719f23d1d?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-08T05%3A11%3A42&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T05:13:32.5649808+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:13:32.5649808+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-09-08T05:13:32.5649808Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-09-08T05:13:39.0928686+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-09-08T05:13:39.0929266+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-74f7c28f-4e06-11ee-bb82-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-74f7c28f-4e06-11ee-bb82-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-74f7c28f-4e06-11ee-bb82-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"C/NVfuCQPX/tRcucnCiy47NY1wf4Q5AkgTi3jqQR4S+ACRDp9+nT"},{"name":"password2","value":"EyGwksiR5ev/NL+QdStMsrXKpdqvfNA49HtqyveDGU+ACRDdu2ve"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"C/NVfuCQPX/tRcucnCiy47NY1wf4Q5AkgTi3jqQR4S+ACRDp9+nT"},{"name":"password2","value":"EyGwksiR5ev/NL+QdStMsrXKpdqvfNA49HtqyveDGU+ACRDdu2ve"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged115.blob.core.windows.net/b2e12383455e4925b94ce15ee9bbaf4e-jpyouyl080/source/202309080000/7d8a7fce-760a-4c4b-b296-111de1f1a6ee.tar.gz?sv=2021-12-02&se=2023-09-08T06%3A13%3A45Z&sr=b&sp=cw&sig=1u7l%2FGI1Z76cgKId%2BloG7i1LRhW0b8XwNEB8ycwnLnM%3D","relativePath":"source/202309080000/7d8a7fce-760a-4c4b-b296-111de1f1a6ee.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICIqt+mQC/2J1aWxkX2FyY2hpdmVfMDUyMWJmNDU1N2IwNGIwZmJhYjFkYzlmZjFlZGJhMDUu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfswpaYSFJCMDDko4tJJsx+s4Ts9MSWro6R5390jIfo7z
      Nuvdt8dLNhsnL/u8jpPY2GAMtsHcYIxvcx8SAiQQSEIYdCGQQBxy7VdV3TM9hwQ4MCamPvtjWt1V
      3/fV9R3V1VUer8c7s1JaMhdLEaxPui3g4zDer8+Xn5+8pvf9/oJC/yS0ZFIOIG6Ykg7sb3Uh/0og
      UISiphzFpf7g9KDv/sLp9wc8RUUF04OFkycJ+OaDNwc86HgoKioaf/xnXBcFinyTUKEY/7cdPEL/
      C/0v9P9dC1IsZmDTlNU6wzMbN2BFi0WxanoWGZp6K8d/MBg[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20230907221346817106"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "874872ec66554429b6f0730c1fe5802a_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202309080000/7d8a7fce-760a-4c4b-b296-111de1f1a6ee.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-09-08T05:13:47+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:13:46.7979808+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged115.blob.core.windows.net/b2e12383455e4925b94ce15ee9bbaf4e-jpyouyl080/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A23%3A47Z&sr=b&sp=r&sig=%2ByDlzr37akRe%2FxMjqx%2BfYKBgLafgDEUQQYLuRWinlHM%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:13:49 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged115.blob.core.windows.net/b2e12383455e4925b94ce15ee9bbaf4e-jpyouyl080/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A23%3A47Z&sr=b&sp=r&sig=%2ByDlzr37akRe%2FxMjqx%2BfYKBgLafgDEUQQYLuRWinlHM%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A61D7BD45"'
      last-modified:
      - Fri, 08 Sep 2023 05:13:47 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:13:47 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:13:49 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/b2e12383455e4925b94ce15ee9bbaf4e-jpyouyl080/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A23%3A47Z&sr=b&sp=r&sig=%2ByDlzr37akRe%2FxMjqx%2BfYKBgLafgDEUQQYLuRWinlHM%3D
  response:
    body:
      string: "2023/09/08 05:13:47 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A61D7BD45"'
      last-modified:
      - Fri, 08 Sep 2023 05:13:47 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:13:47 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:39 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged115.blob.core.windows.net/b2e12383455e4925b94ce15ee9bbaf4e-jpyouyl080/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A23%3A47Z&sr=b&sp=r&sig=%2ByDlzr37akRe%2FxMjqx%2BfYKBgLafgDEUQQYLuRWinlHM%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB02A7EE22570"'
      last-modified:
      - Fri, 08 Sep 2023 05:14:36 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 05:13:47 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 05:14:39 GMT
      x-ms-range:
      - bytes=5590-9685
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/b2e12383455e4925b94ce15ee9bbaf4e-jpyouyl080/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T06%3A23%3A47Z&sr=b&sp=r&sig=%2ByDlzr37akRe%2FxMjqx%2BfYKBgLafgDEUQQYLuRWinlHM%3D
  response:
    body:
      string: "cfa45b411d67: Pushed\n20230907221346817106: digest: sha256:d4e282d391753cca0b1b363c13bb3588f115948f864d8fdcfd897f13c9b2a3ac
        size: 1786\n2023/09/08 05:14:35 Successfully pushed image: containerapp000004.azurecr.io/containerapp000003:20230907221346817106\n2023/09/08
        05:14:35 Step ID: build marked as successful (elapsed time in seconds: 34.208538)\n2023/09/08
        05:14:35 Populating digests for step ID: build...\n2023/09/08 05:14:36 Successfully
        populated digests for step ID: build\n2023/09/08 05:14:36 Step ID: push marked
        as successful (elapsed time in seconds: 10.975183)\n2023/09/08 05:14:36 The[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "containerapp000004azurecrio-containerapp000004",
      "value": "C/NVfuCQPX/tRcucnCiy47NY1wf4Q5AkgTi3jqQR4S+ACRDp9+nT"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "containerapp000004.azurecr.io", "username": "containerapp000004",
      "passwordSecretRef": "containerapp000004azurecrio-containerapp000004"}], "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "containerapp000004.azurecr.io/containerapp000003:20230907221346817106",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T05:14:38.5074069Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T05:14:38.5074069Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"outboundIpAddresses":["4.157.52.76"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","configuration":{"secrets":[{"name":"containerapp000004azurecrio-containerapp000004"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000003.redsmoke-fb029518.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":[{"server":"containerapp000004.azurecr.io","username":"containerapp000004","passwordSecretRef":"containerapp000004azurecrio-containerapp000004","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000004.azurecr.io/containerapp000003:20230907221346817106","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperati[...]
- request:
    body: null
    headers:
    method: GET
[...]
