interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"4e945f50-9a97-4cd4-9988-2b7bce4ca09a","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-10-10T08:29:31.5936705Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-10-11T04:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-10-10T08:29:31.5936705Z","modifiedDate":"2024-10-10T08:29:31.5936705Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces","etag":"\"3101db62-0000-0100-0000-6707906b0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2023-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"4e945f50-9a97-4cd4-9988-2b7bce4ca09a","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-10-10T08:29:31.5936705Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-10-11T04:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-10-10T08:29:31.5936705Z","modifiedDate":"2024-10-10T08:29:31.5936705Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces","etag":"\"3101db62-0000-0100-0000-6707906b0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"sXNzlI5d7pka8prJyPfFxzlfSSGh2kyfLRLfnP2/vLF/j8F0gCmWnDtizn1V1YJ0APZRYmpmG9VCgS+2Qu9ffw==","secondarySharedKey":"91zjCLgibtxW6OWThYmsU/+8dblEI/i9iJKNgrJF1VWfbfOkiJ4iuFCePjACQVwo9pUH7Lb3BSGBsptOuo2Y2A=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"containerApps/resiliencyPolicies","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2024-02-02-preview","2023-11-02-preview","2023-08-01-preview"],"defaultApiVersion":"2024-02-02-preview","capabilities":"None"},{"resourceType":"spaces","locations":["Central
        US","East Asia","West Europe","East US 2 EUAP"],"apiVersions":["2023-11-02-preview"],"defaultApiVersion":"2023-11-02-preview","capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["East Asia","North
        Central US","West Europe"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/aca-java-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "francecentral", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "4e945f50-9a97-4cd4-9988-2b7bce4ca09a",
      "sharedKey": "sXNzlI5d7pka8prJyPfFxzlfSSGh2kyfLRLfnP2/vLF/j8F0gCmWnDtizn1V1YJ0APZRYmpmG9VCgS+2Qu9ffw==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "None", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002","name":"aca-java-env000002","type":"Microsoft.App/managedEnvironments","location":"France
        Central","systemData":{"createdBy":"wenhaozhang@microsoft.com","createdByType":"User","createdAt":"2024-10-10T08:29:42.8698012","lastModifiedBy":"wenhaozhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-10T08:29:42.8698012"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"bravebush-1ce139b7.francecentral.azurecontainerapps.io","staticIp":"98.66.187.181","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"4e945f50-9a97-4cd4-9988-2b7bce4ca09a","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://francecentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/aca-java-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0674969772E03EB0DD7BBCAE645CC3BE5D0663C94605C1ED83DBE7FAF0E5C9E4","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/managedEnvironmentOperationStatuses/c484bcaf-5dc6-4ff9-aa32-205fc5d15a58?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638641457846199291&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI3MDkwMTAzWhcNMjUwMzI2MDkwMTAzWjBAMT4wPAY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/managedEnvironmentOperationStatuses/c484bcaf-5dc6-4ff9-aa32-205fc5d15a58?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638641457846199291&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0Eg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002/javaComponents?api-version=2024-08-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2023-11-02-preview, 2024-02-02-preview, 2024-08-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"componentType": "SpringCloudGateway", "serviceBinds":
      null, "springCloudGatewayRoutes": [{"id": "route1", "uri": "https://otherjavacomponent.myenvironment.test.net",
      "predicates": ["Path=/v1/path1", "After=2024-01-01T00:00:00.000-00:00[America/Denver]"],
      "filters": ["SetPath=/filter1"]}, {"id": "route2", "uri": "https://otherjavacomponent.myenvironment.test.net",
      "predicates": ["Path=/v2/path2", "After=2024-01-01T00:00:00.000-00:00[America/Denver]"],
      "filters": ["SetPath=/filter2"]}], "scale": {"minReplicas": 1, "maxReplicas":
      1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002/javaComponents/mygateway?api-version=2024-08-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002/javaComponents/mygateway","name":"mygateway","type":"Microsoft.App/managedEnvironments/javaComponents","systemData":{"createdBy":"wenhaozhang@microsoft.com","createdByType":"User","createdAt":"2024-10-10T08:31:32.6530022Z","lastModifiedBy":"wenhaozhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-10T08:31:32.6530022Z"},"properties":{"componentType":"SpringCloudGateway","ingress":{"fqdn":"mygateway-azure-java.bravebush-1ce139b7.francecentral.azurecontainerapps.io"},"springCloudGatewayRoutes":[{"id":"route1","uri":"https://otherjavacomponent.myenvironment.test.net","predicates":["Path=/v1/path1","After=2024-01-01T00:00:00.000-00:00[America/Denver]"],"filters":["SetPath=/filter1"]},{"id":"route2","uri":"https://otherjavacomponent.myenvironment.test.net","predicates":["Path=/v2/path2","After=2024-01-01T00:00:00.000-00:00[America/Denver]"],"filters":["SetPath=/filter2"]}],"provisioningState":"InProgress","scale":{"maxReplicas":1,"minReplicas":1},"configurations":null,"serviceBinds":null}}'
    headers:
      api-supported-versions:
      - 2023-11-02-preview, 2024-02-02-preview, 2024-08-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/operationStatuses/amF2YUNvbXBvbmVudHM6YTVjZGRkMWYtNWI4My00OWYyLTk4NGQtNWI1OThjNTI2OGFm?api-version=2024-08-02-preview&azureAsyncOperation=true&t=638641458928873755&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/operationStatuses/amF2YUNvbXBvbmVudHM6YTVjZGRkMWYtNWI4My00OWYyLTk4NGQtNWI1OThjNTI2OGFm?api-version=2024-08-02-preview&azureAsyncOperation=true&t=638641458928873755&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002/javaComponents/mygateway?api-version=2024-08-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002/javaComponents[...]
- request:
    body: '{"properties": {"componentType": "SpringCloudGateway", "serviceBinds":
      null, "configurations": [{"propertyName": "spring.cloud.gateway.fail-on-route-definition-error",
      "value": "true"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-java-env000002/javaComponents/mygateway?api-version=2024-08-02-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2023-11-02-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/operationResults/amF2YUNvbXBvbmVudHM6ZDlkNDhjOGItN2RkOS00OWI1LTgyMWMtZDA2Nzk3YWRlY2Iy?api-version=2024-08-02-preview&t=638641459452332066&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/operationResults/amF2YUNvbXBvbmVudHM6ZTMxZDE3NjctMDhiNC00MGRiLWEyNDItZTQ3ZDgyODJkNTQ2?api-version=2024-08-02-preview&t=638641459649583503&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/francecentral/operationResults/amF2YUNvbXBvbmVudHM6ZWMzMDRkMDMtZWZlMS00OTI0LWE2NDgtMWRjMDlmYjE0MzU3?api-version=2024-08-02-preview&t=638641460037666934&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQw[...]
[...]
