interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2022-08-25T21:10:38Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"sku": {"name": "PerGB2018"}, "retentionInDays":
      30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"23f9df9a-b203-4dfd-b338-8eb1ef1c6b4b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-08-25T21:10:48.1779348Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-08-26T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-08-25T21:10:48.1779348Z","modifiedDate":"2022-08-25T21:10:48.1779348Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"23f9df9a-b203-4dfd-b338-8eb1ef1c6b4b","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-08-25T21:10:48.1779348Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-08-26T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-08-25T21:10:48.1779348Z","modifiedDate":"2022-08-25T21:10:48.1779348Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"NZCjlk97hy6rm6c66jB8VfBre+jNzNxLEgwyeOtpgykxeoHkn6GO6M7QD3O+fsP2LEJ9UI7e4kkUB4L7nWnwLw==","secondarySharedKey":"/M0T+8j9Go7F3MAF8rlvksmpuzydEqe0JmNDysTZPaqILzobYnbYXjzbRUnZpndWUeGv1Vlwmd3AL6fRZ/0Nqw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","Central US EUAP","East US 2 EUAP","West US 3","France
        Central","South Africa North","Norway East"],"apiVersions":["2022-06-01-preview","2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","Central US EUAP","East US 2 EUAP","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/managedEnvironments?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/helloworld/providers/Microsoft.App/managedEnvironments/hello-env","name":"hello-env","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-06-20T18:03:13.142111","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-20T18:03:13.142111"},"properties":{"provisioningState":"Succeeded","defaultDomain":"livelywave-1d65ee9c.northcentralusstage.azurecontainerapps.io","staticIp":"52.176.58.122","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"e969493b-c537-46b3-94c3-2d1a2c57f892"}},"zoneRedundant":false,"useKubenet":false,"customDomainConfiguration":{"customDomainVerificationId":"99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E","expirationDateUtc":"0001-01-01T00:00:00"}},"sku":{"name":"Consumption"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/freshRadio/providers/Microsoft.App/managedEnvironments/freshRadio-env","name":"freshRadio-env","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-07-18T19:11:45.1077787","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastMo[...]
[...]
- request:
    body: '{"location": "canadacentral", "tags": null, "sku": {"name": "Consumption"},
      "properties": {"daprAIInstrumentationKey": null, "vnetConfiguration": null,
      "internalLoadBalancerEnabled": null, "appLogsConfiguration": {"destination":
      "log-analytics", "logAnalyticsConfiguration": {"customerId": "23f9df9a-b203-4dfd-b338-8eb1ef1c6b4b",
      "sharedKey": "NZCjlk97hy6rm6c66jB8VfBre+jNzNxLEgwyeOtpgykxeoHkn6GO6M7QD3O+fsP2LEJ9UI7e4kkUB4L7nWnwLw=="}},
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-[...]
[...]
- request:
    body: '{"location": "canadacentral", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null}, "template": {"revisionSuffix": null,
      "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "scale": null, "volumes": null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"Canada
        Central","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-08-25T21:14:10.9917298Z","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-25T21:14:10.9917298Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","outboundIpAddresses":["20.220.129.200","20.220.129.205","20.220.129.207"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E","configuration":{"activeRevisionsMode":"Single"},"template":{"revisionSuffix":"","containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":""}}],"scale":{"maxReplicas":10}}},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-05-01, 2022-06-01-preview
      azure-asyncoperation:
      - https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/canadacentral/containerappOperationStatuses/2a258ac5-4fe6-461f-913f-3b0ab2198154?api-version=2022-06-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003",
      "name": "containerapp000003", "type": "Microsoft.App/containerApps", "location":
      "Canada Central", "systemData": {"createdBy": "haroonfeisal@microsoft.com",
      "createdByType": "User", "createdAt": "2022-08-25T21:14:10.9917298", "lastModifiedBy":
      "haroonfeisal@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
      "2022-08-25T21:14:10.9917298"}, "properties": {"provisioningState": "Succeeded",
      "managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "outboundIpAddresses": ["20.220.129.200", "20.220.129.205", "20.220.129.207"],
      "latestRevisionName": "containerapp000003--mm450fn", "latestRevisionFqdn": "",
      "customDomainVerificationId": "99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E",
      "configuration": {"activeRevisionsMode": "Single", "secrets": [], "dapr": {"appId":
      "containerapp1", "appPort": 80, "appProtocol": "http", "enabled": true}}, "template":
      {"revisionSuffix": "", "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "containerapp000003", "resources": {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage":
      ""}}], "scale": {"maxReplicas": 10}}}, "identity": {"type": "None"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGrou[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003",
      "name": "containerapp000003", "type": "Microsoft.App/containerApps", "location":
      "Canada Central", "systemData": {"createdBy": "haroonfeisal@microsoft.com",
      "createdByType": "User", "createdAt": "2022-08-25T21:14:10.9917298", "lastModifiedBy":
      "haroonfeisal@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
      "2022-08-25T21:14:26.4583726"}, "properties": {"provisioningState": "Succeeded",
      "managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "outboundIpAddresses": ["20.220.129.200", "20.220.129.205", "20.220.129.207"],
      "latestRevisionName": "containerapp000003--mm450fn", "latestRevisionFqdn": "",
      "customDomainVerificationId": "99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E",
      "configuration": {"activeRevisionsMode": "Single", "dapr": {"enabled": false,
      "appId": "containerapp1", "appProtocol": "http", "appPort": 80, "logLevel":
      "info", "enableApiLogging": false}, "secrets": []}, "template": {"revisionSuffix":
      "", "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "containerapp000003", "resources": {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage":
      ""}}], "scale": {"maxReplicas": 10}}}, "identity": {"type": "None"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000[...]
[...]
