interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-11-07T23:07:58Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"retentionInDays": 30, "sku":
      {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"fad4055d-5566-4087-8adc-47b3d7d9d091","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-11-07T23:08:06.7575074Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-11-08T12:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-11-07T23:08:06.7575074Z","modifiedDate":"2022-11-07T23:08:06.7575074Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"fad4055d-5566-4087-8adc-47b3d7d9d091","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-11-07T23:08:06.7575074Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-11-08T12:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-11-07T23:08:06.7575074Z","modifiedDate":"2022-11-07T23:08:06.7575074Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"HSSb7mfNxF+hK6zmr9RmHC8WAvsUaRZKWbz+Vkn8zq4pINNTvuSDbdaTia2ZSuL0dqSjkKhu4Qr7vqUZvyB0mQ==","secondarySharedKey":"yzWnWQSITjvJ8Ryi5esRE9rtFNL3DtmWHDG8G9RBKttKWY4Xw3qh31BdATJFSD2Y5j+XX5U7y4P1CvLzyBIpAw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","West US 3","France Central","South Africa North","Norway
        East","Central US EUAP","East US 2 EUAP"],"apiVersions":["2022-06-01-preview","2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","West US 3","France Central","South [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/managedEnvironments?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/container_apps/providers/Microsoft.App/managedEnvironments/stage1","name":"stage1","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"silasstrawn@microsoft.com","createdByType":"User","createdAt":"2022-10-07T20:06:38.7041799","lastModifiedBy":"silasstrawn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-10-07T20:06:38.7041799"},"properties":{"provisioningState":"Succeeded","useLegionServerlessCompute":false,"defaultDomain":"calmpond-b28c41d1.northcentralusstage.azurecontainerapps.io","staticIp":"13.67.139.178","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"21980690-af3f-47d2-ba10-1382b5450cc0"}},"zoneRedundant":false,"customDomainConfiguration":{"customDomainVerificationId":"333646C25EDA7C903C86F0F0D0193C412978B2E48FA0B4F1461D339FBBAE3EB7"}},"sku":{"name":"Consumption"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/container_apps/providers/Microsoft.App/managedEnvironments/stage2","name":"stage2","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"silasstrawn@microsoft.com","createdByType":"User","createdAt":"2022-10-07T20:07:15.2866819","lastModifiedBy":"silasstrawn@microsoft.com","las[...]
[...]
- request:
    body: '{"location": "canadacentral", "tags": null, "sku": {"name": "Consumption"},
      "properties": {"daprAIInstrumentationKey": null, "vnetConfiguration": null,
      "internalLoadBalancerEnabled": null, "appLogsConfiguration": {"destination":
      "log-analytics", "logAnalyticsConfiguration": {"customerId": "fad4055d-5566-4087-8adc-47b3d7d9d091",
      "sharedKey": "HSSb7mfNxF+hK6zmr9RmHC8WAvsUaRZKWbz+Vkn8zq4pINNTvuSDbdaTia2ZSuL0dqSjkKhu4Qr7vqUZvyB0mQ=="}},
      "customDomainConfiguration": null, "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions[...]
[...]
- request:
    body: '{"location": "canadacentral", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "traffic": null, "customDomains": null}, "dapr": null, "registries": null},
      "template": {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "capp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "scale": {"minReplicas": 1, "maxReplicas": null,
      "rules": []}, "volumes": null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps","location":"Canada
        Central","systemData":{"createdBy":"silasstrawn@microsoft.com","createdByType":"User","createdAt":"2022-11-07T23:09:53.9498016Z","lastModifiedBy":"silasstrawn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-07T23:09:53.9498016Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","outboundIpAddresses":["20.175.160.221"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"333646C25EDA7C903C86F0F0D0193C412978B2E48FA0B4F1461D339FBBAE3EB7","configuration":{"activeRevisionsMode":"Single","ingress":{"fqdn":"capp000002.agreeablebush-1943b534.canadacentral.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"allowInsecure":false}},"template":{"revisionSuffix":"","containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"capp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":""}}],"scale":{"minReplicas":1,"maxReplicas":10}},"eventStreamEndpoint":"https://canadacentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/canadacentral/containerappOperationStatuses/64a36e47-cd6b-4d5e-aa95-33b0ac941e85?api-version=2022-06-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://capp000002.agreeablebush-1943b534.canadacentral.azurecontainerapps.io/
  response:
    body:
      string: "<html>\n<head>\n  <title>Welcome to Azure Container Apps!</title>\n</head>\n<style>\nh1
        {\n    color: #552f99;\n    font-family:arial, sans-serif;\n    font-weight:
        lighter;\n} \nbody{\n    margin-top: 30px;\n    background-color: #EEE;\n}\n</style>\n\n<body>\n\n<div
        align=\"center\">\n<h1>Welcome to Azure Container Apps!</h1>\n\n<svg xmlns=\"http://www.w3.org/2000/svg\"
        width=\"300\" height=\"300\" viewBox=\"0 0 18 18\">\n    <defs>\n      <linearGradient
        id=\"b27f1ad0-7d11-4247-9da3-91bce6211f32\" x1=\"8.798\" y1=\"8.703\" x2=\"14.683\"
        y2=\"8.703\" gradientUnits=\"userSpaceOnUse\">\n        <stop offset=\"0.001\"
        stop-color=\"#773adc\"/>\n        <stop offset=\"1\" stop-color=\"#552f99\"/>\n
        \     </linearGradient>\n      <linearGradient id=\"b2f92112-4ca9-4b17-a019-c9f26c1a4a8f\"
        x1=\"5.764\" y1=\"3.777\" x2=\"5.764\" y2=\"13.78\" gradientUnits=\"userSpaceOnUse\">\n
        \       <stop offset=\"0\" stop-color=\"#a67af4\"/>\n        <stop offset=\"0.999\"
        stop-color=\"#773adc\"/>\n      </linearGradient>\n    </defs>\n    <g id=\"b8a0486a-5501-4d92-b540-a766c4b3b548\">\n
        \     <g>\n        <g>\n          <g>\n            <path d=\"M16.932,11.578a8.448,8.448,0,0,1-7.95,5.59,8.15,8.15,0,0,1-2.33-.33,2.133,2.133,0,0,0,.18-.83c.01,0,.03.01.04.01a7.422,7.422,0,0,0,2.11.3,7.646,7.646,0,0,0,6.85-4.28l.01-.01Z\"
        fill=\"#32bedd\"/>\n            <path d=\"M3.582,14.068a2.025,2.025,0,0,0-.64.56,8.6,8.6,0,0,1-1.67-2.44l1.04.23v.26a.6.6,0,0,0,.47.59l.14.03a6.136,6.136,0,0,0,.62.73Z\"
        fill=\"#32bedd\"/>\n            <path d=\"M12.352.958a2.28,2.28,0,0,0-.27.81c-.02-.01-.05-.02-.07-.03a7.479,7.479,0,0,0-3.03-.63,7.64[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--76m03l8/replicas?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--76m03l8/replicas/capp000002--76m03l8-84cfcd7567-rfxnj","name":"capp000002--76m03l8-84cfcd7567-rfxnj","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2022-11-07T23:09:56Z","containers":[{"name":"capp000002","containerId":"containerd://81b352b04213a8fb64b557863ccdb3941d8924404755a8981848f199658be21d","ready":true,"started":true,"restartCount":0,"logStreamEndpoint":"https://canadacentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--76m03l8/replicas/capp000002--76m03l8-84cfcd7567-rfxnj/containers/capp000002/logstream","execEndpoint":"wss://canadacentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--76m03l8/replicas/capp000002--76m03l8-84cfcd7567-rfxnj/containers/capp000002/exec"}]}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--76m03l8?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--76m03l8","name":"capp000002--76m03l8","type":"Microsoft.App/containerapps/revisions","properties":{"createdTime":"2022-11-07T23:09:55+00:00","fqdn":"capp000002--76m03l8.agreeablebush-1943b534.canadacentral.azurecontainerapps.io","template":{"containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"capp000002","resources":{"cpu":0.50,"memory":"1Gi"},"probes":[]}],"scale":{"minReplicas":1,"maxReplicas":10}},"active":true,"replicas":1,"trafficWeight":100,"healthState":"Healthy","provisioningState":"Provisioned"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/revisions/capp000002--76m03l8/replicas/capp000002--76m03l8-84cfcd7567-rfxnj/?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/c[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/capp000002/getAuthToken?api-version=2022-06-01-preview
  response:
    body:
      string: '{"location":"Canada Central","properties":{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjJlZGMyOWY0LWI4MWYtNDk0Yi1hNjI0LWNjNjE5OTAzYjgzNyIsImNhcHBfcmciOiJjbGl0ZXN0LnJnYm50bXZvdm42YjJ5ZjQ2NjVpcmppeHV5cGxibXFpYmF0eXJjb2x3dHNzazdxZ3dlaGZjYXBydm1iM2FtZmhrbmUiLCJjYXBwX25hbWUiOiJjYXBwbTRzbGJhMmpscW42bnRtbXpnaHIiLCJjYXBwX2ppdF9leHBpcnkiOiIyMDIyLTExLTA4VDAwOjEwOjIwLjI5NTc4NzhaIiwibmJmIjoxNjY3ODYyNjIwLCJleHAiOjE2Njc4NjYyMjAsImlhdCI6MTY2Nzg2MjYyMCwiaXNzIjoiQXp1cmVDb250YWluZXJBcHBzIiwiYXVkIjoiaHR0cHM6Ly9jYW5hZGFjZW50cmFsLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ.2N0d6LjDs2u0fC3wrTqHykqGrJHFeYyA97uKJkh1M7s","expires":"2022-11-08T00:10:20.2957878Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/capp000002","name":"capp000002","type":"Microsoft.App/containerApps/accesstoken"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://canadacentral.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/capp000002/revisions/capp000002--76m03l8/replicas/capp000002--76m03l8-84cfcd7567-rfxnj/containers/capp000002/logstream?follow=false&output=json&tailLines=20
  response:
    body:
      string: '{"TimeStamp":"2022-11-07T23:10:28.48813","Log":"Connecting to the container
        \u0027capp000002\u0027..."}

        {"TimeStamp":"2022-11-07T23:10:28.51544","Log":"Successfully Connected to
        container: \u0027capp000002\u0027 [Revision: \u0027capp000002--76m03l8\u0027,
        Replica: \u0027capp000002--76m03l8-84cfcd7567-rfxnj\u0027]"}

        {"TimeStamp":"2022-11-07T23:09:59.1280204+00:00","Log":"on port 80"}

        '
    headers:
    status:
      code: 200
      message: OK
version: 1
