interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northcentralusstage", "properties": {"environmentId": null,
      "poolManagementType": "Dynamic", "containerType": "PythonLTS", "customContainerTemplate":
      null, "secrets": null, "dynamicPoolConfiguration": {"executionType": "Timed",
      "cooldownPeriodInSeconds": "300"}, "scaleConfiguration": {"maxConcurrentSessions":
      10, "readySessionInstances": 5}, "sessionNetworkConfiguration": {"status": "EgressDisabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002","name":"sppythonlts000002","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"mdashique@microsoft.com","createdByType":"User","createdAt":"2024-08-29T09:38:37.9439935Z","lastModifiedBy":"mdashique@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T09:38:37.9439935Z"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"PythonLTS","scaleConfiguration":{"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"status":"EgressDisabled"},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/sppythonlts000002"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-08-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '399'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"MD
        Ashique","givenName":"MD","jobTitle":"SENIOR SOFTWARE ENGINEER","mail":"mdashique@microsoft.com","mobilePhone":null,"officeLocation":"HYD
        -CAMPUS 3/3B1026","preferredLanguage":null,"surname":"Ashique","userPrincipalName":"mdashique@microsoft.com","id":"34036803-b04f-4b34-bbff-40f90e42e08d"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"TYO1EPF000031A2"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0",
      "principalId": "34036803-b04f-4b34-bbff-40f90e42e08d"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002/providers/Microsoft.Authorization/roleAssignments/5484275f-58b5-478a-9599-31bdafe81044?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0","principalId":"34036803-b04f-4b34-bbff-40f90e42e08d","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002","condition":null,"conditionVersion":null,"createdOn":"2024-08-29T09:38:39.3956549Z","updatedOn":"2024-08-29T09:38:39.7657285Z","createdBy":null,"updatedBy":"34036803-b04f-4b34-bbff-40f90e42e08d","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002/providers/Microsoft.Authorization/roleAssignments/5484275f-58b5-478a-9599-31bdafe81044","type":"Microsoft.Authorization/roleAssignments","name":"5484275f-58b5-478a-9599-31bdafe81044"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "northcentralusstage", "properties": {"environmentId": null,
      "poolManagementType": "Dynamic", "containerType": "NodeLTS", "customContainerTemplate":
      null, "secrets": null, "dynamicPoolConfiguration": {"executionType": "Timed",
      "cooldownPeriodInSeconds": "300"}, "scaleConfiguration": {"maxConcurrentSessions":
      10, "readySessionInstances": 5}, "sessionNetworkConfiguration": {"status": "EgressDisabled"}}}'
    headers:
      Content-Type:
  [...]
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000005/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0",
      "principalId": "34036803-b04f-4b34-bbff-40f90e42e08d"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/sppythonlts000002","name":"sppythonlts000002","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"mdashique@microsoft.com","createdByType":"User","createdAt":"2024-08-29T09:38:37.9439935","lastModifiedBy":"mdashique@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T09:38:37.9439935"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"PythonLTS","scaleConfiguration":{"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"status":"EgressDisabled"},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/sppythonlts000002"},"identity":{"type":"None"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000005","name":"spnodelts000005","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"mdashique@microsoft.com","createdByType":"User","createdAt":"2024-08-29T09:38:44.9093433","lastModifiedBy":"mdashique@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T09:38:44.9093433"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"NodeLTS","scaleConfiguration":{"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"status":"EgressDisabled"},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000005"},"identity":{"type":"None"}}]}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-08-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"identifier": "testidentifier000004", "codeInputType":
      "inline", "executionType": "synchronous", "code": "console.log(\"Hello world\")",
      "timeoutInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000005/code/execute?identifier=testidentifier000004&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","properties":{"$id":"2","status":"Success","stdout":"Hello
        world\n","stderr":"","result":"","executionTimeInMilliseconds":75}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 89cc93e2-99d2-4c20-bab5-dc55172cd317
      x-ms-allocation-retries:
      - '0'
      x-ms-allocation-time:
      - '3061.6735'
      x-ms-container-execution-duration:
      - '75'
      x-ms-execution-read-response-time:
      - '9.8084'
      x-ms-execution-request-time:
      - '68'
      x-ms-overall-execution-time:
      - '101.5056'
      x-ms-preparation-time:
      - '80.3435'
      x-ms-session-guid:
      - nodelts
      x-ms-total-execution-service-time:
      - '3244.0349'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "--0c2cbacc6f41f503f154c946291e9574\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"cert.txt\"\r\n\r\ntesting\r\n--0c2cbacc6f41f503f154c946291e9574--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0c2cbacc6f41f503f154c946291e9574
    method: POST
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000005/files/upload?identifier=testidentifier000004&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","value":[{"$id":"2","properties":{"$id":"3","filename":"cert.txt","size":7,"lastModifiedTime":"2024-08-29T09:38:56.0708205Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2b92baac-bdca-4a25-883e-76388567f909
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000005/files?identifier=testidentifier000004&path=&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","value":[{"$id":"2","properties":{"$id":"3","filename":"cert.txt","size":7,"lastModifiedTime":"2024-08-29T09:38:56.0708205Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5147da73-09f9-44ca-99c1-29769920b2f3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000005/files/content/cert.txt?identifier=testidentifier000004&api-version=2024-02-02-preview
  response:
    body:
      string: testing
    headers:
      content-type:
      - application/octet-stream
      mise-correlation-id:
      - 2ccfdd57-fbee-41a5-a856-72015f4c5edc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000005/files/cert.txt?identifier=testidentifier000004&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","properties":{"$id":"2","filename":"cert.txt","size":7,"lastModifiedTime":"2024-08-29T09:38:56.0708205Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a8d96726-aa8a-4e98-bdd5-f01141b2b00f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
