interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Central US EUAP","East
        US 2 EUAP"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/providers/Microsoft.App/managedEnvironments/env-eastus2euap?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''client.env_rg_eastus2euap'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus2euap?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap","name":"client.env_rg_eastus2euap","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2euap", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": null,
      "logAnalyticsConfiguration": null}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/providers/Microsoft.App/managedEnvironments/env-eastus2euap?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/providers/Microsoft.App/managedEnvironments/env-eastus2euap","name":"env-eastus2euap","type":"Microsoft.App/managedEnvironments","location":"East
        US 2 EUAP","systemData":{"createdBy":"zhcheng@microsoft.com","createdByType":"User","createdAt":"2024-01-30T08:34:55.6272588","lastModifiedBy":"zhcheng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T08:34:55.6272588"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"lemonriver-e64bfc22.eastus2euap.azurecontainerapps.io","staticIp":"20.1.107.66","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus2euap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/managedEnvironments/env-eastus2euap/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0CA7D568F6126CA8723B9BDC6F6578562D277F3E04AB98A47F44299EC5A47454","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2euap/managedEnvironmentOperationStatuses/c43f6503-9a1e-4768-bcca-d766bdef1e8b?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422004980179098&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2euap/managedEnvironmentOperationStatuses/c43f6503-9a1e-4768-bcca-d766bdef1e8b?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422004980179098&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "East US 2 EUAP", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/providers/Microsoft.App/managedEnvironments/env-eastus2euap",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null, "maxInactiveRevisions": 100}, "template": {"revisionSuffix": null, "containers":
      [{"image": "mcr.microsoft.com/k8se/quickstart:latest", "name": "aca000002",
      "command": null, "args": null, "env": null, "resources": null, "volumeMounts":
      null}], "initContainers": null, "scale": null, "volumes": null, "serviceBinds":
      null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca000002","name":"aca000002","type":"Microsoft.App/containerApps","location":"East
        US 2 EUAP","systemData":{"createdBy":"zhcheng@microsoft.com","createdByType":"User","createdAt":"2024-01-30T08:37:34.8408204Z","lastModifiedBy":"zhcheng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-30T08:37:34.8408204Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/providers/Microsoft.App/managedEnvironments/env-eastus2euap","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus2euap/providers/Microsoft.App/managedEnvironments/env-eastus2euap","workloadProfileName":"Consumption","outboundIpAddresses":["20.221.164.4","20.221.160.106","20.47.156.243","20.47.198.23","20.47.148.192","20.47.148.195","20.47.147.76","20.47.147.88"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"0CA7D568F6126CA8723B9BDC6F6578562D277F3E04AB98A47F44299EC5A47454","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"aca000002.lemonriver-e64bfc22.eastus2euap.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"aca000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus2euap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/aca000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      az[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2euap/containerappOperationStatuses/89c37d55-e387-48d7-a8f0-4f0252a0a107?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638422006564502695&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2euap/containerappOperationResults/3c0d8c9b-f8f7-40a6-9e83-f916c9744ed0?api-version=2023-11-02-preview&t=638422006734338767&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMD[...]
[...]
