interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrrsrxdr7pjbfsr3laomqc?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"2657c81a-2aa2-4d7e-bb8e-e62123b0f70b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-02-05T21:33:43.357671Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-02-05T23:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-02-05T21:33:43.357671Z","modifiedDate":"2024-02-05T21:33:43.357671Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrrsrxdr7pjbfsr3laomqc","name":"workspace-clitestrgrrsrxdr7pjbfsr3laomqc","type":"Microsoft.OperationalInsights/workspaces","etag":"\"c005387d-0000-0100-0000-65c154370000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrrsrxdr7pjbfsr3laomqc?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrrsrxdr7pjbfsr3laomqc?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"2657c81a-2aa2-4d7e-bb8e-e62123b0f70b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-02-05T21:33:43.357671Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-02-05T23:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-02-05T21:33:43.357671Z","modifiedDate":"2024-02-05T21:33:43.357671Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrrsrxdr7pjbfsr3laomqc","name":"workspace-clitestrgrrsrxdr7pjbfsr3laomqc","type":"Microsoft.OperationalInsights/workspaces","etag":"\"c005387d-0000-0100-0000-65c154370000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrrsrxdr7pjbfsr3laomqc/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"abc123","secondarySharedKey":"abc123"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "2657c81a-2aa2-4d7e-bb8e-e62123b0f70b",
      "sharedKey":"",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "None", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2024-02-05T21:33:46.394373","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:33:46.394373"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"proudsand-085414f0.eastus.azurecontainerapps.io","staticIp":"172.214.64.101","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"2657c81a-2aa2-4d7e-bb8e-e62123b0f70b","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"C1A7D31D77B66BE5AAD62AA3EAAE9656177E84E302C60DC537D33D3D4017DC89","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1644c4c4-16ec-49e3-a446-bbcf12b760fb?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638427656273162559&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1644c4c4-16ec-49e3-a446-bbcf12b760fb?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638427656273162559&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDU[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgnx5dr6bc2cx5gagilaq5lwrjm2cwofr2sszjvadxyzvfawfknsprkyybvehvtz6rf/providers/Microsoft.ContainerRegistry/registries/cac27aeddc4eacr","name":"cac27aeddc4eacr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-03T04:55:28.8670763Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-03T04:55:28.8670763Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-aspireenv1226/providers/Microsoft.ContainerRegistry/registries/acr7licr7mrotg3w","name":"acr7licr7mrotg3w","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus2","tags":{"azd-env-name":"aspireenv1226"},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-12-26T08:43:32.0724802Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-12-26T08:43:32.0724802Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-daniv-containerregistry/providers/Microsoft.ContainerRegistry/registries/cadanivcontainerregistry","name":"cadanivcontainerregistry","type":"Microsoft.ContainerRegistry/regist[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr","name":"caa554e73ddcacr","location":"eastus","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2024-02-05T21:35:04.3730413+00:00","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:35:04.3730413+00:00"},"properties":{"loginServer":"caa554e73ddcacr.azurecr.io","creationDate":"2024-02-05T21:35:04.3730413Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-02-05T21:35:10.6275962+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-02-05T21:35:10.6276314+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/operationStatuses/registries-67bd37a8-c46e-11ee-b283-3c528259bb1b?api-version=2022-02-01-preview&t=638427657108574587&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/operationStatuses/registries-67bd37a8-c46e-11ee-b283-3c528259bb1b?api-version=2022-02-01-preview&t=638427657108574587&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"caa554e73ddcacr","passwords":[{"name":"password","value":"1mtMtiM5aW2OXrAgsarIT+ihtpmqAqrbNurb8rWD0q+ACRArTA8s"},{"name":"password2","value":"MqyRCgh2EXw/ahnibxQpDFfrUpAY8l5ZgzlVfZ5Yzj+ACRByjaAW"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/source/202402050000/53e09c06-6082-4567-bb9b-a496e460c4d7.tar.gz?sv=2023-01-03&se=2024-02-05T22%3A35%3A13Z&sr=b&sp=cw&sig=Mtux5PLSNQ%2B0SUCRiNfYlMJZLryfighT7ExevO7YxKw%3D","relativePath":"source/202402050000/53e09c06-6082-4567-bb9b-a496e460c4d7.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICJFUwWUC/2J1aWxkX2FyY2hpdmVfM2YyZGViYmM4MDc5NDhhMGIxYzA4YzI1ZGFhZjAyYzUu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylOSSEJCMDDko4tJJsx+s4Ts9MSWro6R5390jIPMd5
      m/Xu2+Mlm42Tl31Zx0lsbDAG22BuMMa3uQ+BAAkEkhAGHSCQQFyu/aqqe24JcGAgUZX9Ma3uqu/7
      6quq76iurnK5Xe7pVdKi2ViKYH3CXUkenkb79Xh8/uQ1ve/1+gOFE9CiCXlIccOUdCB/pyv5F5IK
      i1HUlKO4zBucWlQUKPIXT3UFg36/11c0cYJIf/XJnQcadDwUFRWNPv6zrosKizwTUECM/7ueXPeF
      /vdl63+v0P950f9FufS/z+/xC/U/HpIUixnYNGW1[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:cli-containerapp-20240205133502608667"], "isPushEnabled":
      true, "noCache": false, "dockerFilePath": "f4b5d7523b974c039514530ea598f4e0_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202402050000/53e09c06-6082-4567-bb9b-a496e460c4d7.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-02-05T21:35:15+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:35:15.356927+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caa554e73ddcacr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-02-05T22%3A45%3A16Z&sr=b&sp=r&sig=fZw5momoUSdMtbypbQx00lIQ6o97unfN40ZNvzxNIVc%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-02-05T22%3A45%3A16Z&sr=b&sp=r&sig=fZw5momoUSdMtbypbQx00lIQ6o97unfN40ZNvzxNIVc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC269257FDDC5B"'
      last-modified:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-02-05T22%3A45%3A16Z&sr=b&sp=r&sig=fZw5momoUSdMtbypbQx00lIQ6o97unfN40ZNvzxNIVc%3D
  response:
    body:
      string: "2024/02/05 21:35:16 Downloading source code...\r\n2024/02/05 21:35:16
        Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC269258678B17"'
      last-modified:
      - Mon, 05 Feb 2024 21:35:17 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 05 Feb 2024 21:35:19 GMT
      x-ms-range:
      - bytes=102-4197
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-02-05T22%3A45%3A16Z&sr=b&sp=r&sig=fZw5momoUSdMtbypbQx00lIQ6o97unfN40ZNvzxNIVc%3D
  response:
    body:
      string: "2024/02/05 21:35:17 Using acb_vol_e0a7adc9-8cbc-4a12-a24a-5c1910601f3c
        as the home volume\n2024/02/05 21:35:17 Setting up Docker configuration...\n2024/02/05
        21:35:17 Successfully set up Docker configuration\n2024/02/05 21:35:17 Logging
        in to registry: caa554e73ddcacr.azurecr.io\n2024/02/05 21:35:18 Successfully
        logged into caa554e73ddcacr.azurecr.io\n2024/02/05 21:35:18 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/02/05
        21:35:18 Scanning for dependencies...\n2024/02/05 21:35:18 Successfully scanned
        dependencies\n2024/02/05 21:35:18 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 102-763/764
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC2692599C5B20"'
      last-modified:
      - Mon, 05 Feb 2024 21:35:19 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 05 Feb 2024 21:36:01 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-02-05T22%3A45%3A16Z&sr=b&sp=r&sig=fZw5momoUSdMtbypbQx00lIQ6o97unfN40ZNvzxNIVc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC2692731DCD16"'
      last-modified:
      - Mon, 05 Feb 2024 21:36:01 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 05 Feb 2024 21:35:16 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 05 Feb 2024 21:36:01 GMT
      x-ms-range:
      - bytes=5556-9651
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged174.blob.core.windows.net/a1dcbb770c4f4d9d8ae785beccb34951-yp2ugdt6vp/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-02-05T22%3A45%3A16Z&sr=b&sp=r&sig=fZw5momoUSdMtbypbQx00lIQ6o97unfN40ZNvzxNIVc%3D
  response:
    body:
      string: "9f2ab0ef7314: Pushed\n30e7249f6651: Pushed\ncli-containerapp-20240205133502608667:
        digest: sha256:2cfe53f4f173fba39148c1d77164b67d7226ab233291bcb7675964a9bc81ee21
        size: 1786\r\n2024/02/05 21:36:00 Successfully pushed image: caa554e73ddcacr.azurecr.io/containerapp000003:cli-containerapp-20240205133502608667\n2024/02/05
        21:36:00 Step ID: build marked as successful (elapsed time in seconds: 33.853404)\n2024/02/05
        21:36:00 Populating digests for step ID: build...\n2024/02/05 21:36:01 Successfully
        populated digests for step ID: build\n2024/02/05 21:36:01 Step ID: push marked
        as successful (elapsed time in seconds: 8.149180)\n2024[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
[...]
