interactions:
- request:
    body: '{"name": "storageacc000002", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-06-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "eastus2",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storageacc000002?api-version=2025-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/fb9b08e8-6747-463e-91a2-6762f1daae8b?monitor=true&api-version=2025-06-01&t=638985300928824327&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDc0ODE0WhcNMjYwNDE5MDc0ODE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/fb9b08e8-6747-463e-91a2-6762f1daae8b?monitor=true&api-version=2025-06-01&t=638985300928824327&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDc0ODE0WhcNMjYwNDE5MDc0OD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/fb9b08e8-6747-463e-91a2-6762f1daae8b?monitor=true&api-version=2025-06-01&t=638985300933610075&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyOD[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storageacc000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-11-12T07:41:31.1240055Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-11-12T07:41:31.1240055Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storageacc000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storageacc000002","name":"storageacc000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-11-12T07:41:31.1240055Z","key2":"2025-11-12T07:41:31.1240055Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-11-12T07:41:31.1240055Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-11-12T07:41:31.1240055Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-11-12T07:41:30.7490040Z","primaryEndpoints":{"dfs":"https://storageacc000002.dfs.core.windows.net/","web":"https://storageacc000002.z20.web.core.windows.net/","blob":"https://storageacc000002.blob.core.windows.net/","queue":"https://storageacc000002.queue.core.windows.net/","table":"https://storageacc000002.table.core.windows.net/","file":"https://storageacc000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","France South","Jio India West","Spain Central","Italy North","Poland
        Central","South India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2025-10-02-preview","2025-07-01","2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2","name":"env-v1-eastus2","type":"Microsoft.App/managedEnvironments","location":"East
        US 2","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-11-12T07:18:53.9766199","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-11-12T07:18:53.9766199"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"jollybush-95ea47da.eastus2.azurecontainerapps.io","staticIp":"172.193.125.54","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.17.2"},"daprConfiguration":{"version":"1.13.6-msft.6"},"ingressConfiguration":null,"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/managedEnvironments/env-v1-eastus2/eventstream","customDomainConfiguration":{"customDomainVerificationId":"FE6A6A149A36B29FC8EBC91FBF42E07493AC7243675310C0EF2A960D2E6724C4","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled","diskEncryptionConfiguration":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "East US 2", "identity": null, "properties": {"environmentId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "targetLabel":
      null, "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "mcr.microsoft.com/azure-functions/dotnet8-quickstart-demo:1.0", "name": "functionapp000003",
      "command": null, "args": null, "env": [{"name": "AzureWebJobsStorage", "value":
      "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=storageacc000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://storageacc000002.blob.core.windows.net/;FileEndpoint=https://storageacc000002.file.core.windows.net/;QueueEndpoint=https://storageacc000002.queue.core.windows.net/;TableEndpoint=https://storageacc000002.table.core.windows.net/"}],
      "resources": null, "volumeMounts": null}], "initContainers": null, "scale":
      null, "volumes": null, "serviceBinds": null}, "workloadProfileName": null},
      "tags": null, "kind": "functionapp"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/functionapp000003","name":"functionapp000003","type":"Microsoft.App/containerApps","location":"East
        US 2","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-11-12T07:44:02.6029435Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-11-12T07:44:02.6029435Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2","workloadProfileName":null,"patchingMode":"Automatic","outboundIpAddresses":["20.161.153.68"],"customDomainVerificationId":"FE6A6A149A36B29FC8EBC91FBF42E07493AC7243675310C0EF2A960D2E6724C4","configuration":{"secrets":null,"activeRevisionsMode":"Single","targetLabel":null,"revisionTransitionThreshold":null,"ingress":{"fqdn":null,"external":true,"targetPort":80,"exposedPort":null,"transport":"Auto","traffic":null,"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/azure-functions/dotnet8-quickstart-demo:1.0","imageType":"CloudBuild","name":"functionapp000003","env":[{"name":"AzureWebJobsStorage","value":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=storageacc000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://storageacc000002.blob.core.windows.net/;FileEndpoint=https://storageacc000002.file.core.windows.net/;QueueEndpoint=https://storageacc000002.queue.core.windows.net/;TableEndpoint=https://storageacc000002.table.core.windows.net/"}]}],"initContainers":null,"scale":null,"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"None"},"kind":"functionapp"}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/0ad1880b-dae7-48e7-ad08-70cb5ce9f652?api-version=2025-02-02-preview&azureAsyncOperation=true&t=638985302435717058&c=MIIIrzCCBpegAwIBAgITUQE8hit6gFkSBiE8_QABATyGKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIwMDQ1MTQ0WhcNMjYwNDE4MDQ1MTQ0WjBAMT4wPAYDVQQDEzVhc3l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/0ad1880b-dae7-48e7-ad08-70cb5ce9f652?api-version=2025-02-02-preview&azureAsyncOperation=true&t=638985302435717058&c=MIIIrzCCBpegAwIBAgITUQE8hit6gFkSBiE8_QABATyGKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUx[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/functionapp000003","name":"functionapp000003","type":"Microsoft.App/containerApps","location":"East
        US 2","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-11-12T07:44:02.6029435","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-11-12T07:44:02.6029435"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_v1_rg_eastus2/providers/Microsoft.App/managedEnvironments/env-v1-eastus2","workloadProfileName":null,"patchingMode":"Automatic","outboundIpAddresses":["20.161.153.68"],"latestRevisionName":"functionapp000003--1hxsyb6","latestReadyRevisionName":"functionapp000003--1hxsyb6","latestRevisionFqdn":"functionapp000003--1hxsyb6.jollybush-95ea47da.eastus2.azurecontainerapps.io","customDomainVerificationId":"FE6A6A149A36B29FC8EBC91FBF42E07493AC7243675310C0EF2A960D2E6724C4","configuration":{"secrets":null,"activeRevisionsMode":"Single","targetLabel":"","revisionTransitionThreshold":null,"ingress":{"fqdn":"functionapp000003.jollybush-95ea47da.eastus2.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/azure-functions/dotnet8-quickstart-demo:1.0","imageType":"ContainerImage","name":"functionapp000003","env":[{"name":"AzureWebJobsStorage","value":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=storageacc000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://storageacc000002.blob.core.windows.net/;FileEndpoint=https://storageacc000002.file.core.windows.net/;QueueEndpoint=https://storageacc000002.queue.core.windows.net/;TableEndpoint=https://storageacc000002.table.core.windows.net/"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"cooldownPeriod":300,"pollingInterval":30,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/eventstream","delegatedIdentities":[]},"identity":{"type":"None"},"kind":"functionapp"}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revisions?api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6","name":"functionapp000003--1hxsyb6","type":"Microsoft.App/containerapps/revisions","properties":{"createdTime":"2025-11-12T07:44:09+00:00","fqdn":"functionapp000003--1hxsyb6.jollybush-95ea47da.eastus2.azurecontainerapps.io","template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/azure-functions/dotnet8-quickstart-demo:1.0","name":"functionapp000003","env":[{"name":"AzureWebJobsStorage","value":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=storageacc000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://storageacc000002.blob.core.windows.net/;FileEndpoint=https://storageacc000002.file.core.windows.net/;QueueEndpoint=https://storageacc000002.queue.core.windows.net/;TableEndpoint=https://storageacc000002.table.core.windows.net/"}],"resources":{"cpu":0.500,"memory":"1Gi"},"probes":[]}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"cooldownPeriod":null,"pollingInterval":null,"rules":null},"volumes":null,"serviceBinds":null},"active":true,"replicas":1,"trafficWeight":100,"healthState":"None","provisioningState":"Provisioned","runningState":"Activating"}}]}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas?api-version=2025-02-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz","name":"functionapp000003--1hxsyb6-744696d6bc-9dckz","type":"Microsoft.App/containerapps/revisions/replicas","properties":{"createdTime":"2025-11-12T07:44:10Z","runningState":"Running","runningStateDetails":"","containers":[{"name":"functionapp000003","containerId":"containerd://db50dcaf0d05280f90b399accf36722c6a271356e95f4f9ce343bd94ef985fa2","ready":true,"started":true,"restartCount":0,"runningState":"Running","runningStateDetails":"Container
        started at: 11/12/2025 7:44:16 AM.","logStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/containers/functionapp000003/logstream","execEndpoint":"wss://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/containers/functionapp000003/exec","debugEndpoint":"wss://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/debug?targetContainer=functionapp000003"}],"initContainers":[{"name":"metadata-check","containerId":"containerd://571829a7f42d37c19ea2aa8cab9239ccfa6c4ad78ca43e60645b13ee1e379720","ready":true,"started":false,"restartCount":0,"runningState":"Terminated","ru[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas?api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsof[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/functionapp000003/getAuthToken?api-version=2025-02-02-preview
  response:
    body:
      string: '{"location":"East US 2","properties":{"token":"***","expires":"2025-11-12T08:44:34.5617149Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/functionapp000003","name":"functionapp000003","type":"Microsoft.App/containerApps/accesstoken"}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/debug?targetContainer=functionapp000003&command=%2Fbin%2Fazure-functions-admin+keys+list+--key-type+hostKey
  response:
    body:
      string: '{"$id":"1","output":"{\n\"value\": {\n\"keys\": [\n{\n\"name\": \"default\",\n\"value\":
        \"***\"\n}\n]\n}\n}"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/debug?targetContainer=functionapp000003&command=%2Fbin%2Fazure-functions-admin+keys+list+--key-type+masterKey
  response:
    body:
      string: '{"$id":"1","output":"{\n\"value\": {\n\"keys\": [\n{\n\"name\": \"_master\",\n\"value\":
        \"***\"\n}\n]\n}\n}"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/debug?targetContainer=functionapp000003&command=%2Fbin%2Fazure-functions-admin+keys+list+--key-type+systemKey
  response:
    body:
      string: '{"$id":"1","output":"{\n\"value\": {\n\"keys\": []\n}\n}"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/functionapp000003/revisions/functionapp000003--1hxsyb6/replicas/functionapp000003--1hxsyb6-744696d6bc-9dckz/debug?targetContainer=functionapp000003&command=%2Fbin%2Fazure-functions-admin+keys+list+--key-type+functionKey+--function-name+HttpExample
  response:
    body:
      string: '{"$id":"1","output":"{\n\"value\": {\n\"keys\": [\n{\n\"name\": \"default\",\n\"value\":
        \"***\"\n}\n]\n}\n}"}'
    headers:
[...]
