interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T02:41:49.4366892"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"},{"workloadProfileType":"D8","name":"wpname","minimumCount":1,"maximumCount":8}],"firstPartyConfiguration":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-11-10T15:07:30.1417273+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T15:07:30.1417273+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-11-10T15:07:30.1417273Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-11-10T15:07:37.3125127+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-11-10T15:07:37.31256+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-dc1a4588-7fda-11ee-820e-2c0da7bd12b1?api-version=2022-02-01-preview&t=638352256577668550&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-dc1a4588-7fda-11ee-820e-2c0da7bd12b1?api-version=2022-02-01-preview&t=638352256577668550&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"KvOQwiSzguNQB8FIR9QUh/7jicVtsAvhxkj1SqpNrN+ACRAhYq5W"},{"name":"password2","value":"Bhyi/Jb1gpDLYQAsxkoxU8fzYUhXrPN+2W+edMj/Cq+ACRDMqRJ2"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"KvOQwiSzguNQB8FIR9QUh/7jicVtsAvhxkj1SqpNrN+ACRAhYq5W"},{"name":"password2","value":"Bhyi/Jb1gpDLYQAsxkoxU8fzYUhXrPN+2W+edMj/Cq+ACRDMqRJ2"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/manag[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBpZm1pcWwzNWJ4aGU6Y2xpLWNvbnRhaW5lcmFwcC0yMDIzMTExMDIzMDc1NTIxNDEyMiAtZiBEb2NrZXJmaWxlIC4KICAgIHRpbWVvdXQ6IDI4ODAwCiAgLSBwdXNoOiBbIiRSZWdpc3RyeS9jb250YWluZXJhcHBpZm1pcWwzNWJ4aGU6Y2xpLWNvbnRhaW5lcmFwcC0yMDIzMTExMDIzMDc1NTIxNDEyMiJdCiAgICB0aW1lb3V0OiAxODAwCg==",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/source/202311100000/f2864b9a-e6e1-4f18-b7e5-18a558ab0ef5.tar.gz?sv=2021-12-02&se=2023-11-10T16%3A08%3A21Z&sr=b&sp=cw&sig=gebz0UFzA0JL%2BIRTeQgavWwAAceahh7O3unO5krISsE%3D","relativePath":"source/202311100000/f2864b9a-e6e1-4f18-b7e5-18a558ab0ef5.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICGJHTmUC/2NsaV9zb3VyY2VfYXJjaGl2ZV80MDJhNWFhYzMzMDU0OGY0YjYyZDdjYzYwYTBm
      NjQzOS50YXIA7T35dxTHmWQ3+wv7eM9/Qnm8mwg/za0ZCSHJYCBBWYNZhE28juP0zJSkhpnucXeP
      jvglztusd98eL9lsnH3Z5zhOYmODsbAN5gZjfJv7kBAggUASwqALgQTikGu/quqe6RmNQDhowFF9
      9se0qqvq++r6juo6XG6Xe9YiqW4+liJYmzIh4OEw1q/H4y9IPdNwr8fn9U1BdVNyAAndkDQgP2Vy
      gq8IxQw5hku9wRkzgr6iAo/f5SmCxxkFU6cI+IsHdw5o0EFdWFg49viHZ29BwOcvKPAFgn4ID0L8
      KSggxv+Eg+uekP/+0fLfK+R/TuR/oU3+B2Z4PF6/[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-11-10T15:08:07.49[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202311100000/f2864b9a-e6e1-4f18-b7e5-18a558ab0ef5.tar.gz",
      "file": "C:\\Users\\XINYUP~1.RED\\AppData\\Local\\Temp\\tmp4ff0v269", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-11-10T15:08:25+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T15:08:25.4730643+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:08:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FEE49CE127"'
      last-modified:
      - Fri, 10 Nov 2023 15:08:27 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:08:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:08:28 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: "2023/11/10 15:08:27 Downloading source code...\r\n2023/11/10 15:08:27\
        \ Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FEE49CE127"'
      last-modified:
      - Fri, 10 Nov 2023 15:08:27 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:08:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:08:42 GMT
      x-ms-range:
      - bytes=2041-6136
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: "5ec5a733efd1: Pull complete\n940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\n\
        Status: Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\n\
        Dockerfile written to '/workspace/Dockerfile'.\r\n2023/11/10 15:08:43 Successfully\
        \ executed container: acb_step_0\n2023/11/10 15:08:43 Executing step ID: acb_step_1.\
        \ Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n\
        2023/11/10 15:08:43 Scanning for dependencies...\n2023/11/10 15:08:44 Successfully\
        \ scanned dependencies\n2023/11/10 15:08:44 Launching container with name:\
        \ acb_step_1\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2041-2667/2668
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FEEE66074F"'
      last-modified:
      - Fri, 10 Nov 2023 15:08:44 GMT
      x-ms-blob-committed-block-count:
      - '7'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:08:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:08:45 GMT
      x-ms-range:
      - bytes=2668-6763
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: "Sending build context to Docker daemon  35.33kB\r\r\nStep 1/10 : ARG\
        \ RUNTIME=dotnetcore:7.0\nStep 2/10 : FROM mcr.microsoft.com/oryx/cli:debian-buster-stable\
        \ as build\ndebian-buster-stable: Pulling from oryx/cli\n711706b827bb: Pulling\
        \ fs layer\n465ae13a022e: Pulling fs layer\n4f4fb700ef54: Pulling fs layer\n\
        c4215c02d323: Pulling fs layer\ndf84baad5228: Pulling fs layer\nd0ac104eea9a:\
        \ Pulling fs layer\n340340610ddb: Pulling fs layer\n59a77586da57: Pulling\
        \ fs layer\nc4215c02d323: Waiting\ndf84baad5228: Waiting\nd0ac104eea9a: Waiting\n\
        340340610ddb: Waiting\n59a77586da57: Waiting\n4f4fb700ef54: Verifying Checksum\n\
        4f4fb700ef54: Download complete\n465ae13a022e: Verifying Checksum\n465ae13a022e:\
        \ Download complete\ndf84baad5228: Verifying Checksum\ndf84baad5228: Download\
        \ complete\n711706b827bb: Verifying Checksum\n711706b827bb: Download complete\n\
        d0ac104eea9a: Verifying Checksum\nd0ac104eea9a: Download complete\nc4215c02d323:\
        \ Verifying Checksum\nc4215c02d323: Download complete\n59a77586da57: Verifying\
        \ Checksum\n59a77586da57: Download complete\n340340610ddb: Verifying Checksum\n\
        340340610ddb: Download complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2668-3753/3754
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE1FEEFD2A935"'
      last-modified:
      - Fri, 10 Nov 2023 15:08:46 GMT
      x-ms-blob-committed-block-count:
      - '8'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 10 Nov 2023 15:08:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:09:10 GMT
      x-ms-range:
      - bytes=18912-23007
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: '41 kB]

        Get:15 http://deb.debian.org/debian buster/main amd64 autotools-dev all 20180224.1
        [77.0 kB]

        Get:16 http://deb.debian.org/debian buster/main amd64 automake all 1:1.16.1-4
        [771 kB]

        Get:17 http://deb.debian.org/debian buster/main amd64 binutils-common amd64
        2.31.1-16 [2073 kB]

        Get:18 http://deb.debian.org/debian buster/main amd64 libbinutils amd64 2.31.1-16
        [478 kB]

        Get:19 http://deb.debian.org/debian buster/main amd64 bin[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:09:24 GMT
      x-ms-range:
      - bytes=50588-54683
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: 'Setting up libxft2:amd64 (2.3.2-2) ...

        Setting up mime-support (3.62) ...

        Setting up libio-pty-perl (1:1.08-1.1+b5) ...

        Setting up unzip (6.0-23+deb10u3) ...

        Setting up libpng-dev:amd64 (1.6.36-6) ...

        Setting up binutils-common:amd64 (2.31.1-16) ...

        Setting up x11-common (1:7.7+19) ...

        debconf: unable to initialize frontend: Dialog

        debconf: (TERM is not set, so the dialog frontend is not usable.)

        debconf: falling back to frontend: Readline

        update-rc.d: warning: start and stop actions are no longer supported; falling
        back to defaults

        invoke-rc.d: could not determine current runlevel

        invoke-rc.d: policy-rc.d denied execution of start.

        Setting up libpq5:amd64 (11.21-0+deb10u2) ...

        Setting up libpq-dev (11.21-0+deb10u2) ...

        Setting up libgomp1:amd64 (8.3.0-6) ...

        Setting up bzip2 (1.0.6-9.2~deb10u2) ...

        Setting up libffi-dev:amd64 (3.2.1-9) ...

        Setting up libpthread-stubs0-dev:amd64 (0.4-1) ...

        Setting up libfreetype6-dev:amd64 (2.9.1-3+deb10u3) ...

        Setting up libasan5:amd64 (8.3.0-6) ...

        Setting up xtrans-dev (1.3.5-1) ...

        Setting up autotools-dev (20180224.1) ...

        Setting up libexpat1-dev:amd64 (2.2.6-2+deb10u6) ...

        Setting up libsqlite3-dev:amd64 (3.27.2-3+deb10u2) ...

        Setting up swig3.0 (3.0.12-2) ...

        Setting up make (4.2.1-1.2) ...

        Setting up libmpfr6:amd64 (4.0.2-1) ...

        Setting up uuid-dev:amd64 (2.33.1-0.1) ...

        Setting up libncurses6:amd64 (6.1+20181013-2+deb10u4) ...

        Setting up libsigsegv2:amd64 (2.12-2) ...

        Setting up xz-utils (5.2.4-1+deb10u1) ...

        update-alternatives: using /usr/bin/xz to provide /usr/bin/lzma (lzma) in
        auto mode

        Setting up libquadmath0:amd64 (8.3.0-6) ...

        Setting up libssl-dev:amd64 (1.1.1n-0+deb10u6) ...

        Setting up libmpc3:amd64 (1.1.0-1) ...

        Setting up libatomic1:amd64 (8.3.0-6) ...

        Setting up patch (2.7.6-3+deb10u1) ...

        Setting up libtcl8.6:amd64 (8.6.9+dfsg-2) ...

        Setting up libipt2 (2.0-2) ...

        Setting up lzma (9.22-2.1) ...

        updat[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Nov 2023 15:10:19 GMT
      x-ms-range:
      - bytes=66104-70199
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged61.blob.core.windows.net/3d4c727302784ff59ac079fe103eecbf-yhxidkmtg7/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-10T16%3A18%3A27Z&sr=b&sp=r&sig=51BWrBC756YwtGsH3TbSfC7KgX3eQChDHLd%2BJxS2qu4%3D
  response:
    body:
      string: "Removing intermediate container 2b4336a8dae4\n ---> 79f38873a1bd\n\
        Successfully built 79f38873a1bd\nSuccessfully tagged containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20231110230755214122\n\
        2023/11/10 15:10:12 Successfully executed container: acb_step_1\n2023/11/10\
        \ 15:10:12 Executing step ID: acb_step_2. Timeout(sec): 1800, Working directory:\
        \ '', Network: 'acb_default_network'\n2023/11/10 15:10:12 Pushing image: containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20231110230755214122,\
        \ attempt 1\nThe push refers to repository [containerapp000003.azurecr.io/containerapp000002]\n\
        55123406181e: Preparing\n3889d0166db3: Preparing\n0e8e19038e9a: Preparing\n\
        dca35447d61b: Preparing\n7a8e27183069: Preparing\n89d28b7624aa: Preparing\n\
        c7445e6430d8: Preparing\nd88c8a2f4b42: Preparing\na9e933545d43: Preparing\n\
        74c0af6e0227: Preparing\n89d28b7624aa: Waiting\nc7445e6430d8: Waiting\nd88c8a2f4b42:\
        \ Waiting\na9e933545d43: Waiting\n74c0af6e0227: Waiting\n3889d0166db3: Pushed\r\
        \n"
    headers:
      content-disposition:
      - ''
      content-range:
[...]
