interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggbx2k6xvnoc7cerebmipy?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"331818f5-b8a0-4f6a-aaa4-a654e6bd3b82","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-08-03T01:57:54.8060209Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-04T00:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-03T01:57:54.8060209Z","modifiedDate":"2023-08-03T01:57:54.8060209Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggbx2k6xvnoc7cerebmipy","name":"workspace-clitestrggbx2k6xvnoc7cerebmipy","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggbx2k6xvnoc7cerebmipy?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggbx2k6xvnoc7cerebmipy?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"331818f5-b8a0-4f6a-aaa4-a654e6bd3b82","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-08-03T01:57:54.8060209Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-04T00:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-03T01:57:54.8060209Z","modifiedDate":"2023-08-03T01:57:54.8060209Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggbx2k6xvnoc7cerebmipy","name":"workspace-clitestrggbx2k6xvnoc7cerebmipy","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrggbx2k6xvnoc7cerebmipy/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"CBi78tpzzvJd9hTHbHpSofPqY6QHnNkcqnDu9XpZxqlOfaZ3/lqg5HCiWNevZmvO9eT9aTggtEjntMey0dI5ig==","secondarySharedKey":"BmHAaJ47gSu9TRT4u2AJ085TIZO6R+KpZUWhKogo504kil7yOxML/v1Ac/mhu6Dz7f7EJhrNqkSOqx0vjqEeUQ=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "331818f5-b8a0-4f6a-aaa4-a654e6bd3b82",
      "sharedKey": "CBi78tpzzvJd9hTHbHpSofPqY6QHnNkcqnDu9XpZxqlOfaZ3/lqg5HCiWNevZmvO9eT9aTggtEjntMey0dI5ig=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-03T01:57:59.1159728Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-03T01:57:59.1159728Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"yellowbush-57ba72b6.eastus.azurecontainerapps.io","staticIp":"20.237.75.237","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"331818f5-b8a0-4f6a-aaa4-a654e6bd3b82","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.8"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1fdea95c-5bd3-4214-8bc3-2097e10afd9c?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1fdea95c-5bd3-4214-8bc3-2097e10afd9c?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1fdea95c-5bd3-4214-8bc3-2097e10afd9c","name":"1fdea95c-5bd3-4214-8bc3-2097e10afd9c","status":"InProgress","startTime":"2023-08-03T01:58:02.8482785"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-15T03:51:22.0481882Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-06T13:17:51.6966031Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rggy6h7nggmgx2rdibhyn5wcyertyjx43cz4axrkbts53gblnlh5kzs73rcbjjsz6bp/providers/Microsoft.ContainerRegistry/registries/cae90e458a71acr","name"[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr","name":"ca88360c3c87acr","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-03T01:59:10.1724582+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-03T01:59:10.1724582+00:00"},"properties":{"loginServer":"ca88360c3c87acr.azurecr.io","creationDate":"2023-08-03T01:59:10.1724582Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-03T01:59:18.208663+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-03T01:59:18.208663+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/operationStatuses/registries-4d6a08b0-31a1-11ee-8f1b-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/operationStatuses/registries-4d6a08b0-31a1-11ee-8f1b-2c0da7bd12b1?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/operationStatuses/registries-4d6a08b0-31a1-11ee-8f1b-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"ca88360c3c87acr","passwords":[{"name":"password","value":"2ZVEohwPxJWoHEZnacfC7IiUnZ6Mw2aEnjOdwY0XiO+ACRBC1D4U"},{"name":"password2","value":"XHU29X5492LiP3knQdqwX326kyuQwuhgfIqCoYsiYk+ACRCG1lXi"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/source/202308030000/c3f5043f-c2ea-48c0-82e9-f11a421f69c0.tar.gz?sv=2021-12-02&se=2023-08-03T02%3A59%3A25Z&sr=b&sp=cw&sig=i8GoS8sjukRbALeWUVJ%2BNkiJ2zPodvn3VRaLYVZAc7c%3D","relativePath":"source/202308030000/c3f5043f-c2ea-48c0-82e9-f11a421f69c0.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICPoJy2QC/2J1aWxkX2FyY2hpdmVfOGE0ZjczNGVkZGNlNDY3YmFiOGQ3ZGI5ZmIxNmUwNTQu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp0QiEJCMDDko4tJJsx+s4Ts9MSWro6R5390jIPMd5
      m/Xu2+Mlm42Tl32O4yQ2BozBNpgbjPFt7kNCgAQCSQiDLgQSiEOu/aqqe24JcGBgTX3waWa6q77v
      q+s7qqurXG6Xe0aFtHgOlsJYn3BHwMNhrE+PJ9+f+E6vez0+r28CWjwhBxAzTEkH9hPuT/BNRRFT
      juASb2BqoNDvK/T6XD5vYJpvmm/iBAHfeHDngAcd1IWFhWOPf/ju9fv9vnz4V0ivBzzwgQrE+L/j
      4BL6X+h/of/vW5CiUQObpqzWGq5ZuB4rWjSCVdO1[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20230803095922575909"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "d1cbb2c2c1e443468d7338c1e2842b3b_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202308030000/c3f5043f-c2ea-48c0-82e9-f11a421f69c0.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-03T01:59:28+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-03T01:59:26.9344612+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca88360c3c87acr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A30Z&sr=b&sp=r&sig=qZxsYOE%2BSi5CMxgEhW6ScfQG%2FPslRRWqYgAvTxGk9yc%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 01:59:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A30Z&sr=b&sp=r&sig=qZxsYOE%2BSi5CMxgEhW6ScfQG%2FPslRRWqYgAvTxGk9yc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C5467A1F1A"'
      last-modified:
      - Thu, 03 Aug 2023 01:59:30 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 01:59:31 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A30Z&sr=b&sp=r&sig=qZxsYOE%2BSi5CMxgEhW6ScfQG%2FPslRRWqYgAvTxGk9yc%3D
  response:
    body:
      string: "2023/08/03 01:59:29 Downloading source code...\r\n2023/08/03 01:59:30\
        \ Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C5467A1F1A"'
      last-modified:
      - Thu, 03 Aug 2023 01:59:30 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 01:59:39 GMT
      x-ms-range:
      - bytes=1523-5618
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A30Z&sr=b&sp=r&sig=qZxsYOE%2BSi5CMxgEhW6ScfQG%2FPslRRWqYgAvTxGk9yc%3D
  response:
    body:
      string: "Digest: sha256:2e6e92e69f4e4395a0887ab373de3e8df5ec99cf2bbb5e3f1babdb64d863cb66\n\
        Status: Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n --->\
        \ af095315a4eb\nStep 2/17 : WORKDIR /app\n ---> Running in 58c9880defa2\n\
        Removing intermediate container 58c9880defa2\n ---> 7b8f902c61e3\nStep 3/17\
        \ : EXPOSE 80\n ---> Running in b4b869210ca3\nRemoving intermediate container\
        \ b4b869210ca3\n ---> fda6957efdb1\nStep 4/17 : EXPOSE 443\n ---> Running\
        \ in 8ae6fef654f5\nRemoving intermediate container 8ae6fef654f5\n ---> 074013ff0cca\n\
        Step 5/17 : FROM mcr.microsoft.com/dotnet/sdk:6.0 AS build\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1523-2104/2105
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C54C407816"'
      last-modified:
      - Thu, 03 Aug 2023 01:59:40 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 01:59:43 GMT
      x-ms-range:
      - bytes=2105-6200
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A30Z&sr=b&sp=r&sig=qZxsYOE%2BSi5CMxgEhW6ScfQG%2FPslRRWqYgAvTxGk9yc%3D
  response:
    body:
      string: "6.0: Pulling from dotnet/sdk\n1d5252f66ea9: Already exists\n75b8c875f256:\
        \ Already exists\n615785a9af88: Already exists\n57e202db4287: Already exists\n\
        91c4be48c2b1: Already exists\nf01f2e84887a: Pulling fs layer\ne257be7c6e6c:\
        \ Pulling fs layer\n674541b29a1f: Pulling fs layer\n674541b29a1f: Verifying\
        \ Checksum\n674541b29a1f: Download complete\nf01f2e84887a: Verifying Checksum\n\
        f01f2e84887a: Download complete\ne257be7c6e6c: Verifying Checksum\ne257be7c6e6c:\
        \ Download complete\nf01f2e84887a: Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2105-2595/2596
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C54DBC938D"'
      last-modified:
      - Thu, 03 Aug 2023 01:59:42 GMT
      x-ms-blob-committed-block-count:
      - '7'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 02:00:10 GMT
      x-ms-range:
      - bytes=4843-8938
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged137.blob.core.windows.net/10f9eeaadd504acba6f641c3dac51686-udfk95a1os/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-03T03%3A09%3A30Z&sr=b&sp=r&sig=qZxsYOE%2BSi5CMxgEhW6ScfQG%2FPslRRWqYgAvTxGk9yc%3D
  response:
    body:
      string: "2023/08/03 02:00:08 Successfully executed container: build\n2023/08/03\
        \ 02:00:08 Executing step ID: push. Timeout(sec): 3600, Working directory:\
        \ '', Network: ''\n2023/08/03 02:00:08 Pushing image: ca88360c3c87acr.azurecr.io/containerapp000003:20230803095922575909,\
        \ attempt 1\nThe push refers to repository [ca88360c3c87acr.azurecr.io/containerapp000003]\n\
        eae6f6ba4579: Preparing\nab2faf27e4f5: Preparing\nbe37720e5f82: Preparing\n\
        72a7e3e0cdae: Preparing\n8de6f7578c38: Preparing\nb63bee926c4e: Preparing\n\
        8ce178ff9f34: Preparing\nb63bee926c4e: Waiting\n8ce178ff9f34: Waiting\neae6f6ba4579:\
        \ Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4843-5438/5439
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DB93C55E708E2F"'
      last-modified:
      - Thu, 03 Aug 2023 02:00:10 GMT
      x-ms-blob-committed-block-count:
      - '16'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 03 Aug 2023 01:59:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 03 Aug 2023 02:00:20 GMT
      x-ms-version:
[...]
