interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"5a9e3923-630a-4f0a-8d38-e14c4e196c5b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-05-15T01:18:17.6116282Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-05-15T14:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-05-15T01:18:17.6116282Z","modifiedDate":"2024-05-15T01:18:17.6116282Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces","etag":"\"2a0000b0-0000-0100-0000-66440d590000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2023-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"5a9e3923-630a-4f0a-8d38-e14c4e196c5b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-05-15T01:18:17.6116282Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-05-15T14:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-05-15T01:18:17.6116282Z","modifiedDate":"2024-05-15T01:18:17.6116282Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces","etag":"\"2a0000b0-0000-0100-0000-66440d590000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"abc123","secondarySharedKey":"abc123"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India","Italy North","Poland Central"],"apiVersions":["2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-11-02-preview","capabilities":"None"},{"resourceType":"functions","locations":["North
        Central US (Stage)","West Central US","West US 2","Southeast Asia","Sweden
        Central","Canada Central","West Europe","North Europe","East US","East US
        2","East Asia","Australia East","Germany West Central","Japan East","UK South","West
        US","Central US","North Central US","South Central US","Korea Central","Brazil
        South","West US 3","France Central","South Africa North","Norway East","Switzerland
       [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/aca-sp-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "northcentralusstage", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "5a9e3923-630a-4f0a-8d38-e14c4e196c5b",
      "sharedKey": "abc123",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "None", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002","name":"aca-sp-env000002","type":"Microsoft.App/managedEnvironments","location":"North
        Central US (Stage)","systemData":{"createdBy":"stacyzeng@microsoft.com","createdByType":"User","createdAt":"2024-05-15T01:18:20.7937382","lastModifiedBy":"stacyzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-15T01:18:20.7937382"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"jollycoast-3ba96fd9.northcentralusstage.azurecontainerapps.io","staticIp":"52.228.169.38","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"5a9e3923-630a-4f0a-8d38-e14c4e196c5b","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/aca-sp-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"5E10F86F6DBB6E4BCE337CA15E8CC999F074D47FD74594B60EF6C76D80ABB56C","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/managedEnvironmentOperationStatuses/2c10c406-92d9-4c80-bcb0-24d90b4f9426?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638513327020750051&c=MIIHSDCCBjCgAwIBAgITfwMhOTmqQoo0tkRvGgAEAyE5OTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTAxMDYzNDQ2WhcNMjUwNDI2MDYzNDQ2WjBAM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/managedEnvironmentOperationStatuses/2c10c406-92d9-4c80-bcb0-24d90b4f9426?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638513327020750051&c=MIIHSDCCBjCgAwIBAgITfwMhOTmqQoo0tkRvGgAEAyE5OTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northcentralusstage", "properties": {"environmentId": null,
      "poolManagementType": "Dynamic", "containerType": "PythonLTS", "customContainerTemplate":
      null, "secrets": null, "dynamicPoolConfiguration": {"executionType": "Timed",
      "cooldownPeriodInSeconds": "300"}, "scaleConfiguration": {"maxConcurrentSessions":
      10, "readySessionInstances": 5}, "sessionNetworkConfiguration": {"status": "EgressDisabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004","name":"spjupyterpython000004","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"stacyzeng@microsoft.com","createdByType":"User","createdAt":"2024-05-15T01:19:46.3846884Z","lastModifiedBy":"stacyzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-15T01:19:46.3846884Z"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"PythonLTS","scaleConfiguration":{"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"status":"EgressDisabled"},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '399'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Stacy
        Zeng","givenName":"Stacy","jobTitle":"SOFTWARE ENGINEER","mail":"stacyzeng@microsoft.com","mobilePhone":null,"officeLocation":"18/Mobile","preferredLanguage":null,"surname":"Zeng","userPrincipalName":"stacyzeng@microsoft.com","id":"f2ef724c-3583-44f5-9f7e-1b520fbb7ff6"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SN1PEPF0003466F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0",
      "principalId": "f2ef724c-3583-44f5-9f7e-1b520fbb7ff6"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004/providers/Microsoft.Authorization/roleAssignments/04117548-c171-4675-99a3-27bc358c121a?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0","principalId":"f2ef724c-3583-44f5-9f7e-1b520fbb7ff6","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004","condition":null,"conditionVersion":null,"createdOn":"2024-05-15T01:19:47.6408492Z","updatedOn":"2024-05-15T01:19:48.0945368Z","createdBy":null,"updatedBy":"f2ef724c-3583-44f5-9f7e-1b520fbb7ff6","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004/providers/Microsoft.Authorization/roleAssignments/04117548-c171-4675-99a3-27bc358c121a","type":"Microsoft.Authorization/roleAssignments","name":"04117548-c171-4675-99a3-27bc358c121a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"identifier": "testidentifier000005", "codeInputType":
      "inline", "executionType": "synchronous", "code": "print(\"Hello world\")",
      "timeoutInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004/code/execute?identifier=testidentifier000005&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","properties":{"$id":"2","status":"Success","stdout":"Hello
        world\n","stderr":"","result":"","executionTimeInMilliseconds":33}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a3bd1c56-b587-431d-bffb-dbf9dd57c607
      x-ms-allocation-retries:
      - '0'
      x-ms-allocation-time:
      - '458.9385'
      x-ms-container-execution-duration:
      - '33'
      x-ms-execution-read-response-time:
      - '13.4774'
      x-ms-execution-request-time:
      - '23'
      x-ms-overall-execution-time:
      - '71.359'
      x-ms-preparation-time:
      - '111.8628'
      x-ms-session-guid:
      - bdfb1960-ff59-464a-af34-2eff9aa667e8
      x-ms-total-execution-service-time:
      - '643.1543'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "--7935981c0a7a4da922d02fbe27894c75\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"cert.txt\"\r\n\r\ntesting\r\n--7935981c0a7a4da922d02fbe27894c75--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=7935981c0a7a4da922d02fbe27894c75
    method: POST
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004/files/upload?identifier=testidentifier000005&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","value":[{"$id":"2","properties":{"$id":"3","filename":"cert.txt","size":7,"lastModifiedTime":"2024-05-15T01:19:57.0755584Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f906ff59-55f6-45ad-886e-66518751d99e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004/files?identifier=testidentifier000005&path=&api-version=2024-02-02-preview
  response:
    body:
      string: '{"$id":"1","value":[{"$id":"2","properties":{"$id":"3","filename":"cert.txt","size":7,"lastModifiedTime":"2024-05-15T01:19:57.0755584Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f12a4764-21e6-47e5-bdbb-4039b3c7f270
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004/files/content/cert.txt?identifier=testidentifier000005&api-version=2024-02-02-preview
  response:
    body:
      string: testing
    headers:
      content-type:
      - application/octet-stream
      mise-correlation-id:
      - 5f14399f-7b3e-49dd-a986-ac875fd99d2f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004/files/cert.txt?identifier=testidentifier000005&api-version=2024-02-02-preview
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - 05a9aab5-c531-439d-bdb5-c92e9b673461
    status:
      code: 204
      message: No Content
[...]
