interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","France South","Spain Central","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/usages?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"name":{"value":"ManagedEnvironmentCount","localizedValue":"Managed
        Environment Count"},"usage":0,"currentValue":0,"limit":40},{"name":{"value":"SubscriptionNCA100Gpus","localizedValue":"Subscription
        NCA 100 Gpus"},"usage":0,"currentValue":0,"limit":0},{"name":{"value":"SessionPools","localizedValue":"Session
        Pools"},"usage":0,"currentValue":0,"limit":50},{"name":{"value":"SubscriptionConsumptionNCA100Gpus","localizedValue":"Subscription
        Consumption NCA 100 Gpus"},"usage":0,"currentValue":0,"limit":2},{"name":{"value":"SubscriptionConsumptionT4Gpus","localizedValue":"Subscription
        Consumption T 4 Gpus"},"usage":0,"currentValue":0,"limit":8},{"name":{"value":"ConsumptionNCA100GpusEnvCount","localizedValue":"Consumption
        NCA 100 Gpus Env Count"},"usage":0,"currentValue":0,"limit":1},{"name":{"value":"ConsumptionT4GpusEnvCount","localizedValue":"Consumption
        T 4 Gpus Env Count"},"usage":0,"currentValue":0,"limit":2}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2025-02-01
  response:
    body:
      string: '{"properties":{"customerId":"60f89dc5-a045-4f0f-bccc-30a82bf40c21","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-05-14T13:08:40.9145385Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-05-15T08:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2025-05-14T13:08:40.9145385Z","modifiedDate":"2025-05-14T13:08:40.9145385Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces","etag":"\"b604147a-0000-0100-0000-682495d80000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/eastus/operationstatuses/0b00a9ea-c84c-422d-9661-ac4535b46c96?api-version=2015-11-01-preview&t=638828249212897489&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/eastus/operationstatuses/0b00a9ea-c84c-422d-9661-ac4535b46c96?api-version=2015-11-01-preview&t=638828249212897489&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"s25eJCN0aiKqMNpPG9QgrkuxdPf35HMQb/Dn3AzpZYE5pMCpifa2nyX7zqDx/1fjRbSwpPGnD0SvYGuowbzPdA==","secondarySharedKey":"d3EkRHM0IEIEssgqe57Wm7yhWVPsZ10bxexU9jsJnsU+LHLDXHiHnwLZ2n8szYZlSQW3quqkOC72OBzmcoByBQ=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000003?api-version=2024-10-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/containerapp-e2e-env000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "centralus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": {"infrastructureSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnetkntta67xpdg/subnets/default",
      "dockerBridgeCidr": null, "platformReservedCidr": null, "platformReservedDnsIP":
      null}, "appLogsConfiguration": {"destination": "log-analytics", "logAnalyticsConfiguration":
      {"customerId": "60f89dc5-a045-4f0f-bccc-30a82bf40c21", "sharedKey": "s25eJCN0aiKqMNpPG9QgrkuxdPf35HMQb/Dn3AzpZYE5pMCpifa2nyX7zqDx/1fjRbSwpPGnD0SvYGuowbzPdA==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false, "peerAuthentication": {"mtls": {"enabled": true}}, "infrastructureResourceGroup":
      null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000003?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000003","name":"containerapp-e2e-env000003","type":"Microsoft.App/managedEnvironments","location":"Central
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-05-14T13:09:24.7067384","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-14T13:09:24.7067384"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":false,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnetkntta67xpdg/subnets/default","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"thankfulground-7777ffe4.centralus.azurecontainerapps.io","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"60f89dc5-a045-4f0f-bccc-30a82bf40c21","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.16.1"},"daprConfiguration":{"version":"1.13.6-msft.2"},"eventStreamEndpoint":"https://centralus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-e2e-env000003/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":"ME_containerapp-e2e-env000003_clitest.rgzawv7yqzzv_centralus","peerAuthentication":{"mtls":{"enabled":true}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled","diskEncryptionConfiguration":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Applocations/northcentralussta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Applocations/northcentralusstage/managedEnvironmentOperationStatuses/d798e7c8-40be-4801-a201-1abb89c9e7ce?api-version=2024-10-02-preview&azureAsyncOperation=true&t=638828249819100183&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000003?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000003","name":"containerapp-e2e-env000003","type":"Microsoft.App/managedEnvironments","location":"Central
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-05-14T13:09:24.7067384","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-14T13:09:24.7067384"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":false,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnetkntta67xpdg/subnets/default","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"thankfulground-7777ffe4.centralus.azurecontainerapps.io","staticIp":"52.230.151.69","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"60f89dc5-a045-4f0f-bccc-30a82bf40c21","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.16.1"},"daprConfiguration":{"version":"1.13.6-msft.2"},"eventStreamEndpoint":"https://centralus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000003/usages?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"name":{"value":"ManagedEnvironmentGeneralPurposeCores","localizedValue":"Managed
        Environment General Purpose Cores"},"usage":0,"currentValue":0,"limit":500},{"name":{"value":"ManagedEnvironmentMemoryOptimizedCores","localizedValue":"Managed
        Environment Memory Optimized Cores"},"usage":0,"currentValue":0,"limit":500},{"name":{"value":"ManagedEnvironmentConsumptionCores","localizedValue":"Managed
        Environment Consumption Cores"},"usage":0,"currentValue":0,"limit":500}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
version: 1
