interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","Jio India West","Spain Central","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2025-07-01","2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-02-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","name":"env-northcentralusstage","type":"Microsoft.App/managedEnvironments","location":"North
        Central US (Stage)","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-05-13T02:58:27.3122858","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-23T06:32:26.6822005"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":false,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.Network/virtualNetworks/xinyu-test-ip/subnets/sub","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"orangehill-9c176bec.northcentralusstage.azurecontainerapps.io","staticIp":"72.152.41.101","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"3bf053b3-6edc-4e09-b38e-8843dd1e114a","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.17.2"},"daprConfiguration":{"version":"1.13.6-msft.6"},"ingressConfiguration":null,"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/managedEnvironments/env-northcentralusstage/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":"ME_env-northcentralusstage_client.env_rg_northcentralusstage_northcentralusstage","peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Disabled","diskEncryptionConfiguration":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Central US (Stage)", "identity": null, "properties":
      {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "targetLabel":
      null, "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "mcr.microsoft.com/k8se/quickstart:latest", "name": "containerapp000003", "command":
      null, "args": null, "env": null, "resources": null, "volumeMounts": null}],
      "initContainers": null, "scale": null, "volumes": null, "serviceBinds": null},
      "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"North
        Central US (Stage)","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-10T04:58:52.5901961Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-10T04:58:52.5901961Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","workloadProfileName":"Consumption","patchingMode":"Automatic","outboundIpAddresses":["20.221.106.163","20.221.107.3","135.233.108.99","72.152.46.28","72.152.45.42","135.233.69.184","64.236.95.15","128.203.174.189","52.228.167.74","20.221.106.208","20.221.106.152","172.169.2.188","172.169.3.64","172.169.2.174","172.169.2.175","172.169.3.65","172.169.2.189","20.9.115.172","20.9.116.165","52.242.209.123","52.242.231.78","20.9.116.161","20.9.116.46","52.230.150.44","52.230.150.168","52.230.151.47","52.230.150.222","52.230.150.71","52.230.151.14","48.214.171.241","48.214.171.110","48.214.171.106","48.214.171.201","48.214.171.132","48.214.171.181","48.214.171.82","48.214.171.186","48.214.171.140","48.214.172.2","135.233.123.200"],"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","targetLabel":null,"revisionTransitionThreshold":null,"ingress":{"fqdn":null,"external":true,"targetPort":80,"exposedPort":null,"transport":"Auto","traffic":null,"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","imageType":"CloudBuild","name":"containerapp000003"}],"initContainers":null,"scale":null,"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/9fd10282-efcf-43ff-8187-c25861f67d28?api-version=2025-02-02-preview&azureAsyncOperation=true&t=638956691335589430&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE5MTQ1NzQwWhcNMjYwMTE1MTQ1NzQwWjBAMT4wPAYDVQQDEzVhc3luY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/9fd10282-efcf-43ff-8187-c25861f67d28?api-version=2025-02-02-preview&azureAsyncOperation=true&t=638956691335589430&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0Eg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"North
        Central US (Stage)","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-10T04:58:52.5901961","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-10T04:58:52.5901961"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","workloadProfileName":"Consumption","patchingMode":"Automatic","outboundIpAddresses":["20.221.106.163","20.221.107.3","135.233.108.99","72.152.46.28","72.152.45.42","135.233.69.184","64.236.95.15","128.203.174.189","52.228.167.74","20.221.106.208","20.221.106.152","172.169.2.188","172.169.3.64","172.169.2.174","172.169.2.175","172.169.3.65","172.169.2.189","20.9.115.172","20.9.116.165","52.242.209.123","52.242.231.78","20.9.116.161","20.9.116.46","52.230.150.44","52.230.150.168","52.230.151.47","52.230.150.222","52.230.150.71","52.230.151.14","48.214.171.241","48.214.171.110","48.214.171.106","48.214.171.201","48.214.171.132","48.214.171.181","48.214.171.82","48.214.171.186","48.214.171.140","48.214.172.2","135.233.123.200"],"latestRevisionName":"containerapp000003--l6l4af6","latestReadyRevisionName":"containerapp000003--l6l4af6","latestRevisionFqdn":"containerapp000003--l6l4af6.orangehill-9c176bec.northcentralusstage.azurecontainerapps.io","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","targetLabel":"","revisionTransitionThreshold":null,"ingress":{"fqdn":"containerapp000003.orangehill-9c176bec.northcentralusstage.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","imageType":"ContainerImage","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"cooldownPeriod":300,"pollingInterval":30,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000003/eventstream","delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2025-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containe[...]
- request:
    body: '{"properties": {"configuration": {"ingress": {"ipSecurityRestrictions":
      [{"name": "name", "description": "Description here.", "ipAddressRange": "192.168.1.1/32",
      "action": "Deny"}]}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2025-07-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-pre[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/85d41839-ac82-40c9-a019-1a43e99d6c7a?api-version=2025-07-01&azureAsyncOperation=true&t=638956692809657702&c=MIIHhzCCBm-gAwIBAgITfAh_GKqaYH8RwOhahQAACH8YqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/7497eb6f-7b8f-4fe9-96c9-fb723f9af4fc?api-version=2025-07-01&azureAsyncOperation=true&t=638956693048243285&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/a77e28a2-319a-468a-a738-65249f0b78d3?api-version=2025-07-01&azureAsyncOperation=true&t=638956693282642492&c=MIIHhzCCBm-gAwIBAgITfAh_GKqaYH8RwOhahQAACH8YqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/99193cde-342c-4e5f-8bde-df66de82356c?api-version=2025-07-01&azureAsyncOperation=true&t=638956693542400684&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcN[...]
[...]
