interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-23T04:59:04.4655929"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:58:31 GMT
=======
      - Thu, 26 Oct 2023 02:25:15 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding,Accept-Encoding
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-18T06:58:37.0764482+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-18T06:58:37.0764482+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2023-10-18T06:58:37.0764482Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-10-18T06:58:44.6106155+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-10-18T06:58:44.6106547+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
=======
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-26T02:25:18.1098762+00:00","lastMo[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-bf92360c-6d83-11ee-a3a2-2c0da7bd12b1?api-version=2022-02-01-preview
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-e60b5b13-73a6-11ee-84b3-2c0da7bd12b1?api-version=2022-02-01-preview
>>>>>>> main
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-bf92360c-6d83-11ee-a3a2-2c0da7bd12b1?api-version=2022-02-01-preview
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-e60b5b13-73a6-11ee-84b3-2c0da7bd12b1?api-version=2022-02-01-preview
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '22'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:58:45 GMT
=======
      - Thu, 26 Oct 2023 02:25:25 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Kestrel
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"96IDIKoGs/AaKMZtXzVaH7ec4LKunbaagcEGDyIacQ+ACRC8Yz7o"},{"name":"password2","value":"s6El0Xuh+78DWoNgARcFmV6hNL5A4762EsbasjSlvQ+ACRDWwk11"}]}'
=======
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"tsIirUF+KBdt0ToOCbuxRBUcKyTztV4lvoWs2XwBKx+ACRB+HSKK"},{"name":"password2","value":"6ssjdJGYMw6+82yXksGgeYjOgTgsYiEB3ED87q1rjb+ACRBnTtGb"}]}'
>>>>>>> main
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:58:49 GMT
=======
      - Thu, 26 Oct 2023 02:25:30 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Kestrel
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
<<<<<<< HEAD
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/provid[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
<<<<<<< HEAD
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"96IDIKoGs/AaKMZtXzVaH7ec4LKunbaagcEGDyIacQ+ACRC8Yz7o"},{"name":"password2","value":"s6El0Xuh+78DWoNgARcFmV6hNL5A4762EsbasjSlvQ+ACRDWwk11"}]}'
=======
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"tsIirUF+KBdt0ToOCbuxRBUcKyTztV4lvoWs2XwBKx+ACRB+HSKK"},{"name":"password2","value":"6ssjdJGYMw6+82yXksGgeYjOgTgsYiEB3ED87q1rjb+ACRBnTtGb"}]}'
>>>>>>> main
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:58:55 GMT
=======
      - Thu, 26 Oct 2023 02:25:35 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Kestrel
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1199'
=======
      - '1197'
>>>>>>> main
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:58:58 GMT
=======
      - Thu, 26 Oct 2023 02:25:38 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:58:58 GMT
=======
      - Thu, 26 Oct 2023 02:25:39 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvir[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:59:01 GMT
=======
      - Thu, 26 Oct 2023 02:25:40 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\"\
        ,\n    \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\"\
        ,\n    \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\"\
        ,\n    \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
<<<<<<< HEAD
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBiem1iM2lobDJzdnI6MjAyMzEwMTgxNDU5MDQ3NjQxMzkgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwYnptYjNpaGwyc3ZyOjIwMjMxMDE4MTQ1OTA0NzY0MTM5Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
=======
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBsemNlb2prM3luNzc6MjAyMzEwMjYxMDI1NDM2MzM1MDkgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwbHpjZW9qazN5bjc3OjIwMjMxMDI2MTAyNTQzNjMzNTA5Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
>>>>>>> main
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"uploadUrl":"https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/source/202310180000/1c25a90c-40df-4868-accc-15cc3f579645.tar.gz?sv=2021-12-02&se=2023-10-18T07%3A59%3A44Z&sr=b&sp=cw&sig=IDdgk%2BiN7XxrVbCA1gokrK%2BQOV%2B4%2B3qvUKRHQPVd9Dk%3D","relativePath":"source/202310180000/1c25a90c-40df-4868-accc-15cc3f579645.tar.gz"}'
=======
      string: '{"uploadUrl":"https://eusmanaged1.blob.core.windows.net/30f2836d6e81443399deda02dfecae8e-eefcd0fhfe/source/202310260000/c68abcce-80dd-4407-ba1b-82832ad66a19.tar.gz?sv=2021-12-02&se=2023-10-26T03%3A26%3A26Z&sr=b&sp=cw&sig=2clLXHdxSdVw1Ne0igEX17YW0fZQkNXot9cYnaIlGrs%3D","relativePath":"source/202310260000/c68abcce-80dd-4407-ba1b-82832ad66a19.tar.gz"}'
>>>>>>> main
    headers:
<<<<<<< HEAD
      - '359'
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 18 Oct 2023 06:59:43 GMT
=======
      - '350'
      content-type:
      - application/json; charset=utf-8
      date:
      - Thu, 26 Oct 2023 02:26:26 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1199'
=======
      - '1198'
>>>>>>> main
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
<<<<<<< HEAD
      H4sICF6CL2UC/2NsaV9zb3VyY2VfYXJjaGl2ZV82ZTcyMGFkOTVmZGU0NDQ1YmI2ZjYyNDM3YmMx
      YWQzYS50YXIA7Vxtc9s2EvZnz/g/bNTrkE4liqTebMVOr5e4SWdyqSfxzc3NzU2HIiEJMUXyAFC2
      mqa/vQuAkiif47xMpDSXffzB1C6weN/FLgl4ba/91/Po+imLEib2tgLf4m3/fb/TXT9reuCHQbgH
      13s7QClVJLD4va8T4RHMFJ+x06B/1B90w0EQesFR7+g4ON7fI/zfo72DMvSiHgwGb1//+Bx0u92w
      g38DTe/7+A96tP63Do/0P+l/0v9fLaKi8F7J7ev/fr//tvUfBp3ODf2Ps7C/Bz6t/61jHgmIBYsU
      OxMiF3AKgv235IK5zlSposU0VTqHDw72dV[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-10-18T06:59[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/tasks/cli_build_containerapp",
<<<<<<< HEAD
      "overrideTaskStepProperties": {"contextPath": "source/202310180000/1c25a90c-40df-4868-accc-15cc3f579645.tar.gz",
      "file": "C:\\Users\\XINYUP~1.RED\\AppData\\Local\\Temp\\tmph7tadjxy", "arguments":
=======
      "overrideTaskStepProperties": {"contextPath": "source/202310260000/c68abcce-80dd-4407-ba1b-82832ad66a19.tar.gz",
      "file": "C:\\Users\\XINYUP~1.RED\\AppData\\Local\\Temp\\tmpurwfyrx6", "arguments":
>>>>>>> main
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-10-18T06:59:48+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-18T06:59:47.9195806+00:00"}}'
=======
      string: '{"type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"logLink":"https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D"}'
=======
      string: '{"logLink":"https://eusmanaged1.blob.core.windows.net/30f2836d6e81443399deda02dfecae8e-eefcd0fhfe/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A36%3A31Z&sr=b&sp=r&sig=Tqdf%2BMeUASJCqW%2BCK6%2FnvMSb1NzFd4R%2FAZcT8YVRYoo%3D"}'
>>>>>>> main
    headers:
<<<<<<< HEAD
      - '228'
      content-type:
      - application/json; charset=utf-8
      date:
      - Wed, 18 Oct 2023 06:59:49 GMT
=======
      - '231'
      content-type:
      - application/json; charset=utf-8
      date:
      - Thu, 26 Oct 2023 02:26:30 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:59:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged29.blob.core.windows.net/97c555ca9ac04c9880695a3a8c1c8f5c-vlcqcavf7n/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-18T08%3A09%3A50Z&sr=b&sp=r&sig=0bw%2BGE%2BLOGBkLHCFeJklZQZ2nSOTCRHusyRsAI7jUyQ%3D
=======
      - Thu, 26 Oct 2023 02:26:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged1.blob.core.windows.net/30f2836d6e81443399deda02dfecae8e-eefcd0fhfe/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A36%3A31Z&sr=b&sp=r&sig=Tqdf%2BMeUASJCqW%2BCK6%2FnvMSb1NzFd4R%2FAZcT8YVRYoo%3D
>>>>>>> main
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:59:51 GMT
      etag:
      - '"0x8DBCFA7D255CCBE"'
      last-modified:
      - Wed, 18 Oct 2023 06:59:49 GMT
=======
      - Thu, 26 Oct 2023 02:26:32 GMT
      etag:
      - '"0x8DBD5CAF748A161"'
      last-modified:
      - Thu, 26 Oct 2023 02:26:31 GMT
>>>>>>> main
      server:
      - Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
<<<<<<< HEAD
      - Wed, 18 Oct 2023 06:59:49 GMT
=======
      - Thu, 26 Oct 2023 02:26:30 GMT
>>>>>>> main
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:26:32 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged1.blob.core.windows.net/30f2836d6e81443399deda02dfecae8e-eefcd0fhfe/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A36%3A31Z&sr=b&sp=r&sig=Tqdf%2BMeUASJCqW%2BCK6%2FnvMSb1NzFd4R%2FAZcT8YVRYoo%3D
  response:
    body:
      string: "2023/10/26 02:26:30 Downloading source code...\r\n2023/10/26 02:26:31\
        \ Finished downloading source code\r\n2023/10/26 02:26:31 Alias support enable[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:26:36 GMT
      x-ms-range:
      - bytes=1611-5706
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged1.blob.core.windows.net/30f2836d6e81443399deda02dfecae8e-eefcd0fhfe/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A36%3A31Z&sr=b&sp=r&sig=Tqdf%2BMeUASJCqW%2BCK6%2FnvMSb1NzFd4R%2FAZcT8YVRYoo%3D
  response:
    body:
      string: "69285aafba30: Verifying Checksum\n69285aafba30: Download complete\n\
        69fefe447a70: Verifying Checksum\n69fefe447a70: Download complete\n5ec5a733efd1:\
        \ Verifying Checksum\n5ec5a733efd1: Download complete\nb2404786f3fe: Pull\
        \ complete\ne97ef50ee5a8: Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1611-1862/1863
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5CAF9EFFFB2"'
      last-modified:
      - Thu, 26 Oct 2023 02:26:35 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:26:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:26:43 GMT
      x-ms-range:
      - bytes=2004-6099
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged1.blob.core.windows.net/30f2836d6e81443399deda02dfecae8e-eefcd0fhfe/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-10-26T03%3A36%3A31Z&sr=b&sp=r&sig=Tqdf%2BMeUASJCqW%2BCK6%2FnvMSb1NzFd4R%2FAZcT8YVRYoo%3D
  response:
    body:
      string: "940e5351b949: Verifying Checksum\n940e5351b949: Download complete\n\
        940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\n\
        Status: Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\n\
        Dockerfile written to '/workspace/Dockerfile'.\n2023/10/26 02:26:41 Successfully\
        \ executed container: acb_step_0\n2023/10/26 02:26:41 Executing step ID: acb_step_1.\
        \ Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n\
        2023/10/26 02:26:41 Scanning for dependencies...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2004-2550/2551
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBD5CAFDB3C58D"'
      last-modified:
      - Thu, 26 Oct 2023 02:26:41 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 26 Oct 2023 02:26:30 GMT
>>>>>>> main
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Oct 2023 02:26:46 GMT
      x-ms-range:
[...]
