interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"78b356ce-94ef-45c1-b8e1-256dcd333810","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-05-06T20:12:59.4103042Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-05-07T11:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-05-06T20:12:59.4103042Z","modifiedDate":"2024-05-06T20:12:59.4103042Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces","etag":"\"4e056907-0000-0100-0000-663939cb0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"78b356ce-94ef-45c1-b8e1-256dcd333810","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-05-06T20:12:59.4103042Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-05-07T11:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-05-06T20:12:59.4103042Z","modifiedDate":"2024-05-06T20:12:59.4103042Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces","etag":"\"4e056907-0000-0100-0000-663939cb0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"mOa4tRWMM5KdH/OwONbIt4pZwo2H0Ch86yq/R6IZEGoxQ/IxAHd28iAqUC7V9qgQ940gLPY6+aF5fFRP1OTwcQ==","secondarySharedKey":"LEAffdGLMOZDFHIv0XY68aCY7iQI2fExN5WSpmxuK8KcTHsvbUZXMyuqDcG208VTFl5GOvtUlNQNXPOyUkgDXQ=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India","Switzerland West","Italy North","Poland Central"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["North Central
        US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast Asia","Sweden
        Central","Canada Central","West Europe","North Europe","East US","East US
        2","East Asia","Australia East","Germany West Central","Japan East","UK South","West
        US","Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/containerapp-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "78b356ce-94ef-45c1-b8e1-256dcd333810",
      "sharedKey": "mOa4tRWMM5KdH/OwONbIt4pZwo2H0Ch86yq/R6IZEGoxQ/IxAHd28iAqUC7V9qgQ940gLPY6+aF5fFRP1OTwcQ==",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "None", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","name":"containerapp-env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-05-06T20:13:03.3728306","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-06T20:13:03.3728306"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"politeflower-d1dcea45.eastus.azurecontainerapps.io","staticIp":"52.191.20.192","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"78b356ce-94ef-45c1-b8e1-256dcd333810","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0FEF6FC81FA2FA9876FEE95F895AD716D01F5495C9AC8EA62F0228DC5E40B5CA","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/b7ccd1c5-8a6d-462a-9f5d-99701ab16e10?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638506231845916441&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTAyMDIxNjQ3WhcNMjUwNDI3MDIxNjQ3WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/b7ccd1c5-8a6d-462a-9f5d-99701ab16e10?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638506231845916441&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","name":"containerapp-env000002"[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "redis"}}, "template":
      {"revisionSuffix": null, "containers": [{"image": "redis", "name": "redis",
      "command": null, "args": null, "env": null, "resources": null, "volumeMounts":
      null}], "initContainers": null, "scale": null, "volumes": null, "serviceBinds":
      null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/redis?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/redis","name":"redis","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-05-06T20:14:40.5459877Z","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-06T20:14:40.5459877Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002","workloadProfileName":"Consumption","patchingMode":"Automatic","outboundIpAddresses":["20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140","52.191.22.226","52.191.22.23","52.191.22.71","52.191.22.159","52.191.22.166","52.191.22.212","52.191.22.41","52.191.23.0","52.191.22.198","52.191.22.121","20.124.73.117","52.149.247.118","52.149.245.39","52.149.247.189","52.149.247.220","52.149.247.221","52.149.245.38","52.149.244.111","52.224.88.179","52.149.247.199","52.149.244.160","4.156.169.214","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","52.226.103.51","52.226.103.36","52.226.103.82","52.226.103.10","52.226.102.213","52.226.102.151","52.226.102.243","52.226.103.40","52.226.102.224","52.226.102.162"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"0FEF6FC81FA2FA9876FEE95F895AD716D01F5495C9AC8EA62F0228DC5E40B5CA","configuration":{"secrets":[{"name":"redis-config"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"redis.internal.politeflower-d1dcea45.eastus.azurecontainerapps.io","external":false,"targetPort":6379,"exposedPort":6379,"transport":"Tcp","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":null,"service":{"type":"redis"}},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/azure-redis-cache/redis:7.0.12-alpine","imageType":"ContainerImage","name":"redis","command":["redis-server"],"args":["/redis-config/redis.config"],"resources":{"cpu":1.0,"memory":"2Gi","ephemeralStorage":""},"volumeMounts":[{"volumeName":"redis-config","mountPath":"/redis-config"}]}],"initContainers":null,"scale":{"minReplicas":0,"maxReplicas":1,"rules":null},"volumes":[{"name":"redis-config","storageType":"EmptyDir"}],"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/redis/eventstream","delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/e033e38d-5603-4ffd-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/e033e38d-5603-4ffd-b53a-f515aa4d89dd?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638506232815303588&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "postgres"}}, "template":
      {"revisionSu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/f2fb5a09-df65-41ac-bb94-ca6827be1293?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638506233734809404&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      null, "dapr": null, "registries": null, "service": {"type": "kafka"}}, "template":
      {"revisionSuffi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/23422fca-034e-4d6c-b356-705bf3ac0b3c?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638506233825507905&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
[...]
