interactions:
- request:
    body: '{"location": "eastus", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"9c5e5a73-7a39-4369-b72e-69f5fb336ecc","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-05-16T23:50:40.015358Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-05-17T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-05-16T23:50:40.015358Z","modifiedDate":"2023-05-16T23:50:40.015358Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"9c5e5a73-7a39-4369-b72e-69f5fb336ecc","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-05-16T23:50:40.015358Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-05-17T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-05-16T23:50:40.015358Z","modifiedDate":"2023-05-16T23:50:40.015358Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"4rAz58/Jk0SEaX77s/UMAOM3ycEoKLFqsF0L5chpc2rujPBHJEPHhB2q8VZ5oRAOafLe1JR9t6RrdGpp5nURcw==","secondarySharedKey":"mj39fGCyvT3ci2q2mnKO85KZ1o7IQvLHT7HUN14ZmRtULRSHnghGe3aKhDKF9ZEAJOgASd6SfSR/PjoFNlEwKg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2022-11-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
[...]
- request:
    body: '{"location": "centraluseuap", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "9c5e5a73-7a39-4369-b72e-69f5fb336ecc",
      "sharedKey": "4rAz58/Jk0SEaX77s/UMAOM3ycEoKLFqsF0L5chpc2rujPBHJEPHhB2q8VZ5oRAOafLe1JR9t6RrdGpp5nURcw=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"centraluseuap","systemData":{"createdBy":"anfranci@microsoft.com","createdByType":"User","createdAt":"2023-05-16T23:50:43.0581716Z","lastModifiedBy":"anfranci@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-16T23:50:43.0581716Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"wittymoss-594173c6.centraluseuap.azurecontainerapps.io","staticIp":"20.45.233.248","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"9c5e5a73-7a39-4369-b72e-69f5fb336ecc","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.4"},"eventStreamEndpoint":"https://centraluseuap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"A9C4A62A8160201BC233070CC5FF02E5C573D0555962F6695C6FB395825498DC","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01, 2023-04-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/centraluseuap/managedEnvironmentOperationStatuses/a4de133f-4787-4848-85b2-a9eda75b0f30?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/centraluseuap/managedEnvironmentOperationStatuses/a4de133f-4787-4848-85b2-a9eda75b0f30?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/centraluseuap/managedEnvironmentOperationStatuses/a4de133f-4787-4848-85b2-a9eda75b0f30","name":"a4de133f-4787-4848-85b2-a9eda75b0f30","status":"InProgress","startTime":"2023-05-16T23:50:44.2652348"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01, 2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": null, "configuration": {"secrets":
      null, "triggerType": "manual", "replicaTimeout": "200", "replicaRetryLimit":
      "2", "manualTriggerConfig": {"replicaCompletionCount": "1", "parallelism": "1"},
      "scheduleTriggerConfig": null, "registries": null, "dapr": null, "eventTriggerConfig":
      null}, "template": {"containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest",
      "name": "job1000003", "command": null, "args": null, "env": null, "resources":
      {"cpu": 0.25, "memory": "0.5Gi"}, "volumeMounts": null}], "initContainers":
      null, "volumes": null}, "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"},
      "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003","name":"job1000003","type":"Microsoft.App/jobs","location":"Central
        US EUAP","systemData":{"createdBy":"anfranci@microsoft.com","createdByType":"User","createdAt":"2023-05-16T23:51:02.0533739Z","lastModifiedBy":"anfranci@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-16T23:51:02.0533739Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"configuration":{"secrets":null,"triggerType":"Manual","replicaTimeout":200,"replicaRetryLimit":2,"manualTriggerConfig":{"replicaCompletionCount":1,"parallelism":1},"scheduleTriggerConfig":null,"eventTriggerConfig":null,"registries":null,"dapr":null},"template":{"containers":[{"image":"mcr.microsoft.com/k8se/quickstart-jobs:latest","name":"job1000003","resources":{"cpu":0.25,"memory":"0.5Gi","ephemeralStorage":"1Gi"}}],"initContainers":null,"volumes":null},"eventStreamEndpoint":"https://centraluseuap.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/job1000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/centraluseuap/containerappOperationStatuses/d16ed40e-573e-4389-9ada-c95f3a285954?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003","name":"job1000003","type":"Microsoft.App/jobs","location":"Central
        US EUAP","systemData":{"createdBy":"anfranci@microsoft.com","createdByType":"User","createdAt":"2023-05-16T23:51:02.0533739","lastModifiedBy":"anfranci@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-16T23:51:02.0533739"},"properties":{"provisioningState":"Succeeded","m[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/job1000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ContainerAppsJobNotFound","message":"Container apps
        job ''job1000003'' was not found."}}'
    headers:
      api-supported-versions:
      - 2022-11-01-preview, 2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": null, "configuration": {"secrets":
      null, "triggerType": "schedule", "replicaTimeout": "200", "replicaRetryLimit":
      "2", "manualTriggerConfig": null, "scheduleTriggerConfig": {"replicaCompletionCount":
      "1", "parallelism": "1", "cronExpression": "*/5 * * * *"}, "registries": null,
      "dapr": null, "eventTriggerConfig": null}, "template": {"containers": [{"image":
      "mcr.microsoft.com/k8se/quickstart-jobs:latest", "name": "job2000005", "command":
      null, "args": null, "env": null, "resources": {"cpu": 0.25, "memory": "0.5Gi"},
      "volumeMounts": null}], "initContainers": null, "volumes": null}, "environmentId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Ap[...]
[...]
