interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcsbtefsqadupitar7ledc?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"ebf457c4-eae8-4abf-a31c-236f27ec1d6d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-08T22:41:18.1781345Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-09T20:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-08T22:41:18.1781345Z","modifiedDate":"2023-09-08T22:41:18.1781345Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcsbtefsqadupitar7ledc","name":"workspace-clitestrgcsbtefsqadupitar7ledc","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcsbtefsqadupitar7ledc?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcsbtefsqadupitar7ledc?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"ebf457c4-eae8-4abf-a31c-236f27ec1d6d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-08T22:41:18.1781345Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-09T20:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-08T22:41:18.1781345Z","modifiedDate":"2023-09-08T22:41:18.1781345Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcsbtefsqadupitar7ledc","name":"workspace-clitestrgcsbtefsqadupitar7ledc","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgcsbtefsqadupitar7ledc/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"FBWD+qWG632hJ9QUrFkXfTqMZ/Z1ZHsEi8L2xf1N2nWNS4qnE+5KhyZi7Tx+NL8GJeY+7s7ioWETAPgoQr0a2Q==","secondarySharedKey":"NAuuVhmAJr667aGAyC6513UDvBk6xNn6tvlvUU8HJKUh3m3GZBnOSm9o+PN4QMQ5x6WKxM4kw2JoF5iNlgrsPg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "ebf457c4-eae8-4abf-a31c-236f27ec1d6d",
      "sharedKey": "FBWD+qWG632hJ9QUrFkXfTqMZ/Z1ZHsEi8L2xf1N2nWNS4qnE+5KhyZi7Tx+NL8GJeY+7s7ioWETAPgoQr0a2Q=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T22:41:19.7547653Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T22:41:19.7547653Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"graymoss-4425f911.eastus.azurecontainerapps.io","staticIp":"40.88.230.178","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"ebf457c4-eae8-4abf-a31c-236f27ec1d6d","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/83647388-3edb-4d82-8901-778afa8f5943?api-version=2023-04-01-preview&azureAsyncOperation=true&t=638298096846298481&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWhcNMjQwNzI3MDY0ODMxWjBAMT4wPAYDVQQDEz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/83647388-3edb-4d82-8901-778afa8f5943?api-version=2023-04-01-preview&azureAsyncOperation=true&t=638298096846298481&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhc[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-08T22:43:10.9425197+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T22:43:10.9425197+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-09-08T22:43:10.9425197Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-09-08T22:43:17.4634624+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-09-08T22:43:17.4635205+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-182d07d4-4e99-11ee-86e9-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-182d07d4-4e99-11ee-86e9-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Creating"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-182d07d4-4e99-11ee-86e9-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"AhzK0yAMJ8ZttP8PidXKZByL5Zpr+oUOCQPtUUSkl++ACRCkjGL9"},{"name":"password2","value":"7ypNlWpq5LrsCXVuEnKYcdMV/oNxBY0fMDhX/yEbZu+ACRDeBlWV"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"AhzK0yAMJ8ZttP8PidXKZByL5Zpr+oUOCQPtUUSkl++ACRCkjGL9"},{"name":"password2","value":"7ypNlWpq5LrsCXVuEnKYcdMV/oNxBY0fMDhX/yEbZu+ACRDeBlWV"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHA3bWF3ZXB2Z29kYWg6MjAyMzA5MDgxNTQzMzc2NDQwNzggLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwN21hd2VwdmdvZGFoOjIwMjMwOTA4MTU0MzM3NjQ0MDc4Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-08T22[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged155.blob.core.windows.net/cd64d91d61f04859ac2ac0a15c233fa5-lopcqughgn/source/202309080000/d16fb7ec-40af-4356-907b-7fb64cb0bb2f.tar.gz?sv=2021-12-02&se=2023-09-08T23%3A46%3A18Z&sr=b&sp=cw&sig=2je%2FxpE%2FOJvEixkUzMG2Wqf6bmEGPbWjZrQQon818qU%3D","relativePath":"source/202309080000/d16fb7ec-40af-4356-907b-7fb64cb0bb2f.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICD2k+2QC/2NsaV9zb3VyY2VfYXJjaGl2ZV82YjgxZDNhYzIxYTM0MWFmODgzYjU5ZDMzMDky
      ZWNjZS50YXIA7V1tb9s4Es7nAP0PU+8tpHZtWZJf4ybZ3Wuz7QK9btD2cDgcDgtFom02sqQlKSe5
      bu6335CUHMVNX1E713aefog85HCGL8MhRyLrdb3uT8fR+RMWJUzsbAS+xdv++n6vf/Ws6UHQH4Q7
      cL6zBZRSRQLFf+5KfiEIx7BQfMEOguF46O8NxnuhNxrshf1euLtD+OrR3YIMbQ+j0ejt9v/G8ygc
      +TswIPvfODya/2n+p/n/m0VUFN4rufn5fzgcvs3+Q38Yrtm/3wtHO+CT/W8cy0hALFik2JEQuYAD
      EOyPkgvmOnOlig7TVOnce7Crc7LzQjApm7kqUp2jiNS8max[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-08T22:46:07.0324287+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202309080000/d16fb7ec-40af-4356-907b-7fb64cb0bb2f.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmpac04qhmt", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-09-08T22:46:20+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-08T22:46:19.9681238+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged155.blob.core.windows.net/cd64d91d61f04859ac2ac0a15c233fa5-lopcqughgn/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T23%3A56%3A20Z&sr=b&sp=r&sig=OBu4%2BSbOaLzBt1AQtL2eVQUXW7mdE34JVbtCbHfCDc4%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 22:46:24 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged155.blob.core.windows.net/cd64d91d61f04859ac2ac0a15c233fa5-lopcqughgn/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T23%3A56%3A20Z&sr=b&sp=r&sig=OBu4%2BSbOaLzBt1AQtL2eVQUXW7mdE34JVbtCbHfCDc4%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB0BD6BFF893F"'
      last-modified:
      - Fri, 08 Sep 2023 22:46:21 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 22:46:20 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 22:46:24 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged155.blob.core.windows.net/cd64d91d61f04859ac2ac0a15c233fa5-lopcqughgn/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T23%3A56%3A20Z&sr=b&sp=r&sig=OBu4%2BSbOaLzBt1AQtL2eVQUXW7mdE34JVbtCbHfCDc4%3D
  response:
    body:
      string: "2023/09/08 22:46:21 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB0BD6BFF893F"'
      last-modified:
      - Fri, 08 Sep 2023 22:46:21 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 22:46:20 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 22:46:27 GMT
      x-ms-range:
      - bytes=48-4143
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged155.blob.core.windows.net/cd64d91d61f04859ac2ac0a15c233fa5-lopcqughgn/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T23%3A56%3A20Z&sr=b&sp=r&sig=OBu4%2BSbOaLzBt1AQtL2eVQUXW7mdE34JVbtCbHfCDc4%3D
  response:
    body:
      string: "2023/09/08 22:46:21 Finished downloading source code\r\n2023/09/08
        22:46:21 Alias support enabled for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases
        for more information.\n2023/09/08 22:46:21 Creating Docker network: acb_default_network,
        driver: 'bridge'\n2023/09/08 22:46:21 Successfully set up Docker network:
        acb_default_network\n2023/09/08 22:46:21 Setting up Docker configuration...\n2023/09/08
        22:46:22 Successfully set up Docker configuration\n2023/09/08 22:46:22 Logging
        in to registry: containerapp000004.azurecr.io\n2023/09/08 22:46:22 Successfully
        logged into containerapp000004.azurecr.io\n2023/09/08 22:46:22 Executing step
        ID: acb_step_0. Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/08
        22:46:22 Launching container with name: acb_step_0\nUnable to find image 'mcr.microsoft.com/oryx/cli:debian-buster-20230222.1'
        locally\ndebian-buster-20230222.1: Pulling from oryx/cli\nb2404786f3fe: Pulling
        fs layer\ne97ef50ee5a8: Pulling fs layer\ndfb1477a1a0e: Pulling fs layer\n69fefe447a70:
        Pulling fs layer\n75c028bd406f: Pulling fs layer\n69285aafba30: Pulling f[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 22:46:51 GMT
      x-ms-range:
      - bytes=4304-8399
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged155.blob.core.windows.net/cd64d91d61f04859ac2ac0a15c233fa5-lopcqughgn/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-08T23%3A56%3A20Z&sr=b&sp=r&sig=OBu4%2BSbOaLzBt1AQtL2eVQUXW7mdE34JVbtCbHfCDc4%3D
  response:
    body:
      string: " ---> Running in 681c4a192bc8\nOperation performed by Microsoft Oryx,
        https://github.com/Microsoft/Oryx\nYou can report issues at https://github.com/Microsoft/Oryx/issues\n\nOryx
        Version: 0.2.20230904.1, Commit: f2d28cc9e92250b08ae08ccedf3b64dc4944b762,
        ReleaseTagName: 20230904.1\n\nBuild Operation ID: 6e7b5c1f75ddff62\nOS Type
        \          : bullseye\nImage Type        : cli\n\nDetecting platforms...\nDetected
        following platforms:\n  nodejs: 16.20.2\nVersion '16.20.2' of platform 'nodejs'
        is not installed. Generating script to install it...\nDetected the following
        frameworks: Express\n\n\nSource directory     : /app\nDestination directory:
        /output\n\nInstalling common platform dependencies...\nGet:1 http://deb.debian.org/debian
        bullseye InRelease [116 kB]\nGet:2 http://deb.debian.org/debian-security bullseye-security
        InRelease [48.4 kB]\nGet:3 http://deb.debian.org/debian bullseye-updates InRelease
        [44.1 kB]\nGet:4 http://deb.debian.org/debian bullseye/main amd64 Packages
        [8183 kB]\nGet:5 http://deb.debian.org/debian-security bullseye-security/main
        amd64 Packages [246 kB]\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4304-5366/5367
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB0BD7C1EA912"'
      last-modified:
      - Fri, 08 Sep 2023 22:46:48 GMT
      x-ms-blob-committed-block-count:
      - '12'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 08 Sep 2023 22:46:20 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 08 Sep 2023 22:46:56 GMT
      x-ms-range:
      - bytes=5702-9797
      x-ms-version:
      - '2018-11-09'
    method: GET
[...]
