interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster?api-version=2023-05-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/my-aks-cluster''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "my-aks-clu-clitestrg7jita-23f95f", "agentPoolProfiles":
      [{"count": 4, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "osType": "Linux", "maxCount": 10, "minCount": 4, "enableAutoScaling":
      true, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "enableCustomCATrust":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "networkProfile": {}, "name": "nodepool1"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGk3i/MW4IwP9E5pM45ToHdqeEkcpDrH7qQP0ZX3+NQyUQBJFsjD4+SNF/zPm1a6Q53Xhurdy5w5m3lDlVaEGwWYPRlgIZ2GQkv+vZdiQ+YqH+f7Se5DcEQMmnrrdKIqwbug71n5j/KOOlkpBQfa3sOFaE4bPZkX1ufJW3eO4y/+uASqIYEAh0x6PFljgi17PGgYAiyE4oBUbp7HlvLDNsVutMAQ1zTHvaswdTrvXhVT/Fk+Bbgy/vZtD28i/MIWBjGHcaLXhTzATllQYXxgGbaMJogLfihKpWBFhCWVa/3/jbVxebtkhudU1jQg2tzfKdXHIjF1Yh7qW3FLyeDb5R"}]}},
      "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy": false, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "aadProfile": {"managed": true, "enableAzureRBAC": false}, "disableLocalAccounts":
      false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster?api-version=2023-05-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"my-aks-cluster\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.26.6\",\n   \"currentKubernetesVersion\"\
        : \"1.26.6\",\n   \"dnsPrefix\": \"my-aks-clu-clitestrg7jita-23f95f\",\n \
        \  \"fqdn\": \"my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io\"\
        ,\n   \"azurePortalFQDN\": \"my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.portal.hcp.eastus.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 4,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"workloadRuntime\": \"OCIContainer\",\n     \"maxPods\": 110,\n \
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"maxCount\": 10,\n    \
        \ \"minCount\": 4,\n     \"enableAutoScaling\": true,\n     \"provisioningState\"\
        : \"Creating\",\n     \"powerState\": {\n      \"code\": \"Running\"\n   \
        \  },\n     \"orchestratorVersion\": \"1.26.6\",\n     \"currentOrchestratorVersion\"\
        : \"1.26.6\",\n     \"enableNodePublicIP\": false,\n     \"enableCustomCATrust\"\
        : false,\n     \"mode\": \"System\",\n     \"enableEncryptionAtHost\": false,\n\
        \     \"enableUltraSSD\": false,\n     \"osType\": \"Linux\",\n     \"osSKU\"\
        : \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-2204gen2containerd-202307.27.0\"\
        ,\n     \"upgradeSettings\": {},\n     \"enableFIPS\": false,\n     \"networkProfile\"\
        : {}\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\"\
        ,\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGk3i/MW4IwP9E5pM45ToHdqeEkcpDrH7qQP0ZX3+NQyUQBJFsjD4+SNF/zPm1a6Q53Xhurdy5w5m3lDlVaEGwWYPRlgIZ2GQkv+vZdiQ+YqH+f7Se5DcEQMmnrrdKIqwbug71n5j/KOOlkpBQfa3sOFaE4bPZkX1ufJW3eO4y/+uASqIYEAh0x6PFljgi17PGgYAiyE4oBUbp7HlvLDNsVutMAQ1zTHvaswdTrvXhVT/Fk+Bbgy/vZtD28i/MIWBjGHcaLXhTzATllQYXxgGbaMJogLfihKpWBFhCWVa/3/jbVxebtkhudU1jQg2tzfKdXHIjF1Yh7qW3FLyeDb5R\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_clitest.rg000001_my-aks-cluster_eastus\"\
        ,\n   \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"\
        supportPlan\": \"KubernetesOfficial\",\n   \"networkProfile\": {\n    \"networkPlugin\"\
        : \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\"\
        : {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     },\n     \"\
        backendPoolType\": \"nodeIPConfiguration\"\n    },\n    \"podCidr\": \"10.244.0.0/16\"\
        ,\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\"\
        ,\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\
        \n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\"\
        : [\n     \"IPv4\"\n    ]\n   },\n   \"aadProfile\": {\n    \"managed\": true,\n\
        \    \"adminGroupObjectIDs\": null,\n    \"adminUsers\": null,\n    \"enableAzureRBAC\"\
        : false,\n    \"tenantID\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n   },\n\
        \   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\"\
        : {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\"\
        : true,\n     \"version\": \"v1\"\n    },\n    \"fileCSIDriver\": {\n    \
        \ \"enabled\": true\n    },\n    \"snapshotController\": {\n     \"enabled\"\
        : true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n\
        \   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\": {\n  \
        \ \"type\": \"SystemAssigned\",\n   \"principalId\": \"64676db8-f9e5-4f13-b443-f3f181c96208\"\
        ,\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\"\
        : {\n   \"name\": \"Base\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/853f8f4a-92ca-406e-b73c-f1efee02a5e0?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/853f8f4a-92ca-406e-b73c-f1efee02a5e0?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"4a8f3f85-ca92-6e40-b73c-f1efee02a5e0\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2023-08-07T05:10:08.1987327Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerService/managedClusters/my-aks-cluster/listClusterAdminCredential?api-version=2023-05-02-preview
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterAdmin\",\n  \
        \  \"value\": \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVVweE1uZHdhbWxrT0VjdlJtbFVObE14TkhGellsbDNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BOZDA5RVFUTk5SRlYzVFVSUmVGZG9aMUJOYWtFeFRYcEJORTFFWTNkT1ZFVjNUa1JHWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVsSlEwTm5TME5CWjBWQkNqSkVhakJJV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","East Asia","West
        US 3","Canada East","Canada Central","Switzerland North","South Africa North","Brazil
        South","UAE North","Central India","Sweden Central","East US 2 EUAP"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central","Switzerland
        North","South Africa North","Brazil South","UAE North","Central India","Sweden
        Central","Norway East","UK West"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/metadata/endpoints?api-version=2022-09-01
  response:
    body:
      string: '{"portal":"https://portal.azure.com","authentication":{"loginEndpoint":"https://login.microsoftonline.com","audiences":["https://management.core.windows.net/","https://management.azure.com/"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.azure.net","graphAudience":"https://graph.windows.net/","graph":"https://graph.windows.net/","name":"AzureCloud","suffixes":{"azureDataLakeStoreFileSystem":"azuredatalakestore.net","acrLoginServer":"azurecr.io","sqlServerHostname":"database.windows.net","azureDataLakeAnalyticsCatalogAndJob":"azuredatalakeanalytics.net","keyVaultDns":"vault.azure.net","storage":"core.windows.net","azureFrontDoorEndpointSuffix":"azurefd.net","storageSyncEndpointSuffix":"afs.azure.net","mhsmDns":"managedhsm.azure.net","mysqlServerEndpoint":"mysql.database.azure.com","postgresqlServerEndpoint":"postgres.database.azure.com","mariadbServerEndpoint":"mariadb.database.azure.com","synapseAnalytics":"dev.azuresynapse.net","attestationEndpoint":"attest.azure.net"},"batch":"https://batch.core.windows.net/","resourceManager":"https://management.azure.com/","vmImageAliasDoc":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json","activeDirectoryDataLake":"https://datalake.azure.net/","sqlManagement":"https://management.core.windows.net:8443/","microsoftGraphResourceId":"https://graph.microsoft.com/","appInsightsResourceId":"https://api.applicationinsights.io","appInsightsTelemetryChannelResourceId":"https://dc.applicationinsights.azure.com/v2/track","attestationResourceId":"https://attest.azure.net","synapseAnalyticsResourceId":"https://dev.azuresynapse.net","logAnalyticsResourceId":"https://api.loganalytics.io","ossrDbmsResourceId":"https://ossrdbms-aad.database.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"26\",\n  \"gitVersion\": \"\
        v1.26.6\",\n  \"gitCommit\": \"11902a838028edef305dfe2f96be929bc4d114d8\"\
        ,\n  \"gitTreeState\": \"clean\",\n  \"buildDate\": \"2023-06-19T16:11:29Z\"\
        ,\n  \"goVersion\": \"go1.19.10\",\n  \"compiler\": \"gc\",\n  \"platform\"\
        : \"linux/amd64\"\n}"
    headers:
      audit-id:
      - c83eb128-dd13-4a22-9752-da1c7ead83fb
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 8c7efaa6-1b91-4ce3-8cad-f46bd550a1e8
      x-kubernetes-pf-prioritylevel-uid:
      - 70a47462-b21b-4fc1-a3a5-762b371f5156
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1676"},"items":[{"metadata":{"name":"aks-nodepool1-38109194-vmss000000","uid":"94f1eded-0b99-4a59-9a29-b884482f2512","resourceVersion":"1665","creationTimestamp":"2023-08-07T05:12:31Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_DS2_v2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"eastus","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_clitest.rg000001_my-aks-cluster_eastus","kubernetes.azure.com/consolidated-additional-properties":"ad67f76a-34e0-11ee-9e0e-529ce79c51a1","kubernetes.azure.com/kubelet-identity-client-id":"4f0779f0-b3a8-4f8a-ba7a-91566ebea7ad","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-2204gen2containerd-202307.27.0","kubernetes.azure.com/nodepool-type":"VirtualMachineScaleSets","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-38109194-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_DS2_v2","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"eastus","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-38109194-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-38109194-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"ccp-initializer","operation":"Update","apiVersion":"v1","time":"2023-08-07T05:12:31Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:kubernetes.io/role":{},"f:node-role.kubernetes.io/agent":{}}}}},{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-08-07T05:12:31Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.1.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-08-07T05:12:31Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io/apis/batch/v1/namespaces/azure-arc-release/jobs?labelSelector=&timeoutSeconds=60&watch=True
  response:
    body:
      string: '{"type":"ADDED","object":{"kind":"Job","apiVersion":"batch/v1","metadata":{"name":"cluster-diagnostic-checks-job","namespace":"azure-arc-release","uid":"4fcef442-1af0-4b36-9856-cfcb2bb439cd","resourceVersion":"1747","generation":1,"creationTimestamp":"2023-08-07T05:14:43Z","labels":{"app":"cluster-diagnostic-checks","app.kubernetes.io/managed-by":"Helm"},"annotations":{"batch.kubernetes.io/job-tracking":"","meta.helm.sh/release-name":"cluster-diagnostic-checks","meta.helm.sh/release-namespace":"azure-arc-release"},"managedFields":[{"manager":"helm","operation":"Update","apiVersion":"batch/v1","time":"2023-08-07T05:14:43Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:meta.helm.sh/release-name":{},"f:meta.helm.sh/release-namespace":{}},"f:labels":{".[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc-release/pods
  response:
    body:
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"resourceVersion":"2053"},"items":[{"metadata":{"name":"cluster-diagnostic-checks-job-6pfvc","generateName":"cluster-diagnostic-checks-job-","namespace":"azure-arc-release","uid":"60bf4678-f413-4691-ad22-f5d3de7c0f36","resourceVersion":"1840","creationTimestamp":"2023-08-07T05:14:43Z","labels":{"app":"cluster-diagnostic-checks","controller-uid":"4fcef442-1af0-4b36-9856-cfcb2bb439cd","job-name":"cluster-diagnostic-checks-job"},"ownerReferences":[{"apiVersion":"batch/v1","kind":"Job","name":"cluster-diagnostic-checks-job","uid":"4fcef442-1af0-4b36-9856-cfcb2bb439cd","controller":true,"blockOwnerDeletion":true}],"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-08-07T05:14:43Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:generateName":{},"f:labels":{".":{},"f:app":{},"f:controller-uid":{},"f:job-name":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"4fcef442-1af0-4b36-9856-cfcb2bb439cd\"}":{}}},"f:spec":{"f:affinity":{".":{},"f:nodeAffinity":{".":{},"f:requiredDuringSchedulingIgnoredDuringExecution":{}}},"f:containers":{"k:{\"name\":\"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc-release/pods/cluster-diagnostic-checks-job-6pfvc/log?container=cluster-diagnostic-checks-container
  response:
    body:
      string: "Executing DNS and outbound connectivity check\nDNS Result:Server:\t\
        \t10.0.0.10\nAddress:\t10.0.0.10#53\n\nName:\tkubernetes.default.svc.cluster.local\n\
        Address: 10.0.0.1\nChecking outbound connectivity for Cluster Connect Pre-check\
        \ Endpoint. This is an optional endpoint required only for cluster-connect\
        \ functionality\nOutbound Network Connectivity Check for Cluster Connect :\
        \ https://eastus.obo.arc.azure.com:8084/ : 401\nChecking outbound connectivity\
        \ for Onboarding Pre-check Endpoint. This is a mandatory endpoint.\nOutbound\
        \ Network Connectivity Check for Onboarding Result : https://mcr.microsoft.com\
        \ : 200\n"
    headers:
      audit-id:
      - 110a42fc-6daf-4c37-b1f5-6b4cba185251
      content-type:
      - text/plain
    status:
      code: 200
      message: OK
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://my-aks-clu-clitestrg7jita-23f95f-nmbstx4s.hcp.eastus.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2023-08-07T05:15:48Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - d33c3576-6910-4331-b392-d4f841f0e4b3
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 8c7efaa6-1b91-4ce3-8cad-f46bd550a1e8
      x-kubernetes-pf-prioritylevel-uid:
      - 70a47462-b21b-4fc1-a3a5-762b371f5156
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/my-connected-cluster''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_containerapp_preview_environment_type","date":"2023-08-07T05:09:51Z","module":"containerapp"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.12.6"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEA5gtzJDd4cgG7ghZKQEQGgFSKv/PH1n7CfGLCkFwFhG/Uw8IzdY3kOmnq97vDPs0VyCSPuN908qEDT9i0Ymjt6esxXI0aeTs5eugohwK5pWwIaIwZCXjMpar7Y0cckN28p4HfsFMBVkwsU7BnLPHrkL1aQ3f60bO4hGHSBrSzIBWftztjZ7wWqfhB7H1naBZhWTlgOd5iaLDv5UDGYsYjfsH8V7ua8nH2+QF5Bi3mxRC8KAMTwACVKaXC+qAfP0KHCycU6kpidR5nSFHYLEhJWvCSj19INkokwH6uc+q4lsz05f+O3Wg/+lV98So+ZwMZnMLY/htihPTcC5ZEMDJcOAvIgOv7WXUaInwPvnWyzve4EWh8h7D5on51iYBrc6Ui6YaYIK9aEpd2wwD1M8Ym19i6scdDGuHfh5dsI308K+zDOZ0kcXFymyuwdrDy5IdkOP2OZza4MLBe6c2lMBGKZbZG03ROhObRpns3d0P7+2OBN1lAmKYkJmpXzzA/d5C5UmXXKl9rTXJsf7WugJbfqwki7A+0bAhUI8MQRak4UebY8EWm/mkxIJ5dO73prmBExoB9S9bTVJdQpg2OJb6ctluRzg3Y7agk21KjkQASK9qUTcj0JB2zHc+NGcHz0TTyi6G4uod8HR6GqG9uV5s2mEk/xktfg0Cn0tECKZGiRacCAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-08-07T05:16:23.501871Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-07T05:16:23.501871Z"},"identity":{"principalId":"aace51d2-7eb6-4c22-9bc5-63986155db7b","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEA5gtzJDd4cgG7ghZKQEQGgFSKv/PH1n7CfGLCkFwFhG/Uw8IzdY3kOmnq97vDPs0VyCSPuN908qEDT9i0Ymjt6esxXI0aeTs5eugohwK5pWwIaIwZCXjMpar7Y0cckN28p4HfsFMBVkwsU7BnLPHrkL1aQ3f60bO4hGHSBrSzIBWftztjZ7wWqfhB7H1naBZhWTlgOd5iaLDv5UDGYsYjfsH8V7ua8nH2+QF5Bi3mxRC8KAMTwACVKaXC+qAfP0KHCycU6kpidR5nSFHYLEhJWvCSj19INkokwH6uc+q4lsz05f+O3Wg/+lV98So+ZwMZnMLY/htihPTcC5ZEMDJcOAvIgOv7WXUaInwPvnWyzve4EWh8h7D5on51iYBrc6Ui6YaYIK9aEpd2wwD1M8Ym19i6scdDGuHfh5dsI308K+zDOZ0kcXFymyuwdrDy5IdkOP2OZza4MLBe6c2lMBGKZbZG03ROhObRpns3d0P7+2OBN1lAmKYkJmpXzzA/d5C5UmXXKl9rTXJsf7WugJbfqwki7A+0bAhUI8MQRak4UebY8EWm/mkxIJ5dO73prmBExoB9S9bTVJdQpg2OJb6ctluRzg3Y7agk21KjkQASK9qUTcj0JB2zHc+NGcHz0TTyi6G4uod8HR6GqG9uV5s2mEk/xktfg0Cn0tECKZGiRacCAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/9e67b831-0683-4813-ab00-8fc43f66d6d1*DBF9C78CABB88C0D1D9ED214433059BBDC92265171D0F33307E89060475C110C?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"420094f8-0000-0100-0000-64d07e2a0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/9e67b831-0683-4813-ab00-8fc43f66d6d1*DBF9C78CABB88C0D1D9ED214433059BBDC92265171D0F33307E89060475C110C?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/9e67b831-0683-4813-ab00-8fc43f66d6d1*DBF9C78CABB88C0D1D9ED214433059BBDC92265171D0F33307E89060475C110C","name":"9e67b831-0683-4813-ab00-8fc43f66d6d1*DBF9C78CABB88C0D1D9ED214433059BBDC92265171D0F33307E89060475C110C","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","status":"Accepted","startTime":"2023-08-07T05:16:25.8503278Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"19003c95-0000-0100-0000-64d07e290000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
