interactions:
- request:
    body: '{"location": "eastus", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"52389335-db0c-4cdc-ba87-5d7769fd82af\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Fri, 17 Mar 2023 07:58:50 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Sat, 18 Mar 2023 00:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Fri, 17 Mar 2023 07:58:50 GMT\",\r\n
        \   \"modifiedDate\": \"Fri, 17 Mar 2023 07:58:50 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/containerapp-env000003\",\r\n
        \ \"name\": \"containerapp-env000003\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primarySharedKey\": \"D4mrRzez96N4Upt5x2eF8q1/i1Ju6QyJxbhtlfy7Pjein8UnDqSZ2bf4mEtZWt/7hjdXoHtCfhcsY+F5NujmoQ==\",\r\n
        \ \"secondarySharedKey\": \"blTDCOtB1lcjvY91bsnOPnjPXCeO9kHHM0kbH5zMTiwz3Ufz99GE/9nWFb9iB4Id0oYRLE7ooBOFV2vq2RvbfQ==\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","Canada Central","West
        Europe","North Europe","East US","East US 2","East Asia","Australia East","Germany
        West Central","Japan East","UK South","West US","Central US","North Central
        US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/connectedEnvironmentOperationResults","locations":["North
        Central US (Stage)","North Central US","East US","East Asia","West Europe","Central
        US EUAP","East US 2 EUAP"],"apiVersions":["2022-11-01-preview","2022-10-01","2022-06-01-preview"],"capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","Canada Central","West
        Europe","North Europe","East US","[...]
[...]
- request:
    body: '{"location": "eastus", "tags": null, "sku": {"name": "Consumption"}, "properties":
      {"daprAIInstrumentationKey": null, "vnetConfiguration": null, "appLogsConfiguration":
      {"destination": "log-analytics", "logAnalyticsConfiguration": {"customerId":
      "52389335-db0c-4cdc-ba87-5d7769fd82af", "sharedKey": "D4mrRzez96N4Upt5x2eF8q1/i1Ju6QyJxbhtlfy7Pjein8UnDqSZ2bf4mEtZWt/7hjdXoHtCfhcsY+F5NujmoQ=="}},
      "customDomainConfiguration": null, "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002","name":"containerapp-e2e-env000002","type":"Microsoft.App/managedEnvironments","location":"eastus","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-17T07:59:33.0517039Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-17T07:59:33.0517039Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"yellowdesert-c88f16f6.eastus.azurecontainerapps.io","staticIp":"52.226.198.250","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"52389335-db0c-4cdc-ba87-5d7769fd82af"}},"zoneRedundant":false,"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-e2e-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2daec6e2-2c0f-480f-8762-4980e41e2bac?api-version=2022-10-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2daec6e2-2c0f-480f-8762-4980e41e2bac?api-version=2022-10-01&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2daec6e2-2c0f-480f-8762-4980e41e2bac","name":"2daec6e2-2c0f-480f-8762-4980e41e2bac","status":"InProgress","startTime":"2023-03-17T07:59:35.2070198"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000005?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000005","name":"containerapp000005","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-17T08:02:39.9505177+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-17T08:02:39.9505177+00:00"},"properties":{"loginServer":"containerapp000005.azurecr.io","creationDate":"2023-03-17T08:02:39.9505177Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-03-17T08:02:47.651537+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-03-17T08:02:47.651537+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000005/operationStatuses/registries-1353b715-c49a-11ed-9bca-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000005/operationStatuses/registries-1353b715-c49a-11ed-9bca-2c0da7bd12b1?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000005/operationStatuses/registries-1353b715-c49a-11ed-9bca-2c0da7bd12b1?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000005/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000005","passwords":[{"name":"password","value":"xOwO4WBfLdsgTjJVQhQonVFKe6nqZM4MZOOWuBhHua+ACRDbff2H"},{"name":"password2","value":"VV0Cj6+DTI1eYzurq82vZKGQ/lZVLXi21eABBpuDbr+ACRBcc7et"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002",
      "configuration": {"secrets": [{"name": "containerapp000005azurecrio-containerapp000005",
      "value": "xOwO4WBfLdsgTjJVQhQonVFKe6nqZM4MZOOWuBhHua+ACRDbff2H"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000005.azurecr.io",
      "username": "containerapp000005", "passwordSecretRef": "containerapp000005azurecrio-containerapp000005"}]},
      "template": {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "containerapp-e2e000006", "command": null, "args": null, "env": null,
      "resources": null, "volumeMounts": null}], "initContainers": null, "scale":
      null, "volumes": null}}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp-e2e000006?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp-e2e000006","name":"containerapp-e2e000006","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-03-17T08:03:11.2779948Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-17T08:03:11.2779948Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002","workloadProfileType":null,"outboundIpAddresses":["20.242.163.223"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"containerapp000005azurecrio-containerapp000005"}],"activeRevisionsMode":"Single","ingress":null,"registries":[{"server":"containerapp000005.azurecr.io","username":"containerapp000005","passwordSecretRef":"containerapp000005azurecrio-containerapp000005","identity":""}],"dapr":null,"maxInactiveRevisions":null},"template":{"revisionSuffix":"","containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"containerapp-e2e000006","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp-e2e000006/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/44890528-0855-4a7e-ad66-a4d5ffde4c7b?api-version=2022-10-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/44890528-0855-4a7e-ad66-a4d5ffde4c7b?api-version=2022-10-01&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/44890528-0855-4a7e-ad66-a4d5ffde4c7b","name":"44890528-0855-4a7e-ad66-a4d5ffde4c7b","status":"InProgress","startTime":"2023-03-17T08:03:12.6438372"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/44a100eb-8c8f-465c-95a0-86150a42e1bf?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/44a100eb-8c8f-465c-95a0-86150a42e1bf?api-version=2022-10-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp-e2e000006/listSecrets?api-version=2022-10-01
  response:
    body:
      string: '{"value":[{"name":"containerapp000005azurecrio-containerapp000005","value":"xOwO4WBfLdsgTjJVQhQonVFKe6nqZM4MZOOWuBhHua+ACRDbff2H"}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
