interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-08-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/getCustomDomainVerificationId?api-version=2024-03-01
  response:
    body:
      string: '"0CA7D568F6126CA8723B9BDC6F6578562D277F3E04AB98A47F44299EC5A47454"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+86
        (21) 61880179"],"displayName":"Zhe Cheng","givenName":"Zhe","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"Zhe.Cheng@microsoft.com","mobilePhone":null,"officeLocation":"SHA-ZIZHU-BLD1/4237","preferredLanguage":null,"surname":"Cheng","userPrincipalName":"zhcheng@microsoft.com","id":"c3215255-d30b-4111-b207-0e4c881ba965"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00007114"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/capp-kv-000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003","name":"capp-kv-000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"zhcheng@microsoft.com","createdByType":"User","createdAt":"2024-11-04T03:46:33.988Z","lastModifiedBy":"zhcheng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-04T03:46:33.988Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":true,"vaultUri":"https://capp-kv-000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27c3215255-d30b-4111-b207-0e4c881ba965%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000018C8"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["c3215255-d30b-4111-b207-0e4c881ba965"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"c3215255-d30b-4111-b207-0e4c881ba965","businessPhones":["+86
        (21) 61880179"],"displayName":"Zhe Cheng","givenName":"Zhe","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"Zhe.Cheng@microsoft.com","mobilePhone":null,"officeLocation":"SHA-ZIZHU-BLD1/4237","preferredLanguage":null,"surname":"Cheng","userPrincipalName":"zhcheng@microsoft.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001643"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Administrator%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Administrator","type":"BuiltInRole","description":"Perform
        all data plane operations on a key vault and all objects in it, including
        certificates, keys, and secrets. Cannot manage key vault resources or manage
        role assignments. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.KeyVault/checkNameAvailability/read","Microsoft.KeyVault/deletedVaults/read","Microsoft.KeyVault/locations/*/read","Microsoft.KeyVault/vaults/*/read","Microsoft.KeyVault/operations/read"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/*"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:46.2349235Z","updatedOn":"2021-11-11T20:14:30.2542755Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","type":"Microsoft.Authorization/roleDefinitions","name":"00482a5a-887f-4fb3-b363-3b7fe8e74483"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483",
      "principalId": "c3215255-d30b-4111-b207-0e4c881ba965", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"c3215255-d30b-4111-b207-0e4c881ba965","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003","condition":null,"conditionVersion":null,"createdOn":"2024-11-04T03:47:12.5184439Z","updatedOn":"2024-11-04T03:47:13.2554589Z","createdBy":null,"updatedBy":"c3215255-d30b-4111-b207-0e4c881ba965","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "containerapp-env000002.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/checkDomainAvailability?api-version=2023-01-01
  response:
    body:
      string: '{"name":"containerapp-env000002.com","available":true,"domainType":"Regular"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"includePrivacy": true, "forTransfer": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/topLevelDomains/com/listAgreements?api-version=2023-01-01
  response:
    body:
      string: "{\"value\":[{\"agreementKey\":\"DNRA\",\"title\":\"Domain Registration
        Agreement\",\"content\":\"\\n<style>.vsc-legal-content-module .lcm-title{margin-top:2.5rem;margin-bottom:1rem}.vsc-legal-content-module
        .lcm-subtitle{margin-bottom:1rem}.vsc-legal-content-module .paragraph{margin-top:0;margin-bottom:1rem}.vsc-legal-content-module
        .lcm-numbered-list ul>ol{list-style:circle inside}.vsc-legal-content-module
        .lcm-numbered-list ol{counter-reset:section;padding-left:0}.vsc-legal-content-module
        .lcm-numbered-list ol>li{display:block}.vsc-legal-content-module .lcm-numbered-list
        ol>li:before{content:counters(section,\\\".\\\") \\\" \\\";counter-increment:section}</style>\\n\\n<div
        id=\\\"id-6de81dbb-6ddc-4107-a4fd-86de2b44f601\\\" class=\\\"vsc-legal-content-module\\\"
        >\\n  <div class=\\\"lcm-title\\\">\\n    <strong><span class=\\\"h5\\\">Azure
        - DOMAIN NAME REGISTRATION AGREEMENT</span></strong>\\n  </div>\\n    <div
        class=\\\"lcm-subtitle\\\">\\n      <strong>Last Revised: 12/4/2023</strong>\\n
        \   </div>\\n        <strong><strong>PLEASE READ THIS AGREEMENT CAREFULLY,
        AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</strong></strong>\\n\\n
        \ <p></p>\\n        <strong><strong>1. OVERVIEW</strong></strong>\\n\\n      <p>This
        Domain Name[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/dnszones", "name": "containerapp-env000002.com",
      "apiVersion": "2018-05-01", "location": "global", "dependsOn": [], "properties":
      {"zoneType": "Public"}}, {"type": "Microsoft.DomainRegistration/domains", "name":
      "containerapp-env000002.com", "apiVersion": "2018-02-01", "location": "global",
      "dependsOn": ["[resourceId(''Microsoft.Network/dnszones'', ''containerapp-env000002.com'')]"],
      "tags": {}, "properties": {"consent": {"agreementKeys": ["DNRA", "DNPA"], "agreedBy":
      "10.172.14.126", "agreedAt": "2024-11-04 03:47:14.879230"}, "ContactAdmin":
      {"AddressMailing": {"Address1": "One Microsoft Way", "Address2": "", "City":
      "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"}, "Email":
      "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast":
      "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"}, "ContactBilling":
      {"AddressMailing": {"Address1": "One Microsoft Way", "Address2": "", "City":
      "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"}, "Email":
      "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast":
      "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"}, "ContactRegistrant":
      {"AddressMailing": {"Address1": "One Microsoft Way", "Address2": "", "City":
      "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"}, "Email":
      "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast":
      "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"}, "ContactTech":
      {"AddressMailing": {"Address1": "One Microsoft Way", "Address2": "", "City":
      "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"}, "Email":
      "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast":
      "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"}, "privacy":
      true, "autoRenew": true, "dnsType": "AzureDns", "targetDnsType": "AzureDns",
      "dnsZoneId": "[resourceId(''Microsoft.Network/dnszones'', ''containerapp-env000002.com'')]"},
      "resources": []}], "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/domain_deploy_99CBnvX3wy93URUIf5cdwNAt2IZFAwja","name":"domain_deploy_99CBnvX3wy93URUIf5cdwNAt2IZFAwja","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10782873360867591342","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-11-04T03:47:25.8577183Z","duration":"PT0.0008219S","correlationId":"c80ec9a1-af5a-4ece-a502-7986ef0f6dac","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"dnszones","locations":["global"]}]},{"namespace":"Microsoft.DomainRegistration","resourceTypes":[{"resourceType":"domains","locations":["global"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnszones/containerapp-env000002.com","resourceType":"Microsoft.Network/dnszones","resourceName":"containerapp-env000002.com"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DomainRegistration/domains/containerapp-env000002.com","resourceType":"Microsoft.DomainRegistration/domains","resourceName":"containerapp-env000002.com"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/domain_deploy_99CBnvX3wy93URUIf5cdwNAt2IZFAwja/operationStatuses/08584709148453441060?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.158.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584709148453441060?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp-env000002.com/TXT/asuid.devtest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''asuid.devtest''
        does not exist in resource group ''clitest.rg000001'' of subscription ''ef6bd382-45c9-41bf-9818-e9a9606b9c4a''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["0CA7D568F6126CA8723B9BDC6F6578562D277F3E04AB98A47F44299EC5A47454"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp-env000002.com/TXT/asuid.devtest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest.rg000001\/providers\/Microsoft.Network\/dnszones\/containerapp-env000002.com\/TXT\/asuid.devtest","name":"asuid.devtest","type":"Microsoft.Network\/dnszones\/TXT","etag":"81c24516-82fb-49a1-8ec5-1a25f0adfd14","properties":{"fqdn":"asuid.devtest.containerapp-env000002.com.","TTL":3600,"TXTRecords":[{"value":["0CA7D568F6126CA8723B9BDC6F6578562D277F3E04AB98A47F44299EC5A47454"]}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 81c24516-82fb-49a1-8ec5-1a25f0adfd14
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/create?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pem-file"},
      "x509_props": {"subject": "CN=*.devtest.containerapp-env000002.com", "sans":
      {}, "key_usage": ["cRLSign", "dataEncipherment", "digitalSignature", "keyEncipherment",
      "keyAgreement", "keyCertSign"], "validity_months": 12}, "lifetime_actions":
      [{"trigger": {"days_before_expiry": 90}, "action": {"action_type": "AutoRenew"}}],
      "issuer": {"name": "Self"}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/create?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICwTCCAakCAQAwMTEvMC0GA1UEAwwmKi5kZXZ0ZXN0LmNvbnRhaW5lcmFwcC1lbnZicGhkeWNrcS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC81LY0YuNGm1kvmB1FxSGmmkdUylSpSdrv7cawkQY264NtaS4UsoJPBtI5C2J27jXDxSlVdk5nEgOOl2AJ+bqtSuq3akILSgUihIeFrBzF7hyiA1q2YA8MK6ckBUN0O1YXAUPVSPhX1iRYt+/pMWwED1I7sgRKE/TL/7PibOQqgyAe/bFChcuRk/RGloWhSzAg+zWVj30+rOlpsPKTQpCuGqbxv/uRB7woqEq5cvtF7QtGttu5LnwKGThYQTjxUYoRgfEoJIk045BuJ+OgIYWcR+XroHxe0pnCp5V51VzqMZjHa8b+ZvkFwd98zAZd41s5rSgFTBs23UubTXVNMLaRAgMBAAGgSzBJBgkqhkiG9w0BCQ4xPDA6MA4GA1UdDwEB/wQEAwIBvjAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwCQYDVR0TBAIwADANBgkqhkiG9w0BAQsFAAOCAQEAqfzb2xIUHTaIyVYtuAUqm8OE3n40A20Tm+B7mbAhKE0k8z8NbsNcE73+BlHUxjzvIYrNjBT/Mvy6BTNr9fqbtzalaIKIdNifzdTN5OtxioKjjCLyhmoEHgD5csFNlMjDnRxywQXuf3DcEmOvFgnwzNxsXqSy4shxcLypkOp/bWRLzcgjWWaCakaq5rRtrhRvcTiWm/XNTYV4QZ83OLNKayv9fapVwJ1y/D1Ee8prjVOMNPKOyT0PprJxKCy79oj0urC2Ite1UPmNyJ3gS1P/4Ja5d//LJLu1gVtiKErj6yvLnrOIZAHQqbt9WE2Zw5NHd5G+CTPquufD10ZLAaWZkw==","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"f283f079d132489f8bb64638953bdab8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4&request_id=f283f079d132489f8bb64638953bdab8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICwTCCAakCAQAwMTEvMC0GA1UEAwwmKi5kZXZ0ZXN0LmNvbnRhaW5lcmFwcC1lbnZicGhkeWNrcS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC81LY0YuNGm1kvmB1FxSGmmkdUylSpSdrv7cawkQY264NtaS4UsoJPBtI5C2J27jX[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICwTCCAakCAQAwMTEvMC0GA1UEAwwmKi5kZXZ0ZXN0LmNvbnRhaW5lcmFwcC1lbnZicGhkeWNrcS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC81LY0YuNGm1kvmB1FxSGmmkdUylSpSdrv7cawkQY264NtaS4UsoJPBtI5C2J27jXDxSlVdk5nEgOOl2AJ+bqtSuq3akILSgUihIeFrBzF7hyiA1q2YA8MK6ckBUN0O1YXAUPVSPhX1iRYt+/pMWwED1I7sgRKE/TL/7PibOQqgyAe/bFChcuRk/RGloWhSzAg+zWVj30+rOlpsPKTQpCuGqbxv/uRB7woqEq5cvtF7QtGttu5LnwKGThYQTjxUYoRgfEoJIk045BuJ+OgIYWcR+XroHxe0pnCp5V51VzqMZjHa8b+ZvkFwd98zAZd41s5rSgFTBs23UubTXVNMLaRAgMBAAGgSzBJBgkqhkiG9w0BCQ4xPDA6MA4GA1UdDwEB/wQEAwIBvjAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwCQYDVR0TBAIwADANBgkqhkiG9w0BAQsFAAOCAQEAqfzb2xIUHTaIyVYtuAUqm8OE3n40A20Tm+B7mbAhKE0k8z8NbsNcE73+BlHUxjzvIYrNjBT/Mvy6BTNr9fqbtzalaIKIdNifzdTN5OtxioKjjCLyhmoEHgD5csFNlMjDnRxywQXuf3DcEmOvFgnwzNxsXqSy4shxcLypkOp/bWRLzcgjWWaCakaq5rRtrhRvcTiWm/XNTYV4QZ83OLNKayv9fapVwJ1y/D1Ee8prjVOMNPKOyT0PprJxKCy79oj0urC2Ite1UPmNyJ3gS1P/4Ja5d//LJLu1gVtiKErj6yvLnrOIZAHQqbt9WE2Zw5NHd5G+CTPquufD10ZLAaWZkw==","cancellation_requested":false,"status":"completed","target":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004","request_id":"f283f079d132489f8bb64638953bdab8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/2d22a691ca894d2c9437987952c7a6ca","kid":"https://capp-kv-000003.vault.azure.net/keys/akv-cert-000004/2d22a691ca894d2c9437987952c7a6ca","sid":"https://capp-kv-000003.vault.azure.net/secrets/akv-cert-000004/2d22a691ca894d2c9437987952c7a6ca","x5t":"Z5oFU0u0E1rsv50GoTTCBmLiaJo","cer":"MIIDaDCCAlCgAwIBAgIQK8yOTi4cRY6HPyhk2pGxBDANBgkqhkiG9w0BAQsFADAxMS8wLQYDVQQDDCYqLmRldnRlc3QuY29udGFpbmVyYXBwLWVudmJwaGR5Y2txLmNvbTAeFw0yNDExMDQwMzQxMTVaFw0yNTExMDQwMzUxMTVaMDExLzAtBgNVBAMMJiouZGV2dGVzdC5jb250YWluZXJhcHAtZW52YnBoZHlja3EuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvNS2NGLjRptZL5gdRcUhpppHVMpUqUna7+3GsJEGNuuDbWkuFLKCTwbSOQtidu41w8UpVXZOZxIDjpdgCfm6rUrqt2pCC0oFIoSHhawcxe4cogNatmAPDCunJAVDdDtWFwFD1Uj4V9YkWLfv6TFsBA9SO7IEShP0y/+z4mzkKoMgHv2xQoXLkZP0RpaFoUswIPs1lY99PqzpabDyk0KQrhqm8b/7kQe8KKhKuXL7Re0LRrbbuS58Chk4WEE48VGKEYHxKCSJNOOQbifjoCGFnEfl66B8XtKZwqeVedVc6jGYx2vG/mb5BcHffMwGXeNbOa0oBUwbNt1Lm011TTC2kQIDAQABo3wwejAOBgNVHQ8BAf8EBAMCAb4wCQYDVR0TBAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHwYDVR0jBBgwFoAUUOMIv4GiCuhJw8MBhSHzcQJEo24wHQYDVR0OBBYEFFDjCL+BogroScPDAYUh83ECRKNuMA0GCSqGSIb3DQEBCwUAA4IBAQAfkjNjAvq0yNWIURvvulu5iGLmUJB9mk17LI0a6gzIJLTylkCX1Hh6UMnYQkIwWpDeuAEMOapwckSQkUCD1sTFGQusRxrMQxV0wE/kQdKgtDWYtP7Z+AnvWaBEBzF96D4jhioTIJc+mslWj7u7Q8mN7AGnFObb27qB0fWeuYDIfZeyvzA29KATBln6lKJoji+gM33uMFa64hrGkFwKYXEbF8Ot03AbSZgLr8Av2BsztsjtmALHCx8gjn4PtJ+OVQCmh6h5LKW88DXWGSh8/itwH7TeDehzv//NbWaJBoWIQfyn0yjcRE5miZUBcD7kS9Q2iJZU3SZhn/lOl8cTAsN/","attributes":{"enabled":true,"nbf":1730691675,"exp":1762228275,"created":1730692275,"updated":1730692275,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"policy":{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"CN=*.devtest.containerapp-env000002.com","sans":{},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":
[...]
