interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgqhi6xo7aqvaxtks3dfc5d?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"cdc99bf8-a7c7-45cb-87a1-d837a316223b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-02-05T21:45:58.7758622Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-02-06T01:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-02-05T21:45:58.7758622Z","modifiedDate":"2024-02-05T21:45:58.7758622Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgqhi6xo7aqvaxtks3dfc5d","name":"workspace-clitestrgqhi6xo7aqvaxtks3dfc5d","type":"Microsoft.OperationalInsights/workspaces","etag":"\"c005999c-0000-0100-0000-65c157160000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgqhi6xo7aqvaxtks3dfc5d?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgqhi6xo7aqvaxtks3dfc5d?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"cdc99bf8-a7c7-45cb-87a1-d837a316223b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-02-05T21:45:58.7758622Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-02-06T01:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-02-05T21:45:58.7758622Z","modifiedDate":"2024-02-05T21:45:58.7758622Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgqhi6xo7aqvaxtks3dfc5d","name":"workspace-clitestrgqhi6xo7aqvaxtks3dfc5d","type":"Microsoft.OperationalInsights/workspaces","etag":"\"c005999c-0000-0100-0000-65c157160000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgqhi6xo7aqvaxtks3dfc5d/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"abc123","secondarySharedKey":"abc123"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "cdc99bf8-a7c7-45cb-87a1-d837a316223b",
      "sharedKey":"",
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "None", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2024-02-05T21:46:00.8098171","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:46:00.8098171"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"wonderfulocean-3380abb6.eastus.azurecontainerapps.io","staticIp":"172.214.1.9","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"cdc99bf8-a7c7-45cb-87a1-d837a316223b","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"C1A7D31D77B66BE5AAD62AA3EAAE9656177E84E302C60DC537D33D3D4017DC89","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/8afd858c-0613-4a91-8660-42d866ccc278?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638427663617629478&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/8afd858c-0613-4a91-8660-42d866ccc278?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638427663617629478&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDU[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgnx5dr6bc2cx5gagilaq5lwrjm2cwofr2sszjvadxyzvfawfknsprkyybvehvtz6rf/providers/Microsoft.ContainerRegistry/registries/cac27aeddc4eacr","name":"cac27aeddc4eacr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-03T04:55:28.8670763Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-03T04:55:28.8670763Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-aspireenv1226/providers/Microsoft.ContainerRegistry/registries/acr7licr7mrotg3w","name":"acr7licr7mrotg3w","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus2","tags":{"azd-env-name":"aspireenv1226"},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-12-26T08:43:32.0724802Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-12-26T08:43:32.0724802Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-daniv-containerregistry/providers/Microsoft.ContainerRegistry/registries/cadanivcontainerregistry","name":"cadanivcontainerregistry","type":"Microsoft.ContainerRegistry/regist[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders?api-version=2023-11-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc","name":"builder195cc","type":"Microsoft.App/builders","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2024-02-05T21:48:22.346099Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:48:22.346099Z"},"properties":{"provisioningState":"Creating","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","containerRegistries":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6ZDkxMDE0MzEtOTQ4My00NmZhLTg2YTctM2VkZmVlZmZlNjJk?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638427665027523533&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRlcnM6ZDkxMDE0MzEtOTQ4My00NmZhLTg2YTctM2VkZmVlZmZlNjJk?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638427665027523533&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"configuration": {"environmentVariables":
      null}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0","name":"build195ccf0","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2024-02-05T21:49:44.7169622Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:49:44.7169622Z"},"properties":{"provisioningState":"Creating","buildStatus":"NotStarted","configuration":{},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder195cc/builds/build195ccf0/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder195cc/builds/build195ccf0/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/operationStatuses/YnVpbGRzOjUwY[...]
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0/listAuthToken?api-version=2023-11-02-preview
  response:
    body:
      string: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYXBwX3N1YiI6IjAwZWE3NGZhLWJjZWUtNDk5ZS1iNjc3LWY2NWRlOWE4MWFhMCIsImNhcHBfcmciOiJjbGl0ZXN0LnJncWhpNnhvN2FxdmF4dGtzM2RmYzVkdm51anVuaWlqdXRncjRqd3JyYmNsZW93M2JvdHJtNDR1aXJyN2F3N21memIiLCJidWlsZF9uYW1lIjoiYnVpbGQxOTVjY2YwIiwiY2FwcF9qaXRfZXhwaXJ5IjoiMjAyNC0wMi0wNVQyMjo0OTo0NS4zODQ5MTQ1WiIsIm5iZiI6MTcwNzE2OTc4NSwiZXhwIjoxNzA3MTczMzg1LCJpYXQiOjE3MDcxNjk3ODUsImlzcyI6IkF6dXJlQ29udGFpbmVyQXBwcyIsImF1ZCI6Imh0dHBzOi8vZWFzdHVzLmF6dXJlY29udGFpbmVyYXBwcy5kZXYifQ.vDFgyRrsyU63BDwchyyZId66Yt9xC55NrS9q4pZCbgw","expires":"2024-02-05T22:49:45.3849145Z"}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      LS03MDMyNWQxNjI1MjE0Njg1ZDYwY2QxNGZkYmZlOWUxNA0KQ29udGVudC1EaXNwb3NpdGlvbjog
      Zm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImJ1aWxkX2RhdGEudGFyLmd6Ig0KQ29u
      dGVudC1UeXBlOiBhcHBsaWNhdGlvbi94LXRhcg0KDQofiwgI+VfBZQL/YnVpbGQxOTVjY2YwLnRh
      cgDtPfl3FMeZym72F/bxnv+E8vhtIvw0l04iJBmMSVDWYC3CJl4ncXpmSlJDT/e4u0dH/BLnbda7
      b4+XbDZOXvY5jpPYmMsCG8x9yPgGAeKQkEACgS4MuhBIIA659quq7pkezYjDQWMcV9kf06qu+r6v
      vqr6jurqao/X451bJtUuxFII6xnTknw8TfXr8+Xk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0","name":"build195ccf0","type":"Microsoft.App/builders/builds","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2024-02-05T21:49:44.7169622Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-05T21:49:44.7169622Z"},"properties":{"provisioningState":"Succeeded","buildStatus":"InProgress","destinationContainerRegistry":{"server":"default","image":"default/build195ccf0"},"configuration":{},"uploadEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder195cc/builds/build195ccf0/upload","logStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder195cc/builds/build195ccf0/logstream","tokenEndpoint":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/builders/builder195cc/builds/build195ccf0/listAuthToken"}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder195cc/builds/build195ccf0/logstream
  response:
    body:
      string: '2024-02-05T21:49:49.98404  Connecting to the container ''build195ccf0''...

        2024-02-05T21:49:50.00932  Kubernetes error happened. Closing the connection.

        '
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/builders/builder195cc/builds/build195ccf0/logstream
  response:
    body:
      string: "2024-02-05T21:49:58.01654  Connecting to the container 'build195ccf0'...\n2024-02-05T21:49:58.03630
        \ Successfully Connected to container: 'build195ccf0' [Build: 'build195ccf0'
        Execution: 'build-3727cb93383ae8203983-s9cmv26-2fv9n']\n2024-02-05T21:49:58.316711632Z
        Timer: Analyzer started at 2024-02-05T21:49:58Z\n2024-02-05T21:49:58.391704597Z
        Image with name \"default/build195ccf0\" not found\n2024-02-05T21:49:58.446813912Z
        Found image with identifier \"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\"\n2024-02-05T21:49:58.447443808Z
        Timer: Analyzer ran for 130.898954ms and ended at 2024-02-05T21:49:58Z\n2024-02-05T21:49:58.447456792Z
        Run image info in analyzed metadata is: \n2024-02-05T21:49:58.447653759Z {\"Reference\":\"mcr.microsoft.com/oryx/builder@sha256:b4e65a33543997bab33856cb8cad948aa5b12dd152c34b1f1d6db9ec190e73dc\",\"Image\":\"mcr.microsoft.com/oryx/builder:stack-run-debian-bullseye-20230926.1\",\"Extend\":false,\"target\":{\"os\":\"linux\",\"arch\":\"amd64\"}}\n2024-02-05T21:49:58.448902206Z
        \n2024-02-05T21:49:58.448920480Z ===== Executing the detect phase =====\n2024-02-05T21:49:58.466283696Z
        Starting detector...\n2024-02-05T21:49:58.466305757Z Parsing inputs...\n2024-02-05T21:49:58.466312230Z
        Ensuring privileges...\n2024-02-05T21:49:58.466316588Z Executing command...\n2024-02-05T21:49:58.468615538Z
        \e[33;1mWarning: \e[0mPlatform requested experimental feature 'Dockerfiles'\n2024-02-05T21:49:58.46862962[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 8080, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "default/build195ccf0",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
[...]
