interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2e[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvszhpjx5nimvqekqlaeku?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"33929cac-9afc-48b2-abc3-3a5125571834","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-09T17:49:01.9773443Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-10T02:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-09T17:49:01.9773443Z","modifiedDate":"2023-11-09T17:49:01.9773443Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvszhpjx5nimvqekqlaeku","name":"workspace-clitestrgvszhpjx5nimvqekqlaeku","type":"Microsoft.OperationalInsights/workspaces","etag":"\"4f0057c7-0000-0100-0000-654d1b8d0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvszhpjx5nimvqekqlaeku?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvszhpjx5nimvqekqlaeku?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"33929cac-9afc-48b2-abc3-3a5125571834","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-09T17:49:01.9773443Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-10T02:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-09T17:49:01.9773443Z","modifiedDate":"2023-11-09T17:49:01.9773443Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvszhpjx5nimvqekqlaeku","name":"workspace-clitestrgvszhpjx5nimvqekqlaeku","type":"Microsoft.OperationalInsights/workspaces","etag":"\"4f0057c7-0000-0100-0000-654d1b8d0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvszhpjx5nimvqekqlaeku/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"eSCdgtJnk9cRDSg0ifSp2tfg9+gGqTm7OmbHFIVgTkZcYVUQBjSl4Ip1bdZDDrRdBrTOP+1C6x2WrsrI1Gmh+Q==","secondarySharedKey":"V9vs38KtcWgIq654npSAi33ZDVnfidPnMfaYLE8HpviLhLEKSCAfioe/W5R2Jt0JQfFaXCLRrLwnLCW224Tv+g=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "33929cac-9afc-48b2-abc3-3a5125571834",
      "sharedKey": "eSCdgtJnk9cRDSg0ifSp2tfg9+gGqTm7OmbHFIVgTkZcYVUQBjSl4Ip1bdZDDrRdBrTOP+1C6x2WrsrI1Gmh+Q=="}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T17:49:03.9708808Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:49:03.9708808Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"mangobay-dd69fcca.eastus.azurecontainerapps.io","staticIp":"20.85.176.177","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"33929cac-9afc-48b2-abc3-3a5125571834","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"C1A7D31D77B66BE5AAD62AA3EAAE9656177E84E302C60DC537D33D3D4017DC89","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"firstPartyConfiguration":null,"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/075de277-b123-4c6d-a50e-f3f8b0d3eaec?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351489452052596&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/075de277-b123-4c6d-a50e-f3f8b0d3eaec?api-version=2023-08-01-preview&azureAsyncOperation=true&t=638351489452052596&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironme[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-daniv-containerregistry/providers/Microsoft.ContainerRegistry/registries/cadanivcontainerregistry","name":"cadanivcontainerregistry","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"westus2","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-03-17T18:17:30.7016774Z","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-17T18:18:26.7376211Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sourcetocloudtest1030/providers/Microsoft.ContainerRegistry/registries/ca00583a3a9aacr","name":"ca00583a3a9aacr","type":"Microsoft.ContainerRegistry/reg[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr","name":"caed236fa28aacr","location":"eastus","tags":{},"systemData":{"createdBy":"daniv@microsoft.com","createdByType":"User","createdAt":"2023-11-09T17:54:19.2082893+00:00","lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:54:19.2082893+00:00"},"properties":{"loginServer":"caed236fa28aacr.azurecr.io","creationDate":"2023-11-09T17:54:19.2082893Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-11-09T17:54:25.6417366+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-11-09T17:54:25.6417769+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/operationStatuses/registries-fe913dc3-7f28-11ee-bca8-3c528259bb1b?api-version=2022-02-01-preview&t=638351492658645867&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/operationStatuses/registries-fe913dc3-7f28-11ee-bca8-3c528259bb1b?api-version=2022-02-01-preview&t=638351492658645867&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"caed236fa28aacr","passwords":[{"name":"password","value":"vqQBYBT/ZDLfTK6TLgpTCIE/k8g8/UwU3xj0pG2WkL+ACRCOBUNV"},{"name":"password2","value":"gNjUwpSLu+7otuk6CYi+ZBfZ8eTQY8REag3qwOyYI/+ACRDp4Bnq"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/source/202311090000/5e917e9a-50f8-4738-be8c-04fd8c818b96.tar.gz?sv=2021-12-02&se=2023-11-09T18%3A54%3A28Z&sr=b&sp=cw&sig=prY8ZvWoJbcTZwZi9v3EkTvL7vBO4EuiEBRlTZWFfDI%3D","relativePath":"source/202311090000/5e917e9a-50f8-4738-be8c-04fd8c818b96.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICNMcTWUC/2J1aWxkX2FyY2hpdmVfYjIxNjBmNDEzNGI1NDUyZmE5NmFmZWZhYjU3YThjMDQu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsypC4QkIwMOSji0kmzH6zhOz0xJaujpHnf3SMg8x3mb
      9e7b4yWbjZOXfV7HSWwMGINtMDcY49vch4QACQSSEAZdCCQQh1z7VVX3TM8hAQ4MxNRnf0yru+r7
      vrq+o7q6yuP1eGdUSIvnYCmM9Ql3BHwcxvr1+XLzEtf0vt+flx+YgBZPyALEDFPSgf3tLuRfCQSm
      oogpR3CJv2DatHx/7jRfvqcgMDUQKMifOEHANx68WeBBx0NhYeHY4z/tujBQ6JuA8sX4v+PgEfpf
      6H+h/+9bkKJRA5umrNYanlm4HitaNIJV07PQ0NTb[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:cli-containerapp-20231109095418194939"], "isPushEnabled":
      true, "noCache": false, "dockerFilePath": "5c97dc4bc388452b81f41bf611ad1831_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202311090000/5e917e9a-50f8-4738-be8c-04fd8c818b96.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-11-09T17:54:30+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"daniv@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-09T17:54:29.7910867+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/caed236fa28aacr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-09T19%3A04%3A30Z&sr=b&sp=r&sig=3l3FV2gV5FewQ2KwiY5%2Bz9Rku89PSI9QLiTBHaOnjPc%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Nov 2023 17:54:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-09T19%3A04%3A30Z&sr=b&sp=r&sig=3l3FV2gV5FewQ2KwiY5%2Bz9Rku89PSI9QLiTBHaOnjPc%3D
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Nov 2023 17:54:32 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-09T19%3A04%3A30Z&sr=b&sp=r&sig=3l3FV2gV5FewQ2KwiY5%2Bz9Rku89PSI9QLiTBHaOnjPc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE14CED9AECA2"'
      last-modified:
      - Thu, 09 Nov 2023 17:54:32 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 09 Nov 2023 17:54:31 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Nov 2023 17:54:34 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-09T19%3A04%3A30Z&sr=b&sp=r&sig=3l3FV2gV5FewQ2KwiY5%2Bz9Rku89PSI9QLiTBHaOnjPc%3D
  response:
    body:
      string: "2023/11/09 17:54:31 Downloading source code...\r\n2023/11/09 17:54:32
        Finished downloading source code\r\n2023/11/09 17:54:32 Using acb_vol_9482d6c4-bf32-460c-b5ff-b41b680ad2db
        as the home volume\n2023/11/09 17:54:32 Setting up Docker configuration...\n2023/11/09
        17:54:33 Successfully set up Docker configuration\n2023/11/09 17:54:33 Logging
        in to registry: caed236fa28aacr.azurecr.io\n2023/11/09 17:54:33 Successfully
        logged into caed236fa28aacr.azurecr.io\n2023/11/09 17:54:33 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2023/11/09
        17:54:33 Scanning for dependencies...\n2023/11/09 17:54:34 Successfully scanned
        dependencies\n2023/11/09 17:54:34 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-763/764
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE14CEEE4538E"'
      last-modified:
      - Thu, 09 Nov 2023 17:54:34 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 09 Nov 2023 17:54:31 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Nov 2023 17:54:54 GMT
      x-ms-range:
      - bytes=1057-5152
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-09T19%3A04%3A30Z&sr=b&sp=r&sig=3l3FV2gV5FewQ2KwiY5%2Bz9Rku89PSI9QLiTBHaOnjPc%3D
  response:
    body:
      string: "5c7a0ff61f6b: Verifying Checksum\n5c7a0ff61f6b: Download complete\n72cae2b4ebed:
        Verifying Checksum\n72cae2b4ebed: Download complete\n0a33056c1d9b: Verifying
        Checksum\n0a33056c1d9b: Download complete\n0bc8ff246cb8: Verifying Checksum\n0bc8ff246cb8:
        Download complete\n96830a80fe4a: Verifying Checksum\n96830a80fe4a: Download
        complete\n0bc8ff246cb8: Pull complete\n5c7a0ff61f6b: Pull complete\r\n0a33056c1d9b:
        Pull complete\n72cae2b4ebed: Pull complete\n96830a80fe4a: Pull complete\nDigest:
        sha256:f3da633088e7a3b7cbafc22c92659f69197bd4c0021c40381eeb78beb6ef1057\nStatus:
        Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n ---> 63bd24373d54\nStep
        2/17 : WORKDIR /app\n ---> Running in 3650fcabf483\nRemoving intermediate
        container 3650fcabf483\n ---> 5a8b01650f7a\nStep 3/17 : EXPOSE 80\n ---> Running
        in ca40e5525402\nRemoving intermediate container ca40e5525402\n ---> 6af89edc40c2\nStep
        4/17 : EXPOSE 443\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1057-1951/1952
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE14CFA8B3E87"'
      last-modified:
      - Thu, 09 Nov 2023 17:54:54 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 09 Nov 2023 17:54:31 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Nov 2023 17:55:29 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged122.blob.core.windows.net/5cad9c462d024cbc98823612d2f4f3d1-e25eysne6z/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-11-09T19%3A04%3A30Z&sr=b&sp=r&sig=3l3FV2gV5FewQ2KwiY5%2Bz9Rku89PSI9QLiTBHaOnjPc%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBE14D0EFD135A"'
      last-modified:
      - Thu, 09 Nov 2023 17:55:28 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 09 Nov 2023 17:54:31 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
