interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2023-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgihnucu2z4vllcv2gbx4ab?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"c6e5526e-9159-4222-8c0f-4e03cec4b834","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-28T05:22:34.1869586Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-28T13:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-28T05:22:34.1869586Z","modifiedDate":"2023-08-28T05:22:34.1869586Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgihnucu2z4vllcv2gbx4ab","name":"workspace-clitestrgihnucu2z4vllcv2gbx4ab","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgihnucu2z4vllcv2gbx4ab?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgihnucu2z4vllcv2gbx4ab?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"c6e5526e-9159-4222-8c0f-4e03cec4b834","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-28T05:22:34.1869586Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-28T13:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-28T05:22:34.1869586Z","modifiedDate":"2023-08-28T05:22:34.1869586Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgihnucu2z4vllcv2gbx4ab","name":"workspace-clitestrgihnucu2z4vllcv2gbx4ab","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgihnucu2z4vllcv2gbx4ab/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"XjUGq9Kk5SwaH8cfRc2CEIzL7TmdPq7xXjcrjOI3mHsOXHtj7uWERrCrsaRvNgWcvR5ZfAV4bdMLpRqc6e2Txg==","secondarySharedKey":"SjGAk6PH4q4hPx8c3rPPNkKET/ExDLQtJNEkvcsKMomw4S0IWdiIWnDoTbKVfYqyJMgNERpghl/pQXR+YZtjnA=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "c6e5526e-9159-4222-8c0f-4e03cec4b834",
      "sharedKey": "XjUGq9Kk5SwaH8cfRc2CEIzL7TmdPq7xXjcrjOI3mHsOXHtj7uWERrCrsaRvNgWcvR5ZfAV4bdMLpRqc6e2Txg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-28T05:22:37.3610603Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T05:22:37.3610603Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"salmonforest-d1ecf524.eastus.azurecontainerapps.io","staticIp":"20.241.250.136","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"c6e5526e-9159-4222-8c0f-4e03cec4b834","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2fb53a0f-1822-4a1b-bb48-37f38fe2f203?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-28T05%3a22%3a41&c=MIIHHjCCBgagAwIBAgITfwHPmO-HOYY8_rHKfgAEAc-Y7zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTQ0MjUwWhcNMjQwNzI3MTQ0MjUwWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2fb53a0f-1822-4a1b-bb48-37f38fe2f203?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-28T05%3A22%3A41&c=MIIHHjCCBgagAwIBAgITfwHPmO-HOYY8_rHKfgAEAc-Y7zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-28T05:24:20.4694278+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T05:24:20.4694278+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-08-28T05:24:20.4694278Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-28T05:24:31.8638465+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-28T05:24:31.8639021+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-24fc0f6d-4563-11ee-a8e2-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-24fc0f6d-4563-11ee-a8e2-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-24fc0f6d-4563-11ee-a8e2-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"1lBDYl1khQ8HCcrq1f6Umg2NLf/hJL8zfsCS7gm8A2+ACRAPW7O0"},{"name":"password2","value":"6kJWn1E9lz/pQJ82vLJ4wjeFv7Hfhe07ZAEmdxt14q+ACRBfde8n"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHB6MjZydnV1YnpjY206MjAyMzA4MjcyMjI0NDU0NzI0MzUgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwejI2cnZ1dWJ6Y2NtOjIwMjMwODI3MjIyNDQ1NDcyNDM1Il0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-08-28T05[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/source/202308280000/dc8c7f5d-255a-49c0-be34-a6170de2bf95.tar.gz?sv=2021-12-02&se=2023-08-28T06%3A30%3A24Z&sr=b&sp=cw&sig=DrCjKNul5zap5s%2Byfb4m7zTP148hRzZt9JoQMf3PPx0%3D","relativePath":"source/202308280000/dc8c7f5d-255a-49c0-be34-a6170de2bf95.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICPAw7GQC/2NsaV9zb3VyY2VfYXJjaGl2ZV82YzJjM2I5MmM3Yzk0YjlkYTIwOTM4YzUxZTI3
      YTM5Zi50YXIA7V1tb9s4Es7nAP0PU+8t5HRtWZJf4ybd3Wuz7QK9btDmcDgcDoUi0TYbWdKRlBO3
      m/vtNyQlR3HTV9TOtZ2nHyIPOZzhy3DIkci6Hbfzy3F48YSFMRM7G4Fn8a6/ntftXT1ruu/3+sEO
      XOxsAYVUoUDxX7qSXwmCEcwVn7NDfzAaePv90X7gDvv7Qa8b7O4Qvnl0tiBD28NwOHy3/b/1PAyG
      3g70yf43Dpfmf5r/af7/bhHmuftKbn7+HwwG77L/wBsEa/bvdYPhDnhk/xvHIhQQCRYqdiREJuAQ
      BPtPwQVrOjOl8jbTVOns3d/VOdlFLpiU9VwlqcqRh2pWT9a[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-08-28T05:30:12.1690863+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202308280000/dc8c7f5d-255a-49c0-be34-a6170de2bf95.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmp_15yzr88", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-28T05:30:26+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-28T05:30:25.7569916+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T06%3A40%3A27Z&sr=b&sp=r&sig=HIbd%2FjQ8pM05BJOWNDaQw0qR9mnhGWhJdMZJSrmgCv8%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 05:30:29 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T06%3A40%3A27Z&sr=b&sp=r&sig=HIbd%2FjQ8pM05BJOWNDaQw0qR9mnhGWhJdMZJSrmgCv8%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA787E34356EF"'
      last-modified:
      - Mon, 28 Aug 2023 05:30:27 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 05:30:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 05:30:30 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T06%3A40%3A27Z&sr=b&sp=r&sig=HIbd%2FjQ8pM05BJOWNDaQw0qR9mnhGWhJdMZJSrmgCv8%3D
  response:
    body:
      string: "2023/08/28 05:30:27 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA787E34356EF"'
      last-modified:
      - Mon, 28 Aug 2023 05:30:27 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 28 Aug 2023 05:30:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 05:30:33 GMT
      x-ms-range:
      - bytes=48-4143
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T06%3A40%3A27Z&sr=b&sp=r&sig=HIbd%2FjQ8pM05BJOWNDaQw0qR9mnhGWhJdMZJSrmgCv8%3D
  response:
    body:
      string: "2023/08/28 05:30:28 Finished downloading source code\r\n2023/08/28
        05:30:28 Alias support enabled for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases
        for more information.\n2023/08/28 05:30:28 Creating Docker network: acb_default_network,
        driver: 'bridge'\n2023/08/28 05:30:28 Successfully set up Docker network:
        acb_default_network\n2023/08/28 05:30:28 Setting up Docker configuration...\n2023/08/28
        05:30:29 Successfully set up Docker configuration\n2023/08/28 05:30:29 Logging
        in to registry: containerapp000004.azurecr.io\n2023/08/28 05:30:29 Successfully
        logged into containerapp000004.azurecr.io\n2023/08/28 05:30:29 Executing step
        ID: acb_step_0. Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/08/28
        05:30:29 Launching container with name: acb_step_0\nUnable to find image 'mcr.microsoft.com/oryx/cli:debian-buster-20230222.1'
        locally\ndebian-buster-20230222.1: Pulling from oryx/cli\nb2404786f3fe: Pulling
        fs layer\ne97ef50ee5a8: Pulling fs layer\ndfb1477a1a0e: Pulling fs layer\n69fefe447a70:
        Pulling fs layer\n75c028bd406f: Pulling fs layer\n69285aafba30: Pulling f[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 05:30:44 GMT
      x-ms-range:
      - bytes=2069-6164
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T06%3A40%3A27Z&sr=b&sp=r&sig=HIbd%2FjQ8pM05BJOWNDaQw0qR9mnhGWhJdMZJSrmgCv8%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\nStatus:
        Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\nDockerfile
        written to '/workspace/Dockerfile'.\n2023/08/28 05:30:39 Successfully executed
        container: acb_step_0\n2023/08/28 05:30:39 Executing step ID: acb_step_1.
        Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/08/28
        05:30:39 Scanning for dependencies...\r\n2023/08/28 05:30:39 Successfully
        scanned dependencies\n2023/08/28 05:30:39 Launching container with name: acb_step_1\nSending
        build context to Docker daemon  16.38kB\r\r\nStep 1/10 : ARG RUNTIME=node:18\nStep
        2/10 : FROM mcr.microsoft.com/oryx/cli:debian-bullseye-stab[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Aug 2023 05:30:57 GMT
      x-ms-range:
      - bytes=5548-9643
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged163.blob.core.windows.net/16b72d1c5b6b4330bd278a2af53a2b06-xuk00ef4vy/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-28T06%3A40%3A27Z&sr=b&sp=r&sig=HIbd%2FjQ8pM05BJOWNDaQw0qR9mnhGWhJdMZJSrmgCv8%3D
  response:
    body:
      string: "Reading package lists...\nReading package lists...\nBuilding dependency
        tree...\nReading state information...\nCalculating upgrade...\n0 upgraded,
        0 newly installed, 0 to remove and 0 not upgraded.\nReading package lists...\nBuilding
        dependency tree...\nReading state information...\nThe following additional
        packages will be installed:\n  git-man libcurl3-gnutls liberror-perl libgdbm-compat4
        libgdbm6 libperl5.32\n  perl perl-modules-5.32\nSuggested packages:\n  gettext-base
        git-daemon-run | git-daemon-sysvinit git-doc git-el git-email\n  git-gui gitk
        gitweb git-cvs git-mediawiki git-svn gdbm-l10n perl-doc\n  libterm-readline-gnu-perl
        | libterm-readline-perl-perl make\n  libtap-harness-archive-perl\nRecommended
        packages:\n  patch less ssh-client\nThe following NEW packages will be installed:\n
        \ git git-man libcurl3-gnutls liberror-perl libgdbm-compat4 libgdbm6\n  libperl5.32
        perl perl-modules-5.32\n0 upgraded, 9 newly installed, 0 to remove and 0 not
        upgraded.\nNeed to get 15.1 MB of archives.\nAfter this operation, 86.0 MB
        of additional disk space will be used.\nGet:1 http://deb.debian.org/debian
        bullseye/main amd64 perl-modules-5.32 all 5.32.1-4+deb11u2 [2823 kB]\nGet:2
        http://deb.debian.org/debian bullseye/main amd64 libgdbm6 amd64 1.19-2 [64.9
        kB]\nGet:3 http://deb.debian.org/debian bullseye/main amd64 libgdbm-compat4
        amd64 1.19-2 [44.7 kB]\nGet:4 http://deb.debian.org/debian bullseye/main amd64
        libperl5.32 amd64 5.32.1-4+deb11u2 [4106 kB]\nGet:5 http://deb.debian.org/debian
[...]
