interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India"],"apiVersions":["2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-08-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-10-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northcentralusstage", "properties": {"environmentId": null,
      "poolManagementType": "Dynamic", "containerType": "NodeLTS", "customContainerTemplate":
      null, "secrets": null, "dynamicPoolConfiguration": {"executionType": "Timed",
      "cooldownPeriodInSeconds": "300"}, "scaleConfiguration": {"maxConcurrentSessions":
      10, "readySessionInstances": 5}, "sessionNetworkConfiguration": {"status": "EgressDisabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002","name":"spnodelts000002","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"yitaopan@microsoft.com","createdByType":"User","createdAt":"2024-11-08T08:24:29.6055851Z","lastModifiedBy":"yitaopan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-08T08:24:29.6055851Z"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"NodeLTS","scaleConfiguration":{"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"status":"EgressDisabled"},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002","managedIdentitySettings":null}}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-08-02-preview,
        2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '399'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+86
        (21) 61882442"],"displayName":"Yitao Pan","givenName":"Yitao","jobTitle":"SOFTWARE
        ENGINEER","mail":"yitaopan@microsoft.com","mobilePhone":null,"officeLocation":"SHA-ZIZHU-BLD1/4511","preferredLanguage":null,"surname":"Pan","userPrincipalName":"yitaopan@microsoft.com","id":"542743fb-296b-4dd5-83a3-3e0a77786102"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"TYO1EPF00001C74"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0",
      "principalId": "542743fb-296b-4dd5-83a3-3e0a77786102"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002/providers/Microsoft.Authorization/roleAssignments/a0d5bf64-0715-4c03-a17e-e059c95ceba0?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/0fb8eba5-a2bb-4abe-b1c1-49dfad359bb0","principalId":"542743fb-296b-4dd5-83a3-3e0a77786102","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002","condition":null,"conditionVersion":null,"createdOn":"2024-11-08T08:24:31.9311433Z","updatedOn":"2024-11-08T08:24:32.3501546Z","createdBy":null,"updatedBy":"542743fb-296b-4dd5-83a3-3e0a77786102","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002/providers/Microsoft.Authorization/roleAssignments/a0d5bf64-0715-4c03-a17e-e059c95ceba0","type":"Microsoft.Authorization/roleAssignments","name":"a0d5bf64-0715-4c03-a17e-e059c95ceba0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-10-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spnodelts000002","name":"spnodelts000002","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"yitaopan@microsoft.com","createdByType":"User","createdAt":"2024-11-08T08:24:29.6055851","lastModifiedBy":"yitaopan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-08T08:24:29.6055851"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"NodeLTS","scaleConfiguration":{"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"status":"EgressDisabled"},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002","managedIdentitySettings":[]},"identity":{"type":"None"}}]}'
    headers:
      api-supported-versions:
      - 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-08-02-preview,
        2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"codeInputType": "inline", "executionType": "synchronous", "code": "console.log(\"Hello
      world\")", "timeoutInSeconds": 60}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002/executions?identifier=testidentifier000003&api-version=2024-10-02-preview
  response:
    body:
      string: '{"$id":"1","id":"273acaaf-169b-450d-a709-bec258d8e8b5","identifier":"testidentifier000003","executionType":"synchronous","status":"Succeeded","result":{"$id":"2","stdout":"Hello
        world\n","stderr":"","executionResult":"","executionTimeInMilliseconds":51}}'
    headers:
      api-supported-versions:
      - 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4cd4a61f-0ac5-4280-9371-1281a858de78
      x-ms-allocation-retries:
      - '0'
      x-ms-allocation-time:
      - '99.2177'
      x-ms-container-execution-duration:
      - '51'
      x-ms-execution-read-response-time:
      - '0.0506'
      x-ms-execution-request-time:
      - '45'
      x-ms-overall-execution-time:
      - '509.1528'
      x-ms-preparation-time:
      - '5.0088'
      x-ms-session-guid:
      - 7e8c59d9-77a1-4927-abec-c5e0cd680e53
      x-ms-total-execution-service-time:
      - '613.3958'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: "--49a4b852e75d58b150587c51d8fd3bd1\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"cert.txt\"\r\n\r\ntesting\r\n--49a4b852e75d58b150587c51d8fd3bd1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=49a4b852e75d58b150587c51d8fd3bd1
    method: POST
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002/files?identifier=testidentifier000003&api-version=2024-10-02-preview
  response:
    body:
      string: '{"$id":"1","name":"cert.txt","type":"","contentType":"","sizeInBytes":7,"lastModifiedAt":"2024-11-08T08:24:45.227591Z"}'
    headers:
      api-supported-versions:
      - 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - d8877ec5-6056-4d1d-b22a-353bcb938c31
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002/files?identifier=testidentifier000003&path=&api-version=2024-10-02-preview
  response:
    body:
      string: '{"$id":"1","value":[{"$id":"2","name":"cert.txt","type":"file","contentType":"text/plain;
        charset=utf-8","sizeInBytes":7,"lastModifiedAt":"2024-11-08T08:24:45.227591Z"}]}'
    headers:
      api-supported-versions:
      - 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - fb15e169-a4ec-4cad-b8b4-38d96c93e39d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002/files/cert.txt/content?identifier=testidentifier000003&api-version=2024-10-02-preview
  response:
    body:
      string: testing
    headers:
      api-supported-versions:
      - 2024-10-02-preview
      content-type:
      - application/octet-stream
      mise-correlation-id:
      - 1a915a67-3aae-4c15-af31-11b293b02a25
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spnodelts000002/files/cert.txt?identifier=testidentifier000003&api-version=2024-10-02-preview
  response:
    body:
      string: '{"$id":"1","name":"cert.txt","sizeInBytes":7,"lastModifiedAt":"2024-11-08T08:24:45.227591Z"}'
    headers:
      api-supported-versions:
      - 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 95559fb2-7325-4cfe-8329-54e7992fee38
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-10-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
