interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-06T02:34:17.4035344Z","lastModifiedBy":"64b12d6e-6549-484c-8cc6-6281839ba394","lastModifiedByType":"Application","lastModifiedAt":"2023-09-06T02:36:42.0995223Z"},"identity":{"principalId":"4a6b8711-405b-4a83-9162-b049341e015c","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","connectivityStatus":"Connected","privateLinkState":"Disabled","azureHybridBenefit":"NotApplicable","agentPublicKeyCertificate":"MIICCgKCAgEApehlwgoJP2n+yD/gpwF8u11QWqMsJZkfZ6uqn7HOLYS+72E/haIBmmICKkoWtoYGWN5fxAE0TOK90P6mZTUSaeRNZmYRLKi49T6VKlAgmmqxD2I97ubZUhlzY/udSxkDzSa6mft5EATJtgJMTuEi0dPK0mPC1q5dqN04YmRxXmB5OcwuE+GZ1pAvWN6hW7VFd0n761v1Po7ya6VqZX1sip1yeqBIgXR6yfcReZgowqbQJaWQBLwhn7F61MvFGe3gb5DOiZzzhXFelBPmCn3cXxjSNatvbjSqQrfDohNLACDBhzLf3Svl5/+0pe2vrFgCkhz92DdIBuhnGhLfAWaM/x7tPtPL01wgzpUlEHNhysTziHm0GHxfSQhYlLpX7ub97oRM3LStuV5/7dStuipWNNTlvcX6TfzcvGaWynie9/QyMM15SQDjIrnT+mwRLzXrc/LhMQXZ/MRqawRgDGpwoK3+BpQmS2rcGz0JsBvznqXb+Wlc4aRBxlWRH5F0lCRAoaQ18C36jymq3e1n6OyUY1j1aRZ59fw1DvJjivuHXUuaZvfgOJ+wolRw08U/UBAcvfEXxcU6BGBlBvjZx8Y+8zVr4M8XJlwtQcNG84OwdxHKDYPO8CjZuNmoAjfBIL88GJNdHeAMflgHSPBKaKfOonSBh0jJtmktuy4OEhqe51UCAwEAAQ==","distribution":"aks","infrastructure":"azure","kubernetesVersion":"1.26.6","totalNodeCount":4,"agentVersion":"1.12.7","totalCoreCount":8,"lastConnectivityTime":"2023-09-06T02:36:39.481Z","managedIdentityCertificateExpirationTime":"2023-12-05T02:29:00Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"cf0486e4-0000-0100-0000-64f7e5ba0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"90155430-a360-410f-af5d-89dc284d85c6"},{"applicationId":"03db181c-e9d3-4868-9097-f0b728327182","roleDefinitionId":"DE2ADB97-42D8-49C8-8FCF-DBB53EF936AC"},{"applicationId":"a0f92522-89de-4c5e-9a75-0044ccf66efd","roleDefinitionId":"b3429810-7d5c-420e-8605-cf280f3099f2"},{"applicationId":"bd9b7cd5-dac1-495f-b013-ac871e98fa5f","roleDefinitionId":"0d44c8f0-08b9-44d4-9f59-e51c83f95200"},{"applicationId":"585fc3c3-9a59-4720-8319-53cce041a605","roleDefinitionId":"4a9ce2ee-6de2-43ba-a7bd-8f316de763a7"}],"resourceTypes":[{"resourceType":"sourceControlConfigurations","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central India","South
        India","Japan West","Uk West","France South","Korea South","South Africa North","Brazil
        South","Uae North","Norway West","Germany North","Jio India West"],"apiVersions":["2023-05-01","2022-11-01","2022-07-01","2022-03-01","2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"defaultApiVersion":"2022-03-01","capabilities":"SupportsExtension"},{"resourceType":"extensions","locations":["East
        US","West Europe","West Central US","West US 2","West US 3","South Central
        US","East US 2","North Europe","UK South","Southeast Asia","Australia East","France
        Central","Central US","North Central US","West US","Korea Central","East Asia","Japan
        East","Canada East","Canada Central","Norway East","Germany West Central","Sweden
        Central","Switzerland North","Australia Southeast","Central Indi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","name":"my-connected-cluster","t[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"extensionType":
      "microsoft.app.environment", "autoUpgradeMinorVersion": true, "releaseTrain":
      "stable", "scope": {"cluster": {"releaseNamespace": "appplat-ns"}}, "configurationSettings":
      {"Microsoft.CustomLocation.ServiceAccount": "default", "appsNamespace": "appplat-ns",
      "clusterName": "my-connected-cluster", "envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":
      "clitest.rg000001"}, "configurationProtectedSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext","name":"containerapp-ext","type":"Microsoft.KubernetesConfiguration/extensions","properties":{"extensionType":"microsoft.app.environment","autoUpgradeMinorVersion":true,"releaseTrain":"stable","version":null,"currentVersion":null,"scope":{"cluster":{"releaseNamespace":"appplat-ns"}},"provisioningState":"Creating","configurationSettings":{"Microsoft.CustomLocation.ServiceAccount":"default","appsNamespace":"appplat-ns","clusterName":"my-connected-cluster","envoy.annotations.service.beta.kubernetes.io/azure-load-balancer-resource-group":"clitest.rg000001"},"configurationProtectedSettings":{},"statuses":[],"aksAssignedIdentity":null,"isSystemExtension":false},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2023-09-06T02:37:09.1594658+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2023-09-06T02:37:09.1594658+00:00"},"identity":{"type":"SystemAssigned","principalId":"811142ca-b9f3-4062-996a-2fc07c2362f0"}}'
    headers:
      api-supported-versions:
      - '2022-11-01'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/8e21ecf4-d8ae-46c5-bf74-e4edeb7a5a49?api-Version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus.rp.kubernetesconfiguration.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/8e21ecf4-d8ae-46c5-bf74-e4edeb7a5a49?api-Version=2022-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/ConnectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext/operations/8e21ecf4-d8ae-46c5-bf74-e4edeb7a5a49","name":"8e21ecf4-d8ae-46c5-bf74-e4edeb7a5a49","status":"Creating"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview, 2021-05-01-preview, 2021-06-01-preview, 2021-09-01, 2021-11-01-preview,
        2022-01-01-preview, 2022-03-01, 2022-04-02-preview, 2022-07-01, 2022-11-01,
        2023-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterExtensionIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],
      "displayName": "my-custom-location", "hostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster",
      "hostType": "Kubernetes", "namespace": "appplat-ns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location?api-version=2021-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","name":"my-custom-location","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-06T02:40:23.0196066Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T02:40:23.0196066Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location","provisioningState":"Creating","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/08b29678-9f43-4deb-bf3d-b17276459708?api-version=2021-03-15-preview&t=2023-09-06T02%3a40%3a25&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwNzI3MDYzNj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.extendedlocation/locations/eastus/operationsstatus/08b29678-9f43-4deb-bf3d-b17276459708?api-version=2021-03-15-preview&t=2023-09-06T02%3A40%3A25&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location?api-version=2021-03-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","name":"my-custom-location","location":"eastus","type":"Microsoft.ExtendedLocation/customLocations","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-06T02:40:23.0196066Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T02:40:23.0196066Z"},"properties":{"hostType":"Kubernetes","hostResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster","namespace":"appplat-ns","displayName":"my-custom-location","provisioningState":"Succeeded","clusterExtensionIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kubernetes/connectedClusters/my-connected-cluster/providers/Microsoft.KubernetesConfiguration/extensions/containerapp-ext"],"authentication":{}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"extendedLocation": {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location",
      "type": "CustomLocation"}, "tags": null, "location": "eastus", "properties":
      {"staticIp": "1.1.1.1", "daprAIConnectionString": "InstrumentationKey=TestInstrumentationKey;IngestionEndpoint=https://ingestion.com/;LiveEndpoint=https://abc.com/"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env","name":"my-connected-env","type":"Microsoft.App/connectedEnvironments","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-06T02:41:05.9384462Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T02:41:05.9384462Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"my-connected-env-vo839w6.eastus.k4apps.io","staticIp":"1.1.1.1","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"}}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationStatuses/39213db8-19d7-41b0-8ec2-7a7feb499c64?api-version=202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationStatuses/39213db8-19d7-41b0-8ec2-7a7feb499c64?api-version=2023-05-02-preview&azureAsyncOperation=true&t=2023-09-06T02%3A41%3A08&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0Eg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments?api-version=2023-05-02-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env","name":"my-connected-env","type":"Microsoft.App/connectedEnvironments","location":"eastus","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-06T02:41:05.9384462","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T02:41:05.9384462"},"properties":{"provisioningState":"Succeeded","defaultDomain":"my-connected-env-vo839w6.eastus.k4apps.io","staticIp":"1.1.1.1","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"}}}]}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart:latest",
      "name": "containerapp1000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null, "extendedLocation":
      {"name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location",
      "type": "CustomLocation"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp1000003?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp1000003","name":"containerapp1000003","type":"Microsoft.App/containerApps","location":"East
        US","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location","type":"CustomLocation"},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-09-06T02:42:43.8003354Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-06T02:42:43.8003354Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":null,"environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env","workloadProfileName":null,"outboundIpAddresses":null,"latestRevisionName":"containerapp1000003--8j17894","latestReadyRevisionName":"containerapp1000003--8j17894","latestRevisionFqdn":"containerapp1000003--8j17894.my-connected-env-vo839w6.eastus.k4apps.io","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp1000003.my-connected-env-vo839w6.eastus.k4apps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"containerapp1000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp1000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/a329fecd-9ec3-4947-b7db-5bd5620b2e26?api-version=2023-05-02-preview&azureAsyncOperation=true&t=2023-09-06T02%3A42%3A47&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/connectedEnvironments/my-connected-env?api-version=2023-05-02-preview
  response:
    body:
      string: '{"error":{"code":"100026","message":"The specified environment my-connected-env
        cannot be deleted because it still contains 1 active container apps."}}'
    headers:
      api-supported-versions:
      - 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01,
        2023-05-02-preview, 2023-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/a329fecd-9ec3-4947-b7db-5bd5620b2e26?api-version=2023-05-02-preview&t=2023-09-06T02%3A43%3A04&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwNz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/connectedEnvironmentOperationResults/326426c6-b917-459e-8688-ba385de74f5b?api-version=2023-05-02-preview&t=2023-09-06T02%3A43%3A16&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2Wh[...]
[...]
