interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgefa3jzumdgf5z7froq5uz?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"15c50ea6-e0a1-4ae6-b2e0-fc90bb1ad2de","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-07T21:11:00.0145804Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-08T05:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-07T21:11:00.0145804Z","modifiedDate":"2023-09-07T21:11:00.0145804Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgefa3jzumdgf5z7froq5uz","name":"workspace-clitestrgefa3jzumdgf5z7froq5uz","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgefa3jzumdgf5z7froq5uz?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgefa3jzumdgf5z7froq5uz?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"15c50ea6-e0a1-4ae6-b2e0-fc90bb1ad2de","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-07T21:11:00.0145804Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-08T05:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-07T21:11:00.0145804Z","modifiedDate":"2023-09-07T21:11:00.0145804Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgefa3jzumdgf5z7froq5uz","name":"workspace-clitestrgefa3jzumdgf5z7froq5uz","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgefa3jzumdgf5z7froq5uz/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"Z2U4mkdC8DYshQ3+s09txln+KVNkQxvCz/NWtSRJPAnXhx5y0fXnT0ytTbvXGeuYN38Lea4WFzPVwsDyU3wsRw==","secondarySharedKey":"7dYNG3z7oi12zpu9La0R8CQxSO3PXi57G7/uI5aLxzhO1BLZWatrmcB811Vv0Vt19E4ybh3N78QwEywnrTBPBw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "15c50ea6-e0a1-4ae6-b2e0-fc90bb1ad2de",
      "sharedKey": "Z2U4mkdC8DYshQ3+s09txln+KVNkQxvCz/NWtSRJPAnXhx5y0fXnT0ytTbvXGeuYN38Lea4WFzPVwsDyU3wsRw=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-07T21:11:01.5057473Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T21:11:01.5057473Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"victoriousfield-57cdd23c.eastus.azurecontainerapps.io","staticIp":"20.237.15.75","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"15c50ea6-e0a1-4ae6-b2e0-fc90bb1ad2de","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/8439dc51-a24f-4016-9ed9-338153cefafd?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-07T21%3a11%3a04&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAzMDczNjQzWhcNMjQwNzI4MDczNjQzWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/8439dc51-a24f-4016-9ed9-338153cefafd?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-07T21%3A11%3A04&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-07T21:11:24.113961+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T21:11:24.113961+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-09-07T21:11:24.113961Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-09-07T21:11:40.7985373+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-09-07T21:11:40.7985795+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-19f3613b-4dc3-11ee-aff3-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-19f3613b-4dc3-11ee-aff3-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-19f3613b-4dc3-11ee-aff3-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"ETXw7Jh641c1wpU4wJSCoAtAmSR5lYHLN45pJGYU1c+ACRAnwN8W"},{"name":"password2","value":"qolZ/Fh0BCQcwzx0QQBKSZ2uARAC1fpksc6yb9h7mt+ACRBiunr3"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"ETXw7Jh641c1wpU4wJSCoAtAmSR5lYHLN45pJGYU1c+ACRAnwN8W"},{"name":"password2","value":"qolZ/Fh0BCQcwzx0QQBKSZ2uARAC1fpksc6yb9h7mt+ACRBiunr3"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHBiaTN5YmgzMmo0c3Q6MjAyMzA5MDcxNDExNDg0Mzg3MjEgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwYmkzeWJoMzJqNHN0OjIwMjMwOTA3MTQxMTQ4NDM4NzIxIl0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-07T21[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/source/202309070000/7134e644-d796-448e-820e-b0b32a53d921.tar.gz?sv=2021-12-02&se=2023-09-07T22%3A20%3A36Z&sr=b&sp=cw&sig=spj%2Bpx9LmoWIQbWkL%2Ft%2BRMWDiYJSlKYZ3GUZdssYcMs%3D","relativePath":"source/202309070000/7134e644-d796-448e-820e-b0b32a53d921.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICKQ++mQC/2NsaV9zb3VyY2VfYXJjaGl2ZV8xZTE0MTcyYjBmYTE0NWEyODU0OThjZWE5MDRk
      OWY1MC50YXIA7V3rc9u4Efdnz+R/2Oh6QyUnUXzoYSu2r9fEl9xMmvMk6XQ6nU6GJiEJMUWyAChb
      zbl/excAKdOK85xIbpL95YOpBRa7eCwWWBKI23N7fz6JLp6wKGFiZyPwLN711/PC/tWzpvt+fxDs
      wMXOFlBKFQkU/6Ur+ZUg2IO54nN26A/3ht7+YG8/cEeD/aAfBrs7hG8evS3I0PYwGo3ebf9vPY+C
      kbcDA7L/jcOl+Z/mf5r/v1tEReG+lpuf/4fD4bvsP/CGwZr9e2Ew2gGP7H/jWEQCYsEixY6FyAUc
      gmD/LrlgbWemVNFlmiqdew92dU52UQgmZTNXRapzFJGaNZP[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-07T21:20:24.9066584+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202309070000/7134e644-d796-448e-820e-b0b32a53d921.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmp_9riyaid", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-09-07T21:20:38+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-07T21:20:37.8766226+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-07T22%3A30%3A38Z&sr=b&sp=r&sig=WBLrtCPCb5izQ5%2Froj5iOLZUzjNqeqtCuGQLrzgAEjE%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Sep 2023 21:20:39 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-07T22%3A30%3A38Z&sr=b&sp=r&sig=WBLrtCPCb5izQ5%2Froj5iOLZUzjNqeqtCuGQLrzgAEjE%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBAFE848B346BA"'
      last-modified:
      - Thu, 07 Sep 2023 21:20:39 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 07 Sep 2023 21:20:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Sep 2023 21:20:40 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-07T22%3A30%3A38Z&sr=b&sp=r&sig=WBLrtCPCb5izQ5%2Froj5iOLZUzjNqeqtCuGQLrzgAEjE%3D
  response:
    body:
      string: "2023/09/07 21:20:39 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBAFE848B346BA"'
      last-modified:
      - Thu, 07 Sep 2023 21:20:39 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 07 Sep 2023 21:20:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Sep 2023 21:20:43 GMT
      x-ms-range:
      - bytes=48-4143
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-07T22%3A30%3A38Z&sr=b&sp=r&sig=WBLrtCPCb5izQ5%2Froj5iOLZUzjNqeqtCuGQLrzgAEjE%3D
  response:
    body:
      string: "2023/09/07 21:20:39 Finished downloading source code\r\n2023/09/07
        21:20:39 Alias support enabled for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases
        for more information.\n2023/09/07 21:20:39 Creating Docker network: acb_default_network,
        driver: 'bridge'\n2023/09/07 21:20:40 Successfully set up Docker network:
        acb_default_network\n2023/09/07 21:20:40 Setting up Docker configuration...\n2023/09/07
        21:20:40 Successfully set up Docker configuration\n2023/09/07 21:20:40 Logging
        in to registry: containerapp000004.azurecr.io\n2023/09/07 21:20:41 Successfully
        logged into containerapp000004.azurecr.io\n2023/09/07 21:20:41 Executing step
        ID: acb_step_0. Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/07
        21:20:41 Launching container with name: acb_step_0\nUnable to find image 'mcr.microsoft.com/oryx/cli:debian-buster-20230222.1'
        locally\ndebian-buster-20230222.1: Pulling from oryx/cli\nb2404786f3fe: Pulling
        fs layer\ne97ef50ee5a8: Pulling fs layer\ndfb1477a1a0e: Pulling fs layer\n69fefe447a70:
        Pulling fs layer\n75c028bd406f: Pulling fs layer\n69285aafba30: Pulling f[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Sep 2023 21:20:52 GMT
      x-ms-range:
      - bytes=2036-6131
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-07T22%3A30%3A38Z&sr=b&sp=r&sig=WBLrtCPCb5izQ5%2Froj5iOLZUzjNqeqtCuGQLrzgAEjE%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\nStatus:
        Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\nDockerfile
        written to '/workspace/Dockerfile'.\n2023/09/07 21:20:50 Successfully executed
        container: acb_step_0\n2023/09/07 21:20:50 Executing step ID: acb_step_1.
        Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/07
        21:20:50 Scanning for dependencies...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2036-2517/2518
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBAFE84F6404C5"'
      last-modified:
      - Thu, 07 Sep 2023 21:20:50 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 07 Sep 2023 21:20:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Sep 2023 21:21:03 GMT
      x-ms-range:
      - bytes=4335-8430
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged51.blob.core.windows.net/fcf03c57943e428db9e0364cad90e20d-0sez33qzjg/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-07T22%3A30%3A38Z&sr=b&sp=r&sig=WBLrtCPCb5izQ5%2Froj5iOLZUzjNqeqtCuGQLrzgAEjE%3D
  response:
    body:
      string: " ---> Running in 15e1c4cff27b\nOperation performed by Microsoft Oryx,
        https://github.com/Microsoft/Oryx\nYou can report issues at https://github.com/Microsoft/Oryx/issues\n\nOryx
        Version: 0.2.20230904.1, Commit: f2d28cc9e92250b08ae08ccedf3b64dc4944b762,
        ReleaseTagName: 20230904.1\n\nBuild Operation ID: 1d718fdf8551d9df\nOS Type
        \          : bullseye\nImage Type        : cli\n\nDetecting platforms...\nDetected
        following platforms:\n  nodejs: 16.20.2\nVersion '16.20.2' of platform 'nodejs'
[...]
