interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"}],"resourceTypes":[{"resourceType":"spaces","locations":["Central
        US","East Asia","West Europe","East US 2 EUAP"],"apiVersions":["2023-11-02-preview"],"defaultApiVersion":"2023-11-02-preview","capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["East Asia","North
        Central US","West Europe"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-11-02-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-10T02:41:49.4366892"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.14.0"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"},{"workloadProfileType":"D8","name":"wpname","minimumCount":1,"maximumCount":8}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003","name":"acr000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-09-25T05:33:35.0250678+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-25T05:33:35.0250678+00:00"},"properties":{"loginServer":"acr000003.azurecr.io","creationDate":"2024-09-25T05:33:35.0250678Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-09-25T05:33:42.3478968+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-09-25T05:33:42.3479426+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/operationStatuses/registries-b16a9593-7aff-11ef-a546-2c0da7bd12b1?api-version=2023-11-01-preview&t=638628392227283730&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/operationStatuses/registries-b16a9593-7aff-11ef-a546-2c0da7bd12b1?api-version=2023-11-01-preview&t=638628392227283730&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgS[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/ca5617138654acr","name":"ca5617138654acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"northcentralus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-10T03:09:02.93873Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"Use[...]
[...]
- request:
    body: '{"source": {"registryUri": "mcr.microsoft.com", "sourceImage": "k8se/quickstart:latest"},
      "targetTags": ["k8se/quickstart:latest"], "mode": "NoForce"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/importImage?api-version=2023-11-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2017-10-01, 2019-05-01, 2019-12-01-preview, 2020-11-01-preview, 2021-06-01-preview,
        2021-08[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/registries-ba5df0b8-7aff-11ef-ab33-2c0da7bd12b1?api-version=2023-11-01-preview&t=638628392293384609&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3Wh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/registries-ba5df0b8-7aff-11ef-ab33-2c0da7bd12b1?api-version=2023-11-01-preview&t=638628392306702854&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3Wh[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/listCredentials?api-version=2023-11-01-preview
  response:
    body:
      string: '{"username":"acr000003","passwords":[{"name":"password","value":"lukyJ3+g4KGuPbI5lhKUAQGbDyYm6EIRdwnaGPJOcN+ACRCmJK1a"},{"name":"password2","value":"w1nxV4VqTp7EwH5SqmlfmS03itOOEeoCoyVVW+EqBh+ACRAQxGeC"}]}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/aca000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003?api-version=2023-07-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Containe[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/source/202409250000/f9c2d2e3-631a-4c7d-bb95-539a29a1a415.tar.gz?sv=2023-01-03&se=2024-09-25T06%3A34%3A29Z&sr=b&sp=cw&sig=1MBL8iy8DeTVMXhftYABM5K0jCKQUA9t4Poausimtsw%3D","relativePath":"source/202409250000/f9c2d2e3-631a-4c7d-bb95-539a29a1a415.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICOGg82YC/2J1aWxkX2FyY2hpdmVfNTljZGI0OWQyMGM1NDBjYThlNmFjOWI4OTVhM2MyNDgu
      dGFyAO09+3MUx5nkLvcLV1T5T+is6xLhYt/SriQkGRlwUMJDh2Q7PsdxZndb0sDszHpmFiFTjlOX
      813do5LLxUnlKuc4iY0NxmAbzBuM8du8HxICJBBIIAySEAIJxEPu+7p7Zt8S4MBCWd3waWZ7ur/v
      69f36Onpdrld7mnV0uJZWIpgfcJdCR4eRrt6PP7C5D2N93p8Xt8EtHhCHkLcMCUdyE8Yn8FXjKKm
      HMXl3kBJSVGJx+P1u3yekkBxoGjiBBG+8cGdBxp0UAeDwdHHP9x7C4t8fr8vWBQsgviA11M4ARWJ
      8X/Xg0vIfyH/s+R/MOgpFPJ/PAQpFjOwacpqveGagRdhRYt[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["aca000002:cli-containerapp-20240925133425590791"], "isPushEnabled": true,
      "noCache": false, "dockerFilePath": "832760e44cc14547af6bcd4fc98a3dc8_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202409250000/f9c2d2e3-631a-4c7d-bb95-539a29a1a415.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-09-25T05:34:32+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-25T05:34:32.1489546+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-09-25T06%3A44%3A34Z&sr=b&sp=r&sig=8wLULxt1mfGH7Z3K6UreCNS9W0k4VYrlzs8bQzOW7gg%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 Sep 2024 05:34:32 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-09-25T06%3A44%3A34Z&sr=b&sp=r&sig=8wLULxt1mfGH7Z3K6UreCNS9W0k4VYrlzs8bQzOW7gg%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCDD23BD052AE6"'
      last-modified:
      - Wed, 25 Sep 2024 05:34:34 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 25 Sep 2024 05:34:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 Sep 2024 05:34:34 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-09-25T06%3A44%3A34Z&sr=b&sp=r&sig=8wLULxt1mfGH7Z3K6UreCNS9W0k4VYrlzs8bQzOW7gg%3D
  response:
    body:
      string: "2024/09/25 05:34:33 Downloading source code...\r\n2024/09/25 05:34:34\
        \ Finished downloading source code\r\n2024/09/25 05:34:34 Using acb_vol_8a3a6d71-ca11-456a-a4dc-2d3d9428c696\
        \ as the home volume\n2024/09/25 05:34:34 Setting up Docker configuration...\n\
        2024/09/25 05:34:35 Successfully set up Docker configuration\n2024/09/25 05:34:35\
        \ Logging in to registry: acr000003.azurecr.io\n2024/09/25 05:34:35 Successfully\
        \ logged into acr000003.azurecr.io\n2024/09/25 05:34:35 Executing step ID:\
        \ build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/09/25\
        \ 05:34:35 Scanning for dependencies...\n2024/09/25 05:34:36 Successfully\
        \ scanned dependencies\n2024/09/25 05:34:36 Launching container with name:\
        \ build\nSending build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCDD23BE52A1C6"'
      last-modified:
      - Wed, 25 Sep 2024 05:34:36 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 25 Sep 2024 05:34:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 Sep 2024 05:34:37 GMT
      x-ms-range:
      - bytes=782-4877
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-09-25T06%3A44%3A34Z&sr=b&sp=r&sig=8wLULxt1mfGH7Z3K6UreCNS9W0k4VYrlzs8bQzOW7gg%3D
  response:
    body:
      string: "Step 1/17 : FROM mcr.microsoft.com/dotnet/aspnet:6.0 AS base\n6.0:\
        \ Pulling from dotnet/aspnet\nDigest: sha256:a5fce63da9e79bb68f2911b4d4b69c4c28d393cd3066fc33fe10824b3bcc24ee\n\
        Status: Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n --->\
        \ e78e2d1da784\nStep 2/17 : WORKDIR /app\n ---> Running in 7a9632a6d504\n\
        Removing intermediate container 7a9632a6d504\n ---> 006d094886fe\nStep 3/17\
        \ : EXPOSE 80\n ---> Running in 6cb135ad96c1\nRemoving intermediate container\
        \ 6cb135ad96c1\n ---> f1d7b0ed7c01\nStep 4/17 : EXPOSE 443\n ---> Running\
        \ in 985cca8a056a\nRemoving intermediate container 985cca8a056a\n ---> bd3bc1f03d8b\n\
        Step 5/17 : FROM mcr.microsoft.com/dotnet/sdk:6.0 AS build\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 782-1456/1457
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCDD23BFBB4A31"'
      last-modified:
      - Wed, 25 Sep 2024 05:34:39 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 25 Sep 2024 05:34:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 Sep 2024 05:35:07 GMT
      x-ms-range:
      - bytes=4852-8947
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-09-25T06%3A44%3A34Z&sr=b&sp=r&sig=8wLULxt1mfGH7Z3K6UreCNS9W0k4VYrlzs8bQzOW7gg%3D
  response:
    body:
      string: "e6522936038b: Pushed\n8d9ab227a3df: Pushed\n740ff6be07f7: Pushed\n\
        b7849bc84269: Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4852-4936/4937
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCDD23D12340CD"'
      last-modified:
      - Wed, 25 Sep 2024 05:35:08 GMT
      x-ms-blob-committed-block-count:
      - '15'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 25 Sep 2024 05:34:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 Sep 2024 05:35:14 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged225.blob.core.windows.net/82fdc2cf9a1d4fe487146eacca558119-jaa3l4lqt5/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-09-25T06%3A44%3A34Z&sr=b&sp=r&sig=8wLULxt1mfGH7Z3K6UreCNS9W0k4VYrlzs8bQzOW7gg%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCDD23D4D2FACD"'
      last-modified:
      - Wed, 25 Sep 2024 05:35:14 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 25 Sep 2024 05:34:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/aca000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": [{"name": "acr000003azurecrio-acr000003", "value":
      "lukyJ3+g4KGuPbI5lhKUAQGbDyYm6EIRdwnaGPJOcN+ACRCmJK1a"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "acr000003.azurecr.io", "username": "acr000003", "passwordSecretRef":
      "acr000003azurecrio-acr000003"}], "service": null}, "template": {"revisionSuffix":
      null, "containers": [{"image": "acr000003.azurecr.io/aca000002:cli-containerapp-20240925133425590791",
      "name": "aca000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca000002","name":"aca000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-09-25T05:35:25.4633252Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-25T05:35:25.4633252Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":"Consumption","patchingMode":"Automatic","outboundIpAddresses":["20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140","52.191.22.226","52.191.22.23","52.191.22.71","52.191.22.159","52.191.22.166","52.191.22.212","52.191.22.41","52.191.23.0","52.191.22.198","52.191.22.121","20.124.73.117","52.149.247.118","52.149.245.39","52.149.247.189","52.149.247.220","52.149.247.221","52.149.245.38","52.149.244.111","52.224.88.179","52.149.247.199","52.149.244.160","4.156.169.214","51.8.244.245","51.8.245.98","51.8.244.244","51.8.245.50","51.8.245.71","51.8.245.15","51.8.245.135","51.8.245.134","51.8.245.14","51.8.244.211","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","52.226.103.51","52.226.103.36","52.226.103.82","52.226.103.10","52.226.102.213","52.226.102.151","52.226.102.243","52.226.103.40","52.226.102.224","52.226.102.162","52.191.232.152"],"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"acr000003azurecrio-acr000003"}],"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":true,"targetPort":80,"exposedPort":null,"transport":"Auto","traffic":null,"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"acr000003.azurecr.io","username":"acr000003","passwordSecretRef":"acr000003azurecrio-acr000003"}],"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"acr000003.azurecr.io/aca000002:cli-containerapp-20240925133425590791","imageType":"CloudBuild","name":"aca000002"}],"initContainers":null,"scale":null,"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      azure-asyncoperation:
[...]
