interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"spaces","locations":["Central
        US","East Asia","West Europe","East US 2 EUAP"],"apiVersions":["2023-11-02-preview"],"defaultApiVersion":"2023-11-02-preview","capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["East Asia","North
        Central US","West Europe"],"apiVersions":["2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-08-02-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","name":"env-eastus","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-23T04:59:04.4655929","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-17T09:45:13.5879018"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"whitebeach-63bf60a5.eastus.azurecontainerapps.io","staticIp":"52.224.202.83","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/managedEnvironments/env-eastus/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003","name":"acr000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-11-01T07:25:50.3580732+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-01T07:25:50.3580732+00:00"},"properties":{"loginServer":"acr000003.azurecr.io","creationDate":"2024-11-01T07:25:50.3580732Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-11-01T07:25:57.8808881+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-11-01T07:25:57.880933+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/operationStatuses/registries-8347f884-9822-11ef-9e93-2c0da7bd12b1?api-version=2023-11-01-preview&t=638660427583113305&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI3MDkwMTAzWhcNMjUwMzI2MDkwMTAzWjBAMT4wPAYDVQQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/operationStatuses/registries-8347f884-9822-11ef-9e93-2c0da7bd12b1?api-version=2023-11-01-preview&t=638660427583113305&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgS[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_eastus?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/aca000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/ca5617138654acr","name":"ca5617138654acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"northcentralus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-10T03:09:02.93873Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"Use[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003?api-version=2023-07-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Containe[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/source/202411010000/d9adc4e8-1f11-4d4c-8155-fd8d3ee0cd88.tar.gz?sv=2023-01-03&se=2024-11-01T08%3A26%3A19Z&sr=b&sp=cw&sig=***","relativePath":"source/202411010000/d9adc4e8-1f11-4d4c-8155-fd8d3ee0cd88.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICJuCJGcC/2J1aWxkX2FyY2hpdmVfNGQ5ZmJlOWUwYTJlNGY3ZmJmODhjNjljZjNkMTQ0NTUu
      dGFyAO09+3MUx5nKXe4Xrqjyn9BZ1yXCxb61u0hIMjLgoISHDsl2fI7jzO62pIHZmfXMrIRMOU5d
      znd1j0ouFyeVq5zjJDY2GINtMG8wxm/zfkgIkEAggTAICQQSiIfc93X3zD60KwEOLJTVDZ9mtqf7
      +75+fY+enm6X2+WeViUtmoWlKNYL7krw8DDa1ePxF6XuabzX4/P6CtCigjyEhGFKOpAvGJ/BNwXF
      TDmGy7zB4uJAscfj9bt8nuLglGBgQoEI3/jgzgMNOqhDodDo4x/uvUUBn9/vCwVCAYgPej1FBSgg
      xv9dDy4h/4X8z5L/oZCnSMj/8RCkeNzApimrdYZrBm7Aiha[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["aca000002:cli-containerapp-20241101152618966078"], "isPushEnabled": true,
      "noCache": false, "dockerFilePath": "c639fb23ea684a4d99b54ad66a51a016_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202411010000/d9adc4e8-1f11-4d4c-8155-fd8d3ee0cd88.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-11-01T07:26:24+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-01T07:26:23.1759291+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/acr000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 07:26:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA467F76E7E6"'
      last-modified:
      - Fri, 01 Nov 2024 07:26:27 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 07:26:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 07:26:29 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "2024/11/01 07:26:24 Downloading source code...\r\n2024/11/01 07:26:25\
        \ Finished downloading source code\r\n2024/11/01 07:26:25 Using acb_vol_61a3b424-ee75-4e77-af63-c1ab879ed822\
        \ as the home volume\n2024/11/01 07:26:25 Setting up Docker configuration...\n\
        2024/11/01 07:26:26 Successfully set up Docker configuration\n2024/11/01 07:26:26\
        \ Logging in to registry: acr000003.azurecr.io\n2024/11/01 07:26:26 Successfully\
        \ logged into acr000003.azurecr.io\n2024/11/01 07:26:26 Executing step ID:\
        \ build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/11/01\
        \ 07:26:26 Scanning for dependencies...\n2024/11/01 07:26:26 Successfully\
        \ scanned dependencies\n2024/11/01 07:26:26 Launching container with name:\
        \ build\nSending build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA467F76E7E6"'
      last-modified:
      - Fri, 01 Nov 2024 07:26:27 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 07:26:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 07:26:32 GMT
      x-ms-range:
      - bytes=782-4877
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "Step 1/17 : FROM mcr.microsoft.com/dotnet/aspnet:6.0 AS base\n6.0:\
        \ Pulling from dotnet/aspnet\n6dce3b49cfe6: Pulling fs layer\na4561b904f51:\
        \ Pulling fs layer\ne85481dfd30f: Pulling fs layer\n1c3b6f9e7b03: Pulling\
        \ fs layer\na352695c487b: Pulling fs layer\n1c3b6f9e7b03: Waiting\na352695c487b:\
        \ Waiting\na4561b904f51: Verifying Checksum\na4561b904f51: Download complete\n\
        6dce3b49cfe6: Verifying Checksum\n6dce3b49cfe6: Download complete\ne85481dfd30f:\
        \ Verifying Checksum\ne85481dfd30f: Download complete\n1c3b6f9e7b03: Verifying\
        \ Checksum\n1c3b6f9e7b03: Download complete\na352695c487b: Verifying Checksum\n\
        a352695c487b: Download complete\n6dce3b49cfe6: Pull complete\na4561b904f51:\
        \ Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 782-1455/1456
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA4680D53B70"'
      last-modified:
      - Fri, 01 Nov 2024 07:26:29 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 07:26:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 07:26:36 GMT
      x-ms-range:
      - bytes=1456-5551
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***
  response:
    body:
      string: "e85481dfd30f: Pull complete\n1c3b6f9e7b03: Pull complete\na352695c487b:\
        \ Pull complete\nDigest: sha256:9772f0741a91ab07aa38f94c41f721691c9979e8b2c7961b3cc34c8f34a65fe7\n\
        Status: Downloaded newer image for mcr.microsoft.com/dotnet/aspnet:6.0\n --->\
        \ c2be2e531fc8\nStep 2/17 : WORKDIR /app\n ---> Running in 8d9485cbba26\n\
        Removing intermediate container 8d9485cbba26\n ---> 13686e476434\nStep 3/17\
        \ : EXPOSE 80\n ---> Running in e57e3a131cbd\nRemoving intermediate container\
        \ e57e3a131cbd\n ---> 0675b864ab70\nStep 4/17 : EXPOSE 443\r\n ---> Running\
        \ in 2544a30c7e38\nRemoving intermediate container 2544a30c7e38\n ---> babec838f70a\n\
        Step 5/17 : FROM mcr.microsoft.com/dotnet/sdk:6.0 AS build\n6.0: Pulling from\
        \ dotnet/sdk\n6dce3b49cfe6: Already exists\na4561b904f51: Already exists\n\
        e85481dfd30f: Already exists\n1c3b6f9e7b03: Already exists\na352695c487b:\
        \ Already exists\n8010a408bc14: Pulling fs layer\neaad07398560: Pulling fs\
        \ layer\nbe7a97af7e5d: Pulling fs layer\nbe7a97af7e5d: Verifying Checksum\n\
        be7a97af7e5d: Download complete\n8010a408bc14: Verifying Checksum\n8010a408bc14:\
        \ Download complete\neaad07398560: Verifying Checksum\neaad07398560: Download\
        \ complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 1456-2584/2585
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA4683BDF110"'
      last-modified:
      - Fri, 01 Nov 2024 07:26:34 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 07:26:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 07:27:03 GMT
      x-ms-range:
      - bytes=4640-8735
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***
  response:
    body:
      string: " ---> Running in ba6e12a59f63\nRemoving intermediate container ba6e12a59f63\n\
        \ ---> 8922cceef6e7\nSuccessfully built 8922cceef6e7\nSuccessfully tagged\
        \ acr000003.azurecr.io/aca000002:cli-containerapp-20241101152618966078\n2024/11/01\
        \ 07:26:55 Successfully executed container: build\n2024/11/01 07:26:55 Executing\
        \ step ID: push. Timeout(sec): 3600, Working directory: '', Network: ''\n\
        2024/11/01 07:26:55 Pushing image: acr000003.azurecr.io/aca000002:cli-containerapp-20241101152618966078,\
        \ attempt 1\nThe push refers to repository [acr000003.azurecr.io/aca000002]\n\
        34112a9d910d: Preparing\n1c91d1d08805: Preparing\n734661639d51: Preparing\n\
        008aac071916: Preparing\n261abc8281b7: Preparing\n7794e8d8212d: Preparing\n\
        ceffe60ed721: Preparing\nceffe60ed721: Waiting\n7794e8d8212d: Waiting\n1c91d1d08805:\
        \ Pushed\n34112a9d910d: Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4640-5536/5537
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA46940738CC"'
      last-modified:
      - Fri, 01 Nov 2024 07:27:01 GMT
      x-ms-blob-committed-block-count:
      - '14'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 07:26:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Nov 2024 07:27:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged192.blob.core.windows.net/c7e51e4327c84496b2f4782b23506397-mwssvnn3c1/logs/ca1/rawtext.log?sv=2023-01-03&se=2024-11-01T08%3A36%3A25Z&sr=b&sp=r&sig=***
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DCFA46988DC2A2"'
      last-modified:
      - Fri, 01 Nov 2024 07:27:09 GMT
      x-ms-blob-committed-block-count:
      - '17'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Fri, 01 Nov 2024 07:26:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "SystemAssigned", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null, "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart:latest",
      "name": "aca000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca000002","name":"aca000002","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-11-01T07:27:13.8056208Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-01T07:27:13.8056208Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_eastus/providers/Microsoft.App/managedEnvironments/env-eastus","workloadProfileName":"Consumption","patchingMode":"Automatic","outboundIpAddresses":["52.191.232.152"],"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","targetLabel":null,"ingress":{"fqdn":null,"external":true,"targetPort":80,"exposedPort":null,"transport":"Auto","traffic":null,"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":null,"identitySettings":[],"dapr":null,"runtime":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","imageType":"CloudBuild","name":"aca000002"}],"initContainers":null,"scale":null,"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"SystemAssigned","principalId":"eaaca2c1-a504-42be-9a43-3051f54bcbfe","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/contain[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/57de3a34-262b-4adc-9794-34d3c89b6554?api-version=2024-10-02-preview&azureAsyncOperation=true&t=638660428356806856&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000002?api-version=2024-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca000002","name":"aca000002","type":"Microsoft.App/containerApps","location":"East
[...]
