interactions:
- request:
    body: '{"name": "storage000004", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-08-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "brazilsouth",
      "tags": {"Az.Sec.DisableLocalAuth.Storage::Skip": "true"}, "properties": {"encryption":
      {"keySource": "Microsoft.Storage", "services": {"blob": {}}}, "largeFileSharesState":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000004?api-version=2025-08-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/brazilsouth/asyncoperations/a31f5f27-d1c2-467b-b8ad-37c9cec827ea?monitor=true&api-version=2025-08-01&t=639234218632381568&c=MIIHlDCCBnygAwIBAgIQbFnfFOz7A_VYWYwd_BJ05zANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMzIzNDk1NFoXDTI3MDIwOTA1NDk1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5j[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/brazilsouth/asyncoperations/a31f5f27-d1c2-467b-b8ad-37c9cec827ea?monitor=true&api-version=2025-08-01&t=639234218632381568&c=MIIHlDCCBnygAwIBAgIQbFnfFOz7A_VYWYwd_BJ05zANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMzIzNDk1NFoXDTI3MDIwOTA1NDk1NFowQDE-MDwGA1UEAx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/brazilsouth/asyncoperations/a31f5f27-d1c2-467b-b8ad-37c9cec827ea?monitor=true&api-version=2025-08-01&t=639234218645518269&c=MIIHlDCCBnygAwIBAgIQbFnfFOz7A_VYWYwd_BJ05zANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMzIzNDk1NFoXDTI3MDIwOTA1NDk1NFowQDE-MDwGA1UEAx[...]
- request:
    body: '{"properties": {"enabledProtocols": "SMB", "shareQuota": 1024}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000004/fileServices/default/shares/share000005?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000004/fileServices/default/shares/share000005","name":"share000005","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"shareQuota":1024,"enabledProtocols":"SMB"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DF04229E4EBDBA"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "brazilsouth", "properties": {"addressSpace": {"addressPrefixes":
      ["14.0.0.0/23"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006?api-version=2025-07-01
  response:
    body:
      string: '{"name":"name000006","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006","etag":"W/\"cb81df16-09c7-4800-b4a3-30fd2d00f06f\"","type":"Microsoft.Network/virtualNetworks","location":"brazilsouth","properties":{"provisioningState":"Updating","resourceGuid":"cdfc0c0d-6247-47bb-87e6-19a6e6c102ce","addressSpace":{"addressPrefixes":["14.0.0.0/23"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/brazilsouth/operations/b46f6c5d-c91e-4e72-a9b3-7fc70a82f2e9?api-version=2025-07-01&t=639234218868840520&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oXDTI3MDIwNzAwMDI1N1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/brazilsouth/operations/b46f6c5d-c91e-4e72-a9b3-7fc70a82f2e9?api-version=2025-07-01&t=639234218868840520&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oXDTI3MDIwNzAwMDI1N1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRp[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006?api-version=2025-07-01
  response:
    body:
      string: '{"name":"name000006","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006","etag":"W/\"e27e8b19-f851-43a3-a3d1-cd39ebcc20eb\"","type":"Microsoft.Network/virtualNetworks","location":"brazilsouth","properties":{"provisioningState":"Succeeded","resourceGuid":"cdfc0c0d-6247-47bb-87e6-19a6e6c102ce","addressSpace":{"addressPrefixes":["14.0.0.0/23"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-throttle-levels:
      - operationRatePct=0.2, operationConcurrencyPct=2.0, subscriptionReadRatePct=0.5,
        etc
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "sub", "properties": {"addressPrefix": "14.0.0.0/23", "delegations":
      [{"name": "0", "properties": {"serviceName": "Microsoft.App/environments"}}],
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006/subnets/sub?api-version=2024-07-01
  response:
    body:
      string: '{"name":"sub","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006/subnets/sub","etag":"W/\"9bd40da2-757a-411d-8a34-09bf5315ed08\"","properties":{"provisioningState":"Updating","addressPrefix":"14.0.0.0/23","delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006/subnets/sub/delegations/0","etag":"W/\"9bd40da2-757a-411d-8a34-09bf5315ed08\"","properties":{"provisioningState":"Succeeded","serviceName":"Microsoft.App/environments","actions":["Microsoft.Network/virtualNetworks/subnets/join/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/brazilsouth/operat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/brazilsouth/operations/0ac6b5a6-02a6-447b-837d-087032dd5eb7?api-version=2024-07-01&t=639234219004854968&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oXDTI3MDIwNzAwMDI1N1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRp[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Germany North","New Zealand
        North","Chile Central","Korea South","Jio India Central","Belgium Central","Japan
        West","Australia Southeast","France South","Jio India West","Spain Central","Italy
        North","Poland Central","Malaysia West","Indonesia Central","South India"],"apiVersions":["2026-03-02-preview","2026-01-01","2025-10-02-preview","2025-07-01","2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "brazilsouth", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": {"infrastructureSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006/subnets/sub",
      "dockerBridgeCidr": null, "platformReservedCidr": null, "platformReservedDnsIP":
      null}, "appLogsConfiguration": {"destination": null, "logAnalyticsConfiguration":
      null}, "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false, "infrastructureResourceGroup":
      null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"Brazil
        South","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-27T10:05:07.7380956","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-27T10:05:07.7380956"},"properties":{"environmentMode":"WorkloadProfiles","provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":false,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006/subnets/sub","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"nicebush-088b3007.brazilsouth.azurecontainerapps.io","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.18.1"},"daprConfiguration":{"version":"1.16.4-msft.12"},"ingressConfiguration":null,"eventStreamEndpoint":"https://brazilsouth.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"A9DA1691FBAF2B040EB3BD6F1FFDB85FCBF82BDE6A18D8AA965EA0705BE6D010","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":"ME_env000002_clitest.rgs5frmjsiod_brazilsouth","peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled","diskEncryptionConfiguration":null}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01, 2026-03-02-preview, 2026-07-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/brazilsouth/managedEnvironmentOperationStatuses/a6e50d24-af5d-4b7d-9a90-a29153f3ab30?api-version=2025-10-02-preview&azureAsyncOperation=true&t=639234219129569307&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"Brazil
        South","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-27T10:05:07.7380956","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-27T10:05:07.7380956"},"properties":{"environmentMode":"WorkloadProfiles","provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":false,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000006/subnets/sub","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"nicebush-088b3007.brazilsouth.azurecontainerapps.io","staticIp":"4.228.116.175","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.18.1"},"daprConfiguration":{"version":"1.16.4-msft.12"},"ingressConfiguration":null,"eventStreamEndpoint":"https://brazilsouth.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainCon[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000004/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-08-27T10:04:17.7599695Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-08-27T10:04:17.7599695Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002/storages/share000005?api-version=2026-03-02-preview
  response:
    body:
      string: '{"error":{"code":"ManagedEnvironmentStorageNotFound","message":"ManagedEnvironment
        Storage ''share000005'' was not found."}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01, 2026-03-02-preview, 2026-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": null, "properties": {"azureFile": {"accountName": "storage000004",
      "accountKey": "veryFakedStorageAccountKey==", "accessMode": "ReadWrite", "shareName":
      "share000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002/storages/share000005?api-version=2026-03-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002/storages/share000005","name":"share000005","type":"Microsoft.App/managedenvironments/storages","properties":{"azureFile":{"accountName":"storage000004","shareName":"share000005","accessMode":"ReadWrite"}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview, 2026-01-01, 2026-03-02-preview, 2026-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "brazilsouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000007?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"brazilsouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000007","name":"containerapp-user000007","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"116cc178-c471-43dd-964b-c3ea85daaa56","clientId":"ad6677d7-6e3d-48a7-94e4-672be0237437"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000007
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": null, "location": "brazilsouth", "extendedLocation": null, "identity":
      {"principalId": null, "tenantId": null, "type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/containerapp-user000007":
      {}}}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "secret1", "value": "1", "identity":
      null, "keyVaultUrl": null}], "triggerType": "Manual", "replicaTimeout": 100,
      "replicaRetryLimit": 1, "manualTriggerConfig": {"replicaCompletionCount": 1,
      "parallelism": 1}, "scheduleTriggerConfig": null, "eventTriggerConfig": null,
      "registries": null, "identitySettings": null}, "template": {"initContainers":
      [{"image": "k8seteste2e.azurecr.io/e2e-apps/kuar:green", "name": "simple-sleep-container",
      "command": ["/bin/sh", "-c", "sleep 150"], "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "containers": [{"image": "mcr.microsoft.com/k8se/quickstart-jobs:latest",
      "name": "anfranci-azclitest-acaj1", "command": null, "args": null, "env": [{"name":
      "MY_ENV_VAR", "value": "hello", "secretRef": null}], "resources": {"cpu": 0.5,
      "memory": "1Gi", "ephemeralStorage": "1Gi", "gpu": null}, "volumeMounts": [{"volumeName":
      "azure-files-volume", "mountPath": "/mnt/data", "subPath": "sub"}], "probes":
      null}], "volumes": [{"name": "azure-files-volume", "storageType": "AzureFile",
      "storageName": "share000005", "secrets": null, "mountOptions": "uid=999,gid=999"}]},
      "workloadProfileName": null, "eventStreamEndpoint": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003","name":"yaml000003","type":"Microsoft.App/jobs","location":"Brazil
        South","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-27T10:08:53.3816724Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-27T10:08:53.3816724Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Ready","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":"Consumption","outboundIpAddresses":["20.226.185.233","20.226.185.243","20.226.186.22","20.226.186.95","4.228.165.239","4.228.166.5","4.228.165.232","4.228.166.105","4.228.166.39","4.228.166.3","4.238.166.159","74.163.171.165","20.206.230.1","4.203.83.103","191.237.206.249","4.238.166.186","4.160.153.218","20.206.235.183","20.206.235.182","20.206.235.151","74.163.157.204","4.238.164.64","20.201.32.88","4.203.84.70","20.226.176.23","20.201.33.35","20.226.176.22","4.228.3.212","20.201.16.83","4.228.25.34","4.160.153.55","4.228.24.21[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/brazilsouth/containerappsjobOperationStatuses/e05441b2-7d72-4e80-bf74-04e8fab549a3?api-version=2025-10-02-preview&azureAsyncOperation=true&t=639234221359754195&c=MIIHlDCCBnygAwIBAgIQJx5QsXrM21FKZVUaR-1qvzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE4MDI1N1oX[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003?api-version=2025-10-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/jobs/yaml000003","name":"yaml000003","type":"Microsoft.App/jobs","location":"Brazil
        South","s[...]
[...]
