interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrfgwusslznquzuutsp4jl?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"10d79c5c-e3d9-48bc-88c4-15b4c81adf8d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-30T02:29:38.6844311Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-30T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-30T02:29:38.6844311Z","modifiedDate":"2023-08-30T02:29:38.6844311Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrfgwusslznquzuutsp4jl","name":"workspace-clitestrgrfgwusslznquzuutsp4jl","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrfgwusslznquzuutsp4jl?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrfgwusslznquzuutsp4jl?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"10d79c5c-e3d9-48bc-88c4-15b4c81adf8d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-30T02:29:38.6844311Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-30T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-30T02:29:38.6844311Z","modifiedDate":"2023-08-30T02:29:38.6844311Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrfgwusslznquzuutsp4jl","name":"workspace-clitestrgrfgwusslznquzuutsp4jl","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgrfgwusslznquzuutsp4jl/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"Eo3Dst49caBFnWL88LyYE2Bf5KzMzd4olgidzJuB0O0WtGsQa36H5Gym43l+vEfYiazOEJWFkRGWkMkkCYDqOQ==","secondarySharedKey":"Jcj4Hx0742AYUK1Oke2HMbOeEj72joo+yfTMwrw9Eo5byBGXm53wQoT6uZwap9igCpMLS+X8Qtfw7lOSos0p2w=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "10d79c5c-e3d9-48bc-88c4-15b4c81adf8d",
      "sharedKey": "Eo3Dst49caBFnWL88LyYE2Bf5KzMzd4olgidzJuB0O0WtGsQa36H5Gym43l+vEfYiazOEJWFkRGWkMkkCYDqOQ=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-30T02:29:40.3387798Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T02:29:40.3387798Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"mangopond-73711d38.eastus.azurecontainerapps.io","staticIp":"20.81.122.99","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"10d79c5c-e3d9-48bc-88c4-15b4c81adf8d","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/c9d0ace3-7479-4eda-bb07-02fd32883862?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-30T02%3a29%3a47&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWhcNMjQwNzI3MDY0ODMxWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/c9d0ace3-7479-4eda-bb07-02fd32883862?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-08-30T02%3A29%3A47&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-30T02:31:01.621169+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T02:31:01.621169+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-08-30T02:31:01.621169Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-08-30T02:31:17.986162+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-08-30T02:31:17.9862024+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-42b85169-46dd-11ee-b81f-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-42b85169-46dd-11ee-b81f-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Creating"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-42b85169-46dd-11ee-b81f-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"lrSgbwQ/AwmRhtit8beuwkCrwmWVAcUEhJ6lsAdnMi+ACRAOhPOH"},{"name":"password2","value":"LWKIYP//z9ptT+jTdfQESHCXZWJ11qoOIcI+pJBaVY+ACRD/GnIM"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged115.blob.core.windows.net/a6275a6fd5ef4be3ac8e4fa07abc890a-wzldx7m2zt/source/202308300000/95ac8ad3-972e-4ec9-af27-afd598bc3be5.tar.gz?sv=2021-12-02&se=2023-08-30T03%3A31%3A33Z&sr=b&sp=cw&sig=GvWJ1Sb2JpPLjGmrJPsVIMPkWOSaHAABt3sAg8mPEoo%3D","relativePath":"source/202308300000/95ac8ad3-972e-4ec9-af27-afd598bc3be5.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICAWq7mQC/2J1aWxkX2FyY2hpdmVfNTA0N2ZhNTA3M2RmNGZiNmI2OTIyNGU2MjFjNDhjYmUu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfswlaUZYSDIy4KCEQyvJdryO4/TMlKSGnu5xd4+E7Oc4
      b7PefXu8ZLNx8rLP6ziJjQ3GYBvMDcb4NvchIUACgSSEQRcCCcQh135V1T3Tc0iAA2Ni6rM/ptVd
      9X1fXd9RXV3l8Xq8MyulJXOxFMH6pNsCPg7j/fp8BQXJa3rf7y8M+CehJZNyAHHDlHRgf6sL+VcC
      +UUoaspRXOoPTg/67g9Mvz/fU1RUOD0YmDxJwDcfvDngQcdDUVHR+OM/47oov8g3CQXE+L/t4BH6
      X+h/of/vWpBiMQObpqzWGZ7ZuAErWiyKVdOzyNDUWzn+g8H[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["runtime7.0:20230829193133791458"], "isPushEnabled": true, "noCache": false,
      "dockerFilePath": "53bb6cb4a82b464e85e08c51f65b3817_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202308300000/95ac8ad3-972e-4ec9-af27-afd598bc3be5.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-08-30T02:31:34+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T02:31:34.5088214+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged115.blob.core.windows.net/a6275a6fd5ef4be3ac8e4fa07abc890a-wzldx7m2zt/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-30T03%3A41%3A35Z&sr=b&sp=r&sig=4eB6qeRnW%2F0L9pD9XdWIsHyC%2BktQ%2F8t7NIZ9VEmCdlU%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 02:31:36 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged115.blob.core.windows.net/a6275a6fd5ef4be3ac8e4fa07abc890a-wzldx7m2zt/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-30T03%3A41%3A35Z&sr=b&sp=r&sig=4eB6qeRnW%2F0L9pD9XdWIsHyC%2BktQ%2F8t7NIZ9VEmCdlU%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA9013B52C4A7"'
      last-modified:
      - Wed, 30 Aug 2023 02:31:35 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 30 Aug 2023 02:31:35 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 02:31:36 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/a6275a6fd5ef4be3ac8e4fa07abc890a-wzldx7m2zt/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-30T03%3A41%3A35Z&sr=b&sp=r&sig=4eB6qeRnW%2F0L9pD9XdWIsHyC%2BktQ%2F8t7NIZ9VEmCdlU%3D
  response:
    body:
      string: "2023/08/30 02:31:35 Downloading source code...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-47/48
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA9013B52C4A7"'
      last-modified:
      - Wed, 30 Aug 2023 02:31:35 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 30 Aug 2023 02:31:35 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 02:32:18 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged115.blob.core.windows.net/a6275a6fd5ef4be3ac8e4fa07abc890a-wzldx7m2zt/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-30T03%3A41%3A35Z&sr=b&sp=r&sig=4eB6qeRnW%2F0L9pD9XdWIsHyC%2BktQ%2F8t7NIZ9VEmCdlU%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBA90153B45330"'
      last-modified:
      - Wed, 30 Aug 2023 02:32:16 GMT
      x-ms-blob-committed-block-count:
      - '19'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 30 Aug 2023 02:31:35 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Aug 2023 02:32:18 GMT
      x-ms-range:
      - bytes=5569-9664
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged115.blob.core.windows.net/a6275a6fd5ef4be3ac8e4fa07abc890a-wzldx7m2zt/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-08-30T03%3A41%3A35Z&sr=b&sp=r&sig=4eB6qeRnW%2F0L9pD9XdWIsHyC%2BktQ%2F8t7NIZ9VEmCdlU%3D
  response:
    body:
      string: "20230829193133791458: digest: sha256:e0b3c87fe39b4a84e0a35c8671f3034914f98052a076cf461a484a9f0788b0d3
        size: 1786\n2023/08/30 02:32:15 Successfully pushed image: containerapp000004.azurecr.io/runtime7.0:20230829193133791458\n2023/08/30
        02:32:15 Step ID: build marked as successful (elapsed time in seconds: 29.348711)\n2023/08/30
        02:32:15 Populating digests for step ID: build...\n2023/08/30 02:32:16 Successfully
        populated digests for step ID: build\n2023/08/30 02:32:16 Step ID: push marked
        as successful (elapsed time in seconds: 8.037479)\n2023/08/30 02:32:16 The
        [...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "containerapp000004azurecrio-containerapp000004",
      "value": "lrSgbwQ/AwmRhtit8beuwkCrwmWVAcUEhJ6lsAdnMi+ACRAOhPOH"}], "activeRevisionsMode":
      "single", "ingress": null, "dapr": null, "registries": [{"server": "containerapp000004.azurecr.io",
      "username": "containerapp000004", "passwordSecretRef": "containerapp000004azurecrio-containerapp000004"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "containerapp000004.azurecr.io/runtime7.0:20230829193133791458", "name": "containerapp000003",
      "command": null, "args": null, "env": null, "resources": null, "volumeMounts":
      null}], "initContainers": null, "scale": null, "volumes": null, "serviceBinds":
      null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-08-30T02:32:18.8293547Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-30T02:32:18.8293547Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"outboundIpAddresses":["20.72.158.28"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","configuration":{"secrets":[{"name":"containerapp000004azurecrio-containerapp000004"}],"activeRevisionsMode":"Single","ingress":null,"registries":[{"server":"containerapp000004.azurecr.io","username":"containerapp000004","passwordSecretRef":"containerapp000004azurecrio-containerapp000004","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000004.azurecr.io/runtime7.0:20230829193133791458","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/99f596ef-dc59-4a3e-9478-66d2a5a210ab?api-version=2023-05-02-preview&azureAsyncOperation=true&t=2023-08-30T02%3A32%3A20&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcN[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"lrSgbwQ/AwmRhtit8beuwkCrwmWVAcUEhJ6lsAdnMi+ACRAOhPOH"},{"name":"password2","value":"LWKIYP//z9ptT+jTdfQESHCXZWJ11qoOIcI+pJBaVY+ACRD/GnIM"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!binary |
      H4sICEOq7mQC/2J1aWxkX2FyY2hpdmVfMTZiZDAwMjcxMDA4NDY0NmIzZDJkNTUyYzgwMTJhY2Uu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsyp00KSkQEHJRxaSbbjdRynZ6YkNfR0j7t7JGSe47zN
      evft8ZLNxsnLPq/jJDYGjME2mBuM8W3uQ0KABAJJCIMuBBKIQ679qqp7pueQAAfGxNRnf0yru+r7
      vrq+o7q6yuP1eGdUSovnYCmM9Ul3BHwcxvv1+XJzE9f0vt+fl++fhBZPygLEDFPSgf3tLuRfCQQK
      UcSUI7jUX1BU4Hswv+jBgKewMK+oIH/yJAHffPBmgQcdD4WFheOP/7TrwkChbxLKF+P/joNH6H+h
      /4X+v2dBikYNbJqyWmd4ZuEGrGjRCFZNz0JDU2/n+C8oKBh[...]
[...]
- request:
[...]
