interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgd6s5pwioc2tehfcyabqds?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a5ffe853-acf9-4035-a3b0-67d4a7445c3b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-13T04:41:45.0687716Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-13T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-13T04:41:45.0687716Z","modifiedDate":"2023-09-13T04:41:45.0687716Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgd6s5pwioc2tehfcyabqds","name":"workspace-clitestrgd6s5pwioc2tehfcyabqds","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgd6s5pwioc2tehfcyabqds?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgd6s5pwioc2tehfcyabqds?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a5ffe853-acf9-4035-a3b0-67d4a7445c3b","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-09-13T04:41:45.0687716Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-09-13T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-09-13T04:41:45.0687716Z","modifiedDate":"2023-09-13T04:41:45.0687716Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgd6s5pwioc2tehfcyabqds","name":"workspace-clitestrgd6s5pwioc2tehfcyabqds","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgd6s5pwioc2tehfcyabqds/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"kmuibs7PO92NwE6QwWtmj0vsyvbpHaQw0uUUmdFwt4E8sNmXp1YTCESC7X5fMudyoO1FjjMPDRK9ew9o+x8neg==","secondarySharedKey":"PWCuJE/FqA2sRQ8cQ+SV+nUTLoQQD64PZoWbNd7s1ErRCuaimCiA8IPOVCniwnvB1ucS9q6wZYqRw2EFSylcwg=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "a5ffe853-acf9-4035-a3b0-67d4a7445c3b",
      "sharedKey": "kmuibs7PO92NwE6QwWtmj0vsyvbpHaQw0uUUmdFwt4E8sNmXp1YTCESC7X5fMudyoO1FjjMPDRK9ew9o+x8neg=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-13T04:41:47.8522121Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T04:41:47.8522121Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"kindocean-9d1b2044.eastus.azurecontainerapps.io","staticIp":"20.84.32.159","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"a5ffe853-acf9-4035-a3b0-67d4a7445c3b","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/6c389cf5-bda7-49f7-a2d2-723ac3e440a4?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-13T04%3a41%3a51&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAzMDczNjQzWhcNMjQwNzI4MDczNjQzWjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/6c389cf5-bda7-49f7-a2d2-723ac3e440a4?api-version=2023-04-01-preview&azureAsyncOperation=true&t=2023-09-13T04%3A41%3A51&c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004","name":"containerapp000004","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-09-13T04:42:15.6221113+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T04:42:15.6221113+00:00"},"properties":{"loginServer":"containerapp000004.azurecr.io","creationDate":"2023-09-13T04:42:15.6221113Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-09-13T04:42:27.0935982+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-09-13T04:42:27.093632+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-eab7e59a-51ef-11ee-86f5-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-eab7e59a-51ef-11ee-86f5-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/operationStatuses/registries-eab7e59a-51ef-11ee-86f5-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"cQ4gBdb38Zo8v3ZzKQLEB31dfW0hxYyJM916mtDMEP+ACRARjf14"},{"name":"password2","value":"szaXGl3A4GmTMCZDQ/Q5v66Eriz4bgPWnBmLzBiBBx+ACRDVl+0i"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.Containe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000004","passwords":[{"name":"password","value":"cQ4gBdb38Zo8v3ZzKQLEB31dfW0hxYyJM916mtDMEP+ACRARjf14"},{"name":"password2","value":"szaXGl3A4GmTMCZDQ/Q5v66Eriz4bgPWnBmLzBiBBx+ACRDVl+0i"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"status": "Enabled", "platform":
      {"os": "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2},
      "timeout": 3600, "step": {"type": "EncodedTask", "encodedTaskContent": "dmVyc2lvbjogdjEuMS4wCnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogbWNyLm1pY3Jvc29mdC5jb20vb3J5eC9jbGk6ZGViaWFuLWJ1c3Rlci0yMDIzMDIyMi4xIG9yeXggZG9ja2VyZmlsZSAtLWJpbmQtcG9ydCA4MDgwIC0tb3V0cHV0IC4vRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gYnVpbGQ6IC10ICRSZWdpc3RyeS9jb250YWluZXJhcHA3bWZkNTdocGgyZGo6MjAyMzA5MTIyMTQyMzc5MDUyMjEgLWYgRG9ja2VyZmlsZSAuCiAgICB0aW1lb3V0OiAyODgwMAogIC0gcHVzaDogWyIkUmVnaXN0cnkvY29udGFpbmVyYXBwN21mZDU3aHBoMmRqOjIwMjMwOTEyMjE0MjM3OTA1MjIxIl0KICAgIHRpbWVvdXQ6IDE4MDAK",
      "values": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime",
      "updateTriggerPayloadType": "Default", "status": "Enabled", "name": "defaultBaseimageTriggerName"}},
      "credentials": {}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-13T04[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged186.blob.core.windows.net/05864dc3a4154e68a6f85fd277ef2eb9-pqytqpox4c/source/202309130000/9ce5cb68-6049-4760-9a36-e70c500839ef.tar.gz?sv=2021-12-02&se=2023-09-13T05%3A43%3A23Z&sr=b&sp=cw&sig=a29cEUL3olaEq43%2Br1nFZ%2FxX1RaJZD5aptdaz32sMz8%3D","relativePath":"source/202309130000/9ce5cb68-6049-4760-9a36-e70c500839ef.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICO09AWUC/2NsaV9zb3VyY2VfYXJjaGl2ZV9mNzRkZWExNmZjNzE0MzhiOThhOTIyNGRiMjcw
      N2M2ZC50YXIA7Vxtb9s4Es7nAP0PU+8t5HZtWZLfEjfp7l6bbRfodYO2h8PhcCgUibbZyKKOpJyk
      3dxvvyEpOUqavqJ2ru08+RB5yCGHLzNDjkT6Pb/3y2F8+pjFKZNba0Hg8K7/QdAfXDwbehgOhtEW
      nG5tAKXSscTqv3QjvxJEO7DQfMH2w9HOKNgd7uxG/ni4Gw360fYW4ZtHbwN1GH0Yj8fv1v+3nsfR
      ONiCIen/2uGT/Sf7T/b/u0VcFP4rtX77PxqN3qX/UTCKruh/0I/GWxCQ/q8dy1hCIlms2YGUQsI+
      SPafkkvW9uZaF11mqMq7c2/b5GSnhWRKNXNVpDpHEet5M9n[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp/listDetails?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","properties":{"provisioningState":"Succeeded","creationDate":"2023-09-13T04:43:10.8831332+0[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/tasks/cli_build_containerapp",
      "overrideTaskStepProperties": {"contextPath": "source/202309130000/9ce5cb68-6049-4760-9a36-e70c500839ef.tar.gz",
      "file": "C:\\Users\\snehapar\\AppData\\Local\\Temp\\tmp_szmzvzx", "arguments":
      [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2023-09-13T04:43:24+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T04:43:24.4882716+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000004/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged186.blob.core.windows.net/05864dc3a4154e68a6f85fd277ef2eb9-pqytqpox4c/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-13T05%3A53%3A25Z&sr=b&sp=r&sig=gl72ouly7dpL5DsKO9hhhqAjCbW6subzwLVTjCO4haE%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Sep 2023 04:43:28 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged186.blob.core.windows.net/05864dc3a4154e68a6f85fd277ef2eb9-pqytqpox4c/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-13T05%3A53%3A25Z&sr=b&sp=r&sig=gl72ouly7dpL5DsKO9hhhqAjCbW6subzwLVTjCO4haE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Sep 2023 04:43:32 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged186.blob.core.windows.net/05864dc3a4154e68a6f85fd277ef2eb9-pqytqpox4c/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-13T05%3A53%3A25Z&sr=b&sp=r&sig=gl72ouly7dpL5DsKO9hhhqAjCbW6subzwLVTjCO4haE%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB413F90D31CE"'
      last-modified:
      - Wed, 13 Sep 2023 04:43:27 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 13 Sep 2023 04:43:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Sep 2023 04:43:35 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged186.blob.core.windows.net/05864dc3a4154e68a6f85fd277ef2eb9-pqytqpox4c/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-13T05%3A53%3A25Z&sr=b&sp=r&sig=gl72ouly7dpL5DsKO9hhhqAjCbW6subzwLVTjCO4haE%3D
  response:
    body:
      string: "2023/09/13 04:43:27 Downloading source code...\r\n2023/09/13 04:43:27
        Finished downloading source code\r\n2023/09/13 04:43:28 Alias support enabled
        for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases for
        more information.\n2023/09/13 04:43:28 Creating Docker network: acb_default_network,
        driver: 'bridge'\n2023/09/13 04:43:28 Successfully set up Docker network:
        acb_default_network\n2023/09/13 04:43:28 Setting up Docker configuration...\n2023/09/13
        04:43:28 Successfully set up Docker configuration\n2023/09/13 04:43:28 Logging
        in to registry: containerapp000004.azurecr.io\n2023/09/13 04:43:29 Successfully
        logged into containerapp000004.azurecr.io\n2023/09/13 04:43:29 Executing step
        ID: acb_step_0. Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/13
        04:43:29 Launching container with name: acb_step_0\nUnable to find image 'mcr.microsoft.com/oryx/cli:debian-buster-20230222.1'
        locally\ndebian-buster-20230222.1: Pulling from oryx/cli\nb2404786f3fe: Pulling
        fs layer\ne97ef50ee5a8: Pulling fs layer\ndfb1477a1a0e: Pulling fs layer\n69fefe447a70:
        Pulling fs layer\n75c028bd406f: Pulling fs layer\n69285aafba30: Pulling fs
        layer\n5ec5a733efd1: Pulling fs layer\n940e5351b949: Pulling fs layer\n75c028bd406f:
        Waiting\n69285aafba30: Waiting\n5ec5a733efd1: Waiting\n940e5351b949: Waiting\n69fefe447a70:
        Waiting\ne97ef50ee5a8: Verifying Checksum\ne97ef50ee5a8: Download complete\ndfb1477a1a0e:
        Verifying Checksum\ndfb1477a1a0e: Download complete\n75c028bd406f: Verifying
        Checksum\n75c028bd406f: Download complete\r\nb2404786f3fe: Verifying Checksum\nb2404786f3fe:
        Download complete\n69fefe447a70: Verifying Checksum\n69fefe447a70: Download
        complete\n940e5351b949: Verifying Checksum\n940e5351b949: Download complete\n69285aafba30:
        Verifying Checksum\n69285aafba30: Download complete\n5ec5a733efd1: Verifying
        Checksum\n5ec5a733efd1: Download complete\nb2404786f3fe: Pull complete\ne97ef50ee5a8:
        Pull complete\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-1927/1928
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB413FB8DFE52"'
      last-modified:
      - Wed, 13 Sep 2023 04:43:32 GMT
      x-ms-blob-committed-block-count:
      - '4'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 13 Sep 2023 04:43:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Sep 2023 04:43:42 GMT
      x-ms-range:
      - bytes=2069-6164
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged186.blob.core.windows.net/05864dc3a4154e68a6f85fd277ef2eb9-pqytqpox4c/logs/ca1/rawtext.log?sv=2021-12-02&se=2023-09-13T05%3A53%3A25Z&sr=b&sp=r&sig=gl72ouly7dpL5DsKO9hhhqAjCbW6subzwLVTjCO4haE%3D
  response:
    body:
      string: "940e5351b949: Pull complete\nDigest: sha256:cbfa4beec24c74057550bb121cb6ea0820af23416a90d1f52f2b01234d5fe934\nStatus:
        Downloaded newer image for mcr.microsoft.com/oryx/cli:debian-buster-20230222.1\nDockerfile
        written to '/workspace/Dockerfile'.\n2023/09/13 04:43:38 Successfully executed
        container: acb_step_0\n2023/09/13 04:43:38 Executing step ID: acb_step_1.
        Timeout(sec): 28800, Working directory: '', Network: 'acb_default_network'\n2023/09/13
        04:43:38 Scanning for dependencies...\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 2069-2550/2551
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DBB413FF463A81"'
      last-modified:
      - Wed, 13 Sep 2023 04:43:38 GMT
      x-ms-blob-committed-block-count:
      - '6'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 13 Sep 2023 04:43:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
[...]
