interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-08-01-preview","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","name":"env-northcentralusstage","type":"Microsoft.App/managedEnvironments","location":"North
        Central US (Stage)","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-15T03:34:09.162828","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T03:34:09.162828"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"mangowater-e5cfe1d3.northcentralusstage.azurecontainerapps.io","staticIp":"52.154.232.229","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/managedEnvironments/env-northcentralusstage/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003","name":"containerapp000003","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-15T08:29:55.9784418+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T08:29:55.9784418+00:00"},"properties":{"loginServer":"containerapp000003.azurecr.io","creationDate":"2024-01-15T08:29:55.9784418Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-01-15T08:30:02.618633+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-01-15T08:30:02.6186798+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-426b1354-b380-11ee-abee-c85acf032b42?api-version=2022-02-01-preview&t=638409042030722854&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/operationStatuses/registries-426b1354-b380-11ee-abee-c85acf032b42?api-version=2022-02-01-preview&t=638409042030722854&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-02-01-preview
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"I0SysMXLgAWdZyBoN2/mSKp0A03TPvBOmOCBLZx7hZ+ACRBRyNrb"},{"name":"password2","value":"VG0nO5YHNl6TTSVWX2NrDkSk7uNjD+D2rVRN7W94yA+ACRCSt/Ib"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"containerapp000003","passwords":[{"name":"password","value":"I0SysMXLgAWdZyBoN2/mSKp0A03TPvBOmOCBLZx7hZ+ACRBRyNrb"},{"name":"password2","value":"VG0nO5YHNl6TTSVWX2NrDkSk7uNjD+D2rVRN7W94yA+ACRCSt/Ib"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/client.env_rg_northcentralusstage?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/source/202401150000/49fe03b7-64b8-4832-9729-24d4444dd3dd.tar.gz?sv=2021-12-02&se=2024-01-15T09%3A30%3A19Z&sr=b&sp=cw&sig=%2BkFfaw4f8L3zM9pl6%2F5eSzVPtPs0NkpjbdT5q6IMjEE%3D","relativePath":"source/202401150000/49fe03b7-64b8-4832-9729-24d4444dd3dd.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICBrtpGUC/2J1aWxkX2FyY2hpdmVfNTZjOTEyNWQ2ODcyNGMyNWJmYmE2YzUyYzg0NjRkNjYu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylYwRCkpEBByUcWkm243Ucp2emJDX0dI+7eyRknuO8
      zXr37fGSzcbJyz7HcRIbG4yFbTA3GOPb3IeEAAkEkhAGXQgkEIdc+1VV90zPIQEOjFlTn/0xre6q
      7/vq+o7q6iqP1+OdVSEtnYelMNYn3RHwcRjv1+fLy09c0/t+X64/dxJaOikLEDNMSQf2k+5NyJ2O
      IqYcwSX+Qp/fnz+j0J/vmeEvzPX7pk+eJOAbD94s8KCDurCwcPzxD9f+/II8f25hwJebB/cDvkIY
      /wVi/N9x8Aj9L/S/0P/3LEjRqIFNU1ZrDc8cXI8V[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000002:cli-containerapp-20240115163018584670"], "isPushEnabled":
      true, "noCache": false, "dockerFilePath": "2a4e8823c0f041ea91edecc489ad3d09_Dockerfile",
      "arguments": [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202401150000/49fe03b7-64b8-4832-9729-24d4444dd3dd.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-01-15T08:30:22+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T08:30:21.9012903+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/containerapp000003/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A40%3A23Z&sr=b&sp=r&sig=ZE7vCdSYxI1V6UrIUzHtyD1Vzaan2aanct69VubZa6E%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:30:24 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A40%3A23Z&sr=b&sp=r&sig=ZE7vCdSYxI1V6UrIUzHtyD1Vzaan2aanct69VubZa6E%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A43820581F"'
      last-modified:
      - Mon, 15 Jan 2024 08:30:24 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:30:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:30:25 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A40%3A23Z&sr=b&sp=r&sig=ZE7vCdSYxI1V6UrIUzHtyD1Vzaan2aanct69VubZa6E%3D
  response:
    body:
      string: "2024/01/15 08:30:23 Downloading source code...\r\n2024/01/15 08:30:24
        Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A43820581F"'
      last-modified:
      - Mon, 15 Jan 2024 08:30:24 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:30:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:31:06 GMT
      x-ms-range:
      - bytes=4853-8948
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A40%3A23Z&sr=b&sp=r&sig=ZE7vCdSYxI1V6UrIUzHtyD1Vzaan2aanct69VubZa6E%3D
  response:
    body:
      string: "2024/01/15 08:31:00 Successfully executed container: build\n2024/01/15
        08:31:00 Executing step ID: push. Timeout(sec): 3600, Working directory: '',
        Network: ''\n2024/01/15 08:31:00 Pushing image: containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20240115163018584670,
        attempt 1\nThe push refers to repository [containerapp000003.azurecr.io/containerapp000002]\n743ee18a31ed:
        Preparing\nc3bbf3b9540c: Preparing\n4640069d5b51: Preparing\ne44d1ee39968:
        Preparing\n51d595795842: Preparing\nbad3cd6a751a: Preparing\ne1325a2db1db:
        Preparing\nbad3cd6a751a: Waiting\ne1325a2db1db: Waiting\n743ee18a31ed: Pushed\ne44d1ee39968:
        Pushed\nc3bbf3b9540c: Pushed\n4640069d5b51: Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4853-5546/5547
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A44FCAAD9C"'
      last-modified:
      - Mon, 15 Jan 2024 08:31:03 GMT
      x-ms-blob-committed-block-count:
      - '15'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:30:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:31:10 GMT
      x-ms-range:
      - bytes=5611-9706
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A40%3A23Z&sr=b&sp=r&sig=ZE7vCdSYxI1V6UrIUzHtyD1Vzaan2aanct69VubZa6E%3D
  response:
    body:
      string: "cli-containerapp-20240115163018584670: digest: sha256:86d63eb0cdd4f945c3320f79045b478be0268ddbdb6270651f058b317af2c668
        size: 1786\n2024/01/15 08:31:08 Successfully pushed image: containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20240115163018584670\n2024/01/15
        08:31:08 Step ID: build marked as successful (elapsed time in seconds: 29.768504)\n2024/01/15
        08:31:08 Populating digests for step ID: build...\n2024/01/15 08:31:10 Successfully
        populated digests for step ID: build\n2024/01/15 08:31:10 Step ID: push marked
        as successful (elapsed time in seconds: 8.587334)\n202[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:31:10 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A40%3A23Z&sr=b&sp=r&sig=ZE7vCdSYxI1V6UrIUzHtyD1Vzaan2aanct69VubZa6E%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A453CB6CF8"'
      last-modified:
      - Mon, 15 Jan 2024 08:31:10 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:30:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "North Central US (Stage)", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage",
      "configuration": {"secrets": [{"name": "containerapp000003azurecrio-containerapp000003",
      "value": "I0SysMXLgAWdZyBoN2/mSKp0A03TPvBOmOCBLZx7hZ+ACRBRyNrb"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "containerapp000003.azurecr.io", "username": "containerapp000003",
      "passwordSecretRef": "containerapp000003azurecrio-containerapp000003"}], "service":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20240115163018584670",
      "name": "containerapp000002", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000002?api-version=2023-11-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000002","name":"containerapp000002","type":"Microsoft.App/containerApps","location":"North
        Central US (Stage)","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-01-15T08:31:12.4653181Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-15T08:31:12.4653181Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/client.env_rg_northcentralusstage/providers/Microsoft.App/managedEnvironments/env-northcentralusstage","workloadProfileName":"Consumption","outboundIpAddresses":["20.221.106.163","20.221.107.3","20.221.106.208","20.221.106.152","20.9.115.172","20.9.116.165","20.9.116.161","20.9.116.46"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":[{"name":"containerapp000003azurecrio-containerapp000003"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000002.mangowater-e5cfe1d3.northcentralusstage.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"containerapp000003.azurecr.io","username":"containerapp000003","passwordSecretRef":"containerapp000003azurecrio-containerapp000003","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"containerapp000003.azurecr.io/containerapp000002:cli-containerapp-20240115163018584670","name":"containerapp000002","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000002/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/containerappOperationStatuses/61dec5c2-a9d7-4883-ae1a-6365af73631b?api-version=2023-11-02-preview&azureAsyncOperation=true&t=638409042745122450&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEg[...]
[...]
- request:
    body: !!binary |
      H4sICGXtpGUC/2J1aWxkX2FyY2hpdmVfZWYxYTk4NWM0OTRiNGJiMGExNGM3MTI2MWNhNmYwNjYu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsylYwRCkpEBByUcWkm243Ucp2emJDX0dI+7eyRknuO8
      zXr37fGSzcbJyz7HcRIbG4yFbTA3GOPb3IeEAAkEkhAGXQgkEIdc+1VV90zPIQEOjFlTn/0xre6q
      7/vq+o7q6iqP1+OdVSEtnYelMNYn3RHwcRjv1+fLy09c0/t+X64/dxJaOikLEDNMSQf2k+5NyJ2O
      IqYcwSX+Qp/fnz+j0J/vmeEvzPX7pk+eJOAbD94s8KCDurCwcPzxD9f+/II8f25hwJebB/cDvkIY
      /wVi/N9x8Aj9L/S/0P/3LEjRqIFNU1ZrDc8cXI8V[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:31:38 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca2/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A41%3A38Z&sr=b&sp=r&sig=2Zyqttl8ctOyD3XAJUSjOeyivQTfQUp6aC9ViJ8IJk8%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC15A4644AE2E4"'
      last-modified:
      - Mon, 15 Jan 2024 08:31:38 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 15 Jan 2024 08:31:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 08:31:40 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged169.blob.core.windows.net/3cee0bb84458406fb88787a4f29bdee6-beufjgmave/logs/ca2/rawtext.log?sv=2021-12-02&se=2024-01-15T09%3A41%3A38Z&sr=b&sp=r&sig=2Zyqttl8ctOyD3XAJUSjOeyivQTfQUp6aC9ViJ8IJk8%3D
  response:
    body:
      string: "2024/01/15 08:31:37 Downloading source code...\r\n2024/01/15 08:31:38
        Finished downloading source code\r\n2024/01/15 08:31:38 Using acb_vol_d594268d-04ad-44ab-9fe7-25b97a93adda
        as the home volume\n2024/01/15 08:31:38 Setting up Docker configuration...\n2024/01/15
        08:31:38 Successfully set up Docker configuration\n2024/01/15 08:31:38 Logging
        in to registry: containerapp000003.azurecr.io\n2024/01/15 08:31:39 Successfully
        logged into containerapp000003.azurecr.io\n2024/01/15 08:31:39 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/01/15
        08:31:39 Scanning for dependencies...\n2024/01/15 08:31:39 Successfully scanned
        dependencies\n2024/01/15 08:31:39 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-781/782
      content-type:
      - text/plain; charset=utf-8
      etag:
[...]
