interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North"],"apiVersions":["2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"defaultApiVersion":"2022-11-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Braz[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg6mv536r7fkljmqipatkxr?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"0c1c045e-d16d-45a7-8753-7fdf72657492","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-06-15T16:21:44.4484199Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-06-16T04:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-06-15T16:21:44.4484199Z","modifiedDate":"2023-06-15T16:21:44.4484199Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg6mv536r7fkljmqipatkxr","name":"workspace-clitestrg6mv536r7fkljmqipatkxr","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg6mv536r7fkljmqipatkxr?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg6mv536r7fkljmqipatkxr?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"0c1c045e-d16d-45a7-8753-7fdf72657492","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2023-06-15T16:21:44.4484199Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-06-16T04:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-06-15T16:21:44.4484199Z","modifiedDate":"2023-06-15T16:21:44.4484199Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg6mv536r7fkljmqipatkxr","name":"workspace-clitestrg6mv536r7fkljmqipatkxr","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrg6mv536r7fkljmqipatkxr/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"cICBi/ohjQIooFxRm280Me0wwN5CANYXwPpfGYgYhpUU0CejbHOqHX7bzUEiQenU0h3Uk2M0+zKIPxQ7SljRWw==","secondarySharedKey":"1GQwhrqMy3z6SSo9nVHlmgbuJ8ChxdM8bL4vTsHzh+VkBrc+P8oOhJcsaPjZXXntiuQhAh6pQT+Dbt8zxVyVrw=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "0c1c045e-d16d-45a7-8753-7fdf72657492",
      "sharedKey": "cICBi/ohjQIooFxRm280Me0wwN5CANYXwPpfGYgYhpUU0CejbHOqHX7bzUEiQenU0h3Uk2M0+zKIPxQ7SljRWw=="}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-06-15T16:21:47.3178682Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-15T16:21:47.3178682Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"grayisland-d4f39d3b.eastus.azurecontainerapps.io","staticIp":"20.246.231.142","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"0c1c045e-d16d-45a7-8753-7fdf72657492","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.10.7"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1596d24a-eb50-4359-9728-d3447edd25d6?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1596d24a-eb50-4359-9728-d3447edd25d6?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/1596d24a-eb50-4359-9728-d3447edd25d6","name":"1596d24a-eb50-4359-9728-d3447edd25d6","status":"InProgress","startTime":"2023-06-15T16:21:53.6577491"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/snehaparacr","name":"snehaparacr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-04-14T20:27:54.6369396Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-14T20:28:21.8108179Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ca-snehapar-group/providers/Microsoft.ContainerRegistry/registries/ca0f675d0f3dacr","name":"ca0f675d0f3dacr","type":"Microsoft.ContainerRegistry/re[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr","name":"cae4abb579d4acr","location":"eastus","tags":{},"systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-06-15T16:22:56.7479561+00:00","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-15T16:22:56.7479561+00:00"},"properties":{"loginServer":"cae4abb579d4acr.azurecr.io","creationDate":"2023-06-15T16:22:56.7479561Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-06-15T16:23:03.69437+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-06-15T16:23:03.69437+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr/operationStatuses/registries-e1287514-0b98-11ee-b323-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr/operationStatuses/registries-e1287514-0b98-11ee-b323-bce92fa43675?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr/operationStatuses/registries-e1287514-0b98-11ee-b323-bce92fa43675?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Co[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/cae4abb579d4acr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"cae4abb579d4acr","passwords":[{"name":"password","value":"cHfitRlA/nm606jakbN8531TrW6Ct91+3lRqjVK7xk+ACRBoRR2Q"},{"name":"password2","value":"0TUM/OzIJ+2wIZNv1HmaXeM4l0eipENyPW0B3Vu0pq+ACRCESZG+"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mcr.microsoft.com/v2/oryx/builder/tags/list
  response:
    body:
      string: "{\n  \"name\": \"oryx/builder\",\n  \"tags\": [\n    \"20230118.1\",\n
        \   \"20230208.1\",\n    \"20230327.1\",\n    \"20230403.1\",\n    \"20230410.1\",\n
        \   \"20230417.1\",\n    \"20230420.1\",\n    \"20230425.1\",\n    \"20230427.1\",\n
        \   \"20230501.1\",\n    \"20230508.1\",\n    \"20230512.2\",\n    \"20230512.3\",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cae4abb579d4acr.azurecr.io/v2/
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":null}]}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      www-authenticate:
      - Bearer realm="https://cae4abb579d4acr.azurecr.io/oauth2/token",service="cae4abb579d4acr.azurecr.io"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: grant_type=access_token&service=cae4abb579d4acr.azurecr.io&tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ii1LSTNROW5OUjdiUm9meG1lWm9YcWJIWkdldyIsImtpZCI6Ii1LSTNROW5OUjdiUm9meG1lWm9YcWJIWkdldyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNjg2ODQyOTUwLCJuYmYiOjE2ODY4NDI5NTAsImV4cCI6MTY4Njg0NjkxMywiX2NsYW[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "cae4abb579d4acrazurecrio-cae4abb579d4acr",
      "value": "cHfitRlA/nm606jakbN8531TrW6Ct91+3lRqjVK7xk+ACRBoRR2Q"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 8080, "transport":
      "auto", "exposedPort": null, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": [{"server": "cae4abb579d4acr.azurecr.io",
      "username": "cae4abb579d4acr", "passwordSecretRef": "cae4abb579d4acrazurecrio-cae4abb579d4acr"}],
      "service": null}, "template": {"revisionSuffix": null, "containers": [{"image":
      "cae4abb579d4acr.azurecr.io/containerapp000003:run-dotnet-aspnet-7.0.7-cbl-mariner2.0-20230615092307001828",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"snehapar@microsoft.com","createdByType":"User","createdAt":"2023-06-15T16:23:48.1486808Z","lastModifiedBy":"snehapar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-15T16:23:48.1486808Z"},"properties":{"provisioningState":"InProgress","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":null,"outboundIpAddresses":["20.246.230.26"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"114877694D8D814008DB8FDB1F32EFE919BE6A22ED8C8BEA46658B0401FBAC57","configuration":{"secrets":[{"name":"cae4abb579d4acrazurecrio-cae4abb579d4acr"}],"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000003.grayisland-d4f39d3b.eastus.azurecontainerapps.io","external":true,"targetPort":8080,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null},"registries":[{"server":"cae4abb579d4acr.azurecr.io","username":"cae4abb579d4acr","passwordSecretRef":"cae4abb579d4acrazurecrio-cae4abb579d4acr","identity":""}],"dapr":null,"maxInactiveRevisions":null,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"cae4abb579d4acr.azurecr.io/containerapp000003:run-dotnet-aspnet-7.0.7-cbl-mariner2.0-20230615092307001828","name":"containerapp000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000003/eventstream"},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/46a9fa6f-75b5-4b65-8ce0-21da69c66cd1?api-version=2023-04-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '699'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/46a9fa6f-75b5-4b65-8ce0-21da69c66cd1?api-version=2023-04-01-preview&azureAsyncOperation=true
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/46a9fa6f-75b5-4b65-8ce0-21da69c66cd1","name":"46a9fa6f-75b5-4b65-8ce0-21da69c66cd1","status":"InProgress","startTime":"2023-06-15T16:23:48.2252774"}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://containerapp000003.grayisland-d4f39d3b.eastus.azurecontainerapps.io/
  response:
    body:
      string: ''
    headers:
      location:
      - https://containerapp000003.grayisland-d4f39d3b.eastus.azurecontainerapps.io/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://containerapp000003.grayisland-d4f39d3b.eastus.azurecontainerapps.io/
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"utf-8\"
        />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"
        />\r\n    <title>Home page - HelloWorldApp</title>\r\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\r\n    <link rel=\"stylesheet\"
        href=\"/css/site.css?v=pAGv4ietcJNk_EwsQZ5BN9-K4MuNYS2a9wl4Jw-q9D0\" />\r\n
        \   <link rel=\"stylesheet\" href=\"/HelloWorldApp.styles.css\" />\r\n</head>\r\n<body>\r\n
        \   <header>\r\n        <nav b-j8uc5gw69c class=\"navbar navbar-expand-sm
        navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3\">\r\n
        \           <div b-j8uc5gw69c class=\"container\">\r\n                <a class=\"navbar-brand\"
        href=\"/\">HelloWorldApp</a>\r\n                <button b-j8uc5gw69c class=\"navbar-toggler\"
        type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\".navbar-collapse\"
        aria-controls=\"navbarSupportedContent\"\r\n                        aria-expanded=\"false\"
        aria-label=\"Toggle navigation\">\r\n                    <span b-j8uc5gw69c
        class=\"navbar-toggler-icon\"></span>\r\n                </button>\r\n                <div
        b-j8uc5gw69c class=\"navbar-collapse collapse d-sm-inline-flex justify-content-between\">\r\n
        \                   <ul b-j8uc5gw69c class=\"navbar-nav flex-grow-1\">\r\n
        \                       <li b-j8uc5gw69c class=\"nav-item\">\r\n                            <a
        class=\"nav-link text-dark\" href=\"/\">Home</a>\r\n                        </li>\r\n
        \                       <li b-j8uc5gw69c class=\"nav-item\">\r\n                            <a
        class=\"nav-link text-dark\" href=\"/Privacy\">Privacy</a>\r\n                        </li>\r\n
        \                   </ul>\r\n                </div>\r\n            </div>\r\n
        \       </nav>\r\n    </header>\r\n    <div b-j8uc5gw69c class=\"container\">\r\n
        \       <main b-j8uc5gw69c role=\"main\" class=\"pb-3\">\r\n            \r\n<div
        class=\"text-center\">\r\n    <h1 class=\"display-4\">Hello, world!</h1>\r\n
        \   <p>Learn about <a href=\"https://docs.microsoft.com/aspnet/core\">building
        Web apps with ASP.NET Core</a>.</p>\r\n</div>\r\n\r\n        </main>\r\n    </div>\r\n\r\n
        \   <footer b-j8uc5gw69c class=\"border-top footer text-muted\">\r\n        <div
        b-j8uc5gw69c class=\"container\">\r\n            &copy; 2023 - HelloWorldApp
        - <a href=\"/Privacy\">Privacy</a>\r\n        </div>\r\n    </footer>\r\n\r\n
        \   <script src=\"/lib/jquery/dist/jquery.min.js\"></script>\r\n    <script
        src=\"/lib/bootstrap/dist/js/bootstrap.bundle.min.js\"></script>\r\n    <script
        src=\"/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0\"></script>\r\n\r\n
        \   \r\n</body>\r\n</html>"
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/f50f7ec0-3731-44c8-ab79-81ede87fbdfa?api-version=2023-04-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/f50f7ec0-3731-44c8-ab79-81ede87fbdfa?api-version=2023-04-01-preview
    status:
      code: 202
[...]
