interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/microsoft.capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973","name":"99f340d1-6db4-41b4-b469-cfc499716973","type":"microsoft.capacity/reservationOrders","etag":27,"properties":{"originalQuantity":1,"requestDateTime":"2021-11-25T06:31:18.3925493Z","billingPlan":"Monthly","reservations":[{"id":"/providers/Microsoft.Capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973/reservations/a7d70646-b848-4498-8093-5938128b225c"}],"term":"P3Y","displayName":"VM_RI_11-24-2021_22-30","createdDateTime":"2021-11-25T06:34:13.9736776Z","benefitStartTime":"2021-11-25T06:34:12.9266987Z","provisioningState":"Succeeded","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31","expiryDateTime":"2024-11-25T06:34:12.9266987Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-version:
      - 1.0.2206.71
    status:
      code: 200
      message: OK
version: 1
