interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973/reservations/a7d70646-b848-4498-8093-5938128b225c/revisions?api-version=2022-11-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_DS1_v2"},"id":"/providers/microsoft.capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973/reservations/a7d70646-b848-4498-8093-5938128b225c/revisions/23","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"23","etag":23,"location":"westus","properties":{"appliedScopeType":"Single","quantity":1,"provisioningState":"Succeeded","expiryDateTime":"2024-11-25T06:34:12.9266987Z","benefitStartTime":"2021-11-25T06:34:12.9266987Z","displayName":"VM_RI_11-24-2021_22-30","effectiveDateTime":"2023-01-26T01:21:47.2936116Z","lastUpdatedDateTime":"2023-01-26T01:21:47.3561106Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_DS1_v2, US West, 3 Years","renew":true,"archived":false,"appliedScopeProperties":{"displayName":"fastpathtesting_20210915","resourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fastpathtesting_20210915"}}},{"sku":{"name":"Standard_DS1_v2"},"id":"/providers/microsoft.capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973/reservations/a7d70646-b848-4498-8093-5938128b225c/revisions/22","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"22","etag":22,"location":"westus","properties":{"appliedScopeType":"ManagementGroup","quantity":1,"provisioningState":"Pending","expiryDateTime":"2024-11-25T06:34:12.9266987Z","benefitStartTime":"2021-11-25T06:34:12.9266987Z","displayName":"VM_RI_11-24-2021_22-30","effectiveDateTime":"2023-01-26T01:19:31.9916066Z","extendedStatusInfo":{"statusCode":"Pending","message":"An
        operation is in progress on your benefit. Please wait for operation to complete
        before taking further action."},"lastUpdatedDateTime":"2023-01-26T01:21:44.0850086Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_DS1_v2, US West, 3 Years","renew":true,"archived":false,"appliedScopeProperties":{"tenantId":"ba5ed788-ddc6-429c-a6a2-0277f01dbee7","managementGroupId":"/providers/Microsoft.Management/managementGroups/TestRg","displayName":"TestRg"}}},{"sku":{"name":"Standard_DS1_v2"},"id":"/providers/microsoft.capacity/reservationOrders/99f340d1-6db4-41b4-b469-cfc499716973/reservations/a7d70646-b848-4498-8093-5938128b225c/revisions/21","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"21","etag":21,"location":"westus","properties":{"appliedScopeType":"ManagementGroup","quantity":1,"provisioningState":"Succeeded","expiryDateTime":"20[...]
