interactions:
- request:
    body: '{"location": "westus", "properties": {"appliedScopeType": "Shared", "billingPlan":
      "Monthly", "billingScopeId": "b0f278e1-1f18-4378-84d7-b44dfa708665", "displayName":
      "clitest", "quantity": 2, "renew": false, "reservedResourceType": "VirtualMachines",
      "term": "P1Y"}, "sku": {"name": "standard_b1ls"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01-beta
  response:
    body:
      string: '{"properties":{"billingCurrencyTotal":{"currencyCode":"GBP","amount":48.0},"netTotal":0.0,"taxTotal":0.0,"grandTotal":0.0,"paymentSchedule":[{"dueDate":"2023-03-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"billingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-04-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-05-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-06-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-07-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-08-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-09-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-10-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-11-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2023-12-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2024-01-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"},{"dueDate":"2024-02-02","pricingCurrencyTotal":{"currencyCode":"GBP","amount":4.0},"status":"Scheduled"}],"reservationOrderId":"c8533688-2b69-48e4-9269-e8b335f8c719","skuTitle":"Reserved
        VM Instance, Standard_B1ls, US West, 1 Year","skuDescription":"standard_b1ls","pricingCurrencyTotal":{"currencyCode":"GBP","amount":48.0}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-test:
      - '{"contact":"sagirees","scenarios":"NewReservationTypeScenario,TestInProduction","retention":"5/31/2023
        10:30:51 PM"}'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"appliedScopeType": "Shared", "billingPlan":
      "Monthly", "billingScopeId": "b0f278e1-1f18-4378-84d7-b44dfa708665", "displayName":
      "clitest", "quantity": 2, "renew": false, "reservedResourceType": "VirtualMachines",
      "term": "P1Y"}, "sku": {"name": "standard_b1ls"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719?api-version=2022-11-01-beta
  response:
    body:
      string: '{"id":"/providers/microsoft.capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719","name":"c8533688-2b69-48e4-9269-e8b335f8c719","type":"microsoft.capacity/reservationOrders","etag":1,"properties":{"originalQuantity":2,"requestDateTime":"2023-03-02T22:30:57.1256893Z","billingPlan":"Monthly","reservations":[{"id":"/providers/Microsoft.Capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719/reservations/a987e93e-a585-45d4-899f-a212d96a88a0"}],"term":"P1Y","displayName":"clitest","provisioningState":"Creating","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/61e667a1-0558-45a2-b21a-57fa7893951d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719?api-version=2022-11-01-beta
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-version:
      - 1.0.2252.117
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719?api-version=2022-11-01-beta
  response:
    body:
      string: '{"id":"/providers/microsoft.capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719","name":"c8533688-2b69-48e4-9269-e8b335f8c719","type":"microsoft.capacity/reservationOrders","etag":4,"properties":{"originalQuantity":2,"requestDateTime":"2023-03-02T22:30:57.1256893Z","billingPlan":"Monthly","reservations":[{"id":"/providers/Microsoft.Capacity/reservationOrders/c8533688-2b69-48e4-9269-e8b335f8c719/reservations/a987e93e-a585-45d4-899f-a212d96a88a0"}],"term":"P1Y","displayName":"clitest","provisioningState":"PendingCapacity","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/61e667a1-0558-45a2-b21a-57fa7893951d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-version:
      - 1.0.2252.117
    status:
      code: 200
      message: OK
version: 1
