interactions:
- request:
    body: '{"correlationid": "6dee6619-17b1-4b46-8c26-8c50745e9c15", "executionParameters":
      {"retryPolicy": {"retryCount": 4, "retryWindowInMinutes": 65}}, "resources":
      {"ids": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-5"]},
      "schedule": {"deadline": "2025-02-19T17:01:59.000Z", "deadlineType": "InitiateAt",
      "timezone": "UTC"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesSubmitHibernate?api-version=2024-10-01
  response:
    body:
      string: '{"description":"Hibernate Resource request","type":"VirtualMachines","location":"eastus2euap","results":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-5","errorCode":null,"errorDetails":null,"operation":{"operationId":"4b374aa5-1abb-4ebd-801b-ee7a65887d54","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-5","opType":"Hibernate","subscriptionId":"1d04e8f1-ee04-4056-b0b2-718f5bb45b04","deadline":"2025-02-19T17:01:59+00:00","deadlineType":"InitiateAt","state":"PendingScheduling","timeZone":"UTC","resourceOperationError":null,"completedAt":null,"retryPolicy":{"retryCount":4,"retryWindowInMinutes":65}}}]}'
    headers:
      api-supported-versions:
      - 1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview, 2024-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11997'
      x-ms-ratelimit-remaining-subscription-writes:
      - '797'
    status:
      code: 200
      message: OK
version: 1
