interactions:
- request:
    body: '{"correlationid": "bc619ffe-86ee-460c-a87a-9d285d440f73", "executionParameters":
      {"retryPolicy": {"retryCount": 2, "retryWindowInMinutes": 30}}, "resources":
      {"ids": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-6"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesExecuteStart?api-version=2024-10-01
  response:
    body:
      string: '{"description":"Start Resource request","type":"VirtualMachines","location":"eastus2euap","results":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-6","errorCode":null,"errorDetails":null,"operation":{"operationId":"cb1d20cd-4cc7-4848-ad2f-f5ac53603be4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-6","opType":"Start","subscriptionId":"1d04e8f1-ee04-4056-b0b2-718f5bb45b04","deadline":"2025-02-19T17:01:00.4108038+00:00","deadlineType":"InitiateAt","state":"PendingScheduling","timeZone":"UTC","resourceOperationError":null,"completedAt":null,"retryPolicy":{"retryCount":2,"retryWindowInMinutes":30}}}]}'
    headers:
      api-supported-versions:
      - 1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview, 2024-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"correlationid": "7b3ec765-0c78-43dc-bab5-0e55ff0a3c85", "operationIds":
      ["cb1d20cd-4cc7-4848-ad2f-f5ac53603be4"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesGetOperationStatus?api-version=2024-10-01
  response:
    body:
      string: '{"results":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-6","errorCode":null,"errorDetails":null,"operation":{"operationId":"cb1d20cd-4cc7-4848-ad2f-f5ac53603be4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-6","opType":"Start","subscriptionId":"1d04e8f1-ee04-4056-b0b2-718f5bb45b04","deadline":"2025-02-19T17:01:00.4108038+00:00","deadlineType":"InitiateAt","state":"Executing","timeZone":"","resourceOperationError":null,"completedAt":null,"retryPolicy":{"retryCount":2,"retryWindowInMinutes":30}}}]}'
    headers:
      api-supported-versions:
      - 1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview, 2024-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
