interactions:
- request:
    body: '{"correlationid": "d6c357c8-cb95-4733-8665-003660441a5f", "executionParameters":
      {"retryPolicy": {"retryCount": 5, "retryWindowInMinutes": 55}}, "resources":
      {"ids": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-1"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesExecuteHibernate?api-version=2024-10-01
  response:
    body:
      string: '{"description":"Hibernate Resource request","type":"VirtualMachines","location":"eastus2euap","results":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-1","errorCode":null,"errorDetails":null,"operation":{"operationId":"dc20829e-f545-4a7c-886f-2ba962fa0efa","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/SA-CLIEXTVM-1","opType":"Hibernate","subscriptionId":"1d04e8f1-ee04-4056-b0b2-718f5bb45b04","deadline":"2025-02-19T17:01:00.8565581+00:00","deadlineType":"InitiateAt","state":"PendingScheduling","timeZone":"UTC","resourceOperationError":null,"completedAt":null,"retryPolicy":{"retryCount":5,"retryWindowInMinutes":55}}}]}'
    headers:
      api-supported-versions:
      - 1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview, 2024-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11997'
      x-ms-ratelimit-remaining-subscription-writes:
      - '797'
    status:
      code: 200
      message: OK
version: 1
