interactions:
- request:
    body: '{"location": "westus", "properties": {"scope": {"managementGroups": [],
      "subscriptions": [], "virtualNetworks": [], "subnets": []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managednetwork000001/providers/Microsoft.ManagedNetwork/managedNetworks/MyManagedNetwork?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managednetwork000001/providers/Microsoft.ManagedNetwork/managedNetworks/MyManagedNetwork","name":"MyManagedNetwork","type":"Microsoft.ManagedNetwork/managedNetworks","location":"westus","apiVersion":"","tags":{},"resourceGuid":"","provisioningState":0,"properties":{"scope":{"virtualNetworks":[],"managementGroups":[],"subscriptions":[],"subNets":[]},"connectivity":{"peerings":[],"groups":[]}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managednetwork000001/providers/Microsoft.ManagedNetwork/managedNetworks/MyManagedNetwork?api-version=2019-06-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
