interactions:
- request:
    body: '{"sourceDataStoreType": "OperationalStore"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsabidonotdelete-clitestsabidonotdelete-887c3538-0bfc-11ee-acd3-002b670b472e/findRestorableTimeRanges?api-version=2023-05-01
  response:
    body:
      string: '{"properties":{"restorableTimeRanges":[{"startTime":"2023-07-02T05:37:38.4455056Z","endTime":"2023-08-01T05:37:38.4719130Z","objectType":"RestorableTimeRange"}],"objectType":"AzureBackupFindRestorableTimeRangesResponse"},"id":"clitestsabidonotdelete-clitestsabidonotdelete-887c3538-0bfc-11ee-acd3-002b670b472e","type":"Microsoft.DataProtection/backupVaults/backupInstances/findRestorableTimeRanges"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sourceDataStoreType": "OperationalStore", "startTime": "2023-06-16T01:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsabidonotdelete-clitestsabidonotdelete-887c3538-0bfc-11ee-acd3-002b670b472e/findRestorableTimeRanges?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"additionalInfo":[{"type":"UserFacingError","info":{"message":"Invalid
        inputs from caller.","recommendedAction":["Please retry after some time with
        correct inputs. Reach out to the Azure Backup support if the issue persists.
        "],"details":null,"code":"DppPluginInvalidInputParameters","target":"","innerError":null,"isRetryable":false,"isUserError":false,"properties":{"ActivityId":"905966ff-302d-11ee-a291-a02919f9519c"}}}],"code":"DppPluginInvalidInputParameters","message":"Invalid
        inputs from caller.","target":null,"details":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"endTime": "2033-06-16T01:00:00.00Z", "sourceDataStoreType": "OperationalStore"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsabidonotdelete-clitestsabidonotdelete-887c3538-0bfc-11ee-acd3-002b670b472e/findRestorableTimeRanges?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"additionalInfo":[{"type":"UserFacingError","info":{"message":"Microsoft
        Azure Backup encountered an internal error.","recommendedAction":["Wait for
        a few minutes and then try the operation again. If the issue persists, please
        contact Microsoft support."],"details":null,"code":"CloudInternalError","target":"","innerError":null,"isRetryable":false,"isUserError":false,"properties":{"ActivityId":"91d1b7dc-302d-11ee-ba0c-a02919f9519c"}}}],"code":"CloudInternalError","message":"Microsoft
        Azure Backup encountered an internal error.","target":null,"details":null}}'
    headers:
      content-type:
      - application/json
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"endTime": "2023-06-16T01:00:00.0000000Z", "sourceDataStoreType": "OperationalStore",
      "startTime": "2033-06-16T01:00:00.0000000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsabidonotdelete-clitestsabidonotdelete-887c3538-0bfc-11ee-acd3-002b670b472e/findRestorableTimeRanges?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"additionalInfo":[{"type":"UserFacingError","info":{"message":"The
        given time range is invalid","recommendedAction":["Please ensure that the
        given time range in the request is valid"],"details":null,"code":"UserErrorInvalidRestorableTimeRange","target":"","innerError":null,"isRetryable":false,"isUserError":false,"properties":{"ActivityId":"a060ddd5-302d-11ee-914b-a02919f9519c"}}}],"code":"UserErrorInvalidRestorableTimeRange","message":"The
        given time range is invalid","target":null,"details":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 400
      message: Bad Request
version: 1
