interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5/recoveryPoints?$filter=&api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"600287b53fa84f23a2a5306e905ead1e","recoveryPointTime":"2026-01-13T03:34:24.3402389Z","recoveryPointType":"Full","friendlyName":"600287b53fa84f23a2a5306e905ead1e","recoveryPointDataStoresDetails":[{"id":"53a6f71e-707d-4b7b-ba0e-09fd3e8ba144","type":"VaultStore","creationTime":"2026-01-13T03:34:24.3880679Z","expiryTime":"2026-01-20T03:34:24.3880679Z","metaData":null,"visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638313038422689426","policyName":"vaultedblobpolicy","policyVersion":null,"expiryTime":"2026-01-20T03:34:24.3880679Z","recoveryPointState":"Completed"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5/recoveryPoints/600287b53fa84f23a2a5306e905ead1e","name":"600287b53fa84f23a2a5306e905ead1e","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"},{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"14a57db21a014272aa16028836a3c9eb","recoveryPointTime":"2026-01-12T03:33:50.9744340Z","recoveryPointType":"Full","friendlyName":"14a57db21a014272aa16028836a3c9eb","recoveryPointDataStoresDetails":[{"id":"53a6f71e-707d-4b7b-ba0e-09fd3e8ba144","type":"VaultStore","creationTime":"2026-01-12T03:33:51.0047302[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 13 Jan 2026 10:45:25 GMT
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://clitestvsdonotdelete.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:2f82262c-601e-004a-7b79-84e0e5000000\nTime:2026-01-13T10:45:31.4978208Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: '{"subscriptions": ["38304e13-357e-405e-9e9a-220351dcce8c"], "query": "RecoveryServicesResources
      | where type =~ ''microsoft.dataprotection/backupvaults/backupjobs''| extend
      vaultName = properties.vaultName| extend status = properties.status| extend
      operation = case( tolower(properties.operationCategory) startswith ''backup''
      and properties.isUserTriggered == ''true'', strcat(''OnDemand'',properties.operationCategory),
      tolower(properties.operationCategory) startswith ''backup'' and properties.isUserTriggered
      == ''false'', strcat(''Scheduled'', properties.operationCategory), type =~ ''microsoft.dataprotection/backupVaults/backupJobs'',
      properties.operationCategory, ''Invalid'')| extend datasourceId = properties.dataSourceId
      | where properties.dataSourceType in~ (''Microsoft.Storage/storageAccounts/blobServices'')
      | where status in~ (''InProgress'') | where datasourceId in~ (''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestsavltdonotdelete'')",
      "options": {"$top": 1000, "$skip": 0, "resultFormat": "objectArray", "allowPartialScopes":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":0,"count":0,"data":[],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '14'
      x-ms-resource-graph-request-duration:
      - '0:00:00:00.3167523'
      x-ms-throttling-version:
      - v2
      x-ms-user-quota-remaining:
      - '14'
      x-ms-user-quota-resets-after:
      - 00:00:04
    status:
      code: 200
      message: OK
- request:
    body: '{"objectType": "AzureBackupRecoveryPointBasedRestoreRequest", "recoveryPointId":
      "600287b53fa84f23a2a5306e905ead1e", "restoreTargetInfo": {"datasourceInfo":
      {"datasourceType": "Microsoft.Storage/storageAccounts/blobServices", "objectType":
      "Datasource", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestvsdonotdelete",
      "resourceLocation": "centraluseuap", "resourceName": "clitestvsdonotdelete",
      "resourceType": "Microsoft.Storage/storageAccounts", "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestvsdonotdelete"},
      "datasourceSetInfo": {"datasourceType": "Microsoft.Storage/storageAccounts/blobServices",
      "objectType": "DatasourceSet", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestvsdonotdelete",
      "resourceLocation": "centraluseuap", "resourceName": "clitestvsdonotdelete",
      "resourceType": "Microsoft.Storage/storageAccounts", "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestvsdonotdelete"},
      "objectType": "ItemLevelRestoreTargetInfo", "recoveryOption": "FailIfExists",
      "restoreCriteria": [{"isPathRelativeToBackupItem": true, "itemPath": "container1",
      "objectType": "ItemPathBasedRestoreCriteria"}], "restoreLocation": "centraluseuap"},
      "sourceDataStoreType": "VaultStore"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5/restore?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/operationStatus/YWRhYzE1NWYtYjEwNS00NGIzLTkzN2EtYjIxZThjNzNjOTY3OzQyMzZhZTM0LWVhNDgtNGRjZi05NDVjLTA0M2ZhYmE2M2UxYQ==?api-version=2025-09-01&t=639038979446226700&c=MIIHhjCCBm6gAwIBAgITfAn5MwrWQJ2kQ4QRUgAACfkzCjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/operationStatus/YWRhYzE1NWYtYjEwNS00NGIzLTkzN2EtYjIxZThjNzNjOTY3OzQyMzZhZTM0LWVhNDgtNGRjZi05NDVjLTA0M2ZhYmE2M2UxYQ==?api-version=2025-09-01&t=639038979446226700&c=MIIHhjCCBm6gAwIBAgITfAn5MwrWQJ2kQ4QRUgAACfkzCjANBgkqhkiG9w0BAQsFADBEMRM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/YWRhYzE1NWYtYjEwNS00NGIzLTkzN2EtYjIxZThjNzNjOTY3OzQyMzZhZTM0LWVhNDgtNGRjZi05NDVjLTA0M2ZhYmE2M2UxYQ==?api-version=2025-09-01&t=639038979446226700&c=MIIHhjCCBm6gAwIBAgITfAn5MwrWQJ2kQ4QRUgAACfkzCjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/c5f18779-b360-4253-8c9a-faed7a2bcfd1?api-version=2025-09-01
  response:
    body:
      string: '{"properties":{"activityID":"fe58af10-f06c-11f0-94de-00155dd89959","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupPolicies/vaultedblobpolicy","dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestsavltdonotdelete","vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","backupInstanceFriendlyName":"clitestsavltdonotdelete","policyName":"vaultedblobpolicy","sourceResourceGroup":"clitest-dpp-rg","dataSourceSetName":"clitestsavltdonotdelete","dataSourceName":"clitestsavltdonotdelete","sourceDataStoreName":null,"sourceDataStoreType":"VaultStore","destinationDataStoreName":null,"progressEnabled":false,"etag":"W/\"datetime''2026-01-13T10%3A45%3A45.9869054Z''\"","sourceSubscriptionID":"38304e13-357e-405e-9e9a-220351dcce8c","dataSourceLocation":"centraluseuap","startTime":"2026-01-13T10:45:44.765651Z","endTime":null,"dataSourceType":"Microsoft.Storage/storageAccounts/blobServices","operationCategory":"Restore","operation":"Restore","status":"InProgress","restoreType":null,"isUserTriggered":true,"rehydrationPriority":null,"supportedActions":[""],"duration":"PT0S","progressUrl":null,"isCrossRegionRestore":null,"errorDetails":null,"extendedInfo":{"backupInstanceState":null,"dataTransferredInBytes":null,"targetRecoverPoint":null,"sourceRecoverPoint":{"recoveryPointID":"600287b53fa84f23a2a5306e905ead1e","recoveryPointTime":"2026-01-13T03:34:24.3402389Z"},"recoveryDestination":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Storage/storageAccounts/clitestvsdonotdelete","subTasks":[{"taskId":1,"taskName":"Trigger
        Restore","taskStatus":"InProgress","taskProgress":null,"additionalDetails":null}],"additionalDetails":null,"warningDetails":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/c5f18779-b360-4253-8c9a-faed7a2bcfd1","name":"c5f18779-b360-4253-8c9a-faed7a2bcfd1","type":"Microsoft.DataProtection/backupVaults/backupJobs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 13 Jan 2026 10:46:46 GMT
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://clitestvsdonotdelete.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
version: 1
