interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5/recoveryPoints?$filter=&api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"08a904a862f943ef93307c5d9795ab3b","recoveryPointTime":"2025-11-04T03:32:38.8950052Z","recoveryPointType":"Full","friendlyName":"08a904a862f943ef93307c5d9795ab3b","recoveryPointDataStoresDetails":[{"id":"53a6f71e-707d-4b7b-ba0e-09fd3e8ba144","type":"VaultStore","creationTime":"2025-11-04T03:32:38.9386610Z","expiryTime":"2025-11-11T03:32:38.9386610Z","metaData":null,"visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638313038422689426","policyName":"vaultedblobpolicy","policyVersion":null,"expiryTime":"2025-11-11T03:32:38.9386610Z","recoveryPointState":"Completed"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5/recoveryPoints/08a904a862f943ef93307c5d9795ab3b","name":"08a904a862f943ef93307c5d9795ab3b","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"},{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"4335e6f8b89742fb82025dd1fbbe0a33","recoveryPointTime":"2025-11-03T03:32:57.6178175Z","recoveryPointType":"Full","friendlyName":"4335e6f8b89742fb82025dd1fbbe0a33","recoveryPointDataStoresDetails":[{"id":"53a6f71e-707d-4b7b-ba0e-09fd3e8ba144","type":"VaultStore","creationTime":"2025-11-03T03:32:57.6574191[...]
