interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"storageSettings": [{"datastoreType": "VaultStore", "type": "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault?api-version=2022-04-01
  response:
    body:
      string: '{"location":"centraluseuap","properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault","name":"cli-test-new-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzBlODg2MGUyLTBlOWUtNGRlMC1hNWQ4LTQwMWMyMDQ3NDE4ZA==?api-version=2022-04-01
      content-type:
      - application/json
      x-ms-arm-resource-system-data:
      - '{"createdBy":"t-smayya@microsoft.com","createdByType":"User","createdAt":"2022-06-15T05:46:50.0396005Z","lastModifiedBy":"t-smayya@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-15T05:46:50.0396005Z"}'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzBlODg2MGUyLTBlOWUtNGRlMC1hNWQ4LTQwMWMyMDQ3NDE4ZA==?api-version=2022-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzBlODg2MGUyLTBlOWUtNGRlMC1hNWQ4LTQwMWMyMDQ3NDE4ZA==","name":"YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzBlODg2MGUyLTBlOWUtNGRlMC1hNWQ4LTQwMWMyMDQ3NDE4ZA==","status":"Succeeded","startTime":"2022-06-15T05:46:51.2882533Z","endTime":"2022-06-15T05:46:58Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault?api-version=2022-04-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"394e93ea-1c6b-40cf-811d-8a5df1d26c80","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault","name":"cli-test-new-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault?api-version=2022-04-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzhlM2YzZWU2LTBiZTYtNGIzZi05ZDVmLTI0MzkzYjBkNzRhNw==?api-version=2022-04-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationResults/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzhlM2YzZWU2LTBiZTYtNGIzZi05ZDVmLTI0MzkzYjBkNzRhNw==?api-version=2022-04-01
      x-ms-arm-resource-system-data:
      - '{"lastModifiedBy":"t-smayya@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-15T05:47:03.2856656Z"}'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzhlM2YzZWU2LTBiZTYtNGIzZi05ZDVmLTI0MzkzYjBkNzRhNw==?api-version=2022-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzhlM2YzZWU2LTBiZTYtNGIzZi05ZDVmLTI0MzkzYjBkNzRhNw==","name":"YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzhlM2YzZWU2LTBiZTYtNGIzZi05ZDVmLTI0MzkzYjBkNzRhNw==","status":"Succeeded","startTime":"2022-06-15T05:47:03.6508146Z","endTime":"2022-06-15T05:47:04Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkO2YwMDRhMDFhLWRkNTQtNGFiZC05YTUxLTNmMTRkMzRlZWM2Zg==?api-version=2022-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkO2YwMDRhMDFhLWRkNTQtNGFiZC05YTUxLTNmMTRkMzRlZWM2Zg==","name":"YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkO2YwMDRhMDFhLWRkNTQtNGFiZC05YTUxLTNmMTRkMzRlZWM2Zg==","status":"Succeeded","startTime":"2022-06-15T05:47:15.4196966Z","endTime":"2022-06-15T05:47:16Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg","name":"sarath-rg","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new?api-version=2021-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-disk-new\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n
        \ \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\":
        {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 4,\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/18e574d1-64dd-483a-8493-3ca43a8b183d?p=73f3a844-818e-492b-9f67-b82c2c87b11a&api-version=2021-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/18e574d1-64dd-483a-8493-3ca43a8b183d?p=73f3a844-818e-492b-9f67-b82c2c87b11a&monitor=true&api-version=2021-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/18e574d1-64dd-483a-8493-3ca43a8b183d?p=73f3a844-818e-492b-9f67-b82c2c87b11a&api-version=2021-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-06-15T05:47:28.7923809+00:00\",\r\n  \"endTime\":
        \"2022-06-15T05:47:28.9173992+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"cli-test-disk-new\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 4,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"timeCreated\": \"2022-06-15T05:47:28.8080414+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 4294967296,\r\n    \"uniqueId\": \"d514c546-3586-45ff-b850-d6c11a2c7dd0\",\r\n
        \   \"tier\": \"P1\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"18e574d1-64dd-483a-8493-3ca43a8b183d\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399920
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'394e93ea-1c6b-40cf-811d-8a5df1d26c80')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Central US","Slice":"E","Ring":"1","ScaleUnit":"000","RoleInstance":"CY4PEPF0000AC61"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["394e93ea-1c6b-40cf-811d-8a5df1d26c80"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"394e93ea-1c6b-40cf-811d-8a5df1d26c80","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/Microsoft.DataProtection/BackupVaults/cli-test-new-vault"],"appDisplayName":null,"appDescription":null,"appId":"26a7889c-6906-4374-be33-c808bb129fbb","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2022-06-15T05:46:50Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"cli-test-new-vault","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["26a7889c-6906-4374-be33-c808bb129fbb","https://identity.azure.net/HT8t4hSHVoap3UOpenoe80FOEJiDmbI89fdlEVus0uM="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null},"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"BA385C5115A735D4CCAF5630C8431763FE297F75","displayName":"CN=26a7889c-6906-4374-be33-c808bb129fbb","endDateTime":"2022-09-13T05:41:00Z","key":null,"keyId":"8ab7ac9a-eb52-427d-ad01-fbcb8f19471d","startDateTime":"2022-06-15T05:41:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[]}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Central US","Slice":"E","Ring":"1","ScaleUnit":"000","RoleInstance":"CY4PEPF0000AB2D"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Disk%20Restore%20Operator%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Disk Restore Operator","type":"BuiltInRole","description":"Provides
        permission to backup vault to perform disk restore.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Compute/disks/write","Microsoft.Compute/disks/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2020-12-15T12:18:31.8481619Z","updatedOn":"2021-11-11T20:14:56.7408912Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b50d9833-a0cb-478e-945f-707fcc997c13","type":"Microsoft.Authorization/roleDefinitions","name":"b50d9833-a0cb-478e-945f-707fcc997c13"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b50d9833-a0cb-478e-945f-707fcc997c13",
      "principalId": "394e93ea-1c6b-40cf-811d-8a5df1d26c80", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Authorization/roleAssignments/8ab7eece-e5e5-4476-b403-9d24127200e6?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b50d9833-a0cb-478e-945f-707fcc997c13","principalId":"394e93ea-1c6b-40cf-811d-8a5df1d26c80","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg","condition":null,"conditionVersion":null,"createdOn":"2022-06-15T05:47:43.5006098Z","updatedOn":"2022-06-15T05:47:44.3755638Z","createdBy":null,"updatedBy":"5095196a-def9-4146-8d92-e38f24b6e378","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Authorization/roleAssignments/8ab7eece-e5e5-4476-b403-9d24127200e6","type":"Microsoft.Authorization/roleAssignments","name":"8ab7eece-e5e5-4476-b403-9d24127200e6"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "centraluseuap", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/resourceGuards/cli-test-resource-guard?api-version=2022-04-01
  response:
    body:
      string: '{"location":"centraluseuap","properties":{"provisioningState":"Succeeded","resourceGuardOperations":[{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/delete","requestResourceType":"Microsoft.DataProtection/resourceGuards/deleteProtectedItemRequests"},{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/write","requestResourceType":"Microsoft.DataProtection/resourceGuards/updateProtectedItemRequests"},{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupPolicies/write","requestResourceType":"Microsoft.DataProtection/resourceGuards/updateProtectionPolicyRequests"},{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupResourceGuardProxies/delete","requestResourceType":"Microsoft.DataProtection/resourceGuards/deleteResourceGuardProxyRequests"},{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupSecurityPIN/action","requestResourceType":"Microsoft.DataProtection/resourceGuards/getBackupSecurityPINRequests"},{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupconfig/write","requestResourceType":"Microsoft.DataProtection/resourceGuards/disableSoftDeleteRequests"},{"vaultCriticalOperation":"Microsoft.DataProtection/backupVaults/backupInstances/delete","requestResourceType":"Microsoft.DataProtection/backupVaults/backupInstances/delete"},{"vaultCriticalOperation":"Microsoft.DataProtection/backupVaults/backupResourceGuardProxies/delete","requestResourceType":"Microsoft.DataProtection/backupVaults/backupResourceGuardProxies/delete"}],"vaultCriticalOperationExclusionList":[],"allowAutoApprovals":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/resourceGuards/cli-test-resource-guard","name":"cli-test-resource-guard","type":"Microsoft.DataProtection/resourceGuards"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/resourceGuards?api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"location":"centraluseuap","properties":{"provisioningState":"Succeeded","resourceGuardOperations":[{"vaultCriticalOperation":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "objectType":
      "BackupPolicy", "policyRules": [{"name": "BackupHourly", "objectType": "AzureBackupRule",
      "backupParameters": {"objectType": "AzureBackupParams", "backupType": "Incremental"},
      "dataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "trigger": {"objectType": "ScheduleBasedTriggerContext", "schedule": {"repeatingTimeIntervals":
      ["R/2020-04-05T13:00:00+00:00/PT4H"]}, "taggingCriteria": [{"isDefault": true,
      "taggingPriority": 99, "tagInfo": {"tagName": "Default"}}]}}, {"name": "Default",
      "objectType": "AzureRetentionRule", "isDefault": true, "lifecycles": [{"deleteAfter":
      {"duration": "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupPolicies/diskpolicy?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"backupParameters":{"backupType":"Increme[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "objectType":
      "BackupPolicy", "policyRules": [{"name": "BackupHourly", "objectType": "AzureBackupRule",
      "backupParameters": {"objectType": "AzureBackupParams", "backupType": "Incremental"},
      "dataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "trigger": {"objectType": "ScheduleBasedTriggerContext", "schedule": {"repeatingTimeIntervals":
      ["R/2021-05-02T05:30:00+00:00/PT6H"]}, "taggingCriteria": [{"isDefault": true,
      "taggingPriority": 99, "tagInfo": {"tagName": "Default"}}, {"criteria": [{"objectType":
      "ScheduleBasedBackupCriteria", "absoluteCriteria": ["FirstOfDay"]}], "isDefault":
      false, "taggingPriority": 25, "tagInfo": {"tagName": "Daily"}}]}}, {"name":
      "Default", "objectType": "AzureRetentionRule", "isDefault": true, "lifecycles":
      [{"deleteAfter": {"duration": "P7D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}]},
      {"name": "Daily", "objectType": "AzureRetentionRule", "isDefault": false, "lifecycles":
      [{"deleteAfter":[...]
- request:
    body: '{"backupInstance": {"dataSourceInfo": {"datasourceType": "Microsoft.Compute/disks",
      "objectType": "Datasource", "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new",
      "resourceLocation": "centraluseuap", "resourceName": "cli-test-disk-new", "resourceType":
      "Microsoft.Compute/disks", "resourceUri": ""}, "policyInfo": {"policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupPolicies/diskpolicy",
      "policyParameters": {"dataStoreParametersList": [{"objectType": "AzureOperationalStoreParameters",
      "dataStoreType": "OperationalStore", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg"}]}},
      "objectType": "BackupInstance"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/validateForBackup?api-version=2022-04-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==?api-version=2022-04-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==?api-version=2022-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==?api-version=2022-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==","name":"YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==","status":"Inprogress","startTime":"2022-06-15T05:48:03.5793353Z","endTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==?api-version=2022-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/operationStatus/YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==","name":"YzdjYjcyZDItMjM5OC00ZjU3LWJkM2EtODc0Y2RmODJmMjRkOzU1ZmM3ZjViLTg4NzMtNDRkYy05MzdkLWM2NTk3MGZlNDdmNA==","status":"Failed","error":{"additionalInfo":[{"type":"UserFacingError","info":{"message":"Could
        not perform the operation as Disk and Snapshot Data store Resource Group no
        longer exists. Or Azure Backup Service requires additional permissions on
        the Snapshot Data store Resource Group and Disk to do this operation.","recommendedAction":["Please
        create Resource Group and grant Backup Vault managed identity appropriate
        permissions on the Snapshot Data store Resource Group. Snapshot Data store
        Resource Group is the location where the disk snapshots are stored.If the
        disk is not deleted or moved, grant Backup Vault managed identity appropriate
        permissions on the Disk.  Refer documentation to understand which is the Resource
        Group, what permissions are required by the Backup Vault managed identity
        and how to provide it - https://aka.ms/diskbackupdoc-backup "],"code":"UserErrorDiskAndSnapshotRGOrMSIPermissionsNotPresent","target":"","isRetryable":false,"isUserError":false,"properties":{"ActivityId":"b873d2df-ec6e-11ec-8ee4-000d3a071c11"}}}],"code":"UserErrorDiskAndSnapshotRGOrMSIPermissionsNotPresent","message":"Could
        not perform the operation as Disk and Snapshot Data store Resource Group no
        longer exists. Or Azure Backup Service requires additional permissions on
        the Snapshot Data store Resource Group and Disk to do this operation."},"startTime":"2022-06-15T05:48:03.5793353Z","endTime":"2022-06-15T05:48:25Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefi[...]
- request:
    body: null
    headers:
    method: GET
[...]
