interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"properties":{"activityID":"4fe28749-6fbf-47fc-9bc5-a0a233045031-Ibz","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupPolicies/diskpolicy","dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete","vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","backupInstanceFriendlyName":"clitest-disk-persistent-bi-donotdelete","policyName":"diskpolicy","sourceResourceGroup":"clitest-dpp-rg","dataSourceSetName":null,"dataSourceName":"clitest-disk-persistent-bi-donotdelete","sourceDataStoreName":null,"sourceDataStoreType":null,"destinationDataStoreName":"OperationalTierStore","progressEnabled":false,"etag":"W/\"datetime''2023-06-16T04%3A42%3A26.8541435Z''\"","sourceSubscriptionID":"38304e13-357e-405e-9e9a-220351dcce8c","dataSourceLocation":"centraluseuap","startTime":"2023-06-16T04:38:49.5892462Z","endTime":"2023-06-16T04:42:26.4707964Z","dataSourceType":"Microsoft.Compute/disks","operationCategory":"Backup","operation":"Backup","status":"Completed","restoreType":null,"isUserTriggered":true,"rehydrationPriority":null,"supportedActions":[""],"duration":"00:03:36.8815502","progressUrl":null,"isCrossRegionRestore":null,"errorDetails":null,"extendedInfo":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/d83b2d9c-eee1-4e7e-9c63-9790cf0c9d6d","name":"d83b2d9c-eee1-4e7e-9c63-9790cf0c9d6d","type":"Microsoft.DataProtection/backupVaults/backupJobs"},{"properties":{"activityID":"1b78cd4b-498f-4462-a1a5-fa8fe67edae0","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e"[...]
- request:
    body: '{"subscriptions": ["38304e13-357e-405e-9e9a-220351dcce8c"], "query": "RecoveryServicesResources
      | where type =~ ''microsoft.dataprotection/backupvaults/backupjobs''| extend
      vaultName = properties.vaultName| extend status = properties.status| extend
      operation = case( tolower(properties.operationCategory) startswith ''backup''
      and properties.isUserTriggered == ''true'', strcat(''OnDemand'',properties.operationCategory),
      tolower(properties.operationCategory) startswith ''backup'' and properties.isUserTriggered
      == ''false'', strcat(''Scheduled'', properties.operationCategory), type =~ ''microsoft.dataprotection/backupVaults/backupJobs'',
      properties.operationCategory, ''Invalid'')| extend datasourceId = properties.dataSourceId
      | where properties.dataSourceType in~ (''Microsoft.Compute/disks'') | where
      datasourceId in~ (''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete'')",
      "options": {"$top": 1000, "$skip": 0, "resultFormat": "objectArray", "allowPartialScopes":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":9,"count":9,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/5999efa7-eee9-4775-b6e5-7ede6befbdc2","name":"5999efa7-eee9-4775-b6e5-7ede6befbdc2","type":"microsoft.dataprotection/backupvaults/backupjobs","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","kind":"","location":"global","resourceGroup":"clitest-dpp-rg","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","managedBy":"","sku":null,"plan":null,"properties":{"dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete","extendedInfo":{"additionalDetails":null,"recoveryDestination":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-restored","backupInstanceState":null,"targetRecoverPoint":null,"sourceRecoverPoint":{"recoveryPointTime":"2023-06-18T12:02:19.0070000Z","recoveryPointID":"6422eb4fe3744720b79ceef0d5ed2897"},"dataTransferredInBytes":null,"subTasks":[{"additionalDetails":{"DatasourceType":"Microsoft.Compute/disks","TaskId":"91723b8a-0e6d-11ee-8477-002b670b472e","DataTransferredInBytes":"0"},"taskId":1,"taskProgress":null,"taskStatus":"Completed","taskName":"Trigger
        Restore"}]},"dataSourceLocation":"centraluseuap","operationCategory":"Restore","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e","isUserTriggered":true,"dataSourceType":"Microsoft.Compute/disks","errorDetail[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/5999efa7-eee9-4775-b6e5-7ede6befbdc2?api-version=2023-01-01
  response:
    body:
      string: '{"properties":{"activityID":"91723b8a-0e6d-11ee-8477-002b670b472e","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","ba[...]
