interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints?$filter=&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"9f74dbca8c3841e087948e65d96da15c","recoveryPointTime":"2024-04-22T12:02:23.9136121Z","recoveryPointType":"Incremental","friendlyName":"9f74dbca8c3841e087948e65d96da15c","recoveryPointDataStoresDetails":[{"id":"38a3787d-2bf9-4bf1-91fd-7322e17163ce","type":"OperationalStore","creationTime":"2024-04-22T12:01:08.1968067Z","expiryTime":"2024-04-29T12:01:08.1968067Z","metaData":null,"visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638224851417049008","policyName":"diskpolicy","policyVersion":null,"expiryTime":"2024-04-29T12:01:08.1968067Z","recoveryPointState":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints/9f74dbca8c3841e087948e65d96da15c","name":"9f74dbca8c3841e087948e65d96da15c","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"},{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"e054c4ad718147fa82f870f1000af6f4","recoveryPointTime":"2024-04-21T12:02:40.7424797Z","recoveryPointType":"Incremental","friendlyName":"e054c4ad718147fa82f870f1000af6f4","recoveryPointDataStoresDetails":[{"id":"38a3787d-2bf9-4bf1-91fd-7322e17163ce","type":"OperationalStore","creationTime":"2024-04-21T12:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints/9f74dbca8c3841e087948e65d96da15c?api-version=2024-04-01
  response:
    body:
      string: '{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"9f74dbca8c3841e087948e65d96da15c","recoveryPointTime":"2024-04-22T12:02:23.9136121Z","recoveryPointType":"Incremental","friendlyName":"9f74dbca8c3841e087948e65d96da15c","recoveryPointDataStoresDetails":[{"id":"38a3787d-2bf9-4bf1-91fd-7322e17163ce","type":"OperationalStore","creationTime":"2024-04-22T12:01:08.1968067Z","expiryTime":"2024-04-29T12:01:08.1968067Z","metaData":"[{\"diskName\":\"clitest-disk-persistent-bi-donotdelete\",\"sizeBytes\":4294967296,\"diskSnapshotConsistency\":\"CrashConsistent\",\"subscriptionId\":\"38304e13-357e-405e-9e9a-220351dcce8c\",\"location\":\"centraluseuap\",\"resourceGroupName\":\"clitest-dpp-rg\",\"skuName\":\"StandardSSD_LRS\",\"osType\":\"\",\"managedBy\":null,\"snapshotSubscriptionId\":\"38304e13-357e-405e-9e9a-220351dcce8c\",\"snapshotRGName\":\"clitest-dpp-rg\",\"snapshotName\":\"AzureBackup_ef578737-4e98-44e1-a002-bc1c8bf0c953_2024-04-22T12-00-45.1694273\"}]","visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638224851417049008","policyName":"diskpolicy","policyVersion":null,"expiryTime":"2024-04-29T12:01:08.1968067Z","recoveryPointState":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints/9f74dbca8c3841e087948e65d96da15c","name":"9f74dbca8c3841e087948e65d96da15c","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '97'
    status:
      code: 200
      message: OK
version: 1
