interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"securitySettings": {"softDeleteSettings": {"retentionDurationInDays": 14.0,
      "state": "Off"}}, "storageSettings": [{"datastoreType": "VaultStore", "type":
      "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault?api-version=2024-04-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"b0e7f162-8350-45fa-8c70-4849e275ba90","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":14.0}},"secureScore":"None","bcdrSecurityLevel":"Poor","replicatedRegions":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault","name":"clitest-bkp-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/MjBiNjk3ZmUtMDFlNi00MmEwLTg2ZGMtZWRlOTk0NDcxNGU2OzNhNTg3NTg2LTM2M2MtNGZmMi05N2ZmLTU2ZGFiYWZjODdmNA==?api-version=2024-04-01&t=638507611757502800&c=MIIHKjCCBhKgAwIBAgITfATJ01XOFZSjauo1nQAABMnTVTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/MjBiNjk3ZmUtMDFlNi00MmEwLTg2ZGMtZWRlOTk0NDcxNGU2OzNhNTg3NTg2LTM2M2MtNGZmMi05N2ZmLTU2ZGFiYWZjODdmNA==?api-version=2024-04-01&t=638507611757502800&c=MIIHKjCCBhKgAwIBAgITfATJ01XOFZSjauo1nQAABMnTVTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZIm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault?api-version=2024-04-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"b0e7f162-8350-45fa-8c70-4849e275ba90","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":14.0}},"secureScore":"None","bcdrSecurityLevel":"Poor","replicatedRegions":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault","name":"clitest-bkp-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "name":
      "DiskPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2020-04-05T13:00:00+00:00/PT4H"]},
      "taggingCriteria": [{"isDefault": true, "tagInfo": {"id": "Default_", "tagName":
      "Default"}, "taggingPriority": 99}]}}, {"isDefault": true, "lifecycles": [{"deleteAfter":
      {"duration": "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/diskpolicy?api-version=2024-04-01
  response:
    body:
     [...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Storage/storageAccounts/blobServices"],
      "name": "BlobPolicy1", "objectType": "BackupPolicy", "policyRules": [{"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P30D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": []}], "name": "Default", "objectType": "AzureRetentionRule"},
      {"isDefault": true, "lifecycles": [{"deleteAfter": {"duration": "P7D", "objectType":
      "AbsoluteDeleteOption"}, "sourceDataStore": {"dataStoreType": "VaultStore",
      "objectType": "DataStoreInfoBase"}, "targetDataStoreCopySettings": []}], "name":
      "Default", "objectType": "AzureRetentionRule"}, {"backupParameters": {"backupType":
      "Discrete", "objectType": "AzureBackupParams"}, "dataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "name": "BackupDaily", "objectType":
      "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2023-06-28T07:30:00+00:00/P1D"],
      "timeZone": "UTC"}, "taggingCriteria": [{"isDefault": true, "tagInfo": {"id":
      "Default_", "tagName": "Default"}, "taggingPriority": 99}]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/blobpolicy?api-version=2024-04-01
  response:
    body:
      string: '[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.DBforPostgreSQL/servers/databases"],
      "name": "OssPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Full", "objectType": "AzureBackupParams"}, "dataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "name": "BackupWeekly", "objectType":
      "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeati[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.ContainerService/managedClusters"],
      "name": "AKSPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/akspolicy?api-version=2024-04-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '48'
    status:
      code: 200
      message: OK
version: 1
