interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"securitySettings": {"softDeleteSettings": {"state": "Off"}}, "storageSettings":
      [{"datastoreType": "VaultStore", "type": "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault?api-version=2023-05-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"53defc43-ce05-4bec-8989-9eab6d08d087","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":0.0}},"secureScore":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault","name":"clitest-bkp-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/M2Q0NGMyOTItMTg3OC00NjUzLWIxM2MtNmY3ODY4YzU3MjRkOzE3OTgxOGVlLThmMWMtNDIyOS1iYmRkLTQwYWRkZTBlOTFkZg==?api-version=2023-05-01
      content-type:
      - application/json
      x-ms-arm-resource-system-data:
      - '{"createdBy":"zubairabid@microsoft.com","createdByType":"User","createdAt":"2023-08-01T05:34:21.996965Z","lastModifiedBy":"zubairabid@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-01T05:34:21.996965Z"}'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/M2Q0NGMyOTItMTg3OC00NjUzLWIxM2MtNmY3ODY4YzU3MjRkOzE3OTgxOGVlLThmMWMtNDIyOS1iYmRkLTQwYWRkZTBlOTFkZg==?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/M2Q0NGMyOTItMTg3OC00NjUzLWIxM2MtNmY3ODY4YzU3MjRkOzE3OTgxOGVlLThmMWMtNDIyOS1iYmRkLTQwYWRkZTBlOTFkZg==","name":"M2Q0NGMyOTItMTg3OC00NjUzLWIxM2MtNmY3ODY4YzU3MjRkOzE3OTgxOGVlLThmMWMtNDIyOS1iYmRkLTQwYWRkZTBlOTFkZg==","status":"Inprogress","startTime":"2023-08-01T05:34:22.7098015Z","endTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '974'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "name":
      "DiskPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2021-05-02T05:30:00+00:00/PT6H"]},
      "taggingCriteria": [{"isDefault": true, "tagInfo": {"id": "Default_", "tagName":
      "Default"}, "taggingPriority": 99}, {"criteria": [{"absoluteCriteria": ["FirstOfDay"],
      "objectType": "ScheduleBasedBackupCriteria"}], "isDefault": false, "tagInfo":
      {"tagName": "Daily"}, "taggingPriority": 25}]}}, {"isDefault": true, "lifecycles":
      [{"deleteAfter": {"duration": "P7D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}, {"isDefault": false,
      "lifecycles": [{"deleteAfter": {"duration": "P12D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": null}], "name": "Daily", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/disk-policy?api-version=2023-05-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"backupParameters":{"backupType":"Increm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies?api-version=2023-05-01
  response:
    body:
      string: '{"value":[{"properties":{"policyRules":[{"backupParameters":{"backupType":"Incremental","objectType":"AzureBackupParams"},"trigger":{"schedule":{"repeatingTimeIntervals":["R/2021-05-02T05:30:00+00:00/PT6H"]},"taggingCriteria":[{"tagInfo":{"tagName":"Default","id":"Default_"},"taggingPriority":99,"isDefault":true},{"tagInfo":{"tagName":"Daily","id":"Daily_"},"taggingPriority":25,"isDefault":false,"criteria":[{"absoluteCriteria":["FirstOfDay"],"objectType":"ScheduleBasedBackupCriteria"}]}],"objectType":"Sc[...]
[...]
