interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"securitySettings": {"softDeleteSettings": {"state": "Off"}}, "storageSettings":
      [{"datastoreType": "VaultStore", "type": "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault?api-version=2023-05-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"9068e679-8a9a-4dff-8167-7f1880fcbccc","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":0.0}},"secureScore":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault","name":"clitest-bkp-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/ZGRhYzA1YjAtYjg4OS00YjVkLTk0YmMtYmZiYTYyYWNhODlmO2MyYWM1OTljLTBkYzYtNDJiYy1iNzcxLWFmMmJmNDE2MmYxNQ==?api-version=2023-05-01
      content-type:
      - application/json
      x-ms-arm-resource-system-data:
      - '{"createdBy":"zubairabid@microsoft.com","createdByType":"User","createdAt":"2023-08-01T05:33:32.5376993Z","lastModifiedBy":"zubairabid@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-01T05:33:32.5376993Z"}'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/ZGRhYzA1YjAtYjg4OS00YjVkLTk0YmMtYmZiYTYyYWNhODlmO2MyYWM1OTljLTBkYzYtNDJiYy1iNzcxLWFmMmJmNDE2MmYxNQ==?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/ZGRhYzA1YjAtYjg4OS00YjVkLTk0YmMtYmZiYTYyYWNhODlmO2MyYWM1OTljLTBkYzYtNDJiYy1iNzcxLWFmMmJmNDE2MmYxNQ==","name":"ZGRhYzA1YjAtYjg4OS00YjVkLTk0YmMtYmZiYTYyYWNhODlmO2MyYWM1OTljLTBkYzYtNDJiYy1iNzcxLWFmMmJmNDE2MmYxNQ==","status":"Inprogress","startTime":"2023-08-01T05:33:33.5004857Z","endTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '986'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "name":
      "DiskPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2020-04-05T13:00:00+00:00/PT4H"]},
      "taggingCriteria": [{"isDefault": true, "tagInfo": {"id": "Default_", "tagName":
      "Default"}, "taggingPriority": 99}]}}, {"isDefault": true, "lifecycles": [{"deleteAfter":
      {"duration": "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/diskpolicy?api-version=2023-05-01
  response:
    body:
     [...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Storage/storageAccounts/blobServices"],
      "name": "BlobPolicy1", "objectType": "BackupPolicy", "policyRules": [{"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P30D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.DBforPostgreSQL/servers/databases"],
      "name": "OssPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Full", "objectType": "AzureBackupParams"}, "dataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "name": "BackupWeekly", "objectType":
      "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2021-08-15T06:30:00+00:00/P1W"],
      "timeZone": "UTC"}, "taggingCriteria": [{"isDefault": true, "tagInfo": {"id":
      "Default_", "tagName": "Default"}, "taggingPriority": 99}]}}, {"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P3M", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "VaultStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": []}], "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/osspolicy?api-version=2023-05-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"backupParameters":{"backupType":"Full","o[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.ContainerService/managedClusters"],
      "name": "AKSPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/akspolicy?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
version: 1
