interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs?api-version=2023-11-01
  response:
    body:
      string: '{"value":[{"properties":{"activityID":"bcd22b91-68f7-4a84-8acc-9706090e50a1","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupPolicies/diskpolicy","dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete","vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","backupInstanceFriendlyName":"clitest-disk-persistent-bi-donotdelete","policyName":"diskpolicy","sourceResourceGroup":"clitest-dpp-rg","dataSourceSetName":null,"dataSourceName":"clitest-disk-persistent-bi-donotdelete","sourceDataStoreName":null,"sourceDataStoreType":null,"destinationDataStoreName":"OperationalTierStore","progressEnabled":false,"etag":"W/\"datetime''2024-02-12T12%3A03%3A12.9930423Z''\"","sourceSubscriptionID":"38304e13-357e-405e-9e9a-220351dcce8c","dataSourceLocation":"centraluseuap","startTime":"2024-02-12T12:00:04.3867576Z","endTime":"2024-02-12T12:03:12.7033888Z","dataSourceType":"Microsoft.Compute/disks","operationCategory":"Backup","operation":"Backup","status":"Completed","restoreType":null,"isUserTriggered":false,"rehydrationPriority":null,"supportedActions":[],"duration":"00:03:08.3166312","progressUrl":null,"isCrossRegionRestore":null,"errorDetails":null,"extendedInfo":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/4de7d869-7aa9-4ad1-b89e-fb8876c82ad3","name":"4de7d869-7aa9-4ad1-b89e-fb8876c82ad3","type":"Microsoft.DataProtection/backupVaults/backupJobs"},{"properties":{"activityID":"a71ca434-f589-4d1c-9ef6-9c067c53138d","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsavltdonotdelete-clitestsavltdonotdelete-65176b0a-64ad-4247-9866-19204633c0d5","policyId":"/subscriptions/00[...]
- request:
    body: '{"subscriptions": ["38304e13-357e-405e-9e9a-220351dcce8c"], "query": "RecoveryServicesResources
      | where type =~ ''microsoft.dataprotection/backupvaults/backupjobs''| extend
      vaultName = properties.vaultName| extend status = properties.status| extend
      operation = case( tolower(properties.operationCategory) startswith ''backup''
      and properties.isUserTriggered == ''true'', strcat(''OnDemand'',properties.operationCategory),
      tolower(properties.operationCategory) startswith ''backup'' and properties.isUserTriggered
      == ''false'', strcat(''Scheduled'', properties.operationCategory), type =~ ''microsoft.dataprotection/backupVaults/backupJobs'',
      properties.operationCategory, ''Invalid'')| extend datasourceId = properties.dataSourceId
      | where properties.dataSourceType in~ (''Microsoft.Compute/disks'') | where
      datasourceId in~ (''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete'')",
      "options": {"$top": 1000, "$skip": 0, "resultFormat": "objectArray", "allowPartialScopes":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":19,"count":19,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/099e3197-1df1-4e40-bf5f-361a47884d0d","name":"099e3197-1df1-4e40-bf5f-361a47884d0d","type":"microsoft.dataprotection/backupvaults/backupjobs","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","kind":"","location":"","resourceGroup":"clitest-dpp-rg","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","managedBy":"","sku":null,"plan":null,"properties":{"dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete","dataSourceLocation":"centraluseuap","dataSourceType":"Microsoft.Compute/disks","operationCategory":"Backup","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e","extendedInfo":{"additionalDetails":{"RetentionTag":"Default"},"dataTransferredInBytes":null,"recoveryDestination":null,"backupInstanceState":null,"targetRecoverPoint":{"recoveryPointTime":"0001-01-01T00:00:00.0000000Z","recoveryPointID":"a8e0314234134b4ab215df46ef19be38"},"sourceRecoverPoint":null,"warningDetails":null,"subTasks":[{"additionalDetails":{"OriginalDatasourceSizeInBytes":"4294967296","DatasourceType":"Microsoft.Compute/disks","TaskId":"5b614172-8a17-4adf-be16-434e406332b3"},"taskProgress":null,"taskStatus":"Completed","taskId":1,"taskName":"Trigger
        Backup"}]},"isUserTriggered":false,"errorDetails":null,"startTime":"2024-02-15T12:00:11.6559193Z","operation":"Backup","duration":"00:03:11.0756128","endTime":"2024-02-15T12:03:22.7315321Z","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupPolicies/diskpolicy","status":"Completed","policyName":"diskpolicy","backupInstanceFriendlyName":"clitest-disk-persistent-bi-donotdelete","destinationDataStoreName":"OperationalTierStore","isCrossRegionRestore":null,"sourceSubscriptionID":"38304e13-357e-405e-9e9a-220351dcce8c","sourceDataStoreType":null,"sourceDataStoreName":null,"sourceResourceGroup":"clitest-dpp-rg","rehydrationPriority":null,"dataSourceSetName":null,"supportedActions":[],"progressEnabled":false,"subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","dataSourceName":"clitest-disk-persistent-bi-donotdelete","restoreType":null,"progressUrl":null,"activityID":"5b614172-8a17-4adf-be16-434e406332b3","vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","etag":"W/\"datetime''2024-02-15T12%3A03%3A23.0139413Z''\""},"tags":null,"identity":null,"zones":null,"extendedLocation":null,"vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","status":"Completed","operation":"ScheduledBackup","datasourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/1ee1ef21-3fbd-4889-8c61-b65df89af173","name":"1ee1ef21-3fbd-4889-8c61-b65df89af173","type":"microsoft.dataprotection/backupvaults/backupjobs","tenantI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/099e3197-1df1-4e40-bf5f-361a47884d0d?api-version=2023-11-01
  response:
    body:
      string: '{"properties":{"activityID":"5b614172-8a17-4adf-be16-434e406332b3","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","ba[...]
- request:
    body: '{"subscriptions": ["38304e13-357e-405e-9e9a-220351dcce8c"], "query": "resources
      | where type =~ ''microsoft.dataprotection/backupvaults'' | where resourceGroup
      in~ (''clitest-dpp-rg'') | where name in~ (''clitest-bkp-vault-crr-donotdelete'')",
      "options": {"$top": 1000, "$skip": 0, "resultFormat": "objectArray", "allowPartialScopes":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":1,"count":1,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/BackupVaults/clitest-bkp-vault-crr-donotdelete","name":"clitest-bkp-vault-crr-donotdelete","type":"microsoft.dataprotection/backupvaults","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","kind":"","location":"eastus2euap","resourceGroup":"clitest-dpp-rg","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","managedBy":"","sku":null,"plan":null,"properties":{"provisioningState":"Succeeded","securitySettings":{"softDeleteSettings":{"state":"On","retentionDurationInDays":14.0}},"secureScore":"None","isVaultProtectedByResourceGuard":false,"replicatedRegions":["centraluseuap"],"storageSettings":[{"type":"GeoRedundant","datastoreType":"VaultStore"}],"featureSettings":{"crossRegionRestoreSettings":{"state":"Enabled"}}},"tags":null,"identity":{"principalId":"39ad4895-eb8c-46f2-bf6f-3e0fc9767ac3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"zones":null,"extendedLocation":null}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '14'
      x-ms-resource-graph-request-duration:
      - '0:00:00:00.2082224'
      x-ms-user-quota-remaining:
      - '14'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceBackupVaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/BackupVaults/clitest-bkp-vault-crr-donotdelete",
      "sourceRegion": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/locations/centraluseuap/fetchCrossRegionRestoreJobs?api-version=2023-11-01
  response:
    body:
      string: '{"value":[{"properties":{"activityID":"f08aee37-d470-11ee-8d34-60a5e243551b","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupIn[...]
[...]
- request:
    body: '{"jobId": "2e098dd4-7aaa-4792-9120-c253dcaa4924", "sourceBackupVaultId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/BackupVaults/clitest-bkp-vault-crr-donotdelete",
      "sourceRegion": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtect[...]
