interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-aks-donotdelete/backupInstances/clitest-cluster1-donotdelete-clitest-cluster1-donotdelete-bd3ae6fd-0d5f-4f76-85b4-8d7f0fe7006c?api-version=2025-07-01
  response:
    body:
      string: '{"properties":{"friendlyName":"clitest-cluster1-donotdelete\\clitestsabidonotdelete","dataSourceInfo":{"resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-clitest-rg/providers/Microsoft.ContainerService/managedClusters/clitest-cluster1-donotdelete","resourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-clitest-rg/providers/Microsoft.ContainerService/managedClusters/clitest-cluster1-donotdelete","datasourceType":"Microsoft.ContainerService/managedClusters","resourceName":"clitest-cluster1-donotdelete","resourceType":"Microsoft.ContainerService/managedClusters","resourceLocation":"eastus2euap","resourceProperties":{"objectType":null},"objectType":"Datasource"},"dataSourceSetInfo":{"resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-clitest-rg/providers/Microsoft.ContainerService/managedClusters/clitest-cluster1-donotdelete","resourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-clitest-rg/providers/Microsoft.ContainerService/managedClusters/clitest-cluster1-donotdelete","datasourceType":"Microsoft.ContainerService/managedClusters","resourceName":"clitest-cluster1-donotdelete","resourceType":"Microsoft.ContainerService/managedClusters","resourceLocation":"eastus2euap","objectType":"DatasourceSet"},"policyInfo":{"policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-aks-donotdelete/backupPolicies/akspolicy","policyVersion":"","policyParameters":{"dataStoreParametersList":[{"dataStoreType":"OperationalStore","objectType":"AzureOperationalStoreParameters","resourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg"}],"backupDatasourceParametersList":[{"objectType":"KubernetesClusterBackupDatasourceParameters","excludedResourceTypes":["ResourceX"],"includeClusterScopeResources":false,"includedNamespaces":["nsA","nsB"],"labelSelectors":["app=web"],"snapshotVolumes":false,"excludedNamespaces":null,"includedResourceTypes":null,"includedVolumeTypes":null,"backupHookReferences":null}]}},"protectionStatus":{"status":"ProtectionConfigured"},"currentProtectionState":"ProtectionConfigured","provisioningState":"Succeeded","identityDetails":{"useSystemAssignedIdentity":true},"objectType":"BackupInstance"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-aks-donotdelete/backupInstances/clitest-cluster1-donotdelete-clitest-cluster1-donotdelete-bd3ae6fd-0d5f-4f76-85b4-8d7f0fe7006c","name":"clitest-cluster1-donotdelete-clitest-cluster1-donotdelete-bd3ae6fd-0d5f-4f76-85b4-8d7f0fe7006c","type":"Microsoft.DataProtection/backupVaults/backupInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dataSourceInfo": {"datasourceType": "Microsoft.ContainerService/managedClusters",
      "objectType": "Datasource", "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-clitest-rg/providers/Microsoft.ContainerService/managedClusters/clitest-cluster1-donotdelete",
      "resourceLocation": "eastus2euap", "resourceName": "clitest-cluster1-donotdelete",
      "resourceType": "Microsoft.ContainerService/managedClusters", "resour[...]
[...]
