interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs?api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"properties":{"activityID":"ba802aad-e83b-4ec0-9724-d7940b5f93e0","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupPolicies/diskpolicy","dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete","vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","backupInstanceFriendlyName":"clitest-disk-persistent-bi-donotdelete","policyName":"diskpolicy","sourceResourceGroup":"clitest-dpp-rg","dataSourceSetName":null,"dataSourceName":"clitest-disk-persistent-bi-donotdelete","sourceDataStoreName":null,"sourceDataStoreType":null,"destinationDataStoreName":"OperationalTierStore","progressEnabled":false,"etag":"W/\"datetime''2025-10-21T12%3A03%3A58.4474598Z''\"","sourceSubscriptionID":"38304e13-357e-405e-9e9a-220351dcce8c","dataSourceLocation":"centraluseuap","startTime":"2025-10-21T12:00:08.9889535Z","endTime":"2025-10-21T12:03:58.1597928Z","dataSourceType":"Microsoft.Compute/disks","operationCategory":"Backup","operation":"Backup","status":"Completed","restoreType":null,"isUserTriggered":false,"rehydrationPriority":null,"supportedActions":[],"duration":"00:03:49.1708393","progressUrl":null,"isCrossRegionRestore":null,"errorDetails":null,"extendedInfo":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/6e24aef9-5b8b-4df5-8d9b-9075abb77300","name":"6e24aef9-5b8b-4df5-8d9b-9075abb77300","type":"Microsoft.DataProtection/backupVaults/backupJobs"},{"properties":{"activityID":"3ed13b8a-aec5-11f0-9c71-7c1e52228b42","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitestsabidonotdelete-clitestsabidonotdelete-887c3538-0bfc-11ee-acd3-002b670b472e","policyId":"/subscriptions/0000[...]
- request:
    body: '{"subscriptions": ["38304e13-357e-405e-9e9a-220351dcce8c"], "query": "RecoveryServicesResources
      | where type =~ ''microsoft.dataprotection/backupvaults/backupjobs''| extend
      vaultName = properties.vaultName| extend status = properties.status| extend
      operation = case( tolower(properties.operationCategory) startswith ''backup''
      and properties.isUserTriggered == ''true'', strcat(''OnDemand'',properties.operationCategory),
      tolower(properties.operationCategory) startswith ''backup'' and properties.isUserTriggered
      == ''false'', strcat(''Scheduled'', properties.operationCategory), type =~ ''microsoft.dataprotection/backupVaults/backupJobs'',
      properties.operationCategory, ''Invalid'')| extend datasourceId = properties.dataSourceId
      | where properties.dataSourceType in~ (''Microsoft.Compute/disks'') | where
      datasourceId in~ (''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete'')",
      "options": {"$top": 1000, "$skip": 0, "resultFormat": "objectArray", "allowPartialScopes":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":37,"count":37,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/02cd9e1b-535b-43f2-b770-303fea2053e5","name":"02cd9e1b-535b-43f2-b770-303fea2053e5","type":"microsoft.dataprotection/backupvaults/backupjobs","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","kind":"","location":"","resourceGroup":"clitest-dpp-rg","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","managedBy":"","sku":null,"plan":null,"properties":{"dataSourceType":"Microsoft.Compute/disks","dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete","dataSourceLocation":"centraluseuap","operationCategory":"Backup","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e","isUserTriggered":false,"extendedInfo":{"additionalDetails":{"RetentionTag":"Default"},"dataTransferredInBytes":null,"recoveryDestination":null,"backupInstanceState":null,"sourceRecoverPoint":null,"targetRecoverPoint":{"recoveryPointTime":"0001-01-01T00:00:00Z","recoveryPointID":"65426193161848d794770c4f47998b99"},"warningDetails":null,"subTasks":[{"additionalDetails":{"OriginalDatasourceSizeInBytes":"4294967296","DatasourceType":"Microsoft.Compute/disks","TaskId":"0d2c6597-1726-43fa-b305-bda1325ed72d"},"taskProgress":null,"taskStatus":"Completed","taskName":"Trigger
        Backup","taskId":1}]},"errorDetails":null,"startTime":"2025-10-22T12:00:03.3125093Z","operation":"Backup","duration":"00:03:39.6777898","endTime":"2025-10-22T12:03:42.9902991Z","status":"Completed","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupPolicies/diskpolicy","policyName":"diskpolicy","backupInstanceFriendlyName":"clitest-disk-persistent-bi-donotdelete","destinationDataStoreName":"OperationalTierStore","isCrossRegionRestore":null,"sourceSubscriptionID":"38304e13-357e-405e-9e9a-220351dcce8c","rehydrationPriority":null,"sourceDataStoreType":null,"sourceDataStoreName":null,"sourceResourceGroup":"clitest-dpp-rg","dataSourceSetName":null,"supportedActions":[],"progressEnabled":false,"dataSourceName":"clitest-disk-persistent-bi-donotdelete","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","restoreType":null,"progressUrl":null,"activityID":"0d2c6597-1726-43fa-b305-bda1325ed72d","vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","etag":"W/\"datetime''2025-10-22T12%3A03%3A43.3390466Z''\""},"tags":null,"identity":null,"zones":null,"extendedLocation":null,"vaultName":"clitest-bkp-vault-persistent-bi-donotdelete","status":"Completed","operation":"ScheduledBackup","datasourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.Compute/disks/clitest-disk-persistent-bi-donotdelete"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/0593840c-a2f9-43e9-8305-fcca4208b8f7","name":"0593840c-a2f9-43e9-8305-fcca4208b8f7","type":"microsoft.dataprotection/backupvaults/backupjobs","tenantI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupJobs/02cd9e1b-535b-43f2-b770-303fea2053e5?api-version=2025-07-01
  response:
    body:
      string: '{"properties":{"activityID":"0d2c6597-1726-43fa-b305-bda1325ed72d","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","ba[...]
