interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"securitySettings": {"softDeleteSettings": {"retentionDurationInDays": 14.0,
      "state": "Off"}}, "storageSettings": [{"datastoreType": "VaultStore", "type":
      "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault?api-version=2023-05-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"359c8851-2f0f-46ba-b0f4-cc2a99b56ccf","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":14.0}},"secureScore":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault","name":"clitest-bkp-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/NDVkYTRhNzMtNmYzYS00YWVhLTg3OTMtZGQ1MWNkNGFlODQwOzJiYTc1NzFjLTYyYjMtNDg1MC05NzJiLWFiODAyMzgyZGVmOA==?api-version=2023-05-01
      content-type:
      - application/json
      x-ms-arm-resource-system-data:
      - '{"createdBy":"zubairabid@microsoft.com","createdByType":"User","createdAt":"2023-09-26T05:12:55.8542068Z","lastModifiedBy":"zubairabid@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-26T05:12:55.8542068Z"}'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/NDVkYTRhNzMtNmYzYS00YWVhLTg3OTMtZGQ1MWNkNGFlODQwOzJiYTc1NzFjLTYyYjMtNDg1MC05NzJiLWFiODAyMzgyZGVmOA==?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/operationStatus/NDVkYTRhNzMtNmYzYS00YWVhLTg3OTMtZGQ1MWNkNGFlODQwOzJiYTc1NzFjLTYyYjMtNDg1MC05NzJiLWFiODAyMzgyZGVmOA==","name":"NDVkYTRhNzMtNmYzYS00YWVhLTg3OTMtZGQ1MWNkNGFlODQwOzJiYTc1NzFjLTYyYjMtNDg1MC05NzJiLWFiODAyMzgyZGVmOA==","status":"Inprogress","startTime":"2023-09-26T05:12:56.6422286Z","endTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '973'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "name":
      "DiskPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2020-04-05T13:00:00+00:00/PT4H"]},
      "taggingCriteria": [{"isDefault": true, "tagInfo": {"id": "Default_", "tagName":
      "Default"}, "taggingPriority": 99}]}}, {"isDefault": true, "lifecycles": [{"deleteAfter":
      {"duration": "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/diskpolicy?api-version=2023-05-01
  response:
    body:
     [...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Storage/storageAccounts/blobServices"],
      "name": "BlobPolicy1", "objectType": "BackupPolicy", "policyRules": [{"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P30D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": []}], "name": "Default", "objectType": "AzureRetentionRule"},
      {"isDefault": true, "lifecycles": [{"deleteAfter": {"duration": "P7D", "objectType":
      "AbsoluteDeleteOption"}, "sourceDataStore": {"dataStoreType": "VaultStore",
      "objectType": "DataStoreInfoBase"}, "targetDataStoreCopySettings": []}], "name":
      "Default", "objectType": "AzureRetentionRule"}, {"backupParameters": {"backupType":
      "Discrete", "objectType": "AzureBackupParams"}, "dataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "name": "BackupDaily", "objectType":
      "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2023-06-28T07:30:00+00:00/P1D"],
      "timeZone": "UTC"}, "taggingCriteria": [{"isDefault": true, "tagInfo": {"id":
      "Default_", "tagName": "Default"}, "taggingPriority": 99}]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/blobpolicy?api-version=2023-05-01
  response:
    body:
      string: '[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.DBforPostgreSQL/servers/databases"],
      "name": "OssPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Full", "objectType": "AzureBackupParams"}, "dataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "name": "BackupWeekly", "objectType":
      "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeati[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.ContainerService/managedClusters"],
      "name": "AKSPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-backuppolicy-000001/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault/backupPolicies/akspolicy?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
version: 1
