interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus", "properties":
      {"securitySettings": {"softDeleteSettings": {"state": "Off"}}, "storageSettings":
      [{"datastoreType": "VaultStore", "type": "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault?api-version=2022-12-01
  response:
    body:
      string: '{"location":"eastus","identity":{"type":"SystemAssigned","principalId":"334e45f9-8222-478a-9f0a-ecdc947727be","tenantId":"1b33ee0e-49fa-4f21-ad37-e7fa300cf2a6"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":0.0}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault","name":"cli-test-backup-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault/operationStatus/MDkwMGZmNmItMTdlMC00ZDkzLTkwNTAtMTcwMTRkZjYzMWZhO2I2NThkNDBjLWRmMDctNDE3Yi1hMzAyLTY3OGIyZjliMWE2NQ==?api-version=2022-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-arm-resource-system-data:
      - '{"createdBy":"vishesh.r.patel@gmail.com","createdByType":"User","createdAt":"2023-06-13T05:06:50.8870829Z","lastModifiedBy":"vishesh.r.patel@gmail.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-13T05:06:50.8870829Z"}'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault/operationStatus/MDkwMGZmNmItMTdlMC00ZDkzLTkwNTAtMTcwMTRkZjYzMWZhO2I2NThkNDBjLWRmMDctNDE3Yi1hMzAyLTY3OGIyZjliMWE2NQ==?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault/operationStatus/MDkwMGZmNmItMTdlMC00ZDkzLTkwNTAtMTcwMTRkZjYzMWZhO2I2NThkNDBjLWRmMDctNDE3Yi1hMzAyLTY3OGIyZjliMWE2NQ==","name":"MDkwMGZmNmItMTdlMC00ZDkzLTkwNTAtMTcwMTRkZjYzMWZhO2I2NThkNDBjLWRmMDctNDE3Yi1hMzAyLTY3OGIyZjliMWE2NQ==","status":"Succeeded","startTime":"2023-06-13T05:06:53.201486Z","endTime":"2023-06-13T05:06:54Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "name":
      "DiskPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2020-04-05T13:00:00+00:00/PT4H"]},
      "taggingCriteria": [{"isDefault": true, "tagInfo": {"id": "Default_", "tagName":
      "Default"}, "taggingPriority": 99}]}}, {"isDefault": true, "lifecycles": [{"deleteAfter":
      {"duration": "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault/backupPolicies/diskPolicy?api-version=2023-01-01
  response:
 [...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Storage/storageAccounts/blobServices"],
      "name": "BlobPolicy1", "objectType": "BackupPolicy", "policyRules": [{"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P30D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}],
      "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.DBforPostgreSQL/servers/databases"],
      "name": "OssPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Full", "objectType": "AzureBackupParams"}, "dataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "name": "BackupWeekly", "objectType":
      "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2021-08-15T06:30:00+00:00/P1W"],
      "timeZone": "UTC"}, "taggingCriteria": [{"isDefault": true, "tagInfo": {"id":
      "Default_", "tagName": "Default"}, "taggingPriority": 99}]}}, {"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P3M", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "VaultStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": []}], "name": "Default", "objectType": "AzureRetentionRule"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault/backupPolicies/ossPolicy?api-version=2023-01-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"backupParameters":{"backupT[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.ContainerService/managedClusters"],
      "name": "AKSPolicy1", "objectType": "BackupPolicy", "policyRules": [{"backupParameters":
      {"backupType": "Incremental", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupHourly", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestdataprotection_backuppolicy_000001/providers/Microsoft.DataProtection/backupVaults/cli-test-backup-vault/backupPolicies/aksPolicy?api-version=2023-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
version: 1
