interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupInstances/cosmos-nosql-contin-04630249-cosmos-nosql-contin-04630249-faec6818-0720-11ec-bd1b-c8f750f92764/recoveryPoints?$filter=&api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"4c5b2bdf58a54ece9cc20117888521f1","recoveryPointTime":"2026-02-10T10:26:20.0000000Z","recoveryPointType":"Full","friendlyName":"4c5b2bdf58a54ece9cc20117888521f1","recoveryPointDataStoresDetails":[{"id":"e78ef23b-5b7e-4675-b681-df1bc485dbfe","type":"VaultStore","creationTime":"2026-02-10T10:31:26.6915225Z","expiryTime":null,"metaData":null,"visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"default","retentionTagVersion":"639063143530565243","policyName":"cosmosdbpolicy","policyVersion":null,"expiryTime":null,"recoveryPointState":"Completed"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupInstances/cosmos-nosql-contin-04630249-cosmos-nosql-contin-04630249-faec6818-0720-11ec-bd1b-c8f750f92764/recoveryPoints/4c5b2bdf58a54ece9cc20117888521f1","name":"4c5b2bdf58a54ece9cc20117888521f1","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"},{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"5e6a0eac5e3a46d18db80d4bcb7e52b2","recoveryPointTime":"2026-02-10T10:16:32.0000000Z","recoveryPointType":"Full","friendlyName":"5e6a0eac5e3a46d18db80d4bcb7e52b2","recoveryPointDataStoresDetails":[{"id":"e78ef23b-5b7e-4675-b681-df1bc485dbfe","type":"VaultStore","creationTime":"2026-02-10T10:21:35.9376063[...]
- request:
    body: '{"objectType": "AzureBackupRecoveryPointBasedRestoreRequest", "recoveryPointId":
      "4c5b2bdf58a54ece9cc20117888521f1", "restoreTargetInfo": {"datasourceInfo":
      {"datasourceType": "Microsoft.DocumentDB/databaseAccounts", "objectType": "Datasource",
      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DocumentDB/databaseAccounts/cosmos-nosql-contin-04630249",
      "resourceLocation": "northcentralus", "resourceName": "cosmos-nosql-contin-04630249",
      "resourceType": "Microsoft.DocumentDB/databaseAccounts", "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DocumentDB/databaseAccounts/cosmos-nosql-contin-04630249"},
      "objectType": "RestoreTargetInfo", "recoveryOption": "FailIfExists", "restoreLocation":
      "northcentralus"}, "sourceDataStoreType": "VaultStore", "sourceResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DocumentDB/databaseAccounts/cosmos-nosql-contin-04630249"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupInstances/cosmos-nosql-contin-04630249-cosmos-nosql-contin-04630249-faec6818-0720-11ec-bd1b-c8f750f92764/restore?api-version=2025-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/operationStatus/MTZhMGY1MGYtY2EwMi00ZjMzLWI5ZmMtODA0M2I3ZTJjMzBjOzZmZmZkOGMxLWM3ZGQtNGI2Zi04OGIyLTMxZDNhNWE3NGYyOQ==?api-version=2025-07-01&t=639063221559562118&c=MIIHhzCCBm-gAwIBAgITfAolVBK_oQJzfmOSuwAACiVUEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/operationStatus/MTZhMGY1MGYtY2EwMi00ZjMzLWI5ZmMtODA0M2I3ZTJjMzBjOzZmZmZkOGMxLWM3ZGQtNGI2Zi04OGIyLTMxZDNhNWE3NGYyOQ==?api-version=2025-07-01&t=639063221559562118&c=MIIHhzCCBm-gAwIBAgITfAolVBK_oQJzfmOSuwAACiVUEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/northcentralus/operationResults/MTZhMGY1MGYtY2EwMi00ZjMzLWI5ZmMtODA0M2I3ZTJjMzBjOzZmZmZkOGMxLWM3ZGQtNGI2Zi04OGIyLTMxZDNhNWE3NGYyOQ==?api-version=2025-07-01&t=639063221559718365&c=MIIHhzCCBm-gAwIBAgITfAolVBK_oQJzfmOSuwAACiVUEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupJobs/daffb96a-ed1f-4718-b8b4-4eb462b12913?api-version=2025-07-01
  response:
    body:
      string: '{"properties":{"activityID":"51594175-0679-11f1-b18c-7ced8d285cbf","subscriptionId":"80be3961-0521-4a0a-8570-5cd5a4e2f98c","backupInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupInstances/cosmos-nosql-contin-04630249-cosmos-nosql-contin-04630249-faec6818-0720-11ec-bd1b-c8f750f92764","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupPolicies/cosmosdbpolicy","dataSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DocumentDB/databaseAccounts/cosmos-nosql-contin-04630249","vaultName":"shasha-cosmosvault","backupInstanceFriendlyName":"cosmos-nosql-contin-04630249","policyName":"cosmosdbpolicy","sourceResourceGroup":"cosmos-bugbash-rg13","dataSourceSetName":"cosmos-nosql-contin-04630249","dataSourceName":"cosmos-nosql-contin-04630249","sourceDataStoreName":null,"sourceDataStoreType":"VaultStore","destinationDataStoreName":null,"progressEnabled":false,"etag":"W/\"datetime''2026-02-10T12%3A09%3A16.7292325Z''\"","sourceSubscriptionID":"80be3961-0521-4a0a-8570-5cd5a4e2f98c","dataSourceLocation":"northcentralus","startTime":"2026-02-10T12:09:16.3427359Z","endTime":null,"dataSourceType":"Microsoft.DocumentDB/databaseAccounts","operationCategory":"Restore","operation":"Restore","status":"InProgress","restoreType":null,"isUserTriggered":true,"rehydrationPriority":null,"supportedActions":[""],"duration":"PT0S","progressUrl":null,"isCrossRegionRestore":null,"errorDetails":null,"extendedInfo":{"backupInstanceState":null,"dataTransferredInBytes":null,"targetRecoverPoint":null,"sourceRecoverPoint":{"recoveryPointID":"4c5b2bdf58a54ece9cc20117888521f1","recoveryPointTime":"2026-02-10T10:26:20Z"},"recoveryDestination":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DocumentDB/databaseAccounts/cosmos-nosql-contin-04630249","subTasks":[{"taskId":1,"taskName":"Trigger
        Restore","taskStatus":"InProgress","taskProgress":null,"additionalDetails":null}],"additionalDetails":null,"warningDetails":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmos-bugbash-rg13/providers/Microsoft.DataProtection/backupVaults/shasha-cosmosvault/backupJobs/daffb96a-ed1f-4718-b8b4-4eb462b12913","name":"daffb96a-ed1f-4718-b8b4-4eb462b12913","type":"Microsoft.DataProtection/backupVaults/backupJobs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
    status:
      code: 200
      message: OK
[...]
