interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"storageSettings": [{"datastoreType": "VaultStore", "type": "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault?api-version=2021-07-01
  response:
    body:
      string: '{"location":"centraluseuap","properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault","name":"cli-test-new-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2Y5MDdlMGIyLWViNDYtNGI4Yi04OTIwLWE4YTdmZmI4MDliMw==?api-version=2021-07-01
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2Y5MDdlMGIyLWViNDYtNGI4Yi04OTIwLWE4YTdmZmI4MDliMw==?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2Y5MDdlMGIyLWViNDYtNGI4Yi04OTIwLWE4YTdmZmI4MDliMw==","name":"OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2Y5MDdlMGIyLWViNDYtNGI4Yi04OTIwLWE4YTdmZmI4MDliMw==","status":"Succeeded","startTime":"2021-08-30T06:28:11.4746678Z","endTime":"2021-08-30T06:28:12Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault?api-version=2021-07-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"0242778c-29df-4863-ac18-2fb8fd004135","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault","name":"cli-test-new-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg","name":"sarath-rg","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-disk-new\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n
        \ \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\":
        {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 4,\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/e6c0bba8-46e5-4aa9-a11e-102fcc7a097d?p=814d4482-f746-4961-be2b-b822c13856d2&api-version=2020-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/e6c0bba8-46e5-4aa9-a11e-102fcc7a097d?p=814d4482-f746-4961-be2b-b822c13856d2&monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/e6c0bba8-46e5-4aa9-a11e-102fcc7a097d?p=814d4482-f746-4961-be2b-b822c13856d2&api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-08-30T06:28:35.5974379+00:00\",\r\n  \"endTime\":
        \"2021-08-30T06:28:35.6911392+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"cli-test-disk-new\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 4,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"timeCreated\":
        \"2021-08-30T06:28:35.5974379+00:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\": 4294967296,\r\n
        \   \"uniqueId\": \"065c1842-f0d8-40e5-a794-95099dc47a0c\",\r\n    \"tier\":
        \"P1\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"e6c0bba8-46e5-4aa9-a11e-102fcc7a097d\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399996
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%270242778c-29df-4863-ac18-2fb8fd004135%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1651416'
      ocp-aad-diagnostics-server-name:
      - sOvSnp8HOoBct0p8wk+ECyoW6FBpZGFCcLSw5vVfIsY=
      ocp-aad-session-key:
      - Wn-35TGPqkpuye-DW-dAfqWkKuRTwIwQ3qwhwOIGQtLiUYJWierntWSJ2WC-SQFg9X5fqZMTJkj--yJfMJC9vd-iBx1nw_HzTNVr7EPnuxGkjPREKhactYj8BC_u-VpR.Z6xgigMDOjXDtwMQaZkIqduaMhnqgs5gpb6ZGLzHiQc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["0242778c-29df-4863-ac18-2fb8fd004135"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"0242778c-29df-4863-ac18-2fb8fd004135","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/Microsoft.DataProtection/BackupVaults/cli-test-new-vault"],"appDisplayName":null,"appId":"ecd61145-2c85-4d17-9cde-c043f078f0cc","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-test-new-vault","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"027A4349D5807BDCEA503EB6964A01F4F46141F8","endDate":"2021-11-28T06:23:00Z","keyId":"dbeeebf4-4b63-4eb4-8b61-59905a8b74e4","startDate":"2021-08-30T06:23:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["ecd61145-2c85-4d17-9cde-c043f078f0cc","https://identity.azure.net/yHvRErNNmOMZ4EezrAqFKc6Ca0cDdhCvjeK23cGv1hE="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5928554'
      ocp-aad-diagnostics-server-name:
      - Ru44lgPzhkKhC1RQPquTemsgj4/zegvtOalkHca2sMA=
      ocp-aad-session-key:
      - jw5jZRfP0MP9GlsSR8xrgXCK0SjYPw5AqLCdy8fubrwijEnvF1P0iq2lpVvDhD_K9Xjt_y6P9g84s7drjR2mAXWAG6Xoy7RLyAI9_blun4GdjnHhm9KzkhH8XkFvEdTy.4K0CR3qh02v1ASj35z5_ZuMgWEayJomnsX9BgKiiChg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Disk%20Backup%20Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Disk Backup Reader","type":"BuiltInRole","description":"Provides
        permission to backup vault to perform disk backup.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Compute/disks/read","Microsoft.Compute/disks/beginGetAccess/action"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2020-12-15T07:39:03.8394514Z","updatedOn":"2020-12-18T05:00:23.3015246Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/3e5e47e6-65f7-47ef-90b5-e5dd4d455f24","type":"Microsoft.Authorization/roleDefinitions","name":"3e5e47e6-65f7-47ef-90b5-e5dd4d455f24"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/3e5e47e6-65f7-47ef-90b5-e5dd4d455f24",
      "principalId": "0242778c-29df-4863-ac18-2fb8fd004135", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new/providers/Microsoft.Authorization/roleAssignments/e3f9cabb-7eda-4656-8c6d-1f3e3cc1ab57?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/3e5e47e6-65f7-47ef-90b5-e5dd4d455f24","principalId":"0242778c-29df-4863-ac18-2fb8fd004135","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new","condition":null,"conditionVersion":null,"createdOn":"2021-08-30T06:31:44.9658172Z","updatedOn":"2021-08-30T06:31:45.2939925Z","createdBy":null,"updatedBy":"90680173-e32e-4cf3-a1b8-d1a99ac56bbf","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new/providers/Microsoft.Authorization/roleAssignments/e3f9cabb-7eda-4656-8c6d-1f3e3cc1ab57","type":"Microsoft.Authorization/roleAssignments","name":"e3f9cabb-7eda-4656-8c6d-1f3e3cc1ab57"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Disk%20Snapshot%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Disk Snapshot Contributor","type":"BuiltInRole","description":"Provides
        permission to backup vault t[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/7efff54f-a5b4-42b5-a1c5-5411624893ce",
      "principalId": "0242778c-29df-4863-ac18-2fb8fd004135", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Disk%20Restore%20Operator%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Disk Restore Operator","type":"BuiltInRole","description":"Provides
        permission to backup vault to perform disk restore.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Compute/disks/write","Microsoft.Compute/disks/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2020-12-15T12:18:31.8481619Z","updatedOn":"2020-12-18T05:00:53.9562743Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b50d9833-a0cb-478e-945f-707fcc997c13","type":"Microsoft.Authorization/roleDefinitions","name":"b50d9833-a0cb-478e-945f-707fcc997c13"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "objectType":
      "BackupPolicy", "policyRules": [{"name": "BackupHourly", "objectType": "AzureBackupRule",
      "backupParameters": {"objectType": "AzureBackupParams", "backupType": "Incremental"},
      "dataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "trigger": {"objectType": "ScheduleBasedTriggerContext", "schedule": {"repeatingTimeIntervals":
      ["R/2020-04-05T13:00:00+00:00/PT4H"]}, "taggingCriteria": [{"isDefault": true,
      "taggingPriority": 99, "tagInfo": {"tagName": "Default"}}]}}, {"name": "Default",
      "objectType": "AzureRetentionRule", "isDefault": true, "lifecycles": [{"deleteAfter":
      {"duration": "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore":
      {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupPolicies/diskpolicy?api-version=2021-07-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"backupParameters":{"backupType"[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Compute/disks"], "objectType":
      "BackupPolicy", "policyRules": [{"name": "BackupHourly", "objectType": "AzureBackupRule",
      "backupParameters": {"objectType": "AzureBackupParams", "backupType": "Incremental"},
      "dataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "trigger": {"objectType": "ScheduleBasedTriggerContext", "schedule": {"repeatingTimeIntervals":
      ["R/2021-05-02T05:30:00+00:00/PT6H"]}, "taggingCriteria": [{"isDefault": true,
      "taggingPriority": 99, "tagInfo": {"tagName": "Default"}}, {"criteria": [{"objectType":
      "ScheduleBasedBackupCriteria", "absoluteCriteria": ["FirstOfDay"]}], "isDefault":
      false, "taggingPriority": 25, "tagInfo": {"tagName": "Daily"}}]}}, {"name":
      "Default", "objectType": "AzureRetentionRule", "isDefault": true, "lifecycles":
      [{"deleteAfter": {"duration": "P7D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"}}]},
      {"name": "Daily", "objectType": "AzureRetentionRule", "isDefault": false, "lifecycles":
      [{"deleteA[...]
- request:
    body: '{"backupInstance": {"dataSourceInfo": {"datasourceType": "Microsoft.Compute/disks",
      "objectType": "Datasource", "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new",
      "resourceLocation": "centraluseuap", "resourceName": "cli-test-disk-new", "resourceType":
      "Microsoft.Compute/disks", "resourceUri": ""}, "policyInfo": {"policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupPolicies/diskpolicy",
      "policyParameters": {"dataStoreParametersList": [{"objectType": "AzureOperationalStoreParameters",
      "dataStoreType": "OperationalStore", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg"}]}},
      "objectType": "BackupInstance"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/validateForBackup?api-version=2021-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==?api-version=2021-07-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==?api-version=2021-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"properties": {"dataSourceInfo": {"datasourceType": "Microsoft.Compute/disks",
      "objectType": "Datasource", "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new",
      "resourceLocation": "centraluseuap", "resourceName": "cli-test-disk-new", "resourceType":
      "Microsoft.Compute/disks", "resourceUri": ""}, "policyInfo": {"policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupPolicies/diskpolicy",
      "policyParameters": {"dataStoreParametersList": [{"objectType": "AzureOperationalStoreParameters",
      "dataStoreType": "OperationalStore", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg"}]}},
      "objectType": "BackupInstance"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupInstances/cli-test-disk-new-cli-test-disk-new-b7e6f082-b310-11eb-8f55-9cfce85d4fae?api-version=2021-07-01
  response:
    body:
      string: '{"properties":{"friendlyName":"cli-test-disk-new","dataSourceInfo":{"resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/cli-test-disk-new","resourceUri":"","datasourceType":"Microsoft.Compute/disks","resourceName":"cli-test-disk-new","resourceType":"Microsoft.Compute/disks","resourceLocation":"centraluseuap","objectType":"Datasource"},"policyInfo":{"policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupPolicies/diskpolicy","policyParameters":{"dataStoreParametersList":[{"objectType":"AzureOperationalStoreParameters","dataStoreType":"OperationalStore","resourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg"}]}},"protectionStatus":{"status":"ConfiguringProtection"},"currentProtectionState":"ConfiguringProtection","provisioningState":"Provisioning","objectType":"BackupInstance"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupInstances/cli-test-disk-new-cli-test-disk-new-b7e6f082-b310-11eb-8f55-9cfce85d4fae","name":"cli-test-disk-new-cli-test-disk-new-b7e6f082-b310-11eb-8f55-9cfce85d4fae","type":"Microsoft.DataProtection/backupVaults/backupInstances"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2IxNjQxYzdmLWFhZDEtNDQ5Mi04NjhkLTA4ZDM1ZDU2YTFjOQ==?api-version=2021-07-01
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==","name":"OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==","status":"Inprogress","startTime":"2021-08-30T06:32:09.0601011Z","endTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2IxNjQxYzdmLWFhZDEtNDQ5Mi04NjhkLTA4ZDM1ZDU2YTFjOQ==?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2IxNjQxYzdmLWFhZDEtNDQ5Mi04NjhkLTA4ZDM1ZDU2YTFjOQ==","name":"OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3O2IxNjQxYzdmLWFhZDEtNDQ5Mi04NjhkLTA4ZDM1ZDU2YTFjOQ==","status":"Inprogress","startTime":"2021-08-30T06:32:11.3507645Z","endTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==?api-version=2021-07-01
  response:
    body:
      string: '{"objectType":"OperationJobExtendedInfo"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3OzNkMGIxYjgzLTJkOTgtNDI1Ni1iMTkzLTM2NTIzZTVhMDUxOA==?api-version=2021-07-01
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupInstances?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"properties":{"friendlyName":"cli-test-disk-new","dataSourceInfo":{"resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Mi[...]
[...]
- request:
    body: '{"backupRuleOptions": {"ruleName": "BackupHourly", "triggerOption": {"retentionTagOverride":
      "Default"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/cli-test-new-vault/backupInstances/cli-test-disk-new-cli-test-disk-new-b7e6f082-b310-11eb-8f55-9cfce85d4fae/backup?api-version=2021-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3Ozc2ZWY4ZDM4LWU4NjMtNGU0ZC05YTc0LWZhYmU4ODI0ZGM4MQ==?api-version=2021-07-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3Ozc2ZWY4ZDM4LWU4NjMtNGU0ZC05YTc0LWZhYmU4ODI0ZGM4MQ==?api-version=2021-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OTkzYTYzZTctNmEwZC00ZjlhLWFkYWQtNmE0NGRlYjU3MmQ3Ozc2ZWY4ZDM4LWU4NjMtNGU0ZC05YTc0LWZhYmU4ODI0ZGM4MQ==?api-version=2021-07-01
  response:
    body:
[...]
