interactions:
- request:
    body: '{"subscriptions": ["38304e13-357e-405e-9e9a-220351dcce8c"], "query": "RecoveryServicesResources
      | where type =~ ''microsoft.dataprotection/backupvaults/backupinstances''| extend
      vaultName = split(split(id, ''/Microsoft.DataProtection/backupVaults/'')[1],''/'')[0]|
      extend protectionState = properties.currentProtectionState| extend datasourceId
      = properties.dataSourceInfo.resourceID | where resourceGroup in~ (''clitest-dpp-rg'')
      | where vaultName in~ (''clitest-bkp-vault-crr-donotdelete'') | where name in~
      (''clitestcrr-ecy-postgres-8f1f81c9-8869-48c5-8b07-ef587f1b5052'')", "options":
      {"$top": 1000, "$skip": 0, "resultFormat": "objectArray", "allowPartialScopes":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":1,"count":1,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-crr-donotdelete/backupInstances/clitestcrr-ecy-postgres-8f1f81c9-8869-48c5-8b07-ef587f1b5052","name":"clitestcrr-ecy-postgres-8f1f81c9-8869-48c5-8b07-ef587f1b5052","type":"microsoft.dataprotection/backupvaults/backupinstances","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","kind":"","location":"eastus2euap","resourceGroup":"clitest-dpp-rg","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","managedBy":"","sku":null,"plan":null,"properties":{"resourceGuardOperationRequests":null,"protectionStatus":{"errorDetails":null,"status":"ProtectionConfigured"},"friendlyName":"clitestcrr-ecy\\postgres","currentProtectionState":"ProtectionConfigured","objectType":"BackupInstance","dataSourceSetInfo":{"resourceLocation":"eastus2euap","datasourceType":"Microsoft.DBforPostgreSQL/servers/databases","objectType":"DatasourceSet","resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DBforPostgreSQL/servers/clitestcrr-ecy","resourceType":"Microsoft.DBforPostgreSQL/servers","resourceProperties":null,"resourceName":"clitestcrr-ecy","resourceUri":"","baseUri":null},"dataSourceInfo":{"resourceLocation":"eastus2euap","datasourceType":"Microsoft.DBforPostgreSQL/servers/databases","objectType":"Datasource","resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DBforPostgreSQL/servers/clitestcrr-ecy/databases/postgres","resourceType":"Microsoft.DBforPostgreSQL/servers/databases","resourceProperties":null,"resourceName":"postgres","resourceUri":"","baseUri":null},"policyInfo":{"policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-crr-donotdelete/backupPolicies/crrclitestbackuppolicy","policyParameters":null,"policyVersion":""},"backupInstanceExtendedProperties":{"allowedOperations":["BackupNow","Restore","ChangePolicy","EditBackupInstance","StopBackup","Delete","ViewSecondaryRecoveryPoint","RestoreToSecondaryRegion"],"protectionStateInSecondaryRegion":"ProtectionConfigured","protectedPrimaryRegion":"eastus2euap","vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-crr-donotdelete","protectedSecondaryRegion":"centraluseuap","dataSourceExtendedInfo":{"dataSourceId":"clitestcrr-ecy\\postgres"},"policyExtendedInfo":{"configuredRPGenerationFrequencyInSecondaryRegion":"7.06:00:00","configuredMaximumRetentionInSecondaryRegion":"93.00:00:00","rpoWarningThresholdInSecondaryRegion":"10.21:00:00","rpoWarningThresholdInPrimaryRegion":"10.12:00:00","configuredRPGenerationFrequency":"7.00:00:00","configuredMaximumRetention":"93.00:00:00"},"recoveryPointInfo":{"oldestRecoveryPointInSecondaryRegion":"2024-12-15T22:00:41.3510000Z","latestRecoveryPointInSecondaryRegion":"2025-03-09T22:00:47.9740000Z","oldestRecoveryPointInPrimaryRegion":"2024-12-15T22:00:41.3510000Z","latestRecoveryPointInPrimaryRegion":"2025-03-09T22:00:47.9740000Z"}},"datasourceAuthCredentials":{"objectType":"SecretStoreBasedAuthCredentials","secretStoreResource":{"secretStoreType":"AzureKeyVault","value":null,"uri":"https://clitestcrrkeyvault.vault.azure.net/secrets/clitestcrr-final"}},"protectionErrorDetails":null,"dataSourceProperties":null,"provisioningState":"Succeeded","identityDetails":null,"validationType":null},"tags":null,"identity":null,"zones":null,"extendedLocation":null,"vaultName":"clitest-bkp-vault-crr-donotdelete","protectionState":"ProtectionConfigured","datasourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DBforPostgreSQL/servers/clitestcrr-ecy/databases/postgres"}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '14'
      x-ms-resource-graph-request-duration:
      - '0:00:00:00.7843718'
      x-ms-user-quota-remaining:
      - '14'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceBackupInstanceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-crr-donotdelete/backupInstances/clitestcrr-ecy-postgres-8f1f81c9-8869-48c5-8b07-ef587f1b5052",
      "sourceRegion": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/locations/centraluseuap/fetchSecondaryRecoveryPoints?api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"67fd20be3eb94f6aa88505364c51d0e9","recoveryPointTime":"2025-03-09T22:00:47.9746588Z","recoveryPointType":"Full","friendlyName":"39089ab9f8e74d8580367f446245daa8","recoveryPointDataStoresDetails":[{"id":"170b3a06-9295-4f5b-b31b-2ae0b57cace3","type":"VaultStore","creationTime":"2025-03-09T22:00:47.9746588Z","expiryTime":"2025-06-09T22:00:47.9746588Z","metaData":null,"visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638442750778349393","policyName":"crrclitestbackuppolicy","policyVersion":null,"expiryTime":"2025-06-09T22:00:47.9746588Z","recoveryPointState":"Completed"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-crr-donotdelete/backupInstances/clitestcrr-ecy-postgres-8f1f81c9-8869-48c5-8b07-ef587f1b5052/recoveryPoints/67fd20be3eb94f6aa88505364c51d0e9","name":"67fd20be3eb94f6aa88505364c51d0e9","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"},{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recove[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-dpp-bugbash-oss-rg/providers/Microsoft.DBforPostgreSQL/servers/cli-dpp-bugbash-server1/databases/postgres-restored?api-version=2017-12-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DBforPostgreSQL/servers/cli-dpp-bugbash-server1''
        under resource group ''cli-dpp-bugbash-oss-rg'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"objectType": "ValidateRestoreRequestObject", "restoreRequestObject":
      {"objectType": "AzureBackupRecoveryPointBasedRestoreRequest", "recoveryPointId":
      "67fd20be3eb94f6aa88505364c51d0e9", "restoreTargetInfo": {"datasourceAuthCredentials":
      {"objectType": "SecretStoreBasedAuthCredentials", "secretStoreResource": {"secretStoreType":
      "AzureKeyVault", "uri": "https://cli-dpp-server1-kv.vault.azure.net/secrets/dpp-bugbash-server1-conn/b7c857c1d35643c08724bd4047394be1",
      "value": null}}, "datasourceInfo": {"datasourceType": "Microsoft.DBforPostgreSQL/servers/databases",
      "objectType": "Datasource", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-dpp-bugbash-oss-rg/providers/Microsoft.DBforPostgreSQL/servers/cli-dpp-bugbash-server1/databases/postgres-restored",
      "resourceLocation": "centraluseuap", "resourceName": "postgres-restored", "resourceType":
      "Microsoft.DBforPostgreSQL/servers/databases", "resourceUri": ""}, "datasourceSetInfo":
      {"datasourceType": "Microsoft.DBforPostgreSQL/servers/databases", "objectType":
      "DatasourceSet", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-dpp-bugbash-oss-rg/providers/Microsoft.DBforPostgreSQL/servers/cli-dpp-bugbash-server1",
      "resourceLocation": "centraluseuap", "resourceName": "cli-dpp-bugbash-server1",
      "resourceType": "Microsoft.DBforPostgreSQL/servers", "resourceUri": ""}, "objectType":
      "RestoreTargetInfo", "recoveryOption": "FailIfExists", "restoreLocation": "centraluseuap"},
      "sourceDataStoreType": "VaultStore"}, "crossRegionRestoreDetails": {"sourceBackupInstanceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-crr-donotdelete/backupInstances/clitestcrr-ecy-postgres-8f1f81c9-8869-48c5-8b07-ef587f1b5052",
      "sourceRegion": "eastus2euap"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/locations/centraluseuap/validateCrossRegionRestore?api-version=2024-04-01
  response:
    body:
      string: '{"error":{"additionalInfo":[{"type":"UserFacingError","info":{"message":"The
        operation is blocked, as a security precaution, since multiple attempts were
        made beyond an internal limit.","recommendedAction":["Please retry after few
        hours"],"details":null,"code":"CloudDosTimeboudLimitReached","target":"","innerError":null,"isRetryable":false,"isUserError":false,"properties":{"ActivityId":"fbdd200a-fe68-11ef-9c3b-cc15311bf11f"}}}],"code":"CloudDosTimeboudLimitReached","message":"The
        operation is blocked, as a security precaution, since multiple attempts were
        made beyond an internal limit.","target":null,"details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
version: 1
