interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints?$filter=&api-version=2023-11-01
  response:
    body:
      string: '{"value":[{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"c867c191ecaa4a6987b2201e85196902","recoveryPointTime":"2024-04-19T12:02:20.5764614Z","recoveryPointType":"Incremental","friendlyName":"c867c191ecaa4a6987b2201e85196902","recoveryPointDataStoresDetails":[{"id":"38a3787d-2bf9-4bf1-91fd-7322e17163ce","type":"OperationalStore","creationTime":"2024-04-19T12:01:08.4176182Z","expiryTime":"2024-04-26T12:01:08.4176182Z","metaData":null,"visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638224851417049008","policyName":"diskpolicy","policyVersion":null,"expiryTime":"2024-04-26T12:01:08.4176182Z","recoveryPointState":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints/c867c191ecaa4a6987b2201e85196902","name":"c867c191ecaa4a6987b2201e85196902","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"},{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"d7db1224026b4a56b915966f9e6e50ad","recoveryPointTime":"2024-04-18T12:02:39.6107241Z","recoveryPointType":"Incremental","friendlyName":"d7db1224026b4a56b915966f9e6e50ad","recoveryPointDataStoresDetails":[{"id":"38a3787d-2bf9-4bf1-91fd-7322e17163ce","type":"OperationalStore","creationTime":"2024-04-18T12:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints/c867c191ecaa4a6987b2201e85196902?api-version=2023-11-01
  response:
    body:
      string: '{"properties":{"objectType":"AzureBackupDiscreteRecoveryPoint","recoveryPointId":"c867c191ecaa4a6987b2201e85196902","recoveryPointTime":"2024-04-19T12:02:20.5764614Z","recoveryPointType":"Incremental","friendlyName":"c867c191ecaa4a6987b2201e85196902","recoveryPointDataStoresDetails":[{"id":"38a3787d-2bf9-4bf1-91fd-7322e17163ce","type":"OperationalStore","creationTime":"2024-04-19T12:01:08.4176182Z","expiryTime":"2024-04-26T12:01:08.4176182Z","metaData":"[{\"diskName\":\"clitest-disk-persistent-bi-donotdelete\",\"sizeBytes\":4294967296,\"diskSnapshotConsistency\":\"CrashConsistent\",\"subscriptionId\":\"38304e13-357e-405e-9e9a-220351dcce8c\",\"location\":\"centraluseuap\",\"resourceGroupName\":\"clitest-dpp-rg\",\"skuName\":\"StandardSSD_LRS\",\"osType\":\"\",\"managedBy\":null,\"snapshotSubscriptionId\":\"38304e13-357e-405e-9e9a-220351dcce8c\",\"snapshotRGName\":\"clitest-dpp-rg\",\"snapshotName\":\"AzureBackup_ef578737-4e98-44e1-a002-bc1c8bf0c953_2024-04-19T12-00-48.3326805\"}]","visible":true,"state":"COMMITTED","rehydrationExpiryTime":null,"rehydrationStatus":null}],"retentionTagName":"Default","retentionTagVersion":"638224851417049008","policyName":"diskpolicy","policyVersion":null,"expiryTime":"2024-04-26T12:01:08.4176182Z","recoveryPointState":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-dpp-rg/providers/Microsoft.DataProtection/backupVaults/clitest-bkp-vault-persistent-bi-donotdelete/backupInstances/clitest-disk-persistent-bi-donotdelete-clitest-disk-persistent-bi-donotdelete-e33c80ba-0bf8-11ee-aaa6-002b670b472e/recoveryPoints/c867c191ecaa4a6987b2201e85196902","name":"c867c191ecaa4a6987b2201e85196902","type":"Microsoft.DataProtection/backupVaults/backupInstances/recoveryPoints"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '95'
    status:
      code: 200
      message: OK
version: 1
