interactions:
- request:
    body: '{"location": "global", "properties": {"partnerName": "cli000007", "partnerResourceTypeName":
      "cli000008", "authorizedAzureSubscriptionIds": ["72184cee-9699-11ea-b138-a08cfdecd868"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","partnerName":"cli000007","partnerResourceTypeName":"cli000008","partnerResourceTypeDisplayName":null,"partnerResourceTypeDescription":null,"longDescription":null,"partnerCustomerServiceNumber":null,"partnerCustomerServiceExtension":null,"customerServiceUri":null,"setupUri":null,"logoUri":null,"visibilityState":"Hidden","authorizedAzureSubscriptionIds":["72184cee-9699-11ea-b138-a08cfdecd868"]},"location":"global","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002","name":"cli000002","type":"Microsoft.EventGrid/partnerRegistrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","partnerName":"cli000007","partnerResourceTypeName":"cli000008","partnerResourceTypeDisplayName":"cli000010","partnerResourceTypeDescription":"cli000009","longDescription":null,"partnerCustomerServiceNumber":null,"partnerCustomerServiceExtension":null,"customerServiceUri":null,"setupUri":null,"logoUri":null,"visibilityState":"Hidden","authorizedAzureSubscriptionIds":["72184cef-9699-11ea-a610-a08cfdecd868","72184cf0-9699-11ea-9153-a08cfdecd868"]},"location":"global","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002","name":"cli000002","type":"Microsoft.EventGrid/partnerRegistrations"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations?api-version=2020-04-01-preview&$filter=name%20eq%20%27cli000002%27&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","partnerName":"cli000007","partnerResourceTypeName":"cli000008","partnerResourceTypeDisplayName":"cli000010","partnerResourceTypeDescription":"cli000009","longDescription":null,"partnerCustomerServiceNumber":null,"partnerCustomerServiceExtension":null,"customerServiceUri":null,"setupUri":null,"logoUri":null,"visibilityState":"Hidden","authorizedAzureSubscriptionIds":["72184cef-9699-11ea-a610-a08cfdecd868","72184cf0-9699-11ea-9153-a08cfdecd868"]},"location":"global","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002","name":"cli000002","type":"Microsoft.EventGrid/partnerRegistrations"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "centraluseuap", "properties": {"partnerRegistrationFullyQualifiedId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","partnerRegistrationFullyQualifiedId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002","endpoint":null},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003","name":"cli000003","type":"Microsoft.EventGrid/partnerNamespaces"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/C6D201F5-9F68-471D-8CB0-A18A66F21F98?api-version=2020-04-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/C6D201F5-9F68-471D-8CB0-A18A66F21F98?api-version=2020-04-01-preview
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/C6D201F5-9F68-471D-8CB0-A18A66F21F98?api-version=2020-04-01-preview","name":"c6d201f5-9f68-471d-8cb0-a18a66f21f98","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "centraluseuap", "tags": {"Dept": "IT"}, "properties":
      {"partnerRegistrationFullyQualifiedId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003?api-version=[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","partnerRegistrationFullyQualifiedId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002","endpoint":"https://cli000003.centraluseuap-1.eventgrid.azure.net/api/events"},"location":"centraluseuap","tags":{"Dept":"IT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003","name":"cli000003","type":"Microsoft.EventGrid/partnerNamespaces"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces?api-version=2020-04-01-preview&$filter=name%20eq%20%27cli000003%27&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","partnerRegistrationFullyQualifiedId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002","endpoint":"https://cli000003.centraluseuap-1.eventgrid.azure.net/api/events"},"location":"centraluseuap","tags":{"Dept":"IT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003","name":"cli000003","type":"Microsoft.EventGrid/partnerNamespaces"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/listKeys?api-version=2020-04-01-preview
  response:
    body:
      string: '{"key1":"i510qXuQ9VSW5D1g8GfbRqgfVJJHkvQlY5nGZcWfN5s=","key2":"bjpOGPS7OzGQZzcPOVgK4u+eIM5eYAauNKCOkaoS/DA="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/regenerateKey?api-version=2020-04-01-preview
  response:
    body:
      string: '{"key1":"qKA+kR4ICj0egvBvUDgPzfGURzGHNNNqqe5m7qr6azs=","key2":"bjpOGPS7OzGQZzcPOVgK4u+eIM5eYAauNKCOkaoS/DA="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"properties": {"source": {"source": "cli000011"}, "destination": {"azureSubscriptionId":
      "5b4b650e-28b9-4790-b3ab-ddbd88d727c4", "resourceGroup": "clitest.rg000001",
      "partnerTopicName": "cli000005"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"source":{"source":"cli000011"},"destination":{"azureSubscriptionId":"5b4b650e-28b9-4790-b3ab-ddbd88d727c4","resourceGroup":"clitest.rg000001","partnerTopicName":"cli000005"},"provisioningState":"Succeeded","partnerTopicReadinessState":"NotActivatedByUserYet"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004","name":"cli000004","type":"Microsoft.EventGrid/partnerNamespaces/eventChannels"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"source":{"source":"cli000011"},"destination":{"azureSubscriptionId":"5b4b650e-28b9-4790-b3ab-ddbd88d727c4","resourceGroup":"clitest.rg000001","partnerTopicName":"cli000005"},"provisioningState":"Succeeded","partnerTopicReadinessState":"NotActivatedByUserYet","expirationTimeIfNotActivatedUtc":"2020-05-22T10:47:53.9058637Z","filter":{}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004","name":"cli000004","type":"Microsoft.EventGrid/partnerNamespaces/eventChannels"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"properties": {"source": {"source": "cli000011"}, "destination": {"azureSubscriptionId":
      "5b4b650e-28b9-4790-b3ab-ddbd88d727c4", "resourceGroup": "clitest.rg000001",
      "partnerTopicName": "cli000005"}, "expirationTimeIfNotActivatedUtc": "2020-05-16T10:47:17.657931Z",
      "partnerTopicFriendlyDescription": "This partner topic was created by Partner
      cli000007 at 2020-05-15T10:47:17.657931."}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"source":{"source":"cli000011"},"destination":{"azureSubscriptionId":"5b4b650e-28b9-4790-b3ab-ddbd88d727c4","resourceGroup":"clitest.rg000001","partnerTopicName":"cli000005"},"provisioningState":"Succeeded","partnerTopicReadinessState":"NotActivatedByUserYet","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004","name":"cli000004","type":"Microsoft.EventGrid/partnerNamespaces/eventChannels"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"source":{"source":"cli000011"},"destination":{"azureSubscriptionId":"5b4b650e-28b9-4790-b3ab-ddbd88d727c4","resourceGroup":"clitest.rg000001","partnerTopicName":"cli000005"},"provisioningState":"Succeeded","partnerTopicReadinessState":"NotActivatedByUserYet","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","filter":{},"partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000003/eventChannels/cli000004","name":"cli000004","type":"Microsoft.EventGrid/partnerNamespaces/eventChannels"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"source":"cli000011","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","provisioningState":"Succeeded","activationState":"NeverActivated","partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005","name":"cli000005","type":"Microsoft.EventGrid/partnerTopics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"source":"cli000011","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","provisioningState":"Succeeded","activationState":"NeverActivated","partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005","name":"cli000005","type":"Microsoft.EventGrid/partnerTopics"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics?api-version=2020-04-01-preview&$filter=name%20eq%20%27cli000005%27&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"source":"cli000011","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","provisioningState":"Succeeded","activationState":"NeverActivated","partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005","name":"cli000005","type":"Microsoft.EventGrid/partnerTopics"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/activate?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"source":"cli000011","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","provisioningState":"Succeeded","activationState":"Activated","partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005","name":"cli000005","type":"Microsoft.EventGrid/partnerTopics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/deactivate?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"source":"cli000011","expirationTimeIfNotActivatedUtc":"2020-05-16T10:47:17.657931Z","provisioningState":"Succeeded","activationState":"Deactivated","partnerTopicFriendlyDescription":"This
        partner topic was created by Partner cli000007 at 2020-05-15T10:47:17.657931."},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005","name":"cli000005","type":"Microsoft.EventGrid/partnerTopics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"destination": {"endpointType": "StorageQueue", "properties":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg",
      "queueName": "stogqueuedestination"}}, "filter": {"isSubjectCaseSensitive":
      false}, "retryPolicy": {"maxDeliveryAttempts": 30, "eventTimeToLiveInMinutes":
      1440}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/eventSubscriptions/cli000006?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005","provisioningState":"Creating","destination":{"properties":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg","queueName":"stogqueuedestination"},"endpointType":"StorageQueue"},"filter":{},"labels":null,"retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/eventSubscriptions/cli000006","name":"cli000006","type":"Microsoft.EventGrid/systemTopics/eventSubscriptions"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/F0FFB844-6E44-477C-A6F1-468303885C10?api-version=2020-04-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/eventSubscriptions/cli000006?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.eventgrid/partnertopics/cli000005","provisioningState":"Succeeded","destination":{"properties":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg","queueName":"stogqueuedestination"},"endpointType":"StorageQueue"},"filter":{"subjectBeginsWith":"","subjectEndsWith":""},"labels":null,"eventDeliverySchema":"CloudEventSchemaV1_0","retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/eventSubscriptions/cli000006","name":"cli000006","type":"Microsoft.EventGrid/partnerTopics/eventSubscriptions"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/eventSubscriptions?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.eventgrid/partnertopics/cli000005","provisioningState":"Succeeded","destination":{"properties":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg","queueName":"stogqueuedestination"},"endpointType":"StorageQueue"},"filter":{"subjectBeginsWith":"","subjectEndsWith":""},"labels":["label11","label22"],"eventDeliverySchema":"CloudEventSchemaV1_0","retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerTopics/cli000005/eventSubscriptions/cli000006","name":"cli000006","type":"Microsoft.EventGrid/partnerTopics/eventSubscriptions"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000002?api-version=2020-04-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
