interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_eventgrid_namespace_client_and_client_group000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001","name":"test_eventgrid_namespace_client_and_client_group000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_namespace_client_and_client_group","date":"2024-12-16T08:24:34Z","module":"eventgrid"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"topicSpacesConfiguration": {"maximumSessionExpiryInHours":
      1, "state": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002?api-version=2023-06-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","topicSpacesConfiguration":{"state":"Enabled","hostname":null,"maximumSessionExpiryInHours":1},"isZoneRedundant":true,"publicNetworkAccess":"Enabled","inboundIpRules":null,"minimumTlsVersionAllowed":"1.2"},"sku":null,"systemData":null,"location":"eastus","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002","name":"name000002","type":"Microsoft.EventGrid/namespaces"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/eastus/operationsStatus/ACF87F77-F5B4-46DF-B988-2C888D4857F2?api-version=2023-06-01-preview&t=638699343359310510&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI3MDkwMTAzWhcNMjUwMzI2MDkwMTAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/eastus/operationsStatus/ACF87F77-F5B4-46DF-B988-2C888D4857F2?api-version=2023-06-01-preview&t=638699343359310510&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI3MDkwMTAzWhcNMjUwMzI2MDkwMTAzW[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002?api-version=2023-06-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","topicsConfiguration":{"hostname":"name000002.eastus-1.eventgrid.azure.net"},"topicSpacesConfiguration":{"state":"Enabled","hostname":"name000002.eastus-1.ts.eventgrid.azure.net","maximumSessionExpiryInHours":1,"maximumClientSessionsPerAuthenticationName":1},"isZoneRedundant":true,"publicNetworkAccess":"Enabled","inboundIpRules":null,"minimumTlsVersionAllowed":"1.2"},"sku":{"name":"Standard","capacity":1},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2024-12-16T08:25:33.0872679Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-16T08:25:33.0872679Z"},"location":"eastus","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002","name":"name000002","type":"Microsoft.EventGrid/namespaces"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"attributes": {"room": "345", "floor": 5}, "clientCertificateAuthentication":
      {"validationScheme": "SubjectMatchesAuthenticationName"}, "state": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002/clients/client000003?api-version=2023-06-01-preview
  response:
    body:
      string: '{"properties":{"description":null,"authenticationName":"client000003","clientCertificateAuthentication":{"validationScheme":"SubjectMatchesAuthenticationName"},"state":"Enabled","attributes":{"room":"345","floor":5},"provisioningState":"Succeeded"},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2024-12-16T08:27:48.1611979Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-16T08:27:48.1611979Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TEST_EVENTGRID_NAMESPACE_CLIENT_AND_CLIENT_GROUPUS2HZQYJI2IGUVZA5Z5J5E3CQMJ/providers/Microsoft.EventGrid/namespaces/name000002/clients/client000003","name":"client000003","type":"Microsoft.EventGrid/namespaces/clients"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002/clients?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"description":"test","authenticationName":"client000003","clientCertificateAuthentication":{"validationScheme":"SubjectMatchesAuthenticationName"},"state":"Enabled","attributes":{"room":"456","floor":6},"provisioningState":"Succeeded"},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2024-12-16T08:27:48.1611979Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-16T08:27:54.2366253Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TEST_EVENTGRID_NAMESPACE_CLIENT_AND_CLIENT_GROUPUS2HZQYJI2IGUVZA5Z5J5E3CQMJ/providers/Microsoft.EventGrid/namespaces/name000002/clients/client000003","name":"client000003","type":"Microsoft.EventGrid/namespaces/clients"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "test", "query": "attributes.floor = 6"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002/clientGroups/group000004?api-version=2023-06-01-preview
  response:
    body:
      string: '{"properties":{"description":"test","query":"attributes.floor = 6","provisioningState":"Succeeded"},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2024-12-16T08:28:03.012104Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-16T08:28:03.012104Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TEST_EVENTGRID_NAMESPACE_CLIENT_AND_CLIENT_GROUPUS2HZQYJI2IGUVZA5Z5J5E3CQMJ/providers/Microsoft.EventGrid/namespaces/name000002/clientGroups/group000004","name":"group000004","type":"Microsoft.EventGrid/namespaces/clientGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002/clientGroups?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"description":"Default group with all clients.","query":"true","provisioningState":"Succeeded"},"systemData":null,"id":"/subscri[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_eventgrid_namespace_client_and_client_group000001/providers/Microsoft.EventGrid/namespaces/name000002/clients/client000003?api-version=2023-06-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 200
      message: OK
version: 1
