interactions:
- request:
    body: '{"location": "centraluseuap", "properties": {"source": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.Storage/storageAccounts/clistgaccount",
      "topicType": "microsoft.storage.storageaccounts"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","source":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.Storage/storageAccounts/clistgaccount","topicType":"microsoft.storage.storageaccounts","metricResourceId":"bc79c831-3e96-4e5e-8d3c-075de6574615"},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","name":"cli000002","type":"Microsoft.EventGrid/systemTopics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"Dept": "IT"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","source":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.Storage/storageAccounts/clistgaccount","topicType":"microsoft.storage.storageaccounts","metricResourceId":"bc79c831-3e96-4e5e-8d3c-075de6574615"},"location":"centraluseuap","tags":{"Dept":"IT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","name":"cli000002","type":"Microsoft.EventGrid/systemTopics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","source":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.Storage/storageAccounts/clistgaccount","topicType":"microsoft.storage.storageaccounts","metricResourceId":"bc79c831-3e96-4e5e-8d3c-075de6574615"},"location":"centraluseuap","tags":{"Dept":"IT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","name":"cli000002","type":"Microsoft.EventGrid/systemTopics"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"destination": {"endpointType": "WebHook", "properties":
      {"endpointUrl": "https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EventGridTrigger1&code=<HIDDEN>"}},
      "filter": {"isSubjectCaseSensitive": false}, "retryPolicy": {"maxDeliveryAttempts":
      30, "eventTimeToLiveInMinutes": 1440}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions/cli000006?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","provisioningState":"Creating","destination":{"properties":{"endpointUrl":null,"endpointBaseUrl":"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid"},"endpointType":"WebHook"},"filter":{"includedEventTypes":["Microsoft.Storage.BlobCreated","Microsoft.Storage.BlobDeleted"]},"labels":null,"retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions/cli000006","name":"cli000006","type":"Microsoft.EventGrid/systemTopics/eventSubscriptions"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/6266E93F-3010-4C73-95E7-DBCDE4579E24?api-version=2020-04-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/6266E93F-3010-4C73-95E7-DBCDE4579E24?api-version=2020-04-01-preview
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/6266E93F-3010-4C73-95E7-DBCDE4579E24?api-version=2020-04-01-preview","name":"6266e93f-3010-4c73-95e7-dbcde4579e24","status":"Active"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions/cli000006?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","provisioningState":"Succeeded","destination":{"properties":{"endpointUrl":null,"endpointBaseUrl":"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid","maxEventsPerBatch":1,"preferredBatchSizeInKilobytes":64},"endpointType":"WebHook"},"filter":{"subjectBeginsWith":"","subjectEndsWith":"","includedEventTypes":["Microsoft.Storage.BlobCreated","Microsoft.Storage.BlobDeleted"]},"labels":null,"eventDeliverySchema":"EventGridSchema","retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions/cli000006","name":"cli000006","type":"Microsoft.EventGrid/systemTopics/eventSubscriptions"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions/cli000006/getFullUrl?api-version=2020-04-01-preview
  response:
    body:
      string: '{"endpointUrl":"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EventGridTrigger1&code=<HIDDEN>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions?api-version=2020-04-01-preview&$top=100
  response:
    body:
      string: '{"value":[{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","provisioningState":"Succeeded","destination":{"properties":{"endpointUrl":null,"endpointBaseUrl":"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid","maxEventsPerBatch":1,"preferredBatchSizeInKilobytes":64},"endpointType":"WebHook"},"filter":{"subjectBeginsWith":"","subjectEndsWith":"","includedEventTypes":["Microsoft.Storage.BlobCreated","Microsoft.Storage.BlobDeleted"]},"labels":["label11","label22"],"eventDeliverySchema":"EventGridSchema","retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002/eventSubscriptions/cli000006","name":"cli000006","type":"Microsoft.EventGrid/systemTopics/eventSubscriptions"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/18A5CD30-FB67-49D1-8AE2-C9566B9956A5?api-version=2020-04-01-preview
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/18A5CD30-FB67-49D1-8AE2-C9566B9956A5?api-version=2020-04-01-preview","name":"18a5cd30-fb67-49d1-8ae2-c9566b9956a5","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
