interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-14T17:58:28Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-14T17:58:28Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-03-01-preview
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/42688ca4-38d4-4795-9d30-663fa7047c76?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/42688ca4-38d4-4795-9d30-663fa7047c76?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-08-14T17:58:32.2111622Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-08-14T17:58:32.2111622Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-08-14T17:58:32.1172777Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"h3XxqBpXlgBxJFCUYf1XIGc0K6pttvAl8FUwaUxtSDtJnq6E7sOd02bR0u3Iz1a2LRsMZ5WgNJMv7+puLcXFxw==","permissions":"FULL"},{"keyName":"key2","value":"NnytDV5pJCMaXLW/CYLl3fDGTxXxWv9iX6/m3l81ndarOCktsxRfn2YuOH+NoAu7YR5HSuyQr0GI9QGFMP0Vdg==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 14 Aug 2018 17:58:51 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D6020F984CEC28"']
      last-modified: ['Tue, 14 Aug 2018 17:58:52 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 14 Aug 2018 17:58:52 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      x-ms-error-code: [BlobNotFound]
      x-ms-version: ['2018-03-28']
    status: {code: 404, message: The specified blob does not exist.}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 14 Aug 2018 17:58:52 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      etag: ['"0x8D6020F98EC1C3A"']
      last-modified: ['Tue, 14 Aug 2018 17:58:53 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 14 Aug 2018 17:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      content-type: [application/octet-stream]
      etag: ['"0x8D6020F98EC1C3A"']
      last-modified: ['Tue, 14 Aug 2018 17:58:53 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Tue, 14 Aug 2018 17:58:53 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 14 Aug 2018 17:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container&comp=list&maxresults=1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"cont000004\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000003</Name><Properties><Creation-Time>Tue,
        14 Aug 2018 17:58:53 GMT</Creation-Time><Last-Modified>Tue, 14 Aug 2018 17:58:53
        GMT</Last-Modified><Etag>0x8D6020F98EC1C3A</Etag><Content-Length>4194304</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>tc+p1sj+vWGPkawoQ9UKHA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-blob-content-type: [application/test-content]
      x-ms-date: ['Tue, 14 Aug 2018 17:58:54 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003?comp=properties
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D6020F9A13F4D4"']
      last-modified: ['Tue, 14 Aug 2018 17:58:55 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 14 Aug 2018 17:58:55 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 14 Aug 2018 17:58:56 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: '!!! The response body has been omitted from the recording because
        it is larger than 128 KB. It will be replaced with blank content of 4194304
        bytes while replay. <CTRL-REPLACE>4194304'}
    headers:
      content-range: [bytes 0-4194303/4194304]
      content-type: [application/test-content]
      etag: ['"0x8D6020F9A13F4D4"']
      last-modified: ['Tue, 14 Aug 2018 17:58:55 GMT']
      x-ms-blob-content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Tue, 14 Aug 2018 17:58:53 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdMN0RKN1oyTlNITDY2VTdLSzVCUDRXT1lMVU9IQVIzR0NESnxDMTg5RDU4OTY4OEZCOTI4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
