interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-05-14T23:35:29Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-05-14T23:35:29Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-02-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/65d534a3-b184-4282-b8f6-05b0d10604ec?monitor=true&api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/65d534a3-b184-4282-b8f6-05b0d10604ec?monitor=true&api-version=2018-02-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-05-14T23:35:31.5797505Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-05-14T23:35:31.5797505Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-05-14T23:35:31.5172251Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"8O3YOzVIjExlQlotreqHDAG5anB5rTd4gKP9t4P2k5C8PqpmLZRTPeexwAZdLG7RIauOSftxz/19h368rzt9ow==","permissions":"FULL"},{"keyName":"key2","value":"7lx+QnY96uSxHi7ca00lyFg3gTzuttm+IsNTR9joXuWb6MsWZXBD390wCa310+YSE4YvN+TNu33PyB9K96tqVg==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:35:51 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F36DD1338B"']
      last-modified: ['Mon, 14 May 2018 23:35:51 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:35:51 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D5B9F36DD1338B"']
      last-modified: ['Mon, 14 May 2018 23:35:51 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:35:52 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F36E585FF2"']
      last-modified: ['Mon, 14 May 2018 23:35:52 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:35:52 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F36EAE307D"']
      last-modified: ['Mon, 14 May 2018 23:35:52 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:35:53 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F36F435F6A"']
      last-modified: ['Mon, 14 May 2018 23:35:53 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdMWVZDWE1ESVpQSk9ZU0MySFJWTExITE9FQVVETDdEMkQ0VHwxQUQzOUJEQ0U2NTkxM0RCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
