interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-06-19T08:57:59.4417483Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-06-19T08:57:59.4417483Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:23 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDAF0F737BF32A"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:25 GMT
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:25 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDAF0F749C4500"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:27 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-06-19T08:58:27.2247040Z'
      x-ms-file-creation-time:
      - '2025-06-19T08:58:27.2247040Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-06-19T08:58:27.2247040Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9772994320596989886*3386793573352087344
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:28 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DDAF0F755DAA3A"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:28 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-06-19T08:58:28.4921402Z'
      x-ms-file-creation-time:
      - '2025-06-19T08:58:27.2247040Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-06-19T08:58:28.4921402Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9772994320596989886*3386793573352087344
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:30 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'false'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:33 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:afbaf314-801a-004f-57f8-e03cfe000000\nTime:2025-06-19T08:58:34.8681085Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2022-11-02'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitest3lmoi7jqkkmddm6ve.file.core.windows.net/shareuipde7at46n46iyvyqp/sample_file.bin...
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:35 GMT
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file_dst.bin...
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDAF0F7A9816DB"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:37 GMT
      x-ms-copy-id:
      - 92cc7352-39b7-43ee-9e3c-bd8176e34aff
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2022-11-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:37 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file_dst.bin...
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DDAF0F7A9816DB"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:37 GMT
      x-ms-copy-completion-time:
      - Thu, 19 Jun 2025 08:58:37 GMT
      x-ms-copy-id:
      - 92cc7352-39b7-43ee-9e3c-bd8176e34aff
      x-ms-copy-progress:
      - 131072/131072
      x-ms-copy-source:
      - https://clitest3lmoi7jqkkmddm6ve.file.core.windows.net/shareuipde7at46n46iyvyqp/sample_file.bin...
      x-ms-copy-status:
      - success
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-06-19T08:58:37.2636379Z'
      x-ms-file-creation-time:
      - '2025-06-19T08:58:37.2636379Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-06-19T08:58:37.2636379Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9772994320596989886*3386793573352087344
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:52 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004..?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDAF0F84A46A7F"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:54 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-06-19T08:58:54.1216383Z'
      x-ms-file-creation-time:
      - '2025-06-19T08:58:54.1216383Z'
      x-ms-file-id:
      - '13835146016212385792'
      x-ms-file-last-write-time:
      - '2025-06-19T08:58:54.1216383Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5177847491955099833*3386793573352087344
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 19 Jun 2025 08:58:54 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir000004..</Name><FileId>13835146016212385792</FileId><Properties><CreationTime>2025-06-19T08:58:54.1216383Z</CreationTime><LastAccessTime>2025-06-19T08:58:54.1216383Z</LastAccessTime><LastWriteTime>2025-06-19T08:58:54.1216383Z</LastWriteTime><ChangeTime>2025-06-19T08:58:54.1216383Z</ChangeTime><Last-Modified>Thu,
        19 Jun 2025 08:58:54 GMT</Last-Modified><Etag>\"0x8DDAF0F84A46A7F\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>5177847491955099833*3386793573352087344</PermissionKey></Directory><File><Name>sample_file.bin</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>131072</Content-Length><CreationTime>2025-06-19T08:58:49.5297946Z</CreationTime><LastAccessTime>2025-06-19T08:58:49.5297946Z</LastAccessTime><LastWriteTime>2025-06-19T08:58:50.7384885Z</LastWriteTime><ChangeTime>2025-06-19T08:58:50.7384885Z</ChangeTime><Last-Modified>Thu,
        19 Jun 2025 08:58:50 GMT</Last-Modified><Etag>\"0x8DDAF0F82A03035\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>9772994320596989886*3386793573352087344</PermissionKey></File><File><Name>sample_file[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'false'
      x-ms-date:
      - Thu, 19 Jun 2025 08:59:02 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDAF0F87FAD1DC"'
      last-modified:
      - Thu, 19 Jun 2025 08:58:59 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-06-19T08:58:59.7210588Z'
      x-ms-file-creation-time:
      - '2025-06-19T08:58:59.7210588Z'
      x-ms-file-id:
      - '13835110831840296960'
      x-ms-file-last-write-time:
      - '2025-06-19T08:58:59.7210588Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5177847491955099833*3386793573352087344
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Jun 2025 08:59:03 GMT
      x-ms-version:
      - '2025-05-05'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2025-05-05'
    status:
      code: 202
      message: Accepted
version: 1
