interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-12T19:26:25Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-12T19:26:25Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-07-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/87dfe45e-6849-491c-a71a-a2e658dff483?monitor=true&api-version=2018-07-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/87dfe45e-6849-491c-a71a-a2e658dff483?monitor=true&api-version=2018-07-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-09-12T19:26:28.0070419Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-09-12T19:26:28.0070419Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-09-12T19:26:27.7882922Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-07-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"XVAIlqPCWZ9MW7apGKxkpjNzcxG4WBe/8NtDmEegCWSOH6hrh6ZwGwgawBkgI9Y+m+H7l+cNhgyDl3IaA0PhDw==","permissions":"FULL"},{"keyName":"key2","value":"Ele6d4t1Q8B0g0InKOS8i3Snc/jtS3Aw1CbZlPMfxrnObwT0VvlQzDYCqPfo0BpikeyPxBCQtMAP68rIHhxtvw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:47 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E5AEEE562C"']
      last-modified: ['Wed, 12 Sep 2018 19:26:48 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:48 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E5AEEE562C"']
      last-modified: ['Wed, 12 Sep 2018 19:26:48 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:48 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D618E5AEEE562C"']
      last-modified: ['Wed, 12 Sep 2018 19:26:48 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers />'
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Wed, 12 Sep 2018 19:26:48 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E5AF8B40F3"']
      last-modified: ['Wed, 12 Sep 2018 19:26:49 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:51 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>cont000003</Name><Properties><Last-Modified>Wed,
        12 Sep 2018 19:26:50 GMT</Last-Modified><Etag>\"0x8D618E5B01BDC59\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:51 GMT']
      x-ms-meta-foo: [bar]
      x-ms-meta-moo: [bak]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=metadata
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E5B110CAAC"']
      last-modified: ['Wed, 12 Sep 2018 19:26:51 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Wed, 12 Sep 2018 19:26:53 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=lease
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E5B1A0F0CC"']
      last-modified: ['Wed, 12 Sep 2018 19:26:52 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:55 GMT']
      x-ms-lease-action: [break]
      x-ms-lease-break-period: ['30']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=lease
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E5B1A0F0CC"']
      last-modified: ['Wed, 12 Sep 2018 19:26:52 GMT']
      x-ms-lease-time: ['30']
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:58 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:36e46987-f01e-0000-5bce-4a54d4000000\nTime:2018-09-12T19:26:58.4412748Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-error-code: [ContainerNotFound]
      x-ms-version: ['2018-03-28']
    status: {code: 404, message: The specified container does not exist.}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdWNVVUSDJXSU1HRDUyUTJUS1hVUVZHUk9NTk9BMldNN0syRXxBRjFFNTdBNDBGOUUzMjMwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
