interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-12T19:25:52Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-12T19:25:52Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002?api-version=2018-07-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/59d9e110-c269-48e6-9412-168daa61f578?monitor=true&api-version=2018-07-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/59d9e110-c269-48e6-9412-168daa61f578?monitor=true&api-version=2018-07-01
  response:
    body: {string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002","name":"clistorage000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-09-12T19:25:59.1461511Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-09-12T19:25:59.1461511Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2018-09-12T19:25:58.8961261Z","primaryEndpoints":{"web":"https://clistorage000002.z22.web.core.windows.net/","blob":"https://clistorage000002.blob.core.windows.net/","queue":"https://clistorage000002.queue.core.windows.net/","table":"https://clistorage000002.table.core.windows.net/","file":"https://clistorage000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"web":"https://clistorage000002-secondary.z22.web.core.windows.net/","blob":"https://clistorage000002-secondary.blob.core.windows.net/","queue":"https://clistorage000002-secondary.queue.core.windows.net/","table":"https://clistorage000002-secondary.table.core.windows.net/"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2018-07-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amar/providers/Microsoft.Storage/storageAccounts/amardiag596","name":"amardiag596","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/listKeys?api-version=2018-07-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"1RpbMZZF29MCNb1qYvvLpRJpVGGQUz/2F+2g7mDsOMJqOPfFI4/zVYWHqIRJkrwww7Z7wZdsAOSUZapQRPZRxw==","permissions":"FULL"},{"keyName":"key2","value":"fLN1Fv81LTeuK8J5KwkZAUA68hjfsbe+M8TfCWU7C5UWKR2xopdCzRXKNzXYt03rcjvWqaIkhI+fLXmrPqnp+g==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 12 Sep 2018 19:26:18 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clistorage000002.blob.core.windows.net/container1?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D618E59D9E76A3"']
      last-modified: ['Wed, 12 Sep 2018 19:26:19 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2018-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d618e59f6f3751\"","properties":{"immutabilityPeriodSinceCreationInDays":1,"state":"Unlocked"}}'}
    headers:
      content-type: [application/json]
      etag: ['"8d618e59f6f3751"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Match: ['"8d618e59f6f3751"']
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2018-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d618e5a0a0952c\"","properties":{"immutabilityPeriodSinceCreationInDays":0,"state":"Unlocked"}}'}
    headers:
      content-type: [application/json]
      etag: ['"8d618e5a0a0952c"']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Match: ['"8d618e5a1bf3a2b"']
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default/lock?api-version=2018-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d618e5a2a6ae16\"","properties":{"immutabilityPeriodSinceCreationInDays":1,"state":"Locked"}}'}
    headers:
      content-type: [application/json]
      etag: ['"8d618e5a2a6ae16"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Match: ['"8d618e5a2a6ae16"']
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2018-07-01
  response:
    body: {string: '{"error":{"code":"ContainerImmutabilityPolicyFailure","message":"Operation
        not allowed on immutability policy with current state."}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 409, message: Conflict}
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 2}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['"8d618e5a2a6ae16"']
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default/extend?api-version=2018-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clistorage000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d618e5a42dafc0\"","properties":{"immutabilityPeriodSinceCreationInDays":2,"state":"Locked"}}'}
    headers:
      content-type: [application/json]
      etag: ['"8d618e5a42dafc0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdMV1RYWFhPVEFCUEJMWUVQSFNJS05NQVJNRkpMMzI1SVhPT3w3RkUwQzM2MEEzNkRFQUI3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
