interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-07-04T08:58:22.7621003Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-07-04T08:58:22.7621003Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jul 2025 08:58:48 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDBAD8FE4FCF24"'
      last-modified:
      - Fri, 04 Jul 2025 08:58:49 GMT
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Fri, 04 Jul 2025 08:58:50 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDBAD8FF60C110"'
      last-modified:
      - Fri, 04 Jul 2025 08:58:51 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-07-04T08:58:51.6711696Z'
      x-ms-file-creation-time:
      - '2025-07-04T08:58:51.6711696Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-07-04T08:58:51.6711696Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 8593388260065281541*16132229586965098123
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 04 Jul 2025 08:58:54 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DDBAD900A32152"'
      last-modified:
      - Fri, 04 Jul 2025 08:58:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-07-04T08:58:53.7838930Z'
      x-ms-file-creation-time:
      - '2025-07-04T08:58:51.6711696Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-07-04T08:58:53.7838930Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 8593388260065281541*16132229586965098123
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 04 Jul 2025 08:58:55 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'false'
      x-ms-date:
      - Fri, 04 Jul 2025 08:58:59 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:57104674-e01a-0026-6ac1-ec9660000000\nTime:2025-07-04T08:59:00.6563224Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2022-11-02'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitest3mmiqokfl4hiesc5h.file.core.windows.net/sharee2q5s5lapmeypkjhyrn/sample_file.bin...
      x-ms-date:
      - Fri, 04 Jul 2025 08:59:01 GMT
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file_dst.bin...
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDBAD905C821C4"'
      last-modified:
      - Fri, 04 Jul 2025 08:59:02 GMT
      x-ms-copy-id:
      - 4dae498e-de67-438f-8864-44c74b975642
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2022-11-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 04 Jul 2025 08:59:02 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file_dst.bin...
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DDBAD905C821C4"'
      last-modified:
      - Fri, 04 Jul 2025 08:59:02 GMT
      x-ms-copy-completion-time:
      - Fri, 04 Jul 2025 08:59:02 GMT
      x-ms-copy-id:
      - 4dae498e-de67-438f-8864-44c74b975642
      x-ms-copy-progress:
      - 131072/131072
      x-ms-copy-source:
      - https://clitest3mmiqokfl4hiesc5h.file.core.windows.net/sharee2q5s5lapmeypkjhyrn/sample_file.bin...
      x-ms-copy-status:
      - success
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-07-04T08:59:02.4149956Z'
      x-ms-file-creation-time:
      - '2025-07-04T08:59:02.4149956Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-07-04T08:59:02.4149956Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 8593388260065281541*16132229586965098123
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 04 Jul 2025 08:59:17 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004..?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDBAD90F9E115F"'
      last-modified:
      - Fri, 04 Jul 2025 08:59:18 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-07-04T08:59:18.9165407Z'
      x-ms-file-creation-time:
      - '2025-07-04T08:59:18.9165407Z'
      x-ms-file-id:
      - '13835110831840296960'
      x-ms-file-last-write-time:
      - '2025-07-04T08:59:18.9165407Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13202890845361174786*16132229586965098123
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 04 Jul 2025 08:59:19 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir000004..</Name><FileId>13835110831840296960</FileId><Properties><CreationTime>2025-07-04T08:59:18.9165407Z</CreationTime><LastAccessTime>2025-07-04T08:59:18.9165407Z</LastAccessTime><LastWriteTime>2025-07-04T08:59:18.9165407Z</LastWriteTime><ChangeTime>2025-07-04T08:59:18.9165407Z</ChangeTime><Last-Modified>Fri,
        04 Jul 2025 08:59:18 GMT</Last-Modified><Etag>\"0x8DDBAD90F9E115F\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>13202890845361174786*16132229586965098123</PermissionKey></Directory><File><Name>sample_file.bin</Name><FileId>13835146016212385792</FileId><Properties><Content-Length>131072</Content-Length><CreationTime>2025-07-04T08:59:13.4256502Z</CreationTime><LastAccessTime>2025-07-04T08:59:13.4256502Z</LastAccessTime><LastWriteTime>2025-07-04T08:59:15.6678073Z</LastWriteTime><ChangeTime>2025-07-04T08:59:15.6678073Z</ChangeTime><Last-Modified>Fri,
        04 Jul 2025 08:59:15 GMT</Last-Modified><Etag>\"0x8DDBAD90DAE59B9\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>8593388260065281541*16132229586965098123</PermissionKey></File><File><Name>sample_fil[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'false'
      x-ms-date:
      - Fri, 04 Jul 2025 08:59:26 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDBAD912944E07"'
      last-modified:
      - Fri, 04 Jul 2025 08:59:23 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-07-04T08:59:23.8857223Z'
      x-ms-file-creation-time:
      - '2025-07-04T08:59:23.8857223Z'
      x-ms-file-id:
      - '13835181200584474624'
      x-ms-file-last-write-time:
      - '2025-07-04T08:59:23.8857223Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13202890845361174786*16132229586965098123
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jul 2025 08:59:27 GMT
      x-ms-version:
      - '2025-05-05'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2025-05-05'
    status:
      code: 202
      message: Accepted
version: 1
