interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-11-26T09:47:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westus",
      "properties": {"isHnsEnabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestaldsaccount000002?api-version=2018-07-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc0d0ce7-8504-4c2c-a53a-f3ffea333ed1?monitor=true&api-version=2018-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc0d0ce7-8504-4c2c-a53a-f3ffea333ed1?monitor=true&api-version=2018-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestaldsaccount000002","name":"clitestaldsaccount000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"isHnsEnabled":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-11-26T09:47:15.6845466Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-11-26T09:47:15.6845466Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-11-26T09:47:15.6064192Z","primaryEndpoints":{"dfs":"https://clitestaldsaccount000002.dfs.core.windows.net/","web":"https://clitestaldsaccount000002.z22.web.core.windows.net/","blob":"https://clitestaldsaccount000002.blob.core.windows.net/","queue":"https://clitestaldsaccount000002.queue.core.windows.net/","table":"https://clitestaldsaccount000002.table.core.windows.net/","file":"https://clitestaldsaccount000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://clitestaldsaccount000002-secondary.dfs.core.windows.net/","web":"https://clitestaldsaccount000002-secondary.z22.web.core.windows.net/","blob":"https://clitestaldsaccount000002-secondary.blob.core.windows.net/","queue":"https://clitestaldsaccount000002-secondary.queue.core.windows.net/","table":"https://clitestaldsaccount000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestaldsaccount000002/listKeys?api-version=2018-07-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:47:37 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255AC30901B"'
      last-modified:
      - Tue, 26 Nov 2019 09:47:38 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:47:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:47:51 GMT
      x-ms-umask:
      - '0027'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255B4A4BED1"'
      last-modified:
      - Tue, 26 Nov 2019 09:47:52 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:47:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D77255B4A4BED1"'
      last-modified:
      - Tue, 26 Nov 2019 09:47:52 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 26 Nov 2019 09:47:52 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:47:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list&maxresults=5000&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        ContainerName=\"cont000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>testdirectory</Name><Properties><Creation-Time>Tue,
        26 Nov 2019 09:47:52 GMT</Creation-Time><Last-Modified>Tue, 26 Nov 2019 09:47:52
        GMT</Last-Modified><Etag>0x8D77255B4A4BED1</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5
        /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255B4A4BED1"'
      last-modified:
      - Tue, 26 Nov 2019 09:47:52 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:03 GMT
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-umask:
      - '0000'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory2?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255BBD2CD62"'
      last-modified:
      - Tue, 26 Nov 2019 09:48:04 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D77255BBD2CD62"'
      last-modified:
      - Tue, 26 Nov 2019 09:48:04 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 26 Nov 2019 09:48:04 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory2?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255BBD2CD62"'
      last-modified:
      - Tue, 26 Nov 2019 09:48:04 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::rwx
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/blob000004?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255BF8CABFA"'
      last-modified:
      - Tue, 26 Nov 2019 09:48:10 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/blob000004?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255BF8CABFA"'
      last-modified:
      - Tue, 26 Nov 2019 09:48:10 GMT
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-----
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255B4A4BED1"'
      last-modified:
      - Tue, 26 Nov 2019 09:47:52 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:48:28 GMT
      x-ms-meta-tag1:
      - value1
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D77255DC35C3FF"'
      last-modified:
      - Tue, 26 Nov 2019 09:48:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:49:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?recursive=True
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Nov 2019 09:49:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
version: 1
