interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:08 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB31985ED2D472"'
      last-modified:
      - Fri, 31 Mar 2023 03:31:09 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/dir
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:11 GMT
      x-ms-umask:
      - '0027'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/dir?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB3198609192A3"'
      last-modified:
      - Fri, 31 Mar 2023 03:31:12 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/dir1
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:17 GMT
      x-ms-umask:
      - '0027'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB319863B36341"'
      last-modified:
      - Fri, 31 Mar 2023 03:31:18 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/dir/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB319862065B7E"'
      last-modified:
      - Fri, 31 Mar 2023 03:31:15 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 31 Mar 2023 03:31:15 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/dir1/blob000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:19 GMT
      x-ms-rename-source:
      - /contxnh2mb6z5z3ayigitbyn/dir/blobuj4bolqbuys5daay5uop
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/dir1/blob000004
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB319862065B7E"'
      last-modified:
      - Fri, 31 Mar 2023 03:31:15 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list&prefix=dir1%2F&maxresults=5000&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        ContainerName=\"cont000003\"><Prefix>dir1/</Prefix><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir1/blob000004</Name><Properties><Creation-Time>Fri,
        31 Mar 2023 03:31:15 GMT</Creation-Time><Last-Modified>Fri, 31 Mar 2023 03:31:15
        GMT</Last-Modified><Etag>0x8DB319862065B7E</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list&prefix=dir%2F&maxresults=5000&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        ContainerName=\"cont000003\"><Prefix>dir/</Prefix><MaxResults>5000</MaxResults><Blobs
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Mar 2023 03:31:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/dir1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB319863B36341"'
      last-modified:
      - Fri, 31 Mar 2023 03:31:18 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 31 Mar 2023 03:31:18 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
