interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-05-14T23:35:59Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-05-14T23:35:59Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-02-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a8b8f3fc-e0f1-4f00-a14b-71c3014ac0ca?monitor=true&api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a8b8f3fc-e0f1-4f00-a14b-71c3014ac0ca?monitor=true&api-version=2018-02-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-05-14T23:36:03.0293361Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-05-14T23:36:03.0293361Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-05-14T23:36:02.9668620Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"TKaQvJtZ2OyKbwnAPE4yNe4F9qjTBQc2OGGyQCh80nYl87qvgKhiuQgmjpzfpW2HP392lWtVXBct3q3ZWdt8hg==","permissions":"FULL"},{"keyName":"key2","value":"BnKXKOWw1rq7H1HHNWsHr0Q/C17BdERgD36Lk1z87Mbyu5qQdWuG0W0i+P6lluRQUkodvZKhUmsWADvsV2gwMA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:36:41 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F38C1C0068"']
      last-modified: ['Mon, 14 May 2018 23:36:42 GMT']
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['16384']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Mon, 14 May 2018 23:36:42 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F38C55F2A3"']
      last-modified: ['Mon, 14 May 2018 23:36:42 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 14 May 2018 23:36:42 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F38C55F2A3"']
      last-modified: ['Mon, 14 May 2018 23:36:42 GMT']
      x-ms-snapshot: ['2018-05-14T23:36:43.0191035Z']
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitestq375fy5lbk3wzmcab.blob.core.windows.net/contmrat5eujodlegpxqxpjr/src?se=2018-05-15T23%3A36%3A44Z&sp=r&spr=https&sv=2017-11-09&sr=b&sig=KfMClTu7V2fEun5zUy9u4kwhhEpufuA7Z3rMetE%2BKwk%3D&snapshot=2018-05-14T23:36:43.0191035Z']
      x-ms-date: ['Mon, 14 May 2018 23:36:44 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5B9F38D81A36B"']
      last-modified: ['Mon, 14 May 2018 23:36:44 GMT']
      x-ms-copy-id: [8ccd69c3-5202-4bf1-a380-8e80a70a4d6d]
      x-ms-copy-status: [pending]
      x-ms-version: ['2017-11-09']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdSTkJINVI1UlRQVjdFSlM0WjRRNlpCQjZPUEFQTTdOTVpYUnw4MTgzQTQxNEU0OTMxMEI2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
