interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-30T11:10:15Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westcentralus",
      "properties": {"isHnsEnabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestaldsaccount000002?api-version=2018-07-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/db191656-8e69-43a2-a240-9ba1612c12e3?monitor=true&api-version=2018-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/db191656-8e69-43a2-a240-9ba1612c12e3?monitor=true&api-version=2018-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestaldsaccount000002","name":"clitestaldsaccount000002","type":"Microsoft.Storage/storageAccounts","location":"westcentralus","tags":{},"properties":{"isHnsEnabled":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-10-30T11:10:25.8529011Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-10-30T11:10:25.8529011Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-10-30T11:10:25.7903993Z","primaryEndpoints":{"dfs":"https://clitestaldsaccount000002.dfs.core.windows.net/","web":"https://clitestaldsaccount000002.z4.web.core.windows.net/","blob":"https://clitestaldsaccount000002.blob.core.windows.net/","queue":"https://clitestaldsaccount000002.queue.core.windows.net/","table":"https://clitestaldsaccount000002.table.core.windows.net/","file":"https://clitestaldsaccount000002.file.core.windows.net/"},"primaryLocation":"westcentralus","statusOfPrimary":"available","secondaryLocation":"westus2","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://clitestaldsaccount000002-secondary.dfs.core.windows.net/","web":"https://clitestaldsaccount000002-secondary.z4.web.core.windows.net/","blob":"https://clitestaldsaccount000002-secondary.blob.core.windows.net/","queue":"https://clitestaldsaccount000002-secondary.queue.core.windows.net/","table":"https://clitestaldsaccount000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestaldsaccount000002/listKeys?api-version=2018-07-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:10:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75D29D2CC1F65"'
      last-modified:
      - Wed, 30 Oct 2019 11:10:50 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:10:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:10:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75D29D59654FB"'
      last-modified:
      - Wed, 30 Oct 2019 11:10:55 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:10:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D75D29D59654FB"'
      last-modified:
      - Wed, 30 Oct 2019 11:10:55 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 30 Oct 2019 11:10:55 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:10:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        ContainerName=\"cont000003\"><Blobs><Blob><Name>testdirectory</Name><Properties><Creation-Time>Wed,
        30 Oct 2019 11:10:55 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2019 11:10:55
        GMT</Last-Modified><Etag>0x8D75D29D59654FB</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5
        /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:11:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list&prefix=testdirectory%2F&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        ContainerName=\"cont000003\"><Prefix>testdirectory/</Prefix><Blobs><Blob><Name>testdirectory/readme</Name><Properties><Creation-Time>Wed,
        30 Oct 2019 11:11:10 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2019 11:11:10
        GMT</Last-Modified><Etag>0x8D75D29DE5DC109</Etag><Content-Length>87</Content-Length><Content-Type>text/plain;
        charset=utf-8</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64
        /><Content-MD5>sYGKK8OX+WLKH+2bAe4tSQ==</Content-MD5><Cache-Control /><Content-Disposition
        /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><ServerEncrypted>true</ServerEncrypted></Properties><Metadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:11:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list&prefix=testdirectory%2F&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        ContainerName=\"cont000003\"><Prefix>testdirectory/</Prefix><Blobs><Blob><Name>testdirectory/apple</Name><Properties><Creation-Time>Wed,
        30 Oct 2019 11:11:16 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2019 11:11:16
        GMT</Last-Modified><Etag>0x8D75D29E1E2FC59</Etag><Content-Length>0</Content-Length><Content-Type
        /><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata></Blob><Blob><Name>testdirectory/apple/file_0</Name><Properties><Creation-Time>Wed,
        30 Oct 2019 11:11:16 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2019 11:11:16
        GMT</Last-Modified><Etag>0x8D75D29E246AD34</Etag><Content-Length>128</Content-Length><Content-Type>text/plain;
        charset=utf-8</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64
        /><Content-MD5>3iOpkn88b78WSBjoP1/4eg==</Content-MD5><Cache-Control /><Content-[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:11:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/desdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:00 GMT
      x-ms-rename-source:
      - /cont36cg4wyjzdj3veuk6b5i/testdirectory
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/desdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container&comp=list&prefix=desdirectory%2F&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitestaldsaccount000002.blob.core.windows.net/\"
        Co[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/desdirectory?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75D29D59654FB"'
      last-modified:
      - Wed, 30 Oct 2019 11:10:55 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/desdirectory?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75D29D59654FB"'
      last-modified:
      - Wed, 30 Oct 2019 11:10:55 GMT
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-----
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:17 GMT
      x-ms-meta-tag1:
      - value1
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/desdirectory?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75D2A074BCB30"'
      last-modified:
      - Wed, 30 Oct 2019 11:12:18 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/desdirectory?recursive=True
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 11:12:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/desdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
version: 1
