interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-05-29T19:43:55Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-05-29T19:43:55Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-03-01-preview
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/30f199be-ce60-4916-87c3-8e95cf18c806?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/30f199be-ce60-4916-87c3-8e95cf18c806?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-05-29T19:43:57.9291999Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-05-29T19:43:57.9291999Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-05-29T19:43:57.8355029Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"Mnrha13vZ4sOvACaC4c010lVtz9EZhD6naTwxw+t1R7yPMB7207KWsHmlXwqseGt1hYxrpv6QPU8z/nlc5hGeA==","permissions":"FULL"},{"keyName":"key2","value":"vUXBL2RJLllJaQquXOm4dg8fK0ujo/FjK+a0PnTrSK4tpXEQJveoznF8Rg2jbLo3VV66uL372u+7DNjG9I7u+Q==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:18 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5C59C9150DAFB"']
      last-modified: ['Tue, 29 May 2018 19:44:18 GMT']
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:18 GMT']
      x-ms-version: ['2017-11-09']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      x-ms-error-code: [BlobNotFound]
      x-ms-version: ['2017-11-09']
    status: {code: 404, message: The specified blob does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:20 GMT']
      x-ms-version: ['2017-11-09']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      content-type: [application/octet-stream]
      etag: ['"0x8D5C59C9215F0C1"']
      last-modified: ['Tue, 29 May 2018 19:44:19 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Tue, 29 May 2018 19:44:19 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:20 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container&comp=list&maxresults=1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"\
        cont000004\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000003</Name><Properties><Creation-Time>Tue,\
        \ 29 May 2018 19:44:19 GMT</Creation-Time><Last-Modified>Tue, 29 May 2018\
        \ 19:44:19 GMT</Last-Modified><Etag>0x8D5C59C9215F0C1</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      x-ms-blob-content-type: [application/test-content]
      x-ms-date: ['Tue, 29 May 2018 19:44:22 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003?comp=properties
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5C59C93F6EF2B"']
      last-modified: ['Tue, 29 May 2018 19:44:23 GMT']
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:24 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:24 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      [...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 29 May 2018 19:44:25 GMT']
      x-ms-range: [bytes=10-499]
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"}
    headers:
      content-range: [bytes 10-499/1024]
      content-type: [application/test-content]
      etag: ['"0x8D5C59C93F6EF2B"']
      last-modified: ['Tue, 29 May 2018 19:44:23 GMT']
      x-ms-blob-content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Tue, 29 May 2018 19:44:19 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-11-09']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdURFVJTjM0UVBFSlk2QkFEVVk2TkxGWjZXS1BUTFJGVVVNWnxGM0YwOEM1MUNFNjA4MjU0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
