interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87D874496F"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:48 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-cache-control:
      - no-cache
      x-ms-content-disposition:
      - attachment
      x-ms-content-encoding:
      - compress
      x-ms-content-language:
      - en-US
      x-ms-content-length:
      - '87'
      x-ms-content-type:
      - multipart/form-data;
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:49 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-meta:
      - '{''key'': ''val''}'
      x-ms-meta-key:
      - val
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/upload_file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87D98D10F5"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:50 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2021-03-01T07:58:50.1521653Z'
      x-ms-file-creation-time:
      - '2021-03-01T07:58:50.1521653Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2021-03-01T07:58:50.1521653Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 909906509848377342*11817528331572486000
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:50 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/upload_file?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8D8DC87D9B7AB07"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:50 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/upload_file
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment
      content-language:
      - en-US
      content-type:
      - multipart/form-data;
      etag:
      - '"0x8D8DC87D9B7AB07"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:50 GMT
      x-ms-meta-key:
      - val
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:52 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/upload_file
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The
        specified parent path does not exist.\nRequestId:7c831afe-b01a-0067-2b70-0e4a9f000000\nTime:2021-03-01T07:58:53.2068849Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ParentNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified parent path does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:53 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87DC12D020"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:54 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:55 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/upload_file?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8D8DC87DCFB5DF1"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:55 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:57 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_file.json
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87DE783021"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:58 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2021-03-01T07:58:58.4039457Z'
      x-ms-file-creation-time:
      - '2021-03-01T07:58:58.4039457Z'
      x-ms-file-id:
      - '13835146016212385792'
      x-ms-file-last-write-time:
      - '2021-03-01T07:58:58.4039457Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 909906509848377342*11817528331572486000
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 01 Mar 2021 07:58:58 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_file.json?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8D8DC87DEA6C285"'
      last-modified:
      - Mon, 01 Mar 2021 07:58:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:00 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/dest_file.json
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87E01C4069"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:01 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2021-03-01T07:59:01.1568745Z'
      x-ms-file-creation-time:
      - '2021-03-01T07:59:01.1568745Z'
      x-ms-file-id:
      - '13835110831840296960'
      x-ms-file-last-write-time:
      - '2021-03-01T07:59:01.1568745Z'
      x-ms-file-parent-id:
      - '13835163608398430208'
      x-ms-file-permission-key:
      - 909906509848377342*11817528331572486000
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:01 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/dest_file.json?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8D8DC87E04A5D8A"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:01 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/sub_dir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87E1B8AE2A"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/sub_dir/upload_file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87E284D55E"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:05 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2021-03-01T07:59:05.1977054Z'
      x-ms-file-creation-time:
      - '2021-03-01T07:59:05.1977054Z'
      x-ms-file-id:
      - '13835066851375185920'
      x-ms-file-last-write-time:
      - '2021-03-01T07:59:05.1977054Z'
      x-ms-file-parent-id:
      - '13835181200584474624'
      x-ms-file-permission-key:
      - 909906509848377342*11817528331572486000
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:05 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/sub_dir/upload_file?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8D8DC87E2ADC179"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/sub_dir/dest_file.json
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8DC87E42B2FF8"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:07 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2021-03-01T07:59:07.9656440Z'
      x-ms-file-creation-time:
      - '2021-03-01T07:59:07.9656440Z'
      x-ms-file-id:
      - '11529267822626603008'
      x-ms-file-last-write-time:
      - '2021-03-01T07:59:07.9656440Z'
      x-ms-file-parent-id:
      - '13835181200584474624'
      x-ms-file-permission-key:
      - 909906509848377342*11817528331572486000
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:08 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/sub_dir/dest_file.json?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8D8DC87E4594D1D"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:08 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Mar 2021 07:59:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dest_dir/sub_dir/dest_file.json
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8DC87E4594D1D"'
      last-modified:
      - Mon, 01 Mar 2021 07:59:08 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
