interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2018-06-26T21:27:11Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2018-06-26T21:27:11Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "properties":
      {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-03-01-preview
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/2b8486e0-d4e2-4791-b537-f27ddab56293?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/2b8486e0-d4e2-4791-b537-f27ddab56293?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: !!python/unicode '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-06-26T21:27:18.1425947Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-06-26T21:27:18.1425947Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-06-26T21:27:17.9238437Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","value":"QvYqgVMCM74rsi7jWHrXc3B9L4kb8NRNT1bB/T5IH/jVV0vOn2pX0dE/yQHSkbpVKGmLymHKpO4sqaf3rVLQ8g==","permissions":"FULL"},{"keyName":"key2","value":"b2dVovDSa43j14zQHaBtXls2nTdnGSh7CNnP2Q1t+qJdQB+uP6NfylyIcvbBm5iFnhUhA3CeqaXuRSl2eLFPeA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 26 Jun 2018 21:27:59 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5DBABB0E9BE50"']
      last-modified: ['Tue, 26 Jun 2018 21:27:59 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['16384']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Tue, 26 Jun 2018 21:28:00 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5DBABB1626E13"']
      last-modified: ['Tue, 26 Jun 2018 21:28:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 26 Jun 2018 21:28:00 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5DBABB1626E13"']
      last-modified: ['Tue, 26 Jun 2018 21:28:00 GMT']
      x-ms-snapshot: ['2018-06-26T21:28:00.8684523Z']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitest6oaekjcj7adllt2ae.blob.core.windows.net/contrbhfy3ggxjvy6q4jpqv7/src?sr=b&spr=https&sp=r&sv=2018-03-28&sig=N87DkluQzjkZeVaA%2Bk6eGXIV67K%2B1LnF87/ldfG7f3U%3D&se=2018-06-27T21%3A28%3A02Z&snapshot=2018-06-26T21:28:00.8684523Z']
      x-ms-date: ['Tue, 26 Jun 2018 21:28:02 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5DBABB2959B48"']
      last-modified: ['Tue, 26 Jun 2018 21:28:02 GMT']
      x-ms-copy-id: [1a669ffa-81d5-46db-9b71-6a37ac631ba9]
      x-ms-copy-status: [pending]
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdGRFU3NVJNS1VIVzQ1M0RSNVBNSVhCRExUUEtNR1VCTE9GWnw3QjI3NTIwMTE4ODc5N0E1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
