interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:18 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A1CB84843"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:19 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:22 GMT
      x-ms-umask:
      - '0027'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A1F4BDAEC"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DCCB1A1F4BDAEC"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:23 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 02 Sep 2024 06:40:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:25 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133697328234420972","etag":"0x8DCCB1A1F4BDAEC","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        02 Sep 2024 06:40:23 GMT","name":"testdirectory","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A1F4BDAEC"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:23 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory2
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:31 GMT
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-umask:
      - '0000'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory2?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A24E13F7C"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory2?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A24E13F7C"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:32 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::rwx
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/blob000004?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A27DA4AC4"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:37 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/blob000004?action=getAccessControl&upn=False
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A27DA4AC4"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:37 GMT
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-----
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A1F4BDAEC"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:23 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:50 GMT
      x-ms-meta-tag1:
      - value1
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DCCB1A2FEC9764"'
      last-modified:
      - Mon, 02 Sep 2024 06:40:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitestaldsaccount000002.dfs.core.windows.net/cont000003/testdirectory?recursive=True
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Sep 2024 06:40:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitestaldsaccount000002.blob.core.windows.net/cont000003/testdirectory
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified blob does not exist.
version: 1
