interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hbisht-rg/providers/Microsoft.LoadTestService/loadTests/hbisht-cli-testing?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hbisht-rg/providers/Microsoft.LoadTestService/loadtests/hbisht-cli-testing","name":"hbisht-cli-testing","type":"microsoft.loadtestservice/loadtests","location":"eastus","tags":{},"systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2023-04-27T12:54:31.2453782Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-27T12:54:31.2453782Z"},"identity":{"type":"None"},"properties":{"description":null,"dataPlaneURI":"0e42f9d7-26be-4fb3-bf06-f848866ccfac.eastus.cnt-prod.loadtesting.azure.com","encryption":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c80166d9-0000-0100-0000-644a70880000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://0e42f9d7-26be-4fb3-bf06-f848866ccfac.eastus.cnt-prod.loadtesting.azure.com/tests?api-version=2022-11-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview, 2022-11-01
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 99001206-5933-4af8-9463-85af3dd028d8
    status:
      code: 200
      message: OK
version: 1
