interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T21:31:49.3400409Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T21:31:49.3400409Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"a2dc2c30-7475-4ba0-a46a-f423cb01baa0.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a0041f02-0000-0200-0000-67ce08dc0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://a2dc2c30-7475-4ba0-a46a-f423cb01baa0.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-list?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-list
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - f9900f89-ae9b-4f5f-844c-ecdc1cdc4a44
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-list"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T21:31:40Z",
      "state": "Active", "displayName": "List Trigger", "description": "Trigger schedule
      for list test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://a2dc2c30-7475-4ba0-a46a-f423cb01baa0.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-list?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-list"],"startDateTime":"2025-03-09T21:31:40Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T21:31:40Z"]},"kind":"ScheduleTestsTrigger","displayName":"List
        Trigger","triggerId":"test-trigger-id-list","description":"Trigger schedule
        for list test case","state":"Active","createdDateTime":"2025-03-09T21:32:26.33Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:32:26.33Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://a2dc2c30-7475-4ba0-a46a-f423cb01baa0.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-list?api-version=2024-12-01-preview
      mise-correlation-id:
      - 5bd3cbf4-43d5-4eaa-8990-449885cdfaa4
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://a2dc2c30-7475-4ba0-a46a-f423cb01baa0.eastus.cnt-prod.loadtesting.azure.com/triggers?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[{"testIds":["test-id-list"],"startDateTime":"2025-03-09T21:31:40Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T21:31:40Z"]},"kind":"ScheduleTestsTrigger","displayName":"List
        Trigger","triggerId":"test-trigger-id-list","description":"Trigger schedule
        for list test case","state":"Active","createdDateTime":"2025-03-09T21:32:26.33Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:32:26.33Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 08b6d83e-7160-4ca9-9b0c-de3613a65fb0
    status:
      code: 200
      message: OK
version: 1
