interactions:
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002?api-version=2022-12-01
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2022-12-01, 2023-12-01-preview, 2024-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/c10ecbfb-416e-4780-bfa2-1a46703392f9*84B521C7408B121F5C504F5F9E1A9425F0A8A0E844D1DD510EF8CAD730E2352E?api-version=2022-12-01&t=638773547394045330&c=MIIHpTCCBo2gAwIBAgITfwTYxBKzZMhYMh8gpgAEBNjEEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjEyMjI0WhcNMjUwNzIyMjEyMjI0WjBAMT4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/c10ecbfb-416e-4780-bfa2-1a46703392f9*84B521C7408B121F5C504F5F9E1A9425F0A8A0E844D1DD510EF8CAD730E2352E?api-version=2022-12-01&t=638773547394045330&c=MIIHpTCCBo2gAwIBAgITfwTYxBKzZMhYMh8gpgAEBNjEEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002","name":"clitest-pf-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"kumarmoh@microsoft.com","createdByType":"User","createdAt":"2025-03-12T05:38:22.4967139Z","lastModifiedBy":"kumarmoh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-12T05:38:58.3732849Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus":{"principalId":"fd76bd12-4b1e-4aba-bad1-e30ef33ae7de","clientId":"528d11a0-4cc1-452c-b5ad-6ac0a6f43f8f"}}},"properties":{"dataPlaneURI":"0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d2041d44-0000-0200-0000-67d11dfe0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier loadtest-locust-case","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 60a6631a-9c97-4518-bcd5-cd382653c1ac
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "publicIPDisabled":
      false, "environmentVariables": {}, "secrets": {}, "certificate": null, "loadTestConfiguration":
      {"engineInstances": 1, "regionalLoadTestConfig": null, "quickStartTest": false,
      "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics": {"cc198210-1a09-4b1e-8574-72fb4d0f4df6":
      {"aggregate": "avg", "clientMetric": "requests_per_sec", "condition": ">", "value":
      "78"}, "852f3fae-1f3b-497e-b44b-57f44c1118c5": {"aggregate": "percentage", "clientMetric":
      "error", "condition": ">", "value": "50"}, "75161fa6-5b85-47c3-b3ed-c310f291beba":
      {"aggregate": "avg", "clientMetric": "latency", "condition": ">", "value": "200",
      "requestName": "GetCustomerDetails"}}, "passFailServerMetrics": {}}, "autoStopCriteria":
      {}, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"passFailCriteria":{"passFailMetrics":{"cc198210-1a09-4b1e-8574-72fb4d0f4df6":{"clientMetric":"requests_per_sec","aggregate":"avg","condition":">","value":78.0,"action":"continue"},"852f3fae-1f3b-497e-b44b-57f44c1118c5":{"clientMetric":"error","aggregate":"percentage","condition":">","value":50.0,"action":"continue"},"75161fa6-5b85-47c3-b3ed-c310f291beba":{"clientMetric":"latency","aggregate":"avg","condition":">","requestName":"GetCustomerDetails","value":200.0,"action":"continue"}},"passFailServerMetrics":{}},"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"JMX","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"loadtest-locust-case","description":"Advanced
        URL load test created from az load test command","displayName":"CLI-Load-Test-Advanced-URL","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-03-12T05:39:31.992Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-12T05:39:31.992Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
      mise-correlation-id:
      - 1c66f641-eb6c-489b-94d4-b769d53f672f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 6a2aae06-74f4-4240-8ac4-f83a854a0f78
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"cc198210-1a09-4b1e-8[...]
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"626fadf1-5a60-4fbc-a429-180a00d46dca": null, "4fbe4d81-3e6e-4743-9ab8-852fa8d3af05":
      null, "970395c0-1fc1-4b93-af3a-8d93fc308b59": null, "4d603e89-ff75-41ea-a9a2-ba7973bd8ab9":
      null}, "passFailServerMetrics": {"7c830e31-18c8-4f10-86f4-6a0ddb10ec75": {"metricName":
      "CpuPercentage", "metricNameSpace": "Microsoft.Web/serverfarms", "resourceId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server",
      "aggregation": "Maximum", "condition": ">", "value": 0}, "81a055d7-93b9-4a57-bd29-241e5ffaeff5":
      {"metricName": "MemoryPercentage", "metricNameSpace": "microsoft.web/serverfarms",
      "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server",
      "aggregation": "Average", "condition": "<", "value": 100}}}, "autoStopCriteria":
      {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60}, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"passFailCriteria":{"passFailMetrics":{},"passFailServerMetrics":{"7c830e31-18c8-4f10-86f4-6a0ddb10ec75":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","metricNamespace":"Microsoft.Web/serverfarms","metricName":"CpuPercentage","aggregation":"Maximum","condition":">","value":0.0,"action":"continue"},"81a055d7-93b9-4a57-bd29-241e5ffaeff5":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","metricNamespace":"microsoft.web/serverfarms","metricName":"MemoryPercentage","aggregation":"Average","condition":"<","value":100.0,"action":"continue"}}},"au[...]
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"bc51653b-12d2-42fb-8810-9bd44a28fc62": {"aggregate": "avg", "clientMetric":
      "requests_per_sec", "condition": ">", "value": "78"}, "e3041486-2723-49eb-ac07-18c78aed824c":
      {"aggregate": "percentage", "clientMetric": "error", "condition": ">", "value":
      "50"}, "f49501e8-7555-4cc9-b834-4af761a402ad": {"aggregate": "avg", "clientMetric":
      "latency", "condition": ">", "value": "200", "requestName": "GetCustomerDetails"}},
      "passFailServerMetrics": {"7c830e31-18c8-4f10-86f4-6a0ddb10ec75": null, "81a055d7-93b9-4a57-bd29-241e5ffaeff5":
      null, "6489f67f-7418-41dd-a1a3-0d0d53c45072": {"metricName": "CpuPercentage",
      "metricNameSpace": "Microsoft.Web/serverfarms", "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/app-components?api-version=2024-12-01-preview
  response:
    body:
      string: '{"components":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","resourceName":"cnt-integration-tests-server","resourceType":"Microsoft.Web/serverfarms","displayName":"cnt-integration-tests-server","resourceGroup":"cnt-integration-tests-rg","subscriptionId":"7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"}},"testId":"loadtest-locust-case","createdDateTime":"2025-03-12T05:39:37.668Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-12T05:39:40.5Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 15476ed7-858f-4ba3-89c1-441b79888d95
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://0f1a8581-f5df-4ac6-9569-e8ecd21a0f31.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/server-metrics-config?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testId":"loadtest-locust-case","metrics":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server/providers/microsoft.insights/metricdefinitions/CpuPercentage":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server/providers/microsoft.insights/metricdefinitions/CpuPercentage","resourceId":"/subscriptions/00000000-0000-0000-0000-[...]
[...]
