interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-19T07:02:45.585053Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-19T07:02:45.585053Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"29eea606-0b61-4183-929d-de3dcf6e039f.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d60089a5-0000-0200-0000-67da6c2d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://29eea606-0b61-4183-929d-de3dcf6e039f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-update
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 3c2310fd-d28e-4567-8f74-dc0f19d72e0b
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-update"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-19T07:02:36Z",
      "state": "Active", "displayName": "Update Trigger", "description": "Trigger
      schedule for update test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://29eea606-0b61-4183-929d-de3dcf6e039f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-19T07:02:36Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-20T07:02:36Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"test-trigger-id-update","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-19T07:03:20.926Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-19T07:03:20.926Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://29eea606-0b61-4183-929d-de3dcf6e039f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
      mise-correlation-id:
      - d5b13fc0-3736-47fa-88e8-46309234a0a6
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-update"], "recurrence":
      {"frequency": "Weekly", "interval": 1, "daysOfWeek": ["Monday"]}, "startDateTime":
      "2025-03-19T07:02:36Z", "displayName": "Update Trigger", "description": "Trigger
      schedule for update test case", "state": "Active"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://29eea606-0b61-4183-929d-de3dcf6e039f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-19T07:02:36Z","recurrence":{"frequency":"Weekly","daysOfWeek":["Monday"],"interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-24T07:02:36Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"test-trigger-id-update","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-19T07:03:20.926Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-19T07:03:23.521Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 32c263b0-4213-4723-9ae0-c5318f4eca77
    status:
      code: 200
      message: OK
version: 1
