interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-19T07:02:45.6760596Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-19T07:02:45.6760596Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"70e4ab65-0ccf-4a51-bf4b-d3dcaef08ce4.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d600f4a5-0000-0200-0000-67da6c380000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://70e4ab65-0ccf-4a51-bf4b-d3dcaef08ce4.eastus.cnt-prod.loadtesting.azure.com/triggers/invalid-daily-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: invalid-daily-trigger
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - ffb49335-9dd6-4797-81ab-12e9a983fac7
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://70e4ab65-0ccf-4a51-bf4b-d3dcaef08ce4.eastus.cnt-prod.loadtesting.azure.com/triggers/invalid-weekly-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: invalid-weekly-trigger
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 163f3d00-38b2-48f4-a04b-e481f5b3076d
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://70e4ab65-0ccf-4a51-bf4b-d3dcaef08ce4.eastus.cnt-prod.loadtesting.azure.com/triggers/invalid-monthly-dates-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: invalid-monthly-dates-trigger
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - a89894bd-8007-4cb1-8963-b3f2ebe9a156
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://70e4ab65-0ccf-4a51-bf4b-d3dcaef08ce4.eastus.cnt-prod.loadtesting.azure.com/triggers/invalid-monthly-days-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: invalid-monthly-days-trigger
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 96822723-b9d0-4029-a423-8af784d72b12
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://70e4ab65-0ccf-4a51-bf4b-d3dcaef08ce4.eastus.cnt-prod.loadtesting.azure.com/triggers/invalid-cron-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: invalid-cron-trigger
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 5d945842-995e-46c1-b4af-316cfee0e716
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
version: 1
