interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-18T22:17:13.0435499Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-18T22:17:13.0435499Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"63b06e91-98e1-48a3-9f51-c4c6c13107a3.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c800d00d-0000-0200-0000-67d9f0ff0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://63b06e91-98e1-48a3-9f51-c4c6c13107a3.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-delete?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-delete
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 90897f66-8b3a-47f2-8c34-75acdf672354
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-delete"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-18T22:17:05Z",
      "state": "Active", "displayName": "Delete Trigger", "description": "Trigger
      schedule for delete test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://63b06e91-98e1-48a3-9f51-c4c6c13107a3.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-delete?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-delete"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-19T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Delete
        Trigger","triggerId":"test-trigger-id-delete","description":"Trigger schedule
        for delete test case","state":"Active","createdDateTime":"2025-03-18T22:17:48.153Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:48.153Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://63b06e91-98e1-48a3-9f51-c4c6c13107a3.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-delete?api-version=2024-12-01-preview
      mise-correlation-id:
      - 64e370d6-7363-4000-96f4-016c32a162df
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://63b06e91-98e1-48a3-9f51-c4c6c13107a3.eastus.cnt-prod.loadtesting.azure.com/triggers?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 40b10c7f-6042-42ff-aa7b-8a628964a72e
    status:
      code: 200
      message: OK
version: 1
