interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-04-03T08:31:14.2977142Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-03T08:31:14.2977142Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4700e988-0000-0200-0000-67ee47760000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - ef6fe226-ad74-4adc-bffd-c6017ca04fff
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-03T08:32:24.26Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:32:24.26Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
      mise-correlation-id:
      - c9ef0eff-c8a3-4836-8c03-1099021c4b7b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 8a79d874-c908-4616-b21f-f85b6001f3a4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-list-test-1'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - dccdff0c-8a59-4cd4-993d-54a98997a9ab
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-guags3jnn/providers/microsoft.insights/actionGroups/clitest-notification-hmssc642f"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"scope":"Tests","eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-list-test-1","displayName":"nri-list-test-1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-03T08:32:30.442Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:32:30.442Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2024-12-01-preview
      mise-correlation-id:
      - 7e6b1674-0ce8-4eeb-b0bd-06686a4e2e3f
    status:
      code: 201
      message: Created
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-guags3jnn/providers/microsoft.insights/actionGroups/clitest-notification-hmssc642f"],
      "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-3?api-version=2024-12-01-preview
  response:
    body:
      string: '[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://30489331-eecb-4a44-a006-88722b08fc16.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview&testIds=test1
  response:
    body:
      string: '{"value":[[...]
{"scope":"Tests","eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-list-test-1","displayName":"nri-list-test-1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-03T08:32:30.442Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:32:30.442Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - aefecf39-a5a9-469d-ac1b-774a8fb77757
    status:
      code: 200
      message: OK
version: 1
