interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"harshanb@microsoft.com","createdByType":"User","createdAt":"2025-04-30T13:34:51.0689228Z","lastModifiedBy":"harshanb@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-30T13:34:51.0689228Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"54019d2c-0000-0200-0000-681227100000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - dbea2c4f-d9b0-4483-9a07-f8e182eaae21
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60,"maximumVirtualUsersPerEngine":5000},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-30T13:35:31.673Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:35:31.673Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2025-03-01-preview
      mise-correlation-id:
      - ed8589ce-4452-484c-bc0d-0da766a360b2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 46fcc200-cac5-4dc1-ac47-24acdae22af7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-list-test-1'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - fa4c6047-0f9b-4f35-99a7-fa5f8f9c0a55
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-uyygmutx2/providers/microsoft.insights/actionGroups/clitest-notification-vfqeefkzp"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"scope":"Tests","eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-list-test-1","displayName":"nri-list-test-1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-30T13:35:40.96Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:35:40.96Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2025-03-01-preview
      mise-correlation-id:
      - c25c65dc-fe96-4e04-bfbe-abaf74922db5
    status:
      code: 201
      message: Created
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-uyygmutx2/providers/microsoft.insights/actionGroups/clitest-notification-vfqeefkzp"],
      "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-3?api-version=2025-03-01-preview
  response:
    body:
      string: '[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://27984503-1534-4a54-ab2d-a5541abcb12f.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2025-03-01-preview&testIds=test1
  response:
    body:
      string: '{"value":[[...]
{"scope":"Tests","eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-list-test-1","displayName":"nri-list-test-1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-30T13:35:40.96Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:35:40.96Z","lastModifiedBy":"harshanb@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - fc797c8f-cf22-4d7c-88e9-0016d97abf30
    status:
      code: 200
      message: OK
version: 1
