interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-18T22:17:12.9935199Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-18T22:17:12.9935199Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"69e1945e-f997-45ab-bb33-ed4c2792980f.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c800f00d-0000-0200-0000-67d9f1010000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://69e1945e-f997-45ab-bb33-ed4c2792980f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-enable
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - de8b1111-1d80-4ce5-8dc5-9b412d145bca
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-enable"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-18T22:17:05Z",
      "state": "Active", "displayName": "Enable Trigger", "description": "Trigger
      schedule for enable test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://69e1945e-f997-45ab-bb33-ed4c2792980f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-19T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-18T22:17:47.924Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:47.924Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://69e1945e-f997-45ab-bb33-ed4c2792980f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
      mise-correlation-id:
      - e5a1109b-d3c8-454d-a0bf-fbefa0bf7b1c
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://69e1945e-f997-45ab-bb33-ed4c2792980f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-19T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-18T22:17:47.924Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:51.455Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2c8a7961-bbd6-40e5-8d4d-b0e123ad8603
    status:
      code: 200
      message: OK
version: 1
