interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-18T22:17:14.5379575Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-18T22:17:14.5379575Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"2b62fd7a-dcc9-4fdd-92a9-91743607cb60.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c800e00d-0000-0200-0000-67d9f1000000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://2b62fd7a-dcc9-4fdd-92a9-91743607cb60.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: update-invalid-trigger
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 609f513b-844b-4ad7-a140-25f813b44b96
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-update"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-18T22:17:05Z",
      "state": "Active", "displayName": "Update Trigger", "description": "Trigger
      schedule for update test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://2b62fd7a-dcc9-4fdd-92a9-91743607cb60.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-19T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"update-invalid-trigger","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-18T22:17:48.886Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:48.886Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://2b62fd7a-dcc9-4fdd-92a9-91743607cb60.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
      mise-correlation-id:
      - e7957f09-7ebf-4fcd-a002-a692fa2b4db1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://2b62fd7a-dcc9-4fdd-92a9-91743607cb60.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-19T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"update-invalid-trigger","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-18T22:17:48.886Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:48.886Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - cf199f3d-c975-4c6c-8c8a-5ecd69a34be1
    status:
      code: 200
      message: OK
version: 1
