interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-04-03T08:31:15.4155043Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-03T08:31:15.4155043Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"176defb5-4bba-4493-bdfe-f781271aa157.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4700cc88-0000-0200-0000-67ee476a0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://176defb5-4bba-4493-bdfe-f781271aa157.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-invalid-case-1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-invalid-case-1'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - f742ae0a-a916-4c5f-ab3d-2e7f05cdc6ef
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://176defb5-4bba-4493-bdfe-f781271aa157.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-invalid-case-2?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-invalid-case-2'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - a32ca74e-3d83-4304-8b12-eb85150312ca
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
version: 1
