interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-18T22:17:14.2532996Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-18T22:17:14.2532996Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"0c35ed1c-f4bc-497d-a640-899f51d8133a.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c800180e-0000-0200-0000-67d9f1030000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://0c35ed1c-f4bc-497d-a640-899f51d8133a.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-update
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 3f785483-9d3f-4c3a-8a97-5652e30c3382
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-update"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-18T22:17:05Z",
      "state": "Active", "displayName": "Update Trigger", "description": "Trigger
      schedule for update test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://0c35ed1c-f4bc-497d-a640-899f51d8133a.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-19T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"test-trigger-id-update","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-18T22:17:50.109Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:50.109Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://0c35ed1c-f4bc-497d-a640-899f51d8133a.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
      mise-correlation-id:
      - eaa520ab-fa84-48af-a27e-ed5c3c34b6d5
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-update"], "recurrence":
      {"frequency": "Weekly", "interval": 1, "daysOfWeek": ["Monday"]}, "startDateTime":
      "2025-03-18T22:17:05Z", "displayName": "Update Trigger", "description": "Trigger
      schedule for update test case", "state": "Active"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://0c35ed1c-f4bc-497d-a640-899f51d8133a.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-update?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-18T22:17:05Z","recurrence":{"frequency":"Weekly","daysOfWeek":["Monday"],"interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-24T22:17:05Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"test-trigger-id-update","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-18T22:17:50.109Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-18T22:17:52.199Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b5b9e868-f4ec-49ee-8dbd-363f30f00c01
    status:
      code: 200
      message: OK
version: 1
