interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-enginemi-000001/providers/Microsoft.LoadTestService/loadTests/clitest-enginemi-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-enginemi-000001/providers/Microsoft.LoadTestService/loadTests/clitest-enginemi-000002","name":"clitest-enginemi-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-02-19T10:47:39.4573825Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-19T10:47:39.4573825Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"04004f5f-0000-0200-0000-67b5b6e30000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier create-test-case","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 7928b723-57fe-49a5-81ea-0a268079ef49
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": null, "description":
      "Sample_test_description", "keyvaultReferenceIdentityType": "SystemAssigned",
      "environmentVariables": {}, "secrets": {}, "loadTestConfiguration": {"engineInstances":
      1, "regionalLoadTestConfig": null, "quickStartTest": false}, "autoStopCriteria":
      {}, "baselineTestRunId": null, "engineBuiltinIdentityType": "SystemAssigned"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","engineBuiltinIdentityType":"SystemAssigned","testId":"create-test-case","description":"Sample_test_description","displayName":"Sample_test_display_name","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-02-19T10:48:15.334Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-02-19T10:48:15.334Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
      mise-correlation-id:
      - 4bf9ce80-bdcb-4ef2-a764-883c3a81dd29
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - faa8c850-906e-493d-aebe-4dd37a927f7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": "URL", "description":
      "Sample_test_description", "keyvaultReferenceIdentityType": "SystemAssigned",
      "environmentVariables": {}, "secrets": {}, "loadTestConfiguration": {"engineInstances":
      1, "splitAllCSVs": false, "quickStartTest": false, "regionalLoadTestConfig":
      null}, "autoStopCriteria": {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60}, "baselineTestRunId": null, "engineBuiltinIdentityType": "UserAssigned",
      "engineBuiltinIdentityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-mi"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTim[...]
[...]
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": "URL", "description":
      "CLI UT Load Test - Engine reference with System Assigned Managed Identity",
      "keyvaultReferenceIdentityType": "SystemAssigned", "publicIPDisabled": false,
      "environmentVariables": {}, "secrets": {}, "certificate": null, "loadTestConfiguration":
      {"engineInstances": 4, "regionalLoadTestConfig": null, "quickStartTest": false},
      "autoStopCriteria": {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60}, "engineBuiltinIdentityType": "SystemAssigned", "engineBuiltinIdentityIds":
      null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://a9111520-1141-4bc2-9628-d2d2bc714aad.eastus.cnt-prod.loadtesting.azure.c[...]
[...]
