interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-enginemi-000001/providers/Microsoft.LoadTestService/loadTests/clitest-enginemi-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-enginemi-000001/providers/Microsoft.LoadTestService/loadTests/clitest-enginemi-000002","name":"clitest-enginemi-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"kumarmoh@microsoft.com","createdByType":"User","createdAt":"2025-03-12T08:11:34.9167569Z","lastModifiedBy":"kumarmoh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-12T08:11:34.9167569Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d40448d4-0000-0200-0000-67d141cf0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier create-test-case","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - c22d6bd5-3906-42f9-b1fe-2ff3f1b3002c
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": null, "description":
      "Sample_test_description", "keyvaultReferenceIdentityType": "SystemAssigned",
      "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables": {},
      "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": "SystemAssigned"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","engineBuiltinIdentityType":"SystemAssigned","testId":"create-test-case","description":"Sample_test_description","displayName":"Sample_test_display_name","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-03-12T08:12:11.562Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-12T08:12:11.562Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
      mise-correlation-id:
      - 72916fe1-ac0c-441f-8fad-0add2c1f39d8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 423e8826-1838-47f2-9841-2ca2da2d5779
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": "URL", "description":
      "Sample_test_description", "keyvaultReferenceIdentityType": "SystemAssigned",
      "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables": {},
      "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "splitAllCSVs":
      false, "quickStartTest": false, "regionalLoadTestConfig": null}, "autoStopCriteria":
      {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60}, "baselineTestRunId": null, "engineBuiltinIdentityType": "UserAssigned",
      "engineBuiltinIdentityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-mi"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTim[...]
[...]
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": "URL", "description":
      "CLI UT Load Test - Engine reference with System Assigned Managed Identity",
      "keyvaultReferenceIdentityType": "SystemAssigned", "metricsReferenceIdentityType":
      "SystemAssigned", "publicIPDisabled": false, "environmentVariables": {}, "secrets":
      {}, "certificate": null, "loadTestConfiguration": {"engineInstances": 4, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {"autoStopDisabled": false,
      "errorRate": 90.0, "errorRateTimeWindowInSeconds": 60}, "engineBuiltinIdentityType":
      "SystemAssigned", "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://7bf21daa-19d8-411c-aef1-54c24c3741bd.eastus.cnt-prod.loadtesting.azure.com/tes[...]
[...]
