interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-04-01T13:34:04.7140663Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-01T13:34:04.7140663Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0c0093e3-0000-0200-0000-67ebeb640000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - ed14019b-d8cb-4b39-92b2-3da9b882e995
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-01T13:34:46.86Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-01T13:34:46.86Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
      mise-correlation-id:
      - 131063e1-997d-429c-bb6c-910d2f543906
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 01cedf88-f613-4c15-bc76-0e5ece9e9d9b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-list-test-1'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 9f724ca5-11ad-4522-b1b9-2df94db80b01
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-n4jtj7rzq/providers/microsoft.insights/actionGroups/clitest-notification-myw7yqjks"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"scope":"Tests","eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-list-test-1","displayName":"nri-list-test-1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-01T13:34:53.589Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-01T13:34:53.589Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-1?api-version=2024-12-01-preview
      mise-correlation-id:
      - f28d481b-8ed3-4dbc-ab38-c9d71a9bc53f
    status:
      code: 201
      message: Created
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-n4jtj7rzq/providers/microsoft.insights/actionGroups/clitest-notification-myw7yqjks"],
      "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-list-test-3?api-version=2024-12-01-preview
  response:
    body:
      string: '[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://813c83ca-c0f3-41d0-a546-1985cb0c12e1.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview&testIds=test1
  response:
    body:
      string: '{"value":[[...]
{"scope":"Tests","eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-list-test-1","displayName":"nri-list-test-1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-01T13:34:53.589Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-01T13:34:53.589Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 07929d45-fa0e-4837-be89-7316cf7c9bb2
    status:
      code: 200
      message: OK
version: 1
