interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"harshanb@microsoft.com","createdByType":"User","createdAt":"2025-04-30T13:36:17.5870203Z","lastModifiedBy":"harshanb@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-30T13:36:17.5870203Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"54018b32-0000-0200-0000-681227670000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 5e1b1a80-5901-4469-91a1-6aab3f42649e
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60,"maximumVirtualUsersPerEngine":5000},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-30T13:36:57.124Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:36:57.124Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2025-03-01-preview
      mise-correlation-id:
      - 33986af7-7ded-41df-a90a-522ba7afebfb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5120abad-eef3-4447-8ce2-2f7953b27118
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-delete-test?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-delete-test'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 21674bc3-4c5f-4775-92db-0584bbbda026
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-khsgjragn/providers/microsoft.insights/actionGroups/clitest-notification-5nk7esrjz"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}, "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-delete-test?api-version=2025-03-01-preview
  response:
    body:
      string: '{"scope":"Tests","testIds":["test1"],"eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-delete-test","displayName":"nri-delete-test","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-30T13:37:01.2Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:37:01.2Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-delete-test?api-version=2025-03-01-preview
      mise-correlation-id:
      - 6ac6dbd5-3c04-4823-b192-bf8535524056
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://399fe65f-ad12-4dba-bf9a-324b2d624419.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 9d349f33-d605-4cef-bd30-3efe1b85a3ee
    status:
      code: 200
      message: OK
version: 1
