interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-19T07:02:45.5665384Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-19T07:02:45.5665384Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"9ba33a7f-28ea-4095-82e4-bbecaf1f8bd5.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d60084a5-0000-0200-0000-67da6c2d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://9ba33a7f-28ea-4095-82e4-bbecaf1f8bd5.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-enable
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 2013c6d3-cfc7-4681-bcff-7e616372e4ea
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-enable"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-19T07:02:36Z",
      "state": "Active", "displayName": "Enable Trigger", "description": "Trigger
      schedule for enable test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://9ba33a7f-28ea-4095-82e4-bbecaf1f8bd5.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-19T07:02:36Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-20T07:02:36Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-19T07:03:21.302Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-19T07:03:21.302Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://9ba33a7f-28ea-4095-82e4-bbecaf1f8bd5.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
      mise-correlation-id:
      - 9e629cbb-36dc-41ba-a3a6-c504c6a2203e
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://9ba33a7f-28ea-4095-82e4-bbecaf1f8bd5.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-19T07:02:36Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-20T07:02:36Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-19T07:03:21.302Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-19T07:03:25.243Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 371909ca-b0c9-478d-b527-8af80317c3b6
    status:
      code: 200
      message: OK
version: 1
