interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T20:53:31.4400632Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T20:53:31.4400632Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"64704a8b-dcac-4a61-b135-2caac42184b2.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9f0406ac-0000-0200-0000-67cdffe40000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://64704a8b-dcac-4a61-b135-2caac42184b2.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-enable
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 32718a35-351d-47d1-ab71-e75df5ed0394
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-enable"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T20:53:23Z",
      "state": "Active", "displayName": "Enable Trigger", "description": "Trigger
      schedule for enable test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://64704a8b-dcac-4a61-b135-2caac42184b2.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-09T20:53:23Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T20:53:23Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-09T20:54:06.112Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T20:54:06.112Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://64704a8b-dcac-4a61-b135-2caac42184b2.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
      mise-correlation-id:
      - 2303ae5e-c343-41cc-828a-f67f8abfb187
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://64704a8b-dcac-4a61-b135-2caac42184b2.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-09T20:53:23Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T20:53:23Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-09T20:54:06.112Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T20:54:10.023Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 61cda85b-e1d7-4e39-92ea-0d70bbb7d1d9
    status:
      code: 200
      message: OK
version: 1
