interactions:
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002?api-version=2022-12-01
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2022-12-01, 2023-12-01-preview, 2024-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/6873eca4-ffbe-4614-88ea-2c78a7a16b87*6780A301F7AA5B021F12ECE2EE060CC12BA279404F9F9E61423D401C7BD27AB3?api-version=2022-12-01&t=638816170031473358&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIxMTk0NzU4WhcNMjUxMDE4MTk0NzU4WjBAMT4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/6873eca4-ffbe-4614-88ea-2c78a7a16b87*6780A301F7AA5B021F12ECE2EE060CC12BA279404F9F9E61423D401C7BD27AB3?api-version=2022-12-01&t=638816170031473358&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002","name":"clitest-pf-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"harshanb@microsoft.com","createdByType":"User","createdAt":"2025-04-30T13:36:06.2219846Z","lastModifiedBy":"harshanb@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-30T13:36:42.5692126Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus":{"principalId":"fd76bd12-4b1e-4aba-bad1-e30ef33ae7de","clientId":"528d11a0-4cc1-452c-b5ad-6ac0a6f43f8f"}}},"properties":{"dataPlaneURI":"5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"54017233-0000-0200-0000-681227750000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier loadtest-locust-case","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - e5f947a6-eed7-41aa-9037-edb1b3cb552f
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "publicIPDisabled":
      false, "environmentVariables": {}, "secrets": {}, "certificate": null, "loadTestConfiguration":
      {"engineInstances": 1, "regionalLoadTestConfig": null, "quickStartTest": false,
      "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics": {"f9701f4d-78cd-4d4b-a6f9-73bdd3ddcc93":
      {"aggregate": "avg", "clientMetric": "requests_per_sec", "condition": ">", "value":
      "78"}, "c1559a9c-404d-46f4-b741-ad3211b62ffe": {"aggregate": "percentage", "clientMetric":
      "error", "condition": ">", "value": "50"}, "2a9df74f-64d7-4e71-ae33-bf3d05396d6d":
      {"aggregate": "avg", "clientMetric": "latency", "condition": ">", "value": "200",
      "requestName": "GetCustomerDetails"}}, "passFailServerMetrics": {}}, "autoStopCriteria":
      {}, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2025-03-01-preview
  response:
    body:
      string: '{"passFailCriteria":{"passFailMetrics":{"f9701f4d-78cd-4d4b-a6f9-73bdd3ddcc93":{"clientMetric":"requests_per_sec","aggregate":"avg","condition":">","value":78.0,"action":"continue"},"c1559a9c-404d-46f4-b741-ad3211b62ffe":{"clientMetric":"error","aggregate":"percentage","condition":">","value":50.0,"action":"continue"},"2a9df74f-64d7-4e71-ae33-bf3d05396d6d":{"clientMetric":"latency","aggregate":"avg","condition":">","requestName":"GetCustomerDetails","value":200.0,"action":"continue"}},"passFailServerMetrics":{}},"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60,"maximumVirtualUsersPerEngine":5000},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"JMX","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"loadtest-locust-case","description":"Advanced
        URL load test created from az load test command","displayName":"CLI-Load-Test-Advanced-URL","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-30T13:37:16.222Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:37:16.222Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2025-03-01-preview
      mise-correlation-id:
      - 1f15b773-b264-44a9-ba26-0c0ae43f22ca
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/files?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0089f9dd-c9a4-4c6f-afdd-d7f500e2ff02
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"f9701f4d-78cd-4d4b-a[...]
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"37b6a773-5d94-4b2f-89b0-c1912c7247e2": null, "9adb4297-7e07-4a69-9c64-cb50622c1464":
      null, "0b25c322-ed9b-4487-9a1e-853ba0e50d22": null, "386d5da6-df3d-484b-be63-cc952c22589d":
      null}, "passFailServerMetrics": {"93e96eb5-484c-47c6-ab47-377c40be456c": {"metricName":
      "CpuPercentage", "metricNameSpace": "Microsoft.Web/serverfarms", "resourceId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server",
      "aggregation": "Maximum", "condition": ">", "value": 0}, "6f90c841-6308-45fa-9e97-23518220b74f":
      {"metricName": "MemoryPercentage", "metricNameSpace": "microsoft.web/serverfarms",
      "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server",
      "aggregation": "Average", "condition": "<", "value": 100}}}, "autoStopCriteria":
      {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60, "maximumVirtualUsersPerEngine": 5000}, "engineBuiltinIdentityType": null,
      "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2025-03-01-preview
  response:
    body:
      string: '{"passFailCriteria":{"passFailMetrics":{},"passFailServerMetrics":{"93e96eb5-484c-47c6-ab47-377c40be456c":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","metricNamespace":"Microsoft.Web/serverfarms","metricName":"CpuPercentage","aggregation":"Maximum","condition":">","value":0.0,"action":"continue"},"6f90c841-6308-45fa-9e97-23518220b74f":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","metricNamespace":"microsoft.web/serverfarms","metricName":"MemoryPercentage","aggregation":"Average","condition":"<","value":100.0,"action":"continue"}}},"au[...]
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"1afedfbf-f277-4be0-a5ae-1112854234f8": {"aggregate": "avg", "clientMetric":
      "requests_per_sec", "condition": ">", "value": "78"}, "962fc7d5-9a26-4405-be3f-8a874e1a4b10":
      {"aggregate": "percentage", "clientMetric": "error", "condition": ">", "value":
      "50"}, "dfcc6cb5-d8fa-49a3-9ce8-ffd647162946": {"aggregate": "avg", "clientMetric":
      "latency", "condition": ">", "value": "200", "requestName": "GetCustomerDetails"}},
      "passFailServerMetrics": {"93e96eb5-484c-47c6-ab47-377c40be456c": null, "6f90c841-6308-45fa-9e97-23518220b74f":
      null, "5dbbc758-c0fc-4897-9ef3-2d4aaa5d98e0": {"metricName": "CpuPercentage",
      "metricNameSpace": "Microsoft.Web/serverfarms", "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/app-components?api-version=2025-03-01-preview
  response:
    body:
      string: '{"components":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","resourceName":"cnt-integration-tests-server","resourceType":"Microsoft.Web/serverfarms","displayName":"cnt-integration-tests-server","resourceGroup":"cnt-integration-tests-rg","subscriptionId":"7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"}},"testId":"loadtest-locust-case","createdDateTime":"2025-04-30T13:37:27.452Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:37:32.905Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2b04e6e8-2e4b-4366-9c01-63ba6f0cce73
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://5e896a9c-3595-4d19-ad34-729eaa45e920.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/server-metrics-config?api-version=2025-03-01-preview
  response:
    body:
      string: '{"testId":"loadtest-locust-case","metrics":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server/providers/microsoft.insights/metricdefinitions/CpuPercentage":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server/providers/microsoft.insights/metricdefinitions/CpuPercentage","resourceId":"/subscriptions/00000000-0000-0000-0000-[...]
[...]
