interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-07T09:45:53.6067146Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-07T09:45:53.6067146Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"0030eb8b-71ab-46bd-8c5f-9a1a40c213e1.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4804055a-0000-0200-0000-67cac0670000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-list"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-31T23:59:59Z",
      "state": "Active", "displayName": "Test Trigger", "description": "Test trigger
      schedule"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://0030eb8b-71ab-46bd-8c5f-9a1a40c213e1.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-list"],"startDateTime":"2025-03-31T23:59:59Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-31T23:59:59Z"]},"kind":"ScheduleTestsTrigger","displayName":"Test
        Trigger","triggerId":"test-trigger-id","description":"Test trigger schedule","state":"Active","createdDateTime":"2025-03-07T09:46:29.994Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-07T09:46:29.994Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://0030eb8b-71ab-46bd-8c5f-9a1a40c213e1.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id?api-version=2024-12-01-preview
      mise-correlation-id:
      - 892b058e-8e38-49ab-a0b9-1e70f228c1cc
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://0030eb8b-71ab-46bd-8c5f-9a1a40c213e1.eastus.cnt-prod.loadtesting.azure.com/triggers?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[{"testIds":["test-id-list"],"startDateTime":"2025-03-31T23:59:59Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-31T23:59:59Z"]},"kind":"ScheduleTestsTrigger","displayName":"Test
        Trigger","triggerId":"test-trigger-id","description":"Test trigger schedule","state":"Active","createdDateTime":"2025-03-07T09:46:29.994Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-07T09:46:29.994Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2254755a-455f-402b-ab53-f9daca09739e
    status:
      code: 200
      message: OK
version: 1
