interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T09:02:45.1201564Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T09:02:45.1201564Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"ca216992-5ca5-47dd-baeb-922fc1fb416f.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"94040536-0000-0200-0000-67cd594b0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-enable"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T09:02:37Z",
      "state": "Active", "displayName": "Enable Trigger", "description": "Trigger
      schedule for enable test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://ca216992-5ca5-47dd-baeb-922fc1fb416f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T09:02:37Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-09T09:03:19.967Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:19.967Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://ca216992-5ca5-47dd-baeb-922fc1fb416f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
      mise-correlation-id:
      - 0714acb8-aebc-49be-8aeb-18c233167d53
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ca216992-5ca5-47dd-baeb-922fc1fb416f.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-enable?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-enable"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T09:02:37Z"]},"kind":"ScheduleTestsTrigger","displayName":"Enable
        Trigger","triggerId":"test-trigger-id-enable","description":"Trigger schedule
        for enable test case","state":"Active","createdDateTime":"2025-03-09T09:03:19.967Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:24.126Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 868b9f38-36c4-42e0-a518-f9a59321831f
    status:
      code: 200
      message: OK
version: 1
