interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T09:02:46.0349157Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T09:02:46.0349157Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"bba3fee8-69fa-46f2-b2e1-1ffd97ab834a.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"94042036-0000-0200-0000-67cd59510000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-update"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T09:02:37Z",
      "state": "Active", "displayName": "Update Trigger", "description": "Trigger
      schedule for update test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://bba3fee8-69fa-46f2-b2e1-1ffd97ab834a.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T09:02:37Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"update-invalid-trigger","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-09T09:03:21.792Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:21.792Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://bba3fee8-69fa-46f2-b2e1-1ffd97ab834a.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
      mise-correlation-id:
      - 7dbde9f7-95f0-4d4b-b3ea-85d3183f3716
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bba3fee8-69fa-46f2-b2e1-1ffd97ab834a.eastus.cnt-prod.loadtesting.azure.com/triggers/update-invalid-trigger?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-update"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T09:02:37Z"]},"kind":"ScheduleTestsTrigger","displayName":"Update
        Trigger","triggerId":"update-invalid-trigger","description":"Trigger schedule
        for update test case","state":"Active","createdDateTime":"2025-03-09T09:03:21.792Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:21.792Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 18ddd758-4c86-4d95-82dc-47279c1bd73d
    status:
      code: 200
      message: OK
version: 1
