interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"harshanb@microsoft.com","createdByType":"User","createdAt":"2025-04-30T13:54:02.9676Z","lastModifiedBy":"harshanb@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-30T13:54:02.9676Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"3e28976f-238a-4be9-8b4d-a1b1026c0873.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"54013878-0000-0200-0000-68122b910000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://3e28976f-238a-4be9-8b4d-a1b1026c0873.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-pause?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-pause
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 9a4e6510-15c3-48c2-9528-b9f56f347454
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-pause"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-04-30T13:34:21Z",
      "state": "Active", "displayName": "Pause Trigger", "description": "Trigger schedule
      for pause test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://3e28976f-238a-4be9-8b4d-a1b1026c0873.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-pause?api-version=2025-03-01-preview
  response:
    body:
      string: '{"testIds":["test-id-pause"],"startDateTime":"2025-04-30T13:34:21Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-05-01T13:34:21Z"]},"kind":"ScheduleTestsTrigger","displayName":"Pause
        Trigger","triggerId":"test-trigger-id-pause","description":"Trigger schedule
        for pause test case","state":"Active","createdDateTime":"2025-04-30T13:54:39.079Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:54:39.079Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://3e28976f-238a-4be9-8b4d-a1b1026c0873.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-pause?api-version=2025-03-01-preview
      mise-correlation-id:
      - 878d8135-b860-4023-8bb7-bbab06b6ac96
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://3e28976f-238a-4be9-8b4d-a1b1026c0873.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-pause?api-version=2025-03-01-preview
  response:
    body:
      string: '{"testIds":["test-id-pause"],"startDateTime":"2025-04-30T13:34:21Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":[]},"kind":"ScheduleTestsTrigger","displayName":"Pause
        Trigger","triggerId":"test-trigger-id-pause","description":"Trigger schedule
        for pause test case","state":"Paused","createdDateTime":"2025-04-30T13:54:39.079Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:54:41.296Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f46c970f-5fd3-4683-9a42-73f1819d9a8c
    status:
      code: 200
      message: OK
version: 1
