interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"harshanb@microsoft.com","createdByType":"User","createdAt":"2025-04-30T13:54:16.0841666Z","lastModifiedBy":"harshanb@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-30T13:54:16.0841666Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"0badb580-92c0-4681-8153-6f18bb17958c.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5401e878-0000-0200-0000-68122b9d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://0badb580-92c0-4681-8153-6f18bb17958c.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-delete?api-version=2025-03-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-delete
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 512a1eee-139e-4411-a12a-46ccd6d86528
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-delete"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-04-30T13:34:21Z",
      "state": "Active", "displayName": "Delete Trigger", "description": "Trigger
      schedule for delete test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://0badb580-92c0-4681-8153-6f18bb17958c.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-delete?api-version=2025-03-01-preview
  response:
    body:
      string: '{"testIds":["test-id-delete"],"startDateTime":"2025-04-30T13:34:21Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-05-01T13:34:21Z"]},"kind":"ScheduleTestsTrigger","displayName":"Delete
        Trigger","triggerId":"test-trigger-id-delete","description":"Trigger schedule
        for delete test case","state":"Active","createdDateTime":"2025-04-30T13:54:52.162Z","createdBy":"harshanb@microsoft.com","lastModifiedDateTime":"2025-04-30T13:54:52.162Z","lastModifiedBy":"harshanb@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://0badb580-92c0-4681-8153-6f18bb17958c.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-delete?api-version=2025-03-01-preview
      mise-correlation-id:
      - 0be9599e-a136-4c98-b1b9-4ebbf23f52c8
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://0badb580-92c0-4681-8153-6f18bb17958c.eastus.cnt-prod.loadtesting.azure.com/triggers?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4ebedc62-177a-4531-bc93-2c3a5ee0012d
    status:
      code: 200
      message: OK
version: 1
