interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T21:52:22.373868Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T21:52:22.373868Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"4214daa0-d6f3-4fe8-b1f2-59da19341ee7.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a004e514-0000-0200-0000-67ce0dae0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://4214daa0-d6f3-4fe8-b1f2-59da19341ee7.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-list?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-list
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - f80d9dfe-4ed6-42d5-bdfe-82f5b35e1e74
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-list"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T21:52:15Z",
      "state": "Active", "displayName": "List Trigger", "description": "Trigger schedule
      for list test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://4214daa0-d6f3-4fe8-b1f2-59da19341ee7.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-list?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-list"],"startDateTime":"2025-03-09T21:52:15Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T21:52:15Z"]},"kind":"ScheduleTestsTrigger","displayName":"List
        Trigger","triggerId":"test-trigger-id-list","description":"Trigger schedule
        for list test case","state":"Active","createdDateTime":"2025-03-09T21:52:57.771Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:52:57.771Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://4214daa0-d6f3-4fe8-b1f2-59da19341ee7.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-list?api-version=2024-12-01-preview
      mise-correlation-id:
      - dc3c1471-ceae-4396-8ba2-ffd0e7f06170
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://4214daa0-d6f3-4fe8-b1f2-59da19341ee7.eastus.cnt-prod.loadtesting.azure.com/triggers?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[{"testIds":["test-id-list"],"startDateTime":"2025-03-09T21:52:15Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T21:52:15Z"]},"kind":"ScheduleTestsTrigger","displayName":"List
        Trigger","triggerId":"test-trigger-id-list","description":"Trigger schedule
        for list test case","state":"Active","createdDateTime":"2025-03-09T21:52:57.771Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:52:57.771Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2a270477-b44c-49d5-a661-61a4d16500aa
    status:
      code: 200
      message: OK
version: 1
