interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T21:52:23.5821467Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T21:52:23.5821467Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a004d614-0000-0200-0000-67ce0dad0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-daily
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 99d0047e-24cd-4d60-b3f9-fbd729f436e8
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-daily"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T21:52:15Z",
      "state": "Active", "displayName": "Daily Trigger", "description": "Trigger schedule
      for daily test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-daily"],"startDateTime":"2025-03-09T21:52:15Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T21:52:15Z"]},"kind":"ScheduleTestsTrigger","displayName":"Daily
        Trigger","triggerId":"test-trigger-id-daily","description":"Trigger schedule
        for daily test case","state":"Active","createdDateTime":"2025-03-09T21:52:58.825Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:52:58.825Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
      mise-correlation-id:
      - 97869879-dbcd-4f4b-a329-199c04dfc00d
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-weekly
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 94cee0fa-b975-4a7d-b17c-33d67c50b3b0
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-weekly"], "recurrence":
      {"frequency": "Weekly", "interval": 1, "daysOfWeek": ["Monday"]}, "startDateTime":
      "2025-03-09T21:52:15Z", "state": "Active", "displayName": "Weekly Trigger",
      "description": "Trigger schedule for weekly test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-weekly"],"startDateTime":"2025-03-09T21:52:15Z","recurrence":{"frequency":"Weekly","daysOfWeek":["Monday"],"interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T21:52:15Z"]},"kind":"ScheduleTestsTrigger","displayName":"Weekly
        Trigger","triggerId":"test-trigger-id-weekly","description":"Trigger schedule
        for weekly test case","state":"Active","createdDateTime":"2025-03-09T21:53:02.056Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:53:02.056Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
      mise-correlation-id:
      - 5195d4c8-f75e-4d3d-a43e-e696bbc24556
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-dates?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-monthly-dates
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - c43f1ba7-ffac-4249-82ff-3c3d88dcce5a
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-monthly-dates"],
      "recurrence": {"frequency": "MonthlyByDates", "interval": 1, "datesInMonth":
      [1, 15]}, "startDateTime": "2025-03-09T21:52:15Z", "state": "Active", "displayName":
      "Monthly By Dates Trigger", "description": "Trigger schedule for monthly by
      dates test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-dates?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-days?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-monthly-days
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - bacad3ce-9d9c-45bf-b4e3-730808053a27
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-monthly-days"], "recurrence":
      {"frequency": "MonthlyByDays", "interval": 1, "weekDaysInMonth": ["Monday"],
      "index": 1}, "startDateTime": "2025-03-09T21:52:15Z", "state": "Active", "displayName":
      "Monthly By Days Trigger", "description": "Trigger schedule for monthly by days
      test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-days?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-monthly-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TriggerNotFound","message":"Trigger with Id: test-trigger-id-cron
        not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 2fadbc5c-b020-424c-93bb-3cd4f14ccf49
      x-ms-error-code:
      - TriggerNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-cron"], "recurrence":
      {"frequency": "Cron", "cronExpression": "0 0 12 * *"}, "startDateTime": "2025-03-09T21:52:15Z",
      "state": "Active", "displayName": "Cron Trigger", "description": "Trigger schedule
      for cron test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-cron"],"startDateTime":"2025-03-09T21:52:15Z","recurrence":{"frequency":"Cron","cronExpression":"0
        0 12 * *"},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-12T00:00:00Z"]},"kind":"ScheduleTestsTrigger","displayName":"Cron
        Trigger","triggerId":"test-trigger-id-cron","description":"Trigger schedule
        for cron test case","state":"Active","createdDateTime":"2025-03-09T21:53:12.724Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:53:12.724Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
      mise-correlation-id:
      - 530a09fb-4fe4-419b-affe-dce430d89df5
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://d4563423-4585-4b2d-88cf-c21c1dd915b6.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-cron"],"startDateTime":"2025-03-09T21:52:15Z","recurrence":{"frequency":"Cron","cronExpression":"0
        0 12 * *"},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-12T00:00:00Z"]},"kind":"ScheduleTestsTrigger","displayName":"Cron
        Trigger","triggerId":"test-trigger-id-cron","description":"Trigger schedule
        for cron test case","state":"Active","createdDateTime":"2025-03-09T21:53:12.724Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T21:53:12.724Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - fa143318-00ab-4801-b64c-418dc306f53e
    status:
      code: 200
      message: OK
version: 1
