interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-04-03T08:31:14.4994346Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-03T08:31:14.4994346Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4700ca88-0000-0200-0000-67ee476a0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 6ee347d1-b4f1-420e-a045-26af9f4b83da
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-03T08:31:54.44Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:31:54.44Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
      mise-correlation-id:
      - b371ed02-ffa1-4902-874f-691cd4010337
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 62393a19-9765-4f5d-ab3f-2f963f6b6e96
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-test?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-test'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 10606a83-6f85-4cf6-af03-07b6b0ce914f
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "displayName": "NotificationRule1", "actionGroupIds":
      ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-doohphkne/providers/microsoft.insights/actionGroups/clitest-notification-ubmpbe5bq"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}, "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-test?api-version=2024-12-01-preview
  response:
    body:
      string: '{"scope":"Tests","testIds":["test1"],"eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-test","displayName":"NotificationRule1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-03T08:31:59.45Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:31:59.45Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-test?api-version=2024-12-01-preview
      mise-correlation-id:
      - dd3dec9c-af47-4458-98d5-63c4ec182938
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-all-events?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-all-events'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 09444270-c44e-4df2-a59e-81c575ba5049
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-specific-tests?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-specific-tests'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - b10451d2-604e-4299-af90-2d0e850fc1a2
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-multiple-events?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-multiple-events'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - f341bc4a-350b-4b01-af10-bf00ba17957d
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "displayName": "NotificationRuleMultipleEvents", "actionGroupIds":
      ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-doohphkne/providers/microsoft.insights/actionGroups/clitest-notification-ubmpbe5bq"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}, "event2": {"kind": "TestRunStarted"}},
      "testIds": ["test1", "test2"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-multiple-events?api-version=2024-12-01-preview
  response:
    body:
      string: '[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://6dd2b69e-7ecc-4b4d-b17f-71450034d8c4.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[[...]
{"scope":"Tests","testIds":["test1"],"eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-test","displayName":"NotificationRule1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-03T08:31:59.45Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:31:59.45Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 6f68e9f5-db99-45b6-9c09-a42a5d3e97dc
    status:
      code: 200
      message: OK
version: 1
