interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-04-03T08:31:15.8794334Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-03T08:31:15.8794334Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4700bc88-0000-0200-0000-67ee476a0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - f62f2ce8-d0ab-41fb-a3c1-ad2281503897
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-03T08:31:55.492Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:31:55.492Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
      mise-correlation-id:
      - 3642a521-43a0-4ed8-b2f0-6ae2dfa53d00
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4825bfb6-7a6f-4ff0-bcb6-ee292557351a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-delete-test?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-delete-test'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - af871e7e-b0cc-40ef-9388-b125a22a2a86
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "actionGroupIds": ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-p5xl6jzs4/providers/microsoft.insights/actionGroups/clitest-notification-2ahujd4ly"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}, "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-delete-test?api-version=2024-12-01-preview
  response:
    body:
      string: '{"scope":"Tests","testIds":["test1"],"eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-delete-test","displayName":"nri-delete-test","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-03T08:31:58.21Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-03T08:31:58.21Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-delete-test?api-version=2024-12-01-preview
      mise-correlation-id:
      - 028aec4b-18de-4a00-bd7e-7520afb10aa7
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://8234a68f-8b1c-40c7-b9d4-d45ffebad94b.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3a744062-4cb9-4c44-b5c2-7e28e15d4e42
    status:
      code: 200
      message: OK
version: 1
