interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/Microsoft.LoadTestService/loadTests/clitest-notification-000002","name":"clitest-notification-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-04-01T13:34:03.6298042Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-01T13:34:03.6298042Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0c0076e3-0000-0200-0000-67ebeb630000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier test1","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - be483c54-ecc9-4683-9fc7-d72ff4b32d92
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "test1", "kind": null, "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "environmentVariables":
      {}, "secrets": {}, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {}, "baselineTestRunId":
      null, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"test1","displayName":"test1","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-04-01T13:34:45.867Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-01T13:34:45.867Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/tests/test1?api-version=2024-12-01-preview
      mise-correlation-id:
      - 42bad68d-0abd-4f0e-8c19-21c60b77ccdf
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/tests/test1/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 22459742-1e20-4e16-8558-c39a143f6ff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-test?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-test'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 02512d93-15fb-45bf-9885-505a72b6174e
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "displayName": "NotificationRule1", "actionGroupIds":
      ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-vmjmn7zwo/providers/microsoft.insights/actionGroups/clitest-notification-vizu5n4dq"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}}, "testIds": ["test1"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-test?api-version=2024-12-01-preview
  response:
    body:
      string: '{"scope":"Tests","testIds":["test1"],"eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-test","displayName":"NotificationRule1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-01T13:34:52.284Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-01T13:34:52.284Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-test?api-version=2024-12-01-preview
      mise-correlation-id:
      - 4b87c36a-6486-4e3a-913e-c7aa745fb385
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-all-events?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-all-events'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - a3addbf5-a384-4c61-88cb-d11005987dc3
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-specific-tests?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-specific-tests'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 2e28d8f9-afbf-49ae-bd31-cd1e8be6ff69
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-multiple-events?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"NotificationRuleNotFound","message":"Notification
        rule with Id: ''nri-multiple-events'' not found.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - b3a4fc5c-5d24-423a-a9f6-d50371808361
      x-ms-error-code:
      - NotificationRuleNotFound
    status:
      code: 404
      message: Not Found
[...]
{"scope": "Tests", "displayName": "NotificationRuleMultipleEvents", "actionGroupIds":
      ["/subscriptions/7C71B563-0DC0-4BC0-BCF6-06F8F0516C7A/resourceGroups/clitest-notification-vmjmn7zwo/providers/microsoft.insights/actionGroups/clitest-notification-vizu5n4dq"],
      "eventFilters": {"event1": {"kind": "TestRunEnded", "condition": {"testRunResults":
      ["FAILED"], "testRunStatuses": ["DONE"]}}, "event2": {"kind": "TestRunStarted"}},
      "testIds": ["test1", "test2"]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules/nri-multiple-events?api-version=2024-12-01-preview
  response:
    body:
      string: '[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://1fd7cb65-4de8-4135-a08b-443305ab0096.eastus.cnt-prod.loadtesting.azure.com/notification-rules?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[[...]
{"scope":"Tests","testIds":["test1"],"eventFilters":{"event1":{"kind":"TestRunEnded","condition":{"testRunStatuses":["DONE"],"testRunResults":["FAILED"]}}},"notificationRuleId":"nri-test","displayName":"NotificationRule1","actionGroupIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-notification-000001/providers/microsoft.insights/actionGroups/clitest-notification-000003"],"createdDateTime":"2025-04-01T13:34:52.284Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-04-01T13:34:52.284Z","lastModifiedBy":"hbisht@microsoft.com"}]}'
    headers:
      api-supported-versions:
      - 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 94d72e6f-e98c-4fa0-b92f-05230e277670
    status:
      code: 200
      message: OK
version: 1
