interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-09T09:02:45.5681563Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-09T09:02:45.5681563Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"94041636-0000-0200-0000-67cd594d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-daily"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-09T09:02:37Z",
      "state": "Active", "displayName": "Daily Trigger", "description": "Trigger schedule
      for daily test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-daily"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T09:02:37Z"]},"kind":"ScheduleTestsTrigger","displayName":"Daily
        Trigger","triggerId":"test-trigger-id-daily","description":"Trigger schedule
        for daily test case","state":"Active","createdDateTime":"2025-03-09T09:03:19.884Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:19.884Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
      mise-correlation-id:
      - f397753b-2cce-49d0-927b-d8708854c73a
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-weekly"], "recurrence":
      {"frequency": "Weekly", "interval": 1, "daysOfWeek": ["Monday"]}, "startDateTime":
      "2025-03-09T09:02:37Z", "state": "Active", "displayName": "Weekly Trigger",
      "description": "Trigger schedule for weekly test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-weekly"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Weekly","daysOfWeek":["Monday"],"interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T09:02:37Z"]},"kind":"ScheduleTestsTrigger","displayName":"Weekly
        Trigger","triggerId":"test-trigger-id-weekly","description":"Trigger schedule
        for weekly test case","state":"Active","createdDateTime":"2025-03-09T09:03:23.783Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:23.783Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
      mise-correlation-id:
      - c40b0a9a-db7f-44d6-8188-4e6498e74556
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-monthly-dates"],
      "recurrence": {"frequency": "MonthlyByDates", "interval": 1, "datesInMonth":
      [1, 15]}, "startDateTime": "2025-03-09T09:02:37Z", "state": "Active", "displayName":
      "Monthly By Dates Trigger", "description": "Trigger schedule for monthly by
      dates test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-dates?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["t[...]
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-monthly-days"], "recurrence":
      {"frequency": "MonthlyByDays", "interval": 1, "weekDaysInMonth": ["Monday"],
      "index": 1}, "startDateTime": "2025-03-09T09:02:37Z", "state": "Active", "displayName":
      "Monthly By Days Trigger", "description": "Trigger schedule for monthly by days
      test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-days?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-monthly-[...]
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-cron"], "recurrence":
      {"frequency": "Cron", "cronExpression": "0 0 12 * *"}, "startDateTime": "2025-03-09T09:02:37Z",
      "state": "Active", "displayName": "Cron Trigger", "description": "Trigger schedule
      for cron test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-cron"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Cron","cronExpression":"0
        0 12 * *"},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-12T00:00:00Z"]},"kind":"ScheduleTestsTrigger","displayName":"Cron
        Trigger","triggerId":"test-trigger-id-cron","description":"Trigger schedule
        for cron test case","state":"Active","createdDateTime":"2025-03-09T09:03:35.957Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:35.957Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
      mise-correlation-id:
      - f18997e7-ecc0-42fd-88f3-0b0e067761c6
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://979d8b76-d099-4d0f-8bb5-21102a58bf50.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-cron"],"startDateTime":"2025-03-09T09:02:37Z","recurrence":{"frequency":"Cron","cronExpression":"0
        0 12 * *"},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-12T00:00:00Z"]},"kind":"ScheduleTestsTrigger","displayName":"Cron
        Trigger","triggerId":"test-trigger-id-cron","description":"Trigger schedule
        for cron test case","state":"Active","createdDateTime":"2025-03-09T09:03:35.957Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-09T09:03:35.957Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f72d8539-4467-4639-9e05-d79ec8a8707a
    status:
      code: 200
      message: OK
version: 1
