interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-schedule-000001/providers/Microsoft.LoadTestService/loadTests/clitest-schedule-000002","name":"clitest-schedule-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"hbisht@microsoft.com","createdByType":"User","createdAt":"2025-03-07T11:12:49.6945301Z","lastModifiedBy":"hbisht@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-07T11:12:49.6945301Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4b04ff53-0000-0200-0000-67cad4c70000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-daily"], "recurrence":
      {"frequency": "Daily", "interval": 1}, "startDateTime": "2025-03-07T11:12:41Z",
      "state": "Active", "displayName": "Daily Trigger", "description": "Trigger schedule
      for daily test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-daily"],"startDateTime":"2025-03-07T11:12:41Z","recurrence":{"frequency":"Daily","interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-08T11:12:41Z"]},"kind":"ScheduleTestsTrigger","displayName":"Daily
        Trigger","triggerId":"test-trigger-id-daily","description":"Trigger schedule
        for daily test case","state":"Active","createdDateTime":"2025-03-07T11:13:25.878Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-07T11:13:25.878Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-daily?api-version=2024-12-01-preview
      mise-correlation-id:
      - 6d1a4a45-3348-466a-81a4-7ece32262e50
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-weekly"], "recurrence":
      {"frequency": "Weekly", "interval": 1, "daysOfWeek": ["Monday"]}, "startDateTime":
      "2025-03-07T11:12:41Z", "state": "Active", "displayName": "Weekly Trigger",
      "description": "Trigger schedule for weekly test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-weekly"],"startDateTime":"2025-03-07T11:12:41Z","recurrence":{"frequency":"Weekly","daysOfWeek":["Monday"],"interval":1},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-10T11:12:41Z"]},"kind":"ScheduleTestsTrigger","displayName":"Weekly
        Trigger","triggerId":"test-trigger-id-weekly","description":"Trigger schedule
        for weekly test case","state":"Active","createdDateTime":"2025-03-07T11:13:29.312Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-07T11:13:29.312Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-weekly?api-version=2024-12-01-preview
      mise-correlation-id:
      - 5a1c8a37-10e0-4d88-a470-61a64764258f
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-monthly-dates"],
      "recurrence": {"frequency": "MonthlyByDates", "interval": 1, "datesInMonth":
      [1, 15]}, "startDateTime": "2025-03-07T11:12:41Z", "state": "Active", "displayName":
      "Monthly By Dates Trigger", "description": "Trigger schedule for monthly by
      dates test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-dates?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["t[...]
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-monthly-days"], "recurrence":
      {"frequency": "MonthlyByDays", "interval": 1, "weekDaysInMonth": ["Monday"],
      "index": 1}, "startDateTime": "2025-03-07T11:12:41Z", "state": "Active", "displayName":
      "Monthly By Days Trigger", "description": "Trigger schedule for monthly by days
      test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-monthly-days?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-monthly-[...]
[...]
- request:
    body: '{"kind": "ScheduleTestsTrigger", "testIds": ["test-id-cron"], "recurrence":
      {"frequency": "Cron", "cronExpression": "0 0 12 * *"}, "startDateTime": "2025-03-07T11:12:41Z",
      "state": "Active", "displayName": "Cron Trigger", "description": "Trigger schedule
      for cron test case"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-cron"],"startDateTime":"2025-03-07T11:12:41Z","recurrence":{"frequency":"Cron","cronExpression":"0
        0 12 * *"},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-12T00:00:00Z"]},"kind":"ScheduleTestsTrigger","displayName":"Cron
        Trigger","triggerId":"test-trigger-id-cron","description":"Trigger schedule
        for cron test case","state":"Active","createdDateTime":"2025-03-07T11:13:42.363Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-07T11:13:42.363Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
      mise-correlation-id:
      - 44cb8aeb-01cf-422f-9054-a702f84d9a71
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://d1f25db0-5055-4318-85bd-998b32d8a0f4.eastus.cnt-prod.loadtesting.azure.com/triggers/test-trigger-id-cron?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testIds":["test-id-cron"],"startDateTime":"2025-03-07T11:12:41Z","recurrence":{"frequency":"Cron","cronExpression":"0
        0 12 * *"},"recurrenceStatus":{"nextScheduledDateTimes":["2025-03-12T00:00:00Z"]},"kind":"ScheduleTestsTrigger","displayName":"Cron
        Trigger","triggerId":"test-trigger-id-cron","description":"Trigger schedule
        for cron test case","state":"Active","createdDateTime":"2025-03-07T11:13:42.363Z","createdBy":"hbisht@microsoft.com","lastModifiedDateTime":"2025-03-07T11:13:42.363Z","lastModifiedBy":"hbisht@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e0d80b5f-698d-48d9-9342-df39520014cd
    status:
      code: 200
      message: OK
version: 1
