interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_load_testing000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001","name":"cli_test_azure_load_testing000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_load_scenarios","date":"2024-12-02T10:47:17Z","module":"load"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitestid1?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_load_testing000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitestid1","name":"clitestid1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"4f952eeb-a4e4-442b-bb43-2e531bf29b2f","clientId":"9c849632-98e0-498c-8ef3-15010c36b616"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_load_testing000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitestid1
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "None"}, "location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000003?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000003","name":"load-test000003","type":"microsoft.loadtestservice/loadtests","location":"westus2","systemData":{"createdBy":"mbhardwaj@microsoft.com","createdByType":"User","createdAt":"2024-12-02T10:48:14.5163598Z","lastModifiedBy":"mbhardwaj@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-02T10:48:14.5163598Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"7e7ba2a7-4732-4eb6-a2c1-bb7b7e66731a.westus2.cnt-prod.loadtesting.azure.com","provisioningState":"Accepted"}}'
    headers:
      api-supported-versions:
      - 2022-12-01, 2023-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/03da1388-e4aa-439b-a76f-991d0a626bdd*F160FED3587AAC1303B5BE60B7069E256FF6D15F7296339F4A2F5F315F9AD53C?api-version=2022-12-01&t=638687332954695007&c=MIIHhzCCBm-gAwIBAgITHgV_DfR20-GPorNrUAAABX8N9DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQxMDAzMDgyNjU0WhcNMjUwNDAxMDgyNjU0WjBAMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/03da1388-e4aa-439b-a76f-991d0a626bdd*F160FED3587AAC1303B5BE60B7069E256FF6D15F7296339F4A2F5F315F9AD53C?api-version=2022-12-01&t=638687332954695007&c=MIIHhzCCBm-gAwIBAgITHgV_DfR20-GPorNrUAAABX8N9DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000003?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000003","name":"load-test000003","type":"microsoft.loadtestservice/loadtests","location":"westus2","systemData":{"createdBy":"mbhardwaj@microsoft.com","createdByType":"User","createdAt":"2024-12-02T10:48:14.5163598Z","lastModifiedBy":"mbhardwaj@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-02T10:48:14.5163598Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"7e7ba2a7-4732-4eb6-a2c1-bb7b7e66731a.westus2.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c404b2c6-0000-0200-0000-674d90830000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned,UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_load_testing000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitestid1":
      {}}}, "location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000003?api-vers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/7d3b4f9e-0eea-44b3-b5e1-909a41b47e88*F160FED3587AAC1303B5BE60B7069E256FF6D15F7296339F4A2F5F315F9AD53C?api-version=2022-12-01&t=638687333314784784&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{},"systemData":{"createdBy":"mbhardwaj@microsoft.com","createdByType":"User","createdAt":"2024-12-02T10:47:29.629Z","lastModifiedBy":"mbhardwaj@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-02T10:47:29.629Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"6d27b751-c7f6-4776-9024-ada93a12bab0","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"vaultUri":"https://clitest000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "6d27b751-c7f6-4776-9024-ada93a12bab0",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clitest000002.vault.azure.net/",
      "enabledForDeployment"[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "6d27b751-c7f6-4776-9024-ada93a12bab0",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clitest000002.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "provisioningState":
      "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_t[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey1/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey1/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey1/7b673b43e9664bab96c7ed3230d461cb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wB9_0ipVFBuwmnP-XkoBz-8kTShCG7RmPaXnX-kGNFLaRPysFjuf5LqN0K77eBOQJIa-y5Sj7Vit8IlyLh0QX6WisekEYOS9V0tENoKPSGLilx1dnORsXc6OnlQYGewuNvh44giB31ebbzCHYk8DOo99lpW_n4384OlTliWBuDZToQwAQ5dok1gCm76JqKYMbpb1V7NrnJGIRVQ4dGq3UbsOUhdh2zqKPgbWRwVwtETjEYPxYnkIps4mZgB-hncHc3QZ5rYCUhOUBbl_OpaLMHZxxNOCeqXpHrT4BC_puyG1kvrMugkQuDXEoVNFreNNcCmHuXehLY_La_pD6d3OyQ","e":"AQAB"},"attributes":{"enabled":true,"created":1733136571,"updated":1733136571,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_load_testing000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitestid1":
      {}}}, "location": "westus2", "properties": {"encryption": {"identity": {"resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_load_testing000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitestid1",
      "type": "UserAssigned"}, "keyUrl": "https://clitest000002.vault.azure.net/keys/testkey1/7b673b43e9664bab96c7ed3230d461cb"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000004?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/06b62801-64a2-4fa2-a42a-73ad4b56016b*5D6D1B6611997656048DEBB3212510066E422848B024AB42563E9D1938741C7F?api-version=2022-12-01&t=638687333774941905&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/78116abe-58fe-4bc5-8921-a4c36a2b5c68*F160FED3587AAC1303B5BE60B7069E256FF6D15F7296339F4A2F5F315F9AD53C?api-version=2022-12-01&t=638687334129205484&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/fa50848c-b9f7-4278-867c-36040b3f4f93*5D6D1B6611997656048DEBB3212510066E422848B024AB42563E9D1938741C7F?api-version=2022-12-01&t=638687334482396801&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/0e73c15a-a249-4e74-a52a-a408a0efd1e0*5D6D1B6611997656048DEBB3212510066E422848B024AB42563E9D1938741C7F?api-version=2022-12-01&t=638687334872536062&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests?api-version=2022-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_load_testing000001/providers/Microsoft.LoadTestService/loadTests/load-test000003","name":"load-test000003","type":"microsoft.loadtestservice/loadtests","location":"westus2","tags":{"test":"test"},"systemData":{"createdBy":"mbhardwaj@microsoft.com","createdByType":"User","createdAt":"2024-12-02T10:48:14.5163598Z","lastModifiedBy":"mbhardwaj@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/c8bf6987-e68e-4c8f-a057-6098a1d1650d*F160FED3587AAC1303B5BE60B7069E256FF6D15F7296339F4A2F5F315F9AD53C?api-version=2022-12-01&t=638687335236904671&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/8234e54b-7abb-48db-8607-343b26a9f9b6*5D6D1B6611997656048DEBB3212510066E422848B024AB42563E9D1938741C7F?api-version=2022-12-01&t=638687335574229732&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/8234e54b-7abb-48db-8607-343b26a9f9b6*5D6D1B6611997656048DEBB3212510066E422848B024AB42563E9D1938741C7F?api-version=2022-12-01&t=638687335574385946&c=MIIHpTCCBo2gAwIBAgITfwQhTM0-NUI7B8iRywAEBCFMzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
