interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-enginemi-000001/providers/Microsoft.LoadTestService/loadTests/clitest-enginemi-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-enginemi-000001/providers/Microsoft.LoadTestService/loadTests/clitest-enginemi-000002","name":"clitest-enginemi-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"kumarmoh@microsoft.com","createdByType":"User","createdAt":"2025-03-10T16:24:23.9806969Z","lastModifiedBy":"kumarmoh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-10T16:24:23.9806969Z"},"identity":{"type":"None"},"properties":{"dataPlaneURI":"276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ae044b05-0000-0200-0000-67cf124f0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier create-test-case","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - 75a198ac-fccf-4612-9261-da0c73445f75
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": null, "description":
      "Sample_test_description", "keyvaultReferenceIdentityType": "UserAssigned",
      "keyvaultReferenceIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-kv-id-command-line",
      "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-metrics-id-command-line",
      "environmentVariables": {}, "secrets": {}, "loadTestConfiguration": {"engineInstances":
      1, "regionalLoadTestConfig": null, "quickStartTest": false}, "autoStopCriteria":
      {}, "baselineTestRunId": null, "engineBuiltinIdentityType": "SystemAssigned"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"UserAssigned","metricsReferenceIdentityId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-metrics-id-command-line","engineBuiltinIdentityType":"SystemAssigned","testId":"create-test-case","description":"Sample_test_description","displayName":"Sample_test_display_name","keyvaultReferenceIdentityType":"UserAssigned","keyvaultReferenceIdentityId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-kv-id-command-line","createdDateTime":"2025-03-10T16:24:58.487Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-10T16:24:58.487Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
      mise-correlation-id:
      - 720f8246-9312-4ed6-9f3d-74df904f7840
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b49aaa60-925d-4b83-b60a-2f5a4bf2e9ec
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": "URL", "description":
      "Sample_test_description", "keyvaultReferenceIdentityType": "UserAssigned",
      "keyvaultReferenceIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-kv-id-command-line",
      "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-metrics-id-command-line",
      "environmentVariables": {}, "secrets": {}, "loadTestConfiguration": {"engineInstances":
      1, "splitAllCSVs": false, "quickStartTest": false, "regionalLoadTestConfig":
      null}, "autoStopCriteria": {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60}, "baselineTestRunId": null, "engineBuiltinIdentityType": "SystemAssigned",
      "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFile[...]
[...]
- request:
    body: '{"displayName": "Sample_test_display_name", "kind": "URL", "description":
      "CLI UT Load Test - Engine reference with User Assigned Managed Identity", "keyvaultReferenceIdentityType":
      "UserAssigned", "keyvaultReferenceIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-kv-over-ride-id",
      "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-metrics-mi",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false}, "autoStopCriteria": {"autoStopDisabled": false,
      "errorRate": 90.0, "errorRateTimeWindowInSeconds": 60}, "engineBuiltinIdentityType":
      "UserAssigned", "engineBuiltinIdentityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sample-rg/providers/microsoft.managedidentity/userassignedidentities/sample-mi"]}'
    headers:
      Content-Type:
 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://276e4e67-1c56-41e8-9d2c-6ab53476ce0c.eastus.cnt-prod.loadtesting.azure.com/tests/create-test-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":4,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"URL","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","engineBuiltinIdentityType":"None","testId":"create-test-case","description":"CLI
        UT Load Test - Engine reference with User Assigned Managed Identity","displayName":"Sample_test_display_name","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-03-10T16:24:58.487Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-10T16:25:10.229Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 7143c9ef-7621-49b9-a341-4552975facf2
    status:
      code: 200
      message: OK
version: 1
