interactions:
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002?api-version=2022-12-01
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2022-12-01, 2023-12-01-preview, 2024-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/fd8c84be-d31b-4c86-a5d9-5acc548951c7*6F0FD4A5177C45C6DE5C110215C2B00769F2C77509C0E2E112DC35FB42C32571?api-version=2022-12-01&t=638773030296580378&c=MIIHpTCCBo2gAwIBAgITfwTYxBKzZMhYMh8gpgAEBNjEEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjEyMjI0WhcNMjUwNzIyMjEyMjI0WjBAMT4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/fd8c84be-d31b-4c86-a5d9-5acc548951c7*6F0FD4A5177C45C6DE5C110215C2B00769F2C77509C0E2E112DC35FB42C32571?api-version=2022-12-01&t=638773030296580378&c=MIIHpTCCBo2gAwIBAgITfwTYxBKzZMhYMh8gpgAEBNjEEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002?api-version=2022-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-pf-000001/providers/Microsoft.LoadTestService/loadTests/clitest-pf-000002","name":"clitest-pf-000002","type":"microsoft.loadtestservice/loadtests","location":"eastus","systemData":{"createdBy":"kumarmoh@microsoft.com","createdByType":"User","createdAt":"2025-03-11T15:16:32.6178147Z","lastModifiedBy":"kumarmoh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-11T15:17:07.829965Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus":{"principalId":"fd76bd12-4b1e-4aba-bad1-e30ef33ae7de","clientId":"528d11a0-4cc1-452c-b5ad-6ac0a6f43f8f"}}},"properties":{"dataPlaneURI":"29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"be040405-0000-0200-0000-67d053ff0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"error":{"code":"TestNotFound","message":"Test couldn''t find with
        given identifier loadtest-locust-case","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json
      mise-correlation-id:
      - acda8912-dbdd-43ad-b0fd-34449e4d1ce8
      x-ms-error-code:
      - TestNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "SystemAssigned", "publicIPDisabled":
      false, "environmentVariables": {}, "secrets": {}, "certificate": null, "loadTestConfiguration":
      {"engineInstances": 1, "regionalLoadTestConfig": null, "quickStartTest": false,
      "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics": {"1625aacc-e251-4422-b926-9c868b953d98":
      {"aggregate": "avg", "clientMetric": "requests_per_sec", "condition": ">", "value":
      "78"}, "625ece9d-9e06-4fc3-b03b-a3a76124e2f8": {"aggregate": "percentage", "clientMetric":
      "error", "condition": ">", "value": "50"}, "cba032de-56a1-4667-b12e-d3d229f4af3d":
      {"aggregate": "avg", "clientMetric": "latency", "condition": ">", "value": "200",
      "requestName": "GetCustomerDetails"}}, "passFailServerMetrics": {}}, "autoStopCriteria":
      {}, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"passFailCriteria":{"passFailMetrics":{"1625aacc-e251-4422-b926-9c868b953d98":{"clientMetric":"requests_per_sec","aggregate":"avg","condition":">","value":78.0,"action":"continue"},"625ece9d-9e06-4fc3-b03b-a3a76124e2f8":{"clientMetric":"error","aggregate":"percentage","condition":">","value":50.0,"action":"continue"},"cba032de-56a1-4667-b12e-d3d229f4af3d":{"clientMetric":"latency","aggregate":"avg","condition":">","requestName":"GetCustomerDetails","value":200.0,"action":"continue"}},"passFailServerMetrics":{}},"autoStopCriteria":{"autoStopDisabled":false,"errorRate":90.0,"errorRateTimeWindowInSeconds":60},"loadTestConfiguration":{"engineInstances":1,"splitAllCSVs":false,"quickStartTest":false},"inputArtifacts":{"additionalFileInfo":[]},"kind":"JMX","publicIPDisabled":false,"metricsReferenceIdentityType":"SystemAssigned","testId":"loadtest-locust-case","description":"Advanced
        URL load test created from az load test command","displayName":"CLI-Load-Test-Advanced-URL","keyvaultReferenceIdentityType":"SystemAssigned","createdDateTime":"2025-03-11T15:17:42.673Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-11T15:17:42.673Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
      mise-correlation-id:
      - 8487a4e5-28b4-485f-8f4a-61a812874e8b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/files?api-version=2024-12-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 469b1098-6b96-49d4-974c-449f10925652
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"1625aacc-e251-4422-b926-9c868b953d98": null, "625ece9d-9e06-4fc3-b03b-a3a76124e2f8":
      null, "cba032de-56a1-4667-b12e-d3d229f4af3d": null, "5d0d5b51-2559-4c57-a947-0ebfa1de33d8":
      {"aggregate": "avg", "clientMetric": "requests_per_sec", "condition": ">", "value":
      "78"}, "c1c64caf-e814-4193-b104-b89c15db99ce": {"aggregate": "percentage", "clientMetric":
      "error", "condition": ">", "value": "50"}, "d7d4460c-dbf5-4f56-9e37-733fedf087a7":
      {"aggregate": "avg", "clientMetric": "requests_per_sec", "condition": "<", "value":
      "90"}, "49ba4873-ae46-4a71-821c-19a01ea1d022": {"aggregate": "avg", "clientMetric":
      "latency", "condition": ">", "value": "200", "requestName": "GetCustomerDetails"}},
      "passFailServerMetrics": {}}, "autoStopCriteria": {"autoStopDisabled": false,
      "errorRate": 90.0, "errorRateTimeWindowInSeconds": 60}, "engineBuiltinIdentityType":
      null, "engineBuiltinIdentityIds": null}'
    hea[...]
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"d7d4460c-dbf5-4f56-9e37-733fedf087a7": null, "c1c64caf-e814-4193-b104-b89c15db99ce":
      null, "5d0d5b51-2559-4c57-a947-0ebfa1de33d8": null, "49ba4873-ae46-4a71-821c-19a01ea1d022":
      null}, "passFailServerMetrics": {"12655e7a-e029-4d6d-a91b-d3b1a5e232da": {"metricName":
      "CpuPercentage", "metricNameSpace": "Microsoft.Web/serverfarms", "resourceId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server",
      "aggregation": "Maximum", "condition": ">", "value": 0}, "7757cde0-8230-47a5-a6e5-9138928893b6":
      {"metricName": "MemoryPercentage", "metricNameSpace": "microsoft.web/serverfarms",
      "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server",
      "aggregation": "Average", "condition": "<", "value": 100}}}, "autoStopCriteria":
      {"autoStopDisabled": false, "errorRate": 90.0, "errorRateTimeWindowInSeconds":
      60}, "engineBuiltinIdentityType": null, "engineBuiltinIdentityIds": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case?api-version=2024-12-01-preview
  response:
    body:
      string: '{"passFailCriteria":{"passFailMetrics":{},"passFailServerMetrics":{"12655e7a-e029-4d6d-a91b-d3b1a5e232da":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","metricNamespace":"Microsoft.Web/serverfarms","metricName":"CpuPercentage","aggregation":"Maximum","condition":">","value":0.0,"action":"continue"},"7757cde0-8230-47a5-a6e5-9138928893b6":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","metricNamespace":"microsoft.web/serverfarms","metricName":"MemoryPercentage","aggregation":"Average","condition":"<","value":100.0,"action":"continue"}}},"au[...]
[...]
- request:
    body: '{"displayName": "CLI-Load-Test-Advanced-URL", "kind": "JMX", "description":
      "Advanced URL load test created from az load test command", "keyvaultReferenceIdentityType":
      "SystemAssigned", "metricsReferenceIdentityType": "UserAssigned", "metricsReferenceIdentityId":
      "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/cnt-integration-tests-rg/providers/microsoft.managedidentity/userassignedidentities/cnt-integration-tests-mi1-eastus",
      "publicIPDisabled": false, "environmentVariables": {}, "secrets": {}, "certificate":
      null, "loadTestConfiguration": {"engineInstances": 1, "regionalLoadTestConfig":
      null, "quickStartTest": false, "splitAllCSVs": false}, "passFailCriteria": {"passFailMetrics":
      {"d9b33dfa-a492-45bd-9361-d3e4710cf9c3": {"aggregate": "avg", "clientMetric":
      "requests_per_sec", "condition": ">", "value": "78"}, "3e96c16a-50bc-4639-b7b5-2132b21d4e2d":
      {"aggregate": "percentage", "clientMetric": "error", "condition": ">", "value":
      "50"}, "45f7b7e5-d678-4899-9588-4b1c5ab316ed": {"aggregate": "avg", "clientMetric":
      "latency", "condition": ">", "value": "200", "requestName": "GetCustomerDetails"}},
      "passFailServerMetrics": {"12655e7a-e029-4d6d-a91b-d3b1a5e232da": null, "7757cde0-8230-47a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/app-components?api-version=2024-12-01-preview
  response:
    body:
      string: '{"components":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server","resourceName":"cnt-integration-tests-server","resourceType":"Microsoft.Web/serverfarms","displayName":"cnt-integration-tests-server","resourceGroup":"cnt-integration-tests-rg","subscriptionId":"7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"}},"testId":"loadtest-locust-case","createdDateTime":"2025-03-11T15:17:50.229Z","createdBy":"kumarmoh@microsoft.com","lastModifiedDateTime":"2025-03-11T15:17:54.67Z","lastModifiedBy":"kumarmoh@microsoft.com"}'
    headers:
      api-supported-versions:
      - 2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview,
        2024-12-01-preview, 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 6f178ee5-9eb5-46b3-bb53-5ef098a63e81
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://29e9ff4f-1e96-4604-bf4a-fb88fe98c209.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-locust-case/server-metrics-config?api-version=2024-12-01-preview
  response:
    body:
      string: '{"testId":"loadtest-locust-case","metrics":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server/providers/microsoft.insights/metricdefinitions/CpuPercentage":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cnt-integration-tests-rg/providers/Microsoft.Web/serverfarms/cnt-integration-tests-server/providers/microsoft.insights/metricdefinitions/CpuPercentage","resourceId":"/subscriptions/00000000-0000-0000-0000-[...]
[...]
