interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StoragePool/locations/eastus2euap/skus?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"apiVersion":"2021-08-01","capabilities":[{"name":"MaxNumberOfDisks","value":"32"}],"locationInfo":{"location":"EastUS2EUAP","zones":["3","2","1"]},"resourceType":"diskPools","name":"Standard_S1","tier":"Standard"},{"apiVersion":"2021-08-01","capabilities":[{"name":"MaxNumberOfDisks","value":"32"}],"locationInfo":{"location":"EastUS2EUAP","zones":["3","2","1"]},"resourceType":"diskPools","name":"Premium_P1","tier":"Premium"},{"apiVersion":"2021-08-01","capabilities":[{"name":"MaxNumberOfDisks","value":"16"}],"locationInfo":{"location":"EastUS2EUAP","zones":["3","2","1"]},"resourceType":"diskPools","name":"Basic_B1","tier":"Basic"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StoragePool/locations/eastus2euap/diskPoolZones?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"availabilityZones":[],"sku":{"name":"Basic_B1","tier":"Basic"}},{"availabilityZones":[],"sku":{"name":"Standard_S1","tier":"Standard"}},{"availabilityZones":[],"sku":{"name":"Premium_P1","tier":"Premium"}}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
