interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_mdp000001/providers/Microsoft.DevOpsInfrastructure/pools/cli000002?api-version=2023-12-13-preview
  response:
    body:
      string: '{"error":{"code":"ResourceCreationValidateFailed","message":"The resource
        validation failed."}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - 82732d96-47d6-4dec-9811-45e91ab6a829
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
