interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DelegatedNetwork/controller/testcontroller?api-version=2021-03-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DelegatedNetwork/controller/testcontroller","location":"eastus2euap","name":"testcontroller","type":"Microsoft.DelegatedNetwork/controller","properties":{"controllerProperties":{"dncAppId":"a91b1853-4403-4f54-b5cb-d1ea19d90c37","dncEndpoint":"https://openai-eastus2euap.dnc.azure.com","dncTenantId":null},"resourceGuid":"5c7e26be-7ff9-4aaf-9e16-0bc759605aea","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DelegatedNetwork/controller/testcontroller?api-version=2021-03-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DelegatedNetwork/controller/testcontroller","location":"azurecloud","name":"testcontroller","type":"Microsoft.DelegatedNetwork/controller","properties":{"controllerProperties":null,"resourceGuid":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"subnetDetails": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clitest000003/subnets/default"},
      "controllerDetails": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DelegatedNetwork/controller/testcontroller"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DelegatedNetwork/delegatedSubnets/delegated1?api-version=2021-03-15
  response:
    body:
      string: '{"ErrorResponse":{"error":{"code":"500","message":"Error in API: PutDelegateSubnetFailed
        to create SAL token, salRequest: ServiceAssociationLink: Id: , Name:   Properties:
        ServiceAssociationLinkProperties: ProvisioningState:  LinkedResourceType:
        Microsoft.DelegatedNetwork/controller ParentResourceGuid: a6b63210-1721-42df-83c2-6f26e905df87
        Locations: eastus2euap Details: ServiceAssociationLinkDetail: Id: , Name:
        ManagedDNCDetail,  Properties: ServiceAssociationLinkDetailProperties: ProvisioningState:
        , PrimaryContextRequestId: 9f1977ac-1614-4f20-b37f-48d043238ba6, SecondaryContextRequestId:
        e18f2602-3620-4384-b796-d968b2c91dfd,PrimaryContextId:  SecondaryContextId:
        , subnetResourceId:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cl[...]
[...]
