interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AzureLargeInstance/azureLargeStorageInstances?api-version=2024-04-10
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bmsi-rg-canchliya/providers/Microsoft.BareMetalInfrastructure/bareMetalStorageInstances/testcmkbmsi\"\
        ,\n    \"location\": \"centraluseuap\",\n    \"name\": \"testcmkbmsi\",\n\
        \    \"tags\": {},\n    \"type\": \"Microsoft.BareMetalInfrastructure/bareMetalStorageInstances\"\
        ,\n    \"systemData\": {},\n    \"properties\": {\n     \"azureBareMetalStorageInstanceUniqueIdentifier\"\
        : \"bcb58551-e106-4b66-a9b9-d73db0bd07ad\",\n     \"storageProperties\": {\n\
        \      \"provisioningState\": \"Succeeded\",\n      \"offeringType\": \"EPIC\"\
        ,\n      \"storageType\": \"FC\",\n      \"generation\": \"Gen4.5\",\n   \
        \   \"hardwareType\": \"NetApp\",\n      \"workloadType\": \"ODB\",\n    \
        \  \"storageBillingProperties\": {\n       \"billingMode\": \"Internal\",\n\
        \       \"azureBareMetalStorageInstanceSize\": \"n100\"\n      }\n     }\n\
        \    }\n   },\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DSM05A-T210/providers/Microsoft.BareMetalInfrastructure/bareMetalStorageInstances/alistorage\"\
        ,\n    \"location\": \"centraluseuap\",\n    \"name\": \"alistorage\",\n \
        \   \"tags\": {},\n    \"type\": \"Microsoft.AzureLargeInstance/azureLargeStorageInstances\"\
        ,\n    \"systemData\": {},\n    \"properties\": {\n     \"azureBareMeta[...]
