interactions:
- request:
    body: '{"properties": {"description": "Site for key testing", "displayName": "Test
      Site", "siteAddress": {"city": "San Francisco", "country": "US", "postalCode":
      "94107", "stateOrProvince": "CA", "streetAddress1": "16 TOWNSEND ST"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/sites/TestSiteForKey?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/sites/TestSiteForKey","name":"TestSiteForKey","type":"microsoft.edge/sites","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-27T07:51:41.8163911Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-27T07:51:41.8163911Z"},"properties":{"description":"Site
        for key testing","displayName":"Test Site","siteAddress":{"city":"San Francisco","country":"US","postalCode":"94107","stateOrProvince":"CA","streetAddress1":"16
        TOWNSEND ST"},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f402c175-0000-0500-0000-6a16a28f0000"'
      mise-correlation-id:
      - b27e7277-4b30-474f-ac5f-567249e9d9bc
      servertime:
      - 14 ms
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"siteResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/sites/TestSiteForKey"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/siteKeys/TestSiteKey?api-version=2026-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/siteKeys/TestSiteKey","name":"TestSiteKey","type":"microsoft.edge/sitekeys","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-27T07:51:44.2597598Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-27T07:51:44.2597598Z"},"identity":{"principalId":"4f7f1749-cc9d-495f-bcd5-2257cad546ed","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"siteResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/sites/TestSiteForKey","tokenExpiryDate":"2026-06-03T07:51:46.6738485+00:00","provisioningState":"Succeeded","generatedDate":"2026-05-27T07:51:46.6738608+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f400a452-0000-0500-0000-6a16a2930000"'
      mise-correlation-id:
      - 1ce65b38-2203-4613-a123-03dca098febf
      servertime:
      - 398 ms
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/siteKeys?api-version=2026-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/siteKeys/TestSiteKey","name":"TestSiteKey","type":"microsoft.edge/sitekeys","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-27T07:51:44.2597598Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-27T07:51:44.2597598Z"},"identity":{"principalId":"4f7f1749-cc9d-495f-bcd5-2257cad546ed","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"siteResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/sites/TestSiteForKey","tokenExpiryDate":"2026-06-03T07:51:46.6738485Z","provisioningState":"Succeeded","generatedDate":"2026-05-27T07:51:46.6738608Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/siteKeys/TestSiteKey/download?api-version=2026-04-01-preview
  response:
    body:
      string: '{"tokenResponse":{"token":"REDACTED_FAKE_TOKEN_FOR_TESTING"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 390bd998-6a2b-4823-aa64-fd8dd0347e1d
      servertime:
      - 1593 ms
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_site_key_000001/providers/Microsoft.Edge/sites/TestSiteForKey?api-version=2025-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
