interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"a844dc2252cb47e590f1588013d2f796","networkProfile":{"outboundIPs":{"publicIPs":["20.204.228.60","20.207.80.135"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"cli-unittest-e.azuremicroservices.io","marketplaceResource":{"plan":"asa-ent-hr-mtr","publisher":"vmware-inc","product":"azure-spring-cloud-vmware-tanzu-2"}},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"centralindia","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e","name":"cli-unittest-e","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-03-29T05:07:18.3749756Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T05:07:18.3749756Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default?api-version=2024-05-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppPlatform/Spring/buildServices","properties":{"containerRegistry":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/containerRegistries/default","kPackVersion":"0.7.2","provisioningState":"Succeeded","resourceRequests":{"cpu":"2","memory":"4Gi"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default","name":"default","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-03-29T05:20:51.4281503Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T05:20:51.4281503Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/builds/test?api-version=2024-05-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppPlatform/Spring/buildServices/builds","properties":{"builder":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/builders/default","agentPool":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/agentPools/default","relativePath":"resources/2023032905-759f53c6-f07b-4ba3-b73e-5b3368bb6775","provisioningState":"Succeeded","resourceRequests":{"cpu":"1","memory":"2Gi"},"env":{}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/builds/test","name":"test","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-03-29T05:49:31.8000981Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T05:49:31.8000981Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/builds/test/results/1?api-version=2024-05-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppPlatform/Spring/buildServices/builds/results","properties":{"name":"1","provisioningState":"Succeeded","buildPodName":"default.test-build-1-build-pod","buildStages":[{"name":"prepare","status":"Succeeded","exitCode":"0","reason":"Completed"},{"name":"analyze","status":"Succeeded","exitCode":"0","reason":"Completed"},{"name":"detect","status":"Succeeded","exitCode":"0","reason":"Completed"},{"name":"restore","status":"Succeeded","exitCode":"0","reason":"Completed"},{"name":"build","status":"Succeeded","exitCode":"0","reason":"Completed"},{"name":"export","status":"Succeeded","exitCode":"0","reason":"Completed"},{"name":"completion","status":"Succeeded","exitCode":"0","reason":"Completed"}],"image":"clitest1.azurecr.io/test:result-1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/builds/test/results/1","name":"1","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-03-29T05:49:31.8000981Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T05:49:31.8000981Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-e/buildServices/default/builds/test?api-version=2024-05-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/cli-unittest-e/operationId/7e9cc4e7-aca8-4f5a-a91c-948ed8e6a56b?api-version=2024-05-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationResults/7e9cc4e7-aca8-4f5a-a91c-948ed8e6a56b/Spring/cli-unittest-e?api-version=2024-05-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/cli-unittest-e/operationId/7e9cc4e7-aca8-4f5a-a91c-948ed8e6a56b?api-version=2024-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/cli-unittest-e/operationId/7e9cc4e7-aca8-4f5a-a91c-948ed8e6a56b","name":"7e9cc4e7-aca8-4f5a-a91c-948ed8e6a56b","status":"Succeeded","startTime":"2023-03-29T06:20:27.8842744Z","endTime":"2023-03-29T06:20:34.3671005Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationResults/7e9cc4e7-aca8-4f5a-a91c-948ed8e6a56b/Spring/cli-unittest-e?api-version=2024-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
version: 1
