interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"public":false,"url":"","provisioningState":"Succeeded","httpsOnly":false,"resourceRequests":{"cpu":"1","memory":"2Gi"},"instances":[{"name":"asc-scg-default-0","status":"Running"},{"name":"asc-scg-default-1","status":"Running"}],"operatorProperties":{"resourceRequests":{"cpu":"1","memory":"2Gi","instanceCount":2},"instances":[{"name":"scg-operator-74b68887c6-4f947","status":"Running"},{"name":"scg-operator-74b68887c6-vdsfm","status":"Running"}]}},"type":"Microsoft.AppPlatform/Spring/gateways","sku":{"name":"E0","tier":"Enterprise","capacity":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default","name":"default","systemData":{"createdBy":"xiading@microsoft.com","createdByType":"User","createdAt":"2022-11-01T06:04:36.9850222Z","lastModifiedBy":"xiading@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-02T00:12:53.7367376Z"}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"public": true, "httpsOnly": true, "ssoProperties": {"scope":
      ["openid", "profile", "email"], "clientId": "*", "clientSecret": "*", "issuerUri":
      "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0"},
      "apiMetadataProperties": {"title": "Pet clinic", "description": "Demo for pet
      clinic", "documentation": "doc", "version": "v1", "serverUrl": "https://tx-enterprise-gateway-fd0c7.svc.asc-test.net"},
      "corsProperties": {"allowedOrigins": ["*"], "allowedMethods": ["GET", "PUT",
      "DELETE"], "allowedHeaders": ["X-TEST", "X-STAGING"], "maxAge": 10, "allowCredentials":
      true, "exposedHeaders": ["Access-Control-Request-Method", "Access-Control-Request-Headers"]},
      "resourceRequests": {"cpu": "1", "memory": "2Gi"}}, "sku": {"name": "E0", "tier":
      "Enterprise", "capacity": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"public":true,"url":"","provisioningState":"Updating","httpsOnly":true,"ssoProperties":{"scope":["openid","profile","email"],"clientId":"*","clientSecret":"*","issuerUri":"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0"},"apiMetadataProperties":{"title":"Pet
        clinic","description":"Demo for pet clinic","documentation":"doc","version":"v1","serverUrl":"https://tx-enterprise-gateway-fd0c7.svc.asc-test.net"},"corsProperties":{"allowedOrigins":["*"],"allowedMethods":["GET","PUT","DELETE"],"allowedHeaders":["X-TEST","X-STAGING"],"maxAge":10,"allowCredentials":true,"exposedHeaders":["Access-Control-Request-Method","Access-Control-Request-Headers"]},"resourceRequests":{"cpu":"1","memory":"2Gi"},"instances":[{"name":"asc-scg-default-0","status":"Running"},{"name":"asc-scg-default-1","status":"Running"}],"operatorProperties":{"resourceRequests":{"cpu":"1","memory":"2Gi","instanceCount":2},"instances":[{"name":"scg-operator-74b68887c6-4f947","status":"Running"},{"name":"scg-operator-74b68887c6-vdsfm","status":"Running"}]}},"type":"Microsoft.AppPlatform/Spring/gateways","sku":{"name":"E0","tier":"Enterprise","capacity":3},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default","name":"default","systemData":{"createdBy":"xiading@microsoft.com","createdByType":"User","createdAt":"2022-11-01T06:04:36.9850222Z","lastModifiedBy":"xiading@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-02T01:49:29.1200781Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/tx-enterprise/operationId/f53a3d2e-e989-4db6-b2d9-f7a1fa78450e?api-version=2022-01-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationResults/f53a3d2e-e989-4db6-b2d9-f7a1fa78450e/Spring/tx-enterprise?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/tx-enterprise/operationId/f53a3d2e-e989-4db6-b2d9-f7a1fa78450e?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0753feba-86f1-4242-aff1-27938fb04531/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/tx-enterprise/operationId/f53a3d2e-e989-4db6-b2d9-f7a1fa78450e","name":"f53a3d2e-e989-4db6-b2d9-f7a1fa78450e","status":"Running","startTime":"2022-11-02T01:49:29.940258Z"}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/tx-enterprise/operationId/f53a3d2e-e989-4db6-b2d9-f7a1fa78450e?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0753feba-86f1-4242-aff1-27938fb04531/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/tx-enterprise/operationId/f53a3d2e-e989-4db6-b2d9-f7a1fa78450e","name":"f53a3d2e-e989-4db6-b2d9-f7a1fa78450e","status":"Succeeded","startTime":"2022-11-02T01:49:29.940258Z","endTime":"2022-11-02T01:53:42.652831Z"}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"901491e641cf4c0fbcedeeced84919f4","networkProfile":{"outboundIPs":{"publicIPs":["20.246.169.224","20.246.170.4"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"tx-enterprise.asc-test.net"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise","name":"tx-enterprise","systemData":{"createdBy":"xiading@microsoft.com","createdByType":"User","createdAt":"2022-11-01T05:28:28.6663306Z","lastModifiedBy":"xiading@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-01T05:28:28.6663306Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/routeConfigs?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/apps/customers-service?api-version=2022-11-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Succeeded","fqdn":"tx-enterprise.asc-test.net","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"persistentDisk":{"sizeInGB":0,"mountPath":"/persistent"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/apps/customers-service","name":"customers-service","systemData":{"createdBy":"xiading@microsoft.com","createdByType":"User","createdAt":"2022-11-01T06:15:15.9131983Z","lastModifiedBy":"xiading@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-01T06:15:34.4823723Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"appResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/apps/customers-service",
      "protocol": "HTTP", "routes": [{"title": "Customers service", "description":
      "Route to customer service", "ssoEnabled": true, "predicates": ["Path=/api/customers-service/owners"],
      "filters": ["StripPrefix=2"], "tags": ["pet clinic"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/routeConfigs/cli-route?api-version=2022-11-01-preview
  response:
    body:
      string: '{"properties":{"appResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/apps/customers-service","protocol":"HTTP","routes":[{"title":"Customers
        service","description":"Route to customer service","ssoEnabled":true,"tokenRelay":false,"predicates":["Path=/api/customers-service/owners"],"filters":["StripPrefix=2"],"tags":["pet
        clinic"]}],"provisioningState":"Creating"},"type":"Microsoft.AppPlatform/Spring/gateways/routeConfigs","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/routeConfigs/cli-route","name":"cli-route","systemData":{"createdBy":"xiading@microsoft.com","createdByType":"User","createdAt":"2022-11-02T01:54:03.160926Z","lastModifiedBy":"xiading@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-02T01:54:03.160926Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/tx-enterprise/operationId/f866fb4f-c5a1-4848-99df-06740c0e8755?api-version=2022-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/locations/eastus/operationResults/f866fb4f-c5a1-4848-99df-06740c0e8755/Spring/tx-enterprise?api-version=2022-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/apps/vets-service?api-version=2022-11-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Succeeded","fqdn":"tx-enterprise.asc-test.net","httpsOnly":false,"tempora[...]
- request:
    body: '{"properties": {"appResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/apps/vets-service",
      "openApi": {"uri": "https://raw.githubusercontent.com/fake.json"},
      "protocol": "HTTPS", "routes": [{"title": "Customers service", "description":
      "Route to customer service", "ssoEnabled": false, "predicates": ["Path=/api/customers-service/owners"],
      "filters": ["StripPrefix=2"], "tags": ["pet clinic"]}], "ssoEnabled": true,
      "predicates": ["Path=/api/echo2"], "filters": ["StripPrefix=1"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://man[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/routeConfigs/cli-route?api-version=2022-11-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Spring Cloud Gateway Route Config
        is not exist.","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/routeConfigs/cli-route","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/certificates/cli-unittest?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"vaultUri":"https://integration-test-prod.vault.azure.net","keyVaultCertName":"pfx-cert","certVersion":"012850b3685548edb418696a491c6d72","excludePrivateKey":false,"type":"KeyVaultCertificate","thumbprint":"6695512ed53e0c46817348b78411876a9a9c3396","issuer":"Microsoft
        Azure TLS Issuing CA 06, O=Microsoft Corporation, C=US","expirationDate":"2023-09-18T02:01:10.000+00:00","activateDate":"2022-09-23T02:01:10.000+00:00","subjectName":"*.azdmss-test.net,
        O=Microsoft Corporation, L=Redmond, ST=WA, C=US","dnsNames":["*.azdmss-test.net"]},"type":"Microsoft.AppPlatform/Spring/certificates","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/certificates/cli-unittest","name":"cli-unittest","systemData":{"createdBy":"xiading@microsoft.com","createdByType":"User","createdAt":"2022-11-01T07:13:12.9620097Z","lastModifiedBy":"xiading@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-01T07:13:12.9620097Z"}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/domains/gateway-cli.azdmss-test.net?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"thumbprint":""},"type":"Microsoft.AppPlatform/Spring/gateways/domains","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/domains/gateway-cli.azdmss-test.net","name":"gateway-cli.azdmss-test.net"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/domains?api-version=2022-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"thumbprint":""},"type":"Microsoft.AppPlatform/Spring/gateways/domains","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tx/providers/Microsoft.AppPlatform/Spring/tx-enterprise/gateways/default/domains/gateway-cli.azdmss-test.net","name":"gateway-cli.azdmss-test.net"}]}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 5188a62b-2892-4326-bc68-3251ae5dea21
    status:
      code: 200
      message: OK
[...]
