interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"9e80d5781f3b40e6b836881f2e32cbc7","networkProfile":{"outboundIPs":{"publicIPs":["157.55.166.114","157.55.169.172"]},"ingressConfig":{"readTimeoutInSeconds":300},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"clitest000002.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"northcentralus","tags":{"__asc_mt_enable_big_app":"true"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002","name":"clitest000002","systemData":{"createdBy":"3462cf92-dc17-43c5-8c7e-e50c11a1c181","createdByType":"Application","createdAt":"2023-03-24T02:21:38.2860199Z","lastModifiedBy":"3462cf92-dc17-43c5-8c7e-e50c11a1c181","lastModifiedByType":"Application","lastModifiedAt":"2023-03-24T02:43:17.5228209Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003?api-version=2023-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"App was not found","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"public": false, "httpsOnly": false, "temporaryDisk": {"sizeInGB":
      5, "mountPath": "/tmp"}, "enableEndToEndTLS": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Creating","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"northcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003","name":"clitest000003","systemData":{"createdBy":"yuwzho@microsoft.com","createdByType":"User","createdAt":"2023-03-24T09:11:52.1758876Z","lastModifiedBy":"yuwzho@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-24T09:11:52.1758876Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/clitest000003/operationId/9f033119-a213-4303-b0ba-756d0a6c3c99?api-version=2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationResults/9f033119-a213-4303-b0ba-756d0a6c3c99/Spring/clitest000003?api-version=2023-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/clitest000003/operationId/9f033119-a213-4303-b0ba-756d0a6c3c99?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/6c933f90-8115-4392-90f2-7077c9fa5dbd/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/clitest000003/operationId/9f033119-a213-4303-b0ba-756d0a6c3c99","name":"9f033119-a213-4303-b0ba-756d0a6c3c99","status":"Running","startTime":"2023-03-24T09:11:52.8428352Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/clitest000003/operationId/9f033119-a213-4303-b0ba-756d0a6c3c99?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/6c933f90-8115-4392-90f2-7077c9fa5dbd/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/clitest000003/operationId/9f033119-a213-4303-b0ba-756d0a6c3c99","name":"9f033119-a213-4303-b0ba-756d0a6c3c99","status":"Succeeded","startTime":"2023-03-24T09:11:52.8428352Z","endTime":"2023-03-24T09:11:59.2536298Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Succeeded","fqdn":"clitest000002.azuremicroservices.io","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"persistentDisk":{"sizeInGB":0,"mountPath":"/persistent"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"northcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003","name":"clitest000003","systemData":{"createdBy":"yuwzho@microsoft.com","createdByType":"User","createdAt":"2023-03-24T09:11:52.1758876Z","lastModifiedBy":"yuwzho@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-24T09:11:52.1758876Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"source": {"type": "Jar", "relativePath": "<default>",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {"resourceRequests": {"cpu":
      "2", "memory": "1Gi"}, "environmentVariables": {"foo": "bar"}, "scale": {"minReplicas":
      1, "maxReplicas": 10}}, "active": true}, "sku": {"name": "S0", "tier": "Standard",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90},"provisioningState":"Creating","status":"Running","active":true,"instances":null,"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/default","name":"default","systemData":{"createdBy":"yuwzho@microsoft.com","createdByType":"User","createdAt":"2023-03-24T09:12:08.11362[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/default/operationId/8aa081e8-1024-4fd3-963d-4c32fef76830?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/6c933f90-8115-4392-90f2-7077c9fa5dbd/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/locations/northcentralus/operationStatus/default/operationId/8aa081e8-1024-4fd3-963d-4c32fef76830","name":"8aa081e8-1024-4fd3-963d-4c32fef76830","status":"Running","startTime":"2023-03-24T09:12:09.3496941Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":300,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":5,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}}},"provisioningState":"Succeeded","status":"Running","active":true,"instances":[{"name":"clitest000003-default-15-8986fc64b-ck8p5","status":"Running","discoveryStatus":"UNREGISTERED","startTime":"2023-03-24T09:12:15Z"}],"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/default","name":"default","systemData":{"createdBy":"yuwzho@microsoft.com","createdByType":"User","createdAt":"2023-03-24T09:12:08.1136253Z","lastModifiedBy":"yuwzho@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-24T09:12:08.1136253Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments?api-version=2023-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":300,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":5,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/getResourceUploadUrl?api-version=2023-01-01-preview
  response:
    body:
      string: '{"relativePath":"resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-f8c93853-c20b-42db-b2ad-1856023dc272","uploadUrl":"https://588a665aa61940759d92d533.file.core.windows.net/9e80d5781f3b40e6b836881f2e32cbc7/resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-f8c93853-c20b-42db-b2ad-1856023dc272?sv=2020-08-04&se=2023-03-24T11%3A13%3A09Z&sr=f&sp=w&sig=vVcs5ynClkytMEbNQGht99evi2gNjPtluGTlXcvKMaA%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '10'
      x-ms-date:
      - Fri, 24 Mar 2023 09:13:09 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://588a665aa61940759d92d533.file.core.windows.net/9e80d5781f3b40e6b836881f2e32cbc7/resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-f8c93853-c20b-42db-b2ad-1856023dc272?sv=2020-08-04&se=2023-03-24T11%3A13%3A09Z&sr=f&sp=w&sig=vVcs5ynClkytMEbNQGht99evi2gNjPtluGTlXcvKMaA%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB2C47FD48806E"'
      last-modified:
      - Fri, 24 Mar 2023 09:13:10 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: 'fake-text

      '
    headers:
      x-ms-date:
      - Fri, 24 Mar 2023 09:13:10 GMT
      x-ms-range:
      - bytes=0-9
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://588a665aa61940759d92d533.file.core.windows.net/9e80d5781f3b40e6b836881f2e32cbc7/resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-f8c93853-c20b-42db-b2ad-1856023dc272?comp=range&sv=2020-08-04&se=2023-03-24T11%3A13%3A09Z&sr=f&sp=w&sig=vVcs5ynClkytMEbNQGht99evi2gNjPtluGTlXcvKMaA%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - s2jzCli9dzvFYjAxyfFwsw==
      etag:
      - '"0x8DB2C47FD76195A"'
      last-modified:
      - Fri, 24 Mar 2023 09:13:10 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "NetCoreZip", "version": "v2", "relativePath":
      "resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-f8c93853-c20b-42db-b2ad-1856023dc272",
      "netCoreMainEntryPath": "test", "runtimeVersion": "NetCore_31"}, "deploymentSettings":
      {}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"prope[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":300,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":5,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}}},"provisioningState":"Failed","status":"Running","active":true,"instances":[{"name":"clitest000003-default-15-56cf6c8d9-j546b","status":"Failed","reason":"Exit
        code 0: purposely stopped, please refer to https://aka.ms/exitcode","discoveryStatus":"UNREGISTERED","startTime":"2023-03-24T09:13:28Z"},{"name":"clitest000003-default-15-8986fc64b-ck8p5","status":"Terminating","discoveryStatus":"UNREGISTERED","startTime":"2023-03-24T09:12:15Z"}],"source":{"type":"NetCoreZip","relativePath":"resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-f8c93853-c20b-42db-b2ad-1856023dc272","version":"v2","runtimeVersion":"NetCore_31","netCoreMainEntryPath":"test"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/apps/clitest000003/deployments/default","name":"default","systemData":{"createdBy":"yuwzho@microsoft.com","createdByType":"User","createdAt":"2023-03-24T09:12:08.1136253Z","lastModifiedBy":"yuwzho@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-24T09:13:11.2277017Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppPlatform/Spring/clitest000002/listTestKeys?api-version=2023-01-01-preview
  response:
    body:
      string: '{"primaryKey":"fake","secondaryKey":"fake","primaryTestEndpoint":"fake","secondaryTestEndpoint":"fake","enabled":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000002.azuremicroservices.io/api/logstream/apps/clitest000003/instances/clitest000003-default-15-56cf6c8d9-j546b?tailLines=500&limitBytes=1048576&sinceSeconds=300&follow=True
  response:
    body:
      string: "2023-03-24 09:14:02,853 INFO supervisord started with pid 1\n2023-03-24
        09:14:03,855 INFO spawned: 'dotnet-app' with pid 9\n2023-03-24 09:14:03,857
        INFO spawned: 'event-gather' with pi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '10'
      x-ms-date:
      - Fri, 24 Mar 2023 09:15:49 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://588a665aa61940759d92d533.file.core.windows.net/9e80d5781f3b40e6b836881f2e32cbc7/resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-b6686c9c-f0a7-43f5-ae40-0530e0282b69?sv=2020-08-04&se=2023-03-24T11%3A15%3A49Z&sr=f&sp=w&sig=kxrWymnQ82JLSbFgBgQEIlgu7gHAK2fa%2F3twQI%2FzN8o%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB2C485CC9B028"'
      last-modified:
      - Fri, 24 Mar 2023 09:15:50 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: 'fake-text

      '
    headers:
      x-ms-date:
      - Fri, 24 Mar 2023 09:15:51 GMT
      x-ms-range:
      - bytes=0-9
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://588a665aa61940759d92d533.file.core.windows.net/9e80d5781f3b40e6b836881f2e32cbc7/resources/56d647a3b478e38dcebcaa06624ae4da6b55481c1b024dd8acba0304e4db4beb-2023032409-b6686c9c-f0a7-43f5-ae40-0530e0282b69?comp=range&sv=2020-08-04&se=2023-03-24T11%3A15%3A49Z&sr=f&sp=w&sig=kxrWymnQ82JLSbFgBgQEIlgu7gHAK2fa%2F3twQI%2FzN8o%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - s2jzCli9dzvFYjAxyfFwsw==
      etag:
      - '"0x8DB2C485CF6ACF6"'
      last-modified:
      - Fri, 24 Mar 2023 09:15:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000002.azuremicroservices.io/api/logstream/apps/clitest000003/instances/clitest000003-default-15-798c64c5dd-4hznv?tailLines=500&limitBytes=1048576&sinceSeconds=300&follow=True
  response:
    body:
      string: "2023-03-24 09:16:35,890 INFO supervisord started with pid 1\n2023-03-24
        09:16:36,893 INFO spawned: 'dotnet-app' with pid 9\n2023-03-24 09:16:36,895
        INFO spawned: 'event-gather' with p[...]
[...]
