interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"56e88126a961459ca367bb6223cf4a16","networkProfile":{"outboundIPs":{"publicIPs":["20.219.181.209","20.219.183.20"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"cli-unittest.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"centralindia","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest","name":"cli-unittest","systemData":{"createdBy":"pensh@microsoft.com","createdByType":"User","createdAt":"2023-03-23T02:52:58.6146926Z","lastModifiedBy":"pensh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-23T02:57:49.439147Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2023-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"App was not found","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"public": false, "httpsOnly": false, "temporaryDisk": {"sizeInGB":
      5, "mountPath": "/tmp"}, "enableEndToEndTLS": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Creating","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"centralindia","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","name":"deploy","systemData":{"createdBy":"pensh@microsoft.com","createdByType":"User","createdAt":"2023-03-23T04:08:19.5370652Z","lastModifiedBy":"pensh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-23T04:08:19.5370652Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/deploy/operationId/901157a1-bb7c-41b2-9e3e-c8dcbe33c898?api-version=2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationResults/901157a1-bb7c-41b2-9e3e-c8dcbe33c898/Spring/deploy?api-version=2023-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/deploy/operationId/901157a1-bb7c-41b2-9e3e-c8dcbe33c898?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/deploy/operationId/901157a1-bb7c-41b2-9e3e-c8dcbe33c898","name":"901157a1-bb7c-41b2-9e3e-c8dcbe33c898","status":"Running","startTime":"2023-03-23T04:08:19.9703719Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/deploy/operationId/901157a1-bb7c-41b2-9e3e-c8dcbe33c898?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/deploy/operationId/901157a1-bb7c-41b2-9e3e-c8dcbe33c898","name":"901157a1-bb7c-41b2-9e3e-c8dcbe33c898","status":"Succeeded","startTime":"2023-03-23T04:08:19.9703719Z","endTime":"2023-03-23T04:08:26.2784815Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Succeeded","fqdn":"cli-unittest.azuremicroservices.io","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"persistentDisk":{"sizeInGB":0,"mountPath":"/persistent"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"centralindia","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","name":"deploy","systemData":{"createdBy":"pensh@microsoft.com","createdByType":"User","createdAt":"2023-03-23T04:08:19.5370652Z","lastModifiedBy":"pensh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-23T04:08:19.5370652Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"source": {"type": "Jar", "relativePath": "<default>",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {"resourceRequests": {"cpu":
      "2", "memory": "1Gi"}, "environmentVariables": {"foo": "bar"}, "scale": {"minReplicas":
      1, "maxReplicas": 10}}, "active": true}, "sku": {"name": "S0", "tier": "Standard",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90},"provisioningState":"Creating","status":"Running","active":true,"instances":null,"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"pensh@microsoft.com","createdByType":"User","createdAt":"2023-03-23T04:08:35.2402558Z","lastModifiedBy":"pensh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-23T04:08:35.2402558Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/default/operationId/541255d8-0a78-4d37-b84c-c0cb104b7034?api-version=2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationResults/541255d8-0a78-4d37-b84c-c0cb104b7034/Spring/default?api-version=2023-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/default/operationId/541255d8-0a78-4d37-b84c-c0cb104b7034?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/centralindia/operationStatus/default/operationId/541255d8-0a78-4d37-b84c-c0cb104b7034","name":"541255d8-0a78-4d37-b84c-c0cb104b7034","status":"Running","startTime":"2023-03-23T04:08:36.0742042Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":300,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":5,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}}},"provisioningState":"Succeeded","status":"Running","active":true,"instances":[{"name":"deploy-default-6-744bd6ff7b-tdp5t","status":"Running","discoveryStatus":"UNREGISTERED","startTime":"2023-03-23T04:08:37Z"}],"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"pensh@microsoft.com","createdByType":"User","createdAt":"2023-03-23T04:08:35.2402558Z","lastModifiedBy":"pensh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-23T04:08:35.2402558Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments?api-version=2023-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":300,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":5,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/getResourceUploadUrl?api-version=2023-01-01-preview
  response:
    body:
      string: '{"relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc","uploadUrl":"https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc?sv=2020-08-04&se=2023-03-23T06%3A09%3A25Z&sr=f&sp=w&sig=504SJsyU8WYR%2B6Ja70yJtw6k6wthSdSANrJOvTd5eqU%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 23 Mar 2023 04:09:25 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc?sv=2020-08-04&se=2023-03-23T06%3A09%3A25Z&sr=f&sp=w&sig=504SJsyU8WYR%2B6Ja70yJtw6k6wthSdSANrJOvTd5eqU%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB2B54649C3777"'
      last-modified:
      - Thu, 23 Mar 2023 04:09:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 23 Mar 2023 04:09:26 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc?comp=range&sv=2020-08-04&se=2023-03-23T06%3A09%3A25Z&sr=f&sp=w&sig=504SJsyU8WYR%2B6Ja70yJtw6k6wthSdSANrJOvTd5eqU%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8DB2B5464B86DCF"'
      last-modified:
      - Thu, 23 Mar 2023 04:09:27 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "Jar", "version": "v1", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {}}, "sku": {"name": "S0",
      "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":300,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":5,"successThreshold":1,"timeoutSeconds":3,"probeAction":{"type":"TCPSocketAction"}}},"provisioningState":"Updating","status":"Running","active":true,"instances":[{"name":"deploy-default-6-66c4f6fd85-bxdkw","status":"Starting","reason":"CrashLoopBackOff","discoveryStatus":"UNREGISTERED","startTime":"2023-03-23T04:09:39Z"}],"source":{"type":"Jar","relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc","version":"v1","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"pensh@microsoft.com","createdByType":"User","createdAt":"2023-03-23T04:08:35.2402558Z","lastModifiedBy":"pensh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-23T04:09:27.4525363Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/listTestKeys?api-version=2023-01-01-preview
  response:
    body:
      string: '{"primaryKey":"g8Txb3WjhsLbmSTNRt00QSi7oJMugRsSvwrllEl6k9S9anvSrOG3624SObNEspif","secondaryKey":"e7KVYhTdOPRs7yhnDN0p9oA96TFjn8WtwAHJBRMzkJNP6sBji1m1ovwBKs0X1jIN","primaryTestEndpoint":"https://primary:g8Txb3WjhsLbmSTNRt00QSi7oJMugRsSvwrllEl6k9S9anvSrOG3624SObNEspif@cli-unittest.test.azuremicroservices.io","secondaryTestEndpoint":"https://secondary:e7KVYhTdOPRs7yhnDN0p9oA96TFjn8WtwAHJBRMzkJNP6sBji1m1ovwBKs0X1jIN@cli-unittest.test.azuremicroservices.io","enabled":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-unittest.azuremicroservices.io/api/logstream/apps/deploy/instances/deploy-default-6-66c4f6fd85-bxdkw?tailLines=500&limitBytes=1048576&sinceSeconds=300
  response:
    body:
      string: 'BUILD_IN_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=https://cli-unittest.svc.azuremicroservices.io/eureka/eureka

        BUILD_IN_SPRING_CLOUD_CONFIG_URI=https://cli-unittest.svc.azuremicroservices.io/config

        BUILD_IN_SPRING_CLOUD_CONFIG_FAILFAST=true

        Error: Invalid or corrupt jarfile /tmp/fdaaab38-a93a-4bf8-ae00-6490d11dac90

        '
    headers:
      content-type:
      - text/plain
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"source": {"type": "Jar", "version": "v1", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-e767b722-880e-4d0a-94ae-6f3f82b0bddc",
      "runtimeVersion": "Java_8"}, "deploymentSettings": {"environmentVariables":
      {"bas": "baz"}}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariab[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 23 Mar 2023 04:11:58 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-9204abd0-b289-4f26-8688-b33ab7b8efa0?sv=2020-08-04&se=2023-03-23T06%3A11%3A58Z&sr=f&sp=w&sig=KLWk2p8OLBVkoJFtUKqykxwYI1t3y5%2FxJFuKwlKW%2FXs%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB2B54BF47BAD5"'
      last-modified:
      - Thu, 23 Mar 2023 04:11:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 23 Mar 2023 04:11:58 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-9204abd0-b289-4f26-8688-b33ab7b8efa0?comp=range&sv=2020-08-04&se=2023-03-23T06%3A11%3A58Z&sr=f&sp=w&sig=KLWk2p8OLBVkoJFtUKqykxwYI1t3y5%2FxJFuKwlKW%2FXs%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8DB2B54BF846CAF"'
      last-modified:
      - Thu, 23 Mar 2023 04:11:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "NetCoreZip", "version": "v2", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-9204abd0-b289-4f26-8688-b33ab7b8efa0",
      "netCoreMainEntryPath": "test", "runtimeVersion": "NetCore_31"}, "deploymentSettings":
      {}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2023-01-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-unittest.azuremicroservices.io/api/logstream/apps/deploy/instances/deploy-default-6-7d58cf9c75-jqvz6?tailLines=500&limitBytes=1048576&sinceSeconds=300
  response:
    body:
      string: "2023-03-23 04:12:44,003 INFO supervisord started with pid 1\n2023-03-23
        04:12:45,005 INFO spawned: 'dotnet-app' with pid 9\n2023-03-23 04:12:45,007
        INFO spawned: 'event-gather' with pid 10\n2023-03-23 04:12:45,009 INFO s[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 23 Mar 2023 04:50:14 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-7120a8e5-0be8-472b-82a8-da8ac23dc02c?sv=2020-08-04&se=2023-03-23T06%3A50%3A14Z&sr=f&sp=w&sig=acdJLS%2B1w8WMViTDObU3Qq9zeut6%2B00gK6VMggpNsgk%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB2B5A181A128A"'
      last-modified:
      - Thu, 23 Mar 2023 04:50:15 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 23 Mar 2023 04:50:15 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://57a11a7131c74adfb57303e3.file.core.windows.net/56e88126a961459ca367bb6223cf4a16/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2023032304-7120a8e5-0be8-472b-82a8-da8ac23dc02c?comp=range&sv=2020-08-04&se=2023-03-23T06%3A50%3A14Z&sr=f&sp=w&sig=acdJLS%2B1w8WMViTDObU3Qq9zeut6%2B00gK6VMggpNsgk%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8DB2B5A183B9F3E"'
      last-modified:
      - Thu, 23 Mar 2023 04:50:15 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-unittest.azuremicroservices.io/api/logstream/apps/deploy/instances/deploy-default-6-576977d57-h4clb?tailLines=500&limitBytes=1048576&sinceSeconds=300
  response:
    body:
      string: "2023-03-23 04:51:05,993 INFO supervisord started with pid 1\n2023-03-23
        04:51:06,996 INFO spawned: 'dotnet-app' with pid 9\n2023-03-23 04:51:06,998
        INFO spawned: 'event-gather' with pid 10\n2023-03-23 04:51:06,999 INFO sp[...]
[...]
