interactions:
- request:
    body: '{"type": "Microsoft.AppPlatform/Spring", "name": "cli-unittest-11"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppPlatform/locations/eastus2/checkNameAvailability?api-version=2024-05-01-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - f186244f-1bfd-4f46-85f1-15df565c4b85
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"zoneRedundant": false}, "sku":
      {"name": "B0", "tier": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-11?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","zoneRedundant":false,"version":3,"serviceId":"d8a86c804e8e4091bf857400321ab5eb","powerState":"Running","fqdn":"cli-unittest-11.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"B0","tier":"Basic"},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-11","name":"cli-unittest-11","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-05-18T09:43:43.5909392Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-18T09:43:43.5909392Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/b0b58a92-78ca-4430-8561-44ea71ee214d?api-version=2024-05-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationResults/b0b58a92-78ca-4430-8561-44ea71ee214d/Spring/cli-unittest-11?api-version=2024-05-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - f186244f-1bfd-4f46-85f1-15df565c4b85
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/b0b58a92-78ca-4430-8561-44ea71ee214d?api-version=2024-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/6eb7084d-949b-4a74-a41a-8caade218d56","name":"6eb7084d-949b-4a74-a41a-8caade218d56","status":"Running","startTime":"2023-05-18T09:43:44.0469424Z"}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - f186244f-1bfd-4f46-85f1-15df565c4b85
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/b0b58a92-78ca-4430-8561-44ea71ee214d?api-version=2024-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/6eb7084d-949b-4a74-a41a-8caade218d56","name":"6eb7084d-949b-4a74-a41a-8caade218d56","status":"Succeeded","startTime":"2023-05-18T09:43:44.0469424Z","endTime":"2023-05-18T09:49:55.934986Z"}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - f186244f-1bfd-4f46-85f1-15df565c4b85
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/b0b58a92-78ca-4430-8561-44ea71ee214d?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"d8a86c804e8e4091bf857400321ab5eb","networkProfile":{"outboundIPs":{"publicIPs":["20.85.78.142"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"cli-unittest-11.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"B0","tier":"Basic"},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-11","name":"cli-unittest-11","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-05-18T09:43:43.5909392Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-18T09:43:43.5909392Z"}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "kind": "web", "properties": {"Application_Type":
      "web"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.Insights/components/cli-unittest-11?api-version=2015-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/microsoft.insights/components/cli-unittest-11\",\r\n
        \ \"name\": \"cli-unittest-11\",\r\n  \"type\": \"microsoft.insights/components\",\r\n
        \ \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n
        \ \"etag\": \"\\\"090073d5-0000-0200-0000-6465f4c90000\\\"\",\r\n  \"properties\":
        {\r\n    \"ApplicationId\": \"cli-unittest-11\",\r\n    \"AppId\": \"86d0e205-f1e0-4be2-aad6-49330d4e2e78\",\r\n
        \   \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\":
        null,\r\n    \"InstrumentationKey\": \"7342d7f8-89d3-4f93-a3cb-b386b41c86c9\",\r\n
        \   \"ConnectionString\": \"InstrumentationKey=7342d7f8-89d3-4f93-a3cb-b386b41c86c9;IngestionEndpoint=https://eastus2-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/\",\r\n
        \   \"Name\": \"cli-unittest-11\",\r\n    \"CreationDate\": \"2023-03-30T11:26:03.4299714+00:00\",\r\n
        \   \"TenantId\": \"d51e3ffe-6b84-49cd-b426-0dc4ec660356\",\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"RetentionInDays\":
        90,\r\n    \"IngestionMode\": \"ApplicationInsights\",\r\n    \"publicNetworkAccessForIngestion\":
        \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"Ver\":
        \"v2\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"traceEnabled": true, "appInsightsInstrumentationKey":
      "InstrumentationKey=7342d7f8-89d3-4f93-a3cb-b386b41c86c9;IngestionEndpoint=https://eastus2-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-11/monitoringSettings/default?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Updating","traceEnabled":true,"appInsightsInstrumentationKey":"InstrumentationKey=7342d7f8-89d3-4f93-a3cb-b386b41c86c9;IngestionEndpoint=https://eastus2-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/","appInsightsSamplingRate":10.0,"appInsightsAgentVersions":{"java":"3.4.11"}},"type":"Microsoft.AppPlatform/Spring/monitoringSettings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-11/monitoringSettings/default","name":"default"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-11/operationId/3ad5dc4b-613a-4a59-81a2-7ffe7c11ee59?api-version=2024-05-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationResults/3ad5dc4b-613a-4a59-81a2-7ffe7c11ee59/Spring/cli-unittest-11?api-version=2024-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - f186244f-1bfd-4f46-85f1-15df565c4b85
    status:
      code: 202
      message: Accepted
[...]
