interactions:
- request:
    body: '{"location": "eastus2", "properties": {"zoneRedundant": false}, "sku":
      {"name": "B0", "tier": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-9-1?api-version=2022-05-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","zoneRedundant":false,"version":3,"serviceId":"85df292733244161a9f95826402286ef","powerState":"Running","fqdn":"cli-unittest-9-1.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"B0","tier":"Basic"},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-9-1","name":"cli-unittest-9-1","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2022-07-02T10:46:28.3346258Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-07-02T10:46:28.3346258Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-9-1/operationId/8f9959cc-505f-4f65-86dc-6ac82fb628b8?api-version=2022-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationResults/8f9959cc-505f-4f65-86dc-6ac82fb628b8/Spring/cli-unittest-9-1?api-version=2022-05-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - 3c1def89-fec6-4403-b529-69469eb5b958
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-9-1/operationId/8f9959cc-505f-4f65-86dc-6ac82fb628b8?api-version=2022-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0753feba-86f1-4242-aff1-27938fb04531/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-9-1/operationId/8f9959cc-505f-4f65-86dc-6ac82fb628b8","name":"8f9959cc-505f-4f65-86dc-6ac82fb628b8","status":"Running","startTime":"2022-07-02T10:46:29.5546781Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 3c1def89-fec6-4403-b529-69469eb5b958
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-9-1/operationId/8f9959cc-505f-4f65-86dc-6ac82fb628b8?api-version=2022-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0753feba-86f1-4242-aff1-27938fb04531/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest-9-1/operationId/8f9959cc-505f-4f65-86dc-6ac82fb628b8","name":"8f9959cc-505f-4f65-86dc-6ac82fb628b8","status":"Succeeded","startTime":"2022-07-02T10:46:29.5546781Z","endTime":"2022-07-02T10:51:11.5448089Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 3c1def89-fec6-4403-b529-69469eb5b958
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-9-1?api-version=2022-05-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"85df292733244161a9f95826402286ef","networkProfile":{"outboundIPs":{"publicIPs":["20.85.62.108"]}},"powerState":"Running","fqdn":"cli-unittest-9-1.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"B0","tier":"Basic"},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-9-1","name":"cli-unittest-9-1","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2022-07-02T10:46:28.3346258Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-07-02T10:46:28.3346258Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
      x-rp-server-mvid:
      - 3c1def89-fec6-4403-b529-69469eb5b958
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-9-1/monitoringSettings/default?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"appInsightsSamplingRate":10.0,"appInsightsAgentVersions":{"java":"3.2.11"},"provisioningState":"Succeeded","traceEnabled":false,"appInsightsInstrumentationKey":null},"type":"Microsoft.AppPlatform/Spring/monitoringSettings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-9-1/monitoringSettings/default","name":"default"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 3c1def89-fec6-4403-b529-69469eb5b958
    status:
      code: 200
      message: OK
[...]
