interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest10?api-version=2023-03-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"f7b0f257e39f4fb694b260c45570ae39","networkProfile":{"outboundIPs":{"publicIPs":["20.207.82.238","20.207.87.171"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"cli-unittest10.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"centralindia","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest10","name":"cli-unittest10","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2023-03-30T02:14:44.8424799Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-30T02:26:08.2839366Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest10/monitoringSettings/default?api-version=2023-03-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","traceEnabled":true,"appInsightsInstrumentationKey":"InstrumentationKey=6ef4254a-c55f-4ecd-809e-a564f80c16ec;IngestionEndpoint=https://centralindia-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralindia.livediagnostics.monitor.azure.com/","appInsightsSamplingRate":10.0,"appInsightsAgentVersions":{"java":"3.4.9"}},"type":"Microsoft.AppPlatform/Spring/monitoringSettings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest10/monitoringSettings/default","name":"default"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"traceEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest10/monitoringSettings/default?api-version=2023-03-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Updating","traceEnabled":false,"appInsightsInstrumentationKey":null,"appInsightsSamplingRate":10.0,"appInsightsAgentVersions":{"java":"3.4.9"}},"type":"Microsoft.AppPlatform/Spring/monitoringSettings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest10/monitoringSettings/default","name":"default"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/cli-unittest10/operationId/2fa1119f-4645-4aed-a55d-07e9abf2c8d1?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2/operationResults/2fa1119f-4645-4aed-a55d-07e9abf2c8d1/Spring/cli-unittest10?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 2d8cffe0-ed19-4f32-b630-c96199e681e1
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.Insights/components/cli_scenario_test_202207021820?api-version=2015-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/microsoft.insights/components/cli_scenario_test_202207021820\",\r\n
        \ \"name\": \"cli_scenario_test_202207021820\",\r\n  \"type\": \"microsoft.insights/components\",\r\n
        \ \"location\": \"centralindia\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n
        \ \"etag\": \"\\\"850092f7-0000-0200-0000-6424f51d0000\\\"\",\r\n  \"properties\":
        {\r\n    \"ApplicationId\": \"cli_scenario_test_202207021820\",\r\n    \"AppId\":
        \"d7ff175d-a78f-4e6e-908d-1397ad6db5f5\",\r\n    \"Application_Type\": \"web\",\r\n
        \   \"Flow_Type\": \"Redfield\",\r\n    \"Request_Source\": \"IbizaAIExtension\",\r\n
        \   \"InstrumentationKey\": \"3752dcae-c088-46c7-bb64-4195d58c0687\",\r\n
        \   \"ConnectionString\": \"InstrumentationKey=3752dcae-c088-46c7-bb64-4195d58c0687;IngestionEndpoint=https://centralindia-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralindia.livediagnostics.monitor.azure.com/\",\r\n
        \   \"Name\": \"cli_scenario_test_202207021820\",\r\n    \"CreationDate\":
        \"2023-03-30T02:34:04.3297686+00:00\",\r\n    \"TenantId\": \"d51e3ffe-6b84-49cd-b426-0dc4ec660356\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n
        \   \"RetentionInDays\": 90,\r\n    \"WorkspaceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-CID/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-d51e3ffe-6b84-49cd-b426-0dc4ec660356-CID\",\r\n
        \   \"IngestionMode\": \"LogAnalytics\",\r\n    \"publicNetworkAccessForIngestion\":
        \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"Ver\":
        \"v2\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
