interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"685378627024414abceb4ac7ba13e677","networkProfile":{"outboundIPs":{"publicIPs":["20.62.235.173","20.62.235.230"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"cli-unittest.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest","name":"cli-unittest","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2022-11-24T12:09:50.6175309Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-24T12:14:02.6440969Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2022-09-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"App was not found","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"public": false, "httpsOnly": false, "temporaryDisk": {"sizeInGB":
      5, "mountPath": "/tmp"}, "enableEndToEndTLS": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2022-09-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Creating","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","name":"deploy","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2022-11-24T12:59:45.190672Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-24T12:59:45.190672Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/deploy/operationId/fe350d7d-db75-4899-98ca-3a45c918e44f?api-version=2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationResults/fe350d7d-db75-4899-98ca-3a45c918e44f/Spring/deploy?api-version=2022-09-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/deploy/operationId/fe350d7d-db75-4899-98ca-3a45c918e44f?api-version=2022-09-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/deploy/operationId/fe350d7d-db75-4899-98ca-3a45c918e44f","name":"fe350d7d-db75-4899-98ca-3a45c918e44f","status":"Succeeded","startTime":"2022-11-24T12:59:45.5130008Z","endTime":"2022-11-24T12:59:52.563549Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2022-09-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Succeeded","fqdn":"cli-unittest.azuremicroservices.io","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"persistentDisk":{"sizeInGB":0,"mountPath":"/persistent"},"enableEndToEndTLS":false,"ingressSettings":{"readTimeoutInSeconds":300,"sendTimeoutInSeconds":60,"sessionCookieMaxAge":0,"sessionAffinity":"None","backendProtocol":"Default"}},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","name":"deploy","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2022-11-24T12:59:45.190672Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-24T12:59:45.190672Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"source": {"type": "Jar", "relativePath": "<default>",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {"resourceRequests": {"cpu":
      "2", "memory": "1Gi"}, "environmentVariables": {"foo": "bar"}}, "active": true},
      "sku": {"name": "S0", "tier": "Standard", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-09-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90},"provisioningState":"Creating","status":"Running","active":true,"instances":null,"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2022-11-24T13:00:20.8625709Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-24T13:00:20.8625709Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/32947b33-6ae9-4432-a0cd-c92f88b055a0?api-version=2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationResults/32947b33-6ae9-4432-a0cd-c92f88b055a0/Spring/default?api-version=2022-09-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/32947b33-6ae9-4432-a0cd-c92f88b055a0?api-version=2022-09-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/32947b33-6ae9-4432-a0cd-c92f88b055a0","name":"32947b33-6ae9-4432-a0cd-c92f88b055a0","status":"Succeeded","startTime":"2022-11-24T13:00:21.6323298Z","endTime":"2022-11-24T13:00:48.2536929Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-09-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":24,"initialDelaySeconds":60,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1,"probeAction":{"type":"TCPSocketAction"}}},"provisioningState":"Succeeded","status":"Running","active":true,"instances":[{"name":"deploy-default-6-5b74df59c7-4vlpk","status":"Running","discoveryStatus":"UNREGISTERED","startTime":"2022-11-24T13:00:25Z"}],"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2022-11-24T13:00:20.8625709Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-24T13:00:20.8625709Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments?api-version=2022-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":24,"initialDelaySeconds":60,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1,"probeAction":{[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/getResourceUploadUrl?api-version=2022-11-01-preview
  response:
    body:
      string: '{"relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919","uploadUrl":"https://5cb692709c6c4f1c9807abc8.file.core.windows.net/685378627024414abceb4ac7ba13e677/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919?sv=2020-08-04&se=2022-11-24T15%3A01%3A07Z&sr=f&sp=w&sig=Rvib6EzLq79iuwZGJn9mKAvmFbcnibTsVs6KfCM4iZ0%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 24 Nov 2022 13:01:08 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-creation-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-last-write-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://5cb692709c6c4f1c9807abc8.file.core.windows.net/685378627024414abceb4ac7ba13e677/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919?sv=2020-08-04&se=2022-11-24T15%3A01%3A07Z&sr=f&sp=w&sig=Rvib6EzLq79iuwZGJn9mKAvmFbcnibTsVs6KfCM4iZ0%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DACE1BF4139E8C"'
      last-modified:
      - Thu, 24 Nov 2022 13:01:08 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-creation-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-id:
      - '11529338191370780672'
      x-ms-file-last-write-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 9539436391005162926*3225151942097495328
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 24 Nov 2022 13:01:09 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://5cb692709c6c4f1c9807abc8.file.core.windows.net/685378627024414abceb4ac7ba13e677/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919?comp=range&sv=2020-08-04&se=2022-11-24T15%3A01%3A07Z&sr=f&sp=w&sig=Rvib6EzLq79iuwZGJn9mKAvmFbcnibTsVs6KfCM4iZ0%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8DACE1BF51BDD4B"'
      last-modified:
      - Thu, 24 Nov 2022 13:01:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "Jar", "version": "v1", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {}}, "sku": {"name": "S0",
      "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/d3c80070-43c7-4ebe-b5f4-eaec97a1f2da?api-version=2022-11-01-preview
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.AppPlatform'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-05-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"},"terminationGracePeriodSeconds":90,"livenessProbe":{"disableProbe":false,"failureThreshold":24,"initialDelaySeconds":60,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1,"probeAction":{"type":"TCPSocketAction"}},"readinessProbe":{"disableProbe":false,"failureThreshold":3,"initialDelaySeconds":0,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1,"probeAction":{"type":"TCPSocketAction"}}},"provisioningState":"Failed","status":"Running","active":true,"instances":[{"name":"deploy-default-6-84967fc776-d9784","status":"Failed","reason":"Exit
        code 1: application error, please refer to https://aka.ms/exitcode","discoveryStatus":"UNREGISTERED","startTime":"2022-11-24T13:01:23Z"}],"source":{"type":"Jar","relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919","version":"v1","runtimeVersion":"Java_11"}},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"yili7@microsoft.com","createdByType":"User","createdAt":"2022-11-24T13:00:20.8625709Z","lastModifiedBy":"yili7@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-24T13:01:10.4148963Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - 59b5eb15-14b1-47d7-aa3e-7b6c2904efcd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"source": {"type": "Jar", "version": "v1", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-f0ee10ed-bbc8-422f-9c91-bce124574919",
      "runtimeVersion": "Java_8"}, "deploymentSettings": {"environmentVariables":
      {"bas": "baz"}}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-09-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariab[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 24 Nov 2022 13:04:16 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-creation-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-last-write-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://5cb692709c6c4f1c9807abc8.file.co[...]
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 24 Nov 2022 13:04:22 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://5cb692709c6c4f1c9807abc8.file.core.windows.net/685378627024414abceb4ac7ba13e677/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-00eb6474-0088-4d2d-b043-c259ce209fce?comp=range&sv=2020-08-04&se=2022-11-24T15%3A04%3A16Z&sr=f&sp=w&sig=nPEqm8IMrPh0fOUEPS9KcbCI1lU%2FTY9WsLehuQDCrBg%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8DACE1C680D0DBD"'
      last-modified:
      - Thu, 24 Nov 2022 13:04:22 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "NetCoreZip", "version": "v2", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-00eb6474-0088-4d2d-b043-c259ce209fce",
      "netCoreMainEntryPath": "test", "runtimeVersion": "NetCore_31"}, "deploymentSettings":
      {}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-11-01-preview
  response:
    body:
      string: '{"properties":{"deploymentSettings":{[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 24 Nov 2022 13:06:36 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-creation-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-last-write-time:
      - '2022-11-24T13:01:08.0711820Z'
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://5cb692709c6c4f1c9807abc8.file.co[...]
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 24 Nov 2022 13:06:37 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://5cb692709c6c4f1c9807abc8.file.core.windows.net/685378627024414abceb4ac7ba13e677/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022112413-b1fc8ece-3761-4b94-a2c4-cff347c95f02?comp=range&sv=2020-08-04&se=2022-11-24T15%3A06%3A35Z&sr=f&sp=w&sig=xPZO7GbukgZctqfSSgUH3zXMk9tKgvnrmH11Pz923zM%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8DACE1CB88FAF71"'
      last-modified:
      - Thu, 24 Nov 2022 13:06:37 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
