interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines?api-version=2025-05-21
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/Pipelines/corptest","name":"corptest","type":"microsoft.azuredatatransfer/pipelines","location":"eastus","systemData":{"createdBy":"6e135f4a-4afc-4899-b453-26151edd13fb","createdByType":"Application","createdAt":"2025-05-23T20:24:10.5018871Z","lastModifiedBy":"6e135f4a-4afc-4899-b453-26151edd13fb","lastModifiedByType":"Application","lastModifiedAt":"2025-06-03T18:00:35.3214589Z"},"identity":{"type":"None"},"properties":{"remoteCloud":"corptest","connections":[{"properties":{"pipeline":"corptest","direction":"Receive","justification":"Receive
        side for PS testing","status":"Approved","statusReason":"Approving for PS
        testing","linkStatus":"Unlinked","flowTypes":["Mission"],"requirementId":"0","remoteSubscriptionId":"389ff96a-b137-405b-a3c8-4d22514708b5","pin":"G8jG8pe","primaryContact":"faikh@microsoft.com","provisioningState":"Accepted","internalMetadata":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/faikh-connection-to-approve-1","name":"faikh-connection-to-approve-1","type":"microsoft.azuredatatransfer/connections","location":"eastus","etag":"\"0800a352-0000-0100-0000-683837fc0000\"","systemData":{"lastModifiedBy":"faikh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-29T10:33:28.7605991Z"},"identity":{"type":"None"}},{"properties":{"pipeline":"corptest","direction":"Receive","justification":"Receive
        side for PS testing","status":"InReview","linkStatus":"Unlinked","flowTypes":["Mission"],"requirementId":"0","remoteSubscriptionId":"389ff96a-b137-405b-a3c8-4d22514708b5","primaryContact":"faikh@microsoft.co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest?api-version=2025-05-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/Pipelines/corptest","name":"corptest","type":"microsoft.azuredatatransfer/pipelines",[...]
- request:
    body: '{"location": "eastus", "properties": {"direction": "Receive", "flowTypes":
      ["Mission"], "justification": "required", "pipeline": "corptest", "primaryContact":
      "lasuredd@microsoft.com", "remoteSubscriptionId": "389ff96a-b137-405b-a3c8-4d22514708b5",
      "requirementId": "1234", "secondaryContacts": ["lasuredd@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-receive-connection-000002?api-version=2025-05-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-receive-connection-000002","name":"test-receive-connection-000002","type":"microsoft.azuredatatransfer/connections","location":"eastus","tags":{"creationTime":"2025-06-03T18:06:30.3132915Z","vteam":"Experience"},"systemData":{"createdBy":"lasuredd@microsoft.com","createdByType":"User","createdAt":"2025-06-03T18:06:31.0507015Z","lastModifiedBy":"lasuredd@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-03T18:06:31.0507015Z"},"properties":{"direction":"Receive","flowTypes":["Mission"],"justification":"required","pipeline":"corptest","primaryContact":"lasuredd@microsoft.com","remoteSubscriptionId":"389ff96a-b137-405b-a3c8-4d22514708b5","requirementId":"1234","secondaryContacts":["lasuredd@microsoft.com"],"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AzureDataTransfer/locations/EASTUS/operationStatuses/062f7171-0287-4515-b42c-eb1b8ff4a5ab*F9012A9B24C7C3B625F78E8680F1E16256A77F26CAFC266169FF067BC854E044?api-version=2025-05-21&t=638845707929256923&c=MIIHpTCCBo2gAwIBAgITOgWeMn5lGzFWFOIH_QAEBZ4yfjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDIxMTgxODEzWhcNMjUxMDE4MTgx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AzureDataTransfer/locations/EASTUS/operationStatuses/062f7171-0287-4515-b42c-eb1b8ff4a5ab*F9012A9B24C7C3B625F78E8680F1E16256A77F26CAFC266169FF067BC854E044?api-version=2025-05-21&t=638845707929256923&c=MIIHpTCCBo2gAwIBAgITOgWeMn5lGzFWFOIH_QAEBZ4yfjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMR[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-receive-connection-000002?api-version=2025-05-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-receive-connection-000002","name":"test-receive-connection-000002","type":"microsoft.azuredatatransfer/connections","location":"eastus","tags":{"creationTime":"2025-06-03T18:06:30.3132915Z","vteam":"Experience"},"systemData":{"createdBy":"lasuredd@microsoft.com","createdByType":"User","createdAt":"2025-06-03T18:06:31.0507015Z","lastModifiedBy":"lasuredd@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-03T18:06:31.0507015Z"},"identity":{"type":"None"},"properties":{"pipeline":"corptest","direction":"Receive","justification":"required","status":"InReview","linkStatus":"Unlinked","flowTypes":["Mission"],"requirementId":"1234","remoteSubscriptionId":"389ff96a-b137-405b-a3c8-4d22514708b5","primaryContact":"lasuredd@microsoft.com","secondaryContacts":["lasuredd@microsoft.com"],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1c00ff8b-0000-0800-0000-683f39af0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
version: 1
