interactions:
- request:
    body: '{"name": "cli-mc000002", "type": "Microsoft.DocumentDB/mongoClusters"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/checkMongoClusterNameAvailability?api-version=2026-06-01
  response:
    body:
      string: "{\n  \"nameAvailable\": true,\n  \"message\": \"\",\n  \"reason\":
        \"\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"administrator": {"password": "fakeTestPassword1!",
      "userName": "testadmin"}, "compute": {"tier": "M30"}, "highAvailability": {"targetMode":
      "Disabled"}, "sharding": {"shardCount": 1}, "storage": {"sizeGb": 128, "type":
      "PremiumSSDv2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002?api-version=2026-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002\",\n
        \ \"name\": \"cli-mc000002\",\n  \"type\": \"Microsoft.DocumentDB/mongoClusters\",\n
        \ \"tags\": {},\n  \"location\": \"eastus2\",\n  \"systemData\": {\n    \"createdAt\":
        \"2026-07-02T18:43:33.1185472Z\",\n    \"createdBy\": \"test@example.com\",\n
        \   \"createdByType\": \"User\",\n    \"lastModifiedAt\": \"2026-07-02T18:43:33.1185472Z\",\n
        \   \"lastModifiedBy\": \"test@example.com\",\n    \"lastModifiedByType\":
        \"User\"\n  },\n  \"properties\": {\n    \"provisioningState\": \"InProgress\",\n
        \   \"clusterStatus\": \"Provisioning\",\n    \"administrator\": {\n      \"userName\":
        \"testadmin\"\n    },\n    \"serverVersion\": \"7.0\",\n    \"compute\": {\n
        \     \"tier\": \"M30\"\n    },\n    \"storage\": {\n      \"sizeGb\": 128,\n
        \     \"type\": \"PremiumSSDv2\"\n    },\n    \"sharding\": {\n      \"shardCount\":
        1\n    },\n    \"highAvailability\": {\n      \"targetMode\": \"Disabled\"\n
        \   },\n    \"backup\": {},\n    \"privateEndpointConnections\": [],\n    \"publicNetworkAccess\":
        \"Enabled\",\n    \"replica\": {\n      \"role\": \"Primary\"\n    },\n    \"infrastructureVersion\":
        \"2.0\",\n    \"dataApi\": {\n      \"mode\": \"Disabled\"\n    },\n    \"authConfig\":
        {\n      \"allowedModes\": [\n        \"NativeAuth\"\n      ]\n    },\n    \"createMode\":
        \"Default\",\n    \"networkBypassMode\": \"None\"\n  },\n  \"identity\": {\n
        \   \"type\": \"None\"\n  }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/mongoClusterAzureAsyncOperation/ad0cd008-a034-4c59-aa59-c7e3c529e75d?api-version=2026-06-01&t=639186146146654298&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxMDA4MTUzOVoXDTI2MTAwNTE0MTUzOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002?api-version=2026-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002\",\n
        \ \"name\": \"cli-mc000002\",\n  \"type\": \"Microsoft.DocumentDB/mongoClusters\",\n
        \ \"tags\": {},\n  \"location\": \"eastus2\",\n  \"systemData\": {\n    \"createdAt\":
        \"2026-07-02T18:43:33.1185472Z\",\n    \"createdBy\": \"test@example.com\",\n
        \   \"createdByType\": \"User\",\n    \"lastModifiedAt\": \"2026-07-02T18:43:33.1185472Z\",\n
        \   \"lastModifiedBy\": \"test@example.com\",\n    \"lastModifiedByType\":
        \"User\"\n  },\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n
        \   \"clusterStatus\": \"Ready\",\n    \"administrator\": {\n      \"userName\":
        \"testadmin\"\n    },\n    \"serverVersion\": \"7.0\",\n    \"compute\": {\n
        \     \"tier\": \"M30\"\n    },\n    \"storage\": {\n      \"sizeGb\": 128,\n
        \     \"type\": \"PremiumSSDv2\"\n    },\n    \"sharding\": {\n      \"shardCount\":
        1\n    },\n    \"highAvailability\": {\n      \"targetMode\": \"Disabled\"\n
        \   },\n    \"connectionString\": \"mongodb+srv://<user>:<password>@cli-mc000002.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000\",\n
        \   \"backup\": {},\n    \"privateEndpointConnections\": [],\n    \"publicNetworkAccess\":
        \"Enabled\",\n    \"replica\": {\n      \"role\": \"Primary\",\n      \"replicationState\":
        \"Active\"\n    },\n    \"infrastructureVersion\": \"2.0\",\n    \"dataApi\":
        {\n      \"mode\": \"Disabled\"\n    },\n    \"authConfig\": {\n      \"allowedModes\":
        [\n        \"NativeAuth\"\n      ]\n    },\n    \"createMode\": \"Default\",\n
        \   \"networkBypassMode\": \"None\"\n  },\n  \"identity\": {\n    \"type\":
        \"None\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters?api-version=2026-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002","name":"cli-mc000002","type":"Microsoft.DocumentDB/mongoClusters","tags":{},"location":"eastus2","systemData":{"createdAt":"2026-07-02T18:43:33.1185472Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-07-02T18:43:33.1185472Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"},"properties":{"provisioningState":"Succeeded","clusterStatus":"Ready","administrator":{"userName":"testadmin"},"serverVersion":"7.0","compute":{"tier":"M30"},"storage":{"sizeGb":128,"type":"PremiumSSDv2"},"sharding":{"shardCount":1},"highAvailability":{"targetMode":"Disabled"},"connectionString":"mongodb+srv://<user>:<password>@cli-mc000002.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000","backup":{},"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","replica":{"role":"Primary","replicationState":"Active"},"infrastructureVersion":"2.0","dataApi":{"mode":"Disabled"},"authConfig":{"allowedModes":["NativeAuth"]},"createMode":"Default","networkBypassMode":"None"},"identity":{"type":"None"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "None"}, "location": "eastus2", "properties": {"administrator":
      {"userName": "testadmin"}, "authConfig": {"allowedModes": ["NativeAuth"]}, "backup":
      {}, "compute": {"tier": "M30"}, "createMode": "Default", "dataApi": {"mode":
      "Disabled"}, "highAvailability": {"targetMode": "Disabled"}, "networkBypassMode":
      "None", "publicNetworkAccess": "Enabled", "serverVersion": "7.0", "sharding":
      {"shardCount": 1}, "storage": {"sizeGb": 128, "type": "PremiumSSDv2"}}, "tags":
      {"env": "test", "owner": "cli"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002?api-version=2026-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002\",[...]
[...]
- request:
    body: '{"properties": {"endIpAddress": "203.0.113.255", "startIpAddress": "203.0.113.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002/firewallRules/allow-office?api-version=2026-06-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002/firewallRules/allow-office?api-version=2026-06-01
  response:
    body:
      string: '{"error":{"code":"not_found","message":"The firewall rule allow-office
        cannot be found. Request id: 620e3141-22e6-458e-8acd-01854998a607."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002/firewallRules?api-version=2026-06-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002/firewallRules/allow-office\",\n
        \     \"name\": \"allow-office\",\n      \"type\": \"Microsoft.DocumentDB/mongoClusters/firewallRules\",\n
        \     \"systemData\": {},\n      \"properties\": {\n        \"provisioningState\":
        \"Succeeded\",\n        \"startIpAddress\": \"203.0.113.0\",\n        \"endIpAddress\":
        \"203.0.113.255\"\n      }\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_documentdb000001/providers/Microsoft.DocumentDB/mongoClusters/cli-mc000002?api-version=2026-06-01
  response:
    body:
      string: '{"error":{"code":"not_found","message":"The cluster does not exist.
        Request id: 8a09dd20-5ac9-40c3-a9a9-1cf4a0d78b5f."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
version: 1
