interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001","name":"cli_test_stream_analytics_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-03-28T11:23:57Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "Standard"}, "eventsOutOfOrderPolicy":
      "Drop", "outputErrorPolicy": "Drop", "eventsOutOfOrderMaxDelayInSeconds": 0,
      "eventsLateArrivalMaxDelayInSeconds": 5, "dataLocale": "en-US"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job\",\r\n
        \ \"name\": \"job\",\r\n  \"type\": \"Microsoft.StreamAnalytics/streamingjobs\",\r\n
        \ \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n
        \     \"name\": \"Standard\"\r\n    },\r\n    \"jobId\": \"75d8f13d-fea3-4c73-ba08-0b4962b3266c\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"jobState\": \"Created\",\r\n
        \   \"eventsOutOfOrderPolicy\": \"Drop\",\r\n    \"outputErrorPolicy\": \"Drop\",\r\n
        \   \"eventsOutOfOrderMaxDelayInSeconds\": 0,\r\n    \"eventsLateArrivalMaxDelayInSeconds\":
        5,\r\n    \"dataLocale\": \"en-US\",\r\n    \"createdDate\": \"2023-03-28T11:23:59.863Z\",\r\n
        \   \"compatibilityLevel\": \"1.0\",\r\n    \"jobStorageAccount\": null,\r\n
        \   \"contentStoragePolicy\": \"SystemAccount\",\r\n    \"inputs\": [],\r\n
        \   \"functions\": [],\r\n    \"outputs\": [],\r\n    \"jobType\": \"Cloud\",\r\n
        \   \"cluster\": null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 62154dad-29b1-43fb-b5e8-055d032b977f
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"type": "Scalar", "properties": {"inputs": [{"dataType":
      "Any"}], "output": {"dataType": "Any"}, "binding": {"type": "Microsoft.StreamAnalytics/JavascriptUdf",
      "properties": {"script": "function (a, b) { return a + b; }"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions/function?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions/function\",\r\n
        \ \"name\": \"function\",\r\n  \"type\": \"Microsoft.StreamAnalytics/streamingjobs/functions\",\r\n
        \ \"properties\": {\r\n    \"type\": \"Scalar\",\r\n    \"properties\": {\r\n
        \     \"inputs\": [\r\n        {\r\n          \"dataType\": \"Any\",\r\n          \"isConfigurationParameter\":
        null\r\n        }\r\n      ],\r\n      \"output\": {\r\n        \"dataType\":
        \"Any\"\r\n      },\r\n      \"binding\": {\r\n        \"type\": \"Microsoft.StreamAnalytics/JavascriptUdf\",\r\n
        \       \"properties\": {\r\n          \"script\": \"function (a, b) { return
        a + b; }\"\r\n        }\r\n      }\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c5c8ee54-3fd1-4b2d-86b7-3f8f65f2c267
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"type": "Scalar", "properties": {"inputs": [{"dataType":
      "Any"}], "output": {"dataType": "Any"}, "binding": {"type": "Microsoft.StreamAnalytics/JavascriptUdf",
      "properties": {"script": "function (a, b) { return a + b; }"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions/function/test?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions/function/OperationResults/13f82c72-3c0a-4ec9-9629-18d23477cfae?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions/function/OperationResults/13f82c72-3c0a-4ec9-9629-18d23477cfae?api-version=2020-03-01
  response:
    body:
      string: '{"status":"TestFailed","error":{"code":"BadRequest","message":"[functions:
        function] Test operation is not supported for function type: Microsoft.StreamAnalytics/JavascriptUdf","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/functions/function\",\r\n
        \     \"name\": \"function\",\r\n      \"type\": \"Microsoft.StreamAnalytics/streamingjobs/functions\",\r\n
        \     \"properties\": {\r\n        \"type\": \"Scalar\",\r\n        \"properties\":
        {\r\n          \"inputs\": [\r\n            {\r\n              \"dataType\":
        \"Any\",\r\n              \"isConfigurationParameter\": null\r\n            }\r\n
        \         ],\r\n          \"output\": {\r\n            \"dataType\": \"Any\"\r\n
        \         },\r\n          \"binding\": {\r\n            \"type\": \"Microsoft.StreamAnalytics/JavascriptUdf\",\r\n
        \           \"properties\": {\r\n              \"script\": \"function (a,
        b) { return a + b; }\"\r\n            }\r\n          }\r\n        },\r\n        \"etag\":
        \"c5c8ee54-3fd1-4b2d-86b7-3f8f65f2c267\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\":
        null\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
