interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001","name":"cli_test_stream_analytics_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-11-24T08:05:38Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "Standard"}, "eventsOutOfOrderPolicy":
      "Drop", "outputErrorPolicy": "Drop", "eventsOutOfOrderMaxDelayInSeconds": 0,
      "eventsLateArrivalMaxDelayInSeconds": 5, "dataLocale": "en-US"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job","name":"job","type":"Microsoft.StreamAnalytics/streamingjobs","location":"West
        US","properties":{"sku":{"name":"Standard"},"jobId":"aacca7f8-9d35-4944-81ce-9458ae29d6f7","provisioningState":"Succeeded","jobState":"Created","eventsOutOfOrderPolicy":"Drop","outputErrorPolicy":"Drop","eventsOutOfOrderMaxDelayInSeconds":0,"eventsLateArrivalMaxDelayInSeconds":5,"dataLocale":"en-US","createdDate":"2021-11-24T08:06:14.09Z","compatibilityLevel":"1.0","package":null,"jobStorageAccount":null,"contentStoragePolicy":"SystemAccount","inputs":[],"functions":[],"outputs":[],"jobType":"Cloud","subnetResourceId":null,"cluster":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 4f29de37-35d2-42b9-a53d-0725dcfd8305
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zhiyihuang-rg/providers/Microsoft.Storage/storageAccounts/azext","name":"azext","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"defaultToOAuthAuthentication":false,"keyCreationTime":{"key1":"2021-10-15T07:20:26.3629732Z","key2":"2021-10-15T07:20:26.3629732Z"},"allowCrossTenantReplication":true,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-10-15T07:20:26.3629732Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-10-15T07:20:26.3629732Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-10-15T07:20:26.2379798Z","primaryEndpoints":{"dfs":"https://azext.dfs.core.windows.net/","web":"https://azext.z13.web.core.windows.net/","blob":"https://azext.blob.core.windows.net/","queue":"https://azext.queue.core.windows.net/","table":"https://azext.table.core.windows.net/","file":"https://azext.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://azext-secondary.dfs.core.windows.net/","web":"https://azext-secondary.z13.web.core.windows.net/","blob":"https://azext-secondary.blob.core.windows.net/","queue":"https://azext-secondary.queue.core.windows.net/","table":"https://azext-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibetarel[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-11-24T08:05:49.2469830Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-11-24T08:05:49.2469830Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Nov 2021 08:06:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9AF214D1DE22F"'
      last-modified:
      - Wed, 24 Nov 2021 08:06:21 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"type": "Reference", "serialization": {"type": "Csv", "properties":
      {"fieldDelimiter": ",", "encoding": "UTF8"}}, "datasource": {"type": "Microsoft.Storage/Blob",
      "properties": {"storageAccounts": [{"accountName": "clitest000002", "accountKey":
      "veryFakedStorageAccountKey=="}], "container": "container", "pathPattern": "{date}/{time}",
      "dateFormat": "yyyy/MM/dd", "timeFormat": "HH"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input","name":"input","type":"Microsoft.StreamAnalytics/streamingjobs/inputs","properties":{"type":"Reference","datasource":{"type":"Microsoft.Storage/Blob","properties":{"storageAccounts":[{"accountName":"clitest000002"}],"container":"container","pathPattern":"{date}/{time}","dateFormat":"yyyy/MM/dd","timeFormat":"HH","authenticationMode":"ConnectionString"}},"compression":{"type":"None"},"serialization":{"type":"Csv","properties":{"fieldDelimiter":",","encoding":"UTF8"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 634c737f-1bf1-4121-a643-40fcaaed76f1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"type": "Reference", "serialization": {"type": "Csv", "properties":
      {"fieldDelimiter": ",", "encoding": "UTF8"}}, "datasource": {"type": "Microsoft.Storage/Blob",
      "properties": {"storageAccounts": [{"accountName": "clitest000002", "accountKey":
      "veryFakedStorageAccountKey=="}], "container": "container", "pathPattern": "{date}/{time}",
      "dateFormat": "yyyy/MM/dd", "timeFormat": "HH"}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input/test?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input/OperationResults/b51998ce-8d0b-4de8-b909-72ea6d68b698?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input/OperationResults/b51998ce-8d0b-4de8-b909-72ea6d68b698?api-version=2020-03-01
  response:
    body:
      string: '{"status":"TestSucceeded","error":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input","name":"input","type":"Microsoft.StreamAnalytics/streamingjobs/inputs","properties":{"type":"Reference","datasource":{"type":"Microsoft.Storage/Blob","properties":{"storageAccounts":[{"accountName":"clitest000002"}],"container":"container","pathPattern":"{date}/{time}","dateFormat":"yyyy/MM/dd","timeFormat":"HH","authenticationMode":"ConnectionString"}},"compression":{"type":"None"},"serialization":{"type":"Csv","properties":{"fieldDelimiter":",","encoding":"UTF8"}},"etag":"634c737f-1bf1-4121-a643-40fcaaed76f1"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stream_analytics_000001/providers/Microsoft.StreamAnalytics/streamingjobs/job/inputs/input?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
