interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StreamAnalytics/locations/westus/quotas?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StreamAnalytics/locations/westus/quotas/StreamingUnits","name":"StreamingUnits","type":"Microsoft.StreamAnalytics/quotas","properties":{"maxCount":500,"currentCount":0}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StreamAnalytics/locations/westus/quotas/StreamingClusters","name":"StreamingClusters","type":"Microsoft.StreamAnalytics/quotas","properties":{"maxCount":5,"currentCount":0}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
