interactions:
- request:
    body: '{"name": "my-test-space"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/checkNamespaceAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"isAvailiable":true,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/CheckNamespaceAvailability","name":"my-test-space","type":"Microsoft.NotificationHubs/namespaces/checkNamespaceAvailability"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - d8b24457-2051-4428-8091-4b96cf077210
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\"\
        ,\"name\":\"eastus\",\"displayName\":\"East US\",\"regionalDisplayName\":\"\
        (US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\"\
        :\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\"\
        :\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\"\
        :\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"\
        }]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\"\
        ,\"name\":\"eastus2\",\"displayName\":\"East US 2\",\"regionalDisplayName\"\
        :\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\"\
        :\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\"\
        :\"36.6681\",\"p[...]
- request:
    body: '{"location": "southcentralus", "properties": {"name": "my-test-space"},
      "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space?api-version=2017-04-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Unknown","enabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space","name":"my-test-space","type":"Microsoft.NotificationHubs/namespaces"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/operations/Q3JlYXRlTmFtZXNwYWNlLTBiMWY2NDcxLTFiZjAtNGRkYS1hZWMzLWNiOTI3MmYwOTU5MC1teS10ZXN0LXNwYWNlO25ocHJvZHNuMTAwMS0yLWZhYnJpYw==?api-version=2017-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space?api-version=2017-04-01
      trackingid:
      - c0c47c49-9529-41fd-be60-36469483d464
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Free"},"properties":{"provisioningState":"Succeeded","status":"Active","createdAt":"2023-07-24T07:56:25.0170000Z","updatedAt":"2023-07-24T10:12:04.5200000Z","serviceBusEndpoint":"https://my-test-space.servicebus.windows.net:443/","enabled":true,"critical":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space","name":"my-test-space","type":"Microsoft.NotificationHubs/namespaces","location":"South
        Central US","tags":{}}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 465c225b-f039-4017-8ab3-54b4bf6ad97f
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "my-test-hub"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/checkNotificationHubAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"isAvailiable":true,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/checkNotificationHubAvailability","name":"my-test-hub","type":"Microsoft.NotificationHubs/namespaces/notificationHubs/checkNotificationHubAvailability"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - cf5bff33-43ca-416d-b8ad-3b5a0d15c9b5
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southcentralus", "properties": {"name": "my-test-hub"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/notificationHubs/my-test-hub?api-version=2017-04-01
  response:
    body:
      string: '{"properties":{"registrationTtl":"10675199.02:48:05.4775807","dailyMaxActiveDevices":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/NotificationHubs/my-test-hub","name":"my-test-hub","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"South
        Central US"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 1265d6ad-5b38-49d1-8010-2e2f6dd129f2
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"rights": ["Listen", "Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/AuthorizationRules/my-space-rule?api-version=2017-04-01
  response:
    body:
      string: '{"properties":{"rights":["Listen","Send"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/AuthorizationRules/my-space-rule","name":"my-space-rule","type":"Microsoft.NotificationHubs/Namespaces/AuthorizationRules","location":"South
        Central US"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - a076bf9b-8fdb-49b3-9779-f8fd7a4ecfbf
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/AuthorizationRules?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"properties":{"rights":["Manage","Listen","Send"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/AuthorizationRules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"Microsoft.NotificationHubs/Namespaces/AuthorizationRules","location":"South
        Central US"},{"properties":{"rights":["Listen","Send"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/AuthorizationRules/my-space-rule","name":"my-space-rule","type":"Microsoft.NotificationHubs/Namespaces/AuthorizationRules","location":"South
        Central US"}]}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 3410a501-2ae1-461f-94df-78d1461797e0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/AuthorizationRules/my-space-rule/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://my-test-space.servicebus.windows.net/;SharedAccessKeyName=my-space-rule;SharedAccessKey=Xjc93e7VNk3+24KwBcngnRNnH8gLT51DXMViwu3N5T8=","secondaryConnectionString":"Endpoint=sb://my-test-space.servicebus.windows.net/;SharedAccessKeyName=my-space-rule;SharedAccessKey=Cp0pDrlq2bBWs+6CasWUsW2eA2vm896QwbQj6xBvqOY=","primaryKey":"Xjc93e7VNk3+24KwBcngnRNnH8gLT51DXMViwu3N5T8=","secondaryKey":"Cp0pDrlq2bBWs+6CasWUsW2eA2vm896QwbQj6xBvqOY=","keyName":"my-space-rule"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 8367e2a9-892c-4d5c-9b4b-3dfc41796fb1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Listen"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/notificationHubs/my-test-hub/AuthorizationRules/my-hub-listen-key?api-version=2017-04-01
  response:
    body:
      string: '{"properties":{"rights":["Listen"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/NotificationHubs/my-test-hub/AuthorizationRules/my-hub-listen-key","name":"my-hub-listen-key","type":"Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules","location":"South
        Central US"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 13cabdaf-7adb-494d-bd0f-9531255234d1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/notificationHubs/my-test-hub/AuthorizationRules?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"properties":{"rights":["Listen"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificatio[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/notificationHubs/my-test-hub/AuthorizationRules/my-hub-listen-key/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://my-test-space.servicebus.windows.net/;SharedAccessKeyName=my-hub-listen-key;SharedAccessKey=E93/nouMmJBDSqRxJVkcrkpLnP2TqQoM32qUFr+WoFk=","secondaryConnectionString":"Endpoint=sb://my-test-space.servicebus.windows.net/;SharedAccessKeyName=my-hub-listen-key;SharedAccessKey=VCPw/f2eb3ds44LCCT38zDuOAkieBpI6uYS7E3KcjZU=","primaryKey":"E93/nouMmJBDSqRxJVkcrkpLnP2TqQoM32qUFr+WoFk=","secondaryKey":"VCPw/f2eb3ds44LCCT38zDuOAkieBpI6uYS7E3KcjZU=","keyName":"my-hub-listen-key"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 7ed1751d-de43-45ea-9c18-1c54db51eb5a
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/notificationHubs/my-test-hub?api-version=2017-04-01
  response:
    body:
      string: '{"properties":{"registrationTtl":"10675199.02:48:05.4775807","authorizationRules":[],"dailyMaxActiveDevices":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/NotificationHubs/my-test-hub","name":"my-test-hub","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"South
        Central US"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 0571f45e-33b6-4b06-a069-2a3947373295
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/notificationHubs?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"properties":{"registrationTtl":"10675199.02:48:05.4775807","authorizationRules":[],"dailyMaxActiveDevices":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space/NotificationHubs/my-test-hub","name":"my-test-hub","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"South
        Central US"}]}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 7f10aff5-3daa-499d-977f-dacb89b9e884
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Free"},"properties":{"provisioningState":"Succeeded","status":"Active","createdAt":"2023-07-24T07:56:25.0170000Z","updatedAt":"2023-07-24T10:12:23.1570000Z","serviceBusEndpoint":"https://my-test-space.servicebus.windows.net:443/","enabled":true,"critical":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space","name":"my-test-space","type":"Microsoft.NotificationHubs/namespaces","location":"South
        Central US","tags":{}}]}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - 27d2c396-55ac-4ce9-abe5-23b7187797d8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/my-test-space?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview
      trackingid:
      - 02f48f68-5d1f-479a-bbce-27afcdd69c65
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
version: 1
