interactions:
- request:
    body: '{"location": "westus2", "properties": {"companyDetails": {"companyName":
      "Microsoft", "country": "India", "domain": "", "numberOfEmployees": 0, "officeAddress":
      "sbttzwyajgdbsvipuiclbzvkcvwyil"}, "informaticaProperties": {"informaticaRegion":
      "US West1", "organizationId": "wtdmhlwhkvgqdumaehgfgiqcxgnqpx", "organizationName":
      "InformaticaDemo"}, "linkOrganization": {"token": ""}, "marketplaceDetails":
      {"marketplaceSubscriptionId": "c948d31a-c011-4b16-ce29-688c1565fc06", "offerDetails":
      {"offerId": "azurenativeinfaservces", "planId": "privatepreview-plan-cdi-free_00",
      "planName": "CDI Free - Private Preview", "publisherId": "informatica", "termId":
      "o73usof6rkyy", "termUnit": "P1Y"}}, "userDetails": {"emailAddress": "Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com",
      "firstName": "Test", "lastName": "Infa", "phoneNumber": "9876543210", "upn":
      "Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/InformaticaDemo/providers/Informatica.DataManagement/organizations/InformaticaResourceCLIExtTest3?api-version=2024-05-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/InformaticaDemo/providers/Informatica.DataManagement/organizations/InformaticaResourceCLIExtTest3","name":"InformaticaResourceCLIExtTest3","type":"informatica.datamanagement/organizations","location":"westus2","systemData":{"createdBy":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","createdByType":"User","createdAt":"2024-07-11T10:56:54.8912429Z","lastModifiedBy":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-07-11T10:56:54.8912429Z"},"properties":{"provisioningState":"Accepted","informaticaProperties":{"organizationId":"wtdmhlwhkvgqdumaehgfgiqcxgnqpx","organizationName":"InformaticaDemo","informaticaRegion":"US
        West1","singleSignOnUrl":null},"marketplaceDetails":{"marketplaceSubscriptionId":"c948d31a-c011-4b16-ce29-688c1565fc06","offerDetails":{"publisherId":"informatica","offerId":"azurenativeinfaservces","planId":"privatepreview-plan-cdi-free_00","planName":"CDI
        Free - Private Preview","termUnit":"P1Y","termId":"o73usof6rkyy"}},"userDetails":{"firstName":"Test","lastName":"Infa","emailAddress":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","upn":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","phoneNumber":"9876543210"},"companyDetails":{"companyName":"Microsoft","officeAddress":"sbttzwyajgdbsvipuiclbzvkcvwyil","country":"India","domain":"","business":null,"numberOfEmployees":0},"linkOrganization":{"token":""}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Informatica.DataManagement/locations/WESTUS2/operationStatuses/5f3615c6-eca3-4d65-a3b3-cb16cca17bce*2EDE38D77C950DCA6384A319172D2DED365E40B0E009D33D4117DEE04656DC6C?api-version=2024-05-08&t=638562922201413149&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI5MDUzNDMyWhcNMjUwNjI0MDUzNDMyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Informatica.DataManagement/locations/WESTUS2/operationStatuses/5f3615c6-eca3-4d65-a3b3-cb16cca17bce*2EDE38D77C950DCA6384A319172D2DED365E40B0E009D33D4117DEE04656DC6C?api-version=2024-05-08&t=638562922201413149&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI5MDUzNDMyWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/InformaticaDemo/providers/Informatica.DataManagement/organizations?api-version=2024-05-08
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/InformaticaDemo/providers/Informatica.DataManagement/organizations/InformaticaTestResourceCLI","name":"InformaticaTestResourceCLI","type":"informatica.datamanagement/organizations","location":"westus2","tags":{},"systemData":{"createdBy":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","createdByType":"User","createdAt":"2024-07-11T06:38:18.3934633Z","lastModifiedBy":"1907c93c-5795-4a9c-8ad3-7798b1d72580","lastModifiedByType":"Application","lastModifiedAt":"2024-07-11T06:39:03.0205732Z"},"properties":{"provisioningState":"Succeeded","informaticaProperties":{"informaticaRegion":"US
        West1"},"marketplaceDetails":{"marketplaceSubscriptionId":"bc79d954-8e54-42a8-827b-ea6f1fe62c8c","offerDetails":{"publisherId":"informatica","offerId":"azurenativeinfaservces","planId":"privatepreview-plan-cdi-free_00","planName":"CDI
        Free - Private Preview","termUnit":"P1Y","termId":"o73usof6rkyy"}},"userDetails":{"firstName":"Test","lastName":"Infa","emailAddress":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","upn":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","phoneNumber":"9876543210"},"companyDetails":{"companyName":"Microsoft","country":"India","domain":"","business":"","numberOfEmployees":0},"linkOrganization":{}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/InformaticaDemo/providers/Informatica.DataManagement/organizations/InformaticaTestResourceCLI2","name":"InformaticaTestResourceCLI2","type":"informatica.datamanagement/organizations","location":"westus2","tags":{"key8430":"cagshqtjlxtqqhdwtchokvxszybp"},"systemData":{"createdBy":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","createdByType":"User","createdAt":"2024-07-11T06:43:39.3760222Z","lastModifiedBy":"Test_Infa@mpliftrlogz20210811outlook.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-07-11T06:43:39.3760222Z"},"properties":{"provisioningState":"Accepted","informaticaProperties":{"organizationId":"wtdmhlwhkvgqdumaehgfgiqcxgnqpx","organizationName":"InformaticaDemo","informaticaReg[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/InformaticaDemo/providers/Informatica.DataManagement/organizations/InformaticaDemo?api-version=2024-05-08
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 204
      message: No Content
version: 1
