interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_powerbidedicated000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001","name":"cli_test_powerbidedicated000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-02-17T00:57:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "A1", "tier": "PBIE_Azure"}, "properties":
      {"administration": {"members": ["4759ce24-1955-4c57-bc53-357a69cc065f"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities/clipowerbi000002?api-version=2017-10-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","state":"Provisioning","administration":{"members":["4759ce24-1955-4c57-bc53-357a69cc065f"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities/clipowerbi000002","name":"clipowerbi000002","type":"Microsoft.PowerBIDedicated/capacities","location":"westus","sku":{"name":"A1","tier":"PBIE_Azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PowerBIDedicated/locations/westus/operationstatuses/A5628621-9368-4BE1-9800-8F3A489403FD?api-version=2017-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PowerBIDedicated/locations/westus/operationresults/A5628621-9368-4BE1-9800-8F3A489403FD?api-version=2017-01-01-preview
      x-ms-current-utc-date:
      - 2/17/2020 12:57:57 AM
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PowerBIDedicated/locations/westus/operationstatuses/A5628621-9368-4BE1-9800-8F3A489403FD?api-version=2017-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus/operationstatuses/A5628621-9368-4BE1-9800-8F3A489403FD","name":"A5628621-9368-4BE1-9800-8F3A489403FD","status":"Succeeded","startTime":"2020-02-17T00:57:59.3970000Z","endTime":"2020-02-17T00:58:32.1400000Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-current-utc-date:
      - 2/17/2020 12:58:34 AM
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities/clipowerbi000002?api-version=2017-10-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","state":"Succeeded","administration":{"members":["4759ce24-1955-4c57-bc53-357a69cc065f"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities/clipowerbi000002","name":"clipowerbi000002","type":"Microsoft.PowerBIDedicated/capacities","location":"West
        US","sku":{"name":"A1","tier":"PBIE_Azure","capacity":1},"tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-current-utc-date:
      - 2/17/2020 12:58:34 AM
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities?api-version=2017-10-01
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Succeeded","administration":{"members":["4759ce24-1955-4c57-bc53-357a69cc065f"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities/clipowerbi000002","name":"clipowerbi000002","type":"Microsoft.PowerBIDedicated/capacities","location":"West
        US","sku":{"name":"A1","tier":"PBIE_Azure","capacity":1},"tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-current-utc-date:
      - 2/17/2020 12:58:36 AM
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_powerbidedicated000001/providers/Microsoft.PowerBIDedicated/capacities?api-version=2017-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
