interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/getEntities?api-version=2021-04-01
  response:
    body:
      string: '{"count":3,"value":[{"name":"f997b574-4a56-40b8-888f-5a971689f73b","id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b","type":"Microsoft.Management/managementGroups","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","numberOfChildren":0,"numberOfChildGroups":0,"numberOfDescendants":0,"displayName":"Tenant
        Root Group","parentDisplayNameChain":[],"parent":{"id":null},"parentNameChain":[],"inheritedPermissions":"noaccess","permissions":"noaccess"}},{"name":"thomasdolanTestMG","id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","numberOfChildren":1,"numberOfChildGroups":1,"numberOfDescendants":1,"displayName":"thomasdolanTestMG","parentDisplayNameChain":["Tenant
        Root Group"],"parent":{"id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b"},"parentNameChain":["f997b574-4a56-40b8-888f-5a971689f73b"],"inheritedPermissions":"delete","permissions":"delete"}},{"name":"ChildGroup","id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","numberOfChildren":0,"numberOfChildGroups":0,"numberOfDescendants":0,"displayName":"ChildGroup","parentDisplayNameChain":["Tenant
        Root Group","thomasdolanTestMG"],"parent":{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG"},"parentNameChain":["f997b574-4a56-40b8-888f-5a971689f73b","thomasdolanTestMG"],"inheritedPermissions":"delete","permissions":"delete"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
      x-ms-ratelimit-remaining-tenant-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/startTenantBackfill?api-version=2021-04-01
  response:
    body:
      string: '{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","status":"Completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/tenantBackfillStatus?api-version=2021-04-01
  response:
    body:
      string: '{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","status":"Completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"displayName": "ChildGroup", "details": {"parent": {"id":
      "/providers/Microsoft.Management/managementGroups/thomasdolanTestMG"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/ChildGroup?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","name":"ChildGroup","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"ChildGroup","details":{"version":3,"updatedTime":"2021-12-09T19:32:09.4268564Z","updatedBy":"2882e70c-4520-4567-934b-ccac31e7bedc","parent":{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","name":"thomasdolanTestMG","displayName":"thomasdolanTestMG"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/thomasdolanTestMG/descendants?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"name":"ChildGroup","id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","properties":{"displayName":"ChildGroup","parent":{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '599'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/thomasdolanTestMG?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","name":"thomasdolanTestMG","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"thomasdolanTestMG","details":{"version":1,"updatedTime":"2021-12-09T19:11:20.8412914Z","updatedBy":"2882e70c-4520-4567-934b-ccac31e7bedc","parent":{"id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b","name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.202110282
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/thomasdolanTestMG?api-version=2021-04-01&$expand=children&$recurse=true
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","name":"thomasdolanTestMG","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"thomasdolanTestMG","details":{"version":0,"updatedTime":"0001-01-01T00:00:00","updatedBy":null,"parent":{"id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b","name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}},"children":[{"id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","name":"ChildGroup","displayName":"ChildGroup"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/thomasdolanTestMG?api-version=2021-04-01&$expand=ancestors
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","name":"thomasdolanTestMG","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"thomasdolanTestMG","details":{"version":1,"updatedTime":"2021-12-09T19:11:20.8412914Z","updatedBy":"2882e70c-4520-4567-934b-ccac31e7bedc","managementGroupAncestorsChain":[{"name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}],"parent":{"id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b","name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/thomasdolanTestMG?api-version=2021-04-01&$expand=children
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","name":"thomasdolanTestMG","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"thomasdolanTestMG","details":{"version":1,"updatedTime":"2021-12-09T19:11:20.8412914Z","updatedBy":"2882e70c-4520-4567-934b-ccac31e7bedc","parent":{"id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b","name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}},"children":[{"id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","name":"ChildGroup","displayName":"ChildGroup"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/thomasdolanTestMG?api-version=2021-04-01&$expand=path
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","name":"thomasdolanTestMG","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"thomasdolanTestMG","details":{"version":1,"updatedTime":"2021-12-09T19:11:20.8412914Z","updatedBy":"2882e70c-4520-4567-934b-ccac31e7bedc","path":[{"name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}],"parent":{"id":"/providers/Microsoft.Management/managementGroups/f997b574-4a56-40b8-888f-5a971689f73b","name":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"Tenant
        Root Group"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","name":"ChildGroup","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"ChildGroup"}},{"id":"/providers/Microsoft.Management/managementGroups/thomasdolanTestMG","type":"Microsoft.Management/managementGroups","name":"thomasdolanTestMG","properties":{"tenantId":"f997b574-4a56-40b8-888f-5a971689f73b","displayName":"thomasdolanTestMG"}}],"@nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/ChildGroup?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/ChildGroup","type":"Microsoft.Management/managementGroups","name":"ChildGroup","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/ChildGroup?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/ChildGroup?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.2410
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/ChildGroup?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/ChildGroup","name":"ChildGroup","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2410
    status:
      code: 200
      message: OK
version: 1
