interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dns_resolver_domain_list_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001","name":"cli_test_dns_resolver_domain_list_000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_dns_resolver_domain_list_crud","date":"2025-06-09T05:04:27Z","module":"dns-resolver"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "stacc000003", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2024-01-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "westus2",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Storage/storageAccounts/stacc000003?api-version=2024-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/6cd144a1-a7be-4753-8fb3-745bbaa95d63?monitor=true&api-version=2024-01-01&t=638850422746832671&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMjI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/6cd144a1-a7be-4753-8fb3-745bbaa95d63?monitor=true&api-version=2024-01-01&t=638850422746832671&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/6cd144a1-a7be-4753-8fb3-745bbaa95d63?monitor=true&api-version=2024-01-01&t=638850422749617117&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Storage/storageAccounts/stacc000003","name":"stacc000003","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-06-09T05:04:32.4846756Z","key2":"2025-06-09T05:04:32.4846756Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-09T05:04:32.5003080Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-09T05:04:32.5003080Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-06-09T05:04:32.3283609Z","primaryEndpoints":{"dfs":"https://stacc000003.dfs.core.windows.net/","web":"https://stacc000003.z5.web.core.windows.net/","blob":"https://stacc000003.blob.core.windows.net/","queue":"https://stacc000003.queue.core.windows.net/","table":"https://stacc000003.table.core.windows.net/","file":"https://stacc000003.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_ZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-test-azurefunctionapps-synthetics-v2/providers/Microsoft.Storage/storageAccounts/iibasbos4ngl6azfunctions","name":"iibasbos4ngl6azfunctions","type":"Microsoft.Storage/storageAccounts","location":"uksouth","tags":{},"properties":{"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2024-08-28T20:58:52.8214474Z","key2":"2024-08-28T20:58:52.8214474Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-test-azurefunctionapps-synthetics-v2/providers/Microsoft.Network/virtualNetworks/synthetics-secondary-function-app-virtual-network/subnets/subnet-ol72mi7dfshms","action":"Allow","state":"Succeeded"}],"ipRules":[],"defaultAction":"Deny"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-08-28T20:58:52.8370698Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-08-28T20:58:52.8370698Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2024-08-28T20:58:52.6964503Z","primaryEndpoints":{"dfs":"https://iibasbos4ngl6azfunctions.dfs.core.windo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Storage/storageAccounts/stacc000003/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-06-09T05:04:32.4846756Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-06-09T05:04:32.4846756Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 09 Jun 2025 05:04:53 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://stacc000003.blob.core.windows.net/ctn-000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDA7132BF4A7B1"'
      last-modified:
      - Mon, 09 Jun 2025 05:04:54 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-content-type:
      - text/plain
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 09 Jun 2025 05:04:54 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://stacc000003.blob.core.windows.net/ctn-000004/download_blob.txt
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      etag:
      - '"0x8DDA7132C89BEEC"'
      last-modified:
      - Mon, 09 Jun 2025 05:04:54 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "example1.com\r\nexample2.com\r\nexample3.com\r\nexample4.com\r\nexample5.com\r\nexample6.com\r\nexample7.com\r\nexample8.com\r\nexample9.com\r\nexample10.com\r\nexample11.com\r\nexample12.com\r\nexample13.com\r\nexample14.com\r\nexample15.com\r\nexample16.com\r\nexample17.com\r\nexample18.com\r\nexample19.com\r\nexample20.com\r\nexample21.com\r\nexample22.com\r\nexample23.com\r\nexample24.com\r\nexample25.com\r\nexample26.com\r\nexample27.com\r\nexample28.com\r\nexample29.c[...]
[...]
- request:
    body: '{"location": "westus2", "properties": {"domains": ["contoso.com"]}, "tags":
      {"key": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/dnsResolverDomainLists/dnsrdl-000002?api-version=2025-05-01
  response:
    body:
      string: '{"properties":{"domains":["contoso.com."],"domainsUrl":null,"provisioningState":"Creating","resourceGuid":null},"etag":"\"2801239c-0000-0800-0000-68466b7b0000\"","location":"westus2","tags":{"key":"value1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/dnsResolverDomainLists/dnsrdl-000002","name":"dnsrdl-000002","type":"Microsoft.Network/dnsResolverDomainLists","systemData":{"createdAt":"2025-06-09T05:04:59.6009696Z","createdByType":"User","lastModifiedAt":"2025-06-09T05:04:59.6009696Z","lastModifiedByType":"User"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/locations/westus2/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlckRvbWFpbkxpc3QiLCJPcGVyYXRpb25JZCI6IjYyMDk2MjdkLTg0Y2EtNDcyNy04M2Y2LTNiMDAwY2VhNDQ3MyJ9?api-version=2025-05-01&t=638850422998040970&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/locations/westus2/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlckRvbWFpbkxpc3QiLCJPcGVyYXRpb25JZCI6IjYyMDk2MjdkLTg0Y2EtNDcyNy04M2Y2LTNiMDAwY2VhNDQ3MyJ9?api-version=2025-05-01&t=638850422998040970&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTde[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/dnsResolverDomainLists?api-version=2025-05-01
  response:
    body:
      string: '{"value":[{"properties":{"domains":["contoso.com."],"domainsUrl":null,"provisioningState":"Succeeded","resourceGuid":"d0250888-f79f-4706-9bdf-c6e1a70bec05"},"etag":"\"db04ca90-0000-0800-0000-68466b7e0000\"","location":"westus2","tags":{"key":"value1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/dnsResolverDomainLists/dnsrdl-000002","name":"dnsrdl-000002","type":"Microsoft.Network/dnsResolverDomainLists","systemData":{"createdAt":"2025-06-09T05:04:59.6009696Z","createdByType":"User","lastModifiedAt":"2025-06-09T05:04:59.6009696Z","lastModifiedByType":"User"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '60000'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/locations/westus2/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlckRvbWFpbkxpc3QiLCJPcGVyYXRpb25JZCI6IjYyODI4YzkxLTc4ZjAtNDA4My1iMzU1LThlYzBmYzJhOTgwMyJ9?api-version=2025-05-01&t=638850423331221399&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTde[...]
[...]
- request:
    body: '{"properties": {"action": "Upload", "storageUrl": "https://stacc000003.blob.core.windows.net/ctn-000004/upload_blob.txt?se=2025-06-09T17%3A04%3A29Z&sp=r&sv=2022-11-02&sr=b&sig=***"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/dnsResolverDomainLists/dnsrdl-000002/bulk?api-version=2025-05-01
  response:
    body:
      string: '{"properties":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/locations/westus2/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlckRvbWFpbkxpc3QiLCJPcGVyYXRpb25JZCI6IjcxNWE4YjIzLTJiYTctNDQ2Ni05OTI2LWZmZTgzMTVkMjJhNiJ9?api-version=2025-05-01&t=638850423371417874&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTde[...]
[...]
- request:
    body: '{"properties": {"action": "Download", "storageUrl": "https://stacc000003.blob.core.windows.net/ctn-000004/download_blob.txt?se=2025-06-09T17%3A04%3A29Z&sp=w&sv=2022-11-02&sr=b&sig=***"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Network/dnsResolverDomainLists/dnsrdl-000002/bulk?[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 09 Jun 2025 05:06:12 GMT
      x-ms-version:
      - '2022-11-02'
    method: DELETE
    uri: https://stacc000003.blob.core.windows.net/ctn-000004/upload_blob.txt
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_resolver_domain_list_000001/providers/Microsoft.Storage/storageAccounts/stacc000003?api-version=2024-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
