interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/smartGroups/603675da-9851-4b26-854a-49fc53d32715?api-version=2019-05-05-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Unable to find the input smart
        group","target":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/smartGroups/603675da-9851-4b26-854a-49fc53d32715?api-version=2019-05-05-preview"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 404
      message: Not Found
version: 1
