interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alerts/1dde5384-3a40-4616-8a5d-be8e2453595d/history?api-version=2019-05-05-preview
  response:
    body:
      string: '{"properties":{"alertId":"1dde5384-3a40-4616-8a5d-be8e2453595d","modifications":[{"modificationEvent":"AlertCreated","oldValue":"","newValue":"","modifiedAt":"2020-01-20T07:09:21.1107075Z","modifiedBy":"System","comments":"","description":"Alert
        fired"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alerts/1dde5384-3a40-4616-8a5d-be8e2453595d/history/default","type":"Microsoft.AlertsManagement/alerts","name":"rule1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alerts/1dde5384-3a40-4616-8a5d-be8e2453595d?api-version=2019-05-05-preview
  response:
    body:
      string: '{"properties":{"essentials":{"severity":"Sev4","signalType":"Log","alertState":"New","monitorCondition":"Fired","monitorService":"ActivityLog
        Administrative","targetResource":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fytest3/providers/microsoft.compute/virtualmachines/vm1","targetResourceName":"vm1","targetResourceGroup":"fytest3","targetResourceType":"virtualmachines","sourceCreatedId":"5e2788b5-f2c5-40a1-b137-c2b3f530d160","alertRule":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fytest3/providers/microsoft.insights/activityLogAlerts/rule1","startDateTime":"2020-01-20T07:09:21.1107075Z","lastModifiedDateTime":"2020-01-20T07:09:21.1107075Z","lastModifiedUserName":"System","actionStatus":{"isSuppressed":false},"description":""},"context":{"context":{"activityLog":{"authorization":{"action":"Microsoft.Compute/virtualMachines/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fytest3/providers/Microsoft.Compute/virtualMachines/vm1"},"channels":"Operation","claims":"{\"aud\":\"https://management.core.windows.net/\",\"iss\":\"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/\",\"iat\":\"1579500784\",\"nbf\":\"1579500784\",\"exp\":\"1579504684\",\"http://schemas.microsoft.com/claims/authnclassreference\":\"1\",\"aio\":\"AWQAm/8OAAAACjpJ16Rghg/9w/tunPtFKG3itgqujW++yG73v5gIiyl+ZuIAqYicgjquOswg6m96nQRyBjMoLW05YIbya46jeDLtIJ0HKI2eCOw+naQNNvRl/tRWhPcRzCVlIyQfYDD7\",\"altsecid\":\"5::10032000571A5D04\",\"http://schemas.microsoft.com/claims/authnmethodsreferences\":\"pwd\",\"appid\":\"04b07795-8ddb-461a-bbee-02f9e1bf7b46\",\"appidacr\":\"0\",\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress\":\"fey@microsoft.com\",\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname\":\"Yu\",\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname\":\"Feiyue\",\"groups\":\"e4bb0b56-1014-40f8-88ab-3d8a8cb0e086\",\"http://schemas.microsoft.com/identity/claims/identityprovider\":\"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/\",\"ipaddr\":\"167.220.255.61\",\"name\":\"Feiyue
        Yu\",\"http://schemas.microsoft.com/identity/claims/objectidentifier\":\"0a592c45-613e-4f1b-9023-7c4414fd53bf\",\"puid\":\"10032000577FB6BB\",\"http://schemas.microsoft.com/identity/claims/scope\":\"user_impersonation\",\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier\":\"6sKBNS97eU3Bww8tsvVwB7vGnEPRsbGy0LcbjXQerX8\",\"http://schemas.microsoft.com/identity/claims/tenantid\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name\":\"fey@microsoft.com\",\"uti\":\"D1Jv9tpjw0m0en9C9oBWAA\",\"ver\":\"1.0\",\"wids\":\"62e90394-69f5-4237-9190-012177145e10\"}","caller":"fey@microsoft.com","correlationId":"69d22ec0-5d6e-49be-9b9b-bc9437059d22","description":"","eventSource":"Administrative","eventTimestamp":"2020-01-20T07:08:31.0511601Z","eventDataId":"5e2788b5-f2c5-40a1-b137-c2b3f530d160","level":"Informational","operationName":"Microsoft.Compute/virtualMachines/write","operationId":"552489d1-521a-4b9c-a85b-810a6e3d0256","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fytest3/providers/Microsoft.Compute/virtualMachines/vm1","resourceGroupName":"fytest3","resourceProviderName":"Microsoft.Compute","status":"Succeeded","subStatus":"","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","submissionTimestamp":"2020-01-20T07:09:20.0850147Z","resourceType":"Microsoft.Compute/virtualMachines"}}},"egressConfig":{"partitionKey":"MonitorServiceConfigurationCollectionPartition","monitorService":"ActivityLog
        Administrative","monitorServiceOwnerEmailIds":"rkadr@microsoft.com","modifiedByApplicationId":"ccdfc67e-a7a1-4df5-91c7-7876da73b995","displayConfig":[{"rootJsonNode":"context.activityLog","sectionName":"","displayControls":[{"property":"eventSource","displayName":"Event
        source","type":"Text","isOptional":false},{"property":"channels","displayName":"Channels","type":"Text","isOptional":false},{"property":"level","displayName":"Level","type":"Text","isOptional":false},{"property":"caller","displayName":"Caller","type":"Text","isOptional":false},{"property":"eventDataId","displayName":"Event
        data id","type":"Text","isOptional":false}]},{"rootJsonNode":"context.activityLog","sectionName":"","displayControls":[{"property":"status","displayName":"Status","type":"Text","isOptional":false},{"pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alertsSummary?groupby=severity%2Calertstate&api-version=2019-05-05-preview
  response:
    body:
      string: '{"properties":{"groupedby":"severity","total":84,"values":[{"name":"Sev0","count":0,"groupedby":"alertState","values":[{"name":"New","count":0},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev1","count":0,"groupedby":"alertState","values":[{"name":"New","count":0},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev2","count":0,"groupedby":"alertState","values":[{"name":"New","count":0},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev3","count":0,"groupedby":"alertState","values":[{"name":"New","count":0},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev4","count":84,"groupedby":"alertState","values":[{"name":"New","count":84},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alertsSummary/current","type":"Microsoft.AlertsManagement/alertsSummary","name":"current"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alerts?api-version=2019-05-05-preview
  response:
    body:
      string: '{"nextLink":"https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alerts?api-version=2019-05-05-preview&ctoken=%2bRID%3a%7eTxpXAK6hCE2XRlABAAAgDA%3d%3d%23RT%3a1%23TRC%3a50%23RTD%3aqtQyMDIwLTAxLTIwVDA3OjQyOjU2LjEyODc0NDha%23ISV%3a1","value":[{"properties":{"essentials":{"alertRule":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fytest3/providers/microsoft.insights/activityLogAlerts/rule2","alertState":"New","severity":"Sev4","signalType":"Log","monitorCondition":"Fired","monitorService":"ActivityLog
        Administrative","targetResource":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_notificationhubskszz3fgp2zb7h6p7gvhy45vae2eonrvcebuhac62eu6lvcvw3e","targetResourceName":"","targ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alerts?api-version=2019-05-05-preview&ctoken=%2bRID%3a~TxpXAK6hCE2XRlABAAAgDA%3d%3d%23RT%3a1%23TRC%3a50%23RTD%3aqtQyMDIwLTAxLTIwVDA3OjQyOjU2LjEyODc0NDha%23ISV%3a1
  response:
    body:
      string: '{"value":[{"properties":{"essentials":{"alertRule":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
