interactions:
- request:
    body: '{"location": "Global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_action_rule_000001/providers/Microsoft.AlertsManagement/actionRules/rule1?api-version=2019-05-05-preview
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"Encountered internal
        server error. Please try again."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"location": "Global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_action_rule_000001/providers/Microsoft.AlertsManagement/actionRules/rule1?api-version=2019-05-05-preview
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"Encountered internal
        server error. Please try again."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 500
      message: Internal Server Error
version: 1
