interactions:
- request:
    body: '{"location": "Global", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001"],
      "conditions": [{"field": "Severity", "operator": "Equals", "values": ["Sev0",
      "Sev2"]}, {"field": "MonitorService", "operator": "Equals", "values": ["Platform",
      "Application Insights"]}, {"field": "MonitorCondition", "operator": "Equals",
      "values": ["Fired"]}, {"field": "TargetResourceType", "operator": "NotEquals",
      "values": ["Microsoft.Compute/VirtualMachines"]}], "schedule": {"effectiveFrom":
      "2018-12-09T06:00:00", "effectiveUntil": "2018-12-18T14:00:00", "timeZone":
      "UTC", "recurrences": [{"recurrenceType": "Daily", "startTime": "06:00:00",
      "endTime": "14:00:00"}]}, "actions": [{"actionType": "RemoveAllActionGroups"}],
      "enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001/providers/Microsoft.AlertsManagement/actionRules/test1?api-version=2021-08-08
  response:
    body:
      string: '{"properties":{"scopes":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001"],"schedule":{"effectiveFrom":"2018-12-09T06:00:00","effectiveUntil":"2018-12-18T14:00:00","timeZone":"UTC","recurrences":[{"recurrenceType":"Daily","startTime":"06:00:00","endTime":"14:00:00"}]},"conditions":[{"field":"Severity","operator":"Equals","values":["Sev0","Sev2"]},{"field":"MonitorService","operator":"Equals","values":["Platform","Application
        Insights"]},{"field":"MonitorCondition","operator":"Equals","values":["Fired"]},{"field":"TargetResourceType","operator":"NotEquals","values":["Microsoft.Compute/VirtualMachines"]}],"enabled":true,"actions":[{"actionType":"RemoveAllActionGroups"}]},"systemData":{"createdBy":"v-ruih@microsoft.com","createdByType":"User","createdAt":"2024-09-02T03:20:19.094996Z","lastModifiedBy":"v-ruih@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-02T03:20:19.094996Z"},"location":"Global","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001/providers/Microsoft.AlertsManagement/actionRules/test1","type":"Microsoft.AlertsManagement/actionRules","name":"test1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '5999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '399'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "Global", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001"],
      "schedule": {"effectiveFrom": "2018-12-09T06:00:00", "effectiveUntil": "2018-12-18T14:00:00",
      "timeZone": "UTC", "recurrences": [{"recurrenceType": "Weekly", "daysOfWeek":
      ["Sunday", "Saturday"]}]}, "actions": [{"actionType": "AddActionGroups", "actionGroupIds":
      ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/amp-common/providers/microsoft.insights/actiongroups/application
      insights smart detection"]}], "enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001/providers/Microsoft.AlertsManagement/actionRules/test2?api-version=2021-08-08[...]
[...]
- request:
    body: '{"location": "Global", "tags": {"isUpdated": "YES", "secondTag": "justATag"},
      "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001"],
      "conditions": [{"field": "Severity", "operator": "Equals", "values": ["Sev0",
      "Sev2"]}, {"field": "MonitorService", "operator": "Equals", "values": ["Platform",
      "Application Insights"]}, {"field": "MonitorCondition", "operator": "Equals",
      "values": ["Fired"]}, {"field": "TargetResourceType", "operator": "NotE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001/providers/Microsoft.AlertsManagement/actionRules?api-version=2021-08-08
  response:
    body:
      string: '{"value":[{"properties":{"scopes":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001"],"schedule":{"effectiveFrom":"2018-12-09T06:00:00","effectiveUntil":"2018-12-18T14:00:00","timeZone":"UTC","recurrences":[{"recurrenceType":"Daily","startTime":"06:00:00","endTime":"14:00:00"}]},"conditions":[{"field":"Severity","operator":"Equals","values":["Sev0","Sev2"]},{"field":"MonitorService","operator":"Equals","values":["Platform","Application
 [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_processing_rule_000001/providers/Microsoft.AlertsManagement/actionRules/test2?api-version=2021-08-08
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '399'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '5999'
    status:
      code: 200
      message: OK
version: 1
