interactions:
- request:
    body: '{"location": "Global", "properties": {"groupShortName": "action-group",
      "enabled": true, "emailReceivers": [], "smsReceivers": [], "webhookReceivers":
      [], "itsmReceivers": [], "azureAppPushReceivers": [], "automationRunbookReceivers":
      [], "voiceReceivers": [], "logicAppReceivers": [], "azureFunctionReceivers":
      [], "armRoleReceivers": [], "eventHubReceivers": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.Insights/actionGroups/action-group-name000003?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.insights/actionGroups/action-group-name000003","type":"Microsoft.Insights/ActionGroups","name":"action-group-name000003","location":"Global","tags":null,"properties":{"groupShortName":"action-group","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]}}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - 9a9506f2-dfed-11ed-ae09-a8b13b7de2fa
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
      x-servedby:
      - EUS2ONEIM000002
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.Monitor/accounts/account-name000005?api-version=2021-06-03-preview
  response:
    body:
      string: '{"properties":{"accountId":"778a23d5-9100-4759-ac16-4f11596298fd","metrics":{"prometheusQueryEndpoint":"https://account-name000005-2p1o.eastus2euap.prometheus.monitor.azure.com","internalId":"mac_778a23d5-9100-4759-ac16-4f11596298fd"},"provisioningState":"Succeeded","defaultIngestionSettings":{"dataCollectionRuleResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_account-name000005_eastus2euap_managed/providers/Microsoft.Insights/dataCollectionRules/account-name000005","dataCollectionEndpointResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_account-name000005_eastus2euap_managed/providers/Microsoft.Insights/dataCollectionEndpoints/account-name000005"},"publicNetworkAccess":"Enabled"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.monitor/accounts/account-name000005","name":"account-name000005","type":"Microsoft.Monitor/accounts","etag":"\"0000590d-0000-3300-0000-6441f7400000\"","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-04-21T02:38:43.2510414Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-21T02:38:43.2510414Z"}}'
    headers:
      api-supported-versions:
      - 2021-06-01-preview, 2021-06-03-preview, 2023-04-01, 2023-04-03
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "test", "enabled":
      true, "interval": "PT10M", "rules": [{"expression": "test", "labels": {"team":
      "prod"}, "record": "test"}, {"actions": [{"actionGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.insights/actionGroups/action-group-name000003",
      "actionProperties": {"key11": "value11", "key12": "value12"}}, {"actionGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.insights/actionGroups/action-group-name000004",
      "actionProperties": {"key21": "value21", "key22": "value22"}}], "alert": "Billing_Processing_Very_Slow",
      "annotations": {"annotationName1": "annotationValue1"}, "enabled": true, "expression":
      "test", "for": "PT5M", "labels": {"team": "prod"}, "resolveConfiguration": {"autoResolved":
      true, "timeToResolve": "PT10M"}, "severity": 2}], "scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.monitor/accounts/account-name000005"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/prometheus-rule-group00[...]
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "test", "enabled":
      true, "interval": "PT10M", "rules": [{"expression": "test", "labels": {"team":
      "prod"}, "record": "test"}, {"actions": [{"actionGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.insights/actionGroups/action-group-name000003",
      "actionProperties": {"key11": "value11", "key12": "value12"}}, {"actionGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.insights/actionGroups/action-group-name000004",
      "actionProperties": {"key21": "value21", "key22": "value22"}}], "alert": "Billing_Processing_Very_Slow",
      "annotations": {"annotationName1": "annotationValue1"}, "enabled": true, "expression":
      "test", "for": "PT5M", "labels": {"team": "prod"}, "resolveConfiguration": {"autoResolved":
      true, "timeToResolve": "PT10M"}, "severity": 2}], "scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/microsoft.monitor/accounts/account-name000005"]},
      "tags": {"key": "value"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/prometheus-rule-group000002?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/prometheus-rule-group000002\",\r\n
        \     \"name\": \"prometheus-rule-group000002\",\r\n      \"type\": \"Microsoft.AlertsManagement/prometheusRuleGroups\",\r\n
        \     \"location\": \"eastus2euap\",\r\n      \"tags\": {\r\n        \"key\":
        \"value\"\r\n      },\r\n  [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_alertsmanagement_prometheus_rule_group_000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/prometheus-rule-group000002?api-version=2023-03-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-07-22-preview, 2023-03-01
      arr-disable-session-affinity:
      - 'true'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
