settings.json
tmp/
bin/*
!bin/connectedk8s-1.0.0-py3-none-any.whl
!bin/k8s_extension-0.3.0-py3-none-any.whl
!bin/k8s_extension_private-0.1.0-py3-none-any.whl
!bin/k8s_configuration-1.0.0-py3-none-any.whl
!bin/connectedk8s-values.yaml
*.xml