interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.applicationinsights.io/v1/apps/578f0e27-12e9-4631-bc02-50b965da2633/events/availabilityResults/e96e03fc-3a40-11e9-bcc3-b9eb4867ff75
  response:
    body:
      string: '{"@odata.context":"https://api.applicationinsights.io/v1/apps/578f0e27-12e9-4631-bc02-50b965da2633/events/availabilityResults/$metadata#availabilityResults","value":[{"id":"e96e03fc-3a40-11e9-bcc3-b9eb4867ff75","count":1,"type":"availabilityResult","timestamp":"2019-02-27T03:36:31.043Z","availabilityResult":{"id":"ccd9c46ea64b47a0829125a1c7bcc205","name":"australiaeast
        loganalytics","location":"North Central US","success":"1","message":"Passed","size":null,"duration":861,"performanceBucket":""},"customDimensions":{"FullTestResultAvailable":"false","WebtestArmResourceName":"australiaeast
        loganalytics-ace-test","SyntheticMonitorId":"default_australiaeast loganalytics-ace-test_us-il-ch1-azr","WebtestLocationId":"us-il-ch1-azr","SourceId":"sid://578f0e27-12e9-4631-bc02-50b965da2633.visualstudio.com/applications/ace-test/features/australiaeast
        loganalytics-ace-test/locations/us-il-ch1-azr"},"customMeasurements":null,"operation":{"name":"","id":"ccd9c46ea64b47a0829125a1c7bcc205","parentId":"ccd9c46ea64b47a0829125a1c7bcc205","syntheticSource":""},"session":{"id":""},"user":{"id":"","authenticatedId":"","accountId":""},"application":{"version":""},"client":{"type":"PC","model":"","os":"","ip":"0.0.0.0","city":"Chicago","stateOrProvince":"Illinois","countryOrRegion":"United
        States","browser":""},"cloud":{"roleName":"","roleInstance":""},"ai":{"appId":"578f0e27-12e9-4631-bc02-50b965da2633","appName":"ace-test","iKey":"1145833f-6099-4855-9cb1-557cea26389e","sdkVersion":""}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none;
        odata.streaming=false
      odata-version:
      - 4.0;
    status:
      code: 200
      message: OK
version: 1
