interactions:
- request:
    body: '{"location": "westus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest", "IngestionMode":
      "ApplicationInsights"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/clitestai000003?api-version=2018-05-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/clitestai000003\"\
        ,\r\n  \"name\": \"clitestai000003\",\r\n  \"type\": \"microsoft.insights/components\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\"\
        ,\r\n  \"etag\": \"\\\"7d00aada-0000-0200-0000-65f8030a0000\\\"\",\r\n  \"\
        properties\": {\r\n    \"ApplicationId\": \"clitestai000003\",\r\n    \"AppId\"\
        : \"ec384666-2788-44d4-9109-5b6a5d817157\",\r\n    \"Application_Type\": \"\
        web\",\r\n    \"Flow_Type\": \"Bluefield\",\r\n    \"Request_Source\": \"\
        rest\",\r\n    \"InstrumentationKey\": \"7c3581fb-2739-4713-ade5-f5d0f4da4d48\"\
        ,\r\n    \"ConnectionString\": \"InstrumentationKey=7c3581fb-2739-4713-ade5-f5d0f4da4d48;IngestionEndpoint=https://westus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://westus.livediagnostics.monitor.azure.com/\"\
        ,\r\n    \"Name\": \"clitestai000003\",\r\n    \"CreationDate\": \"2024-03-18T09:02:02.4677124+00:00\"\
        ,\r\n    \"TenantId\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n    \"\
        provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\
        \n    \"RetentionInDays\": 90,\r\n    \"IngestionMode\": \"ApplicationInsights\"\
        ,\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\"\
        : \"Enabled\",\r\n    \"Ver\": \"v2\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_connect_function","date":"2024-03-18T09:01:26Z","module":"application-insights","DateCreated":"2024-03-18T09:01:33Z","Creator":"liwang3@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "B1", "tier": "BASIC", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/clitestplan000005?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/clitestplan000005","name":"clitestplan000005","type":"Microsoft.Web/serverfarms","kind":"app","location":"westus","properties":{"serverFarmId":15202,"name":"clitestplan000005","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-245_15202","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2024-03-18T09:02:11.2633333"},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA7912F71B88C0"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/functionAppStacks?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/functionAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        8 Isolated","value":"dotnet8isolated","minorVersions":[{"displayText":".NET
        8 Isolated","value":"8 (LTS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","isHidden":false,"isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v8.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":true}],"endOfLifeDate":"2026-11-10T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|8.0","isHidden":false,"isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|8.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":true}],"endOfLifeDate":"2026-11-10T00:00:00Z"}}}]},{"displayText":".NET
        7 Isolated","value":"dotnet7isolated","minorVersions":[{"displayText":".NET
        7 Isolated","value":"7 (STS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","remoteDebuggingSupported":false,"appInsightsSettings":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2023-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2024-03-18T09:01:33.8786769Z","key2":"2024-03-18T09:01:33.8786769Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-03-18T09:01:35.0662122Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-03-18T09:01:35.0662122Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2024-03-18T09:01:33.7692943Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-03-18T09:01:33.8786769Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-03-18T09:01:33.8786769Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "functionapp", "location": "West US", "properties": {"serverFarmId":
      "clitestplan000005", "reserved": false, "isXenon": false, "hyperV": false, "siteConfig":
      {"netFrameworkVersion": "v4.6", "appSettings": [{"name": "FUNCTIONS_WORKER_RUNTIME",
      "value": "node"}, {"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "~20"},
      {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~4"}, {"name": "AzureWebJobsStorage",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey=="}],
      "use32BitWorkerProcess": true, "alwaysOn": true, "localMySqlEnabled": false,
      "http20Enabled": true}, "daprConfig": {"enabled": false}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/clitestfunction000004?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/clitestfunction000004","name":"clitestfunction000004","type":"Microsoft.Web/sites","kind":"functionapp","location":"West
        US","properties":{"name":"clitestfunction000004","state":"Running","hostNames":["clitestfunction000004.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-245.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/clitestfunction000004","repositorySiteName":"clitestfunction000004","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"afdEnabled":false,"enabledHostNames":["clitestfunction000004.azurewebsites.net","clitestfunction000004.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"clitestfunction000004.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"clitestfunction000004.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/clitestplan000005","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2024-03-18T09:02:32.1766667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null},"functionAppConfig":null,"daprConfig":null,"deploymentId":"clitestfunction000004","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","kind":"functionapp","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"40.112.243.115","possibleInboundIpAddresses":"40.112.243.115","ftpUsername":"clitestfunction000004\\$clitestfunction000004","ftpsHostName":"ftps://waws-prod-bay-245.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.66.62.224,20.66.63.42,20.66.63.44,20.66.63.78,20.66.63.135,20.66.63.167,20.237.172.43,20.228.92.232,20.228.93.184,20.228.93.241,20.245.143.91,20.228.94.101,20.228.94.128,20.237.168.61,20.228.89.190,20.228.94.129,20.228.94.139,20.228.94.240,40.112.243.115","possibleOutboundIpAddresses":"20.66.62.224,20.66.63.42,20.66.63.44,20.66.63.78,20.66.63.135,20.66.63.167,20.237.172.43,20.228.92.232,20.228.93.184,20.228.93.241,20.245.143.91,20.228.94.101,20.228.94.128,20.237.168.61,20.228.89.190,20.228.94.129,20.228.94.139,20.228.94.240,20.66.63.171,20.245.136.188,20.66.63.212,20.237.175.121,20.237.175.228,20.228.92.43,20.228.92.148,20.237.175.235,20.228.88.45,20.228.89.191,20.228.90.170,20.228.91.80,20.228.91.196,20.228.91.197,20.228.89.188,20.253.170.80,20.237.169.40,20.237.171.181,20.237.172.43,20.228.92.232,20.228.93.184,20.228.93.241,20.245.143.91,20.228.94.101,20.228.94.128,20.237.168.61,20.228.89.190,20.228.94.129,20.228.94.139,20.228.94.240,20.228.95.56,20.228.95.57,20.245.137.169,20.245.138.96,20.245.141.46,20.228.95.139,40.112.243.115","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-245","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"clitestfunction000004.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA79130365634B"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\"\
        ,\"name\":\"eastus\",\"displayName\":\"East US\",\"regionalDisplayName\":\"\
        (US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\"\
        :\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\"\
        :\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\"\
        :\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"\
        }]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\"\
        ,\"name\":\"eastus2\",\"displayName\":\"East US 2\",\"regionalDisplayName\"\
        :\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\"\
        :\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\"\
        :\"36.6681\",\"p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"customerId":"7c16a8dd-b983-4f75-b78b-a804c169306c","provisioningState":"Succeeded","sku":{"name":"pergb2018","lastSkuUpdate":"2023-06-12T07:58:15.2315304Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-03-16T14:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-06-12T07:58:15.2315304Z","modifiedDate":"2024-03-15T22:25:55.0829258Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-0b1f6471-1bf0-4dda-aec3-cb9272f09590-EUS","name":"DefaultWorkspace-0b1f6471-1bf0-4dda-aec3-cb9272f09590-EUS","type":"Microsoft.OperationalInsights/workspaces","etag":"\"06001214-0000-0100-0000-65f4caf30000\""},{"properties":{"customerId":"a675adfe-58d0-4246-bddc-502864ec8ae4","prov[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://appinsights.azureedge.net/portal/regionMapping.json
  response:
    body:
      string: "{\n    \"regions\": {\n        \"centralus\": {\n            \"geo\"\
        : \"unitedstates\",\n            \"pairedRegions\": [\n                \"\
        eastus2\",\n                \"eastus\"\n            ],\n            \"laRegionCode\"\
        : \"CUS\"\n        },\n        \"eastus2\": {\n            \"geo\": \"unitedstates\"\
        ,\n            \"pairedRegions\": [\n                \"centralus\",\n    \
        \            \"eastus\"\n            ],\n            \"laRegionCode\": \"\
        EUS2\"\n        },\n        \"eastus\": {\n            \"geo\": \"unitedstates\"\
        ,\n            \"pairedRegions\": [\n                \"westus\"\n        \
        \    ],\n            \"laRegionCode\": \"EUS\"\n        },\n        \"northcentralus\"\
        : {\n            \"geo\": \"unitedstates\",\n            \"pairedRegions\"\
        : [\n                \"southcentralus\"\n            ],\n            \"laRegionCode\"\
        : \"NCUS\"\n        },\n        \"southcentralus\": {\n            \"geo\"\
        : \"unitedstates\",\n            \"pairedRegions\": [\n                \"\
        northcentralus\"\n            ],\n            \"laRegionCode\": \"SCUS\"\n\
        \        },\n        \"westus2\": {\n            \"geo\": \"unitedstates\"\
        ,\n            \"pairedRegions\": [\n                \"westcentralus\"\n \
        \           ],\n            \"laRegionCode\": \"WUS2\"\n        },\n     \
        \   \"westus3\": {\n            \"geo\": \"unitedstates\",\n            \"\
        pairedRegions\": [\n                \"westus2\"\n            ],\n        \
        \    \"laRegionCode\": \"USW3\"\n        },\n        \"westcentralus\": {\n\
        \            \"geo\": \"unitedstates\",\n            \"pairedRegions\": [\n\
        \                \"westus2\"\n            ],\n            \"laRegionCode\"\
        : \"WCUS\"\n        },\n        \"westus\": {\n            \"geo\": \"unitedstates\"\
        ,\n            \"pairedRegions\": [\n                \"eastus\"\n        \
        \    ],\n            \"laRegionCode\": \"WUS\"\n        },\n        \"canadacentral\"\
        : {\n            \"geo\": \"canada\",\n            \"pairedRegions\": [\n\
        \                \"canadaeast\"\n            ],\n            \"laRegionCode\"\
        : \"CCAN\"\n        },\n        \"canadaeast\": {\n            \"geo\": \"\
        canada\",\n            \"pairedRegions\": [\n                \"canadacentral\"\
        \n            ],\n            \"laRegionCode\": \"\"\n        },\n       \
        \ \"brazilsouth\": {\n            \"geo\": \"brazil\",\n            \"pairedRegions\"\
        : [\n                \"southcentralus\"\n            ],\n            \"laRegionCode\"\
        : \"CQ\"\n        },\n        \"eastasia\": {\n            \"geo\": \"asiapacific\"\
        ,\n            \"pairedRegions\": [\n                \"southeastasia\"\n \
        \           ],\n            \"laRegionCode\": \"EA\"\n        },\n       \
        \ \"southeastasia\": {\n            \"geo\": \"asiapacific\",\n          \
        \  \"pairedRegions\": [\n                \"eastasia\"\n            ],\n  \
        \          \"laRegionCode\": \"SEA\"\n        },\n        \"australiacentral\"\
        : {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n\
        \                \"australiacentral2\",\n                \"australiaeast\"\
        \n            ],\n            \"laRegionCode\": \"CAU\"\n        },\n    \
        \    \"australiacentral2\": {\n            \"geo\": \"australia\",\n     \
        \       \"pairedRegions\": [\n                \"australiacentral\",\n    \
        \            \"australiaeast\"\n            ],\n            \"laRegionCode\"\
        : \"CBR2\"\n        },\n        \"australiaeast\": {\n            \"geo\"\
        : \"australia\",\n            \"pairedRegions\": [\n                \"australiasoutheast\"\
        \n            ],\n            \"laRegionCode\": \"EAU\"\n        },\n    \
        \    \"australiasoutheast\": {\n            \"geo\": \"australia\",\n    \
        \        \"pairedRegions\": [\n                \"australiaeast\"\n       \
        \     ],\n            \"laRegionCode\": \"SEAU\"\n        },\n        \"chinaeast\"\
        : {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n \
        \               \"chinanorth\",\n                \"chinaeast2\"\n        \
        \    ],\n            \"laRegionCode\": \"\"\n        },\n        \"chinanorth\"\
        : {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n \
        \               \"chinaeast\",\n                \"chinaeast2\"\n         \
        \   ],\n            \"laRegionCode\": \"\"\n        },\n        \"chinaeast2\"\
        : {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n \
        \               \"chinanorth2\"\n            ],\n            \"laRegionCode\"\
        : \"CNE2\"\n        },\n        \"chinanorth2\": {\n            \"geo\": \"\
        china\",\n            \"pairedRegions\": [\n                \"chinaeast2\"\
        \n            ],\n            \"laRegionCode\": \"\"\n        },\n       \
        \ \"chinaeast3\": {\n            \"geo\": \"china\",\n            \"pairedRegions\"\
        : [\n                \"chinanorth3\"\n            ],\n            \"laRegionCode\"\
        : \"CNE3\"\n        },\n        \"chinanorth3\": {\n            \"geo\": \"\
        china\",\n            \"pairedRegions\": [\n                \"chinaeast3\"\
        \n            ],\n            \"laRegionCode\": \"CNN3\"\n        },\n   \
        \     \"centralindia\": {\n            \"geo\": \"india\",\n            \"\
        pairedRegions\": [\n                \"southindia\"\n            ],\n     \
        \       \"laRegionCode\": \"CID\"\n        },\n        \"southindia\": {\n\
        \            \"geo\": \"india\",\n            \"pairedRegions\": [\n     \
        \           \"centralindia\"\n            ],\n            \"laRegionCode\"\
        : \"\"\n        },\n        \"westindia\": {\n            \"geo\": \"india\"\
        ,\n            \"pairedRegions\": [\n                \"southindia\",\n   \
        \             \"centralindia\"\n            ],\n            \"laRegionCode\"\
        : \"\"\n        },\n        \"jioindiacentral\": {\n            \"geo\": \"\
        india\",\n            \"pairedRegions\": [],\n            \"laRegionCode\"\
        : \"JINC\"\n        },\n        \"jioindiawest\": {\n            \"geo\":\
        \ \"india\",\n            \"pairedRegions\": [],\n            \"laRegionCode\"\
        : \"JINW\"\n        },\n        \"japaneast\": {\n            \"geo\": \"\
        japan\",\n            \"pairedRegions\": [\n                \"japanwest\"\n\
        \            ],\n            \"laRegionCode\": \"EJP\"\n        },\n     \
        \   \"japanwest\": {\n            \"geo\": \"japan\",\n            \"pairedRegions\"\
        : [\n                \"japaneast\"\n            ],\n            \"laRegionCode\"\
        : \"OS\"\n        },\n        \"koreacentral\": {\n            \"geo\": \"\
        korea\",\n            \"pairedRegions\": [\n                \"koreasouth\"\
        \n            ],\n            \"laRegionCode\": \"SE\"\n        },\n     \
        \   \"koreasouth\": {\n            \"geo\": \"korea\",\n            \"pairedRegions\"\
        : [\n                \"koreacentral\"\n            ],\n            \"laRegionCode\"\
        : \"\"\n        },\n        \"northeurope\": {\n            \"geo\": \"europe\"\
        ,\n            \"pairedRegions\": [\n                \"westeurope\"\n    \
        \        ],\n            \"laRegionCode\": \"NEU\"\n        },\n        \"\
        westeurope\": {\n            \"geo\": \"europe\",\n            \"pairedRegions\"\
        : [\n                \"northeurope\"\n            ],\n            \"laRegionCode\"\
        : \"WEU\"\n        },\n        \"francecentral\": {\n            \"geo\":\
        \ \"france\",\n            \"pairedRegions\": [\n                \"francesouth\"\
        \n            ],\n            \"laRegionCode\": \"PAR\"\n        },\n    \
[...]
