interactions:
- request:
    body: '{"query": "availabilityResults | summarize count() by bin(timestamp, 6h),
      name | order by name desc"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://api.applicationinsights.io/v1/apps/578f0e27-12e9-4631-bc02-50b965da2633/query
  response:
    body: {string: '{"tables":[{"name":"PrimaryResult","columns":[{"name":"timestamp","type":"datetime"},{"name":"name","type":"string"},{"name":"count_","type":"long"}],"rows":[["2018-09-11T18:00:00Z","microsoft",360],["2018-08-25T06:00:00Z","microsoft",360],["2018-08-25T12:00:00Z","microsoft",360],["2018-10-29T06:00:00Z","microsoft",360],["2018-08-27T06:00:00Z","microsoft",360],["2018-09-09T12:00:00Z","microsoft",360],["2018-10-06T12:00:00Z","microsoft",360],["2018-08-06T06:00:00Z","microsoft",352],["2018-09-19T06:00:00Z","microsoft",360],["2018-08-31T06:00:00Z","microsoft",359],["2018-09-21T18:00:00Z","microsoft",360],["2018-09-19T12:00:00Z","microsoft",360],["2018-[...]
[...]
