interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","name":"component000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-07T03:27:29.0296484Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-07T03:27:29.0296484Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-04-07T03:27:28.9359255Z","primaryEndpoints":{"dfs":"https://component000002.dfs.core.windows.net/","web":"https://component000002.z22.web.core.windows.net/","blob":"https://component000002.blob.core.windows.net/","queue":"https://component000002.queue.core.windows.net/","table":"https://component000002.table.core.windows.net/","file":"https://component000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000003","name":"component000003","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-07T03:27:59.0196782Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-07T03:27:59.0196782Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-04-07T03:27:58.9415366Z","primaryEndpoints":{"dfs":"https://component000003.dfs.core.windows.net/","web":"https://component000003.z5.web.core.windows.net/","blob":"https://component000003.blob.core.windows.net/","queue":"https://component000003.queue.core.windows.net/","table":"https://component000003.table.core.windows.net/","file":"https://component000003.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ed70f318-7a91-4f01-9c00-cd64179dcf44
      - e8f7994b-13bf-40af-a25d-a927fac1e83f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 07 Apr 2021 03:28:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://component000002.blob.core.windows.net/ctna?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8F975330AD637"'
      last-modified:
      - Wed, 07 Apr 2021 03:28:23 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 07 Apr 2021 03:28:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://component000003.blob.core.windows.net/ctnb?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8F97536034D8C"'
      last-modified:
      - Wed, 07 Apr 2021 03:28:28 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest", "RetentionInDays":
      120, "IngestionMode": "ApplicationInsights"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp?api-version=2018-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/demoApp","name":"demoApp","type":"microsoft.insights/components","location":"westus","tags":{},"kind":"web","etag":"\"200235a6-0000-0200-0000-606d26e80000\"","properties":{"Ver":"v2","ApplicationId":"demoApp","AppId":"369c903d-c854-4700-9859-f5f1352c8ca9","Application_Type":"web","Flow_Type":"Bluefield","Request_Source":"rest","InstrumentationKey":"12a46aba-e71b-40cb-bba4-05500a411b87","ConnectionString":"InstrumentationKey=12a46aba-e71b-40cb-bba4-05500a411b87;IngestionEndpoint=https://westus-0.in.applicationinsights.azure.com/","Name":"demoApp","CreationDate":"2021-04-07T03:28:40.0866983+00:00","TenantId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","provisioningState":"Succeeded","SamplingPercentage":null,"RetentionInDays":120,"Retention":"P120D","IngestionMode":"ApplicationInsights","publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"RecordTypes": "Requests, Event, Exceptions, Metrics, PageViews", "DestinationType":
      "Blob", "DestinationAddress": "https://component000002.blob.core.windows.net/ctna?se=2020-10-27&sp=w&sv=2018-11-09&sr=c",
      "IsEnabled": "true", "DestinationStorageSubscriptionId": "92f95d8f-3c67-4124-91c7-8cf07cdbf241",
      "DestinationStorageLocationId": "westus", "DestinationAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration?api-version=2015-05-01
  response:
    body:
      string: '[{"ExportId":"Ig20S7a5pYRrqKXYwaCuDgU8TKw=","InstrumentationKey":"12a46aba-e71b-40cb-bba4-05500a411b87","RecordTypes":"Requests,
        Event, Exceptions, Metrics, PageViews","ApplicationName":"demoapp","SubscriptionId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","DestinationStorageLocationId":"westus","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2021-04-07T03:28:47.4777917Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000002","ContainerName":"ctna"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration/Ig20S7a5pYRrqKXYwaCuDgU8TKw%3D?api-version=2015-05-01
  response:
    body:
      string: '{"ExportId":"Ig20S7a5pYRrqKXYwaCuDgU8TKw=","InstrumentationKey":"12a46aba-e71b-40cb-bba4-05500a411b87","RecordTypes":"Requests,
        Event, Exceptions, Metrics, PageViews","ApplicationName":"demoapp","SubscriptionId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","DestinationStorageLocationId":"westus","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2021-04-07T03:28:47.4777917Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000002","ContainerName":"ctna"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-export-configuration-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration/Ig20S7a5pYRrqKXYwaCuDgU8TKw%3D?api-version=2015-05-01
  response:
    body:
      string: '{"ExportId":"Ig20S7a5pYRrqKXYwaCuDgU8TKw=","InstrumentationKey":"12a46aba-e71b-40cb-bba4-05500a411b87","RecordTypes":"Requests,
        Event, PageViews","ApplicationName":"demoapp","SubscriptionId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"92f95d8f-3c67-4124-91c7-8cf07cdbf241","DestinationStorageLocationId":"westus2","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000003","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2021-04-07T03:28:52.6943924Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000003","ContainerName":"ctnb"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
