interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Premium_LRS","tier":"Premium"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibeta","name":"azureclibeta","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:11:09.8011543Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:11:09.8011543Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-06-11T10:11:09.7230107Z","primaryEndpoints":{"web":"https://azureclibeta.z13.web.core.windows.net/","blob":"https://azureclibeta.blob.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibetarelease","name":"azureclibetarelease","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-06-11T10:32:24.7099044Z","primaryEndpoints":{"dfs":"https://azureclibetarelease.dfs.core.windows.net/","web":"https://azureclibetarelease.z13.web.core.windows.net/","blob":"https://azureclibetarelease.blob.core.windows.net/","queue":"https://azureclibetarelease.queue.core.windows.net/","table":"https://azureclibetarelease.table.core.windows.net/","file":"https://azureclibetarelease.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://azureclibetarelease-secondary.dfs.core.windows.net/","web":"https://azureclibetarelease-secondary.z13.web.core.windows.net/","blob":"https://azureclibetarelease-secondary.blob.core.windows.net/","queue":"https://azureclibetarelease-secondary.queue.core.windows.net/","table":"https://azureclibetarelease-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestresult/providers/Microsoft.Storage/storageAccounts/clitestresultstac","name":"clitestresultstac","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-15T06:20:52.7844389Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-15T06:20:52.7844389Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-07-15T06:20:52.6907255Z","primaryEndpoints[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Oct 2020 08:59:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://component000002.blob.core.windows.net/ctna?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D87668BDB221C3"'
      last-modified:
      - Thu, 22 Oct 2020 08:59:10 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Oct 2020 08:59:11 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://component000003.blob.core.windows.net/ctnb?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D87668BF9062EC"'
      last-modified:
      - Thu, 22 Oct 2020 08:59:13 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest", "RetentionInDays":
      120}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp?api-version=2018-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/demoApp","name":"demoApp","type":"microsoft.insights/components","location":"westus","tags":{},"kind":"web","etag":"\"580025d6-0000-0700-0000-5f9149eb0000\"","properties":{"Ver":"v2","ApplicationId":"demoApp","AppId":"ed47001c-31ed-41fc-898e-ea3dc9a7c544","Application_Type":"web","Flow_Type":"Bluefield","Request_Source":"rest","InstrumentationKey":"29cbd327-191a-402c-9f0f-a05360e472d1","ConnectionString":"InstrumentationKey=29cbd327-191a-402c-9f0f-a05360e472d1;IngestionEndpoint=https://westus-0.in.applicationinsights.azure.com/","Name":"demoApp","CreationDate":"2020-10-22T08:59:23.4039359+00:00","TenantId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","provisioningState":"Succeeded","SamplingPercentage":null,"RetentionInDays":120,"Retention":"P120D","IngestionMode":"ApplicationInsights","publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"RecordTypes": "Requests, Event, Exceptions, Metrics, PageViews", "DestinationType":
      "Blob", "DestinationAddress": "https://component000002.blob.core.windows.net/ctna?se=2020-10-23T08%3A59Z&sp=w&sv=2018-11-09&sr=c&sig=nDW0iDPepiH7gq0YY9OAv10Rav3xpjpP9CdS1ajZMFI%3D",
      "IsEnabled": "true", "DestinationStorageSubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
      "DestinationStorageLocationId": "westus", "DestinationAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration?api-version=2015-05-01
  response:
    body:
      string: '[{"ExportId":"NuggdzKn86Cu6xGz34vFYaNGlRU=","InstrumentationKey":"29cbd327-191a-402c-9f0f-a05360e472d1","RecordTypes":"Requests,
        Event, Exceptions, Metrics, PageViews","ApplicationName":"demoapp","SubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","DestinationStorageLocationId":"westus","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2020-10-22T08:59:28.5783176Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000002","ContainerName":"ctna"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration/NuggdzKn86Cu6xGz34vFYaNGlRU%3D?api-version=2015-05-01
  response:
    body:
      string: '{"ExportId":"NuggdzKn86Cu6xGz34vFYaNGlRU=","InstrumentationKey":"29cbd327-191a-402c-9f0f-a05360e472d1","RecordTypes":"Requests,
        Event, Exceptions, Metrics, PageViews","ApplicationName":"demoapp","SubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","DestinationStorageLocationId":"westus","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2020-10-22T08:59:28.5783176Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000002","ContainerName":"ctna"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-export-configuration-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration/NuggdzKn86Cu6xGz34vFYaNGlRU%3D?api-version=2015-05-01
  response:
    body:
      string: '{"ExportId":"NuggdzKn86Cu6xGz34vFYaNGlRU=","InstrumentationKey":"29cbd327-191a-402c-9f0f-a05360e472d1","RecordTypes":"Requests,
        Event, PageViews","ApplicationName":"demoapp","SubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","DestinationStorageLocationId":"westus2","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000003","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2020-10-22T08:59:32.7859333Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000003","ContainerName":"ctnb"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
