interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Premium_LRS","tier":"Premium"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibeta","name":"azureclibeta","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:11:09.8011543Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:11:09.8011543Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-06-11T10:11:09.7230107Z","primaryEndpoints":{"web":"https://azureclibeta.z13.web.core.windows.net/","blob":"https://azureclibeta.blob.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibetarelease","name":"azureclibetarelease","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-06-11T10:32:24.7099044Z","primaryEndpoints":{"dfs":"https://azureclibetarelease.dfs.core.windows.net/","web":"https://azureclibetarelease.z13.web.core.windows.net/","blob":"https://azureclibetarelease.blob.core.windows.net/","queue":"https://azureclibetarelease.queue.core.windows.net/","table":"https://azureclibetarelease.table.core.windows.net/","file":"https://azureclibetarelease.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://azureclibetarelease-secondary.dfs.core.windows.net/","web":"https://azureclibetarelease-secondary.z13.web.core.windows.net/","blob":"https://azureclibetarelease-secondary.blob.core.windows.net/","queue":"https://azureclibetarelease-secondary.queue.core.windows.net/","table":"https://azureclibetarelease-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestresult/providers/Microsoft.Storage/storageAccounts/clitestresultstac","name":"clitestresultstac","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-15T06:20:52.7844389Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-15T06:20:52.7844389Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-07-15T06:20:52.6907255Z","primaryEndpoints[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Nov 2020 03:26:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://component000002.blob.core.windows.net/ctna?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8813A993E2C98"'
      last-modified:
      - Thu, 05 Nov 2020 03:26:35 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Nov 2020 03:26:36 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://component000003.blob.core.windows.net/ctnb?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8813A9C1B5B29"'
      last-modified:
      - Thu, 05 Nov 2020 03:26:40 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest", "RetentionInDays":
      120}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp?api-version=2018-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/demoApp","name":"demoApp","type":"microsoft.insights/components","location":"westus","tags":{},"kind":"web","etag":"\"7700146e-0000-0700-0000-5fa370fb0000\"","properties":{"Ver":"v2","ApplicationId":"demoApp","AppId":"57d43b68-0a82-4c0b-9c57-0e5d6354f319","Application_Type":"web","Flow_Type":"Bluefield","Request_Source":"rest","InstrumentationKey":"16021244-74e2-4851-8122-54ef681b2c9b","ConnectionString":"InstrumentationKey=16021244-74e2-4851-8122-54ef681b2c9b;IngestionEndpoint=https://westus-0.in.applicationinsights.azure.com/","Name":"demoApp","CreationDate":"2020-11-05T03:26:51.25032+00:00","TenantId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","provisioningState":"Succeeded","SamplingPercentage":null,"RetentionInDays":120,"Retention":"P120D","IngestionMode":"ApplicationInsights","publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"RecordTypes": "Requests, Event, Exceptions, Metrics, PageViews", "DestinationType":
      "Blob", "DestinationAddress": "https://component000002.blob.core.windows.net/ctna?se=2020-10-27&sp=w&sv=2018-11-09&sr=c",
      "IsEnabled": "true", "DestinationStorageSubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
      "DestinationStorageLocationId": "westus", "DestinationAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration?api-version=2015-05-01
  response:
    body:
      string: '[{"ExportId":"BBL1uBMW3anoaEcyo7vFNx2iYwY=","InstrumentationKey":"16021244-74e2-4851-8122-54ef681b2c9b","RecordTypes":"Requests,
        Event, Exceptions, Metrics, PageViews","ApplicationName":"demoapp","SubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","DestinationStorageLocationId":"westus","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2020-11-05T03:26:56.3983943Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000002","ContainerName":"ctna"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration/BBL1uBMW3anoaEcyo7vFNx2iYwY%3D?api-version=2015-05-01
  response:
    body:
      string: '{"ExportId":"BBL1uBMW3anoaEcyo7vFNx2iYwY=","InstrumentationKey":"16021244-74e2-4851-8122-54ef681b2c9b","RecordTypes":"Requests,
        Event, Exceptions, Metrics, PageViews","ApplicationName":"demoapp","SubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","DestinationStorageLocationId":"westus","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000002","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2020-11-05T03:26:56.3983943Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000002","ContainerName":"ctna"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-export-configuration-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/demoApp/exportconfiguration/BBL1uBMW3anoaEcyo7vFNx2iYwY%3D?api-version=2015-05-01
  response:
    body:
      string: '{"ExportId":"BBL1uBMW3anoaEcyo7vFNx2iYwY=","InstrumentationKey":"16021244-74e2-4851-8122-54ef681b2c9b","RecordTypes":"Requests,
        Event, PageViews","ApplicationName":"demoapp","SubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","ResourceGroup":"clitest.rg000001","DestinationStorageSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","DestinationStorageLocationId":"westus2","DestinationAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/component000003","DestinationType":"Blob","IsUserEnabled":"True","LastUserUpdate":"2020-11-05T03:27:00.0686823Z","NotificationQueueEnabled":"False","DestinationKustoCluster":null,"DestinationKustoDatabase":null,"TransformationType":"Default","ExportStatus":"Preparing","LastSuccessTime":null,"LastGapTime":null,"PermanentErrorReason":"None","StorageName":"component000003","ContainerName":"ctnb"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
