interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.applicationinsights.io/v1/apps/578f0e27-12e9-4631-bc02-50b965da2633/events/availabilityResults?timespan=PT5M
  response:
    body: {string: '{"@odata.context":"https://api.applicationinsights.io/v1/apps/578f0e27-12e9-4631-bc02-50b965da2633/events/$metadata#availabilityResults","@ai.messages":[{"code":"AddedLimitToQuery","message":"The
        query was limited to 500 rows"}],"value":[{"id":"28655193-de87-11e8-aef8-071a1a8e9e04","count":1,"type":"availabilityResult","timestamp":"2018-11-02T10:07:37.706Z","customDimensions":{"WebtestLocationId":"us-il-ch1-azr","FullTestResultAvailable":"false","WebtestArmResourceName":"microsoft-ace-test","SyntheticMonitorId":"default_microsoft-ace-test_us-il-ch1-azr"},"customMeasurements":null,"operation":{"name":"","id":"627f343f715b44968a7ba725c17814ce","parentId":"627f343f715b44968a7ba725c17814ce","syntheticSource":""},"session":{"id":""},"user":{"id":"","accountId":"","authenticatedId":""},"cloud":{"roleName":"","roleInstance":""},"ai":{"iKey":"1145833f-6099-4855-9cb1-557cea26389e","appName":"ace-test","appId":"578f0e27-12e9-4631-bc02-50b965da2633","sdkVersion":""},"availabilityResult":{"name":"microsoft","success":"1","duration":446,"performanceBucket":"","message":"Passed","location":"North
        Central US","id":"627f343f715b44968a7ba725c17814ce","size":null},"application":{"version":""},"client":{"model":"","os":"","type":"PC","browser":"","ip":"0.0.0.0","city":"Chicago","stateOrProvince":"Illinois","countryOrRegion":"United
        States"}},{"id":"078f19bf-de87-11e8-b4d8-e3e9af1e205a","count":1,"type":"availabilityResult","timestamp":"2018-11-02T10:06:52.235Z","customDimensions":{"FullTestResultAvailable":"false","WebtestArmResourceName":"microsoft-ace-test","SyntheticMonitorId":"default_microsoft-ace-test_us-va-ash-azr","WebtestLocationId":"us-va-ash-azr"},"customMeasurements":null,"operation":{"name":"","id":"54575ed287cb4273b1c6fdbd7cbac171","parentId":"54575ed287cb4273b1c6fdbd7cbac171","syntheticSource[...]
[...]
