interactions:
- request:
    body: '{"location": "westus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest", "IngestionMode":
      "ApplicationInsights"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg000001/providers/Microsoft.Insights/components/clitestai000004?api-version=2018-05-01-preview
  response:
    body:
      string: "{\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"a51f3b1b-0000-0200-0000-6ab218c70000\\\"\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg000001/providers/microsoft.insights/components/clitestai000004\",\r\n
        \ \"name\": \"clitestai000004\",\r\n  \"type\": \"microsoft.insights/components\",\r\n
        \ \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"Privacy.Asset.NonPersonal\":
        \"{}\"\r\n  },\r\n  \"properties\": {\r\n    \"ApplicationId\": \"clitestai000004\",\r\n
        \   \"AppId\": \"cf6e13e0-fc9d-47ae-8e95-a9f9e295d8e8\",\r\n    \"Application_Type\":
        \"web\",\r\n    \"Flow_Type\": \"Bluefield\",\r\n    \"Request_Source\": \"rest\",\r\n
        \   \"InstrumentationKey\": \"f2471d56-1300-468d-ba13-d02eeef54d6a\",\r\n
        \   \"ConnectionString\": \"InstrumentationKey=f2471d56-1300-468d-ba13-d02eeef54d6a;IngestionEndpoint=https://westus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://westus.livediagnostics.monitor.azure.com/;ApplicationId=cf6e13e0-fc9d-47ae-8e95-a9f9e295d8e8\",\r\n
        \   \"Name\": \"clitestai000004\",\r\n    \"CreationDate\": \"2026-09-22T05:57:16.8421515+00:00\",\r\n
        \   \"TenantId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"RetentionInDays\":
        90,\r\n    \"WorkspaceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ai_clitestai000004_cf6e13e0-fc9d-47ae-8e95-a9f9e295d8e8_managed/providers/Microsoft.OperationalInsights/workspaces/managed-clitestai000004-ws\",\r\n
        \   \"IngestionMode\": \"LogAnalytics\",\r\n    \"publicNetworkAccessForIngestion\":
        \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"Ver\":
        \"v2\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/connect_function_cross_rg2000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002","name":"connect_function_cross_rg2000002","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_connect_function_cross_resource_groups","date":"2026-09-22T05:56:44Z","module":"application-insights"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"perSiteScaling": false, "reserved":
      false}, "sku": {"capacity": 1, "name": "B1", "tier": "BASIC"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/serverfarms/clitestplan000006?api-version=2025-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/serverfarms/clitestplan000006","name":"clitestplan000006","type":"Microsoft.Web/serverfarms","kind":"app","location":"westus","properties":{"serverFarmId":60287,"name":"clitestplan000006","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"connect_function_cross_rg2000002-WestUSwebspace","subscription":"00000000-0000-0000-0000-000000000000","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"connect_function_cross_rg2000002","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-065_60287","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":1,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-09-22T05:57:34.69","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":"","activeBackupHomeServerFarmName":null,"allowEquivalentSku":false},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - 1DD4A5743EF0E55
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/functionAppStacks?api-version=2025-05-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/functionAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        11 Isolated","value":"dotnet11isolated","minorVersions":[{"displayText":".NET
        11 Isolated","value":"11 (STS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v11.0","isPreview":true,"isDefault":false,"isHidden":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"11.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v11.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":false}],"endOfLifeDate":"2028-11-14T00:00:00Z","Sku":[{"skuCode":"Y1"},{"skuCode":"Dedicated"},{"skuCode":"ElasticPremium"}]},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|11.0","isPreview":true,"isDefault":false,"isHidden":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"11.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|11.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":false}],"Sku":[{"skuCode":"Y1"},{"skuCode":"Dedicated"},{"skuCode":"ElasticPremium"},{"skuCode":"FC1","instanceMemoryMB":[{"size":"512","isDefault":false},{"size":"2048","isDefault":true},{"size":"4096","isDefault":false}],"maximumInstanceCount":{"lowestMaximumInstanceCount":1,"highestMaximumInstanceCount":1000,"defaultValue":100},"functionAppConfigProperties":{"runtime":{"name":"dotnet-isolated","version":"11.0"}}}],"endOfLifeDate":"2028-11-14T00:00:00Z"}}}]},{"displayText":".NET
        10 Isolated","value":"dotnet10isolated","minorVersions":[{"displayText":".NET
        10 Isolated","value":"10 (LTS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v10.0","isPreview":false,"isDefault":false,"isHidden":false,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Storage/storageAccounts/clitest000003?api-version=2025-08-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Storage/storageAccounts/clitest000003","name":"clitest000003","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-09-22T05:56:51.3505165Z","key2":"2026-09-22T05:56:51.3505165Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"None","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-09-22T05:56:51.3626997Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-09-22T05:56:51.3626997Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-09-22T05:56:51.1415528Z","primaryEndpoints":{"dfs":"https://clitest000003.dfs.core.windows.net/","web":"https://clitest000003.z22.web.core.windows.net/","blob":"https://clitest000003.blob.core.windows.net/","queue":"https://clitest000003.queue.core.windows.net/","table":"https://clitest000003.table.core.windows.net/","file":"https://clitest000003.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Storage/storageAccounts/clitest000003/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-09-22T05:56:51.3505165Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-09-22T05:56:51.3505165Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"siteConfig": {"appSettings": [{"name": "FUNCTIONS_WORKER_RUNTIME",
      "value": "node"}, {"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "~24"},
      {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~4"}, {"name": "AzureWebJobsStorage",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey=="}],
      "use32BitWorkerProcess": false, "netFrameworkVersion": "v6.0", "alwaysOn": true},
      "httpsOnly": false, "serverFarmId": "clitestplan000006"}, "location": "West
      US", "kind": "functionapp"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005","name":"clitestfunction000005","type":"Microsoft.Web/sites","kind":"functionapp","location":"West
        US","properties":{"name":"clitestfunction000005","state":"Running","hostNames":["clitestfunction000005.azurewebsites.net"],"webSpace":"connect_function_cross_rg2000002-WestUSwebspace","selfLink":"https://waws-prod-bay-065.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/connect_function_cross_rg2000002-WestUSwebspace/sites/clitestfunction000005","repositorySiteName":"clitestfunction000005","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["clitestfunction000005.azurewebsites.net","clitestfunction000005.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"clitestfunction000005.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"clitestfunction000005.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/serverfarms/clitestplan000006","reserved":false,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-09-22T05:57:47.15","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"aiIntegration":null,"deploymentId":"clitestfunction000005","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"jA4Forwarding":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"6BE7DA99EB4464B827BADE950356A351383F4B4AC62A7823C142DB871BD8C971","kind":"functionapp","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"40.83.183.236","possibleInboundIpAddresses":"40.83.183.236,40.112.243.31","inboundIpv6Address":"2603:1030:a07:2::c","possibleInboundIpv6Addresses":"2603:1030:a07:2::c","ftpUsername":"clitestfunction000005\\$clitestfunction000005","ftpsHostName":"ftps://waws-prod-bay-065.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.83.179.31,40.83.181.84,40.83.183.190,40.83.183.1,40.83.183.236","possibleOutboundIpAddresses":"40.83.179.31,40.83.181.84,40.83.183.190,40.83.183.1,52.241.255.214,137.135.27.48,168.62.196.113,138.91.254.26,168.62.199.214,168.62.199.74,104.42.220.212,104.42.220.238,40.78.62.129,40.78.62.209,40.78.62.212,40.78.56.29,20.66.66.42,20.66.66.96,20.66.66.110,20.66.66.99,20.66.66.109,20.245.34.200,40.83.183.236","outboundIpv6Addresses":"2603:1030:a04:c::580,2603:1030:a04:f::53c,2603:1030:a04:10::577,2603:1030:a04:e::5aa,2603:1030:a07:2::c,2603:10e1:100:2::2853:b7ec,2603:1030:a07:6::61,2603:10e1:100:2::143b:640e","possibleOutboundIpv6Addresses":"2603:1030:a04:c::580,2603:1030:a04:f::53c,2603:1030:a04:10::577,2603:1030:a04:e::5aa,2603:1030:a04:c::587,2603:1030:a02::7cd,2603:1030:a04:c::58c,2603:1030:a04:10::580,2603:1030:a04:c::590,2603:1030:a04:13::5f5,2a01:111:f100:3002::8987:2a0e,2603:1030:a04:13::5fa,2a01:111:f100:3001::a83e:7a1,2603:1030:a04:c::597,2603:1030:a04:13::600,2a01:111:f100:3002::8987:3057,2603:1030:a04:10::58c,2603:1030:a04:f::557,2603:1030:a02::7e1,2603:1030:a02::7e4,2603:1030:a04:10::58e,2603:1030:a07:2::c,2603:10e1:100:2::2853:b7ec,2603:1030:a07:6::61,2603:10e1:100:2::143b:640e","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-065","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"connect_function_cross_rg2000002","defaultHostName":"clitestfunction000005.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"platformVersion":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null,"maintenanceEnabled":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DD4A574B6A08B5"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"type\":\"Region\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\":\"eastus-az2\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus-az3\"},{\"logicalZone\":\"3\",\"physicalZone\":\"eastus-az1\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus2\",\"name\":\"westus2\",\"type\":\"Region\",\"displayName\":\"West
        US 2\",\"regionalDisplayName\":\"(US) West US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"US\",\"longitude\":\"-119.85[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005/config/appsettings/list?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"FUNCTIONS_WORKER_RUNTIME":"node","WEBSITE_NODE_DEFAULT_VERSION":"~24","FUNCTIONS_EXTENSION_VERSION":"~4","AzureWebJobsStorage":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey=="}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "properties": {"FUNCTIONS_WORKER_RUNTIME": "node",
      "WEBSITE_NODE_DEFAULT_VERSION": "~24", "FUNCTIONS_EXTENSION_VERSION": "~4",
      "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey==",
      "AzureWebJobsDashboard": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey=="}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005/config/appsettings?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"FUNCTIONS_WORKER_RUNTIME":"node","WEBSITE_NODE_DEFAULT_VERSION":"~24","FUNCTIONS_EXTENSION_VERSION":"~4","AzureWebJobsStorage":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey==","AzureWebJobsDashboard":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey=="}}'
    headers:
      content-type:
      - application/json
      etag:
      - 1DD4A5757153240
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "properties": {"FUNCTIONS_WORKER_RUNTIME": "node",
      "WEBSITE_NODE_DEFAULT_VERSION": "~24", "FUNCTIONS_EXTENSION_VERSION": "~4",
      "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey==",
      "AzureWebJobsDashboard": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000003;AccountKey=veryFakedStorageAccountKey==",
      "APPINSIGHTS_INSTRUMENTATIONKEY": "f2471d56-1300-468d-ba13-d02eeef54d6a", "APPINSIGHTS_CONNECTIONSTRING":
      "InstrumentationKey=f2471d56-1300-468d-ba13-d02eeef54d6a;IngestionEndpoint=https://westus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://westus.livediagnostics.monitor.azure.com/;ApplicationId=cf6e13e0-fc9d-47ae-8e95-a9f9e295d8e8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestf[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connect_function_cross_rg2000002/providers/Microsoft.Web/sites/clitestfunction000005/config/slotConfigNames?api-version=2025-05-01
  response:
    body:
      string: '{"id":null,"name":"clitestfunction000005","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
