interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.applicationinsights.io/v1/apps/578f0e27-12e9-4631-bc02-50b965da2633/metrics/metadata
  response:
    body:
      string: '{"metrics":{"requests/count":{"supportedAggregations":["sum"],"displayName":"Server
        requests","supportedGroupBy":{"all":["request/source","request/name","request/urlHost","request/urlPath","request/success","request/resultCode","request/performanceBucket","operation/name","operation/synthetic","operation/syntheticSource","user/authenticated","application/version","client/type","client/model","client/os","client/city","client/stateOrProvince","client/countryOrRegion","client/browser","cloud/roleName","cloud/roleInstance"]},"defaultAggregation":"sum"},"requests/duration":{"supportedAggregations":["avg","min","max","sum","count"],"displayName":"Server
        response time","units":"ms","supportedGroupBy":{"all":["request/source","request/name","request/urlHost","request/urlPath","request/success","request/resultCode","request/performanceBucket","operation/name","operation/synthetic","operation/syntheticSource","user/authenticated","application/version","client/type","client/model","client/os","client/city","client/stateOrProvince","client/countryOrRegion","client/browser","cloud/roleName","cloud/roleInstance"]},"defaultAggregation":"avg"},"requests/failed":{"supportedAggr[...]
