interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations?api-version=2026-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/mongodb.atlas/organizations/hello","name":"hello","type":"mongodb.atlas/organizations","location":"East
        US 2","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-01-02T05:58:09.7955322Z","lastModifiedBy":"b059abce-70fd-4c8f-a117-96d2192e90e1","lastModifiedByType":"Application","lastModifiedAt":"2026-01-02T05:59:35.6006953Z"},"properties":{"marketplace":{"subscriptionId":"49468a52-af5f-4334-d88f-b7dd69087979","subscriptionStatus":"Subscribed","offerDetails":{"publisherId":"mongodb","offerId":"mongodb_atlas_azure_native_prod","planId":"private_plan","planName":"Pay
        as You Go (Free) (Private)","termUnit":"P1M","termId":"gmz7xq9ge3py"}},"user":{"firstName":"test@example.com","lastName":"","emailAddress":"test@example.com","upn":"test@example.com","phoneNumber":"","companyName":""},"provisioningState":"Succeeded","partnerProperties":{"organizationId":"69575ea9259c243c276bd225","organizationName":"hello","redirectUrl":"https://account.mongodb.com/account/reset/password?email=test@example.com&orgId=69575ea9259c243c276bd225&shouldRedirect=true"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/mongodb.atlas/organizations/prodCreate6Jan26","name":"prodCreate6Jan26","type":"mongodb.atlas/organizations","location":"East
        US 2","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-01-12T13:15:45.4111235Z","lastModifi[...]
- request:
    body: '{"location": "centralus", "properties": {"marketplace": {"offerDetails":
      {"offerId": "mongodb_atlas_azure_native_prod", "planId": "private_plan", "planName":
      "Pay as You Go (Free) (Private)", "publisherId": "mongodb", "termId": "n7ja87drquhy",
      "termUnit": "P1M"}, "subscriptionId": "61641157-140c-4b97-b365-30ff76d9f82e"},
      "partnerProperties": {"organizationName": "greenTestsRun"}, "user": {"emailAddress":
      "test@example.com", "firstName": "Anuj", "lastName": "Sharma"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun?api-version=2026-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun","name":"greenTestsRun","type":"mongodb.atlas/organizations","location":"centralus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-02T21:33:47.582432Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-02T21:33:47.582432Z"},"properties":{"marketplace":{"subscriptionId":"61641157-140c-4b97-b365-30ff76d9f82e","offerDetails":{"publisherId":"mongodb","offerId":"mongodb_atlas_azure_native_prod","planId":"private_plan","planName":"Pay
        as You Go (Free) (Private)","termUnit":"P1M","termId":"n7ja87drquhy"}},"user":{"firstName":"Anuj","lastName":"Sharma","emailAddress":"test@example.com"},"provisioningState":"Accepted","partnerProperties":{"organizationName":"greenTestsRun"}}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/7d7d5366-fcb4-4e09-afc5-c1098392bec1*F85DDA2140CE28F85DFB46F8C7F3ABF6CD2EF4F3CF2BEF593F4A0319D41BF376?api-version=2026-03-01-preview&t=639213032336762082&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/7d7d5366-fcb4-4e09-afc5-c1098392bec1*F85DDA2140CE28F85DFB46F8C7F3ABF6CD2EF4F3CF2BEF593F4A0319D41BF376?api-version=2026-03-01-preview&t=639213032336762082&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun?api-version=2026-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun","name":"greenTestsRun","type":"mongodb.atlas/organizations","location":"centralus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-02T21:33:47.582432Z","lastModifiedBy":"b059abce-70fd-4c8f-a117-96d2192e90e1","lastModifiedByType":"Application","lastModifiedAt":"2026-08-02T21:35:09.852174Z"},"properties":{"marketplace":{"subscriptionId":"6b528389-2efe-4c92-c6bd-c5587588f1a6","offerDetails":{"publisherId":"mongodb","offerId":"mongodb_atlas_azure_native_prod","planId":"private_plan","planName":"Pay
        as You Go (Free) (Private)","termUnit":"P1M","termId":"n7ja87drquhy"},"subscriptionStatus":"Subscribed"},"user":{"firstName":"Anuj","lastName":"Sharma","emailAddress":"test@example.com"},"provisioningState":"Succeeded","partnerProperties":{"organizationName":"greenTestsRun","organizationId":"6a6fb7f1c775136a113503ef","redirectUrl":"https://account.mongodb.com/account/reset/password?email=test@example.com&orgId=6a6fb7f1c775136a113503ef&shouldRedirect=true"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f300a1e1-0000-0300-0000-6a6fb80e0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject?api-version=2026-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject","name":"myTestProject","type":"mongodb.atlas/organizations/projects","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-02T21:35:33.3428604Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-02T21:35:33.3428604Z"},"properties":{"projectName":"myTestProject","organizationId":"6a6fb7f1c775136a113503ef","provisioningState":"Accepted"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/ff305479-26a0-459e-a31c-acdbabb6d035*C6A35746ED28B2D82879DDB50C995100F08C6ED0FE4661EC8DB86D538E0DB359?api-version=2026-03-01-preview&t=639213033366710068&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/ff305479-26a0-459e-a31c-acdbabb6d035*C6A35746ED28B2D82879DDB50C995100F08C6ED0FE4661EC8DB86D538E0DB359?api-version=2026-03-01-preview&t=639213033366710068&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject?api-version=2026-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject","name":"myTestProject","type":"MongoDB.Atlas/organizations/projects","properties":{"projectId":"6a6fb8466b5fa930f2090147","projectName":"myTestProject","organizationId":"6a6fb7f1c775136a113503ef","clusterCount":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e2f2cc3f-ad97-4dc9-9789-0c4cd73f5206
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects?api-version=2026-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject","name":"myTestProject","type":"MongoDB.Atlas/organizations/projects","properties":{"projectId":"6a6fb8466b5fa930f2090147","projectName":"myTestProject","organizationId":"6a6fb7f1c775136a113503ef","clusterCount":0,"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4eac5d05-f6d4-4e71-b8a6-eedb766eeec0
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"clusterTier": "FREE", "regionName": "eastus2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters/myTestCluster?api-version=2026-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters/myTestCluster","name":"myTestCluster","type":"mongodb.atlas/organizations/projects/clusters","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-02T21:36:16.0254707Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-02T21:36:16.0254707Z"},"properties":{"clusterName":"myTestCluster","clusterTier":"FREE","regionName":"eastus2","backups":null,"state":null,"provisioningState":"Accepted"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/93b9e5c7-3679-44e4-90fd-1e830bb80df6*DC8715CDCEE8C2FE02365D1A131DEFAE974253AAAB03C47DEF01F56ABC99B4A8?api-version=2026-03-01-preview&t=639213033779473554&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2ID[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/93b9e5c7-3679-44e4-90fd-1e830bb80df6*DC8715CDCEE8C2FE02365D1A131DEFAE974253AAAB03C47DEF01F56ABC99B4A8?api-version=2026-03-01-preview&t=639213033779473554&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters/myTestCluster?api-version=2026-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters/myTestCluster","name":"myTestCluster","type":"MongoDB.Atlas/organizations/projects/clusters","properties":{"clusterName":"myTestCluster","clusterTier":"FREE","regionName":"eastus2","mongoDbVersion":"8.0.29","backups":false,"state":"IDLE","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 9d7b6925-dfac-4b74-aed3-4294f7acf56a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters?api-version=2026-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters/myTestCluster","name":"myTestCluster","type":"MongoDB.Atlas/organizations/projects/clusters","properties":{"clusterName":"myTestCluster","clusterTier":"FREE","regionName":"eastus2","mongoDbVersion":"8.0.29","backups":false,"state":"IDLE","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - bc669864-fe1b-4d08-a82f-1e356f5944df
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/greenTestsRun/projects/myTestProject/clusters/myTestCluster?api-version=2026-03-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceDeletionFailed","message":"Resource deletion
        failed as RP returned status code: ''MethodNotAllowed'' and error message
        ''Method Not Allowed''."}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - 5a22ded6-0f10-48b0-9ef0-5a9ff187cd4a
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 405
      message: Method Not Allowed
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/b6064dff-93c9-41a9-89fb-a183dcad37a9*F85DDA2140CE28F85DFB46F8C7F3ABF6CD2EF4F3CF2BEF593F4A0319D41BF376?api-version=2026-03-01-preview&t=639213034565797591&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/MongoDB.Atlas/locations/CENTRALUS/operationStatuses/b6064dff-93c9-41a9-89fb-a183dcad37a9*F85DDA2140CE28F85DFB46F8C7F3ABF6CD2EF4F3CF2BEF593F4A0319D41BF376?api-version=2026-03-01-preview&t=639213034565797591&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA[...]
