interactions:
- request:
    body: '{"properties": {"parameters": {"ResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002"},
      "solutionId": "e104dbdf-9e14-4c9f-bc78-21ac90382231"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/troubleshooters/d28c0305-6fd2-4467-bea7-135cb5fd1871?api-version=2024-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/troubleshooters/d28c0305-6fd2-4467-bea7-135cb5fd1871","name":"d28c0305-6fd2-4467-bea7-135cb5fd1871","type":"Microsoft.Help/troubleshooters","properties":{"provisioningState":"AutoContinue","solutionId":"e104dbdf-9e14-4c9f-bc78-21ac90382231","steps":[{"id":"f8155061-c3a4-4963-a0c5-b7b9aeb9dfdc","title":"Intro
        Step","type":"Decision","executionStatus":"Success","isLastStep":false,"inputs":[{"questionId":"0","questionType":"MultiLineInfoBox","questionContent":"{\"title\":\"Connectivity
        Guided Troubleshooter\",\"content\":\"This guided troubleshooter will enable
        you to self-troubleshoot your Virtual Machine (VM) SSH issues by checking
        VM health state, network settings, CPU and memory usage, etc. It typically
        takes between 3 to 5 minutes to complete the flow.\"}","questionContentType":"Text"}]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/troubleshooters/d28c0305-6fd2-4467-bea7-135cb5fd1871?api-version=2024-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/c[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/troubleshooters/d28c0305-6fd2-4467-bea7-135cb5fd1871/end?api-version=2024-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/troubleshooters/d28c0305-6fd2-4467-bea7-135cb5fd1871/restart?api-version=2024-03-01-preview
  response:
    body:
      string: '{"troubleshooterResourceName":"350e8e77-f693-4fbf-b7b2-109f0601d7cc"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"responses": [], "stepId": "f8155061-c3a4-4963-a0c5-b7b9aeb9dfdc"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/troubleshooters/d28c0305-6fd2-4467-bea7-135cb5fd1871/continue?api-version=2024-03-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
