interactions:
- request:
    body: '{"parameters": {"SearchText": "CanNotRDP", "SymptomId": "KeyVaultVaultNotFoundInsight"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/solutions/cli_test000003/warmup?api-version=2024-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 204
      message: No Content
- request:
    body: '{"properties": {"parameters": {"SearchText": "CanNotRDP", "SymptomId":
      "KeyVaultVaultNotFoundInsight"}, "triggerCriteria": [{"name": "SolutionId",
      "value": "apollo-cognitve-search-custom-skill"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/solutions/cli_test000003?api-version=2024-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/solutions/cli_test000003","name":"cli_test000003","type":"Microsoft.Help/Solutions","properties":{"title":"Issue
        getting a custom skill to work","content":"<h2>Resolve issues with a custom
        skill not working with Cognitive Search</h2>\n<p>Building a custom skill gives
        you a way to insert transformations unique to your content. A custom skill
        executes independently, applying whatever enrichment step you require. For
        example, you could build custom classification models to differentiate business
        and financial contracts and documents, or add a speech recognition skill to
        reach deeper into audio files for relevant content.</p>\n<p>If you''re experiencing
        issues with a custom skill not working with Cognitive Search, use the following
        guidance to help resolve your issues.</p>\n<h3>Troubleshooting steps</h3>\n<p>If
        you are having trouble with a custom skill, ensure that:</p>\n<ol>\n<li>Your
        skill works with a REST client.</li>\n<li>The custom skill meets the <a href=\"https://docs.microsoft.com/azure/search/cognitive-search-custom-skill-interface\">custom
        skill interface guidelines</a>.</li>\n<li>All indexer run errors and warnings
        are resolved.</li>\n<li><a href=\"https://docs.microsoft.com/azure/search/cognitive-search-create-custom-skill-example\">The
        skillset definition of the custom skill is valid</a>.</li>\n<li>The input
        data matches the schema of your target index. For more information, see <a
        href=\"https://docs.microsoft.com/azure/search/search-indexer-field-mappings\">Field
        mappings and transformations using Azure Cognitive Search indexers</a>.</li>\n<li>You
        use <a href=\"https://docs.microsoft.com/azure/search/cognitive-search-debug-session\">debug
        sessions</a> to identify and resolve errors, validate changes, and push changes
        to a production skillset in the AI enrichment pipeline.</li>\n</ol>\n<h3>Resources</h3>\n<ul>\n<li><a
        href=\"https://docs.microsoft.com/azure/search/cognitive-search-custom-skill-interface\">How
        to add a custom skill to a cognitive search pipeline</a></li>\n</ul>\n<h3>Relevant
        results from the web</h3>\n<!--7a365ebd-fbe2-4ff6-8c3c-cfaf82ca9f7f-->\n","replacementMaps":{"webResults":[{"searchResults":[],"replacementKey":"<!--7a365ebd-fbe2-4ff6-8c3c-cfaf82ca9f7f-->"}]},"sections":[],"solutionId":"apollo-cognitve-search-custom-skill","provisioningState":"Succeeded"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Help/Solutions/cli_test000003/operationResults/53d11f66-6ccc-4bc4-97c4-379383401c7d?api-version=2024-03-01-preview&t=638483713623530892&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Help/Solutions/cli_test000003/operationResults/53d11f66-6ccc-4bc4-97c4-379383401c7d?api-version=2024-03-01-preview&t=638483713623530892&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1Nj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Help/Solutions/cli_test000003/operationResults/de16d08e-5c33-4490-819f-abc5f827158c?api-version=2024-03-01-preview&t=638483713640272480&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1Nj[...]
[...]
