interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/discoverySolutions?$filter=ProblemClassificationId%20eq%20%2700000000-0000-0000-0000-000000000000%27&api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Help/discoverySolutions/00000000-0000-0000-0000-000000000000","name":"00000000-0000-0000-0000-000000000000","type":"Microsoft.Help/discoverySolutions","properties":{"solutions":[{"solutionId":"StorageFailureTransactionInsight","solutionType":"Diagnostics","description":"Analyze
        storage failure transaction details","requiredInputs":["SapId","ResourceUri"]}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
