interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Help/discoverySolutions?$filter=ProblemClassificationId%20eq%20%2700000000-0000-0000-0000-000000000000%27&api-version=2024-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Help/discoverySolutions/00000000-0000-0000-0000-000000000000","name":"00000000-0000-0000-0000-000000000000","type":"Microsoft.Help/discoverySolutions","properties":{"solutions":[{"solutionId":"StorageFailureTransactionInsight","solutionType":"Diagnostics","description":"Analyze
        storage failure transaction details","requiredInputs":["SapId","ResourceUri"]}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"IssueSummary": "I am not able to make rdp connection to the virtual machine",
      "ServiceId": "6f16735c-b0ae-b275-ad3a-03479cfa1396"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Help/discoverSolutions?api-version=2024-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Help/discoverSolutions/92c2396d-b703-973f-1bca-2eea9425b21a","name":"92c2396d-b703-973f-1bca-2eea9425b21a","type":"Microsoft.Help/discoverSolutions","properties":{"problemClassificationId":"/providers/Microsoft.Support/services/6f16735c-b0ae-b275-ad3a-03479cfa1396/problemClassifications/92c2396d-b703-973f-1bca-2eea9425b21a","problemTitle":"Failure
        to connect using RDP or SSH port","problemDescription":"Resolve issues related
        to connecting via RDP or SSH not covered by other support topics","serviceId":"/providers/Microsoft.Support/services/6f16735c-b0ae-b275-ad3a-03479cfa1396","solutions":[{"solutionId":"1eee39b5-9658-4d27-bae9-131ce7cd47b0","solutionType":"SelfHelp","description":"Resolve
        connectivity issues with your Windows VM","requiredInputs":[]}]}},{"id":"/providers/Microsoft.Help/discoverSolutions/923d6b56-d573-f943-b65d-d69ba79ea21a","name":"923d6b56-d573-f943-b65d-d69ba79ea21a","type":"Microsoft.Help/discoverSolutions","properties":{"problemClassificationId":"/providers/Micro[...]
- request:
    body: '{"IssueSummary": "I am not able to make rdp connection to the virtual machine",
      "ServiceId": "6f16735c-b0ae-b275-ad3a-03479cfa1396"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Help/discoverSolutions?api-version=2024-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5[...]
