interactions:
- request:
    body: '{"location": "eastasia", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "mySubnet", "properties": {"addressPrefix": "10.0.2.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet?api-version=2022-01-01
  response:
    body:
      string: '{"name":"myVnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet","etag":"W/\"b8f3c569-19d4-41f6-9b4e-7046dabc3f5a\"","type":"Microsoft.Network/virtualNetworks","location":"eastasia","properties":{"provisioningState":"Updating","resourceGuid":"f90eee5c-02d2-4eee-8de9-91e251d7e580","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"mySubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet","etag":"W/\"b8f3c569-19d4-41f6-9b4e-7046dabc3f5a\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.2.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastasia/operations/fc73298d-1244-473f-80c9-99fef40f48e7?api-version=2022-01-01&t=638603254331652144&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastasia/operations/fc73298d-1244-473f-80c9-99fef40f48e7?api-version=2022-01-01&t=638603254331652144&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet?api-version=2022-01-01
  response:
    body:
      string: '{"name":"myVnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet","etag":"W/\"bb7adbb4-9a77-4631-8d81-43cc2ec41e25\"","type":"Microsoft.Network/virtualNetworks","location":"eastasia","properties":{"provisioningState":"Succeeded","resourceGuid":"f90eee5c-02d2-4eee-8de9-91e251d7e580","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"mySubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet","etag":"W/\"bb7adbb4-9a77-4631-8d81-43cc2ec41e25\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.2.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb7adbb4-9a77-4631-8d81-43cc2ec41e25"
    status:
      code: 200
      message: ''
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\
      \n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\"\
      ,\r\n  \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"osDiskType\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Premium_LRS\"\
      \r\n    },\r\n    \"addressPrefixes\": {\r\n      \"type\": \"Array\",\r\n \
      \     \"defaultValue\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n\
      \    \"subnets\": {\r\n      \"type\": \"Array\",\r\n      \"defaultValue\"\
      : [\r\n        {\r\n          \"name\": \"default\",\r\n          \"properties\"\
      : {\r\n            \"addressPrefix\": \"10.0.0.0/20\"\r\n          }\r\n   \
      \     }\r\n      ]\r\n    },\r\n    \"virtualNetworkName\": {\r\n      \"type\"\
      : \"String\",\r\n      \"defaultValue\": \"standbypool-test-vnet\"\r\n    },\r\
      \n    \"vmName\": {\r\n      \"type\": \"String\",\r\n      \"defaultValue\"\
      : \"standbypoolvm\"\r\n    },\r\n    \"virtualMachineScaleSetName\": {\r\n \
      \     \"type\": \"String\",\r\n      \"defaultValue\": \"myVMSS\"\r\n    },\r\
      \n    \"singlePlacementGroup\": {\r\n      \"type\": \"String\",\r\n      \"\
      defaultValue\": \"false\"\r\n    },\r\n    \"instanceCount\": {\r\n      \"\
      type\": \"String\",\r\n      \"defaultValue\": \"0\"\r\n    },\r\n    \"instanceSize\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Standard_DS1_v2\"\
      \r\n    },\r\n    \"adminUsername\": {\r\n      \"type\": \"String\",\r\n  \
      \    \"defaultValue\": \"azureuser\"\r\n    },\r\n    \"platformFaultDomainCount\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"1\"\r\n    },\r\
      \n    \"maxReadyCapacity\": {\r\n      \"type\": \"String\",\r\n      \"defaultValue\"\
      : \"2\"\r\n    }\r\n  },\r\n  \"variables\": {\r\n    \"storageApiVersion\"\
      : \"2019-06-01\",\r\n    \"networkApiVersion\": \"2020-11-01\",\r\n    \"virtualMachineScaleSetApiVersion\"\
      : \"2022-03-01\",\r\n    \"namingInfix\": \"[toLower(substring(concat(parameters('virtualMachineScaleSetName'),\
      \ uniqueString(resourceGroup().id)), 0, 9))]\",\r\n    \"location\": \"[resourceGroup().location]\"\
      ,\r\n    \"virtualNetworkId\": \"[resourceId('Microsoft.Network/virtualNetworks',\
      \ 'standbypool-test-vnet')]\",\r\n    \"subnetId\": \"[resourceId('Microsoft.Network/virtualNetworks/subnets',\
      \ parameters('virtualNetworkName'), 'default')]\",\r\n    \"nsgId\": \"[resourceId('Microsoft.Network/networkSecurityGroups',\
      \ 'basicNsgstandbypool-test-vnet-nic01')]\"\r\n  },\r\n  \"resources\": [\r\n\
      \    {\r\n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"\
      apiVersion\": \"2021-01-01\",\r\n      \"name\": \"[parameters('virtualNetworkName')]\"\
      ,\r\n      \"location\": \"[variables('location')]\",\r\n      \"properties\"\
      : {\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": \"[parameters('addressPrefixes')]\"\
      \r\n        },\r\n        \"subnets\": \"[parameters('subnets')]\"\r\n     \
      \ }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Network/networkSecurityGroups\"\
      ,\r\n      \"apiVersion\": \"2019-02-01\",\r\n      \"name\": \"basicNsgstandbypool-test-vnet-nic01\"\
      ,\r\n      \"location\": \"[variables('location')]\",\r\n      \"properties\"\
      : {\r\n        \"securityRules\": []\r\n      },\r\n      \"copy\": {\r\n  \
      \      \"name\": \"networkSecurityGroups\",\r\n        \"count\": 1\r\n    \
      \  }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets\"\
      ,\r\n      \"apiVersion\": \"[variables('virtualMachineScaleSetApiVersion')]\"\
      ,\r\n      \"name\": \"[parameters('virtualMachineScaleSetName')]\",\r\n   \
      \   \"location\": \"[variables('location')]\",\r\n      \"dependsOn\": [\r\n\
      \        \"[concat('Microsoft.Network/virtualNetworks/', parameters('virtualNetworkName'))]\"\
      ,\r\n        \"networkSecurityGroups\",\r\n        \"[concat('Microsoft.Network/virtualNetworks/',\
      \ parameters('virtualNetworkName'))]\"\r\n      ],\r\n      \"sku\": {\r\n \
      \       \"name\": \"[parameters('instanceSize')]\",\r\n        \"capacity\"\
      : \"[int(parameters('instanceCount'))]\"\r\n      },\r\n      \"properties\"\
      : {\r\n        \"singlePlacementGroup\": \"[parameters('singlePlacementGroup')]\"\
      ,\r\n        \"virtualMachineProfile\": {\r\n          \"storageProfile\": {\r\
      \n            \"osDisk\": {\r\n              \"createOption\": \"fromImage\"\
      ,\r\n              \"caching\": \"ReadWrite\",\r\n              \"managedDisk\"\
      : {\r\n                \"storageAccountType\": \"[parameters('osDiskType')]\"\
      \r\n              }\r\n            },\r\n            \"imageReference\": {\r\
      \n              \"publisher\": \"canonical\",\r\n              \"offer\": \"\
      0001-com-ubuntu-server-focal\",\r\n              \"sku\": \"20_04-lts-gen2\"\
      ,\r\n              \"version\": \"latest\"\r\n            }\r\n          },\r\
      \n          \"networkProfile\": {\r\n            \"networkApiVersion\": \"[variables('networkApiVersion')]\"\
      ,\r\n            \"copy\": [\r\n              {\r\n                \"name\"\
      : \"networkInterfaceConfigurations\",\r\n                \"count\": 1,\r\n \
      \               \"input\": {\r\n                  \"name\": \"standbypool-test-vnet-nic01\"\
      ,\r\n                  \"properties\": {\r\n                    \"primary\"\
      : true,\r\n                    \"enableAcceleratedNetworking\": false,\r\n \
      \                   \"ipConfigurations\": [\r\n                      {\r\n \
      \                       \"name\": \"standbypool-test-vnet-nic01-defaultIpConfiguration\"\
      ,\r\n                        \"properties\": {\r\n                         \
      \ \"subnet\": {\r\n                            \"id\": \"[variables('subnetId')]\"\
      \r\n                          },\r\n                          \"primary\": true,\r\
      \n                          \"applicationGatewayBackendAddressPools\": [],\r\
      \n                          \"loadBalancerBackendAddressPools\": [],\r\n   \
      \                       \"publicIPAddressConfiguration\": {\r\n            \
      \                \"name\": \"publicIp-standbypool-test-vnet-nic01\",\r\n   \
      \                         \"properties\": {\r\n                            \
      \  \"idleTimeoutInMinutes\": 15\r\n                            }\r\n       \
      \                   }\r\n                        }\r\n                     \
      \ }\r\n                    ],\r\n                    \"networkSecurityGroup\"\
      : \"[if( equals( variables('nsgId'), ''), json('null'),json(concat('{\\\"id\\\
      \": \\\"', variables('nsgId'), '\\\"}')))]\"\r\n                  }\r\n    \
      \            }\r\n              }\r\n            ]\r\n          },\r\n     \
      \     \"osProfile\": {\r\n            \"computerNamePrefix\": \"[variables('namingInfix')]\"\
      ,\r\n            \"adminUsername\": \"[parameters('adminUsername')]\",\r\n \
      \           \"linuxConfiguration\": {\r\n              \"disablePasswordAuthentication\"\
      : true,\r\n              \"ssh\": {\r\n                \"publicKeys\": [\r\n\
      \                  {\r\n                    \"path\": \"[concat('/home/', parameters('adminUsername'),\
      \ '/.ssh/authorized_keys')]\",\r\n                    \"keyData\": \"ssh-rsa\
      \ AAAAB3NzaC1yc2EAAAABJQAAAQEAgWlCDy4PkEECtiwv+OJGviDoFT/xx6J0q667Voh6PUd2UtoGCSGxHZnO3dc19RAE3svGb4V1D07ucTtzQuDW0r5/BJIflTShF83ttcffCzs5tq3AjyyjDs0F0gxeT64daGAnofBVHaXGZ8WHOOxRoDZG1SWZYTGw7xA1Rg8lKPDvBX0U0sQMP+9ADtsrFAQAtSZjjsQUbcdEP6sJ7o/Snkwxax1+X1mrHNzV+Lqpnrw1aIzAnoU4JzGRCPKiRL0f/ppZUrlHnc+PZ8xhUZ0tlh8PMOtLqkH9mcW5C0TlXw/sRvzQlX/Mf31Hx/HyrnzuuhtvXA4w268VFpJvYX7eyw==\
      \ rsa-key-20181219\"\r\n                  }\r\n                ]\r\n       \
      \       }\r\n            },\r\n            \"customData\": \"ZWNobyAiSGVsbG8gd29ybGQi\"\
      \r\n          }\r\n        },\r\n        \"orchestrationMode\": \"Flexible\"\
      ,\r\n        \"platformFaultDomainCount\": \"[parameters('platformFaultDomainCount')]\"\
      \r\n      }\r\n    }\r\n  ],\r\n  \"outputs\": {\r\n    \"adminUsername\": {\r\
      \n      \"type\": \"String\",\r\n      \"value\": \"[parameters('adminUsername')]\"\
      \r\n    }\r\n  }\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/myVMSS","name":"myVMSS","type":"Microsoft.Resources/deployments","properties":{"templateHash":"15103121632394548372","parameters":{"osDiskType":{"type":"String","value":"Premium_LRS"},"addressPrefixes":{"type":"Array","value":["10.0.0.0/16"]},"subnets":{"type":"Array","value":[{"name":"default","properties":{"addressPrefix":"10.0.0.0/20"}}]},"virtualNetworkName":{"type":"String","value":"standbypool-test-vnet"},"vmName":{"type":"String","value":"standbypoolvm"},"virtualMachineScaleSetName":{"type":"String","value":"myVMSS"},"singlePlacementGroup":{"type":"String","value":"false"},"instanceCount":{"type":"String","value":"0"},"instanceSize":{"type":"String","value":"Standard_DS1_v2"},"adminUsername":{"type":"String","value":"azureuser"},"platformFaultDomainCount":{"type":"String","value":"1"},"maxReadyCapacity":{"type":"String","value":"2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"06b9c852-7629-45af-91c6-7d979a05412a","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"networkSecurityGroups","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/standbypool-test-vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"standbypool-test-vnet"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/basicNsgstandbypool-test-vnet-nic01","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"basicNsgstandbypool-test-vnet-nic01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"myVMSS"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/standbypool-test-vnet"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/basicNsgstandbypool-test-vnet-nic01"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\
      \n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\"\
      ,\r\n  \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"osDiskType\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Premium_LRS\"\
      \r\n    },\r\n    \"addressPrefixes\": {\r\n      \"type\": \"Array\",\r\n \
      \     \"defaultValu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584768782342149711?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_standby_virtual_machine_pool_scenarios","date":"2024-08-27T03:17:08Z","module":"standbypool"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"attachedVirtualMachineScaleSetId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS",
      "elasticityProfile": {"maxReadyCapacity": 3, "minReadyCapacity": 3}, "virtualMachineState":
      "Running"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool","name":"testPool","type":"microsoft.standbypool/standbyvirtualmachinepools","location":"eastus","systemData":{"createdBy":"dev@microsoft.com","createdByType":"User","createdAt":"2024-08-27T03:18:06.6708837Z","lastModifiedBy":"dev@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-27T03:18:06.6708837Z"},"properties":{"attachedVirtualMachineScaleSetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS","elasticityProfile":{"maxReadyCapacity":3,"minReadyCapacity":3},"virtualMachineState":"Running","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100f15f-0000-0600-0000-66cd456f0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool/runtimeViews/latest?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool/runtimeViews/latest","name":"latest","type":"Microsoft.StandbyPool/standbyVirtualMachinePools/runtimeViews","properties":{"instanceCountSummary":[{"instanceCountsByState":[{"state":"Creating","count":3},{"state":"Starting","count":0},{"state":"Running","count":0},{"state":"Deallocating","count":0},{"state":"Deallocated","count":0},{"state":"Deleting","count":0}]}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2024-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool","name":"testPool","type":"microsoft.standbypool/standbyvirtualmachinepools","location":"eastus","systemData":{"createdBy":"dev@microsoft.com","createdByType":"User","createdAt":"2024-08-27T03:18:06.6708837Z","lastModifiedBy":"dev@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-27T03:18:06.6708837Z"},"properties":{"attachedVirtualMachineScaleSetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS","elasticityProfile":{"maxReadyCapacity":3,"minReadyCapacity":3},"virtualMachineState":"Running","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2024-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/kubhardwaj-euap-rg/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/test-kb-pool","name":"test-kb-pool","type":"microsoft.standbypool/st[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StandbyPool/locations/EASTUS/operationStatuses/9aec41b4-2c29-4e28-8f46-b93b8d6843f5*16AB80A42C650856FC4135535DE9B689BD19A59250B100123315713EE4C17B33?api-version=2024-03-01&t=638603254927462605&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDE[...]
[...]
