interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27westus2%27%20and%20resourceType%20eq%20%27Microsoft.Quantum%2FWorkspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aqua-testing-westus2/providers/Microsoft.Quantum/Workspaces/frtibble-demo-2","name":"frtibble-demo-2","type":"Microsoft.Quantum/Workspaces","location":"westus2","identity":{"principalId":"2213768a-aa6c-4949-b3d7-f5d434e1e088","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"createdTime":"2021-07-06T17:05:57.3048486Z","changedTime":"2021-07-27T05:47:10.0507963Z","provisioningState":"Succeeded","tags":{},"systemData":{"createdBy":"frtibble@microsoft.com","createdByType":"User","createdAt":"2021-07-06T17:05:58.7257667Z","lastModifiedBy":"a77d91dc-971b-4cf7-90c8-f183194249bc","lastModifiedByType":"Application","lastModifiedAt":"2021-07-06T17:06:13.5957969Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aqua-testing-westus2/providers/Microsoft.Quantum/Workspaces/frtibble-demo-workspace","name":"frtibble-demo-workspace","type":"Microsoft.Quantum/Workspaces","location":"westus2","identity":{"principalId":"290848fd-da74-4115-958f-a9c11f48a163","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"createdTime":"2021-07-13T12:38:19.4032686Z","changedTime":"2021-07-27T05:47[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=location+eq+%27westus2%27+and+resourceType+eq+%27Microsoft.Quantum%2FWorkspaces%27&%24expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGJ3WHBjSUFBQndEdz09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo3I0ZQQzpBZ2hkSWdBQXdEMEFBRkE4QUFEQVBRQUFYU0lBQU1BOUF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Quantum%2FWorkspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testalias-e2e-tests-eastus2euap-rg/providers/Microsoft.Quantum/Workspaces/ws-195818[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-qsharp-tests?api-version=2019-11-04-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-qsharp-tests","name":"e2e-qsharp-tests","type":"microsoft.quantum/workspaces","location":"westus2","tags":{},"systemData":{"createdBy":"anpaz@microsoft.com","createdByType":"User","createdAt":"2021-04-13T19:10:58.0366776Z","lastModifiedBy":"a77d91dc-971b-4cf7-90c8-f183194249bc","lastModifiedByType":"Application","lastModifiedAt":"2021-08-09T22:52:06.6450832Z"},"identity":{"principalId":"0dbdbf52-26d4-470c-9234-bfa298dcda68","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"Microsoft","providerSku":"Basic","applicationName":"e2e-qsharp-tests-Microsoft","provisioningState":"Succeeded"},{"providerId":"ionq","providerSku":"ionq-standard","applicationName":"e2e-qsharp-tests-ionq","provisioningState":"Succeeded"},{"providerId":"1qbit","providerSku":"1qbit-internal-free-plan","applicationName":"e2e-qsharp-tests-1qbit","provisioningState":"Succeeded"},{"providerId":"toshiba","providerSku":"toshiba-solutionseconds","applicationName":"e2e-qsharp-tests-toshiba","provisioningState":"Succeeded","resourceUsageId":"528149b6-fc29-4fcc-8cd6-c4cf345af146"},{"providerId":"honeywell","providerSku":"test1","applicationName":"e2e-qsharp-tests-honeywell","provisioningState":"Succeeded","resourceUsageId":"6d1769a8-a82e-4e5e-b1c8-1585dfa15467"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","endpointUri":"https://e2e-qsharp-tests.westus2.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000088b0-0000-0800-0000-6111b1970000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
