interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"azure-quantum-qc\",\"name\":\"Azure Quantum Computing\",\"properties\":{\"description\":\"Azure
        quantum computing resources.\",\"providerType\":\"qe\",\"company\":\"Microsoft\",\"managedApplication\":{\"publisherId\":\"N/A\",\"offerId\":\"N/A\"},\"targets\":[{\"id\":\"azure-quantum.qpu.m1\",\"name\":\"azure-quantum.qpu.m1\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.m2\",\"name\":\"azure-quantum.qpu.m2\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test1\",\"name\":\"azure-quantum.qpu.test1\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test2\",\"name\":\"azure-quantum.qpu.test2\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test3\",\"name\":\"azure-quantum.qpu.test\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test4\",\"name\":\"azure-quantum.qpu.test4\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test5\",\"name\":\"azure-quantum.qpu.test5\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test6\",\"name\":\"azure-quantum.qpu.test6\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]}],\"skus\":[{\"id\":\"Basic\",\"version\":\"1.0\",\"name\":\"Internal
        Testing\",\"description\":\"Private preview access for Azure Quantum hardware.\",\"autoAdd\":false,\"targets\":[\"azure-quantum.qpu.m1\",\"azure-quantum.qpu.m2\",\"azure-quantum.qpu.test1\",\"azure-quantum.qpu.test2\",\"azure-quantum.qpu.test3\",\"azure-quantum.qpu.test4\",\"azure-quantum.qpu.test5\",\"azure-quantum.qpu.test6\"],\"pricingDetails\":[{\"id\":\"feature\",\"value\":\"No
        prices, just space reservation.\"}]}],\"pricingDimensions\":[{\"id\":\"feature\",\"name\":\"Features\"}]}},{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum compu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/aqt-pay-as-you-go-cred-new/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/aqt-pay-as-you-go-cred-new/agreements/current","name":"aqt-pay-as-you-go-cred-new","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"ionqinc1582730893633","product":"ionq-aq","plan":"aqt-pay-as-you-go-cred-new","licenseTextLink":"https://storeordersprodsn.blob.core.windows.net/legalterms/3E5ED_legalterms_IONQINC1582730893633%253a24IONQ%253a2DAQ%253a24AQT%253a2DPAY%253a2DAS%253a2DYOU%253a2DGO%253a2DCRED%253a2DNEW%253a24E2ZUF2HJWJ73ZH45YY7DHFB2GOJUYTRMNEGZQTGWNMRNGLQ2UZGTBIJJ2UH7N45BVUG35NC5YPFZF6YRNVRZOQJYWIULSQ3AXWNAWQQ.txt","privacyPolicyLink":"https://ionq.com/privacy","marketplaceTermsLink":"https://storeordersprodsn.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2025-03-04T22:51:11.3089261Z","signature":"ZH2TKJBZI7OGQNHJ56R5IKMCPIUDHTBBCIRNWYH3KYNWAYC73F6OOXHIRI47STNF4XVTRI476N4ER4K5V4V5Z7FK3SWFWW3JITPPBIQ","accepted":true},"systemData":{"createdBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","createdByType":"ManagedIdentity","createdAt":"2025-03-04T22:51:11.3714722+00:00","lastModifiedBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2025-03-04T22:51:11.3714722+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/pasqal1672665369086/offers/pasqalcloudservices-privatepreview-aq/plans/pasqal-aq-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/quantinuumllc1640113159771/offers/quantinuum-aq/plans/credits1/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/q[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-quantum-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/pub[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts?api-version=2023-05-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests","name":"e2eqsharptests","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-01-31T00:37:08.2395289Z","key2":"2025-01-31T00:37:08.2395289Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-01-31T00:37:08.2395289Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-01-31T00:37:08.2395289Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-01-31T00:37:08.1145280Z","primaryEndpoints":{"blob":"https://e2eqsharptests.blob.core.windows.net/","queue":"https://e2eqsharptests.queue.core.windows.net/","table":"https://e2eqsharptests.table.core.windows.net/","file":"https://e2eqsharptests.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptestsgrs","name":"e2eqsharptestsgrs","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-01-31T01:25:54.5294979Z","key2":"2025-01-31T01:25:54.5294979Z"},"allowCrossTenantReplication":false,"privateEndpointConnection[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''17d1049b-9a84-46fb-8f53-869881c3d3ab'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w3162266"}, "location": {"value":
      "westus"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "Microsoft.ChemistryHpc",
      "providerSku": "Basic"}, {"providerId": "ionq", "providerSku": "aqt-pay-as-you-go-cred-new"},
      {"providerId": "microsoft-elements", "providerSku": "elements-internal-testing"},
      {"providerId": "pasqal", "providerSku": "pasqal-aq-credits"}, {"providerId":
      "quantinuum", "providerSku": "credits1"}, {"providerId": "rigetti", "providerSku":
      "azure-quantum-credits"}]}, "storageAccountName": {"value": "e2eqsharptests"},
      "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"},
      "storageAccountLocation": {"value": "westus"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "Storage"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-04-Mar-2025-22-51-22"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w3162266","name":"Microsoft.AzureQuantum-e2e-test-w3162266","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8780732195960594757","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w3162266"},"location":{"type":"String","value":"westus"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"Microsoft.ChemistryHpc","providerSku":"Basic"},{"providerId":"ionq","providerSku":"aqt-pay-as-you-go-cred-new"},{"providerId":"microsoft-elements","providerSku":"elements-internal-testing"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits"},{"providerId":"quantinuum","providerSku":"credits1"},{"providerId":"rigetti","providerSku":"azure-quantum-credits"}]},"storageAccountName":{"type":"String","value":"e2eqsharptests"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"},"storageAccountLocation":{"type":"String","value":"westus"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"Storage"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-04-Mar-2025-22-51-22"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-03-04T22:51:21.3666674Z","duration":"PT1.0866412S","correlationId":"2f2d9ec1-2990-4d79-a9da-1d0bef6c76cc","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/Workspaces/e2e-test-w3162266","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w3162266"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w3162266","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w3162266","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-04-Mar-2025-22-51-22","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-04-Mar-2025-22-51-22"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w3162266/operationStatuses/08584604782041102638?api-version=2022-09-01&t=638767254830854545&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584604782041102638?api-version=2022-09-01&t=638767254830854545&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w3162266/providerStatus?api-version=2024-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"Microsoft.ChemistryHpc","currentAvailability":"Unavailable","targets":[{"id":"microsoft.hpc","currentAvailability":"Unavailable","averageQueueTime":0,"statusPage":null}]},{"id":"ionq","currentAvailability":"Available","targets":[{"id":"ionq.qpu.aria-1","currentAvailability":"Available","averageQueueTime":0,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-2","currentAvailability":"Unavailable","averageQueueTime":0,"statusPage":"https://status.ionq.co"},{"id":"ionq.simulator","currentAvailability":"Available","averageQueueTime":1,"statusPage":"https://status.ionq.co"}]},{"id":"microsoft-elements","currentAvailability":"Available","targets":[{"id"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w3162266?api-version=2023-11-13-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Quantum/locations/WESTUS/operationStatuses/a6af6ce7-acb7-4b09-97b2-8c2f8bcb1e0d*7BCC7E1447D1FEA81[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w3162266?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w3162266","name":"e2e-test-w3162266","type":"microsoft.quantum/workspaces","location":"westus","tags":{},"systemData":{"createdBy":"v-warrjones@microsoft.com","createdByType":"User","createdAt":"2025-03-04T22:51:26.5111983Z","lastModifiedBy":"v-warrjones@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-04T22:51:26.5111983Z"},"identity":{"principalId":"ee166e09-6cab-4488-85e1-e65b5409a8f2","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"Microsoft.ChemistryHpc","providerSku":"Basic","applicationName":"e2e-test-w3162266-Microsoft.ChemistryHpc","provisioningState":"Succeeded"},{"providerId":"ionq","providerSku":"aqt-pay-as-you-go-cred-new","applicationName":"e2e-test-w3162266-ionq","provisioningState":"Succeeded","resourceUsageId":"4f99fb3d-f844-42e1-96d4-700a8e332cb3"},{"providerId":"microsoft-elements","providerSku":"elements-internal-testing","applicationName":"e2e-test-w3162266-microsoft-elements","provisioningState":"Succeeded"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits","applicationName":"e2e-test-w3162266-pasqal","provisioningState":"Succeeded","resourceUsageId":"7d1d7752-48bc-454a-8ac1-9fe4e810e8af"},{"providerId":"quantinuum","providerSku":"credits1","applicationName":"e2e-test-w3162266-quantinuum","provisioningState":"Succeeded","resourceUsageId":"7daaafbf-5681-4123-8cac-7b9a0d5443d2"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w3162266-rigetti","provisioningState":"Succeeded","resourceUsageId":"4dcfe3a7-958c-4ea2-a82b-63df36dd087f"}],"provisioningState":"Deleting","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests","apiKeyEnabled":false,"endpointUri":"https://e2e-test-w3162266.westus.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b903c11e-0000-0700-0000-67c785970000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
