interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sdk-test-rg/providers/Microsoft.Quantum/workspaces/azure-sdk-test-aqw?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sdk-test-rg/providers/Microsoft.Quantum/Workspaces/azure-sdk-test-aqw","name":"azure-sdk-test-aqw","type":"microsoft.quantum/workspaces","location":"eastus","tags":{},"systemData":{"createdBy":"vitorcia@microsoft.com","createdByType":"User","createdAt":"2022-01-14T15:34:05.6734882Z","lastModifiedBy":"victorxfield@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-19T14:06:11.4029308Z"},"identity":{"principalId":"5fcc58df-a5bb-4c11-9942-2366542ff597","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"Microsoft","providerSku":"Basic","applicationName":"azure-sdk-test-aqw-Microsoft","provisioningState":"Succeeded"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred","applicationName":"azure-sdk-test-aqw-ionq","provisioningState":"Succeeded","resourceUsageId":"64a30010-d26b-44d3-ac7b-8407a8c0cdcd"},{"providerId":"quantinuum","providerSku":"test1","applicationName":"azure-sdk-test-aqw-quantinuum","provisioningState":"Succeeded","resourceUsageId":"d483932a-d36b-4af2-a19b-5005cdec35d7"},{"providerId":"honeywell","providerSku":"test1","applicationName":"azure-sdk-test-aqw-honeywell","provisioningState":"Succeeded","resourceUsageId":"240e9fbe-1b14-410d-80f7-234acd47f783"},{"providerId":"rigetti","providerSku":"rigetti-private-beta-metered","applicationNam[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sdk-test-rg/providers/Microsoft.Quantum/workspaces/azure-sdk-test-aqw/providerStatus
  response:
    body:
      string: '{"value":[{"id":"ionq","currentAvailability":"Degraded","targets":[{"id":"ionq.qpu","currentAvailability":"Unavailable","averageQueueTime":374279,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-1","currentAvailability":"Available","averageQueueTime":22655,"statusPage":"https://status.ionq.co"},{"id":"ionq.simulator","currentAvailability":"Available","averageQueueTime":3,"statusPage":"https://status.ionq.co"}]},{"id":"quantinuum","currentAvailability":"Degraded","targets":[{"id":"quantinuum.hqs-lt-s1","currentAvailability":"Available","averageQueueTime":274493,"statusPage":"https://www.quantinuum.com/hardware/h1"},{"id":"quantinuum.hqs-lt-s[...]
