interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus/offerings?api-version=2022-01-10-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu\",\"name\":\"Trapped
        Ion Quantum Computer\",\"description\":\"IonQ's quantum computer is dynamically
        reconfigurable in software to use up to 11 qubits. All qubits are fully connected,
        meaning you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 23 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum computer is dynamically reconfigurable
        in software to use up to 23 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"pay-as-you-go-cred\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":true,\"targets\":[\"ionq.qpu\",\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"qgs\",\"scope\":\"Subscription\"}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (23 qubits)</a><br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Harmony
        Trapped Ion QC (11 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth
        of IonQ compute, unless you have received an additional <a href=\\\"https://aka.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","name":"e2etests","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2023-12-08T03:08:26.9714695Z","key2":"2023-12-08T03:08:30.3308601Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-13T19:13:16.5082330Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-13T19:13:16.5082330Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-04-13T19:13:16.3988354Z","primaryEndpoints":{"blob":"https://e2etests.blob.core.windows.net/","queue":"https://e2etests.queue.core.windows.net/","table":"https://e2etests.table.core.windows.net/","file":"https://e2etests.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etestsgrs","name":"e2etestsgrs","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"defaultToOAuthAuthentication":false,"keyCreationTime":{"key1":"2022-03-14T19:40:06.3610257Z","key2":"2022-03-14T19:40:06.3610257Z"},"allowCrossTenantReplication":true,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-14T19:40:06.3610257Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-14T19:40:06.3610257Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-03-14T19:40:06.2360414Z","primaryEndpoints":{"dfs":"https://e2etestsgrs.dfs.core.windows.net/","web":"https://e2etestsgrs.z5.web.core.windows.net/","blob":"https://e2etestsgrs.blob.core.windows.net/","queue":"https://e2etestsgrs.queue.core.windows.net/","table":"https://e2etestsgrs.table.core.windows.net/","file":"https://e2etestsgrs.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://e2etestsgrs-secondary.dfs.core.windows.net/","web":"https://e2etestsgrs-secondary.z5.web.core.windows.net/","blob":"https://e2etestsgrs-secondary.blob.core.windows.net/","queue":"https://e2etestsgrs-secondary.queue.core.windows.net/","table":"https://e2etestsgrs-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/st[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w3692760"}, "location": {"value":
      "westus"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "microsoft-elements",
      "providerSku": "elements-internal-testing"}]}, "storageAccountName": {"value":
      "e2etests"}, "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests"},
      "storageAccountLocation": {"value": "westus2"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "Storage"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-12-Dec-2023-08-09-20"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w3692760","name":"Microsoft.AzureQuantum-e2e-test-w3692760","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6354453805046911057","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w3692760"},"location":{"type":"String","value":"westus"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"microsoft-elements","providerSku":"elements-internal-testing"}]},"storageAccountName":{"type":"String","value":"e2etests"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests"},"storageAccountLocation":{"type":"String","value":"westus2"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"Storage"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-12-Dec-2023-08-09-20"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-12-12T08:09:22.2146305Z","duration":"PT0.0007175S","correlationId":"1a261573-a34e-4796-98ba-7608e2550f54","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-test-w3692760","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w3692760"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w3692760","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w3692760","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-12-Dec-2023-08-09-20","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-12-Dec-2023-08-09-20"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w3692760/operationStatuses/08584992383238605261?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584992383238605261?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w3692760?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w3692760","name":"e2e-test-w3692760","type":"microsoft.quantum/workspaces","location":"westus","tags":{},"systemData":{"createdBy":"kikomiss@microsoft.com","createdByType":"User","createdAt":"2023-12-12T08:09:23.8157465Z","lastModifiedBy":"kikomiss@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-12-12T08:09:23.8157465Z"},"identity":{"principalId":"edf14f6c-c6c6-48ff-8727-1d6c7c7adf66","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"microsoft-elements","providerSku":"elements-internal-testing","applicationName":"e2e-test-w3692760-microsoft-elements","provisioningState":"Succeeded"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","endpointUri":"https://e2e-test-w3692760.westus.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1c045632-0000-0700-0000-6578153e0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w3692760/providerStatus
  response:
    body:
      string: '{"value":[{"id":"microsoft-elements","currentAvailability":"Available","targets":[{"id":"microsoft.dft","currentAvailability":"Available","averageQueueTime":0,"statusPage":null}]}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 845aa70b-a35b-4475-b82e-235941467aeb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-12-08T03:08:26.9714695Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-12-08T03:08:30.3308601Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests?api-version=2023-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","name":[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 08:10:29 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:868791be-601e-0026-36d2-2cd7f5000000\nTime:2023-12-12T08:10:30.3013990Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 08:10:30 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBFAE9CE9616A6"'
      last-modified:
      - Tue, 12 Dec 2023 08:10:30 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 08:10:30 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBFAE9CE9616A6"'
      last-modified:
      - Tue, 12 Dec 2023 08:10:30 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: '60


      O       97.873900000   103.017000000   100.816000000

      H       98.128600000   103.038000000    99.848800000

      H       97.173800000   102.317000000   100.960000000

      O      100.645000000   100.169000000    95.891500000

      H      101.491000000   100.305000000    96.406200000

      H       99.888700000   100.618000000    96.367800000

      O       99.814000000   100.835000000   101.232000000

      H       99.329200000    99.976800000   101.0630[...]
- request:
    body: '{"containerUri": "https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b",
      "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
      "spe", "basisSet": {"name": "def2-svp", "cartesian": false}, "xcFunctional":
      {"name": "m06-2x", "gridLevel": 4}, "scf": {"method": "rks", "maxSteps": 100,
      "convergeThreshold": 1e-08}}]}, "providerId": "microsoft-elements", "target":
      "microsoft.dft", "outputDataFormat": "microsoft.dft-results.v1", "tags": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://westus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w3692760/jobs/2abcf5b3-2d38-4563-bbc3-e5b17566213b
  response:
    body:
      string: '{"containerUri":"https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b","inputDataUri":"https://e2etests.blob.core.windows.net:443/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b/inputData","inputDataFormat":"microsoft.xyz.v1","inputParams":{"tasks":[{"taskType":"spe","basisSet":{"name":"def2-svp","cartesian":false},"xcFunctional":{"name":"m06-2x","gridLevel":4},"scf":{"method":"rks","maxSteps":100,"convergeThreshold":1E-08}}]},"metadata":null,"sessionId":null,"status":"Waiting","jobType":"QuantumChemistry","outputDataFormat":"microsoft.dft-results.v1","outputDataUri":"https://e2etests.blob.core.windows.net:443/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b/outputData","beginExecutionTime":null,"cancellationTime":null,"quantumComputingData":null,"errorData":null,"isCancelling":false,"tags":[],"name":null,"id":"2abcf5b3-2d38-4563-bbc3-e5b17566213b","providerId":"microsoft-elements","target":"microsoft.dft","creationTime":"2023-12-12T08:10:31.1843412+00:00","endExecutionTime":null,"costEstimate":null,"itemType":"Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f231d138-05e1-4040-b6e3-1e1464cdcf44
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w3692760/jobs/2abcf5b3-2d38-4563-bbc3-e5b17566213b
  response:
    body:
      string: '{"containerUri":"https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b","inputDataUri":"https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 08:11:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b/rawOutputData?sv=2019-07-07&sr=b&sig=REDACTED&se=2023-12-16T08%3A11%3A30Z&sp=r&rscd=attachment%3B+filename%3Djob-2abcf5b3-2d38-4563-bbc3-e5b17566213b.output.json
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename=job-2abcf5b3-2d38-4563-bbc3-e5b17566213b.output.json
      content-md5:
      - nO3AhfQLTSdTbGhO3FRgCg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DBFAE9E93665EC"'
      last-modified:
      - Tue, 12 Dec 2023 08:11:15 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 12 Dec 2023 08:10:32 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 08:11:31 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://e2etests.blob.core.windows.net/quantum-job-2abcf5b3-2d38-4563-bbc3-e5b17566213b/rawOutputData?sv=2019-07-07&sr=b&sig=REDACTED&se=2023-12-16T08%3A11%3A30Z&sp=r&rscd=attachment%3B+filename%3Djob-2abcf5b3-2d38-4563-bbc3-e5b17566213b.output.json
  response:
    body:
      string: "{\n  \"results\": [\n    {\n      \"id\": null,\n      \"schema_name\":
        \"qcschema_output\",\n      \"schema_version\": 1,\n      \"molecule\": {\n
        \       \"schema_name\": \"qcschema_molecule\",\n        \"schema_version\":
        2,\n        \"validated\": true,\n        \"symbols\": [\n          \"O\",\n
        \         \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n
        \         \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n
        \         \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n
        \         \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n
        \         \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n
        \         \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n
        \         \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n
        \         \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n
        \         \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n
        \         \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n          \"H\",\n
        \         \"O\",\n          \"H\",\n          \"H\",\n          \"O\",\n          \"H\",\n
        \         \"H\",\n          \"O\",\n          \"H\",\n          \"H\"\n        ],\n
        \       \"geometry\": [\n          184.95486583,\n          194.67391627,\n
        \         190.51462906,\n          185.43617907,\n          194.71360051,\n
        \         188.68688596,\n          183.63186857,\n          193.35110798,\n
        \         190.78674963,\n          190.1914859,\n          189.29197626,\n
        \         181.20867276,\n          191.7901942,\n          189.54897901,\n
        \         182.1813148,\n          188.76228603,\n          190.14046329,\n
        \         182.108749[...]
[...]
- request:
    body: "31\r\n\r\nC 0.178137 0.023139 0.412368\r\nH 0.835553 0.524899 -0.301980\r\nH
      0.782031 -0.601689 1.073610\r\nC -0.598103 1.050400 1.225652\r\nH -1.210310
      0.552618 1.979206\r\nH -1.266376 1.627120 0.573655\r\nC -0.027758 2.625324 3.022268\r\nC
      0.497943 4.539918 4.462321\r\nH 1.423171 4.969348 4.853950\r\nH 0.000025 4.019113
      5.283332\r\nC -0.401626 5.639009 3.900566\r\nH -1.335017 5.213661 3.526287\r\nH
      0.104762 6.162247 3.086168\r\nS -0.791628 6.843304 5.230175\r\nH -1.627570 7.616867
      4.497656\r\nS -1.006687 -1.030090 -0.507799\r\nN 0.335023 1.932662 1.905919\r\nH
      1.076110 2.322214 1.337153\r\nN 0.865882 3.568581 3.448681\r\nH 1.581480 3.859943
      2.795574\r\nO -1.073352 2.375031 3.651291\r\nH -0.087670 -1.812849 -1.096189\r\nO
      -2.865982 8.576796 3.230102\r\nH -2.607661 9.505735 3.243622\r\nH -3.711020
      8.550691 3.694031\r\nO 2.173214 8.263152 4.538554\r\nH 2.667328 8.395473 5.355399\r\nH
      1.310047 7.923676 4.827433\r\nO -3.015476 4.585503 6.407597\r\nH -2.385804 5.284068
      6.165503\r\nH -3.619558 5.007262 7.028684"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 12 Dec 2023 08:11:40 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://e2etests.blob.core.windows.net/quantum-job-ff5ce707-eb17-4205-9192-12e4f0a6b8fc/inputData
  response:
    body:
      string: ''
    headers:
      content-md5:
      - wOj3sFQqD5O9vRVWFEtFuw==
      etag:
      - '"0x8DBFAE9F88C66A6"'
      last-modified:
      - Tue, 12 Dec 2023 08:11:40 GMT
      x-ms-content-crc64:
      - M7EZnd3mKFg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"containerUri": "https://e2etests.blob.core.windows.net/quantum-job-ff5ce707-eb17-4205-9192-12e4f0a6b8fc",
      "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
[...]
