interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/eastus/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.forte-1\",\"name\":\"Forte\",\"description\":\"IonQ's
        Forte quantum computer is dynamically reconfigurable in software to use up
        to 35 qubits. All qubits are fully connected, meaning you can run a two-qubit
        gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"pay-as-you-go-cred\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"qgs\",\"scope\":\"Subscription\"}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (25 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth of IonQ
        compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability
        lasts, credits must be used within 6 months.<br /><br /><a href=\\\"https://aka.ms/AQ/Credits/FAQ\\\"
        target=\\\"_blank\\\">Learn more about quota for credits.</a>\"},{\"id\":\"price\",\"value\":\"Free,
        up to the granted value of your credits.\"}]},{\"id\":\"aqt-pay-as-you-go-cred-new\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"aqt\",\"scope\":\"Subscription\",\"quota\":500}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (25 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth of IonQ
        compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-basic-qvm-only-unlimited/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-basic-qvm-only-unlimited/agreements/current","name":"azure-basic-qvm-only-unlimited","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"rigetticoinc1644276861431","product":"rigetti-aq","plan":"azure-basic-qvm-only-unlimited","licenseTextLink":"https://storeordersprodsn.blob.core.windows.net/legalterms/3E5ED_legalterms_RIGETTICOINC1644276861431%253a24RIGETTI%253a2DAQ%253a24AZURE%253a2DBASIC%253a2DQVM%253a2DONLY%253a2DUNLIMITED%253a24CGZSDDE3XQRAT2TARIETOXUNG4T4CBGYFQY5PV27TFQCMSGDIUTT24RQJ5FUM6PQ6BGKEMGV5JTTDRG7UFWHLGSY5SEZRSNCEXCZHTA.txt","privacyPolicyLink":"https://www.rigetti.com/privacy-policy","marketplaceTermsLink":"https://storeordersprodsn.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2025-08-11T05:32:51.4983141Z","signature":"ZMNVVVE5ZYGOXIOQAIOA4VLLCI5SD7TB32DU2RJ4OYOYZHPXJOTRD5I2EICI6GRAMSQK55ZKOSGHUNJLYQCES5PN5KBANSQKEGFGIXY","accepted":true},"systemData":{"createdBy":"1916d14f-6594-4756-955d-9b95970a73a8","createdByType":"ManagedIdentity","createdAt":"2025-08-11T05:32:51.5582645+00:00","lastModifiedBy":"1916d14f-6594-4756-955d-9b95970a73a8","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2025-08-11T05:32:51.558265+00:00"}}'
    headers:
      api-supported-versions:
      - '2021-01-01'
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/aq-internal-testing/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/io[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","name":"e2etests","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-06-19T19:38:18.1544093Z","key2":"2025-06-19T19:38:18.1544093Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-19T19:38:18.1700456Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-19T19:38:18.1700456Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-06-19T19:38:17.9356673Z","primaryEndpoints":{"blob":"https://e2etests.blob.core.windows.net/","queue":"https://e2etests.queue.core.windows.net/","table":"https://e2etests.table.core.windows.net/","file":"https://e2etests.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestsgrswus2","name":"qwe2etestsgrswus2","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2025-05-27T23:58:38.5120558Z","key2":"2025-05-27T23:58:38.5120558Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-27T23:58:38.5277525Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-27T23:58:38.5277525Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-05-27T23:58:38.3089407Z","primaryEndpoints":{"dfs":"https://qwe2etestsgrswus2.dfs.core.windows.net/","web":"https://qwe2etestsgrswus2.z5.web.core.windows.net/","blob":"https://qwe2etestsgrswus2.blob.core.windows.net/","queue":"https://qwe2etestsgrswus2.queue.core.windows.net/","table":"https://qwe2etestsgrswus2.table.core.windows.net/","file":"https://qwe2etestsgrswus2.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://qwe2etestsgrswus2-secondary.dfs.core.windows.net/","web":"https://qwe2etestsgrswus2-secondary.z5.web.core.windows.net/","blob":"https://qwe2etestsgrswus2-secondary.blob.core.windows.net/","queue":"https://qwe2etestsgrswus2-secondary.queue.core.windows.net/","table":"https://qwe2etestsgrswus2-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenario[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2023-05-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "properties": {"allowBlobPublicAccess":
      false, "minimumTlsVersion": "TLS1_2"}, "resources": [{"name": "default", "type":
      "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''17d1049b-9a84-46fb-8f53-869881c3d3ab'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w7969308"}, "location": {"value":
      "eastus"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "rigetti",
      "providerSku": "azure-basic-qvm-only-unlimited"}, {"providerId": "ionq", "providerSku":
      "aq-internal-testing"}]}, "storageAccountName": {"value": "qwe2etestswus2"},
      "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2"},
      "storageAccountLocation": {"value": "westus2"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "StorageV2"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-11-Aug-2025-05-32-53"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w7969308","name":"Microsoft.AzureQuantum-e2e-test-w7969308","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1029235462670623033","parameters":{"quantumWorkspaceName":{"type":"String","value":"REDACTED"},"location":{"type":"String","value":"REDACTED"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"rigetti","providerSku":"azure-basic-qvm-only-unlimited"},{"providerId":"ionq","providerSku":"aq-internal-testing"}]},"storageAccountName":{"type":"String","value":"qwe2etestswus2"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2"},"storageAccountLocation":{"type":"String","value":"REDACTED"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"StorageV2"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-11-Aug-2025-05-32-53"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-08-11T05:32:54.8784647Z","duration":"PT0.0001015S","correlationId":"89a03453-8967-44b0-bb27-19a6bcd01fa3","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["eastus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-test-w7969308","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"REDACTED"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w7969308","resourceType":"Microsoft.Quantum/workspaces","resourceName":"REDACTED","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-11-Aug-2025-05-32-53","resourceType":"Microsoft.Resources/deployments","resourceName":"REDACTED"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w7969308/operationStatuses/08584467165105855638?api-version=2024-11-01&t=638904871768940950&c=MIIIrzCCBpegAwIBAgITUQB9QzjGM-gzP6SKwQABAH1DODANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MDkyNjQzWhcNMjYwMTEzMDkyNjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584467165105855638?api-version=2024-11-01&t=638904871768940950&c=MIIIrzCCBpegAwIBAgITUQB9QzjGM-gzP6SKwQABAH1DODANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MDkyNjQzWhcN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w7969308?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w7969308","name":"e2e-test-w7969308","type":"microsoft.quantum/workspaces","location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-08-11T05:32:58.9099255Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-08-11T05:32:58.9099255Z"},"identity":{"principalId":"89b81153-4ed4-4ea7-807a-3d8e262d3993","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"rigetti","providerSku":"azure-basic-qvm-only-unlimited","applicationName":"e2e-test-w7969308-rigetti","provisioningState":"Succeeded","resourceUsageId":"090b76e8-3959-4c15-88b3-a3ae8566b144"},{"providerId":"ionq","providerSku":"aq-internal-testing","applicationName":"e2e-test-w7969308-ionq","provisioningState":"Succeeded","resourceUsageId":"e3cef143-d5d6-4d40-a0b8-6f9791c31b66"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2","apiKeyEnabled":REDACTED,"endpointUri":"https://e2e-test-w7969308.eastus.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"070023c9-0000-0700-0000-6899815e0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w7969308/providerStatus?api-version=2024-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"rigetti","currentAvailability":"Available","targets":[{"id":"rigetti.sim.qvm","currentAvailability":"Available","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"}]},{"id":"ionq","currentAvailability":"Available","targets":[{"id":"ionq.qpu.aria-1","currentAvailability":"Available","averageQueueTime":0,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-2","currentAvailability":"Unavailable","averageQueueTime":0,"statusPage":"https://status.ionq.co"},{"id":"ionq.simulator","currentAvailability":"Available","averageQueueTime":1,"statusPage":"https://status.ionq.co"}]}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0b50cbb6-0d37-4b51-bef9-46badb544c7b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2018-01-01&discover-tenant-id
  response:
    body:
      string: '{"error":{"code":"AuthenticationFailed","message":"Authentication failed.
        The ''Authorization'' header is missing."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization_uri="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        error="invalid_token", error_description="The authentication failed because
        of missing 'Authorization' header."
      x-ms-failure-cause:
      - gateway
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"containerName": "job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w7969308/storage/sasUri?api-version=2022-09-12-preview
  response:
    body:
      string: '{"sasUri":"https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7?sv=2025-05-05&ss=b&srt=co&spr=https&st=2025-08-11T05%3A37%3A39Z&se=2025-08-15T05%3A37%3A39Z&sp=rwlac&sig=REDACTED"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 78a64926-0b22-40d7-85a5-da676a2b2665
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-version:
      - '2024-11-04'
    method: GET
    uri: https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7?restype=container&sv=2025-05-05&ss=b&srt=co&spr=https&st=2025-08-11T05%3A37%3A39Z&se=2025-08-15T05%3A37%3A39Z&sp=rwlac&sig=REDACTED
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:9ffe155d-c01e-005a-6e82-0acf5a000000\nTime:2025-08-11T05:37:39.5056513Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2024-11-04'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-version:
      - '2024-11-04'
    method: PUT
    uri: https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7?restype=container&sv=2025-05-05&ss=b&srt=co&spr=https&st=2025-08-11T05%3A37%3A39Z&se=2025-08-15T05%3A37%3A39Z&sp=rwlac&sig=REDACTED
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDD8992F859BEB"'
      last-modified:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-version:
      - '2024-11-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-version:
      - '2024-11-04'
    method: GET
    uri: https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7?restype=container&sv=2025-05-05&ss=b&srt=co&spr=https&st=2025-08-11T05%3A37%3A39Z&se=2025-08-15T05%3A37%3A39Z&sp=rwlac&sig=REDACTED
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDD8992F859BEB"'
      last-modified:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-11-04'
    status:
      code: 200
      message: OK
- request:
    body: 'DECLARE ro BIT[2]


      H 0

      CNOT 0 1


      MEASURE 0 ro[0]

      MEASURE 1 ro[1]'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-version:
      - '2024-11-04'
    method: PUT
    uri: https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7/inputData?sv=2025-05-05&ss=b&srt=co&spr=https&st=2025-08-11T05%3A37%3A39Z&se=2025-08-15T05%3A37%3A39Z&sp=rwlac&sig=REDACTED
  response:
    body:
      string: ''
    headers:
      content-md5:
      - iLNwFlq8NNFY0yf3i4YlOQ==
      etag:
      - '"0x8DDD8992F911296"'
      last-modified:
      - Mon, 11 Aug 2025 05:37:39 GMT
      x-ms-content-crc64:
      - 5odBhY2FeiM=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-11-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": null, "containerUri": "https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7?sv=2025-05-05&ss=b&srt=co&spr=https&st=2025-08-11T05%3A37%3A39Z&se=2025-08-15T05%3A37%3A39Z&sp=rwlac&sig=REDACTED",
      "inputDataFormat": "rigetti.quil.v1", "outputDataFormat": "rigetti.quil-results.v1",
      "inputParams": {}, "providerId": "rigetti", "target": "rigetti.sim.qvm", "metadata":
      null, "tags": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w7969308/jobs/64c168bf-1b3b-49a9-a1f1-23c2b39121a7?api-version=2024-10-01-preview
  response:
    body:
      string: '{"containerUri":"https://qwe2etestswus2.blob.core.windows.net/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7","inputDataUri":"https://qwe2etestswus2.blob.core.windows.net:443/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7/inputData","inputDataFormat":"rigetti.quil.v1","inputParams":{},"metadata":null,"sessionId":null,"jobPriority":"Basic","status":"Waiting","jobType":"QuantumComputing","outputDataFormat":"rigetti.quil-results.v1","outputDataUri":"https://qwe2etestswus2.blob.core.windows.net:443/job-64c168bf-1b3b-49a9-a1f1-23c2b39121a7/outputData","beginExecutionTime":null,"cancellationTime":null,"lastModifiedTime":"2025-08-11T05:37:39.7508456+00:00","quantumComputingData":null,"errorData":null,"isCancelling":false,"tags":[],"name":null,"id":"64c168bf-1b3b-49a9-a1f1-23c2b39121a7","providerId":"rigetti","target":"rigetti.sim.qvm","creationTime":"2025-08-11T05:37:39.7507835+00:00","endExecutionTime":null,"costEstimate":null,"itemType":"Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 83e3bb6c-2b3a-4e71-a835-2fdf81af5a86
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
[...]
