interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus2/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu\",\"name\":\"Trapped
        Ion Quantum Computer\",\"description\":\"IonQ's quantum computer is dynamically
        reconfigurable in software to use up to 11 qubits. All qubits are fully connected,
        meaning you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 23 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum computer is dynamically reconfigurable
        in software to use up to 23 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"pay-as-you-go-cred\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":true,\"targets\":[\"ionq.qpu\",\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"qgs\",\"scope\":\"Subscription\"}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (23 qubits)</a><br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Harmony
        Trapped Ion QC (11 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth
        of IonQ compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability
        lasts, credits must be used within 6 months.<br /><br /><a href=\\\"https://aka.ms/AQ/Credits/FAQ\\\"
        target=\\\"_blank\\\">Learn more about quota for credits.</a>\"},{\"id\":\"price\",\"value\":\"Free,
        up to the granted value of your credits.\"}]},{\"id\":\"pay-as-you-go\",\"version\":\"0.0.5\",\"name\":\"Pay
        As You Go\",\"description\":\"A la carte access based on resource requirements
        and usage.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu\",\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"qgs\",\"scope\":\"Subscription\",\"quota\":333333340}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (23 qubits)</a><br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Harmony
        Trapped Ion QC (11 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"Initial [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/pay-as-you-go-cred/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/pay-as-you-go-cred/agreements/current","name":"pay-as-you-go-cred","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"ionqinc1582730893633","product":"ionq-aq","plan":"pay-as-you-go-cred","licenseTextLink":"https://mpcprodsa.blob.core.windows.net/legalterms/3E5ED_legalterms_IONQINC1582730893633%253a24IONQ%253a2DAQ%253a24PAY%253a2DAS%253a2DYOU%253a2DGO%253a2DCRED%253a247ODGLEAK7RQISNHUEU4KJYVC6QLVZF5IANNQFGBHOKJMXWIW3OPRUADLB63ROSGS5FVYSHLINGX5BK7GF7Y2ZO24HKBHSPKMXBHFBAQ.txt","privacyPolicyLink":"https://ionq.com/privacy","marketplaceTermsLink":"https://mpcprodsa.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2024-02-29T00:06:50.7593553Z","signature":"MMX6DX3C7PO36RHKTABYO2YE7HLDCDF2ENTNBJYOIEALJFSZUTTT6RUQYELYIX2L5S4I72UPO66UM3ZJY436H2IS4RPVVFDZPEBYJBY","accepted":true},"systemData":{"createdBy":"916dfd6d-030c-4bd9-b579-7bb6d1926e97","createdByType":"ManagedIdentity","createdAt":"2024-02-29T00:06:50.8374464+00:00","lastModifiedBy":"916dfd6d-030c-4bd9-b579-7bb6d1926e97","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2024-02-29T00:06:50.8374464+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/pasqal1672665369086/offers/pasqalcloudservices-privatepreview-aq/plans/pasqal-aq-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/quantinuumllc1640113159771/offers/quantinuum-aq/plans/credits1/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/q[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-quantum-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/pub[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","name":"e2etests","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2023-12-12T18:13:25.2770446Z","key2":"2023-12-12T18:13:27.7770684Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-13T19:13:16.5082330Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-13T19:13:16.5082330Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-04-13T19:13:16.3988354Z","primaryEndpoints":{"blob":"https://e2etests.blob.core.windows.net/","queue":"https://e2etests.queue.core.windows.net/","table":"https://e2etests.table.core.windows.net/","file":"https://e2etests.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etestsgrs","name":"e2etestsgrs","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"defaultToOAuthAuthentication":false,"keyCreationTime":{"key1":"2022-03-14T19:40:06.3610257Z","key2":"2022-03-14T19:40:06.3610257Z"},"allowCrossTenantReplication":true,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-14T19:40:06.3610257Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-14T19:40:06.3610257Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-03-14T19:40:06.2360414Z","primaryEndpoints":{"dfs":"https://e2etestsgrs.dfs.core.windows.net/","web":"https://e2etestsgrs.z5.web.core.windows.net/","blob":"https://e2etestsgrs.blob.core.windows.net/","queue":"https://e2etestsgrs.queue.core.windows.net/","table":"https://e2etestsgrs.table.core.windows.net/","file":"https://e2etestsgrs.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://e2etestsgrs-secondary.dfs.core.windows.net/","web":"https://e2etestsgrs-secondary.z5.web.core.windows.net/","blob":"https://e2etestsgrs-secondary.blob.core.windows.net/","queue":"https://e2etestsgrs-secondary.queue.core.windows.net/","table":"https://e2etestsgrs-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/st[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w6180621"}, "location": {"value":
      "westus2"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "microsoft-qc",
      "providerSku": "learn-and-develop"}, {"providerId": "ionq", "providerSku": "pay-as-you-go-cred"},
      {"providerId": "pasqal", "providerSku": "pasqal-aq-credits"}, {"providerId":
      "quantinuum", "providerSku": "credits1"}, {"providerId": "rigetti", "providerSku":
      "azure-quantum-credits"}]}, "storageAccountName": {"value": "e2etests"}, "storageAccountId":
      {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests"},
      "storageAccountLocation": {"value": "westus2"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "Storage"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-29-Feb-2024-00-07-03"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w6180621","name":"Microsoft.AzureQuantum-e2e-test-w6180621","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6354453805046911057","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w6180621"},"location":{"type":"String","value":"westus2"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"microsoft-qc","providerSku":"learn-and-develop"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits"},{"providerId":"quantinuum","providerSku":"credits1"},{"providerId":"rigetti","providerSku":"azure-quantum-credits"}]},"storageAccountName":{"type":"String","value":"e2etests"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests"},"storageAccountLocation":{"type":"String","value":"westus2"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"Storage"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-29-Feb-2024-00-07-03"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-02-29T00:07:06.5166224Z","duration":"PT0.0002034S","correlationId":"4c738aaf-a58b-4e1f-b424-c520efd6469b","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["westus2"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-test-w6180621","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w6180621"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w6180621","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w6180621","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-29-Feb-2024-00-07-03","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-29-Feb-2024-00-07-03"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w6180621/operationStatuses/08584924416595251527?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584924416595251527?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w6180621?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w6180621","name":"e2e-test-w6180621","type":"microsoft.quantum/workspaces","location":"westus2","tags":{},"systemData":{"createdBy":"guyi@microsoft.com","createdByType":"User","createdAt":"2024-02-29T00:07:09.4888499Z","lastModifiedBy":"guyi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-29T00:07:09.4888499Z"},"identity":{"principalId":"bba7441b-4424-4ce5-849a-78d248bf3fc4","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"microsoft-qc","providerSku":"learn-and-develop","applicationName":"e2e-test-w6180621-microsoft-qc","provisioningState":"Succeeded"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred","applicationName":"e2e-test-w6180621-ionq","provisioningState":"Succeeded","resourceUsageId":"c9554ff4-3559-49f7-8287-c35c8ea7cf21"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits","applicationName":"e2e-test-w6180621-pasqal","provisioningState":"Succeeded","resourceUsageId":"6ab3e312-6157-459b-a7eb-3a31d8a8a2be"},{"providerId":"quantinuum","providerSku":"credits1","applicationName":"e2e-test-w6180621-quantinuum","provisioningState":"Succeeded","resourceUsageId":"82024121-9dc5-4bc3-b502-21fb1fcee435"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w6180621-rigetti","provisioningState":"Succeeded","resourceUsageId":"154d9b2a-916e-4f97-87d3-eb4dd73ba909"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","apiKeyEnabled":true,"endpointUri":"https://e2e-test-w6180621.westus2.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0902ba48-0000-0800-0000-65dfcc2b0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w6180621/listKeys?api-version=2023-11-13-preview
  response:
    body:
      string: '{"apiKeyEnabled":true,"primaryKey":{"createdAt":"2024-02-29T00:07:10Z","key":"NnDAQvbVoOPDYoPXvHtzuO_mUMkJmRs1-FCyf437Az_EuI67dDW3IPEMI5-X3GMXl0OP-CfF7fGoAZQUVL8HyQ"},"secondaryKey":{"createdAt":"2024-02-29T00:07:10Z","key":"eO-vy31EyO6STQc9mtKBG8gnHNDtzRwJ42M9MPs65hJYQndrA-Dv0K9VNVWCRTUc1NwRtznF9l1oAZQUts6iZQ"},"primaryConnectionString":"SubscriptionId=916dfd6d-030c-4bd9-b579-7bb6d1926e97;ResourceGroupName=e2e-scenarios;WorkspaceName=e2e-test-w6180621;ApiKey=NnDAQvbVoOPDYoPXvHtzuO_mUMkJmRs1-FCyf437Az_EuI67dDW3IPEMI5-X3GMXl0OP-CfF7fGoAZQUVL8HyQ;QuantumEndpoint=https://westcentralus.quantum.azure.com/;","secondaryConnectionString":"SubscriptionId=916dfd6d-030c-4bd9-b579-7bb6d1926e97;ResourceGroupName=e2e-scenarios;WorkspaceName=e2e-test-w6180621;ApiKey=eO-vy31EyO6STQc9mtKBG8gnHNDtzRwJ42M9MPs65hJYQndrA-Dv0K9VNVWCRTUc1NwRtznF9l1oAZQUts6iZQ;QuantumEndpoint=https://westcentralus.quantum.azure.com/;"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 35182e40-665d-406a-b894-d7c61f24d388
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keys": ["Primary"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w6180621/regenerateKey?api-version=2023-11-13-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 132db7ff-a0f3-4844-91e8-83ec90fecaf6
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
