interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/centraluseuap/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"Contoso\",\"name\":\"Contoso Microsoft Quantum
        Computing\",\"properties\":{\"description\":\"Prepare for fault-tolerant quantum
        computing with Microsoft specific tools and services, including the Azure
        Quantum Resource Estimator.\",\"providerType\":\"qe\",\"company\":\"Contoso
        Corp.\",\"managedApplication\":{\"publisherId\":\"N/A\",\"offerId\":\"N/A\"},\"targets\":[{\"id\":\"microsoft.estimator\",\"name\":\"Resource
        Estimator\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"samplepartner-sku1\",\"version\":\"1.0.3\",\"name\":\"Basic\",\"description\":\"Basic
        services\",\"autoAdd\":false,\"targets\":[\"microsoft.estimator\"],\"pricingDetails\":[{\"id\":\"price\",\"value\":\"Free\"}]},{\"id\":\"sample-plan-3\",\"version\":\"1.0.4\",\"name\":\"Standard\",\"description\":\"Standard
        services\",\"autoAdd\":false,\"targets\":[\"microsoft.estimator\"],\"pricingDetails\":[{\"id\":\"price\",\"value\":\"Free\"}]}],\"pricingDimensions\":[{\"id\":\"price\",\"name\":\"Pricing\"}]}},{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq-preview\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Si[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/quantumcircuitsinc1598045891596/offers/qci-aq-preview/plans/qci-freepreview/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/quantumcircuitsinc1598045891596/offers/qci-aq-preview/plans/qci-freepreview/agreements/current","name":"qci-freepreview","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"quantumcircuitsinc1598045891596","product":"qci-aq-preview","plan":"qci-freepreview","licenseTextLink":"https://mpcprodsa.blob.core.windows.net/legalterms/3E5ED_legalterms_QUANTUMCIRCUITSINC1598045891596%253a24QCI%253a2DAQ%253a2DPREVIEW%253a24QCI%253a2DFREEPREVIEW%253a24PP3GLE327RQ6PXCFKVKKUIHX2KTKAPSMYHMY4RTIDVZNPA5MI4TAS4E3EMRM43OT3R3PWF5I7NG2Z2AYJYYMAIATBW7A256UYHC34CY.txt","privacyPolicyLink":"https://www.quantumcircuits.com/privacy-policy","marketplaceTermsLink":"https://mpcprodsa.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2024-02-13T22:43:58.46294Z","signature":"SMWFICWWIHMRE2I3RUMTUTGWGADCFFS4EVUGRZ5VMFKSUYZZOQ4EMZBM2B4A4DERLXM7T3ZXY4TNVQNPT67Y3CR2IDJAKJOBURNSFIA","accepted":true},"systemData":{"createdBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","createdByType":"ManagedIdentity","createdAt":"2024-02-13T22:43:58.5566869+00:00","lastModifiedBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2024-02-13T22:43:58.5566869+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq-preview/plans/azure-quantum-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMac[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq-preview/plans/pay-as-you-go-cred/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest","name":"guyitest","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2023-10-16T21:31:18.8305820Z","key2":"2023-10-16T21:31:18.8305820Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-10-16T21:31:18.8461825Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-10-16T21:31:18.8461825Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2023-10-16T21:31:18.6430553Z","primaryEndpoints":{"dfs":"https://guyitest.dfs.core.windows.net/","web":"https://guyitest.z13.web.core.windows.net/","blob":"https://guyitest.blob.core.windows.net/","queue":"https://guyitest.queue.core.windows.net/","table":"https://guyitest.table.core.windows.net/","file":"https://guyitest.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitestgrs","name":"guyitestgrs","type":"Microsoft.Storage/storageAccounts","location":"centraluseuap","tags":{},"properties":{"keyCreationTime":{"key1":"2024-02-13T18:58:27.7988729Z","key2":"2024-02-13T18:58:27.7988729Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-02-13T18:58:28.0957793Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-02-13T18:58:28.0957793Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2024-02-13T18:58:27.7207458Z","primaryEndpoints":{"blob":"https://guyitestgrs.blob.core.windows.net/","queue":"https://guyitestgrs.queue.core.windows.net/","table":"https://guyitestgrs.table.core.windows.net/","file":"https://guyitestgrs.file.core.windows.net/"},"primaryLocation":"centraluseuap","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 38651fcd-0d2b-4309-92a7-7a612254a8a0
      - c3c4ffb0-ee76-40d9-8999-e0b9337dd5e5
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w8278631"}, "location": {"value":
      "centraluseuap"}, "tags": {"value": {}}, "providers": {"value": [{"providerId":
      "qci", "providerSku": "qci-freepreview"}, {"providerId": "rigetti", "providerSku":
      "azure-quantum-credits"}, {"providerId": "ionq", "providerSku": "pay-as-you-go-cred"},
      {"providerId": "microsoft-qc", "providerSku": "learn-and-develop"}]}, "storageAccountName":
      {"value": "guyitest"}, "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest"},
      "storageAccountLocation": {"value": "eastus"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "StorageV2"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-13-Feb-2024-22-44-01"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/guyi-test/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w8278631","name":"Microsoft.AzureQuantum-e2e-test-w8278631","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6354453805046911057","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w8278631"},"location":{"type":"String","value":"centraluseuap"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"qci","providerSku":"qci-freepreview"},{"providerId":"rigetti","providerSku":"azure-quantum-credits"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred"},{"providerId":"microsoft-qc","providerSku":"learn-and-develop"}]},"storageAccountName":{"type":"String","value":"guyitest"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest"},"storageAccountLocation":{"type":"String","value":"eastus"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"StorageV2"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-13-Feb-2024-22-44-01"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-02-13T22:44:06.738469Z","duration":"PT0.0007548S","correlationId":"d62f2fe3-a4b2-4932-8414-655270fa8184","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["centraluseuap"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/Workspaces/e2e-test-w8278631","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w8278631"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w8278631","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-13-Feb-2024-22-44-01","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-13-Feb-2024-22-44-01"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/guyi-test/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w8278631/operationStatuses/08584937426408748325?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/guyi-test/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584937426408748325?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631","name":"e2e-test-w8278631","type":"microsoft.quantum/workspaces","location":"centraluseuap","tags":{},"systemData":{"createdBy":"guyi@microsoft.com","createdByType":"User","createdAt":"2024-02-13T22:44:08.713247Z","lastModifiedBy":"guyi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-13T22:44:08.713247Z"},"identity":{"principalId":"bb08e8ba-5fa6-49a3-af56-05ce00829f65","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"qci","providerSku":"qci-freepreview","applicationName":"e2e-test-w8278631-qci","provisioningState":"Succeeded"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w8278631-rigetti","provisioningState":"Succeeded","resourceUsageId":"1a12769c-65e9-4010-9730-19ec270d9cc2"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred","applicationName":"e2e-test-w8278631-ionq","provisioningState":"Succeeded","resourceUsageId":"262487ca-35da-49eb-a89c-58700877bbdf"},{"providerId":"microsoft-qc","providerSku":"learn-and-develop","applicationName":"e2e-test-w8278631-microsoft-qc","provisioningState":"Succeeded"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest","apiKeyEnabled":false,"endpointUri":"https://e2e-test-w8278631.centraluseuap.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"010076c5-0000-3400-0000-65cbf1f10000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631/providerStatus
  response:
    body:
      string: '{"value":[{"id":"qci","currentAvailability":"Degraded","targets":[{"id":"qci.simulator","currentAvailability":"Available","averageQueueTime":1,"statusPage":"https://quantumcircuits.com"},{"id":"qci.machine1","currentAvailability":"Unavailable","averageQueueTime":1,"statusPage":"https://quantumcircuits.com"},{"id":"qci.simulator.noisy","currentAvailability":"Available","averageQueueTime":0,"statusPage":"https://quantumcircuits.com"}]},{"id":"rigetti","currentAvailability":"Degraded","targets":[{"id":"rigetti.sim.qvm","currentAvailability":"Available","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"},{"id":"rigetti.qpu.ankaa-9q-1","currentAvailability":"Degraded","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"},{"id":"rigetti.qpu.ankaa-2","currentAvailability":"Available","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"}]},{"id":"ionq","currentAvailability":"Degraded","targets":[{"id":"ionq.qpu","currentAvailability":"Available","averageQueueTime":5815089,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-1","currentAvailability":"Available","averageQueueTime":4838600,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-2","currentAvailability":"Unavailable","averageQueueTime":7852970,"statusPage":"https://status.ionq.co"},{"id":"ionq.simulator","currentAvailability":"Available","averageQueueTime":3,"statusPage":"https://status.ionq.co"}]},{"id":"microsoft-qc","currentAvailability":"Available","targets":[{"id":"microsoft.estimator","currentAvailability":"Available","averageQueueTime":0,"statusPage":null}]}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 12127c8a-b87d-4049-b74b-8882490751f8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-10-16T21:31:18.8305820Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-10-16T21:31:18.8305820Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest?api-version=2023-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest","name":"guyit[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 13 Feb 2024 22:50:14 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:f0ec664c-501e-0053-72cf-5eb452000000\nTime:2024-02-13T22:50:17.4424032Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 13 Feb 2024 22:50:15 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC2CE626638EEF"'
      last-modified:
      - Tue, 13 Feb 2024 22:50:17 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 13 Feb 2024 22:50:15 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC2CE626638EEF"'
      last-modified:
      - Tue, 13 Feb 2024 22:50:17 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: "DECLARE ro BIT[2]\r\n\r\nH 0\r\nCNOT 0 1\r\n\r\nMEASURE 0 ro[0]\r\nMEASURE
      1 ro[1]"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 13 Feb 2024 22:50:15 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6/inputData
  response:
    body:
      string: ''
    headers:
      content-md5:
      - wBue1+6CQmWpgL5BeUu42Q==
      etag:
      - '"0x8DC2CE626D3AED2"'
      last-modified:
      - Tue, 13 Feb 2024 22:50:18 GMT
      x-ms-content-crc64:
      - csHCMZWsMR0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"containerUri": "https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6",
      "inputDataFormat": "rigetti.quil.v1", "inputParams": {}, "providerId": "rigetti",
      "target": "rigetti.sim.qvm", "outputDataFormat": "rigetti.quil-results.v1",
      "tags": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631/jobs/4d446697-a637-452b-871b-ba3d1268b6d6
  response:
    body:
      string: '{"containerUri":"https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6","inputDataUri":"https://guyitest.blob.core.windows.net:443/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6/inputData","inputDataFormat":"rigetti.quil.v1","inputParams":{},"metadata":null,"sessionId":null,"status":"Waiting","jobType":"QuantumComputing","outputDataFormat":"rigetti.quil-results.v1","outputDataUri":"https://guyitest.blob.core.windows.net:443/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6/outputData","beginExecutionTime":null,"cancellationTime":null,"quantumComputingData":null,"errorData":null,"isCancelling":false,"tags":[],"name":null,"id":"4d446697-a637-452b-871b-ba3d1268b6d6","providerId":"rigetti","target":"rigetti.sim.qvm","creationTime":"2024-02-13T22:50:18.9928698+00:00","endExecutionTime":null,"costEstimate":null,"itemType":"Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b42fb9cb-eb22-4e10-8474-4f96eae918c5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631/jobs/4d446697-a637-452b-871b-ba3d1268b6d6
  response:
    body:
      string: '{"containerUri":"https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6","inputDataUri":"https://guyitest.blob.core.windows.net/quantum-job-4d4466[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w8278631/jobs/4d446697-a637-452b-871b-ba3d1268b6d6
  response:
    body:
      string: '{"containerUri":"https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6","inputDataUri":"https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6/inputData?sv=2019-07-07&sr=b&sig=REDACTED&se=2024-02-17T22%3A50%3A20Z&sp=r&rscd=attachment%3B%20filename%3Djob-4d446697-a637-452b-871b-ba3d1268b6d6.input.json","inputDataFormat":"rigetti.quil.v1","inputParams":{},"metadata":null,"sessionId":null,"status":"Waiting","jobType":"QuantumComputing","outputDataFormat":"rigetti.quil-results.v1","outputDataUri":"https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6/outputData?sv=2019-07-07&sr=b&sig=REDACTED&se=2024-02-17T22%3A50%3A20Z&sp=r&rscd=attachment%3B%20filename%3Djob-4d446697-a637-452b-871b-ba3d1268b6d6.output.json","beginExecutionTime":null,"cancellationTime":null,"quantumComputingData":{"count":1},"errorData":null,"isCancelling":false,"tags":[],"name":null,"id":"4d446697-a637-452b-871b-ba3d1268b6d6","providerId":"rigetti","target":"rigetti.sim.qvm","creationTime":"2024-02-13T22:50:18.9928698+00:00","endExecutionTime":null,"costEstimate":null,"itemType":"Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 95f8dd7b-1865-4fe0-9597-7cebfcfa6845
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 13 Feb 2024 22:50:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://guyitest.blob.core.windows.net/quantum-job-4d446697-a637-452b-871b-ba3d1268b6d6/rawOutputData?sv=2019-07-07&sr=b&sig=REDACTED&se=2024-02-17T22%3A50%3A28Z&sp=r&rscd=attachment%3B+filename%3Djob-4d446697-a637-452b-871b-ba3d1268b6d6.output.json
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename=job-4d446697-a637-452b-871b-ba3d1268b6d6.output.json
      content-md5:
      - LJF0OvtMvz9rHxUkWtrOTA==
      content-type:
      - application/json
      etag:
      - '"0x8DC2CE62A7356E2"'
      last-modified:
      - Tue, 13 Feb 2024 22:50:24 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
[...]
