interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/centraluseuap/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"Contoso\",\"name\":\"Contoso Microsoft Quantum
        Computing\",\"properties\":{\"description\":\"Prepare for fault-tolerant quantum
        computing with Microsoft specific tools and services, including the Azure
        Quantum Resource Estimator.\",\"providerType\":\"qe\",\"company\":\"Contoso
        Corp.\",\"managedApplication\":{\"publisherId\":\"N/A\",\"offerId\":\"N/A\"},\"targets\":[{\"id\":\"microsoft.estimator\",\"name\":\"Resource
        Estimator\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"samplepartner-sku1\",\"version\":\"1.0.3\",\"name\":\"Basic\",\"description\":\"Basic
        services\",\"autoAdd\":false,\"targets\":[\"microsoft.estimator\"],\"pricingDetails\":[{\"id\":\"price\",\"value\":\"Free\"}]},{\"id\":\"sample-plan-3\",\"version\":\"1.0.4\",\"name\":\"Standard\",\"description\":\"Standard
        services\",\"autoAdd\":false,\"targets\":[\"microsoft.estimator\"],\"pricingDetails\":[{\"id\":\"price\",\"value\":\"Free\"}]}],\"pricingDimensions\":[{\"id\":\"price\",\"name\":\"Pricing\"}]}},{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq-preview\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Si[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/pasqal1672665369086/offers/pasqalcloudservices-privatepreview-aq-preview/plans/pasqal-aq-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/pasqal1672665369086/offers/pasqalcloudservices-privatepreview-aq-preview/plans/pasqal-aq-credits/agreements/current","name":"pasqal-aq-credits","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"pasqal1672665369086","product":"pasqalcloudservices-privatepreview-aq-preview","plan":"pasqal-aq-credits","licenseTextLink":"https://mpcprodsa.blob.core.windows.net/legalterms/3E5ED_legalterms_PASQAL1672665369086%253a24PASQALCLOUDSERVICES%253a2DPRIVATEPREVIEW%253a2DAQ%253a2DPREVIEW%253a24PASQAL%253a2DAQ%253a2DCREDITS%253a24H6TK7ELWVTC4OAFEDYEGLJ5Y6Q66DBUPCRD3UWN2WUGQQW26MDDUJHNI3MPZ5XIHNXJEGYKQ753O3QUHX6JXGAU3IRIBLL654HOJUDA.txt","privacyPolicyLink":"https://portal.pasqal.cloud/privacy","marketplaceTermsLink":"https://mpcprodsa.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2024-02-13T22:48:34.2922042Z","signature":"7EBSM7QBAD5CQYHIGUZU75EEKVF235OABKCEKVA2JNDQUZITW4ZXYF4ONVNR45N77RSMCF6WW2FTDGJSXFBJVTVF72GTYYKYKHWRXHA","accepted":true},"systemData":{"createdBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","createdByType":"ManagedIdentity","createdAt":"2024-02-13T22:48:34.589075+00:00","lastModifiedBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2024-02-13T22:48:34.589075+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq-preview/plans/azure-quantum-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMac[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest","name":"guyitest","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2023-10-16T21:31:18.8305820Z","key2":"2023-10-16T21:31:18.8305820Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-10-16T21:31:18.8461825Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-10-16T21:31:18.8461825Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2023-10-16T21:31:18.6430553Z","primaryEndpoints":{"dfs":"https://guyitest.dfs.core.windows.net/","web":"https://guyitest.z13.web.core.windows.net/","blob":"https://guyitest.blob.core.windows.net/","queue":"https://guyitest.queue.core.windows.net/","table":"https://guyitest.table.core.windows.net/","file":"https://guyitest.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitestgrs","name":"guyitestgrs","type":"Microsoft.Storage/storageAccounts","location":"centraluseuap","tags":{},"properties":{"keyCreationTime":{"key1":"2024-02-13T18:58:27.7988729Z","key2":"2024-02-13T18:58:27.7988729Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-02-13T18:58:28.0957793Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-02-13T18:58:28.0957793Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2024-02-13T18:58:27.7207458Z","primaryEndpoints":{"blob":"https://guyitestgrs.blob.core.windows.net/","queue":"https://guyitestgrs.queue.core.windows.net/","table":"https://guyitestgrs.table.core.windows.net/","file":"https://guyitestgrs.file.core.windows.net/"},"primaryLocation":"centraluseuap","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d0778c10-afb0-403a-ae1f-9d287c966cf7
      - 3899171b-6908-4d4b-97ab-1c94b4d4501e
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w4329630"}, "location": {"value":
      "centraluseuap"}, "tags": {"value": {}}, "providers": {"value": [{"providerId":
      "microsoft-qc", "providerSku": "learn-and-develop"}, {"providerId": "microsoft-elements",
      "providerSku": "elements-internal-testing"}, {"providerId": "pasqal", "providerSku":
      "pasqal-aq-credits"}, {"providerId": "rigetti", "providerSku": "azure-quantum-credits"}]},
      "storageAccountName": {"value": "guyitest"}, "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest"},
      "storageAccountLocation": {"value": "eastus"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "StorageV2"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-13-Feb-2024-22-48-38"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/guyi-test/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w4329630","name":"Microsoft.AzureQuantum-e2e-test-w4329630","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6354453805046911057","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w4329630"},"location":{"type":"String","value":"centraluseuap"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"microsoft-qc","providerSku":"learn-and-develop"},{"providerId":"microsoft-elements","providerSku":"elements-internal-testing"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits"},{"providerId":"rigetti","providerSku":"azure-quantum-credits"}]},"storageAccountName":{"type":"String","value":"guyitest"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest"},"storageAccountLocation":{"type":"String","value":"eastus"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"StorageV2"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-13-Feb-2024-22-48-38"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-02-13T22:48:43.7603831Z","duration":"PT0.0004489S","correlationId":"e7cd7f35-a865-47e7-a560-334dbedf2f30","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["centraluseuap"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/Workspaces/e2e-test-w4329630","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w4329630"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w4329630","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w4329630","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-13-Feb-2024-22-48-38","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-13-Feb-2024-22-48-38"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/guyi-test/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w4329630/operationStatuses/08584937423630827457?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/guyi-test/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584937423630827457?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w4329630?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w4329630","name":"e2e-test-w4329630","type":"microsoft.quantum/workspaces","location":"centraluseuap","tags":{},"systemData":{"createdBy":"guyi@microsoft.com","createdByType":"User","createdAt":"2024-02-13T22:48:46.1014635Z","lastModifiedBy":"guyi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-13T22:48:46.1014635Z"},"identity":{"principalId":"1fd61208-e9c7-4369-876b-3f6c68e8d6a0","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"microsoft-qc","providerSku":"learn-and-develop","applicationName":"e2e-test-w4329630-microsoft-qc","provisioningState":"Succeeded"},{"providerId":"microsoft-elements","providerSku":"elements-internal-testing","applicationName":"e2e-test-w4329630-microsoft-elements","provisioningState":"Succeeded"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits","applicationName":"e2e-test-w4329630-pasqal","provisioningState":"Succeeded","resourceUsageId":"c53e8f42-5ac9-4188-8f3e-743b96a0e076"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w4329630-rigetti","provisioningState":"Succeeded","resourceUsageId":"58ebf0a0-1e15-4d00-82be-74a57b0db876"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Storage/storageAccounts/guyitest","apiKeyEnabled":false,"endpointUri":"https://e2e-test-w4329630.centraluseuap.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"010096c5-0000-3400-0000-65cbf2a30000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w4329630/listKeys?api-version=2023-11-13-preview
  response:
    body:
      string: '{"apiKeyEnabled":true,"primaryKey":{"createdAt":"2024-02-13T22:52:53Z","key":"0ILYHmgfRDc8j5nxAQ-O5jVB9LsEcbRuxULLQXul_LayEDAxQ0wMnF_gcx25-R9BPFDnFHQmaS1EAZQUXjpIQQ"},"secondaryKey":{"createdAt":"2024-02-13T22:52:53Z","key":"3YoTReWICrRUY5-YLu7rkv6TT-JOR-T9EHdb8uHFVUTJBgUdxpVkGP3-WpdPt2aymG--2p79L-m9AZQUT_n2tg"},"primaryConnectionString":"SubscriptionId=677fc922-91d0-4bf6-9b06-4274d319a0fa;ResourceGroupName=guyi-test;WorkspaceName=e2e-test-w4329630;ApiKey=0ILYHmgfRDc8j5nxAQ-O5jVB9LsEcbRuxULLQXul_LayEDAxQ0wMnF_gcx25-R9BPFDnFHQmaS1EAZQUXjpIQQ;QuantumEndpoint=https://eastus2euap.quantum.azure.com/;","secondaryConnectionString":"SubscriptionId=677fc922-91d0-4bf6-9b06-4274d319a0fa;ResourceGroupName=guyi-test;WorkspaceName=e2e-test-w4329630;ApiKey=3YoTReWICrRUY5-YLu7rkv6TT-JOR-T9EHdb8uHFVUTJBgUdxpVkGP3-WpdPt2aymG--2p79L-m9AZQUT_n2tg;QuantumEndpoint=https://eastus2euap.quantum.azure.com/;"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b6384160-52ca-4f02-996c-d71fc40cb62e
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keys": ["Primary"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/guyi-test/providers/Microsoft.Quantum/workspaces/e2e-test-w4329630/regenerateKey?api-version=2023-11-13-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - bc40359b-bf96-43ff-93ff-d29af973238d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
