interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/eastus/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.forte-1\",\"name\":\"Forte\",\"description\":\"IonQ's
        Forte quantum computer is dynamically reconfigurable in software to use up
        to 35 qubits. All qubits are fully connected, meaning you can run a two-qubit
        gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"pay-as-you-go-cred\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"qgs\",\"scope\":\"Subscription\"}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (25 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth of IonQ
        compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability
        lasts, credits must be used within 6 months.<br /><br /><a href=\\\"https://aka.ms/AQ/Credits/FAQ\\\"
        target=\\\"_blank\\\">Learn more about quota for credits.</a>\"},{\"id\":\"price\",\"value\":\"Free,
        up to the granted value of your credits.\"}]},{\"id\":\"aqt-pay-as-you-go-cred-new\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"aqt\",\"scope\":\"Subscription\",\"quota\":500}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (25 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth of IonQ
        compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-basic-qvm-only-unlimited/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-basic-qvm-only-unlimited/agreements/current","name":"azure-basic-qvm-only-unlimited","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"rigetticoinc1644276861431","product":"rigetti-aq","plan":"azure-basic-qvm-only-unlimited","licenseTextLink":"https://main.prod.marketplacecommerce.azure.com/getlegalterms/aHR0cHM6Ly9zdG9yZW9yZGVyc3Byb2Rzbi5ibG9iLmNvcmUud2luZG93cy5uZXQvbGVnYWx0ZXJtcy8zRTVFRF9sZWdhbHRlcm1zX1JJR0VUVElDT0lOQzE2NDQyNzY4NjE0MzElMjUzYTI0UklHRVRUSSUyNTNhMkRBUSUyNTNhMjRBWlVSRSUyNTNhMkRCQVNJQyUyNTNhMkRRVk0lMjUzYTJET05MWSUyNTNhMkRVTkxJTUlURUQlMjUzYTI0Q0daU0RERTNYUVJBVDJUQVJJRVRPWFVORzRUNENCR1lGUVk1UFYyN1RGUUNNU0dESVVUVDI0UlFKNUZVTTZQUTZCR0tFTUdWNUpUVERSRzdVRldITEdTWTVTRVpSU05DRVhDWkhUQS50eHQ=","privacyPolicyLink":"https://www.rigetti.com/privacy-policy","marketplaceTermsLink":"https://storeordersprodsn.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2025-09-29T23:36:20.9904456Z","signature":"OL55QTSC736L55YAFD43BOCFOE7AN5U5NHN74KVIFJVJ77URRG2LLY5TSTWK6SPP64VFMSK57SYAE72JCUZ4HVV3354OWDTYURBZD4A","accepted":true},"systemData":{"createdBy":"1916d14f-6594-4756-955d-9b95970a73a8","createdByType":"ManagedIdentity","createdAt":"2025-09-29T23:36:21.0878166+00:00","lastModifiedBy":"1916d14f-6594-4756-955d-9b95970a73a8","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2025-09-29T23:36:21.087817+00:00"}}'
    headers:
      api-supported-versions:
      - '2021-01-01'
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/quantinuumllc1640113159771/offers/quantinuum-aq/plans/basic1/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/qua[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","name":"e2etests","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-06-19T19:38:18.1544093Z","key2":"2025-06-19T19:38:18.1544093Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-19T19:38:18.1700456Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-19T19:38:18.1700456Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-06-19T19:38:17.9356673Z","primaryEndpoints":{"blob":"https://e2etests.blob.core.windows.net/","queue":"https://e2etests.queue.core.windows.net/","table":"https://e2etests.table.core.windows.net/","file":"https://e2etests.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestsgrswus2","name":"qwe2etestsgrswus2","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2025-05-27T23:58:38.5120558Z","key2":"2025-05-27T23:58:38.5120558Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-27T23:58:38.5277525Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-27T23:58:38.5277525Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-05-27T23:58:38.3089407Z","primaryEndpoints":{"dfs":"https://qwe2etestsgrswus2.dfs.core.windows.net/","web":"https://qwe2etestsgrswus2.z5.web.core.windows.net/","blob":"https://qwe2etestsgrswus2.blob.core.windows.net/","queue":"https://qwe2etestsgrswus2.queue.core.windows.net/","table":"https://qwe2etestsgrswus2.table.core.windows.net/","file":"https://qwe2etestsgrswus2.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://qwe2etestsgrswus2-secondary.dfs.core.windows.net/","web":"https://qwe2etestsgrswus2-secondary.z5.web.core.windows.net/","blob":"https://qwe2etestsgrswus2-secondary.blob.core.windows.net/","queue":"https://qwe2etestsgrswus2-secondary.queue.core.windows.net/","table":"https://qwe2etestsgrswus2-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenario[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2023-05-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "properties": {"allowBlobPublicAccess":
      false, "minimumTlsVersion": "TLS1_2"}, "resources": [{"name": "default", "type":
      "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''17d1049b-9a84-46fb-8f53-869881c3d3ab'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w9574871"}, "location": {"value":
      "eastus"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "quantinuum",
      "providerSku": "basic1"}, {"providerId": "rigetti", "providerSku": "azure-basic-qvm-only-unlimited"}]},
      "storageAccountName": {"value": "qwe2etestswus2"}, "storageAccountId": {"value":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2"},
      "storageAccountLocation": {"value": "westus2"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "StorageV2"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-29-Sep-2025-23-36-27"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w9574871","name":"Microsoft.AzureQuantum-e2e-test-w9574871","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1029235462670623033","parameters":{"quantumWorkspaceName":{"type":"String","value":"REDACTED"},"location":{"type":"String","value":"REDACTED"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"quantinuum","providerSku":"basic1"},{"providerId":"rigetti","providerSku":"azure-basic-qvm-only-unlimited"}]},"storageAccountName":{"type":"String","value":"qwe2etestswus2"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2"},"storageAccountLocation":{"type":"String","value":"REDACTED"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"StorageV2"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-29-Sep-2025-23-36-27"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-09-29T23:36:30.8044479Z","duration":"PT0.0005598S","correlationId":"b0b91709-7a25-41ba-bb12-e4cf77547ade","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["eastus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-test-w9574871","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"REDACTED"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w9574871","resourceType":"Microsoft.Quantum/workspaces","resourceName":"REDACTED","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-29-Sep-2025-23-36-27","resourceType":"Microsoft.Resources/deployments","resourceName":"REDACTED"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w9574871/operationStatuses/08584424178946581209?api-version=2024-11-01&t=638947857913044639&c=REDACTED&s=REDACTED&h=5H9wjpiGSAt4h4INMTrYRl3kSSe3T_t_O8AHiFcBDAc
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.473.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584424178946581209?api-version=2024-11-01&t=638947857913044639&c=REDACTED&s=REDACTED&h=5H9wjpiGSAt4h4INMTrYRl3kSSe3T_t_O8AHiFcBDAc
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w9574871/providerStatus?api-version=2024-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"quantinuum","currentAvailability":"Available","targets":[{"id":"quantinuum.sim.h1-1sc","currentAvailability":"Available","averageQueueTime":316,"statusPage":"https://calendar.qapi.quantinuum.com/?target=H1-1SC&key=j3d5KDvXAf3JjgRARl9OcG67y81RTZmiqi4yCOoYywohh8ARLZ"},{"id":"quantinuum.sim.h1-1e","currentAvailability":"Available","averageQueueTime":9,"statusPage":"https://calendar.qapi.quantinuum.com/?target=H1-1E&key=7zHFF9hnwqIlfA3Uq2szgIVLxAF6Ja29Iy4Bw9F4IFOKbaEjku"}]},{"id":"rigetti","currentAvailability":"Available","targets":[{"id":"rigetti.sim.qvm","currentAvailability":"Available","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"}]}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 928c52fb-99c0-482c-a91e-377a485fc433
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w9574871?api-version=2023-11-13-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Quantum/locations/EASTUS/operationStatuses/3fce7f56-714e-4fb2-b9b0-ea18cf5fc01b*A9C2D16DDFCBC75B248D2E4D4E5DD06AB46A6880510B41FFA1D902E74551FF2E?api-version=2023-11-13-preview&t=638947860132075196&c=REDACTED&s=REDACTED&h=N-QMefzs7Xh5vFSCIOl5KdtchMRSgqfq6YYr0e23LCk
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f019c43-0000-0100-0000-68db18dd0000"'
      location:
      - https://management.azure.com/providers/Microsoft.Quantum/locations/EASTUS/operationStatuses/3fce7f56-714e-4fb2-b9b0-ea18cf5fc01b*A9C2D16DDFCBC75B248D2E4D4E5DD06AB46A6880510B41FFA1D902E74551FF2E?api-version=2023-11-13-preview&t=638947860132231501&c=REDACTED&s=REDACTED&h=Kq47rM4LVDja0U_OCLOelQRYmoSoFsg2fU8n8vmBS9I
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w9574871?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w9574871","name":"e2e-test-w9574871","type":"microsoft.quantum/workspaces","location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-29T23:36:32.3374571Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-29T23:36:32.3374571Z"},"identity":{"principalId":"51689f2e-6c20-49a5-b5c8-41b99323ee3a","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"quantinuum","providerSku":"basic1","applicationName":"e2e-test-w9574871-quantinuum","provisioningState":"Succeeded","resourceUsageId":"f3bcaaa6-569d-4511-bbc9-dfb038d13492"},{"providerId":"rigetti","providerSku":"azure-basic-qvm-only-unlimited","applicationName":"e2e-test-w9574871-rigetti","provisioningState":"Succeeded","resourceUsageId":"4ce95993-11ab-45f7-b99a-7decb3396b18"}],"provisioningState":"Deleting","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2","apiKeyEnabled":REDACTED,"endpointUri":"https://e2e-test-w9574871.eastus.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f019c43-0000-0100-0000-68db18dd0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1









