interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus2/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.forte-1\",\"name\":\"Forte\",\"description\":\"IonQ's
        Forte quantum computer is dynamically reconfigurable in software to use up
        to 35 qubits. All qubits are fully connected, meaning you can run a two-qubit
        gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]}],\"skus\":[{\"id\":\"pay-as-you-go-cred\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"qgs\",\"scope\":\"Subscription\"}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (25 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth of IonQ
        compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability
        lasts, credits must be used within 6 months.<br /><br /><a href=\\\"https://aka.ms/AQ/Credits/FAQ\\\"
        target=\\\"_blank\\\">Learn more about quota for credits.</a>\"},{\"id\":\"price\",\"value\":\"Free,
        up to the granted value of your credits.\"}]},{\"id\":\"aqt-pay-as-you-go-cred-new\",\"version\":\"0.0.5\",\"name\":\"Azure
        Quantum Credits\",\"description\":\"The Azure Quantum Credits program provides
        sponsored access to IonQ hardware through Azure. You will not be charged for
        usage created under the credits program.\",\"autoAdd\":false,\"targets\":[\"ionq.qpu.aria-1\",\"ionq.qpu.aria-2\",\"ionq.simulator\"],\"quotaDimensions\":[{\"id\":\"aqt\",\"scope\":\"Subscription\",\"quota\":500}],\"pricingDetails\":[{\"id\":\"features\",\"value\":\"IonQ
        Simulator<br /><a href=\\\"https://aka.ms/AQ/IonQ/ProviderDocumentation\\\"
        title=\\\"Learn more about IonQ Targets\\\" target=\\\"_blank\\\">Aria Trapped
        Ion QC (25 qubits)</a>\"},{\"id\":\"quota\",\"value\":\"$500 worth of IonQ
        compute, unless you have received an additional <a href=\\\"https://aka.ms/AQ/Credits\\\"
        target=\\\"_blank\\\">project-based grant</a>.<br /><br />While availability[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/quantinuumllc1640113159771/offers/quantinuum-aq/plans/credits1/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/quantinuumllc1640113159771/offers/quantinuum-aq/plans/credits1/agreements/current","name":"credits1","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"quantinuumllc1640113159771","product":"quantinuum-aq","plan":"credits1","licenseTextLink":"https://storeordersprodsn.blob.core.windows.net/legalterms/3E5ED_legalterms_QUANTINUUMLLC1640113159771%253a24QUANTINUUM%253a2DAQ%253a24CREDITS1%253a24YODFBKSVCARWYGYF5PBYS4HTLCMUNWQNFSZQAHIGVNAQ4JMVI5FA3LIUUQWFPI5QYTTSWGAJASGIQDW3GS4G6U6OT2ANMEGUYESMFFI.txt","privacyPolicyLink":"https://www.quantinuum.com/privacy-statement","marketplaceTermsLink":"https://storeordersprodsn.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2025-05-28T22:02:23.5183788Z","signature":"6RWPMRBAVLS4U3SFY54ZSU7ZKVMC3QUSOUNQPVRB4MPRBVOPBKD6324ONE6DXU57RU4P2ZG4X6GZYKO7H2NRIQCZCSW6HSZNJWVH4WQ","accepted":true},"systemData":{"createdBy":"1916d14f-6594-4756-955d-9b95970a73a8","createdByType":"ManagedIdentity","createdAt":"2025-05-28T22:02:23.6253947+00:00","lastModifiedBy":"1916d14f-6594-4756-955d-9b95970a73a8","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2025-05-28T22:02:23.625395+00:00"}}'
    headers:
      api-supported-versions:
      - '2021-01-01'
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestsgrswus2","name":"qwe2etestsgrswus2","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2025-05-27T23:58:38.5120558Z","key2":"2025-05-27T23:58:38.5120558Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-27T23:58:38.5277525Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-27T23:58:38.5277525Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-05-27T23:58:38.3089407Z","primaryEndpoints":{"dfs":"https://qwe2etestsgrswus2.dfs.core.windows.net/","web":"https://qwe2etestsgrswus2.z5.web.core.windows.net/","blob":"https://qwe2etestsgrswus2.blob.core.windows.net/","queue":"https://qwe2etestsgrswus2.queue.core.windows.net/","table":"https://qwe2etestsgrswus2.table.core.windows.net/","file":"https://qwe2etestsgrswus2.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://qwe2etestsgrswus2-secondary.dfs.core.windows.net/","web":"https://qwe2etestsgrswus2-secondary.z5.web.core.windows.net/","blob":"https://qwe2etestsgrswus2-secondary.blob.core.windows.net/","queue":"https://qwe2etestsgrswus2-secondary.queue.core.windows.net/","table":"https://qwe2etestsgrswus2-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenario[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2023-05-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "properties": {"allowBlobPublicAccess":
      false, "minimumTlsVersion": "TLS1_2"}, "resources": [{"name": "default", "type":
      "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''17d1049b-9a84-46fb-8f53-869881c3d3ab'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w8946611"}, "location": {"value":
      "westus2"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "quantinuum",
      "providerSku": "credits1"}]}, "storageAccountName": {"value": "qwe2etestswus2"},
      "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2"},
      "storageAccountLocation": {"value": "westus2"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "StorageV2"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-28-May-2025-22-02-24"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w8946611","name":"Microsoft.AzureQuantum-e2e-test-w8946611","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1029235462670623033","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w8946611"},"location":{"type":"String","value":"westus2"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"quantinuum","providerSku":"credits1"}]},"storageAccountName":{"type":"String","value":"qwe2etestswus2"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2"},"storageAccountLocation":{"type":"String","value":"westus2"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"StorageV2"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-28-May-2025-22-02-24"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-05-28T22:02:27.2322527Z","duration":"PT0.0001075S","correlationId":"96e4f271-2920-460e-9668-aaf3d73c05fe","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["westus2"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-test-w8946611","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w8946611"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w8946611","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w8946611","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-28-May-2025-22-02-24","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-28-May-2025-22-02-24"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w8946611/operationStatuses/08584531371382368475?api-version=2024-11-01&t=638840665478416561&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMjI3WjBAMT4wPAYDVQQDEzVhc3luY29wZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/e2e-scenarios/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584531371382368475?api-version=2024-11-01&t=638840665478416561&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w8946611/providerStatus?api-version=2024-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"quantinuum","currentAvailability":"Available","targets":[{"id":"quantinuum.qpu.h1-1","currentAvailability":"Available","averageQueueTime":92176,"statusPage":"https://calendar.qapi.quantinuum.com/?target=H1-1&key=hRMwLRetpNSTgYOMdWrhkOoY2dC4xSa9Z37vgS7J5cjNIx0xvr"},{"id":"quantinuum.sim.h1-1sc","currentAvailability":"Available","averageQueueTime":1,"statusPage":"https://calendar.qapi.quantinuum.com/?target=H1-1SC&key=jzpvIvjeIy5eogGcaaQtQqbK81xCl0xPVRISmcWqSmSbcaqFQp"},{"id":"quantinuum.sim.h1-1e","currentAvailability":"Available","averageQueueTime":8443,"statusPage":"https://calendar.qapi.quantinuum.com/?target=H1-1E&key=0EbSgtSobDTSguxQQngBO2E8KZIXp6zpImpIRYLc4T0ZNBFkP4"}]}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ac56266f-b66d-4f6e-9c33-7868a1223f8a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w8946611?api-version=2023-11-13-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Quantum/locations/WESTUS2/operationStatuses/49618c1d-392f-48d3-a999-b9033a4563ef*82D1FE50F15E86[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w8946611?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w8946611","name":"e2e-test-w8946611","type":"microsoft.quantum/workspaces","location":"westus2","tags":{},"systemData":{"createdBy":"kikomiss@microsoft.com","createdByType":"User","createdAt":"2025-05-28T22:02:28.6517487Z","lastModifiedBy":"kikomiss@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-28T22:02:28.6517487Z"},"identity":{"principalId":"594fc891-3c70-42d2-ace7-88088c24c648","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"quantinuum","providerSku":"credits1","applicationName":"e2e-test-w8946611-quantinuum","provisioningState":"Succeeded","resourceUsageId":"df5d7f30-420a-4e82-adaf-1d090d2b04f0"}],"provisioningState":"Deleting","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/qwe2etestswus2","apiKeyEnabled":false,"endpointUri":"https://e2e-test-w8946611.westus2.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"44012911-0000-0800-0000-683788ad0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
