interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westeurope", "properties":
      {"apiKey": "Disabled", "deterministicOutboundIP": "Disabled", "publicNetworkAccess":
      "Enabled", "zoneRedundancy": "Disabled"}, "sku": {"name": "Standard"}, "tags":
      {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-19T17:03:15.5623244Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-19T17:03:15.5623244Z"},"identity":{"principalId":"085c2734-346e-46ef-937f-2d41e005eabe","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/12b5ab97-a8a0-4f6b-9361-e06a334cec35*6B856DA6AA5CB6590A3EF5BDB1DE5C7A3474E84F6896901AD401C85015A4D469?api-version=2023-09-01&t=638596837989688438&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNjE5MTEyOTI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/12b5ab97-a8a0-4f6b-9361-e06a334cec35*6B856DA6AA5CB6590A3EF5BDB1DE5C7A3474E84F6896901AD401C85015A4D469?api-version=2023-09-01&t=638596837989688438&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-19T17:03:15.5623244Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-19T17:03:15.5623244Z"},"identity":{"principalId":"085c2734-346e-46ef-937f-2d41e005eabe","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.7","endpoint":"https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9b007db8-0000-0d00-0000-66c37b660000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["ab2d4fb5-f80a-4bf1-a11d-7f1da254041b","acbca54f-c771-423b-a476-6d7a98cbbcec"],"skuId":"36a0f3b3-adb5-49ea-bf66-762134cf063a"},{"disabledPlans":["75317150-0539-40a7-a034-ec352928e568","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":[],"skuId":"639dec6b-bb19-468b-871c-c5c441c4b0cb"},{"disabledPlans":["795f6fe0-cc4d-4773-b050-5dde4dc704c9"],"skuId":"99cc8282-2f74-4954-83b7-c6a9a1999067"},{"disabledPlans":["f0ff6ac6-297d-49cd-be34-6dfef97f0c28","c948ea65-2053-4a5a-8a62-9eaaaf11b522","3ec18638-bd4c-4d3b-8905-479ed636b83e","3efbd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-22T15:08:54.1577297Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","condition":null,"conditionVersion":null,"createdOn":"2024-08-19T17:05:59.6014805Z","updatedOn":"2024-08-19T17:06:00.3434874Z","createdBy":null,"updatedBy":"fd6cf4a7-1446-4922-962d-4d208514f7fc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-07T19:37:57.4796716Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "085c2734-346e-46ef-937f-2d41e005eabe", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amgic2pgh7yegkwjz4prdbf4v4cuie4sahddsbwimzh2zmfp5xspbezvx2yj6vqyl7/providers/Microsoft.Dashboard/grafana/clitestamg3ddged2ujh4fi","name":"clitestamg3ddged2ujh4fi","t[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"email":"example@example.com","name":"example@example.com","avatarUrl":"/avatar/680ab924279570be1058c370ae052197","login":"example@example.com","role":"Admin","lastSeenAt":"2014-08-19T17:08:10Z","lastSeenAtAge":"10
        years","isDisabled":false,"authLabels":["Auth Proxy"],"isExternallySynced":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - ac652e3bf729b672d87dc267d28d690a
      mise-correlation-id:
      - 202d8660-375e-47f2-a9dd-6e2914b2aafd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"uid":"bdvbeacorz56oa","email":"example@example.com","name":"example@example.com","login":"example@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"isExternallySynced":false,"isGrafanaAdminExternallySynced":false,"authLabels":["Auth
        Proxy"],"updatedAt":"2024-08-19T17:08:10Z","createdAt":"2024-08-19T17:08:10Z","avatarUrl":"/avatar/680ab924279570be1058c370ae052197"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b4211a901b50e565af60fc7240f32659
      mise-correlation-id:
      - c9b4e4e1-209d-46bb-ad12-2916ce46e42f
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":35,"uid":"ddvbeakykpqtce","orgId":0,"title":"Test Folder","url":"/dashboards/f/ddvbeakykpqtce/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2024-08-19T17:08:14.451753595Z","updatedBy":"example@example.com","updated":"2024-08-19T17:08:14.451753695Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - fbf64dbe7b2d2bec36067dee0a30fd99
      mise-correlation-id:
      - 60a790bc-9caf-4742-86bc-41d625ac4d62
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 2f9fe5ccc70564bee495d2e833980d72
      mise-correlation-id:
      - 0873141d-b3d1-400c-8588-ee73e00c6a37
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/folders/ddvbeakykpqtce
  response:
    body:
      string: '{"id":35,"uid":"ddvbeakykpqtce","orgId":0,"title":"Test Folder","url":"/dashboards/f/ddvbeakykpqtce/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"Anonymous","created":"2024-08-19T17:08:14.455711Z","updatedBy":"Anonymous","updated":"2024-08-19T17:08:14.455711Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 7ca961581e6dd76e5ac27c62bce7db1c
      mise-correlation-id:
      - 4173cd10-1b9c-4114-aceb-3c73a0ef9d6b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/folders/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b3daa53e8065b2d259ec6c8964769f02
      mise-correlation-id:
      - 9ad40285-dda4-437b-830c-d7d50b8f6c4d
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 9fa6adb6a02efcb3f509a3811c33c516
      mise-correlation-id:
      - 315c5899-f294-49d8-97c5-b7774ba67602
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - cad92226ba5bc92eec13360edf9032fe
      mise-correlation-id:
      - 69872a1c-bbf3-423d-88d1-9ae38e3aafdc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/datasources/5
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b5c7927a4c6014aba1361fc8a24a7218
      mise-correlation-id:
      - be9ab838-1546-4853-97df-14ca803d31ff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":true,"jsonData":{"azureAuthType":"msi","subscriptionId":"73D886AA-48C7-4C13-BA14-47D1EE4A5EF0"},"readOnly":false},{"id":4,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"oauthPassThru":true},"readOnly":false},{"id":2,"uid":"2bf5f4cb-b112-4c36-8ed5-22a2b478d58f","orgId":1,"name":"Geneva
        SLI Data","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://genevaslidatafollower.westcentralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"slihelper","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":3,"uid":"f6364b78-a58a-4fcd-8fae-8cd0d3ddc448","orgId":1,"name":"IcM
        via ADX","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://icmclusterfollower.centralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"IcMDataWarehouse","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - a85c03277167caae5819a5e48598ebfb
      mise-correlation-id:
      - 599f3e84-0ffd-4515-add8-924c53d34303
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/datasources/uid/da714998-ca29-4adc-851b-1bd93371cbc6
  response:
    body:
      string: '{"id":5,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - a3213ffc1d149f0178e9ec98e60e495f
      mise-correlation-id:
      - 5daa246e-b81d-4904-825a-a2dd69b87b33
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Teams Notification Channel", "settings": {"url": "https://test.webhook.office.com/IncomingWebhook/"},
      "type": "teams"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '{"id":1,"uid":"fdvbebk3qsbnke","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-19T17:08:32.69403273Z","updated":"2024-08-19T17:08:32.69403283Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 8e8708ab0c1ece30608bf76f57147042
      mise-correlation-id:
      - b5a46d8b-292f-4109-b622-bef53d3a6c0e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/alert-notifications/fdvbebk3qsbnke
  response:
    body:
      string: '{"message":"notificationId is invalid","traceID":"59fdccd35b796c8d2ed9f5e3f9bae374"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 59fdccd35b796c8d2ed9f5e3f9bae374
      mise-correlation-id:
      - fae36809-b5a3-4e7b-868a-5c117648dc07
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/alert-notifications/uid/fdvbebk3qsbnke
  response:
    body:
      string: '{"id":1,"uid":"fdvbebk3qsbnke","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-19T17:08:32Z","updated":"2024-08-19T17:08:32Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 9f1c89ba1d1c3cd687134c946dbde8d7
      mise-correlation-id:
      - ce1f7468-ebad-46e6-a5e8-5e5ef8ac330a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '[{"id":1,"uid":"fdvbebk3qsbnke","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-19T17:08:32Z","updated":"2024-08-19T17:08:36Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - ba876c1a4ee68f7f44e4c6551a945a0e
      mise-correlation-id:
      - 7a190c90-fec6-40ac-aae3-96fe8af67578
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/alert-notifications/1
  response:
    body:
      string: '{"message":"Notification deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 4407bd8789309aa4ae71f2d0555fa598
      mise-correlation-id:
      - 9c82ded2-9968-434b-a0f2-c1a9fc0aa527
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard", "panels": []}, "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"folderUid":"","id":36,"slug":"test-dashboard","status":"success","uid":"advbec35rwef4d","url":"/d/advbec35rwef4d/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 29ec5d7787e55ec52930a9e41cb99e14
      mise-correlation-id:
      - 777c0d13-982a-4eaf-8b5f-870b77171e80
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/dashboards/uid/advbec35rwef4d
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/advbec35rwef4d/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2024-08-19T17:08:42Z","updated":"2024-08-19T17:08:42Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":36,"panels":[],"title":"Test
        Dashboard","uid":"advbec35rwef4d","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 712b24862aa4d708c326220c68a3b4fc
      mise-correlation-id:
      - 05398026-d7dc-4ad8-8823-ed10a1fbf17e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-ebdhf0cxe7dsejdd.weu.grafana.azure.com/api/search?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":21,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"edvbe0p2s5uyoc","folderTitle":"Geneva","folderUrl":"/dashboards/f/edvbe0p2s5uyoc/Geneva","sortMeta":0},{"id":16,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"edvbe0p2s5uyoc","folderTitle":"Geneva","folderUrl":"/dashboards/f/edvbe0p2s5uyoc/Geneva","sortMeta":0},{"id":22,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
