interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-07-29T17:26:27.0452196Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-07-29T17:26:27.0452196Z"},"identity":{"principalId":"d366d373-9fe5-491a-a887-ab546196d7eb","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/b769f255-0027-4e8d-9f58-10886b39420c*33F81F230E041538C07AADA96C37DBF516A6AB55FF952281704F877DF30B670E?api-version=2023-09-01&t=638578707895296464&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNjE5MTEyOTI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/b769f255-0027-4e8d-9f58-10886b39420c*33F81F230E041538C07AADA96C37DBF516A6AB55FF952281704F877DF30B670E?api-version=2023-09-01&t=638578707895296464&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-07-29T17:26:27.0452196Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-07-29T17:26:27.0452196Z"},"identity":{"principalId":"d366d373-9fe5-491a-a887-ab546196d7eb","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.3","endpoint":"https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9403cffb-0000-0d00-0000-66a7d1540000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["ab2d4fb5-f80a-4bf1-a11d-7f1da254041b","acbca54f-c771-423b-a476-6d7a98cbbcec"],"skuId":"36a0f3b3-adb5-49ea-bf66-762134cf063a"},{"disabledPlans":["75317150-0539-40a7-a034-ec352928e568","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":[],"skuId":"639dec6b-bb19-468b-871c-c5c441c4b0cb"},{"disabledPlans":["795f6fe0-cc4d-4773-b050-5dde4dc704c9"],"skuId":"99cc8282-2f74-4954-83b7-c6a9a1999067"},{"disabledPlans":["f0ff6ac6-297d-49cd-be34-6dfef97f0c28","c948ea65-2053-4a5a-8a62-9eaaaf11b522","3ec18638-bd4c-4d3b-8905-479ed636b83e","3efbd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-22T15:08:54.1577297Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","condition":null,"conditionVersion":null,"createdOn":"2024-07-29T17:29:05.1724895Z","updatedOn":"2024-07-29T17:29:05.6515008Z","createdBy":null,"updatedBy":"fd6cf4a7-1446-4922-962d-4d208514f7fc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-07T19:37:57.4796716Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "d366d373-9fe5-491a-a887-ab546196d7eb", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amgp464l2pwtvmqd4yu35b73dziaxqr4lzydwh2lwciv2rndgdpyhxngzy7nhgaeuk/providers/Microsoft.Dashboard/grafana/clitestamgmigrate3hztb7","name":"clitestamgmigrate3hztb7","t[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"email":"example@example.com","name":"example@example.com","avatarUrl":"/avatar/680ab924279570be1058c370ae052197","login":"example@example.com","role":"Admin","lastSeenAt":"2014-07-29T17:31:15Z","lastSeenAtAge":"10
        years","isDisabled":false,"authLabels":["Auth Proxy"],"isExternallySynced":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - d171f4d5213a8d5e68d1fdcd6cab4499
      mise-correlation-id:
      - f09b1fed-ead7-43fb-a8f8-4ee24d3851fd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"uid":"cdt8irxkqqpz4c","email":"example@example.com","name":"example@example.com","login":"example@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"isExternallySynced":false,"isGrafanaAdminExternallySynced":false,"authLabels":["Auth
        Proxy"],"updatedAt":"2024-07-29T17:31:15Z","createdAt":"2024-07-29T17:31:15Z","avatarUrl":"/avatar/680ab924279570be1058c370ae052197"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 891b6f6efe38481bb99b87576fbea3ac
      mise-correlation-id:
      - 99cd829d-ee39-4da1-817d-fe927b872147
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":35,"uid":"ddt8is2m2ddkwb","orgId":0,"title":"Test Folder","url":"/dashboards/f/ddt8is2m2ddkwb/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2024-07-29T17:31:18.109930724Z","updatedBy":"example@example.com","updated":"2024-07-29T17:31:18.109930724Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - ccbdfe2027820de99359cacac650c15e
      mise-correlation-id:
      - fb08e4d2-0324-43e2-95e7-fddf0dc75b7b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders/id/Test%20Folder
  response:
    body:
      string: '{"message":"id is invalid","traceID":"298bac2003b32bec3dbf697e9cebe858"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 298bac2003b32bec3dbf697e9cebe858
      mise-correlation-id:
      - 31d9d714-1c83-4787-a96c-2101da386c99
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - cc10e20d245c6017d99996704498aa8e
      mise-correlation-id:
      - 2383504c-b1d1-41b9-bfbb-79b306874f87
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders/id/ddt8is2m2ddkwb
  response:
    body:
      string: '{"message":"id is invalid","traceID":"71ae1104eb7c61d66ae50d68f2e40386"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 71ae1104eb7c61d66ae50d68f2e40386
      mise-correlation-id:
      - 4027ec33-0ac8-4bbf-8e7c-7a9adfc86aa6
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders/ddt8is2m2ddkwb
  response:
    body:
      string: '{"id":35,"uid":"ddt8is2m2ddkwb","orgId":0,"title":"Test Folder","url":"/dashboards/f/ddt8is2m2ddkwb/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"Anonymous","created":"2024-07-29T17:31:18.118748Z","updatedBy":"Anonymous","updated":"2024-07-29T17:31:18.118748Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 539304244b4f5440de33898d7841d8d2
      mise-correlation-id:
      - 83d5340a-bd76-4766-870a-aac1e923f440
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders/id/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"id is invalid","traceID":"7fd4723ecbd6e4424cefc6d1b68b0ef5"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 7fd4723ecbd6e4424cefc6d1b68b0ef5
      mise-correlation-id:
      - 7a0be253-8793-4f16-98e2-a2aa26274964
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/folders/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - de4ed2fba44e9933d9c68020405babfa
      mise-correlation-id:
      - ec669b10-10a2-493a-aa93-7f6927946f55
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"access": "proxy", "uid": "bdpe79jidbwu8c", "jsonData": {"azureAuthType":
      "msi", "subscriptionId": ""}, "name": "Test Azure Monitor Data Source", "type":
      "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e8df170b25c25465500e8704971b65b9
      mise-correlation-id:
      - 8c207087-ee66-483e-b20d-3012227fd2d6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test Azure Monitor
        Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 5a3988e890de79a6b1bd521ea2c78a43
      mise-correlation-id:
      - 22569fb6-16fd-4b3a-aeee-562c053d0e88
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "uid": "bdpe79jidbwu8c", "jsonData": {"azureAuthType":
      "msi", "subscriptionId": ""}, "name": "Test Azure Monitor Data Source", "type":
      "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/datasources/5
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 64061cff3811692157ad73f387489808
      mise-correlation-id:
      - 5f00a72d-8866-405c-a11f-9113d20f4f6e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":true,"jsonData":{"azureAuthType":"msi","subscriptionId":"73D886AA-48C7-4C13-BA14-47D1EE4A5EF0"},"readOnly":false},{"id":4,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"oauthPassThru":true},"readOnly":false},{"id":2,"uid":"2bf5f4cb-b112-4c36-8ed5-22a2b478d58f","orgId":1,"name":"Geneva
        SLI Data","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://genevaslidatafollower.westcentralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"slihelper","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":3,"uid":"f6364b78-a58a-4fcd-8fae-8cd0d3ddc448","orgId":1,"name":"IcM
        via ADX","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://icmclusterfollower.centralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"IcMDataWarehouse","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 9b259e0c89509435cde37f05f2e7a1a6
      mise-correlation-id:
      - cabf08a3-ad1e-43bb-b076-4b92f2d17eaf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/datasources/uid/bdpe79jidbwu8c
  response:
    body:
      string: '{"id":5,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 88f0fa5e1e308744534d8765c1f20635
      mise-correlation-id:
      - 6fe94fb2-4439-40c3-aeec-977d15147571
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Teams Notification Channel", "settings": {"url": "https://test.webhook.office.com/IncomingWebhook/"},
      "type": "teams"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '{"id":1,"uid":"bdt8iszpk9ypsf","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-07-29T17:31:35.296538248Z","updated":"2024-07-29T17:31:35.296538348Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e361d3d53c4ec680762304619a3af46c
      mise-correlation-id:
      - 4c176c0d-7364-47d9-93c8-d2d5e22a21e5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/alert-notifications/bdt8iszpk9ypsf
  response:
    body:
      string: '{"message":"notificationId is invalid","traceID":"8437cb43fbc38c7a7913c31e2971992f"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 8437cb43fbc38c7a7913c31e2971992f
      mise-correlation-id:
      - 306fac71-4477-48ef-8200-2fbd386be5e4
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/alert-notifications/uid/bdt8iszpk9ypsf
  response:
    body:
      string: '{"id":1,"uid":"bdt8iszpk9ypsf","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-07-29T17:31:35Z","updated":"2024-07-29T17:31:35Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e83fed7ca43b1d1b66c65a712a87d142
      mise-correlation-id:
      - 15ca3beb-9b32-4f28-ba28-af364ea20ea3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '[{"id":1,"uid":"bdt8iszpk9ypsf","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-07-29T17:31:35Z","updated":"2024-07-29T17:31:38Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - a1f5f08ebe306dd0bbee2f455631bdeb
      mise-correlation-id:
      - bd4abbf5-93cb-41bc-92b5-227c896814e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/alert-notifications/1
  response:
    body:
      string: '{"message":"Notification deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - fe1163cd69cb08a363943fe33b7dc5fd
      mise-correlation-id:
      - b87bffc6-72ea-48b9-a528-375977f55214
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard", "panels": []}, "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"folderUid":"","id":36,"slug":"test-dashboard","status":"success","uid":"adt8itebujlz4b","url":"/d/adt8itebujlz4b/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 015bdb0ae99f1fa34d48f637aa7d74e0
      mise-correlation-id:
      - c6daf6d4-e4ad-4af4-92dd-f566f2fc94af
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-b2ewh2g2gdd6hucu.weu.grafana.azure.com/api/dashboards/uid/adt8itebujlz4b
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/adt8itebujlz4b/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2024-07-29T17:31:42Z","updated":"2024-07-29T17:31:42Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":36,"panels":[],"title":"Test
        Dashboard","uid":"adt8itebujlz4b","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b108872a96642c4337812c59dad99262
      mise-correlation-id:
[...]
