interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","name":"clitestamg","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-03-13T04:14:48.1537718Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-13T04:14:48.1537718Z"},"identity":{"principalId":"1487575b-5326-49bc-b290-d0e30bd05463","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"640041d6-0000-0d00-0000-640ea33a0000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97","name":"a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","status":"Accepted","startTime":"2023-03-13T04:14:49.976251Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"43008bdf-0000-0d00-0000-640ea3390000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97","name":"a5dbba5a-5f46-473c-aef2-a923e62ff8ff*529B7E93ABB9A0C34DCED246E46F7644446C40344DA0414359F5655575CF5F97","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","status":"Succeeded","startTime":"2023-03-13T04:14:49.976251Z","endTime":"2023-03-13T04:20:16.684244Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4300c5e4-0000-0d00-0000-640ea4800000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"a30db067-cde1-49be-95bb-9619a8cc8617","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["a82fbf69-b4d7-49f4-83a6-915b2cf354f4","cd31b152-6326-4d1b-ae1b-997b625182e6","a413a9ff-720c-4822-98ef-2f37c2a21f4c","a6520331-d7d4-4276-95f5-15c0933bc757","ded3d325-1bdc-453e-8432-5bac26d7a014","afa73018-811e-46e9-988f-f75d2b1b8430","b21a6b06-1988-436e-a07b-51ec6d9f52ad","531ee2f8-b1cb-453b-9c21-d2180d014ca5","bf28f719-7844-4079-9c78-c1307898e192","28b0fa46-c39a-4188-89e2-58e979a6b014","199a5c09-e0ca-4e37-8f7c-b05d533e1ea2","65cc641f-cccd-4643-97e0-a17e3045e541","e26c2fcc-ab91-4a61-b35c-03cdc8dddf66","46129a58-a698-46f0-aa5b-17f6586297d9","6db1f1db-2b46-403f-be40-e39395f08dbb","6dc145d6-95dd-4191-b9c3-185575ee6f6b","41fcdd7d-4733-4863-9cf4-c65b83ce2df4","c4801e8a-cb58-4c35-aca6-f2dcc106f287","0898bdbb-73b0-471a-81e5-20f1fe4dd66e","617b097b-4b93-4ede-83de-5f075bb5fb2f","33c4f319-9bdd-48d6-9c4d-410b750a4a5a","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"b30411f5-fea1-4a59-9ad9-3db7c7ead579"},{"disabledPlans":[],"skuId":"4a51bf65-409c-4a91-b845-1121b571cc9d"},{"disabledPlans":["c815c93d-0759-4bb8-b857-bc921a71be83","7162bd38-edae-4022-83a7-c5837f951759","b622badb-1b45-48d5-920f-4b27a2c0996c","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":["b622badb-1b45-48d5-920f-4b27a2c0996c"],"skuId":"3d957427-ecdc-4df2-aacd-01cc9d519d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Built-in
        Grafana admin role","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2021-11-11T20:15:14.8104670Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "a30db067-cde1-49be-95bb-9619a8cc8617", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"a30db067-cde1-49be-95bb-9619a8cc8617","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","condition":null,"conditionVersion":null,"createdOn":"2023-03-13T04:20:26.6847037Z","updatedOn":"2023-03-13T04:20:27.1057107Z","createdBy":null,"updatedBy":"a30db067-cde1-49be-95bb-9619a8cc8617","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-06T17:20:40.5763144Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "1487575b-5326-49bc-b290-d0e30bd05463", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","name":"clitestamg","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-03-13T04:14:48.1537718Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-13T04:14:48.1537718Z"},"identity":{"principalId":"1487575b-5326-49bc-b290-d0e30bd05463","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"9.3.6","endpoint":"https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ed945e13-1e19-4c63-a547-191a55831a55
      - 300e8bc1-7ce3-49cd-add7-b03386c3c1fa
      - b68b1fcd-36ba-4640-944e-47756d9f9676
      - 7293b7ed-de40-403c-9d66-f62a48545bc7
      - bec83997-75f6-4150-b7d4-45d01475d1d9
      - 14a9bf8b-4e2d-47d1-82c5-199de9012e0c
      - 40d7eaee-710b-4a7f-9a51-73ce3fd31704
      - 4855c136-4fcc-44de-b4aa-489b00f3905a
      - 382efde7-2415-4777-81dd-69dd6e7437bb
      - 6235c972-b0a7-4cc5-9c95-89bb26a38d10
      - 2ab004f2-77f7-4510-8627-f675fd51fc83
      - 6a5eec3f-7d37-4fe5-83e0-ae7598497523
      - c0030ceb-619a-4f60-aff5-9e156826099a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/workspaces/providers/Microsoft.Dashboard/grafana/yugangwdummy","name":"yugangwdummy","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"southc[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"email":"example@example.com","name":"example@example.com","avatarUrl":"/avatar/3d063897fed105833776e2dba66ec90b","login":"example@example.com","role":"Admin","lastSeenAt":"2023-03-13T04:20:39Z","lastSeenAtAge":"\u003c
        1 minute","isDisabled":false}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"email":"example@example.com","name":"example@example.com","login":"example@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"authLabels":["Auth
        Proxy"],"updatedAt":"2023-03-13T04:20:38Z","createdAt":"2023-03-13T04:20:38Z","avatarUrl":"/avatar/3d063897fed105833776e2dba66ec90b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":24,"uid":"0RV2KoaVk","title":"Test Folder","url":"/dashboards/f/0RV2KoaVk/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2023-03-13T04:20:40.5964421Z","updatedBy":"example@example.com","updated":"2023-03-13T04:20:40.5964422Z","version":1,"parentUid":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/id/Test%20Folder
  response:
    body:
      string: '{"message":"id is invalid","traceID":"d920205c4aab3ef81b10d95baf891d32"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/id/0RV2KoaVk
  response:
    body:
      string: '{"message":"id is invalid","traceID":"29a592055cce6f33918dff6dd2e97861"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/0RV2KoaVk
  response:
    body:
      string: '{"id":24,"uid":"0RV2KoaVk","title":"Test Folder","url":"/dashboards/f/0RV2KoaVk/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2023-03-13T04:20:40Z","updatedBy":"example@example.com","updated":"2023-03-13T04:20:40Z","version":1,"parentUid":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/id/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"id is invalid","traceID":"7902cbf9a367591dc8bb3776054376d2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"access": "proxy", "jsonData": {"azureAuthType": "msi", "subscriptionId":
      ""}, "name": "Test Azure Monitor Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":3,"uid":"AG22Fo-Vk","orgId":1,"name":"Test Azure
        Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":3,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":3,"uid":"AG22Fo-Vk","orgId":1,"name":"Test Azure Monitor Data
        Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "jsonData": {"azureAuthType": "msi", "subscriptionId":
      ""}, "name": "Test Azure Monitor Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources/3
  response:
    body:
      string: '{"datasource":{"id":3,"uid":"AG22Fo-Vk","orgId":1,"name":"Test Azure
        Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":3,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":"2462343E-2B86-44E6-A7CE-6FF5E5C3E2E7"},"readOnly":false},{"id":2,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"msi"}},"readOnly":false},{"id":3,"uid":"AG22Fo-Vk","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources/uid/AG22Fo-Vk
  response:
    body:
      string: '{"id":3,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Teams Notification Channel", "settings": {"url": "https://test.webhook.office.com/IncomingWebhook/"},
      "type": "teams"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '{"id":1,"uid":"5F-2FoaVk","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2023-03-13T04:20:54.264684027Z","updated":"2023-03-13T04:20:54.264684127Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications/5F-2FoaVk
  response:
    body:
      string: '{"message":"notificationId is invalid","traceID":"d1c78db46dcc93ab4f93eb51a0538529"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications/uid/5F-2FoaVk
  response:
    body:
      string: '{"id":1,"uid":"5F-2FoaVk","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2023-03-13T04:20:54Z","updated":"2023-03-13T04:20:54Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '[{"id":1,"uid":"5F-2FoaVk","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2023-03-13T04:20:54Z","updated":"2023-03-13T04:20:57Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications/1
  response:
    body:
      string: '{"message":"Notification deleted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard"}, "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"id":25,"slug":"test-dashboard","status":"success","uid":"PGl2Ko-Vz","url":"/d/PGl2Ko-Vz/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/dashboards/uid/PGl2Ko-Vz
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/PGl2Ko-Vz/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2023-03-13T04:21:01Z","updated":"2023-03-13T04:21:01Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":false,"canEdit":false,"canDelete":false},"organization":{"canAdd":false,"canEdit":false,"canDelete":false}},"hasPublicDashboard":false,"publicDashboardAccessToken":"","publicDashboardUid":"","publicDashboardEnabled":false},"dashboard":{"id":25,"title":"Test
        Dashboard","uid":"PGl2Ko-Vz","version":1}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/search?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":19,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":12,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/geneva","sortMeta":0},{"id":20,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":12,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/geneva","sortMeta":0},{"id":14,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"isStarred":false[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01&$filter=principalId%20eq%20'1487575b-5326-49bc-b290-d0e30bd05463'
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","principalId":"1487575b-5326-49bc-b290-d0e30bd05463","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2023-03-13T04:20:30.4287441Z","updatedOn":"2023-03-13T04:20:30.4287441Z","createdBy":"a30db067-cde1-49be-95bb-9619a8cc8617","updatedBy":"a30db067-cde1-49be-95bb-9619a8cc8617","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}]}'
    headers:
      content-type:
[...]
