interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.Dashboard/grafana/yugangweus2e?api-version=2021-09-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.Dashboard/grafana/yugangweus2e","name":"yugangweus2e","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"eastus2euap","tags":{},"systemData":{"createdBy":"yugangw@microsoft.com","createdByType":"User","createdAt":"2022-03-04T03:45:10.1825533Z","lastModifiedBy":"yugangw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-04T03:45:10.1825533Z"},"identity":{"principalId":"f462ffcd-951a-4521-82b0-0cff25c5c18a","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"8.4.1","endpoint":"https://yugangweus2e.eus2e.azgrafana.io","zoneRedundancy":"Disabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1300f618-0000-3400-0000-62218cef0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
version: 1
