interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-07T23:13:05.7425617Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-07T23:13:05.7425617Z"},"identity":{"principalId":"ede636e9-8a7f-4ccb-84ff-9f544a43f6ac","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/f9f39e21-18cd-418e-bcea-b7826ab4aa1e*EEA7A8C8479012015009EB848E946C4EA967B25859EC830C5DBE7E27A2541434?api-version=2023-09-01&t=638586691880707110&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNjE5MTEyOTI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/f9f39e21-18cd-418e-bcea-b7826ab4aa1e*EEA7A8C8479012015009EB848E946C4EA967B25859EC830C5DBE7E27A2541434?api-version=2023-09-01&t=638586691880707110&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-07T23:13:05.7425617Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-07T23:13:05.7425617Z"},"identity":{"principalId":"ede636e9-8a7f-4ccb-84ff-9f544a43f6ac","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.3","endpoint":"https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bb008937-0000-0d00-0000-66b400070000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["ab2d4fb5-f80a-4bf1-a11d-7f1da254041b","acbca54f-c771-423b-a476-6d7a98cbbcec"],"skuId":"36a0f3b3-adb5-49ea-bf66-762134cf063a"},{"disabledPlans":["75317150-0539-40a7-a034-ec352928e568","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":[],"skuId":"639dec6b-bb19-468b-871c-c5c441c4b0cb"},{"disabledPlans":["795f6fe0-cc4d-4773-b050-5dde4dc704c9"],"skuId":"99cc8282-2f74-4954-83b7-c6a9a1999067"},{"disabledPlans":["f0ff6ac6-297d-49cd-be34-6dfef97f0c28","c948ea65-2053-4a5a-8a62-9eaaaf11b522","3ec18638-bd4c-4d3b-8905-479ed636b83e","3efbd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-22T15:08:54.1577297Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","condition":null,"conditionVersion":null,"createdOn":"2024-08-07T23:15:45.5705348Z","updatedOn":"2024-08-07T23:15:46.2485438Z","createdBy":null,"updatedBy":"fd6cf4a7-1446-4922-962d-4d208514f7fc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-07T19:37:57.4796716Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "ede636e9-8a7f-4ccb-84ff-9f544a43f6ac", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amgncvwvwya7d4c6ikzt4ax76cgylpi2nykcagn4eatf252hqw2caw3okedqg2lwpc/providers/Microsoft.Dashboard/grafana/clitestamgmigrate7kaha2","name":"clitestamgmigrate7kaha2","t[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"email":"example@example.com","name":"example@example.com","avatarUrl":"/avatar/680ab924279570be1058c370ae052197","login":"example@example.com","role":"Admin","lastSeenAt":"2014-08-07T23:17:53Z","lastSeenAtAge":"10
        years","isDisabled":false,"authLabels":["Auth Proxy"],"isExternallySynced":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 5a7414f602bb28249f904362ff84626c
      mise-correlation-id:
      - b4715db9-901d-412c-8569-a921d4688361
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"uid":"bdu5hssgtcu0wc","email":"example@example.com","name":"example@example.com","login":"example@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"isExternallySynced":false,"isGrafanaAdminExternallySynced":false,"authLabels":["Auth
        Proxy"],"updatedAt":"2024-08-07T23:17:53Z","createdAt":"2024-08-07T23:17:53Z","avatarUrl":"/avatar/680ab924279570be1058c370ae052197"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 379e24b3ea9de0ba7ec637edcf9e272b
      mise-correlation-id:
      - 862eba11-3cda-4d01-8d9e-7a349310fd4c
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":33,"uid":"fdu5hszxtf6kge","orgId":0,"title":"Test Folder","url":"/dashboards/f/fdu5hszxtf6kge/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2024-08-07T23:17:57.558675293Z","updatedBy":"example@example.com","updated":"2024-08-07T23:17:57.558675393Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 4873d8a2917dc6b6f50eb68febe77eff
      mise-correlation-id:
      - cfd6aef7-316e-4266-a50d-dd2dbe578a71
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 8d9b9daaa84aac0a1e7f16ac614e186c
      mise-correlation-id:
      - 6f604458-e6bb-4b81-85fe-e55722c35f56
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/folders/fdu5hszxtf6kge
  response:
    body:
      string: '{"id":33,"uid":"fdu5hszxtf6kge","orgId":0,"title":"Test Folder","url":"/dashboards/f/fdu5hszxtf6kge/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"Anonymous","created":"2024-08-07T23:17:57.568276Z","updatedBy":"Anonymous","updated":"2024-08-07T23:17:57.568276Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 1b5f39e238e71e7f0f528067d26775d4
      mise-correlation-id:
      - 6c6f1cef-8933-440b-bb4f-69561365d4db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/folders/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 00a6ee5e199178d4ea928cdd8715408d
      mise-correlation-id:
      - 90b94ef6-ad1f-41fb-b180-50768ef7c116
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 083494bd88bb64f66f6d55fa26d34000
      mise-correlation-id:
      - 07b9ef56-a0fa-4487-859f-413b19282988
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 118c966d4bf9292d767a0488a5f68d31
      mise-correlation-id:
      - f92170b4-c3ba-4685-bec4-cbd726a92fc7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/datasources/5
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 9e446db7aee3246446e276d97a90917a
      mise-correlation-id:
      - 1ad48fdd-a649-4734-93b0-6eefe0c635c4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":true,"jsonData":{"azureAuthType":"msi","subscriptionId":"73D886AA-48C7-4C13-BA14-47D1EE4A5EF0"},"readOnly":false},{"id":4,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"oauthPassThru":true},"readOnly":false},{"id":2,"uid":"2bf5f4cb-b112-4c36-8ed5-22a2b478d58f","orgId":1,"name":"Geneva
        SLI Data","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://genevaslidatafollower.westcentralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"slihelper","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":3,"uid":"f6364b78-a58a-4fcd-8fae-8cd0d3ddc448","orgId":1,"name":"IcM
        via ADX","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://icmclusterfollower.centralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"IcMDataWarehouse","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 7e6d88848fe085d225deda94d08f3860
      mise-correlation-id:
      - 410d447c-8c13-4474-a9da-57c63b1b43eb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/datasources/uid/da714998-ca29-4adc-851b-1bd93371cbc6
  response:
    body:
      string: '{"id":5,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - c8565d534458f2b961ad62b9a04175f1
      mise-correlation-id:
      - 45948e69-e6ab-43ed-99bf-9a931d6a3067
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Teams Notification Channel", "settings": {"url": "https://test.webhook.office.com/IncomingWebhook/"},
      "type": "teams"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '{"id":1,"uid":"cdu5htyh4vqiod","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-07T23:18:15.492101891Z","updated":"2024-08-07T23:18:15.492101991Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 38d4cf4e0a0582fe77cba90164cd4b0c
      mise-correlation-id:
      - 4bca8e8b-3ede-46cd-8c8c-c27b81006ba9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/alert-notifications/cdu5htyh4vqiod
  response:
    body:
      string: '{"message":"notificationId is invalid","traceID":"594de280a0a949292c220bed237f7e45"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 594de280a0a949292c220bed237f7e45
      mise-correlation-id:
      - f0ade3dc-d921-4cf3-8746-1ddcfc0abf46
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/alert-notifications/uid/cdu5htyh4vqiod
  response:
    body:
      string: '{"id":1,"uid":"cdu5htyh4vqiod","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-07T23:18:15Z","updated":"2024-08-07T23:18:15Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 1b5f716d7fdf50b9df25aa0bd3a684df
      mise-correlation-id:
      - a57f1462-4c8a-4fee-ad53-4d23009a95f3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '[{"id":1,"uid":"cdu5htyh4vqiod","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-07T23:18:15Z","updated":"2024-08-07T23:18:19Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 074fd549bd2af0b8cd6276436d15f272
      mise-correlation-id:
      - f5c56439-e69f-49a5-862b-b514b9438775
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/alert-notifications/1
  response:
    body:
      string: '{"message":"Notification deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 39d47e290659c8713750c24f268a1883
      mise-correlation-id:
      - 6d7a254b-2aeb-4e35-a0fe-66c0bfd6bd4c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard", "panels": []}, "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"folderUid":"","id":34,"slug":"test-dashboard","status":"success","uid":"adu5huhwgf9xce","url":"/d/adu5huhwgf9xce/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b7067e5ec1ba7a6e1748be12c2edb852
      mise-correlation-id:
      - 9a175d88-ef0d-4a78-a41e-58b19f940f18
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/dashboards/uid/adu5huhwgf9xce
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/adu5huhwgf9xce/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2024-08-07T23:18:25Z","updated":"2024-08-07T23:18:25Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":34,"panels":[],"title":"Test
        Dashboard","uid":"adu5huhwgf9xce","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b1b6529b65524d042942b9710ab1b371
      mise-correlation-id:
      - d6eafbf8-5c0c-46bf-8dac-6adcc1f0451c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-azcaawgjcgh4gkgc.weu.grafana.azure.com/api/search?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":18,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/Geneva","sortMeta":0},{"id":22,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/Geneva","sortMeta":0},{"id":25,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"isStarred":false[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
