interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westeurope", "properties":
      {"apiKey": "Disabled", "deterministicOutboundIP": "Disabled", "publicNetworkAccess":
      "Enabled", "zoneRedundancy": "Disabled"}, "sku": {"name": "Standard"}, "tags":
      {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-12T22:36:53.9053978Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-12T22:36:53.9053978Z"},"identity":{"principalId":"e2ed0971-8510-44d7-b7fc-e3707f4907cd","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"12"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview, 2024-10-01, 2024-11-01-preview, 2025-01-01-preview, 2025-02-01-preview,
        2025-04-01-preview, 2025-08-01, 2025-09-01-preview, 2025-11-01-preview, 2026-05-01-preview,
        2026-07-01-preview, 2026-09-01
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/eaa87f8c-1a36-4dc4-9fb1-f25f99377251*DAE470A2780DBF095ADF48FC3572F8DDA2FF5D6CBE55E814FF32C3F0D8829C3D?api-version=2023-09-01&t=639221710193741780&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/eaa87f8c-1a36-4dc4-9fb1-f25f99377251*DAE470A2780DBF095ADF48FC3572F8DDA2FF5D6CBE55E814FF32C3F0D8829C3D?api-version=2023-09-01&t=639221710193741780&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-12T22:36:53.9053978Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-12T22:36:53.9053978Z"},"identity":{"principalId":"e2ed0971-8510-44d7-b7fc-e3707f4907cd","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"12.4.6","endpoint":"https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"12"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1b000d45-0000-0d00-0000-6a7cf6180000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 7069079"],"displayName":"Alan Zhang","givenName":"Alan","jobTitle":"SOFTWARE
        ENGINEER II","mail":"test@example.com","mobilePhone":null,"officeLocation":"18/2480FL","preferredLanguage":null,"surname":"Zhang","userPrincipalName":"test@example.com","id":"953fd163-96b2-4789-8a83-9cfe693dd8d5"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"MW2PEPF000126DE"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-18T04:44:18.4380858Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "953fd163-96b2-4789-8a83-9cfe693dd8d5", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"953fd163-96b2-4789-8a83-9cfe693dd8d5","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","condition":null,"conditionVersion":null,"createdOn":"2026-08-12T22:39:42.6617818Z","updatedOn":"2026-08-12T22:39:43.0536632Z","createdBy":null,"updatedBy":"953fd163-96b2-4789-8a83-9cfe693dd8d5","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2025-06-18T13:42:52.3891983Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "e2ed0971-8510-44d7-b7fc-e3707f4907cd", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2022-04-01
  response:
    body:
      string: '{"error":{"code":"UnmatchedPrincipalType","message":"The PrincipalId
        ''e2ed0971851044d7b7fce3707f4907cd'' has type ''ServicePrincipal'' , which
        is different from specified PrinciaplType ''User''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-12T22:36:53.9053978Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-12T22:36:53.9053978Z"},"identity":{"principalId":"e2ed0971-8510-44d7-b7fc-e3707f4907cd","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"12.4.6","endpoint":"https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"12"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 83e109d4-42b8-4737-931e-60ad14855821
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"uid":"ffv01mpjwml1ca","email":"test@example.com","name":"test@example.com","avatarUrl":"/avatar/394901e50524f648e12a1f87395daac7","login":"test@example.com","role":"Admin","lastSeenAt":"2026-08-12T22:42:24Z","created":"2026-08-12T22:42:24Z","lastSeenAtAge":"\u003c
        1 minute","isDisabled":false,"authLabels":["Auth Proxy"],"isExternallySynced":false,"isProvisioned":false},{"orgId":1,"userId":1,"uid":"bfv01csin3s3kd","email":"grafanaserveradmin","name":"Azure
        Managed Grafana","avatarUrl":"/avatar/9b5c155c41e89227a1c9a84a54195d64","login":"grafanaserveradmin","role":"Admin","lastSeenAt":"2026-08-12T22:39:19Z","created":"2026-08-12T22:39:19Z","lastSeenAtAge":"3
        minutes","isDisabled":false,"authLabels":["Auth Proxy"],"isExternallySynced":false,"isProvisioned":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - bcf1d4ac9f37778726ca43ef5cbeab64
      mise-correlation-id:
      - 791a387b-7c29-44ef-a80d-24eb6f3c2f7b
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"uid":"ffv01mpjwml1ca","email":"test@example.com","name":"test@example.com","login":"test@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"isExternallySynced":false,"isGrafanaAdminExternallySynced":false,"authLabels":["Auth
        Proxy"],"updatedAt":"2026-08-12T22:42:24Z","createdAt":"2026-08-12T22:42:24Z","avatarUrl":"/avatar/394901e50524f648e12a1f87395daac7","isProvisioned":false}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 676b33853f9dbb1eaf26e15513116d29
      mise-correlation-id:
      - a56e78ba-b264-420d-b45b-7be806727adf
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":2504451740925952,"uid":"ffv01mtrvy6f4e","orgId":1,"title":"Test
        Folder","url":"/dashboards/f/ffv01mtrvy6f4e/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"test@example.com","created":"2026-08-12T22:42:26Z","updatedBy":"Anonymous","updated":"2026-08-12T22:42:26Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - dbd0aa283b52ff3e7f600a7ac348f01c
      mise-correlation-id:
      - d1573085-b6c4-466a-af0a-9bd298ebb72e
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/search/?type=dash-folder
  response:
    body:
      string: '[{"id":2503627744739328,"uid":"az-databases","orgId":1,"title":"Azure
        Databases","uri":"db/azure-databases","url":"/dashboards/f/az-databases/azure-databases","slug":"","type":"dash-folder","tags":[],"isStarred":false,"sortMeta":0,"isDeleted":false},{"id":2503634191384576,"uid":"bfv01ce76k3cwd","orgId":1,"title":"Azure
        Kubernetes Service Monitoring","uri":"db/azure-kubernetes-service-monitoring","url":"/dashboards/f/bfv01ce76k3cwd/azure-kubernetes-service-monitoring","slug":"","type":"dash-folder","tags":[],"isStarred":false,"sortMeta":0,"isDeleted":false},{"id":2503611340816384,"uid":"afv01c3oig8aob","orgId":1,"title":"Azure
        Monitor","uri":"db/azure-monitor","url":"/dashboards/f/afv01c3oig8aob/azure-monitor","slug"[...]
[...]
- request:
    body: '{"title": "Test Folder Update", "overwrite": true}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/folders/ffv01mtrvy6f4e
  response:
    body:
      string: '{"id":2504451740925952,"uid":"ffv01mtrvy6f4e","orgId":1,"title":"Test
        Folder Update","url":"/dashboards/f/ffv01mtrvy6f4e/test-folder-update","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"test@example.com","created":"2026-08-12T22:42:26Z","updatedBy":"test@example.com","updated":"2026-08-12T22:42:29Z","version":2}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e1229723a7fd703582651e6560958469
      mise-correlation-id:
      - 0c69684e-5b25-4301-8ac3-b48d54eb65c1
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/plugins/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false,"apiVersion":""},"id":5,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e688a996f68be242fea5ac8271ec65dc
      mise-correlation-id:
      - cc875d5e-1e82-48c2-81b7-a435cd76a06a
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/plugins/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false,"apiVersion":""}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - f8600be2647bec28765a6b1821321de4
      mise-correlation-id:
      - e13b2ce7-9915-4409-a87a-5bf6630ef5ec
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/datasources/uid/da714998-ca29-4adc-851b-1bd93371cbc6
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/plugins/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false,"apiVersion":""},"id":5,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 291c1a08c0267baf1207f898dbe674bb
      mise-correlation-id:
      - 32e55f47-db25-4f99-bb44-12c01cc7dd69
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/plugins/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":true,"jsonData":{"azureAuthType":"msi","subscriptionId":"CED61727-2249-45AC-9149-FE9D0AC99A17"},"readOnly":false},{"id":4,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"oauthPassThru":true},"readOnly":false},{"id":2,"uid":"2bf5f4cb-b112-4c36-8ed5-22a2b478d58f","orgId":1,"name":"Geneva
        SLI Data","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://genevaslidatafollower.westcentralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"slihelper","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":3,"uid":"f6364b78-a58a-4fcd-8fae-8cd0d3ddc448","orgId":1,"name":"IcM
        via ADX","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://icmclusterfollower.centralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"IcMDataWarehouse","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/plugins/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - be8030103c7da9608a8e101f80ce3da9
      mise-correlation-id:
      - 10ec0e9b-0f28-4759-b45b-58bf29c11762
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard", "panels": [], "uid": "mg2OAlTVd"},
      "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"folderUid":"","id":2504516883013632,"slug":"test-dashboard","status":"success","uid":"mg2OAlTVd","url":"/d/mg2OAlTVd/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 81704019f09c70fa3bad66c9a3a43a62
      mise-correlation-id:
      - 2f7776a7-f3d6-4b3d-9097-067df8c1d172
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/apis/dashboard.grafana.app/
  response:
    body:
      string: '{"kind":"APIGroup","apiVersion":"v1","name":"dashboard.grafana.app","versions":[{"groupVersion":"dashboard.grafana.app/v1beta1","version":"v1beta1"},{"groupVersion":"dashboard.grafana.app/v0alpha1","version":"v0alpha1"},{"groupVersion":"dashboard.grafana.app/v2beta1","version":"v2beta1"},{"groupVersion":"dashboard.grafana.app/v2alpha1","version":"v2alpha1"}],"preferredVersion":{"groupVersion":"dashboard.grafana.app/v1beta1","version":"v1beta1"}}

        '
    headers:
      audit-id:
      - ccaeb34b-9157-455c-84a8-c3ccf7298445
      content-type:
      - application/json
      grafana-trace-id:
      - 8e5f7b32141481aa380fde5c38574a45
      mise-correlation-id:
      - a84da82f-3dcb-4783-ba2f-47dffe65c3d7
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/apis/dashboard.grafana.app/v2beta1/namespaces/default/dashboards/mg2OAlTVd
  response:
    body:
      string: '{"kind":"Dashboard","apiVersion":"dashboard.grafana.app/v2beta1","metadata":{"name":"mg2OAlTVd","namespace":"default","uid":"ba1dbd99-f2b2-47d2-be11-355d2db25ee2","resourceVersion":"1786574562530660","generation":1,"creationTimestamp":"2026-08-12T22:42:42Z","labels":{"grafana.app/deprecatedInternalID":"2504516883013632"},"annotations":{"grafana.app/createdBy":"user:ffv01mpjwml1ca"},"managedFields":[{"manager":"grafana","operation":"Update","apiVersion":"dashboard.grafana.app/v0alpha1","time":"2026-08-12T22:42:42Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:panels":{},"f:title":{},"f:uid":{},"f:version":{}}}}]},"spec":{"annotations":[{"kind":"AnnotationQuery","spec":{"query":{"kind":"DataQuery","group":"grafana","version":"v0","datasource":{"name":"--
        Grafana --"},"spec":{}},"enable":true,"hide":true,"iconColor":"rgba(0, 211,
        255, 1)","name":"Annotations \u0026 Alerts","builtIn":true,"legacyOptions":{"type":"dashboard"}}}],"cursorSync":"Off","editable":true,"elements":{},"layout":{"kind":"GridLayout","spec":{"items":[]}},"links":[],"liveNow":false,"preload":false,"tags":[],"timeSettings":{"timezone":"","from":"now-6h","to":"now","autoRefresh":"","autoRefreshIntervals":["5s","10s","30s","1m","5m","15m","30m","1h","2h","1d"],"hideTimepicker":false,"fiscalYearStartMonth":0},"title":"Test
        Dashboard","variables":[]},"status":{"conversion":{"failed":false,"storedVersion":"v0alpha1"}}}

        '
    headers:
      audit-id:
      - ca81a958-ef38-4fd8-bc5d-bffe46af9530
      content-type:
      - application/json
      grafana-trace-id:
      - da5006ff7ba8ad325dd4f829ce4f5e15
      mise-correlation-id:
      - 76a3d506-17d5-42dd-9a91-9d236b555c48
      x-grafana-identity-id:
      - user:2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-cfgqf4djadggaaa2.weu.grafana.azure.com/api/dashboards/uid/mg2OAlTVd
  response:
    body:
[...]
