interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westcentralus", "properties":
      {"apiKey": "Disabled", "deterministicOutboundIP": "Disabled", "publicNetworkAccess":
      "Enabled", "zoneRedundancy": "Disabled"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002","name":"clitestamgsvcacct000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-10-21T08:45:02.547704Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-21T08:45:02.547704Z"},"identity":{"principalId":"584f6fbc-b680-49ab-a3b3-9981b4ec93d0","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/c1b377fe-5202-48a8-be77-f1161e417c13*639A52C38D8B0F4B4EEFB36A0307F6263F85848AFD6E66DC659079543E990CF3?api-version=2023-09-01&t=638650971036884240&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/c1b377fe-5202-48a8-be77-f1161e417c13*639A52C38D8B0F4B4EEFB36A0307F6263F85848AFD6E66DC659079543E990CF3?api-version=2023-09-01&t=638650971036884240&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002","name":"clitestamgsvcacct000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-10-21T08:45:02.547704Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-21T08:45:02.547704Z"},"identity":{"principalId":"584f6fbc-b680-49ab-a3b3-9981b4ec93d0","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.7","endpoint":"https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1900a4ee-0000-0800-0000-6716151e0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 7069079"],"displayName":"Alan Zhang","givenName":"Alan","jobTitle":"SOFTWARE
        ENGINEER","mail":"example@example.com","mobilePhone":null,"officeLocation":"18/2480FL","preferredLanguage":null,"surname":"Zhang","userPrincipalName":"example@example.com","id":"953fd163-96b2-4789-8a83-9cfe693dd8d5"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"CO1PEPF00005D53"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-18T04:44:18.4380858Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "953fd163-96b2-4789-8a83-9cfe693dd8d5", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"953fd163-96b2-4789-8a83-9cfe693dd8d5","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002","condition":null,"conditionVersion":null,"createdOn":"2024-10-21T08:47:40.2925112Z","updatedOn":"2024-10-21T08:47:40.8225183Z","createdBy":null,"updatedBy":"953fd163-96b2-4789-8a83-9cfe693dd8d5","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgsvcacct000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-06T17:20:40.5763144Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "584f6fbc-b680-49ab-a3b3-9981b4ec93d0", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorizat[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts/search
  response:
    body:
      string: '{"totalCount":0,"serviceAccounts":[],"page":1,"perPage":1000}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 3025947004657bd8940633e71a25de19
      mise-correlation-id:
      - ab092dd0-39d3-4290-ae69-1a140fa5c628
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "oldName", "role": "Viewer", "isDisabled": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts
  response:
    body:
      string: '{"id":3,"name":"oldName","login":"sa-1-oldname","orgId":1,"isDisabled":true,"role":"Viewer","tokens":0,"avatarUrl":""}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 10885f6136e186c6b14ba8ac0d145e2a
      mise-correlation-id:
      - 4c8b8cb3-7117-4e06-9e35-1949497330f4
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "myServiceAccount", "role": "Admin", "isDisabled": false}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts/3
  response:
    body:
      string: '{"id":3,"message":"Service account updated","name":"myServiceAccount","serviceaccount":{"id":3,"name":"myServiceAccount","login":"sa-1-oldname","orgId":1,"isDisabled":false,"createdAt":"2024-10-21T08:49:57Z","updatedAt":"2024-10-21T08:49:57Z","avatarUrl":"/avatar/2500c98b645dbb9405e34002e460d53e","role":"Admin","teams":null}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 6663bc1cd94f9c7f80b87760d4031d5a
      mise-correlation-id:
      - bbe2f815-199f-40bb-a686-f3ca1b22ebc7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "myToken", "secondsToLive": 86400}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts/3/tokens
  response:
    body:
      string: '{"id":1,"name":"myToken","key":"fakeApiKeyOrServiceAccountToken"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - fb7b9e1987973a4e55cee1540adeaa55
      mise-correlation-id:
      - 77e64f30-6f4e-44e3-90c6-80716527ed95
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts/3/tokens
  response:
    body:
      string: '[{"id":1,"name":"myToken","created":"2024-10-21T08:50:01Z","lastUsedAt":null,"expiration":"2024-10-22T08:50:01Z","secondsUntilExpiration":86398.76004883,"hasExpired":false,"isRevoked":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - fb91be670bba8a0a96c444c58ec987a3
      mise-correlation-id:
      - 669e96b3-158f-43ac-816f-3ca8d82a94c6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/search?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":17,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"be1iya24wmdxcb","folderTitle":"Geneva","folderUrl":"/dashboards/f/be1iya24wmdxcb/Geneva","sortMeta":0},{"id":27,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"be1iya24wmdxcb","folderTitle":"Geneva","folderUrl":"/dashboards/f/be1iya24wmdxcb/Geneva","sortMeta":0},{"id":20,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[][...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts/3/tokens/1
  response:
    body:
      string: '{"message":"Service account token deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 7b1b5b7720610fff58aabfba979a0dc1
      mise-correlation-id:
      - 82f13e4b-8f62-4a33-bb5d-214d2ea7496f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamgsvcacct000002-dcgshrg9cqfme2e2.wcus.grafana.azure.com/api/serviceaccounts/3
  response:
    body:
      string: '{"message":"Service account deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b0b4120134e151dad1d231572353349c
      mise-correlation-id:
      - 85b8e892-4150-493e-aa47-4acfd317e1a0
    status:
      code: 200
      message: OK
version: 1
