interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-06T20:10:58.9241262Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-06T20:10:58.9241262Z"},"identity":{"principalId":"2c2fac8b-abf6-48a6-8dae-b2703e22d974","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/8b05f83f-6a8b-4e58-84cc-50859ad850ef*A277865230F8D16F92873F2B82E4054207895C9A53C1D4C012F5DF96ACD6FC4B?api-version=2023-09-01&t=638585718621273341&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNjE5MTEyOTI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/8b05f83f-6a8b-4e58-84cc-50859ad850ef*A277865230F8D16F92873F2B82E4054207895C9A53C1D4C012F5DF96ACD6FC4B?api-version=2023-09-01&t=638585718621273341&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-06T20:10:58.9241262Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-06T20:10:58.9241262Z"},"identity":{"principalId":"2c2fac8b-abf6-48a6-8dae-b2703e22d974","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.3","endpoint":"https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8a00ac22-0000-0d00-0000-66b283e50000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["ab2d4fb5-f80a-4bf1-a11d-7f1da254041b","acbca54f-c771-423b-a476-6d7a98cbbcec"],"skuId":"36a0f3b3-adb5-49ea-bf66-762134cf063a"},{"disabledPlans":["75317150-0539-40a7-a034-ec352928e568","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":[],"skuId":"639dec6b-bb19-468b-871c-c5c441c4b0cb"},{"disabledPlans":["795f6fe0-cc4d-4773-b050-5dde4dc704c9"],"skuId":"99cc8282-2f74-4954-83b7-c6a9a1999067"},{"disabledPlans":["f0ff6ac6-297d-49cd-be34-6dfef97f0c28","c948ea65-2053-4a5a-8a62-9eaaaf11b522","3ec18638-bd4c-4d3b-8905-479ed636b83e","3efbd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-22T15:08:54.1577297Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","condition":null,"conditionVersion":null,"createdOn":"2024-08-06T20:13:38.1825611Z","updatedOn":"2024-08-06T20:13:38.5995690Z","createdBy":null,"updatedBy":"fd6cf4a7-1446-4922-962d-4d208514f7fc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-07T19:37:57.4796716Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "2c2fac8b-abf6-48a6-8dae-b2703e22d974", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e000002","name":"clitestamge2e000002","type":"microsoft.dashboard/grafa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2023-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amgp464l2pwtvmqd4yu35b73dziaxqr4lzydwh2lwciv2rndgdpyhxngzy7nhgaeuk/providers/Microsoft.Dashboard/grafana/clitestamgmigrate3hztb7","name":"clitestamgmigrate3hztb7","t[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"email":"example@example.com","name":"example@example.com","avatarUrl":"/avatar/680ab924279570be1058c370ae052197","login":"example@example.com","role":"Admin","lastSeenAt":"2014-08-06T20:15:48Z","lastSeenAtAge":"10
        years","isDisabled":false,"authLabels":["Auth Proxy"],"isExternallySynced":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 8fb1b20970836ba30fc0997466c2efbe
      mise-correlation-id:
      - 36aac910-1548-49cc-ba3d-3afac46d7937
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"uid":"edu1h3mvys6wwf","email":"example@example.com","name":"example@example.com","login":"example@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"isExternallySynced":false,"isGrafanaAdminExternallySynced":false,"authLabels":["Auth
        Proxy"],"updatedAt":"2024-08-06T20:15:48Z","createdAt":"2024-08-06T20:15:48Z","avatarUrl":"/avatar/680ab924279570be1058c370ae052197"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - d519a71bbb3c5e7c84cba63fe9e26aa9
      mise-correlation-id:
      - bd4c0762-f4ec-45c3-a770-17cf36923917
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":32,"uid":"fdu1h3undakn4d","orgId":0,"title":"Test Folder","url":"/dashboards/f/fdu1h3undakn4d/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2024-08-06T20:15:52.604899649Z","updatedBy":"example@example.com","updated":"2024-08-06T20:15:52.604899749Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - af1fbd6d7a3776d759839912a979a1cb
      mise-correlation-id:
      - 7264fa36-0345-4531-a450-2689897d9753
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 8750327e4d52cb339b24336b40fdf319
      mise-correlation-id:
      - 69447e1b-fd78-4e1a-98be-8fb0f5a8bd3c
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/folders/fdu1h3undakn4d
  response:
    body:
      string: '{"id":32,"uid":"fdu1h3undakn4d","orgId":0,"title":"Test Folder","url":"/dashboards/f/fdu1h3undakn4d/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"Anonymous","created":"2024-08-06T20:15:52.614528Z","updatedBy":"Anonymous","updated":"2024-08-06T20:15:52.614528Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 7ae11d8884125c97402d89bd750a0254
      mise-correlation-id:
      - 17cde640-bef3-4fea-b2a4-39bac2f51cca
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/folders/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 9a123f2934508f3bd26f031d53e26ed8
      mise-correlation-id:
      - df26c8bd-aeb8-492f-95ca-2c41e3dcaf0a
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"access": "proxy", "uid": "bdpe79jidbwu8c", "jsonData": {"azureAuthType":
      "msi", "subscriptionId": ""}, "name": "Test Azure Monitor Data Source", "type":
      "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 0d2374e8c5a0522299a705f643425b4e
      mise-correlation-id:
      - e683801f-e6e9-451b-86e0-e184896445a5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test Azure Monitor
        Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - a6ae8e4d452585557cdd7d2a9189e6e5
      mise-correlation-id:
      - c7ae1a1b-3853-4867-a3d2-782a742f125c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "uid": "bdpe79jidbwu8c", "jsonData": {"azureAuthType":
      "msi", "subscriptionId": ""}, "name": "Test Azure Monitor Data Source", "type":
      "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/datasources/5
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 9fb1c6b0ccf29ffdc7391d44588c1e65
      mise-correlation-id:
      - 5ac86585-71af-496a-ae58-2bcf9c96f1b6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":true,"jsonData":{"azureAuthType":"msi","subscriptionId":"73D886AA-48C7-4C13-BA14-47D1EE4A5EF0"},"readOnly":false},{"id":4,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"oauthPassThru":true},"readOnly":false},{"id":2,"uid":"2bf5f4cb-b112-4c36-8ed5-22a2b478d58f","orgId":1,"name":"Geneva
        SLI Data","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://genevaslidatafollower.westcentralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"slihelper","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":3,"uid":"f6364b78-a58a-4fcd-8fae-8cd0d3ddc448","orgId":1,"name":"IcM
        via ADX","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://icmclusterfollower.centralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"IcMDataWarehouse","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":5,"uid":"bdpe79jidbwu8c","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 72c47a7a75473d7fd191f3114961664d
      mise-correlation-id:
      - d291ea0c-b496-402f-a80b-7c0e9802c556
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/datasources/uid/bdpe79jidbwu8c
  response:
    body:
      string: '{"id":5,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 393882498ebb9b7a3bdc5c06c341522d
      mise-correlation-id:
      - 3e2abf4a-7007-4a61-905f-4f0b2a669cdc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Teams Notification Channel", "settings": {"url": "https://test.webhook.office.com/IncomingWebhook/"},
      "type": "teams"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '{"id":1,"uid":"bdu1h4t4ogt8ga","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-06T20:16:10.508343527Z","updated":"2024-08-06T20:16:10.508343627Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 60e2cf84fee539ebde2673ea365c8a71
      mise-correlation-id:
      - 762de1b2-c2c8-4005-bdf2-a05ce14ab895
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/alert-notifications/bdu1h4t4ogt8ga
  response:
    body:
      string: '{"message":"notificationId is invalid","traceID":"e1c223630cd3c6fb3c89e67e80ab01e3"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e1c223630cd3c6fb3c89e67e80ab01e3
      mise-correlation-id:
      - 1bcaf624-1fd5-4c36-a7f5-e1fdba171663
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/alert-notifications/uid/bdu1h4t4ogt8ga
  response:
    body:
      string: '{"id":1,"uid":"bdu1h4t4ogt8ga","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-06T20:16:10Z","updated":"2024-08-06T20:16:10Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - a88f2c5cbf9976228a2dbc4bae11bbb1
      mise-correlation-id:
      - 49214f39-af43-4eb5-a1ea-7fc5154ce843
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '[{"id":1,"uid":"bdu1h4t4ogt8ga","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2024-08-06T20:16:10Z","updated":"2024-08-06T20:16:14Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 52ef797e961b9fc6aa96c1e8823ef1da
      mise-correlation-id:
      - 5887a5af-e77b-4f4c-814f-0921652c94a5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/alert-notifications/1
  response:
    body:
      string: '{"message":"Notification deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 8e5575340337f70a3a512b923311d7a3
      mise-correlation-id:
      - 506ae9a9-c7c7-45ac-a8a9-14f02cd7703c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard", "panels": []}, "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"folderUid":"","id":33,"slug":"test-dashboard","status":"success","uid":"edu1h5c0gpa80b","url":"/d/edu1h5c0gpa80b/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 363d22613ef35a19f739f01ea559110e
      mise-correlation-id:
      - 1719ddf5-5b2f-4feb-a96e-6105d4d685d9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/dashboards/uid/edu1h5c0gpa80b
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/edu1h5c0gpa80b/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2024-08-06T20:16:20Z","updated":"2024-08-06T20:16:20Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":33,"panels":[],"title":"Test
        Dashboard","uid":"edu1h5c0gpa80b","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - d9de47982992a8d68b31c330769ebb0f
      mise-correlation-id:
      - 41a0aa69-712e-443d-ae6a-f661ebe263a9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamge2e000002-chfrarcuagfmdvhu.weu.grafana.azure.com/api/search?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":21,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/Geneva","sortMeta":0},{"id":17,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/Geneva","sortMeta":0},{"id":22,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"isStarred":false[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/126a8825-e88d-4d8e-8854-a656a0e8e13f*A277865230F8D16F92873F2B82E4054207895C9A53C1D4C012F5DF96ACD6FC4B?api-version=2023-09-01&t=638585721908279476&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNj[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
