interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westcentralus", "properties":
      {"apiKey": "Disabled", "deterministicOutboundIP": "Disabled", "publicNetworkAccess":
      "Enabled", "zoneRedundancy": "Disabled"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002","name":"clitestamgbackup000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-29T23:38:44.1854152Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T23:38:44.1854152Z"},"identity":{"principalId":"2faede33-0e3b-498b-b8fd-72da1f412f35","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/e3bc59dc-abb7-4304-8725-ad23d9573434*6F774533C6C3CCE90773AF377F1ACBEC60366050B484B185C185B6A8A2154BD6?api-version=2023-09-01&t=638605715251853468&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNjE5MTEyOTI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/e3bc59dc-abb7-4304-8725-ad23d9573434*6F774533C6C3CCE90773AF377F1ACBEC60366050B484B185C185B6A8A2154BD6?api-version=2023-09-01&t=638605715251853468&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002","name":"clitestamgbackup000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-29T23:38:44.1854152Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T23:38:44.1854152Z"},"identity":{"principalId":"2faede33-0e3b-498b-b8fd-72da1f412f35","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.7","endpoint":"https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3e008df8-0000-0800-0000-66d107210000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["ab2d4fb5-f80a-4bf1-a11d-7f1da254041b","acbca54f-c771-423b-a476-6d7a98cbbcec"],"skuId":"36a0f3b3-adb5-49ea-bf66-762134cf063a"},{"disabledPlans":["75317150-0539-40a7-a034-ec352928e568","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":[],"skuId":"639dec6b-bb19-468b-871c-c5c441c4b0cb"},{"disabledPlans":["795f6fe0-cc4d-4773-b050-5dde4dc704c9"],"skuId":"99cc8282-2f74-4954-83b7-c6a9a1999067"},{"disabledPlans":["f0ff6ac6-297d-49cd-be34-6dfef97f0c28","c948ea65-2053-4a5a-8a62-9eaaaf11b522","3ec18638-bd4c-4d3b-8905-479ed636b83e","3efbd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-22T15:08:54.1577297Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "Group"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"error":{"code":"UnmatchedPrincipalType","message":"The PrincipalId
        ''fd6cf4a714464922962d4d208514f7fc'' has type ''User'' , which is different
        from specified PrinciaplType ''Group''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002","condition":null,"conditionVersion":null,"createdOn":"2024-08-29T23:41:53.8578623Z","updatedOn":"2024-08-29T23:41:54.3968687Z","createdBy":null,"updatedBy":"fd6cf4a7-1446-4922-962d-4d208514f7fc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgbackup000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-07T19:37:57.4796716Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "2faede33-0e3b-498b-b8fd-72da1f412f35", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/6120fb07-8639-4f93-910f-3a2026044e85*F22674E3F0B4B49AF2B53FC0283B98ECD4C4AC5E37C3DF21F0BFE10F64490163?api-version=2023-09-01&t=638605717208713132&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjU[...]
[...]
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":32,"uid":"bdwc2ck5fykn4e","orgId":0,"title":"Test Folder","url":"/dashboards/f/bdwc2ck5fykn4e/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2024-08-29T23:46:10.018390746Z","updatedBy":"example@example.com","updated":"2024-08-29T23:46:10.018390846Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 635bad58c374bfd8219a1358a83f939b
      mise-correlation-id:
      - 5a496ef2-ed2b-482d-bfd4-56dd39b5f3e1
    status:
      code: 200
      message: OK
- request:
    body: '{"access": "proxy", "uid": "da714998-ca29-4adc-851b-1bd93371cbc6", "jsonData":
      {"azureAuthType": "msi", "subscriptionId": ""}, "name": "Test Azure Monitor
      Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":5,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - a2cefd64c1f400ca7f16d5908c1540de
      mise-correlation-id:
      - 8f9841b4-17db-4789-a0fd-a8767d20b3e0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b91e9abff0d61e48e90d930c7634e350
      mise-correlation-id:
      - 3fe134f8-5c61-45a4-87a7-210ec868db16
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard", "panels": [], "uid": "mg2OAlTVa"},
      "folderUid": "bdwc2ck5fykn4e", "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"folderUid":"bdwc2ck5fykn4e","id":33,"slug":"test-dashboard","status":"success","uid":"mg2OAlTVa","url":"/d/mg2OAlTVa/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e3da4ce4d478205248b49e675881d43d
      mise-correlation-id:
      - 11c45db9-a677-4366-a3a8-c7b275aa7d74
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/health
  response:
    body:
      string: "{\n  \"commit\": \"ac358f3e561c56e9e5e01d315fd306e01a8aadc5\",\n  \"database\":
        \"ok\",\n  \"enterpriseCommit\": \"b93c5949c399ecd18d88492a7e7928dcc92f9f72\",\n
        \ \"version\": \"10.4.7\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      grafana-trace-id:
      - 6a936a401b2bb266f3458cdf0af0f152
      mise-correlation-id:
      - c9816773-e348-485d-ab5d-5f3cc6221372
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/library-elements?page=1
  response:
    body:
      string: '{"result":{"totalCount":0,"elements":[],"page":1,"perPage":100}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 6d5686ef529454c51de2804702225edc
      mise-correlation-id:
      - 79588e8c-8d52-4737-be56-10eba1d702b3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":true,"jsonData":{"azureAuthType":"msi","subscriptionId":"73D886AA-48C7-4C13-BA14-47D1EE4A5EF0"},"readOnly":false},{"id":4,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"oauthPassThru":true},"readOnly":false},{"id":2,"uid":"2bf5f4cb-b112-4c36-8ed5-22a2b478d58f","orgId":1,"name":"Geneva
        SLI Data","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://genevaslidatafollower.westcentralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"slihelper","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":3,"uid":"f6364b78-a58a-4fcd-8fae-8cd0d3ddc448","orgId":1,"name":"IcM
        via ADX","type":"grafana-azure-data-explorer-datasource","typeName":"Azure
        Data Explorer Datasource","typeLogoUrl":"public/plugins/grafana-azure-data-explorer-datasource/img/logo.png","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"currentuser"},"clusterUrl":"https://icmclusterfollower.centralus.kusto.windows.net","dataConsistency":"strongconsistency","defaultDatabase":"IcMDataWarehouse","defaultEditorMode":"visual","oauthPassThru":true},"readOnly":false},{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 7038898202f663e66d35457fdf7c5490
      mise-correlation-id:
      - 40938191-1f1f-44c1-a9c4-be9b1fc90a24
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/search/?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":26,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"ddwc1vzp9liwwb","folderTitle":"Geneva","folderUrl":"/dashboards/f/ddwc1vzp9liwwb/Geneva","sortMeta":0},{"id":21,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"ddwc1vzp9liwwb","folderTitle":"Geneva","folderUrl":"/dashboards/f/ddwc1vzp9liwwb/Geneva","sortMeta":0},{"id":15,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/dashboards/uid/mg2OAlTVb
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/mg2OAlTVb/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2024-08-29T23:46:12Z","updated":"2024-08-29T23:46:12Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":34,"panels":[],"title":"Test
        Dashboard","uid":"mg2OAlTVb","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 177896687da6a01f4df8bc00ccef3b8f
      mise-correlation-id:
      - 76883268-751c-46f7-ae18-6cce8227d5a1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/dashboards/uid/mg2OAlTVa
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/mg2OAlTVa/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2024-08-29T23:46:11Z","updated":"2024-08-29T23:46:11Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":32,"folderUid":"bdwc2ck5fykn4e","folderTitle":"Test
        Folder","folderUrl":"/dashboards/f/bdwc2ck5fykn4e/test-folder","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":33,"panels":[],"title":"Test
        Dashboard","uid":"mg2OAlTVa","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 75f8cae1504d93b8b49681c585338a76
      mise-correlation-id:
      - e5c128f9-d39a-4774-92ef-1674d59cab51
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/dashboards/uid/mg2OAlTVc
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard2","url":"/d/mg2OAlTVc/test-dashboard2","expires":"0001-01-01T00:00:00Z","created":"2024-08-29T23:46:13Z","updated":"2024-08-29T23:46:13Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":32,"folderUid":"bdwc2ck5fykn4e","folderTitle":"Test
        Folder","folderUrl":"/dashboards/f/bdwc2ck5fykn4e/test-folder","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":true,"canEdit":true,"canDelete":true},"organization":{"canAdd":true,"canEdit":true,"canDelete":true}}},"dashboard":{"id":35,"panels":[],"title":"Test
        Dashboard2","uid":"mg2OAlTVc","version":1}}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - b3e18c960638b2301a87bdc885da1ed7
      mise-correlation-id:
      - c9415c4d-9013-499c-a7cf-9ca25739fef6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/search/?type=dash-folder
  response:
    body:
      string: '[{"id":28,"uid":"fdwc1w0juurcwf","title":"Azure Kubernetes Service
        Monitoring","uri":"db/azure-kubernetes-service-monitoring","url":"/dashboards/f/fdwc1w0juurcwf/azure-kubernetes-service-monitoring","slug":"","type":"dash-folder","tags":[],"isSta[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/folders/bdwc2ck5fykn4e
  response:
    body:
      string: '{"id":32,"uid":"bdwc2ck5fykn4e","orgId":0,"title":"Test Folder","url":"/dashboards/f/bdwc2ck5fykn4e/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"Anonymous","created":"2024-08-29T23:46:10.026194Z","updatedBy":"Anonymous","updated":"2024-08-29T23:46:10.026213Z","version":1}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 3ebda5cc5753d175a133127409b84adf
      mise-correlation-id:
      - 0c831a21-9fce-44de-9e25-a733b79ee86e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/folders/bdwc2ck5fykn4e/permissions
  response:
    body:
      string: '[{"folderId":32,"created":"2024-08-29T23:46:10Z","updated":"2024-08-29T23:46:10Z","userId":2,"userLogin":"example@example.com","userEmail":"example@example.com","userAvatarUrl":"/avatar/680ab924279570be1058c370ae052197","teamId":0,"teamEmail":"","teamAvatarUrl":"","team":"","permission":4,"permissionName":"Admin","uid":"bdwc2ck5fykn4e","title":"Test
        Folder","slug":"","isFolder":true,"url":"/dashboards/f/bdwc2ck5fykn4e/test-folder","inherited":false},{"folderId":32,"created":"2024-08-29T23:46:10Z","updated":"2024-08-29T23:46:10Z","userId":0,"userLogin":"","userEmail":"","userAvatarUrl":"","teamId":0,"teamEmail":"","teamAvatarUrl":"","team":"","role":"Editor","permission":2,"permissionName":"Edit","uid":"bdwc2ck5fykn4e","title":"Test
        Folder","slug":"","isFolder":true,"url":"/dashboards/f/bdwc2ck5fykn4e/test-folder","inherited":false},{"folderId":32,"created":"2024-08-29T23:46:10Z","updated":"2024-08-29T23:46:10Z","userId":0,"userLogin":"","userEmail":"","userAvatarUrl":"","teamId":0,"teamEmail":"","teamAvatarUrl":"","team":"","role":"Viewer","permission":1,"permissionName":"View","uid":"bdwc2ck5fykn4e","title":"Test
        Folder","slug":"","isFolder":true,"url":"/dashboards/f/bdwc2ck5fykn4e/test-folder","inherited":false}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - f4b0182457c559bd039f1a9c017cb824
      mise-correlation-id:
      - 795276d3-28bb-4f56-bca4-bbc6f3ed817d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":5,"uid":"da714998-ca29-4adc-851b-1bd93371cbc6","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"public/app/plugins/datasource/azuremonitor/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 922904820ba02797f97f56af4cea0a1d
      mise-correlation-id:
      - 1bf170ee-24a8-4f70-a1cb-a15ad214cf7d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/datasources/uid/da714998-ca29-4adc-851b-1bd93371cbc6
  response:
    body:
      string: '{"id":5,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 52c0f689f647e648cb6d57a709cc7959
      mise-correlation-id:
      - e9a2f7e4-49a9-4403-8135-5390579b1803
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": 32, "uid": "bdwc2ck5fykn4e", "orgId": 0, "title": "Test Folder",
      "url": "/dashboards/f/bdwc2ck5fykn4e/test-folder", "hasAcl": false, "canSave":
      true, "canEdit": true, "canAdmin": true, "canDelete": true, "createdBy": "Anonymous",
      "created": "2024-08-29T23:46:10.026194Z", "updatedBy": "Anonymous", "updated":
      "2024-08-29T23:46:10.026213Z", "version": 1, "overwrite": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgbackup000002-hqejefeqgkgrecgu.wcus.grafana.azure.com/api/folders
  response:
    body:
[...]
