interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","name":"clitestamg","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-01-23T00:08:52.1471466Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-23T00:08:52.1471466Z"},"identity":{"principalId":"d115507b-f8a5-4761-9b87-89ce735c09df","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"01007aaf-0000-0d00-0000-63cdd0160000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806","name":"be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","status":"Accepted","startTime":"2023-01-23T00:08:53.9908121Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1c007941-0000-0d00-0000-63cdd0150000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806","name":"be64971d-a6f7-4dda-aefa-9485375ba8ac*86AE0C0B3E43CB2504A8224A13DE0BEB171C73978B67043A7520A8C8C463B806","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","status":"Succeeded","startTime":"2023-01-23T00:08:53.9908121Z","endTime":"2023-01-23T00:13:14.7347089Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1c007e44-0000-0d00-0000-63cdd11a0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"a30db067-cde1-49be-95bb-9619a8cc8617","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":[],"skuId":"b30411f5-fea1-4a59-9ad9-3db7c7ead579"},{"disabledPlans":[],"skuId":"4a51bf65-409c-4a91-b845-1121b571cc9d"},{"disabledPlans":["c815c93d-0759-4bb8-b857-bc921a71be83","7162bd38-edae-4022-83a7-c5837f951759","b622badb-1b45-48d5-920f-4b27a2c0996c","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":["b76fb638-6ba6-402a-b9f9-83d28acb3d86","cd31b152-6326-4d1b-ae1b-997b625182e6","a413a9ff-720c-4822-98ef-2f37c2a21f4c","a6520331-d7d4-4276-95f5-15c0933bc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Built-in
        Grafana admin role","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2021-11-11T20:15:14.8104670Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "a30db067-cde1-49be-95bb-9619a8cc8617"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"a30db067-cde1-49be-95bb-9619a8cc8617","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","condition":null,"conditionVersion":null,"createdOn":"2023-01-23T00:13:31.2501678Z","updatedOn":"2023-01-23T00:13:31.6407232Z","createdBy":null,"updatedBy":"a30db067-cde1-49be-95bb-9619a8cc8617","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-06T17:20:40.5763144Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "d115507b-f8a5-4761-9b87-89ce735c09df"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg","name":"clitestamg","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-01-23T00:08:52.1471466Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-23T00:08:52.1471466Z"},"identity":{"principalId":"d115507b-f8a5-4761-9b87-89ce735c09df","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"9.2.7.1","endpoint":"https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 4af599ec-9b4c-4fc3-92f5-bb71a556d65c
      - e649ab80-5625-4799-b33a-b05030310a08
      - 6514bf38-df3f-43bb-aef0-e685013a3c89
      - 8432696e-bff2-488c-8bef-c83d87672b54
      - bad92448-4b36-46a6-91ec-48131182f2bb
      - 83e40923-e422-4032-a7ae-2f33a5e4063e
      - 3a883fb6-2f41-4b9b-9cbc-9ed7173399ca
      - a637d2c2-22d8-45d3-a6ac-fa7c66d0f813
      - 82aa13ee-f46f-464f-b32b-161019813d1b
      - b67f7189-ec60-477e-9554-7bf195b0dac1
      - 90565ca2-3bd0-437c-8185-87eb6ad0a1f4
      - b4471ff0-4826-4386-b730-209d78b3d25f
      - 1f217321-f1cf-4498-a9ca-1413e63fa31a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/workspaces/providers/Microsoft.Dashboard/grafana/yugangwscus","name":"yugangwscus","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"southcen[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/org/users
  response:
    body:
      string: '[{"orgId":1,"userId":2,"email":"example@example.com","name":"example@example.com","avatarUrl":"/avatar/3d063897fed105833776e2dba66ec90b","login":"example@example.com","role":"Admin","lastSeenAt":"2023-01-23T00:13:47Z","lastSeenAtAge":"\u003c
        1 minute","isDisabled":false}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/user
  response:
    body:
      string: '{"id":2,"email":"example@example.com","name":"example@example.com","login":"example@example.com","theme":"","orgId":1,"isGrafanaAdmin":false,"isDisabled":false,"isExternal":true,"authLabels":["Auth
        Proxy"],"updatedAt":"2023-01-23T00:13:47Z","createdAt":"2023-01-23T00:13:47Z","avatarUrl":"/avatar/3d063897fed105833776e2dba66ec90b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test Folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders
  response:
    body:
      string: '{"id":48,"uid":"uDq_s0T4z","title":"Test Folder","url":"/dashboards/f/uDq_s0T4z/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2023-01-23T00:13:48Z","updatedBy":"example@example.com","updated":"2023-01-23T00:13:48Z","version":1}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/id/Test%20Folder
  response:
    body:
      string: '{"message":"id is invalid","traceID":"dca4eee5113f9848962bec8c37286d27"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/Test%20Folder
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/id/uDq_s0T4z
  response:
    body:
      string: '{"message":"id is invalid","traceID":"b436cbf67f7b1c4399d08842b996d87d"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/uDq_s0T4z
  response:
    body:
      string: '{"id":48,"uid":"uDq_s0T4z","title":"Test Folder","url":"/dashboards/f/uDq_s0T4z/test-folder","hasAcl":false,"canSave":true,"canEdit":true,"canAdmin":true,"canDelete":true,"createdBy":"example@example.com","created":"2023-01-23T00:13:48Z","updatedBy":"example@example.com","updated":"2023-01-23T00:13:48Z","version":1}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/id/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"id is invalid","traceID":"39c1ab46b1e01440a1bfd51a9d8906b1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/folders/Test%20Folder%20Update
  response:
    body:
      string: '{"message":"folder not found","status":"not-found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"access": "proxy", "jsonData": {"azureAuthType": "msi", "subscriptionId":
      ""}, "name": "Test Azure Monitor Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '{"datasource":{"id":4,"uid":"DYVus0oVz","orgId":1,"name":"Test Azure
        Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":4,"message":"Datasource
        added","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources/name/Test%20Azure%20Monitor%20Data%20Source
  response:
    body:
      string: '{"id":4,"uid":"DYVus0oVz","orgId":1,"name":"Test Azure Monitor Data
        Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "proxy", "jsonData": {"azureAuthType": "msi", "subscriptionId":
      ""}, "name": "Test Azure Monitor Data Source", "type": "grafana-azure-monitor-datasource"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources/4
  response:
    body:
      string: '{"datasource":{"id":4,"uid":"DYVus0oVz","orgId":1,"name":"Test Azure
        Monitor Data Source","type":"grafana-azure-monitor-datasource","typeLogoUrl":"","access":"proxy","url":"","user":"","database":"","basicAuth":false,"basicAuthUser":"","withCredentials":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"secureJsonFields":{},"version":1,"readOnly":false},"id":4,"message":"Datasource
        updated","name":"Test Azure Monitor Data Source"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources
  response:
    body:
      string: '[{"id":1,"uid":"azure-monitor-oob","orgId":1,"name":"Azure Monitor","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":"2462343E-2B86-44E6-A7CE-6FF5E5C3E2E7"},"readOnly":false},{"id":2,"uid":"prometheus-mdm","orgId":1,"name":"Azure
        Monitor Container Insights","type":"prometheus","typeName":"Prometheus","typeLogoUrl":"public/app/plugins/datasource/prometheus/img/prometheus_logo.svg","access":"proxy","url":"https://az-ncus.prod.prometheusmetrics.trafficmanager.net","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"msi"},"httpHeaderName1":"mdmAccountName","httpMethod":"POST","manageAlerts":false,"timeInterval":"30s"},"readOnly":false},{"id":3,"uid":"Geneva","orgId":1,"name":"Geneva
        Datasource","type":"geneva-datasource","typeName":"Geneva Datasource","typeLogoUrl":"public/plugins/geneva-datasource/img/logo.svg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureCredentials":{"authType":"msi"}},"readOnly":false},{"id":4,"uid":"DYVus0oVz","orgId":1,"name":"Test
        Azure Monitor Data Source","type":"grafana-azure-monitor-datasource","typeName":"Azure
        Monitor","typeLogoUrl":"public/app/plugins/datasource/grafana-azure-monitor-datasource/img/logo.jpg","access":"proxy","url":"","user":"","database":"","basicAuth":false,"isDefault":false,"jsonData":{"azureAuthType":"msi","subscriptionId":""},"readOnly":false}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/datasources/uid/DYVus0oVz
  response:
    body:
      string: '{"id":4,"message":"Data source deleted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Teams Notification Channel", "settings": {"url": "https://test.webhook.office.com/IncomingWebhook/"},
      "type": "teams"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '{"id":1,"uid":"WdcXyAT4k","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2023-01-23T00:14:03.088365587Z","updated":"2023-01-23T00:14:03.088365687Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications/WdcXyAT4k
  response:
    body:
      string: '{"message":"notificationId is invalid","traceID":"8e6e90e4ea78ae42bba8e0288bc26d71"}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications/uid/WdcXyAT4k
  response:
    body:
      string: '{"id":1,"uid":"WdcXyAT4k","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2023-01-23T00:14:03Z","updated":"2023-01-23T00:14:03Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications
  response:
    body:
      string: '[{"id":1,"uid":"WdcXyAT4k","name":"Test Teams Notification Channel","type":"teams","isDefault":false,"sendReminder":false,"disableResolveMessage":false,"frequency":"","created":"2023-01-23T00:14:03Z","updated":"2023-01-23T00:14:06Z","settings":{"url":"https://test.webhook.office.com/IncomingWebhook/"},"secureFields":{}}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/alert-notifications/1
  response:
    body:
      string: '{"message":"Notification deleted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dashboard": {"title": "Test Dashboard"}, "overwrite": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/dashboards/db
  response:
    body:
      string: '{"id":49,"slug":"test-dashboard","status":"success","uid":"MVaXs0oVz","url":"/d/MVaXs0oVz/test-dashboard","version":1}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/dashboards/uid/MVaXs0oVz
  response:
    body:
      string: '{"meta":{"type":"db","canSave":true,"canEdit":true,"canAdmin":true,"canStar":true,"canDelete":true,"slug":"test-dashboard","url":"/d/MVaXs0oVz/test-dashboard","expires":"0001-01-01T00:00:00Z","created":"2023-01-23T00:14:10Z","updated":"2023-01-23T00:14:10Z","updatedBy":"example@example.com","createdBy":"example@example.com","version":1,"hasAcl":false,"isFolder":false,"folderId":0,"folderUid":"","folderTitle":"General","folderUrl":"","provisioned":false,"provisionedExternalId":"","annotationsPermissions":{"dashboard":{"canAdd":false,"canEdit":false,"canDelete":false},"organization":{"canAdd":false,"canEdit":false,"canDelete":false}},"publicDashboardAccessToken":"","publicDashboardUid":"","publicDashboardEnabled":false},"dashboard":{"id":49,"title":"Test
        Dashboard","uid":"MVaXs0oVz","version":1}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamg-cchsamfze0fahxeu.weu.grafana.azure.com/api/search?type=dash-db
  response:
    body:
      string: '[{"id":15,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":12,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/geneva","sortMeta":0},{"id":17,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":12,"folderUid":"geneva","folderTitle":"Geneva","folderUrl":"/dashboards/f/geneva/geneva","sortMeta":0},{"id":18,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"isStarred":false[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27d115507b-f8a5-4761-9b87-89ce735c09df%27&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","principalId":"d115507b-f8a5-4761-9b87-89ce735c09df","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2023-01-23T00:13:36.7275748Z","updatedOn":"2023-01-23T00:13:36.7275748Z","createdBy":"a30db067-cde1-49be-95bb-9619a8cc8617","updatedBy":"a30db067-cde1-49be-95bb-9619a8cc8617","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
