interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","name":"clitestamg2","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{"foo":"doo"},"systemData":{"createdBy":"yugangw@microsoft.com","createdByType":"User","createdAt":"2023-03-14T05:10:58.887186Z","lastModifiedBy":"yugangw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-14T05:10:58.887186Z"},"identity":{"principalId":"6113ec71-42aa-4dbd-87b4-9bbf61ba86e1","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamg2-avhnfvgwe8fvasek.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"830146d8-0000-0600-0000-641001e40000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241","name":"ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","status":"Accepted","startTime":"2023-03-14T05:10:59.8147673Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000e4d6-0000-0600-0000-641001e30000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241","name":"ac923271-da2b-41dc-a0cc-11fb8ee74c10*99061F8C9E6FC7ADEFDF788935323AB725347454967F8B24F181D149B6219241","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","status":"Succeeded","startTime":"2023-03-14T05:10:59.8147673Z","endTime":"2023-03-14T05:15:17.7671161Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00009ad8-0000-0600-0000-641002e50000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","name":"clitestamg2","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{"foo":"doo"},"systemData":{"createdBy":"yugangw@microsoft.com","createdByType":"User","createdAt":"2023-03-14T05:10:58.887186Z","lastModifiedBy":"yugangw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-14T05:10:58.887186Z"},"identity":{"principalId":"6113ec71-42aa-4dbd-87b4-9bbf61ba86e1","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"9.3.8","endpoint":"https://clitestamg2-avhnfvgwe8fvasek.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e66f2c97-afa7-48a5-965d-c9a82a8645fe
      - 2e38fa05-5c1a-4f4f-96a2-6ebe8e5ed79a
      - 97237699-2e97-46a1-99d3-7f277c47ae9c
      - f6329a2e-2cca-47c5-b3a2-62f8e2000a05
      - 3c9d4af2-5256-4a3a-a104-0bca36135365
      - b3c5f594-a240-4bcc-96ef-ee7e5688c690
      - 9d406f54-0e3e-4667-9ad9-bc4a173a284b
      - ca47666e-1ac2-48cf-a32f-8b682a1804eb
      - 800c0880-4093-424f-b0bd-175533b9e7c2
      - d1a603cf-e732-4e9e-b842-632011e74f5e
      - 3a510676-b7c7-41ec-b325-24a58e7040e6
      - fa089213-d1ae-493f-a845-11687b111860
      - 531e74e6-6665-4fc3-9a30-75e17520067c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/workspaces/providers/Microsoft.Dashboard/grafana/yugangwdummy","name":"yugangwdummy","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"southc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%276113ec71-42aa-4dbd-87b4-9bbf61ba86e1%27&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
