interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westcentralus", "properties":
      {"apiKey": "Disabled", "deterministicOutboundIP": "Disabled", "publicNetworkAccess":
      "Enabled", "zoneRedundancy": "Disabled"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002","name":"clitestamgapikey000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-29T23:38:42.8707601Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T23:38:42.8707601Z"},"identity":{"principalId":"fdce4f1e-3a3d-4d52-9e87-979434b8798e","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null,"grafanaMajorVersion":"10"}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview, 2023-09-01,
        2023-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/dc09fccb-7072-4092-b594-28f32125753a*3F39D9B34929BBE57F66FB26715900CAEF8FB71D9653B52142EBCFF9C880E0A5?api-version=2023-09-01&t=638605715242770446&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjUwNjE5MTEyOTI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/dc09fccb-7072-4092-b594-28f32125753a*3F39D9B34929BBE57F66FB26715900CAEF8FB71D9653B52142EBCFF9C880E0A5?api-version=2023-09-01&t=638605715242770446&c=MIIHpTCCBo2gAwIBAgITfwN4zwbxlQ3hiVeX7gAEA3jPBjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTEyOTI5WhcNMjU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002?api-version=2023-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002","name":"clitestamgapikey000002","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2024-08-29T23:38:42.8707601Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-29T23:38:42.8707601Z"},"identity":{"principalId":"fdce4f1e-3a3d-4d52-9e87-979434b8798e","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"10.4.7","endpoint":"https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaMajorVersion":"10"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3e00cbf6-0000-0800-0000-66d1071b0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["ab2d4fb5-f80a-4bf1-a11d-7f1da254041b","acbca54f-c771-423b-a476-6d7a98cbbcec"],"skuId":"36a0f3b3-adb5-49ea-bf66-762134cf063a"},{"disabledPlans":["75317150-0539-40a7-a034-ec352928e568","b74d57b2-58e9-484a-9731-aeccbba954f0"],"skuId":"61902246-d7cb-453e-85cd-53ee28eec138"},{"disabledPlans":[],"skuId":"639dec6b-bb19-468b-871c-c5c441c4b0cb"},{"disabledPlans":["795f6fe0-cc4d-4773-b050-5dde4dc704c9"],"skuId":"99cc8282-2f74-4954-83b7-c6a9a1999067"},{"disabledPlans":["f0ff6ac6-297d-49cd-be34-6dfef97f0c28","c948ea65-2053-4a5a-8a62-9eaaaf11b522","3ec18638-bd4c-4d3b-8905-479ed636b83e","3efbd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Manage
        server-wide settings and manage access to resources such as organizations,
        users, and licenses.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2024-07-22T15:08:54.1577297Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41",
      "principalId": "fd6cf4a7-1446-4922-962d-4d208514f7fc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","principalId":"fd6cf4a7-1446-4922-962d-4d208514f7fc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002","condition":null,"conditionVersion":null,"createdOn":"2024-08-29T23:41:21.1017011Z","updatedOn":"2024-08-29T23:41:21.6457111Z","createdBy":null,"updatedBy":"fd6cf4a7-1446-4922-962d-4d208514f7fc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Monitoring%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Monitoring Reader","type":"BuiltInRole","description":"Can
        read all monitoring data.","assignableScopes":["/"],"permissions":[{"actions":["*/read","Microsoft.OperationalInsights/workspaces/search/action","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2016-09-21T19:19:52.4939376Z","updatedOn":"2022-09-07T19:37:57.4796716Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05","type":"Microsoft.Authorization/roleDefinitions","name":"43d0d8ad-25c7-4714-9337-8ba259a9fe05"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/43d0d8ad-25c7-4714-9337-8ba259a9fe05",
      "principalId": "fdce4f1e-3a3d-4d52-9e87-979434b8798e", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com/api/auth/keys?includedExpired=false&accesscontrol=true
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 0c3776a9ed198df99fd8d537086b2695
      mise-correlation-id:
      - 3897f53f-13e8-416b-8c56-1fad716a9df2
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "apikey1", "role": "Admin", "secondsToLive": 259200}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com/api/auth/keys
  response:
    body:
      string: '{"id":1,"name":"apikey1","key":"fakeApiKeyOrServiceAccountToken"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - e3d19141b99f63ee4a22e9ec3c031b8b
      mise-correlation-id:
      - f71fd85e-1130-4216-8f61-de628128f9d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com/api/auth/keys?includedExpired=false&accesscontrol=true
  response:
    body:
      string: '[{"id":1,"name":"apikey1","role":"Admin","expiration":"2024-09-01T23:43:34Z","accessControl":{"apikeys:delete":true,"apikeys:read":true}},{"id":2,"name":"apikey2","role":"Viewer","expiration":"2024-08-30T23:43:35Z","accessControl":{"apikeys:delete":true,"apikeys:read":true}}]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 12d5f9fdffd1db99ec039cbabaebeb2a
      mise-correlation-id:
      - 66feb978-466d-4582-a878-01487d32f35c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com/api/auth/keys/2
  response:
    body:
      string: '{"message":"API key deleted"}'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 76a5db0457670deeae4d2ac1572452c4
      mise-correlation-id:
      - 34bdfb22-68cd-497d-8dc1-52fe7fabaf80
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com/api/search?type=dash-db&limit=5000&page=1
  response:
    body:
      string: '[{"id":18,"uid":"OSBzdgnnz","title":"Agent QoS","uri":"db/agent-qos","url":"/d/OSBzdgnnz/agent-qos","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"adwc1ukljyn0gc","folderTitle":"Geneva","folderUrl":"/dashboards/f/adwc1ukljyn0gc/Geneva","sortMeta":0},{"id":19,"uid":"54KhiZ7nz","title":"AKS
        Linux Sample Application","uri":"db/aks-linux-sample-application","url":"/d/54KhiZ7nz/aks-linux-sample-application","slug":"","type":"dash-db","tags":[],"isStarred":false,"folderId":14,"folderUid":"adwc1ukljyn0gc","folderTitle":"Geneva","folderUrl":"/dashboards/f/adwc1ukljyn0gc/Geneva","sortMeta":0},{"id":27,"uid":"6uRDjTNnz","title":"App
        Detail","uri":"db/app-detail","url":"/d/6uRDjTNnz/app-detail","slug":"","type":"dash-db","tags":[],"[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://clitestamgapikey000002-h9embxcjgwd5a8ev.wcus.grafana.azure.com/api/search?type=dash-db&limit=5000&page=2
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json
      grafana-trace-id:
      - 357a8070702a7c2cec3a6cc38041df69
    status:
      code: 200
      message: OK
version: 1
