interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-proxy-adcq7-new.us.oracle.com:80/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Oracle.Database/autonomousDatabases/DNDAdbsTets?api-version=2025-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Oracle.Database/autonomousDatabases/DNDAdbsTets","name":"DNDAdbsTets","type":"oracle.database/autonomousdatabases","location":"eastus","tags":{"env":"preprod","owner":"DBTeam","Environment":"Prod"},"systemData":{"createdBy":"mihret.kidane@oracle.com","createdByType":"User","createdAt":"2026-06-03T00:35:44.1923822Z","lastModifiedBy":"857ad006-4380-4712-ba4c-22f7c64d84e7","lastModifiedByType":"Application","lastModifiedAt":"2026-07-02T05:29:35.2195945Z"},"properties":{"dataBaseType":"Regular","actualUsedDataStorageSizeInTbs":0.007404506206512451,"allocatedStorageSizeInTbs":0.0185546875,"whitelistedIps":null,"apexDetails":null,"autonomousDatabaseId":null,"autonomousMaintenanceScheduleType":"Regular","availableUpgradeVersions":null,"characterSet":"AL32UTF8","computeCount":3,"computeModel":"ECPU","connectionStrings":{"allConnectionStrings":{},"dedicated":null,"high":"adb.us-ashburn-1.oraclecloud.com:1522/g65795d1a5ce1e9_dndadbstets_high.adb.oraclecloud.com","low":"adb.us-ashburn-1.oraclecloud.com:1522/g65795d1a5ce1e9_dndadbstets_low.adb.oraclecloud.com","medium":"adb.us-ashburn-1.oraclecloud.com:1522/g65795d1a5ce1e9_dndadbstets_medium.adb.oraclecloud.com","profiles":[{"consumerGroup":"High","displayName":"dndadbstets_high","hostFormat":"Fqdn","protocol":"TCPS","sessionMode":"Direct","syntaxFormat":"Long","tlsAuthentication":"Server","value":"(description=
        (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1521)(host=n53zmqkm.adb.us-ashburn-1.oraclecloud.com))(connect_data=(service_name=g65795d1a5ce1e9_dndadbstets_high.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))"},{"consumerGroup":"Medium","displayName":"dndadbstets_medium","hostFormat":"Fqdn","protocol":"TCPS","sessionMode":"Direct","syntaxFormat":"Long","tlsAuthentication":"Server","value":"(description=
        (retry_count=20)(retry_delay=3)(addr[...]
- request:
    body: '{"location": "eastus", "properties": {"autonomousMaintenanceScheduleType":
      "Regular", "backupRetentionPeriodInDays": 40, "characterSet": "AL32UTF8", "computeCount":
      3.0, "computeModel": "ECPU", "dataStorageSizeInGbs": 2048, "dataStorageSizeInTbs":
      2, "dbVersion": "19c", "dbWorkload": "LH", "displayName": "DNDAdbsTets", "isAutoScalingEnabled":
      true, "isAutoScalingForStorageEnabled": true, "isLocalDataGuardEnabled": false,
      "isMtlsConnectionRequired": false, "licenseModel": "LicenseIncluded", "ncharacterSet":
      "AL16UTF16", "openMode": "ReadWrite", "privateEndpointIp": "10.0.1.48", "privateEndpointLabel":
      "n53zmqkm", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Microsoft.Network/virtualNetworks/PSTestVnet/subnets/delegated",
      "vnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Microsoft.Network/virtualNetworks/PSTestVnet",
      "dataBaseType": "Regular"}, "tags": {"env": "preprod", "owner": "DBTeam", "Environment":
      "Prod"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://www-proxy-adcq7-new.us.oracle.com:80/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Oracle.Database/autonomousDatabases/DNDAdbsTets?api-version=2025-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Oracle.Database/autonomousDatabases/DNDAdbsTets","name":"DNDAdbsTets","type":"oracle.database/autonomousdatabases","location":"eastus","tags":{"env":"preprod","owner":"DBTeam","Environment":"Prod"},"systemData":{"createdBy":"mihret.kidane@oracle.com","createdByType":"User","createdAt":"2026-06-03T00:35:44.1923822Z","lastModifiedBy":"mihret.kidane@oracle.com","lastModifiedByType":"User","lastModifiedAt":"2026-07-02T05:31:56.3015983Z"},"properties":{"actualUsedDataStorageSizeInTbs":0.007404506206512451,"allocatedStorageSizeInTbs":0.0185546875,"peerDbIds":[],"isRemoteDataGuardEnabled":false,"provisioningState":"Accepted","ociUrl":"https://cloud.oracle.com/db/adbs/ocid1.autonomousdatabase.oc1.iad.anuwcljsnirvylqapizwp5fuzcnc3paah435wuvsmas3363uhraz3hpvk7yq?region=us-ashburn-1&tenant=orpsandbox3&compartmentId=ocid1.compartment.oc1..aaaaaaaauaai2yet56ac2mh6qvfqlsleivrdjvykrj2s7htenpgbtjkamqxq","privateEndpoint":"n53zmqkm.adb.us-ashburn-1.oraclecloud.com","supportedRegionsToCloneTo":["germanynorth","germanywestcentral"],"timeCreated":"2026-06-03T00:40:05.624Z","timeLocalDataGuardEnabled":"Wed
        Jun 03 00:40:22 UTC 2026","timeMaintenanceBegin":"2026-07-05T20:00:00Z","timeMaintenanceEnd":"2026-07-05T22:00:00Z","timeOfLastSwitchover":"Wed
        Jun 03 21:27:23 UTC 2026","autonomousMaintenanceScheduleType":"Regular","backupRetentionPeriodInDays":40,"characterSet":"AL32UTF8","computeCount":3.0,"computeModel":"ECPU","dataStorageSizeInGbs":2048,"dataStorageSizeInTbs":2,"dbVersion":"19c","dbWorkload":"LH","displayName":"DNDAdbsTets","isAutoScalingEnabled":true,"isAutoScalingForStorageEnabled":true,"isLocalDataGuardEnabled":false,"isMtlsConnectionRequired":false,"licenseModel":"LicenseIncluded","ncharacterSet":"AL16UTF16","openMode":"ReadWrite","privateEndpointIp":"10.0.1.48","privateEndpointLabel":"n53zmqkm","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Microsoft.Network/virtualNetworks/PSTestVnet/subnets/delegated","vnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Microsoft.Network/virtualNetworks/PSTestVnet","dataBaseType":"Regular"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Oracle.Database/locations/EASTUS/operationStatuses/9b6e3d60-3afc-4bd3-85c5-3086cd5145e5*9D55E344ED98399143B9D7770952B0A93550815146AE546C12EECF664C43771C?api-version=2025-09-01&t=639185671193015978&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxMDA4MTUzOVoXDTI2MTAwNTE0MTUzOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25za[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-proxy-adcq7-new.us.oracle.com:80/subscriptions/00000000-0000-0000-0000-000000000000/providers/Oracle.Database/locations/EASTUS/operationStatuses/9b6e3d60-3afc-4bd3-85c5-3086cd5145e5*9D55E344ED98399143B9D7770952B0A93550815146AE546C12EECF664C43771C?api-version=2025-09-01&t=639185671193015978&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIEN[...]
[...]
