interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-proxy-adcq7-new.us.oracle.com:80/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testAzureCLi/providers/Oracle.Database/exascaleDbStorageVaults/Ofake_AzCli_vaultTe?api-version=2025-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testAzureCLi/providers/Oracle.Database/exascaleDbStorageVaults/Ofake_AzCli_vaultTe","name":"Ofake_AzCli_vaultTe","type":"oracle.database/exascaledbstoragevaults","location":"eastus","zones":["2"],"systemData":{"createdBy":"mihret.kidane@oracle.com","createdByType":"User","createdAt":"2025-11-19T17:42:52.1416114Z","lastModifiedBy":"a50e6610-5416-4c2a-88b6-172c7f376f7d","lastModifiedByType":"Application","lastModifiedAt":"2025-11-19T17:44:31.5921851Z"},"properties":{"additionalFlashCacheInPercent":0,"description":"Test
        Description","displayName":"test-vault","highCapacityDatabaseStorage":{"totalSizeInGbs":300},"highCapacityDatabaseStorageInput":{"totalSizeInGbs":300},"timeZone":"UTC","provisioningState":"Succeeded","lifecycleState":"Available","vmClusterCount":0,"ocid":"ocid1.exascaledbstoragevault.oc1.iad.anuwcljt2edokzya6neglqifamkxessbq7laxly5nviudmwptut4b4m6sw3a","attachedShapeAttributes":[],"ociUrl":"https://cloud.oracle.com/dbaas/exadb-xs/exascaleStorageVaults/ocid1.exascaledbstoragevault.oc1.iad.anuwcljt2edokzya6neglqifamkxessbq7laxly5nviudmwptut4b4m6sw3a?region=us-ashburn-1&tenant=orpsandbox7&compartmentId=ocid1.compartment.oc1..aaaaaaaadep52emiauprgkax4zmj4jycppdafs2tg7pnttdyhfldg2v3i5ea"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0d005148-0000-0100-0000-691e01ff0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"displayName": "Ofake_AzCli_exadbcluster",
      "enabledEcpuCount": 16, "exascaleDbStorageVaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testAzureCLi/providers/Oracle.Database/exascaleDbStorageVaults/Ofake_AzCli_vaultTe",
      "gridImageOcid": "ocid1.dbpatch.oc1.iad.xxx",
      "hostname": "test-host", "nodeCount": 2, "shape": "EXADBXS", "sshPublicKeys":
      ["ssh-rsa AAAAB=
      generated-by-azure"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Microsoft.Network/virtualNetworks/PSTestVnet/subnets/delegated",
      "totalEcpuCount": 32, "vmFileSystemStorage": {"totalSizeInGbs": 1024}, "vnetId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PowerShellTestRg/providers/Microsoft.Network/virtualNetworks/PSTestVnet"},
      "zones": ["2"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://www-proxy-adcq7-new.us.oracle.com:80/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testAzureCLi/providers/Oracle.Database/exadbVmClusters/Ofake_AzCli_exadbcluster?api-version=2025-09-01
  response:
    body:
      string: '{"error":{"code":"400","message":"Error returned by CreateExadbVmCluster
        operation in Database service.(400, InvalidParameter, false) Both Exadb VM
        Cluster and Exascale Database Storage Vault either should be real or fake
        resources. Exascale Database Storage Vault ocid1.exascaledbstoragevault.oc1.iad.anuwcljt2edokzya6neglqifamkxessbq7laxly5nviudmwptut4b4m6sw3a
        is null resource, but VM Cluster Resource needs to be created as Fake resource.
        (opc-request-id: oci-82A263793475A39-202511192222/6CC50DC6356C6E39898AFFFA5D14230E/5EADFCE0D2641619F5BEEA473C46FE51)\nTimestamp:
        2025-11-19T22:23:11.332Z\nClient version: Oracle-JavaSDK/2.85.1-preview1-SNAPSHOT\nRequest
        Endpoint: https://database.us-ashburn-1.oraclecloud.com/20160918/exadbVmClusters\nTroubleshooting
        Tips: See https://docs.oracle.com/en-us/iaas/Content/API/References/apierrors.htm#apierrors_400__400_invalidparameter
        for more information about resolving this error\nAlso see https://docs.oracle.com/iaas/api/#/en/database/20160918/ExadbVmCluster/CreateExadbVmCluster
        for details on this operation''s requirements.\nTo get more info on the failing
        request, you can enable debug level logs as mentioned in `Using SLF4J for
        Logging section` in https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/javasdkconfig.htm.\nIf
        you are unable to resolve this Database issue, please contact Oracle support
        and provide them this full error message.","details":[{"code":"400","target":"CreateCloudVmClusterDetails","message":"Error
        returned by CreateExadbVmCluster operation in Database service.(400, InvalidParameter,
        false) Both Exadb VM Cluster and Exascale Database Storage Vault either should
        be real or fake resources. Exascale Database Storage Vault ocid1.exascaledbstoragevault.oc1.iad.anuwcljt2edokzya6neglqifamkxessbq7laxly5nviudmwptut4b4m6sw3a
        is null resource, but VM Cluster Resource needs to be created as Fake resource.
        (opc-reque[...]
