interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctest0001/providers/Napster.CompanionAPI/organizations/napster-test1?api-version=2025-12-24-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctest0001/providers/Napster.CompanionAPI/organizations/napster-test1","name":"napster-test1","type":"napster.companionapi/organizations","location":"eastus2euap","tags":{"testName1":"TestValue1"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-15T10:49:57.9680074Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-15T11:07:14.1027788Z"},"identity":{"type":"None"},"properties":{"marketplace":{"subscriptionId":"09fffd7d-d000-4467-cc23-d82b97e9431d","subscriptionStatus":"PendingFulfillmentStart","saasResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctest0001/providers/Microsoft.SaaS/resources/a4fa84fc_dsafsa","offerDetails":{"publisherId":"touchcastinc1655995956899","offerId":"napster_companion_api","planId":"napster_companion_api_feb_2026","planName":"Pay
        As You Go","termUnit":"P1M","termId":"n7ja87drquhy"}},"provisioningState":"Succeeded","user":{"emailAddress":"test@example.com","upn":"test@example.com"},"partnerProperties":{"application":"dsaf"},"singleSignOnProperties":{"type":"OpenId","state":"Initial","url":"https://companion-api.napsterai.dev/admin/ms-auth","aadDomains":["MicrosoftCustomerLed.onmicrosoft.com"]}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2500bbea-0000-3300-0000-6a2fdd600000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus2euap", "properties":
      {"marketplace": {"offerDetails": {"offerId": "napster_companion_api", "planId":
      "napster_companion_api_feb_2026", "planName": "Pay As You Go", "publisherId":
      "touchcastinc1655995956899", "termId": "n7ja87drquhy", "termUnit": "P1M"}, "saasResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctest0001/providers/Microsoft.SaaS/resources/a4fa84fc_dsafsa",
      "subscriptionId": "09fffd7d-d000-4467-cc23-d82b97e9431d"}, "partnerProperties":
      {"application": "dsaf"}, "singleSignOnProperties": {"aadDomains": ["MicrosoftCustomerLed.onmicrosoft.com"],
      "state": "Initial", "type": "OpenId", "url": "https://companion-api.napsterai.dev/admin/ms-auth"},
      "user": {"emailAddress": "test@example.com", "upn": "test@example.com"}}, "tags":
      {"testName1": "TestValue1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctest0001/providers/Napster.CompanionAPI/organizations/napster-test1?api-version=2025-12-24-preview
  response:
    body:
      string: '{"error":{"code":"CannotSetResourceIdentity","message":"Resource type
        ''Napster.CompanionAPI/organizations'' does not support creation of ''SystemAssigned''
        resource identity. The supported types are ''None''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
