interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_voice_service_gateway000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001","name":"cli_test_voice_service_gateway000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2023-02-06T04:41:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"autoGeneratedDomainNameLabelScope":
      "TenantReuse", "codecs": ["PCMA"], "connectivity": "PublicAddress", "e911Type":
      "Standard", "emergencyDialStrings": ["911", "933"], "onPremMcpEnabled": false,
      "platforms": ["OperatorConnect"], "serviceLocations": [{"name": "useast", "primaryRegionProperties":
      {"allowedMediaSourceAddressPrefixes": ["10.1.2.0/24"], "allowedSignalingSourceAddressPrefixes":
      ["10.1.1.0/24"], "operatorAddresses": ["198.51.100.1"]}}, {"name": "useast2",
      "primaryRegionProperties": {"allowedMediaSourceAddressPrefixes": ["10.2.2.0/24"],
      "allowedSignalingSourceAddressPrefixes": ["10.2.1.0/24"], "operatorAddresses":
      ["198.51.100.2"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002","name":"gateway000002","type":"microsoft.voiceservices/communicationsgateways","location":"centraluseuap","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-02-06T04:41:41.4158998Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-06T04:41:41.4158998Z"},"properties":{"autoGeneratedDomainNameLabelScope":"TenantReuse","codecs":["PCMA"],"connectivity":"PublicAddress","e911Type":"Standard","emergencyDialStrings":["911","933"],"onPremMcpEnabled":false,"platforms":["OperatorConnect"],"serviceLocations":[{"name":"useast","primaryRegionProperties":{"allowedMediaSourceAddressPrefixes":["10.1.2.0/24"],"allowedSignalingSourceAddressPrefixes":["10.1.1.0/24"],"operatorAddresses":["198.51.100.1"]}},{"name":"useast2","primaryRegionProperties":{"allowedMediaSourceAddressPrefixes":["10.2.2.0/24"],"allowedSignalingSourceAddressPrefixes":["10.2.1.0/24"],"operatorAddresses":["198.51.100.2"]}}],"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VoiceServices/locations/CENTRALUSEUAP/operationStatuses/3d1cc1f5-1b5d-4f23-ac61-68df733a3cff*2EF8EE69C583E7A4E9879970DB2701A745CA97D0D7C11E7D81B0E38BA8AEE145?api-version=2023-01-31
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000ae0b-0000-3300-0000-63e085060000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VoiceServices/locations/CENTRALUSEUAP/operationStatuses/3d1cc1f5-1b5d-4f23-ac61-68df733a3cff*2EF8EE69C583E7A4E9879970DB2701A745CA97D0D7C11E7D81B0E38BA8AEE145?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VoiceServices/locations/CENTRALUSEUAP/operationStatuses/3d1cc1f5-1b5d-4f23-ac61-68df733a3cff*2EF8EE69C583E7A4E9879970DB2701A745CA97D0D7C11E7D81B0E38BA8AEE145","name":"3d1cc1f5-1b5d-4f23-ac61-68df733a3cff*2EF8EE69C583E7A4E9879970DB2701A745CA97D0D7C11E7D81B0E38BA8AEE145","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002","status":"Succeeded","startTime":"2023-02-06T04:41:42.3389638Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000800a-0000-3300-0000-63e0850c0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002","name":"gateway000002","type":"microsoft.voiceservices/communicationsgateways","location":"centraluseuap","systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-02-06T04:41:41.4158998Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-06T04:41:41.4158998Z"},"properties":{"status":"ChangePending","apiBridge":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","autoGeneratedDomainNameLabel":"gateway000002.e4hwabg0h3cdg4fu","codecs":["PCMA"],"connectivity":"PublicAddress","e911Type":"Standard","emergencyDialStrings":["911","933"],"onPremMcpEnabled":false,"platforms":["OperatorConnect"],"serviceLocations":[{"name":"useast","primaryRegionProperties":{"allowedMediaSourceAddressPrefixes":["10.1.2.0/24"],"allowedSignalingSourceAddressPrefixes":["10.1.1.0/24"],"operatorAddresses":["198.51.100.1"]}},{"name":"useast2","primaryRegionProperties":{"allowedMediaSourceAddressPrefixes":["10.2.2.0/24"],"allowedSignalingSourceAddressPrefixes":["10.2.1.0/24"],"operatorAddresses":["198.51.100.2"]}}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000af0b-0000-3300-0000-63e0850c0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "properties": {"autoGeneratedDomainNameLabelScope":
      "TenantReuse", "codecs": ["PCMA"], "connectivity": "PublicAddress", "e911Type":
      "Standard", "emergencyDialStrings": ["911", "933"], "onPremMcpEnabled": false,
      "platforms": ["OperatorConnect"], "provisioningState": "Succeeded", "serviceLocations":
      [{"name": "useast", "primaryRegionProperties": {"allowedMediaSourceAddressPrefixes":
      ["10.1.2.0/24"], "allowedSignalingSourceAddressPrefixes": ["10.1.1.0/24"], "operatorAddresses":
      ["198.51.100.1"]}}, {"name": "useast2", "primaryRegionProperties": {"allowedMediaSourceAddressPrefixes":
      ["10.2.2.0/24"], "allowedSignalingSourceAddressPrefixes": ["10.2.1.0/24"], "operatorAddresses":
      ["198.51.100.2"]}}], "status": "ChangePending"}, "tags": {"tag": "test", "tag2":
      "test2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.Voice[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways?api-version=2023-01-31
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002","name":"gateway000002","type":"microsoft.voiceservices/communicationsgateways","location":"centraluseuap","tags":{"tag":"test","tag2":"test2"},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-02-06T04:41:41.4158998Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-06T04:42:19.1614601Z"},"properties":{"apiBridge":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","autoGeneratedDomainNameLabel":"gateway000002.e4hwabg0h3cdg4fu","codecs":["PCMA"],"connectivity":"PublicAddress","e911Type":"Standard","emergencyDialStrings":["911","933"],"onPremMcpEnabled":false,"platforms":["OperatorConnect"],"provisioningState":"Succeeded","serviceLocations":[{"name":"useast","primaryRegionProperties":{"allowedMediaSourceAddressPrefixes":["10.1.2.0/24"],"allowedSignalingSourceAddressPrefixes":["10.1.1.0/24"],"operatorAddresses":["198.51.100.1"]}},{"name":"useast2","primaryRegionProperties":{"allowedMediaSourceAddressPrefixes":["10.2.2.0/24"],"allowedSignalingSourceAddressPrefixes":["10.2.1.0/24"],"operatorAddresses":["198.51.100.2"]}}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 272ca5a3-d9e3-4f7c-a849-9dea48dd7b65
      - 180e0e2f-22d9-4816-a26e-985c55d91974
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002?api-version=2023-01-31
  response:
    body:
      string: ''
    headers:
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
