interactions:
- request:
    body: '{"properties": {"appliedScopeType": "Shared", "billingPlan": "P1M", "billingScopeId":
      "/subscriptions/00000000-0000-0000-0000-000000000000", "commitment": {"amount":
      10.0, "currencyCode": "USD", "grain": "Hourly"}, "displayName": "TestNameSO2",
      "term": "P1Y"}, "sku": {"name": "Compute_Savings_Plan"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/TestNameSO2?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/TestNameSO2","name":"TestNameSO2","type":"Microsoft.BillingBenefits/savingsPlanOrderAliases","sku":{"name":"Compute_Savings_Plan"},"properties":{"savingsPlanOrderId":"/providers/Microsoft.BillingBenefits/savingsPlanOrders/a1b4d5dd-9434-482a-9807-718ad814c636","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingPlan":"P1M","appliedScopeProperties":null,"commitment":{"grain":"Hourly","currencyCode":"USD","amount":10.0},"appliedScopeType":"Shared","displayName":"TestNameSO2","provisioningState":"Created","term":"P1Y"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Capacity/operationResults/09f90cf7-380a-4cd2-aac5-92245ce5cf04?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-test:
      - '{"contact":"chchen3","scenarios":"recpur","retention":"3/16/2023 5:01:57
        AM"}'
      x-ms-version:
      - 1.0.2169.1444
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/operationResults/09f90cf7-380a-4cd2-aac5-92245ce5cf04?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Capacity/operationResults/09f90cf7-380a-4cd2-aac5-92245ce5cf04","name":"09f90cf7-380a-4cd2-aac5-92245ce5cf04","status":"Pending"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Capacity/operationResults/09f90cf7-380a-4cd2-aac5-92245ce5cf04?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Capacity/operationResults/09f90cf7-380a-4cd2-aac5-92245ce5cf04?api-version=2020-10-01-preview
      x-ms-test:
      - '{"contact":"chchen3","scenarios":"recpur","retention":"3/16/2023 5:02:07
        AM"}'
      x-ms-version:
      - 1.0.2169.1444
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/TestNameSO2?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/TestNameSO2","name":"TestNameSO2","type":"Microsoft.BillingBenefits/savingsPlanOrderAliases","sku":{"name":"Compute_Savings_Plan"},"properties":{"savingsPlanOrderId":"/providers/Microsoft.BillingBenefits/savingsPlanOrders/a1b4d5dd-9434-482a-9807-718ad814c636","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingPlan":"P1M","appliedScopeProperties":null,"commitment":{"grain":"Hourly","currencyCode":"USD","amount":10.0},"appliedScopeType":"Shared","displayName":"TestNameSO2","provisioningState":"Created","term":"P1Y"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-version:
      - 1.0.2169.1444
    status:
      code: 200
      message: OK
version: 1
