interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/683ae71d-f43a-4b76-bb26-9a6ffef80030/savingsPlans/ce6eaefe-3abe-4961-8455-1e8b1e041a6f?api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/microsoft.billingbenefits/savingsPlanOrders/683ae71d-f43a-4b76-bb26-9a6ffef80030/savingsPlans/ce6eaefe-3abe-4961-8455-1e8b1e041a6f","name":"ce6eaefe-3abe-4961-8455-1e8b1e041a6f","type":"microsoft.billingbenefits/savingsPlanOrders/savingsPlans","sku":{"name":"Compute_Savings_Plan"},"properties":{"billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingAccountId":"/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB","billingPlan":"P1M","appliedScopeProperties":{"resourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/3ppRG","displayName":"3ppRG"},"commitment":{"grain":"Hourly","currencyCode":"USD","amount":0.001},"renew":true,"appliedScopeType":"Single","displayName":"cliTest","provisioningState":"Succeeded","term":"P3Y","displayProvisioningState":"Succeeded","userFriendlyAppliedScopeType":"ResourceGroup","expiryDateTime":"2025-11-13T01:25:42.6202253Z","purchaseDateTime":"2022-11-13T01:23:57.7498407Z","benefitStartTime":"2022-11-13T01:25:42.6202253Z","effectiveDateTime":"2022-12-16T01:48:21.0658399Z","utilization":{"trend":"SAME","aggregates":[{"grain":1.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"},{"grain":7.0,"grainUnit":"days","value":0.0,"valueUnit":"percentage"},{"grain":30.0,"grainUnit":"days","value":35.42,"valueUnit":"percentage"}]}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-version:
      - 1.0.2169.1444
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/683ae71d-f43a-4b76-bb26-9a6ffef80030/savingsPlans/ce6eaefe-3abe-4961-8455-1e8b1e041a6f?$expand=renewProperties&api-version=2022-11-01
  response:
    body:
      string: '{"id":"/providers/microsoft.billingbenefits/savingsPlanOrders/683ae71d-f43a-4b76-bb26-9a6ffef80030/savingsPlans/ce6eaefe-3abe-4961-8455-1e8b1e041a6f","name":"ce6eaefe-3abe-4961-8455-[...]
