interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"autoScaleProperties": {"scaleUpProperties":
      {"autoScalePolicyEnforcement": "Enabled", "capacityUnitScaleUpLimitTiB": 17,
      "increaseCapacityUnitByTiB": 4, "unusedSizeTiB": 24}}, "availabilityZones":
      ["1"], "baseSizeTiB": 23, "extendedCapacitySizeTiB": 14, "publicNetworkAccess":
      "Enabled", "sku": {"name": "Premium_LRS", "tier": "Premium"}}, "tags": {"key1810":
      "aaaa"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002?api-version=2026-04-01-preview
  response:
    body:
      string: '{"location":"eastus2euap","properties":{"autoScaleProperties":{"scaleUpProperties":{"unusedSizeTiB":24,"increaseCapacityUnitByTiB":4,"capacityUnitScaleUpLimitTiB":17,"autoScalePolicyEnforcement":"Enabled"}},"publicNetworkAccess":"Enabled","totalIops":115000,"totalMBps":4600,"totalSizeTiB":37,"sku":{"name":"Premium_LRS","tier":"Premium"},"availabilityZones":["1"],"provisioningState":"Creating","baseSizeTiB":23,"extendedCapacitySizeTiB":14,"volumeGroupCount":0,"totalVolumeSizeGiB":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002","name":"elastic-san000002","type":"Microsoft.ElasticSan/ElasticSans","tags":{"key1810":"aaaa"},"systemData":{"createdAt":"2026-05-08T07:26:00.5081577Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-08T07:26:00.5081577Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/5bc6f68e-e34e-4530-a5c2-0bd42cf3071f?monitor=true&api-version=2026-04-01-preview&t=639138219608051135&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVud[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/5bc6f68e-e34e-4530-a5c2-0bd42cf3071f?monitor=true&api-version=2026-04-01-preview&t=639138219608051135&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002?api-version=2026-04-01-preview
  response:
    body:
      string: '{"location":"eastus2euap","properties":{"totalObjectCount":0,"autoScaleProperties":{"scaleUpProperties":{"unusedSizeTiB":24,"increaseCapacityUnitByTiB":4,"capacityUnitScaleUpLimitTiB":17,"autoScalePolicyEnforcement":"Enabled"}},"publicNetworkAccess":"Enabled","totalIops":115000,"totalMBps":4600,"totalSizeTiB":37,"sku":{"name":"Premium_LRS","tier":"Premium"},"availabilityZones":["1"],"provisioningState":"Succeeded","baseSizeTiB":23,"extendedCapacitySizeTiB":14,"volumeGroupCount":0,"totalVolumeSizeGiB":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002","name":"elastic-san000002","type":"Microsoft.ElasticSan/ElasticSans","tags":{"key1810":"aaaa"},"systemData":{"createdAt":"2026-05-08T07:26:00.5081577Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-08T07:26:00.5081577Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans?api-version=2026-04-01-preview
  response:
    body:
      string: '{"value":[{"location":"eastus2euap","properties":{"autoScaleProperties":{"scaleUpProperties":{"unusedSizeTiB":24,"increaseCapacityUnitByTiB":4,"capacityUnitScaleUpLimitTiB":17,"autoScalePolicyEnforcement":"Enabled"}},"publicNetworkAccess":"Enabled","totalIops":115000,"totalMBps":4600,"totalSizeTiB":37,"sku":{"name":"Premium_LRS","tier":"Premium"},"availabilityZones":["1"],"provisioningState":"Succeeded","baseSizeTiB":23,"extendedCapacitySizeTiB":14,"volumeGroupCount":0,"totalVolumeSizeGiB":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002","name":"elastic-san000002","type":"Microsoft.ElasticSan/ElasticSans","tags":{"key1810":"aaaa"},"systemData":{"createdAt":"2026-05-08T07:26:00.5081577Z","createdBy":"test@example.com","createdByType":"User","lastModifiedAt":"2026-05-08T07:26:00.5081577Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 690a6c40-7162-4d57-bdd9-38e2cd5cbc8f
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/skus?api-version=2026-04-01-preview
  response:
    body:
      string: '{"value":[{"resourceType":"elasticSans","name":"Premium_LRS","tier":"Premium","locations":["australiacentral"],"locationInfo":[{"location":"australiacentral","zones":[],"zoneDetails":[]}],"capabilities":[{"name":"elasticSanIopsPerBaseTiB","value":"5000"},{"name":"elasticSanMaxSizeTiB","value":"100"},{"name":"elasticSanMaxExtendedCapacityTiB","value":"100"},{"name":"elasticSanMaxTotalCapacityTiB","value":"200"},{"name":"elasticSanMinSizeTiB","value":"1"},{"name":"elasticSanMBpsPerBaseTiB","value":"200"},{"name":"elasticSanMaxMBps","value":"20000"},{"name":"elasticSanMinIncrementSizeTiB","value":"1"},{"name":"elasticSanMaxVolumeGroupCount","value":"200"},{"name":"elasticSanMaxIOPS","value":"500000"},{"name":"volumeGroupMaxVolumeCount","value":"1000"},{"name":"volumeMaxSizeGiB","value":"65536"},{"name":"volumeMinSizeGiB","value":"1"},{"name":"volumeIopsPerBaseGiB","value":"750"},{"name":"volumeMBpsPerBaseGiB","value":"192"},{"name":"volumeMaxIops","value":"80000"},{"name":"volumeMaxMBps","value":"1280"},{"name":"volumeMinIncrementSizeGiB","value":"1"}],"restrictions":[]},{"resourceType":"elasticSans","name":"Premium_LRS","tier":"Premium","locations":["australiacentral2"],"locationInfo":[{"location":"australiacentral2","zones":[],"zoneDetails":[]}],"capabilities":[{"name":"elasticSanIopsPerBaseTiB","value":"5000"},{"name":"elasticSanMaxSizeTiB","value":"100"},{"name":"elasticSanMaxExtendedCapacityTiB","value":"100"},{"name":"elasticSanMaxTotalCapacityTiB","value":"200"},{"name":"elasticSanMinSizeTiB","value":"1"},{"name":"elasticSanMBpsPerBaseTiB","value":"20[...]
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"autoScaleProperties": {"scaleUpProperties":
      {"autoScalePolicyEnforcement": "Disabled", "capacityUnitScaleUpLimitTiB": 18,
      "increaseCapacityUnitByTiB": 5, "unusedSizeTiB": 25}}, "availabilityZones":
      ["1"], "baseSizeTiB": 25, "extendedCapacitySizeTiB": 15, "publicNetworkAccess":
      "Disabled", "sku": {"name": "Premium_LRS", "tier": "Premium"}}, "tags": {"key1710":
      "bbbb"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002?api-version=2026-04-01-preview
  response:
    body:
      string: '{"location":"eastus2euap","properties":{"autoScaleProperties":{"scaleUpProperties":{"unusedSizeTiB":25,"increaseCapacityUnitByTiB":5,"capacityUn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/5b3dc528-8358-4ecc-af4b-81caf7ddd6eb?monitor=true&api-version=2026-04-01-preview&t=639138220180265004&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/a39a0e67-1246-4f7e-b950-8929c8791aaa?monitor=true&api-version=2026-04-01-preview&t=639138220260744420&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/a39a0e67-1246-4f7e-b950-8929c8791aaa?monitor=true&api-version=2026-04-01-preview&t=639138220284371387&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/b2c0e8e4-6f2a-4646-94df-8511fd155a83?monitor=true&api-version=2026-04-01-preview&t=639138220860176842&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/b2c0e8e4-6f2a-4646-94df-8511fd155a83?monitor=true&api-version=2026-04-01-preview&t=639138220919742084&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/ba9b854c-94ea-4f43-b04c-aa3b03b93ad1?monitor=true&api-version=2026-04-01-preview&t=639138221154808009&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/ba9b854c-94ea-4f43-b04c-aa3b03b93ad1?monitor=true&api-version=2026-04-01-preview&t=639138221183318824&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE[...]
