interactions:
- request:
    body: '{"location": "southcentralusstg", "properties": {"baseSizeTiB": 23, "extendedCapacitySizeTiB":
      14, "sku": {"name": "Premium_LRS", "tier": "Premium"}}, "tags": {"key1810":
      "aaaa"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002?api-version=2023-01-01
  response:
    body:
      string: '{"location":"southcentralusstg","properties":{"sku":{"name":"Premium_LRS","tier":"Premium"},"provisioningState":"Creating","baseSizeTiB":23,"extendedCapacitySizeTiB":14,"totalIops":115000,"totalMBps":4600,"totalSizeTiB":37,"volumeGroupCount":0,"totalVolumeSizeGiB":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002","name":"elastic-san000002","type":"Microsoft.ElasticSan/ElasticSans","tags":{"key1810":"aaaa"},"systemData":{"createdAt":"2023-09-13T08:28:35.2189004Z","createdBy":"zhiyihuang@microsoft.com","createdByType":"User","lastModifiedAt":"2023-09-13T08:28:35.2189004Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User"}}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/bd5bfbbd-23a5-4286-8afc-606c45c27142?monitor=true&api-version=2023-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/bd5bfbbd-23a5-4286-8afc-606c45c27142?monitor=true&api-version=2023-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/bd5bfbbd-23a5-4286-8afc-606c45c27142?monitor=true&api-version=2023-01-01&t=638301905159688839&c=MIIHHjCCBgagAwIBAgITOgHct7O3aN_KxDKNJwAEAdy3szANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMDc1ODI0WhcNM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/bd5bfbbd-23a5-4286-8afc-606c45c27142?monitor=true&api-version=2023-01-01&t=638301905333606914&c=MIIHHjCCBgagAwIBAgITOgHct7O3aN_KxDKNJwAEAdy3szANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMDc1ODI0WhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"location":"southcentralusstg","properties":{"sku":{"name":"Premium_LRS","tier":"Premium"},"provisioningState":"Succeeded","baseSizeTiB":23,"extendedCapacitySizeTiB":14,"totalIops":115000,"totalMBps":4600,"totalSizeTiB":37,"volumeGroupCount":0,"totalVolumeSizeGiB":0},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002","name":"elastic-san000002","type":"Microsoft.ElasticSan/ElasticSans","tags":{"key1810":"aaaa"},"systemData":{"createdAt":"2023-09-13T08:28:35.2189004Z","createdBy":"zhiyihuang@microsoft.com","createdByType":"User","lastModifiedAt":"2023-09-13T08:28:35.2189004Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/skus?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"resourceType":"elasticSans","name":"Premium_LRS","tier":"Premium","locations":["australiaeast"],"locationInfo":[{"location":"australiaeast","zones":["2","3","1"],"zoneDetails":[]}],"capabilities":[{"name":"elasticSanIopsPerBaseTiB","value":"5000"},{"name":"elasticSanMaxSizeTiB","value":"100"},{"name":"elasticSanMinSizeTiB","value":"1"},{"name":"elasticSanMBpsPerBaseTiB","value":"80"},{"name":"elasticSanMaxMBps","value":"8000"},{"name":"elasticSanMinIncrementSizeTiB","value":"1"},{"name":"elasticSanMaxVolumeGroupCount","value":"20"},{"name":"elasticSanMaxIOPS","value":"500000"},{"name":"volumeGroupMaxVolumeCount","value":"1000"},{"name":"volumeMaxSizeGiB","value":"65536"},{"name":"volumeMinSizeGiB","value":"1"},{"name":"volumeIopsPerBaseGiB","value":"750"},{"name":"volumeMBpsPerBaseGiB","value":"192"},{"name":"volumeMaxIops","value":"64000"},{"name":"volumeMaxMBps","value":"1024"},{"name":"volumeMinIncrementSizeGiB","value":"1"}],"restrictions":[]},{"resourceType":"elasticSans","name":"Premium_LRS","tier":"Premium","locations":["centraluseuap"],"locationInfo":[{"location":"centraluseuap","zones":["1"],"zoneDetails":[]}],"capabilities":[{"name":"elasticSanIopsPerBaseTiB","value":"5000"},{"name":"elasticSanMaxSizeTiB","value":"100"},{"name":"elasticSanMinSizeTiB","value":"1"},{"name":"elasticSanMBpsPerBaseTiB","value":"80"},{"name":"elasticSanMaxMBps","value":"8000"},{"name":"elasticSanMinIncrementSizeTiB","value":"1"},{"name":"elasticSa[...]
[...]
- request:
    body: '{"location": "southcentralusstg", "properties": {"baseSizeTiB": 25, "extendedCapacitySizeTiB":
      15, "sku": {"name": "Premium_LRS", "tier": "Premium"}}, "tags": {"key1710":
      "bbbb"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans/elastic-san000002?api-version=2023-01-01
  response:
    body:
      string: '{"location":"southcentralusstg","properties":{"sku":{"name":"Premium_LRS","tier":"Premium"},"provisioningState":"Updating","baseSizeTiB":25,"extendedCap[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/bbb7e8a6-a2a5-4fce-b886-63bcc7f3da12?monitor=true&api-version=2023-01-01&t=638301905580554744&c=MIIHHjCCBgagAwIBAgITOgHct7O3aN_KxDKNJwAEAdy3szANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMDc1ODI0WhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/43618bb8-f474-436e-bb2b-72ee0d03c352?monitor=true&api-version=2023-01-01&t=638301905775822931&c=MIIHHjCCBgagAwIBAgITOgHct7O3aN_KxDKNJwAEAdy3szANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMDc1ODI0WhcNM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/43618bb8-f474-436e-bb2b-72ee0d03c352?monitor=true&api-version=2023-01-01&t=638301905779885743&c=MIIHHjCCBgagAwIBAgITOgHct7O3aN_KxDKNJwAEAdy3szANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMDc1ODI0WhcNM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.testelasticsan000001/providers/Microsoft.ElasticSan/elasticSans?api-version=2023-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
