interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CloudHealth/healthmodels?api-version=2026-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg-007/providers/Microsoft.CloudHealth/healthmodels/cli-test-hm-009","name":"cli-test-hm-009","type":"microsoft.cloudhealth/healthmodels","location":"uksouth","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-29T12:23:21.1666232Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-29T12:23:21.1666232Z"},"identity":{"principalId":"00000000-0000-0000-0000-000000000001","tenantId":"00000000-0000-0000-0000-000000000001","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg-008/providers/Microsoft.CloudHealth/healthmodels/cli-test-hm-004","name":"cli-test-hm-004","type":"microsoft.cloudhealth/healthmodels","location":"uksouth","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-04T06:29:32.6992562Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-04T06:29:32.6992562Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-rg-008/providers/microsoft.managedidentity/userassignedidentities/cli-test-mi-003":{"principalId":"00000000-0000-0000-0000-000000000001","clientId":"00000000-0000-0000-0000-000000000001"}}},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg-008/providers/Microsoft.CloudHealth/healthmodels/cli-test-hm-008","name":"cli-test-hm-008","type":"microsoft.cloudhealth/healthmodels","location":"uksouth","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-04T06:30:08.3685028Z","lastModifiedBy":"test@example.com","lastModifi[...]
