# pylint: disable=too-many-lines,too-many-statements
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------

from typing import Any, Callable, Dict, IO, Iterable, Optional, TypeVar, Union, cast, overload
from msrest import Serializer
from ..models import ExtensionAccessTokenRequest

from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)

from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpResponse
from azure.core.rest import HttpRequest
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat
from .. import models as _models

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_get_extensions_request(
    resource_group: str, 
    subscription_id: str, 
    connected_cluster: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2021-05-01-preview"))
    accept = _headers.pop("Accept", "application/json")
    content_type = _headers.pop("content_type", "application/json")

    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters/{connectedCluster}/Providers/Microsoft.KubernetesConfiguration/extensions",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "subscriptionId": _SERIALIZER.url("subscription_id", subscription_id, "str"),
        "resourceGroupName": _SERIALIZER.url("resource_group_name", resource_group, 'str'),
        "connectedCluster": _SERIALIZER.url("connected_cluster", connected_cluster, "str")
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")
    _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_get_extension_token_request(
    subscription_id: str, 
    accountRg: str,
    accountName: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-06-02-preview"))
    accept = _headers.pop("Accept", "application/json")
    content_type = _headers.pop("content_type", "application/json")
    
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{subscriptionId}/resourceGroups/{accountRg}/providers/Microsoft.VideoIndexer/accounts/{accountName}/generateExtensionAccessToken",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "subscriptionId": _SERIALIZER.url("subscription_id", subscription_id, "str"),
        "accountRg": _SERIALIZER.url("account_rg", accountRg, "str"),
        "accountName": _SERIALIZER.url("account_name", accountName, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")
    _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def get_extension_access_token_async(
        client: Any,
        serializer: Serializer,
        subscription_id: str,                 
        extension_id: str,
        account_rg: str,
        account_name: str,
        error_map=None,
        headers=None,
        params=None,
        **kwargs: Any):
        
        tokenRequest = ExtensionAccessTokenRequest()
        tokenRequest.permissionType = "Contributor"
        tokenRequest.scope = "Account"
        tokenRequest.extensionId = extension_id
        
        body_content = serializer.body(tokenRequest, "ExtensionAccessTokenRequest")
        
        _request = build_get_extension_token_request(
            subscription_id=subscription_id,
            accountRg=account_rg,
            accountName=account_name,
            json=body_content,
            headers=headers,
            params=params,
        )

        _request.url = client.format_url(_request.url)
        _stream = False
        pipeline_response: PipelineResponse = client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response
        response = pipeline_response.http_response
        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)
        
        return response.json().get("accessToken")

class ExtensionOperations:
    """
    """
    def __init__(self, *args, **kwargs):
        input_args = list(args)
        self._client = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    def get_vi_extension(self, resource_group: str, connected_cluster: str, **kwargs: Any):
        """
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2021-05-01-preview"))
        cls = kwargs.pop("cls", None)

        _request = build_get_extensions_request(
            subscription_id=self._config.subscription_id,
            resource_group=resource_group,
            connected_cluster=connected_cluster,
            api_version=api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response
        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)
    
        extensions =  response.json().get("value")
        extension = None
        if extensions:
            for ex in extensions:
                if ex.get("properties", {}).get("extensionType") == "microsoft.videoindexer":
                    extension = ex
                    break
                
        return extension

    def troubleshoot_vi_extension(self, resource_group: str, connected_cluster: str, **kwargs: Any):
        """
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2021-05-01-preview"))
        cls = kwargs.pop("cls", None)

        _request = build_get_extensions_request(
            subscription_id=self._config.subscription_id,
            resource_group=resource_group,
            connected_cluster=connected_cluster,
            api_version=api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response
        extensions =  response.json().get("value")
        extension = None
        for ex in extensions:
            if ex.get("properties", {}).get("extensionType") == "microsoft.videoindexer":
                extension = ex
                break
                
        return extension