interactions:
- request:
    body: '{"location": "global", "properties": {"friendlyName": "clifrontdoor000003",
      "routingRules": [{"name": "DefaultRoutingRule", "properties": {"frontendEndpoints":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003/frontendEndpoints/DefaultFrontendEndpoint"}],
      "acceptedProtocols": ["Http"], "patternsToMatch": ["/*"], "enabledState": "Enabled",
      "routeConfiguration": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "forwardingProtocol": "MatchRequest", "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003/backendPools/DefaultBackendPool"}}}}],
      "loadBalancingSettings": [{"name": "DefaultLoadBalancingSettings", "properties":
      {"sampleSize": 4, "successfulSamplesRequired": 2, "additionalLatencyMilliseconds":
      0}}], "healthProbeSettings": [{"name": "DefaultProbeSettings", "properties":
      {"path": "/", "protocol": "Https", "intervalInSeconds": 30, "healthProbeMethod":
      "HEAD"}}], "backendPools": [{"name": "DefaultBackendPool", "properties": {"backends":
      [{"address": "202.120.2.3", "httpPort": 80, "httpsPort": 443, "enabledState":
      "Enabled", "priority": 1, "weight": 50, "backendHostHeader": "202.120.2.3"}],
      "loadBalancingSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003/loadBalancingSettings/DefaultLoadBalancingSettings"},
      "healthProbeSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003/healthProbeSettings/DefaultProbeSettings"}}}],
      "frontendEndpoints": [{"name": "DefaultFrontendEndpoint", "properties": {"hostName":
      "clifrontdoor000003.azurefd.net", "sessionAffinityEnabledState": "Disabled"}}],
      "backendPoolsSettings": {"enforceCertificateNameCheck": "Enabled"}, "enabledState":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000003?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"clifrontdoor000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003\",\"type\":\"Microsoft.Network/frontdoors\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"Global\",\"properties\":{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\",\"backendPools\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000003/BackendPools/DefaultBackendPool\",\"name\":\"DefaultBackendPool\",\"type\":\"Microsoft.Network/Frontdoors/BackendPools\",\"properties\":{\r\n
        \         \"backends\":[\r\n            {\r\n              \"address\":\"202.120.2.3\",\"httpPort\":80,\"httpsPort\":443,\"priority\":1,\"weight\":50,\"backendHostHeader\":\"202.120.2.3\",\"enabledState\":\"Enabled\",\"privateLinkAlias\":null,\"privateEndpointStatus\":null,\"privateLinkApprovalMessage\":null,\"privateLinkResourceId\":null,\"privateLinkLocation\":null\r\n
        \           }\r\n          ],\"healthProbeSettings\":{\r\n            \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003/healthProbeSettings/DefaultProbeSettings\"\r\n
        \         },\"loadBalancingSettings\":{\r\n            \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003/l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/5e71ce8b-4484-4725-9bcf-d1b3fc46c4ba?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\":\"InProgress\",\"error\":{\r\n    \"code\":\"None\",\"message\":null\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000003?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"clifrontdoor000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000003\",\"type\":\"Mic[...]
- request:
    body: '{"hostName": "clife000002.cdne2e.azfdtest.xyz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000003/validateCustomDomain?api-version=2020-05-01
  response:
    body:
      string: '{"customDomainValidated":false,"message":"We couldn''t find a DNS record
        for custom domain clife000002.cdne2e.azfdtest.xyz that points to Front Door
        clifrontdoor000003.azurefd.net.To map a domain to this Front Door, create
        a CNAME record with your DNS provider for custom domain that points to Front
        Door.","reason":"IncorrectMapping"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azfdtest.xyz/providers/Microsoft.Network/dnsZones/cdne2e.azfdtest.xyz/CNAME/clife000002?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''clife000002'' does
        not exist in resource group ''azfdtest.xyz'' of subscription ''27cafca8-b9a4-4264-b399-45d0c9cca1ab''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "clifrontdoor000003.azurefd.net"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azfdtest.xyz/providers/Microsoft.Network/dnsZones/cdne2e.azfdtest.xyz/CNAME/clife000002?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/azfdtest.xyz\/providers\/Microsoft.Network\/dnszones\/cdne2e.azfdtest.xyz\/CNAME\/clife000002","name":"clife000002","type":"Microsoft.Network\/dnszones\/CNAME","etag":"bd9175a9-254c-4134-8aa2-9d23be6112b0","properties":{"fqdn":"clife000002.cdne2e.azfdtest.xyz.","TTL":3600,"CNAMERecord":{"cname":"clifrontdoor000003.azurefd.net"},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - bd9175a9-254c-4134-8aa2-9d23be6112b0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
