interactions:
- request:
    body: '{"certificateSource": "AzureKeyVault", "protocolType": "ServerNameIndication",
      "minimumTlsVersion": "1.2", "keyVaultCertificateSourceParameters": {"vault":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.KeyVault/vaults/bzhanbyostest"},
      "secretName": "frontdoorpstest2", "secretVersion": "d6b1f0ffd2a142efb2a8a89289802c77"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.Network/frontDoors/frontdoorpstest2/frontendEndpoints/afd-byoc-specific-localdev-cdn-azure-cn/enableHttps?api-version=2020-05-01
  response:
    body:
      string: '{"hostName":"afd-byoc-specific.localdev.cdn.azure.cn","sessionAffinityEnabledState":"Disabled","sessionAffinityTtlSeconds":0,"customHttpsProvisioningState":"Enabling","customHttpsProvisioningSubstate":"ImportingUserProvidedCertificate","resourceState":"Enabled","webApplicationFirewallPolicyLink":null,"customHttpsConfiguration":{"protocolType":"ServerNameIndication","certificateSource":"AzureKeyVault","minimumTlsVersion":"1.2","frontDoorCertificateSourceParameters":{"certificateType":null},"keyVaultCertificateSourceParameters":{"secretName":"frontdoorpstest2","secretVersion":"d6b1f0ffd2a142efb2a8a89289802c77","vault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.KeyVault/vaults/bzhanbyostest"}}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bzhanafdtest/providers/Microsoft.Network/frontdooroperationresults/2659fad6-3950-4ff2-9bf6-c0eea183d577?api-version=2020-05-01
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bzhanafdtest/providers/Microsoft.Network/frontdooroperationresults/2659fad6-3950-4ff2-9bf6-c0eea183d577/frontdoorresults/frontdoorpstest2?api-version=2020-05-01
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.Network/frontDoors/frontdoorpstest2/frontendEndpoints/afd-byoc-specific-localdev-cdn-azure-cn?api-version=2020-05-01
  response:
    body:
      string: '{"name":"afd-byoc-specific-localdev-cdn-azure-cn","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bzhanafdtest/providers/Microsoft.Network/frontdoors/frontdoorpstest2/frontendendpoints/afd-byoc-specific-localdev-cdn-azure-cn","type":"Microsoft.Network/frontdoors/frontendendpoints","properties":{"hostName":"afd-byoc-specific.localdev.cdn.azure.cn","sessionAffinityEnabledState":"Disabled","sessionAffinityTtlSeconds":0,"customHttpsProvisioningState":"Enabling","customHttpsProvisioningSubstate":"ImportingUserProvidedCertificate","resourceState":"Enabled","webApplicationFirewallPolicyLink":null,"customHttpsConfiguration":{"protocolType":"ServerNameIndication","certificateSource":"AzureKeyVault","minimumTlsVersion":"1.2","frontDoorCertificateSourceParameters":{"certificateType":null},"keyVaultCertificateSourceParameters":{"secretName":"frontdoorpstest2","secretVersion":"d6b1f0ffd2a142efb2a8a89289802c77","vault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.KeyVault/vaults/bzhanbyostest"}}}}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.Network/frontDoors/frontdoorpstest2/frontendEndpoints/afd-byoc-specific-localdev-cdn-azure-cn/disableHttps?api-version=2020-05-01
  response:
    body:
      string: '{"hostName":"afd-byoc-specific.localdev.cdn.azure.cn","sessionAffinityEnabledState":"Disabled","sessionAffinityTtlSeconds":0,"customHttpsPro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bzhanafdtest/providers/Microsoft.Network/frontDoors/frontdoorpstest2/frontendEndpoints/afd-byoc-specific-localdev-cdn-azure-cn?api-version=2020-05-01
  response:
    body:
      string: '{"name":"afd-byoc-specific-localdev-cdn-azure-cn","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bzhanafdtest/providers/Microsoft.Network/frontdoors/frontdoorpstest2/frontendendpoints/afd-byoc-specific-localdev-cdn-azure-cn","type":"Microsoft.Network/frontdoors/frontendendpoints","properties":{"hostName":"afd-byoc-specific.localdev.cdn.azure.cn","sessionAffinityEnabledState":"Disabled","sessionAffinityTtlSeconds":0,"customHttpsProvisioningState":"Disabled","customHttpsProvisioningSubstate":"None","resourceState":"Enabled","webApplicationFirewallPolicyLink":null,"customHttpsConfiguration":null}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
version: 1
