interactions:
- request:
    body: '{"location": "global", "properties": {"friendlyName": "clifrontdoor000002",
      "routingRules": [{"properties": {"frontendEndpoints": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/frontendEndpoints/DefaultFrontendEndpoint"}],
      "acceptedProtocols": ["Http"], "patternsToMatch": ["/*"], "enabledState": "Enabled",
      "routeConfiguration": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "forwardingProtocol": "MatchRequest", "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/backendPools/DefaultBackendPool"}},
      "resourceState": "Enabled"}, "name": "DefaultRoutingRule"}], "loadBalancingSettings":
      [{"properties": {"sampleSize": 4, "successfulSamplesRequired": 2, "additionalLatencyMilliseconds":
      0, "resourceState": "Enabled"}, "name": "DefaultLoadBalancingSettings"}], "healthProbeSettings":
      [{"properties": {"path": "/", "protocol": "Https", "intervalInSeconds": 30,
      "healthProbeMethod": "HEAD", "resourceState": "Enabled"}, "name": "DefaultProbeSettings"}],
      "backendPools": [{"properties": {"backends": [{"address": "202.120.2.3", "httpPort":
      80, "httpsPort": 443, "enabledState": "Enabled", "priority": 1, "weight": 50,
      "backendHostHeader": "202.120.2.3"}], "loadBalancingSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/loadBalancingSettings/DefaultLoadBalancingSettings"},
      "healthProbeSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/healthProbeSettings/DefaultProbeSettings"},
      "resourceState": "Enabled"}, "name": "DefaultBackendPool"}], "frontendEndpoints":
      [{"properties": {"hostName": "clifrontdoor000002.azurefd.net", "sessionAffinityEnabledState":
      "Disabled", "resourceState": "Enabled"}, "name": "DefaultFrontendEndpoint"}],
      "backendPoolsSettings": {"enforceCertificateNameCheck": "Enabled"}, "enabledState":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002?api-version=2020-05-01
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"TooManyRequests\",\n    \"message\":
        \"Too many requests. Please try again after sometime.\"\n  }\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 429
      message: Too Many Requests
version: 1
