interactions:
- request:
    body: '{"location": "global", "properties": {"friendlyName": "frontdoor000002",
      "routingRules": [{"name": "DefaultRoutingRule", "properties": {"frontendEndpoints":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002/frontendEndpoints/DefaultFrontendEndpoint"}],
      "acceptedProtocols": ["Http"], "patternsToMatch": ["/*"], "enabledState": "Enabled",
      "routeConfiguration": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "forwardingProtocol": "MatchRequest", "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002/backendPools/DefaultBackendPool"}}}}],
      "loadBalancingSettings": [{"name": "DefaultLoadBalancingSettings", "properties":
      {"sampleSize": 4, "successfulSamplesRequired": 2, "additionalLatencyMilliseconds":
      0}}], "healthProbeSettings": [{"name": "DefaultProbeSettings", "properties":
      {"path": "/", "protocol": "Https", "intervalInSeconds": 30, "healthProbeMethod":
      "HEAD"}}], "backendPools": [{"name": "DefaultBackendPool", "properties": {"backends":
      [{"address": "202.120.2.3", "httpPort": 80, "httpsPort": 443, "enabledState":
      "Enabled", "priority": 1, "weight": 50, "backendHostHeader": "202.120.2.3"}],
      "loadBalancingSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002/loadBalancingSettings/DefaultLoadBalancingSettings"},
      "healthProbeSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002/healthProbeSettings/DefaultProbeSettings"}}}],
      "frontendEndpoints": [{"name": "DefaultFrontendEndpoint", "properties": {"hostName":
      "frontdoor000002.azurefd.net", "sessionAffinityEnabledState": "Disabled"}}],
      "backendPoolsSettings": {"enforceCertificateNameCheck": "Enabled"}, "enabledState":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/frontdoor000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"frontdoor000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002\",\"type\":\"Microsoft.Network/frontdoors\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"Global\",\"properties\":{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\",\"backendPools\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/frontdoor000002/BackendPools/DefaultBackendPool\",\"name\":\"DefaultBackendPool\",\"type\":\"Microsoft.Network/Frontdoors/BackendPools\",\"properties\":{\r\n
        \         \"backends\":[\r\n            {\r\n              \"address\":\"202.120.2.3\",\"httpPort\":80,\"httpsPort\":443,\"priority\":1,\"weight\":50,\"backendHostHeader\":\"202.120.2.3\",\"enabledState\":\"Enabled\",\"privateLinkAlias\":null,\"privateEndpointStatus\":null,\"privateLinkApprovalMessage\":null,\"privateLinkResourceId\":null,\"privateLinkLocation\":null\r\n
        \           }\r\n          ],\"healthProbeSettings\":{\r\n            \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002/healthProbeSettings/DefaultProbeSettings\"\r\n
        \         },\"loadBalancingSettings\":{\r\n            \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002/loadBal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/65fee355-3be3-46c9-845e-f5726ba2c3ba?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\":\"InProgress\",\"error\":{\r\n    \"code\":\"None\",\"message\":null\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/frontdoor000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"frontdoor000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/frontdoor000002\",\"type\":\"Microsoft.Ne[...]
- request:
    body: '{"contentPaths": ["/test1/azure.json", "/test2/*"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/frontdoor000002/purge?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/0b34b43d-1f82-49fd-84c2-a886012c908d?api-version=2020-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/0b34b43d-1f82-49fd-84c2-a886012c908d/frontdoorresults/frontdoor000002?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/0b34b43d-1f82-49fd-84c2-a886012c908d?api-version=2020-05-01
  response:
    body:
      string: '{"status":"Succeeded","error":{"code":"None","message":null}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
version: 1
