interactions:
- request:
    body: '{"location": "global", "properties": {"policySettings": {"enabledState":
      "Enabled"}, "customRules": {"rules": []}, "managedRules": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/cli000002?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\":\"cli000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoorwebapplicationfirewallpolicies/cli000002\",\"type\":\"Microsoft.Network/frontdoorwebapplicationfirewallpolicies\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"Global\",\"properties\":{\r\n    \"resourceState\":\"Enabled\",\"provisioningState\":\"Succeeded\",\"policySettings\":{\r\n
        \     \"enabledState\":\"Enabled\",\"mode\":\"Prevention\",\"redirectUrl\":null,\"customBlockResponseStatusCode\":null,\"customBlockResponseBody\":null\r\n
        \   },\"customRules\":{\r\n      \"rules\":[\r\n        \r\n      ]\r\n    },\"managedRules\":{\r\n
        \     \"managedRuleSets\":[\r\n        \r\n      ]\r\n    },\"frontendEndpointLinks\":[\r\n
        \     \r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "Global", "tags": {}, "properties": {"policySettings": {"enabledState":
      "Enabled", "mode": "Prevention"}, "customRules": {"rules": [{"name": "cli000003",
      "priority": 6, "enabledState": "Enabled", "ruleType": "MatchRule", "matchConditions":
      [{"matchVariable": "RequestBody", "operator": "RegEx", "matchValue": ["something"]}],
      "action": "Block"}]}, "managedRules": {"managedRuleSets": []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/cli000002?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\":\"cli000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoorwebapplicationfirewallpolicies/cli000002\",\"type\":\"Microsoft.Network/frontdoorwebapplicationfirewallpolicies\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"Global\",\"properties\":{\r\n    \"resourceState\":\"Enabled\",\"provisioningState\":\"Succeeded\",\"policySettings\":{\r\n
        \     \"enabledState\":\"Enabled\",\"mode\":\"Prevention\",\"redirectUrl\":null,\"customBlockResponseStatusCode\":null,\"customBlockResponseBody\":null\r\n
        \   },\"customRules\":{\r\n      \"rules\":[\r\n        {\r\n          \"name\":\"cli000003\",\"enabledState\":\"Enabled\",\"priority\":6,\"ruleType\":\"MatchRule\",\"rateLimitDurationInMinutes\":null,\"rateLimitThreshold\":null,\"matchConditions\":[\r\n
        \           {\r\n              \"matchVariable\":\"RequestBody\",\"selector\":null,\"operator\":\"RegEx\",\"negateCondition\":false,\"matchValue\":[\r\n
        \               \"something\"\r\n              ],\"transforms\":[\r\n                \r\n
        \             ]\r\n            }\r\n          ],\"action\":\"Block\"\r\n        }\r\n
        \     ]\r\n    },\"managedRules\":{\r\n      \"managedRuleSets\":[\r\n        \r\n
        \     ]\r\n    },\"frontendEndpointLinks\":[\r\n      \r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "global", "properties": {"friendlyName": "cli000004", "routingRules":
      [{"properties": {"frontendEndpoints": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/cli000004/frontendEndpoints/DefaultFrontendEndpoint"}],
      "acceptedProtocols": ["Http"], "patternsToMatch": ["/*"], "enabledState": "Enabled",
      "routeConfiguration": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "forwardingProtocol": "MatchRequest", "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/cli000004/backendPools/DefaultBackendPool"}},
      "resourceState": "Enabled"}, "name": "DefaultRoutingRule"}], "loadBalancingSettings":
      [{"properties": {"sampleSize": 4, "successfulSamplesRequired": 2, "additionalLatencyMilliseconds":
      0, "resourceState": "Enabled"}, "name": "DefaultLoadBalancingSettings"}], "healthProbeSettings":
      [{"properties": {"path": "/", "protocol": "Https", "intervalInSeconds": 30,
      "healthProbeMethod": "HEAD", "resourceState": "Enabled"}, "name": "DefaultProbeSettings"}],
      "backendPools": [{"properties": {"backends": [{"address": "www.example.com",
      "httpPort": 80, "httpsPort": 443, "enabledState": "Enabled", "priority": 1,
      "weight": 50, "backendHostHeader": "www.example.com"}], "loadBalancingSettings":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/cli000004/loadBalancingSettings/DefaultLoadBalancingSettings"},
      "healthProbeSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/cli000004/healthProbeSettings/DefaultProbeSettings"},
      "resourceState": "Enabled"}, "name": "DefaultBackendPool"}], "frontendEndpoints":
      [{"properties": {"hostName": "cli000004.azurefd.net", "sessionAffinityEnabledState":
      "Disabled", "resourceState": "Enabled"}, "name": "DefaultFrontendEndpoint"}],
      "backendPoolsSettings": {"enforceCertificateNameCheck": "Enabled"}, "enabledState":
      "Enabled"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/cli000004?api-version=2019-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"cli000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/3ca7efc1-b8da-4019-85f4-0d651f12314d?api-version=2019-05-01
  response:
    body:
      string: "{\r\n  \"status\":\"InProgress\",\"error\":{\r\n    \"code\":\"None\",\"message\":null\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/cli000004?api-version=2019-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"cli000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/cli000004\",\"type\":\"Microsoft.Network/front[...]
[...]
- request:
    body: '''key'':''value'''
    headers:
    method: POST
    uri: http://cli000004.azurefd.net/
  response:
    body:
      string: "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system,
        system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Open Sans\", \"Helvetica Neue\",
        Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width:
        600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color:
        #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px
        rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n
        \       text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div
        {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n
        \   </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is for use in illustrative examples in documents. You may
        use this\n    domain in literature without prior coordination or asking for
        permission.</p>\n    <p><a href=\"https://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
    headers:
      content-type:
      - text/html; charset=UTF-8
      etag:
      - '"3147526947+gzip"'
      last-modified:
      - Thu, 17 Oct 2019 07:18:26 GMT
    status:
      code: 200
      message: OK
[...]
