interactions:
- request:
    body: '{"location": "global", "properties": {"friendlyName": "clifrontdoor000002",
      "routingRules": [{"name": "DefaultRoutingRule", "properties": {"frontendEndpoints":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/frontendEndpoints/DefaultFrontendEndpoint"}],
      "acceptedProtocols": ["Http"], "patternsToMatch": ["/*"], "enabledState": "Enabled",
      "routeConfiguration": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "forwardingProtocol": "MatchRequest", "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/backendPools/DefaultBackendPool"}}}}],
      "loadBalancingSettings": [{"name": "DefaultLoadBalancingSettings", "properties":
      {"sampleSize": 4, "successfulSamplesRequired": 2, "additionalLatencyMilliseconds":
      0}}], "healthProbeSettings": [{"name": "DefaultProbeSettings", "properties":
      {"path": "/", "protocol": "Https", "intervalInSeconds": 30, "healthProbeMethod":
      "HEAD"}}], "backendPools": [{"name": "DefaultBackendPool", "properties": {"backends":
      [{"address": "202.120.2.3", "httpPort": 80, "httpsPort": 443, "enabledState":
      "Enabled", "priority": 1, "weight": 50, "backendHostHeader": "202.120.2.3"}],
      "loadBalancingSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/loadBalancingSettings/DefaultLoadBalancingSettings"},
      "healthProbeSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/healthProbeSettings/DefaultProbeSettings"}}}],
      "frontendEndpoints": [{"name": "DefaultFrontendEndpoint", "properties": {"hostName":
      "clifrontdoor000002.azurefd.net", "sessionAffinityEnabledState": "Disabled"}}],
      "backendPoolsSettings": {"enforceCertificateNameCheck": "Enabled"}, "enabledState":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002","type":"Microsoft.Network/frontdoors","name":"clifrontdoor000002","location":"Global","tags":{},"properties":{"routingRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/RoutingRules/DefaultRoutingRule","name":"DefaultRoutingRule","type":"Microsoft.Network/Frontdoors/RoutingRules","properties":{"routeConfiguration":{"customForwardingPath":null,"forwardingProtocol":"MatchRequest","cacheConfiguration":null,"backendPool":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/backendPools/DefaultBackendPool"},"@odata.type":"#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"},"rulesEngine":null,"resourceState":"Creating","frontendEndpoints":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/frontendEndpoints/DefaultFrontendEndpoint"}],"acceptedProtocols":["Http"],"patternsToMatch":["/*"],"enabledState":"Enabled","webApplicationFirewallPolicyLink":null}}],"rulesEngines":[],"frontdoorId":"9861debf-3be5-4498-8b23-05f08936d422","extendedProperties":{},"resourceState":"Creating","loadBalancingSettings":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/LoadBalancingSettings/DefaultLoadBalancingSettings","name":"DefaultLoadBalancingSettings","type":"Microsoft.Network/Frontdoors/LoadBalancingSettings","properties":{"resourceState":"Creating","sampleSize":4,"successfulSamplesRequired":2,"additionalLatencyMilliseconds":0}}],"healthProbeSettings":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/HealthProbeSettings/DefaultProbeSettings","name":"DefaultProbeSettings","type":"Microsoft.Network/Frontdoors/HealthProbeSettings","properties":{"resourceState":"Creating","path":"/","protocol":"Https","intervalInSeconds":30,"enabledState":"Enabled","healthProbeMethod":"Head"}}],"backendPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/BackendPools/DefaultBackendPool","name":"DefaultBackendPool","type":"Microsoft.Network/Frontdoors/BackendPools","properties":{"backends":[{"address":"202.120.2.3","httpPort":80,"httpsPort":443,"priority":1,"weight":50,"backendHostHeader":"202.120.2.3","enabledState":"Enabled","privateLinkAlias":null,"privateLinkResourceId":null,"privateLinkLocation":null,"privateEndpointStatus":null,"privateLinkApprovalMessage":null}],"resourceState":"Creating","loadBalancingSettings":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/loadBalancingSettings/DefaultLoadBalancingSettings"},"healthProbeSettings":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/healthProbeSettings/DefaultProbeSettings"}}}],"frontendEndpoints":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/FrontendEndpoints/DefaultFrontendEndpoint","name":"DefaultFrontendEndpoint","type":"Microsoft.Network/Frontdoors/FrontendEndpoints","properties":{"resourceState":"Creating","hostName":"clifrontdoor000002.azurefd.net","sessionAffinityEnabledState":"Disabled","sessionAffinityTtlSeconds":0,"webApplicationFirewallPolicyLink":null,"customHttpsProvisioningState":null,"customHttpsProvisioningSubstate":null,"customHttpsConfiguration":null}}],"backendPoolsSettings":{"enforceCertificateNameCheck":"Enabled","sendRecvTimeoutSeconds":30},"enabledState":"Enabled","cName":"clifrontdoor000002.azurefd.net","friendlyName":"clifrontdoor000002","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/582348a3-5a74-4ba2-b0b6-70d5298c9ff7?api-version=2021-06-01&t=638493584478385035&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdooroperationresults/582348a3-5a74-4ba2-b0b6-70d5298c9ff7?api-version=2021-06-01&t=638493584478385035&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002","type":"Microsoft.Network/frontdoors","name":"clifrontdo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEngines/clirulesengine000003?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The requested resource was not
        found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"rules": [{"name": "rule1", "priority": 1, "action": {"requestHeaderActions":
      [{"headerActionType": "Overwrite", "headerName": "Rewrite", "value": "True"}],
      "responseHeaderActions": []}, "matchConditions": [{"rulesEngineMatchVariable":
      "RequestFilenameExtension", "rulesEngineOperator": "Contains", "rulesEngineMatchValue":
      ["jpg", "png"], "transforms": ["Lowercase"]}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEngines/clirulesengine000003?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/rulesengines/clirulesengine000003","type":"Microsoft.Network/frontdoors/rulesengines","name":"clirulesengine000003","properties":{"resourceState":"Enabled","rules":[{"name":"rule1","priority":1,"action":{"name":null,"routeConfigurationOverride":null,"requestHeaderActions":[{"headerActionType":"Overwrite","headerName":"Rewrite","value":"True"}],"responseHeaderActions":[]},"matchConditions":[{"selector":null,"rulesEngineMatchValue":["jpg","png"],"negateCondition":false,"rulesEngineMatchVariable":"RequestFilenameExtension","rulesEngineOperator":"Contains","transforms":["Lowercase"]}],"matchProcessingBehavior":null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"rules": [{"name": "rule1", "priority": 1, "action": {"requestHeaderActions":
      [{"headerActionType": "Overwrite", "headerName": "Rewrite", "value": "True"}],
      "responseHeaderActions": [], "routeConfigurationOverride": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "cacheConfiguration": {"queryParameterStripDirective": "StripOnly", "queryParameters":
      "a=b,x=y&p=q", "cacheDuration": "P5DT1H30M30S"}, "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/backendPools/DefaultBackendPool"}}},
      "matchConditions": [{"rulesEngineMatchVariable": "RequestFilenameExtension",
      "rulesEngineOperator": "Contains", "negateCondition": false, "rulesEngineMatchValue":
      ["jpg", "png"], "transforms": ["Lowercase"]}], "matchProcessingBehavior": "Stop"},
      {"name": "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEngines/clirulesengine000003?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/rulesengines/clirulesengine000003","type":"Microsoft.Network/frontdoors/rulesengines","name":"clirulesengine000003","properties":{"resourceState":"Enabled","rules":[{"name":"rule1","priority":1,"action":{"name":null,"routeConfigurationOverride":{"customForwardingPath":null,"forwardingProtocol":"MatchRequest","cacheConfiguration":{"queryParameterStripDirective":"StripOnly","queryParameters":"a=b,x=y&p=q","dynamicCompression":"Enabled","cacheDuration":"P5DT1H30M30S"},"backendPool":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/backendPools/DefaultBackendPool"},"@odata.type":"#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"},"requestHeaderActions":[{"headerActionType":"Overwrite","headerName":"Rewrite","value":"True"}],"responseHeaderActions":[]},"matchConditions":[{"selector":null,"rulesEngineMatchValue":["jpg","png"],"negateCondition":false,"rulesEngineMatchVariable":"RequestFilenameExtension","rulesEngineOperator":"Contains","transforms":["Lowercase"]}],"matchProcessingBehavior":"Stop"},{"name":"rule2","priority":2,"action":{"name":null,"routeConfigurationOverride":null,"requestHeaderActions":[],"responseHeaderActions":[{"headerActionType":"Append","headerName":"Security","value":"Strict"},{"headerActionType":"Delete","headerName":"Location","value":null}]},"matchConditions":[{"selector":null,"rulesEngineMatchValue":["private"],"negateCondition":false,"rulesEngineMatchVariable":"RequestPath","rulesEngineOperator":"Contains","transforms":[]}],"matchProcessingBehavior":null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rules": [{"name": "rule1", "priority": 1, "action": {"requestHeaderActions":
      [{"headerActionType": "Overwrite", "headerName": "Rewrite", "value": "True"}],
      "responseHeaderActions": [], "routeConfigurationOverride": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration",
      "forwardingProtocol": "MatchRequest", "cacheConfiguration": {"queryParameterStripDirective":
      "StripOnly", "queryParameters": "a=b,x=y&p=q", "dynamicCompression": "Enabled",
      "cacheDuration": "P5DT1H30M30S"}, "backendPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/Frontdoors/clifrontdoor000002/backendPools/DefaultBackendPool"}}},
      "matchConditions": [{"rulesEngineMatchVariable": "RequestFilenameExtension",
      "rulesEngineOperator": "Contains", "negateCondition": false, "rulesEngineMatchValue":
      ["jpg", "png"], "transforms": ["Lowercase"]}], "matchProcessingBehavior": "Stop"},
      {"name": "rule2", "priority": 2, "action": {"requestHeaderActions": [], "responseHeaderActions":
      [{"headerActionType": "Append", "headerName": "Security", "value": "Strict"},
      {"headerActionType": "Delete", "headerName": "Location"}], "routeConfigurationOverride":
      {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorRedirectConfiguration",
      "redirectType": "Moved", "redirectProtocol": "MatchRequest", "customPath": "/redirect"}},
      "matchConditions": [{"rulesEngineMatchVariable": "RequestPath", "rulesEngineOperator":
      "Contains", "negateCondition": false, "rulesEngineMatchValue": ["private"],
      "transforms": []}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEngines/clirulesengin[...]
[...]
- request:
    body: '{"properties": {"rules": [{"name": "rule1", "priority": 1, "action": {"requestHeaderActions":
      [{"headerActionType": "Overwrite", "headerName": "Rewrite", "value": "True"}],
      "responseHeaderActions": []}, "matchConditions": [{"rulesEngineMatchVariable":
      "RequestHeader", "selector": "x-language", "rulesEngineOperator": "Equal", "negateCondition":
      false, "rulesEngineMatchValue": ["en-gb", "en-th"], "transforms": ["Lowercase"]},
      {"rulesEngineMatchVariable": "RequestPath", "rulesEngineOperator": "Any", "negateCondition":
      false, "rulesEngineMatchValue": [], "transforms": []}], "matchProcessingBehavior":
      "Stop"}, {"name": "rule2", "priority": 2, "action": {"requestHeaderActions":
      [], "responseHeaderActions": [{"headerActionType": "Append", "headerName": "Security",
      "value": "Strict"}, {"headerActionType": "Delete", "headerName": "Location"}],
      "routeConfigurationOverride": {"@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorRedirectConfiguration",
      "redirectType": "Moved", "redirectProtocol": "MatchRequest", "customHost": "",
      "customPath": "/redirect"}}, "matchConditions": [{"rulesEngineMatchVariable":
      "RequestPath", "rulesEngineOperator": "Contains", "negateCondition": false,
      "rulesEngineMatchValue": ["private"], "transforms": []}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEng[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEngines/clirulesengine000003?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/rulesengines/clirulesengine000003","type":"Microsoft.Network/frontdoors/rulesengines","name":"clirulesengine000003","properties":{"resourceState":"Enabled","rules":[{"name":"rule1","priority":1,"action":{"name":null,"routeConfigurationOverride":null,"requestHeaderActions":[{"headerActionType":"Overwrite","headerName":"Rewrite","value":"True"}],"responseHeaderActions":[]},"matchConditions":[{"selector":"x-language","rulesEngineMatchValue":["en-gb","en-th"],"negateCondition":false,"rulesEngineMatchVariable":"RequestHeader","rulesEngineOperator":"Equal","transforms":["Lowercase"]},{"selector":null,"rulesEngineMatchValue":[],"negateCondition":false,"rulesEngineMatchVariable":"RequestPath","rulesEngineOperator":"Any","transforms":[]}],"matchProcessingBehavior":"Stop"},{"name":"rule2","priority":2,"action":{"name":null,"routeConfigurationOverride":{"redirectType":"Moved","redirectProtocol":"MatchRequest","customHost":"","customPath":"/redirect","customFragment":null,"customQueryString":null,"@odata.type":"#Microsoft.Azure.FrontDoor.Models.FrontdoorRedirectConfiguration"},"requestHeaderActions":[],"responseHeaderActions":[{"headerActionType":"Append","headerName":"Security","value":"Strict"},{"headerActionType":"Delete","headerName":"Location","value":null}]},"matchConditions":[{"selector":null,"rulesEngineMatchValue":["private"],"negateCondition":false,"rulesEngineMatchVariable":"RequestPath","rulesEngineOperator":"Contains","transforms":[]}],"matchProcessingBehavior":null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/frontDoors/clifrontdoor000002/rulesEngines?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoors/clifrontdoor000002/rulesengines/clirulesengine000003","type":"Microsoft.Network/frontdoors/rulesengines","name":"clirulesengine000003","properties":{"resourceState":"Enabled","rules":[{"name":"rule1","priority":1,"action":{"name":null,"routeConfigurationOverride":null,"requestHeaderActions":[{"headerActionType":"Overwrite","headerName":"Rewrite","value":"True"}],"responseHeaderActions":[]},"matchConditions":[{"selector":"x-language","rulesEngineMatchValue":["en-gb","en-th"],"negateCondition":false,"rulesEngineMatchVariable":"RequestHeader","rulesEngineOperator":"Equal","transforms":["Lowercase"]},{"selector":null,"rulesEngineMatchValue":[],"negateCondition":false,"rulesEngineMatchVariable":"RequestPath","rulesEngineOperator":"Any","transforms":[]}],"matchProcessingBehavior":"Stop"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
