interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-06-21T18:55:33Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-06-21T18:55:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"policySettings": {"enabledState":
      "Enabled", "mode": "Prevention"}, "customRules": {"rules": []}, "managedRules":
      {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/cli000002?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\":\"cli000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoorwebapplicationfirewallpolicies/cli000002\",\"type\":\"Microsoft.Network/frontdoorwebapplicationfirewallpolicies\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"Global\",\"properties\":{\r\n    \"resourceState\":\"Enabled\",\"provisioningState\":\"Succeeded\",\"policySettings\":{\r\n
        \     \"enabledState\":\"Enabled\",\"mode\":\"Prevention\",\"redirectUrl\":null,\"customBlockResponseStatusCode\":null,\"customBlockResponseBody\":null\r\n
        \   },\"customRules\":{\r\n      \"rules\":[\r\n        \r\n      ]\r\n    },\"managedRules\":{\r\n
        \     \"managedRuleSets\":[\r\n        \r\n      ]\r\n    },\"frontendEndpointLinks\":[\r\n
        \     \r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''b\\\''{"location": "Global", "tags": {}, "properties": {"policySettings":
      {"enabledState": "Enabled", "mode": "Prevention"}, "customRules": {"rules":
      [{"name": "cli000003", "priority": 45, "enabledState": "Enabled", "ruleType":
      "RateLimitRule", "rateLimitDurationInMinutes": 5, "rateLimitThreshold": 10000,
      "matchConditions": [{"matchVariable": "RequestHeader", "selector": "value",
      "operator": "Contains", "matchValue": ["foo", "boo"]}, {"matchVariable": "RequestHeader",
      "operator": "Contains", "matchValue": ["foo", "boo"]}], "action": "Block"},
      {"name": "cli000005", "priority": 75, "enabledState": "Enabled", "ruleType":
      "RateLimitRule", "rateLimitDurationInMinutes": 1, "rateLimitThreshold": 10000,
      "matchConditions": [{"matchVariable": "RequestUri", "operator": "Contains",
      "negateCondition": true, "matchValue": ["foo", "boo"]}], "action": "Log"}, {"name":
      "cli000006", "priority": 40, "enabledState": "Enabled", "ruleType": "MatchRule",
      "matchConditions": [{"matchVariable": "RequestUri", "operator": "Contains",
      "matchValue": ["foo", "boo"]}], "action": "Log"}]}, "managedRules": {"managedRuleSets":
      []}}}\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/cli000002?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\":
        \"WebApplicationFirewallPolicy validation failed. More information \\\"Selector
        must be set when using RequestHeader match variable\\\".\"\r\n  }\r\n}"
    headers:
      content-language:
      - en-US
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/cli000002?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\":\"cli000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/frontdoorwebapplicationfirewallpolicies/cli000002\",\"type\":\"Microsoft.Network/frontdoorwebapplicationfirewallpolicies\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"Global\",\"properties\":{\r\n    \"resourceState\":\"Enabled\",\"provisioningState\":\"Succeeded\",\"policySettings\":{\r\n
        \     \"enabledState\":\"Enabled\",\"mode\":\"Prevention\",\"redirectUrl\":null,\"customBlockResponseStatusCode\":null,\"customBlockResponseBody\":null\r\n
        \   },\"customRules\":{\r\n      \"rules\":[\r\n        {\r\n          \"name\":\"cli000003\",\"enabledState\":\"Enabled\",\"priority\":45,\"ruleType\":\"RateLimitRule\",\"rateLimitDurationInMinutes\":5,\"rateLimitThreshold\":10000,\"matchConditions\":[\r\n
        \           {\r\n              \"matchVariable\":\"RequestHeader\",\"selector\":\"value\",\"operator\":\"Contains\",\"negateCondition\":false,\"matchValue\":[\r\n
        \               \"foo\",\"boo\"\r\n              ],\"transforms\":[\r\n                \r\n
        \             ]\r\n            }\r\n          ],\"action\":\"Block\"\r\n        },{\r\n
        \         \"name\":\"cli000005\",\"enabledState\":\"Enabled\",\"priority\":75,\"ruleType\":\"RateLimitRule\",\"rateLimitDurationInMinutes\":1,\"rateLimitThreshold\":10000,\"matchConditions\":[\r\n
        \           {\r\n              \"matchVariable\":\"RequestUri\",\"selector\":null,\"operator\":\"Contains\",\"negateCondition\":true,\"matchValue\":[\r\n
       [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdLWUFJN0pYWUlOQUFDRlkzM1dPNFo3SU1SU0tKTFNRRzQ2M3xCMEQ0MjUxNjcyQzJCRTc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
