# Exclude everything by default
*

# Make an exception
!arcdata/*

# Make an exception
!scripts/*

# Make an exception
!tools/*

# Make an exception
!dev-requirements.txt

# Make an exception
!LICENSE

# Make an exception
!THIRDPARTYNOTICES.txt

# Make an exception
!.flake8

# Make an exception
!pyproject.toml

# Exclude build artifacts
src/**/build
**/*.pyc
**/__pycache__
env/