#wheel==0.45.1
urllib3==2.2.2  # indirect dependency, pinning for dev env
azure-cli==2.48.1; python_version == '3.8'
azure-cli==2.72.0; python_version > '3.8'
azdev==0.1.63
black==22.3.0
pytest==8.2.0
pytest-cov==2.12.1
pytest-html==3.1.1
pytest-metadata==3.1.1
pytest-mock==3.6.1
pytest-runner==5.3.1
tox==3.23.1
pre-commit==2.14.0
flake8==3.9.2
