interactions:
- request:
    body: '{"location": "eastus2", "properties": {"threatIntelWhitelist": {"ipAddresses":
      ["101.0.0.0", "101.0.0.1"], "fqdns": ["*.microsoft.com"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"threatIntelMode\": \"Alert\",\r\n
        \   \"threatIntelWhitelist\": {\r\n      \"fqdns\": [\r\n        \"*.microsoft.com\"\r\n
        \     ],\r\n      \"ipAddresses\": [\r\n        \"101.0.0.0\",\r\n        \"101.0.0.1\"\r\n
        \     ]\r\n    },\r\n    \"childPolicies\": [],\r\n    \"ruleCollectionGroups\":
        [],\r\n    \"firewalls\": [],\r\n    \"provisioningState\": \"Updating\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"a192b8ca-3d2a-4ca1-84bf-13d3c43b45f1\",\r\n  \"location\": \"eastus2\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/nfvOperations/1ede2908-7de7-4a12-a9bd-f5d71c0eb0ea?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/nfvOperations/1ede2908-7de7-4a12-a9bd-f5d71c0eb0ea?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"threatIntelMode\":
        \"Alert\",\r\n        \"threatIntelWhitelist\": {\r\n          \"fqdns\":
        [\r\n            \"*.microsoft.com\"\r\n          ],\r\n          \"ipAddresses\":
        [\r\n            \"101.0.0.0\",\r\n            \"101.0.0.1\"\r\n          ]\r\n
        \       },\r\n        \"childPolicies\": [],\r\n        \"ruleCollectionGroups\":
        [],\r\n        \"firewalls\": [],\r\n        \"provisioningState\": \"Succeeded\"\r\n
        \     },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \     \"name\": \"myclipolicy\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \     \"etag\": \"a192b8ca-3d2a-4ca1-84bf-13d3c43b45f1\",\r\n      \"location\":
        \"eastus2\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/firewallPolicies?api-version=2020-05-01
  response:
    body:
      string: '{"value":[{"properties":{"threatIntelMode":"Alert","threatIntelWhitelist":{"fqdns":["*.microsoft.com"],"ipAddresses":["101.0.0.0","101.0.0.1"]},"childPolicies":[],"ruleCollectionGroups":[],"firewalls":[],"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy","name":"myclipolicy","type":"Microsoft.Network/FirewallPolicies","etag":"a192b8ca-3d2a-4ca1-84bf-13d3c43b45f1","location":"eastus2"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"priority": 10000}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"5e7a58af-ec49-4b32-bcb2-a77d99bcb6db\",\r\n  \"location\": \"eastus2\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/nfvOperations/0029c890-6011-4750-99cc-e914831e6113?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"priority\":
        10000,\r\n        \"ruleCollections\": [],\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \     \"name\": \"myclirulecollectiongroup\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \     \"etag\": \"5e7a58af-ec49-4b32-bcb2-a77d99bcb6db\",\r\n      \"location\":
        \"eastus2\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "DNAT"}, "rules": [{"name": "network-rule", "description":
      "test", "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15"],
      "destinationPorts": ["12000", "12001"], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}]}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n        \"ruleCollectionType\": \"FirewallPolicyNatRuleCollection\",\r\n
        \       \"action\": {\r\n          \"type\": \"Dnat\"\r\n        },\r\n        \"rules\":
        [\r\n          {\r\n            \"ruleType\": \"NatRule\",\r\n            \"name\":
        \"network-rule\",\r\n            \"translatedAddress\": \"128.1.1.1\",\r\n
        \           \"translatedPort\": \"1234\",\r\n            \"ipProtocols\":
        [\r\n              \"TCP\",\r\n              \"UDP\"\r\n            ],\r\n
        \           \"sourceAddresses\": [\r\n              \"202.120.36.13\",\r\n
        \             \"202.120.36.14\"\r\n            ],\r\n            \"sourceIpGroups\":
        [],\r\n            \"destinationAddresses\": [\r\n              \"202.120.36.15\"\r\n
        \           ],\r\n            \"destinationPorts\": [\r\n              \"12000\",\r\n
        \             \"12001\"\r\n            ]\r\n          }\r\n        ],\r\n
        \       \"name\": \"nat-collection\",\r\n        \"priority\": 10005\r\n      }\r\n
        \   ],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"61064973-ee19-4539-8009-456d875f458b\",\r\n  \"location\": \"eastus2\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/nfvOperations/319089a9-e0e2-45b1-a77a-7d226d774a01?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "network-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12000", "12001"],
      "translatedAddress": "128.1.1.1", "translatedPort": "1234", "sourceIpGroups":
      []}]}, {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"name": "network-rule", "ruleType": "NetworkRule", "ipProtocols": ["Any",
      "ICMP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12003", "12004"], "sourceIpGroups":
      [], "destinationIpGroups": [], "destinationFqdns": []}]}, {"name": "filter-collection-2",
      "priority": 14000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"name": "application-rule", "description":
      "test", "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "destinationAddresses": ["202.120.36.15", "202.120.36.16"],
      "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType": "Https",
      "port": 12801}], "fqdnTags": ["AzureBackup", "HDInsight"]}]}]}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "network-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12000", "12001"],
      "translatedAddress": "128.1.1.1", "translatedPort": "1234", "sourceIpGroups":
      []}]}, {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"name": "application-rule", "ruleType": "ApplicationRule", "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15",
      "202.120.36.16"], "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType":
      "Https", "port": 12801}], "targetUrls": [], "targetFqdns": [], "fqdnTags": ["AzureBackup",
      "HDInsight"], "sourceIpGroups": [], "terminateTLS": false}, {"name": "application-rule-2",
      "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15", "202.120.36.16"], "protocols": [{"protocolType":
      "Http", "port": 12800}, {"protocolType": "Https", "port": 12801}], "targetUrls":
      [], "targetFqdns": ["www.bing.com"], "fqdnTags": [], "sourceIpGroups": [], "terminateTLS":
      false}]}]}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
