interactions:
- request:
    body: '{"location": "centralus", "properties": {"intrusionDetection": {"mode":
      "Deny"}, "sku": {"tier": "Premium"}, "threatIntelWhitelist": {"fqdns": ["*.microsoft.com"],
      "ipAddresses": ["101.0.0.0", "101.0.0.1"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"tier\": \"Premium\"\
        \r\n    },\r\n    \"childPolicies\": [],\r\n    \"ruleCollectionGroups\":\
        \ [],\r\n    \"firewalls\": [],\r\n    \"threatIntelMode\": \"Alert\",\r\n\
        \    \"threatIntelWhitelist\": {\r\n      \"fqdns\": [\r\n        \"*.microsoft.com\"\
        \r\n      ],\r\n      \"ipAddresses\": [\r\n        \"101.0.0.0\",\r\n   \
        \     \"101.0.0.1\"\r\n      ]\r\n    },\r\n    \"intrusionDetection\": {\r\
        \n      \"mode\": \"Deny\"\r\n    },\r\n    \"provisioningState\": \"Updating\"\
        \r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\"\
        ,\r\n  \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\"\
        ,\r\n  \"etag\": \"079f4d4a-2469-4fad-96e9-75df7d162cd8\",\r\n  \"location\"\
        : \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/fead3b24-554a-404a-86f9-9cf82dc75d30?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/fead3b24-554a-404a-86f9-9cf82dc75d30?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n       \
        \ \"sku\": {\r\n          \"tier\": \"Premium\"\r\n        },\r\n        \"\
        childPolicies\": [],\r\n        \"ruleCollectionGroups\": [],\r\n        \"\
        firewalls\": [],\r\n        \"threatIntelMode\": \"Alert\",\r\n        \"\
        threatIntelWhitelist\": {\r\n          \"fqdns\": [\r\n            \"*.microsoft.com\"\
        \r\n          ],\r\n          \"ipAddresses\": [\r\n            \"101.0.0.0\"\
        ,\r\n            \"101.0.0.1\"\r\n          ]\r\n        },\r\n        \"\
        intrusionDetection\": {\r\n          \"mode\": \"Deny\"\r\n        },\r\n\
        \        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\"\
        ,\r\n      \"name\": \"myclipolicy\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies\"\
        ,\r\n      \"etag\": \"079f4d4a-2469-4fad-96e9-75df7d162cd8\",\r\n      \"\
        location\": \"centralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/firewallPolicies?api-version=2022-01-01
  response:
    body:
      string: '{"value":[{"properties":{"sku":{"tier":"Standard"},"childPolicies":[],"ruleCollectionGroups":[],"firewalls":[],"threatIntelMode":"Alert","sql":{"allowSqlRedirect":false},"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2/providers/Microsoft.Network/firewallPolicies/testpolicy","name":"testpolicy","type":"Microsoft.Network/FirewallPolicies","etag":"c2084bb7-e20a-48a4-a40f-ab2d11fe24b8","location":"eastus2"},{"properties":{"sku":{"tier":"Premium"},"childPolicies":[],"ruleCollectionGroups":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policyhxsbf4r[...]
[...]
- request:
    body: '{"name": "myclirulecollectiongroup", "properties": {"priority": 10000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\"\
        : [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\"\
        ,\r\n  \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\"\
        ,\r\n  \"etag\": \"fcbfe639-5967-42ff-acdc-35a052a11d1a\",\r\n  \"location\"\
        : \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/cc6389bb-5a41-4314-8566-6a2ee03a56b1?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n       \
        \ \"priority\": 10000,\r\n        \"ruleCollections\": [],\r\n        \"provisioningState\"\
        : \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\"\
        ,\r\n      \"name\": \"myclirulecollectiongroup\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\"\
        ,\r\n      \"etag\": \"4bfeaba7-64fa-41e8-9abb-7b8f559e9e81\",\r\n      \"\
        location\": \"centralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "DNAT"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "translatedAddress": "128.1.1.1", "translatedPort": "1234"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\"\
        : [\r\n      {\r\n[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}, {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"description": "test", "name": "network-rule", "ruleType": "NetworkRule",
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12003", "12004"],
      "ipProtocols": ["Any", "ICMP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"]}]}]}}'
 [...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}, {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"description": "test", "name": "network-rule", "ruleType": "NetworkRule",
      "destinationAddresses": ["202.120.36.15"], "destinationFqdns": [], "destinationIpGroups":
      [], "destinationPorts": ["12003", "12004"], "ipProtocols": ["Any", "ICMP"],
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "sourceIpGroups": []}]},
      {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"description": "test", "name": "application-rule",
      "ruleType": "ApplicationRule", "destinationAddresses": ["202.120.36.15", "202.120.36.16"],
      "fqdnTags": ["AzureBackup", "HDInsight"], "protocols": [{"port": 12800, "protocolType":
      "Http"}, {"port": 12801, "protocolType": "Https"}], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "targetUrls": ["www.google.com", "www.bing.com"], "terminateTLS":
      true}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\"\
        : [\r\n      {[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}, {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"description": "test", "name": "application-rule", "ruleType": "ApplicationRule",
      "destinationAddresses": ["202.120.36.15", "202.120.36.16"], "fqdnTags": ["AzureBackup",
      "HDInsight"], "protocols": [{"port": 12800, "protocolType": "Http"}, {"port":
      12801, "protocolType": "Https"}], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "sourceIpGroups": [], "targetFqdns": [], "targetUrls": ["www.google.com", "www.bing.com"],
      "terminateTLS": true, "webCategories": []}, {"description": "test", "name":
      "application-rule-2", "ruleType": "ApplicationRule", "destinationAddresses":
      ["202.120.36.15", "202.120.36.16"], "fqdnTags": [], "protocols": [{"port": 12800,
      "protocolType": "Http"}, {"port": 12801, "protocolType": "Https"}], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "sourceIpGroups": [], "targetFqdns": ["www.bing.com"],
      "targetUrls": [], "terminateTLS": false, "webCategories": []}, {"description":
      "test", "name": "application-rule-3", "ruleType": "ApplicationRule", "destinationAddresses":
      ["10.120.36.15", "10.120.36.16"], "fqdnTags": [], "protocols": [], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "sourceIpGroups": [], "targetFqdns": [],
      "targetUrls": ["microsoft.com"], "terminateTLS": false, "webCategories": []}]},
      {"name": "nat-collection-2", "priority": 1000, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedFqdn": "www.google.com",
      "translatedPort": "1234"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"rul[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperationResults/552deeaf-c748-494e-a3d5-d8d40ec47b9e?api-version=2022-01-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
