interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_firewall_policy000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001","name":"cli_test_azure_firewall_policy000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2021-01-12T08:58:15Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"ipAddresses": ["10.0.0.0",
      "10.0.0.1"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"firewalls\": [],\r\n    \"firewallPolicies\":
        [],\r\n    \"ipAddresses\": [\r\n      \"10.0.0.0\",\r\n      \"10.0.0.1\"\r\n
        \   ],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup\",\r\n
        \ \"name\": \"sourceipgroup\",\r\n  \"type\": \"Microsoft.Network/IpGroups\",\r\n
        \ \"etag\": \"e74b9818-fb62-49cc-aaad-448170c48a52\",\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/2225ff85-6843-4036-ab37-b130c7128ff5?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/2225ff85-6843-4036-ab37-b130c7128ff5?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"ipAddresses": ["10.0.0.2",
      "10.0.0.3"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/destinationipgroup?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"firewa[...]
[...]
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"tier\": \"Standard\"\r\n
        \   },\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"childPolicies\": [],\r\n
        \   \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n    \"provisioningState\":
        \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"5e1e3ad9-8fc0-4090-b9df-9e49091d1cbd\",\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/0944ef82-3e0c-4b84-b1ab-39253f297dc3?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"priority": 10000}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"c1a42366-143e-4092-bb7a-e64e1d41be61\",\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/f6a7c132-38fa-4ff2-855f-60d82b0e8ef9?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 10000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "DNAT"}, "rules": [{"name": "nat-rule", "description": "test",
      "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12000", "12001"], "translatedAddress":
      "128.1.1.1", "translatedPort": "1234", "sourceIpGroups": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup"]}]}]},
      "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n        \"ruleCollectionType\": \"FirewallPolicyNatRuleCollection\",\r\n
        \       \"action\": {\r\n          \"type\": \"Dnat\"\r\n        },\r\n        \"rules\":
        [\r\n          {\r\n            \"ruleType\": \"NatRule\",\r\n            \"name\":
        \"nat-rule\",\r\n            \"translatedAddress\": \"128.1.1.1\",\r\n            \"translatedPort\":
        \"1234\",\r\n            \"ipProtocols\": [\r\n              \"TCP\",\r\n
        \             \"UDP\"\r\n            ],\r\n            \"sourceAddresses\":
        [],\r\n            \"sourceIpGroups\": [\r\n              \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup\"\r\n
        \           ],\r\n            \"destinationAddresses\": [\r\n              \"202.120.36.15\"\r\n
        \           ],\r\n            \"destinationPorts\": [\r\n              \"12000\",\r\n
        \             \"12001\"\r\n            ]\r\n          }\r\n    [...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 10000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "nat-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": [], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12000", "12001"], "translatedAddress":
      "128.1.1.1", "translatedPort": "1234", "sourceIpGroups": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup"]}]},
      {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"name": "network-rule", "description":
      "test", "ruleType": "NetworkRule", "ipProtocols": ["Any", "ICMP"], "destinationPorts":
      ["12003", "12004"], "sourceIpGroups": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup"],
      "destinationIpGroups": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/destinationipgroup"]}]}]},
      "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 10000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "nat-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": [], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12000", "12001"], "translatedAddress":
      "128.1.1.1", "translatedPort": "1234", "sourceIpGroups": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup"]}]},
      {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"name": "application-rule", "ruleType":
      "ApplicationRule", "sourceAddresses": [], "destinationAddresses": ["202.120.36.15",
      "202.120.36.16"], "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType":
      "Https", "port": 12801}], "targetFqdns": [], "targetUrls": [], "fqdnTags": ["AzureBackup",
      "HDInsight"], "sourceIpGroups": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/ipGroups/sourceipgroup"],
      "terminateTLS": false, "webCategories": ["Hacking"]}, {"name": "application-rule-2",
      "ruleType": "ApplicationRule", "sourceAddresses": [], "destinationAddresses":
      ["202.120.36.15", "202.120.36.16"], "protocols": [{"protocolType": "Http", "port":
      12800}, {"protocolType": "Https", "port": 12801}], "targetFqdns": ["www.google0.com",
      "www.google1.com", "www.google2.com"], "targetUrls": [], "fqdnTags": [], "sourceIpGroups":
      ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_fi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
