interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_firewall_rules000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001","name":"cli_test_azure_firewall_rules000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-11T19:59:26Z","AdminEmail":"cnfwoncall@microsoft.com","AlertDaysBeforeDeletion":"5","Created":"2022-05-11T19:59:27.2127460Z","CreationDate":"2022-05-11T19:59:27.2126159Z","DaysUntilDeletion":"20"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"additionalProperties": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"af1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1\",\r\n
        \ \"etag\": \"W/\\\"72e4f4e7-a814-41c9-981d-6cfd9abb278e\\\"\",\r\n  \"type\":
        \"Microsoft.Network/azureFirewalls\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"sku\": {\r\n      \"name\":
        \"AZFW_VNet\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"threatIntelMode\":
        \"Alert\",\r\n    \"additionalProperties\": {},\r\n    \"ipConfigurations\":
        [],\r\n    \"networkRuleCollections\": [],\r\n    \"applicationRuleCollections\":
        [],\r\n    \"natRuleCollections\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d31c8f44-7ea9-4656-bbee-8ff13e65fd78?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d31c8f44-7ea9-4656-bbee-8ff13e65fd78?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1",
      "location": "westus", "properties": {"applicationRuleCollections": [], "natRuleCollections":
      [], "networkRuleCollections": [{"name": "rc1", "properties": {"priority": 10000,
      "action": {"type": "Allow"}, "rules": [{"name": "network-rule1", "protocols":
      ["UDP", "TCP", "ICMP"], "sourceAddresses": ["10.0.0.0", "111.1.0.0/24"], "destinationPorts":
      ["80"], "destinationFqdns": ["www.bing.com"]}]}}], "ipConfigurations": [], "threatIntelMode":
      "Alert", "sku": {"name": "AZFW_VNet", "tier": "Standard"}, "additionalProperties":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"na[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1",
      "location": "westus", "properties": {"applicationRuleCollections": [], "natRuleCollections":
      [{"name": "rc2", "properties": {"priority": 10001, "action": {"type": "Dnat"},
      "rules": [{"name": "network-rule1", "sourceAddresses": ["10.0.0.0", "111.1.0.0/24"],
      "destinationAddresses": ["12.36.22.14"], "destinationPorts": ["96"], "protocols":
      ["UDP", "TCP"], "translatedPort": "95", "translatedFqdn": "server1.internal.com"}]}}],
      "networkRuleCollections": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1/networkRuleCollections/rc1",
      "name": "rc1", "properties": {"priority": 10000, "action": {"type": "Allow"},
      "rules": [{"name": "network-rule1", "protocols": ["UDP", "TCP", "ICMP"], "sourceAddresses":
      ["10.0.0.0", "111.1.0.0/24"], "destinationAddresses": [], "destinationPorts":
      ["80"], "destinationFqdns": ["www.bing.com"], "sourceIpGroups": [], "destinationIpGroups":
      []}]}}], "ipConfigurations": [], "threatIntelMode": "Alert", "sku": {"name":
      "AZFW_VNet", "tier": "Standard"}, "additionalProperties": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_rules000001/providers/Microsoft.Network/azureFirewalls/af1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"af1\",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/6092d908-acc6-45f0-b1e3-b122e41d29ed?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
