interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"threatIntelMode\": \"Alert\",\r\n
        \   \"childPolicies\": [],\r\n    \"ruleCollectionGroups\": [],\r\n    \"firewalls\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"7ff4f972-a446-4b89-9d91-345e1a8523b0\",\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/0da26542-dc17-4637-885c-1b8c9061fa68?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/0da26542-dc17-4637-885c-1b8c9061fa68?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"threatIntelMode\":
        \"Alert\",\r\n        \"childPolicies\": [],\r\n        \"ruleCollectionGroups\":
        [],\r\n        \"firewalls\": [],\r\n        \"provisioningState\": \"Succeeded\"\r\n
        \     },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \     \"name\": \"myclipolicy\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \     \"etag\": \"7ff4f972-a446-4b89-9d91-345e1a8523b0\",\r\n      \"location\":
        \"eastus2euap\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/firewallPolicies?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"threatIntelMode\":
        \"Alert\",\r\n        \"childPolicies\": [],\r\n        \"ruleCollectionGroups\":
        [],\r\n        \"firewalls\": [],\r\n        \"provisioningState\": \"Succeeded\"\r\n
        \     },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \     \"name\": \"myclipolicy\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \     \"etag\": \"7ff4f972-a446-4b89-9d91-345e1a8523b0\",\r\n      \"location\":
        \"eastus2euap\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"priority": 10000}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/RuleCollectionGroups\",\r\n
        \ \"etag\": \"b49740e9-bd07-431a-8a86-6f110b482921\",\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/7a74f8b2-c664-404a-b062-def052748303?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"priority\":
        10000,\r\n        \"ruleCollections\": [],\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \     \"name\": \"myclirulecollectiongroup\",\r\n      \"type\": \"Microsoft.Network/RuleCollectionGroups\",\r\n
        \     \"etag\": \"b49740e9-bd07-431a-8a86-6f110b482921\",\r\n      \"location\":
        \"eastus2euap\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "DNAT"}, "rules": [{"name": "network-rule", "description":
      "test", "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15"],
      "destinationPorts": ["12000", "12001"], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}]}, "name": "myclirulecollectiongroup"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n        \"ruleCollectionType\": \"FirewallPolicyNatRuleCollection\",\r\n
        \       \"action\": {\r\n          \"type\": \"Dnat\"\r\n        },\r\n        \"rules\":
        [\r\n          {\r\n            \"ruleType\": \"NatRule\",\r\n            \"name\":
        \"network-rule\",\r\n            \"translatedAddress\": \"128.1.1.1\",\r\n
        \           \"translatedPort\": \"1234\",\r\n            \"ipProtocols\":
        [\r\n              \"TCP\",\r\n              \"UDP\"\r\n            ],\r\n
        \           \"sourceAddresses\": [\r\n              \"202.120.36.13\",\r\n
        \             \"202.120.36.14\"\r\n            ],\r\n            \"sourceIpGroups\":
        [],\r\n            \"destinationAddresses\": [\r\n              \"202.120.36.15\"\r\n
        \           ],\r\n            \"destinationPorts\": [\r\n              \"12000\",\r\n
        \             \"12001\"\r\n            ]\r\n          }\r\n        ],\r\n
        \       \"name\": \"nat-collection\",\r\n        \"priority\": 10005\r\n      }\r\n
        \   ],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/RuleCollectionGroups\",\r\n
        \ \"etag\": \"5c78839a-8c1f-42a4-981a-2d1078ed7bbc\",\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/nfvOperations/b406e499-d491-41c9-a11d-eb9fdb5e87a4?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "network-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12000", "12001"],
      "translatedAddress": "128.1.1.1", "translatedPort": "1234", "sourceIpGroups":
      []}]}, {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"name": "network-rule", "ruleType": "NetworkRule", "ipProtocols": ["Any",
      "ICMP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12003", "12004"], "sourceIpGroups":
      [], "destinationIpGroups": [], "destinationFqdns": []}]}, {"name": "filter-collection-2",
      "priority": 14000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"name": "application-rule", "description":
      "test", "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "destinationAddresses": ["202.120.36.15", "202.120.36.16"],
      "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType": "Https",
      "port": 12801}], "fqdnTags": ["AzureBackup", "HDInsight"]}]}]}, "name": "myclirulecollectiongroup"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    [...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "network-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12000", "12001"],
      "translatedAddress": "128.1.1.1", "translatedPort": "1234", "sourceIpGroups":
      []}]}, {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"name": "application-rule", "ruleType": "ApplicationRule", "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15",
      "202.120.36.16"], "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType":
      "Https", "port": 12801}], "targetFqdns": [], "fqdnTags": ["AzureBackup", "HDInsight"],
      "sourceIpGroups": []}, {"name": "application-rule-2", "ruleType": "ApplicationRule",
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15", "202.120.36.16"], "protocols": [{"protocolType": "Http", "port":
      12800}, {"protocolType": "Https", "port": 12801}], "targetFqdns": ["www.bing.com"],
      "fqdnTags": [], "sourceIpGroups": []}]}]}, "name": "myclirulecollectiongroup"}'''
    header[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
