interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PacFileMSI-testExplicitProxyV2?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PacFileMSI-testExplicitProxyV2","name":"PacFileMSI-testExplicitProxyV2","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"79df2497-b7f4-43cb-979d-66c9442cc1f9","clientId":"d5d80a30-5fac-4784-9b06-2fc03ae8302e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/TLSIdentity_clipstestresource?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/TLSIdentity_clipstestresource","name":"TLSIdentity_clipstestresource","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"e0c99df9-e957-46a5-9423-4c64e11e6221","clientId":"cc1dbdda-e561-458c-804c-28aa9b43360d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_azure_firewall_policy_multipleidentities000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_multipleidentities000001","name":"test_azure_firewall_policy_multipleidentities000001","type":"Microsoft.Resources/resourceGroups","location":"francecentral","tags":{"product":"azurecli","cause":"automation","test":"test_azure_firewall_policy_multipleidentities","date":"2025-05-14T18:46:40Z","module":"azure-firewall","AdminEmail":"cnfwoncall@microsoft.com","AlertDaysBeforeDeletion":"5","Created":"2025-05-14T18:46:42.1870799Z","CreationDate":"2025-05-14T18:46:42.1870642Z","DaysUntilDeletion":"20"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PacFileMSI-testExplicitProxyV2":
      {}}}, "location": "francecentral", "properties": {"explicitProxy": {"enableExplicitProxy":
      true, "enablePacFile": true, "httpPort": 85, "pacFile": "https://eproxypstestresources.blob.core.windows.net/explicitproxycontainer/proxy.pac",
      "pacFilePort": 122}, "sku": {"tier": "Premium"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_multipleidentities000001/providers/Microsoft.Network/firewallPolicies/testFirewallPolicy?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"size\": \"0.002223015 MB\",\r\n    \"sku\":
        {\r\n      \"tier\": \"Premium\"\r\n    },\r\n    \"childPolicies\": [],\r\n
        \   \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n    \"threatIntelMode\":
        \"Alert\",\r\n    \"explicitProxy\": {\r\n      \"enableExplicitProxy\": true,\r\n
        \     \"httpPort\": 85,\r\n      \"enablePacFile\": true,\r\n      \"pacFilePort\":
        122,\r\n      \"pacFile\": \"https://eproxypstestresources.blob.core.windows.net/explicitproxycontainer/proxy.pac\"\r\n
        \   },\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_multipleidentities000001/providers/Microsoft.Network/firewallPolicies/testFirewallPolicy\",\r\n
        \ \"name\": \"testFirewallPolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"e1a56319-ff59-4d58-89bc-4318af0ffe4c\",\r\n  \"location\": \"francecentral\",\r\n
        \ \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\":
        {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PacFileMSI-testExplicitProxyV2\":
        {}\r\n    }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/francecentral/nfvOperations/72af6a32-8052-4427-be59-4aabf1ad2af5?api-version=2022-01-01&t=638828452146557920&c=MIIHhjCCBm6gAwIBAgITHgbR6eyMcvREhr9IwgAABtHp7DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIzMTIzMzU2WhcNMjUwNzIyMTIzMzU2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/francecentral/nfvOperations/72af6a32-8052-4427-be59-4aabf1ad2af5?api-version=2022-01-01&t=638828452146557920&c=MIIHhjCCBm6gAwIBAgITHgbR6eyMcvREhr9IwgAABtHp7DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIzMTIzMzU2WhcNMjUwNzIyM[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_multipleidentities000001/providers/Microsoft.Network/firewallPolicies/testFirewallPolicy",
      "identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PacFileMSI-testExplicitProxyV2":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ExplicitProxy_clipstestresource/providers/Microsoft.ManagedIdentity/userAssignedIdentities/TLSIdentity_clipstestresource":
      {}}}, "location": "francecentral", "properties": {"explicitProxy": {"enableExplicitProxy":
      true, "enablePacFile": true, "httpPort": 85, "pacFile": "https://eproxypstestresources.blob.core.windows.net/explicitproxycontainer/proxy.pac",
      "pacFilePort": 122}, "sku": {"tier": "Premium"}, "threatIntelMode": "Alert",
      "transportSecurity": {"certificateAuthority": {"keyVaultSecretId": "https://clipstestkv.vault.azure.net/secrets/cacert/56f33af8eb114342b39b3237ad51c5ad",
      "name": "cacert"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_multipleidentities000001/providers/Microsoft.Network/firewallPolicies/testFirewallPolicy?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"propert[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/francecentral/nfvOperations/9efc52ce-2681-41db-9ebe-7e4e53882d78?api-version=2022-01-01&t=638828452340560959&c=MIIHhjCCBm6gAwIBAgITHgbR6eyMcvREhr9IwgAABtHp7DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIzMTIzMzU2WhcNMjUwNzIyM[...]
[...]
