interactions:
- request:
    body: '{"location": "SwitzerlandNorth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"size\": \"0.001263618 MB\",\r\n    \"sku\":
        {\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"childPolicies\": [],\r\n
        \   \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n    \"threatIntelMode\":
        \"Alert\",\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"5a13e038-996f-4a56-99a8-6f0681373ee0\",\r\n  \"location\": \"SwitzerlandNorth\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/switzerlandnorth/nfvOperations/375989b1-e8ae-4343-999b-4fe30ab5cfcf?api-version=2022-01-01&t=638562166483364394&c=MIIH5zCCBs-gAwIBAgITfwMuw4EdrrnuXQZ3pQAEAy7DgTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDQxNjI0WhcNMjUwNTA0MDQxNjI0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/switzerlandnorth/nfvOperations/375989b1-e8ae-4343-999b-4fe30ab5cfcf?api-version=2022-01-01&t=638562166483364394&c=MIIH5zCCBs-gAwIBAgITfwMuw4EdrrnuXQZ3pQAEAy7DgTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDQxNjI0WhcNMjUwNTA0MDQxNjI0WjBA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"size\": \"0.001263618 MB\",\r\n    \"sku\":
        {\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"childPolicies\": [],\r\n
        \   \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n    \"threatIntelMode\":
        \"Alert\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"5a13e038-996f-4a56-99a8-6f0681373ee0\",\r\n  \"location\": \"SwitzerlandNorth\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5a13e038-996f-4a56-99a8-6f0681373ee0"'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/firewallPolicyDrafts/default?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"threatIntelMode\": \"Unknown\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/firewallPolicyDrafts/default\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/FirewallPolicyDrafts\",\r\n
        \ \"etag\": \"b86ceb5f-ca6c-4f7a-a14f-8ade80e4473f\",\r\n  \"location\": \"SwitzerlandNorth\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "myclirulecollectiongroup", "properties": {"priority": 10000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"size\": \"0.001322746 MB\",\r\n    \"priority\":
        10000,\r\n    \"ruleCollections\": [],\r\n    \"provisioningState\": \"Updating\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"a9344a58-68a7-42a8-a258-1a3b37e941e1\",\r\n  \"l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/switzerlandnorth/nfvOperations/e4c28224-acfc-4b2d-9dc3-991489390285?api-version=2022-01-01&t=638562166640384966&c=MIIH5zCCBs-gAwIBAgITfwMuw4EdrrnuXQZ3pQAEAy7DgTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDQxNjI0WhcNMjUwNTA0MDQxNjI0WjBA[...]
[...]
- request:
    body: '{"name": "myclirulecollectiongroup", "properties": {"priority": 150}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 150,\r\n    \"ruleCollections\":
        []\r\n  },\r\n  \"etag\": \"00000000-0000-0000-0000-000000000000\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "DNAT"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "translatedAddress": "128.1.1.1", "translatedPort": "1234"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n        \"ruleCollectionType\": \"FirewallPolicyNatRuleCollection\",\r\n
        \       \"action\": {\r\n          \"type\": \"Dnat\"\r\n        },\r\n        \"rules\":
        [\r\n          {\r\n            \"ruleType\": \"NatRule\",\r\n            \"name\":
        \"network-rule\",\r\n            \"description\": \"test\",\r\n            \"translatedAddress\":
        \"128.1.1.1\",\r\n            \"translatedPort\": \"1234\",\r\n            \"ipProtocols\":
        [\r\n              \"TCP\",\r\n              \"UDP\"\r\n            ],\r\n
        \           \"sourceAddresses\": [\r\n              \"202.120.36.13\",\r\n
        \             \"202.120.36.14\"\r\n            ],\r\n            \"sourceIpGroups\":
        [],\r\n            \"destinationAddresses\": [\r\n              \"202.120.36.15\"\r\n
        \           ],\r\n            \"destinationPorts\": [\r\n              \"12000\"\r\n
        \           ]\r\n          }\r\n        ],\r\n        \"name\": \"nat-collection\",\r\n
        \       \"priority\": 10005\r\n      }\r\n    ]\r\n  },\r\n  \"etag\": \"00000000-0000-0000-0000-000000000000\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}, {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"description": "test", "name": "network-rule", "ruleType": "NetworkRule",
      "destinationAddresses": ["202.120.36.15"], "destinationFqdns": [], "destinationIpGroups":
      [], "destinationPorts": ["12003", "12004"], "ipProtocols": ["Any", "ICMP"],
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "sourceIpGroups": []}]},
      {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"description": "test", "name": "application-rule",
      "ruleType": "ApplicationRule", "destinationAddresses": ["202.120.36.15", "202.120.36.16"],
      "fqdnTags": ["AzureBackup", "HDInsight"], "protocols": [{"port": 12800, "protocolType":
      "Http"}, {"port": 12801, "protocolType": "Https"}], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "targetUrls": ["www.google.com", "www.bing.com"], "terminateTLS":
      true}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"r[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"name": "nat-collection", "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}, {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"description": "test", "name": "application-rule", "ruleType": "ApplicationRule",
      "destinationAddresses": ["202.120.36.15", "202.120.36.16"], "fqdnTags": ["AzureBackup",
      "HDInsight"], "protocols": [{"port": 12800, "protocolType": "Http"}, {"port":
      12801, "protocolType": "Https"}], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "sourceIpGroups": [], "targetFqdns": [], "targetUrls": ["www.google.com", "www.bing.com"],
      "terminateTLS": true, "webCategories": []}, {"description": "test", "name":
      "application-rule-2", "ruleType": "ApplicationRule", "destinationAddresses":
      ["202.120.36.15", "202.120.36.16"], "fqdnTags": [], "protocols": [{"port": 12800,
      "protocolType": "Http"}, {"port": 12801, "protocolType": "Https"}], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "sourceIpGroups": [], "targetFqdns": ["www.bing.com"],
      "targetUrls": [], "terminateTLS": false, "webCategories": []}]}, {"name": "nat-collection-2",
      "priority": 1000, "ruleCollectionType": "FirewallPolicyNatRuleCollection", "action":
      {"type": "Dnat"}, "rules": [{"description": "test", "name": "network-rule",
      "ruleType": "NatRule", "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000"], "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "sourceIpGroups": [], "translatedFqdn": "www.google.com",
      "translatedPort": "1234"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup/ruleCollectionGroupDrafts/default?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/deploy?api-version=2023-09-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/switzerlandnorth/nfvOperations/cea5beb8-72a6-4511-babf-0f8dccbc7397?api-version=2023-09-01&t=638562166995832425&c=MIIH5zCCBs-gAwIBAgITfwMuw4EdrrnuXQZ3pQAEAy7DgTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDQxNjI0WhcNMjUwNTA0MDQxNjI0WjBA[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy_draft000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
