interactions:
- request:
    body: '{"location": "centralus", "properties": {"threatIntelWhitelist": {"ipAddresses":
      ["101.0.0.0", "101.0.0.1"], "fqdns": ["*.microsoft.com"]}, "intrusionDetection":
      {"mode": "Deny", "configuration": {}}, "sku": {"tier": "Premium"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"tier\": \"Premium\"\r\n
        \   },\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"threatIntelWhitelist\":
        {\r\n      \"fqdns\": [\r\n        \"*.microsoft.com\"\r\n      ],\r\n      \"ipAddresses\":
        [\r\n        \"101.0.0.0\",\r\n        \"101.0.0.1\"\r\n      ]\r\n    },\r\n
        \   \"childPolicies\": [],\r\n    \"ruleCollectionGroups\": [],\r\n    \"firewalls\":
        [],\r\n    \"intrusionDetection\": {\r\n      \"mode\": \"Deny\",\r\n      \"configuration\":
        {\r\n        \"signatureOverrides\": [],\r\n        \"bypassTrafficSettings\":
        []\r\n      }\r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"fc1eede5-3c0d-49a8-9e77-81800d66e342\",\r\n  \"location\": \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/d6a36f5c-400b-45a2-b109-152042e43220?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/d6a36f5c-400b-45a2-b109-152042e43220?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"sku\":
        {\r\n          \"tier\": \"Premium\"\r\n        },\r\n        \"threatIntelMode\":
        \"Alert\",\r\n        \"threatIntelWhitelist\": {\r\n          \"fqdns\":
        [\r\n            \"*.microsoft.com\"\r\n          ],\r\n          \"ipAddresses\":
        [\r\n            \"101.0.0.0\",\r\n            \"101.0.0.1\"\r\n          ]\r\n
        \       },\r\n        \"childPolicies\": [],\r\n        \"ruleCollectionGroups\":
        [],\r\n        \"firewalls\": [],\r\n        \"intrusionDetection\": {\r\n
        \         \"mode\": \"Deny\",\r\n          \"configuration\": {\r\n            \"signatureOverrides\":
        [],\r\n            \"bypassTrafficSettings\": []\r\n          }\r\n        },\r\n
        \       \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \     \"name\": \"myclipolicy\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \     \"etag\": \"fc1eede5-3c0d-49a8-9e77-81800d66e342\",\r\n      \"location\":
        \"centralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/firewallPolicies?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"sku\":
        {\r\n          \"tier\": \"Premium\"\r\n        },\r\n        \"threatIntelMode\":
        \"Alert\",\r\n        \"threatIntelWhitelist\": {\r\n          \"fqdns\":
  [...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy",
      "location": "centralus", "identity": {"type": "None"}, "properties": {"threatIntelMode":
      "Deny", "threatIntelWhitelist": {"ipAddresses": ["102.0.0.0", "102.0.0.1"],
      "fqdns": ["*.google.com"]}, "intrusionDetection": {"mode": "Off", "configuration":
      {"signatureOverrides": [], "bypassTrafficSettings": []}}, "sku": {"tier": "Premium"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_[...]
[...]
- request:
    body: '{"name": "myclirulecollectiongroup", "properties": {"priority": 10000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"bbc5627d-77e6-4f66-9c11-dbba76a39e72\",\r\n  \"location\": \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/6cca1ec1-3dbd-4571-926c-b6f002286e15?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"priority\":
        10000,\r\n        \"ruleCollections\": [],\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \     \"name\": \"myclirulecollectiongroup\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \     \"etag\": \"bbc5627d-77e6-4f66-9c11-dbba76a39e72\",\r\n      \"location\":
        \"centralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"ruleCollectionType": "FirewallPolicyNatRuleCollection", "name": "nat-collection",
      "priority": 10005, "action": {"type": "DNAT"}, "rules": [{"name": "network-rule",
      "description": "test", "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"],
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12000", "12001"], "translatedAddress":
      "128.1.1.1", "translatedPort": "1234"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n        \"ruleCollectionType\": \"FirewallPolicyNatRuleCollection\",\r\n
        \       \"action\": {\r\n          \"type\": \"Dnat\"\r\n        },\r\n        \"rules\":
        [\r\n          {\r\n            \"ruleType\": \"NatRule\",\r\n            \"name\":
        \"network-rule\",\r\n            \"translatedAddress\": \"128.1.1.1\",\r\n
        \           \"translatedPort\": \"1234\",\r\n            \"ipProtocols\":
        [\r\n              \"TCP\",\r\n              \"UDP\"\r\n            ],\r\n
        \           \"sourceAddresses\": [\r\n              \"202.120.36.13\",\r\n
        \             \"202.120.36.14\"\r\n            ],\r\n            \"sourceIpGroups\":
        [],\r\n            \"destinationAddresses\": [\r\n              \"202.120.36.15\"\r\n
        \           ],\r\n            \"destinationPorts\": [\r\n              \"12000\",\r\n
        \             \"12001\"\r\n            ]\r\n          }\r\n        ],\r\n
        \       \"name\": \"nat-collection\",\r\n        \"priority\": 10005\r\n      }\r\n
        \   ],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"53b77717-559c-41be-b4e0-15af620977f7\",\r\n  \"location\": \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/604cbae1-dc46-4c80-b388-a5b19edab329?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"ruleCollectionType": "FirewallPolicyNatRuleCollection", "name": "nat-collection",
      "priority": 10005, "action": {"type": "Dnat"}, "rules": [{"name": "network-rule",
      "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000", "12001"], "translatedAddress": "128.1.1.1", "translatedPort": "1234",
      "sourceIpGroups": []}]}, {"ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "name": "filter-collection-1", "priority": 13000, "action": {"type": "Allow"},
      "rules": [{"name": "network-rule", "ruleType": "NetworkRule", "ipProtocols":
      ["Any", "ICMP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12003", "12004"], "sourceIpGroups":
      [], "destinationIpGroups": [], "destinationFqdns": []}]}, {"ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "name": "filter-collection-2", "priority":
      14000, "action": {"type": "Allow"}, "rules": [{"name": "application-rule", "description":
      "test", "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "destinationAddresses": ["202.120.36.15", "202.120.36.16"],
      "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType": "Https",
      "port": 12801}], "targetUrls": ["www.google.com", "www.bing.com"], "fqdnTags":
      ["AzureBackup", "HDInsight"], "terminateTLS": true}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n    [...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "name": "myclirulecollectiongroup", "properties": {"priority": 12000, "ruleCollections":
      [{"ruleCollectionType": "FirewallPolicyNatRuleCollection", "name": "nat-collection",
      "priority": 10005, "action": {"type": "Dnat"}, "rules": [{"name": "network-rule",
      "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "destinationAddresses": ["202.120.36.15"], "destinationPorts":
      ["12000", "12001"], "translatedAddress": "128.1.1.1", "translatedPort": "1234",
      "sourceIpGroups": []}]}, {"ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "name": "filter-collection-2", "priority": 14000, "action": {"type": "Allow"},
      "rules": [{"name": "application-rule", "ruleType": "ApplicationRule", "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15",
      "202.120.36.16"], "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType":
      "Https", "port": 12801}], "targetFqdns": [], "targetUrls": ["www.google.com",
      "www.bing.com"], "fqdnTags": ["AzureBackup", "HDInsight"], "sourceIpGroups":
      [], "terminateTLS": true, "webCategories": []}, {"name": "application-rule-2",
      "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15", "202.120.36.16"], "protocols": [{"protocolType":
      "Http", "port": 12800}, {"protocolType": "Https", "port": 12801}], "targetFqdns":
      ["www.bing.com"], "targetUrls": [], "fqdnTags": [], "sourceIpGroups": [], "terminateTLS":
      false, "webCategories": []}, {"name": "application-rule-3", "ruleType": "ApplicationRule",
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["10.120.36.15", "10.120.36.16"], "protocols": [], "targetFqdns": [], "targetUrls":
      ["microsoft.com"], "fqdnTags": [], "sourceIpGroups": [], "terminateTLS": false,
      "webCategories": []}]}, {"ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "name": "nat-collection-2", "priority": 1000, "action": {"type": "Dnat"}, "rules":
      [{"name": "network-rule", "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"],
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12000", "12001"], "translatedPort":
      "1234", "sourceIpGroups": [], "translatedFqdn": "www.google.com"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n   [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
