interactions:
- request:
    body: '{"location": "centralus", "properties": {"threatIntelWhitelist": {"ipAddresses":
      ["101.0.0.0", "101.0.0.1"], "fqdns": ["*.microsoft.com"]}, "intrusionDetection":
      {"mode": "Deny", "configuration": {}}, "sku": {"tier": "Premium"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"tier\": \"Premium\"\r\n
        \   },\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"threatIntelWhitelist\":
        {\r\n      \"fqdns\": [\r\n        \"*.microsoft.com\"\r\n      ],\r\n      \"ipAddresses\":
        [\r\n        \"101.0.0.0\",\r\n        \"101.0.0.1\"\r\n      ]\r\n    },\r\n
        \   \"childPolicies\": [],\r\n    \"ruleCollectionGroups\": [],\r\n    \"firewalls\":
        [],\r\n    \"intrusionDetection\": {\r\n      \"mode\": \"Deny\",\r\n      \"configuration\":
        {\r\n        \"signatureOverrides\": [],\r\n        \"bypassTrafficSettings\":
        []\r\n      }\r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \ \"name\": \"myclipolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"d004a800-0062-423b-806e-07dd306d1fb7\",\r\n  \"location\": \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/52585e83-cad8-4a60-86ef-1822ce47da5c?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/52585e83-cad8-4a60-86ef-1822ce47da5c?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"sku\":
        {\r\n          \"tier\": \"Premium\"\r\n        },\r\n        \"threatIntelMode\":
        \"Alert\",\r\n        \"threatIntelWhitelist\": {\r\n          \"fqdns\":
        [\r\n            \"*.microsoft.com\"\r\n          ],\r\n          \"ipAddresses\":
        [\r\n            \"101.0.0.0\",\r\n            \"101.0.0.1\"\r\n          ]\r\n
        \       },\r\n        \"childPolicies\": [],\r\n        \"ruleCollectionGroups\":
        [],\r\n        \"firewalls\": [],\r\n        \"intrusionDetection\": {\r\n
        \         \"mode\": \"Deny\",\r\n          \"configuration\": {\r\n            \"signatureOverrides\":
        [],\r\n            \"bypassTrafficSettings\": []\r\n          }\r\n        },\r\n
        \       \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy\",\r\n
        \     \"name\": \"myclipolicy\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \     \"etag\": \"d004a800-0062-423b-806e-07dd306d1fb7\",\r\n      \"location\":
        \"centralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/firewallPolicies?api-version=2020-07-01
  response:
    body:
      string: '{"value":[{"properties":{"sku":{"tier":"Premium"},"threatIntelMode":"Alert","childPolicies":[],"ruleCollectionGroups":[],"firewalls":[],"intrusionDetection":{"mode":"Off","configuration":{"signatureOverrides":[],"bypassTrafficSettings":[]}},"provision[...]
[...]
- request:
    body: '{"properties": {"priority": 10000}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 10000,\r\n    \"ruleCollections\":
        [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"140f6e7d-1caf-4153-8bf1-a9c4a3913362\",\r\n  \"location\": \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/5bdad6a2-967b-45e2-8a23-3058b323da28?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"priority\":
        10000,\r\n        \"ruleCollections\": [],\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \     \"name\": \"myclirulecollectiongroup\",\r\n      \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \     \"etag\": \"140f6e7d-1caf-4153-8bf1-a9c4a3913362\",\r\n      \"location\":
        \"centralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "DNAT"}, "rules": [{"name": "network-rule", "description":
      "test", "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15"],
      "destinationPorts": ["12000", "12001"], "translatedAddress": "128.1.1.1", "translatedPort":
      "1234"}]}]}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n    \"ruleCollections\":
        [\r\n      {\r\n        \"ruleCollectionType\": \"FirewallPolicyNatRuleCollection\",\r\n
        \       \"action\": {\r\n          \"type\": \"Dnat\"\r\n        },\r\n        \"rules\":
        [\r\n          {\r\n            \"ruleType\": \"NatRule\",\r\n            \"name\":
        \"network-rule\",\r\n            \"translatedAddress\": \"128.1.1.1\",\r\n
        \           \"translatedPort\": \"1234\",\r\n            \"ipProtocols\":
        [\r\n              \"TCP\",\r\n              \"UDP\"\r\n            ],\r\n
        \           \"sourceAddresses\": [\r\n              \"202.120.36.13\",\r\n
        \             \"202.120.36.14\"\r\n            ],\r\n            \"sourceIpGroups\":
        [],\r\n            \"destinationAddresses\": [\r\n              \"202.120.36.15\"\r\n
        \           ],\r\n            \"destinationPorts\": [\r\n              \"12000\",\r\n
        \             \"12001\"\r\n            ]\r\n          }\r\n        ],\r\n
        \       \"name\": \"nat-collection\",\r\n        \"priority\": 10005\r\n      }\r\n
        \   ],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup\",\r\n
        \ \"name\": \"myclirulecollectiongroup\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies/RuleCollectionGroups\",\r\n
        \ \"etag\": \"64a5a42c-fcae-42c7-a2d8-cb72026ee09d\",\r\n  \"location\": \"centralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/nfvOperations/c2692f7e-42a0-4444-9ec6-10f4695ff280?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1179'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "network-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12000", "12001"],
      "translatedAddress": "128.1.1.1", "translatedPort": "1234", "sourceIpGroups":
      []}]}, {"name": "filter-collection-1", "priority": 13000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"name": "network-rule", "ruleType": "NetworkRule", "ipProtocols": ["Any",
      "ICMP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["202.120.36.15"], "destinationPorts": ["12003", "12004"], "sourceIpGroups":
      [], "destinationIpGroups": [], "destinationFqdns": []}]}, {"name": "filter-collection-2",
      "priority": 14000, "ruleCollectionType": "FirewallPolicyFilterRuleCollection",
      "action": {"type": "Allow"}, "rules": [{"name": "application-rule", "description":
      "test", "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13",
      "202.120.36.14"], "destinationAddresses": ["202.120.36.15", "202.120.36.16"],
      "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType": "Https",
      "port": 12801}], "targetUrls": ["www.google.com", "www.bing.com"], "fqdnTags":
      ["AzureBackup", "HDInsight"], "terminateTLS": true}]}]}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 12000,\r\n  [...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup",
      "properties": {"priority": 12000, "ruleCollections": [{"name": "nat-collection",
      "priority": 10005, "ruleCollectionType": "FirewallPolicyNatRuleCollection",
      "action": {"type": "Dnat"}, "rules": [{"name": "network-rule", "ruleType": "NatRule",
      "ipProtocols": ["TCP", "UDP"], "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15"], "destinationPorts": ["12000", "12001"],
      "translatedAddress": "128.1.1.1", "translatedPort": "1234", "sourceIpGroups":
      []}]}, {"name": "filter-collection-2", "priority": 14000, "ruleCollectionType":
      "FirewallPolicyFilterRuleCollection", "action": {"type": "Allow"}, "rules":
      [{"name": "application-rule", "ruleType": "ApplicationRule", "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15",
      "202.120.36.16"], "protocols": [{"protocolType": "Http", "port": 12800}, {"protocolType":
      "Https", "port": 12801}], "targetFqdns": [], "targetUrls": ["www.google.com",
      "www.bing.com"], "fqdnTags": ["AzureBackup", "HDInsight"], "sourceIpGroups":
      [], "terminateTLS": true, "webCategories": []}, {"name": "application-rule-2",
      "ruleType": "ApplicationRule", "sourceAddresses": ["202.120.36.13", "202.120.36.14"],
      "destinationAddresses": ["202.120.36.15", "202.120.36.16"], "protocols": [{"protocolType":
      "Http", "port": 12800}, {"protocolType": "Https", "port": 12801}], "targetFqdns":
      ["www.bing.com"], "targetUrls": [], "fqdnTags": [], "sourceIpGroups": [], "terminateTLS":
      false, "webCategories": []}, {"name": "application-rule-3", "ruleType": "ApplicationRule",
      "sourceAddresses": ["202.120.36.13", "202.120.36.14"], "destinationAddresses":
      ["10.120.36.15", "10.120.36.16"], "protocols": [], "targetFqdns": [], "targetUrls":
      ["microsoft.com"], "fqdnTags": [], "sourceIpGroups": [], "terminateTLS": false,
      "webCategories": []}]}, {"name": "nat-collection-2", "priority": 1000, "ruleCollectionType":
      "FirewallPolicyNatRuleCollection", "action": {"type": "Dnat"}, "rules": [{"name":
      "network-rule", "ruleType": "NatRule", "ipProtocols": ["TCP", "UDP"], "sourceAddresses":
      ["202.120.36.13", "202.120.36.14"], "destinationAddresses": ["202.120.36.15"],
      "destinationPorts": ["12000", "12001"], "translatedPort": "1234", "sourceIpGroups":
      [], "translatedFqdn": "www.google.com"}]}]}, "name": "myclirulecollectiongroup"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy/ruleCollectionGroups/myclirulecollectiongroup?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_firewall_policy000001/providers/Microsoft.Network/firewallPolicies/myclipolicy?api-version=2020-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
