interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_azure_firewall_policy_explicit_proxy000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_explicit_proxy000001","name":"test_azure_firewall_policy_explicit_proxy000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_azure_firewall_policy_explicit_proxy","date":"2025-09-30T00:37:53Z","module":"azure-firewall"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "azfwproxypactest300925", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-01-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "westus2",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"},
      "accessTier": "Hot", "supportsHttpsTrafficOnly": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_explicit_proxy000001/providers/Microsoft.Storage/storageAccounts/azfwproxypactest300925?api-version=2025-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/f552ea87-ebc2-466c-b39e-cd535c5b6d24?monitor=true&api-version=2025-01-01&t=638947894812890422&c=MIIIrzCCBpegAwIBAgITUQCCFFa_AJ6LRJmuAQABAIIUVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE5MTY1MjU5WhcNMjYwMTE1MTY1MjU5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/f552ea87-ebc2-466c-b39e-cd535c5b6d24?monitor=true&api-version=2025-01-01&t=638947894812890422&c=MIIIrzCCBpegAwIBAgITUQCCFFa_AJ6LRJmuAQABAIIUVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE5MTY1MjU5WhcNMjYwMTE1MTY1Mj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/f552ea87-ebc2-466c-b39e-cd535c5b6d24?monitor=true&api-version=2025-01-01&t=638947894818919063&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwND[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_explicit_proxy000001/providers/Microsoft.Storage/storageAccounts/azfwproxypactest300925","name":"azfwproxypactest300925","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-09-30T00:37:59.0704115Z","key2":"2025-09-30T00:37:59.0704115Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T00:37:59.0704115Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T00:37:59.0704115Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-09-30T00:37:58.8985708Z","primaryEndpoints":{"dfs":"https://azfwproxypactest300925.dfs.core.windows.net/","web":"https://azfwproxypactest300925.z5.web.core.windows.net/","blob":"https://azfwproxypactest300925.blob.core.windows.net/","queue":"https://azfwproxypactest300925.queue.core.windows.net/","table":"https://azfwproxypactest300925.table.core.windows.net/","file":"https://azfwproxypactest300925.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 508d358f-30d9-4878-a844-1d0376421035
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_explicit_proxy000001/providers/Microsoft.Storage/storageAccounts/azfwproxypactest300925/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-09-30T00:37:59.0704115Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-09-30T00:37:59.0704115Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Sep 2025 00:38:20 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://azfwproxypactest300925.blob.core.windows.net/explicitproxycontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDFFB9A7F2971E"'
      last-modified:
      - Tue, 30 Sep 2025 00:38:20 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 30 Sep 2025 00:38:23 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://azfwproxypactest300925.blob.core.windows.net/explicitproxycontainer/pacfile.pac
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      etag:
      - '"0x8DDFFB9A95762FD"'
      last-modified:
      - Tue, 30 Sep 2025 00:38:23 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "properties": {"explicitProxy": {"enableExplicitProxy":
      true, "enablePacFile": true, "httpPort": 85, "httpsPort": 121, "pacFile": "https://azfwproxypactest300925.blob.core.windows.net/explicitproxycontainer/pacfile.pac?se=2025-10-01&sp=racwdl&sv=2022-11-02&sr=c&sig=APTDIEjgRmvqgf4If3spB4qSmgb0nNg3nydvnPn6emA%3D",
      "pacFilePort": 122}, "sku": {"tier": "Premium"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_explicit_proxy000001/providers/Microsoft.Network/firewallPolicies/testFirewallPolicy?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"size\": \"0.001595497 MB\",\r\n    \"sku\":
        {\r\n      \"tier\": \"Premium\"\r\n    },\r\n    \"childPolicies\": [],\r\n
        \   \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n    \"threatIntelMode\":
        \"Alert\",\r\n    \"explicitProxy\": {\r\n      \"enableExplicitProxy\": true,\r\n
        \     \"httpPort\": 85,\r\n      \"httpsPort\": 121,\r\n      \"enablePacFile\":
        true,\r\n      \"pacFilePort\": 122,\r\n      \"pacFile\": \"https://azfwproxypactest300925.blob.core.windows.net/explicitproxycontainer/pacfile.pac?se=2025-10-01&sp=racwdl&sv=2022-11-02&sr=c&sig=APTDIEjgRmvqgf4If3spB4qSmgb0nNg3nydvnPn6emA%3D\"\r\n
        \   },\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_firewall_policy_explicit_proxy000001/providers/Microsoft.Network/firewallPolicies/testFirewallPolicy\",\r\n
        \ \"name\": \"testFirewallPolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"d657271d-4cdb-4491-a433-6f546b306fdb\",\r\n  \"location\": \"westus2\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/nfvOperations/6981d6ce-c074-40f8-a848-4c6141df87d6?api-version=2022-01-01&t=638947895058422233&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwNDI4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/nfvOperations/6981d6ce-c074-40f8-a848-4c6141df87d6?api-version=2022-01-01&t=638947895058422233&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwNDI4WjBAMT4wPAYDV[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/nfvOperations/39f1dec1-169c-4d92-b5eb-c2c3cce07672?api-version=2022-01-01&t=638947895186772685&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwNDI4WjBAMT4wPAYDV[...]
[...]
