interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\[...]
- request:
    body: '{"name": "test-account-000002", "location": "westus2", "properties": {"sku":
      {"name": "Basic"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2021-06-22
  response:
    body:
      string: '{"name":"test-account-000002","systemData":{"createdAt":"2023-02-24T06:28:14.8066667+00:00","lastModifiedAt":"2023-02-24T06:28:14.8066667+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002","type":"Microsoft.Automation/AutomationAccounts","location":"westus2","tags":{},"etag":null,"properties":{"disableLocalAuth":false,"sku":{"name":"Basic","family":null,"capacity":null},"state":"Ok","RegistrationUrl":"https://f7c12ca2-f866-4f90-b926-3d26b9af91f6.agentsvc.wus2.azure-automation.net/accounts/f7c12ca2-f866-4f90-b926-3d26b9af91f6","encryption":{"keySource":"Microsoft.Automation","identity":{"userAssignedIdentity":null}},"automationHybridServiceUrl":"https://f7c12ca2-f866-4f90-b926-3d26b9af91f6.jrds.wus2.azure-automation.net/automationAccounts/f7c12ca2-f866-4f90-b926-3d26b9af91f6","RuntimeConfiguration":{"powershell":{"builtinModules":{"Az":"8.0.0"}},"powershell7":{"builtinModules":{"Az":"8.0.0"}}},"creationTime":"2023-02-24T06:28:14.8066667+00:00","lastModifiedBy":null,"lastModifiedTime":"2023-02-24T06:28:14.8066667+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2021-06-22
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2021-06-22
  response:
    body:
      string: '{"name":"test-account-000002","systemData":{"createdAt":"2023-02-24T06:28:14.8066667+00:00","lastModifiedAt":"2023-02-24T06:28:14.8066667+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002","type":"Microsoft.Automation/AutomationAccounts","location":"westus2","tags":{},"etag":null,"properties":{"disableLocalAuth":false,"sku":{"name":"Basic","family":null,"capacity":null},"state":"Ok","RegistrationUrl":"https://f7c12ca2-f866-4f90-b926-3d26b9af91f6.agentsvc.wus2.azure-automation.net/accounts/f7c12ca2-f866-4f90-b926-3d26b9af91f6","encryption":{"keySource":"Microsoft.Automation","identity":{"userAssignedIdentity":null}},"privateEndpointConnections":[],"automationHybridServiceUrl":"https://f7c12ca2-f866-4f90-b926-3d26b9af91f6.jrds.wus2.azure-automation.net/automationAccounts/f7c12ca2-f866-4f90-b926-3d26b9af91f6","RuntimeConfiguration":{"powershell":{"builtinModules":{"Az":"8.0.0"}},"powershell7":{"builtinModules":{"Az":"8.0.0"}}},"creationTime":"2023-02-24T06:28:14.8066667+00:00","lastModifiedBy":null,"lastModifiedTime":"2023-02-24T06:28:14.8066667+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ocp-automation-accountid:
      - f7c12ca2-f866-4f90-b926-3d26b9af91f6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts?api-version=2021-06-22
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002","location":"westus2","name":"test-account-000002","type":"Microsoft.Automation/AutomationAccounts","tags":{"A":"a"},"properties":{"creationTime":"2023-02-24T06:28:14.8066667+00:00","lastModifiedTime":"2023-02-24T06:28:18.3166667+00:00","state":"Ok","disableLocalAuth":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test-runbook-000003", "location": "westus2", "properties": {"runbookType":
      "PowerShell", "draft": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003?api-version=2018-06-30
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003","name":"test-runbook-000003","type":"Microsoft.Automation/AutomationAccounts/Runbooks","location":"westus2","tags":{},"etag":"\"638128169073600000\"","properties":{"description":null,"logVerbose":false,"logProgress":false,"logActivityTrace":0,"runbookType":"PowerShell","parameters":{},"state":"New","jobCount":0,"provisioningState":"Succeeded","serviceManagementTags":null,"outputTypes":[],"creationTime":"2023-02-24T06:28:27.36+00:00","lastModifiedBy":null,"lastModifiedTime":"2023-02-24T06:28:27.36+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"638128169073600000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003?api-version=2018-06-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '@C:UserszelinwangAppDataLocalTempPowerShell.ps'
    headers:
      Content-Type:
      - text/powershell
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/draft/content?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/operationResults/14fee2d3-a902-4232-be04-40a943406c55?api-version=2018-06-30
      ocp-automation-operationresultid:
      - 14fee2d3-a902-4232-be04-40a943406c55
      - 14fee2d3-a902-4232-be04-40a943406c55
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/operationResults/14fee2d3-a902-4232-be04-40a943406c55?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/publish?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/operationResults/80586083-594b-462b-a218-70b7bbd30535?api-version=2018-06-30
      ocp-automation-operationresultid:
      - 80586083-594b-462b-a218-70b7bbd30535
      - 80586083-594b-462b-a218-70b7bbd30535
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"name": "hwg-000004"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/hybridRunbookWorkerGroups/hwg-000004?api-version=2022-08-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/hybridRunbookWorkerGroups/hwg-000004","name":"hwg-000004","type":"Microsoft.Automation/AutomationAccounts/HybridRunbookWorkerGroups","properties":{"groupType":"User","credential":{"name":null},"hybridRunbookWorkers":null},"systemData":{"createdAt":"2023-02-24T06:28:46.2213871+00:00","lastModifiedAt":"2023-02-24T06:28:46.2213871+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/hybridRunbookWorkerGroups/hwg-000004?api-version=2022-08-08
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/hybridRunbookWorkerGroups?api-version=2022-08-08
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/hybridRunbookWorkerGroups/hwg-000004","name":"hwg-000004","type":"Microsoft.Automation/AutomationAccounts/HybridRunbookWorkerGroups","properties":{"groupType":"User","credential":{"name":null},"hybridRunbookWorkers":null},"systemData":{"createdAt":"2023-02-24T06:28:46.2213871+00:00","lastModifiedAt":"2023-02-24T06:28:47.3464859+00:00"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/hybridRunbookWorkerGroups/hwg-000004/hybridRunbookWorkers?api-version=2022-08-08
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"contentLink": {"uri": "https://files.pythonhosted.org/packages/7f/e2/85dfb9f7364cbd7a9213caea0e91fc948da3c912a2b222a3e43bc9cc6432/requires.io-0.2.6-py2.py3-none-any.whl"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages/py3-package-000005?api-version=2022-08-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages/py3-package-000005","name":"py3-package-000005","type":"Microsoft.Automation/AutomationAccounts/Python3Packages","location":"westus2","tags":{},"etag":null,"properties":{"isGlobal":false,"version":null,"sizeInBytes":0,"activityCount":0,"creationTime":"2023-02-24T06:28:53.8033333+00:00","lastModifiedTime":"2023-02-24T06:28:53.9033333+00:00","error":{"code":null,"message":null},"provisioningState":"Creating","isComposite":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages/py3-package-000005?api-version=2022-08-08
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages/py3-package-000005?api-version=2022-08-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages/py3-package-000005","name":"py3-package-000005","type":"Microsoft.Automation/AutomationAccounts/Python3Packages","location":"westus2","tags":{},"etag":null,"properties":{"isGlobal":false,"version":null,"sizeInBytes":0,"activityCount":0,"creationTime":"2023-02-24T06:28:53.8033333+00:00","lastModifiedTime":"2023-02-24T06:28:53.9033333+00:00","error":{"code":null,"message":""},"provisioningState":"Creating","isComposite":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages?api-version=2022-08-08
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/python3Packages/py3-package-000005","name":"py3-package-000005","properties":{"isGlobal":false,"version":null,"sizeInBytes":0,"activityCount":0,"creationTime":"2023-02-24T06:28:53.8033333+00:00","lastModifiedTime":"2023-02-24T06:28:55.92+00:00","provisioningState":"Creating","isComposite":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"runbook": {"name": "test-runbook-000003"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e","name":"ef6919bf-b827-4b18-8475-8d4a03a49d0e","type":"Microsoft.Automation/AutomationAccounts/Jobs","properties":{"jobId":"ac0e48d6-a935-481a-8b84-e3708da9c5db","creationTime":"2023-02-24T06:29:00.85+00:00","provisioningState":"Processing","status":"New","statusDetails":"None","startedBy":null,"startTime":null,"endTime":null,"lastModifiedTime":"2023-02-24T06:29:00.85+00:00","lastStatusModifiedTime":"2023-02-24T06:29:00.85+00:00","exception":null,"parameters":{},"runOn":null,"runbook":{"name":"test-runbook-000003"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e","name":"ef6919bf-b827-4b18-8475-8d4a03a49d0e","type":"Microsoft.Automation/AutomationAccounts/Jobs","properties":{"jobId":"ac0e48d6-a935-481a-8b84-e3708da9c5db","runbook":{"name":"test-runbook-000003"},"provisioningState":"Processing","status":"New","creationTime":"2023-02-24T06:29:00.85388+00:00","startTime":null,"lastModifiedTime":"2023-02-24T06:29:00.85388+00:00","endTime":null,"runOn":null}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '599'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks?api-version=2018-06-30
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003","location":"westus2","name":"test-runbook-000003","type":"Microsoft.Automation/AutomationAccounts/Runbooks","tags":{},"properties":{"runbookType":"PowerShell","state":"Published","logVerbose":true,"logProgress":true,"logActivityTrace":1,"creationTime":"2023-02-24T06:28:27.36+00:00","lastModifiedTime":"2023-02-24T06:28:39.29+00:00"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
