interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"name": "test-account-000002", "location": "westus2", "properties": {"sku":
      {"name": "Basic"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2015-10-31
  response:
    body:
      string: '{"name":"test-account-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002","type":"Microsoft.Automation/AutomationAccounts","location":"westus2","tags":{},"etag":null,"properties":{"sku":{"name":"Basic","family":null,"capacity":null},"state":"Ok","RegistrationUrl":"https://79aa051f-5c4b-4b56-a007-2852dc2f4465.agentsvc.wus2.azure-automation.net/accounts/79aa051f-5c4b-4b56-a007-2852dc2f4465","creationTime":"2021-07-30T06:56:45.1733333+00:00","lastModifiedBy":null,"lastModifiedTime":"2021-07-30T06:56:45.1733333+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2015-10-31
      ocp-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik?api-version=2015-10-31
      x-ms-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik?api-version=2015-10-31
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2015-10-31
  response:
    body:
      string: '{"name":"test-account-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002","type":"Microsoft.Automation/AutomationAccounts","location":"westus2","tags":{},"etag":null,"properties":{"sku":{"name":"Basic","family":null,"capacity":null},"state":"Ok","RegistrationUrl":"https://79aa051f-5c4b-4b56-a007-2852dc2f4465.agentsvc.wus2.azure-automation.net/accounts/79aa051f-5c4b-4b56-a007-2852dc2f4465","creationTime":"2021-07-30T06:56:45.1733333+00:00","lastModifiedBy":null,"lastModifiedTime":"2021-07-30T06:56:45.1733333+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ocp-automation-accountid:
      - 79aa051f-5c4b-4b56-a007-2852dc2f4465
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts?api-version=2015-10-31
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002","location":"westus2","name":"test-account-000002","type":"Microsoft.Automation/AutomationAccounts","tags":{"A":"a"},"properties":{"creationTime":"2021-07-30T06:56:45.1733333+00:00","lastModifiedTime":"2021-07-30T06:56:51.85+00:00","state":"Ok"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_automation_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001","name":"cli_test_automation_000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-07-30T06:56:30Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test-runbook-000003", "location": "westus2", "properties": {"runbookType":
      "PowerShell", "draft": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003?api-version=2018-06-30
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003","name":"test-runbook-000003","type":"Microsoft.Automation/AutomationAccounts/Runbooks","location":"westus2","tags":{},"etag":"\"637632250287300000\"","properties":{"description":null,"logVerbose":false,"logProgress":false,"logActivityTrace":0,"runbookType":"PowerShell","parameters":{},"state":"New","jobCount":0,"provisioningState":"Succeeded","serviceManagementTags":null,"outputTypes":[],"creationTime":"2021-07-30T06:57:08.73+00:00","lastModifiedBy":null,"lastModifiedTime":"2021-07-30T06:57:08.73+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"637632250287300000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003?api-version=2018-06-30
      ocp-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik/runbooks/test-runbook-x5m2b6qu57r?api-version=2018-06-30
      x-ms-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik/runbooks/test-runbook-x5m2b6qu57r?api-version=2018-06-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '@C:UsersAdministratorAppDataLocalTempPowerShell.ps'
    headers:
      Content-Type:
      - text/powershell
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/draft/content?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/draft/content/operationResults/11cf3d42-7612-4408-89e0-a9da05ddfb2f?api-version=2018-06-30
      ocp-automation-operationresultid:
      - 11cf3d42-7612-4408-89e0-a9da05ddfb2f
      - 11cf3d42-7612-4408-89e0-a9da05ddfb2f
      ocp-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik/runbooks/test-runbook-x5m2b6qu57r/draft/content/operationResults/11cf3d42-7612-4408-89e0-a9da05ddfb2f?api-version=2018-06-30
      x-ms-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik/runbooks/test-runbook-x5m2b6qu57r/draft/content/operationResults/11cf3d42-7612-4408-89e0-a9da05ddfb2f?api-version=2018-06-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/draft/content/operationResults/11cf3d42-7612-4408-89e0-a9da05ddfb2f?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/publish?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aut[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/runbooks/test-runbook-000003/publish/operationResults/3e869ee4-d50f-451f-9862-168d834b2854?api-version=2018-06-30
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"runbook": {"name": "test-runbook-000003"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2017-05-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e","name":"ef6919bf-b827-4b18-8475-8d4a03a49d0e","type":"Microsoft.Automation/AutomationAccounts/Jobs","properties":{"jobId":"27186b79-5a20-467d-8f3a-86867b3b88c9","creationTime":"2021-07-30T06:58:23.49+00:00","provisioningState":"Processing","status":"New","statusDetails":"None","startedBy":null,"startTime":null,"endTime":null,"lastModifiedTime":"2021-07-30T06:58:23.49+00:00","lastStatusModifiedTime":"2021-07-30T06:58:23.49+00:00","exception":null,"parameters":{},"runOn":null,"runbook":{"name":"test-runbook-000003"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2017-05-15-preview
      ocp-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2017-05-15-preview
      x-ms-location:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_automation_tlmiujrw654kvpqc34zj7x2j3pxajiiroxc3gvnvhxxqpojhkpuriiu/providers/Microsoft.Automation/automationAccounts/test-account-lnugpzoglik/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2017-05-15-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs?api-version=2017-05-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e","name":"ef6919bf-b827-4b18-8475-8d4a03a49d0e","type":"Microsoft.Automation/AutomationAccounts/Jobs","properties":{"jobId":"27186b79-5a20-467d-8f3a-86867b3b88c9","runbook":{"name":"test-runbook-000003"},"provisioningState":"Processing","status":"New","creationTime":"2021-07-30T06:58:23.5011991+00:00","startTime":null,"lastModifiedTime":"2021-07-30T06:58:23.5011991+00:00","endTime":null,"runOn":null}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '1999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '599'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e?api-version=2017-05-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002/jobs/ef6919bf-b827-4b18-8475-8d4a03a49d0e","name":"ef6919bf-b827-4b18-8475-8d4a03a49d0e","type":"Microsoft.Automation/AutomationAccounts/Jobs","properties":{"jobId":"27186b79-5a20-467d-8f3a-86867b3b88c9","creationTime":"2021-07-30T06:58:23.5011991+00:00","provisioningState":"Failed","status":"Failed","statusDetails":"None","startedBy":"{scrubbed}","startTime":"2021-07-30T06:58:28.5680571+00:00","endTime":"2021-07-30T06:58:28.5680571+00:00","lastModifiedTime":"2021-07-30T06:58:28.5680571+00:00","lastStatusModifiedTime":"2021-07-30T06:58:28.5680571+00:00","exception":"At
        line:1 char:1\r\n+ @C:UsersAdministratorAppDataLocalTempPowerShell.ps\r\n+
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nThe splatting operator ''@''
        cannot be used to reference variables in an expression. ''@C:UsersAdministratorAppDataLocalTempPowerShell''
        can be used only as an argument to a command. To reference variables in an
        expression use ''$C:UsersAdministratorAppDataLocalTempPowerShell''.","parameters":{},"runOn":null,"runbook":{"name":"test-runbook-000003"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '599'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_automation_000001/providers/Microsoft.Automation/automationAccounts/test-account-000002?api-version=2015-10-31
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
