interactions:
- request:
    body: '{"carbonScopeList": ["Scope1", "Scope2", "Scope3"], "dateRange": {"end":
      "2025-03-01", "start": "2025-03-01"}, "reportType": "TopItemsSummaryReport",
      "subscriptionList": ["1fcfa925-ad8b-443e-afc9-73038125cc86"], "categoryType":
      "ResourceType", "topItems": 5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Carbon/carbonEmissionReports?api-version=2025-04-01
  response:
    body:
      string: '{"value":[{"dataType":"TopItemsSummaryData","itemName":"microsoft.fabric/capacities","categoryType":"ResourceType","latestMonthEmissions":170.364957551656,"previousMonthEmissions":199.860710018915,"monthOverMonthEmissionsChangeRatio":-0.147581545489696,"monthlyEmissionsChangeValue":-29.4957524672594},{"dataType":"TopItemsSummaryData","itemName":"microsoft.kusto/clusters","categoryType":"ResourceType","latestMonthEmissions":11.0909111385652,"previousMonthEmissions":9.4563412289584,"monthOverMonthEmissionsChangeRatio":0.172854370419842,"monthlyEmissionsChangeValue":1.6345699096068},{"dataType":"TopItemsSummaryData","itemName":"microsoft.synapse/workspaces/bigdatapools","categoryType":"ResourceType","latestMonthEmissions":10.2741922887871,"previousMonthEmissions":10.403134684[...]
