interactions:
- request:
    body: '{"name": "clisession000002", "driverMemory": "28g", "driverCores": 4, "executorMemory":
      "28g", "executorCores": 4, "numExecutors": 2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":null,"idleAt":null,"deadAt":null,"shuttingDownAt":null,"killedAt":null,"recoveringAt":null,"busyAt":null,"errorAt":null,"currentState":"not_started","jobCreationRequest":{"name":"clisession000002","conf":{},"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2}},"name":"clisession000002","workspaceName":"testsynapseworkspace","computeName":"testsparkpool","sparkPoolName":"testsparkpool","submitterName":"zhezhou@microsoft.com","submitterId":"8f51e348-1fa6-4194-8d13-8e0368e3298a","artifactId":"Livy","jobType":"SparkSession","result":"Uncertain","schedulerInfo":{"submittedAt":"2020-04-29T07:00:10.5895665+00:00","scheduledAt":null,"endedAt":null,"cancellationRequestedAt":null,"currentState":"Queued"},"pluginInfo":{"preparationStartedAt":null,"resourceAcquisitionStartedAt":null,"submissionStartedAt":null,"monitoringStartedAt":null,"cleanupStartedAt":null,"currentState":"Preparation"},"tags":{},"id":263,"appId":null,"appInfo":null,"state":"not_started","log":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-job-clusterrequested-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-ended-on:
      - ''
      x-ms-job-internal-id:
      - '263'
      x-ms-job-livysubmission-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-queued-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-result:
      - Uncertain
      x-ms-job-scheduled-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-scheduler-state:
      - Queued
      x-ms-job-submitted-by-name:
      - zhezhou@microsoft.com
      x-ms-job-submitted-on:
      - 4/29/2020 7:00:10 AM +00:00
      x-ms-job-type:
      - SparkServiceSession
      x-ms-response-time-ms:
      - '464'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":"2020-04-29T07:00:21.2577523+00:00","idleAt":"2020-04-29T07:00:42.3732975+00:00","deadAt":null,"shuttingDownAt":null,"killedAt":null,"recoveringAt":null,"b[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions?detailed=true
  response:
    body:
      string: '{"from":0,"total":20,"sessions":[{"livyInfo":{"notStartedAt":null,"startingAt":"2019-12-13T08:31:43.5770995+00:00","idleAt":"2019-12-13T08:33:26.3486022+00:00","deadAt":null,"shuttingDownAt":null,"killedAt":null,"recoveringAt":null,"busyAt":"2019-12-13T08:33:43.4783228+00:00","errorAt":null,"currentState":"killed","jobCreationRequest":{"name":"Synapse_testsparkpool_1576225747245","conf":{},"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2}},"name":"Synapse_testsparkpool_1576225747245","workspaceName":"testsynapseworkspace","computeName":"testsparkpool","sparkPoolName":"testsparkpool","submitterName":"zhezhou@microsoft.com","submitterId":"8f51e348-1fa6-4194-8d13-8e0368e3298a","artifactId":"Livy","jobType":"SparkSession","result":"Cancelled","schedulerInfo":{"submittedAt":"2019-12-13T08:29:09.2436131+00:00","scheduledAt":"2019-12-13T08:29:10.4002931+00:00","endedAt":"2019-12-13T09:12:57.8277203+00:00","cancellationRequestedAt":"2019-12-13T09:12:56.2729655+00:00","currentState":"Ended"},"pluginInfo":{"preparationStartedAt":"2019-12-13T08:29:10.4143043+00:00","resourceAcquisitionStartedAt":"2019-12-13T08:29:10.6402742+00:00","submissionStartedAt":"2019-12-13T08:31:00.7261948+00:00","monitoringStartedAt":"2019-12-13T08:31:43.6002601+00:00","cleanupStartedAt":"2019-12-13T09:12:56.2729689+00:00","currentState":"Ended"},"tags":{},"id":2,"appId":"application_1576225874089_0001","appInfo":{"driverLogUrl":"http://008b79baa75e493ba50798a50e751b9d03116310046:8042/node/containerlogs/container_1576225874089_0001_01_000001/trusted-service-user","sparkUiUrl":"http://008b79baa75e493ba50798a50e751b9d04071d71770:8088/proxy/application_1576225874089_0001/"},"state":"killed","log":["\t
        final status: UNDEFINED","\t tracking URL: http://008b79baa75e493ba50798a50e751b9d04071d71770:8088/proxy/application_1576225874089_0001/","\t
        user: trusted-service-user","19/12/13 08:31:59 INFO ShutdownHookManager: Shutdown
        hook called","19/12/13 08:31:59 INFO ShutdownHookManager: Deleting directory
        /tmp/spark-13f31a03-7633-4467-bf81-3fe3309fb856","19/12/13 08:31:59 INFO ShutdownHookManager:
        Deleting directory /tmp/spark-40fe5680-835f-462d-bcbb-c8fffa1bbe6f","19/12/13
        08:31:59 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...","19/12/13
        08:31:59 INFO MetricsSystemImpl: azure-file-s[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263/reset-timeout
  response:
    body:
      string: ''
    headers:
      x-ms-response-time-ms:
      - '44'
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "import time\ntime.sleep(10)\nprint(''hello from cli'')", "kind":
      "pyspark"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263/statements
  response:
    body:
      string: '{"id":0,"code":"import time\ntime.sleep(10)\nprint(''hello from cli'')","state":"waiting","output":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-time-ms:
      - '77'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263/statements/0
  response:
    body:
      string: '{"id":0,"code":"import time\ntime.sleep(10)\nprint(''hello from cli'')","state":"running","output":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-time-ms:
      - '21'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263/statements
  response:
    body:
      string: '{"total_statements":1,"statements":[{"id":0,"code":"import time\ntime.sleep(10)\nprint(''hello
        from cli'')","state":"running","output":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-time-ms:
      - '58'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263/statements/0/cancel
  response:
    body:
      string: '{"msg":"canceled"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-time-ms:
      - '16'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/263
  response:
    body:
      string: ''
    headers:
      x-ms-response-time-ms:
      - '26'
    status:
      code: 200
      message: OK
[...]
