interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-01T19:24:14Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-01T19:24:14Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"location": {"type": "string", "metadata":
      {"description": "Location of the resources."}, "defaultValue": "eastus"}}, "resources":
      [{"apiVersion": "2018-07-01-preview", "name": "helloWorldNetwork", "type": "Microsoft.ServiceFabricMesh/networks",
      "location": "[parameters(''location'')]", "dependsOn": [], "properties": {"addressPrefix":
      "10.0.0.4/22", "ingressConfig": {"layer4": [{"name": "helloWorldIngress", "publicPort":
      "80", "applicationName": "helloWorldApp", "serviceName": "helloWorldService",
      "endpointName": "helloWorldListener"}]}}}, {"apiVersion": "2018-07-01-preview",
      "name": "helloWorldApp", "type": "Microsoft.ServiceFabricMesh/applications",
      "location": "[parameters(''location'')]", "dependsOn": ["Microsoft.ServiceFabricMesh/networks/helloWorldNetwork"],
      "properties": {"description": "Service Fabric Mesh HelloWorld Application!",
      "services": [{"type": "Microsoft.ServiceFabricMesh/services", "location": "[parameters(''location'')]",
      "name": "helloWorldService", "properties": {"description": "Service Fabric Mesh
      Hello World Service.", "osType": "linux", "codePackages": [{"name": "helloWorldCode",
      "image": "seabreeze/azure-mesh-helloworld:1.1-alpine", "endpoints": [{"name":
      "helloWorldListener", "port": "80"}], "resources": {"requests": {"cpu": "1",
      "memoryInGB": "1"}}}, {"name": "helloWorldSideCar", "image": "seabreeze/azure-mesh-helloworld-sidecar:1.0-alpine",
      "resources": {"requests": {"cpu": "1", "memoryInGB": "1"}}}], "replicaCount":
      "1", "networkRefs": [{"name": "[resourceId(''Microsoft.ServiceFabricMesh/networks'',
      ''helloWorldNetwork'')]"}]}}]}}]}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","properties":{"templateHash":"8082464397853678251","parameters":{"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-08-01T19:24:16.3567895Z","duration":"PT0S","correlationId":"e20a8831-274a-4da0-9157-350f9f81d469","providers":[{"namespace":"Microsoft.ServiceFabricMesh","resourceTypes":[{"resourceType":"networks","locations":["eastus"]},{"resourceType":"applications","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork","resourceType":"Microsoft.ServiceFabricMesh/networks","resourceName":"helloWorldNetwork"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp","resourceType":"Microsoft.ServiceFabricMesh/applications","resourceName":"helloWorldApp"}],"validatedResources":[{"apiVersion":"2018-07-01-preview","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork","name":"helloWorldNetwork","type":"Microsoft.ServiceFabricMesh/networks","location":"eastus","properties":{"addressPrefix":"10.0.0.4/22","ingressConfig":{"layer4":[{"name":"helloWorldIngress","publicPort":"80","applicationName":"helloWorldApp","serviceName":"helloWorldService","endpointName":"helloWorldList[...]
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"location": {"type": "string", "metadata":
      {"description": "Location of the resources."}, "defaultValue": "eastus"}}, "resources":
      [{"apiVersion": "2018-07-01-preview", "name": "helloWorldNetwork", "type": "Microsoft.ServiceFabricMesh/networks",
      "location": "[parameters(''location[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586684554280765744?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","properties":{"templateHash":"8082464397853678251","parameters":{"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-08-01T19:25:33.1595232Z","duration":"PT1M15.7584811S","correlationId":"a079c3bc-985f-4ca6-9c39-ef28c4951b5d","providers":[{"namespace":"Microsoft.ServiceFabricMesh","resourceTypes":[{"resourceType":"networks","locations":["eastus"]},{"resourceType":"applications","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork","resourceType":"Microsoft.ServiceFabricMesh/networks","resourceName":"helloWorldNetwork"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp","resourceType":"Microsoft.ServiceFabricMesh/applications","resourceName":"helloWorldApp"}],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp?api-version=2018-07-01-preview
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabricMesh/applications\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp\"\
        ,\r\n  \"name\": \"helloWorldApp\",\r\n  \"tags\": {},\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"description\": \"\
        Service Fabric Mesh HelloWorld Application!\",\r\n    \"healthState\": \"\
        Ok\",\r\n    \"serviceNames\": [\r\n      \"helloWorldService\"\r\n    ],\r\
        \n    \"status\": \"Ready\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork?api-version=2018-07-01-preview
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabricMesh/networks\",\r\n\
        \  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork\"\
        ,\r\n  \"name\": \"helloWorldNetwork\",\r\n  \"tags\": {},\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\"\
        : \"10.0.0.4/22\",\r\n    \"ingressConfig\": {\r\n      \"qosLevel\": \"Bronze\"\
        ,\r\n      \"publicIPAddress\": \"40.117.135.22\",\r\n      \"layer4\": [\r\
        \n        {\r\n          \"name\": \"helloWorldIngress\",\r\n          \"\
        publicPort\": 80,\r\n          \"applicationName\": \"helloWorldApp\",\r\n\
        \          \"serviceName\": \"helloWorldService\",\r\n          \"endpointName\"\
        : \"helloWorldListener\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications?api-version=2018-07-01-preview
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.ServiceFabricMesh/applications\"\
        ,\r\n      \"location\": \"eastus\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp\"\
        ,\r\n      \"name\": \"helloWorldApp\",\r\n      \"tags\": {},\r\n      \"\
        properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n     \
        \   \"description\": \"Service Fabric Mesh HelloWorld Application!\",\r\n\
        \        \"healthState\": \"Ok\",\r\n        \"serviceNames\": [\r\n     \
        \     \"helloWorldService\"\r\n        ],\r\n        \"status\": \"Ready\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp/services/helloWorldService/replicas?api-version=2018-07-01-preview
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"osType\": \"Linux\",\r\
        \n      \"codePackages\": [\r\n        {\r\n          \"name\": \"helloWorldCode\"\
        ,\r\n          \"image\": \"seabreeze/azure-mesh-helloworld:1.1-alpine\",\r\
        \n          \"endpoints\": [\r\n            {\r\n              \"name\": \"\
        helloWorldListener\",\r\n              \"port\": 80\r\n            }\r\n \
        \         ],\r\n          \"resources\": {\r\n            \"requests\": {\r\
        \n              \"memoryInGB\": 1.0,\r\n              \"cpu\": 1.0\r\n   \
        \         }\r\n          },\r\n          \"instanceView\": {\r\n         \
        \   \"restartCount\": 1,\r\n            \"currentState\": {\r\n          \
        \    \"state\": \"Running\",\r\n              \"exitCode\": \"0\"\r\n    \
        \        },\r\n            \"previousState\": {\r\n              \"state\"\
        : \"NotSpecified\",\r\n              \"exitCode\": \"0\"\r\n            }\r\
        \n          }\r\n        },\r\n        {\r\n          \"name\": \"helloWorldSideCar\"\
        ,\r\n          \"image\": \"seabreeze/azure-mesh-helloworld-sidecar:1.0-alpine\"\
        ,\r\n          \"resources\": {\r\n            \"requests\": {\r\n       \
        \       \"memoryInGB\": 1.0,\r\n              \"cpu\": 1.0\r\n           \
        \ }\r\n          },\r\n          \"instanceView\": {\r\n            \"restartCount\"\
        : 1,\r\n            \"currentState\": {\r\n              \"state\": \"Running\"\
        ,\r\n              \"exitCode\": \"0\"\r\n            },\r\n            \"\
        previousState\": {\r\n              \"state\": \"NotSpecified\",\r\n     \
        \         \"exitCode\": \"0\"\r\n            }\r\n          }\r\n        }\r\
        \n      ],\r\n      \"networkRefs\": [\r\n        {\r\n          \"name\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork\"\
        \r\n        }\r\n      ],\r\n      \"replicaName\": \"0\"\r\n    }\r\n  ]\r\
        \n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp/services/helloWorldService/replicas/0?api-version=2018-07-01-preview
  response:
    body: {string: "{\r\n  \"osType\": \"Linux\",\r\n  \"codePackages\": [\r\n   \
        \ {\r\n      \"name\": \"helloWor[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc0SldRUUs2TFNELVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
