interactions:
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"location": {"type": "string", "metadata":
      {"description": "Location of the resources."}, "defaultValue": "eastus"}}, "resources":
      [{"apiVersion": "2018-07-01-preview", "name": "helloWorldNetwork", "type": "Microsoft.ServiceFabricMesh/networks",
      "location": "[parameters(''location'')]", "dependsOn": [], "properties": {"addressPrefix":
      "10.0.0.4/22", "ingressConfig": {"layer4": [{"name": "helloWorldIngress", "publicPort":
      "80", "applicationName": "helloWorldApp", "serviceName": "helloWorldService",
      "endpointName": "helloWorldListener"}]}}}, {"apiVersion": "2018-07-01-preview",
      "name": "helloWorldApp", "type": "Microsoft.ServiceFabricMesh/applications",
      "location": "[parameters(''location'')]", "dependsOn": ["Microsoft.ServiceFabricMesh/networks/helloWorldNetwork"],
      "properties": {"description": "Service Fabric Mesh HelloWorld Application!",
      "services": [{"type": "Microsoft.ServiceFabricMesh/services", "name": "helloWorldService",
      "properties": {"description": "Service Fabric Mesh Hello World Service.", "osType":
      "linux", "codePackages": [{"name": "helloWorldCode", "image": "seabreeze/azure-mesh-helloworld:1.1-alpine",
      "endpoints": [{"name": "helloWorldListener", "port": "80"}], "resources": {"requests":
      {"cpu": "1", "memoryInGB": "1"}}}, {"name": "helloWorldSideCar", "image": "seabreeze/azure-mesh-helloworld-sidecar:1.0-alpine",
      "resources": {"requests": {"cpu": "1", "memoryInGB": "1"}}}], "replicaCount":
      "1", "networkRefs": [{"name": "[resourceId(''Microsoft.ServiceFabricMesh/networks'',
      ''helloWorldNetwork'')]"}]}}]}}]}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1634222566823060083","parameters":{"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-08-15T07:43:20.5019888Z","duration":"PT0.0001104S","correlationId":"56ca75bd-cd62-4605-9e75-243ef1917ff1","providers":[{"namespace":"Microsoft.ServiceFabricMesh","resourceTypes":[{"resourceType":"networks","locations":["eastus"]},{"resourceType":"applications","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork","resourceType":"Microsoft.ServiceFabricMesh/networks","resourceName":"helloWorldNetwork"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp","resourceType":"Microsoft.ServiceFabricMesh/applications","resourceName":"helloWorldApp"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002/operationStatuses/08585095214866498482?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications?api-version=2018-09-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CLITEST.RG000001/providers/Microsoft.ServiceFabricMesh/applications/HELLOWORLDAPP\"\
        ,\r\n      \"name\": \"helloWorldApp\",\r\n      \"type\": \"Microsoft.ServiceFabricMesh/applications\"\
        ,\r\n      \"tags\": {},\r\n      \"location\": \"eastus\",\r\n      \"properties\"\
        : {\r\n        \"provisioningState\": \"Failed\",\r\n        \"description\"\
        : \"Service Fabric Mesh HelloWorld Application!\",\r\n        \"serviceNames\"\
        : [\r\n          \"helloWorldService\"\r\n        ],\r\n        \"status\"\
        : \"Failed\",\r\n        \"statusDetails\": \"Insufficient capacity is available\
        \ in this region. Please try again later or try a different region.\",\r\n\
        \        \"healthState\": \"Ok\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
      x-atlas-response-duration:
      - '47'
      - '699'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp?api-version=2018-09-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CLITEST.RG000001/providers/Microsoft.ServiceFabricMesh/applications/HELLOWORLDAPP\"\
        ,\r\n  \"name\": \"helloWorldApp\",\r\n  \"type\": \"Microsoft.ServiceFabricMesh/applications\"\
        ,\r\n  \"tags\": {},\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\
        \n    \"provisioningState\": \"Failed\",\r\n    \"description\": \"Service\
        \ Fabric Mesh HelloWorld Application!\",\r\n    \"serviceNames\": [\r\n  \
        \    \"helloWorldService\"\r\n    ],\r\n    \"status\": \"Failed\",\r\n  \
        \  \"statusDetails\": \"Insufficient capacity is available in this region.\
        \ Please try again later or try a different region.\",\r\n    \"healthState\"\
        : \"Ok\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json
      x-atlas-response-duration:
      - '6'
      - '521'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLITEST.RG000001/providers/Microsoft.ServiceFabricMesh/applications/HELLOWORLDAPP?api-version=2018-09-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CLITEST.RG000001/providers/Microsoft.ServiceFabricMesh/applications/HELLOWORLDAPP\"\
        ,\r\n  \"name\": \"helloWorldApp\",\r\n  \"type\": \"Microsoft.ServiceFabricMesh/applications\"\
        ,\r\n  \"tags\": {},\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\
        \n    \"provisioningState\": \"Failed\",\r\n    \"description\": \"Service\
        \ Fabric Mesh HelloWorld Application!\",\r\n    \"serviceNames\": [\r\n  \
        \    \"helloWorldService\"\r\n    ],\r\n    \"status\": \"Failed\",\r\n  \
        \  \"statusDetails\": \"Insufficient capacity is available in this region.\
        \ Please try again later or try a different region.\",\r\n    \"healthState\"\
        : \"Ok\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json
      x-atlas-response-duration:
      - '2'
      - '477'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications?api-version=2018-09-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json
      x-atlas-response-duration:
      - '32'
      - '503'
    status:
      code: 200
      message: OK
version: 1
