# Python cache
__pycache__/
*.pyc

# Virtual environment
env/
env27/
venv/
.python-version

# PTVS analysis
.ptvs/

# Misc
.idea/
dist/
logs/
build/

# Result of running python setup.py install/pip install -e
RECORD.txt
*.egg-info/

# Mac desktop service store files
.DS_Store

# Code coverage and reports
*.coverage
htmlcov
*coverage.*

# Pytest
.cache/
.pytest_cache/

# Logs
pip.log

# Setuptools
.eggs/

# Tox
.tox/
