interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DSM05A-T210/providers/Microsoft.BareMetalInfrastructure/bareMetalStorageInstances?api-version=2024-08-01-preview
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DSM05A-T210/providers/Microsoft.BareMetalInfrastructure/bareMetalStorageInstances/alistorage\"\
        ,\n    \"location\": \"centraluseuap\",\n    \"name\": \"alistorage\",\n \
        \   \"tags\": {},\n    \"type\": \"Microsoft.AzureLargeInstance/azureLargeStorageInstances\"\
        ,\n    \"systemData\": {},\n    \"properties\": {\n     \"azureBareMetalStorageInstanceUniqueIdentifier\"\
        : \"a582472d-2a29-4c2b-a0d0-0ebd39e46904\",\n     \"storageProperties\": {\n\
        \      \"provisioningState\": \"Accepted\",\n      \"offeringType\": \"EPIC\"\
        ,\n      \"storageType\": \"FC\",\n      \"generation\": \"Gen4\",\n     \
        \ \"hardwareType\": \"NetApp\",\n      \"workloadType\": \"ODB\",\n      \"\
        storageBillingProperties\": {\n       \"billingMode\": \"PAYG\",\n       \"\
        azureBareMetalStorageInstanceSize\": \"n100\"\n      },\n      \"identity\"\
        : {}\n     }\n    }\n   },\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DSM05A-T210/providers/Microsoft.BareMetalInfrastructure/bareMetalStorageInstances/dummyRN1\"\
        ,\n    \"location\": \"centraluseuap\",\n    \"name\": \"dummyRN1\",\n   \
        \ \"tags\": {},\n    \"type\": \"Microsoft.BareMetalInfrastructure/bareMetalStorageInstances\"\
        ,\n    \"systemData\": {},\n    \"properties\": {\n     \"azureBareMetalStorageInstanceUniqueIdentifier\"\
        : \"cfcffde1-63b3-46a4-9881-2e9f4e59ff8d\",\n     \"storageProperties\": {\n\
        \      \"provisioningState\": \"Accepted\",\n      \"offeringType\": \"EPIC\"\
        ,\n      \"storageType\": \"FC\",\n      \"generation\": \"Gen4.5\",\n   \
        \   \"hardwareType\": \"NetApp\",\n      \"workloadType\": \"ODB\",\n    \
        \  \"storageBillingProperties\": {\n       \"billingMode\": \"PAYG\",\n  \
        \     \"azureBareMetalStorageInstanceSize\": \"n100\"\n      },\n      \"\
        identity\": {}\n     }\n    }\n   }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
