// Copyright (c) Microsoft Corporation.

// This file creates an Artifact Manifest for a VNF
param location string
@description('Name of an existing publisher, expected to be in the resource group where you deploy the template')
param publisherName string
@description('Name of an existing ACR-backed Artifact Store, deployed under the publisher.')
param acrArtifactStoreName string
{%- if sa_artifacts %}
@description('Name of an existing Storage Account-backed Artifact Store, deployed under the publisher.')
param saArtifactStoreName string
{%- endif %}
@description('Name of the manifest to deploy for the ACR-backed Artifact Store')
param acrManifestName string
{%- if sa_artifacts %}
@description('Name of the manifest to deploy for the Storage Account-backed Artifact Store')
param saManifestName string
{%- endif %}

// The publisher resource is the top level AOSM resource under which all other designer resources
// are created.
// If using publish command, this is created from deploying the vnfbase.bicep
resource publisher 'Microsoft.HybridNetwork/publishers@2023-09-01' existing =  {
  name: publisherName
}

// The artifact store is the resource in which all the artifacts (except VHD images) required to deploy the NF are stored.
// If using publish command, this is created from deploying the vnfbase.bicep
resource acrArtifactStore 'Microsoft.HybridNetwork/publishers/artifactStores@2023-09-01' existing = {
  parent: publisher
  name: acrArtifactStoreName
}

{%- if sa_artifacts %}
// The storage account is the resource in which the VHD images are stored.
// If using publish command, this is created from deploying the vnfbase.bicep
resource saArtifactStore 'Microsoft.HybridNetwork/publishers/artifactStores@2023-09-01' existing = {
  parent: publisher
  name: saArtifactStoreName
}
{%- endif %}

resource acrArtifactManifest 'Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests@2023-09-01' = {
  parent: acrArtifactStore
  name: acrManifestName
  location: location
  properties: {
    artifacts: [
    {%- for artifact in acr_artifacts %}
      {
        artifactName: '{{ artifact.artifact_name }}'
        artifactType: 'ArmTemplate'
        artifactVersion: '{{ artifact.artifact_version }}'
      }
    {%- endfor %}
    ]
  }
}

{%- if sa_artifacts %}
resource saArtifactManifest 'Microsoft.Hybridnetwork/publishers/artifactStores/artifactManifests@2023-09-01' = {
  parent: saArtifactStore
  name: saManifestName
  location: location
  properties: {
    artifacts: [
    {%- for artifact in sa_artifacts %}
      {
        artifactName: '{{ artifact.artifact_name }}'
        artifactType: 'VhdImageFile'
        artifactVersion: '{{ artifact.artifact_version }}'
      }
    {%- endfor %}
    ]
  }
}
{%- endif %}

