# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.core.polling import LROPoller, NoPolling, PollingMethod
from azure.mgmt.core.exceptions import ARMErrorFormat
from azure.mgmt.core.polling.arm_polling import ARMPolling

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[
        PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]


class ProviderRegistrationsOperations(object):
    """ProviderRegistrationsOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~provider_hub.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def get(
        self,
        provider_namespace,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.ProviderRegistration"
        """Gets the provider registration details.

        :param provider_namespace: The name of the resource provider hosted within ProviderHub.
        :type provider_namespace: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ProviderRegistration, or the result of cls(response)
        :rtype: ~provider_hub.models.ProviderRegistration
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop(
            'cls', None)  # type: ClsType["models.ProviderRegistration"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-11-20"
        accept = "application/json"

        # Construct URL
        url = self.get.metadata['url']  # type: ignore
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str', min_length=1),
            'providerNamespace': self._serialize.url("provider_namespace", provider_namespace, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query(
            "api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header(
            "accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(
            request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code,
                      response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(
                response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize(
            'ProviderRegistration', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    # type: ignore
    get.metadata = {
        'url': '/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}'}

    def _create_or_update_initial(
        self,
        provider_namespace,  # type: str
        provider_authentication,  # type: "models.ResourceProviderAuthorization"
        provider_authorizations,  # type: "models.ThirdPartyProviderAuthorization"
        provider_version,  # type: str
        provider_type,  # type: str
        namespace,  # type: str
        capabilities,  # type: list["models.ResourceProviderCapabilities"]
        metadata,  # type: object
        template_deployment_options,  # type: "models.TemplateDeploymentOptions"
        schema_owners,  # type: list[str]
        manifest_owners,  # type: list[str]
        incident_routing_service,  # type: str
        incident_routing_team,  # type: str
        incident_contact_email,  # type: str
        service_tree_infos,  # type: list["models.ServiceTreeInfo"]
        resource_access_policy,  # type: "models.ResourceProviderManagementResourceAccessPolicy"
        required_features_policy,  # type: "models.FeaturesPolicy"
        required_features,  # type: list[str]
        opt_in_headers,  # type: "models.OptInHeaderType"
        managed_by_tenant_id,  # type: str
        # type: "models.ResourceProviderAuthorization"
        providerhub_metadata_authorizations,
        # type: "models.ResourceProviderAuthentication"
        providerhub_metadata_authentication,
        lighthouse_authorizations,  # type: "models.LightHouseAuthorization"
        # type: list["models.SubscriptionStateOverrideAction"]
        subscription_state_override_actions,
        resource_access_roles,  # type: list[object]
        soft_delete_ttl,  # type: duration
        **kwargs  # type: Any
    ):
        # type: (...) -> Optional["models.ProviderRegistration"]
        # type: ClsType[Optional["models.ProviderRegistration"]]
        cls = kwargs.pop('cls', None)
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-11-20"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self._create_or_update_initial.metadata['url']  # type: ignore
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str', min_length=1),
            'providerNamespace': self._serialize.url("provider_namespace", provider_namespace, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query(
            "api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header(
            "content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header(
            "accept", accept, 'str')

        features_rule = models.FeaturesRule(
            required_features_policy=required_features_policy) if required_features_policy else None
        subscriptionLifecycleNotificationSpecifications = models.SubscriptionLifecycleNotificationSpecifications(
            subscription_state_override_actions=subscription_state_override_actions,
            soft_delete_ttl=soft_delete_ttl
        )
        management = models.ResourceProviderManagement(schema_owners=schema_owners, manifest_owners=manifest_owners, incident_routing_service=incident_routing_service, incident_routing_team=incident_routing_team,
                                                       incident_contact_email=incident_contact_email, service_tree_infos=service_tree_infos, resource_access_policy=resource_access_policy, resource_access_roles=resource_access_roles)
        third_party_provider_authorization = models.ThirdPartyProviderAuthorization(
            authorizations=lighthouse_authorizations, managed_by_tenant_id=managed_by_tenant_id) if lighthouse_authorizations or managed_by_tenant_id else None
        providerhub_metadata = models.ProviderHubMetadata(provider_authorizations=providerhub_metadata_authorizations,
                                                          provider_authentication=providerhub_metadata_authentication,
                                                          third_party_provider_authorization=third_party_provider_authorization)

        properties = models.ProviderRegistration(
            properties=models.ProviderRegistrationProperties(provider_authentication=provider_authentication, provider_authorizations=provider_authorizations, provider_version=provider_version, provider_type=provider_type, provider_hub_metadata=providerhub_metadata, namespace=namespace,
                                                             features_rule=features_rule, management=management, capabilities=capabilities, metadata=metadata, template_deployment_options=template_deployment_options,
                                                             required_features=required_features)
        )

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(properties, 'ProviderRegistration')
        body_content_kwargs['content'] = body_content
        request = self._client.put(
            url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(
            request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 201]:
            map_error(status_code=response.status_code,
                      response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(
                response=response, model=error, error_format=ARMErrorFormat)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize(
                'ProviderRegistration', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    _create_or_update_initial.metadata = {
        'url': '/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}'}  # type: ignore

    def begin_create_or_update(
        self,
        provider_namespace,  # type: str
        provider_authentication,  # type: "models.ResourceProviderAuthorization"
        provider_authorizations,  # type: "models.ThirdPartyProviderAuthorization"
        provider_version,  # type: str
        provider_type,  # type: str
        namespace,  # type: str
        capabilities,  # type: list["models.ResourceProviderCapabilities"]
        metadata,  # type: object
        template_deployment_options,  # type: "models.TemplateDeploymentOptions"
        schema_owners,  # type: list[str]
        manifest_owners,  # type: list[str]
        incident_routing_service,  # type: str
        incident_routing_team,  # type: str
        incident_contact_email,  # type: str
        service_tree_infos,  # type: list["models.ServiceTreeInfo"]
        resource_access_policy,  # type: "models.ResourceProviderManagementResourceAccessPolicy"
        required_features_policy,  # type: "models.FeaturesPolicy"
        required_features,  # type: list[str]
        opt_in_headers,  # type: "models.OptInHeaderType"
        managed_by_tenant_id,  # type: str
        # type: "models.ResourceProviderAuthorization"
        providerhub_metadata_authorizations,
        # type: "models.ResourceProviderAuthentication"
        providerhub_metadata_authentication,
        lighthouse_authorizations,  # type: "models.LightHouseAuthorization"
        # type: list["models.SubscriptionStateOverrideAction"]
        subscription_state_override_actions,
        resource_access_roles,  # type: list[object]
        soft_delete_ttl,  # type: duration
        **kwargs  # type: Any
    ):
        # type: (...) -> LROPoller["models.ProviderRegistration"]
        """Creates or updates the provider registration.

        :param provider_namespace: The name of the resource provider hosted within ProviderHub.
        :type provider_namespace: str
        :param properties: The provider registration properties supplied to the CreateOrUpdate
         operation.
        :type properties: ~provider_hub.models.ProviderRegistration
        :keyword callable cls: A custom type or function that will be passed the direct response
        :keyword str continuation_token: A continuation token to restart a poller from a saved state.
        :keyword polling: True for ARMPolling, False for no polling, or a
         polling object for personal polling strategy
        :paramtype polling: bool or ~azure.core.polling.PollingMethod
        :keyword int polling_interval: Default waiting time between two polls for LRO operations if no Retry-After header is present.
        :return: An instance of LROPoller that returns either ProviderRegistration or the result of cls(response)
        :rtype: ~azure.core.polling.LROPoller[~provider_hub.models.ProviderRegistration]
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        polling = kwargs.pop(
            'polling', True)  # type: Union[bool, PollingMethod]
        # type: ClsType["models.ProviderRegistration"]
        cls = kwargs.pop('cls', None)
        lro_delay = kwargs.pop(
            'polling_interval',
            self._config.polling_interval
        )
        cont_token = kwargs.pop('continuation_token',
                                None)  # type: Optional[str]
        if cont_token is None:
            raw_result = self._create_or_update_initial(
                provider_namespace=provider_namespace,
                provider_authentication=provider_authentication,
                provider_authorizations=provider_authorizations,
                provider_version=provider_version,
                provider_type=provider_type,
                namespace=namespace,
                capabilities=capabilities,
                metadata=metadata,
                template_deployment_options=template_deployment_options,
                schema_owners=schema_owners,
                manifest_owners=manifest_owners,
                incident_routing_service=incident_routing_service,
                incident_routing_team=incident_routing_team,
                incident_contact_email=incident_contact_email,
                service_tree_infos=service_tree_infos,
                resource_access_policy=resource_access_policy,
                required_features_policy=required_features_policy,
                required_features=required_features,
                opt_in_headers=opt_in_headers,
                managed_by_tenant_id=managed_by_tenant_id,
                providerhub_metadata_authorizations=providerhub_metadata_authorizations,
                providerhub_metadata_authentication=providerhub_metadata_authentication,
                lighthouse_authorizations=lighthouse_authorizations,
                resource_access_roles=resource_access_roles,
                subscription_state_override_actions=subscription_state_override_actions,
                soft_delete_ttl=soft_delete_ttl,
                cls=lambda x, y, z: x,
                **kwargs
            )

        kwargs.pop('error_map', None)
        kwargs.pop('content_type', None)

        def get_long_running_output(pipeline_response):
            deserialized = self._deserialize(
                'ProviderRegistration', pipeline_response)

            if cls:
                return cls(pipeline_response, deserialized, {})
            return deserialized

        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str', min_length=1),
            'providerNamespace': self._serialize.url("provider_namespace", provider_namespace, 'str'),
        }

        if polling is True:
            polling_method = ARMPolling(lro_delay, lro_options={
                                        'final-state-via': 'azure-async-operation'}, path_format_arguments=path_format_arguments,  **kwargs)
        elif polling is False:
            polling_method = NoPolling()
        else:
            polling_method = polling
        if cont_token:
            return LROPoller.from_continuation_token(
                polling_method=polling_method,
                continuation_token=cont_token,
                client=self._client,
                deserialization_callback=get_long_running_output
            )
        else:
            return LROPoller(self._client, raw_result, get_long_running_output, polling_method)
    begin_create_or_update.metadata = {
        'url': '/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}'}  # type: ignore

    def delete(
        self,
        provider_namespace,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Deletes a provider registration.

        :param provider_namespace: The name of the resource provider hosted within ProviderHub.
        :type provider_namespace: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-11-20"
        accept = "application/json"

        # Construct URL
        url = self.delete.metadata['url']  # type: ignore
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str', min_length=1),
            'providerNamespace': self._serialize.url("provider_namespace", provider_namespace, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query(
            "api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header(
            "accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(
            request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 204]:
            map_error(status_code=response.status_code,
                      response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(
                response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete.metadata = {
        'url': '/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}'}  # type: ignore

    def list(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.ProviderRegistrationArrayResponseWithContinuation"]
        """Gets the list of the provider registrations in the subscription.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either ProviderRegistrationArrayResponseWithContinuation or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~provider_hub.models.ProviderRegistrationArrayResponseWithContinuation]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop(
            'cls', None)  # type: ClsType["models.ProviderRegistrationArrayResponseWithContinuation"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-11-20"
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header(
                "accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list.metadata['url']  # type: ignore
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str', min_length=1),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                query_parameters['api-version'] = self._serialize.query(
                    "api_version", api_version, 'str')

                request = self._client.get(
                    url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(
                    url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize(
                'ProviderRegistrationArrayResponseWithContinuation', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(
                request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.ErrorResponse, response)
                map_error(status_code=response.status_code,
                          response=response, error_map=error_map)
                raise HttpResponseError(
                    response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list.metadata = {
        'url': '/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations'}  # type: ignore

    def generate_operations(
        self,
        provider_namespace,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.OperationsDefinition"]
        """Generates the operations api for the given provider.

        :param provider_namespace: The name of the resource provider hosted within ProviderHub.
        :type provider_namespace: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of OperationsDefinition, or the result of cls(response)
        :rtype: list[~provider_hub.models.OperationsDefinition]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop(
            'cls', None)  # type: ClsType[List["models.OperationsDefinition"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-11-20"
        accept = "application/json"

        # Construct URL
        url = self.generate_operations.metadata['url']  # type: ignore
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str', min_length=1),
            'providerNamespace': self._serialize.url("provider_namespace", provider_namespace, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query(
            "api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header(
            "accept", accept, 'str')

        request = self._client.post(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(
            request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code,
                      response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(
                response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize(
            '[OperationsDefinition]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    generate_operations.metadata = {
        'url': '/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateOperations'}  # type: ignore
