interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver","name":"azcli-test-vmmserver","type":"microsoft.scvmm/vmmservers","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-20T06:54:50.4131794Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-09-21T08:31:44.1276641Z"},"properties":{"provisioningState":"Succeeded","credentials":{"username":"cdmlab\\cdmlabuser"},"fqdn":"10.184.152.166","port":8100,"connectionStatus":"Connected","uuid":"09140551-caab-471f-99b9-9c69ab0ff912","version":"10.22.1508.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000e147-0000-3300-0000-650bff700000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver","name":"azcli-test-vmmserver","type":"microsoft.scvmm/vmmservers","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-20T06:54:50.4131794Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-09-21T08:31:44.1276641Z"},"properties":{"provisioningState":"Succeeded","credentials":{"username":"cdmlab\\cdmlabuser"},"fqdn":"10.184.152.166","port":8100,"connectionStatus":"Connected","uuid":"09140551-caab-471f-99b9-9c69ab0ff912","version":"10.22.1508.0"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - a04fcb70-6c90-44ce-af9f-bada18c70525
      - 854d5bf4-1ae5-4633-919c-e1a5dc5c7690
      - 5fa8a90d-1f53-4fbb-b14d-251c2226af96
      - c997696c-0d58-48d4-94e2-3bad11df34ed
      - 52014b9c-e56d-4c2c-85c2-e98afd4e82c7
      - 2a9920ee-9d1d-4682-a952-f1a5426eb648
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/inventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/InventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e","name":"e27d3a99-8369-4748-a7f0-9526aa8a010e","type":"microsoft.scvmm/vmmservers/inventoryitems","kind":"Cloud","systemData":{"createdBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","createdByType":"Application","createdAt":"2023-08-20T06:55:57.7782586Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-09-21T05:44:14.8646126Z"},"properties":{"inventoryItemName":"azcli-test-cloud","uuid":"e27d3a99-8369-4748-a7f0-9526aa8a010e","inventoryType":"Cloud","provisioningState":"Succeeded","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100e8ff-0000-3300-0000-650bd82f0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/inventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf1f?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/InventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","name":"6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","type":"microsoft.scvmm/vmmservers/inventoryitems","kind":"VirtualMachineTemplate","systemData":{"createdBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","createdByType":"Application","createdAt":"2023-08-20T06:56:01.7704198Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-09-21T05:44:40.6935498Z"},"properties":{"inventoryItemName":"azcli-test-vm-template-win19","uuid":"6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","cpuCount":4,"memoryMB":2048,"osType":"Windows","osName":"Windows
        Server 2019 Standard","inventoryType":"VirtualMachineTemplate","provisioningState":"Succeeded","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualMachineTemplates/azcli-test-vm-template-win19"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100f0ff-0000-3300-0000-650bd8490000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e",
      "vmmServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud","name":"azcli-test-cloud","type":"microsoft.scvmm/clouds","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","createdByType":"Application","createdAt":"2023-09-21T05:43:45.4351454Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-09-21T08:32:30.8804744Z"},"properties":{"provisioningState":"Accepted","cloudName":"azcli-test-cloud","cloudCapacity":{"cpuCount":10,"memoryMB":10240,"vmCount":10},"storageQoSPolicies":[],"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e","vmmServerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/323ae3eb-3982-4c5b-88e4-5c916171243d*BE67BFE8DF1A7B5C081629138915A6883151B731C452C357F3AF2BFDA6AC4F7F?api-version=2023-04-01-preview&t=638308819534430197&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNMjQwNzI3MTUxMzA3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/323ae3eb-3982-4c5b-88e4-5c916171243d*BE67BFE8DF1A7B5C081629138915A6883151B731C452C357F3AF2BFDA6AC4F7F?api-version=2023-04-01-preview&t=638308819534430197&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
[...]
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/7a51390c-e787-4f63-b507-b9f8a4c5a2f8*362829E83AC227EA537CA9DA5EB5004B5F01D5D228A42F8A34E4B7A02DF277A1?api-version=2023-04-01-preview&t=638308819874634720&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualMachineTemplates/azcli-test-vm-template-win19?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualMachineTemplates/azcli-test-vm-template-win19","name":"azcli-test-vm-template-win19","type":"microsoft.scvmm/virtualmachinetemplates","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","createdByType":"Application","createdAt":"2023-09-21T05:44:24.0816456Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-09-21T08:33:24.948953Z"},"properties":{"provisioningState":"Succeeded","limitCpuForMigration":"false","dynamicMemoryEnabled":"false","isHighlyAvailable":"false","isCustomizable":"true","networkInterfaces":[{"name":"nic_1","displayName":"Network
        Adapter 1","virtualNetworkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualNetworks/azcli-test-virtual-network","nicId":"0b6d13b3-3d0f-4a31-935f-5b5d3e6420e2","networkName":"5e1432af-6099-4a9f-b33d-b6a6ce93a526","ipv4AddressType":"Dynamic","ipv6AddressType":"Dynamic","macAddressType":"Dynamic"}],"disks":[{"name":"disk_1","displayName":"X64-EN-WINDOWS
        SERVER RS5-ServerDataCenter-VL.vhd","diskId":"5548f0dc-a96e-4d2e-a787-69f4f171788f","diskSizeGB":9,"maxDiskSizeGB":40,"bus":0,"lun":0,"busType":"IDE","vhdType":"Dynamic","volumeType":"BootAndSystem","vhdFormatType":"VHD","createDiffDisk":"false"}],"cpuCount":4,"osType":"Windows","osName":"Windows
        Server 2019 Standard","computerName":"*","memoryMB":2048,"generation":1,"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","vmmServerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver","uuid":"6f8f6517-8f3b-41b2-8b60-8d91a672bf1f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"390146d7-0000-3300-0000-650bffd50000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/5e1432af-6099-4a9f-b33d-b6a6ce93a5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/460a6608-7250-4e39-bb00-8887a1716c41*6451DAD07D5FFC42CAAFC82ACD1C9EE7B1A7772A305864C0215420AF2291C230?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/460a6608-7250-4e39-bb00-8887a1716c41*6451DAD07D5FFC42CAAFC82ACD1C9EE7B1A7772A305864C0215420AF2291C230","name":"460a6608-7250-4e39-bb00-8887a1716c41*6451DAD07D5FFC42CAAFC82ACD1C9EE7B1A7772A305864C0215420AF2291C230","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualNetworks/azcli-test-virtual-network","status":"Succeeded","startTime":"2023-09-21T08:33:41.3837012Z","endTime":"2023-09-21T08:34:00.0068476Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0a00b2b5-0000-3300-0000-650bfff80000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"availabilitySetName": "avset1", "vmmServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/availabilitySets/azcli-test-avset1?api-version=2023-04-01-preview
  response:
    body:
      string: '{[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1","name":"azcli-test-vm-1","location":"eastus2euap","tags":{},"kind":"SCVMM","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","osProfile":{},"vmId":"25d2b3b1-77f9-4baa-be78-636278d06fbc","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"extendedLocation": {"type": "customLocation", "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"availabilitySets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/availabilitysets/azcli-test-avset1"}],
      "networkProfile": {"networkInterfaces": [{"name": "nic_1", "virtualNetworkId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualnetworks/azcli-test-virtual-network",
      "ipv4AddressType": "Dynamic", "ipv6AddressType": "Dynamic", "macAddressType":
      "Dynamic"}]}, "storageProfile": {"disks": [{"name": "disk_1", "diskSizeGB":
      2, "bus": 0}]}, "infrastructureProfile": {"cloudId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud",
      "templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualmachinetemplates/azcli-test-vm-template-win19"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default?api-version=2023[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/52d0bad2-0ddc-4f37-bf26-cc955c563067*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview&t=638308820988678849&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/start?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/d8364ff5-20fe-46ee-9067-5a97099fd820*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/d8364ff5-20fe-46ee-9067-5a97099fd820*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - 9beae79e-cab0-49f5-8f4f-09b01461282d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1","name":"azcli-test-vm-1","location":"eastus2euap","tags":{},"kind":"SCVMM","identity":{"type":"SystemAssigned","principalId":"fe638195-998e-4e10-88bd-7eadef57cd03","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Updating","osProfile":{},"vmId":"25d2b3b1-77f9-4baa-be78-636278d06fbc","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"credentials": {"username": "Administrator", "password":
      "Password~1"}, "provisioningAction": "install"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/guestAgents/default?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/1128bcb1-7c8e-4945-ae50-1ae33186d168*A5A2198B02E19180216FE8A3086B2950BEC0346E9BFFCC878B0B7C78C5710BD5?api-version=2023-04-01-preview&t=638308823939142142&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"publisher": "Microsoft.Compute",
      "type": "CustomScriptExtension", "settings": {"commandToExecute": "whoami"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/extensions/RunCommand?api-version=2023-04-25-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/b0ba309c-dc0c-4fa5-83a3-429a19824725?api-version=2023-04-25-preview&t=638308826105158512&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNMjQwNzI3M[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/extensions/RunCommand?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/extensions/RunCommand","name":"RunCommand","type":"Microsoft.HybridCompute/machines/extensions","location":"eastus2euap","properties":{"publisher":"Microsoft.Compute","type":"CustomScriptExtension","typeHandlerVersion":"1.10.15","autoUpgradeMinorVersion":false,"enableAutomaticUpgrade":true,"settings":{"commandToExecute":"whoami"},"provisioningState":"Succeeded","instanceView":{"name":"RunCommand","type":"CustomScriptExtension","typeHandlerVersion":"1.10.15","status":{"code":"0","level":"Information","message":"Extension
        Message: Command execution finished, StdOut: nt authority\\system\r\n"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus2euap/operationstatus/6c1d1a6a-6861-4700-8064-92bf5aca0061?api-version=2023-04-25-preview&t=2023-09-21T08%3A47%3A34&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0WhcNMjQw[...]
[...]
- request:
    body: '{"skipShutdown": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/stop?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.S[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/df492e67-9b4f-45d2-90ce-d2a748ac6e43*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview&t=638308831017372396&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
[...]
- request:
    body: '{"properties": {"hardwareProfile": {"cpuCount": 6, "dynamicMemoryEnabled":
      "true"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - http[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/c72ed38f-011a-4307-ac0d-82055148ae93*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview&t=638308831347450162&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
[...]
- request:
    body: '{"name": "azcli-test-checkpoint", "description": "azcli-test-checkpoint"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/createCheckpoint?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/6b25ea46-86d7-454c-980d-c02f8d2ac615*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview&t=638308831674182872&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNM[...]
[...]
- request:
    body: '{"id": "DEF90A8B-4A4E-4FA6-B3C1-617169B1A68A"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/restoreCheckpoint?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/f96d6e51-0773-4875-ae9d-25127f2d39e4*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/f96d6e51-0773-4875-ae9d-25127f2d39e4*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - 6b41ba2a-8f67-4051-9394-550ea0a1417c
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"id": "DEF90A8B-4A4E-4FA6-B3C1-617169B1A68A"}'
    headers:
      Content-Type:
      - application/json
[...]
