interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver","name":"azcli-test-vmmserver","type":"microsoft.scvmm/vmmservers","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-20T06:54:50.4131794Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-08-20T11:45:20.6921133Z"},"properties":{"provisioningState":"Succeeded","credentials":{"username":"cdmlab\\cdmlabuser"},"fqdn":"10.184.152.166","port":8100,"connectionStatus":"Connected","uuid":"09140551-caab-471f-99b9-9c69ab0ff912","version":"10.22.1508.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2300e819-0000-3400-0000-64e1fcd00000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver","name":"azcli-test-vmmserver","type":"microsoft.scvmm/vmmservers","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-20T06:54:50.4131794Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-08-20T11:45:20.6921133Z"},"properties":{"provisioningState":"Succeeded","credentials":{"username":"cdmlab\\cdmlabuser"},"fqdn":"10.184.152.166","port":8100,"connectionStatus":"Connected","uuid":"09140551-caab-471f-99b9-9c69ab0ff912","version":"10.22.1508.0"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 52880800-efd3-47a4-a5a1-6d75b08d9b07
      - 95a43afd-3c58-47a7-b43a-7fbfa0183020
      - 93148715-eb6f-4fbf-9dc7-aa2b75e9dfd6
      - 477cadf2-0264-4893-83e2-fb24d3e14f6b
      - a6a7bdf5-f346-4922-b43b-d54d3ad3b2d1
      - 94aa0c16-734f-436b-b75a-cc883d5a2fee
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/inventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/InventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e","name":"e27d3a99-8369-4748-a7f0-9526aa8a010e","type":"microsoft.scvmm/vmmservers/inventoryitems","kind":"Cloud","systemData":{"createdBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","createdByType":"Application","createdAt":"2023-08-20T06:55:57.7782586Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-08-20T07:00:02.8084814Z"},"properties":{"inventoryItemName":"azcli-test-cloud","uuid":"e27d3a99-8369-4748-a7f0-9526aa8a010e","inventoryType":"Cloud","provisioningState":"Succeeded","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00006275-0000-3400-0000-64e1b9f30000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/inventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf1f?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver/InventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","name":"6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","type":"microsoft.scvmm/vmmservers/inventoryitems","kind":"VirtualMachineTemplate","systemData":{"createdBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","createdByType":"Application","createdAt":"2023-08-20T06:56:01.7704198Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-08-20T07:00:45.9652062Z"},"properties":{"inventoryItemName":"azcli-test-vm-template-win19","uuid":"6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","cpuCount":4,"memoryMB":2048,"osType":"Windows","osName":"Windows
        Server 2019 Standard","inventoryType":"VirtualMachineTemplate","provisioningState":"Succeeded","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualMachineTemplates/azcli-test-vm-template-win19"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00006975-0000-3400-0000-64e1ba1e0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e",
      "vmmServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud","name":"azcli-test-cloud","type":"microsoft.scvmm/clouds","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-08-20T11:57:36.0118844Z"},"properties":{"provisioningState":"Accepted","cloudName":"azcli-test-cloud","cloudCapacity":{"cpuCount":10,"memoryMB":10240,"vmCount":10},"storageQoSPolicies":[],"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/e27d3a99-8369-4748-a7f0-9526aa8a010e","vmmServerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/352fec12-239e-4558-b11f-65875b500697*BE67BFE8DF1A7B5C081629138915A6883151B731C452C357F3AF2BFDA6AC4F7F?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"08001e17-0000-3400-0000-64e1ffb30000"'
      mise-correlation-id:
      - 85a6bdfb-b539-44cb-8428-e67be20f9e2e
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/352fec12-239e-4558-b11f-65875b500697*BE67BFE8DF1A7B5C081629138915A6883151B731C452C357F3AF2BFDA6AC4F7F?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/352fec12-239e-4558-b11f-65875b500697*BE67BFE8DF1A7B5C081629138915A6883151B731C452C357F3AF2BFDA6AC4F7F","name":"352fec12-239e-4558-b11f-65875b500697*BE67BFE8DF1A7B5C081629138915A6883151B731C452C357F3AF2BFDA6AC4F7F","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud","status":"Succeeded","startTime":"2023-08-20T11:57:36.9733209Z","endTime":"2023-08-20T11:57:56.2772683Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"02003293-0000-3400-0000-64e1ffc40000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualMachineTemplates/azcli-test-vm-template-win19?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualMachineTemplates/azcli-test-vm-template-win19","name":"azcli-test-vm-template-win19","type":"microsoft.scvmm/virtualmachinetemplates","location":"eastus2euap","extendedLocation":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl","type":"customLocation"},"systemData":{"createdBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","createdByType":"Application","createdAt":"2023-08-20T07:00:25.8012654Z","lastModifiedBy":"319f651f-7ddb-4fc6-9857-7aef9250bd05","lastModifiedByType":"Application","lastModifiedAt":"2023-08-20T11:58:32.7982438Z"},"properties":{"provisioningState":"Succeeded","limitCpuForMigration":"false","dynamicMemoryEnabled":"false","isHighlyAvailable":"false","isCustomizable":"true","networkInterfaces":[{"name":"nic_1","displayName":"Network
        Adapter 1","virtualNetworkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualNetworks/azcli-test-virtual-network","nicId":"0b6d13b3-3d0f-4a31-935f-5b5d3e6420e2","networkName":"5e1432af-6099-4a9f-b33d-b6a6ce93a526","ipv4AddressType":"Dynamic","ipv6AddressType":"Dynamic","macAddressType":"Dynamic"}],"disks":[{"name":"disk_1","displayName":"X64-EN-WINDOWS
        SERVER RS5-ServerDataCenter-VL.vhd","diskId":"5548f0dc-a96e-4d2e-a787-69f4f171788f","diskSizeGB":9,"maxDiskSizeGB":40,"bus":0,"lun":0,"busType":"IDE","vhdType":"Dynamic","volumeType":"BootAndSystem","vhdFormatType":"VHD","createDiffDisk":"false"}],"cpuCount":4,"osType":"Windows","osName":"Windows
        Server 2019 Standard","computerName":"*","memoryMB":2048,"generation":1,"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/6f8f6517-8f3b-41b2-8b60-8d91a672bf1f","vmmServerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmServers/azcli-test-vmmserver","uuid":"6f8f6517-8f3b-41b2-8b60-8d91a672bf1f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0d0039cc-0000-3400-0000-64e1ffe80000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver/InventoryItems/5e1432af-6099-4a9f-b33d-b6a6ce93a5[...]
[...]
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"type": "customLocation",
      "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"availabilitySetName": "avset1", "vmmServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/vmmservers/azcli-test-vmmserver"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/availabilitySets/azcli-test-avset1?api-version=2023-04-01-preview
  response:
    body:
      string: '{[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1","name":"azcli-test-vm-1","location":"eastus2euap","tags":{},"kind":"SCVMM","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","osProfile":{},"vmId":"25d2b3b1-77f9-4baa-be78-636278d06fbc","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false},"licenseProfile":{"esuProfile":{"serverType":"Unknown","esuEligibility":"Unknown","esuKeyState":"Inactive"}}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"extendedLocation": {"type": "customLocation", "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ExtendedLocation/customLocations/azcli-test-cl"},
      "properties": {"availabilitySets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/availabilitysets/azcli-test-avset1"}],
      "networkProfile": {"networkInterfaces": [{"name": "nic_1", "virtualNetworkId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualnetworks/azcli-test-virtual-network",
      "ipv4AddressType": "Dynamic", "ipv6AddressType": "Dynamic", "macAddressType":
      "Dynamic"}]}, "storageProfile": {"disks": [{"name": "disk_1", "diskSizeGB":
      2, "bus": 0}]}, "infrastructureProfile": {"cloudId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/clouds/azcli-test-cloud",
      "templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.ScVmm/virtualmachinetemplates/azcli-test-vm-template-win19"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default?api-version=2023[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/start?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/24407bbd-c21c-47ab-a5c0-9ee15b982fd6*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/24407bbd-c21c-47ab-a5c0-9ee15b982fd6*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - ae5898b2-2a33-4ea1-8806-23a4aaaaf9b3
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"skipShutdown": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/stop?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/ab22f84d-08aa-467b-9355-63457085e31e*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/ab22f84d-08aa-467b-9355-63457085e31e*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - 8eae9157-ca50-46da-907d-42320be5e30e
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"properties": {"hardwareProfile": {"cpuCount": 6, "dynamicMemoryEnabled":
      "true"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/1d93a883-19fb-4b52-8f4f-f355834c7e43*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"89003fe4-0000-3400-0000-64e201800000"'
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/1d93a883-19fb-4b52-8f4f-f355834c7e43*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - 711c1408-aa68-4c71-b0ae-0e60c845d918
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"name": "azcli-test-checkpoint", "description": "azcli-test-checkpoint"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/createCheckpoint?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/ac01590c-252a-49b1-9d47-446754a5c6f9*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/ac01590c-252a-49b1-9d47-446754a5c6f9*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - ab76e7e6-b8a4-4817-8908-8b10ddc3c6e9
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"id": "6A984426-B30F-42F4-A1D1-96420C8610C4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/restoreCheckpoint?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/a83bc044-719c-4839-b33b-21b8c249aeca*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/a83bc044-719c-4839-b33b-21b8c249aeca*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - 69a8ebc4-be71-4b91-9b4d-6e7d09190786
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"id": "6A984426-B30F-42F4-A1D1-96420C8610C4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg-vmm/providers/Microsoft.HybridCompute/machines/azcli-test-vm-1/providers/Microsoft.ScVmm/virtualMachineInstances/default/deleteCheckpoint?api-version=2023-04-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/c5401980-e689-4695-aede-14235f5ac349*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ScVmm/locations/EASTUS2EUAP/operationStatuses/c5401980-e689-4695-aede-14235f5ac349*4C0A913DD8DE78F68F04CEDAC7FA28DFA3E5E38D68A034F14EDA060F5D4991A8?api-version=2023-04-01-preview
      mise-correlation-id:
      - eb76e8f8-eb5f-4cf5-af40-608e94f92016
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
