# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

import uuid
from msrest.pipeline import ClientRawResponse

from .. import models
import os
import subprocess
from kubernetes import client, config
from subprocess import Popen, PIPE
import os.path, json
from knack.util import CLIError

class ConnectedClusterOperations(object):
    """ConnectedClusterOperations operations.

    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    :ivar api_version: Version of the API called. Constant value: "2019-09-01-privatepreview".
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):

        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self.api_version = "2019-09-01-privatepreview"

        self.config = config

    def create(
            self, resource_group_name, cluster_name, onboarding_tenant_id, onboarding_spn_id, onboarding_spn_secret, location, kube_config, kube_context, custom_headers=None, raw=False, **operation_config):
        subscription_id = self.config.subscription_id
        if ((kube_config is not None and os.path.isfile(kube_config) is False) or kube_config is None):
            print("The kube config file does not exist or the Path is invalid. Using default kube config ...")
            kube_config = os.getenv('KUBECONFIG')
            if(kube_config is None):
                kube_config = "C:\\Users\\akkeshar\\.kube\\config"
        contexts = config.list_kube_config_contexts(config_file=kube_config)
        contexts_list = []
        for ctxs in contexts[0]:
            contexts_list.append(ctxs.get('name'))
        if(kube_context not in contexts_list):
            print("The kube context does on exist. Using default context ...")
            kube_context = contexts[1].get('name')

        cmd1 = "helm repo add haikupreview https://haikupreview.azurecr.io/helm/v1/repo"
        response1 = subprocess.Popen(cmd1, stdout=PIPE, stderr=PIPE)
        output1, error1 = response1.communicate()
        if response1.returncode != 0:
            raise CLIError(error1) 
        else:
            print(output1)

        cmd2 = "helm fetch haikupreview/haiku-agents"
        response2 = subprocess.Popen(cmd2, stdout=PIPE, stderr=PIPE)
        output2, error2 = response2.communicate()
        if response2.returncode != 0:
            raise CLIError(error2) 
        else:
            print(output2)
        
        env3 = os.environ.copy()
        env3["KUBECONFIG"] = kube_config
        env3["HELM_KUBECONTEXT"] = kube_context
        cmd3 = "helm install haiku haiku-agents-0.1.7.tgz --set global.subscriptionId={} --set global.resourceGroupName={} --set global.resourceName={} --set global.location={} --set global.tenantId={} --set global.clientId={} --set global.clientSecret={} --output json".format(subscription_id, resource_group_name, cluster_name, location, onboarding_tenant_id, onboarding_spn_id, onboarding_spn_secret)
        response3 = subprocess.Popen(cmd3, env=env3, stdout=PIPE, stderr=PIPE)
        output3, error3 = response3.communicate()
        if response3.returncode != 0:
            raise CLIError(error3) 
        else:
            #get_res = self.get(cluster_name, resource_group_name)
            print("Haiku agents deployed successfully")
        return
        """Registers a new K8s cluster.

        API to register a new K8s cluster and thereby create a tracked resource
        in ARM.

        :param resource_group_name: The name of the resource group to which
         the kubernetes cluster is registered.
        :type resource_group_name: str
        :param cluster_name: The name of the Kubernetes cluster on which get
         is called.
        :type cluster_name: str
        :param connected_cluster:
        :type connected_cluster:
         ~azure.mgmt.hybridkubernetes.models.ConnectedCluster
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: ConnectedCluster or ClientRawResponse if raw=true
        :rtype: ~azure.mgmt.hybridkubernetes.models.ConnectedCluster or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        # Construct URL
        url = self.create.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'clusterName': self._serialize.url("cluster_name", cluster_name, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(connected_cluster, 'ConnectedCluster')

        # Construct and send request
        request = self._client.put(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 201]:
            raise models.ErrorResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('ConnectedCluster', response)
        if response.status_code == 201:
            deserialized = self._deserialize('ConnectedCluster', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    create.metadata = {'url': '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters/{clusterName}'}

    def update(
            self, resource_group_name, cluster_name, tags=None, custom_headers=None, raw=False, **operation_config):
        """Updates a connected cluster.

        API to update certain properties of the connected cluster resource.

        :param resource_group_name: The name of the resource group to which
         the kubernetes cluster is registered.
        :type resource_group_name: str
        :param cluster_name: The name of the Kubernetes cluster on which get
         is called.
        :type cluster_name: str
        :param tags: Resource tags.
        :type tags: dict[str, str]
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: ConnectedCluster or ClientRawResponse if raw=true
        :rtype: ~azure.mgmt.hybridkubernetes.models.ConnectedCluster or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        connected_cluster_patch = models.ConnectedClusterPatch(tags=tags)

        # Construct URL
        url = self.update.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'clusterName': self._serialize.url("cluster_name", cluster_name, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(connected_cluster_patch, 'ConnectedClusterPatch')

        # Construct and send request
        request = self._client.patch(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.ErrorResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('ConnectedCluster', response)



        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    update.metadata = {'url': '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters/{clusterName}'}

    def get(
            self, resource_group_name, cluster_name, custom_headers=None, raw=False, **operation_config):
        """Gets data of the specified cluster.

        API to get the properties of a specific registered K8s cluster.

        :param resource_group_name: The name of the resource group to which
         the kubernetes cluster is registered.
        :type resource_group_name: str
        :param cluster_name: The name of the Kubernetes cluster on which get
         is called.
        :type cluster_name: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: ConnectedCluster or ClientRawResponse if raw=true
        :rtype: ~azure.mgmt.hybridkubernetes.models.ConnectedCluster or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        #print("test2")
        # Construct URL
        url = self.get.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'clusterName': self._serialize.url("cluster_name", cluster_name, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)
        print(url)
        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.ErrorResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('ConnectedCluster', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    get.metadata = {'url': '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters/{clusterName}'}

    def delete(
            self, resource_group_name, cluster_name, kube_config, kube_context, custom_headers=None, raw=False, **operation_config):
        #print("test")
        #return
        #cmd_delete_agent = "helm delete haiku"
        #res_delete_agent = os.system(cmd_delete_agent)
        #print(res_delete_agent)
        """Deletes a specified cluster.

        API to delete an existing K8s cluster being tracked.

        :param resource_group_name: The name of the resource group to which
         the kubernetes cluster is registered.
        :type resource_group_name: str
        :param cluster_name: The name of the Kubernetes cluster on which get
         is called.
        :type cluster_name: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: None or ClientRawResponse if raw=true
        :rtype: None or ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        url_config = self.delete.metadata['url']
        url = url_config + "/providers/Microsoft.KubernetesConfiguration/sourceControlConfigurations"
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'clusterName': self._serialize.url("cluster_name", cluster_name, 'str')
        }
        url_config = self._client.format_url(url, **path_format_arguments)
        print(url_config)

        query_parameters_config = {}
        query_parameters_config['api-version'] = "2019-11-01-preview"
        print(query_parameters_config)


        request_config = self._client.get(url_config, query_parameters_config)
        response_config = self._client.send(request_config, stream=False, **operation_config)
        print(response_config.status_code)
        #print("test")
        if response_config.status_code not in [200]:
            raise models.ErrorResponseException(self._deserialize, response_config)
        if response_config.status_code == 200:
            #print(response_config['name'])
            deserialized = self._deserialize('ConnectedCluster', response_config)

        for conf in deserialized.additional_properties['value']:
            temp_req = self._client.delete(url_config+"/"+conf['name'], query_parameters_config)
            temp_res = self._client.send(temp_req, stream=False, **operation_config)
            if response_config.status_code not in [200, 202]:
                raise models.ErrorResponseException(self._deserialize, temp_res)
        
        print("All configs deleted")
        #print(deserialized[1].name)
        #print("config_deleted")

        # Construct URL
        url = self.delete.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'clusterName': self._serialize.url("cluster_name", cluster_name, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)
        print(url)
        #url = url + "/providers/Microsoft.KubernetesConfiguration/sourceControlConfigurations/cluster2"
        #print(url)
        
        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        print(query_parameters)

        # Construct headers
        header_parameters = {}
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.delete(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 204]:
            raise models.ErrorResponseException(self._deserialize, response)


        if ((kube_config is not None and os.path.isfile(kube_config) is False) or kube_config is None):
            print("The kube config file does not exist or the Path is invalid. Using default kube config ...")
            kube_config = os.getenv('KUBECONFIG')
            if(kube_config is None):
                kube_config = "C:\\Users\\akkeshar\\.kube\\config"
        contexts = config.list_kube_config_contexts(config_file=kube_config)
        contexts_list = []
        for ctxs in contexts[0]:
            contexts_list.append(ctxs.get('name'))
        if(kube_context not in contexts_list):
            print("The kube context does on exist. Using default context ...")
            kube_context = contexts[1].get('name')

        env = os.environ.copy()
        env["KUBECONFIG"] = kube_config
        env["HELM_KUBECONTEXT"] = kube_context
        cmd = "helm delete haiku"
        response_del = subprocess.Popen(cmd, env=env, stdout=PIPE, stderr=PIPE)
        output, error = response_del.communicate()
        if response_del.returncode != 0:
            raise CLIError(error) 
        else:
            #get_res = self.get(cluster_name, resource_group_name)
            print(output)

        if raw:
            client_raw_response = ClientRawResponse(None, response)
            return client_raw_response
    delete.metadata = {'url': '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters/{clusterName}'}

    def list_credentials(
            self, resource_group_name, cluster_name, custom_headers=None, raw=False, **operation_config):
        """Lists the endpoint and credentials details to connect to the K8s
        cluster's API server.

        API to fetch endpoint and credential details to connect to the K8s
        cluster’s API server via Azure.

        :param resource_group_name: The name of the resource group to which
         the kubernetes cluster is registered.
        :type resource_group_name: str
        :param cluster_name: The name of the Kubernetes cluster on which get
         is called.
        :type cluster_name: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: ConnectedClusterAccessProfile or ClientRawResponse if
         raw=true
        :rtype:
         ~azure.mgmt.hybridkubernetes.models.ConnectedClusterAccessProfile or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        # Construct URL
        url = self.list_credentials.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'clusterName': self._serialize.url("cluster_name", cluster_name, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.ErrorResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('ConnectedClusterAccessProfile', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    list_credentials.metadata = {'url': '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters/{clusterName}/listCredentials'}

    def list_by_resource_group(
            self, resource_group_name, custom_headers=None, raw=False, **operation_config):
        """Lists all connected clusters.

        API to enumerate registered connected K8s clusters under a Resource
        Group.

        :param resource_group_name: The name of the resource group to which
         the kubernetes cluster is registered.
        :type resource_group_name: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: An iterator like instance of ConnectedCluster
        :rtype:
         ~azure.mgmt.hybridkubernetes.models.ConnectedClusterPaged[~azure.mgmt.hybridkubernetes.models.ConnectedCluster]
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        def internal_paging(next_link=None, raw=False):

            if not next_link:
                # Construct URL
                url = self.list_by_resource_group.metadata['url']
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str'),
                    'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str')
                }
                url = self._client.format_url(url, **path_format_arguments)
                print(url)
                # Construct parameters
                query_parameters = {}
                query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

            else:
                url = next_link
                query_parameters = {}

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'
            if self.config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
            if custom_headers:
                header_parameters.update(custom_headers)
            if self.config.accept_language is not None:
                header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            print("1")
            response = self._client.send(request, stream=False, **operation_config)
            print(response)
            if response.status_code not in [200]:
                raise models.ErrorResponseException(self._deserialize, response)

            return response

        # Deserialize response
        deserialized = models.ConnectedClusterPaged(internal_paging, self._deserialize.dependencies)

        if raw:
            header_dict = {}
            client_raw_response = models.ConnectedClusterPaged(internal_paging, self._deserialize.dependencies, header_dict)
            return client_raw_response

        return deserialized
    list_by_resource_group.metadata = {'url': '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Kubernetes/connectedClusters'}

    def list_by_subscription(
            self, custom_headers=None, raw=False, **operation_config):
        """Lists all connected clusters.

        API to enumerate registered connected K8s clusters under a
        Subscription.

        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: An iterator like instance of ConnectedCluster
        :rtype:
         ~azure.mgmt.hybridkubernetes.models.ConnectedClusterPaged[~azure.mgmt.hybridkubernetes.models.ConnectedCluster]
        :raises:
         :class:`ErrorResponseException<azure.mgmt.hybridkubernetes.models.ErrorResponseException>`
        """
        def internal_paging(next_link=None, raw=False):

            if not next_link:
                # Construct URL
                url = self.list_by_subscription.metadata['url']
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("self.config.subscription_id", self.config.subscription_id, 'str')
                }
                url = self._client.format_url(url, **path_format_arguments)
                print(url)
                # Construct parameters
                query_parameters = {}
                query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

            else:
                url = next_link
                query_parameters = {}

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'
            if self.config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
            if custom_headers:
                header_parameters.update(custom_headers)
            if self.config.accept_language is not None:
                header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            response = self._client.send(request, stream=False, **operation_config)
            print(response)

            if response.status_code not in [200]:
                raise CLIError(models.ErrorResponseException(self._deserialize, response))

            return response

        # Deserialize response
        deserialized = models.ConnectedClusterPaged(internal_paging, self._deserialize.dependencies)

        if raw:
            header_dict = {}
            client_raw_response = models.ConnectedClusterPaged(internal_paging, self._deserialize.dependencies, header_dict)
            return client_raw_response

        return deserialized
    list_by_subscription.metadata = {'url': '/subscriptions/{subscriptionId}/providers/Microsoft.Kubernetes/connectedClusters'}
