interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000003%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '543252'
      ocp-aad-diagnostics-server-name:
      - GYtrl7n5z84eTj2S4sd74eB78FIUomXxNU+Efgry7Z0=
      ocp-aad-session-key:
      - iVHrXtLdku-96n0eyfAs4S4fjTuL3fzf1E1XMDCDf-m1wMRbX-DdqBXTv7635RM9Y-1aivNNs8IsoNCWdpOBRRnXRBgCLvdLUMjKaFH1jyuYJ_DQSlQc63U_QQgnmenDBPRMx6xKDkalfkFlHil5SiQVhki61LF-WlnmtYKrf9E.Q4sjdnsuoLj2bh0-kWd6-u1FL5GhPs6dJhDl_hHIEHI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "displayName": "cli-app-000003", "identifierUris":
      []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "be0018fe-17e3-4862-bf44-dbd988a343b9", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "8b26532d-d780-4281-bf2a-d34986599993",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000003", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/be0018fe-17e3-4862-bf44-dbd988a343b9/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/be0018fe-17e3-4862-bf44-dbd988a343b9/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000003 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000003", "id": "2a464c9f-db94-4bbe-b70d-6d3c5c35d660",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000003 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000003", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": null, "publisherDomain": "microsoft.onmicrosoft.com",
        "recordConsentConditions": null, "replyUrls": [], "requiredResourceAccess":
        [], "samlMetadataUrl": null, "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId":
        null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '18748597'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/be0018fe-17e3-4862-bf44-dbd988a343b9/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - V4LyF+fW7dVDnbQSD93Eu2zUVker34FTdLJ2R4KDzBM=
      ocp-aad-session-key:
      - bdGk56XSoRdzPem3qNmlaTyEuhJnNqXqU8HmiJoe9wVQOhxCbvGFvjvFuV26uZYorKD1F_IzJojAag98BH6PtpXiExVxXot7a0dLzmCkhywcGekbwvIVCAQfIGajzfvWSeNZw4BJAJfhPcGjpF5bb8DE3BojQZVDGshEuNRupk4.MBbUYW5_SjuILGtqHxEXTlin7VgKiyx2ZtvJFIsg0VI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2","name":"eastus2","displayName":"East
        US 2","regionalDisplayName":"(US) East US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-78.3889","latitude":"36.6681","physicalLocation":"Virginia","pairedRegion":[{"name":"centralus","id":"/subscriptions/00000000-0000-[...]
- request:
    body: '{"location": "eastus", "properties": {"aadClientId": "8b26532d-d780-4281-bf2a-d34986599993",
      "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes000001/providers/Microsoft.AzureStackHCI/clusters/cli-cluster-000002?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes000001/providers/Microsoft.AzureStackHCI/clusters/cli-cluster-000002","name":"cli-cluster-000002","type":"Microsoft.AzureStackHCI/clusters","location":"eastus","tags":{},"properties":{"provisioningState":"Succeeded","status":"NotYetRegistered","cloudId":"4451c2f4-ea30-4d99-a292-d3feb432478e","aadClientId":"8b26532d-d780-4281-bf2a-d34986599993","aadTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","trialDaysRemaining":30,"billingModel":"Trial"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600bae2-0000-0100-0000-5f509a6d0000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes000001/providers/Microsoft.AzureStackHCI/clusters?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes000001/providers/Microsoft.AzureStackHCI/clusters/cli-cluster-000002","name":"cli-cluster-000002","type":"Microsoft.AzureStackHCI/clusters","location":"eastus","tags":{},"properties":{"provisioningState":"Succeeded","status":"NotYetRegistered","cloudId":"4451c2f4-ea30-4d99-a292-d3feb432478e","aadClientId":"8b26532d-d780-4281-bf2a-d34986599993","aadTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","trialDaysRemaining":30,"billingModel":"Trial"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes000001/providers/Microsoft.AzureStackHCI/clusters/cli-cluster-000002?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes000001/providers/Microsoft.AzureStackHCI/clusters/cli-cluster-000002","name":"cli-cluster-000002","type":"Microsoft.AzureStackHCI/clusters","location":"eastus","tags":{"tag1":"value1","tag2":"value2"},"properties":{"provisioningState":"Succeeded","status":"NotYetRegistered","cloudId":"4451c2f4-ea30-4d99-a292-d3feb432478e","aadClientId":"8b26532d-d780-4281-bf2a-d34986599993","aadTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","trialDaysRemaining":30,"billingModel":"Trial"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600bbe2-0000-0100-0000-5f509a750000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%278b26532d-d780-4281-bf2a-d34986599993%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '304335'
      ocp-aad-diagnostics-server-name:
      - Zfcj18+pb9GrA4I7xiiLILiaLI4Sn/Cio44AsjdWq2g=
      ocp-aad-session-key:
      - xit8dVmFA8BitgTKkVTMB3MIsNjqqXw7lD2p2ZfZ8NzaWd-GuJKGkQ3ih8ZVbYg2tg1SG2wCyosLwLuERINmNWI7e_A6WuQD9W1wrN_0SD-Vk9IA8hjy8gXTXApvMzr4lXXmZsKn0hNrDt_Y-T0jImGm8yaOFBb2gkdrlKEVTtI.D752vznJZYg4DXKXdeLmbuEoKIuE0RNYuWaO0_M7N_o
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%278b26532d-d780-4281-bf2a-d34986599993%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"be0018fe-17e3-4862-bf44-dbd98[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/be0018fe-17e3-4862-bf44-dbd988a343b9?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5024021'
      ocp-aad-diagnostics-server-name:
      - KQ4/Gh+06yO3VmTU9kzbm/1JLgfe79aqLHWFsxLBLMI=
      ocp-aad-session-key:
      - j-19zBtXCXDs2Yb5tPCzM8v2Fi-xWNWR-VOun9NLbRcv5wxEGU82u6mZFBrA83H0bN5VTRCmF-paaFBTjPpudEEbeC4K9kPbPmX5TnmyiXucPlRFieSxsMnIodH7E_CYzqlA-jKSSCWQQf4VUlNAXwZ-zRcGaeWXGbd6CwU3Fs4.3Kno8eAeUP9fPJ7SbeedbwzgwaiSJc8K4wOVptWoZDM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
