interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith%28displayName%2C%27app000004%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF0000EF91"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "app000004", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "2db277ef-f7f0-42e9-8969-3d580b872648", "deletedDateTime": null, "appId":
        "7859cd36-9ce8-457a-92ba-a84f0ce6f5b7", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2023-06-01T08:08:35.7321372Z", "displayName": "app000004",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [],
        "tokenEncryptionKeyId": null, "samlMetadataUrl": null, "defaultRedirectUri":
        null, "certification": null, "optionalClaims": null, "servicePrincipalLockConfiguration":
        null, "requestSignatureVerification": null, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes":
        [], "preAuthorizedApplications": []}, "appRoles": [], "info": {"logoUrl":
        null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl": null,
        "termsOfServiceUrl": null}, "keyCredentials": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": {"redirectUris": []}, "requiredResourceAccess": [], "verifiedPublisher":
        {"displayName": null, "verifiedPublisherId": null, "addedDateTime": null},
        "web": {"homePageUrl": null, "logoutUrl": null, "redirectUris": [], "implicitGrantSettings":
        {"enableAccessTokenIssuance": false, "enableIdTokenIssuance": false}, "redirectUriSettings":
        []}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/2db277ef-f7f0-42e9-8969-3d580b872648/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF0000EF97"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_stack_hci_cluster000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stack_hci_cluster000001","name":"cli_test_stack_hci_cluster000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_stack_hci_cluster_identity","date":"2023-06-01T08:08:31Z","module":"stack-hci"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus", "properties":
      {"aadClientId": "7859cd36-9ce8-457a-92ba-a84f0ce6f5b7", "aadTenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},
      "tags": {"key0": "value0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stack_hci_cluster000001/providers/Microsoft.AzureStackHCI/clusters/cluster000002?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stack_hci_cluster000001/providers/Microsoft.AzureStackHCI/clusters/cluster000002","name":"cluster000002","type":"microsoft.azurestackhci/clusters","location":"eastus","tags":{"key0":"value0"},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-06-01T08:08:41.1675897Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-01T08:08:41.1675897Z"},"identity":{"principalId":"ea916632-5e98-48cc-9e03-9a78077ccf54","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","status":"NotYetRegistered","cloudId":"d22639e4-5e89-45e5-907d-66a690e68dba","aadClientId":"7859cd36-9ce8-457a-92ba-a84f0ce6f5b7","aadTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","softwareAssuranceProperties":{"softwareAssuranceStatus":"Disabled","softwareAssuranceIntent":"Disable"},"desiredProperties":{"windowsServerSubscription":"Disabled","diagnosticLevel":"Basic"},"trialDaysRemaining":60,"billingModel":"Trial","serviceEndpoint":"https://dp.stackhci.azure.com/eastus/","resourceProviderObjectId":"dce429e3-98f6-46ba-8959-be060dd15eec"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"110027ee-0000-0100-0000-6478520b0000"'
      mise-correlation-id:
      - 8d1a3779-d240-4940-8c0e-f082d758febb
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stack_hci_cluster000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}, "location": "eastus", "properties": {"aadClientId": "7859cd36-9ce8-457a-92ba-a84f0ce6f5b7",
      "aadTenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "desiredProperties":
      {"diagnosticLevel": "Basic", "windowsServerSubscription": "Disabled"}, "softwareAssuranceProperties":
      {"softwareAssuranceIntent": "Disable", "softwareAssuranceStatus": "Disabled"}},
      "tags": {"key0": "value0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_stack_hci_cluster000001/providers/Microsoft.AzureStackHCI/clusters/cluster000002?api-version=2023-03-01
  response:
    body:
      string: '{"error":{"code":"CannotSetResourceIdentity","message":"Resource type
        ''Microsoft.AzureStackHCI/clusters'' does not support creation of ''UserAssigned''
        resource identity. The supported types are ''SystemAssigned''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
[...]
