interactions:
- request:
    body: '{"properties": {"peeringServiceLocation": "state1", "peeringServiceProvider":
      "serviceProvider1"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService?api-version=2019-09-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"peeringServiceLocation\": \"state1\"\
        ,\r\n    \"peeringServiceProvider\": \"serviceProvider1\",\r\n    \"provisioningState\"\
        : \"Succeeded\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"eTag\": \"4b580abd-dd9f-4575-a6fd-62e40ef30fa2\"\
        ,\r\n  \"name\": \"MyPeeringService\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService\"\
        ,\r\n  \"type\": \"Microsoft.Peering/peeringServices\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"prefix": "192.168.1.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix?api-version=2019-09-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"prefix\": \"192.168.1.0/24\",\r\n\
        \    \"prefixValidationState\": \"Pending\",\r\n    \"learnedType\": \"None\"\
        ,\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"eTag\": \"900b6eda-a289-4f24-899d-ec2b88b9218e\"\
        ,\r\n  \"name\": \"MyPeeringServicePrefix\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix\"\
        ,\r\n  \"type\": \"Microsoft.Peering/peeringServices/prefixes\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService?api-version=2019-09-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
