interactions:
- request:
    body: '{"properties": {"peeringServiceLocation": "California", "peeringServiceProvider":
      "Kordia Limited"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService?api-version=2019-09-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"peeringServiceLocation\": \"California\"\
        ,\r\n    \"peeringServiceProvider\": \"Kordia Limited\",\r\n    \"provisioningState\"\
        : \"Succeeded\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"eTag\": \"5e4db9b6-d321-4371-9bb5-6bd4f448a49c\"\
        ,\r\n  \"name\": \"MyPeeringService\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService\"\
        ,\r\n  \"type\": \"Microsoft.Peering/peeringServices\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"prefix": "192.168.1.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix?api-version=2019-09-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"prefix\": \"192.168.1.0/24\",\r\n\
        \    \"prefixValidationState\": \"Pending\",\r\n    \"learnedType\": \"None\"\
        ,\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"name\": \"MyPeeringServicePrefix\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService/prefixes/MyPeeringServicePrefix\"\
        ,\r\n  \"type\": \"Microsoft.Peering/peeringServices/prefixes\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_peering000001/providers/Microsoft.Peering/peeringServices/MyPeeringService?api-version=2019-09-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
