interactions:
- request:
    body: '{"location": "eastus", "properties": {"computeMode": "Serverless", "publicNetworkAccess":
      "Disabled"}, "sku": {"name": "Pxlekmx"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_expected_failures000001/providers/Microsoft.Databricks/workspaces/failed-workspace?api-version=2026-01-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"InvalidDatabricksSku\",\r\n
        \   \"message\": \"The SKU is invalid. The allowed SKUs are: ''Standard',
        'Premium', 'Trial''.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"location": "eastus", "properties": {"computeMode": "Serverless", "parameters":
      {"enableNoPublicIp": {"value": true}}}, "sku": {"name": "premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_expected_failures000001/providers/Microsoft.Databricks/workspaces/failed-workspace?api-version=2026-01-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"FeatureNotSupportedForServerlessWorkspace\",\r\n
        \   \"message\": \"The property 'Parameters' is not supported for Serverless
        Workspace\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"location": "eastus", "properties": {"computeMode": "Serverless", "requiredNsgRules":
      "AllRules"}, "sku": {"name": "premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_expected_failures000001/providers/Microsoft.Databricks/workspaces/failed-workspace?api-version=2026-01-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"FeatureNotSupportedForServerlessWorkspace\",\r\n
        \   \"message\": \"The property 'RequiredNsgRules' is not supported for Serverless
        Workspace\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 400
      message: Bad Request
version: 1
