interactions:
- request:
    body: '{"identity": {"type": "None"}, "location": "eastus", "properties": {"defaultMode":
      "IPS", "description": "local rulestacks", "minAppIdVersion": "8595-7473", "scope":
      "LOCAL", "securityServices": {"antiSpywareProfile": "BestPractice", "antiVirusProfile":
      "BestPractice", "dnsSubscription": "BestPractice", "fileBlockingProfile": "BestPractice",
      "urlFilteringProfile": "BestPractice", "vulnerabilityProfile": "BestPractice"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002","name":"localrulestack000002","type":"paloaltonetworks.cloudngfw/localrulestacks","location":"eastus","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-07-28T02:15:25.5732058Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T02:15:25.5732058Z"},"identity":{"type":"None"},"properties":{"scope":"LOCAL","description":"local
        rulestacks","minAppIdVersion":"8595-7473","provisioningState":"Accepted","securityServices":{"vulnerabilityProfile":"BestPractice","antiSpywareProfile":"BestPractice","antiVirusProfile":"BestPractice","urlFilteringProfile":"BestPractice","fileBlockingProfile":"BestPractice","dnsSubscription":"BestPractice","outboundUnTrustCertificate":null,"outboundTrustCertificate":null},"defaultMode":"IPS"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2?api-version=2022-08-29
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"39004321-0000-0100-0000-64c324be0000"'
      location:
      - https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2?api-version=2022-08-29
      mise-correlation-id:
      - 83ce4f18-829c-4555-8801-b2fd94b5dc1a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2","name":"4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002","status":"Accepted","startTime":"2023-07-28T02:15:26.6333959Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"04002a27-0000-0100-0000-64c324be0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2","name":"4d0ddb58-1cf2-4789-b1dc-911149d914e2*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002","status":"Succeeded","startTime":"2023-07-28T02:15:26.6333959Z","endTime":"2023-07-28T02:16:00.8592909Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0400ad27-0000-0100-0000-64c324e00000"'
    status:
      code: 200
      message: OK
[...]
{"scope":"LOCAL","description":"local
        rulestacks","minAppIdVersion":"8595-7473","provisioningState":"Succeeded","securityServices":{"vulnerabilityProfile":"BestPractice","antiSpywareProfile":"BestPractice","antiVirusProfile":"BestPractice","urlFilteringProfile":"BestPractice","fileBlockingProfile":"BestPractice","dnsSubscription":"BestPractice"},"defaultMode":"IPS","panEtag":"a7647476-2cec-11ee-9669-6eecfc0ae1a7"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3900b622-0000-0100-0000-64c324e00000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "None"}, "location": "eastus", "properties": {"defaultMode":
      "IPS", "description": "local rulestacks", "minAppIdVersion": "8595-7473", "panEtag":
      "a7647476-2cec-11ee-9669-6eecfc0ae1a7", "provisioningState": "Succeeded", "scope":
      "LOCAL", "securityServices": {"antiSpywareProfile": "BestPractice", "antiVirusProfile":
      "BestPractice", "dnsSubscription": "BestPractice", "fileBlockingProfile": "BestPractice",
      "urlFilteringProfile": "BestPractice", "vulnerabilityProfile": "BestPractice"}},
      "tags": {"tag-name": "value"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_loca[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002","name":"localrulestack000002","type":"paloaltonetworks.cloudngfw/localrulestacks","location":"eastus","tags":{"tag-name":"value"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-07-28T02:15:25.5732058Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T02:17:23.2387765Z"},"identity":{"type":"None"},"properties":{"panEtag":"e4683fba-2cec-11ee-a545-a655c221ae57","scope":"LOCAL","description":"local
        rulestacks","minAppIdVersion":"8595-7473","provisioningState":"Succeeded","securityServices":{"vulnerabilityProfile":"BestPractice","antiSpywareProfile":"BestPractice","antiVirusProfile":"BestPractice","urlFilteringProfile":"BestPractice","fileBlockingProfile":"BestPractice","dnsSubscription":"BestPractice"},"defaultMode":"IPS"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - c91effec-a848-4bcd-80e2-85954c4238e6
      - 74f106eb-5adf-4b4f-9978-b24e2043e743
      - b97e67c5-9fd8-4fdb-8633-f595cc0db69e
      - c0a51a91-9c3f-4f46-98ab-0607b8fb5d30
      - 9895a3c7-450e-44fd-ad9e-dce18875abc3
      - 5c8cdab2-b648-4f5b-8b79-857245af95d8
      - 3b391b5d-58b5-4017-9196-29e5bf10ef02
      - a8f3e6c2-6cca-4b29-84f8-ea1b9e8aa610
      - ee88693f-27a4-48e7-a21a-4cd7d4483f91
      - 4105369e-2e00-4ee0-a1a9-c79ca9c4a2e2
      - 058e3e71-178d-4cce-951d-1cd9a938dc56
      - 64a18ac5-81f6-48bb-8310-03e5f85be42b
      - 14157b9c-7759-47ca-904d-9a92d2da6ef9
      - 8abb04eb-ae2d-4046-afcb-2bb1725bc59a
      - e49ba2bd-ca6d-40ec-8249-adf9391c0774
      - 84f6098d-bf59-45bd-b42a-f88aa4c4a4db
      - b65f0f02-6f26-4a6e-a453-00a5bbcdb3b1
      - 1cff3fda-6a86-4c6a-b058-7eb0368ffb95
      - 05db3b69-6eef-4172-9ae0-326bc28fca7d
      - e1499319-b495-43c1-914a-d57a4899b7e3
      - 96dac8c1-8eac-4bb7-a7ed-038fc699243e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/getChangeLog?api-version=2022-08-29
  response:
    body:
      string: '{"changes":["Rulestack"],"lastCommitted":"2023-07-28T02:15:42.833877+00:00","lastModified":"2023-07-28T02:17:25.203436+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e4c0e5fd-3366-43db-b8e1-500a1585f25a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/getSupportInfo?api-version=2022-08-29
  response:
    body:
      string: '{"productSku":"PAN-CLOUD-NGFW-AZURE-PAYG","productSerial":null,"accountRegistered":"FALSE","accountId":null,"userDomainSupported":"TRUE","userRegistered":"FALSE","freeTrial":"TRUE","freeTrialDaysLeft":30,"freeTrialCreditLeft":0,"helpURL":"https://live.paloaltonetworks.com?productSku=PAN-CLOUD-NGFW-AZURE-PAYG","supportURL":"https://support.paloaltonetworks.com?productSku=PAN-CLOUD-NGFW-AZURE-PAYG&userEmail=v-taoxuzeng@microsoft.com","registerURL":"https://support.paloaltonetworks.com/Home/Register?tenantId=888d76fa-54b2-4ced-8ee5-aac1585adee7&productSku=PAN-CLOUD-NGFW-AZURE-PAYG&userEmail=v-taoxuzeng@microsoft.com"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 166f137f-8a13-4077-9b5e-e0bd6026aebc
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/listAppIds?api-version=2022-08-29
  response:
    body:
      string: '{"value":["100bao","104apci-supervisory","104apci-unnumbered","104apci-unnumbered-startdt-act","104apci-unnumbered-startdt-con","104apc[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/listCountries?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"code":"A1","description":"Anonymous Proxy"},{"code":"A2","description":"Satellite
        Provider"},{"code":"AD","descr[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/listFirewalls?api-version=2022-08-29
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 04540d9b-cb5d-4d7e-a1e5-48fb609de909
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/listPredefinedUrlCategories?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"action":"allow","name":"abortion"},{"action":"block","name":"abused-drugs"},{"action":"block","name":"adult"},{"action":"allow","name":"alcohol-and-tobacco"},{"action":"allow","name":"auctions"},{"action":"allow","name":"business-and-economy"},{"action":"block","name":"command-and-control"},{"action":"allow","name":"computer-and-internet-info"},{"action":"allow","name":"content-delivery-networks"},{"action":"allow","name":"copyright-infringement"},{"action":"alert","name":"cryptocurrency"},{"action":"al[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/revert?api-version=2022-08-29
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3e660622-554e-4ef8-a290-f2544c93110a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/listAdvancedSecurityObjects?type=feeds&api-version=2022-08-29
  response:
    body:
      string: '{"error":{"code":"ResourcePostActionFailed","message":"ResourcePostActionFailed:
        Not Found"}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - 6cbb75b3-84e2-4cfc-aedb-f9c595769d41
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/listSecurityServices?type=antiSpyware&api-version=2022-08-29
  response:
    body:
      string: '{"error":{"code":"ResourcePostActionFailed","message":"ResourcePostActionFailed:
        Not Found"}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - 29574bc3-e128-4e9d-844c-0dd9e56b70bf
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"auditComment": "comment", "certificateSelfSigned": "TRUE",
      "description": "description"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/certificates/certificate000003?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/certificates?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/certificates/certificate000003","name":"certificate000003","type":"localRulestacks/certificates","properties":{"certificateSelfSigned":"TRUE","auditComment":"comment","description":"description","etag":"3afd94b0-2ced-11ee-a545-a655c221ae57","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 54a980a0-0c7e-4693-a8c5-103920ca039f
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"auditComment": "string", "description": "description",
      "fqdnList": ["string1", "string2"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/fqdnlists/fqdnlist000004?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/fqdnlists/fqdnlist000004","name":"fqdnlist000004","type":"paloaltonetworks.cloudngfw/localrulestacks/fqdnlists","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-07-28T02:20:35.2981106Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T02:20:35.2981106Z"},"properties":{"description":"description","fqdnList":["string1","string2"],"etag":"56c5b146-2ced-11ee-9d61-a655c221ae57","auditComment":"string","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 09464cac-609a-43a2-ae69-a19fb27421a5
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/fqdnlists?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/fqdnlists/fqdnlist000004","name":"fqdnlist000004","type":"localRulestacks/prefixlists","properties":{"description":"description","fqdnList":["string1","string2"],"etag":"56c5b146-2ced-11ee-9d61-a655c221ae57","auditComment":"string","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 242d714e-6c36-4c69-9de3-a92c2866fdf0
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"auditComment": "comment", "description": "string", "prefixList":
      ["1.0.0.0/24"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/prefixlists/prefixlist000006?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/prefixlists/prefixlist000006","name":"prefixlist000006","type":"paloaltonetworks.cloudngfw/localrulestacks/prefixlists","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-07-28T02:21:27.4159137Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T02:21:27.4159137Z"},"properties":{"description":"string","prefixList":["1.0.0.0/24"],"etag":"75c02a90-2ced-11ee-8c54-a655c221ae57","auditComment":"comment","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - abc86ecd-85dd-4c36-b853-9346f548e5a8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/prefixlists?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/prefixlists/prefixlist000006","name":"prefixlist000006","type":"localRulestacks/prefixlists","properties":{"description":"string","prefixList":["1.0.0.0/24"],"etag":"75c02a90-2ced-11ee-8c54-a655c221ae57","auditComment":"comment","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c34b1676-8dbe-4132-b4ce-0ba8fe556dd5
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"actionType": "Allow", "enableLogging": "DISABLED", "protocol":
      "application-default", "ruleName": "local_rule000005", "ruleState": "DISABLED"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/localRules/1?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/localRules/1","name":"1","type":"paloaltonetworks.cloudngfw/localrulestacks/localrules","systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2023-07-28T02:22:05.8234215Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-28T02:22:05.8234215Z"},"properties":{"ruleName":"local_rule000005","priority":1,"ruleState":"DISABLED","source":{"cidrs":["any"],"countries":null,"feeds":null,"prefixLists":null},"negateSource":"FALSE","destination":{"cidrs":["any"],"countries":null,"feeds":null,"prefixLists":null,"fqdnLists":null},"negateDestination":"FALSE","applications":["any"],"protocol":"application-default","actionType":"Allow","enableLogging":"DISABLED","decryptionRuleType":"None","etag":"8cde5ac6-2ced-11ee-9f58-a655c221ae57","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e2ddef2a-6a2b-4878-a80d-2beb447909fa
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002/localRules?api-version=2022-08-29
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestac[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/01bf3635-61ae-4b3c-9284-fccb0839a0b6*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2?api-version=2022-08-29
  response:
    body:
      string: '{"id":"/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/01bf3635-61ae-4b3c-9284-fccb0839a0b6*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2","name":"01bf3635-61ae-4b3c-9284-fccb0839a0b6*510641D9404D51637CE22BC46C64E28418C0A84A64202348F41688F1A0E0C6C2","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_palo_alto_networks_cloudngfw_local_rulestack000001/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/localrulestack000002","status":"Succeeded","startTime":"2023-07-28T02:22:48.1904459Z","endTime":"2023-07-28T02:22:51.1442788Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"04009c2c-0000-0100-0000-64c3267b0000"'
    status:
      code: 200
      message: OK
version: 1
