interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rheaTerraformTest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/fw0718-lrs/localRules/1000000/getCounters?api-version=2022-08-29
  response:
    body:
      string: '{"priority":"1000000","ruleStackName":"fw0718-lrs","ruleListName":"LocalRule","ruleName":"cloud-ngfw-default-rule","hitCount":0,"timestamp":"2023-07-25T09:25:29.057606+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c0c7a0e8-5423-41b6-897e-d37ded72b0b2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rheaTerraformTest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/fw0718-lrs/localRules/1000000/refreshCounters?api-version=2022-08-29
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''PaloAltoNetworks.Cloudngfw'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rheaTerraformTest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/fw0718-lrs/localRules/1000000/resetCounters?api-version=2022-08-29
  response:
    body:
      string: '{"priority":"1000000","ruleStackName":"fw0718-lrs","ruleListName":"LocalRule","ruleName":"cloud-ngfw-default-rule"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 82897f78-fa9d-41a0-bd0d-096cefc056f3
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
