interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clients-test-rg-DO-NOT-DELETE/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/fw0718-DO-NOT-DELETE-lrs/localRules/1000000/getCounters?api-version=2025-10-08
  response:
    body:
      string: '{"priority":"1000000","ruleStackName":"fw0718-DO-NOT-DELETE-lrs","ruleListName":"LocalRule","ruleName":"cloud-ngfw-default-rule","hitCount":0,"timestamp":"2025-10-23T09:53:49.369074+00:00","requestTimestamp":"2025-10-22T12:47:35.552648+00:00","lastUpdatedTimestamp":"2025-10-22T12:47:50.557462+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f3482154-be57-4651-b504-a6d6904f53ff
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clients-test-rg-DO-NOT-DELETE/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/fw0718-DO-NOT-DELETE-lrs/localRules/1000000/refreshCounters?api-version=2025-10-08
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 1be671c0-29ea-4481-b4b3-d436f80f1d2b
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clients-test-rg-DO-NOT-DELETE/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/fw0718-DO-NOT-DELETE-lrs/localRules/1000000/resetCounters?api-version=2025-10-08
  response:
    body:
      string: '{"priority":"1000000","ruleStackName":"fw0718-DO-NOT-DELETE-lrs","ruleListName":"LocalRule","ruleName":"cloud-ngfw-default-rule"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2bb0e2e0-f0a1-4ae2-ba1d-af2e7b16a549
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
version: 1
