interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acr_transfer_export_sas_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001","name":"cli_test_acr_transfer_export_sas_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_export_pipeline_sas_token","date":"2026-04-07T13:46:18Z","module":"acrtransfer"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003","name":"acrtest000003","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-07T13:47:06.0749124+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-07T13:47:06.0749124+00:00"},"properties":{"loginServer":"acrtest000003.azurecr.io","creationDate":"2026-04-07T13:47:06.0749124Z","provisioningState":"Succeeded","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-04-07T13:47:13.6153875+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-04-07T13:47:13.615426+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.KeyVault/vaults/kv000005?api-version=2025-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/kv000005''
        under resource group ''cli_test_acr_transfer_export_sas_000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Mai
        Nguyen","givenName":"Mai","jobTitle":"SOFTWARE ENGINEER","mail":"test@example.com","mobilePhone":null,"officeLocation":"HOME
        OFFICE","preferredLanguage":null,"surname":"Nguyen","userPrincipalName":"test@example.com","id":"55d6af6c-b4d5-4614-93ee-9417c506c9f1"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"MWH0EPF000C9059"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"name": "standard", "family": "A"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "55d6af6c-b4d5-4614-93ee-9417c506c9f1",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableRbacAuthorization": false, "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.KeyVault/vaults/kv000005?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.KeyVault/vaults/kv000005","name":"kv000005","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-07T13:47:21.691Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-07T13:47:21.691Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"55d6af6c-b4d5-4614-93ee-9417c506c9f1","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://kv000005.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_i5x56fxrwpry7f5igx2ltkr2ekmhkpya6ddx3pjahr/providers/Microsoft.Storage/storageAccounts/acrtransfer33fahy3lb6rro","name":"acrtransfer33fahy3lb6rro","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-04-07T01:34:03.4131252Z","key2":"2026-04-07T01:34:03.4131252Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-07T01:34:03.4233281Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-07T01:34:03.4233281Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-04-07T01:34:03.0712620Z","primaryEndpoints":{"dfs":"https://acrtransfer33fahy3lb6rro.dfs.core.windows.net/","web":"https://acrtransfer33fahy3lb6rro.z22.web.core.windows.net/","blob":"https://acrtransfer33fahy3lb6rro.blob.core.windows.net/","queue":"https://acrtransfer33fahy3lb6rro.queue.core.windows.net/","table":"https://acrtransfer33fahy3lb6rro.table.core.windows.net/","file":"https://acrtransfer33fahy3lb6rro.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_uai_c4bpxocaum7lampz37l72arswst4cad4sagtzh2v4h/providers/Microsoft.Storage/storageAccounts/acrtransfer5ltpz2oy3sufo","name":"acrtransfer5ltpz2oy3sufo","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-04-07T13[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.Storage/storageAccounts/acrtransfer000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-04-07T13:46:39.4286535Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-04-07T13:46:39.4286535Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://kv000005.vault.azure.net/secrets/sas-token-secret?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer, PoP, or MTLS_POP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "se=2026-05-07T13%3A47Z&sp=racwdl&sv=2026-02-06&sr=c&sig=4Ga0pbUCW4cVVKm49OEbKsicitAaZEc1wSHtBQPXleQ%3D",
      "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://kv000005.vault.azure.net/secrets/sas-token-secret?api-version=7.4
  response:
    body:
      string: '{"value":"se=2026-05-07T13%3A47Z&sp=racwdl&sv=2026-02-06&sr=c&sig=4Ga0pbUCW4cVVKm49OEbKsicitAaZEc1wSHtBQPXleQ%3D","id":"https://kv000005.vault.azure.net/secrets/sas-token-secret/df63dcd3ef5a4ccf8ff7a544e0c54bee","attributes":{"enabled":true,"created":1775569680,"updated":1775569680,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Apr 2026 13:48:02 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://acrtransfer000002.blob.core.windows.net/export-container?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE94AC4A6C9538"'
      last-modified:
      - Tue, 07 Apr 2026 13:48:03 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"target": {"type":
      "AzureStorageBlobContainer", "uri": "https://acrtransfer000002.blob.core.windows.net/export-container",
      "storageAccessMode": "SasToken", "keyVaultUri": "https://kv000005.vault.azure.net/secrets/sas-token-secret"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003/exportPipelines/pipeline000004?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/exportPipelines","identity":{"principalId":"2f442647-241c-4470-b835-bc1972a5e159","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"systemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003/exportPipelines/pipeline000004","name":"pipeline000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-07T13:48:05.028199+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-07T13:48:05.028199+00:00"},"properties":{"target":{"type":"AzureStorageBlobContainer","uri":"https://acrtransfer000002.blob.core.windows.net/export-container","keyVaultUri":"https://kv000005.vault.azure.net/secrets/sas-token-secret","storageAccessMode":"SasToken"},"provisioningState":"Succeeded"}}'
    headers:
      api-supported-versions:
      - 2025-06-01-preview, 2025-12-01-preview, 2026-01-01-preview, 2026-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003/exportPipelines/pipeline000004?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/exportPipelines","identity":{"principalId":"2f442647-241c-4470-b835-bc1972a5e159","tenantId[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/delete-acrtest000003-6946f902-3288-11f1-bb38-002248b6daac?api-version=2026-01-01-preview&t=639111664907134244&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/delete-acrtest000003-6946f902-3288-11f1-bb38-002248b6daac?api-version=2026-01-01-preview&t=639111664915163418&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAw[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_000001/providers/Microsoft.KeyVault/vaults/kv000005?api-version=2025-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
