interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acr_transfer_import_mi_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001","name":"cli_test_acr_transfer_import_mi_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_import_pipeline_entra_mi_auth_no_identity","date":"2026-04-08T16:48:58Z","module":"acrtransfer"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003","name":"acrtest000003","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-08T16:50:11.7999082+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-08T16:50:11.7999082+00:00"},"properties":{"loginServer":"acrtest000003.azurecr.io","creationDate":"2026-04-08T16:50:11.7999082Z","provisioningState":"Succeeded","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-04-08T16:50:18.7348585+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-04-08T16:50:18.7349024+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_export_sas_i5x56fxrwpry7f5igx2ltkr2ekmhkpya6ddx3pjahr/providers/Microsoft.Storage/storageAccounts/acrtransfer33fahy3lb6rro","name":"acrtransfer33fahy3lb6rro","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-04-07T01:34:03.4131252Z","key2":"2026-04-07T01:34:03.4131252Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-07T01:34:03.4233281Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-07T01:34:03.4233281Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-04-07T01:34:03.0712620Z","primaryEndpoints":{"dfs":"https://acrtransfer33fahy3lb6rro.dfs.core.windows.net/","web":"https://acrtransfer33fahy3lb6rro.z22.web.core.windows.net/","blob":"https://acrtransfer33fahy3lb6rro.blob.core.windows.net/","queue":"https://acrtransfer33fahy3lb6rro.queue.core.windows.net/","table":"https://acrtransfer33fahy3lb6rro.table.core.windows.net/","file":"https://acrtransfer33fahy3lb6rro.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_uai_zx5jbuduhtr3akepnvhkkuq2prhelftoynvb557uoo/providers/Microsoft.Storage/storageAccounts/acrtransfer5sm5nabiystej","name":"acrtransfer5sm5nabiystej","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-04-08T16[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001/providers/Microsoft.Storage/storageAccounts/acrtransfer000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-04-08T16:49:44.2788920Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-04-08T16:49:44.2788920Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Apr 2026 16:50:20 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://acrtransfer000002.blob.core.windows.net/import-container?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE958EEC4D2C9A"'
      last-modified:
      - Wed, 08 Apr 2026 16:50:21 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"source": {"type":
      "AzureStorageBlobContainer", "uri": "https://acrtransfer000002.blob.core.windows.net/import-container",
      "storageAccessMode": "ManagedIdentity"}, "trigger": {"sourceTrigger": {"status":
      "Enabled"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003/importPipelines/pipeline000004?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/importPipelines","identity":{"principalId":"f76dce68-5bf7-4e44-ba39-5c1eaced5516","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"systemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003/importPipelines/pipeline000004","name":"pipeline000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-08T16:50:25.0297728+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-08T16:50:25.0297728+00:00"},"properties":{"source":{"type":"AzureStorageBlobContainer","uri":"https://acrtransfer000002.blob.core.windows.net/import-container","storageAccessMode":"ManagedIdentity"},"trigger":{"sourceTrigger":{"status":"Enabled"}},"provisioningState":"Succeeded"}}'
    headers:
      api-supported-versions:
      - 2025-06-01-preview, 2025-12-01-preview, 2026-01-01-preview, 2026-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acr_transfer_import_mi_000001/providers/Microsoft.ContainerRegistry/registries/acrtest000003/importPipelines/pipeline000004?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/importPipelines","identity":{"principalId":"f76dce68-5bf7-4e44-ba39-5c1eaced5516","tenantId"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/delete-acrtest000003-0c7b3ba0-336b-11f1-a449-002248b6daac?api-version=2026-01-01-preview&t=639112638302713792&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/delete-acrtest000003-0c7b3ba0-336b-11f1-a449-002248b6daac?api-version=2026-01-01-preview&t=639112638312297885&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAw[...]
