interactions:
- request:
    body: '{"properties": {"description": "An example blueprint.", "targetScope":
      "subscription", "parameters": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {},\r\n    \"resourceGroups\":
        {},\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n      \"timeCreated\":
        \"2020-02-03T15:29:41+00:00\",\r\n      \"lastModified\": \"2020-02-03T15:29:41.3504676+00:00\"\r\n
        \   },\r\n    \"description\": \"An example blueprint.\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"parameters\":
        {\r\n          \"deployDiagnosticSettingsforServiceBustoLogAnalyticsworkspace_effect\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Effect (Policy: Deploy Diagnostic Settings
        for Service Bus to Log Analytics workspace)\"\r\n            },\r\n            \"defaultValue\":
        \"DeployIfNotExists\",\r\n            \"allowedValues\": [\r\n              \"DeployIfNotExists\",\r\n
        \             \"Disabled\"\r\n            ]\r\n          },\r\n          \"deployDiagnosticSettingsforServiceBustoLogAnalyticsworkspace_profileName\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Profile name (Policy: Deploy Diagnostic Settings
        for Service Bus to Log Analytics workspace)\"\r\n            },\r\n            \"defaultValue\":
        \"setbypolicy_logAnalytics\",\r\n            \"allowedValues\": []\r\n          },\r\n
        \         \"deployDiagnosticSettingsforServiceBustoLogAnalyticsworkspace_logAnalytics\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Log Analytics workspace (Policy: Deploy Diagnostic
        Settings for Service Bus to Log Analytics workspace)\",\r\n              \"strongType\":
        \"omsWorkspace\"\r\n            },\r\n            \"allowedValues\": []\r\n
        \         },\r\n          \"deployDiagnosticSettingsforServiceBustoLogAnalyticsworkspace_metricsEnabled\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Enable metrics (Policy: Deploy Diagnostic
        Settings for Service Bus to Log Analytics workspace)\"\r\n            },\r\n
        \           \"defaultValue\": \"False\",\r\n            \"allowedValues\":
        [\r\n              \"True\",\r\n              \"False\"\r\n            ]\r\n
        \         },\r\n          \"deployDiagnosticSettingsforServiceBustoLogAnalyticsworkspace_logsEnabled\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Enable logs (Policy: Deploy Diagnostic Settings
        for Service Bus to Log Analytics workspace)\"\r\n            },\r\n            \"defaultValue\":
        \"True\",\r\n            \"allowedValues\": [\r\n              \"True\",\r\n
        \             \"False\"\r\n            ]\r\n          },\r\n          \"arm_vmName\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"vmName (arm)\",\r\n              \"description\":
        \"The name of you Virtual Machine.\"\r\n            },\r\n            \"defaultValue\":
        \"simpleLinuxVM\",\r\n            \"allowedValues\": []\r\n          },\r\n
        \         \"arm_adminUsername\": {\r\n            \"type\": \"string\",\r\n
        \           \"metadata\": {\r\n              \"displayName\": \"adminUsername
        (arm)\",\r\n              \"description\": \"Username for the Virtual Machine.\"\r\n
        \           },\r\n            \"allowedValues\": []\r\n          },\r\n          \"arm_authenticationType\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"authenticationType (arm)\",\r\n              \"description\":
        \"Type of authentication to use on the Virtual Machine. SSH key is recommended.\"\r\n
        \           },\r\n            \"defaultValue\": \"sshPublicKey\",\r\n            \"allowedValues\":
        [\r\n              \"sshPublicKey\",\r\n              \"password\"\r\n            ]\r\n
        \         },\r\n          \"arm_adminPasswordOrKey\": {\r\n            \"type\":
        \"secureString\",\r\n            \"metadata\": {\r\n              \"displayName\":
        \"adminPasswordOrKey (arm)\",\r\n              \"description\": \"SSH Key
        or password for the Virtual Machine. SSH key is recommended.\"\r\n            },\r\n
        \           \"allowedValues\": []\r\n          },\r\n          \"arm_dnsLabelPrefix\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"dnsLabelPrefix (arm)\",\r\n              \"description\":
        \"Unique DNS Name for the Public IP used to access the Virtual Machine.\"\r\n
        \           },\r\n            \"allowedValues\": []\r\n          },\r\n          \"arm_ubuntuOSVersion\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"ubuntuOSVersion (arm)\",\r\n              \"description\":
        \"The Ubuntu version for the VM. This will pick a fully patched image of this
        given Ubuntu version.\"\r\n            },\r\n            \"defaultValue\":
        \"18.04-LTS\",\r\n            \"allowedValues\": [\r\n              \"12.04.5-LTS\",\r\n
        \             \"14.04.5-LTS\",\r\n              \"16.04.0-LTS\",\r\n              \"18.04-LTS\"\r\n
        \           ]\r\n          },\r\n          \"arm_location\": {\r\n            \"type\":
        \"string\",\r\n            \"metadata\": {\r\n              \"displayName\":
        \"location (arm)\",\r\n              \"description\": \"Location for all resources.\"\r\n
        \           },\r\n            \"allowedValues\": []\r\n          },\r\n          \"arm_VmSize\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"VmSize (arm)\",\r\n              \"description\":
        \"The size of the VM\"\r\n            },\r\n            \"defaultValue\":
        \"Standard_B2s\",\r\n            \"allowedValues\": []\r\n          },\r\n
        \         \"arm_virtualNetworkName\": {\r\n            \"type\": \"string\",\r\n
        \           \"metadata\": {\r\n              \"displayName\": \"virtualNetworkName
        (arm)\",\r\n              \"description\": \"Name of the VNET\"\r\n            },\r\n
        \           \"defaultValue\": \"vNet\",\r\n            \"allowedValues\":
        []\r\n          },\r\n          \"arm_subnetName\": {\r\n            \"type\":
        \"string\",\r\n            \"metadata\": {\r\n              \"displayName\":
        \"subnetName (arm)\",\r\n              \"description\": \"Name of the subnet
        in the virtual network\"\r\n            },\r\n            \"defaultValue\":
        \"Subnet\",\r\n            \"allowedValues\": []\r\n          },\r\n          \"arm_networkSecurityGroupName\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"networkSecurityGroupName (arm)\",\r\n              \"description\":
        \"Name of the Network Security Group\"\r\n            },\r\n            \"defaultValue\":
        \"SecGroupNet\",\r\n            \"allowedValues\": []\r\n          },\r\n
        \         \"[Usergrouporapplicationname]:APIManagementServiceOperatorRole_RoleAssignmentName\":
        {\r\n            \"type\": \"array\",\r\n            \"metadata\": {\r\n              \"displayName\":
        \"[User group or application name] ([User group or application name] : API
        Management Service Operator Role)\",\r\n              \"strongType\": \"PrincipalId\"\r\n
        \           }\r\n          }\r\n        },\r\n        \"resourceGroups\":
        {\r\n          \"ResourceGroup\": {\r\n            \"metadata\": {\r\n              \"displayName\":
        \"first-rg\"\r\n            },\r\n            \"dependsOn\": []\r\n          }\r\n
        \       },\r\n        \"targetScope\": \"subscription\",\r\n        \"status\":
        {\r\n          \"timeCreated\": \"2019-02-25T22:16:44+00:00\",\r\n          \"lastModified\":
        \"2020-01-15T06:51:48.1197237+00:00\"\r\n        },\r\n        \"description\":
        \"first subscription level template\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/PS-SimpleBlueprintDefinition\",\r\n
        \     \"type\": \"Microsoft.Blueprint/blueprints\",\r\n      \"name\": \"PS-SimpleBlueprintDefinition\"\r\n
        \   },\r\n    {\r\n      \"properties\": {\r\n        \"parameters\": {\r\n
        \         \"resourceNamePrefix\": {\r\n            \"type\": \"string\",\r\n
        \           \"metadata\": {\r\n              \"displayName\": \"Resource name
        prefix\",\r\n              \"description\": \"Resource group and resource
        name prefix\"\r\n            }\r\n          },\r\n          \"addressSpaceForVnet\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Addess space for vnet\"\r\n            },\r\n
        \           \"defaultValue\": \"10.0.0.0/16\"\r\n          },\r\n          \"addressSpaceForSubnet\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \             \"displayName\": \"Addess space for subnet\"\r\n            },\r\n
        \           \"defaultValue\": \"10.0.0.0/24\"\r\n          }\r\n        },\r\n
        \       \"resourceGroups\": {\r\n          \"SingleRG\": {\r\n            \"name\":
        \"[concat(parameters('resourceNamePrefix'),'-RG')]\",\r\n            \"metadata\":
        {\r\n              \"displayName\": \"VNET Resource Group\"\r\n            },\r\n
        \           \"dependsOn\": []\r\n          }\r\n        },\r\n        \"targetScope\":
        \"subscription\",\r\n        \"status\": {\r\n          \"timeCreated\": \"2019-12-26T05:43:51+00:00\",\r\n
        \         \"lastModified\": \"2019-12-26T05:43:54.2798109+00:00\"\r\n   [...]
[...]
- request:
    body: '{"properties": {"description": "An example blueprint.", "targetScope":
      "subscription", "parameters": {}, "resourceGroups": {"my-rg-art": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {},\r\n    \"resourceGroups\":
        {\r\n      \"my-rg-art\": {\r\n        \"dependsOn\": []\r\n      }\r\n    },\r\n
        \   \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n      \"timeCreated\":
        \"2020-02-03T15:29:41+00:00\",\r\n      \"lastModified\": \"2020-02-03T15:29:46.208666+00:00\"\r\n
        \   },\r\n    \"description\": \"An example blueprint.\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "roleAssignment", "properties": {"displayName": "[User group or
      application name] : Reader", "roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalIds": "[parameters(''[Usergrouporapplicationname]:Reader_RoleAssignmentName'')]",
      "resourceGroup": "my-rg-art"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/artifacts/reader-role-art?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n
        \   \"principalIds\": \"[parameters('[Usergrouporapplicationname]:Reader_RoleAssignmentName')]\",\r\n
        \   \"dependsOn\": [],\r\n    \"resourceGroup\": \"my-rg-art\",\r\n    \"displayName\":
        \"[User group or application name] : Reader\"\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/artifacts/reader-role-art\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"reader-role-art\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Audit Windows
      VMs in which the Administrators group does not contain only the specified members",
      "policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/06122b01-688c-42a8-af2e-fa97dd39aa3b",
      "parameters": {"Members": {"value": "[parameters(''auditWindowsVMsinwhichtheAdministratorsgroupdoesnotcontainonlythespecifiedmembers_Members'')]"}},
      "resourceGroup": "my-rg-art"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/artifacts/policy-audit-win-vm-art?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"[...]
[...]
- request:
    body: '{"properties": {"changeNotes": "First release"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/versions/1.0?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"blueprintName\": \"test-bp\",\r\n
        \   \"changeNotes\": \"First release\",\r\n    \"parameters\": {\r\n      \"[Usergrouporapplicationname]:Reader_RoleAssignmentName\":
        {\r\n        \"type\": \"array\",\r\n        \"metadata\": {\r\n          \"displayName\":
        \"[User group or application name] ([User group or application name] : Reader)\",\r\n
        \         \"strongType\": \"PrincipalId\"\r\n        }\r\n      },\r\n      \"auditWindowsVMsinwhichtheAdministratorsgroupdoesnotcontainonl[...]
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"blueprintId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/versions/1.0",
      "parameters": {"[Usergrouporapplicationname]:Reader_RoleAssignmentName": {"value":
      ["31e600e0-d7ce-4e98-a927-19bb30042e44"]}, "auditWindowsVMsinwhichtheAdministratorsgroupdoesnotcontainonlythespecifiedmembers_Members":
      {"value": "jack"}}, "resourceGroups": {"my-rg-art": {"name": "blueprint-rg",
      "location": "eastasia"}}, "locks": {"mode": "None"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"a4733ebd-dec6-4f2c-a398-5a1f7c835f1c\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"creating\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"[Usergrouporapplicationname]:Reader_RoleAssignmentName\":
        {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      },\r\n      \"auditWindowsVMsinwhichtheAdministratorsgroupdoesnotcontainonlythespecifiedmembers_Members\":
        {\r\n        \"value\": \"jack\"\r\n      }\r\n    },\r\n    \"resourceGroups\":
        {\r\n      \"my-rg-art\": {\r\n        \"name\": \"blueprint-rg\",\r\n        \"location\":
        \"eastasia\"\r\n      }\r\n    },\r\n    \"status\": {\r\n      \"timeCreated\":
        \"2020-02-03T15:30:00+00:00\",\r\n      \"lastModified\": \"2020-02-03T15:30:00.3510474+00:00\"\r\n
        \   },\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"locks\": {\r\n      \"mode\": \"none\"\r\n    }\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n  \"name\": \"Assignment-test-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"AssignmentNotFound\",\r\n    \"message\":
        \"Assignment 'Assignment-test-bp' could not be found in subscription '0b1f6471-1bf0-4dda-aec3-cb9272f09590'.\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/blueprint-rg?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRy1FQVNUQVNJQSIsImpvYkxvY2F0aW9uIjoiZWFzdGFzaWEifQ?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRy1FQVNUQVNJQSIsImpvYkxvY2F0aW9uIjoiZWFzdGFzaWEifQ?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRy1FQVNUQVNJQSIsImpvYkxvY2F0aW9uIjoiZWFzdGFzaWEifQ?api-version=2019-07-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRy1FQVNUQVNJQSIsImpvYkxvY2F0aW9uIjoiZWFzdGFzaWEifQ?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
