interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint_assignment000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blueprint_assignment000001","name":"cli_test_blueprint_assignment000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_blueprint_assignment","date":"2026-06-30T19:40:39Z","module":"blueprint"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blueprint_assignment000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint_assignment000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004","name":"testid_000004","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"3ccbec59-d246-443f-b531-abdd49c61289","clientId":"925b4257-f36d-4f3e-a0c7-76d06ee5337f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint_assignment000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"description": "An example blueprint.", "targetScope":
      "subscription"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {},\r\n    \"resourceGroups\":
        {},\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n      \"timeCreated\":
        \"2026-06-30T19:40:50+00:00\",\r\n      \"lastModified\": \"2026-06-30T19:40:50.2949924+00:00\"\r\n
        \   },\r\n    \"description\": \"An example blueprint.\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-bp-000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "An example blueprint.", "parameters": {},
      "resourceGroups": {"myRgArt": {"metadata": {"displayName": "Resource Group 1"}}},
      "status": {}, "targetScope": "subscription"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {},\r\n    \"resourceGroups\":
        {\r\n      \"myRgArt\": {\r\n        \"metadata\": {\r\n          \"displayName\":
        \"Resource Group 1\"\r\n        },\r\n        \"dependsOn\": []\r\n      }\r\n
        \   },\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n
        \     \"timeCreated\": \"2026-06-30T19:40:50+00:00\",\r\n      \"lastModified\":
        \"2026-06-30T19:40:53.962412+00:00\"\r\n    },\r\n    \"description\": \"An
        example blueprint.\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-bp-000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "An example blueprint.", "parameters": {"reader":
      {"metadata": {"displayName": "[User group or application name] ([User group
      or application name] : Reader)", "strongType": "PrincipalId"}, "type": "array"},
      "audit": {"allowedValues": [], "metadata": {"displayName": "Members"}, "type":
      "string"}}, "resourceGroups": {"myRgArt": {"dependsOn": [], "metadata": {"displayName":
      "Resource Group 1"}}}, "status": {}, "targetScope": "subscription"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002?api-version=2018-11-01-preview
  response:
    body:
     [...]
- request:
    body: '{"properties": {"blueprintName": "test-bp-000002", "changeNotes": "First
      release"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"blueprintName\": \"test-bp-000002\",\r\n
        \   \"changeNotes\": \"First release\",\r\n    \"parameters\": {\r\n      \"reader\":
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp000003?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"AssignmentNotFound\",\r\n    \"message\":
        \"Assignment 'Assignment-test-bp000003' could not be found in subscription
        '390ba170-3e2a-41c4-b372-15d9c5ae6e81'.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp000003/whoIsBlueprint?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"objectId\": \"ffeb3a44-712a-4d2e-9b97-b1e032a40b29\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27ffeb3a44-712a-4d2e-9b97-b1e032a40b29%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US 2","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"BN5PEPF0000E136"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["ffeb3a44-712a-4d2e-9b97-b1e032a40b29"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"ffeb3a44-712a-4d2e-9b97-b1e032a40b29","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"Azure
        Blueprints","appDescription":null,"appId":"f71766dc-90d9-4b7d-bd9d-4499c4331c3f","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdByAppId":null,"createdDateTime":null,"description":null,"disabledByMicrosoftStatus":null,"displayName":"Azure
        Blueprints","homepage":null,"isDisabled":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["f71766dc-90d9-4b7d-bd9d-4499c4331c3f"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      location:
      - https://graph.microsoft.com/
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US 2","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"BN5PEPF00035E13"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01&$filter=atScope%28%29
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"1003f2ec-d334-46e5-a5ad-7210132e6e7f","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2026-06-16T21:23:31.0539503Z","updatedOn":"2026-06-16T21:23:31.0539503Z","createdBy":"99aa995a-c9e0-4b16-9baa-0e505d32bdab","updatedBy":"99aa995a-c9e0-4b16-9baa-0e505d32bdab","delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/217665c4-df00-4907-8f89-c12b35c97643","type":"Microsoft.Authorization/roleAssignments","name":"217665c4-df00-4907-8f89-c12b35c97643"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8ffc7b67-95b9-471f-9a13-f3fcb5319c06","principalId":"5cf638fd-a9f5-4ed5-834d-b4b99d4372df","principalType":"ServicePrincipal","scope":"/","conditio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2022-05-01-preview&$filter=roleName%20eq%20%27Owner%27
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Grants
        full access to manage all resources, including the ability to assign roles
        in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:45.8978856Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalType": "ServicePrincipal", "principalId": "ffeb3a44-712a-4d2e-9b97-b1e032a40b29"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"blueprintId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0",
      "parameters": {"reader": {"value": ["31e600e0-d7ce-4e98-a927-19bb30042e44"]},
      "audit": {"value": "jack"}}, "resourceGroups": {"myRgArt": {"name": "blueprint-rg-000005",
      "location": "westus2"}}, "locks": {"mode": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp000003?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"ed6ebca6-2f93-468a-955c-ca7fed919afb\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp000003?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"ed6ebca6-2f93-468a-955c-ca7fed919afb\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"succeeded\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"reader\": {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      },\r\n      \"audit\": {\r\n        \"value\": \"jack\"\r\n
        \     }\r\n    },\r\n    \"resourceGroups\": {\r\n      \"myRgArt\": {\r\n
        \       \"name\": \"blueprint-rg-000005\",\r\n        \"location\": \"westus2\"\r\n
        \     }\r\n    },\r\n    \"status\": {\r\n      \"managedResources\": [],\r\n
        \     \"timeCreated\": \"2026-06-30T19:41:13+00:00\",\r\n      \"lastModified\":
        \"2026-06-30T19:41:13.5640208+00:00\"\r\n    },\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"locks\": {\r\n      \"mode\": \"none\"\r\n    }\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp000003\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n  \"name\": \"Assignment-test-bp000003\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"identity\": {\r\n        \"type\":
        \"systemAssigned\",\r\n        \"principalId\": \"aa93a58f-b66e-42bd-9185-bbf6df85b5ac\",\r\n
        \       \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      },\r\n
        \     \"location\": \"westus2\",\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"failed\",\r\n        \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bpnbcay6uqkb/versions/1.0\",\r\n
        \       \"parameters\": {\r\n          \"tagName\": {\r\n            \"value\":
        \"type\"\r\n          },\r\n          \"tagValue\": {\r\n            \"value\":
        \"test\"\r\n          },\r\n          \"contributors\": {\r\n            \"value\":
        [\r\n              \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n            ]\r\n
        \         },\r\n          \"owners\": {\r\n            \"value\": [\r\n              \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \           ]\r\n          }\r\n        },\r\n        \"resourceGroups\":
        {\r\n          \"storageRG\": {\r\n            \"name\": \"storage-rg\",\r\n
        \           \"location\": \"westus2\"\r\n          }\r\n        },\r\n        \"status\":
        {\r\n          \"managedResources\": [],\r\n          \"timeCreated\": \"2026-06-30T17:37:49+00:00\",\r\n
        \         \"lastModified\": \"2026-06-30T17:37:49.8343018+00:00\"\r\n        },\r\n
        \       \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \       \"locks\": {\r\n          \"mode\": \"none\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/blueprint-rg-000005/providers/Microsoft.Authorization/roleDefinitions?api-version=2022-05-01-preview&$filter=roleName%20eq%20%27Owner%27
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Grants
        full access to manage all resources, including the ability to assign roles
        in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:45.8978856Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalType": "ServicePrincipal", "principalId": "3ccbec59-d246-443f-b531-abdd49c61289"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/blueprint-rg-000005/pr[...]
[...]
- request:
    body: '{"location": "westus2", "identity": {"type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint_assignment000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004":
      {}}}, "properties": {"blueprintId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0",
      "scope": "/subscriptions/00000000-0000-0000-0000-000000000000", "parameters":
      {"reader": {"value": ["31e600e0-d7ce-4e98-a927-19bb30042e[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/blueprint-rg-000005?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRzoyRFlDSlhUWkJCRzdHLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRzoyRFlDSlhUWkJCRzdHLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZG13aDAzIn0?api-version=2024-11-01&t=639184460250928030&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1CTFVFUFJJTlQ6MkRSRzoyRFlDSlhUWkJCRzdHLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZG13aDAzIn0?api-version=2024-11-01&t=639184460262186520&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzM[...]
