interactions:
- request:
    body: '{"properties": {"description": "This blueprint sets tag policy and role
      assignment on the subscription, creates a ResourceGroup, and deploys a resource
      template and role assignment to that ResourceGroup.", "targetScope": "subscription",
      "parameters": {"storageAccountType": {"type": "string", "metadata": {"displayName":
      "storage account type."}, "defaultValue": "Standard_LRS", "allowedValues": ["Standard_LRS",
      "Standard_GRS", "Standard_ZRS", "Premium_LRS"]}, "tagName": {"type": "string",
      "metadata": {"displayName": "The name of the tag to provide the policy assignment."}},
      "tagValue": {"type": "string", "metadata": {"displayName": "The value of the
      tag to provide the policy assignment."}}}, "resourceGroups": {"storageRG": {"metadata":
      {"description": "Contains the resource template deployment and a role assignment."}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"storageAccountType\":
        {\r\n        \"type\": \"string\",\r\n        \"metadata\": {\r\n          \"displayName\":
        \"storage account type.\"\r\n        },\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
        \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n
        \         \"Standard_ZRS\",\r\n          \"Premium_LRS\"\r\n        ]\r\n
        \     },\r\n      \"tagName\": {\r\n        \"type\": \"string\",\r\n        \"metadata\":
        {\r\n          \"displayName\": \"The name of the tag to provide the policy
        assignment.\"\r\n        }\r\n      },\r\n      \"tagValue\": {\r\n        \"type\":
        \"string\",\r\n        \"metadata\": {\r\n          \"displayName\": \"The
        value of the tag to provide the policy assignment.\"\r\n        }\r\n      }\r\n
        \   },\r\n    \"resourceGroups\": {\r\n      \"storageRG\": {\r\n        \"metadata\":
        {\r\n          \"description\": \"Contains the resource template deployment
        and a role assignment.\"\r\n        },\r\n        \"dependsOn\": []\r\n      }\r\n
        \   },\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n
        \     \"timeCreated\": \"2020-03-11T15:03:11+00:00\",\r\n      \"lastModified\":
        \"2020-03-11T15:03:11.9730309+00:00\"\r\n    },\r\n    \"description\": \"This
        blueprint sets tag policy and role assignment on the subscription, creates
        a ResourceGroup, and deploys a resource template and role assignment to that
        ResourceGroup.\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-import-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/artifacts?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "template", "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"storageAccountTypeFromBP": {"type":
      "string", "metadata": {"description": "Storage Account type"}}, "tagNameFromBP":
      {"type": "string", "defaultValue": "NotSet", "metadata": {"description": "Tag
      name from blueprint"}}, "tagValueFromBP": {"type": "string", "defaultValue":
      "NotSet", "metadata": {"description": "Tag value from blueprint"}}}, "variables":
      {"storageAccountName": "[concat(uniquestring(resourceGroup().id), ''standardsa'')]"},
      "resources": [{"type": "Microsoft.Storage/storageAccounts", "name": "[variables(''storageAccountName'')]",
      "apiVersion": "2016-01-01", "tags": {"[parameters(''tagNameFromBP'')]": "[parameters(''tagValueFromBP'')]"},
      "location": "[resourceGroup().location]", "sku": {"name": "[parameters(''storageAccountTypeFromBP'')]"},
      "kind": "Storage", "properties": {}}], "outputs": {"storageAccountSku": {"type":
      "string", "value": "[variables(''storageAccountName'')]"}}}, "parameters": {"storageAccountTypeFromBP":
      {"value": "[parameters(''storageAccountType'')]"}, "tagNameFromBP": {"value":
      "[parameters(''tagName'')]"}, "tagValueFromBP": {"value": "[parameters(''tagValue'')]"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.[...]
- request:
    body: '{"properties": {"description": "This blueprint sets tag policy and role
      assignment on the subscription, creates a ResourceGroup, and deploys a resource
      template and role assignment to that ResourceGroup.", "targetScope": "subscription",
      "parameters": {"storageAccountType": {"type": "string", "metadata": {"displayName":
      "storage account type."}, "defaultValue": "Standard_LRS", "allowedValues": ["Standard_LRS",
      "Standard_GRS", "Standard_ZRS", "Premium_LRS"]}, "tagName": {"type": "string",
      "metadata": {"displayName": "The name of the tag to provide the policy assignment."}},
      "tagValue": {"type": "string", "metadata": {"displayName": "The value of the
      tag to provide the policy assignment."}}, "contributors": {"type": "array",
      "metadata": {"description": "List of AAD object IDs that is assigned Contributor
      role at the subscription", "strongType": "PrincipalId"}}, "owners": {"type":
      "array", "metadata": {"description": "List of AAD object IDs that is assigned
      Owner role at the resource group", "strongType": "PrincipalId"}}}, "resourceGroups":
      {"storageRG": {"metadata": {"description": "Contains the resource template deployment
      and a role assignment."}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers[...]
[...]
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Apply storage
      tag to resource group", "description": "Apply storage tag and the parameter
      also used by the template to resource groups", "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
      "parameters": {"tagName": {"value": "StorageType"}, "tagValue": {"value": "[parameters(''storageAccountType'')]"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/artifacts/policyStorageTags?api-version=2018-11-[...]
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Apply tag and
      its default value to resource groups", "description": "Apply tag and its default
      value to resource groups", "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
      "parameters": {"tagName": {"value": "[parameters(''tagName'')]"}, "tagValue":
      {"value": "[parameters(''tagValue'')]"}}}}'
    headers:
      Content-Type:
  [...]
- request:
    body: '{"kind": "roleAssignment", "properties": {"roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalIds": "[parameters(''contributors'')]"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/artifacts/roleContributor?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n
        \   \"principalIds\": \"[parameters('contributors')]\",\r\n    \"dependsOn\":
        []\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/artifacts/roleContributor\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"roleContributor\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "roleAssignment", "properties": {"roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalIds": "[parameters(''owners'')]", "resourceGroup": "storageRG"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/artifacts/roleOwner?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635\",\r\n
        \   \"principalIds\": \"[parameters('owners')]\",\r\n    \"dependsOn\": [],\r\n
        \   \"resourceGroup\": \"storageRG\"\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/artifacts/roleOwner\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"roleOwner\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"changeNotes": "First release"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/versions/1.0?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"blueprintName\": \"test-import-bp\",\r\n
        \   \"changeNotes\": \"First release\",\r\n    \"parameters\": {\r\n      \"storageAccountType\":
        {\r\n        \"type\": \"string\",\r\n        \"metadata\": {\r\n          \"displayName\":
        \"storage account type.\"\r\n        },\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
        \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n
        \         \"Standard_ZRS\",\r\n          \"Premium_LRS\"\r\[...]
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"blueprintId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/versions/1.0",
      "parameters": {"tagName": {"value": "type"}, "tagValue": {"value": "test"},
      "contributors": {"value": ["31e600e0-d7ce-4e98-a927-19bb30042e44"]}, "owners":
      {"value": ["31e600e0-d7ce-4e98-a927-19bb30042e44"]}}, "resourceGroups": {"storageRG":
      {"name": "storage-rg", "location": "westus2"}}, "locks": {"mode": "None"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"2c4ad291-088a-4833-9d12-65562168e61f\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"creating\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"tagName\": {\r\n        \"value\": \"type\"\r\n
        \     },\r\n      \"tagValue\": {\r\n        \"value\": \"test\"\r\n      },\r\n
        \     \"contributors\": {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      },\r\n      \"owners\": {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      }\r\n    },\r\n    \"resourceGroups\": {\r\n      \"storageRG\":
        {\r\n        \"name\": \"storage-rg\",\r\n        \"location\": \"westus2\"\r\n
        \     }\r\n    },\r\n    \"status\": {\r\n      \"timeCreated\": \"2020-03-11T15:03:27+00:00\",\r\n
        \     \"lastModified\": \"2020-03-11T15:03:27.9485229+00:00\"\r\n    },\r\n
        \   \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"locks\": {\r\n      \"mode\": \"none\"\r\n    }\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n  \"name\": \"Assignment-test-import-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"2c4ad291-088a-4833-9d12-65562168e61f\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"succeeded\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"tagName\": {\r\n        \"value\": \"type\"\r\n
        \     },\r\n      \"tagValue\": {\r\n        \"value\": \"test\"\r\n      },\r\n
        \     \"contributors\": {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      },\r\n      \"owners\": {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      }\r\n    },\r\n    \"resourceGroups\": {\r\n      \"storageRG\":
        {\r\n        \"name\": \"storage-rg\",\r\n        \"location\": \"westus2\"\r\n
        \     }\r\n    },\r\n    \"status\": {\r\n      \"managedResources\": [\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/9b26c70e-48e6-9170-677d-d2e0c5c9304e\",\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/8c6ee8d403e4302ff7775f7abd0ff27b978ba9973618abfe47f611de4d0bad95\",\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/0aa1605f5affd03d6155fcdc5fa7781afe03220801d799bb8cbb9e1dc6ec9c07\",\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/storage-rg/providers/Microsoft.Authorization/roleAssignments/93492ee5-b7af-b3ed-a432-3d90304657f8\"\r\n
        \     ],\r\n      \"timeCreated\": \"2020-03-11T15:03:27+00:00\",\r\n      \"lastModified\":
        \"2020-03-11T15:03:27.9485229+00:00\"\r\n    },\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"locks\": {\r\n      \"mode\": \"none\"\r\n    }\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n  \"name\": \"Assignment-test-import-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"AssignmentNotFound\",\r\n    \"message\":
        \"Assignment 'Assignment-test-import-bp' could not be found in subscription
        '0b1f6471-1bf0-4dda-aec3-cb9272f09590'.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/storage-rg?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2019-07-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
