interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blueprint000001","name":"cli_test_blueprint000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_blueprint","date":"2026-06-30T19:40:39Z","module":"blueprint"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blueprint000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004","name":"testid_000004","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"16958e25-8053-434f-b32e-f5fdc8861608","clientId":"bf37d9c7-f697-4056-89d9-7c898b76c2cc"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_blueprint000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testid_000004
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"description": "An example blueprint.", "targetScope":
      "subscription"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {},\r\n    \"resourceGroups\":
        {},\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n      \"timeCreated\":
        \"2026-06-30T19:40:51+00:00\",\r\n      \"lastModified\": \"2026-06-30T19:40:51.3066675+00:00\"\r\n
        \   },\r\n    \"description\": \"An example blueprint.\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-bp-000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"parameters\":
        {\r\n          \"storageAccountType\": {\r\n            \"type\": \"string\",\r\n
        \           \"metadata\": {\r\n              \"displayName\": \"storage account
        type.\"\r\n            },\r\n            \"defaultValue\": \"Standard_LRS\",\r\n
        \           \"allowedValues\": [\r\n              \"Standard_LRS\",\r\n              \"Standard_GRS\",\r\n
        \             \"Standard_ZRS\",\r\n              \"Premium_LRS\"\r\n            ]\r\n
        \         },\r\n          \"tagName\": {\r\n            \"type\": \"string\",\r\n
        \           \"metadata\": {\r\n              \"displayName\": \"The name of
        the tag to provide the policy assignment.\"\r\n            }\r\n          },\r\n
        \         \"tagValue\": {\r\n            \"type\": \"string\",\r\n            \"metadata\":
        {\r\n              \"displayName\": \"The value of the tag to provide the
        policy assignment.\"\r\n            }\r\n          },\r\n          \"contributors\":
        {\r\n            \"type\": \"array\",\r\n            \"metadata\": {\r\n              \"description\":
        \"List of AAD object IDs that is assigned Contributor role at the subscription\",\r\n
        \             \"strongType\": \"PrincipalId\"\r\n            }\r\n          },\r\n
        \         \"owners\": {\r\n            \"type\": \"array\",\r\n            \"metadata\":
        {\r\n              \"description\": \"List of AAD object IDs that is assigned
        Owner role at the resource group\",\r\n              \"strongType\": \"PrincipalId\"\r\n
        \           }\r\n          }\r\n        },\r\n        \"resourceGroups\":
        {\r\n          \"storageRG\": {\r\n            \"metadata\": {\r\n              \"description\":
        \"Contains the resource template deployment and a role assignment.\"\r\n            },\r\n
        \           \"dependsOn\": []\r\n          }\r\n        },\r\n        \"targetScope\":
        \"subscription\",\r\n        \"status\": {\r\n          \"timeCreated\": \"2026-06-30T17:37:26+00:00\",\r\n
        \         \"lastModified\": \"2026-06-30T17:37:29.5509021+00:00\"\r\n        },\r\n
        \       \"description\": \"This blueprint sets tag policy and role assignment
        on the subscription, creates a ResourceGroup, and deploys a resource template
        and role assignment to that ResourceGroup.\"\r\n   [...]
[...]
- request:
    body: '{"properties": {"description": "An example blueprint.", "parameters": {},
      "resourceGroups": {"myRgArt": {"metadata": {"displayName": "Resource Group 1"}}},
      "status": {}, "targetScope": "subscription"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {},\r\n    \"resourceGroups\":
        {\r\n      \"myRgArt\": {\r\n        \"metadata\": {\r\n          \"displayName\":
        \"Resource Group 1\"\r\n        },\r\n        \"dependsOn\": []\r\n      }\r\n
        \   },\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n
        \     \"timeCreated\": \"2026-06-30T19:40:51+00:00\",\r\n      \"lastModified\":
        \"2026-06-30T19:40:56.4999893+00:00\"\r\n    },\r\n    \"description\": \"An
        example blueprint.\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-bp-000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "roleAssignment", "properties": {"displayName": "[User group or
      application name] : Reader", "roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalIds": "[parameters(''reader'')]", "resourceGroup": "myRgArt"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/artifacts/reader-role-art?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n
        \   \"principalIds\": \"[parameters('reader')]\",\r\n    \"dependsOn\": [],\r\n
        \   \"resourceGroup\": \"myRgArt\",\r\n    \"displayName\": \"[User group
        or application name] : Reader\"\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/artifacts/reader-role-art\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"reader-role-art\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Audit Windows
      VMs in which the Administrators group does not contain only the specified members",
      "policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/06122b01-688c-42a8-af2e-fa97dd39aa3b",
      "parameters": {"Members": {"value": "[parameters(''audit'')]"}}, "resourceGroup":
      "myRgArt"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/artifacts/policy-audit-win-vm-art?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/06122b01-688c-42a8-af2e-fa97dd39aa3b\",\r\n
        \   \"parameters\": {\r\n      \"Members\": {\r\n        \"value\": \"[parameters('audit')]\"\r\n
        \     }\r\n    },\r\n    \"dependsOn\": [],\r\n    \"resourceGroup\": \"myRgArt\",\r\n
        \   \"displayName\": \"Audit Windows VMs in which the Administrators group
        does not contain only the specified members\"\r\n  },\r\n  \"kind\": \"policyAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/artifacts/policy-audit-win-vm-art\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"policy-audit-win-vm-art\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "An example blueprint.", "parameters": {"reader":
      {"metadata": {"displayName": "[User group or application name] ([User group
      or application name] : Reader)", "strongType": "PrincipalId"}, "type": "array"},
      "audit": {"allowedValues": [], "metadata": {"displayName": "Members"}, "type":
      "string"}}, "resourceGroups": {"myRgArt": {"dependsOn": [], "metadata": {"displayName":
      "Resource Group 1"}}}, "status": {}, "targetScope": "subscription"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002?api-version=2018-11-01-preview
  respons[...]
- request:
    body: '{"properties": {"blueprintName": "test-bp-000002", "changeNotes": "First
      release"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"blueprintName\": \"test-bp-000002\",\r\n
        \   \"changeNotes\": \"First release\",\r\n    \"parameters\": {\r\n      \"reader\":
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"blueprintName\":
        \"test-bp-000002\",\r\n        \"changeNotes\": \"First release\",\r\n        \"parameters\":
        {\r\n          \"reader\": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0/artifacts/reader-role-art?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n
        \   \"principalIds\": \"[parameters('reader')]\",\r\n    \"dependsOn\": [],\r\n
        \   \"resourceGroup\": \"myRgArt\",\r\n    \"displayName\": \"[User group
        or application name] : Reader\"\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0/artifacts/reader-role-art\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/versions/artifacts\",\r\n  \"name\":
        \"reader-role-art\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp-000002/versions/1.0/artifacts?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"policyDefinitionId\":
        \"/providers/Microsoft.Authorization/policySetDefinitions/06122b01-688c-42a8-af2e-fa97dd39aa3b\",\r\n
        [...]
[...]
