interactions:
- request:
    body: '{"properties": {"description": "This blueprint sets tag policy and role
      assignment on the subscription, creates a ResourceGroup, and deploys a resource
      template and role assignment to that ResourceGroup.", "targetScope": "subscription",
      "parameters": {"storageAccountType": {"type": "string", "defaultValue": "Standard_LRS",
      "allowedValues": ["Standard_LRS", "Standard_GRS", "Standard_ZRS", "Premium_LRS"],
      "metadata": {"displayName": "storage account type.", "description": "storage
      account type."}}, "tagName": {"type": "string", "metadata": {"displayName":
      "The name of the tag to provide the policy assignment.", "description": "The
      name of the tag to provide the policy assignment."}}, "tagValue": {"type": "string",
      "metadata": {"displayName": "The value of the tag to provide the policy assignment.",
      "description": "The value of the tag to provide the policy assignment."}}, "contributors":
      {"type": "array", "metadata": {"description": "List of AAD object IDs that is
      assigned Contributor role at the subscription", "strongType": "PrincipalId"}},
      "owners": {"type": "array", "metadata": {"description": "List of AAD object
      IDs that is assigned Owner role at the resource group", "strongType": "PrincipalId"}}},
      "resourceGroups": {"storageRG": {"dependsOn": [], "metadata": {"description":
      "Contains the resource template deployment and a role assignment."}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"storageAccountType\":
        {\r\n        \"type\": \"string\",\r\n        \"metadata\": {\r\n          \"displayName\":
        \"storage account type.\",\r\n          \"description\": \"storage account
        type.\"\r\n        },\r\n        \"defaultValue\": \"Standard_LRS\",\r\n        \"allowedValues\":
        [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n          \"Standard_ZRS\",\r\n
        \         [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Apply storage
      tag to resource group", "description": "Apply storage tag and the parameter
      also used by the template to resource groups", "dependsOn": [], "policyDefinitionId":
      "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
      "parameters": {"tagName": {"value": "StorageType"}, "tagValue": {"value": "[parameters(''storageAccountType'')]"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts/policyStorageTags?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71\",\r\n
        \   \"parameters\": {\r\n      \"tagName\": {\r\n        \"value\": \"StorageType\"\r\n
        \     },\r\n      \"tagValue\": {\r\n        \"value\": \"[parameters('storageAccountType')]\"\r\n
        \     }\r\n    },\r\n    \"dependsOn\": [],\r\n    \"displayName\": \"Apply
        storage tag to resource group\",\r\n    \"description\": \"Apply storage tag
        and the parameter also used by the template to resource groups\"\r\n  },\r\n
        \ \"kind\": \"policyAssignment\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts/policyStorageTags\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"policyStorageTags\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Apply tag and
      its default value to resource groups", "description": "Apply tag and its default
      value to resource groups", "dependsOn": [], "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
      "parameters": {"tagName": {"value": "[parameters(''tagName'')]"}, "tagValue":
      {"value": "[parameters(''tagValue'')]"}}}}'
    headers:
     [...]
- request:
    body: '{"kind": "roleAssignment", "properties": {"dependsOn": [], "roleDefinitionId":
      "/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalIds": "[parameters(''contributors'')]"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts/roleContributor?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n
        \   \"principalIds\": \"[parameters('contributors')]\",\r\n    \"dependsOn\":
        []\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts/roleContributor\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"roleContributor\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "roleAssignment", "properties": {"dependsOn": [], "roleDefinitionId":
      "/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalIds": "[parameters(''owners'')]", "resourceGroup": "storageRG"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts/roleOwner?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635\",\r\n
        \   \"principalIds\": \"[parameters('owners')]\",\r\n    \"dependsOn\": [],\r\n
        \   \"resourceGroup\": \"storageRG\"\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-imported-bp000002/artifacts/roleOwner\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"roleOwner\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
