interactions:
- request:
    body: '{"properties": {"description": "This blueprint sets tag policy and role
      assignment on the subscription, creates a ResourceGroup, and deploys a resource
      template and role assignment to that ResourceGroup.", "targetScope": "subscription",
      "parameters": {"storageAccountType": {"type": "string", "defaultValue": "Standard_LRS",
      "allowedValues": ["Standard_LRS", "Standard_GRS", "Standard_ZRS", "Premium_LRS"],
      "metadata": {"displayName": "storage account type."}}, "tagName": {"type": "string",
      "metadata": {"displayName": "The name of the tag to provide the policy assignment."}},
      "tagValue": {"type": "string", "metadata": {"displayName": "The value of the
      tag to provide the policy assignment."}}}, "resourceGroups": {"storageRG": {"metadata":
      {"description": "Contains the resource template deployment and a role assignment."}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"storageAccountType\":
        {\r\n        \"type\": \"string\",\r\n        \"metadata\": {\r\n          \"displayName\":
        \"storage account type.\"\r\n        },\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
        \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n
        \         \"Standard_ZRS\",\r\n          \"Premium_LRS\"\r\n        ]\r\n
        \     },\r\n      \"tagName\": {\r\n        \"type\": \"string\",\r\n        \"metadata\":
        {\r\n          \"displayName\": \"The name of the tag to provide the policy
        assignment.\"\r\n        }\r\n      },\r\n      \"tagValue\": {\r\n        \"type\":
        \"string\",\r\n        \"metadata\": {\r\n          \"displayName\": \"The
        value of the tag to provide the policy assignment.\"\r\n        }\r\n      }\r\n
        \   },\r\n    \"resourceGroups\": {\r\n      \"storageRG\": {\r\n        \"metadata\":
        {\r\n          \"description\": \"Contains the resource template deployment
        and a role assignment.\"\r\n        },\r\n        \"dependsOn\": []\r\n      }\r\n
        \   },\r\n    \"targetScope\": \"subscription\",\r\n    \"status\": {\r\n
        \     \"timeCreated\": \"2026-06-30T20:56:52+00:00\",\r\n      \"lastModified\":
        \"2026-06-30T20:56:52.6796951+00:00\"\r\n    },\r\n    \"description\": \"This
        blueprint sets tag policy and role assignment on the subscription, creates
        a ResourceGroup, and deploys a resource template and role assignment to that
        ResourceGroup.\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints\",\r\n  \"name\": \"test-import-bp000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/artifacts?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "template", "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"storageAccountTypeFromBP": {"type":
      "string", "metadata": {"description": "Storage Account type"}}, "tagNameFromBP":
      {"type": "string", "defaultValue": "NotSet", "metadata": {"description": "Tag
      name from blueprint"}}, "tagValueFromBP": {"type": "string", "defaultValue":
      "NotSet", "metadata": {"description": "Tag value from blueprint"}}}, "variables":
      {"storageAccountName": "[concat(uniquestring(resourceGroup().id), ''standardsa'')]"},
      "resources": [{"type": "Microsoft.Storage/storageAccounts", "name": "[variables(''storageAccountName'')]",
      "apiVersion": "2016-01-01", "tags": {"[parameters(''tagNameFromBP'')]": "[parameters(''tagValueFromBP'')]"},
      "location": "[resourceGroup().location]", "sku": {"name": "[parameters(''storageAccountTypeFromBP'')]"},
      "kind": "Storage", "properties": {}}], "outputs": {"storageAccountSku": {"type":
      "string", "value": "[variables(''storageAccountName'')]"}}}, "parameters": {"storageAccountTypeFromBP":
      {"value": "[parameters(''storageAccountType'')]"}, "tagNameFromBP": {"value":
      "[parameters(''tagName'')]"}, "tagValueFromBP": {"value": "[parameters(''tagValue'')]"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/bluep[...]
- request:
    body: '{"properties": {"description": "This blueprint sets tag policy and role
      assignment on the subscription, creates a ResourceGroup, and deploys a resource
      template and role assignment to that ResourceGroup.", "targetScope": "subscription",
      "parameters": {"storageAccountType": {"type": "string", "defaultValue": "Standard_LRS",
      "allowedValues": ["Standard_LRS", "Standard_GRS", "Standard_ZRS", "Premium_LRS"],
      "metadata": {"displayName": "storage account type."}}, "tagName": {"type": "string",
      "metadata": {"displayName": "The name of the tag to provide the policy assignment."}},
      "tagValue": {"type": "string", "metadata": {"displayName": "The value of the
      tag to provide the policy assignment."}}, "contributors": {"type": "array",
      "metadata": {"description": "List of AAD object IDs that is assigned Contributor
      role at the subscription", "strongType": "PrincipalId"}}, "owners": {"type":
      "array", "metadata": {"description": "List of AAD object IDs that is assigned
      Owner role at the resource group", "strongType": "PrincipalId"}}}, "resourceGroups":
      {"storageRG": {"metadata": {"description": "Contains the resource template deployment
      and a role assignment."}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blue[...]
[...]
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Apply storage
      tag to resource group", "description": "Apply storage tag and the parameter
      also used by the template to resource groups", "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
      "parameters": {"tagName": {"value": "StorageType"}, "tagValue": {"value": "[parameters(''storageAccountType'')]"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/artifacts/policyStorageTags?api-version=2018-11-01-previe[...]
- request:
    body: '{"kind": "policyAssignment", "properties": {"displayName": "Apply tag and
      its default value to resource groups", "description": "Apply tag and its default
      value to resource groups", "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
      "parameters": {"tagName": {"value": "[parameters(''tagName'')]"}, "tagValue":
      {"value": "[parameters(''tagValue'')]"}}}}'
    headers:
      Content-Type:
  [...]
- request:
    body: '{"kind": "roleAssignment", "properties": {"roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalIds": "[parameters(''contributors'')]"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/artifacts/roleContributor?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n
        \   \"principalIds\": \"[parameters('contributors')]\",\r\n    \"dependsOn\":
        []\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/artifacts/roleContributor\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"roleContributor\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"kind": "roleAssignment", "properties": {"roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalIds": "[parameters(''owners'')]", "resourceGroup": "storageRG"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/artifacts/roleOwner?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635\",\r\n
        \   \"principalIds\": \"[parameters('owners')]\",\r\n    \"dependsOn\": [],\r\n
        \   \"resourceGroup\": \"storageRG\"\r\n  },\r\n  \"kind\": \"roleAssignment\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/artifacts/roleOwner\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprints/artifacts\",\r\n  \"name\": \"roleOwner\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"blueprintName": "test-import-bp000002", "changeNotes":
      "First release"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/versions/1.0?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"blueprintName\": \"test-import-bp000002\",\r\n
        \   \"changeNotes\": \"First release\",\r\n    \"parameters\": {\r\n      \"sto[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp000003?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"AssignmentNotFound\",\r\n    \"message\":
        \"Assignment 'Assignment-test-import-bp000003' could not be found in subscription
        '390ba170-3e2a-41c4-b372-15d9c5ae6e81'.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp000003/whoIsBlueprint?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"objectId\": \"ffeb3a44-712a-4d2e-9b97-b1e032a40b29\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27ffeb3a44-712a-4d2e-9b97-b1e032a40b29%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US 2","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"BN5PEPF0004381B"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["ffeb3a44-712a-4d2e-9b97-b1e032a40b29"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"ffeb3a44-712a-4d2e-9b97-b1e032a40b29","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"Azure
        Blueprints","appDescription":null,"appId":"f71766dc-90d9-4b7d-bd9d-4499c4331c3f","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdByAppId":null,"createdDateTime":null,"description":null,"disabledByMicrosoftStatus":null,"displayName":"Azure
        Blueprints","homepage":null,"isDisabled":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["f71766dc-90d9-4b7d-bd9d-4499c4331c3f"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      location:
      - https://graph.microsoft.com/
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US 2","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"BN5PEPF0000E147"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01&$filter=atScope%28%29
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"1003f2ec-d334-46e5-a5ad-7210132e6e7f","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2026-06-16T21:23:31.0539503Z","updatedOn":"2026-06-16T21:23:31.0539503Z","createdBy":"99aa995a-c9e0-4b16-9baa-0e505d32bdab","updatedBy":"99aa995a-c9e0-4b16-9baa-0e505d32bdab","delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/217665c4-df00-4907-8f89-c12b35c97643","type":"Microsoft.Authorization/roleAssignments","name":"217665c4-df00-4907-8f89-c12b35c97643"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8ffc7b67-95b9-471f-9a13-f3fcb5319c06","principalId":"5cf638fd-a9f5-4ed5-834d-b4b99d4372df","principalType":"ServicePrincipal","scope":"/","conditio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2022-05-01-preview&$filter=roleName%20eq%20%27Owner%27
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Grants
        full access to manage all resources, including the ability to assign roles
        in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:45.8978856Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"principalId": "ffeb3a44-712a-4d2e-9b97-b1e032a40b29",
      "principalType": "ServicePrincipal", "roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/rol[...]
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"blueprintId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/versions/1.0",
      "parameters": {"tagName": {"value": "type"}, "tagValue": {"value": "test"},
      "contributors": {"value": ["7a2bb2be-2235-4d75-b601-4578b2d1fcb5"]}, "owners":
      {"value": ["7a2bb2be-2235-4d75-b601-4578b2d1fcb5"]}}, "resourceGroups": {"storageRG":
      {"name": "storage-rg", "location": "westus2"}}, "locks": {"mode": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp000003?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"5f8a7a1b-452e-4086-80d6-da3cc36f43db\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"creating\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"tagName\": {\r\n        \"value\": \"type\"\r\n
        \     },\r\n      \"tagValue\": {\r\n        \"value\": \"test\"\r\n      },\r\n
        \     \"contributors\": {\r\n        \"value\": [\r\n          \"7a2bb2be-2235-4d75-b601-4578b2d1fcb5\"\r\n
        \       ]\r\n  [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-import-bp000003?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"5f8a7a1b-452e-4086-80d6-da3cc36f43db\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"succeeded\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-import-bp000002/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"tagName\": {\r\n        \"value\": \"type\"\r\n
        \     },\r\n      \"tagValue\": {\r\n        \"value\": \"test\"\r\n      },\r\n
        \     \"contributors\": {\r\n        \"value\": [\r\n          \"7a2bb2be-2235-4d75-b601-4578b2d1fcb5\"\r\n
        \       ]\r\n      },\r\n      \"owners\": {\r\n        \"value\": [\r\n          \"7a2bb2be-2235-4d75-b601-4578b2d1fcb5\"\r\n
        \       ]\r\n      }\r\n    },\r\n    \"resourceGroups\": {\r\n      \"storageRG\":
        {\r\n        \"name\": \"storage-rg\",\r\n        \"location\": \"westus2\"\r\n
        \     }\r\n    },\r\n    \"status\": {\r\n      \"managedResources\": [\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/ee9f8be0-e6be-2965-156b-b42380d1bd0d\",\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/94552053450c41603a50c1824d777bca9f3404c0f54b294d213cd09bad7d66b4\",\r\n
        \       \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/d487b4fdc4513[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/storage-rg?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiIsImpvYlN0b3JhZ2VBY2NvdW5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiIsImpvYlN0b3JhZ2VBY2NvdW50IjoiL2NzbS9zdG9yYWdlYWNjb3VudHMvZ2xvYmFsL3JwZmRsam9iMDBwcm9kbXdoMDMifQ?api-version=2024-11-01&t=639184499389172109&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVE9SQUdFOjJEUkctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiIsImpvYlN0b3JhZ2VBY2NvdW50IjoiL2NzbS9zdG9yYWdlYWNjb3VudHMvZ2xvYmFsL3JwZmRsam9iMDBwcm9kbXdoMDMifQ?api-version=2024-11-01&t=639184499400444674&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIF[...]
