interactions:
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"blueprintId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/versions/1.0",
      "parameters": {"[Usergrouporapplicationname]:Reader_RoleAssignmentName": {"value":
      ["31e600e0-d7ce-4e98-a927-19bb30042e44"]}, "auditWindowsVMsinwhichtheAdministratorsgroupdoesnotcontainonlythespecifiedmembers_Members":
      {"value": "jack"}}, "resourceGroups": {"myRgArt": {"name": "blueprint-rg", "location":
      "eastasia"}}, "locks": {"mode": "None"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp?api-version=2018-11-01-preview
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"systemAssigned\",\r\n    \"principalId\":
        \"4b3016ee-3b41-4d02-8d17-0284703e0ad7\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"creating\",\r\n    \"blueprintId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/test-bp/versions/1.0\",\r\n
        \   \"parameters\": {\r\n      \"[Usergrouporapplicationname]:Reader_RoleAssignmentName\":
        {\r\n        \"value\": [\r\n          \"31e600e0-d7ce-4e98-a927-19bb30042e44\"\r\n
        \       ]\r\n      },\r\n      \"auditWindowsVMsinwhichtheAdministratorsgroupdoesnotcontainonlythespecifiedmembers_Members\":
        {\r\n        \"value\": \"jack\"\r\n      }\r\n    },\r\n    \"resourceGroups\":
        {\r\n      \"myRgArt\": {\r\n        \"name\": \"blueprint-rg\",\r\n        \"location\":
        \"eastasia\"\r\n      }\r\n    },\r\n    \"status\": {\r\n      \"managedResources\":
        [],\r\n      \"timeCreated\": \"2020-02-13T15:21:07+00:00\",\r\n      \"lastModified\":
        \"2020-02-13T15:41:15.7078282+00:00\"\r\n    },\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"locks\": {\r\n      \"mode\": \"none\"\r\n    }\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/Assignment-test-bp\",\r\n
        \ \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n  \"name\": \"Assignment-test-bp\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
