interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"description": "My Test Network
      Manager", "networkManagerScopeAccesses": ["Connectivity"], "networkManagerScopes":
      {"subscriptions": ["/subscriptions/00000000-0000-0000-0000-000000000000"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM?api-version=2023-09-01
  response:
    body:
      string: '{"name":"TestNetworkManagerIPAM","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM","location":"eastus2euap","type":"Microsoft.Network/networkManagers","tags":{},"etag":"","properties":{"description":"My
        Test Network Manager","networkManagerScopes":{"managementGroups":[],"subscriptions":["/subscriptions/00000000-0000-0000-0000-000000000000"],"crossTenantScopes":[]},"provisioningState":"Succeeded","networkManagerScopeAccesses":["Connectivity"],"resourceGuid":"8ec1340a-7ea7-403d-ab79-60566c35d5e9"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-28T16:16:05.9508681Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-28T16:16:05.9508681Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"addressPrefixes": ["10.0.0.0/16"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002?api-version=2024-05-01
  response:
    body:
      string: '{"name":"pool-000002","type":"Microsoft.Network/networkManagers/ipamPools","properties":{"description":"","displayName":"","ipAddressType":["IPv4"],"parentPoolName":"","addressPrefixes":["10.0.0.0/16"],"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002","tags":null,"location":"eastus2euap","etag":"\"0400750f-0000-3400-0000-6887a2490000\"","systemData":{"createdBy":null,"createdByType":"User","createdAt":"2025-07-28T16:16:08.5444792+00:00","lastModifiedBy":null,"lastModifiedByType":"User","lastModifiedAt":"2025-07-28T16:16:08.5444792+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002?api-version=2024-05-01
      mise-correlation-id:
      - 43724dd7-eee1-4bf6-800b-56b7817d2607
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"40c49ff3-c6ae-436d-b28e-b8e268841980","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"d66e9e8e-53a4-420c-866d-5bb39aaea675","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnszones","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01","2015-05-04-preview"],"defaultApiVersion":"2018-05-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-04-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-04-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-04-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsOperationResults","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01"],"defaultApiVersion":"2018-05-01","capabilities":"None"},{"resourceType":"dnsOperationStatuses","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/pool-000002?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkManagers/pool-000002''
        under resource group ''test_network_manager_static_cidr_crud000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressPrefixes": ["10.0.0.0/16",
      "192.168.0.0/16"], "description": "updated desc", "displayName": "", "parentPoolName":
      ""}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002?api-version=2024-07-01
  response:
    body:
      string: '{"name":"pool-000002","type":"Microsoft.Network/networkManagers/ipamPools","properties":{"description":"updated
        desc","displayName":"","ipAddressType":["IPv4"],"parentPoolName":"","addressPrefixes":["10.0.0.0/16"],"provisioningState":"Updating"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002","tags":null,"location":"eastus2euap","etag":"\"04007b0f-0000-3400-0000-6887a28a0000\"","systemData":{"createdBy":null,"createdByType":"User","createdAt":"2025-07-28T16:16:08.5444792+00:00","lastModifiedBy":null,"lastModifiedByType":"User","lastModifiedAt":"2025-07-28T16:16:08.5444792+00:00"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/locations/eastus2euap/ipamPoolOperationResults/8EC1340A-7EA7-403D-AB79-60566C35D5E9+00-32473444E75D5F183B7367F68BF0B77A-FBC8AA19F1591374-01+POOL-YWGLL+UPDATE?api-version=2024-07-01&t=638893162348100019&c=MIIIrzCCBpegAwIBAgITUQB9IG90l0_hR40-awABAH0gbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/locations/eastus2euap/ipamPoolOperationResults/8EC1340A-7EA7-403D-AB79-60566C35D5E9+00-32473444E75D5F183B7367F68BF0B77A-FBC8AA19F1591374-01+POOL-YWGLL+UPDATE?api-version=2024-07-01&t=638893162348100019&c=MIIIrzCCBpegAwIBAgITUQB9IG90l0_hR40-awABAH0gbzANBgkqhkiG9w0BAQsFA[...]
[...]
- request:
    body: '{"properties": {"description": "First decription", "numberOfIPAddressesToAllocate":
      "256"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002/staticCidrs/staticCidr-000003?api-version=2024-05-01
  response:
    body:
      string: '{"name":"staticCidr-000003","type":"Microsoft.Network/networkManagers/ipamPools/staticCidrs","properties":{"description":"First
        decription","numberOfIPAddressesToAllocate":"256","addressPrefixes":["192.168.0.0/24"],"totalNumberOfIPAddresses":"256","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002/staticCidrs/staticCidr-000003","systemData":{"createdBy":null,"createdByType":null,"createdAt":"2025-07-28T16:17:17.1087949+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a2e1f119-8602-4705-9593-66151c17b4b3
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/staticCidr-000003?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkManagers/staticCidr-000003''
        under resource group ''test_network_manager_static_cidr_crud000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002/staticCidrs?skip=0&top=50&api-version=2024-05-01
  response:
    body:
      string: '{"value":[{"name":"staticCidr-000003","type":"Microsoft.Network/networkManagers/ipamPools/staticCidrs","properties":{"description":"First
        decription","numberOfIPAddressesToAllocate":"256","addressPrefixes":["192.168.0.0/24"],"totalNumberOfIPAddresses":"256","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManagerIPAM/ipamPools/pool-000002/staticCidrs/staticCidr-000003","systemData":{"createdBy":null,"createdByType":null,"createdAt":"2025-07-28T16:17:17.1087949+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":null}}],"nextLink":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a1ac152f-64da-4850-83d3-2e5b55aaf92e
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_static_cidr_crud000001/providers/Microsoft.Network/locations/eastus2euap/ipamPoolOperationResults/8EC1340A-7EA7-403D-AB79-60566C35D5E9+00-06B23901D24CD35070646B9169DA2E0E-76F2B0932C511AD6-01+POOL-YWGLL+DELETE?api-version=2024-05-01&t=638893163070036664&c=MIIIpTCCBo2gAwIBAgITFgGu4p87zdtEnAmRzQABAa7inzANBgkqhkiG9w0BAQsFA[...]
[...]
