interactions:
- request:
    body: '{"location": "eastus2", "properties": {"description": "My Test Network
      Manager", "networkManagerScopeAccesses": ["Connectivity"], "networkManagerScopes":
      {"subscriptions": ["/subscriptions/00000000-0000-0000-0000-000000000000"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager?api-version=2023-09-01
  response:
    body:
      string: '{"name":"TestNetworkManager","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager","location":"eastus2","type":"Microsoft.Network/networkManagers","tags":{},"etag":"","properties":{"description":"My
        Test Network Manager","networkManagerScopes":{"managementGroups":[],"subscriptions":["/subscriptions/00000000-0000-0000-0000-000000000000"],"crossTenantScopes":[]},"provisioningState":"Succeeded","networkManagerScopeAccesses":["Connectivity"],"resourceGuid":"151870b5-34b5-4ab1-b94b-ad53dfed95ad"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-04T00:33:11.4213045Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-04T00:33:11.4213045Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "A sample policy with capabilities"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup?api-version=2022-01-01
  response:
    body:
      string: '{"name":"TestNetworkGroup","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup","type":"Microsoft.Network/networkManagers/networkGroups","etag":"","properties":{"description":"A
        sample policy with capabilities","provisioningState":"Succeeded","memberType":"VirtualNetwork","resourceGuid":"99b2894b-0f53-48db-a16b-a20300622675"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-04T00:33:12.9921073Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-04T00:33:12.9921073Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/virtualnetworks/clitest.vn000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/netwo[...]
- request:
    body: '{"properties": {"appliesToGroups": [{"groupConnectivity": "DirectlyConnected",
      "isGlobal": "False", "networkGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup",
      "useHubGateway": "True"}], "connectivityCapabilities": {"connectedGroupAddressOverlap":
      "Disallowed", "connectedGroupPrivateEndpointsScale": "HighScale", "peeringEnforcement":
      "Enforced"}, "connectivityTopology": "HubAndSpoke", "deleteExistingPeering":
      "True", "description": "Sample Configuration with Capabilities", "hubs": [{"resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/virtualnetworks/clitest.vn000002",
      "resourceType": "Microsoft.Network/virtualNetworks"}], "isGlobal": "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/connectivityConfigurations/myTestConnectConfigWithCapabilities?api-version=2024-07-01
  response:
    body:
      string: '{"error":{"message":"Using the connected group address overlap option
        is not supported for network manager /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_with_capabilities000001/providers/Microsoft.Network/networkManagers/TestNetworkManager.","code":"BadRequest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
version: 1
