interactions:
- request:
    body: '{"location": "jioindiawest", "properties": {"displayName": "TestNetworkManager",
      "description": "My Test Network Manager", "networkManagerScopes": {"subscriptions":
      ["/subscriptions/00000000-0000-0000-0000-000000000000"]}, "networkManagerScopeAccesses":
      ["SecurityAdmin", "Connectivity"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_security_admin_rule_collection_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager?api-version=2021-02-01-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Cannot have two Network Managers
        applied to the same object overlapping scope accesses. Scope id: /subscriptions/00000000-0000-0000-0000-000000000000.
        Network Manager Id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_security_admin_rule_collection_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager.
        Overlapping accesses: SecurityAdmin, Connectivity"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
