interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x86
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Ff686d426-8d16-42db-81b7-ab578e110ccd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"vaultUri": "https://integration-test.vault-int.azure-int.net/",
      "keyVaultCertName": "cli-ut"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates/test-cert?api-version=2019-05-01-preview
  response:
    body:
      string: '{"properties":{"thumbprint":"18c6f4bde4077d63a4f0ec8b70c38024478a9305","vaultUri":"https://integration-test.vault-int.azure-int.net/","keyVaultCertName":"cli-ut","certVersion":"dd64505807cf4219831f3cf6d7743d3b","issuer":"*.asc-test.net","expirationDate":"2021-04-24T11:17:54.000+0000","activateDate":"2020-04-24T11:07:54.000+0000","subjectName":"CN=*.asc-test.net","dnsNames":["cli.asc-test.net"]},"type":"Microsoft.AppPlatform/Spring/certificates","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates/test-cert","name":"test-cert"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates/test-cert?api-version=2019-05-01-preview
  response:
    body:
      string: '{"properties":{"thumbprint":"18c6f4bde4077d63a4f0ec8b70c38024478a9305","vaultUri":"https://integration-test.vault-int.azure-int.net/","keyVaultCertName":"cli-ut","certVersion":"dd64505807cf4219831f3cf6d7743d3b","issuer":"*.asc-test.net","expirationDate":"2021-04-24T11:17:54.000+0000","activateDate":"2020-04-24T11:07:54.000+0000","subjectName":"CN=*.asc-test.net","dnsNames":["cli.asc-test.net"]},"type":"Microsoft.AppPlatform/Spring/certificates","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates/test-cert","name":"test-cert"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates?api-version=2019-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"thumbprint":"18c6f4bde4077d63a4f0ec8b70c38024478a9305","vaultUri":"https://integration-test.vault-int.azure-int.net/","keyVaultCertName":"cli-ut","certVersion":"dd64505807cf4219831f3cf6d7743d3b","issuer":"*.asc-test.net","expirationDate":"2021-04-24T11:17:54.000+0000","activateDate":"2020-04-24T11:07:54.000+0000","subjectName":"CN=*.asc-test.net","dnsNames":["cli.asc-test.net"]},"type":"Microsoft.AppPlatform/Spring/certificates","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates/test-cert","name":"test-cert"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.asc-test.net?api-version=2019-05-01-preview
  response:
    body:
      string: '{"properties":{"appName":"test-app"},"type":"Microsoft.AppPlatform/Spring/apps/domains","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.asc-test.net","name":"cli.asc-test.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains?api-version=2019-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"appName":"test-app"},"type":"Microsoft.AppPlatform/Spring/apps/domains","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.azdmss-test.net","name":"cli.azdmss-test.net"},{"properties":{"appName":"test-app"},"type":"Microsoft.AppPlatform/Spring/apps/domains","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.asc-test.net","name":"cli.asc-test.net"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"thumbprint": "18c6f4bde4077d63a4f0ec8b70c38024478a9305",
      "certName": "test-cert"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.asc-test.net?api-version=2019-05-01-preview
  response:
    body:
      string: '{"properties":{"thumbprint":"18c6f4bde4077d63a4f0ec8b70c38024478a9305","appName":"test-app","certName":"test-cert"},"type":"Microsoft.AppPlatform/Spring/apps/domains","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.asc-test.net","name":"cli.asc-test.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/apps/test-app/domains/cli.asc-test.net?api-version=2019-05-01-preview
  response:
    body:
      string: '{"error":{"code":"EntityNotFound","message":"CustomDomain with name
        ''cli.asc-test.net'' not found","target":null,"details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-ut/certificates/test-cert?api-version=2019-05-01-preview
  response:
    body:
      string: '{"error":{"code":"EntityNotFound","message":"CertificateName ''test-cert''
        not found","target":null,"details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1ae75300-f110-4bbe-b685-ee89f5593139
    status:
      code: 404
      message: Not Found
version: 1
