interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"ac24d3441e324eb8b4c48068c8778885","networkProfile":{"outboundIPs":{"publicIPs":["20.85.140.173","20.85.140.198"]}},"powerState":"Running","fqdn":"cli-unittest.asc-test.net"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest","name":"cli-unittest","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T01:37:21.03064Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T01:41:05.648314Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2022-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"App was not found","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"public": false, "httpsOnly": false, "temporaryDisk": {"sizeInGB":
      5, "mountPath": "/tmp"}, "enableEndToEndTLS": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Creating","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"enableEndToEndTLS":false},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","name":"deploy","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T02:30:14.2140152Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T02:30:14.2140152Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/deploy/operationId/d462cfb2-d185-4ecf-a14c-478033c1c794?api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationResults/d462cfb2-d185-4ecf-a14c-478033c1c794/Spring/deploy?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/deploy/operationId/d462cfb2-d185-4ecf-a14c-478033c1c794?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0753feba-86f1-4242-aff1-27938fb04531/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/deploy/operationId/d462cfb2-d185-4ecf-a14c-478033c1c794","name":"d462cfb2-d185-4ecf-a14c-478033c1c794","status":"Succeeded","startTime":"2022-02-24T02:30:14.9223503Z","endTime":"2022-02-24T02:30:21.2442361Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"addonConfigs":{"applicationConfigurationService":{},"serviceRegistry":{}},"public":false,"provisioningState":"Succeeded","fqdn":"cli-unittest.asc-test.net","httpsOnly":false,"temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"persistentDisk":{"sizeInGB":0,"mountPath":"/persistent"},"enableEndToEndTLS":false},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy","name":"deploy","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T02:30:14.2140152Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T02:30:14.2140152Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"source": {"type": "Jar", "relativePath": "<default>",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {"resourceRequests": {"cpu":
      "2", "memory": "1Gi"}, "environmentVariables": {"foo": "bar"}}, "active": true},
      "sku": {"name": "S0", "tier": "Standard", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"},"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"}},"provisioningState":"Creating","status":"Running","active":true,"instances":null},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T02:30:51.0841464Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T02:30:51.0841464Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/edc3de15-5e31-4e52-abd0-cac8e25c3282?api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationResults/edc3de15-5e31-4e52-abd0-cac8e25c3282/Spring/default?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/edc3de15-5e31-4e52-abd0-cac8e25c3282?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0753feba-86f1-4242-aff1-27938fb04531/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default/operationId/edc3de15-5e31-4e52-abd0-cac8e25c3282","name":"edc3de15-5e31-4e52-abd0-cac8e25c3282","status":"Running","startTime":"2022-02-24T02:30:53.2592656Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"},"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"}},"provisioningState":"Succeeded","status":"Running","active":true,"instances":[{"name":"deploy-default-6-76cfcc6c86-mnxdk","status":"Running","discoveryStatus":"UP","startTime":"2022-02-24T02:31:02Z"}]},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T02:30:51.0841464Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T02:30:51.0841464Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments?api-version=2022-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"source":{"type":"Jar","relativePath":"<default>","runtimeVersion":"Java_11"},"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"}},"provisioningState":"Succeeded","status":"Running","active":true,"instances":[{"name":"deploy-default-6-76cfcc6c86-mnxdk","status":"Running","discoveryStatus":"UP","startTime":"2022-02-24T02:31:02Z"}]},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T02:30:51.0841464Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T02:30:51.0841464Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/getResourceUploadUrl?api-version=2022-01-01-preview
  response:
    body:
      string: '{"relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759","uploadUrl":"https://0000394e4365496cb8090d2e.file.core.windows.net/ac24d3441e324eb8b4c48068c8778885/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759?sv=2018-03-28&sr=f&sig=A7ZC9Lpd%2B7YSGPR4orRaVXEwHoZHa%2BN3BSN9BR5aTzs%3D&se=2022-02-24T04%3A32%3A01Z&sp=w"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 24 Feb 2022 02:32:01 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-creation-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-last-write-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://0000394e4365496cb8090d2e.file.core.windows.net/ac24d3441e324eb8b4c48068c8778885/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759?sv=2018-03-28&sr=f&sig=A7ZC9Lpd%2B7YSGPR4orRaVXEwHoZHa%2BN3BSN9BR5aTzs%3D&se=2022-02-24T04%3A32%3A01Z&sp=w
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F73DD6CFB118"'
      last-modified:
      - Thu, 24 Feb 2022 02:32:01 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-creation-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-id:
      - '11529338191370780672'
      x-ms-file-last-write-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 9303792710474857772*3007663947317056930
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 24 Feb 2022 02:32:03 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://0000394e4365496cb8090d2e.file.core.windows.net/ac24d3441e324eb8b4c48068c8778885/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759?comp=range&sv=2018-03-28&sr=f&sig=A7ZC9Lpd%2B7YSGPR4orRaVXEwHoZHa%2BN3BSN9BR5aTzs%3D&se=2022-02-24T04%3A32%3A01Z&sp=w
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8D9F73DD8151936"'
      last-modified:
      - Thu, 24 Feb 2022 02:32:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "Jar", "version": "v1", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759",
      "runtimeVersion": "Java_11"}, "deploymentSettings": {}}, "sku": {"name": "S0",
      "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"source":{"type":"Jar","relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759","version":"v1","runtimeVersion":"Java_11"},"deploymentSettings":{"resourceRequests":{"cpu":"2","memory":"1Gi"},"environmentVariables":{"foo":"bar"}},"provisioningState":"Failed","status":"Running","active":true,"instances":[{"name":"deploy-default-6-7b849864dc-2282p","status":"Failed","reason":"Fail
        to start, check the console log for this instance","discoveryStatus":"DOWN","startTime":"2022-02-24T02:32:23Z"}]},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/default","name":"default","systemData":{"createdBy":"qingyliu@microsoft.com","createdByType":"User","createdAt":"2022-02-24T02:30:51.0841464Z","lastModifiedBy":"qingyliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T02:32:04.3444358Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - abaf8a08-ab47-4674-80b0-7e026b318a31
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"source": {"type": "Jar", "version": "v1", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-d640ca53-006a-4df3-8586-f8ed71551759",
      "runtimeVersion": "Java_8"}, "deploymentSettings": {"environmentVariables":
      {"bas": "baz"}}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"source":{"type":"Jar","relativePath":"resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 24 Feb 2022 02:34:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-creation-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-last-write-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://0000394e4365496cb8090d2e.file.co[...]
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 24 Feb 2022 02:34:55 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://0000394e4365496cb8090d2e.file.core.windows.net/ac24d3441e324eb8b4c48068c8778885/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-587b5ab0-c762-4f80-a8fa-20d85e1d7fcc?comp=range&sv=2018-03-28&sr=f&sig=flA7UJ6EQR%2FsYDFGBSVFNwGLYgP3W18%2BB9cU2HGU2QI%3D&se=2022-02-24T04%3A34%3A52Z&sp=w
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8D9F73E3E420B6B"'
      last-modified:
      - Thu, 24 Feb 2022 02:34:55 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": {"type": "NetCoreZip", "version": "v2", "relativePath":
      "resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-587b5ab0-c762-4f80-a8fa-20d85e1d7fcc",
      "netCoreMainEntryPath": "test", "runtimeVersion": "NetCore_31"}, "deploymentSettings":
      {}}, "sku": {"name": "S0", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest/apps/deploy/deployments/mock-deployment?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"source":{"type":"NetC[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Thu, 24 Feb 2022 02:37:26 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-creation-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-last-write-time:
      - '2022-02-24T02:32:01.8637080Z'
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://0000394e4365496cb8090d2e.file.co[...]
- request:
    body: "fake-text\r\n"
    headers:
      x-ms-date:
      - Thu, 24 Feb 2022 02:37:28 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://0000394e4365496cb8090d2e.file.core.windows.net/ac24d3441e324eb8b4c48068c8778885/resources/b7bd55c11b781b0ccc43aa6e57f9dadf0660e9d1d4e27e0979ee43a407d454ae-2022022402-39415579-7b0d-480b-bee9-4135cc32bda0?comp=range&sv=2018-03-28&sr=f&sig=ei8wQ%2Bz7UkjjHqDl4cTtzgPFcwRyZvb%2Fth4qnERRS8Q%3D&se=2022-02-24T04%3A37%3A25Z&sp=w
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 99EB7GGDEcq+ZSyODG3erA==
      etag:
      - '"0x8D9F73E99672B73"'
      last-modified:
      - Thu, 24 Feb 2022 02:37:28 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
