interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli","name":"cli","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SaaS?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SaaS","namespace":"Microsoft.SaaS","authorizations":[{"applicationId":"f738ef14-47dc-4564-b53b-45069484ccc7","roleDefinitionId":"b131dd2d-387a-4cae-bb9b-3d021f80d1e6"},{"applicationId":"20e940b3-4c77-4b0b-9a53-9e16a1b010a7"},{"applicationId":"5b712e99-51a3-41ce-86ff-046e0081c5c0"}],"resourceTypes":[{"resourceType":"applications","locations":["global"],"apiVersions":["2018-03-01-beta"],"capabilities":"CrossResourceGroupResourceMove,
        SupportsTags, SupportsLocation"},{"resourceType":"checknameavailability","locations":["global"],"apiVersions":["2018-03-01-beta"],"capabilities":"None"},{"resourceType":"saasresources","locations":["global"],"apiVersions":["2018-03-01-beta"],"capabilities":"None"},{"resourceType":"operationResults","locations":["global"],"apiVersions":["2018-03-01-beta"],"capabilities":"None"},{"resourceType":"operations","locations":["global"],"apiVersions":["2018-03-01-beta"],"capabilities":"None"},{"resourceType":"resources","locations":["global"],"apiVersions":["2018-03-01-beta"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/vmware-inc/offers/azure-spring-cloud-vmware-tanzu-2/plans/tanzu-asc-ent-mtr/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/vmware-inc/offers/azure-spring-cloud-vmware-tanzu-2/plans/tanzu-asc-ent-mtr/agreements/current","name":"tanzu-asc-ent-mtr","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"vmware-inc","product":"azure-spring-cloud-vmware-tanzu-2","plan":"tanzu-asc-ent-mtr","licenseTextLink":"https://mpcprodsa.blob.core.windows.net/legalterms/3E5ED_legalterms_VMWARE%253a2DINC%253a24AZURE%253a2DSPRING%253a2DCLOUD%253a2DVMWARE%253a2DTANZU%253a2D2%253a24TANZU%253a2DASC%253a2DENT%253a2DMTR%253a24F67WU6YN7PBBA4GANLAJDGDIXWVJFLWKUKYLDZBPKTNUIP3JS7NB3KQWM7KNHFD77SHCPVTKPGVJGWZH2PCNNYJ7UGYO6ET7BVQ6VTY.txt","privacyPolicyLink":"https://www.vmware.com/help/privacy.html","marketplaceTermsLink":"https://mpcprodsa.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_SAAS%253a245XNIYDD23KXQBTPZZUVTDJNYHJZ5Y76OXRLYJ2DHP67BFUMFY42RHUG62CKSGJIAUTE2UN6MIODUJ4JBTOMEQBMWQM4VD2QGXBRTTUY.txt","retrieveDatetime":"2022-01-07T07:19:32.6898722Z","signature":"RBWKUYRSKHY5ZBEF3TBOIX2EWMCSIKBST4UJSMTEBXZUBABI76RF5HEZC7RVQ2ZKI5ZD3U7DDDMWMURCY7YDAXIGR6T2ABZYKFLEPQY","accepted":true},"systemData":{"createdBy":"799c12ba-353c-44a1-883d-84808ebb2216","createdByType":"ManagedIdentity","createdAt":"2022-01-07T07:19:32.8617449+00:00","lastModifiedBy":"799c12ba-353c-44a1-883d-84808ebb2216","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2022-01-07T07:19:32.8617449+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"zoneRedundant": false}, "sku":
      {"name": "E0", "tier": "Enterprise"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","zoneRedundant":false,"version":3,"serviceId":"5296e25290254019926e98376590593c","powerState":"Running","fqdn":"cli-unittest-ent.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"eastus2euap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent","name":"cli-unittest-ent","systemData":{"createdBy":"ninpan@microsoft.com","createdByType":"User","createdAt":"2022-01-07T07:19:42.9407292Z","lastModifiedBy":"ninpan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-07T07:19:42.9407292Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/3f663269-bab5-48ea-926f-3c9d9ae4ba24?api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationResults/3f663269-bab5-48ea-926f-3c9d9ae4ba24/Spring/cli-unittest-ent?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/3f663269-bab5-48ea-926f-3c9d9ae4ba24?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/3f663269-bab5-48ea-926f-3c9d9ae4ba24","name":"3f663269-bab5-48ea-926f-3c9d9ae4ba24","status":"Running","startTime":"2022-01-07T07:19:45.0367187Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/3f663269-bab5-48ea-926f-3c9d9ae4ba24?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/3f663269-bab5-48ea-926f-3c9d9ae4ba24","name":"3f663269-bab5-48ea-926f-3c9d9ae4ba24","status":"Succeeded","startTime":"2022-01-07T07:19:45.0367187Z","endTime":"2022-01-07T07:25:54.7377177Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"5296e25290254019926e98376590593c","networkProfile":{"outboundIPs":{"publicIPs":["52.253.231.82","52.253.231.92"]}},"powerState":"Running","fqdn":"cli-unittest-ent.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"eastus2euap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent","name":"cli-unittest-ent","systemData":{"createdBy":"ninpan@microsoft.com","createdByType":"User","createdAt":"2022-01-07T07:19:42.9407292Z","lastModifiedBy":"ninpan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-07T07:19:42.9407292Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/configurationServices/default?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","resourceRequests":{"cpu":"500m","memory":"1Gi","instanceCount":2},"instances":[]},"type":"Microsoft.AppPlatform/Spring/configurationServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/configurationServices/default","name":"default","systemData":{"createdBy":"ninpan@microsoft.com","createdByType":"User","createdAt":"2022-01-07T07:26:02.7535033Z","lastModifiedBy":"ninpan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-07T07:26:02.7535033Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/9e0a49ab-beb4-46fe-b03e-0a1d79c7bf6e?api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationResults/9e0a49ab-beb4-46fe-b03e-0a1d79c7bf6e/Spring/cli-unittest-ent?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/serviceRegistries/default?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","resourceRequests":{"cpu":"500m","memory":"1Gi","instanceCount":2},"instances":[]},"type":"Microsoft.AppPlatform/Spring/serviceRegistr[...]
- request:
    body: '{"sku": {"name": "E0", "tier": "Enterprise", "capacity": 2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/gateways/default?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"public":false,"provisioningState":"Creating","httpsOnly":false,"resourceRequests":{"cpu":"1","memory":"2Gi"},"instances":[],"operatorProperties":{"resourceRequests":{"cpu":"1","memory":"2Gi","instanceCount":2},"instances":[]}},"type":"Microsoft.AppPlatform/Spring/gateways","sku":{"name":"E0","tier":"Enterprise","capacity":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/gateways/default","name":"default","systemData":{"createdBy":"ninpan@microsoft.com","createdByType":"User","createdAt":"2022-01-07T07:26:05.248518Z","lastModifiedBy":"ninpan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-07T07:26:05.248518Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationStatus/cli-unittest-ent/operationId/9fa8437e-8ca3-4769-bda8-4678af657e20?api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus2euap/operationResults/9fa8437e-8ca3-4769-bda8-4678af657e20/Spring/cli-unittest-ent?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"gatewayIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/gateways/default"]},
      "sku": {"name": "E0", "tier": "Enterprise", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/apiPortals/default?api-version=2022-01[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/apiPortals/default?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","public":false,"url":"","httpsOnly":false,"gatewayIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/gateways/default"],"resourceRequests":{"cpu":"500m","memory":"1Gi"},"instances":[{"name":"asc-api-portal-default-ccdbc9f7-jg8vn","status":"Running"}]},"type":"Microsoft.AppPlatform/Spring/apiPortals","sku":{"name":"E0","tier":"Enterprise","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-ent/apiPortals/default","name":"default","systemData":{"createdBy":"ninpan@microsoft.com","createdByType":"User","createdAt":"2022-01-07T07:26:06.3385476Z","lastModifiedBy":"ninpan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-07T07:26:06.3385476Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - e71904c2-6563-484c-b527-529f24365ac6
    status:
      code: 200
      message: OK
[...]
