interactions:
- request:
    body: '{"location": "eastus", "properties": {"zoneRedundant": false}, "sku":
      {"name": "B0", "tier": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-10?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","zoneRedundant":false,"version":3,"serviceId":"a06905ade24e4682b6acc931dc0dc63e","powerState":"Running","fqdn":"cli-unittest-10.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"B0","tier":"Basic"},"location":"eastus","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-10","name":"cli-unittest-10","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2022-05-04T10:59:28.6092115Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-04T10:59:28.6092115Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/cli-unittest-10/operationId/6eeec2a8-0012-4ca4-b950-b46bc85c59b0?api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationResults/6eeec2a8-0012-4ca4-b950-b46bc85c59b0/Spring/cli-unittest-10?api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - b1bf7e6a-fb35-49fb-8d26-15deb0fd76db
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/cli-unittest-10/operationId/6eeec2a8-0012-4ca4-b950-b46bc85c59b0?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/cli-unittest-10/operationId/6eeec2a8-0012-4ca4-b950-b46bc85c59b0","name":"6eeec2a8-0012-4ca4-b950-b46bc85c59b0","status":"Running","startTime":"2022-05-04T10:59:30.8246722Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b1bf7e6a-fb35-49fb-8d26-15deb0fd76db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/cli-unittest-10/operationId/6eeec2a8-0012-4ca4-b950-b46bc85c59b0?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"subscriptions/d51e3ffe-6b84-49cd-b426-0dc4ec660356/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/cli-unittest-10/operationId/6eeec2a8-0012-4ca4-b950-b46bc85c59b0","name":"6eeec2a8-0012-4ca4-b950-b46bc85c59b0","status":"Succeeded","startTime":"2022-05-04T10:59:30.8246722Z","endTime":"2022-05-04T11:05:53.6270373Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - b1bf7e6a-fb35-49fb-8d26-15deb0fd76db
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-10?api-version=2022-01-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"a06905ade24e4682b6acc931dc0dc63e","networkProfile":{"outboundIPs":{"publicIPs":["20.99.146.114"]}},"powerState":"Running","fqdn":"cli-unittest-10.azuremicroservices.io"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"B0","tier":"Basic"},"location":"eastus","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-10","name":"cli-unittest-10","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2022-05-04T10:59:28.6092115Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-04T10:59:28.6092115Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
      x-rp-server-mvid:
      - b1bf7e6a-fb35-49fb-8d26-15deb0fd76db
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "web", "properties": {"Application_Type":
      "web"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.Insights/components/cli-unittest-10?api-version=2015-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/microsoft.insights/components/cli-unittest-10","name":"cli-unittest-10","type":"microsoft.insights/components","location":"eastus","tags":{},"kind":"web","etag":"\"72002fed-0000-0600-0000-62725e230000\"","properties":{"Ver":"v2","ApplicationId":"cli-unittest-10","AppId":"abf1afee-ed5e-4033-a4da-1c049960c227","Application_Type":"web","Flow_Type":null,"Request_Source":null,"InstrumentationKey":"e346186f-c08e-4292-97f9-62261c6d30fd","ConnectionString":"InstrumentationKey=e346186f-c08e-4292-97f9-62261c6d30fd;IngestionEndpoint=https://eastus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/","Name":"cli-unittest-10","CreationDate":"2022-05-04T11:06:11.0745506+00:00","TenantId":"d51e3ffe-6b84-49cd-b426-0dc4ec660356","provisioningState":"Succeeded","SamplingPercentage":null,"RetentionInDays":90,"IngestionMode":"ApplicationInsights","publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"traceEnabled": true, "appInsightsInstrumentationKey":
      "InstrumentationKey=e346186f-c08e-4292-97f9-62261c6d30fd;IngestionEndpoint=https://eastus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-10/monitoringSettings/default?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"appInsightsSamplingRate":10.0,"appInsightsAgentVersions":{"java":"3.2.8"},"provisioningState":"Updating","traceEnabled":true,"appInsightsInstrumentationKey":"InstrumentationKey=e346186f-c08e-4292-97f9-62261c6d30fd;IngestionEndpoint=https://eastus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/"},"type":"Microsoft.AppPlatform/Spring/monitoringSettings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/Spring/cli-unittest-10/monitoringSettings/default","name":"default"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/cli-unittest-10/operationId/cca4c52e-a04e-47f7-9964-e02f2f435923?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli/providers/Microsoft.AppPlatform/locations/eastus/operationResults/cca4c52e-a04e-47f7-9964-e02f2f435923/Spring/cli-unittest-10?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - b1bf7e6a-fb35-49fb-8d26-15deb0fd76db
    status:
      code: 202
      message: Accepted
[...]
