param containerAppName string = '{{data.containerAppName}}'
param containerImage string = '{{data.containerImage}}'
param targetPort int = {{data.targetPort}}

param cpuCore string = '{{data.cpuCore}}'
param memorySize string = '{{data.memorySize}}'

@description('Minimum number of replicas that will be deployed')
@minValue(0)
param minReplicas int = {{data.minReplicas}}

@description('Maximum number of replicas that will be deployed')
@minValue(1)
param maxReplicas int = {{data.maxReplicas}}

param containerAppEnvId string

resource {{data.moduleName}} 'Microsoft.App/containerApps@2024-03-01' = {
  name: containerAppName
  location: resourceGroup().location
  properties: {
    managedEnvironmentId: containerAppEnvId
    configuration: {
      ingress: {
        external: true
        targetPort: targetPort
        allowInsecure: false
        traffic: [
          {
            latestRevision: true
            weight: 100
          }
        ]
      }
    }
    template: {
      containers: [
        {
          name: containerAppName
          image: containerImage
          resources: {
            cpu: json(cpuCore)
            memory: '${memorySize}Gi'
          }
        }
      ]
      scale: {
        minReplicas: minReplicas
        maxReplicas: maxReplicas
      }
    }
  }
}

output containerAppFQDN string = {{data.moduleName}}.properties.configuration.ingress.fqdn
