param managedEnvironments_aca_env_name string

resource gatewayTest 'Microsoft.App/managedEnvironments/javaComponents@2024-10-02-preview' = {
    name: '${managedEnvironments_aca_env_name}/{{ data.gatewayName }}'
    properties: {
        componentType: 'SpringCloudGateway'
        configurations: [
            {%- for config in data.configurations %}
            {
                propertyName: '{{ config.propertyName }}'
                value: '{{ config.value }}'
            }{%- if not loop.last %}{%- endif %}
            {%- endfor %}
        ]
        scale: {
            minReplicas: {{ data.replicas }}
            maxReplicas: {{ data.replicas }}
        }
        springCloudGatewayRoutes: [
            {%- for route in data.routes %}
            {
                id: '{{ route.id }}'
                uri: '{{ route.uri }}'
                order: {{ route.order }}
                predicates: [
                    {%- for predicate in route.predicates %}
                    '{{ predicate }}'
                    {%- if not loop.last %}{%- endif %}
                    {%- endfor %}
                ]
                filters: [
                    {%- for filter in route.filters %}
                    '{{ filter }}'
                    {%- if not loop.last %}{%- endif %}
                    {%- endfor %}
                ]
            }{%- if not loop.last %}{%- endif %}
            {%- endfor %}
        ]
    }
}