// Params
param workloadProfileName string
param workloadProfileType string
param minNodes int
param maxNodes int

{%- if data.isVnet == true %}
param vnetSubnetId string
{%- endif %}
{%- for app in data.apps %}
param {{app.paramContainerAppImageName}} string
param {{app.paramTargetPort}} int
{%- endfor %}
{%- for storage in data.storages %}
param {{storage.paramContainerAppEnvStorageAccountKey}} string
{%- endfor %}

module containerAppEnv 'environment.bicep' = { 
  name: 'container-app-environment-Deployment'
  params: {
    workloadProfileName: workloadProfileName
    workloadProfileType: workloadProfileType
    minNodes: minNodes
    maxNodes: maxNodes
    {%- if data.isVnet == true %}
    vnetSubnetId: vnetSubnetId
    {%- endif %}
    {%- for storage in data.storages %}
    {{storage.paramContainerAppEnvStorageAccountKey}}: {{storage.paramContainerAppEnvStorageAccountKey}}
    {%- endfor %}
  }
}

{%- for item in data.certs %}
module {{ item.moduleName }} '{{ item.templateName }}' = {
  name: 'cert-{{ item.certName }}-Deployment'
  params: {
    managedEnvironments_aca_env_name: containerAppEnv.outputs.containerAppEnvName
  }
}
{%- endfor %}

{%- for item in data.apps %}
module {{ item.moduleName }} '{{ item.templateName }}' = {
  name: '{{ item.appName }}-Deployment'
  {%- if item.dependsOns %}
  dependsOn: [
    {%- for dependsOn in item.dependsOns %}
    {{ dependsOn }}
    {%- endfor %}
  ]
  {%- endif %}
  params: {
    containerAppEnvId: containerAppEnv.outputs.containerAppEnvId
    workloadProfileName: workloadProfileName
    {{item.paramContainerAppImageName}}: {{item.paramContainerAppImageName}}
    {{item.paramTargetPort}}: {{item.paramTargetPort}}
  }
}
{%- endfor %}

{%- if data.gateway == true %}
module managedGateway 'gateway.bicep' = {
  name: 'gateway-Deployment'
  params: {
    managedEnvironments_aca_env_name: containerAppEnv.outputs.containerAppEnvName
  }
}
{%- endif %}

{%- if data.config == true %}
module managedConfig 'config_server.bicep' = {
  name: 'config-server-Deployment'
  params: {
    managedEnvironments_aca_env_name: containerAppEnv.outputs.containerAppEnvName
  }
}
{%- endif %}

{%- if data.eureka == true %}
module managedEureka 'eureka.bicep' = {
  name: 'eureka-Deployment'
  params: {
    managedEnvironments_aca_env_name: containerAppEnv.outputs.containerAppEnvName
  }
}
{%- endif %}

{%- if data.sba == true %}
module managedSpringBootAdmin 'spring_boot_admin.bicep' = {
  name: 'spring-boot-admin-Deployment'
  params: {
    managedEnvironments_aca_env_name: containerAppEnv.outputs.containerAppEnvName
  }
}
{%- endif %}
