interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_purview000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001","name":"cli_test_purview000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-29T01:56:25Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus2", "sku":
      {"name": "Standard"}, "properties": {"publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002?api-version=2021-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard","capacity":1},"properties":{"cloudConnectors":{"awsExternalId":"f48644db-3d1f-459c-b151-9d1c8eb64a04"},"friendlyName":"pv-000002","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByObjectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","createdAt":"2023-03-29T01:56:27.1231682Z","endpoints":{"catalog":"https://pv-000002.purview.azure.com/catalog","scan":"https://pv-000002.purview.azure.com/scan","guardian":"https://pv-000002.purview.azure.com/guardian"},"provisioningState":"Creating","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","managedResourceGroupName":"managed-rg-mecdvqk"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002","name":"pv-000002","type":"Microsoft.Purview/accounts","location":"eastus2","identity":{"type":"SystemAssigned","principalId":"af0f8cc0-7bb6-44b3-9b04-4c6021ed7c55","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-29T01:56:27.1231682Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T01:56:27.1231682Z"}}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002?api-version=2021-07-01
      x-ms-account-status:
      - Creating
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002?api-version=2021-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard","capacity":1},"properties":{"cloudConnectors":{"awsExternalId":"f48644db-3d1f-459c-b151-9d1c8eb64a04"},"friendlyName":"pv-000002","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByObjectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","createdAt":"2023-03-29T01:56:27.1231682Z","endpoints":{"catalog":"https://pv-000002.purview.azure.com/catalog","scan":"https://pv-000002.purview.azure.com/scan","guardian":"https://pv-000002.purview.azure.com/guardian"},"provisioningState":"Creating","privateEndpointConnections":[],"managedResources":{"resourceGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-mecdvqk"},"publicNetworkAccess":"Enabled","managedResourceGroupName":"managed-rg-mecdvqk"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002","name":"pv-000002","type":"Microsoft.Purview/accounts","location":"eastus2","identity":{"type":"SystemAssigned","principalId":"af0f8cc0-7bb6-44b3-9b04-4c6021ed7c55","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-29T01:56:27.1231682Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T01:56:27.1231682Z"}}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-account-status:
      - Creating
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002?api-version=2021-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard","capacity":1},"properties":{"cloudConnectors":{"awsExternalId":"f48644db-3d1f-459c-b151-9d1c8eb64a04"},"friendlyName":"pv-000002","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByObjectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","createdAt":"2023-03-29T01:56:27.1231682Z","endpoints":{"catalog":"https://pv-000002.purview.azure.com/catalog","scan":"https://pv-000002.purview.azure.com/scan","guardian":"https://pv-000002.purview.azure.com/guardian"},"provisioningState":"Creating","privateEndpointConnections":[],"managedResources":{"resourceGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-mecdvqk","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-mecdvqk/providers/Microsoft.Storage/storageAccounts/scaneastus2lkkjfap"},"publicNetworkAccess":"Enabled","managedResourceGroupName":"managed-rg-mecdvqk"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002","name":"pv-000002","type":"Microsoft.Purview/accounts","location":"eastus2","identity":{"type":"SystemAssigned","principalId":"af0f8cc0-7bb6-44b3-9b04-4c6021ed7c55","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-29T01:56:27.1231682Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T01:56:27.1231682Z"}}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-account-status:
      - Creating
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002?api-version=2021-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard","capacity":1},"properties":{"cloudConnectors":{"awsExternalId":"f48644db-3d1f-459c-b151-9d1c8eb64a04"},"friendlyName":"pv-000002","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByObjectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","createdAt":"2023-03-29T01:56:27.1231682Z","endpoints":{"catalog":"https://pv-000002.purview.azure.com/catalog","scan":"https://pv-000002.purview.azure.com/scan","guardian":"https://pv-000002.purview.azure.com/guardian"},"provisioningState":"Creating","privateEndpointConnections":[],"managedResources":{"resourceGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-mecdvqk","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-mecdvqk/providers/Microsoft.Storage/storageAccounts/scaneastus2lkkjfap","eventHubNamespace":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-mecdvqk/providers/Microsoft.EventHub/namespaces/Atlas-ecb1358a-b3e4-4f33-9939-3b9c0b9285db"},"publicNetworkAccess":"Enabled","managedResourceGroupName":"managed-rg-mecdvqk"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_purview000001/providers/Microsoft.Purview/accounts/pv-000002","name":"pv-000002","type":"Microsoft.Purview/accounts","location":"eastus2","identity":{"type":"SystemAssigned","principalId":"af0f8cc0-7bb6-44b3-9b04-4c6021ed7c55","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-29T01:56:27.1231682Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T01:56:27.1231682Z"}}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-account-status:
      - Creating
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"accountName": "pv-000002", "resourceGroupName": "cli_test_purview000001",
      "scopeTenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Purview/setDefaultAccount?api-version=2021-07-01
  response:
    body:
      string: '{"scopeTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","scopeType":"Tenant","scope":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accountName":"pv-000002","resourceGroupName":"cli_test_purview000001","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590"}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Purview/getDefaultAccount?scopeTenantId=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&scopeType=Tenant&api-version=2021-07-01
  response:
    body:
      string: '{"scopeTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","scopeType":"Tenant","scope":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accountName":"pv-000002","resourceGroupName":"cli_test_purview000001","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590"}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Purview/removeDefaultAccount?scopeTenantId=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&scopeType=Tenant&api-version=2021-07-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Purview/locations/eastus2/operationResults/52160679-9604-4234-8ab3-a6887d6f7870?api-version=2021-07-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Purview/locations/eastus2/operationResults/52160679-9604-4234-8ab3-a6887d6f7870?api-version=2021-07-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Purview/locations/eastus2/operationResults/52160679-9604-4234-8ab3-a6887d6f7870?api-version=2021-07-01
  response:
    body:
      string: '{"startTime":"2023-03-29T01:59:04.4323179Z","endTime":"2023-03-29T01:59:05.5782144Z","status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2020-12-01-preview, 2021-07-01, 2021-12-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
