interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationPolicies/cli-test-vault-policy-A2A-1?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationPolicies/cli-test-vault-policy-A2A-1","name":"cli-test-vault-policy-A2A-1","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"cli-test-vault-policy-A2A-1","providerSpecificDetails":{"instanceType":"A2A","recoveryPointThresholdInMinutes":0,"recoveryPointHistory":0,"appConsistentFrequencyInMinutes":0,"multiVmSyncStatus":"Enabled","crashConsistentFrequencyInMinutes":5}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/cli-test-container-A2A-1?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/cli-test-container-A2A-1","name":"cli-test-container-A2A-1","type":"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers","properties":{"fabricFriendlyName":"East
        US 2","friendlyName":"cli-test-container-A2A-1","fabricType":"Azure","protectedItemCount":1,"pairingStatus":"Paired","role":"Primary","fabricSpecificDetails":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-A2A-2?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vnet-A2A-2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-A2A-2\",\r\n
        \ \"etag\": \"W/\\\"63c53412-64bd-467b-8562-b5a08fc3b5c5\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"0ed1d127-a05b-46c9-992d-6d6b682d9325\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"MySubnet\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-A2A-2/subnets/MySubnet\",\r\n
        \       \"etag\": \"W/\\\"63c53412-64bd-467b-8562-b5a08fc3b5c5\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"63c53412-64bd-467b-8562-b5a08fc3b5c5"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Compute/virtualMachines/SRsourcevm?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"SRsourcevm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Compute/virtualMachines/SRsourcevm\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"acdf3c6d-7689-416f-8704-12ac6c5ad128\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2012-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"9200.24168.230311\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"SRsourcevm_OsDisk_1_66896902bcec4ddda7c8cb0122eca269\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Compute/disks/SRsourcevm_OsDisk_1_66896902bcec4ddda7c8cb0122eca269\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"SRsourcevm\",\r\n      \"adminUsername\": \"zhiyihuang\",\r\n
        \     \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n
        \       \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n
        \         \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/networkInterfaces/SRsourcevmVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2023-04-07T06:13:27.5431676+00:00\"\r\n
        \ },\r\n  \"resources\": [\r\n    {\r\n      \"name\": \"SiteRecovery-Windows\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Compute/virtualMachines/SRsourcevm/extensions/SiteRecovery-Windows\",\r\n
        \     \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n      \"location\":
        \"eastus2\",\r\n      \"properties\": {\r\n        \"autoUpgradeMinorVersion\":
        false,\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"publisher\":
        \"Microsoft.Azure.RecoveryServices.SiteRecovery\",\r\n        \"type\": \"Windows\",\r\n
        \       \"typeHandlerVersion\": \"1.0\",\r\n        \"settings\": {\"publicObject\":null,\"module\":\"a2a\",\"timeStamp\":\"2023-04-07T07:58:04.9335184Z\",\"commandToExecute\":\"InstallAndConfigure\",\"taskId\":\"1587ecf2-e184-4b62-9ba0-481365e3a61d\"}\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31994
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/networkInterfaces/SRsourcevmVMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"SRsourcevmVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/networkInterfaces/SRsourcevmVMNic\",\r\n
        \ \"etag\": \"W/\\\"ca43fed3-8c8e-43f7-ace5-48d8fe7c5fbc\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"76b8d98b-6624-4a78-ae12-bd508b0cd95f\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigSRsourcevm\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/networkInterfaces/SRsourcevmVMNic/ipConfigurations/ipconfigSRsourcevm\",\r\n
        \       \"etag\": \"W/\\\"ca43fed3-8c8e-43f7-ace5-48d8fe7c5fbc\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/publicIPAddresses/SRsourcevmPublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/virtualNetworks/SRsourcevmVNET/subnets/SRsourcevmSubnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"5m52glb400iu5l2c1xjradjyrf.cx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-0D-3A-E4-DD-35\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/networkSecurityGroups/SRsourcevmNSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Compute/virtualMachines/SRsourcevm\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ca43fed3-8c8e-43f7-ace5-48d8fe7c5fbc"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/virtualNetworks/SRsourcevmVNET?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"SRsourcevmVNET\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/virtualNetworks/SRsourcevmVNET\",\r\n
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Storage/storageAccounts/clitestsaa2a1?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Storage/storageAccounts/clitestsaa2a1","name":"clitestsaa2a1","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2023-04-07T07:56:54.2382266Z","key2":"2023-04-07T07:56:54.2382266Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-04-07T07:56:54.2538972Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-04-07T07:56:54.2538972Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2023-04-07T07:56:54.1288476Z","primaryEndpoints":{"dfs":"https://clitestsaa2a1.dfs.core.windows.net/","web":"https://clitestsaa2a1.z20.web.core.windows.net/","blob":"https://clitestsaa2a1.blob.core.windows.net/","queue":"https://clitestsaa2a1.queue.core.windows.net/","table":"https://clitestsaa2a1.table.core.windows.net/","file":"https://clitestsaa2a1.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Storage/storageAccounts/clitestsaa2a2?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Storage/storageAccount[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli.test.rg.SRVault?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault","name":"cli.test.rg.SRVault","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli.test.rg.SRVM?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM","name":"cli.test.rg.SRVM","type":"Microsoft.Resources/resourceGroups","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/cli-test-container-A2A-1/replicationProtectedItems/cli-test-protected-item-A2A-1?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/cli-test-container-A2A-1/replicationProtectedItems/cli-test-protected-item-A2A-1","name":"cli-test-protected-item-A2A-1","type":"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems","properties":{"friendlyName":"SRsourcevm","protectedItemType":"","protectableItemId":null,"recoveryServicesProviderId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationRecoveryServicesProviders/ce49fa7c-20d8-52b0-aa6c-e6d1e881a798","primaryFabricFriendlyName":"East
        US 2","primaryFabricProvider":"AzureFabric","recoveryFabricFriendlyName":"East
        US","recoveryFabricId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-2","primaryProtectionContainerFriendlyName":"cli-test-container-A2A-1","recoveryProtectionContainerFriendlyName":"cli-test-container-A2A-2","protectionState":"Protected","protectionStateDescription":"Protected","activeLocation":"Primary","testFailoverState":"None","testFailoverStateDescription":"None","switchProviderState":"None","switchProviderStateDescription":null,"allowedOperations":["UnplannedFailover","DisableProtection","TestFailover"],"replicationHealth":"Normal","failoverHealth":"Warning","healthErrors":[{"innerHealthErrors":[],"errorSource":"ReplicationUnitFailoverValidatorError","errorType":"8010","errorLevel":"Warning","errorCategory":"TestFailover","errorCode":"161011","summaryMessage":"","errorMessage":"No
        successful test failover has been done on the virtual machine ''SRsourcevm''.","possibleCauses":"No
        successful test failover has been done on the virtual machine after it was
        replicated.","recommendedAction":"Do a test failover on the virtual machine.","creationTimeUtc":"2023-04-07T08:22:40.2611998Z","recoveryProviderErrorMessage":null,"entityId":"3bb5cd0b-ca19-5310-bb79-0fafc5ab11af","errorId":"6:8010","customerResolvability":"NotAllowed"}],"policyId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationPolicies/cli-test-vault-policy-A2A-1","policyFriendlyName":"cli-test-vault-policy-A2A-1","currentScenario":{"scenarioName":"None","jobId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationJobs/None","startTime":"1753-01-01T01:01:01Z"},"failoverRecoveryPointId":null,"providerSpecificDetails":{"instanceType":"A2A","fabricObjectId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli.test.rg.srvm/providers/microsoft.compute/virtualmachines/srsourcevm","initialPrimaryZone":"","initialPrimaryFabricLocation":"eastus2","initialRecoveryZone":"","initialPrimaryExtendedLocation":null,"initialRecoveryExtendedLocation":null,"initialRecoveryFabricLocation":"eastus","multiVmGroupId":"1f7c1e39-1040-41b9-b1a8-7177ebc89f94","multiVmGroupName":"","multiVmGroupCreateOption":"AutoCreated","managementId":"691ab6e0-7aac-49e4-8826-77addc4c5a46","protectedDisks":null,"unprotectedDisks":null,"protectedManagedDisks":[{"diskId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli.test.rg.srvm/providers/microsoft.compute/disks/srsourcevm_osdisk_1_66896902bcec4ddda7c8cb0122eca269","recoveryResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault","recoveryTargetDiskId":null,"recoveryReplicaDiskId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Compute/disks/SRsourcevm_OsDisk_1_66896902bcec4ddda7c8cb0122eca269-ASRReplica","recoveryOrignalTargetDiskId":null,"recoveryReplicaDiskAccountType":"Premium_LRS","recoveryTargetDiskAccountType":"Premium_LRS","recoveryDiskEncryptionSetId":null,"primaryDiskEncryptionSetId":null,"diskName":"SRsourcevm_OsDisk_1_66896902bcec4ddda7c8cb0122eca269","diskCapacityInBytes":136367308800,"primaryStagingAzureStorageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Storage/storageAccounts/clitestsaa2a1","diskType":"OperatingSystem","resyncRequired":false,"monitoringPercentageCompletion":null,"monitoringJobType":null,"dataPendingInStagingStorageAccountInMB":0.0,"dataPendingAtSourceAgentInMB":1.26953125,"diskState":"Protected","allowedDiskLevelOperation":[],"isDiskEncrypted":false,"secretIdentifier":null,"dekKeyVaultArmId":null,"isDiskKeyEncrypted":false,"keyIdentifier":null,"kekKeyVaultArmId":null,"failoverDiskName":"SRsourcevm_OsDisk_1_66896902bcec4ddda7c8cb0122eca269","tfoDiskName":"SRsourcevm_OsDisk_1_66896902bcec4ddda7c8cb0122eca269-ASRtest"}],"recoveryBootDiagStorageAccountId":null,"primaryFabricLocation":"eastus2","recoveryFabricLocation":"eastus","osType":"Windows","recoveryAzureVMSize":"Standard_DS1_v2","recoveryAzureVMName":"SRsourcevm","recoveryAzureResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault","recoveryCloudService":null,"recoveryAvailabilitySet":null,"selectedRecoveryAzureNetworkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-A2A-2","selectedTfoAzureNetworkId":null,"vmNics":[{"nicId":"e0eddf5f-24a1-5ffa-bdbe-34f12fd75574","replicaNicId":null,"sourceNicArmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/networkInterfaces/SRsourcevmVMNic","vMNetworkName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVM/providers/Microsoft.Network/virtualNetworks/SRsourcevmVNET","recoveryVMNetworkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-A2A-2","ipConfigs":[{"name":"ipconfigSRsourcevm","isPrimary":true,"subnetName":"SRsourcevmSubnet","staticIPAddress":"10.0.0.4","ipAddressType":"Dynamic","isSeletedForFailover":true,"recoverySubnetName":"MySubnet","recoveryStaticIPAddress":"","recoveryIPAddressType":"Dynamic","recoveryPublicIPAddressId":null,"recoveryLBBackendAddressPoolIds":null,"tfoSubnetName":null,"tfoStaticIPAddress":null,"tfoPublicIPAddressId":null,"tfoLBBackendAddressPoolIds":null}],"selectionType":"SelectedByUserOverride","recoveryNetworkSecurityGroupId":null,"enableAcceleratedNetworkingOnRecovery":false,"tfoVMNetworkId":null,"tfoNetworkSecurityGroupId":null,"enableAcceleratedNetworkingOnTfo":null,"recoveryNicName":null,"recoveryNicResourceGroupName":null,"reuseExistingNic":false,"tfoRecoveryNicName":null,"tfoRecoveryNicResourceGroupName":null,"tfoReuseExistingNic":false,"targetNicName":null}],"vmSyncedConfigDetails":{"tags":{},"inputEndpoints":[]},"monitoringPercentageCompletion":null,"monitoringJobType":null,"lastHeartbeat":"2023-04-07T08:39:56.8839473Z","agentVersion":"9.53.6615.1","agentExpiryDate":"9999-12-31T23:59:59.9999999","isReplicationAgentUpdateRequired":false,"agentCertificateExpiryDate":"2026-04-06T06:31:42Z","isReplicationAgentCertificateUpdateRequired":false,"recoveryFabricObjectId":null,"vmProtectionState":"Protected","vmProtectionStateDescription":"Protected","lifecycleId":"47e4ca0f-2465-4d7d-aeeb-25b799135c2d","testFailoverRecoveryFabricObjectId":null,"rpoInSeconds":41,"lastRpoCalculatedTime":"2023-04-07T08:36:06.4695809Z","rtoInSeconds":null,"primaryAvailabilityZone":null,"recoveryAvailabilityZone":null,"primaryExtendedLocation":null,"recoveryExtendedLocation":null,"vmEncryptionType":"NotEncrypted","tfoAzureVMName":"SRsourcevm-test","recoveryAzureGeneration":"V1","recoveryProximityPlacementGroupId":null,"autoProtectionOfDataDisk":"Disabled","recoveryVirtualMachineScaleSetId":null,"recoveryCapacityReservationGroupId":null},"recoveryContainerId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-2/replicationProtectionContainers/cli-test-container-A2A-2","eventCorrelationId":"df549371-15b8-488a-843a-db95b8461e8d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1?api-version=2022-08-01
  response:
    body:
      string: '{"name":"cli-test-fabric-A2A-1","type":"Microsoft.RecoveryServices/vaults/replicationFabrics","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1","properties":{"friendlyName":"East
        US 2","encryptionDetails":{"kekState":"None","kekCertThumbprint":null},"rolloverEncryptionDetails":{"kekState":"None","kekCertThumbprint":null},"internalIdentifier":"d37f9e0f-2493-5420-b84f-29e23660b3fa","bcdrState":"Valid","customDetails":{"instanceType":"Azure","location":"eastus2","containerIds":["/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/25a3962c-f6dd-524e-9e8f-a86c5872606e"],"zones":[]},"healthErrorDetails":[],"health":"Normal"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationRecoveryPlans/cli-test-recovery-plan-A2A-1?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationOperationStatus/012319bd-3f18-4460-975d-be6c164e459b?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationRecoveryPlans/cli-test-recovery-plan-A2A-1/operationresults/012319bd-3f18-4460-975d-be6c164e459b?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationOperationStatus/012319bd-3f18-4460-975d-be6c164e459b?api-version=2022-08-01
  response:
    body:
      string: '{"error":null,"id":null,"name":"012319bd-3f18-4460-975d-be6c164e459b","properties":null,"status":"Succeeded","startTime":"2023-04-07T08:42:30.7389445Z","endTime":"2023-04-07T08:42:31.0000000Z","percentComplete":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationRecoveryPlans?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"failoverDirection": "PrimaryToRecovery", "providerSpecificDetails":
      {"instanceType": "A2A"}, "sourceSiteOperations": "NotRequired"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/cli-test-container-A2A-1/replicationProtectedItems/cli-test-protected-item-A2A-1/unplannedFailover?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationOperationStatus/ba8ada7f-bbbb-4e5c-922f-d6e834f5c88f?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli.test.rg.SRVault/providers/Microsoft.RecoveryServices/vaults/SRCliVault/replicationFabrics/cli-test-fabric-A2A-1/replicationProtectionContainers/cli-test-container-A2A-1/replicationProtectedItems/cli-test-protected-item-A2A-1/operationresults/ba8ada7f-bbbb-4e5c-922f-d6e834f5c88f?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
[...]
