interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"monitoringSettings": {"azureMonitorAlertSettings":
      {"alertsForAllJobFailures": "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations":
      "Enabled"}}}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002?api-version=2022-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"vault000002","etag":"W/\"datetime''2022-12-22T05%3A31%3A59.6485964Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","encryption":null,"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzthNTMwNDRhNi1kYWZkLTRkZGYtODE1MS0yZTFkYTVlOGJlZTU=?api-version=2022-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzthNTMwNDRhNi1kYWZkLTRkZGYtODE1MS0yZTFkYTVlOGJlZTU=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzthNTMwNDRhNi1kYWZkLTRkZGYtODE1MS0yZTFkYTVlOGJlZTU=\",\r\n
        \ \"name\": \"MjA0NzthNTMwNDRhNi1kYWZkLTRkZGYtODE1MS0yZTFkYTVlOGJlZTU=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002?api-version=2022-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"vault000002","etag":"W/\"datetime''2022-12-22T05%3A32%3A02.0834223Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","encryption":null,"backupStorageVersion":"Unassigned","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAppliances?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationMigrationItems?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationNetworks?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationNetworkMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectedItems?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectionContainers?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectionContainerMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationRecoveryServicesProviders?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationStorageClassifications?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationStorageClassificationMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationvCenters?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationSupportedOperatingSystems?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationSupportedOperatingSystems/Default","name":"Default","type":"Microsoft.RecoveryServices/vaults/replicationSupportedOperatingSystems","properties":{"supportedOsList":[{"instanceType":"A2A","supportedOs":[{"osName":"centos","osType":"linux","osVersions":[{"version":"6.0"},{"version":"6.1"},{"version":"6.2"},{"version":"6.3"},{"version":"6.4"},{"version":"6.5"},{"version":"6.6"},{"version":"6.7"},{"version":"6.8"},{"version":"6.9"},{"version":"6.10"},{"version":"7.0"},{"version":"7.1"},{"version":"7.2"},{"version":"7.3"},{"version":"7.4"},{"version":"7.5"},{"version":"7.6"},{"version":"7.7"},{"version":"7.8"},{"version":"7.9"},{"version":"8.0"},{"version":"8.1"},{"version":"8.2"},{"version":"8.3"},{"version":"8.4"},{"version":"8.5"},{"version":"8.6"},{"vers[...]
- request:
    body: '{"properties": {"customEmailAddresses": ["email@address.com"], "locale":
      "en_US", "sendToOwners": "Send"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting?api-version=2022-08-01
  response:
    body:
      string: '{"name":"defaultAlertSetting","type":"Microsoft.RecoveryServices/vaults/replicationAlertSettings","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting","properties":{"sendToOwners":"Send","customEmailAddresses":["email@address.com"],"locale":"en_US"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"name":"defaultAlertSetting","type":"Microsoft.RecoveryServices/vaults/replicationAlertSettings","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting","properties":{"sendToOwners":"DoNotSend","customEmailAddresses":["email2@address.com"],"locale":"fr_FR"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationEvents?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/default/refresh?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/4f7f7ada-e9ef-4cc4-86ec-fd73cc026411?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/operationresults/4f7f7ada-e9ef-4cc4-86ec-fd73cc026411?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/4f7f7ada-e9ef-4cc4-86ec-fd73cc026411?api-version=2022-08-01
  response:
    body:
      string: '{"error":null,"id":null,"name":"4f7f7ada-e9ef-4cc4-86ec-fd73cc026411","properties":null,"status":"Succeeded","startTime":"2022-12-22T05:33:45.7173206Z","endTime":"2022-12-22T05:33:46.0000000Z","percentComplete":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth?api-version=2022-08-01
  response:
    body:
      string: '{"name":"Default","type":"Microsoft.RecoveryServices/vaults/replicationVaultHealth","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/Default","properties":{"vaultErrors":[],"protectedItemsHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":{"testFailoverApplicableProtectedItemsCount":0,"testFailoverInProgressProtectedItemsCount":0,"testFailoverWaitingProtectedItemsCount":0,"protectedItemsCriticalCount":0,"protectedItemsWarningCount":0,"protectedItemsNeutralCount":0,"protectedItemsTestFailoverCriticalCount":0,"protectedItemsTestFailoverWarningCount":0,"protectedItemsConfigurationCriticalCount":0,"protectedItemsConfigurationWarningCount":0,"protectedItemsFailoverHealthCriticalCount":0,"protectedItemsFailoverHealthWarningCount":0}},"fabricsHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":null},"containersHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/4f7f7ada-e9ef-4cc4-86ec-fd73cc026411","name":"4f7f7ada-e9ef-4cc4-86ec-fd73cc026411","type":"Microsoft.RecoveryServices/vaults/replicationJobs","properties":{"activityId":null,"scenarioName":"RefreshVaultHealth","friendlyName":"Refresh
        vault health","state":"Succeeded","stateDescription":"Completed","tasks":[],"errors":[],"startTime":"2022-12-22T05:33:45.7173206Z","endTime":"2022-12-22T05:33:46Z","allowedActions":[],"targetObjectId":"6609023230740120619","targetObjectName":"","targetInstanceType":"Vault","customDetails":null}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/4f7f7ada-e9ef-4cc4-86ec-fd73cc026411?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/4f7f7ada-e9ef-4cc4-86ec-fd73cc026411","name":"4f7f7ada-e9ef-4cc4-86ec-fd73cc026411","type":"Microsoft.RecoveryServices/vaults/replicationJobs","properties":{"activityId":"32cf6b58-81ba-11ed-8fce-c8d9d2028398
        ActivityId: 9bf68422-cc8d-4c93-8135-c2226123bcff","scenarioName":"RefreshVaultHealth","friendlyName":"Refresh
        vault health","state":"Succeeded","stateDescription":"Completed","tasks":[{"taskId":"RefreshFailoverHealthTask","name":"RefreshFailoverHealthTask","startTime":"2022-12-22T05:33:46.2472095Z","endTime":"2022-12-22T05:33:46.2940742Z","allowedActions":[],"friendlyName":"Refreshing
        failover health","state":"Succeeded","stateDescription":"Completed","taskType":"TaskDetails","customDetails":{"instanceType":"TaskDetails"},"groupTaskCustomDetails":null,"errors":[]}],"errors":[],"startTime":"2022-12-22T05:33:45.7173206Z","endTime":"2022-12-22T05:33:46Z","allowedActions":[],"targetObjectId":"6609023230740120619","targetObjectName":"","targetInstanceType":"Vault","customDetails":{"instanceType":"AsrJobDetails","affectedObjectDetails":{}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/export?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/9ffb4606-4971-4b49-b98d-c177d49ef6e2?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/9ffb4606-4971-4b49-b98d-c177d49ef6e2/operationresults/9ffb4606-4971-4b49-b98d-c177d49ef6e2?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"properties": {"providerSpecificInput": {"instanceType": "InMageRcm",
      "appConsistentFrequencyInMinutes": 0, "crashConsistentFrequencyInMinutes": 5,
      "enableMultiVmSync": "true", "recoveryPointHistoryInMinutes": 2880}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/fc1dbddb-91ca-4d40-9a03-d5eee4770e78?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004/operationresults/fc1dbddb-91ca-4d40-9a03-d5eee4770e78?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004","name":"policy000004","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"policy000004","providerSpecificDetails":{"instanceType":"InMageRcm","recoveryPointHistoryInMinutes":2880,"appConsistentFrequencyInMinutes":0,"crashConsistentFrequencyInMinutes":5,"enableMultiVmSync":"true"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004","name":"policy000004","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"policy000004","providerSpecificDetails":{"instanceType":"InMageRcm","recoveryPointHistoryInMinutes":2880,"appConsistentFrequencyInMinutes":0,"crashConsistentFrequencyInMinutes":5,"enableMultiVmSync":"true"}}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"replicationProviderSettings": {"instanceType": "InMageRcm",
      "appConsistentFrequencyInMinutes": 0, "crashConsistentFrequencyInMinutes": 5,
      "enableMultiVmSync": "true", "recoveryPointHistoryInMinutes": 1440}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/169561c8-e128-402e-b096-73291af424e1?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004/operationresults/169561c8-e128-402e-b096-73291af424e1?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
