interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"monitoringSettings": {"azureMonitorAlertSettings":
      {"alertsForAllJobFailures": "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations":
      "Enabled"}}}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002?api-version=2022-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"vault000002","etag":"W/\"datetime''2022-11-28T03%3A40%3A50.7172623Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","encryption":null,"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzsxNWYxNDU0NC0yZDU0LTQ2MDYtOWFkMC1jNzA4YmZlNjliY2Q=?api-version=2022-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzsxNWYxNDU0NC0yZDU0LTQ2MDYtOWFkMC1jNzA4YmZlNjliY2Q=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzsxNWYxNDU0NC0yZDU0LTQ2MDYtOWFkMC1jNzA4YmZlNjliY2Q=\",\r\n
        \ \"name\": \"MjA0NzsxNWYxNDU0NC0yZDU0LTQ2MDYtOWFkMC1jNzA4YmZlNjliY2Q=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAppliances?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationMigrationItems?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationNetworks?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationNetworkMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectedItems?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectionContainers?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectionContainerMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationRecoveryServicesProviders?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationStorageClassifications?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationStorageClassificationMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationvCenters?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationSupportedOperatingSystems?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationSupportedOperatingSystems/Default","name":"Default","type":"Microsoft.RecoveryServices/vaults/replicationSupportedOperatingSystems","properties":{"supportedOsList":[{"instanceType":"A2A","supportedOs":[{"osName":"centos","osType":"linux","osVersions":[{"version":"6.0"},{"version":"6.1"},{"version":"6.2"},{"version":"6.3"},{"version":"6.4"},{"version":"6.5"},{"version":"6.6"},{"version":"6.7"},{"version":"6.8"},{"version":"6.9"},{"version":"6.10"},{"version":"7.0"},{"version":"7.1"},{"version":"7.2"},{"version":"7.3"},{"version":"7.4"},{"version":"7.5"},{"version":"7.6"},{"version":"7.7"},{"version":"7.8"},{"version":"7.9"},{"version":"8.0"},{"version":"8.1"},{"version":"8.2"},{"version":"8.3"},{"version":"8.4"},{"version":"8.5"},{"version":"8.6"},{"vers[...]
- request:
    body: '{"properties": {"customEmailAddresses": ["email@address.com"], "locale":
      "en_US", "sendToOwners": "Send"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting?api-version=2022-08-01
  response:
    body:
      string: '{"name":"defaultAlertSetting","type":"Microsoft.RecoveryServices/vaults/replicationAlertSettings","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting","properties":{"sendToOwners":"Send","customEmailAddresses":["email@address.com"],"locale":"en_US"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"name":"defaultAlertSetting","type":"Microsoft.RecoveryServices/vaults/replicationAlertSettings","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting","properties":{"sendToOwners":"DoNotSend","customEmailAddresses":["email2@address.com"],"locale":"fr_FR"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationEvents?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/default/refresh?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/operationresults/bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e?api-version=2022-08-01
  response:
    body:
      string: '{"error":null,"id":null,"name":"bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e","properties":null,"status":"Succeeded","startTime":"2022-11-28T03:42:40.8192615Z","endTime":"2022-11-28T03:42:41.0000000Z","percentComplete":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth?api-version=2022-08-01
  response:
    body:
      string: '{"name":"Default","type":"Microsoft.RecoveryServices/vaults/replicationVaultHealth","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/Default","properties":{"vaultErrors":[],"protectedItemsHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":{"testFailoverApplicableProtectedItemsCount":0,"testFailoverInProgressProtectedItemsCount":0,"testFailoverWaitingProtectedItemsCount":0,"protectedItemsCriticalCount":0,"protectedItemsWarningCount":0,"protectedItemsNeutralCount":0,"protectedItemsTestFailoverCriticalCount":0,"protectedItemsTestFailoverWarningCount":0,"protectedItemsConfigurationCriticalCount":0,"protectedItemsConfigurationWarningCount":0,"protectedItemsFailoverHealthCriticalCount":0,"protectedItemsFailoverHealthWarningCount":0}},"fabricsHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":null},"containersHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e","name":"bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e","type":"Microsoft.RecoveryServices/vaults/replicationJobs","properties":{"activityId":null,"scenarioName":"RefreshVaultHealth","friendlyName":"Refresh
        vault health","state":"Succeeded","stateDescription":"Completed","tasks":[],"errors":[],"startTime":"2022-11-28T03:42:40.8192615Z","endTime":"2022-11-28T03:42:41Z","allowedActions":[],"targetObjectId":"835373147680749709","targetObjectName":"","targetInstanceType":"Vault","customDetails":null}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e","name":"bc6d2f53-48a5-40e5-bfd8-d79f5d3ec12e","type":"Microsoft.RecoveryServices/vaults/replicationJobs","properties":{"activityId":"b44fe6d1-6ece-11ed-94ba-c8d9d2028398
        ActivityId: 624decae-750b-40c2-8fb8-41ef7f2237d2","scenarioName":"RefreshVaultHealth","friendlyName":"Refresh
        vault health","state":"Succeeded","stateDescription":"Completed","tasks":[{"taskId":"RefreshFailoverHealthTask","name":"RefreshFailoverHealthTask","startTime":"2022-11-28T03:42:41.1467856Z","endTime":"2022-11-28T03:42:41.1936779Z","allowedActions":[],"friendlyName":"Refreshing
        failover health","state":"Succeeded","stateDescription":"Completed","taskType":"TaskDetails","customDetails":{"instanceType":"TaskDetails"},"groupTaskCustomDetails":null,"errors":[]}],"errors":[],"startTime":"2022-11-28T03:42:40.8192615Z","endTime":"2022-11-28T03:42:41Z","allowedActions":[],"targetObjectId":"835373147680749709","targetObjectName":"","targetInstanceType":"Vault","customDetails":{"instanceType":"AsrJobDetails","affectedObjectDetails":{}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/export?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/09832668-b84e-416d-9435-560ff88015cd?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/09832668-b84e-416d-9435-560ff88015cd/operationresults/09832668-b84e-416d-9435-560ff88015cd?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"properties": {"providerSpecificInput": {"instanceType": "InMageRcm",
      "appConsistentFrequencyInMinutes": 0, "crashConsistentFrequencyInMinutes": 5,
      "enableMultiVmSync": "true", "recoveryPointHistoryInMinutes": 2880}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/39a9047c-1145-4df7-867e-0d3167fa1189?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004/operationresults/39a9047c-1145-4df7-867e-0d3167fa1189?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004","name":"policy000004","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"policy000004","providerSpecificDetails":{"instanceType":"InMageRcm","recoveryPointHistoryInMinutes":2880,"appConsistentFrequencyInMinutes":0,"crashConsistentFrequencyInMinutes":5,"enableMultiVmSync":"true"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004","name":"policy000004","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"policy000004","providerSpecificDetails":{"instanceType":"InMageRcm","recoveryPointHistoryInMinutes":2880,"appConsistentFrequencyInMinutes":0,"crashConsistentFrequencyInMinutes":5,"enableMultiVmSync":"true"}}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"replicationProviderSettings": {"instanceType": "InMageRcm",
      "appConsistentFrequencyInMinutes": 0, "crashConsistentFrequencyInMinutes": 5,
      "enableMultiVmSync": "true", "recoveryPointHistoryInMinutes": 1440}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/74347a1e-3afb-464d-87c0-4edd50023dc4?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004/operationresults/74347a1e-3afb-464d-87c0-4edd50023dc4?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
