interactions:
- request:
    body: '{"sku": {"name": "S0"}, "kind": "AIServices", "location": "westus2", "properties":
      {"allowProjectManagement": true}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002?api-version=2026-05-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002","name":"test-account-000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"0401bcd4-0000-0800-0000-6aa9b8980000\"","location":"westus2","sku":{"name":"S0"},"kind":"AIServices","properties":{"internalId":"f105e2ba0fdc4c938ffaf9d984aee907","dateCreated":"2026-09-15T21:28:56.1438807Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/e35c95fa-5944-4995-ab6f-3246b64313cd?api-version=2017-04-18&t=639251045367576553&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002?api-version=2026-05-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002","name":"test-account-000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"04013fd9-0000-0800-0000-6aa9b8be0000\"","location":"westus2","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://test-account-000002-f105e.cognitiveservices.azure.com/","internalId":"f105e2ba0fdc4c938ffaf9d984aee907","dateCreated":"2026-09-15T21:28:56.1438807Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{[...]
- request:
    body: '{"properties": {"displayName": "first display name", "rules": [{"amount":
      200.0, "counterKey": [{"type": "agent"}], "match": {"foundry.caller.agent.id":
      ["agent-123"]}, "name": "per-agent-monthly", "period": "month", "recurring":
      true, "thresholds": [{"action": "alert", "type": "percentage", "value": 80.0},
      {"action": "audit", "type": "absolute", "value": 0.0}], "unit": "usd"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1?api-version=2026-09-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1","type":"Microsoft.CognitiveServices/accounts/costControls","name":"test-1","properties":{"displayName":"first
        display name","rules":[{"name":"per-agent-monthly","counterKey":[{"type":"agent"}],"unit":"usd","amount":200.0,"period":"month","recurring":true,"match":{"foundry.caller.agent.id":["agent-123"]},"thresholds":[{"type":"percentage","value":80.0,"action":"alert"},{"type":"absolute","value":0.0,"action":"audit"}]}]},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-15T21:30:01.095038Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-15T21:30:01.095038Z"},"etag":"\"c7ddc54d-eec0-4099-826d-71e1a47ffd28\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c7ddc54d-eec0-4099-826d-71e1a47ffd28"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"displayName": "second display name", "rules": [{"amount":
      500.0, "counterKey": [{"type": "project"}], "match": {"foundry.project.id":
      ["project-456"]}, "name": "per-project-monthly", "period": "month", "recurring":
      true, "thresholds": [{"action": "alert", "type": "percentage", "value": 90.0},
      {"action": "audit", "type": "absolute", "value": 0.0}], "unit": "usd"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServ[...]
- request:
    body: '{"properties": {"costControlIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1"],
      "costControlConnections": {"appInsightsConnectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/placeholder-resource-group/providers/Microsoft.CognitiveServices/accounts/placeholder-account/connections/placeholder-connection",
      "eventGridConnectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/placeholder-resource-group/providers/Microsoft.CognitiveServices/accounts/placeholder-account/connections/placeholder-event-grid-connection"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002?api-version=2026-09-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002","name":"test-account-000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"0401c3dc-0000-0800-0000-6aa9b8db0000\"","location":"westus2","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://test-account-000002-f105e.cognitiveservices.azure.com/","provisioningState":"Accepted","internalId":"f105e2ba0fdc4c938ffaf9d984aee907","dateCreated":"2026-09-15T21:28:56.1438807Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/0db06475-4c7c-4956-9f67-625c2fd68170?api-version=2017-04-18&t=639251046037445833&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5[...]
[...]
- request:
    body: '{"properties": {"model": {"format": "OpenAI", "name": "gpt-4o-mini", "version":
      "2024-07-18"}, "costControlIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1"]},
      "sku": {"name": "GlobalStandard", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/deployments/mock-deployment?api-version=2026-09-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/deployments/test-deployment","type":"Microsoft.CognitiveServices/accounts/deployments","name":"test-deployment","sku":{"name":"GlobalStandard","capacity":1},"properties":{"model":{"format":"OpenAI","name":"gpt-4o-mini","version":"2024-07-18"},"costControlIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1"],"versionUpgradeOption":"OnceNewDefaultVersionAvailable","currentCapacity":1,"capabilities":{"chatCompletion":"true","completion":"true","jsonObjectResponse":"true","assistants":"true","maxContextToken":"128000","maxOutputToken":"16384","responses":"true","agentsV2":"true"},"raiPolicyName":"Microsoft.DefaultV2","provisioningState":"Succeeded","rateLimits":[{"key":"request","renewalPeriod":60,"count":10},{"key":"token","renewalPeriod":60,"count":1000}],"deploymentState":"Running"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-15T21:30:37.2029868Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-15T21:30:37.2029868Z"},"etag":"\"e89031f1-b4ba-4b90-afbb-70dc719befdc\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e89031f1-b4ba-4b90-afbb-70dc719befdc"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls?api-version=2026-09-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/cb9e217d-7e79-457a-ab87-c7e1132606eb?api-version=2017-04-18&t=639251046578756715&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5[...]
[...]
