interactions:
- request:
    body: 'b''b\''{"properties": {"format": "Csv", "definition": {"timeframe": "TheLastMonth",
      "dataset": {"granularity": "Daily"}}, "deliveryInfo": {"destination": {"resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002",
      "container": "export"}}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-03?api-version=2019-11-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/exports/ep-03","name":"ep-03","type":"Microsoft.CostManagement/exports","eTag":"\"1d6349e4e2280a3\"","properties":{"schedule":{"status":"Inactive"},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002","container":"export","rootFolderPath":null}},"definition":{"type":"Usage","timeframe":"TheLastMonth","dataSet":{"granularity":"Daily"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://consumption.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-03?api-version=2019-11-01
      session-id:
      - 66e27b54-aed6-4a49-89af-494bfc36267c
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''{"eTag": "\\\\"1d6349e4e2280a3\\\\"", "properties": {"format": "Csv",
      "definition": {"type": "Usage", "timeframe": "TheLastBillingMonth", "dataset":
      {"granularity": "Daily"}}, "deliveryInfo": {"destination": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002",
      "container": "export"}}, "schedule": {"status": "Inactive", "recurrencePeriod":
      {"from": "2020-08-01T00:00:00.000Z", "to": "2020-10-31T00:00:00.000Z"}}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-03?api-version=2019-11-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/exports/ep-03","name":"ep-03","type":"Microsoft.CostManagement/exports","eTag":"\"1d6349e50a33823\"","properties":{"schedule":{"status":"Inactive","recurrencePeriod":{"from":"2020-08-01T00:00:00Z","to":"2020-10-31T00:00:00Z"}},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002","container":"export","rootFolderPath":null}},"definition":{"type":"Usage","timeframe":"TheLastBillingMonth","dataSet":{"granularity":"Daily"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - 59c60dfe-2bdd-4d55-81eb-ab05e67a3c77
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-03?api-version=2019-11-01
  response:
    body:
      string: ''
    headers:
      session-id:
      - 7af62cb9-75aa-4731-ba51-a37eeac6387f
    status:
      code: 200
      message: OK
version: 1
