interactions:
- request:
    body: 'b''b\''{"properties": {"format": "Csv", "definition": {"timeframe": "TheLastMonth",
      "dataset": {"granularity": "Daily"}}, "deliveryInfo": {"destination": {"resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_export_schedule000001/providers/Microsoft.Storage/storageAccounts/testexportschedule000002",
      "container": "export"}}, "schedule": {"status": "Active", "recurrence": "Weekly",
      "recurrencePeriod": {"from": "2020-06-01T00:00:00.000Z", "to": "2020-10-31T00:00:00.000Z"}}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-02?api-version=2019-11-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/exports/ep-02","name":"ep-02","type":"Microsoft.CostManagement/exports","eTag":"\"1d632b63fc1f02c\"","properties":{"schedule":{"status":"Active","recurrence":"Weekly","recurrencePeriod":{"from":"2020-06-01T00:00:00Z","to":"2020-10-31T00:00:00Z"}},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_export_schedule000001/providers/Microsoft.Storage/storageAccounts/testexportschedule000002","container":"export","rootFolderPath":null}},"definition":{"type":"Usage","timeframe":"TheLastMonth","dataSet":{"granularity":"Daily"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://consumption.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-02?api-version=2019-11-01
      session-id:
      - 336ddc09-3140-41b1-bdb4-cc8b655ec825
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports?api-version=2019-11-01
  response:
    body:
      string: '{"value":[{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/exports/ep-02","name":"ep-02","type":"Microsoft.CostManagement/exports","eTag":"\"1d632b63fc1f02c\"","properties":{"schedule":{"status":"Active","recurrence":"Weekly","recurrencePeriod":{"from":"2020-06-01T00:00:00Z","to":"2020-10-31T00:00:00Z"}},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_export_schedule000001/providers/Microsoft.Storage/storageAccounts/testexportschedule000002","container":"export","rootFolderPath":null}},"definition":{"type":"Usage","timeframe":"TheLastMonth","dataSet":{"granularity":"Daily"}}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - 47c0121f-b169-4e6f-88ff-f924f1f37830
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-02?api-version=2019-11-01
  response:
    body:
      string: '{"error":{"code":"404","message":"No export found for ep-02, Subscription:
        0b1f6471-1bf0-4dda-aec3-cb9272f09590. (Request ID: c5981703-754c-4d66-bf6e-ec7d6e194319)"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - 0be6f646-5c8f-4c55-8250-da54e03e48b6
    status:
      code: 404
      message: Not Found
version: 1
