interactions:
- request:
    body: '{"type": "ActualCost", "timeframe": "BillingMonthToDate", "dataset": {"granularity":
      "Daily"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/query?api-version=2019-11-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/query/f2f83e84-0030-482d-b03c-5e7d05bc4cb2","name":"f2f83e84-0030-482d-b03c-5e7d05bc4cb2","type":"Microsoft.CostManagement/query","location":null,"sku":null,"eTag":null,"properties":{"nextLink":null,"columns":[{"name":"UsageDate","type":"Number"},{"name":"Currency","type":"String"}],"rows":[[20200501,"USD"],[20200502,"USD"],[20200503,"USD"],[20200504,"USD"],[20200505,"USD"],[20200506,"USD"],[20200507,"USD"],[20200508,"USD"],[20200509,"USD"],[20200510,"USD"],[20200511,"USD"],[20200512,"USD"],[20200513,"USD"],[20200514,"USD"],[20200515,"USD"],[20200516,"USD"],[20200517,"USD"],[20200518,"USD"],[20200519,"USD"],[20200520,"USD"],[20200521,"USD"],[20200522,"USD"],[20200523,"USD"]]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - 7dc397f6-eb86-4f22-9fe0-28af95f06abd
      x-ms-ratelimit-microsoft.costmanagement-entity-retry-after:
      - '60'
      x-ms-ratelimit-microsoft.costmanagement-tenant-retry-after:
      - '60'
      x-ms-ratelimit-remaining-microsoft.costmanagement-entity-requests:
      - '29'
      x-ms-ratelimit-remaining-microsoft.costmanagement-tenant-requests:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "Usage", "timeframe": "WeekToDate", "dataset": {"granularity":
      "Daily"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/query?api-version=2019-11-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/query/7aa9da0a-6be7-4f3a-a98c-0ff4a76f0868","name":"7aa9da0a-6be7-4f3a-a98c-0ff4a76f0868","type":"Microsoft.CostManagement/query","location":null,"sku":null,"eTag":null,"properties":{"nextLink":null,"columns":[{"name":"UsageDate","type":"Number"},{"name":"Currency","type":"String"}],"rows":[[20200517,"USD"],[20200518,"USD"],[20200519,"USD"],[20200520,"USD"],[20200521,"USD"],[20200522,"USD"],[20200523,"USD"]]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - 351b8150-9cc9-4a64-bc37-e3e3aef4ea83
      x-ms-ratelimit-microsoft.costmanagement-entity-retry-after:
      - '60'
      x-ms-ratelimit-microsoft.costmanagement-tenant-retry-after:
      - '60'
      x-ms-ratelimit-remaining-microsoft.costmanagement-entity-requests:
      - '28'
      x-ms-ratelimit-remaining-microsoft.costmanagement-tenant-requests:
      - '198'
    status:
      code: 200
      message: OK
version: 1
