interactions:
- request:
    body: 'b''b\''{"properties": {"format": "Csv", "definition": {"timeframe": "TheLastMonth",
      "dataset": {"granularity": "Daily"}}, "deliveryInfo": {"destination": {"resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_export_create000001/providers/Microsoft.Storage/storageAccounts/testexportcreate000002",
      "container": "export"}}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-06?api-version=2019-11-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.CostManagement/exports/ep-06","name":"ep-06","type":"Microsoft.CostManagement/exports","eTag":"\"1d632aa0f1dabff\"","properties":{"schedule":{"status":"Inactive"},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_export_create000001/providers/Microsoft.Storage/storageAccounts/testexportcreate000002","container":"export","rootFolderPath":null}},"definition":{"type":"Usage","timeframe":"TheLastMonth","dataSet":{"granularity":"Daily"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://consumption.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-06?api-version=2019-11-01
      session-id:
      - b5e2d7e2-edd3-4bc9-90d0-d40d870f4f06
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep-06?api-version=2019-11-01
  response:
    body:
      string: '{"error":{"code":"404","message":"No export found for ep-06, Subscription:
        0b1f6471-1bf0-4dda-aec3-cb9272f09590. (Request ID: af028d63-537e-4b38-ad14-dc85224b5726)"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - 071dc3ca-3594-4775-8fe8-490698f6075b
    status:
      code: 404
      message: Not Found
version: 1
