interactions:
- request:
    body: '{"properties": {"format": "Csv", "deliveryInfo": {"destination": {"resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002",
      "container": "export"}}, "definition": {"type": "ActualCost", "timeframe": "TheLastMonth",
      "dataSet": {"granularity": "Daily"}}, "schedule": {"status": "Inactive"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep000003?api-version=2020-06-01
  response:
    body:
      string: '{"id":"subscriptions/8ffdc969-64fc-430e-8242-2a1ece985b45/providers/Microsoft.CostManagement/exports/ep000003","name":"ep000003","type":"Microsoft.CostManagement/exports","eTag":"\"1d8385591da0efd\"","properties":{"schedule":{"status":"Inactive"},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002","container":"export","rootFolderPath":null}},"definition":{"type":"ActualCost","timeframe":"TheLastMonth","dataSet":{"granularity":"Daily"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://costmanagement.trafficmanager.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep000003?api-version=2020-06-01
      session-id:
      - def73d06-426f-4ca0-9691-effc90635e99
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"eTag": "\"1d8385591da0efd\"", "properties": {"format": "Csv", "deliveryInfo":
      {"destination": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002",
      "container": "export"}}, "definition": {"type": "ActualCost", "timeframe": "TheLastBillingMonth",
      "dataSet": {"granularity": "Daily"}}, "schedule": {"status": "Inactive", "recurrencePeriod":
      {"from": "2022-04-01T00:00:00.000Z", "to": "2022-04-30T00:00:00.000Z"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep000003?api-version=2020-06-01
  response:
    body:
      string: '{"id":"subscriptions/8ffdc969-64fc-430e-8242-2a1ece985b45/providers/Microsoft.CostManagement/exports/ep000003","name":"ep000003","type":"Microsoft.CostManagement/exports","eTag":"\"1d8385593e9df54\"","properties":{"schedule":{"status":"Inactive","recurrencePeriod":{"from":"2022-04-01T00:00:00Z","to":"2022-04-30T00:00:00Z"}},"format":"Csv","deliveryInfo":{"destination":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_update_schedule000001/providers/Microsoft.Storage/storageAccounts/testupdateschedule000002","container":"export","rootFolderPath":null}},"definition":{"type":"ActualCost","timeframe":"TheLastBillingMonth","dataSet":{"granularity":"Daily"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - b2961898-8a80-402c-8a93-ac6e911d3f8b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/ep000003?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      session-id:
      - 676f51b8-78f3-45b5-b8bc-d7f06833b5af
    status:
      code: 200
      message: OK
version: 1
