interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/westus3/availableClusterVersions?api-version=2023-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/westus3/availableclusterversions/flink_1.16.0-1.0.6","name":"flink_1.16.0-1.0.6","properties":{"clusterVersion":"1.0.6","ossVersion":"1.16.0","clusterType":"Flink","clusterPoolVersion":"1.0","isPreview":false,"components":[{"name":"Flink","version":"1.16.0"},{"name":"Hive
        Metastore","version":"3.1.2"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/westus3/availableclusterversions/flink_1.17.0-1.1.0","name":"flink_1.17.0-1.1.0","properties":{"clusterVersion":"1.1.0","ossVersion":"1.17.0","clusterType":"Flink","clusterPoolVersion":"1.1","isPreview":false,"components":[{"name":"Flink","version":"1.17.0"},{"name":"Hive
        Metastore","version":"3.1.2"}]}},{"id":"/subscriptions/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopool/clusters/hilo-vjkn4d55e7cby?api-version=2023-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopool/clusters/hilo-vjkn4d55e7cby","name":"hilo-vjkn4d55e7cby","type":"microsoft.hdinsight/clusterpools/clusters","location":"westus3","systemData":{"createdBy":"v-yuchenli@microsoft.com","createdByType":"User","createdAt":"2024-03-11T06:01:54.5253973Z","lastModifiedBy":"v-yuchenli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-03-13T07:08:45.9548873Z"},"properties":{"clusterType":"Spark","computeProfile":{"nodes":[{"type":"Head","vmSize":"Standard_D16a_v4","count":3},{"type":"Worker","vmSize":"Standard_D16a_v4","count":3}]},"clusterProfile":{"clusterVersion":"1.0.6","ossVersion":"3.3.1","components":[{"name":"Yarn","version":"3.3.1"},{"name":"Spark","version":"3.3.1"},{"name":"Hive
        Metastore","version":"3.1.2"},{"name":"Zookeeper","version":"3.6.2"}],"identityProfile":{"msiResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi","msiClientId":"00000000-0000-0000-0000-000000000000","msiObjectId":"00000000-0000-0000-0000-000000000000"},"authorizationProfile":{"userIds":["00000000-0000-0000-0000-000000000000"]},"serviceConfigsProfiles":[{"serviceName":"yarn-service","configs":[{"component":"hadoop-config","files":[{"fileName":"core-site.xml","values":{"test":"testValue"}}]}]}],"connectivityProfile":{"web":{"fqdn":"hilo-vjkn4d55e7cby.hilopool.10e32bab26da4cc4a44152b318f824e6.westus2.tip.hdinsightaks.net"}},"autoscaleProfile":{"enabled":true,"autoscaleType":"ScheduleBased","gracefulDecommissionTimeout":60,"scheduleBasedConfig":{"defaultCount":3,"timeZone":"UTC","schedules":[{"days":["Monday","Sunday"],"startTime":"10:00","endTime":"12:00","count":10}]}},"sparkProfile":{"defaultStorageUrl":"abfs://testspark@yuchenhilostorage.dfs.core.windows.net/"}},"deploymentId":"8fb986fd6e8e4b0ba6128eb6bcb5defd","provisioningState":"Succeeded","status":"Running"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"97050db5-0000-0700-0000-65f1512b0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus3", "properties": {"clusterProfile": {"authorizationProfile":
      {"userIds": ["00000000-0000-0000-0000-000000000000"]}, "autoscaleProfile": {"autoscaleType":
      "ScheduleBased", "enabled": true, "gracefulDecommissionTimeout": 60, "scheduleBasedConfig":
      {"defaultCount": 3, "schedules": [{"count": 10, "days": ["Monday", "Sunday"],
      "endTime": "12:00", "startTime": "10:00"}], "timeZone": "UTC"}}, "clusterVersion":
      "1.0.6", "identityProfile": {"msiClientId": "00000000-0000-0000-0000-000000000000",
      "msiObjectId": "00000000-0000-0000-0000-000000000000", "msiResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi"},
      "ossVersion": "3.3.1", "serviceConfigsProfiles": [{"configs": [{"component":
      "hadoop-config", "files": [{"fileName": "core-site.xml", "values": {"test":
      "testValue"}}]}], "serviceName": "yarn-service"}], "sparkProfile": {"defaultStorageUrl":
      "abfs://testspark@yuchenhilostorage.dfs.core.windows.net/"}}, "clusterType":
      "Spark", "computeProfile": {"nodes": [{"count": 3, "type": "Head", "vmSize":
      "Standard_D16a_v4"}, {"count": 3, "type": "Worker", "vmSize": "Standard_D16a_v4"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopool/clusters/hilo-vjkn4d55e7cby?api-version=2023-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopool/clusters/hilo-vjkn4d55e7cby","name":"hilo-vjkn4d55e7cb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS3/operationStatuses/64e913e5-2235-4f3b-ae93-4ff0c1808df7*A991BDFB905BB673B8B09B3507855BFCC5A1538A999FC5A0FB31FB1ACA0FE913?api-version=2023-11-01-preview&t=638459114529342147&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwODE5WhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopool/clusters/hilo-vjkn4d55e7cby/serviceConfigs?api-version=2023-11-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serviceName":"spark-service","componentName":"livy-config","fileName":"livy.conf","type":"key-value","defaultKeys":{"livy.spark.master":{"value":"yarn","description":"livy.spark.master"},"livy.spark.deploy-mode":{"value":"cluster","description":"livy.spark.deploy-mode"}},"customKeys":{"livy.impersonation.enabled":"true","livy.repl.enableHiveContext":"true","livy.server.session.timeout":"3600000","livy.server.csrf_protection.enabled":"false"}}},{"properties":{"serviceName":"spark-service","componentName":"livy-config","fileName":"livy-client.conf","type":"key-value","defaultKeys":{"livy.client.http.connection.timeout":{"value":"10s","description":"livy.client.http.connection.timeout"}},"customKeys":{}}},{"properties":{"serviceName":"spark-service","componentName":"livy-config","fileName":"log4j2.properties","content":"status
        = INFO\nname = PropertiesConfig\nappenders = console\nappender.console.type
        = Console\nappender.console.name = STDOUT\nappender.console.layout.type =
        PatternLayout\nappender.console.layout.pattern = %d %p %c{1} [%t]: %m | Metadata:
        %replace{%replace{%replace{%X}{([a-zA-Z0-9_]+)}{\"$1\"}}{\\=}{\\:}}{\\\\{\\\\}}{None
        Available} %n%ex\nrootLogger.level = INFO\nrootLogger.appenderRef.console.ref
        = STDOUT\n","type":"content"}},{"properties":{"se[...]
