interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/westus3/availableClusterVersions?api-version=2023-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/westus3/availableclusterversions/flink_1.16.0-1.0.6","name":"flink_1.16.0-1.0.6","properties":{"clusterVersion":"1.0.6","ossVersion":"1.16.0","clusterType":"Flink","clusterPoolVersion":"1.0","isPreview":false,"components":[{"name":"Flink","version":"1.16.0"},{"name":"Hive
        Metastore","version":"3.1.2"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/westus3/availableclusterversions/flink_1.17.0-1.1.0","name":"flink_1.17.0-1.1.0","properties":{"clusterVersion":"1.1.0","ossVersion":"1.17.0","clusterType":"Flink","clusterPoolVersion":"1.1","isPreview":false,"components":[{"name":"Flink","version":"1.17.0"},{"name":"Hive
        Metastore","version":"3.1.2"}]}},{"id":"/subscriptions/[...]
