interactions:
- request:
    body: null
    headers:
      x-ms-aad-user-token:
      - Bearer xxx
    method: GET
    uri: https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/Demo?api-version=2024-06-27
  response:
    body:
      string: '{"id":"/providers/Microsoft.AppComplianceAutomation/reports/Demo","name":"Demo","type":"Microsoft.AppComplianceAutomation/reports","systemData":{"createdBy":"","createdByType":"User","createdAt":"2024-05-17T09:14:33.8219135Z","lastModifiedBy":"","lastModifiedByType":"User","lastModifiedAt":"2024-07-03T06:03:48.3185331Z"},"properties":{"status":"Active","errors":[],"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","offerGuid":"","timeZone":"India
        Standard Time","triggerTime":"2024-05-16T20:30:00Z","nextTriggerTime":"2024-07-12T20:30:00Z","lastTriggerTime":"2024-07-11T21:06:39.049Z","subscriptions":["120b982f-6bd3-4b60-98d2-a7b7ecd6c78e"],"resources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acat-aws/providers/Microsoft.Security/assignments/00e80c18-3eaa-46db-a6e7-c35ba524453c","resourceType":"microsoft.security/assignments","resourceKind":"","resourceOrigin":"Azure","accountId":null}],"storageInfo":{"subscriptionId":"120b982f-6bd3-4b60-98d2-a7b7ecd6c78e","resourceGroup":"E2EFileUploadRG","accountName":"e2efileuploadtest","location":"eastus"},"complianceStatus":{"m365":{"passedCount":1,"failedCount":22,"manualCount":0,"notApplicableCount":21,"pendingCount":1}},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - dc240ed0-b1eb-4b97-9088-265ec3cac308
      x-ms-operation-id:
      - da65eff860f7ecf99df782c42f2fd547
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-aad-user-token:
      - Bearer xxx
    method: GET
    uri: https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/Demo/snapshots?api-version=2024-06-27
  response:
    body:
      string: "{\"value\":[{\"id\":\"/providers/Microsoft.AppComplianceAutomation/reports/Demo/snapshots/Demo-20240711T210631-954Z\"\
        ,\"name\":\"Demo-20240711T210631-954Z\",\"type\":\"Microsoft.AppComplianceAutomation/reports/snapshots\"\
        ,\"properties\":{\"snapshotName\":\"Demo-20240711T210631-954Z\",\"createdAt\"\
        :\"2024-07-11T21:06:34.234Z\",\"provisioningState\":\"Succeeded\",\"reportProperties\"\
        :{\"timeZone\":\"India Standard Time\",\"triggerTime\":\"2024-05-16T20:30:00Z\"\
        ,\"resources\":[{\"resourceId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acat-aws/providers/Microsoft.Security/assignments/00e80c18-3eaa-46db-a6e7-c35ba524453c\"\
        ,\"resourceType\":\"microsoft.security/assignments\",\"resourceKind\":\"\"\
        ,\"resourceOrigin\":\"Azure\",\"accountId\":null}],\"status\":\"Active\",\"\
        errors\":[],\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"offerGuid\"\
        :\"\",\"nextTriggerTime\":\"2024-07-12T20:30:00Z\",\"lastTriggerTime\":\"\
        2024-07-11T21:06:34.216Z\",\"subscriptions\":[\"120b982f-6bd3-4b60-98d2-a7b7ecd6c78e\"\
        ],\"storageInfo\":{\"subscriptionId\":\"120b982f-6bd3-4b60-98d2-a7b7ecd6c78e\"\
        ,\"resourceGroup\":\"E2EFileUploadRG\",\"accountName\":\"e2efileuploadtest\"\
        ,\"location\":\"eastus\"},\"complianceStatus\":{\"m365\":{\"passedCount\"\
        :1,\"failedCount\":22,\"manualCount\":0,\"notApplicableCount\":21,\"pendingCount\"\
        :1}},\"provisioningState\":\"Succeeded\"},\"reportSystemData\":{\"createdBy\"\
        :\"\",\"createdByType\":\"User\",\"createdAt\":\"2024-05-17T09:14:33.8219135Z\"\
        ,\"lastModifiedBy\":\"\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\"\
        :\"2024-07-03T06:03:48.3185331Z\"},\"complianceResults\":[{\"complianceName\"\
        :\"M365\",\"categories\":[{\"categoryName\":\"Operational Security\",\"categoryStatus\"\
        :\"Failed\",\"controlFamilies\":[{\"controlFamilyName\":\"Awareness Training\"\
        ,\"controlFamilyStatus\":\"PendingApproval\",\"controls\":[{\"controlId\"\
        :\"Operational_Security_1\",\"controlName\":\"Provide evidence of established\
        \ security awareness training, frequency and records monitoring for all information\
        \ system users\",\"controlFullName\":\"\",\"controlDescription\":\"Provide\
        \ evidence that:<br><br>A) The organization provides established security\
        \ awareness training to information system users (including managers, senior\
        \ executives, and contractors) :<br>(i) As part of initial training for new\
        \ users<br>OR<br>(ii) When required by information system changes<br><br>B)\
        \ You have organization-defined frequency of awareness training<br><br>C)\
        \ You document and monitor individual information system security awareness\
        \ activites and retain individual training records over an organization-defined\
        \ frequency<br><br>\",\"controlDescriptionHyperLink\":\"https://aka.ms/acat/m365cert2/operational/control1\"\
        ,\"controlStatus\":\"PendingApproval\",\"responsibilities\":[{\"responsibilityId\"\
        :\"Operational_Security_1_manual_cr\",\"responsibilityTitle\":\"Provide demonstratable\
        \ evidence that you have established security awareness training to information\
        \ system users\",\"responsibilityDescription\":\"Provide evidence that:<br><br>A)\
        \ The organization provides established security awareness training to information\
        \ system users (including managers, senior executives, and contractors):<br>\
        \ (i) As part of initial training for new users<br> OR<br> (ii) When required\
        \ by information system changes<br><br>B) Organization-defined frequency of\
        \ awareness training.<br><br>C) Documents and monitors individual information\
        \ system security awareness activities and retains individual training records\
        \ over an organization-defined frequency.\",\"responsibilityType\":\"Manual\"\
        ,\"responsibilitySeverity\":\"High\",\"responsibilityStatus\":\"PendingApproval\"\
        ,\"responsibilityEnvironment\":\"General\",\"failedResourceCount\":0,\"totalResourceCount\"\
        :0,\"resourceList\":[],\"recommendationList\":[],\"guidance\":\"https://aka.ms/acat-cr-security-awareness-training\"\
        ,\"justification\":\"\",\"evidenceFiles\":[\"58e3e900-c538-46e3-9bd3-aa3179165f19\"\
        ]}]}]},{\"controlFamilyName\":\"Malware Protection - Anti-Malware\",\"controlFamilyStatus\"\
        :\"NotApplicable\",\"controls\":[{\"controlId\":\"Operational_Security_2\"\
        ,\"controlName\":\"Provide evidence of active anti-malware solution meeting\
        \ specific criteria including on-access scanning and blocking capabilities\"\
        ,\"controlFullName\":\"\",\"controlDescription\":\"Provide evidence that your\
        \ anti-malware solution is active and enabled across all the sampled system\
        \ components and configured to meet the following criteria:<br><br>A) If Anti\
        \ Virus, then on-access scanning is enabled and that signatures are up-to-date\
        \ within 1-day<br><br>B) If Anti Virus, then it automatically blocks malware\
        \ or alerts and quarantines when malware is detected<br><br>OR<br><br>C) If\
        \ Endpoint Detection and Threat Response(EDTR)/Endpoint Detection and Protection\
        \ Response(EDPR)/Hueristic based scanning using AI then: <br>(i) periodic\
        \ scanning is being performed <br>(ii) it is generating audit logs <br>(iii)\
        \ it is kept up-to date continually and has self-learning capabilities<br><br>D)\
        \ If EDTR/EDPR/Hueristic based scanning using AI then:<br>(i) it blocks known\
        \ malware<br>(ii) it identifies and blocks new malware variants based on macro\
        \ behaviours as well as having full safelist capabilities\",\"controlDescriptionHyperLink\"\
        :\"https://aka.ms/acat/m365cert2/operational/control2\",\"controlStatus\"\
        :\"NotApplicable\",\"responsibilities\":[{\"responsibilityId\":\"antivirus_software_or_ms_defender_should_be_enabled\"\
        ,\"responsibilityTitle\":\"Antivirus software or Microsoft Defender should\
        \ be enabled\",\"responsibilityDescription\":\"This control monitors if Antivirus\
        \ software or Microsoft Defender is be enabled.\",\"responsibilityType\":\"\
        Automated\",\"responsibilitySeverity\":\"High\",\"responsibilityStatus\":\"\
        NotApplicable\",\"responsibilityEnvironment\":\"Azure\",\"failedResourceCount\"\
        :0,\"totalResourceCount\":1,\"resourceList\":[{\"resourceId\":\"/subscriptions/00000000-0000-0000-0000-000000000000\"\
        ,\"resourceType\":\"Microsoft.Resources/subscriptions\",\"resourceOrigin\"\
        :\"Azure\",\"accountId\":null,\"resourceStatus\":\"Healthy\",\"resourceStatusChangeDate\"\
        :\"2024-07-11T21:06:34.228Z\",\"recommendationIds\":[\"op2_2\"]}],\"recommendationList\"\
        :[{\"recommendationId\":\"default_recommendation_id\",\"recommendationShortName\"\
        :\"Default Recommendation Name\",\"recommendationSolutions\":[{\"recommendationSolutionIndex\"\
        :\"op2_1\",\"recommendationSolutionContent\":\"No need to remediate.\",\"\
        isRecommendSolution\":\"true\"}]}],\"guidance\":\"https://aka.ms/acat-cr-enable-antivirus-software\"\
        ,\"justification\":\"\",\"evidenceFiles\":[]}]}]},{\"controlFamilyName\":\"\
        Malware Protection - Application Control\",\"controlFamilyStatus\":\"NotApplicable\"\
        ,\"controls\":[{\"controlId\":\"Operational_Security_3\",\"controlName\":\"\
        Provide evidence of approved software list and active application control\
       [...]
- request:
    body: '{"downloadType": "CompliancePdfReport"}'
    headers:
      Content-Type:
      - application/json
      x-ms-aad-user-token:
      - Bearer xxx
    method: POST
    uri: https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/Demo/snapshots/Demo-20240711T210631-954Z/download?api-version=2024-06-27
  response:
    body:
      string: '{"compliancePdfReport":{"sasUri":"https://acatprodadls-gjhyfcgnenfdhsg3.z01.azurefd.net/report/Demo-20240711T210631-954Z_2024-06-27.pdf?skoid=f7cca650-916d-40c2-9d2c-9e72fa7509b4&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2024-07-09T04%3A31%3A18Z&ske=2024-07-16T04%3A31%3A18Z&sks=b&skv=2021-08-06&sv=2021-08-06&st=2024-07-12T08%3A29%3A10Z&se=2024-07-12T08%3A39%3A10Z&sr=b&sp=r&sig=MDp62CE2vRikUwL7RSYiISeMG8%2FbSLzYrn7Vlq%2FfP7U%3D"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 83037a71-3f06-4f70-816c-edae24f2ad36
      x-ms-operation-id:
      - fffdf8aeb6367e76d6074f487a230691
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://acatprodadls-gjhyfcgnenfdhsg3.z01.azurefd.net/report/Demo-20240711T210631-954Z_2024-06-27.pdf?skoid=f7cca650-916d-40c2-9d2c-9e72fa7509b4&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2024-07-09T04%3A31%3A18Z&ske=2024-07-16T04%3A31%3A18Z&sks=b&skv=2021-08-06&sv=2021-08-06&st=2024-07-12T08%3A29%3A10Z&se=2024-07-12T08%3A39%3A10Z&sr=b&sp=r&sig=MDp62CE2vRikUwL7RSYiISeMG8%2FbSLzYrn7Vlq%2FfP7U%3D
  response:
    body:
     [...]
[...]
- request:
    body: '{"downloadType": "ComplianceReport"}'
    headers:
      Content-Type:
      - application/json
      x-ms-aad-user-token:
      - Bearer xxx
    method: POST
    uri: https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/Demo/snapshots/Demo-20240711T210631-954Z/download?api-version=2024-06-27
  response:
    body:
      string: "{\"complianceReport\":[{\"categoryName\":\"Operational Security\",\"\
        controlFamilyName\":\"Awareness Training\",\"controlId\":\"1\",\"controlName\"\
        :\"\",\"controlStatus\":\"FullyAutomated\",\"responsibilityTitle\":\"Provide\
        \ demonstratable evidence that you have established security awareness training\
        \ to information system users\",\"responsibilityDescription\":\"Provide evidence\
        \ that:<br><br>A) The organization provides established security awareness\
        \ training to information system users (including managers, senior executives,\
        \ and contractors):<br> (i) As part of initial training for new users<br>\
        \ OR<br> (ii) When required by information system changes<br><br>B) Organization-defined\
        \ frequency of awareness training.<br><br>C) Documents and monitors individual\
        \ information system security awareness activities and retains individual\
        \ training records over an organization-defined frequency.\",\"resourceId\"\
        :\"-\",\"resourceType\":\"-\",\"resourceOrigin\":\"-\",\"resourceStatus\"\
        :\"-\",\"resourceStatusChangeDate\":\"2024-07-12T08:29:18.513Z\"},{\"categoryName\"\
        :\"Operational Security\",\"controlFamilyName\":\"Malware Protection - Anti-Malware\"\
        ,\"controlId\":\"2\",\"controlName\":\"Provide evidence of active anti-malware\
        \ solution meeting specific criteria including on-access scanning and blocking\
        \ capabilities\",\"controlStatus\":\"FullyAutomated\",\"responsibilityTitle\"\
        :\"Antivirus software or Microsoft Defender should be enabled\",\"responsibility[...]
