interactions:
- request:
    body: null
    headers:
      x-ms-aad-user-token:
      - Bearer xxx
    method: GET
    uri: https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports?api-version=2024-06-27
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.AppComplianceAutomation/reports/ACATE2ETest-FileUploadReport","name":"ACATE2ETest-FileUploadReport","type":"Microsoft.AppComplianceAutomation/reports","systemData":{"createdBy":"","createdByType":"User","createdAt":"2024-07-12T05:26:54.2349203Z","lastModifiedBy":"","lastModifiedByType":"User","lastModifiedAt":"2024-07-12T05:27:09.1763636Z"},"properties":{"status":"Active","errors":[],"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","offerGuid":"e21cdb71-97a7-43cf-9bca-b3602cdf4eaf","timeZone":"China
        Standard Time","triggerTime":"2023-01-08T23:00:00Z","nextTriggerTime":"2024-07-12T23:00:00Z","lastTriggerTime":"2024-07-12T05:33:49.51Z","subscriptions":["120b982f-6bd3-4b60-98d2-a7b7ecd6c78e"],"resources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acat-aws/providers/Microsoft.HybridCompute/machines/i-0f85f65e4741defab","resourceType":"Microsoft.HybridCompute/machines","resourceKind":"Test","resourceOrigin":"Azure","accountId":null}],"storageInfo":{"subscriptionId":"120b982f-6bd3-4b60-98d2-a7b7ecd6c78e","resourceGroup":"E2EFileUploadRG","accountName":"e2efileuploadtest","location":"japanwest"},"complianceStatus":{"m365":{"passedCount":4,"failedCount":39,"manualCount":0,"notApplicableCount":2,"pendingCount":0}},"provisioningState":"Succeeded"}},{"id":"/providers/Microsoft.AppComplianceAutomation/reports/E2ETest-ScopedManualStatus-20240712033929","name":"E2ETest-ScopedManualStatus-20240712033929","type":"Microsoft.AppComplianceAutomation/reports","systemData":{"createdBy":"","createdByType":"User","createdAt":"2024-07-12T03:39:29.3182371Z","lastModifiedBy":"","lastModifiedByType":"User","lastModifiedAt":"2024-07-12T03:39:57.582866Z"},"properties":{"status":"Active","errors":[],"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db[...]
