interactions:
- request:
    body: null
    headers:
      x-ms-aad-user-token:
      - Bearer xxxxxxx
    method: GET
    uri: https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports?api-version=2024-06-27
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.AppComplianceAutomation/reports/CLI_test_report_update","name":"CLI_test_report_update","type":"Microsoft.AppComplianceAutomation/reports","systemData":{"createdBy":"","createdByType":"User","createdAt":"2024-06-14T04:47:28.3982219Z","lastModifiedBy":"","lastModifiedByType":"User","lastModifiedAt":"2024-06-14T04:49:06.5477146Z"},"properties":{"status":"Active","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","offerGuid":"b8a0a0a0-0000-0000-0000-000000000000","timeZone":"UTC","triggerTime":"2021-09-01T00:00:00Z","nextTriggerTime":"2024-06-15T00:00:00Z","subscriptions":["f744fbde-a95f-437e-8fcf-38f9324e3d9c"],"resources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/HQTESTRG/providers/Microsoft.Compute/disks/hqtestvm_OsDisk_1_90a1250135fa4cbca9b99f553b80fa08","resourceType":"microsoft.compute/disks","resourceOrigin":null,"accountId":null}],"complianceStatus":{"m365":{"passedCount":0,"failedCount":0,"manualCount":0,"notApplicableCount":0,"pendingCount":0}},"provisioningState":"Succeeded"}},{"id":"/providers/Microsoft.AppComplianceAutomation/reports/huiquan-CLI-test","name":"huiquan-CLI-test","type":"Microsoft.AppComplianceAutomation/reports","systemData":{"createdBy":"","createdByType":"User","createdAt":"2024-06-14T04:15:15.8930588Z","lastModifiedBy":"","lastModifiedByType":"User","lastModifiedAt":"2024-06-14T04:15:15.8930588Z"},"properties":{"status":"Active","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","offerGuid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","timeZ[...]
