interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CLI-TESTING?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING","name":"CLI-TESTING","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"Created":"20230330"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/applicationInstances/c36appvm0-1?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"OperationNotAllowed","message":"This operation is
        not allowed."}}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01
      content-type:
      - application/json
      mise-correlation-id:
      - 297c4822-d56b-4f27-9b6d-ce5141ab5c3c
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/databaseInstances/C36-0?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"OperationNotAllowed","message":"This operation is
        not allowed."}}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01
      content-type:
      - application/json
      mise-correlation-id:
      - 3e2e5119-660b-4e3c-adec-c9b60510bf26
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/centralInstances/c36ascsvm-1?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"OperationNotAllowed","message":"This operation is
        not allowed."}}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01
      content-type:
      - application/json
      mise-correlation-id:
      - 3f1ff54f-e64e-4b04-aae5-cd8c66f7549c
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
