interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor/sapLandscapeMonitor/default?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor/sapLandscapeMonitor/default","name":"default","type":"microsoft.workloads/monitors/saplandscapemonitor","systemData":{"createdBy":"srivastavap@microsoft.com","createdByType":"User","createdAt":"2023-04-18T06:01:46.1003157Z","lastModifiedBy":"srivastavap@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T06:02:34.3731808Z"},"properties":{"provisioningState":"Succeeded","grouping":{"landscape":[{"name":"Prod","topSid":["SID1","SID2"]}],"sapApplication":[{"name":"ERP1","topSid":["SID1","SID2"]}]},"topMetricsThresholds":[{"green":90.0,"name":"Inscane","red":50.0,"yellow":25.0}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"02009e89-0000-3400-0000-643e327a0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"grouping": {"landscape": [{"name": "Prod", "topSid": ["SID1",
      "SID2"]}], "sapApplication": [{"name": "ERP1", "topSid": ["SID1", "SID2"]}]},
      "topMetricsThresholds": [{"green": 90.0, "name": "Inscane", "red": 50.0, "yellow":
      25.0}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor/sapLandscapeMonitor/default?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor/sapLandscapeMonitor/default","name":"default","type":"microsoft.workloads/monitors/saplandscapemonitor","systemData":{"createdBy":"srivastavap@microsoft.com","createdByType":"User","createdAt":"2023-04-18T06:01:46.1003157Z","lastModifiedBy":"srivastavap@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T06:03:29.5123671Z"},"properties":{"provisioningState":"Succeeded","grouping":{"landscape":[{"name":"Prod","topSid":["SID1","SID2"]}],"sapApplication":[{"name":"ERP1","topSid":["SID1","SID2"]}]},"topMetricsThresholds":[{"green":90.0,"name":"Inscane","red":50.0,"yellow":25.0}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200af89-0000-3400-0000-643e32b10000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
version: 1
