interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"appLocation": "eastus", "managedResourceGroupConfiguration":
      {"name": "ams-test-cli-mrg"}, "monitorSubnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/looptest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-rg-vnet/subnets/cli-testing-00",
      "routingPreference": "RouteAll"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor","name":"ams-test-cli-monitor","type":"microsoft.workloads/monitors","location":"eastus2euap","systemData":{"createdBy":"srivastavap@microsoft.com","createdByType":"User","createdAt":"2023-04-17T08:35:45.125233Z","lastModifiedBy":"srivastavap@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-17T08:35:45.125233Z"},"properties":{"appLocation":"eastus","managedResourceGroupConfiguration":{"name":"ams-test-cli-mrg"},"monitorSubnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/looptest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-rg-vnet/subnets/cli-testing-00","routingPreference":"RouteAll","provisioningState":"Accepted"}}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/e7afa0fa-3507-4ab4-867c-dcbe0b3ec9e0*37D6C2B39A32E43FEFE140C6C9A7E6E443D622C7E7A7EE31D46B21A7E264313E?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0800bf91-0000-3400-0000-643d04e20000"'
      mise-correlation-id:
      - 38b68cb9-ed5a-472c-9f50-4d5601af548a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/e7afa0fa-3507-4ab4-867c-dcbe0b3ec9e0*37D6C2B39A32E43FEFE140C6C9A7E6E443D622C7E7A7EE31D46B21A7E264313E?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/e7afa0fa-3507-4ab4-867c-dcbe0b3ec9e0*37D6C2B39A32E43FEFE140C6C9A7E6E443D622C7E7A7EE31D46B21A7E264313E","name":"e7afa0fa-3507-4ab4-867c-dcbe0b3ec9e0*37D6C2B39A32E43FEFE140C6C9A7E6E443D622C7E7A7EE31D46B21A7E264313E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor","status":"Accepted","startTime":"2023-04-17T08:35:46.2110747Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b00d716-0000-3400-0000-643d04e20000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/monitors/ams-test-cli-monitor","name":"ams-test-cli-monitor","type":"microsoft.workloads/monitors","location":"eastus2euap","systemData":{"createdBy":"srivastavap@microsoft.com","createdByType":"User","createdAt":"2023-04-17T08:35:45.125233Z","lastModifiedBy":"srivastavap@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-17T08:35:45.125233Z"},"properties":{"appLocation":"eastus","routingPreference":"RouteAll","managedResourceGroupConfiguration":{"name":"ams-test-cli-mrg"},"monitorSubnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/looptest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-rg-vnet/subnets/cli-testing-00","provisioningState":"Succeeded","logAnalyticsWorkspaceArmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ams-test-cli-mrg/providers/microsoft.operationalinsights/workspaces/sapmon-laws-d7451ad7f9d221","msiArmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ams-test-cli-mrg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sapmon-msi-d7451ad7f9d221","storageAccountArmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ams-test-cli-mrg/providers/Microsoft.Storage/storageAccounts/sapstod7451ad7f9d221"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"08001593-0000-3400-0000-643d05da0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
version: 1
