interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36","name":"C36","type":"microsoft.workloads/sapvirtualinstances","location":"eastus","systemData":{"createdBy":"jasksingh@microsoft.com","createdByType":"User","createdAt":"2024-03-01T04:14:57.5873635Z","lastModifiedBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","lastModifiedByType":"Application","lastModifiedAt":"2024-03-02T16:15:59.4744424Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI":{"principalId":"3f6dc964-e354-492a-8816-7bf7bfa40d79","clientId":"bfd02efd-39f7-43f4-92a1-be2a4ec89012"}}},"properties":{"environment":"NonProd","sapProduct":"S4HANA","managedResourcesNetworkAccessType":"Public","configuration":{"configurationType":"Discovery","centralServerVmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Compute/virtualMachines/c36ascsvm","appLocation":"eastus"},"state":"RegistrationComplete","provisioningState":"Succeeded","managedResourceGroupConfiguration":{"name":"mrg-C36-6c9a9f"},"status":"Running","health":"Healthy"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"73001be6-0000-0100-0000-65e350bf0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances?api-version=2023-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36","name":"C36","type":"microsoft.workloads/sapvirtualinstances","location":"eastus","systemData":{"createdBy":"jasksingh@microsoft.com","createdByType":"User","createdAt":"2024-03-01T04:14:57.5873635Z","lastModifiedBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","lastModifiedByType":"Application","lastModifiedAt":"2024-03-02T16:15:59.4744424Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI":{"principalId":"3f6dc964-e354-492a-8816-7bf7bfa40d79","clientId":"bfd02efd-39f7-43f4-92a1-be2a4ec89012"}}},"properties":{"environment":"NonProd","sapProduct":"S4HANA","managedResourcesNetworkAccessType":"Public","configuration":{"configurationType":"Discovery","centralServerVmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Compute/virtualMachines/c36ascsvm","appLocation":"eastus"},"state":"RegistrationComplete","provisioningState":"Succeeded","managedResourceGroupConfiguration":{"name":"mrg-C36-6c9a9f"},"status":"Running","health":"Healthy"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 558f69bf-8b4c-44f5-95f0-08c2bdb2e607
      - b1324b7c-78fc-4ed9-9850-ea1319a4a8ee
      - 5baeca3b-894f-4795-9955-840b25b5665d
      - 92f0572c-481f-4d78-b89f-bd0f3cd4b2a6
      - c3797b36-75a9-4db1-a311-9490b80041c4
      - 5b79b3d3-7141-4c88-997f-5d70940b3ff1
      - d1a6fd29-a544-45aa-81c0-a53c4d4a14bd
      - ee00eefb-99e1-4ed4-a1c2-394df6ec353c
      - d5dac4aa-a6b4-4519-8b0f-f6b7cb0c8f65
      - 5fadd0f8-c1fa-45b8-8dac-94d34ea35fce
      - 34f1b1e1-c6f2-4d5c-8dfa-4f8e7fd3281f
      - c01d4c7a-9a24-4d92-962b-48920f89a6bf
      - be6dae0e-6dda-46d7-896f-dd1093c720fa
      - 90a7c340-ac40-413c-b44f-aa6bfeea7f50
      - d434b73b-0f0c-4963-87ee-e9c596de8e80
      - 9a1b0fd0-5d8b-4760-9846-164ed8a8dbf7
      - 65648897-1e23-42d2-94f6-da9bd33a6464
      - 2de9a826-08ce-4279-a9f3-d93832258491
      - edffc5aa-d570-406f-84c9-9d79ea8966ef
      - ba92db36-4462-465b-a0b5-49e5a5e9e493
      - 1ce34108-3529-4a5f-b069-02c3fc2c3492
      - 5e1d2342-c14d-42f7-871e-9c1add366605
      - 7f5e0325-fb7a-4348-b80f-a46132a49b6c
      - 844ef818-1806-4ca4-ba7e-90556e29a528
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/centralInstances/c36ascsvm-0?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/centralInstances/c36ascsvm-0","name":"c36ascsvm-0","type":"microsoft.workloads/sapvirtualinstances/centralinstances","location":"eastus","systemData":{"createdBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","createdByType":"Application","createdAt":"2024-03-01T04:17:48.3021649Z","lastModifiedBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","lastModifiedByType":"Application","lastModifiedAt":"2024-03-02T16:14:58.434283Z"},"properties":{"instanceNo":"00","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet","messageServerProperties":{"msPort":3600,"internalMsPort":3900,"httpPort":8100,"ipAddress":"10.0.0.215","hostname":"c36ascsvm","health":"Healthy"},"enqueueServerProperties":{"port":3200,"ipAddress":"10.0.0.215","hostname":"c36ascsvm","health":"Healthy"},"gatewayServerProperties":{"port":3300,"health":"Healthy"},"kernelVersion":"777","kernelPatch":"patch
        300","status":"Running","health":"Healthy","vmDetails":[{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Compute/virtualMachines/c36ascsvm","type":"Primary"}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a100457d-0000-0100-0000-65e350820000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/applicationInstances/c36appvm0-0?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/applicationInstances/c36appvm0-0","name":"c36appvm0-0","type":"microsoft.workloads/sapvirtualinstances/applicationinstances","location":"eastus","systemData":{"createdBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","createdByType":"Application","createdAt":"2024-03-01T04:17:48.7786759Z","lastModifiedBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","lastModifiedByType":"Application","lastModifiedAt":"2024-03-02T16:15:27.6102659Z"},"properties":{"instanceNo":"00","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet","hostname":"c36appvm0","kernelVersion":"777","kernelPatch":"patch
        300","ipAddress":"10.0.0.207","gatewayPort":3300,"icmHttpPort":0,"icmHttpsPort":0,"vmDetails":[{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Compute/virtualMachines/c36appvm0","type":"Active"}],"status":"Running","health":"Healthy","provisioningState":"Succeeded","dispatcherStatus":"Running"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1502aedc-0000-0100-0000-65e3509f0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/databaseInstances/C36?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Workloads/sapVirtualInstances/C36/databaseInstances/C36","name":"C36","type":"microsoft.workloads/sapvirtualinstances/databaseinstances","location":"eastus","systemData":{"createdBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","createdByType":"Application","createdAt":"2024-03-01T04:17:49.1655631Z","lastModifiedBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","lastModifiedByType":"Application","lastModifiedAt":"2024-03-02T16:11:55.9853597Z"},"properties":{"subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet-db","databaseSid":"C36","ipAddress":"10.0.128.142","databaseType":"hdb","status":"Running","vmDetails":[{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI-TESTING/providers/Microsoft.Compute/virtualMachines/c36dbvm","status":"Running"}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5000b223-0000-0100-0000-65e34fcc0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
version: 1
