interactions:
- request:
    body: '{"appLocation": "eastus", "databaseType": "HANA", "dbVmSku": "Standard_M32ts",
      "deploymentType": "SingleServer", "environment": "NonProd", "sapProduct": "S4HANA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Workloads/locations/eastus/sapVirtualInstanceMetadata/default/getDiskConfigurations?api-version=2023-04-01
  response:
    body:
      string: '{"volumeConfigurations":{"hana/data":{"recommendedConfiguration":{"count":4,"sizeGB":128,"sku":{"name":"Premium_LRS"}},"supportedConfigurations":[{"sku":{"name":"Premium_LRS"},"sizeGB":128,"minimumSupportedDiskCount":4,"maximumSupportedDiskCount":5,"iopsReadWrite":500,"mbpsReadWrite":100,"diskTier":"P10"}]},"hana/log":{"recommendedConfiguration":{"count":3,"sizeGB":128,"sku":{"name":"Premium_LRS"}},"supportedConfigurations":[{"sku":{"name":"Premium_LRS"},"sizeGB":128,"minimumSupportedDiskCount":3,"maximumSupportedDiskCount":5,"iopsReadWrite":500,"mbpsReadWrite":100,"diskTier":"P10"}]},"hana/shared":{"recommendedConfiguration":{"count":1,"sizeGB":256,"sku":{"name":"StandardSSD_LRS"}},"supportedConfigurations":[{"sku":{"name":"StandardSSD_LRS"},"sizeGB":256,"minimumSupportedDiskCount":1,"max[...]
- request:
    body: '{"appLocation": "eastus", "databaseType": "HANA", "dbMemory": 256, "dbScaleMethod":
      "ScaleUp", "deploymentType": "SingleServer", "environment": "NonProd", "sapProduct":
      "S4HANA", "saps": 10000}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Workloads/locations/eastus/sapVirtualInstanceMetadata/default/getSizingRecommendations?api-version=2023-04-01
  response:
    body:
      string: '{"vmSku":"Standard_E32ds_v4","deploymentType":"SingleServer"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 84c3fce2-f994-47bf-b229-7a7373030aa4
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"appLocation": "eastus", "databaseType": "HANA", "deploymentType": "ThreeTier",
      "environment": "Prod", "sapProduct": "S4HANA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Workloads/locations/eastus/sapVirtualInstanceMetadata/default/getSapSupportedSku?api-version=2023-04-01
  response:
    body:
      string: '{"supportedSkus":[{"isAppServerCertified":true,"isDatabaseCertified":false,"vmSku":"Standard_D16ds_v4"},{"isAppServerCertified":true,"isDatabaseCertified":false,"vmSku":"Standard_D16ds_v5"},{"isAppServerCertified":true,"isDatabaseCertified":false,"vmSku":"Standard_D32ds_v4"},{"isAppServerCertified":true,"isDatabaseCertified":false,"vmSku":"Standard_D32ds_v5"},{"isAppServerCertified":true,"isDatabaseCertified":false,"vmSku":"Standard_D48ds_v4"},{"isAppServerCertified":true,"isDatabaseCertified":false,"vmSku":"Standard_D48ds_v5"},{"isAppServerCertified":true,"isDat[...]
