interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_relay_hybridconnection000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001","name":"cli_test_relay_hybridconnection000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus2", "tags": {"{tag2: value2,": "", "tag1: value1}":
      ""}, "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002?api-version=2017-04-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002","name":"relay-nscli000002","type":"Microsoft.Relay/Namespaces","location":"West
        US 2","tags":{"{tag2: value2,":"","tag1: value1}":""},"properties":{"provisioningState":"Created","metricId":"55f3dcd4-cac7-43b4-990b-a139d62a1eb2:relay-nscli000002","createdAt":"2018-02-06T00:45:55.403Z","updatedAt":"2018-02-06T00:45:55.403Z","serviceBusEndpoint":"https://relay-nscli000002.servicebus.windows.net:443/","status":"Activating"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"requiresClientAuthorization": true, "userMetadata": "UserMetadata"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004","name":"relay-hybridcli000004","type":"Microsoft.Relay/Namespaces/HybridConnections","location":"West
        US 2","properties":{"createdAt":"2018-02-06T00:46:30.907445Z","updatedAt":"2018-02-06T00:46:30.907445Z","listenerCount":0,"requiresClientAuthorization":true,"userMetadata":"UserMetadata"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004","name":"relay-hybridcli000004","type":"Microsoft.Relay/Namespaces/HybridConnections","location":"West
        US 2","properties":{"createdAt":"2018-02-06T00:46:30.907445Z","updatedAt":"2018-02-06T00:46:30.907445Z","listenerCount":0,"requiresClientAuthorization":true,"userMetadata":"UserMetadata"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-inline-count: ['']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"rights": ["Listen"]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004/authorizationRules/clihybridAutho000005?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004/authorizationRules/clihybridAutho000005","name":"clihybridAutho000005","type":"Microsoft.Relay/Namespaces/HybridConnections/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Listen"]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004/authorizationRules/clihybridAutho000005/listKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=clihybridAutho000005;SharedAccessKey=m8u3AoirNXZ6VECJShOs3yRWczAM9VKh3hm6N07T5j4=;EntityPath=relay-hybridcli000004","secondaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=clihybridAutho000005;SharedAccessKey=nLe5el7LrlLGMZALWp94xhSv5UYamcLw2V8KwRRkKgA=;EntityPath=relay-hybridcli000004","primaryKey":"m8u3AoirNXZ6VECJShOs3yRWczAM9VKh3hm6N07T5j4=","secondaryKey":"nLe5el7LrlLGMZALWp94xhSv5UYamcLw2V8KwRRkKgA=","keyName":"clihybridAutho000005"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/hybridConnections/relay-hybridcli000004/authorizationRules/clihybridAutho000005/regenerateKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=clihybridAutho000005;SharedAccessKey=CM9OfgXztuss5egm5EPidJenQ40g0/K5pDGJHXHwiM8=;EntityPath=relay-hybridcli000004","secondaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=clihybridAutho000005;SharedAccessKey=nLe5el7LrlLGMZALWp94xhSv5UYamcLw2V8KwRRkKgA=;EntityPath=relay-hybridcli000004","primaryKey":"CM9OfgXztuss5egm5EPidJenQ40g0/K5pDGJHXHwiM8=","secondaryKey":"nLe5el7LrlLGMZALWp94xhSv5UYamcLw2V8KwRRkKgA=","keyName":"clihybridAutho000005"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_hybridconnection000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/operationresults/relay-nscli000002?api-version=2017-04-01
  response:
    body: {string: ''}
    headers:
      server-sb: [Service-Bus-Resource-Provider/SN1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_relay_hybridconnection000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGUkVMQVk6NUZIWUJSSURDT05ORUNUSU9ONkgyTkVKM1BYQXwxMUNGNkJFREYzREY1NTExLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
