interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vhub_connection_inbound_outbound_routemap000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001","name":"cli_test_vhub_connection_inbound_outbound_routemap000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-14T08:26:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000003?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vwan000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000003\"\
        ,\r\n  \"etag\": \"W/\\\"68476c16-ad89-4785-9dfa-dec53d30a260\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\"\
        : true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5bafdb21-fa2d-4157-b9e8-8dcf6b1681b9?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5bafdb21-fa2d-4157-b9e8-8dcf6b1681b9?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"addressPrefix": "10.5.0.0/16", "sku":
      "Standard", "virtualWan": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000003"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"vhub000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004\"\
        ,\r\n  \"etag\": \"W/\\\"3f47effa-105f-478b-be78-e32c16e08570\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.5.0.0/16\"\
        ,\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n\
        \    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\"\
        : {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n   \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000003\"\
        \r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\"\
        ,\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\"\
        : false,\r\n    \"hubRoutingPreference\": \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/44c1b21b-7309-4d25-a209-265bb95122e0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000006?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"routemap-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000006\"\
        ,\r\n  \"etag\": \"W/\\\"b48e1e62-fe96-419a-84ac-c19664a941a1\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        rules\": [],\r\n    \"associatedInboundConnections\": [],\r\n    \"associatedOutboundConnections\"\
        : []\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualHubs/routeMaps\"\r\n\
        }"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f81b7d1b-1dcf-4a71-8963-b05962b3cec2?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "conn000005", "properties": {"remoteVirtualNetwork": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002"},
      "enableInternetSecurity": true, "routingConfiguration": {"propagatedRouteTables":
      {}, "inboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000006"},
      "outboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000007"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubVirtualNetworkConnections/conn000005?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"conn000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubVirtualNetworkConnections/conn000005\"\
        ,\r\n  \"etag\": \"W/\\\"8b402189-54fe-4b00-8cef-39e3672792ce\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs/hubVirtualNetworkConnections\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"bf4e06bf-a0c8-48d2-a89c-5a0d6c4eee56\",\r\n    \"\
        routingConfiguration\": {\r\n      \"associatedRouteTable\": {\r\n       \
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubRouteTables/defaultRouteTable\"\
        \r\n      },\r\n      \"propagatedRouteTables\": {\r\n        \"labels\":\
        \ [\r\n          \"default\"\r\n        ],\r\n        \"ids\": [\r\n     \
        \     {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubRouteTables/defaultRouteTable\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"vnetRoutes\": {\r\n  \
        \      \"staticRoutes\": [],\r\n        \"staticRoutesConfig\": {\r\n    \
        \      \"propagateStaticRoutes\": true,\r\n          \"vnetLocalRouteOverrideCriteria\"\
        : \"Contains\"\r\n        }\r\n      },\r\n      \"inboundRouteMap\": {\r\n\
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000006\"\
        \r\n      },\r\n      \"outboundRouteMap\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000007\"\
        \r\n      }\r\n    },\r\n    \"remoteVirtualNetwork\": {\r\n      \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002\"\
        \r\n    },\r\n    \"allowHubToRemoteVnetTransit\": true,\r\n    \"allowRemoteVnetToUseHubVnetGateways\"\
        : false,\r\n    \"enableInternetSecurity\": true,\r\n    \"connectivityStatus\"\
        : \"Unknown\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b68e1420-541d-48c2-aea1-060f6ef3425c?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubVirtualNetworkConnections/conn000005",
      "name": "conn000005", "properties": {"remoteVirtualNetwork": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002"},
      "allowHubToRemoteVnetTransit": true, "allowRemoteVnetToUseHubVnetGateways":
      false, "enableInternetSecurity": true, "routingConfiguration": {"associatedRouteTable":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubRouteTables/defaultRouteTable"},
      "propagatedRouteTables": {"labels": ["default"], "ids": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/hubRouteTables/defaultRouteTable"}]},
      "vnetRoutes": {"staticRoutesConfig": {"vnetLocalRouteOverrideCriteria": "Contains"},
      "staticRoutes": []}, "inboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-000008"},
      "outboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vhub_connection_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000004/routeMaps/routemap-[...]
[...]
