interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_vwan_vpn_gateway000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001","name":"cli_test_azure_vwan_vpn_gateway000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-04-24T17:59:35Z","Created":"2023-04-24T17:59:35.9819289Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualWans/testvwan?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualWans/testvwan\"\
        ,\r\n  \"etag\": \"W/\\\"128a2b65-ed24-4ab7-916e-387b535d0496\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\"\
        : true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e4301ba0-456c-41b8-a1bd-393b2efb5a65?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e4301ba0-456c-41b8-a1bd-393b2efb5a65?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"addressPrefix": "10.0.0.0/24", "virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualWans/testvwan"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualHubs/myclitestvhub?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"myclitestvhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualHubs/myclitestvhub\"\
        ,\r\n  \"etag\": \"W/\\\"24196568-8a5d-455f-a27b-b3506c43a97c\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.0.0.0/24\"\
        ,\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n\
        \    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\"\
        : {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n   \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualWans/testvwan\"\
        \r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"routingState\"\
        : \"None\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\"\
        : \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0bee3456-3acf-4baa-bd65-37b30b5c217d?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualHubs/myclitestvhub"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/vpnGateways/mycligateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"mycligateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/vpnGateways/mycligateway\"\
        ,\r\n  \"etag\": \"W/\\\"3d189fe4-0191-48e0-8362-c1c459018bf0\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualHubs/myclitestvhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n\
        \    \"enableBgpRouteTranslationForNat\": false,\r\n    \"isRoutingPreferenceInternet\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1358008a-3383-43e1-8e79-d3a25ba3fa9d?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/vpnGateways/mycligateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"mycligateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/vpnGateways/mycligateway\"\
        ,\r\n  \"etag\": \"W/\\\"e1255bb6-a8a3-4076-942d-c525181bb8d8\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualHubs/myclitestvhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n    \
        \      \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.0.0.12\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"40.112.192.205\"\
        ,\r\n            \"10.0.0.4\"\r\n          ]\r\n        },\r\n        {\r\n\
        \          \"ipconfigurationId\": \"Instance1\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.0.0.13\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"40.112.195.197\"\
        ,\r\n            \"10.0.0.5\"\r\n          ]\r\n        }\r\n      ]\r\n \
        \   },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"\
        Instance0\",\r\n        \"publicIpAddress\": \"40.112.192.205\",\r\n     \
        \   \"privateIpAddress\": \"10.0.0.4\"\r\n      },\r\n      {\r\n        \"\
        id\": \"Instance1\",\r\n        \"publicIpAddress\": \"40.112.195.197\",\r\
        \n        \"privateIpAddress\": \"10.0.0.5\"\r\n      }\r\n    ],\r\n    \"\
        natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n   \
        \ \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/vpnGateways?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"mycligateway\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/vpnGateways/mycligateway\"\
        ,\r\n      \"etag\": \"W/\\\"e1255bb6-a8a3-4076-942d-c525181bb8d8\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/vpnGateways\",\r\n      \"location\"\
        : \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"connections\": [],\r\n        \"virtualHub\"\
        : {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway000001/providers/Microsoft.Network/virtualHubs/myclitestvhub\"\
        \r\n        },\r\n        \"bgpSettings\": {\r\n          \"asn\": 65515,\r\
        \n          \"peerWeight\": 0,\r\n          \"bgpPeeringAddresses\": [\r\n\
        \            {\r\n              \"ipconfigurationId\": \"Instance0\",\r\n\
        \              \"defaultBgpIpAddresses\": [\r\n                \"10.0.0.12\"\
        \r\n              ],\r\n              \"customBgpIpAddresses\": [],\r\n  \
        \            \"tunnelIpAddresses\": [\r\n                \"40.112.192.205\"\
        ,\r\n                \"10.0.0.4\"\r\n              ]\r\n            },\r\n\
        \            {\r\n              \"ipconfigurationId\": \"Instance1\",\r\n\
        \              \"defaultBgpIpAddresses\": [\r\n                \"10.0.0.13\"\
        \r\n              ],\r\n              \"customBgpIpAddresses\": [],\r\n  \
        \            \"tunnelIpAddresses\": [\r\n                \"40.112.195.197\"\
        ,\r\n                \"10.0.0.5\"\r\n              ]\r\n            }\r\n\
        \          ]\r\n        },\r\n        \"vpnGatewayScaleUnit\": 1,\r\n    \
        \    \"packetCaptureDiagnosticState\": \"None\",\r\n        \"ipConfigurations\"\
        : [\r\n          {\r\n            \"id\": \"Instance0\",\r\n            \"\
        publicIpAddress\": \"40.112.192.205\",\r\n            \"privateIpAddress\"\
        : \"10.0.0.4\"\r\n          },\r\n          {\r\n            \"id\": \"Instance1\"\
        ,\r\n            \"publicIpAddress\": \"40.112.195.197\",\r\n            \"\
        privateIpAddress\": \"10.0.0.5\"\r\n          }\r\n        ],\r\n        \"\
        natRules\": [],\r\n        \"enableBgpRouteTranslationForNat\": false,\r\n\
        \        \"isRoutingPreferenceInternet\": false\r\n      }\r\n    }\r\n  ]\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/vpnGateways?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"name":"westusVpnGw0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/al-routemaps-2/providers/Microsoft.Network/vpnGateways/westusVpnGw0","etag":"W/\"d768c683-1ac0-4a4d-9912-593211fab4c2\"","type":"Microsoft.Network/vpnGateways","location":"westus","properties":{"provisioningState":"Succeeded","connections":[{"name":"westus0VpnConnection","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/al-routemaps-2/providers/Microsoft.Network/vpnGateways/westusVpnGw0/vpnConnections/westus0VpnConnection","etag":"W/\"d768c683-1ac0-4a4d-9912-593211fab4c2\"","type":"Microsoft.Network/vpnGateways/vpnConnections","properties":{"provisioningState":"Succeeded","routingConfiguration":{"associatedRouteTable":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/al-routemaps-2/providers/Microsoft.Network/virtualHubs/westus_hub0/hubRouteTables/defaultRouteTable"},"propagatedRouteTables":{"labels":["default"],"ids":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/al-routemaps-2/providers/Microsoft.Network/virtualHubs/westus_hub0/hubRouteTables/defaultRouteTable"}]}},"enableInternetSecurity":false,"remoteVpnSite":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/al-routemaps-2/providers/Microsoft.Network/vpnSites/westus_VPNSite0"},"ingressBytesTransferred":0,"egressBytesTransferred":0,"connectionBandwidth":20,"ipsecPolicies":[],"vpnConnectionProtocolType":"IKEv2","enableBgp":false,"enableRateLimiting":false,"useLocalAzureIpAddress":false,"usePolicyBasedTrafficSelectors":false,"routingWeight":0}}],"virtualHub":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/al-routemaps-2/providers/Microsoft.Network/virtualHubs/westus_hub0"},"bgpSettings":{"asn":65515,"peerWeight":0,"bgpPeeringAddresses":[{"ipconfigurationId":"Instance0","defaultBgpIpAddresses":["10.20.0.16"],"customBgpIpAddresses":[],"tunnelIpAddresses":["20.253.131.81","10.20.0.4"]},{"ipconfigurationId":"Instance1","defaultBgpIpAddresses":["10.20.0.17"],"customBgpIpAddresses":[],"tunnelIpAddresses":["20.25[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/9561f000-5690-4677-9d98-198b4d16d1ff?api-version=2022-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9561f000-5690-4677-9d98-198b4d16d1ff?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/9561f000-5690-4677-9d98-198b4d16d1ff?api-version=2022-05-01
    status:
      code: 204
      message: No Content
version: 1
