interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001","name":"cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-04-24T19:36:32Z","Created":"2023-04-24T19:36:32.5384644Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000002?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vwan000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000002\"\
        ,\r\n  \"etag\": \"W/\\\"642fa38e-00c9-4b04-9de3-d46f5f691a06\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\"\
        : true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/ddd93092-4431-4cae-9551-604da08c87f9?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/ddd93092-4431-4cae-9551-604da08c87f9?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"addressPrefix": "10.5.0.0/16",
      "sku": "Standard", "virtualWan": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000002"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"vhub000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003\"\
        ,\r\n  \"etag\": \"W/\\\"70f16f36-fe40-4691-8aeb-746dee2bd055\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.5.0.0/16\"\
        ,\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n\
        \    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\"\
        : {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n   \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualWans/vwan000002\"\
        \r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\"\
        ,\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\"\
        : false,\r\n    \"hubRoutingPreference\": \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/d0e23825-ce44-4a52-84eb-4768fc128594?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000006?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"routemap-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000006\"\
        ,\r\n  \"etag\": \"W/\\\"ed298cce-c995-4e37-8a62-e0caac300a42\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        rules\": [],\r\n    \"associatedInboundConnections\": [],\r\n    \"associatedOutboundConnections\"\
        : []\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualHubs/routeMaps\"\r\n\
        }"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/f3ca011c-cbb5-4f6d-b1bc-43713fb87ab0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"vpnClientRootCertificates":
      [{"name": "ApplicationGatewayAuthCert", "publicCertData": "MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAw\nMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAx\nMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBw\nbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcN\nAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJ\nSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x\n+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/\nxQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezO\nqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/\n7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYD\nVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0\naW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/Whcow\nDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT\n3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pR\nLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5yg\nCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjuj\nZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG\n7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8="}],
      "vpnClientRevokedCertificates": [{"name": "ApplicationGatewayAuthCert", "thumbprint":
      "ef6c937b5935e25941f2ea271d38f90dfdb20953"}], "aadAuthenticationParameters":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/vpnServerConfigurations/config-000004?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"config-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/vpnServerConfigurations/config-000004\"\
        ,\r\n  \"etag\": \"W/\\\"73a0216a-4987-4ec0-bdd2-ec2b23d7750b\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnServerConfigurations\",\r\n  \"location\"\
        : \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"vpnProtocols\": [\r\n      \"OpenVPN\",\r\n     \
        \ \"IkeV2\"\r\n    ],\r\n    \"vpnAuthenticationTypes\": [\r\n      \"Certificate\"\
        \r\n    ],\r\n    \"vpnClientRootCertificates\": [\r\n      {\r\n        \"\
        name\": \"ApplicationGatewayAuthCert\",\r\n        \"publicCertData\": \"\
        MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAw\\nMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAx\\\
        nMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBw\\nbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcN\\\
        nAQEBBQA[...]
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003"},
      "p2SConnectionConfigurations": [{"name": "P2SConnectionConfigDefault", "properties":
      {"vpnClientAddressPool": {"addressPrefixes": ["10.0.0.0/24", "11.0.0.0/24"]},
      "routingConfiguration": {"propagatedRouteTables": {}, "inboundRouteMap": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000006"},
      "outboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000007"}}}}],
      "vpnGatewayScaleUnit": 2, "vpnServerConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/vpnServerConfigurations/config-000004"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2svpnGateways/vp2s-000005?api-ve[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2svpnGateways/vp2s-000005?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vp2s-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2sVpnGateways/vp2s-000005\"\
        ,\r\n  \"etag\": \"W/\\\"215a1cea-6fd7-42a9-92a9-2ecb18472685\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/p2sVpnGateways\",\r\n  \"location\": \"westcentralus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003\"\
        \r\n    },\r\n    \"vpnServerConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/vpnServerConfigurations/config-000004\"\
        \r\n    },\r\n    \"vpnServerConfigurationLocation\": \"westcentralus\",\r\
        \n    \"p2SConnectionConfigurations\": [\r\n      {\r\n        \"name\": \"\
        P2SConnectionConfigDefault\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2sVpnGateways/vp2s-000005/p2sConnectionConfigurations/P2SConnectionConfigDefault\"\
        ,\r\n        \"etag\": \"W/\\\"215a1cea-6fd7-42a9-92a9-2ecb18472685\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/p2sVpnGateways/p2sConnectionConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"routingConfiguration\": {\r\n            \"associatedRouteTable\"\
        : {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/hubRouteTables/defaultRouteTable\"\
        \r\n            },\r\n            \"propagatedRouteTables\": {\r\n       \
        \       \"labels\": [\r\n                \"default\"\r\n              ],\r\
        \n              \"ids\": [\r\n                {\r\n                  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/hubRouteTables/defaultRouteTable\"\
        \r\n                }\r\n              ]\r\n            },\r\n           \
        \ \"inboundRouteMap\": {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000006\"\
        \r\n            },\r\n            \"outboundRouteMap\": {\r\n            \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000007\"\
        \r\n            }\r\n          },\r\n          \"vpnClientAddressPool\": {\r\
        \n            \"addressPrefixes\": [\r\n              \"10.0.0.0/24\",\r\n\
        \              \"11.0.0.0/24\"\r\n            ]\r\n          },\r\n      \
        \    \"enableInternetSecurity\": true\r\n        }\r\n      }\r\n    ],\r\n\
        \    \"vpnGatewayDetachStatus\": \"Attached\",\r\n    \"vpnGatewayScaleUnit\"\
        : 2,\r\n    \"customDnsServers\": [],\r\n    \"isRoutingPreferenceInternet\"\
        : false,\r\n    \"useRadiusProxyIPs\": false,\r\n    \"radiusProxyIPs\": []\r\
        \n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"215a1cea-6fd7-42a9-92a9-2ecb18472685"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2sVpnGateways/vp2s-000005",
      "location": "westcentralus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003"},
      "p2SConnectionConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2sVpnGateways/vp2s-000005/p2sConnectionConfigurations/P2SConnectionConfigDefault",
      "name": "P2SConnectionConfigDefault", "properties": {"vpnClientAddressPool":
      {"addressPrefixes": ["10.0.0.0/24", "11.0.0.0/24"]}, "routingConfiguration":
      {"associatedRouteTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/hubRouteTables/defaultRouteTable"},
      "propagatedRouteTables": {"labels": ["default"], "ids": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/hubRouteTables/defaultRouteTable"}]},
      "inboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000008"},
      "outboundRouteMap": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/virtualHubs/vhub000003/routeMaps/routemap-000009"}},
      "enableInternetSecurity": true}}], "vpnGatewayScaleUnit": 2, "vpnServerConfiguration":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/vpnServerConfigurations/config-000004"},
      "customDnsServers": [], "isRoutingPreferenceInternet": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway_inbound_outbound_routemap000001/providers/Microsoft.Network/p2svpnGateways/vp2s-000005?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vp2s-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_p2s_vpn_gateway[...]
[...]
