interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001","name":"cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-04-25T21:39:35Z","Created":"2023-04-25T21:39:36.6216653Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualWans/test_vwan?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualWans/test_vwan\"\
        ,\r\n  \"etag\": \"W/\\\"a4ed859d-9494-4998-97e3-0fe180ac4c66\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\"\
        : true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cbc8ddeb-4d3e-47c9-93d7-3b6a0871f831?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cbc8ddeb-4d3e-47c9-93d7-3b6a0871f831?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"addressPrefix": "10.0.1.0/24", "virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualWans/test_vwan"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\
        ,\r\n  \"etag\": \"W/\\\"fe86ae84-be6a-43c5-8327-4689d82b730e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.0.1.0/24\"\
        ,\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n\
        \    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\"\
        : {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n   \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualWans/test_vwan\"\
        \r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"routingState\"\
        : \"None\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\"\
        : \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5973e8b2-167d-4415-8990-0e89d25aa11b?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway\"\
        ,\r\n  \"etag\": \"W/\\\"347124d7-77c1-4d91-a534-d5c35dd1b35b\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n\
        \    \"enableBgpRouteTranslationForNat\": false,\r\n    \"isRoutingPreferenceInternet\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1f85adbe-f068-45c0-b1b3-e95ba080e1a8?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway\"\
        ,\r\n  \"etag\": \"W/\\\"6ab29bff-c5d7-40a1-9495-753827c8597f\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n    \
        \      \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.0.1.12\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.253.139.224\"\
        ,\r\n            \"10.0.1.4\"\r\n          ]\r\n        },\r\n        {\r\n\
        \          \"ipconfigurationId\": \"Instance1\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.0.1.13\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.253.139.146\"\
        ,\r\n            \"10.0.1.5\"\r\n          ]\r\n        }\r\n      ]\r\n \
        \   },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"\
        Instance0\",\r\n        \"publicIpAddress\": \"20.253.139.224\",\r\n     \
        \   \"privateIpAddress\": \"10.0.1.4\"\r\n      },\r\n      {\r\n        \"\
        id\": \"Instance1\",\r\n        \"publicIpAddress\": \"20.253.139.146\",\r\
        \n        \"privateIpAddress\": \"10.0.1.5\"\r\n      }\r\n    ],\r\n    \"\
        natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n   \
        \ \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"deviceProperties": {}, "addressSpace":
      {"addressPrefixes": ["10.0.2.0/24"]}, "vpnSiteLinks": [{"name": "remote_vpn_site_1",
      "properties": {"ipAddress": "10.0.2.110"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"remote_vpn_site_1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1\"\
        ,\r\n  \"etag\": \"W/\\\"daca2040-e0fb-4cca-ad2f-7af6fc7dd88e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.2.0/24\"\
        \r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"linkSpeedInMbps\"\
        : 0\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\
        \n      \"breakOutCategories\": {\r\n        \"optimize\": false,\r\n    \
        \    \"allow\": false,\r\n        \"default\": false\r\n      }\r\n    },\r\
        \n    \"vpnSiteLinks\": [\r\n      {\r\n        \"name\": \"remote_vpn_site_1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1\"\
        ,\r\n        \"etag\": \"W/\\\"daca2040-e0fb-4cca-ad2f-7af6fc7dd88e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"ipAddress\": \"10.0.2.110\",\r\n          \"linkProperties\"\
        : {\r\n            \"linkSpeedInMbps\": 0\r\n          }\r\n        },\r\n\
        \        \"type\": \"Microsoft.Network/vpnSites/vpnSiteLinks\"\r\n      }\r\
        \n    ]\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/dcb0c991-b720-4881-a636-ef214e65c80e?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1",
      "location": "westus", "properties": {"deviceProperties": {"linkSpeedInMbps":
      0}, "addressSpace": {"addressPrefixes": ["10.0.2.0/24"]}, "isSecuritySite":
      false, "vpnSiteLinks": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1",
      "name": "remote_vpn_site_1", "properties": {"linkProperties": {"linkSpeedInMbps":
      0}, "ipAddress": "10.0.2.110"}}, {"name": "VPN-Site-Link1", "properties": {"ipAddress":
      "10.0.2.111", "bgpProperties": {"asn": 1234, "bgpPeeringAddress": "192.168.1.0"}}}],
      "o365Policy": {"breakOutCategories": {"allow": false, "optimize": false, "default":
      false}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"nam[...]
[...]
- request:
    body: '{"name": "test_s2s_vpn_gateway_connection", "properties": {"remoteVpnSite":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1"},
      "vpnLinkConnections": [{"name": "test_s2s_vpn_gateway_connection", "properties":
      {"vpnSiteLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1"}}}],
      "routingConfiguration": {"propagatedRouteTables": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway_connection\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection\"\
        ,\r\n  \"etag\": \"W/\\\"80066bf1-152c-4ced-aae1-e2ba098922da\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\",\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"routingConfiguration\"\
        : {\r\n      \"associatedRouteTable\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/defaultRouteTable\"\
        \r\n      },\r\n      \"propagatedRouteTables\": {\r\n        \"labels\":\
        \ [\r\n          \"default\"\r\n        ],\r\n        \"ids\": [\r\n     \
        \     {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/defaultRouteTable\"\
        \r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"enableInternetSecurity\"\
        : false,\r\n    \"remoteVpnSite\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/c[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection",
      "name": "test_s2s_vpn_gateway_connection", "properties": {"remoteVpnSite": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1"},
      "enableInternetSecurity": false, "vpnLinkConnections": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection/vpnLinkConnections/test_s2s_vpn_gateway_connection",
      "name": "test_s2s_vpn_gateway_connection", "properties": {"vpnSiteLink": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1"},
      "routingWeight": 0, "vpnLinkConnectionMode": "Default", "vpnConnectionProtocolType":
      "IKEv2", "connectionBandwidth": 10, "enableBgp": false, "vpnGatewayCustomBgpAddresses":
      [], "usePolicyBasedTrafficSelectors": false, "ipsecPolicies": [], "enableRateLimiting":
      false, "useLocalAzureIpAddress": false}}, {"name": "Connection-Link1", "properties":
      {"vpnSiteLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link_conn000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/VPN-Site-Link1"},
      "vpnConnectionProtocolType": "IKEv2"}}], "routingConfiguration": {"associatedRouteTable":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan[...]
[...]
