interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001","name":"cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-11-15T09:26:58Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualWans/test_vwan?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualWans/test_vwan\",\r\n
        \ \"etag\": \"W/\\\"b6dffa7d-b293-4d9a-a214-8d9ff0a34daa\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\":
        false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\":
        \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/79fbc6ce-1ccd-4fbe-bc14-0cc14a0d9b19?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/79fbc6ce-1ccd-4fbe-bc14-0cc14a0d9b19?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"virtualWan": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualWans/test_vwan"},
      "addressPrefix": "10.0.1.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub\",\r\n
        \ \"etag\": \"W/\\\"410ba271-6721-4174-b10e-b5d1ec212346\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"virtualHubRouteTableV2s\":
        [],\r\n    \"addressPrefix\": \"10.0.1.0/24\",\r\n    \"virtualRouterAsn\":
        0,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\":
        []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualWans/test_vwan\"\r\n
        \   },\r\n    \"routingState\": \"None\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/336837d2-3ea5-4740-94de-23888647979d?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vhub_routing_1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_1\",\r\n
        \ \"etag\": \"W/\\\"c2e45c99-1b85-4d67-9e9d-9658aecbc57d\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"routes\": [],\r\n    \"labels\":
        [],\r\n    \"associatedConnections\": [],\r\n    \"propagatingConnections\":
        []\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualHubs/hubRouteTables\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e6a6a0b2-7cbd-4f7d-a51e-cf8ea76b0af6?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2020-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/vpnGateways/test_s2s_vpn_gateway''
        under resource group ''cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub"},
      "bgpSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway\",\r\n
        \ \"etag\": \"W/\\\"9ae423b5-049c-4904-811e-4f9a04b3eabf\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"connections\": [],\r\n
        \   \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\r\n
        \   },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\":
        0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\":
        false,\r\n    \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/ae4bf87d-1b31-48da-83e6-4f69f409fd9d?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway\",\r\n
        \ \"etag\": \"W/\\\"09e32374-0098-4097-962f-02506932b763\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [],\r\n
        \   \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\r\n
        \   },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\":
        0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\":
        \"Instance0\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"10.0.1.12\"\r\n
        \         ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\":
        [\r\n            \"104.40.28.19\",\r\n            \"10.0.1.4\"\r\n          ]\r\n
        \       },\r\n        {\r\n          \"ipconfigurationId\": \"Instance1\",\r\n
        \         \"defaultBgpIpAddresses\": [\r\n            \"10.0.1.13\"\r\n          ],\r\n
        \         \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\":
        [\r\n            \"104.40.10.243\",\r\n            \"10.0.1.5\"\r\n          ]\r\n
        \       }\r\n      ]\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"Instance0\",\r\n
        \       \"publicIpAddress\": \"104.40.28.19\",\r\n        \"privateIpAddress\":
        \"10.0.1.4\"\r\n      },\r\n      {\r\n        \"id\": \"Instance1\",\r\n
        \       \"publicIpAddress\": \"104.40.10.243\",\r\n        \"privateIpAddress\":
        \"10.0.1.5\"\r\n      }\r\n    ],\r\n    \"natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\":
        false,\r\n    \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"deviceProperties": {}, "addressSpace":
      {}, "vpnSiteLinks": [{"name": "remote_vpn_site_1", "properties": {"ipAddress":
      "10.0.1.110"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"remote_vpn_site_1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1\",\r\n
        \ \"etag\": \"W/\\\"b53c3dd9-663e-4bb9-bb5a-d569d367f678\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressSpace\": {\r\n
        \     \"addressPrefixes\": []\r\n    },\r\n    \"deviceProperties\": {\r\n
        \     \"linkSpeedInMbps\": 0\r\n    },\r\n    \"isSecuritySite\": false,\r\n
        \   \"o365Policy\": {\r\n      \"breakOutCategories\": {\r\n        \"optimize\":
        false,\r\n        \"allow\": false,\r\n        \"default\": false\r\n      }\r\n
        \   },\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"name\": \"remote_vpn_site_1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1\",\r\n
        \       \"etag\": \"W/\\\"b53c3dd9-663e-4bb9-bb5a-d569d367f678\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"ipAddress\": \"10.0.1.110\",\r\n          \"linkProperties\":
        {\r\n            \"linkSpeedInMbps\": 0\r\n          }\r\n        },\r\n        \"type\":
        \"Microsoft.Network/vpnSites/vpnSiteLinks\"\r\n      }\r\n    ]\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/6b41ae35-67e9-4eec-8d5a-2b5c9d3ddffe?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1",
      "location": "westus", "properties": {"deviceProperties": {"linkSpeedInMbps":
      0}, "addressSpace": {"addressPrefixes": []}, "isSecuritySite": false, "vpnSiteLinks":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1",
      "name": "remote_vpn_site_1", "properties": {"linkProperties": {"linkSpeedInMbps":
      0}, "ipAddress": "10.0.1.110"}}, {"name": "VPN-Site-Link1", "properties": {"ipAddress":
      "10.0.1.111", "bgpProperties": {"asn": 1234, "bgpPeeringAddress": "192.168.1.0"}}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"remote_vpn_site_1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_t[...]
[...]
- request:
    body: '{"name": "test_s2s_vpn_gateway_connection", "properties": {"remoteVpnSite":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1"},
      "vpnLinkConnections": [{"name": "test_s2s_vpn_gateway_connection", "properties":
      {"vpnSiteLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1"}}}],
      "routingConfiguration": {"associatedRouteTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_1"},
      "propagatedRouteTables": {"labels": ["label1", "label2"], "ids": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_1"},
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_2"}]}}}}'
    headers:
      Content-Type:
      - appl[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway",
      "location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub"},
      "connections": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection",
      "name": "test_s2s_vpn_gateway_connection", "properties": {"remoteVpnSite": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1"},
      "ipsecPolicies": [{"saLifeTimeSeconds": 86471, "saDataSizeKilobytes": 429496,
      "ipsecEncryption": "AES256", "ipsecIntegrity": "SHA256", "ikeEncryption": "AES256",
      "ikeIntegrity": "SHA384", "dhGroup": "DHGroup14", "pfsGroup": "PFS14"}], "enableInternetSecurity":
      false, "vpnLinkConnections": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection/vpnLinkConnections/test_s2s_vpn_gateway_connection",
      "name": "test_s2s_vpn_gateway_connection", "properties": {"vpnSiteLink": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1"},
      "routingWeight": 0, "vpnConnectionProtocolType": "IKEv2", "connectionBandwidth":
      10, "enableBgp": false, "usePolicyBasedTrafficSelectors": false, "ipsecPolicies":
      [], "enableRateLimiting": false, "useLocalAzureIpAddress": false}}], "routingConfiguration":
      {"associatedRouteTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_1"},
      "propagatedRouteTables": {"labels": ["label1", "label2"], "ids": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_1"},
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/test_vhub_routing_2"}]},
      "vnetRoutes": {"staticRoutes": []}}}}], "bgpSettings": {"asn": 65515, "peerWeight":
      0, "bgpPeeringAddresses": [{"ipconfigurationId": "Instance0", "customBgpIpAddresses":
      []}, {"ipconfigurationId": "Instance1", "customBgpIpAddresses": []}]}, "vpnGatewayScaleUnit":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"VpnConnectionPropertyIsDeprecated\",\r\n
        \   \"message\": \"Update request for VpnConnection /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_site_link_conn_ipsec_policy000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection
        contains deprecated property IpsecPolicies. Please use corresponding VpnSiteLinkConnection
        property instead.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
