interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001","name":"cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-04-25T21:39:35Z","Created":"2023-04-25T21:39:36.6434902Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualWans/test_vwan?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualWans/test_vwan\"\
        ,\r\n  \"etag\": \"W/\\\"5a686964-11b7-4d42-aa9c-b351193d8e02\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\"\
        : true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e371564f-ea99-430d-a09a-9db18ef84c4b?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e371564f-ea99-430d-a09a-9db18ef84c4b?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"addressPrefix": "10.0.1.0/24", "virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualWans/test_vwan"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_vhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\
        ,\r\n  \"etag\": \"W/\\\"8a04fd8a-e5fb-4126-a871-58a2aa9be772\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.0.1.0/24\"\
        ,\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n\
        \    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\"\
        : {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n   \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualWans/test_vwan\"\
        \r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"routingState\"\
        : \"None\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\"\
        : \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0e4e7319-7010-4aa9-8d38-6caf3e291dcc?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway\"\
        ,\r\n  \"etag\": \"W/\\\"16bb13b7-61fc-4675-8f39-6428a336e8f5\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n\
        \    \"enableBgpRouteTranslationForNat\": false,\r\n    \"isRoutingPreferenceInternet\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/939d3d42-0cc0-441c-8766-e07e443c8ff3?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway\"\
        ,\r\n  \"etag\": \"W/\\\"40fc34d2-c950-42f0-a7cd-4bf22c90448f\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n    \
        \      \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.0.1.12\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.253.140.84\"\
        ,\r\n            \"10.0.1.4\"\r\n          ]\r\n        },\r\n        {\r\n\
        \          \"ipconfigurationId\": \"Instance1\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.0.1.13\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.253.140.97\"\
        ,\r\n            \"10.0.1.5\"\r\n          ]\r\n        }\r\n      ]\r\n \
        \   },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"\
        Instance0\",\r\n        \"publicIpAddress\": \"20.253.140.84\",\r\n      \
        \  \"privateIpAddress\": \"10.0.1.4\"\r\n      },\r\n      {\r\n        \"\
        id\": \"Instance1\",\r\n        \"publicIpAddress\": \"20.253.140.97\",\r\n\
        \        \"privateIpAddress\": \"10.0.1.5\"\r\n      }\r\n    ],\r\n    \"\
        natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n   \
        \ \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"deviceProperties": {}, "ipAddress":
      "10.0.2.110", "addressSpace": {"addressPrefixes": ["10.0.2.0/24"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"remote_vpn_site_1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1\"\
        ,\r\n  \"etag\": \"W/\\\"9ca27a6c-c812-4d96-80e7-6ab06efe23a6\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.2.0/24\"\
        \r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"linkSpeedInMbps\"\
        : 0\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\
        \n      \"breakOutCategories\": {\r\n        \"optimize\": false,\r\n    \
        \    \"allow\": false,\r\n        \"default\": false\r\n      }\r\n    },\r\
        \n    \"ipAddress\": \"10.0.2.110\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cf116c9e-4d36-4c52-8172-e6a07c08c5a0?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1",
      "location": "westus", "properties": {"deviceProperties": {"linkSpeedInMbps":
      0}, "ipAddress": "10.0.2.110", "addressSpace": {"addressPrefixes": ["10.0.2.0/24"]},
      "isSecuritySite": false, "vpnSiteLinks": [{"name": "VPN-Site-Link1", "properties":
      {"ipAddress": "10.0.1.111", "bgpProperties": {"asn": 1234, "bgpPeeringAddress":
      "192.168.0.0"}}}], "o365Policy": {"breakOutCategories": {"allow": false, "optimize":
      false, "default": false}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"MissingDefaultLinkForVpnSiteDuringMigrationToLinkFormat\"\
        ,\r\n    \"message\": \"Default Vpn link is missing while migrating Vpn Site\
        \ /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1\
        \ to include links. One default link with same name and properties as VpnSite\
        \ remote_vpn_site_1 is mandatory.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"name": "test_s2s_vpn_gateway_connection", "properties": {"remoteVpnSite":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1"},
      "routingConfiguration": {"propagatedRouteTables": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"test_s2s_vpn_gateway_connection\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection\"\
        ,\r\n  \"etag\": \"W/\\\"868e9e1b-2549-4121-8539-7d0518e99b67\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\",\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"routingConfiguration\"\
        : {\r\n      \"associatedRouteTable\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/defaultRouteTable\"\
        \r\n      },\r\n      \"propagatedRouteTables\": {\r\n        \"labels\":\
        \ [\r\n          \"default\"\r\n        ],\r\n        \"ids\": [\r\n     \
        \     {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/defaultRouteTable\"\
        \r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"enableInternetSecurity\"\
        : false,\r\n    \"remoteVpnSite\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1\"\
        \r\n    },\r\n    \"ingressBytesTransferred\": 0,\r\n    \"egressBytesTransferred\"\
        : 0,\r\n    \"connectionBandwidth\": 10,\r\n    \"ipsecPolicies\": [],\r\n\
        \    \"vpnConnectionProtocolType\": \"IKEv2\",\r\n    \"enableBgp\": false,\r\
        \n    \"enableRateLimiting\": false,\r\n    \"useLocalAzureIpAddress\": false,\r\
        \n    \"usePolicyBasedTrafficSelectors\": false,\r\n    \"routingWeight\"\
        : 0\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7ba7a627-cfac-4b21-9d2b-9f46d675e144?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway",
      "location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub"},
      "connections": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vpn_gateway/vpnConnections/test_s2s_vpn_gateway_connection",
      "name": "test_s2s_vpn_gateway_connection", "properties": {"remoteVpnSite": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1"},
      "routingWeight": 0, "vpnConnectionProtocolType": "IKEv2", "connectionBandwidth":
      10, "enableBgp": false, "usePolicyBasedTrafficSelectors": false, "ipsecPolicies":
      [{"saLifeTimeSeconds": 86471, "saDataSizeKilobytes": 429496, "ipsecEncryption":
      "AES256", "ipsecIntegrity": "SHA256", "ikeEncryption": "AES256", "ikeIntegrity":
      "SHA384", "dhGroup": "DHGroup14", "pfsGroup": "PFS14"}], "enableRateLimiting":
      false, "enableInternetSecurity": false, "useLocalAzureIpAddress": false, "routingConfiguration":
      {"associatedRouteTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/defaultRouteTable"},
      "propagatedRouteTables": {"labels": ["default"], "ids": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/virtualHubs/test_vhub/hubRouteTables/defaultRouteTable"}]}}}}],
      "bgpSettings": {"asn": 65515, "peerWeight": 0, "bgpPeeringAddresses": [{"ipconfigurationId":
      "Instance0", "customBgpIpAddresses": []}, {"ipconfigurationId": "Instance1",
      "customBgpIpAddresses": []}]}, "vpnGatewayScaleUnit": 1, "enableBgpRouteTranslationForNat":
      false, "isRoutingPreferenceInternet": false, "natRules": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnGateways/test_s2s_vp[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/8141f329-25e1-4cd6-a090-f8f8d86c9a31?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8141f329-25e1-4cd6-a090-f8f8d86c9a31?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/8141f329-25e1-4cd6-a090-f8f8d86c9a31?api-version=2022-07-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1",
      "location": "westus", "properties": {"deviceProperties": {"linkSpeedInMbps":
      0}, "addressSpace": {"addressPrefixes": ["10.0.4.0/24"]}, "isSecuritySite":
      false, "vpnSiteLinks": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_azure_vwan_vpn_gateway_connection_vpn_site_link000001/providers/Microsoft.Network/vpnSites/remote_vpn_site_1/vpnSiteLinks/remote_vpn_site_1",
      "name": "remote_vpn_site_1", "properties": {"linkProperties": {"linkSpeedInMbps":
      0}, "ipAddress": "10.0.4.110"}}, {"name": "VPN-Site-Link1", "properties": {"ipAddress":
      "10.0.4.111", "bgpProperties": {"asn": 1234, "bgpPeeringAddress": "192.168.1.0"}}}],
      "o365Policy": {"breakOutCategories": {"allow": false, "optimize": false, "default":
      false}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_[...]
[...]
