interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Pinecone.VectorDb/organizations?api-version=2024-10-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Pinecone.VectorDb/organizations/testswatiagg","name":"testswatiagg","type":"pinecone.vectordb/organizations","location":"eastus","tags":{},"systemData":{"createdBy":"aggarwalsw@microsoft.com","createdByType":"User","createdAt":"2025-02-25T08:19:04.3678915Z","lastModifiedBy":"aggarwalsw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-25T08:19:04.3678915Z"},"properties":{"marketplace":{"subscriptionId":"","subscriptionStatus":"PendingFulfillmentStart","offerDetails":{"publisherId":"pineconesystemsinc1688761585469","offerId":"pineconeliftr","planId":"pinecone_liftr_preview_paygo","planName":"Pinecone
        - Pay As You Go (Preview)","termUnit":"P1M","termId":"gmz7xq9ge3py"}},"provisioningState":"Failed","user":{"firstName":"","lastName":"","emailAddress":"aggarwalsw@microsoft.com","upn":"aggarwalsw_microsoft.com#EXT#@MicrosoftCustomerLed.onmicrosoft.com","phoneNumber":""},"partnerProperties":{"displayName":"swtaiaggtest"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Pinecone.VectorDb/organizations/swatiaggclitest","name":"swatiaggclitest","type":"pinecone.vectordb/organizations","location":"eastus","tags":{},"systemData":{"createdBy":"aggarwalsw@microsoft.com","createdByType":"User","createdAt":"2025-02-25T08:21:21.7362738Z","lastModifiedBy":"aggarwalsw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-25T08:21:21.7362738Z"},"properties":{"marketplace":{"subscriptionId":"","subscriptionStatus":"PendingFulfillmentStart","offerDetails":{"publisherId":"pineconesystemsinc1688761585469","offerId":"pineconeliftr","planId":"pinecone_liftr_preview_paygo","planName":"Pinecone
        - Pay As You Go (Preview)","termUnit":"P1M","termId":"gmz7xq9ge3py"}},"provisioningState":"Failed","user":{"firstName":"","lastName":"","emailAddress":"aggarwalsw@microsoft.com","upn":"aggarwalsw_microsoft.com#EXT#@MicrosoftCustomerLed.onmicrosoft.com","phoneNumber":""},"partnerProperties":{"displayName":"swatiaggclitest"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/pinecone.vectordb/organizations/test-cli-instance-1","name":"test-cli-instance-1","type":"pinecone.vectordb/organizations","location":"East
        US","tags":{"Test":"TestValue"},"systemData":{"createdBy":"aggarwalsw@microsoft.com","createdByType":"User","createdAt":"2025-02-27T08:08:34.9549427Z","lastModifiedBy":"aggarwalsw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-27T14:01:00.5255958Z"},"properties":{"marketplace":{"subscriptionId":"fc35d936-3b89-41f8-8110-a24b56826c37","subscriptionStatus":"PendingFulfillmentStart","offerDetails":{"publisherId":"pineconesystemsinc1688761585469","offerId":"pineconeliftr","planId":"pinecone_liftr_preview_paygo","planName":"Pinecone
        - Pay As You Go (Preview)","termUnit":"P1M","termId":"gmz7xq9ge3py"}},"provisioningState":"Failed","user":{"firstName":"","lastName":"","emailAddress":"aggarwalsw@microsoft.com","upn":"aggarwalsw@microsoft.com","phoneNumber":""},"partnerProperties":{"displayName":"Test-CLI-Instance-1"},"singleSignOnProperties":{"type":"Saml","state":"Initial","enterpriseAppId":"0b9873df-1629-4036-9360-5f2f65c0a0d3","aadDomains":["onmicrosoft"]}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/pinecone.vectordb/organizations/test-cli-instance-2","name":"test-cli-instance-2","type":"pinecone.vectordb/organizations","location":"East
        US","tags":{},"systemData":{"createdBy":"aggarwalsw@microsoft.com","createdByType":"User","createdAt":"2025-02-27T08:10:31.0741228Z","lastModifiedBy":"aggarwalsw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-27T09:50:01.8754522Z"},"properties":{"marketplace":{"subscriptionId":"fc35d936-3b89-41f8-8110-a24b56826c37","subscriptionStatus":"PendingFulfillmentStart","offerDetails":{"publisherId":"pineconesystemsinc1688761585469","offerId":"pineconeliftr","planId":"pinecone_liftr_preview_paygo","planName":"Pinecone
        - Pay As You Go (Preview)","termUnit":"P1M","termId":"gmz7xq9ge3py"}},"provisioningState":"Failed","user":{"firstName":"","lastName":"","emailAddress":"aggarwalsw@microsoft.com","upn":"aggarwalsw@microsoft.com","phoneNumber":""},"partnerProperties":{"displayName":"Test-CLI-Instance-2"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Pinecone.VectorDb/organizations/test-cli-instance-3","name":"test-cli-instance-3","type":"pinecone.vectordb/organizations","location":"eastus","tags":{"TestName":"TestValue"},"systemData":{"createdBy":"aggarwalsw@microsoft.com","createdByType":"User","createdAt":"2025-02-27T08:32:11.9594692Z","lastModifiedBy":"aggarwalsw@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-27T08:32:11.9594692Z"},"properties":{"marketplace":{"subscriptionId":"fc35d936-3b89-41f8-8110-a24b56826c37","subscriptionStatus":"PendingFulfillmentStart","offerDetails":{"publisherId":"pineconesystemsinc1688761585469","offerId":"pineconeliftr","planId":"pinecone_liftr_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Pinecone.VectorDb/organizations/test-cli-instance-4?api-version=2024-10-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Pinecone.VectorDb/organizations/test-cli-instance-4","name":"test-cli-instance-4","type":"pinecone.vectordb/org[...]
