# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import Any, Callable, Dict, Generic, List, Optional, TypeVar, Union
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

T = TypeVar('T')
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class DatasetOperations(object):
    """DatasetOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~azure.mgmt.datafactory.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_by_factory(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetListResponse"
        """Lists datasets.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetListResponse or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetListResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetListResponse"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})
        api_version = "2018-06-01"

        def prepare_request(next_link=None):
            if not next_link:
                # Construct URL
                url = self.list_by_factory.metadata['url']
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
                    'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
                    'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
                }
                url = self._client.format_url(url, **path_format_arguments)
            else:
                url = next_link

            # Construct parameters
            query_parameters = {}  # type: Dict[str, Any]
            query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('DatasetListResponse', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_by_factory.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets'}

    def create_or_update(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        properties,  # type: "models.Dataset"
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param properties: Dataset properties.
        :type properties: ~azure.mgmt.datafactory.models.Dataset
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def get(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        if_none_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Gets a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param if_none_match: ETag of the dataset entity. Should only be specified for get. If the ETag
         matches the existing entity tag, or if * was provided, then no content will be returned.
        :type if_none_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource or None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})
        api_version = "2018-06-01"

        # Construct URL
        url = self.get.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_none_match is not None:
            header_parameters['If-None-Match'] = self._serialize.header("if_none_match", if_none_match, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 304]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    get.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def delete(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Deletes a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})
        api_version = "2018-06-01"

        # Construct URL
        url = self.delete.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]

        # Construct and send request
        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        if cls:
          return cls(pipeline_response, None, {})

    delete.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_amazonmwsobject(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        amazonmwsobject_type,  # type: str
        amazonmwsobject_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        amazonmwsobject_description=None,  # type: Optional[str]
        amazonmwsobject_structure=None,  # type: Optional[object]
        amazonmwsobject_schema=None,  # type: Optional[object]
        amazonmwsobject_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        amazonmwsobject_annotations=None,  # type: Optional[List[object]]
        amazonmwsobject_folder=None,  # type: Optional["models.DatasetFolder"]
        amazonmwsobject_table_name=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param amazonmwsobject_type: Type of dataset.
        :type amazonmwsobject_type: str
        :param amazonmwsobject_linked_service_name: Linked service reference.
        :type amazonmwsobject_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param amazonmwsobject_description: Dataset description.
        :type amazonmwsobject_description: str
        :param amazonmwsobject_structure: Columns that define the structure of the dataset. Type: array
         (or Expression with resultType array), itemType: DatasetDataElement.
        :type amazonmwsobject_structure: object
        :param amazonmwsobject_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type amazonmwsobject_schema: object
        :param amazonmwsobject_parameters: Parameters for dataset.
        :type amazonmwsobject_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param amazonmwsobject_annotations: List of tags that can be used for describing the Dataset.
        :type amazonmwsobject_annotations: list[object]
        :param amazonmwsobject_folder: The folder that this Dataset is in. If not specified, Dataset
         will appear at the root level.
        :type amazonmwsobject_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param amazonmwsobject_table_name: The table name. Type: string (or Expression with resultType
         string).
        :type amazonmwsobject_table_name: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=amazonmwsobject_type, description=amazonmwsobject_description, structure=amazonmwsobject_structure, schema=amazonmwsobject_schema, linked_service_name=amazonmwsobject_linked_service_name, parameters=amazonmwsobject_parameters, annotations=amazonmwsobject_annotations, folder=amazonmwsobject_folder, table_name=amazonmwsobject_table_name)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_amazonmwsobject.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_amazonmwsobject.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_amazonredshifttable(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        amazonredshifttable_type,  # type: str
        amazonredshifttable_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        amazonredshifttable_description=None,  # type: Optional[str]
        amazonredshifttable_structure=None,  # type: Optional[object]
        amazonredshifttable_schema=None,  # type: Optional[object]
        amazonredshifttable_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        amazonredshifttable_annotations=None,  # type: Optional[List[object]]
        amazonredshifttable_folder=None,  # type: Optional["models.DatasetFolder"]
        amazonredshifttable_table_name=None,  # type: Optional[object]
        amazonredshifttable_table=None,  # type: Optional[object]
        amazonredshifttable_schema_type_properties_schema=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param amazonredshifttable_type: Type of dataset.
        :type amazonredshifttable_type: str
        :param amazonredshifttable_linked_service_name: Linked service reference.
        :type amazonredshifttable_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param amazonredshifttable_description: Dataset description.
        :type amazonredshifttable_description: str
        :param amazonredshifttable_structure: Columns that define the structure of the dataset. Type:
         array (or Expression with resultType array), itemType: DatasetDataElement.
        :type amazonredshifttable_structure: object
        :param amazonredshifttable_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type amazonredshifttable_schema: object
        :param amazonredshifttable_parameters: Parameters for dataset.
        :type amazonredshifttable_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param amazonredshifttable_annotations: List of tags that can be used for describing the
         Dataset.
        :type amazonredshifttable_annotations: list[object]
        :param amazonredshifttable_folder: The folder that this Dataset is in. If not specified,
         Dataset will appear at the root level.
        :type amazonredshifttable_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param amazonredshifttable_table_name: This property will be retired. Please consider using
         schema + table properties instead.
        :type amazonredshifttable_table_name: object
        :param amazonredshifttable_table: The Amazon Redshift table name. Type: string (or Expression
         with resultType string).
        :type amazonredshifttable_table: object
        :param amazonredshifttable_schema_type_properties_schema: The Amazon Redshift schema name.
         Type: string (or Expression with resultType string).
        :type amazonredshifttable_schema_type_properties_schema: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=amazonredshifttable_type, description=amazonredshifttable_description, structure=amazonredshifttable_structure, schema=amazonredshifttable_schema, linked_service_name=amazonredshifttable_linked_service_name, parameters=amazonredshifttable_parameters, annotations=amazonredshifttable_annotations, folder=amazonredshifttable_folder, table_name=amazonredshifttable_table_name, table=amazonredshifttable_table, schema_type_properties_schema=amazonredshifttable_schema_type_properties_schema)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_amazonredshifttable.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_amazonredshifttable.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_amazons3object(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        amazons3object_type,  # type: str
        amazons3object_linked_service_name,  # type: "models.LinkedServiceReference"
        amazons3object_bucket_name,  # type: object
        if_match=None,  # type: Optional[str]
        amazons3object_description=None,  # type: Optional[str]
        amazons3object_structure=None,  # type: Optional[object]
        amazons3object_schema=None,  # type: Optional[object]
        amazons3object_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        amazons3object_annotations=None,  # type: Optional[List[object]]
        amazons3object_folder=None,  # type: Optional["models.DatasetFolder"]
        amazons3object_key=None,  # type: Optional[object]
        amazons3object_prefix=None,  # type: Optional[object]
        amazons3object_version=None,  # type: Optional[object]
        amazons3object_modified_datetime_start=None,  # type: Optional[object]
        amazons3object_modified_datetime_end=None,  # type: Optional[object]
        amazons3object_format=None,  # type: Optional["models.DatasetStorageFormat"]
        amazons3object_compression=None,  # type: Optional["models.DatasetCompression"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param amazons3object_type: Type of dataset.
        :type amazons3object_type: str
        :param amazons3object_linked_service_name: Linked service reference.
        :type amazons3object_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param amazons3object_bucket_name: The name of the Amazon S3 bucket. Type: string (or
         Expression with resultType string).
        :type amazons3object_bucket_name: object
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param amazons3object_description: Dataset description.
        :type amazons3object_description: str
        :param amazons3object_structure: Columns that define the structure of the dataset. Type: array
         (or Expression with resultType array), itemType: DatasetDataElement.
        :type amazons3object_structure: object
        :param amazons3object_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type amazons3object_schema: object
        :param amazons3object_parameters: Parameters for dataset.
        :type amazons3object_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param amazons3object_annotations: List of tags that can be used for describing the Dataset.
        :type amazons3object_annotations: list[object]
        :param amazons3object_folder: The folder that this Dataset is in. If not specified, Dataset
         will appear at the root level.
        :type amazons3object_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param amazons3object_key: The key of the Amazon S3 object. Type: string (or Expression with
         resultType string).
        :type amazons3object_key: object
        :param amazons3object_prefix: The prefix filter for the S3 object name. Type: string (or
         Expression with resultType string).
        :type amazons3object_prefix: object
        :param amazons3object_version: The version for the S3 object. Type: string (or Expression with
         resultType string).
        :type amazons3object_version: object
        :param amazons3object_modified_datetime_start: The start of S3 object's modified datetime.
         Type: string (or Expression with resultType string).
        :type amazons3object_modified_datetime_start: object
        :param amazons3object_modified_datetime_end: The end of S3 object's modified datetime. Type:
         string (or Expression with resultType string).
        :type amazons3object_modified_datetime_end: object
        :param amazons3object_format: The format of files.
        :type amazons3object_format: ~azure.mgmt.datafactory.models.DatasetStorageFormat
        :param amazons3object_compression: The data compression method used for the Amazon S3 object.
        :type amazons3object_compression: ~azure.mgmt.datafactory.models.DatasetCompression
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=amazons3object_type, description=amazons3object_description, structure=amazons3object_structure, schema=amazons3object_schema, linked_service_name=amazons3object_linked_service_name, parameters=amazons3object_parameters, annotations=amazons3object_annotations, folder=amazons3object_folder, bucket_name=amazons3object_bucket_name, key=amazons3object_key, prefix=amazons3object_prefix, version=amazons3object_version, modified_datetime_start=amazons3object_modified_datetime_start, modified_datetime_end=amazons3object_modified_datetime_end, format=amazons3object_format, compression=amazons3object_compression)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_amazons3object.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_amazons3object.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_avro(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        avro_type,  # type: str
        avro_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        avro_description=None,  # type: Optional[str]
        avro_structure=None,  # type: Optional[object]
        avro_schema=None,  # type: Optional[object]
        avro_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        avro_annotations=None,  # type: Optional[List[object]]
        avro_folder=None,  # type: Optional["models.DatasetFolder"]
        avro_location=None,  # type: Optional["models.DatasetLocation"]
        avro_avro_compression_codec=None,  # type: Optional[Union[str, "models.AvroCompressionCodec"]]
        avro_avro_compression_level=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param avro_type: Type of dataset.
        :type avro_type: str
        :param avro_linked_service_name: Linked service reference.
        :type avro_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param avro_description: Dataset description.
        :type avro_description: str
        :param avro_structure: Columns that define the structure of the dataset. Type: array (or
         Expression with resultType array), itemType: DatasetDataElement.
        :type avro_structure: object
        :param avro_schema: Columns that define the physical type schema of the dataset. Type: array
         (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type avro_schema: object
        :param avro_parameters: Parameters for dataset.
        :type avro_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param avro_annotations: List of tags that can be used for describing the Dataset.
        :type avro_annotations: list[object]
        :param avro_folder: The folder that this Dataset is in. If not specified, Dataset will appear
         at the root level.
        :type avro_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param avro_location: The location of the avro storage.
        :type avro_location: ~azure.mgmt.datafactory.models.DatasetLocation
        :param avro_avro_compression_codec:
        :type avro_avro_compression_codec: str or ~azure.mgmt.datafactory.models.AvroCompressionCodec
        :param avro_avro_compression_level:
        :type avro_avro_compression_level: int
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=avro_type, description=avro_description, structure=avro_structure, schema=avro_schema, linked_service_name=avro_linked_service_name, parameters=avro_parameters, annotations=avro_annotations, folder=avro_folder, location=avro_location, avro_compression_codec=avro_avro_compression_codec, avro_compression_level=avro_avro_compression_level)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_avro.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_avro.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azureblob(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azureblob_type,  # type: str
        azureblob_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azureblob_description=None,  # type: Optional[str]
        azureblob_structure=None,  # type: Optional[object]
        azureblob_schema=None,  # type: Optional[object]
        azureblob_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azureblob_annotations=None,  # type: Optional[List[object]]
        azureblob_folder=None,  # type: Optional["models.DatasetFolder"]
        azureblob_folder_path=None,  # type: Optional[object]
        azureblob_table_root_location=None,  # type: Optional[object]
        azureblob_file_name=None,  # type: Optional[object]
        azureblob_modified_datetime_start=None,  # type: Optional[object]
        azureblob_modified_datetime_end=None,  # type: Optional[object]
        azureblob_format=None,  # type: Optional["models.DatasetStorageFormat"]
        azureblob_compression=None,  # type: Optional["models.DatasetCompression"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azureblob_type: Type of dataset.
        :type azureblob_type: str
        :param azureblob_linked_service_name: Linked service reference.
        :type azureblob_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azureblob_description: Dataset description.
        :type azureblob_description: str
        :param azureblob_structure: Columns that define the structure of the dataset. Type: array (or
         Expression with resultType array), itemType: DatasetDataElement.
        :type azureblob_structure: object
        :param azureblob_schema: Columns that define the physical type schema of the dataset. Type:
         array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azureblob_schema: object
        :param azureblob_parameters: Parameters for dataset.
        :type azureblob_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azureblob_annotations: List of tags that can be used for describing the Dataset.
        :type azureblob_annotations: list[object]
        :param azureblob_folder: The folder that this Dataset is in. If not specified, Dataset will
         appear at the root level.
        :type azureblob_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azureblob_folder_path: The path of the Azure Blob storage. Type: string (or Expression
         with resultType string).
        :type azureblob_folder_path: object
        :param azureblob_table_root_location: The root of blob path. Type: string (or Expression with
         resultType string).
        :type azureblob_table_root_location: object
        :param azureblob_file_name: The name of the Azure Blob. Type: string (or Expression with
         resultType string).
        :type azureblob_file_name: object
        :param azureblob_modified_datetime_start: The start of Azure Blob's modified datetime. Type:
         string (or Expression with resultType string).
        :type azureblob_modified_datetime_start: object
        :param azureblob_modified_datetime_end: The end of Azure Blob's modified datetime. Type: string
         (or Expression with resultType string).
        :type azureblob_modified_datetime_end: object
        :param azureblob_format: The format of the Azure Blob storage.
        :type azureblob_format: ~azure.mgmt.datafactory.models.DatasetStorageFormat
        :param azureblob_compression: The data compression method used for the blob storage.
        :type azureblob_compression: ~azure.mgmt.datafactory.models.DatasetCompression
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azureblob_type, description=azureblob_description, structure=azureblob_structure, schema=azureblob_schema, linked_service_name=azureblob_linked_service_name, parameters=azureblob_parameters, annotations=azureblob_annotations, folder=azureblob_folder, folder_path=azureblob_folder_path, table_root_location=azureblob_table_root_location, file_name=azureblob_file_name, modified_datetime_start=azureblob_modified_datetime_start, modified_datetime_end=azureblob_modified_datetime_end, format=azureblob_format, compression=azureblob_compression)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azureblob.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azureblob.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azureblobfsfile(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azureblobfsfile_type,  # type: str
        azureblobfsfile_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azureblobfsfile_description=None,  # type: Optional[str]
        azureblobfsfile_structure=None,  # type: Optional[object]
        azureblobfsfile_schema=None,  # type: Optional[object]
        azureblobfsfile_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azureblobfsfile_annotations=None,  # type: Optional[List[object]]
        azureblobfsfile_folder=None,  # type: Optional["models.DatasetFolder"]
        azureblobfsfile_folder_path=None,  # type: Optional[object]
        azureblobfsfile_file_name=None,  # type: Optional[object]
        azureblobfsfile_format=None,  # type: Optional["models.DatasetStorageFormat"]
        azureblobfsfile_compression=None,  # type: Optional["models.DatasetCompression"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azureblobfsfile_type: Type of dataset.
        :type azureblobfsfile_type: str
        :param azureblobfsfile_linked_service_name: Linked service reference.
        :type azureblobfsfile_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azureblobfsfile_description: Dataset description.
        :type azureblobfsfile_description: str
        :param azureblobfsfile_structure: Columns that define the structure of the dataset. Type: array
         (or Expression with resultType array), itemType: DatasetDataElement.
        :type azureblobfsfile_structure: object
        :param azureblobfsfile_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azureblobfsfile_schema: object
        :param azureblobfsfile_parameters: Parameters for dataset.
        :type azureblobfsfile_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azureblobfsfile_annotations: List of tags that can be used for describing the Dataset.
        :type azureblobfsfile_annotations: list[object]
        :param azureblobfsfile_folder: The folder that this Dataset is in. If not specified, Dataset
         will appear at the root level.
        :type azureblobfsfile_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azureblobfsfile_folder_path: The path of the Azure Data Lake Storage Gen2 storage. Type:
         string (or Expression with resultType string).
        :type azureblobfsfile_folder_path: object
        :param azureblobfsfile_file_name: The name of the Azure Data Lake Storage Gen2. Type: string
         (or Expression with resultType string).
        :type azureblobfsfile_file_name: object
        :param azureblobfsfile_format: The format of the Azure Data Lake Storage Gen2 storage.
        :type azureblobfsfile_format: ~azure.mgmt.datafactory.models.DatasetStorageFormat
        :param azureblobfsfile_compression: The data compression method used for the blob storage.
        :type azureblobfsfile_compression: ~azure.mgmt.datafactory.models.DatasetCompression
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azureblobfsfile_type, description=azureblobfsfile_description, structure=azureblobfsfile_structure, schema=azureblobfsfile_schema, linked_service_name=azureblobfsfile_linked_service_name, parameters=azureblobfsfile_parameters, annotations=azureblobfsfile_annotations, folder=azureblobfsfile_folder, folder_path=azureblobfsfile_folder_path, file_name=azureblobfsfile_file_name, format=azureblobfsfile_format, compression=azureblobfsfile_compression)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azureblobfsfile.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azureblobfsfile.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azuredataexplorertable(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azuredataexplorertable_type,  # type: str
        azuredataexplorertable_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azuredataexplorertable_description=None,  # type: Optional[str]
        azuredataexplorertable_structure=None,  # type: Optional[object]
        azuredataexplorertable_schema=None,  # type: Optional[object]
        azuredataexplorertable_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuredataexplorertable_annotations=None,  # type: Optional[List[object]]
        azuredataexplorertable_folder=None,  # type: Optional["models.DatasetFolder"]
        azuredataexplorertable_table=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azuredataexplorertable_type: Type of dataset.
        :type azuredataexplorertable_type: str
        :param azuredataexplorertable_linked_service_name: Linked service reference.
        :type azuredataexplorertable_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuredataexplorertable_description: Dataset description.
        :type azuredataexplorertable_description: str
        :param azuredataexplorertable_structure: Columns that define the structure of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetDataElement.
        :type azuredataexplorertable_structure: object
        :param azuredataexplorertable_schema: Columns that define the physical type schema of the
         dataset. Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azuredataexplorertable_schema: object
        :param azuredataexplorertable_parameters: Parameters for dataset.
        :type azuredataexplorertable_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuredataexplorertable_annotations: List of tags that can be used for describing the
         Dataset.
        :type azuredataexplorertable_annotations: list[object]
        :param azuredataexplorertable_folder: The folder that this Dataset is in. If not specified,
         Dataset will appear at the root level.
        :type azuredataexplorertable_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azuredataexplorertable_table: The table name of the Azure Data Explorer database. Type:
         string (or Expression with resultType string).
        :type azuredataexplorertable_table: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azuredataexplorertable_type, description=azuredataexplorertable_description, structure=azuredataexplorertable_structure, schema=azuredataexplorertable_schema, linked_service_name=azuredataexplorertable_linked_service_name, parameters=azuredataexplorertable_parameters, annotations=azuredataexplorertable_annotations, folder=azuredataexplorertable_folder, table=azuredataexplorertable_table)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuredataexplorertable.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuredataexplorertable.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azuredatalakestorefile(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azuredatalakestorefile_type,  # type: str
        azuredatalakestorefile_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azuredatalakestorefile_description=None,  # type: Optional[str]
        azuredatalakestorefile_structure=None,  # type: Optional[object]
        azuredatalakestorefile_schema=None,  # type: Optional[object]
        azuredatalakestorefile_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuredatalakestorefile_annotations=None,  # type: Optional[List[object]]
        azuredatalakestorefile_folder=None,  # type: Optional["models.DatasetFolder"]
        azuredatalakestorefile_folder_path=None,  # type: Optional[object]
        azuredatalakestorefile_file_name=None,  # type: Optional[object]
        azuredatalakestorefile_format=None,  # type: Optional["models.DatasetStorageFormat"]
        azuredatalakestorefile_compression=None,  # type: Optional["models.DatasetCompression"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azuredatalakestorefile_type: Type of dataset.
        :type azuredatalakestorefile_type: str
        :param azuredatalakestorefile_linked_service_name: Linked service reference.
        :type azuredatalakestorefile_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuredatalakestorefile_description: Dataset description.
        :type azuredatalakestorefile_description: str
        :param azuredatalakestorefile_structure: Columns that define the structure of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetDataElement.
        :type azuredatalakestorefile_structure: object
        :param azuredatalakestorefile_schema: Columns that define the physical type schema of the
         dataset. Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azuredatalakestorefile_schema: object
        :param azuredatalakestorefile_parameters: Parameters for dataset.
        :type azuredatalakestorefile_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuredatalakestorefile_annotations: List of tags that can be used for describing the
         Dataset.
        :type azuredatalakestorefile_annotations: list[object]
        :param azuredatalakestorefile_folder: The folder that this Dataset is in. If not specified,
         Dataset will appear at the root level.
        :type azuredatalakestorefile_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azuredatalakestorefile_folder_path: Path to the folder in the Azure Data Lake Store.
         Type: string (or Expression with resultType string).
        :type azuredatalakestorefile_folder_path: object
        :param azuredatalakestorefile_file_name: The name of the file in the Azure Data Lake Store.
         Type: string (or Expression with resultType string).
        :type azuredatalakestorefile_file_name: object
        :param azuredatalakestorefile_format: The format of the Data Lake Store.
        :type azuredatalakestorefile_format: ~azure.mgmt.datafactory.models.DatasetStorageFormat
        :param azuredatalakestorefile_compression: The data compression method used for the item(s) in
         the Azure Data Lake Store.
        :type azuredatalakestorefile_compression: ~azure.mgmt.datafactory.models.DatasetCompression
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azuredatalakestorefile_type, description=azuredatalakestorefile_description, structure=azuredatalakestorefile_structure, schema=azuredatalakestorefile_schema, linked_service_name=azuredatalakestorefile_linked_service_name, parameters=azuredatalakestorefile_parameters, annotations=azuredatalakestorefile_annotations, folder=azuredatalakestorefile_folder, folder_path=azuredatalakestorefile_folder_path, file_name=azuredatalakestorefile_file_name, format=azuredatalakestorefile_format, compression=azuredatalakestorefile_compression)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuredatalakestorefile.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuredatalakestorefile.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azuremariadbtable(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azuremariadbtable_type,  # type: str
        azuremariadbtable_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azuremariadbtable_description=None,  # type: Optional[str]
        azuremariadbtable_structure=None,  # type: Optional[object]
        azuremariadbtable_schema=None,  # type: Optional[object]
        azuremariadbtable_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuremariadbtable_annotations=None,  # type: Optional[List[object]]
        azuremariadbtable_folder=None,  # type: Optional["models.DatasetFolder"]
        azuremariadbtable_table_name=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azuremariadbtable_type: Type of dataset.
        :type azuremariadbtable_type: str
        :param azuremariadbtable_linked_service_name: Linked service reference.
        :type azuremariadbtable_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuremariadbtable_description: Dataset description.
        :type azuremariadbtable_description: str
        :param azuremariadbtable_structure: Columns that define the structure of the dataset. Type:
         array (or Expression with resultType array), itemType: DatasetDataElement.
        :type azuremariadbtable_structure: object
        :param azuremariadbtable_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azuremariadbtable_schema: object
        :param azuremariadbtable_parameters: Parameters for dataset.
        :type azuremariadbtable_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuremariadbtable_annotations: List of tags that can be used for describing the Dataset.
        :type azuremariadbtable_annotations: list[object]
        :param azuremariadbtable_folder: The folder that this Dataset is in. If not specified, Dataset
         will appear at the root level.
        :type azuremariadbtable_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azuremariadbtable_table_name: The table name. Type: string (or Expression with
         resultType string).
        :type azuremariadbtable_table_name: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azuremariadbtable_type, description=azuremariadbtable_description, structure=azuremariadbtable_structure, schema=azuremariadbtable_schema, linked_service_name=azuremariadbtable_linked_service_name, parameters=azuremariadbtable_parameters, annotations=azuremariadbtable_annotations, folder=azuremariadbtable_folder, table_name=azuremariadbtable_table_name)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuremariadbtable.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuremariadbtable.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azuremysqltable(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azuremysqltable_type,  # type: str
        azuremysqltable_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azuremysqltable_description=None,  # type: Optional[str]
        azuremysqltable_structure=None,  # type: Optional[object]
        azuremysqltable_schema=None,  # type: Optional[object]
        azuremysqltable_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuremysqltable_annotations=None,  # type: Optional[List[object]]
        azuremysqltable_folder=None,  # type: Optional["models.DatasetFolder"]
        azuremysqltable_table_name=None,  # type: Optional[object]
        azuremysqltable_table=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azuremysqltable_type: Type of dataset.
        :type azuremysqltable_type: str
        :param azuremysqltable_linked_service_name: Linked service reference.
        :type azuremysqltable_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuremysqltable_description: Dataset description.
        :type azuremysqltable_description: str
        :param azuremysqltable_structure: Columns that define the structure of the dataset. Type: array
         (or Expression with resultType array), itemType: DatasetDataElement.
        :type azuremysqltable_structure: object
        :param azuremysqltable_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azuremysqltable_schema: object
        :param azuremysqltable_parameters: Parameters for dataset.
        :type azuremysqltable_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuremysqltable_annotations: List of tags that can be used for describing the Dataset.
        :type azuremysqltable_annotations: list[object]
        :param azuremysqltable_folder: The folder that this Dataset is in. If not specified, Dataset
         will appear at the root level.
        :type azuremysqltable_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azuremysqltable_table_name: The Azure MySQL database table name. Type: string (or
         Expression with resultType string).
        :type azuremysqltable_table_name: object
        :param azuremysqltable_table: The name of Azure MySQL database table. Type: string (or
         Expression with resultType string).
        :type azuremysqltable_table: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azuremysqltable_type, description=azuremysqltable_description, structure=azuremysqltable_structure, schema=azuremysqltable_schema, linked_service_name=azuremysqltable_linked_service_name, parameters=azuremysqltable_parameters, annotations=azuremysqltable_annotations, folder=azuremysqltable_folder, table_name=azuremysqltable_table_name, table=azuremysqltable_table)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuremysqltable.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuremysqltable.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azurepostgresqltable(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azurepostgresqltable_type,  # type: str
        azurepostgresqltable_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azurepostgresqltable_description=None,  # type: Optional[str]
        azurepostgresqltable_structure=None,  # type: Optional[object]
        azurepostgresqltable_schema=None,  # type: Optional[object]
        azurepostgresqltable_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azurepostgresqltable_annotations=None,  # type: Optional[List[object]]
        azurepostgresqltable_folder=None,  # type: Optional["models.DatasetFolder"]
        azurepostgresqltable_table_name=None,  # type: Optional[object]
        azurepostgresqltable_table=None,  # type: Optional[object]
        azurepostgresqltable_schema_type_properties_schema=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azurepostgresqltable_type: Type of dataset.
        :type azurepostgresqltable_type: str
        :param azurepostgresqltable_linked_service_name: Linked service reference.
        :type azurepostgresqltable_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azurepostgresqltable_description: Dataset description.
        :type azurepostgresqltable_description: str
        :param azurepostgresqltable_structure: Columns that define the structure of the dataset. Type:
         array (or Expression with resultType array), itemType: DatasetDataElement.
        :type azurepostgresqltable_structure: object
        :param azurepostgresqltable_schema: Columns that define the physical type schema of the
         dataset. Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azurepostgresqltable_schema: object
        :param azurepostgresqltable_parameters: Parameters for dataset.
        :type azurepostgresqltable_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azurepostgresqltable_annotations: List of tags that can be used for describing the
         Dataset.
        :type azurepostgresqltable_annotations: list[object]
        :param azurepostgresqltable_folder: The folder that this Dataset is in. If not specified,
         Dataset will appear at the root level.
        :type azurepostgresqltable_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :param azurepostgresqltable_table_name: The table name of the Azure PostgreSQL database which
         includes both schema and table. Type: string (or Expression with resultType string).
        :type azurepostgresqltable_table_name: object
        :param azurepostgresqltable_table: The table name of the Azure PostgreSQL database. Type:
         string (or Expression with resultType string).
        :type azurepostgresqltable_table: object
        :param azurepostgresqltable_schema_type_properties_schema: The schema name of the Azure
         PostgreSQL database. Type: string (or Expression with resultType string).
        :type azurepostgresqltable_schema_type_properties_schema: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azurepostgresqltable_type, description=azurepostgresqltable_description, structure=azurepostgresqltable_structure, schema=azurepostgresqltable_schema, linked_service_name=azurepostgresqltable_linked_service_name, parameters=azurepostgresqltable_parameters, annotations=azurepostgresqltable_annotations, folder=azurepostgresqltable_folder, table_name=azurepostgresqltable_table_name, table=azurepostgresqltable_table, schema_type_properties_schema=azurepostgresqltable_schema_type_properties_schema)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azurepostgresqltable.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_dataset, 'DatasetResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('DatasetResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azurepostgresqltable.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}'}

    def create_or_update_azuresearchindex(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        dataset_name,  # type: str
        azuresearchindex_type,  # type: str
        azuresearchindex_linked_service_name,  # type: "models.LinkedServiceReference"
        azuresearchindex_index_name,  # type: object
        if_match=None,  # type: Optional[str]
        azuresearchindex_description=None,  # type: Optional[str]
        azuresearchindex_structure=None,  # type: Optional[object]
        azuresearchindex_schema=None,  # type: Optional[object]
        azuresearchindex_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuresearchindex_annotations=None,  # type: Optional[List[object]]
        azuresearchindex_folder=None,  # type: Optional["models.DatasetFolder"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DatasetResource"
        """Creates or updates a dataset.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param dataset_name: The dataset name.
        :type dataset_name: str
        :param azuresearchindex_type: Type of dataset.
        :type azuresearchindex_type: str
        :param azuresearchindex_linked_service_name: Linked service reference.
        :type azuresearchindex_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param azuresearchindex_index_name: The name of the Azure Search Index. Type: string (or
         Expression with resultType string).
        :type azuresearchindex_index_name: object
        :param if_match: ETag of the dataset entity.  Should only be specified for update, for which it
         should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuresearchindex_description: Dataset description.
        :type azuresearchindex_description: str
        :param azuresearchindex_structure: Columns that define the structure of the dataset. Type:
         array (or Expression with resultType array), itemType: DatasetDataElement.
        :type azuresearchindex_structure: object
        :param azuresearchindex_schema: Columns that define the physical type schema of the dataset.
         Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.
        :type azuresearchindex_schema: object
        :param azuresearchindex_parameters: Parameters for dataset.
        :type azuresearchindex_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuresearchindex_annotations: List of tags that can be used for describing the Dataset.
        :type azuresearchindex_annotations: list[object]
        :param azuresearchindex_folder: The folder that this Dataset is in. If not specified, Dataset
         will appear at the root level.
        :type azuresearchindex_folder: ~azure.mgmt.datafactory.models.DatasetFolder
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DatasetResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.DatasetResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DatasetResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _dataset = models.DatasetResource(properties=properties, type=azuresearchindex_type, description=azuresearchindex_description, structure=azuresearchindex_structure, schema=azuresearchindex_schema, linked_service_name=azuresearchindex_linked_service_name, parameters=azuresearchindex_parameters, annotations=azuresearchindex_annotations, folder=azuresearchindex_folder, index_name=azuresearchindex_index_name)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuresearchindex.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'datasetName': self._serialize.url("dataset_name", dataset_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

[...]
