# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import Any, Callable, Dict, Generic, List, Optional, TypeVar, Union
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

T = TypeVar('T')
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class LinkedServiceOperations(object):
    """LinkedServiceOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~azure.mgmt.datafactory.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_by_factory(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceListResponse"
        """Lists linked services.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceListResponse or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceListResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceListResponse"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})
        api_version = "2018-06-01"

        def prepare_request(next_link=None):
            if not next_link:
                # Construct URL
                url = self.list_by_factory.metadata['url']
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
                    'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
                    'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
                }
                url = self._client.format_url(url, **path_format_arguments)
            else:
                url = next_link

            # Construct parameters
            query_parameters = {}  # type: Dict[str, Any]
            query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('LinkedServiceListResponse', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_by_factory.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices'}

    def create_or_update(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        properties,  # type: "models.LinkedService"
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param properties: Properties of linked service.
        :type properties: ~azure.mgmt.datafactory.models.LinkedService
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def get(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        if_none_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Gets a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param if_none_match: ETag of the linked service entity. Should only be specified for get. If
         the ETag matches the existing entity tag, or if * was provided, then no content will be
         returned.
        :type if_none_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource or None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})
        api_version = "2018-06-01"

        # Construct URL
        url = self.get.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_none_match is not None:
            header_parameters['If-None-Match'] = self._serialize.header("if_none_match", if_none_match, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 304]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    get.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def delete(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Deletes a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})
        api_version = "2018-06-01"

        # Construct URL
        url = self.delete.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]

        # Construct and send request
        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        if cls:
          return cls(pipeline_response, None, {})

    delete.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_amazonmws(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        amazonmws_type,  # type: str
        amazonmws_endpoint,  # type: object
        amazonmws_marketplace_id,  # type: object
        amazonmws_seller_id,  # type: object
        amazonmws_access_key_id,  # type: object
        if_match=None,  # type: Optional[str]
        amazonmws_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        amazonmws_description=None,  # type: Optional[str]
        amazonmws_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        amazonmws_annotations=None,  # type: Optional[List[object]]
        amazonmws_mws_auth_token=None,  # type: Optional["models.SecretBase"]
        amazonmws_secret_key=None,  # type: Optional["models.SecretBase"]
        amazonmws_use_encrypted_endpoints=None,  # type: Optional[object]
        amazonmws_use_host_verification=None,  # type: Optional[object]
        amazonmws_use_peer_verification=None,  # type: Optional[object]
        amazonmws_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param amazonmws_type: Type of linked service.
        :type amazonmws_type: str
        :param amazonmws_endpoint: The endpoint of the Amazon MWS server, (i.e.
         mws.amazonservices.com).
        :type amazonmws_endpoint: object
        :param amazonmws_marketplace_id: The Amazon Marketplace ID you want to retrieve data from. To
         retrieve data from multiple Marketplace IDs, separate them with a comma (,). (i.e.
         A2EUQ1WTGCTBG2).
        :type amazonmws_marketplace_id: object
        :param amazonmws_seller_id: The Amazon seller ID.
        :type amazonmws_seller_id: object
        :param amazonmws_access_key_id: The access key id used to access data.
        :type amazonmws_access_key_id: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param amazonmws_connect_via: The integration runtime reference.
        :type amazonmws_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param amazonmws_description: Linked service description.
        :type amazonmws_description: str
        :param amazonmws_parameters: Parameters for linked service.
        :type amazonmws_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param amazonmws_annotations: List of tags that can be used for describing the linked service.
        :type amazonmws_annotations: list[object]
        :param amazonmws_mws_auth_token: The Amazon MWS authentication token.
        :type amazonmws_mws_auth_token: ~azure.mgmt.datafactory.models.SecretBase
        :param amazonmws_secret_key: The secret key used to access data.
        :type amazonmws_secret_key: ~azure.mgmt.datafactory.models.SecretBase
        :param amazonmws_use_encrypted_endpoints: Specifies whether the data source endpoints are
         encrypted using HTTPS. The default value is true.
        :type amazonmws_use_encrypted_endpoints: object
        :param amazonmws_use_host_verification: Specifies whether to require the host name in the
         server's certificate to match the host name of the server when connecting over SSL. The default
         value is true.
        :type amazonmws_use_host_verification: object
        :param amazonmws_use_peer_verification: Specifies whether to verify the identity of the server
         when connecting over SSL. The default value is true.
        :type amazonmws_use_peer_verification: object
        :param amazonmws_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type amazonmws_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=amazonmws_type, connect_via=amazonmws_connect_via, description=amazonmws_description, parameters=amazonmws_parameters, annotations=amazonmws_annotations, endpoint=amazonmws_endpoint, marketplace_id=amazonmws_marketplace_id, seller_id=amazonmws_seller_id, mws_auth_token=amazonmws_mws_auth_token, access_key_id=amazonmws_access_key_id, secret_key=amazonmws_secret_key, use_encrypted_endpoints=amazonmws_use_encrypted_endpoints, use_host_verification=amazonmws_use_host_verification, use_peer_verification=amazonmws_use_peer_verification, encrypted_credential=amazonmws_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_amazonmws.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_amazonmws.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_amazonredshift(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        amazonredshift_type,  # type: str
        amazonredshift_server,  # type: object
        amazonredshift_database,  # type: object
        if_match=None,  # type: Optional[str]
        amazonredshift_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        amazonredshift_description=None,  # type: Optional[str]
        amazonredshift_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        amazonredshift_annotations=None,  # type: Optional[List[object]]
        amazonredshift_username=None,  # type: Optional[object]
        amazonredshift_password=None,  # type: Optional["models.SecretBase"]
        amazonredshift_port=None,  # type: Optional[object]
        amazonredshift_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param amazonredshift_type: Type of linked service.
        :type amazonredshift_type: str
        :param amazonredshift_server: The name of the Amazon Redshift server. Type: string (or
         Expression with resultType string).
        :type amazonredshift_server: object
        :param amazonredshift_database: The database name of the Amazon Redshift source. Type: string
         (or Expression with resultType string).
        :type amazonredshift_database: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param amazonredshift_connect_via: The integration runtime reference.
        :type amazonredshift_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param amazonredshift_description: Linked service description.
        :type amazonredshift_description: str
        :param amazonredshift_parameters: Parameters for linked service.
        :type amazonredshift_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param amazonredshift_annotations: List of tags that can be used for describing the linked
         service.
        :type amazonredshift_annotations: list[object]
        :param amazonredshift_username: The username of the Amazon Redshift source. Type: string (or
         Expression with resultType string).
        :type amazonredshift_username: object
        :param amazonredshift_password: The password of the Amazon Redshift source.
        :type amazonredshift_password: ~azure.mgmt.datafactory.models.SecretBase
        :param amazonredshift_port: The TCP port number that the Amazon Redshift server uses to listen
         for client connections. The default value is 5439. Type: integer (or Expression with resultType
         integer).
        :type amazonredshift_port: object
        :param amazonredshift_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type amazonredshift_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=amazonredshift_type, connect_via=amazonredshift_connect_via, description=amazonredshift_description, parameters=amazonredshift_parameters, annotations=amazonredshift_annotations, server=amazonredshift_server, username=amazonredshift_username, password=amazonredshift_password, database=amazonredshift_database, port=amazonredshift_port, encrypted_credential=amazonredshift_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_amazonredshift.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_amazonredshift.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_amazons3(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        amazons3_type,  # type: str
        if_match=None,  # type: Optional[str]
        amazons3_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        amazons3_description=None,  # type: Optional[str]
        amazons3_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        amazons3_annotations=None,  # type: Optional[List[object]]
        amazons3_access_key_id=None,  # type: Optional[object]
        amazons3_secret_access_key=None,  # type: Optional["models.SecretBase"]
        amazons3_service_url=None,  # type: Optional[object]
        amazons3_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param amazons3_type: Type of linked service.
        :type amazons3_type: str
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param amazons3_connect_via: The integration runtime reference.
        :type amazons3_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param amazons3_description: Linked service description.
        :type amazons3_description: str
        :param amazons3_parameters: Parameters for linked service.
        :type amazons3_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param amazons3_annotations: List of tags that can be used for describing the linked service.
        :type amazons3_annotations: list[object]
        :param amazons3_access_key_id: The access key identifier of the Amazon S3 Identity and Access
         Management (IAM) user. Type: string (or Expression with resultType string).
        :type amazons3_access_key_id: object
        :param amazons3_secret_access_key: The secret access key of the Amazon S3 Identity and Access
         Management (IAM) user.
        :type amazons3_secret_access_key: ~azure.mgmt.datafactory.models.SecretBase
        :param amazons3_service_url: This value specifies the endpoint to access with the S3 Connector.
         This is an optional property; change it only if you want to try a different service endpoint or
         want to switch between https and http. Type: string (or Expression with resultType string).
        :type amazons3_service_url: object
        :param amazons3_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type amazons3_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=amazons3_type, connect_via=amazons3_connect_via, description=amazons3_description, parameters=amazons3_parameters, annotations=amazons3_annotations, access_key_id=amazons3_access_key_id, secret_access_key=amazons3_secret_access_key, service_url=amazons3_service_url, encrypted_credential=amazons3_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_amazons3.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_amazons3.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azurebatch(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azurebatch_type,  # type: str
        azurebatch_account_name,  # type: object
        azurebatch_batch_uri,  # type: object
        azurebatch_pool_name,  # type: object
        azurebatch_linked_service_name,  # type: "models.LinkedServiceReference"
        if_match=None,  # type: Optional[str]
        azurebatch_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azurebatch_description=None,  # type: Optional[str]
        azurebatch_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azurebatch_annotations=None,  # type: Optional[List[object]]
        azurebatch_access_key=None,  # type: Optional["models.SecretBase"]
        azurebatch_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azurebatch_type: Type of linked service.
        :type azurebatch_type: str
        :param azurebatch_account_name: The Azure Batch account name. Type: string (or Expression with
         resultType string).
        :type azurebatch_account_name: object
        :param azurebatch_batch_uri: The Azure Batch URI. Type: string (or Expression with resultType
         string).
        :type azurebatch_batch_uri: object
        :param azurebatch_pool_name: The Azure Batch pool name. Type: string (or Expression with
         resultType string).
        :type azurebatch_pool_name: object
        :param azurebatch_linked_service_name: The Azure Storage linked service reference.
        :type azurebatch_linked_service_name: ~azure.mgmt.datafactory.models.LinkedServiceReference
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azurebatch_connect_via: The integration runtime reference.
        :type azurebatch_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azurebatch_description: Linked service description.
        :type azurebatch_description: str
        :param azurebatch_parameters: Parameters for linked service.
        :type azurebatch_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azurebatch_annotations: List of tags that can be used for describing the linked service.
        :type azurebatch_annotations: list[object]
        :param azurebatch_access_key: The Azure Batch account access key.
        :type azurebatch_access_key: ~azure.mgmt.datafactory.models.SecretBase
        :param azurebatch_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type azurebatch_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azurebatch_type, connect_via=azurebatch_connect_via, description=azurebatch_description, parameters=azurebatch_parameters, annotations=azurebatch_annotations, account_name=azurebatch_account_name, access_key=azurebatch_access_key, batch_uri=azurebatch_batch_uri, pool_name=azurebatch_pool_name, linked_service_name=azurebatch_linked_service_name, encrypted_credential=azurebatch_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azurebatch.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azurebatch.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azureblobfs(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azureblobfs_type,  # type: str
        azureblobfs_url,  # type: object
        if_match=None,  # type: Optional[str]
        azureblobfs_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azureblobfs_description=None,  # type: Optional[str]
        azureblobfs_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azureblobfs_annotations=None,  # type: Optional[List[object]]
        azureblobfs_account_key=None,  # type: Optional[object]
        azureblobfs_service_principal_id=None,  # type: Optional[object]
        azureblobfs_service_principal_key=None,  # type: Optional["models.SecretBase"]
        azureblobfs_tenant=None,  # type: Optional[object]
        azureblobfs_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azureblobfs_type: Type of linked service.
        :type azureblobfs_type: str
        :param azureblobfs_url: Endpoint for the Azure Data Lake Storage Gen2 service. Type: string (or
         Expression with resultType string).
        :type azureblobfs_url: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azureblobfs_connect_via: The integration runtime reference.
        :type azureblobfs_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azureblobfs_description: Linked service description.
        :type azureblobfs_description: str
        :param azureblobfs_parameters: Parameters for linked service.
        :type azureblobfs_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azureblobfs_annotations: List of tags that can be used for describing the linked
         service.
        :type azureblobfs_annotations: list[object]
        :param azureblobfs_account_key: Account key for the Azure Data Lake Storage Gen2 service. Type:
         string (or Expression with resultType string).
        :type azureblobfs_account_key: object
        :param azureblobfs_service_principal_id: The ID of the application used to authenticate against
         the Azure Data Lake Storage Gen2 account. Type: string (or Expression with resultType string).
        :type azureblobfs_service_principal_id: object
        :param azureblobfs_service_principal_key: The Key of the application used to authenticate
         against the Azure Data Lake Storage Gen2 account.
        :type azureblobfs_service_principal_key: ~azure.mgmt.datafactory.models.SecretBase
        :param azureblobfs_tenant: The name or ID of the tenant to which the service principal belongs.
         Type: string (or Expression with resultType string).
        :type azureblobfs_tenant: object
        :param azureblobfs_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type azureblobfs_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azureblobfs_type, connect_via=azureblobfs_connect_via, description=azureblobfs_description, parameters=azureblobfs_parameters, annotations=azureblobfs_annotations, url=azureblobfs_url, account_key=azureblobfs_account_key, service_principal_id=azureblobfs_service_principal_id, service_principal_key=azureblobfs_service_principal_key, tenant=azureblobfs_tenant, encrypted_credential=azureblobfs_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azureblobfs.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azureblobfs.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azureblobstorage(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azureblobstorage_type,  # type: str
        if_match=None,  # type: Optional[str]
        azureblobstorage_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azureblobstorage_description=None,  # type: Optional[str]
        azureblobstorage_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azureblobstorage_annotations=None,  # type: Optional[List[object]]
        azureblobstorage_connection_string=None,  # type: Optional[object]
        azureblobstorage_account_key=None,  # type: Optional["models.AzureKeyVaultSecretReference"]
        azureblobstorage_sas_uri=None,  # type: Optional[object]
        azureblobstorage_sas_token=None,  # type: Optional["models.AzureKeyVaultSecretReference"]
        azureblobstorage_service_endpoint=None,  # type: Optional[str]
        azureblobstorage_service_principal_id=None,  # type: Optional[object]
        azureblobstorage_service_principal_key=None,  # type: Optional["models.SecretBase"]
        azureblobstorage_tenant=None,  # type: Optional[object]
        azureblobstorage_encrypted_credential=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azureblobstorage_type: Type of linked service.
        :type azureblobstorage_type: str
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azureblobstorage_connect_via: The integration runtime reference.
        :type azureblobstorage_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azureblobstorage_description: Linked service description.
        :type azureblobstorage_description: str
        :param azureblobstorage_parameters: Parameters for linked service.
        :type azureblobstorage_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azureblobstorage_annotations: List of tags that can be used for describing the linked
         service.
        :type azureblobstorage_annotations: list[object]
        :param azureblobstorage_connection_string: The connection string. It is mutually exclusive with
         sasUri, serviceEndpoint property. Type: string, SecureString or AzureKeyVaultSecretReference.
        :type azureblobstorage_connection_string: object
        :param azureblobstorage_account_key: The Azure key vault secret reference of accountKey in
         connection string.
        :type azureblobstorage_account_key: ~azure.mgmt.datafactory.models.AzureKeyVaultSecretReference
        :param azureblobstorage_sas_uri: SAS URI of the Azure Blob Storage resource. It is mutually
         exclusive with connectionString, serviceEndpoint property. Type: string, SecureString or
         AzureKeyVaultSecretReference.
        :type azureblobstorage_sas_uri: object
        :param azureblobstorage_sas_token: The Azure key vault secret reference of sasToken in sas uri.
        :type azureblobstorage_sas_token: ~azure.mgmt.datafactory.models.AzureKeyVaultSecretReference
        :param azureblobstorage_service_endpoint: Blob service endpoint of the Azure Blob Storage
         resource. It is mutually exclusive with connectionString, sasUri property.
        :type azureblobstorage_service_endpoint: str
        :param azureblobstorage_service_principal_id: The ID of the service principal used to
         authenticate against Azure SQL Data Warehouse. Type: string (or Expression with resultType
         string).
        :type azureblobstorage_service_principal_id: object
        :param azureblobstorage_service_principal_key: The key of the service principal used to
         authenticate against Azure SQL Data Warehouse.
        :type azureblobstorage_service_principal_key: ~azure.mgmt.datafactory.models.SecretBase
        :param azureblobstorage_tenant: The name or ID of the tenant to which the service principal
         belongs. Type: string (or Expression with resultType string).
        :type azureblobstorage_tenant: object
        :param azureblobstorage_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type azureblobstorage_encrypted_credential: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azureblobstorage_type, connect_via=azureblobstorage_connect_via, description=azureblobstorage_description, parameters=azureblobstorage_parameters, annotations=azureblobstorage_annotations, connection_string=azureblobstorage_connection_string, account_key=azureblobstorage_account_key, sas_uri=azureblobstorage_sas_uri, sas_token=azureblobstorage_sas_token, service_endpoint=azureblobstorage_service_endpoint, service_principal_id=azureblobstorage_service_principal_id, service_principal_key=azureblobstorage_service_principal_key, tenant=azureblobstorage_tenant, encrypted_credential=azureblobstorage_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azureblobstorage.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azureblobstorage.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azuredataexplorer(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azuredataexplorer_type,  # type: str
        azuredataexplorer_endpoint,  # type: object
        azuredataexplorer_service_principal_id,  # type: object
        azuredataexplorer_service_principal_key,  # type: "models.SecretBase"
        azuredataexplorer_database,  # type: object
        azuredataexplorer_tenant,  # type: object
        if_match=None,  # type: Optional[str]
        azuredataexplorer_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azuredataexplorer_description=None,  # type: Optional[str]
        azuredataexplorer_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuredataexplorer_annotations=None,  # type: Optional[List[object]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azuredataexplorer_type: Type of linked service.
        :type azuredataexplorer_type: str
        :param azuredataexplorer_endpoint: The endpoint of Azure Data Explorer (the engine's endpoint).
         URL will be in the format https://:code:`<clusterName>`.:code:`<regionName>`.kusto.windows.net.
         Type: string (or Expression with resultType string).
        :type azuredataexplorer_endpoint: object
        :param azuredataexplorer_service_principal_id: The ID of the service principal used to
         authenticate against Azure Data Explorer. Type: string (or Expression with resultType string).
        :type azuredataexplorer_service_principal_id: object
        :param azuredataexplorer_service_principal_key: The key of the service principal used to
         authenticate against Kusto.
        :type azuredataexplorer_service_principal_key: ~azure.mgmt.datafactory.models.SecretBase
        :param azuredataexplorer_database: Database name for connection. Type: string (or Expression
         with resultType string).
        :type azuredataexplorer_database: object
        :param azuredataexplorer_tenant: The name or ID of the tenant to which the service principal
         belongs. Type: string (or Expression with resultType string).
        :type azuredataexplorer_tenant: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuredataexplorer_connect_via: The integration runtime reference.
        :type azuredataexplorer_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azuredataexplorer_description: Linked service description.
        :type azuredataexplorer_description: str
        :param azuredataexplorer_parameters: Parameters for linked service.
        :type azuredataexplorer_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuredataexplorer_annotations: List of tags that can be used for describing the linked
         service.
        :type azuredataexplorer_annotations: list[object]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azuredataexplorer_type, connect_via=azuredataexplorer_connect_via, description=azuredataexplorer_description, parameters=azuredataexplorer_parameters, annotations=azuredataexplorer_annotations, endpoint=azuredataexplorer_endpoint, service_principal_id=azuredataexplorer_service_principal_id, service_principal_key=azuredataexplorer_service_principal_key, database=azuredataexplorer_database, tenant=azuredataexplorer_tenant)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuredataexplorer.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuredataexplorer.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azuredatalakeanalytics(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azuredatalakeanalytics_type,  # type: str
        azuredatalakeanalytics_account_name,  # type: object
        azuredatalakeanalytics_tenant,  # type: object
        if_match=None,  # type: Optional[str]
        azuredatalakeanalytics_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azuredatalakeanalytics_description=None,  # type: Optional[str]
        azuredatalakeanalytics_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuredatalakeanalytics_annotations=None,  # type: Optional[List[object]]
        azuredatalakeanalytics_service_principal_id=None,  # type: Optional[object]
        azuredatalakeanalytics_service_principal_key=None,  # type: Optional["models.SecretBase"]
        azuredatalakeanalytics_subscription_id=None,  # type: Optional[object]
        azuredatalakeanalytics_resource_group_name=None,  # type: Optional[object]
        azuredatalakeanalytics_data_lake_analytics_uri=None,  # type: Optional[object]
        azuredatalakeanalytics_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azuredatalakeanalytics_type: Type of linked service.
        :type azuredatalakeanalytics_type: str
        :param azuredatalakeanalytics_account_name: The Azure Data Lake Analytics account name. Type:
         string (or Expression with resultType string).
        :type azuredatalakeanalytics_account_name: object
        :param azuredatalakeanalytics_tenant: The name or ID of the tenant to which the service
         principal belongs. Type: string (or Expression with resultType string).
        :type azuredatalakeanalytics_tenant: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuredatalakeanalytics_connect_via: The integration runtime reference.
        :type azuredatalakeanalytics_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azuredatalakeanalytics_description: Linked service description.
        :type azuredatalakeanalytics_description: str
        :param azuredatalakeanalytics_parameters: Parameters for linked service.
        :type azuredatalakeanalytics_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuredatalakeanalytics_annotations: List of tags that can be used for describing the
         linked service.
        :type azuredatalakeanalytics_annotations: list[object]
        :param azuredatalakeanalytics_service_principal_id: The ID of the application used to
         authenticate against the Azure Data Lake Analytics account. Type: string (or Expression with
         resultType string).
        :type azuredatalakeanalytics_service_principal_id: object
        :param azuredatalakeanalytics_service_principal_key: The Key of the application used to
         authenticate against the Azure Data Lake Analytics account.
        :type azuredatalakeanalytics_service_principal_key: ~azure.mgmt.datafactory.models.SecretBase
        :param azuredatalakeanalytics_subscription_id: Data Lake Analytics account subscription ID (if
         different from Data Factory account). Type: string (or Expression with resultType string).
        :type azuredatalakeanalytics_subscription_id: object
        :param azuredatalakeanalytics_resource_group_name: Data Lake Analytics account resource group
         name (if different from Data Factory account). Type: string (or Expression with resultType
         string).
        :type azuredatalakeanalytics_resource_group_name: object
        :param azuredatalakeanalytics_data_lake_analytics_uri: Azure Data Lake Analytics URI Type:
         string (or Expression with resultType string).
        :type azuredatalakeanalytics_data_lake_analytics_uri: object
        :param azuredatalakeanalytics_encrypted_credential: The encrypted credential used for
         authentication. Credentials are encrypted using the integration runtime credential manager.
         Type: string (or Expression with resultType string).
        :type azuredatalakeanalytics_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azuredatalakeanalytics_type, connect_via=azuredatalakeanalytics_connect_via, description=azuredatalakeanalytics_description, parameters=azuredatalakeanalytics_parameters, annotations=azuredatalakeanalytics_annotations, account_name=azuredatalakeanalytics_account_name, service_principal_id=azuredatalakeanalytics_service_principal_id, service_principal_key=azuredatalakeanalytics_service_principal_key, tenant=azuredatalakeanalytics_tenant, subscription_id=azuredatalakeanalytics_subscription_id, resource_group_name=azuredatalakeanalytics_resource_group_name, data_lake_analytics_uri=azuredatalakeanalytics_data_lake_analytics_uri, encrypted_credential=azuredatalakeanalytics_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuredatalakeanalytics.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuredatalakeanalytics.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azuredatalakestore(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azuredatalakestore_type,  # type: str
        azuredatalakestore_data_lake_store_uri,  # type: object
        if_match=None,  # type: Optional[str]
        azuredatalakestore_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azuredatalakestore_description=None,  # type: Optional[str]
        azuredatalakestore_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuredatalakestore_annotations=None,  # type: Optional[List[object]]
        azuredatalakestore_service_principal_id=None,  # type: Optional[object]
        azuredatalakestore_service_principal_key=None,  # type: Optional["models.SecretBase"]
        azuredatalakestore_tenant=None,  # type: Optional[object]
        azuredatalakestore_account_name=None,  # type: Optional[object]
        azuredatalakestore_subscription_id=None,  # type: Optional[object]
        azuredatalakestore_resource_group_name=None,  # type: Optional[object]
        azuredatalakestore_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azuredatalakestore_type: Type of linked service.
        :type azuredatalakestore_type: str
        :param azuredatalakestore_data_lake_store_uri: Data Lake Store service URI. Type: string (or
         Expression with resultType string).
        :type azuredatalakestore_data_lake_store_uri: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuredatalakestore_connect_via: The integration runtime reference.
        :type azuredatalakestore_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azuredatalakestore_description: Linked service description.
        :type azuredatalakestore_description: str
        :param azuredatalakestore_parameters: Parameters for linked service.
        :type azuredatalakestore_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuredatalakestore_annotations: List of tags that can be used for describing the linked
         service.
        :type azuredatalakestore_annotations: list[object]
        :param azuredatalakestore_service_principal_id: The ID of the application used to authenticate
         against the Azure Data Lake Store account. Type: string (or Expression with resultType string).
        :type azuredatalakestore_service_principal_id: object
        :param azuredatalakestore_service_principal_key: The Key of the application used to
         authenticate against the Azure Data Lake Store account.
        :type azuredatalakestore_service_principal_key: ~azure.mgmt.datafactory.models.SecretBase
        :param azuredatalakestore_tenant: The name or ID of the tenant to which the service principal
         belongs. Type: string (or Expression with resultType string).
        :type azuredatalakestore_tenant: object
        :param azuredatalakestore_account_name: Data Lake Store account name. Type: string (or
         Expression with resultType string).
        :type azuredatalakestore_account_name: object
        :param azuredatalakestore_subscription_id: Data Lake Store account subscription ID (if
         different from Data Factory account). Type: string (or Expression with resultType string).
        :type azuredatalakestore_subscription_id: object
        :param azuredatalakestore_resource_group_name: Data Lake Store account resource group name (if
         different from Data Factory account). Type: string (or Expression with resultType string).
        :type azuredatalakestore_resource_group_name: object
        :param azuredatalakestore_encrypted_credential: The encrypted credential used for
         authentication. Credentials are encrypted using the integration runtime credential manager.
         Type: string (or Expression with resultType string).
        :type azuredatalakestore_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azuredatalakestore_type, connect_via=azuredatalakestore_connect_via, description=azuredatalakestore_description, parameters=azuredatalakestore_parameters, annotations=azuredatalakestore_annotations, data_lake_store_uri=azuredatalakestore_data_lake_store_uri, service_principal_id=azuredatalakestore_service_principal_id, service_principal_key=azuredatalakestore_service_principal_key, tenant=azuredatalakestore_tenant, account_name=azuredatalakestore_account_name, subscription_id=azuredatalakestore_subscription_id, resource_group_name=azuredatalakestore_resource_group_name, encrypted_credential=azuredatalakestore_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuredatalakestore.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuredatalakestore.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azuredatabricks(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azuredatabricks_type,  # type: str
        azuredatabricks_domain,  # type: object
        azuredatabricks_access_token,  # type: "models.SecretBase"
        if_match=None,  # type: Optional[str]
        azuredatabricks_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azuredatabricks_description=None,  # type: Optional[str]
        azuredatabricks_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azuredatabricks_annotations=None,  # type: Optional[List[object]]
        azuredatabricks_existing_cluster_id=None,  # type: Optional[object]
        azuredatabricks_instance_pool_id=None,  # type: Optional[object]
        azuredatabricks_new_cluster_version=None,  # type: Optional[object]
        azuredatabricks_new_cluster_num_of_worker=None,  # type: Optional[object]
        azuredatabricks_new_cluster_node_type=None,  # type: Optional[object]
        azuredatabricks_new_cluster_spark_conf=None,  # type: Optional[Dict[str, object]]
        azuredatabricks_new_cluster_spark_env_vars=None,  # type: Optional[Dict[str, object]]
        azuredatabricks_new_cluster_custom_tags=None,  # type: Optional[Dict[str, object]]
        azuredatabricks_new_cluster_driver_node_type=None,  # type: Optional[object]
        azuredatabricks_new_cluster_init_scripts=None,  # type: Optional[object]
        azuredatabricks_new_cluster_enable_elastic_disk=None,  # type: Optional[object]
        azuredatabricks_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azuredatabricks_type: Type of linked service.
        :type azuredatabricks_type: str
        :param azuredatabricks_domain: :code:`<REGION>`.azuredatabricks.net, domain name of your
         Databricks deployment. Type: string (or Expression with resultType string).
        :type azuredatabricks_domain: object
        :param azuredatabricks_access_token: Access token for databricks REST API. Refer to
         https://docs.azuredatabricks.net/api/latest/authentication.html. Type: string (or Expression
         with resultType string).
        :type azuredatabricks_access_token: ~azure.mgmt.datafactory.models.SecretBase
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azuredatabricks_connect_via: The integration runtime reference.
        :type azuredatabricks_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azuredatabricks_description: Linked service description.
        :type azuredatabricks_description: str
        :param azuredatabricks_parameters: Parameters for linked service.
        :type azuredatabricks_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azuredatabricks_annotations: List of tags that can be used for describing the linked
         service.
        :type azuredatabricks_annotations: list[object]
        :param azuredatabricks_existing_cluster_id: The id of an existing interactive cluster that will
         be used for all runs of this activity. Type: string (or Expression with resultType string).
        :type azuredatabricks_existing_cluster_id: object
        :param azuredatabricks_instance_pool_id: The id of an existing instance pool that will be used
         for all runs of this activity. Type: string (or Expression with resultType string).
        :type azuredatabricks_instance_pool_id: object
        :param azuredatabricks_new_cluster_version: If not using an existing interactive cluster, this
         specifies the Spark version of a new job cluster or instance pool nodes created for each run of
         this activity. Required if instancePoolId is specified. Type: string (or Expression with
         resultType string).
        :type azuredatabricks_new_cluster_version: object
        :param azuredatabricks_new_cluster_num_of_worker: If not using an existing interactive cluster,
         this specifies the number of worker nodes to use for the new job cluster or instance pool. For
         new job clusters, this a string-formatted Int32, like '1' means numOfWorker is 1 or '1:10'
         means auto-scale from 1 (min) to 10 (max). For instance pools, this is a string-formatted
         Int32, and can only specify a fixed number of worker nodes, such as '2'. Required if
         newClusterVersion is specified. Type: string (or Expression with resultType string).
        :type azuredatabricks_new_cluster_num_of_worker: object
        :param azuredatabricks_new_cluster_node_type: The node type of the new job cluster. This
         property is required if newClusterVersion is specified and instancePoolId is not specified. If
         instancePoolId is specified, this property is ignored. Type: string (or Expression with
         resultType string).
        :type azuredatabricks_new_cluster_node_type: object
        :param azuredatabricks_new_cluster_spark_conf: A set of optional, user-specified Spark
         configuration key-value pairs.
        :type azuredatabricks_new_cluster_spark_conf: dict[str, object]
        :param azuredatabricks_new_cluster_spark_env_vars: A set of optional, user-specified Spark
         environment variables key-value pairs.
        :type azuredatabricks_new_cluster_spark_env_vars: dict[str, object]
        :param azuredatabricks_new_cluster_custom_tags: Additional tags for cluster resources. This
         property is ignored in instance pool configurations.
        :type azuredatabricks_new_cluster_custom_tags: dict[str, object]
        :param azuredatabricks_new_cluster_driver_node_type: The driver node type for the new job
         cluster. This property is ignored in instance pool configurations. Type: string (or Expression
         with resultType string).
        :type azuredatabricks_new_cluster_driver_node_type: object
        :param azuredatabricks_new_cluster_init_scripts: User-defined initialization scripts for the
         new cluster. Type: array of strings (or Expression with resultType array of strings).
        :type azuredatabricks_new_cluster_init_scripts: object
        :param azuredatabricks_new_cluster_enable_elastic_disk: Enable the elastic disk on the new
         cluster. This property is now ignored, and takes the default elastic disk behavior in
         Databricks (elastic disks are always enabled). Type: boolean (or Expression with resultType
         boolean).
        :type azuredatabricks_new_cluster_enable_elastic_disk: object
        :param azuredatabricks_encrypted_credential: The encrypted credential used for authentication.
         Credentials are encrypted using the integration runtime credential manager. Type: string (or
         Expression with resultType string).
        :type azuredatabricks_encrypted_credential: object
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: LinkedServiceResource or the result of cls(response)
        :rtype: ~azure.mgmt.datafactory.models.LinkedServiceResource
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.LinkedServiceResource"]
        error_map = kwargs.pop('error_map', {404: ResourceNotFoundError, 409: ResourceExistsError})

        _linked_service = models.LinkedServiceResource(properties=properties, type=azuredatabricks_type, connect_via=azuredatabricks_connect_via, description=azuredatabricks_description, parameters=azuredatabricks_parameters, annotations=azuredatabricks_annotations, domain=azuredatabricks_domain, access_token=azuredatabricks_access_token, existing_cluster_id=azuredatabricks_existing_cluster_id, instance_pool_id=azuredatabricks_instance_pool_id, new_cluster_version=azuredatabricks_new_cluster_version, new_cluster_num_of_worker=azuredatabricks_new_cluster_num_of_worker, new_cluster_node_type=azuredatabricks_new_cluster_node_type, new_cluster_spark_conf=azuredatabricks_new_cluster_spark_conf, new_cluster_spark_env_vars=azuredatabricks_new_cluster_spark_env_vars, new_cluster_custom_tags=azuredatabricks_new_cluster_custom_tags, new_cluster_driver_node_type=azuredatabricks_new_cluster_driver_node_type, new_cluster_init_scripts=azuredatabricks_new_cluster_init_scripts, new_cluster_enable_elastic_disk=azuredatabricks_new_cluster_enable_elastic_disk, encrypted_credential=azuredatabricks_encrypted_credential)
        api_version = "2018-06-01"
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_or_update_azuredatabricks.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("self._config.subscription_id", self._config.subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$'),
            'factoryName': self._serialize.url("factory_name", factory_name, 'str', max_length=63, min_length=3, pattern=r'^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$'),
            'linkedServiceName': self._serialize.url("linked_service_name", linked_service_name, 'str', max_length=260, min_length=1, pattern=r'^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_linked_service, 'LinkedServiceResource')
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize('LinkedServiceResource', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update_azuredatabricks.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}'}

    def create_or_update_azurefilestorage(
        self,
        resource_group_name,  # type: str
        factory_name,  # type: str
        linked_service_name,  # type: str
        azurefilestorage_type,  # type: str
        azurefilestorage_host,  # type: object
        if_match=None,  # type: Optional[str]
        azurefilestorage_connect_via=None,  # type: Optional["models.IntegrationRuntimeReference"]
        azurefilestorage_description=None,  # type: Optional[str]
        azurefilestorage_parameters=None,  # type: Optional[Dict[str, "ParameterSpecification"]]
        azurefilestorage_annotations=None,  # type: Optional[List[object]]
        azurefilestorage_user_id=None,  # type: Optional[object]
        azurefilestorage_password=None,  # type: Optional["models.SecretBase"]
        azurefilestorage_encrypted_credential=None,  # type: Optional[object]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.LinkedServiceResource"
        """Creates or updates a linked service.

        :param resource_group_name: The resource group name.
        :type resource_group_name: str
        :param factory_name: The factory name.
        :type factory_name: str
        :param linked_service_name: The linked service name.
        :type linked_service_name: str
        :param azurefilestorage_type: Type of linked service.
        :type azurefilestorage_type: str
        :param azurefilestorage_host: Host name of the server. Type: string (or Expression with
         resultType string).
        :type azurefilestorage_host: object
        :param if_match: ETag of the linkedService entity.  Should only be specified for update, for
         which it should match existing entity or can be * for unconditional update.
        :type if_match: str
        :param azurefilestorage_connect_via: The integration runtime reference.
        :type azurefilestorage_connect_via: ~azure.mgmt.datafactory.models.IntegrationRuntimeReference
        :param azurefilestorage_description: Linked service description.
        :type azurefilestorage_description: str
        :param azurefilestorage_parameters: Parameters for linked service.
        :type azurefilestorage_parameters: dict[str, ~azure.mgmt.datafactory.models.ParameterSpecification]
        :param azurefilestorage_annotations: List of tags that can be used for describing the linked
         service.
        :type azurefilestorage_annotations: list[object]
        :param azurefilestorage_user_id: User ID to logon the server. Type: string (or Expression with
         resultType string).
        :type azurefilestorage_user_id: object
        :param azurefilestorage_password: Password to logon the server.
        :type azurefilestorage_password: ~azure.mgmt.datafactory.models.SecretBase
        :param azurefilestorage_encrypted_credential: The encrypted credential used for authentication.
[...]
