interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-04-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-05-20T08:34:47.0383897Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-05-20T08:34:47.0383897Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 May 2021 08:35:34 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91B6A3DF9CD8C"'
      last-modified:
      - Thu, 20 May 2021 08:35:36 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 20 May 2021 08:35:37 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91B6A3EAFF4F4"'
      last-modified:
      - Thu, 20 May 2021 08:35:38 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 May 2021 08:35:38 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91B6A3EAFF4F4"'
      last-modified:
      - Thu, 20 May 2021 08:35:38 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2021-05-20T08:35:39.3836610Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-copy-source:
      - https://clitest52nl74itsvw6o4u5u.blob.core.windows.net/contbsiidcqtqmyk7liij3d5/src?se=2021-05-21T08%3A35%3A43Z&sp=r&spr=https&sv=2018-11-09&sr=b&sig=nkUjYA%2BzQRcaGr1YPW6ufX8LJOQlFAblqlRWtuqBMAE%3D&snapshot=2021-05-20T08:35:39.3836610Z
      x-ms-date:
      - Thu, 20 May 2021 08:35:43 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91B6A426E4FD0"'
      last-modified:
      - Thu, 20 May 2021 08:35:44 GMT
      x-ms-copy-id:
      - 7b54cc6b-608d-48c5-a7cc-2968092a2d35
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
