interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/blobtag000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:32:14 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B1679898E1F"'
      last-modified:
      - Thu, 17 Sep 2020 14:32:15 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:32:49 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?maxresults=5000&include=tags&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000005</Name><Properties><Creation-Time>Thu,
        17 Sep 2020 14:32:19 GMT</Creation-Time><Last-Modified>Thu, 17 Sep 2020 14:32:19
        GMT</Last-Modified><Etag>0x8D85B167BBE58CE</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>2</TagCount></Properties><Tags><TagSet><Tag><Key>category</Key><Value>test</Value></Tag><Tag><Key>date</Key><Value>2020-01-01</Value></Tag></TagSet></Tags><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:32:51 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>category</Key><Value>test</Value></Tag><Tag><Key>date</Key><Value>2020-01-01</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://blobtag6w6352qmk5hq3rsdq.blob.core.windows.net/cont17h4ybqbiltp64wyxxpy/blobcbwun5afz66optbrvduk?
      x-ms-date:
      - Thu, 17 Sep 2020 14:32:52 GMT
      x-ms-tags:
      - number=1
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont2000004/blob000006
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B16903EF326"'
      last-modified:
      - Thu, 17 Sep 2020 14:32:54 GMT
      x-ms-copy-id:
      - 5e116a9c-9e82-41a8-8115-b9d360746df9
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:00 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/?where=test%3D%27tag%27&comp=blobs
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\"><Where>test=&apos;tag&apos;</Where><Blobs><Blob><Name>blob000005</Name><ContainerName>cont1000003</ContainerName><TagValue>tag</TagValue></Blob></Blobs><NextMarker/></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://blobtag6w6352qmk5hq3rsdq.blob.core.windows.net/cont17h4ybqbiltp64wyxxpy/blobcbwun5afz66optbrvduk?
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:02 GMT
      x-ms-source-if-tags:
      - test='tag'
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont2000004/blob000006
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B1695F3F0CD"'
      last-modified:
      - Thu, 17 Sep 2020 14:33:03 GMT
      x-ms-copy-id:
      - f97d80e4-4ea7-4301-b43f-7f01d6c02a48
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:06 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-meta-a:
      - b
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B169839DD15"'
      last-modified:
      - Thu, 17 Sep 2020 14:33:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:07 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D85B169839DD15"'
      last-modified:
      - Thu, 17 Sep 2020 14:33:07 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 17 Sep 2020 14:32:19 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-a:
      - b
      x-ms-server-encrypted:
      - 'true'
      x-ms-tag-count:
      - '2'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:09 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '60'
      x-ms-proposed-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B169839DD15"'
      last-modified:
      - Thu, 17 Sep 2020 14:33:07 GMT
      x-ms-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:18 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-lease-action:
      - break
      x-ms-lease-break-period:
      - '30'
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B169839DD15"'
      last-modified:
      - Thu, 17 Sep 2020 14:33:07 GMT
      x-ms-lease-time:
      - '30'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Hot
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:24 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:25 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85B169839DD15"'
      last-modified:
      - Thu, 17 Sep 2020 14:33:07 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2020-09-17T14:33:26.7368411Z'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:30 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000005</Name><Properties><Creation-Time>Thu,
        17 Sep 2020 14:32:19 GMT</Creation-Time><Last-Modified>Thu, 17 Sep 2020 14:33:07
        GMT</Last-Modified><Etag>0x8D85B169839DD15</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Thu,
        17 Sep 2020 14:33:25 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>2</TagCount></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:31 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?maxresults=5000&include=snapshots&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000005</Name><Snapshot>2020-09-17T14:33:26.7368411Z</Snapshot><Properties><Creation-Time>Thu,
        17 Sep 2020 14:32:19 GMT</Creation-Time><Last-Modified>Thu, 17 Sep 2020 14:33:07
        GMT</Last-Modified><Etag>0x8D85B169839DD15</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobTy[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:33 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?snapshot=2020-09-17T14:33:26.7368411Z
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 14:33:37 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
version: 1
