interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:17 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85ABAFB1F832F"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:19 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D85ABAFDD342C8"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '131072'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:27 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85ABB0066C06B"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:28 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:28 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D85ABB0066C06B"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:28 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Thu, 17 Sep 2020 03:37:28 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:30 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D85ABB0066C06B"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:28 GMT
      x-ms-blob-content-length:
      - '131072'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:30 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85ABAFDD342C8"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2020-09-17T03:37:31.6195187Z'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '0x8D85ABAFDD342C8'
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:33 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D85ABAFDD342C8"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-None-Match:
      - '0x8D85ABAFDD342C8'
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:36 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 304
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:39 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-date:
      - Thu, 17 Sep 2020 03:37:40 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D85ABAFDD342C8"'
      last-modified:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 17 Sep 2020 03:37:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
version: 1
