interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:03:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE187B484D"'
      last-modified:
      - Fri, 15 Apr 2022 07:03:51 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:26 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>category</Key><Value>test</Value></Tag><Tag><Key>date</Key><Value>2020-01-01</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://blobtagdaa3aoxzxl35q3yor.blob.core.windows.net/cont1tqwt7jvatx4kaknw4e3/blobiwfqdat76xcbqjw4p2vq
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:28 GMT
      x-ms-tags:
      - number=1
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont2000004/blob000006
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE2F149B73"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:28 GMT
      x-ms-copy-id:
      - d4ccb196-da9a-411d-a0ae-dd16c1a1780a
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2021-04-10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <Tags><TagSet><Tag><Key>test</Key><Value>tag</Value></Tag></TagSet></Tags>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:31 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=tags
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:35 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/?comp=blobs&where=test%3D%27tag%27
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\"><Where>test=&apos;tag&apos;</Where><Blobs><Blob><Name>blob000005</Name><ContainerName>cont1000003</ContainerName><Tags><TagSet><Tag><Key>test</Key><Value>tag</Value></Tag></TagSet></Tags></Blob></Blobs><NextMarker/></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://blobtagdaa3aoxzxl35q3yor.blob.core.windows.net/cont1tqwt7jvatx4kaknw4e3/blobiwfqdat76xcbqjw4p2vq
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:38 GMT
      x-ms-source-if-tags:
      - test='tag'
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont2000004/blob000006
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE351A21C0"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:39 GMT
      x-ms-copy-id:
      - 74ba2349-2861-44ac-bd51-b9c82ed69a25
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2021-04-10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:43 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-meta-a:
      - b
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE380EDD17"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:43 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:44 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA1EAE380EDD17"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:43 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 15 Apr 2022 07:03:55 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-a:
      - b
      x-ms-server-encrypted:
      - 'true'
      x-ms-tag-count:
      - '2'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:46 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '60'
      x-ms-proposed-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE380EDD17"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:43 GMT
      x-ms-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:04:58 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-lease-action:
      - break
      x-ms-lease-break-period:
      - '30'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE380EDD17"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:43 GMT
      x-ms-lease-time:
      - '30'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Hot
      x-ms-date:
      - Fri, 15 Apr 2022 07:05:05 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:05:07 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1EAE380EDD17"'
      last-modified:
      - Fri, 15 Apr 2022 07:04:43 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2022-04-15T07:05:08.0757263Z'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:05:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?restype=container&comp=list&maxresults=5000&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000005</Name><Properties><Creation-Time>Fri,
        15 Apr 2022 07:03:55 GMT</Creation-Time><Last-Modified>Fri, 15 Apr 2022 07:04:43
        GMT</Last-Modified><Etag>0x8DA1EAE380EDD17</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Fri,
        15 Apr 2022 07:05:06 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><a>b</a></Metadata></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:05:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?restype=container&comp=list&maxresults=5000&include=snapshots
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000005</Name><Snapshot>2022-04-15T07:05:08.0757263Z</Snapshot><Properties><Creation-Time>Fri,
        15 Apr 2022 07:03:55 GMT</Creation-Time><Last-Modified>Fri, 15 Apr 2022 07:04:43
        GMT</Last-Modified><Etag>0x8DA1EAE380EDD17</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobTy[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:05:16 GMT
      x-ms-if-tags:
      - category='test'
      x-ms-version:
      - '2020-10-02'
    method: DELETE
    uri: https://blobtag000002.blob.core.windows.net/cont1000003/blob000005?snapshot=2022-04-15T07:05:08.0757263Z
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Apr 2022 07:05:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobtag000002.blob.core.windows.net/cont1000003?restype=container&comp=list&maxresults=5000&include=metadata%2Ccopy
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobtag000002.blob.core.windows.net/\" ContainerName=\"cont1000003\"><MaxResults>5000</MaxResults><Blobs
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
