interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"cors": {"corsRules": []}, "deleteRetentionPolicy": {"enabled":
      false, "allowPermanentDelete": false}, "isVersioningEnabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false},"isVersioningEnabled":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-01-12T07:35:29.2875202Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-01-12T07:35:29.2875202Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:35:58 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://version000002.blob.core.windows.net/con000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAF46FA68DC258"'
      last-modified:
      - Thu, 12 Jan 2023 07:35:59 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:01 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://version000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=versions
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://version000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000004</Name><Properties><Creation-Time>Thu,
        12 Jan 2023 07:36:01 GMT</Creation-Time><Last-Modified>Thu, 12 Jan 2023 07:36:01
        GMT</Last-Modified><Etag>0x8DAF46FA7864A7B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:14 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://version000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=versions
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://version000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000004</Name><VersionId>2023-01-12T07:36:01.5489659Z</VersionId><Properties><Creation-Time>Thu,
        12 Jan 2023 07:36:01 GMT</Creation-Time><Last-Modified>Thu, 12 Jan 2023 07:36:01
        GMT</Last-Modified><Etag>0x8DAF46FA7864A7B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>blob000004</Name><VersionId>2023-01-12T07:36:14.7314880Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu,
        12 Jan 2023 07:36:14 GMT</Creation-Time><Last-Modified>Thu, 12 Jan 2023 07:36:14
        GMT</Last-Modified><Etag>0x8DAF46FAF61A1B0</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:18 GMT
      x-ms-version:
      - '2021-04-10'
    method: HEAD
    uri: https://version000002.blob.core.windows.net/con000003/blob000004?versionid=2023-01-12T07%3A36%3A01.5489659Z
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DzQ7CTESaiDxM9Z8KwGKOw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DAF46FA7864A7B"'
      last-modified:
      - Thu, 12 Jan 2023 07:36:01 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 12 Jan 2023 07:36:01 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
      x-ms-version-id:
      - '2023-01-12T07:36:01.5489659Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:19 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://version000002.blob.core.windows.net/con000003/blob000004?versionid=2023-01-12T07%3A36%3A01.5489659Z
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:21 GMT
      x-ms-version:
      - '2021-04-10'
    method: HEAD
    uri: https://version000002.blob.core.windows.net/con000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - yZp0xVU3GkM9Eh9VHWxjmA==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DAF46FB146E411"'
      last-modified:
      - Thu, 12 Jan 2023 07:36:17 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 12 Jan 2023 07:36:17 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
      x-ms-version-id:
      - '2023-01-12T07:36:17.9126829Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Cool
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:21 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://version000002.blob.core.windows.net/con000003/blob000004?comp=tier&versionid=2023-01-12T07%3A36%3A01.5489659Z
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:23 GMT
      x-ms-version:
      - '2021-04-10'
    method: HEAD
    uri: https://version000002.blob.core.windows.net/con000003/blob000004?versionid=2023-01-12T07%3A36%3A01.5489659Z
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DzQ7CTESaiDxM9Z8KwGKOw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DAF46FA7864A7B"'
      last-modified:
      - Thu, 12 Jan 2023 07:36:01 GMT
      x-ms-access-tier:
      - Cool
      x-ms-access-tier-change-time:
      - Thu, 12 Jan 2023 07:36:23 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 12 Jan 2023 07:36:01 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
      x-ms-version-id:
      - '2023-01-12T07:36:01.5489659Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:25 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://version000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=versions
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://version000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000004</Name><VersionId>2023-01-12T07:36:01.5489659Z</VersionId><Properties><Creation-Time>Thu,
        12 Jan 2023 07:36:01 GMT</Creation-Time><Last-Modified>Thu, 12 Jan 2023 07:36:01
        GMT</Last-Modified><Etag>0x8DAF46FA7864A7B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Cool</AccessTier><AccessTierChangeTime>Thu,
        12 Jan 2023 07:36:23 GMT</AccessTierChangeTime><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>blob000004</Name><VersionId>2023-01-12T07:36:14.7314880Z</VersionId><Properties><Creation-Time>Thu,
        12 Jan 2023 07:36:14 GMT</Creation-Time><Last-Modified>Thu, 12 Jan 2023 07:36:14
        GMT</Last-Modified><Etag>0x8DAF46FAF61A1B0</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-En[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Jan 2023 07:36:26 GMT
      x-ms-version:
      - '2021-04-10'
    method: DELETE
    uri: https://version000002.blob.core.windows.net/con000003/blob000004?versionid=2023-01-12T07%3A36%3A01.5489659Z
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 202
      message: Accepted
[...]
