interactions:
- request:
    body: '{"location": "eastus2euap", "name": "ArcoCreatedWithCLIExtensionTest",
      "properties": {"description": "Test Arco created using cli extension test",
      "targetLocations": [{"name": "eastus2euap"}, {"name": "centraluseuap"}, {"name":
      "westcentralus"}, {"name": "westus"}], "vmArtifactsProfiles": [{"artifactProfiles":
      [{"description": "Using a SIG Image for testing", "imageReference": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/robhoopa_validate_arco_changes/providers/Microsoft.Compute/galleries/ArcoBugBashGallery1/images/Windows2022Gen2ImageGeneralized1",
      "initialVersion": "0.0.1"}}], "description": "VM Artifact profile with default
      upgrade window", "name": "vmArtifactsProfile", "upgradeSdpPolicy": {"schedulingPolicy":
      {"disableRegularUpgrades": false, "maxConcurrentResourceCountPerRegion": 5,
      "upgradeWindow": "Default"}, "type": "PlatformOrchestratedForNewAndExistingResources"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoCreatedWithCLIExtensionTest?api-version=2023-07-03
  response:
    body:
      string: "{\r\n  \"name\": \"ArcoCreatedWithCLIExtensionTest\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoCreatedWithCLIExtensionTest\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries/serviceArtifacts\",\r\n  \"\
        location\": \"EastUS2EUAP\",\r\n  \"properties\": {\r\n    \"description\"\
        : \"Test Arco created using cli exte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/138ea388-cca0-4293-b0eb-2256737bfbdd?api-version=2023-07-03&t=638477184969112956&c=MIIHHjCCBgagAwIBAgITOgKYXReW2dAHAh_AzAAEAphdFzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTYzMjI4WhcNMjUwMTI2MTYzMjI4WjBAMT4w[...]
[...]
