interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts?api-version=2023-07-03
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ArcoAzExt_ccejofajpn35y5\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoAzExt_ccejofajpn35y5\"\
        ,\r\n      \"type\": \"Microsoft.Compute/galleries/serviceArtifacts\",\r\n\
        \      \"location\": \"EastUS2EUAP\",\r\n      \"properties\": {\r\n     \
        \   \"description\": \"Test Arco created using cli\",\r\n        \"targetLocations\"\
        : [\r\n          {\r\n            \"name\": \"eastus2euap\"\r\n          },\r\
        \n          {\r\n            \"name\": \"centraluseuap\"\r\n          },\r\
        \n          {\r\n            \"name\": \"westcentralus\"\r\n          },\r\
        \n          {\r\n            \"name\": \"westus\"\r\n          }\r\n     \
        \   ],\r\n        \"vmArtifactsProfiles\": [\r\n          {\r\n          \
        \  \"name\": \"vmArtifactsProfile\",\r\n            \"description\": \"VM\
        \ Artifact profile with default upgrade window\",\r\n            \"artifactProfiles\"\
        : [\r\n              {\r\n                \"description\": \"Using a SIG Image\
        \ for testing\",\r\n                \"imageReference\": {\r\n            \
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/robhoopa_validate_arco_changes/providers/Microsoft.Compute/galleries/ArcoBugBashGallery1/images/Windows2022Gen2ImageGeneralized1\"\
        ,\r\n                  \"initialVersion\": \"0.0.1\"\r\n                }\r\
        \n              }\r\n            ],\r\n            \"upgradeSdpPolicy\": {\r\
        \n              \"type\": \"PlatformOrchestratedForNewAndExistingResources\"\
        ,\r\n              \"schedulingPolicy\": {\r\n                \"disableRegularUpgrades\"\
        : false,\r\n                \"upgradeWindow\": \"Default\",\r\n          \
        \      \"maxConcurrentResourceCountPerRegion\": 5\r\n              }\r\n \
        \           }\r\n          }\r\n        ],\r\n        \"provisioningState\"\
        : \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"ArcoAzExt_dqnuxohsbp7aiq\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoAzExt_dqnuxohsbp7aiq\"\
        ,\r\n      \"type\": \"Microsoft.Compute/galleri[...]
