interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoCreatedWithCLIExtensionTest?api-version=2023-07-03
  response:
    body:
      string: "{\r\n  \"name\": \"ArcoCreatedWithCLIExtensionTest\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoCreatedWithCLIExtensionTest\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries/serviceArtifacts\",\r\n  \"\
        location\": \"EastUS2EUAP\",\r\n  \"properties\": {\r\n    \"description\"\
        : \"Test Arco created using cli extension test\",\r\n    \"targetLocations\"\
        : [\r\n      {\r\n        \"name\": \"eastus2euap\"\r\n      },\r\n      {\r\
        \n        \"name\": \"centraluseuap\"\r\n      },\r\n      {\r\n        \"\
        name\": \"westcentralus\"\r\n      },\r\n      {\r\n        \"name\": \"westus\"\
        \r\n      }\r\n    ],\r\n    \"vmArtifactsProfiles\": [\r\n      {\r\n   \
        \     \"name\": \"vmArtifactsProfile\",\r\n        \"description\": \"VM Artifact\
        \ profile with default upgrade window\",\r\n        \"artifactProfiles\":\
        \ [\r\n          {\r\n            \"description\": \"Using a SIG Image for\
        \ testing\",\r\n            \"imageReference\": {\r\n              \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/robhoopa_validate_arco_changes/providers/Microsoft.Compute/galleries/ArcoBugBashGallery1/images/Windows2022Gen2ImageGeneralized1\"\
        ,\r\n              \"initialVersion\": \"0.0.1\"\r\n            }\r\n    \
        \      }\r\n        ],\r\n        \"upgradeSdpPolicy\": {\r\n          \"\
        type\": \"PlatformOrchestratedForNewAndExistingResources\",\r\n          \"\
        schedulingPolicy\": {\r\n            \"disableRegularUpgrades\": false,\r\n\
        \            \"upgradeWindow\": \"Default\",\r\n            \"maxConcurrentResourceCountPerRegion\"\
        : 5\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"provisioningState\"\
        : \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetServiceArtifact3Min;325,Microsoft.Compute/GetServiceArtifact30Min;2439
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoCreatedWithCLIExtensionTest",
      "location": "eastus2euap", "name": "ArcoCreatedWithCLIExtensionTest", "properties":
      {"description": "Test Arco updated using cli extension test", "targetLocations":
      [{"name": "eastus2euap"}, {"name": "centraluseuap"}, {"name": "westcentralus"},
      {"name": "westus"}], "vmArtifactsProfiles": [{"artifactProfiles": [{"description":
      "Using a SIG Image for testing", "imageReference": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/robhoopa_validate_arco_changes/providers/Microsoft.Compute/galleries/ArcoBugBashGallery1/images/Windows2022Gen2ImageGeneralized1",
      "initialVersion": "0.0.1"}}], "description": "VM Artifact profile with default
      upgrade window", "name": "vmArtifactsProfile", "upgradeSdpPolicy": {"schedulingPolicy":
      {"disableRegularUpgrades": false, "maxConcurrentResourceCountPerRegion": 5,
      "upgradeWindow": "Default"}, "type": "PlatformOrchestratedForNewAndExistingResources"}}]},
      "type": "Microsoft.Compute/galleries/serviceArtifacts"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extension_test_rg/providers/Microsoft.Compute/galleries/cli_extension_test_gallery/serviceArtifacts/ArcoCreatedWithCLIExtensionTest?api-version=2023-07-03
  response:
    body:
      string: "{\r\n  \"name\": \"ArcoCreatedWithCLIExtensionTest\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_extensi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/b7005589-2862-4399-8acf-e4e11c01f1d7?api-version=2023-07-03&t=638477163105710974&c=MIIHHjCCBgagAwIBAgITOgKYXReW2dAHAh_AzAAEAphdFzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTYzMjI4WhcNMjUwMTI2MTYzMjI4WjBAMT4w[...]
[...]
