interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/santosh-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/santosh-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/testntw001","name":"testntw001","type":"microsoft.connectedvmwarevsphere/virtualnetworks","location":"eastus2euap","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/santosh-rg/providers/microsoft.extendedlocation/customlocations/santosh-test-cl-onperm"},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2021-04-23T19:16:26.6574315Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2021-04-23T19:16:37.9491519Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/santosh-rg/providers/Microsoft.ConnectedVmwarevSphere/VCenters/santosh-test-vcenter-onperm/InventoryItems/dvportgroup-3195","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/santosh-rg/providers/Microsoft.ConnectedVmwarevSphere/VCenters/santosh-test-vcenter-onperm","moRefId":"dvportgroup-3195","provisioningState":"Succeeded","customResourceName":"41a8b474-5fa1-43e0-8a83-60eead19ebc6","uuid":"41a8b474-5fa1-43e0-8a83-60eead19ebc6","moName":"DSwitch-testsubb-DVUplinks-3194"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
version: 1
