interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-contoso-vc?api-version=2023-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-contoso-vc","name":"azcli-contoso-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-10-11T03:51:06.8999356Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-11T03:51:06.8999356Z"},"properties":{"credentials":{"username":"arcvmware"},"fqdn":"idclab-vcen67.fareast.corp.microsoft.com","provisioningState":"Succeeded","uuid":"9db2c7ea-df7d-4a96-9aa7-8972f4f12ae7","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2023-10-11T03:51:26Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-10-11T03:51:33.8377634Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-10-11T03:51:33.8377634Z"}],"customResourceName":"9db2c7ea-df7d-4a96-9aa7-8972f4f12ae7","version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","connectionStatus":"Connected"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fa0167ac-0000-0100-0000-65261bc60000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-contoso-vc","name":"azcli-contoso-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-10-11T03:51:06.8999356Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-11T03:51:06.8999356Z"},"properties":{"credentials":{"username":"arcvmware"},"fqdn":"idclab-vcen67.fareast.corp.microsoft.com","provisioningState":"Succeeded","uuid":"9db2c7ea-df7d-4a96-9aa7-8972f4f12ae7","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2023-10-11T03:51:26Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-10-11T03:51:33.8377634Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-10-11T03:51:33.8377634Z"}],"customResourceName":"9db2c7ea-df7d-4a96-9aa7-8972f4f12ae7","version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","connectionStatus":"Connected"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - b6e08c7a-a401-43de-9693-41d041987302
      - d72f2e7c-25c5-4bb1-b737-414edd047a2b
      - 2768a751-c6da-4749-970c-f8e9e1385d05
      - 55d00bd6-05a4-4110-8ee6-caa9422b9aaa
      - 253e057c-c347-422f-8e67-7dc2123f675b
      - f70fb3f1-2284-41bc-a4b9-576040fb5020
      - 96945b08-7f31-4989-92f4-31eda243f93b
      - 0c090cd3-42a1-489d-a5c0-47516de7babd
      - 00493f94-76ab-4227-b763-26e0d055e56a
      - 508e5843-231d-444d-bcda-287ca81fbe2d
      - 22f4688c-a445-4ff1-833e-48f3cfc4997f
      - 128e1a30-9604-4451-bc3c-9435ac4c2b38
      - 12b22298-780e-4267-b08e-24f6391ee424
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/resgroup-724471"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-contoso-resource-pool?api-version=2023-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-contoso-resource-pool","name":"azcli-contoso-resource-pool","type":"microsoft.connectedvmwarevsphere/resourcepools","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},"systemData":{"createdBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","createdByType":"Application","createdAt":"2023-10-11T03:56:33.7350534Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-10-11T03:56:33.7350534Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/resgroup-724471","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc","provisioningState":"Accepted"}}'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview, 2023-03-01-preview,
        2023-10-01
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7d99407b-3765-4c91-aa50-bf8b3f9a3e56*3CB8CFC95A0F48568F39A2D3FED340C2F934D75457CE20530F3835B5420CCA6E?api-version=2023-10-01&t=638325933956004785&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0WhcNMjQwNzI3MTQyMzE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7d99407b-3765-4c91-aa50-bf8b3f9a3e56*3CB8CFC95A0F48568F39A2D3FED340C2F934D75457CE20530F3835B5420CCA6E?api-version=2023-10-01&t=638325933956004785&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-contoso-resource-pool","name":"azcli-contos[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/domain-c649660"}}'
    head[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/3c6726bf-24c0-4b69-8a50-9c138ac42208*4611D758736CBA4A24AB62ACF5C477237D4EB2A1F3F556EF216873AF9DD970FF?api-version=2023-10-01&t=638325934327247533&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-contoso-cluster","name":"azcli-contoso-cluster","type[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/datastore-563660"}}'
    he[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b92d97d4-c7d1-4f40-a6e4-def55bd7cdad*DCAEE545692B8708BAD0B4A3B1FA2763446DDFA9DD7950B520257B29F5485B8F?api-version=2023-10-01&t=638325934699123783&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores/azcli-contoso-datastore","name":"azcli-contoso-datastor[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/host-1147546"}}'
    header[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/f41a685e-2340-4e72-9638-2518d1973ce8*B6B12F02A5B44A83531D59AF12EA275967805DF58AFE1BD2C3EF88B63269A5FF?api-version=2023-10-01&t=638325935102080852&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts/azcli-contoso-host","name":"azcli-contoso-host","type":"microsoft[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/network-563661"}}'
    head[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/864ecf57-d825-404e-973a-8d064dcae5fc*284B5F599B45DC7274674AE16146718C8546121431B8AFA971A8E0766315D2AE?api-version=2023-10-01&t=638325935484934576&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/azcli-contoso-virtual-network","name":"azcli-[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc/InventoryItems/vmtpl-vm-1184288"}}'
    he[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/c368c361-0022-4638-ae7d-f5c563441adf*38500670D220FFA134E3706158178652BBF41E1067CC08A3A2975C28B7185B00?api-version=2023-10-01&t=638325935864840804&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates?api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-contoso-vm-template","n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-contoso-vc/inventoryItems/resgroup-724471?api-version=2023-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-contoso-vc/InventoryItems/resgroup-724471","name":"resgroup-724471","type":"microsoft.connectedvmwarevsphere/vcenters/inventoryitems","kind":"ResourcePool","systemData":{"createdBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","createdByType":"Application","createdAt":"2023-10-11T03:52:58.6530854Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2023-10-11T03:56:51.3953744Z"},"properties":{"parent":{"moName":"Resources","inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-contoso-vc/InventoryItems/resgroup-649661","inventoryType":"ResourcePool"},"inventoryType":"ResourcePool","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-contoso-resource-pool","moRefId":"resgroup-724471","moName":"azcli-test-rp","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"50035c04-0000-0100-0000-65261d030000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-contoso-vc","name":"azcli-contoso-vc",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.HybridCompute/machines/azcli-contoso-vm-0''
        under resource group ''azcli-contoso-rg'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "kind": "VMware"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0","name":"azcli-contoso-vm-0","location":"eastus","kind":"VMware","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Creating","osProfile":{},"vmId":"f93bb4e7-9160-4a57-a592-922e10771ef7","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"extendedLocation": {"type": "CustomLocation", "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},
      "properties": {"placementProfile": {"resourcePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/resourcePools/azcli-contoso-resource-pool"},
      "infrastructureProfile": {"templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-contoso-vm-template",
      "vCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/5a363c37-0320-495d-96ec-fb9ff2821caa*3BC56DB9328E15656AF28FA4C06CAE7D64493CE00A6917B44F765C13C7F033D7?api-version=2023-10-01&t=638325936587656274&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default?api-version=2023-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default","name":"default","type":"microsoft.connectedvmwarevsphere/virtualmachineinstances","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-contoso-cl"},"systemData":{"createdBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","createdByType":"Application","createdAt":"2023-10-11T04:00:56.5624808Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-10-11T04:00:56.5624808Z"},"properties":{"placementProfile":{"resourcePoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-contoso-resource-pool","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/Clusters/azcli-contoso-cluster"},"infrastructureProfile":{"templateId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-contoso-vm-template","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-contoso-vc","customResourceName":"99ddb451-f194-4e38-8158-c89f28475b6b","instanceUuid":"99ddb451-f194-4e38-8158-c89f28475b6b","moRefId":"vm-1532856","moName":"azcli-contoso-vm-0","folderPath":"ArcPrivateClouds-67","smbiosUuid":"4215d398-1b29-27fd-3a3d-b730bb30c593","firmwareType":"bios"},"provisioningState":"Succeeded","statuses":[{"status":"True","type":"CustomizationCompleted","lastUpdatedAt":"2023-10-11T04:02:18Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-10-11T04:02:28.4351409Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-10-11T04:02:28.4351409Z"}],"resourceUid":"f93bb4e7-9160-4a57-a592-922e10771ef7","networkProfile":{"networkInterfaces":[{"name":"nic_1","label":"Network
        adapter 1","macAddress":"00:50:56:95:a0:75","networkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-contoso-virtual-network","networkMoRefId":"network-563661","networkMoName":"VM
        Network","nicType":"vmxnet3","deviceKey":4000,"powerOnBoot":"enabled","ipSettings":{"allocationMethod":"unset"}}]},"storageProfile":{"disks":[{"diskObjectId":"7583-2000","name":"disk_1","label":"Hard
        disk 1","diskSizeGB":10,"deviceKey":2000,"diskMode":"persistent","controllerKey":1000,"unitNumber":0,"diskType":"flat"}],"scsiControllers":[{"type":"lsilogic","controllerKey":1000,"scsiCtlrUnitNumber":7,"sharing":"noSharing"}]},"securityProfile":{"uefiSettings":{"secureBootEnabled":false}},"osProfile":{"computerName":"","osSku":"Ubuntu
        Linux (64-bit)","osType":"Linux","guestId":"ubuntu64Guest","toolsRunningStatus":"guestToolsNotRunning","toolsVersionStatus":"guestToolsUnmanaged","toolsVersion":"10304"},"hardwareProfile":{"memorySizeMB":1024,"numCPUs":1,"numCoresPerSocket":1,"cpuHotAddEnabled":true,"cpuHotRemoveEnabled":false,"memoryHotAddEnabled":true},"powerState":"poweredOn"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e8020732-0000-0100-0000-65261e550000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0","name":"azcli-contoso-vm-0","location":"eastus","tags":{},"kind":"VMware","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","osProfile":{},"vmId":"f93bb4e7-9160-4a57-a592-922e10771ef7","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0","name":"azcli-contoso-vm-0","location":"eastus","tags":{},"kind":"VMware","identity":{"type":"SystemAssigned","principalId":"2522a892-10e7-4fb8-9a4d-3ba7aafe3a82","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Updating","osProfile":{},"vmId":"f93bb4e7-9160-4a57-a592-922e10771ef7","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"credentials": {"username": "azcli-user", "password": "azcli-password"},
      "provisioningAction": "install"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents/default?api-version=2023-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/2555de7d-2cff-4a05-be80-5826fa2245a3*C4B87DA606DAE7C3D99CDF1234A812B409FA1AD646DDD630ED72DDE24939DAAA?api-version=2023-10-01&t=638325937682967365&c=MIIHADCCBeigAwIBAgITHgMiGNIgnP-o0W_mPwAAAyIY0jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTQyMzE0W[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publisher": "Microsoft.Azure.Extensions",
      "type": "CustomScript", "settings": {"commandToExecute": "whoami"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-contoso-rg/providers/Microsoft.HybridCompute/machines/azcli-contoso-vm-0/extensions/RunCommand?api-version=2023-04-25-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/provider[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationstatus/02914c99-b551-47c8-bb42-92b30de626ac?api-version=2023-04-25-preview&t=638325938622911919&c=MIIHHjCCBgagAwIBAgITfwHPoKWFUi8BZhm71wAEAc-gpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMTUxMzA3WhcNMjQwNzI3MTUxMz[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
