interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2023-02-16T15:53:39.9929387Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2023-08-06T23:44:21.1344414Z"},"properties":{"credentials":{"username":"arcvmware"},"uuid":"e6048b2a-ba86-4334-adff-ba3d617d12ef","fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","customResourceName":"e6048b2a-ba86-4334-adff-ba3d617d12ef","connectionStatus":"Connected","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2023-08-06T23:44:15Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1600d91b-0000-0100-0000-64d030550000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2023-02-16T15:53:39.9929387Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2023-08-06T23:44:21.1344414Z"},"properties":{"credentials":{"username":"arcvmware"},"uuid":"e6048b2a-ba86-4334-adff-ba3d617d12ef","fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","customResourceName":"e6048b2a-ba86-4334-adff-ba3d617d12ef","connectionStatus":"Connected","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2023-08-06T23:44:15Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 8db73dbf-55a0-4f92-926c-e4073c5961a5
      - 7f467427-6b6b-48a9-ad4e-216e0176f45c
      - 076a1cc1-3e16-41a4-b9b7-ae5413ec7b58
      - 4d40d4a9-505b-4e1e-b6f4-2c47130a9334
      - b128bfe3-2760-4b94-ab19-f8f5b9daaef0
      - 4d8e3771-5f59-40af-9fd6-bb6ad3d1d8ba
      - 64dccb87-492b-49f0-b9a1-6b6bc9f180c6
      - f440c01e-1ab0-4676-aaf3-27adfe501edd
      - b23d1363-62cf-4942-9811-e49bbad83fa9
      - c0b99172-9757-4025-bb86-65de0ad4ecb9
      - b038646c-aedc-4945-abbc-7e66925e0061
      - e7a1c836-0f43-41e5-9e9d-eb634b036ca6
      - bfb3d3ee-c006-45b5-9072-58189514c7fa
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-resource-pool","type":"microsoft.connectedvmwarevsphere/resourcepools","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-05T08:26:04.3778436Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-08-07T13:57:51.4718897Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471","datastoreIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/Datastores/azcli-test-datastore"],"networkIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-test-virtual-network"],"vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","memOverallUsageGB":14,"memCapacityGB":460,"uuid":"c47f5a55-a805-45a4-a241-0fd3600bfd59","moRefId":"resgroup-724471","moName":"azcli-test-rp","customResourceName":"c47f5a55-a805-45a4-a241-0fd3600bfd59","cpuSharesLevel":"normal","cpuLimitMHz":-1,"memSharesLevel":"normal","memLimitMB":-1,"provisioningState":"Accepted","statuses":[{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-05T10:43:50.0673346Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-05T10:43:50.0673346Z"}]}}'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview, 2023-03-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/2d70b2bf-da86-4861-8b1e-89b2483bd3cd*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"600007c0-0000-0100-0000-64d0f8600000"'
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/2d70b2bf-da86-4861-8b1e-89b2483bd3cd*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/2d70b2bf-da86-4861-8b1e-89b2483bd3cd*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","name":"2d70b2bf-da86-4861-8b1e-89b2483bd3cd*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","status":"Succeeded","startTime":"2023-08-07T13:57:52.020663Z","endTime":"2023-08-07T13:58:14.1801034Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7200fef0-0000-0100-0000-64d0f8760000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-re[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/domain-c649660"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster","name":"azcli-test-cluster","type":"m[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/datastore-563660"}}'
    headers:
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores/azcli-test-datastore","name":"azcli-test-datastore","[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/host-1147546"}}'
    headers:
      Con[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts/azcli-test-host","name":"azcli-test-host","type":"microsoft.con[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/network-563661"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/azcli-test-virtual-network","name":"azcli-t[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/vmtpl-vm-1184288"}}'
    headers:
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template","name":"azcli-test-vm-template","type":"microsoft.connectedvmwarevsphere/virtualmachinetemplates","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-05T08:31:19.7213112Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-08-07T14:00:53.9137515Z"},"properties":{"vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","networkInterfaces":[{"name":"nic_1","label":"Network
        adapter 1","macAddress":"00:50:56:95:68:4b","networkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-test-virtual-network","networkMoRefId":"network-563661","networkMoName":"VM
        Network","nicType":"vmxnet3","deviceKey":4000,"powerOnBoot":"enabled","ipSettings":{"allocationMethod":"unset","ipAddress":"10.150.177.65","subnetMask":"255.255.248.0","ipAddressInfo":[{"ipAddress":"10.150.177.65","subnetMask":"255.255.248.0"},{"ipAddress":"2404:f801:4800:14:250:56ff:fe95:684b","subnetMask":"ffff:ffff:ffff:ffff:0000:0000:0000:0000"},{"ipAddress":"fe80::250:56ff:fe95:684b","subnetMask":"ffff:ffff:ffff:ffff:0000:0000:0000:0000"}]}}],"disks":[{"diskObjectId":"1324-2000","name":"disk_1","label":"Hard
        disk 1","diskSizeGB":10,"deviceKey":2000,"diskMode":"persistent","controllerKey":1000,"unitNumber":0,"diskType":"flat"}],"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/vmtpl-vm-1184288","uuid":"b01dcf71-4ff7-409d-9b92-d3a3a6f90fbc","customResourceName":"b01dcf71-4ff7-409d-9b92-d3a3a6f90fbc","moRefId":"vm-1184288","moName":"azcli-test-linux-tmpl","memorySizeMB":1024,"numCPUs":1,"numCoresPerSocket":1,"osName":"Ubuntu
        Linux (64-bit)","folderPath":"ArcPrivateClouds-67/azcli-test-folder","toolsVersionStatus":"guestToolsUnmanaged","toolsVersion":"10304","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-07T14:01:07.3083666Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-07T14:01:07.3083666Z"}],"osType":"Linux"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4100be9c-0000-0100-0000-64d0f9230000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template","na[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc/inventoryItems/resgroup-724471?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-724471","name":"resgroup-724471","type":"microsoft.connectedvmwarevsphere/vcenters/inventoryitems","kind":"ResourcePool","systemData":{"createdBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","createdByType":"Application","createdAt":"2023-02-16T15:55:05.4946885Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2023-08-06T23:04:20.4922406Z"},"properties":{"provisioningState":"Succeeded","inventoryType":"ResourcePool","parent":{"moName":"Resources","inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-649661","inventoryType":"ResourcePool"},"managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool","moRefId":"resgroup-724471","moName":"azcli-test-rp"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1c001501-0000-0100-0000-64d026f40000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.HybridCompute/machines/azcli-test-vm-0''
        under resource group ''azcli-test-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "kind": "VMware"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0","name":"azcli-test-vm-0","location":"eastus","kind":"VMware","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Creating","osProfile":{},"vmId":"ff09c91f-d979-4860-9be5-9ad4def8d328","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false},"esuProperties":{"arcEsuEnrollmentState":"Unknown","esuKeyActive":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"extendedLocation": {"type": "CustomLocation", "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"placementProfile": {"resourcePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/resourcePools/azcli-test-resource-pool"},
      "infrastructureProfile": {"templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-test-vm-template",
      "vCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default","name":"default","type":"microsoft.connectedvmwarevsphere/virtualmachineinstances","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","createdByType":"Application","createdAt":"2023-08-07T14:01:35.4352263Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-08-07T14:01:35.4352263Z"},"properties":{"placementProfile":{"resourcePoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/Clusters/azcli-test-cluster"},"infrastructureProfile":{"templateId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-test-vm-template","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","customResourceName":"329f3b2b-3685-409d-9b4e-a048602f0062","instanceUuid":"329f3b2b-3685-409d-9b4e-a048602f0062","moRefId":"vm-1451845","moName":"azcli-test-vm-0","folderPath":"ArcPrivateClouds-67","smbiosUuid":"42155e0c-8b89-f5a8-c4b1-146765d9f864","firmwareType":"bios"},"provisioningState":"Succeeded","statuses":[{"status":"True","type":"CustomizationCompleted","lastUpdatedAt":"2023-08-07T14:02:48Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-07T14:02:57.2468565Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-07T14:02:57.2468565Z"}],"resourceUid":"ff09c91f-d979-4860-9be5-9ad4def8d328","networkProfile":{"networkInterfaces":[{"name":"nic_1","label":"Network
        adapter 1","macAddress":"00:50:56:95:e9:54","networkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-test-virtual-network","networkMoRefId":"network-563661","networkMoName":"VM
        Network","nicType":"vmxnet3","deviceKey":4000,"powerOnBoot":"enabled","ipSettings":{"allocationMethod":"unset"}}]},"storageProfile":{"disks":[{"diskObjectId":"5475-2000","name":"disk_1","label":"Hard
        disk 1","diskSizeGB":10,"deviceKey":2000,"diskMode":"persistent","controllerKey":1000,"unitNumber":0,"diskType":"flat"}],"scsiControllers":[{"type":"lsilogic","controllerKey":1000,"scsiCtlrUnitNumber":7,"sharing":"noSharing"}]},"securityProfile":{"uefiSettings":{"secureBootEnabled":false}},"osProfile":{"computerName":"","osSku":"Ubuntu
        Linux (64-bit)","osType":"Linux","guestId":"ubuntu64Guest","toolsRunningStatus":"guestToolsRunning","toolsVersionStatus":"guestToolsUnmanaged","toolsVersion":"10304"},"hardwareProfile":{"memorySizeMB":1024,"numCPUs":1,"numCoresPerSocket":1,"cpuHotAddEnabled":true,"cpuHotRemoveEnabled":false,"memoryHotAddEnabled":true},"powerState":"poweredOn"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f0074d0-0000-0100-0000-64d0f9910000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0","name":"azcli-test-vm-0","location":"eastus","tags":{},"kind":"VMware","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","osProfile":{},"vmId":"ff09c91f-d979-4860-9be5-9ad4def8d328","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false},"esuProperties":{"arcEsuEnrollmentState":"Unknown","esuKeyActive":false}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0","name":"azcli-test-vm-0","location":"eastus","tags":{},"kind":"VMware","identity":{"type":"SystemAssigned","principalId":"4effc565-e795-4daa-9b71-08d9f91bc032","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Updating","osProfile":{},"vmId":"ff09c91f-d979-4860-9be5-9ad4def8d328","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false},"esuProperties":{"arcEsuEnrollmentState":"Unknown","esuKeyActive":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"credentials": {"username": "azcli-user", "password": "azcli-password"},
      "provisioningAction": "install"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-0/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents/default?api-version=2023-03-01-preview
  response:
    body:
[...]
