interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2023-02-16T15:53:39.9929387Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-08-01T05:25:38.8422299Z"},"properties":{"credentials":{"username":"arcvmware"},"uuid":"e6048b2a-ba86-4334-adff-ba3d617d12ef","fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","customResourceName":"e6048b2a-ba86-4334-adff-ba3d617d12ef","connectionStatus":"Connected","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2023-08-01T05:26:00Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4800ebc7-0000-0100-0000-64c897700000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2023-02-16T15:53:39.9929387Z","lastModifiedBy":"fe61de33-9658-4dac-9b6e-8ef8d993bb32","lastModifiedByType":"Application","lastModifiedAt":"2023-08-01T05:25:38.8422299Z"},"properties":{"credentials":{"username":"arcvmware"},"uuid":"e6048b2a-ba86-4334-adff-ba3d617d12ef","fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","customResourceName":"e6048b2a-ba86-4334-adff-ba3d617d12ef","connectionStatus":"Connected","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2023-08-01T05:26:00Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-01T05:26:07.8798425Z"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 7d895a86-0895-4260-9eb9-9a9f54fff9be
      - 5aa5afed-5a86-4e19-be5e-11b662e10fd9
      - 76468eff-9dcc-48f0-a781-1c29384e250e
      - 9a22219e-7e4c-4cf1-9980-89170f62adaf
      - 33aea1a8-e804-4ad7-982d-399dfc0a1f24
      - f8e4e61a-3fd4-4611-83e6-3ccd4de3fec4
      - e0d62666-5622-4c32-8a37-db7cb8ac8dec
      - 507393d2-d4d3-4290-a464-16651059ff89
      - c060c9cc-1477-4c1c-a2f0-d4269f1d652a
      - 44c2e4eb-8d40-4f47-8096-4cd88925b51e
      - 75fe7a22-b64f-4a85-b00b-1829733a0764
      - 5b5b3469-4e0a-4442-b42e-beebf9b00a9e
      - fa34e9ea-dfff-43f8-bd3c-046cd5d5a709
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-resource-pool","type":"microsoft.connectedvmwarevsphere/resourcepools","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-05T07:43:34.6497844Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-05T07:43:34.6497844Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","provisioningState":"Accepted"}}'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview, 2023-03-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"480006af-0000-0100-0000-64cdfda80000"'
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","name":"672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","status":"Accepted","startTime":"2023-08-05T07:43:36.0397746Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5d00a338-0000-0100-0000-64cdfda80000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","name":"672f2d97-e76a-4bf1-b24b-9bf7f99a8652*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","status":"Succeeded","startTime":"2023-08-05T07:43:36.0397746Z","endTime":"2023-08-05T07:44:53.131143Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5d002c3e-0000-0100-0000-64cdfdf50000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-re[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/domain-c649660"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster","name":"azcli-test-cluster","type":"m[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/datastore-563660"}}'
    headers:
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores/azcli-test-datastore","name":"azcli-test-datastore","[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/host-1147546"}}'
    headers:
      Con[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts/azcli-test-host","name":"azcli-test-host","type":"microsoft.con[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/network-563661"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/azcli-test-virtual-network","name":"azcli-t[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/vmtpl-vm-1184288"}}'
    headers:
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template","na[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc/inventoryItems/resgroup-724471?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-724471","name":"resgroup-724471","type":"microsoft.connectedvmwarevsphere/vcenters/inventoryitems","kind":"ResourcePool","systemData":{"createdBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","createdByType":"Application","createdAt":"2023-02-16T15:55:05.4946885Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2023-08-05T07:43:54.8033112Z"},"properties":{"provisioningState":"Succeeded","inventoryType":"ResourcePool","parent":{"moName":"Resources","inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-649661","inventoryType":"ResourcePool"},"managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool","moRefId":"resgroup-724471","moName":"azcli-test-rp"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a4013ca9-0000-0100-0000-64cdfdba0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8?api-version=2023-04-25-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.HybridCompute/machines/azcli-test-vm-8''
        under resource group ''azcli-test-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "kind": "VMware"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8","name":"azcli-test-vm-8","location":"eastus","kind":"VMware","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Creating","osProfile":{},"vmId":"a3be4ed6-a9b3-42b9-beda-2594e12c45d1","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"extendedLocation": {"type": "CustomLocation", "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"placementProfile": {"resourcePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/resourcePools/azcli-test-resource-pool"},
      "infrastructureProfile": {"templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-test-vm-template",
      "vCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default","name":"default","type":"microsoft.connectedvmwarevsphere/virtualmachineinstances","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2023-08-05T07:50:04.033537Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-05T07:50:04.033537Z"},"properties":{"placementProfile":{"resourcePoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool","clusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/Clusters/azcli-test-cluster"},"infrastructureProfile":{"templateId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-test-vm-template","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","customResourceName":"dd048238-5e48-4785-bfa9-6ae7ffc37129","instanceUuid":"dd048238-5e48-4785-bfa9-6ae7ffc37129","moRefId":"vm-1449696","moName":"azcli-test-vm-8","folderPath":"ArcPrivateClouds-67","smbiosUuid":"42157611-e94d-7cb8-763b-dffb6e1a7a4c","firmwareType":"bios"},"provisioningState":"Succeeded","statuses":[{"status":"True","type":"CustomizationCompleted","lastUpdatedAt":"2023-08-05T07:51:17Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2023-08-05T07:51:23.6229706Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2023-08-05T07:51:23.6229706Z"}],"resourceUid":"a3be4ed6-a9b3-42b9-beda-2594e12c45d1","networkProfile":{"networkInterfaces":[{"name":"nic_1","label":"Network
        adapter 1","macAddress":"00:50:56:95:10:5d","networkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-test-virtual-network","networkMoRefId":"network-563661","networkMoName":"VM
        Network","nicType":"vmxnet3","deviceKey":4000,"powerOnBoot":"enabled","ipSettings":{"allocationMethod":"unset"}}]},"storageProfile":{"disks":[{"diskObjectId":"3453-2000","name":"disk_1","label":"Hard
        disk 1","diskSizeGB":10,"deviceKey":2000,"diskMode":"persistent","controllerKey":1000,"unitNumber":0,"diskType":"flat"}],"scsiControllers":[{"type":"lsilogic","controllerKey":1000,"scsiCtlrUnitNumber":7,"sharing":"noSharing"}]},"securityProfile":{"uefiSettings":{"secureBootEnabled":false}},"osProfile":{"computerName":"","osSku":"Ubuntu
        Linux (64-bit)","osType":"Linux","guestId":"ubuntu64Guest","toolsRunningStatus":"guestToolsRunning","toolsVersionStatus":"guestToolsUnmanaged","toolsVersion":"10304"},"hardwareProfile":{"memorySizeMB":1024,"numCPUs":1,"numCoresPerSocket":1,"cpuHotAddEnabled":true,"cpuHotRemoveEnabled":false,"memoryHotAddEnabled":true},"powerState":"poweredOn"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"12009220-0000-0100-0000-64cdff7c0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8","name":"azcli-test-vm-8","location":"eastus","tags":{},"kind":"VMware","identity":{"type":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Succeeded","osProfile":{},"vmId":"a3be4ed6-a9b3-42b9-beda-2594e12c45d1","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}},"resources":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8?api-version=2023-04-25-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8","name":"azcli-test-vm-8","location":"eastus","tags":{},"kind":"VMware","identity":{"type":"SystemAssigned","principalId":"9f2c941b-a552-4dd9-a6c7-c7ba9346c12b","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"type":"Microsoft.HybridCompute/machines","properties":{"provisioningState":"Updating","osProfile":{},"vmId":"a3be4ed6-a9b3-42b9-beda-2594e12c45d1","agentConfiguration":{},"agentUpgrade":{"enableAutomaticUpgrade":false}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"credentials": {"username": "azcli-user", "password": "azcli-password"},
      "provisioningAction": "install"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents/default?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publisher": "Microsoft.Azure.Extensions",
      "type": "CustomScript", "settings": {"commandToExecute": "whoami"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.HybridCompute/machines/azcli-test-vm-8/extensions/RunCommand?api-version=2023-04-25-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationstatus/d9721117-680a-4f2d-a92a-9e697a9c6994?api-version=2023-04-25-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationresults/d9721117-680a-4f2d-a92a-9e697a9c6994?api-version=2023-04-25-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '319'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationstatus/d9721117-680a-4f2d-a92a-9e697a9c6994?api-version=2023-04-25-preview
  response:
    body:
      string: '{"name":"d9721117-680a-4f2d-a92a-9e697a9c6994","status":"InProgress","startTime":"2023-08-05T07:53:31.4176759Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationstatus/d9721117-680a-4f2d-a92a-9e697a9c6994?api-version=2023-04-25-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationresults/d9721117-680a-4f2d-a92a-9e697a9c6994?api-version=2023-04-25-preview
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HybridCompute/locations/eastus/operationstatus/d9721117-680a-4f2d-a92a-9e697a9c6994?api-version=2023-04-25-preview
  response:
    body:
[...]
