interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2022-06-09T14:07:02.7602325Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2022-11-21T13:05:11.6763009Z"},"properties":{"credentials":{"username":"arcuser"},"uuid":"41d6a083-5efe-4299-aa91-2888093ce30b","fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","customResourceName":"41d6a083-5efe-4299-aa91-2888093ce30b","connectionStatus":"Connected","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2022-11-21T13:03:50Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2022-11-20T06:39:26.4957001Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-11-20T06:39:26.4957001Z"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3500479e-0000-0100-0000-637b77870000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"created[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-resource-pool","type":"microsoft.connectedvmwarevsphere/resourcepools","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2022-11-23T03:15:12.7023157Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-23T10:38:32.0549905Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","uuid":"71b82483-b8d9-41e1-af89-51b4bffb8113","moRefId":"resgroup-724471","moName":"azcli-test-rp","customResourceName":"71b82483-b8d9-41e1-af89-51b4bffb8113","cpuSharesLevel":"normal","cpuLimitMHz":-1,"memSharesLevel":"normal","memLimitMB":-1,"provisioningState":"Accepted","statuses":[{"status":"True","type":"Ready","lastUpdatedAt":"2022-11-23T03:16:22.643203Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-11-23T03:16:22.643203Z"}]}}'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e0c43d53-c20b-4fe5-9977-aecf67e0e6d4*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2022-01-10-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d100ee99-0000-0100-0000-637df8290000"'
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e0c43d53-c20b-4fe5-9977-aecf67e0e6d4*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e0c43d53-c20b-4fe5-9977-aecf67e0e6d4*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","name":"e0c43d53-c20b-4fe5-9977-aecf67e0e6d4*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","status":"Succeeded","startTime":"2022-11-23T10:38:33.1891903Z","endTime":"2022-11-23T10:38:48.8675587Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7e0195a8-0000-0100-0000-637df8380000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-re[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/domain-c649660"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster","name":"azcli-test-cluster","type":"microsoft.connectedvmwarevsphere/clusters","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2022-11-23T03:17:29.3216663Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-23T10:39:10.4150848Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/domain-c649660","datastoreIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/Datastores/azcli-test-datastore"],"networkIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-test-virtual-network"],"vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","uuid":"e8f03411-d884-4dc6-9a68-67dbde614cfc","customResourceName":"e8f03411-d884-4dc6-9a68-67dbde614cfc","moRefId":"domain-c649660","moName":"Cluster1","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Ready","lastUpdatedAt":"2022-11-23T10:39:28.8883391Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-11-23T10:39:28.8883391Z"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"210268a1-0000-0100-0000-637df8610000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster","name":"azcli-test-cluster","type":"m[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/datastore-563660"}}'
    headers:
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores/azcli-test-datastore","name":"azcli-test-datastore","[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/host-713902"}}'
    headers:
      Cont[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts/azcli-test-host","name":"azcli-test-host","type":"microsoft.con[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/network-563661"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/azcli-test-virtual-network","name":"azcli-t[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/vmtpl-vm-651858"}}'
    headers:
      [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template","name":"azcli-test-vm-template","type":"microsoft.connectedvmwarevsphere/virtualmachinetemplates","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2022-11-23T03:20:19.4488469Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-23T10:41:38.4610237Z"},"properties":{"vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","networkInterfaces":[{"name":"nic_1","label":"Network
        adapter 1","macAddress":"00:50:56:95:c7:08","networkId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/azcli-test-virtual-network","networkMoRefId":"network-563661","networkMoName":"VM
        Network","nicType":"vmxnet3","deviceKey":4000,"powerOnBoot":"enabled","ipSettings":{"allocationMethod":"unset"}}],"disks":[{"diskObjectId":"1-2000","name":"disk_1","label":"Hard
        disk 1","diskSizeGB":10,"deviceKey":2000,"diskMode":"persistent","controllerKey":1000,"unitNumber":0,"diskType":"flat"}],"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/vmtpl-vm-651858","uuid":"1b4e1acb-b5d3-409d-ab5b-4d9449c201c2","customResourceName":"1b4e1acb-b5d3-409d-ab5b-4d9449c201c2","moRefId":"vm-651858","moName":"azurevmwarecloudtestubuntu","memorySizeMB":1024,"numCPUs":1,"numCoresPerSocket":1,"osName":"Ubuntu
        Linux (64-bit)","folderPath":"ArcPrivateClouds-67/Templates","toolsVersionStatus":"guestToolsSupportedOld","toolsVersion":"10304","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Ready","lastUpdatedAt":"2022-11-23T10:41:49.8847049Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-11-23T10:41:49.8847049Z"}],"osType":"Linux"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b0192eb-0000-0100-0000-637df8ee0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template","na[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc/inventoryItems/resgroup-724471?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-724471","name":"resgroup-724471","type":"microsoft.connectedvmwarevsphere/vcenters/inventoryitems","kind":"ResourcePool","systemData":{"createdBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","createdByType":"Application","createdAt":"2022-11-20T06:42:01.8027118Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2022-11-23T03:15:28.9205912Z"},"properties":{"parent":{"moName":"Resources","inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-649661"},"inventoryType":"ResourcePool","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool","moRefId":"resgroup-724471","moName":"azcli-test-rp","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7a03a111-0000-0100-0000-637d90500000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-test-vm-template",
      "vCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc",
      "placementProfile": {"resourcePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/resourcePools/azcli-test-resource-pool"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm?api-version=2022-01-10-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm","name":"azcli-test-vm","type":"microsoft.connectedvmwarevsphere/virtualmachines","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"snaskar@microsoft.com","createdByType":"User","createdAt":"2022-11-23T03:21:01.2620446Z","lastModifiedBy":"snaskar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-23T10:42:16.3883011Z"},"properties":{"provisioningState":"Accepted","statuses":[{"status":"False","type":"Ready","reason":"Provisioning","message":"The
        resource is being provisioned.","severity":"Info","lastUpdatedAt":"2022-11-23T10:42:17.0209617Z"},{"status":"False","type":"Idle","reason":"Provisioning","message":"The
        resource is being provisioned.","severity":"Info","lastUpdatedAt":"2022-11-23T10:42:17.0209617Z"}],"vmId":"7f8fc1e1-b2b2-4366-9a53-97fadee67f20","customResourceName":"7f8fc1e1-b2b2-4366-9a53-97fadee67f20","instanceUuid":"7f8fc1e1-b2b2-4366-9a53-97fadee67f20","placementProfile":{"resourcePoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/resourcePools/azcli-test-resource-pool"},"templateId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtua[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines?api-version=2022-01-10-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualMachines/test-tls-2008-vm","name":"test-tls-2008-vm","type":"microsoft.connectedvmwarevsphere/virtualmachines","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2022-09-05T08:30:42.1795071Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2022-09-05T14:36:26.4762Z"},"identity":{"principalId":"3f90d124-dcd4-4969-afb7-7e0ce562bded","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/vm-905283","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc","moRefId":"vm-905283","provisioningState":"Succeeded","statuses":[{"status":"True","type":"Ready","lastUpdatedAt":"2022-09-05T08:31:10.6870387Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-09-05T08:31:10.6870387Z"}],"vmId":"50fc4be1-3fb5-43d5-8170-055c6f703712","placementProfile":{},"customResourceName":"50fc4be1-3fb5-43d5-8170-055c6f703712","networkProfile":{"networkInterfaces":[{"label":"Network
        adapter 1","ipAddresses":["2404:f801:4800:18:2925:afe1:abe:3d1f","fe80::2925:afe1:abe:3d1f","10.150.174.103"],"macAddress":"00:50:56:95:5b:cc","networkMoRefId":"network-563661","networkMoName":"VM
        Network","nicType":"e1000","deviceKey":4000,"powerOnBoot":"enabled","ipSettings":{"allocationMethod":"unset"}}]},"storageProfile":{"disks":[{"diskObjectId":"1826-2000","label":"Hard
        disk 1","diskSizeGB":40,"deviceKey":2000,"diskMode":"persistent","controllerKey":1000,"unitNumber":0,"diskType":"flat"}],"scsiControllers":[{"type":"lsilogicsas","controllerKey":1000,"scsiCtlrUnitNumber":7,"sharing":"noSharing"}]},"securityProfile":{"uefiSettings":{"secureBootEnabled":false}},"osProfile":{"computerName":"WIN-568Q34LD1AU","osType":"Windows","osName":"Microsoft
        Windows Server 2008 R2 (64-bit)","guestId":"windows7Server64Guest","toolsRunningStatus":"guestToolsRunning","toolsVersionStatus":"guestToolsSupportedOld","toolsVersion":"10279"},"hardwareProfile":{"memorySizeMB":4096,"numCPUs":2,"numCoresPerSocket":2,"cpuHotAddEnabled":false,"cpuHotRemoveEnabled":false,"memoryHotAddEnabled":false},"moName":"test-tls-2008-vm","folderPath":"ArcPrivateClouds-67/sanmishra","instanceUuid":"501509d1-3e57-7275-628c-7535605a5718","smbiosUuid":"42150434-f1b1-64f9-acb6-3cb178b1bf9e","firmwareType":"bios","powerState":"poweredOn"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VirtualMachines/test-tls-2016-vm","name":"test-tls-2016-vm","type":"microsoft.connectedvmwarevsphere/virtualmachines","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"}[...]
[...]
- request:
    body: '{"skipShutdown": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm/stop?api-version=2022-01-10-preview
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/94485c57-5f79-456b-9dc2-aa6f7b5be2a6*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2022-01-10-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/94485c57-5f79-456b-9dc2-aa6f7b5be2a6*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2022-01-10-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm/start?api-version=2022-01-10-preview
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e7972f53-cacc-4217-b629-e15495f64139*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2022-01-10-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e7972f53-cacc-4217-b629-e15495f64139*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2022-01-10-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm?api-version=2022-01-10-preview&force=false&retain=true
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview, 2022-07-15-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b641daee-30b3-4dd5-b8cc-23edbd0e2d4f*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2022-01-10-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"23019ccd-0000-0100-0000-637dfac40000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b641daee-30b3-4dd5-b8cc-23edbd0e2d4f*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2022-01-10-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
[...]
