interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2022-06-09T14:07:02.7602325Z","lastModifiedBy":"sanmishra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-09T14:07:02.7602325Z"},"properties":{"credentials":{"username":"arcvmware"},"fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"provisioningState":"Succeeded","uuid":"41d6a083-5efe-4299-aa91-2888093ce30b","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2022-06-09T14:07:28Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2022-06-09T14:07:33.3173839Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-06-09T14:07:33.3173839Z"}],"customResourceName":"41d6a083-5efe-4299-aa91-2888093ce30b","version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","connectionStatus":"Connected"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9c008ddd-0000-0100-0000-62a1fea50000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc","name":"azcli-test-vc","type":"microsoft.connectedvmwarevsphere/vcenters","kind":"VMware","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azcli-test-rg/providers/microsoft.extendedlocation/customlocations/azcli-test-cl"},"tags":{},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2022-06-09T14:07:02.7602325Z","lastModifiedBy":"sanmishra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-09T14:07:02.7602325Z"},"properties":{"credentials":{"username":"arcvmware"},"fqdn":"idclab-vcen67.fareast.corp.microsoft.com","port":443,"provisioningState":"Succeeded","uuid":"41d6a083-5efe-4299-aa91-2888093ce30b","statuses":[{"status":"True","type":"Connected","lastUpdatedAt":"2022-06-09T14:07:28Z"},{"status":"True","type":"Ready","lastUpdatedAt":"2022-06-09T14:07:33.3173839Z"},{"status":"True","type":"Idle","lastUpdatedAt":"2022-06-09T14:07:33.3173839Z"}],"customResourceName":"41d6a083-5efe-4299-aa91-2888093ce30b","version":"6.7.0","instanceUuid":"db73f8f2-624c-4a0f-905b-8c6f34442cbc","connectionStatus":"Connected"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0ebd4e29-ab54-499a-954f-4e55af4aa991
      - bdcb17b0-399d-4c77-b183-0c5e963f7be8
      - 5aa7e6e4-d5fd-49aa-815e-892b01ceaaed
      - 7981e847-e866-4f1b-9371-35a91e50b73f
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-resource-pool","type":"microsoft.connectedvmwarevsphere/resourcepools","location":"eastus","extendedLocation":{"type":"CustomLocation","name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},"systemData":{"createdBy":"sanmishra@microsoft.com","createdByType":"User","createdAt":"2022-06-14T15:19:20.8175406Z","lastModifiedBy":"sanmishra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-14T15:19:20.8175406Z"},"properties":{"inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/resgroup-724471","vCenterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc","provisioningState":"Accepted"}}'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bb04c57a-0000-0100-0000-62a8a6fb0000"'
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","name":"383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","status":"Accepted","startTime":"2022-06-14T15:19:23.2815445Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8f0066d7-0000-0100-0000-62a8a6fb0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","name":"383770d1-6277-4ad4-9169-2749dead7dd9*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","status":"Succeeded","startTime":"2022-06-14T15:19:23.2815445Z","endTime":"2022-06-14T15:19:42.6650009Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8f00acd7-0000-0100-0000-62a8a70e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool","name":"azcli-test-re[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/domain-c649660"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster","name":"azcli-test-cluster","type":"m[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/datastore-563660"}}'
    headers:
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores/azcli-test-datastore","name":"azcli-test-datastore","[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/host-713902"}}'
    headers:
      Cont[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts/azcli-test-host","name":"azcli-test-host","type":"microsoft.con[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/network-563661"}}'
    headers:
      C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/azcli-test-virtual-network","name":"azcli-t[...]
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"inventoryItemId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc/InventoryItems/vmtpl-vm-651858"}}'
    headers:
      [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template","na[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/vcenters/azcli-test-vc/inventoryItems/resgroup-724471?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-724471","name":"resgroup-724471","type":"microsoft.connectedvmwarevsphere/vcenters/inventoryitems","kind":"ResourcePool","systemData":{"createdBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","createdByType":"Application","createdAt":"2022-06-09T14:08:15.5811607Z","lastModifiedBy":"ac9dc5fe-b644-4832-9d03-d9f1ab70c5f7","lastModifiedByType":"Application","lastModifiedAt":"2022-06-14T15:19:37.6462196Z"},"properties":{"parent":{"moName":"Resources","inventoryItemId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/VCenters/azcli-test-vc/InventoryItems/resgroup-649661"},"inventoryType":"ResourcePool","managedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/ResourcePools/azcli-test-resource-pool","moRefId":"resgroup-724471","moName":"azcli-test-rp","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"cf006b7f-0000-0100-0000-62a8a7090000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "extendedLocation": {"type": "CustomLocation", "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ExtendedLocation/CustomLocations/azcli-test-cl"},
      "properties": {"templateId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/virtualmachineTemplates/azcli-test-vm-template",
      "vCenterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/vcenters/azcli-test-vc",
      "placementProfile": {"resourcePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVmwarevSphere/resourcePools/azcli-test-resource-pool"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm?api-version=2020-10-01-preview
  response:
    body:
      string[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines?api-version=2020-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm","name":"azcli-test-vm","type[...]
[...]
- request:
    body: '{"properties": {"hardwareProfile": {"memorySizeMB": 2048, "numCPUs": 2}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm?api-version=2020-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-[...]
[...]
- request:
    body: '{"skipShutdown": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm/stop?api-version=2020-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/370e27f2-51ab-43c3-b591-33931a8940a4*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/370e27f2-51ab-43c3-b591-33931a8940a4*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm/start?api-version=2020-10-01-preview
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e1ac2e14-10c2-4a3f-9340-3092a06b2c1e*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e1ac2e14-10c2-4a3f-9340-3092a06b2c1e*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/azcli-test-vm?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/fbdd490f-156e-4389-b5ba-a279f7972f66*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2b01e6df-0000-0100-0000-62a8a8f70000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/fbdd490f-156e-4389-b5ba-a279f7972f66*8C24F2E947DEC83F8FA8A160B4EB9CF89800D9D0046AB1D69E82BD6A56D025D2?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/38ca0033-c7b7-4725-97ce-2bdfd7905234*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bb04d07b-0000-0100-0000-62a8a9590000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/38ca0033-c7b7-4725-97ce-2bdfd7905234*E33D395D76158BAF7C5815D334D05A902D2A49219B7EE04A2C06FA58A8E43EFC?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/azcli-test-cluster?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/923060b8-3af1-48e5-9f24-768649347d58*BA7D5BCC10B0E3C8353A43CFDD3238340013F133409368F1AB6C672583FED47E?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4604ca33-0000-0100-0000-62a8a96d0000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/923060b8-3af1-48e5-9f24-768649347d58*BA7D5BCC10B0E3C8353A43CFDD3238340013F133409368F1AB6C672583FED47E?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/datastores/azcli-test-datastore?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/253e9a41-fa6b-43b2-881a-1786fe7fc49e*0BA3195A388F8E68B2BCA768784A2C477B581CF3750C51FB69057C6907EB9D70?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"10000855-0000-0100-0000-62a8a9810000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/253e9a41-fa6b-43b2-881a-1786fe7fc49e*0BA3195A388F8E68B2BCA768784A2C477B581CF3750C51FB69057C6907EB9D70?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/hosts/azcli-test-host?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/f4bdc936-8c5a-4ac3-bdd0-a33079dce0cc*B55A001CADA037E0E2ED8E056C839E3102437398BD45444965294749D0CB7C3C?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2d01a8e6-0000-0100-0000-62a8a9930000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/f4bdc936-8c5a-4ac3-bdd0-a33079dce0cc*B55A001CADA037E0E2ED8E056C839E3102437398BD45444965294749D0CB7C3C?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/azcli-test-virtual-network?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e08960bd-d53c-47a9-9383-c264247842ef*CB0A480FE4EF7C13EBE7E6D61E1DABA694436AED00BC4B639CBD00E8ACDF3866?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"260112f2-0000-0100-0000-62a8a9a60000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/e08960bd-d53c-47a9-9383-c264247842ef*CB0A480FE4EF7C13EBE7E6D61E1DABA694436AED00BC4B639CBD00E8ACDF3866?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template?api-version=2020-10-01-preview&force=false
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2020-10-01-preview, 2022-01-10-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/196bafef-070d-41e5-9eff-d0fe2f6831fe*04EA61613559B90D23ED3ECFACDF2E6D1E27A0B3817A66B3F21A8114E2761CF3?api-version=2020-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"cc0077cd-0000-0100-0000-62a8a9b80000"'
      location:
      - https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/196bafef-070d-41e5-9eff-d0fe2f6831fe*04EA61613559B90D23ED3ECFACDF2E6D1E27A0B3817A66B3F21A8114E2761CF3?api-version=2020-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
