interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-05T16:09:58Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "clitestpfb-clitestpfbvgslo2-2edc29",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osType": "Linux",
      "type": "VirtualMachineScaleSets", "mode": "System", "enableNodePublicIP": false,
      "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "enableEncryptionAtHost": false, "enableUltraSSD": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqCuCisw1lE4I45CENzAJA4N6gJjOGCatOnXfcQ79E0A+J8DwHcUe0BOFGss0wyemWm2Ablh+FBlZajfGEkb/JyzKaBoGLwa5hLhBt5i39QAJezn7jzKTY5VDqu+V2E9SCBPiFPmXf4aLViwkZJzc0cw92nl0R134vTIxTZDFnMBfHsiluE7zV43sKDdjMBqX2mGSxPyHCpP3H2aIdSBHnzjPVCkNbaeiYLue2P0Wc4mhrc/5fLapeLG8JhvDH7cXu+QEpxepSVRO3CQMUEoSu3R1HG7MKPzvo9qaVdqO0ZzdRm+GYqtlX4tgA0WQsEVEtRoKxY33lDZ3CTAFbhWSz
      strawnsc@gmail.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "standard"}, "aadProfile": {"managed": true,
      "enableAzureRBAC": false}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/clitest000001-aks?api-version=2021-07-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/clitest000001-aks\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"clitest000001-aks\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.20.9\",\n   \"dnsPrefix\": \"clitestpfb-clitestpfbvgslo2-2edc29\",\n   \"fqdn\":
        \"clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.hcp.eastus.azmk8s.io\",\n   \"azurePortalFQDN\":
        \"clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.portal.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.20.9\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2021.09.28\",\n     \"enableFIPS\": false\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQCqCuCisw1lE4I45CENzAJA4N6gJjOGCatOnXfcQ79E0A+J8DwHcUe0BOFGss0wyemWm2Ablh+FBlZajfGEkb/JyzKaBoGLwa5hLhBt5i39QAJezn7jzKTY5VDqu+V2E9SCBPiFPmXf4aLViwkZJzc0cw92nl0R134vTIxTZDFnMBfHsiluE7zV43sKDdjMBqX2mGSxPyHCpP3H2aIdSBHnzjPVCkNbaeiYLue2P0Wc4mhrc/5fLapeLG8JhvDH7cXu+QEpxepSVRO3CQMUEoSu3R1HG7MKPzvo9qaVdqO0ZzdRm+GYqtlX4tgA0WQsEVEtRoKxY33lDZ3CTAFbhWSz
        strawnsc@gmail.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_clitest000001-aks_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\"\n   },\n   \"aadProfile\": {\n    \"managed\": true,\n    \"adminGroupObjectIDs\":
        null,\n    \"enableAzureRBAC\": false,\n    \"tenantID\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false\n  },\n
        \ \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\": \"09299a05-e3da-405f-aff7-df3b96472cba\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/4f700946-18f5-412b-a141-489c293248a6?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/4f700946-18f5-412b-a141-489c293248a6?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"4609704f-f518-2b41-a141-489c293248a6\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-10-05T16:10:05.4466666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/4f700946-18f5-412b-a141-489c293248a6?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"4609704f-f518-2b41-a141-489c293248a6\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-10-05T16:10:05.4466666Z\",\n  \"endTime\":
        \"2021-10-05T16:13:31.2285666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_clitest000001-aks_eastus/providers/Microsoft.Network/publicIPAddresses/MyPublicIP?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"MyPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_clitest000001-aks_eastus/providers/Microsoft.Network/publicIPAddresses/MyPublicIP\",\r\n
        \ \"etag\": \"W/\\\"223f6e79-674a-4013-84a5-0664241d6d66\\\"\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"0a879c78-dc82-4495-b2f7-6d0077b573c9\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/44b51196-cc7b-47e0-9cc9-3857c3101172?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/44b51196-cc7b-47e0-9cc9-3857c3101172?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_clitest000001-aks_eastus/providers/Microsoft.Network/publicIPAddresses/MyPublicIP?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"MyPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_clitest000001-aks_eastus/providers/Microsoft.Network/publicIPAddresses/MyPublicIP\",\r\n
        \ \"etag\": \"W/\\\"ff2bce44-8662-4edc-9c8c-71e149f4b776\\\"\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"0a879c78-dc82-4495-b2f7-6d0077b573c9\",\r\n    \"ipAddress\":
        \"52.224.180.108\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
        {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ff2bce44-8662-4edc-9c8c-71e149f4b776"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/clitest000001-aks/listClusterAdminCredential?api-version=2021-07-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterAdmin\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlJFTkRRWFJEWjBGM1NVSkJaMGxSVGtORmVVNUNTVkp4UjJOUFlVOURTU3R6WlV0bGVrRk9RbWRyY1docmFVYzVkekJDUVZGelJrRkVRVTRLVFZGemQwTlJXVVJXVVZGRVJYZEthbGxVUVdkR2R6QjVUVlJGZDAxRVZYaE9ha0YzVFhwYVlVZEJPSGxOUkZWNFRWUkJkMDVVUlRKTlZFRjZUbXh2ZHdwRVZFVk1UVUZyUjBFeFZVVkJlRTFEV1RKRmQyZG5TV2xOUVRCSFExTnhSMU5KWWpORVVVVkNRVkZWUVVFMFNVTkVkMEYzWjJkSlMwRnZTVU5CVVVSV0NuS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","East Asia","East
        US 2 EUAP"],"apiVersions":["2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3"],"apiVersions":["2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"90155430-a360-410f-af5d-89dc284d85c6"},{"applicationId":"03db181c-e9d3-4868-9097-f0b728327182","roleDefinitionId":"DE2ADB97-42D8-49C8-8FCF-DBB53EF936AC"},{"applicationId":"a0f92522-89de-4c5e-9a75-0044ccf66efd","roleDefinitionId":"b3429810-7d5c-420e-8605-cf280f3099f2"},{"applicationId":"bd9b7cd5-dac1-495f-b013-ac871e98fa5f","roleDefinitionId":"0d44c8f0-08b9-44d4-9f59-e51c83f95200"}],"resourceTypes":[{"resourceType":"sourceControlConfigurations","locations":["East
        US","West Europe","West Central US","West US 2","South Central US","East US
        2","North Europe","UK South","Southeast Asia","Australia East","France Central","Central
        US","North Central US","West US","Korea Central","East Asia","Japan East"],"apiVersions":["2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"defaultApiVersion":"2021-03-01","capabilities":"SupportsExtension"},{"resourceType":"extensions","locations":["East
        US","West Europe","West Central US","West US 2","South Central US","East US
        2","North Europe","UK South","Southeast Asia","Australia East","France Central","Central
        US","North Central US","West US","Korea Central","East Asia","Japan East","East
        US 2 EUAP"],"apiVersions":["2021-05-01-preview","2020-07-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsExtension"},{"resourceType":"operations","locations":[],"apiVersions":["2021-09-01","2021-06-01-preview","2021-05-01-preview","2021-03-01","2020-10-01-preview","2020-07-01-preview","2019-11-01-preview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.hcp.eastus.azmk8s.io/apis/networking.k8s.io/v1/
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"6upRfBq0FOI="},{"name":"ingresses","singularName":"","namespaced":true,"kind":"Ingress","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ing"],"storageVersionHash":"ZOAfGflaKd0="},{"name":"ingresses/status","singularName":"","namespaced":true,"kind":"Ingress","verbs":["get","patch","update"]},{"name":"networkpolicies","singularName":"","namespaced":true,"kind":"NetworkPolicy","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["netpol"],"storageVersionHash":"YpfwF18m1G8="}]}

        '
    headers:
      audit-id:
      - 3eb34330-733a-45f6-a62f-e6309e532cab
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - c79eb98f-d3de-4c68-8267-32fbe5757cb2
      x-kubernetes-pf-prioritylevel-uid:
      - cd610d09-5a01-4137-b13a-15cdb9207e44
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.hcp.eastus.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"869"},"items":[{"metadata":{"name":"aks-nodepool1-37506928-vmss000000","uid":"ea51dec4-fc99-4f20-bcd2-42aa85ab723e","resourceVersion":"845","creationTimestamp":"2021-10-05T16:12:56Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_DS2_v2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"eastus","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_clitest000001_clitest000001-aks_eastus","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2021.09.28","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-37506928-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_DS2_v2","storageprofile":"managed","storagetier":"Premium_LRS","topology.kubernetes.io/region":"eastus","topology.kubernetes.io/zone":"0"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2021-10-05T16:12:56Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/instance-type":{},"f:beta.kubernetes.io/os":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:failure-domain.beta.kubernetes.io/zone":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/cluster":{},"f:kubernetes.azure.com/mode":{},"f:kubernetes.azure.com/node-image-version":{},"f:kubernetes.[...]
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.hcp.eastus.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2021-10-05T16:13:45Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - 3f7f7009-5f93-4192-aa53-3efc8be78183
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - c79eb98f-d3de-4c68-8267-32fbe5757cb2
      x-kubernetes-pf-prioritylevel-uid:
      - cd610d09-5a01-4137-b13a-15cdb9207e44
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.hcp.eastus.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"20\",\n  \"gitVersion\": \"v1.20.9\",\n
        \ \"gitCommit\": \"8dc42052754bfacb111a0426830122dd9cc9cfa0\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2021-08-31T00:01:04Z\",\n  \"goVersion\": \"go1.15.14\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - bee3b225-0c90-42c5-b049-0f216467a7f3
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - c79eb98f-d3de-4c68-8267-32fbe5757cb2
      x-kubernetes-pf-prioritylevel-uid:
      - cd610d09-5a01-4137-b13a-15cdb9207e44
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002/providers/Microsoft.Kubernetes/connectedClusters/clitest000002-cluster?api-version=2021-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/clitest000002-cluster''
        under resource group ''clitest000002'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://clitestpfb-clitestpfbvgslo2-2edc29-21d91a78.hcp.eastus.azmk8s.io/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"874"},"items":[{"metadata":{"name":"default","uid":"64cabb12-253f-427c-bd5a-e0350e9a99f5","resourceVersion":"199","creationTimestamp":"2021-10-05T16:11:32Z","managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2021-10-05T16:11:32Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:phase":{}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-node-lease","uid":"c1aba8f3-d98f-47de-b663-b23a330cb3da","resourceVersion":"60","creationTimestamp":"2021-10-05T16:11:30Z","managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2021-10-05T16:11:30Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:phase":{}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","uid":"3a561b22-f366-4455-a810-7a6717a00bf3","resourceVersion":"46","creationTimestamp":"2021-10-05T16:11:30Z","managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2021-10-05T16:11:30Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:phase":{}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","uid":"0eb31a17-84b7-4d76-abba-10cb0e6a9e6f","resourceVersion":"412","creationTimestamp":"2021-10-05T16:11:30Z","labels":{"addonmanager.kubernetes.io/mode":"Reconcile","control-plane":"true","kubernetes.io/cluster-service":"true"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"Namespace\",\"metadata\":{\"annotations\":{},\"labels\":{\"addonmanager.kubernetes.io/mode\":\"Reconcile\",\"control-plane\":\"true\",\"kubernetes.io/cluster-service\":\"true\"},\"name\":\"kube-system\"}}\n"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2021-10-05T16:11:30Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:phase":{}}}},{"manager":"kubectl-client-side-apply","operation":"Update","apiVersion":"v1","time":"2021-10-05T16:12:03Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:kubectl.kubernetes.io/last-applied-configuration":{}},"f:labels":{".":{},"f:addonmanager.kubernetes.io/mode":{},"f:control-plane":{},"f:kubernetes.io/cluster-service":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}}]}

        '
    headers:
      audit-id:
      - 96079205-d843-48b3-8725-e29482bfdd24
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - c79eb98f-d3de-4c68-8267-32fbe5757cb2
      x-kubernetes-pf-prioritylevel-uid:
      - cd610d09-5a01-4137-b13a-15cdb9207e44
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.4.0"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAn/f5Pom968V5SpNp7aCL1IGpUeCVBupURPTj7cej2lekkVVj0t9M71aGwWEBF7NsNwBA8Pa51AUe50nUkn7igT0lBKS1NH7X5/jKuB9Douw17tp5N/hcKXwehLtoNwHyoDwghGg+lXA04dG49Emo2Z7wi+mvTnu/4kZU+ZPbDiPlbvMvsgO2cTKOgRHie+nb9UiLYRRtT8P3cMMml/ogkORxa7tXbIf+7q2K+MiNo6DWdscoywFnERlfYjav4lH8oolS1H4LT+MXfe8H/kEA6Zm5tPZogRiYgUehXW0IDWZVqpuKCYZDtPWtqCGSL59k3mSDWHdmAh1P1nxVBMBJ3pK4WUBE8vDtznBiL5LZZNWy+DnimI6Ml9LdM5GzN66m2OpW/LuuBgQEHEhCpcm+3vVHPg4XBkqXq0YHRWiPQgfbVLQD/czDXpab2/IWC0uq9LZHH4ooB3TKwe9g5Uj2Y+P++U4FNnC3QZcYCCZwhHCkF4E7tTDN1wX3unthf/1R2jP7zO7jDECnzVn4s1k3SpSgKZjKaI/6sJPOuyXBCrNorv5melCkO8am6MSCVl5i1mhu0wUs8njdr9KA5ZLvS4P06YdvqZUtSBWIJdurrj4Eox3qdSsGIn2uAu4EamLQ3zPndGTR0zq4gFp2GOrUDOz4DTPQlgcKWk/Viz1Q9C8CAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002/providers/Microsoft.Kubernetes/connectedClusters/clitest000002-cluster?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Kubernetes/connectedClusters/clitest000002-cluster","name":"clitest000002-cluster","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{},"systemData":{"createdBy":"silasstrawn@microsoft.com","createdByType":"User","createdAt":"2021-10-05T16:13:53.1368376Z","lastModifiedBy":"silasstrawn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-05T16:13:53.1368376Z"},"identity":{"principalId":"2b72fb96-ef38-45fb-ad42-2a300e9c42ba","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEAn/f5Pom968V5SpNp7aCL1IGpUeCVBupURPTj7cej2lekkVVj0t9M71aGwWEBF7NsNwBA8Pa51AUe50nUkn7igT0lBKS1NH7X5/jKuB9Douw17tp5N/hcKXwehLtoNwHyoDwghGg+lXA04dG49Emo2Z7wi+mvTnu/4kZU+ZPbDiPlbvMvsgO2cTKOgRHie+nb9UiLYRRtT8P3cMMml/ogkORxa7tXbIf+7q2K+MiNo6DWdscoywFnERlfYjav4lH8oolS1H4LT+MXfe8H/kEA6Zm5tPZogRiYgUehXW0IDWZVqpuKCYZDtPWtqCGSL59k3mSDWHdmAh1P1nxVBMBJ3pK4WUBE8vDtznBiL5LZZNWy+DnimI6Ml9LdM5GzN66m2OpW/LuuBgQEHEhCpcm+3vVHPg4XBkqXq0YHRWiPQgfbVLQD/czDXpab2/IWC0uq9LZHH4ooB3TKwe9g5Uj2Y+P++U4FNnC3QZcYCCZwhHCkF4E7tTDN1wX3unthf/1R2jP7zO7jDECnzVn4s1k3SpSgKZjKaI/6sJPOuyXBCrNorv5melCkO8am6MSCVl5i1mhu0wUs8njdr9KA5ZLvS4P06YdvqZUtSBWIJdurrj4Eox3qdSsGIn2uAu4EamLQ3zPndGTR0zq4gFp2GOrUDOz4DTPQlgcKWk/Viz1Q9C8CAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
[...]
