interactions:
- request:
    body: '{"location": "eastus2", "properties": {"scope": "InfiniBand", "subgroupProfile":
      {"scope": "VerticalConnect", "size": 18, "vmSize": "Standard_ND128isr_NDR_GB200_v6"}},
      "tags": {"key1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002?api-version=2025-07-01
  response:
    body:
      string: '{"name":"ig-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002","etag":"W/\"df95dff2-9ba8-48e6-bec8-c9ad114ceeea\"","type":"Microsoft.Network/interconnectGroups","location":"eastus2","tags":{"key1":"value1"},"properties":{"provisioningState":"Succeeded","resourceGuid":"3d466ec6-094c-40f9-9baa-0f5557a0630e","scope":"InfiniBand","subgroupProfile":{"vmSize":"Standard_ND128isr_NDR_GB200_v6","scope":"VerticalConnect","size":18},"subgroups":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttle-levels:
      - operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.1,
        etc
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups?api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"name":"ig-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002","etag":"W/\"df95dff2-9ba8-48e6-bec8-c9ad114ceeea\"","type":"Microsoft.Network/interconnectGroups","location":"eastus2","tags":{"key1":"value1"},"properties":{"provisioningState":"Succeeded","resourceGuid":"3d466ec6-094c-40f9-9baa-0f5557a0630e","scope":"InfiniBand","subgroupProfile":{"vmSize":"Standard_ND128isr_NDR_GB200_v6","scope":"VerticalConnect","size":18},"subgroups":[]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ffb216ea-69c3-421f-899d-53471078e2af
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
      x-ms-throttle-levels:
      - operationConcurrencyPct=0.5, etc
    status:
      code: 200
      message: OK
[...]
{"scope": "VerticalConnect", "size": 18, "vmSize": "Standard_ND128isr_NDR_GB200_v6"}},
      "tags": {"key1": "value1", "key2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002?api-version=2025-07-01
  response:
    body:
      string: '{"name":"ig-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002","etag":"W/\"10c3b3d8-78c7-4bb1-84ba-dfaf8cc7cb26\"","type":"Microsoft.Network/interconnectGroups","location":"eastus2","tags":{"key1":"value1","key2":"value2"},"properties":{"provisioningState":"Succeeded","resourceGuid":"3d466ec6-094c-40f9-9baa-0f5557a0630e","scope":"InfiniBand","subgroupProfile":{"vmSize":"Standard_ND128isr_NDR_GB200_v6","scope":"VerticalConnect","size":18},"subgroups":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttle-levels:
      - operationRatePct=0.2, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.2,
        etc
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002/nodeAvailability?api-version=2025-07-01
  response:
    body:
      string: '{"subgroupsNodeAvailability":[]}'
    headers:
      azure-asyncnotification:
      - Enabled
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operationResults/d300fc78-7839-4c7c-ad78-d4a3224b1eea?api-version=2025-07-01&t=639213215996763019&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups/ig-000002/subgroups?api-version=2025-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
      x-ms-throttle-levels:
      - operationConcurrencyPct=0.5, etc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_interconnect_group_000001/providers/Microsoft.Network/interconnectGroups?api-version=2025-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
