interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-08-11T06:47:31Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf","name":"wmimfgkkitsdsyombckf","type":"Microsoft.EventHub/Namespaces","location":"West
        US","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"7fd08dcc-a653-4b0f-8f8c-4dac889fdda4:wmimfgkkitsdsyombckf","createdAt":"2020-08-11T06:47:44.143Z","updatedAt":"2020-08-11T06:47:44.143Z","serviceBusEndpoint":"https://wmimfgkkitsdsyombckf.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf/eventhubs/test?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf/eventhubs/test","name":"test","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2020-08-11T06:48:52.95Z","updatedAt":"2020-08-11T06:48:54.007Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "sku": {"name": "Standard_D11_v2", "capacity":
      2, "tier": "Standard"}, "properties": {"enableStreamingIngest": true, "keyVaultProperties":
      {"keyName": "", "keyVersion": "", "keyVaultUri": ""}, "enablePurge": true, "enableDoubleEncryption":
      false}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/followercluster100?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/followercluster100","name":"followercluster100","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"southcentralus","sku":{"name":"Standard_D11_v2","tier":"Standard","capacity":2},"properties":{"enableStreamingIngest":true,"keyVaultProperties":{"keyName":"","keyVersion":"","keyVaultUri":""},"enablePurge":true,"enableDoubleEncryption":false,"state":"Creating","provisioningState":"Creating"},"identity":{"type":"SystemAssigned"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/southcentralus/operationResults/09210a8e-bfc9-434f-9b68-de5cea6ef27f?api-version=2020-06-14
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/southcentralus/operationResults/09210a8e-bfc9-434f-9b68-de5cea6ef27f?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/southcentralus/operationresults/09210a8e-bfc9-434f-9b68-de5cea6ef27f","name":"09210a8e-bfc9-434f-9b68-de5cea6ef27f","status":"Running","startTime":"2020-08-11T06:49:07.6811811Z","endTime":"2020-08-11T06:49:07.6811811Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateExternal","RootActivityId":"2ecfe49d-e3fc-435f-9acb-4f875a5a836c","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/followercluster100?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/followercluster100","name":"followercluster100","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"South
        Central US","sku":{"name":"Standard_D11_v2","tier":"Standard","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://followercluster100.southcentralus.kusto.windows.net","dataIngestionUri":"https://ingest-followercluster100.southcentralus.kusto.windows.net","trustedExternalTenants":[],"virtualNetworkConfiguration":null,"optimizedAutoscale":null,"enableDiskEncryption":false,"enableStreamingIngest":true,"keyVaultProperties":null,"languageExtensions":{"value":[]},"enablePurge":true,"enableDoubleEncryption":false,"provisioningState":"Succeeded"},"identity":{"principalId":"f1c57df4-bba0-4afc-9ef1-b2c9277c9445","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "sku": {"name": "Standard_D11_v2", "capacity":
      2, "tier": "Standard"}, "properties": {"enableStreamingIngest": true, "keyVaultProperties":
      {"keyName": "", "keyVersion": "", "keyVaultUri": ""}, "enablePurge": true, "enableDoubleEncryption":
      false}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000[...]
[...]
- request:
    body: '{"location": "southcentralus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/KustoDatabase8?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100/Databases/KustoDatabase8","name":"leadercluster100/KustoDatabase8","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"southcentralus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/southcentralus/operationResults/400278fb-92ea-480a-836a-d9d229613616?api-version=2020-06-14
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/KustoDatabase8?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100/Databases/KustoDatabase8","name":"leadercluster100/KustoDatabase8","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"South
        Central US","kind":"ReadWrite","tags":{},"properties":{"isFollowed":false,"softDeletePeriodInDays":1,"softDeletePeriod":"P1D","hotCachePeriodInDays":0,"statistics":{"size":0.0},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/clusters?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/followercluster100","name":"followercluster100","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"South
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/followercluster100","name":"followercluster100","type":"Microsoft.Kusto/Clusters","etag":"\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/skus?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Kusto/clusters","sku":{"name":"Standard_D11_v2","tier":"Standard","locationInfo":[{"location":"South
        Central US","zones":[]}]},"capacity":{"minimum":2,"maximum":8,"default":2,"scaleType":"Automatic"}},{"resourceType":"Microsoft.Kusto/clusters","sku":{"name":"Standard_D12_v2","tier":"Standard","locationInfo":[{"location":"South
        Central US","zones":[]}]},"capacity":{"minimum":2,"maximum":16,"default":2,"scaleType":"Automatic"}},{"resourceType":"Microsoft.Kusto/clusters","sku":{"name":"Standard_D13_v2","tier":"Standard","locationInfo":[{"location":"South
        Central US","zones":[]}]},"capacity":{"minimum":2,"maximum":1000,"default":2,"scaleType":"Automatic"}},{"resour[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/skus?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"resourceType":"clusters","name":"Dev(No SLA)_Standard_D11_v2","tier":"Basic","locations":["australiacentral"],"locationInfo":[{"location":"australiacentral","zones":[],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"clusters","name":"Standard_D11_v2","tier":"Standard","locations":["australiacentral"],"locationInfo":[{"location":"australiacentral","zones":[],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"clusters","name":"Standard_D12_v2","tier":"Standard","locations":["australiacentral"],"locationInfo":[{"location":"australiacentral","zones":[],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"clusters","name":"Standard_D13_v2","tier":"Standard","locations":["australiacentr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South%20Central%20US/operationResults/91ab9797-82ff-4ffb-9577-5c1dc626f841?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South
        Central US/operationresults/91ab9797-82ff-4ffb-9577-5c1dc626f841","name":"91ab9797-82ff-4ffb-9577-5c1dc626f841","status":"Succeeded","startTime":"2020-08-11T07:22:19.0397032Z","endTime":"2020-08-11T07:22:19.9459433Z","percentComplete":1.0,"properties":{"OperationKind":"DatabaseCreate","RootActivityId":"609fd30c-984e-430a-a234-b5c44cebaa3d","provisioningState":"Succeeded","OperationState":"Completed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100/Databases/KustoDatabase8","name":"leadercluster100/KustoDatabase8","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"South
        Central US","kind":"ReadWrite","properties":{"isFollowed":false,"softDeletePeriodInDays":1,"softDeletePeriod":"P1D","hotCachePeriodInDays":0,"statistics":{"size":0.0},"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"principalId": "d9a1f322-1293-4595-91e3-f54f8bb34725",
      "role": "Admin", "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d", "principalType":
      "App"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/Kustodatabase8/principalAssignments/kustoprincipal1?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100/Databases/Kustodatabase8/PrincipalAssignments/kustoprincipal1","name":"leadercluster100/Kustodatabase8/kustoprincipal1","type":"Microsoft.Kusto/Clusters/Databases/PrincipalAssignments","etag":"\"\"","properties":{"principalId":"d9a1f322-1293-4595-91e3-f54f8bb34725","role":"Admin","tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","principalType":"App","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South
        Central US/operationResults/c931285e-4c5e-4b7e-8d26-406e13777520?api-version=2020-06-14
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South%20Central%20US/operationResults/c931285e-4c5e-4b7e-8d26-406e13777520?api-version=2020-06-14
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.Kusto'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/Kustodatabase8/principalAssignments/kustoprincipal1?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100/Databases/Kustodatabase8/PrincipalAssignments/kustoprincipal1","name":"leadercluster100/Kustodatabase8/kustoprincipal1","type":"Microsoft.Kusto/Clusters/Databases/PrincipalAssignments","etag":"\"\"","tags":{},"properties":{"principalId":"d9a1f322-1293-4595-91e3-f54f8bb34725","role":"Admin","principalType":"App","tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","tenantName":"MS
        Azure Cloud","principalName":"KustoResourceProvider","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/Kustodatabase8/listPrincipals?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"name":"Changlong Liu","role":"Admin","type":"User","fqn":"aaduser=6bedd520-9535-468f-9ab3-79d17bea1b92;72f988bf-86f1-41af-91ab-2d7cd011db47","email":"changll@microsoft.com","appId":"","tenantName":"Microsoft"},{"name":"KustoResourceProvider","role":"Admin","type":"App","fqn":"aadapp=d9a1f322-1293-4595-91e3-f54f8bb34725;33e01921-4d64-4f8c-a055-5bdaffd5e33d","email":"","appId":"d9a1f322-1293-4595-91e3-f54f8bb34725","tenantName":"MS
        Azure Cloud"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"principalId": "d9a1f322-1293-4595-91e3-f54f8bb34725",
      "role": "AllDatabasesViewer", "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d",
      "principalType": "App"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/principalAssignments/kustoprincipal[...]
[...]
- request:
    body: '{"location": "southcentralus", "properties": {"databaseName": "Kustodatabase8",
      "clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100",
      "defaultPrincipalsModificationKind": "Union"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/followercluster100/attachedDatabaseConfigurations/attachedDatabaseConfigurations2?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kus[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/followercluster100/attachedDatabaseConfigurations/attachedDatabaseConfigurations2?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/followercluster100/AttachedDatabaseConfigurations/attachedDatabaseConfigurations2","name":"followercluster100/attachedDatabaseConfigurations2","type":"Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations","etag":"\"\"","location":"South
        Central US","tags":{},"properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100","databaseName":"Kustodatabase8","attachedDatabaseNames":["Kustodatabase8"],"defaultPrincipalsModificationKind":"Union","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/attachedDatabaseConfigurations?api-version=2020-06-14
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/listFollowerDatabases?api-version=2020-06-14
  response:
    body:
      string: '{"value":[{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/followercluster100","attachedDatabaseConfigurationName":"attachedDatabaseConfigurations2","databaseName":"Kustodatabase8"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/followercluster100",
      "attachedDatabaseConfigurationName": "attachedDatabaseConfigurations2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/detachFollowerDatabases?api-version=2020-06-14
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South
        Central US/operationResults/2fd8ae72-2d23-4856-a7d1-3fa028bb418d?api-version=2020-06-14
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South%20Central%20US/operationResults/2fd8ae72-2d23-4856-a7d1-3fa028bb418d?api-version=2020-06-14&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South%20Central%20US/operationResults/2fd8ae72-2d23-4856-a7d1-3fa028bb418d?api-version=2020-06-14&operationResultResponseType=Location
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '297'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dataConnectionName": "DataConnections8", "properties": {"location": "westus",
      "kind": "EventHub", "properties": {"eventHubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf/eventhubs/test",
      "consumerGroup": "$Default"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/KustoDatabase8/dataConnectionValidation?api-version=2020-06-14
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South
        Central US/operationResults/ceb67839-259b-441a-b865-45d2fa38a974?api-version=2020-06-14
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South%20Central%20US/operationResults/ceb67839-259b-441a-b865-45d2fa38a974?api-version=2020-06-14&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South%20Central%20US/operationResults/ceb67839-259b-441a-b865-45d2fa38a974?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/South
        Central US/operationresults/ceb67839-259b-441a-b865-45d2fa38a974","name":"ceb67839-259b-441a-b865-45d2fa38a974","status":"Succeeded","startTime":"2020-08-11T07:28:38.8105067Z","endTime":"2020-08-11T07:29:08.3610776Z","percentComplete":1.0,"properties":{"Value":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '296'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southcentralus", "kind": "EventHub", "properties": {"eventHubResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf/eventhubs/test",
      "consumerGroup": "$Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/leadercluster100/databases/KustoDatabase8/dataConnections/DataConnections8?api-version=2020-06-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/leadercluster100/Databases/KustoDatabase8/DataConnections/DataConnections8","name":"leadercluster100/KustoDatabase8/DataConnections8","type":"Microsoft.Kusto/Clusters/Databases/DataConnections","etag":"\"\"","location":"South
        Central US","kind":"EventHub","tags":{},"properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.EventHub/namespaces/wmimfgkkitsdsyombckf/eventhubs/test","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"compression":"None","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
