interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-11-19T05:35:51Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestyyzrc5cni-8ecadf", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "sshkey"}]}}, "servicePrincipalProfile": {"clientId": "clientid",
      "secret": "secret"}, "addonProfiles": {}, "enableRBAC":
      true, "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "apiServerAccessProfile": {"enablePrivateCluster":
      true, "privateDNSZone": "none"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.17.13\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitestyyzrc5cni-8ecadf\",\n   \"privateFQDN\": \"cliakstest-clitestyyzrc5cni-8ecadf-36b2a2d1.83b8825f-45cd-4a35-a607-70f42814094d.privatelink.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"maxPods\": 110,\n     \"\
        type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\"\
        ,\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\"\
        : \"1.17.13\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\":\
        \ {},\n     \"mode\": \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\"\
        : \"AKSUbuntu-1604-2020.10.28\"\n    }\n   ],\n   \"linuxProfile\": {\n  \
        \  \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"sshkey\"\n      }\n     ]\n    }\n   },\n   \"\
        servicePrincipalProfile\": {\n    \"clientId\": \"clientid\"\
        \n   },\n   \"addonProfiles\": {\n    \"KubeDashboard\": {\n     \"enabled\"\
        : true,\n     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\": \"\
        MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n \
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\"\
        : \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\"\
        : {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n\
        \    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\"\
        ,\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\
        ,\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\": 100,\n\
        \   \"privateLinkResources\": [\n    {\n     \"name\": \"management\",\n \
        \    \"type\": \"Microsoft.ContainerService/managedClusters/privateLinkResources\"\
        ,\n     \"groupId\": \"management\",\n     \"requiredMembers\": [\n      \"\
        management\"\n     ]\n    }\n   ],\n   \"apiServerAccessProfile\": {\n   \
        \ \"enablePrivateCluster\": true,\n    \"privateDNSZone\": \"none\"\n   }\n\
        \  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n\
        \ }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/2a29746c-f508-48b1-99a1-6c44809be302?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/2a29746c-f508-48b1-99a1-6c44809be302?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"6c74292a-08f5-b148-99a1-6c44809be302\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-11-19T05:37:12.8302328Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/4041bd7a-b342-4943-b9d9-0371eb172b1a?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/4041bd7a-b342-4943-b9d9-0371eb172b1a?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
