interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2021-03-04T03:41:48Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestxqwkpzdcx-8ecadf", "agentPoolProfiles": [{"count": 3, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "enableEncryptionAtHost": false, "name": "nodepool1"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgyoJ4q72O7uwCN7tDkJSzDSjfR1NksmINwuqFKM2ScSc44urD39qMx1BFAfA2Cv6n3Ncltrqmut1iqevr0wKi8awvKikhIy9Rk/LyVQZ1+utIEKOkZ6+CuN2ihhMJnbW6gHnyIKT3++SwjVcoBAjr2SM85oNLYCCFJfrNgnS7jzSaTOqLI8h9xG7b5p8VXVHN8/6IkzALtco1zkhSKyrOZA+konr5V+3Lb9PEAXV8mj9raq0lkdxojCmntokt2mF1uSNs+NdkQ5UJzrqiATRgwdtMzOQ6Mj57gzYZUXSVqSqscwPvGYk32zy36eWIqsl4h4oYHvsOvAtUM9mh/kSX
      root@jiliu8-dev-linux\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy":
      false, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "standard"}},
      "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-02-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"centraluseuap\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.18.14\",\n   \"dnsPrefix\": \"cliakstest-clitestxqwkpzdcx-8ecadf\",\n
        \  \"fqdn\": \"cliakstest-clitestxqwkpzdcx-8ecadf-2a0c1661.hcp.centraluseuap.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestxqwkpzdcx-8ecadf-2a0c1661.portal.hcp.centraluseuap.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.18.14\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n
        \    \"mode\": \"System\",\n     \"enableEncryptionAtHost\": false,\n     \"osType\":
        \"Linux\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2-2021.02.24\"\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDgyoJ4q72O7uwCN7tDkJSzDSjfR1NksmINwuqFKM2ScSc44urD39qMx1BFAfA2Cv6n3Ncltrqmut1iqevr0wKi8awvKikhIy9Rk/LyVQZ1+utIEKOkZ6+CuN2ihhMJnbW6gHnyIKT3++SwjVcoBAjr2SM85oNLYCCFJfrNgnS7jzSaTOqLI8h9xG7b5p8VXVHN8/6IkzALtco1zkhSKyrOZA+konr5V+3Lb9PEAXV8mj9raq0lkdxojCmntokt2mF1uSNs+NdkQ5UJzrqiATRgwdtMzOQ6Mj57gzYZUXSVqSqscwPvGYk32zy36eWIqsl4h4oYHvsOvAtUM9mh/kSX
        root@jiliu8-dev-linux\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"addonProfiles\":
        {\n    \"KubeDashboard\": {\n     \"enabled\": false,\n     \"config\": null\n
        \   }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_centraluseuap\",\n
        \  \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\":
        {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n
        \   \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\":
        1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\":
        100\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/ec2f17ca-4281-40f4-8a19-17e75c7d9cdf?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/ec2f17ca-4281-40f4-8a19-17e75c7d9cdf?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"ca172fec-8142-f440-8a19-17e75c7d9cdf\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-03-04T03:41:58.85Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/ec2f17ca-4281-40f4-8a19-17e75c7d9cdf?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"ca172fec-8142-f440-8a19-17e75c7d9cdf\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-03-04T03:41:58.85Z\",\n  \"endTime\":
        \"2021-03-04T03:45:15.9724508Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "properties": {"kubernetesVersion": "1.18.14",
      "dnsPrefix": "cliakstest-clitestxqwkpzdcx-8ecadf", "agentPoolProfiles": [{"count":
      3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType": "Managed",
      "kubeletDiskType": "OS", "maxPods": 110, "osType": "Linux", "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "1.18.14", "enableNodePublicIP": false,
      "nodeLabels": {}, "enableEncryptionAtHost": false, "name": "nodepool1"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgyoJ4q72O7uwCN7tDkJSzDSjfR1NksmINwuqFKM2ScSc44urD39qMx1BFAfA2Cv6n3Ncltrqmut1iqevr0wKi8awvKikhIy9Rk/LyVQZ1+utIEKOkZ6+CuN2ihhMJnbW6gHnyIKT3++SwjVcoBAjr2SM85oNLYCCFJfrNgnS7jzSaTOqLI8h9xG7b5p8VXVHN8/6IkzALtco1zkhSKyrOZA+konr5V+3Lb9PEAXV8mj9raq0lkdxojCmntokt2mF1uSNs+NdkQ5UJzrqiATRgwdtMzOQ6Mj57gzYZUXSVqSqscwPvGYk32zy36eWIqsl4h4oYHvsOvAtUM9mh/kSX
      root@jiliu8-dev-linux\n"}]}}, "addonProfiles": {"KubeDashboard": {"enabled":
      false}, "azureKeyvaultSecretsProvider": {"enabled": true, "config": {"enableSecretRotation":
      "false"}}}, "nodeResourceGroup": "MC_clitest000001_cliakstest000002_centraluseuap",
      "enableRBAC": true, "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "Standard", "loadBalancerProfile": {"managedOutboundIPs":
      {"count": 1}, "effectiveOutboundIPs": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000002_centraluseuap/providers/Microsoft.Network/publicIPAddresses/c05a6454-e130-43c1-8a6c-b554a2179c22"}]}},
      "identityProfile": {"kubeletidentity": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_clitest000001_cliakstest000002_centraluseuap/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002-agentpool",
      "clientId":"00000000-0000-0000-0000-000000000001", "objectId":"00000000-0000-0000-0000-000000000001"}}},
      "identity": {"type": "SystemAssigned"}, "sku": {"name": "Basic", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-12-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/ec2f17ca-4281-40f4-8a19-17e75c7d9cdf?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"ca172fec-8142-f440-8a19-17e75c7d9cdf\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-03-04T03:41:58.85Z\",\n  \"endTime\":
        \"2021-03-04T03:45:15.9724508Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
