interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-06-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestg2jrvzwep-8ecadf",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_D4s_v3", "osDiskSizeGB":
      0, "workloadRuntime": "OCIContainer", "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "enableCustomCATrust":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "networkProfile": {}, "name": "nodepool1"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhDFlCMOWnU1wLWU2hSIMg1BUCd8p6zCH5HSFdEwqMlwO9O0DPPLhmb8EsYiqb+X8okUKPp+WQaX/+ec4l/rrGeCVDwes7bgZhioCaUuWeKGWNtrm1JNwBOGbUdPfsw7lvJ/klRXLYG27ielKTfXfToKIq7sKOBT//RPLr9+vvrAAqEiUtAftDgaHeDRXtNxY03/es0/Cv0J44Fu/htd7vvVWDHIAW52pLjCU18uwLj9R8LdFutJR4A4evrBpHS41AeSnPAiuJO36EVzTYFPpEm19HzDu1S6y035TLVw7TAVFpXTXT8QxB0XZXIOtqGQ3WJv8rzkdL9Kf99k/n5DCl
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/TrustedAccessPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-06-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.9\",\n   \"currentKubernetesVersion\": \"1.24.9\",\n   \"dnsPrefix\":
        \"cliakstest-clitestg2jrvzwep-8ecadf\",\n   \"fqdn\": \"cliakstest-clitestg2jrvzwep-8ecadf-a4o8az50.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestg2jrvzwep-8ecadf-a4o8az50.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_D4s_v3\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.24.9\",\n     \"currentOrchestratorVersion\": \"1.24.9\",\n     \"enableNodePublicIP\":
        false,\n     \"enableCustomCATrust\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2023.02.15\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false,\n     \"networkProfile\": {}\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhDFlCMOWnU1wLWU2hSIMg1BUCd8p6zCH5HSFdEwqMlwO9O0DPPLhmb8EsYiqb+X8okUKPp+WQaX/+ec4l/rrGeCVDwes7bgZhioCaUuWeKGWNtrm1JNwBOGbUdPfsw7lvJ/klRXLYG27ielKTfXfToKIq7sKOBT//RPLr9+vvrAAqEiUtAftDgaHeDRXtNxY03/es0/Cv0J44Fu/htd7vvVWDHIAW52pLjCU18uwLj9R8LdFutJR4A4evrBpHS41AeSnPAiuJO36EVzTYFPpEm19HzDu1S6y035TLVw7TAVFpXTXT8QxB0XZXIOtqGQ3WJv8rzkdL9Kf99k/n5DCl
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     },\n     \"backendPoolType\":
        \"nodeIPConfiguration\"\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\":
        [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true,\n     \"version\": \"v1\"\n
        \   },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/01f1daf3-1422-40bd-b7e8-88137f79fa00?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/01f1daf3-1422-40bd-b7e8-88137f79fa00?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3daf101-2214-bd40-b7e8-88137f79fa00\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-20T05:13:11.1593958Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/01f1daf3-1422-40bd-b7e8-88137f79fa00?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3daf101-2214-bd40-b7e8-88137f79fa00\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-20T05:13:11.1593958Z\",\n  \"endTime\":
        \"2023-03-20T05:16:47.8259601Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters?api-version=2023-06-02-preview
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \   \"location\": \"westus2\",\n    \"name\": \"cliakstest000001\",\n    \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n    \"properties\": {\n     \"provisioningState\":
        \"Succeeded\",\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n
        \    \"kubernetesVersion\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"aks-nodepool1-92758001-vmss\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Compute/virtualMachineScaleSets/aks-nodepool1-92758001-vmss\",\r\n
        \     \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n      \"location\":
        \"westus2\",\r\n      \"tags\": {\r\n        \"aks-managed-createOperationID\":
        \"01f1daf3-1422-40bd-b7e8-88137f79fa00\",\r\n        \"aks-managed-creationSource\":
        \"vmssclient-aks-nodepool1-92758001-vmss\",\r\n        \"aks-managed-kubeletIdentityClientID\":
        \"4fa77fa3-3993-46eb-b100-779e767ca6b8\",\r\n        \"aks-managed-orchestrator\":
        \"Kubernetes:1.24.9\",\r\n        \"aks-managed-poolName\": \"nodepool1\",\r\n
        \       \"aks-managed-resourceNameSuffix\": \"27452312\",\r\n        \"aks-managed-coordination\":
        \"true\"\r\n      },\r\n      \"identity\": {\r\n        \"type\": \"SystemAssigned,
        UserAssigned\",\r\n        \"principalId\":\"00000000-0000-0000-0000-000000000001\",\r\n
        \       \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"userAssignedIdentities\":
        {\r\n          \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000001-agentpool\":
        {\r\n            \"principalId\":\"00000000-0000-0000-0000-000000000001\",\r\n
        \           \"clientId\":\"00000000-0000-0000-0000-000000000001\"\r\n          }\r\n
        \       }\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"Standard_D4s_v3\",\r\n
        \       \"tier\": \"Standard\",\r\n        \"capacity\": 1\r\n      },\r\n
        \     \"properties\": {\r\n        \"singlePlacementGroup\": false,\r\n        \"orchestrationMode\":
        \"Uniform\",\r\n        \"upgradePolicy\": {\r\n          \"mode\": \"Manual\"\r\n
        \       },\r\n        \"virtualMachineProfile\": {\r\n          \"osProfile\":
        {\r\n            \"computerNamePrefix\": \"aks-nodepool1-92758001-vmss\",\r\n
        \           \"adminUsername\": \"azureuser\",\r\n            \"linuxConfiguration\":
        {\r\n              \"disablePasswordAuthentication\": true,\r\n              \"ssh\":
        {\r\n                \"publicKeys\": [\r\n                  {\r\n                    \"path\":
        \"/home/azureuser/.ssh/authorized_keys\",\r\n                    \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhDFlCMOWnU1wLWU2hSIMg1BUCd8p6zCH5HSFdEwqMlwO9O0DPPLhmb8EsYiqb+X8okUKPp+WQaX/+ec4l/rrGeCVDwes7bgZhioCaUuWeKGWNtrm1JNwBOGbUdPfsw7lvJ/klRXLYG27ielKTfXfToKIq7sKOBT//RPLr9+vvrAAqEiUtAftDgaHeDRXtNxY03/es0/Cv0J44Fu/htd7vvVWDHIAW52pLjCU18uwLj9R8LdFutJR4A4evrBpHS41AeSnPAiuJO36EVzTYFPpEm19HzDu1S6y035TLVw7TAVFpXTXT8QxB0XZXIOtqGQ3WJv8rzkdL9Kf99k/n5DCl
        azcli_aks_live_test@example.com\\n\"\r\n                  }\r\n                ]\r\n
        \             },\r\n              \"provisionVMAgent\": true,\r\n              \"enableVMAgentPlatformUpdates\":
        false\r\n            },\r\n            \"secrets\": [],\r\n            \"allowExtensionOperations\":
        true,\r\n            \"requireGuestProvisionSignal\": true\r\n          },\r\n
        \         \"storageProfile\": {\r\n            \"osDisk\": {\r\n              \"osType\":
        \"Linux\",\r\n              \"createOption\": \"FromImage\",\r\n              \"caching\":
        \"ReadWrite\",\r\n              \"managedDisk\": {\r\n                \"storageAccountType\":
        \"Premium_LRS\"\r\n              },\r\n              \"diskSizeGB\": 128\r\n
        \           },\r\n            \"imageReference\": {\r\n              \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKS-Ubuntu/providers/Microsoft.Compute/galleries/AKSUbuntu/images/1804gen2containerd/versions/2023.02.15\"\r\n
        \           }\r\n          },\r\n          \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"aks-nodepool1-92758001-vmss\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":true,\"disableTcpStateTracking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":true,\"ipConfigurations\":[{\"name\":\"ipconfig1\",\"properties\":{\"primary\":true,\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Network/virtualNetworks/aks-vnet-27452312/subnets/aks-subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Network/loadBalancers/kubernetes/backendAddressPools/kubernetes\"},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Network/loadBalancers/kubernetes/backendAddressPools/aksOutboundBackendPool\"}]}}]}}]},\r\n
        \         \"extensionProfile\": {\r\n            \"extensions\": [\r\n              {\r\n
        \               \"name\": \"vmssCSE\",\r\n                \"properties\":
        {\r\n                  \"autoUpgradeMinorVersion\": true,\r\n                  \"publisher\":
        \"Microsoft.Azure.Extensions\",\r\n                  \"type\": \"CustomScript\",\r\n
        \                 \"typeHandlerVersion\": \"2.0\",\r\n                  \"settings\":
        {}\r\n                }\r\n              },\r\n              {\r\n                \"name\":
        \"aks-nodepool1-92758001-vmss-AKSLinuxBilling\",\r\n                \"properties\":
        {\r\n                  \"autoUpgradeMinorVersion\": true,\r\n                  \"publisher\":
        \"Microsoft.AKS\",\r\n                  \"type\": \"Compute.AKS.Linux.Billing\",\r\n
        \                 \"typeHandlerVersion\": \"1.0\",\r\n                  \"settings\":
        {}\r\n                }\r\n              },\r\n              {\r\n                \"name\":
        \"AKSLinuxExtension\",\r\n                \"properties\": {\r\n                  \"autoUpgradeMinorVersion\":
        false,\r\n                  \"provisionAfterExtensions\": [\r\n                    \"vmssCSE\"\r\n
        \                 ],\r\n                  \"suppressFailures\": false,\r\n
        \                 \"publisher\": \"Microsoft.AKS\",\r\n                  \"type\":
        \"Compute.AKS.Linux.AKSNode\",\r\n                  \"typeHandlerVersion\":
        \"1.39\",\r\n                  \"settings\": {\"node-exporter-tls\":\"false\"}\r\n
        \               }\r\n              }\r\n            ],\r\n            \"extensionsTimeBudget\":
        \"PT16M\"\r\n          }\r\n        },\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"overprovision\": false,\r\n        \"doNotRunExtensionsOnOverprovisionedVMs\":
        false,\r\n        \"uniqueId\": \"0299504e-3edd-4343-b039-3a618da9d914\",\r\n
        \       \"platformFaultDomainCount\": 1,\r\n        \"timeCreated\": \"2023-03-20T05:14:34.0886396+00:00\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostGetVMScaleSet3Min;179,Microsoft.Compute/HighCostGetVMScaleSet30Min;891
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/trustedAccessRoleBindings/testbinding?api-version=2023-06-02-preview
  response:
    body:
      string: "{\n  \"code\": \"NotFound\",\n  \"message\": \"Could not find the trusted
        access role binding testbinding in subscription: 8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8,
        resourceGroup: clitest000001, clusterName: cliakstest000001.\",\n  \"subcode\":
        \"GetTrustedAccessRoleBinding_NotFound\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Compute/virtualMachineScaleSets/aks-nodepool1-92758001-vmss",
      "roles": ["Microsoft.Compute/virtualMachineScaleSets/test-node-reader", "Microsoft.Compute/virtualMachineScaleSets/test-admin"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/trustedAccessRoleBindings/testbinding?api-version=2023-06-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/trustedAccessRoleBindings/testbinding\",\n
        \ \"name\": \"testbinding\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/trustedAccessRoleBindings\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Updating\",\n   \"sourceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Compute/virtualMachineScaleSets/aks-nodepool1-92758001-vmss\",\n
        \  \"roles\": [\n    \"Microsoft.Compute/virtualMachineScaleSets/test-node-reader\",\n
        \   \"Microsoft.Compute/virtualMachineScaleSets/test-admin\"\n   ]\n  }\n
        }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/trustedAccessRoleBindings?api-version=2023-06-02-preview
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/trustedAccessRoleBindings/testbinding\",\n
        \   \"name\": \"testbinding\",\n    \"type\": \"Microsoft.ContainerService/managedClusters/trustedAccessRoleBindings\",\n
        \   \"properties\": {\n     \"provisioningState\": \"Succeeded\",\n     \"sourceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Compute/virtualMachineScaleSets/aks-nodepool1-92758001-vmss\",\n
        \    \"roles\": [\n      \"Microsoft.Compute/virtualMachineScaleSets/test-node-reader\",\n
        \     \"Microsoft.Compute/virtualMachineScaleSets/test-admin\"\n     ]\n    }\n
        \  }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
