interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/kubernetesVersions?api-version=2026-02-02-preview
  response:
    body:
      string: "{\n \"values\": [\n  {\n   \"version\": \"1.35\",\n   \"capabilities\"\
        : {\n    \"supportPlan\": [\n     \"KubernetesOfficial\"\n    ]\n   },\n \
        \  \"isPreview\": true,\n   \"patchVersions\": {\n    \"1.35.0\": {\n    \
        \ \"upgrades\": []\n    }\n   }\n  },\n  {\n   \"version\": \"1.32\",\n  \
        \ \"capabilities\": {\n    \"supportPlan\": [\n     \"KubernetesOfficial\"\
        ,\n     \"AKSLongTermSupport\"\n    ]\n   },\n   \"patchVersions\": {\n  \
        \  \"1.32.0\": {\n     \"upgrades\": [\n      \"1.32.11\",\n      \"1.32.10\"\
        ,\n      \"1.32.9\",\n      \"1.32.8\",\n      \"1.32.7\",\n      \"1.32.6\"\
        ,\n      \"1.32.5\",\n      \"1.32.4\",\n      \"1.32.3\",\n      \"1.32.2\"\
        ,\n      \"1.32.1\",\n      \"1.33.7\",\n      \"1.33.6\",\n      \"1.33.5\"\
        ,\n    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2026-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000002''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_aks_update_switch_from_asm_to_app_routing_istio_fails","date":"2026-03-11T15:53:55Z","module":"aks-preview"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Base", "tier": "Free"}, "identity":
      {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-managed-identity-pool/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cp-245":
      {}}}, "kind": "Base", "properties": {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitesti5lu6gxrt-79a739",
      "agentPoolProfiles": [{"count": 3, "vmSize": "", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "upgradeSettingsBlueGreen":
      {}, "enableNodePublicIP": false, "scaleSetPriority": "Regular", "spotMaxPrice":
      -1.0, "nodeTaints": [], "nodeInitializationTaints": [], "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "networkProfile": {}, "securityProfile":
      {"sshAccess": "localuser"}, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCPZUrR83DGi3rdO9QtYiukvikwxVz+KFa9JmC/mg2kVnw8mLDweK1mOh2aAJ0xdK3VUEkIiOee6Iu6N2smdZD89u9xRVtwTiyOaWf2ZwuoQo9plqCtviiXzsVleXTKb+CaNZTUlDujwzJTxo9kBnJlPqliGwq5E0cz5q4WfzSlT+4qWc+6FnOp0bDqEDU8VzWIMV46c8exZZJNSop383eSAyYYtnklKTWkpmk5uzkbQTHbJE1U14WmiIKpC4dPkqA0MGbTL3vswP2Dei03Ue/jL//TS50NAk+Y9A0cpUZA+yO2X8DdkaNBQ2y7hkJTF4pM5QaMAslpmOZpyjqCkiG5
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}, "ingressProfile":
      {"webAppRouting": {"enabled": true}}, "serviceMeshProfile": {"mode": "Istio",
      "istio": {}}, "bootstrapProfile": {"artifactSource": "Direct"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2026-02-02-preview
  response:
    body:
      string: "{\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n \"location\": \"centraluseuap\",\n \"name\": \"cliakstest000002\",\n \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n \"kind\": \"Base\",\n\
        \ \"properties\": {\n  \"provisioningState\": \"Creating\",\n  \"powerState\"\
        : {\n   \"code\": \"Running\"\n  },\n  \"kubernetesVersion\": \"1.33\",\n\
        \  \"currentKubernetesVersion\": \"1.33.7\",\n  \"dnsPrefix\": \"cliakstest-clitesti5lu6gxrt-79a739\"\
        ,\n  \"fqdn\": \"cliakstest-clitesti5lu6gxrt-79a739-xcrnfow3.hcp.centraluseuap.azmk8s.io\"\
        ,\n  \"azurePortalFQDN\": \"cliakstest-clitesti5lu6gxrt-79a739-xcrnfow3.portal.hcp.centraluseuap.azmk8s.io\"\
        ,\n  \"agentPoolProfiles\": [\n   {\n    \"name\": \"nodepool1\",\n    \"\
        count\": 3,\n    \"vmSize\": \"Standard_D8ads_v5\",\n    \"osDiskSizeGB\"\
        : 300,\n    \"osDiskType\": \"Ephemeral\",\n    \"kubeletDiskType\": \"OS\"\
        ,\n    \"workloadRuntime\": \"OCIContainer\",\n    \"maxPods\": 250,\n   \
        \ \"type\": \"VirtualMachineScaleSets\",\n    \"enableAutoScaling\": false,\n\
        \    \"scaleDownMode\": \"Delete\",\n    \"provisioningState\": \"Creating\"\
        ,\n    \"powerState\": {\n     \"code\": \"Running\"\n    },\n    \"orchestratorVersion\"\
        : \"1.33\",\n    \"currentOrchestratorVersion\": \"1.33.7\",\n    \"enableNodePublicIP\"\
        : false,\n    \"nodeLabels\": {},\n    \"mode\": \"System\",\n    \"enableEncryptionAtHost\"\
        : false,\n    \"enableUltraSSD\": false,\n    \"osType\": \"Linux\",\n   \
        \ \"osSKU\": \"Ubuntu\",\n    \"nodeImageVersion\": \"AKSUbuntu-2204gen2containerd-202602.13.5\"\
        ,\n    \"upgradeStrategy\": \"Rolling\",\n    \"upgradeSettings\": {\n   \
        \  \"maxSurge\": \"10%\",\n     \"maxUnavailable\": \"0\"\n    },\n    \"\
        upgradeSettingsBlueGreen\": {},\n    \"enableFIPS\": false,\n    \"networkProfile\"\
        : {},\n    \"securityProfile\": {\n     \"sshAccess\": \"LocalUser\",\n  \
        \   \"enableVTPM\": false,\n     \"enableSecureBoot\": false\n    }\n   }\n\
        \  ],\n  \"linuxProfile\": {\n   \"adminUsername\": \"azureuser\",\n   \"\
        ssh\": {\n    \"publicKeys\": [\n     {\n      \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCPZUrR83DGi3rdO9QtYiukvikwxVz+KFa9JmC/mg2kVnw8mLDweK1mOh2aAJ0xdK3VUEkIiOee6Iu6N2smdZD89u9xRVtwTiyOaWf2ZwuoQo9plqCtviiXzsVleXTKb+CaNZTUlDujwzJTxo9kBnJlPqliGwq5E0cz5q4WfzSlT+4qWc+6FnOp0bDqEDU8VzWIMV46c8exZZJNSop383eSAyYYtnklKTWkpmk5uzkbQTHbJE1U14WmiIKpC4dPkqA0MGbTL3vswP2Dei03Ue/jL//TS50NAk+Y9A0cpUZA+yO2X8DdkaNBQ2y7hkJTF4pM5QaMAslpmOZpyjqCkiG5\
        \ azcli_aks_live_test@example.com\\n\"\n     }\n    ]\n   }\n  },\n  \"servicePrincipalProfile\"\
        : {\n   \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n  },\n  \"\
        nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_centraluseuap\",\n  \"\
        enableRBAC\": true,\n  \"supportPlan\": \"KubernetesOfficial\",\n  \"networkProfile\"\
        : {\n   \"networkPlugin\": \"azure\",\n   \"networkPluginMode\": \"overlay\"\
        ,\n   \"networkPolicy\": \"none\",\n   \"networkDataplane\": \"azure\",\n\
        \   \"loadBalancerSku\": \"standard\",\n   \"loadBalancerProfile\": {\n  \
        \  \"managedOutboundIPs\": {\n     \"count\": 1\n    },\n    \"backendPoolType\"\
        : \"nodeIPConfiguration\"\n   },\n   \"podCidr\": \"10.244.0.0/16\",\n   \"\
        serviceCidr\": \"10.0.0.0/16\",\n   \"dnsServiceIP\": \"10.0.0.10\",\n   \"\
        outboundType\": \"loadBalancer\",\n   \"podCidrs\": [\n    \"10.244.0.0/16\"\
        \n   ],\n   \"serviceCidrs\": [\n    \"10.0.0.0/16\"\n   ],\n   \"ipFamilies\"\
        : [\n    \"IPv4\"\n   ],\n   \"podLinkLocalAccess\": \"IMDS\"\n  },\n  \"\
        maxAgentPools\": 100,\n  \"autoUpgradeProfile\": {\n   \"nodeOSUpgradeChannel\"\
        : \"NodeImage\"\n  },\n  \"disableLocalAccounts\": false,\n  \"securityProfile\"\
        : {},\n  \"storageProfile\": {\n   \"diskCSIDriver\": {\n    \"enabled\":\
        \ true,\n    \"version\": \"v1\"\n   },\n   \"fileCSIDriver\": {\n    \"enabled\"\
        : true\n   },\n   \"snapshotController\": {\n    \"enabled\": true\n   }\n\
        \  },\n  \"oidcIssuerProfile\": {\n   \"enabled\": false\n  },\n  \"ingressProfile\"\
        : {\n   \"webAppRouting\": {\n    \"enabled\": true,\n    \"dnsZoneResourceIds\"\
        : null,\n    \"identity\": {},\n    \"nginx\": {\n     \"defaultIngressControllerType\"\
        : \"AnnotationControlled\"\n    },\n    \"defaultDomain\": {\n     \"enabled\"\
        : false\n    },\n    \"gatewayAPIImplementations\": {\n     \"appRoutingIstio\"\
        : {\n      \"mode\": \"Disabled\"\n     }\n    }\n   }\n  },\n  \"workloadAutoScalerProfile\"\
        : {},\n  \"serviceMeshProfile\": {\n   \"mode\": \"Istio\",\n   \"istio\"\
        : {\n    \"components\": {\n     \"proxyRedirectionMechanism\": \"InitContainers\"\
        \n    },\n    \"revisions\": [\n     \"asm-1-27\"\n    ]\n   }\n  },\n  \"\
        metricsProfile\": {\n   \"costAnalysis\": {\n    \"enabled\": false\n   }\n\
        \  },\n  \"resourceUID\": \"69b19022b8d3d5000134dd5e\",\n  \"controlPlanePluginProfiles\"\
        : {\n   \"azure-monitor-metrics-ccp\": {\n    \"enableV2\": true\n   },\n\
        \   \"gpu-provisioner\": {\n    \"enableV2\": true\n   },\n   \"karpenter\"\
        : {\n    \"enableV2\": true\n   },\n   \"kubelet-serving-csr-approver\": {\n\
        \    \"enableV2\": true\n   },\n   \"live-patching-controller\": {\n    \"\
        enableV2\": true\n   },\n   \"static-egress-controller\": {\n    \"enableV2\"\
        : true\n   }\n  },\n  \"nodeProvisioningProfile\": {\n   \"mode\": \"Manual\"\
        ,\n   \"defaultNodePools\": \"Auto\"\n  },\n  \"bootstrapProfile\": {\n  \
        \ \"artifactSource\": \"Direct\"\n  },\n  \"hostedSystemProfile\": {\n   \"\
        enabled\": false\n  },\n  \"enableFIPS\": false,\n  \"healthMonitorProfile\"\
        : {\n   \"enableContinuousControlPlaneAndAddonMonitor\": false,\n   \"enableOnDemandMonitor\"\
        : false\n  }\n },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\"\
        : {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-managed-identity-pool/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cp-245\"\
        : {\n    \"principalId\":\"00000000-0000-0000-0000-000000000001\"\n   }\n\
        \  }\n },\n \"sku\": {\n  \"name\": \"Base\",\n  \"tier\": \"Free\"\n }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/3c2cb63c-8439-4d54-8777-aba7942f27bd?api-version=2025-03-01&t=639088412518626986&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/3c2cb63c-8439-4d54-8777-aba7942f27bd?api-version=2025-03-01&t=639088412518626986&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5b[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/9e4889ae-067b-4825-80e8-59c963bf7dc4?api-version=2025-03-01&t=639088415463913742&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5b[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/13b368be-871a-4800-a549-abafbad7e600?api-version=2025-03-01&t=639088417084814243&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5b[...]
[...]
