interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-01-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000002''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitest000001-79a739", "agentPoolProfiles":
      [{"count": 3, "vmSize": "standard_d2s_v3", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "enableCustomCATrust": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "spotMaxPrice": -1.0, "nodeTaints": [], "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "networkProfile": {}, "name":
      "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
<<<<<<< HEAD
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDP+d3Vt7nXliPmu0fX5trMPYijq+UORpM/2Gx9QCD+cvf++kVwdk05mbI3ENlRDuIfheUVfymsZvyE1smq8i39ZFlTqRyWPDVPE9RA1IVXIF2ZS7oedu1LXeP6elhc1pDWnbLBH1bpF9tC9+knpLi4luh4fdulffwCj6WyXwPmvDWtI0FW2dp7paAc7xswyNaSE936LqlbeyVIbyNqIcDlAtSwn9rlKwMrDQdtTAQ9YLhCFjZT7PjiyAHLGDAATGMCa9BXdif1hXuTaHjZ1Y+sNeK8Bu4pQHu7tXAh2GVttbONOvcN1REQh1npIaw5tn1OcAJIL6vp5DA3aaPq03bT
=======
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0DWDknbqapF/MuGohfGNUMoUlE2aI2LZc8ho91GQdtq7IQypEPr4yB29oEQMwmgHlnqCOQLHTXvEPKSU0LDGrjVO7vKsYUm7bOfx1wryQ7e1eb5+GyP4fLZCY3VnCGdC2BjUjuIYTd2nG718clupwvDKgKHD0oJfzoYOoZXnyeUeVXXPwOZZmo832O4Qm8byoJXgDNA83wB7MXnaDSY59j53GKJEojn/btxiiJgMuZuvgPUEjdosrCFOHz3iPmtpC0nr79h95by4FVd5Z9bWqVT3zc1EVwIQP5M4b5ZAvV0e2wX93QYVtDKQyxg288ZoSo3yBvukJ8obl91kUlERv
>>>>>>> 2c9304f5 (update recordings)
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-01-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.9\",\n   \"currentKubernetesVersion\": \"1.24.9\",\n   \"dnsPrefix\":
<<<<<<< HEAD
        \"cliakstest-clitest000001-79a739\",\n   \"fqdn\": \"cliakstest-clitest000001-79a739-9ykpkjns.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest000001-79a739-9ykpkjns.portal.hcp.westus2.azmk8s.io\",\n
=======
        \"cliakstest-clitest000001-79a739\",\n   \"fqdn\": \"cliakstest-clitest000001-79a739-r2mjim2o.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest000001-79a739-r2mjim2o.portal.hcp.westus2.azmk8s.io\",\n
>>>>>>> 2c9304f5 (update recordings)
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"standard_d2s_v3\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.24.9\",\n     \"currentOrchestratorVersion\": \"1.24.9\",\n     \"enableNodePublicIP\":
        false,\n     \"enableCustomCATrust\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2023.02.15\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false,\n     \"networkProfile\": {}\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
<<<<<<< HEAD
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDP+d3Vt7nXliPmu0fX5trMPYijq+UORpM/2Gx9QCD+cvf++kVwdk05mbI3ENlRDuIfheUVfymsZvyE1smq8i39ZFlTqRyWPDVPE9RA1IVXIF2ZS7oedu1LXeP6elhc1pDWnbLBH1bpF9tC9+knpLi4luh4fdulffwCj6WyXwPmvDWtI0FW2dp7paAc7xswyNaSE936LqlbeyVIbyNqIcDlAtSwn9rlKwMrDQdtTAQ9YLhCFjZT7PjiyAHLGDAATGMCa9BXdif1hXuTaHjZ1Y+sNeK8Bu4pQHu7tXAh2GVttbONOvcN1REQh1npIaw5tn1OcAJIL6vp5DA3aaPq03bT
=======
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0DWDknbqapF/MuGohfGNUMoUlE2aI2LZc8ho91GQdtq7IQypEPr4yB29oEQMwmgHlnqCOQLHTXvEPKSU0LDGrjVO7vKsYUm7bOfx1wryQ7e1eb5+GyP4fLZCY3VnCGdC2BjUjuIYTd2nG718clupwvDKgKHD0oJfzoYOoZXnyeUeVXXPwOZZmo832O4Qm8byoJXgDNA83wB7MXnaDSY59j53GKJEojn/btxiiJgMuZuvgPUEjdosrCFOHz3iPmtpC0nr79h95by4FVd5Z9bWqVT3zc1EVwIQP5M4b5ZAvV0e2wX93QYVtDKQyxg288ZoSo3yBvukJ8obl91kUlERv
>>>>>>> 2c9304f5 (update recordings)
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     },\n     \"backendPoolType\":
        \"nodeIPConfiguration\"\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\":
        [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true,\n     \"version\": \"v1\"\n
        \   },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/5c47fa87-582b-4809-acb1-0bf070a1d791?api-version=2016-03-30
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8b841c93-57e3-4747-ac5f-efc1ab763a19?api-version=2016-03-30
>>>>>>> 2c9304f5 (update recordings)
      cache-control:
      - no-cache
      content-length:
      - '3467'
      content-type:
      - application/json
      date:
<<<<<<< HEAD
      - Wed, 15 Mar 2023 20:10:14 GMT
=======
      - Thu, 16 Mar 2023 03:40:21 GMT
>>>>>>> 2c9304f5 (update recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/5c47fa87-582b-4809-acb1-0bf070a1d791?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"87fa475c-2b58-0948-acb1-0bf070a1d791\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-15T20:10:14.7010331Z\"\n }"
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8b841c93-57e3-4747-ac5f-efc1ab763a19?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"931c848b-e357-4747-ac5f-efc1ab763a19\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-16T03:40:21.4485942Z\"\n }"
>>>>>>> 2c9304f5 (update recordings)
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Wed, 15 Mar 2023 20:10:44 GMT
=======
      - Thu, 16 Mar 2023 03:40:51 GMT
>>>>>>> 2c9304f5 (update recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/5c47fa87-582b-4809-acb1-0bf070a1d791?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"87fa475c-2b58-0948-acb1-0bf070a1d791\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-15T20:10:14.7010331Z\",\n  \"endTime\":
        \"2023-03-15T20:18:37.2008211Z\"\n }"
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8b841c93-57e3-4747-ac5f-efc1ab763a19?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"931c848b-e357-4747-ac5f-efc1ab763a19\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-16T03:40:21.4485942Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2019-08-01&$select=namespace,registrationstate
  response:
    body:
      string: '{"value":[{"namespace":"Microsoft.Security","registrationState":"Registered"},{"namespace":"Microsoft.Compute","registrationState":"Registered"},{"namespace":"Microsoft.ContainerService","registrationState":"Registered"},{"namespace":"Microsoft.ContainerInstance","registrationState":"Registered"},{"namespace":"Microsoft.OperationsManagement","registrationState":"Registered"},{"namespace":"Microsoft.Capacity","registrationState":"Registered"},{"namespace":"Microsoft.Storage","registrationState":"Registered"},{"namespace":"Microsoft.Advisor","registrationState[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.monitor/register?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Monitor","namespace":"Microsoft.Monitor","authorizations":[{"applicationId":"be14bf7e-8ab4-49b0-9dc6-a0eddd6fa73e","roleDefinitionId":"803a038d-eff1-4489-a0c2-dbc204ebac3c"},{"applicationId":"e158b4a5-21ab-442e-ae73-2e19f4e7d763","roleDefinitionId":"e46476d4-e741-4936-a72b-b768349eed70","managedByRoleDefinitionId":"50cd84fb-5e4c-4801-a8d2-4089ab77e6cd"}],"resourceTypes":[{"resourceType":"accounts","locations":["East
        US","Central India","Central US","East US 2","North Europe","South Central
        US","Southeast Asia","UK South","West Europe","West US","West US 2","East
        US 2 EUAP","Central US EUAP"],"apiVersions":["2021-06-03-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":["North
        Central US","East US","Australia Central","Brazil South","Central India","Central
        US","East US 2","North Europe","South Central US","Southeast Asia","UK South","West
        Europe","West US","West US 2","East US 2 EUAP","Central US EUAP"],"apiVersions":["2021-06-03-preview","2021-06-01-preview"],"defaultApiVersion":"2021-06-01-preview","capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 15 Mar 2023 20:18:52 GMT
=======
      - Thu, 16 Mar 2023 03:49:29 GMT
>>>>>>> 2c9304f5 (update recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.dashboard/register?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard","namespace":"Microsoft.Dashboard","authorizations":[{"applicationId":"ce34e7e5-485f-4d76-964f-b3d2b16d1e4f","roleDefinitionId":"996b8381-eac0-46be-8daf-9619bafd1073"}[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-WUS2?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Wed, 15 Mar 2023 20:18:53 GMT
=======
      - Thu, 16 Mar 2023 03:49:29 GMT
>>>>>>> 2c9304f5 (update recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-WUS2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-WUS2?api-version=2021-06-03-preview
  response:
    body:
      string: '{"properties":{"accountId":"d58ac6fd-a84c-4806-a803-b8465d0c6776","metrics":{"prometheusQueryEndpoint":"https://defaultazuremonitorworkspace-wus2-erza.westus2.prometheus.monitor.azure.com","internalId":"mac_d58ac6fd-a84c-4806-a803-b8465d0c6776"},"provisioningState":"Succeeded","defaultIngestionSettings":{"dataCollectionRuleResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-wus2_westus2_managed/providers/Microsoft.Insights/dataCollectionRules/defaultazuremonitorworkspace-wus2","dataCollectionEndpointResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-wus2_westus2_managed/providers/Microsoft.Insights/dataCollectionEndpoints/defaultazuremonitorworkspace-wus2"},"publicNetworkAccess":"Enabled"},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-wus2","name":"DefaultAzureMonitorWorkspace-WUS2","type":"Microsoft.Monitor/accounts","etag":"\"05029ecf-0000-0800-0000-634ce8a00000\"","systemData":{"createdBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","createdByType":"Application","createdAt":"2022-10-17T05:30:27.1709474Z","lastModifiedBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","lastModifiedByType":"Application","lastModifiedAt":"2022-10-17T05:30:27.1709474Z"}}'
    headers:
      api-supported-versions:
      - 2021-06-01-preview, 2021-06-03-preview, 2023-04-01, 2023-04-03
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 15 Mar 2023 20:18:54 GMT
=======
      - Thu, 16 Mar 2023 03:49:30 GMT
>>>>>>> 2c9304f5 (update recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:74683e7d-3ee8-4856-bfe7-e63c83b6737e
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding,Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-wus2?api-version=2021-06-03-preview
  response:
    body:
      string: '{"properties":{"accountId":"d58ac6fd-a84c-4806-a803-b8465d0c6776","metrics":{"prometheusQueryEndpoint":"https://defaultazuremonitorworkspace-wus2-erza.westus2.prometheus.monito[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights","namespace":"microsoft.insights","authorizations":[{"applicationId":"6bccf540-eb86-4037-af03-7fa058c2db75","roleDefinitionId":"89dcede2-9219-403a-9723-d3c6473f9472"},{"applicatio[...]
- request:
    body: '{"name": "MSProm-WUS2-cliakstest000002", "location": "westus2", "kind":
      "Linux", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-WUS2-cliakstest000002?api-version=2021-09-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"immutableId":"dce-0d0a94b44b834f72b66a640f59955217","configurationAccess":{"endpoint":"https://msprom-wus2-cliakstest000002-x8x2.westus2-1.handler.control.monitor.azure.com"},"logsIngestion":{"endpoint":"https://msprom-wus2-cliakstest000002-x8x2.westus2-1.ingest.monitor.azure.com"},"metricsIngestion":{"endpoint":"https://msprom-wus2-cliakstest000002-x8x2.westus2-1.metrics.ingest.monitor.azure.com"},"networkAcls":{"publicNetworkAccess":"Enabled"},"provisioningState":"Succeeded"},"location":"westus2","kind":"Linux","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-WUS2-cliakstest000002","name":"MSProm-WUS2-cliakstest000002","type":"Microsoft.Insights/dataCollectionEndpoints","etag":"\"2d004574-0000-0800-0000-641228300000\"","systemData":{"createdBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","createdByType":"Appli[...]
- request:
    body: '{"location": "westus2", "kind": "Linux", "properties": {"dataCollectionEndpointId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-WUS2-cliakstest000002",
      "dataSources": {"prometheusForwarder": [{"name": "PrometheusDataSource", "streams":
      ["Microsoft-PrometheusMetrics"], "labelIncludeFilter": {}}]}, "dataFlows": [{"destinations":
      ["MonitoringAccount1"], "streams": ["Microsoft-PrometheusMetrics"]}], "description":
      "DCR description", "destinations": {"monitoringAccounts": [{"accountResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-wus2",
      "name": "MonitoringAccount1"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-WUS2-cliakstest000002?api-version=202[...]
- request:
    body: '{"location": "westus2", "properties": {"dataCollectionRuleId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-WUS2-cliakstest000002",
      "description": "Promtheus data collection association between DCR, DCE and target
      AKS resource"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerServi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://defaultrulessc.blob.core.windows.net/defaultrules/ManagedPrometheusDefaultRecordingRules.json
  response:
    body:
      string: "{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"clusterName\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \               \"description\": \"Cluster name\"\r\n            }\r\n        },\r\n
        \       \"azureMonitorWorkspaceResourceId\": {\r\n            \"type\": \"string\",\r\n
        \           \"metadata\": {\r\n                \"description\": \"ResourceId
        of Monitoring Account (MAC) to associate to\"\r\n            }\r\n        },\r\n
        \       \"location\": {\r\n            \"type\": \"string\",\r\n            \"defaultValue\":
        \"[resourceGroup().location]\"\r\n        }\r\n    },\r\n    \"variables\":
        {\r\n        \"nodeRecordingRuleGroup\": \"NodeRecordingRulesRuleGroup-\",\r\n
        \       \"nodeRecordingRuleGroupName\": \"[concat(variables('nodeRecordingRuleGroup'),
        parameters('clusterName'))]\",\r\n        \"nodeRecordingRuleGroupDescription\":
        \"Node Recording Rules RuleGroup\",\r\n        \"kubernetesRecordingRuleGroup\":
        \"KubernetesReccordingRulesRuleGroup-\",\r\n        \"kubernetesRecordingRuleGroupName\":
        \"[concat(variables('kubernetesRecordingRuleGroup'), parameters('clusterName'))]\",\r\n
        \       \"kubernetesRecordingRuleGroupDescription\": \"Kubernetes Recording
        Rules RuleGroup\",\r\n        \"nodeRecordingRuleGroupWin\": \"NodeRecordingRulesRuleGroup-Win-\",\r\n
        \       \"nodeAndKubernetesRecordingRuleGroupWin\": \"NodeAndKubernetesRecordingRulesRuleGroup-Win-\",\r\n
        \       \"nodeRecordingRuleGroupNameWin\": \"[concat(variables('nodeRecordingRuleGroupWin'),
        parameters('clusterName'))]\",\r\n        \"nodeAndKubernetesRecordingRuleGroupNameWin\":
        \"[concat(variables('nodeAndKubernetesRecordingRuleGroupWin'), parameters('clusterName'))]\",\r\n
        \       \"RecordingRuleGroupDescriptionWin\": \"Kubernetes Recording Rules
        RuleGroup for Win\",\r\n        \"version\": \" - 0.1\"\r\n    },\r\n    \"resources\":
        [\r\n        {\r\n            \"name\": \"[variables('nodeRecordingRuleGroupName')]\",\r\n
        \           \"type\": \"Microsoft.AlertsManagement/prometheusRuleGroups\",\r\n
        \           \"apiVersion\": \"2021-07-22-preview\",\r\n            \"location\":
        \"[parameters('location')]\",\r\n            \"properties\": {\r\n                \"description\":
        \"[concat(variables('nodeRecordingRuleGroupDescription'), variables('version'))]\",\r\n
        \               \"scopes\": [ \"[parameters('azureMonitorWorkspaceResourceId')]\"
        ],\r\n                \"enabled\": true,\r\n                \"clusterName\":
        \"[parameters('clusterName')]\",\r\n                \"interval\": \"PT1M\",\r\n
        \               \"rules\": [\r\n                    {\r\n                        \"record\":
        \"instance:node_num_cpu:sum\",\r\n                        \"expression\":
        \"count without (cpu, mode) (  node_cpu_seconds_total{job=\\\"node\\\",mode=\\\"idle\\\"})\"\r\n
        \                   },\r\n                    {\r\n                        \"record\":
        \"instance:node_cpu_utilisation:rate5m\",\r\n                        \"expression\":
        \"1 - avg without (cpu) (  sum without (mode) (rate(node_cpu_seconds_total{job=\\\"node\\\",
        mode=~\\\"idle|iowait|steal\\\"}[5m])))\"\r\n                    },\r\n                    {\r\n
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-cliakstest000002",
      "name": "NodeRecordingRulesRuleGroup-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/micr[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/KubernetesRecordingRulesRuleGroup-cliakstest000002",
      "name": "KubernetesRecordingRulesRuleGroup-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/pr[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-Win-cliakstest000002",
      "name": "NodeRecordingRulesRuleGroup-Win-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/provid[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeAndKubernetesRecordingRulesRuleGroup-Win-cliakstest000002",
      "name": "NodeAndKubernetesRecordingRulesRuleGroup-Win-cliakstest000002", "type":
      "Microsoft.AlertsManagement/prometheusRuleGroups", "location": "westus2", "properties":
      {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-cliakstest000002?api-version=2021-07-22-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
[...]
