interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\"\
        ,\n  \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.20.13\",\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.20.15\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.21.7\"\n      },\n      {\n       \"\
        orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\": \"1.21.9\"\
        \n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\"\
        ,\n     \"orchestratorVersion\": \"1.20.15\",\n     \"upgrades\": [\n    \
        \  {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.21.7\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.21.9\"\n      }\n     ]\n    },\n \
        \   {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.21.7\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\"\
        : \"Kubernetes\",\n       \"orchestratorVersion\": \"1.21.9\"\n      },\n\
        \      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.22.4\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.22.6\"\n      }\n     ]\n    },\n \
        \   {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.21.9\",\n     \"default\": true,\n     \"upgrades\": [\n      {\n  \
        \     \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.22.4\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.22.6\"\n      }\n     ]\n    },\n \
        \   {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.22.4\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\"\
        : \"Kubernetes\",\n       \"orchestratorVersion\": \"1.22.6\"\n      },\n\
        \      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.23.3\",\n       \"isPreview\": true\n      }\n     ]\n    },\n    {\n\
        \     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.22.6\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\"\
        : \"Kubernetes\",\n       \"orchestratorVersion\": \"1.23.3\",\n       \"\
        isPreview\": true\n      }\n     ]\n    },\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.23.3\",\n     \"isPreview\"\
        : true\n    }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestlyd6v23qe-8ecadf",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2", "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "c000004"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy":
      false, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "standard"},
      "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-02-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.21.9\",\n   \"currentKubernetesVersion\"\
        : \"1.21.9\",\n   \"dnsPrefix\": \"cliakstest-clitestlyd6v23qe-8ecadf\",\n\
        \   \"fqdn\": \"cliakstest-clitestlyd6v23qe-8ecadf-f6f5535b.hcp.westus2.azmk8s.io\"\
        ,\n   \"azurePortalFQDN\": \"cliakstest-clitestlyd6v23qe-8ecadf-f6f5535b.portal.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"c000004\",\n     \"\
        count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"workloadRuntime\": \"OCIContainer\",\n     \"maxPods\": 110,\n \
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n\
        \     \"provisioningState\": \"Creating\",\n     \"powerState\": {\n     \
        \ \"code\": \"Running\"\n     },\n     \"orchestratorVersion\": \"1.21.9\"\
        ,\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n     \"\
        enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n     \"\
        osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\"\
        : \"AKSUbuntu-1804gen2containerd-2022.03.20\",\n     \"enableFIPS\": false\n\
        \    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\"\
        ,\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n  \
        \ \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\",\n\
        \   \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\"\
        : {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\"\
        ,\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"\
        count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\"\
        : \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\"\
        : \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\"\
        : [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\
        \n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\"\
        : 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n\
        \   \"oidcIssuerProfile\": {\n    \"enabled\": false\n   }\n  },\n  \"identity\"\
        : {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\"\
        ,\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\"\
        : {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8bc2105f-958b-4cf1-9cde-0f1f56e24dc2?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8bc2105f-958b-4cf1-9cde-0f1f56e24dc2?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"5f10c28b-8b95-f14c-9cde-0f1f56e24dc2\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2022-03-30T02:39:57.67Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"cause":"automation","date":"2022-03-30T02:39:49Z","deletion_due_time":"1648867331","deletion_marked_by":"gc","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"creationData": {"sourceResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002"},
      "snapshotType": "ManagedCluster"}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/ManagedClusterSnapshotPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclustersnapshots/s000005?api-version=2022-02-02-preview
  response:
    body:
      string: "{\n  \"name\": \"s000005\",\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclustersnapshots/s000005\"\
        ,\n  \"type\": \"Microsoft.ContainerService/ManagedClusterSnapshots\",\n \
        \ \"location\": \"westus2\",\n  \"systemData\": {\n   \"createdBy\": \"qizhe@microsoft.com\"\
        ,\n   \"createdByType\": \"User\",\n   \"createdAt\": \"2022-03-30T02:43:31.9866178Z\"\
        ,\n   \"lastModifiedBy\": \"qizhe@microsoft.com\",\n   \"lastModifiedByType\"\
        : \"User\",\n   \"lastModifiedAt\": \"2022-03-30T02:43:31.9866178Z\"\n  },\n\
        \  \"properties\": {\n   \"creationData\": {\n    \"sourceResourceId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        \n   },\n   \"snapshotType\": \"ManagedCluster\",\n   \"managedClusterPropertiesReadOnly\"\
        : {\n    \"kubernetesVersion\": \"1.21.9\",\n    \"sku\": {\n     \"name\"\
        : \"Basic\",\n     \"tier\": \"Free\"\n    },\n    \"enableRbac\": true,\n\
        \    \"networkProfile\": {\n     \"networkPlugin\": \"kubenet\",\n     \"\
        loadBalancerSku\": \"Standard\"\n    }\n   }\n  }\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclustersnapshots?api-version=2022-02-02-preview
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"name\": \"s000005\",\n    \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclustersnapshots/s000005\"\
        ,\n    \"type\": \"Microsoft.ContainerService/ManagedClusterSnapshots\",\n\
        \    \"location\": \"westus2\",\n    \"systemData\": {\n     \"createdBy\"\
        : \"qizhe@microsoft.com\",\n     \"createdByType\": \"User\",\n     \"createdAt\"\
        : \"2022-03-30T02:43:31.9866178Z\",\n     \"lastModifiedBy\": \"qizhe@microsoft.com\"\
        ,\n     \"lastModifiedByType\": \"User\",\n     \"lastModifiedAt\": \"2022-03-30T02:43:31.9866178Z\"\
        \n    },\n    \"properties\": {\n     \"creationData\": {\n      \"sourceResourceId\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        \n     },\n     \"snapshotType\": \"ManagedCluster\",\n     \"managedClusterPropertiesReadOnly\"\
        : {\n      \"kubernetesVersion\": \"1.21.9\",\n      \"sku\": {\n       \"\
        name\": \"Basic\",\n       \"tier\": \"Free\"\n      },\n      \"enableRbac\"\
        : true,\n      \"networkProfile\": {\n       \"networkPlugin\": \"kubenet\"\
        ,\n       \"loadBalancerSku\": \"Standard\"\n      }\n     }\n    }\n   }\n\
        \  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclustersnapshots/s000005?api-version=2022-02-02-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
