interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_aks_create_with_pod_ip_allocation_mode_static_block","date":"2024-07-03T05:55:07Z","module":"aks-preview"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/8"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002?api-version=2022-01-01
  response:
    body:
      string: '{"name":"cliakstest000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002","etag":"W/\"7b6584fe-ea21-4663-b843-6bdb617690b7\"","type":"Microsoft.Network/virtualNetworks","location":"centraluseuap","properties":{"provisioningState":"Updating","resourceGuid":"080e627e-6dc6-4b03-8049-3fbe0b587c5c","addressSpace":{"addressPrefixes":["10.0.0.0/8"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/f9532863-72aa-4051-9f64-dc91f10635b4?api-version=2022-01-01&t=638555829100699612&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/f9532863-72aa-4051-9f64-dc91f10635b4?api-version=2022-01-01&t=638555829100699612&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPA[...]
[...]
- request:
    body: '{"name": "nodeSubnet", "properties": {"addressPrefix": "10.240.0.0/16",
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/nodeSubnet?api-version=2024-01-01
  response:
    body:
      string: '{"name":"nodeSubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/nodeSubnet","etag":"W/\"b3a4fdd2-68da-4cfa-99af-7ec44433f692\"","properties":{"provisioningState":"Updating","addressPrefix":"10.240.0.0/16","ipamPoolPrefixAllocations":[],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/51404771-bbf3-419c-922d-c34cccae9b20?api-version=2024-01-01&t=638555829213913342&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/51404771-bbf3-419c-922d-c34cccae9b20?api-version=2024-01-01&t=638555829213913342&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPA[...]
[...]
- request:
    body: '{"name": "podSubnet", "properties": {"addressPrefix": "10.40.0.0/13", "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/podSubnet?api-version=2024-01-01
  response:
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/3b46870e-ee37-43f1-b95b-2dc9ab64b6c2?api-version=2024-01-01&t=638555829333349391&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2024-05-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/nodeSubnet/providers/Microsoft.Authorization/roleAssignments?$filter=atScope()&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/9b0f576e-fc2e-4256-9aa3-6fede171d599","principalId":"00000000-0000-0000-0000-000000000001","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2023-07-13T16:20:06.8829118Z","updatedOn":"2023-07-13T16:20:06.8829118Z","createdBy":null,"updatedBy":null,"delegatedManagedIdentityResourceId":null,"description":"Allow
        AccessMonitorReader to read access details for compliance purpose"},"id":"/providers/Microsoft.Authorization/roleAssignments/fb6b898e-5323-404d-a8af-da5aafc3ecc0","type":"Microsoft.Authorization/roleAssignments","name":"fb6b898e-5323-404d-a8af-da5aafc3ecc0"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/9b0f576e-fc2e-4256-9aa3-6fede171d599","principalId":"00000000-0000-0000-0000-000000000001[...]
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Base", "tier": "Free"},
      "identity": {"type": "SystemAssigned"}, "kind": "Base", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitestqrhbwavqs-79a739", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "vnetSubnetID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/nodeSubnet",
      "podSubnetID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/podSubnet",
      "podIPAllocationMode": "StaticBlock", "maxPods": 80, "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "enableCustomCATrust":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "nodeInitializationTaints": [], "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "networkProfile": {}, "securityProfile":
      {"sshAccess": "localuser"}, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKAR+zfUbP7Fe8lHJrZI7xtnADwzkTOlNE8sBzEx1ohyyCKGWTBZf+oZ/w9uMaGcH/XzfENU5eNH8D77fAaRlscBkb4L6miPDkgXMnlARF7/AHB3CUVjfLP5MzJHajUbGD2ejWDZkHP8YtzohZ69+jUQwoIkfW5wkIgk4fL1T0HsXhAs7US9ycGLZLwCSJeSnALS/XNA8zrDMqKoyT7Y/Y5PZFNHO5bSS9zGcEkZEFcDO+03yZ2EPjd8IiRLMcARGPCqparDjEvBnbAClTFzjwky7+V7XfYGZVYpIzfdmg3v+6DXjIkdYrCBsdS5Hc8/oQK9CKnuTbqXIxq22XNrHb
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "azure",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts":
      false, "storageProfile": {}, "bootstrapProfile": {"artifactSource": "Direct"}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AzureVnetScalePreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2024-05-02-preview
  response:
    body:
      string: "{\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\"\
        ,\n \"location\": \"centraluseuap\",\n \"name\": \"cliakstest000001\",\n \"\
        type\": \"Microsoft.ContainerService/ManagedClusters\",\n \"kind\": \"Base\"\
        ,\n \"properties\": {\n  \"provisioningState\": \"Creating\",\n  \"powerState\"\
        : {\n   \"code\": \"Running\"\n  },\n  \"kubernetesVersion\": \"1.28\",\n\
        \  \"currentKubernetesVersion\": \"1.28.10\",\n  \"dnsPrefix\": \"cliakstest-clitestqrhbwavqs-79a739\"\
        ,\n  \"fqdn\": \"cliakstest-clitestqrhbwavqs-79a739-w99m77xb.hcp.centraluseuap.azmk8s.io\"\
        ,\n  \"azurePortalFQDN\": \"cliakstest-clitestqrhbwavqs-79a739-w99m77xb.portal.hcp.centraluseuap.azmk8s.io\"\
        ,\n  \"agentPoolProfiles\": [\n   {\n    \"name\": \"nodepool1\",\n    \"\
        count\": 3,\n    \"vmSize\": \"Standard_DS2_v2\",\n    \"osDiskSizeGB\": 128,\n\
        \    \"osDiskType\": \"Managed\",\n    \"kubeletDiskType\": \"OS\",\n    \"\
        workloadRuntime\": \"OCIContainer\",\n    \"vnetSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/nodeSubnet\"\
        ,\n    \"podSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/podSubnet\"\
        ,\n    \"maxPods\": 80,\n    \"type\": \"VirtualMachineScaleSets\",\n    \"\
        enableAutoScaling\": false,\n    \"provisioningState\": \"Creating\",\n  \
        \  \"powerState\": {\n     \"code\": \"Running\"\n    },\n    \"orchestratorVersion\"\
        : \"1.28\",\n    \"currentOrchestratorVersion\": \"1.28.10\",\n    \"enableNodePublicIP\"\
        : false,\n    \"enableCustomCATrust\": false,\n    \"nodeLabels\": {},\n \
        \   \"mode\": \"System\",\n    \"enableEncryptionAtHost\": false,\n    \"\
        enableUltraSSD\": false,\n    \"osType\": \"Linux\",\n    \"osSKU\": \"Ubuntu\"\
        ,\n    \"nodeImageVersion\": \"AKSUbuntu-2204gen2containerd-202406.19.0\"\
        ,\n    \"upgradeSettings\": {\n     \"maxSurge\": \"10%\"\n    },\n    \"\
        enableFIPS\": false,\n    \"networkProfile\": {},\n    \"securityProfile\"\
        : {\n     \"sshAccess\": \"LocalUser\",\n     \"enableVTPM\": false,\n   \
        \  \"enableSecureBoot\": false\n    },\n    \"podIPAllocationMode\": \"StaticBlock\"\
        \n   }\n  ],\n  \"linuxProfile\": {\n   \"adminUsername\": \"azureuser\",\n\
        \   \"ssh\": {\n    \"publicKeys\": [\n     {\n      \"keyData\": \"ssh-rsa\
        \ AAAAB3NzaC1yc2EAAAADAQABAAABAQDKAR+zfUbP7Fe8lHJrZI7xtnADwzkTOlNE8sBzEx1ohyyCKGWTBZf+oZ/w9uMaGcH/XzfENU5eNH8D77fAaRlscBkb4L6miPDkgXMnlARF7/AHB3CUVjfLP5MzJHajUbGD2ejWDZkHP8YtzohZ69+jUQwoIkfW5wkIgk4fL1T0HsXhAs7US9ycGLZLwCSJeSnALS/XNA8zrDMqKoyT7Y/Y5PZFNHO5bSS9zGcEkZEFcDO+03yZ2EPjd8IiRLMcARGPCqparDjEvBnbAClTFzjwky7+V7XfYGZVYpIzfdmg3v+6DXjIkdYrCBsdS5Hc8/oQK9CKnuTbqXIxq22XNrHb\
        \ azcli_aks_live_test@example.com\\n\"\n     }\n    ]\n   }\n  },\n  \"windowsProfile\"\
        : {\n   \"adminUsername\": \"azureuser\",\n   \"enableCSIProxy\": true\n \
        \ },\n  \"servicePrincipalProfile\": {\n   \"clientId\":\"00000000-0000-0000-0000-000000000001\"\
        \n  },\n  \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000001_centraluseuap\"\
        ,\n  \"enableRBAC\": true,\n  \"enablePodSecurityPolicy\": false,\n  \"supportPlan\"\
        : \"KubernetesOfficial\",\n  \"networkProfile\": {\n   \"networkPlugin\":\
        \ \"azure\",\n   \"networkPolicy\": \"none\",\n   \"networkDataplane\": \"\
        azure\",\n   \"loadBalancerSku\": \"standard\",\n   \"loadBalancerProfile\"\
        : {\n    \"managedOutboundIPs\": {\n     \"count\": 1\n    },\n    \"backendPoolType\"\
        : \"nodeIPConfiguration\"\n   },\n   \"serviceCidr\": \"10.0.0.0/16\",\n \
        \  \"dnsServiceIP\": \"10.0.0.10\",\n   \"outboundType\": \"loadBalancer\"\
        ,\n   \"serviceCidrs\": [\n    \"10.0.0.0/16\"\n   ],\n   \"ipFamilies\":\
        \ [\n    \"IPv4\"\n   ],\n   \"podLinkLocalAccess\": \"IMDS\"\n  },\n  \"\
        maxAgentPools\": 100,\n  \"autoUpgradeProfile\": {\n   \"nodeOSUpgradeChannel\"\
        : \"NodeImage\"\n  },\n  \"disableLocalAccounts\": false,\n  \"securityProfile\"\
        : {},\n  \"storageProfile\": {\n   \"diskCSIDriver\": {\n    \"enabled\":\
        \ true,\n    \"version\": \"v1\"\n   },\n   \"fileCSIDriver\": {\n    \"enabled\"\
        : true\n   },\n   \"snapshotController\": {\n    \"enabled\": true\n   }\n\
        \  },\n  \"oidcIssuerProfile\": {\n   \"enabled\": false\n  },\n  \"workloadAutoScalerProfile\"\
        : {},\n  \"metricsProfile\": {\n   \"costAnalysis\": {\n    \"enabled\": false\n\
        \   }\n  },\n  \"resourceUID\": \"6684e7e70475400001ed2c44\",\n  \"controlPlanePluginProfiles\"\
        : {\n   \"azure-monitor-metrics-ccp\": {\n    \"enableV2\": true\n   },\n\
        \   \"karpenter\": {\n    \"enableV2\": true\n   },\n   \"live-patching-controller\"\
        : {\n    \"enableV2\": true\n   },\n   \"static-egress-controller\": {\n \
        \   \"enableV2\": true\n   }\n  },\n  \"nodeProvisioningProfile\": {\n   \"\
        mode\": \"Manual\"\n  },\n  \"bootstrapProfile\": {\n   \"artifactSource\"\
        : \"Direct\"\n  }\n },\n \"identity\": {\n  \"type\": \"SystemAssigned\",\n\
        \  \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n  \"tenantId\"\
        : \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n },\n \"sku\": {\n  \"name\":\
        \ \"Base\",\n  \"tier\": \"Free\"\n }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cliakstest000002/subnets/nodeSubnet/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Network%20Contributor%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Network Contributor","type":"BuiltInRole","description":"Lets
        you manage networks, but not access to them.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Network/*","Microsoft.ResourceHealth/availabilityStatuses/read","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-06-02T00:18:27.3542698Z","updatedOn":"2021-11-11T20:13:44.6328966Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","type":"Microsoft.Authorization/roleDefinitions","name":"4d97b98b-1d4f-4787-a291-c67834d212e7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId":"00000000-0000-0000-0000-000000000001"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/cl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/cb79ef68-c968-4f58-a542-1b03c6fe664b?api-version=2016-03-30&t=638555829518227143&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxW[...]
[...]
