interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.19.11\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.19.13\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.20.13\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.20.15\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.19.13\",\n     \[...]
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "1.23.3", "dnsPrefix": "cliakstest-clitestxo4357quu-79a739",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPwnUqGaRySBbUHrX5pdd/yKlnXaC+7hZlHU3Vgg0moGR+kC7V5ee3HxIQftTYUjRA4FusgRxns+7vIkz3NnX4tgBEBZkvU/aGwxEvpGlhRq4fegdcBNUoLsI7PXtMLccSjjYJFuVTJV8lEUCdR4bULuZgYubkdhh1MvqlddcwxVbbqNRf/bdQ48TcETiuAP7D984GUw+DSDa2JRFyQb9bobK/S/OFLp2Ywk0SnJtXjbLmk8yThhZRdRhJoV1BPAqXlBo9Y6XFUKye1S1ayfIVWyIM8QEwJN5qkpuXc2TczFTMOyayvCrQsA4u7pObauutsZMexEyMevX1CcsM2bH1
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "172.126.0.0/16", "serviceCidr": "172.56.0.0/16", "dnsServiceIP":
      "172.56.0.10", "outboundType": "loadBalancer", "loadBalancerSku": "standard",
      "loadBalancerProfile": {"managedOutboundIPs": {"count": 1, "countIPv6": 2},
      "allocatedOutboundPorts": 0, "idleTimeoutInMinutes": 30}, "podCidrs": ["172.126.0.0/16",
      "2001:abcd:1234::/64"], "serviceCidrs": ["172.56.0.0/16", "2001:ffff::/108"],
      "ipFamilies": ["IPv4", "IPv6"]}, "disableLocalAccounts": false}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AKS-EnableDualStack
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-11-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"centraluseuap\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.3\",\n   \"currentKubernetesVersion\": \"1.23.3\",\n   \"dnsPrefix\":
        \"cliakstest-clitestxo4357quu-79a739\",\n   \"fqdn\": \"cliakstest-clitestxo4357quu-79a739-86d75aca.hcp.centraluseuap.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestxo4357quu-79a739-86d75aca.portal.hcp.centraluseuap.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.23.3\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.02.01\",\n     \"enableFIPS\": false\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDPwnUqGaRySBbUHrX5pdd/yKlnXaC+7hZlHU3Vgg0moGR+kC7V5ee3HxIQftTYUjRA4FusgRxns+7vIkz3NnX4tgBEBZkvU/aGwxEvpGlhRq4fegdcBNUoLsI7PXtMLccSjjYJFuVTJV8lEUCdR4bULuZgYubkdhh1MvqlddcwxVbbqNRf/bdQ48TcETiuAP7D984GUw+DSDa2JRFyQb9bobK/S/OFLp2Ywk0SnJtXjbLmk8yThhZRdRhJoV1BPAqXlBo9Y6XFUKye1S1ayfIVWyIM8QEwJN5qkpuXc2TczFTMOyayvCrQsA4u7pObauutsZMexEyMevX1CcsM2bH1
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_centraluseuap\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1,\n      \"countIPv6\":
        2\n     },\n     \"allocatedOutboundPorts\": 0,\n     \"idleTimeoutInMinutes\":
        30\n    },\n    \"podCidr\": \"172.126.0.0/16\",\n    \"serviceCidr\": \"172.56.0.0/16\",\n
        \   \"dnsServiceIP\": \"172.56.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n
        \   \"outboundType\": \"loadBalancer\",\n    \"podCidrs\": [\n     \"172.126.0.0/16\",\n
        \    \"2001:abcd:1234::/64\"\n    ],\n    \"serviceCidrs\": [\n     \"172.56.0.0/16\",\n
        \    \"2001:ffff::/108\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\",\n
        \    \"IPv6\"\n    ]\n   },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\":
        false,\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n   }\n  },\n
        \ \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/e9823356-8a7f-4602-9bc4-1d37caff9403?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AKS-EnableDualStack
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/e9823356-8a7f-4602-9bc4-1d37caff9403?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"563382e9-7f8a-0246-9bc4-1d37caff9403\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-02-08T09:38:01.28Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AKS-EnableDualStack
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/e9823356-8a7f-4602-9bc4-1d37caff9403?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"563382e9-7f8a-0246-9bc4-1d37caff9403\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-02-08T09:38:01.28Z\",\n  \"endTime\":
        \"2022-02-08T09:44:39.6156768Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-11-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operations/adbc97a0-bc5e-41f2-9a1f-26165eefca63?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/operationresults/adbc97a0-bc5e-41f2-9a1f-26165eefca63?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
