interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\"\
        ,\n  \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.15.11\",\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.15.12\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.16.10\"\n      }\n     ]\n    },\n\
        \    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.15.12\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\"\
        : \"Kubernetes\",\n       \"orchestratorVersion\": \"1.16.10\"\n      }\n\
        \     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"\
        orchestratorVersion\": \"1.16.10\",\n     \"default\": true,\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.17.7\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"\
        Kubernetes\",\n     \"orchestratorVersion\": \"1.17.7\",\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.18.2\",\n       \"isPreview\": true\n      },\n      {\n       \"orchestratorType\"\
        : \"Kubernetes\",\n       \"orchestratorVersion\": \"1.18.4\",\n       \"\
        isPreview\": true\n      }\n     ]\n    },\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.18.2\",\n     \"isPreview\"\
        : true,\n     \"upgrades\": [\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.18.4\",\n       \"isPreview\": true\n\
        \      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\"\
        ,\n     \"orchestratorVersion\": \"1.18.4\",\n     \"isPreview\": true\n \
        \   }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
