interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-11-19T23:35:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "http://ebae79.cliakstest-cliteste7zzatbxt-8ecadf.westus2.cloudapp.azure.com",
      "passwordCredentials": [{"startDate": "2020-11-19T23:35:03.503981Z", "endDate":
      "2025-11-19T23:35:03.503981Z", "keyId": "94e1df84-7778-4398-8043-536c6f57db72",
      "value": "ReplacedSPPassword123*"}], "displayName": "cliakstest000002", "identifierUris":
      ["http://ebae79.cliakstest-cliteste7zzatbxt-8ecadf.westus2.cloudapp.azure.com"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "17d90e31-2a90-4647-a037-ec39ad4b6e75", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "fb3c23d8-da1f-4d32-b789-b1aafcba70e5",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cliakstest000002", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "http://ebae79.cliakstest-cliteste7zzatbxt-8ecadf.westus2.cloudapp.azure.com",
        "identifierUris": ["http://ebae79.cliakstest-cliteste7zzatbxt-8ecadf.westus2.cloudapp.azure.com"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/17d90e31-2a90-4647-a037-ec39ad4b6e75/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/17d90e31-2a90-4647-a037-ec39ad4b6e75/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cliakstest000002 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cliakstest000002", "id": "994ac959-98fd-4dfd-aa0c-f1abc9232099",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cliakstest000002 on your behalf.", "userConsentDisplayName": "Access
        cliakstest000002", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2025-11-19T23:35:03.503981Z", "keyId":
        "94e1df84-7778-4398-8043-536c6f57db72", "startDate": "2020-11-19T23:35:03.503981Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3055669'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/17d90e31-2a90-4647-a037-ec39ad4b6e75/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - tw4fYXYGY2N8zzisqCfrGN37d/pH/8bdST30drhOOag=
      ocp-aad-session-key:
      - -JSXGi4ILWANLFU1FXyvVc7AS2VLPrtDezzNKrqU1wYRpLVzSq_TMukPlqqdXLd0V6zJjEaV_OVe50HVbe5wmdzDV_ZroxTtV2BUbrQRc2SlrVxJ9ehwCQhr8feER6ntLFbbpabd0-FMpgFlmT6vIMG21Qx1mq43poOzCz9Jn1E.g79rVEEgYaSNcE9oqh9Q-sUSmpd2RZL7TvXjsir-f7A
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27fb3c23d8-da1f-4d32-b789-b1aafcba70e5%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"17d90e31-2a90-4647-a037-ec39a[...]
- request:
    body: '{"accountEnabled": "True", "appId": "fb3c23d8-da1f-4d32-b789-b1aafcba70e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"7019b390-f692-4e47-9e18-464bc7634f68","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cliakstest000002","appId":"fb3c23d8-da1f-4d32-b789-b1aafcba70e5","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cliakstest000002","errorUrl":null,"homepage":"http://ebae79.cliakstest-cliteste7zzatbxt-8ecadf.westus2.cloudapp.azure.com","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cliakstest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cliakstest000002","id":"994ac959-98fd-4dfd-aa0c-f1abc9232099","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cliakstest000002 on your behalf.","userConsentDisplayName":"Access
        cliakstest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["fb3c23d8-da1f-4d32-b789-b1aafcba70e5","http://ebae79.cliakstest-cliteste7zzatbxt-8ecadf.westus2.cloudapp.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2361584'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/7019b390-f692-4e47-9e18-464bc7634f68/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - JyXqsNiMkuF05SRHy84V1XjyoE0+riVAf3UXk8E8WKU=
      ocp-aad-session-key:
      - dusnNZq8xHenLlTX6a39HrYjPueS9OpV56gACzLophO5hgfbyaRjXSoXHrUZUsKwOaGlQu1QNjaTM2ldbVXzxq1NJpiVpzAlkQ8EVnCqoFs8L4q7Mn54z4SqUnOWvPBJQolpyoTjE4ULU-qFB2DNBc1MnacsnpUiTGFjViS-sdU.UztLVj1FLJpZ2REImNFiVQBaiZIf1yINwdcMuh_i4KY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-cliteste7zzatbxt-8ecadf", "agentPoolProfiles": [{"count": 3, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiz274L8ZM+270VF9WyCScOEMey7+4Lm4CQ6dWk9s2uXiOiXfQdmL0wGfVSo/VjmU2kVyNvxuw5m0TQIiFhAVMoqmVkjGVvz8s2xnZvhwfBkocQe2eKy+cv2OWKoYHUpy8YVRoPqeFDBGtWpcCAv9o/X/qMKZX+7fSltXs/d+TrTqPESel9ItMCFuFz89Na6u7js/uzx1Ya8QCh+EqClXa68nZu2zIzSZgM3iMc+Bvd51RA9SskdgLDYrcPBzNSs7dR4EWAZYzWYsTEr0HR5W0q+Wk3uTZeEoOYpPUTj3OvIobsn8xNe+Ovn6oIGVp/DI9X3+1z3SDyhRkD+Ql2mYz"}]}},
      "servicePrincipalProfile": {"clientId": "fb3c23d8-da1f-4d32-b789-b1aafcba70e5",
      "secret": "bfa57f47bde81603480b$"}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "autoUpgradeProfile": {"upgradeChannel": "rapid"}}, "identity":
      {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.17.13\",\n   \"dnsPrefix\"\
        : \"cliakstest-cliteste7zzatbxt-8ecadf\",\n   \"fqdn\": \"cliakstest-cliteste7zzatbxt-8ecadf-b829bce4.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"maxPods\": 110,\n     \"\
        type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\"\
        ,\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\"\
        : \"1.17.13\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\":\
        \ {},\n     \"mode\": \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\"\
        : \"AKSUbuntu-1604-2020.10.28\"\n    }\n   ],\n   \"linuxProfile\": {\n  \
        \  \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiz274L8ZM+270VF9WyCScOEMey7+4Lm4CQ6dWk9s2uXiOiXfQdmL0wGfVSo/VjmU2kVyNvxuw5m0TQIiFhAVMoqmVkjGVvz8s2xnZvhwfBkocQe2eKy+cv2OWKoYHUpy8YVRoPqeFDBGtWpcCAv9o/X/qMKZX+7fSltXs/d+TrTqPESel9ItMCFuFz89Na6u7js/uzx1Ya8QCh+EqClXa68nZu2zIzSZgM3iMc+Bvd51RA9SskdgLDYrcPBzNSs7dR4EWAZYzWYsTEr0HR5W0q+Wk3uTZeEoOYpPUTj3OvIobsn8xNe+Ovn6oIGVp/DI9X3+1z3SDyhRkD+Ql2mYz\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\": \"msi\"\n   },\n   \"addonProfiles\": {\n    \"KubeDashboard\"\
        : {\n     \"enabled\": true,\n     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\"\
        : \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n\
        \   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"\
        networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n  \
        \  \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\"\
        : 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\"\
        : \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\"\
        : \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"\
        maxAgentPools\": 100,\n   \"autoUpgradeProfile\": {\n    \"upgradeChannel\"\
        : \"rapid\"\n   }\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\"\
        ,\n   \"principalId\": \"b37ee099-c817-4bce-bfd2-c760e2a12412\",\n   \"tenantId\"\
        : \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\": {\n   \"name\"\
        : \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/b87c2242-fb75-4500-b025-2ecb7cded909?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/b87c2242-fb75-4500-b025-2ecb7cded909?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"42227cb8-75fb-0045-b025-2ecb7cded909\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-11-19T23:35:10.7882516Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "1.17.13",
      "dnsPrefix": "cliakstest-cliteste7zzatbxt-8ecadf", "agentPoolProfiles": [{"count":
      3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType": "Managed",
      "maxPods": 110, "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "orchestratorVersion": "1.17.13", "enableNodePublicIP": false, "nodeLabels":
      {}, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiz274L8ZM+270VF9WyCScOEMey7+4Lm4CQ6dWk9s2uXiOiXfQdmL0wGfVSo/VjmU2kVyNvxuw5m0TQIiFhAVMoqmVkjGVvz8s2xnZvhwfBkocQe2eKy+cv2OWKoYHUpy8YVRoPqeFDBGtWpcCAv9o/X/qMKZX+7fSltXs/d+TrTqPESel9ItMCFuFz89Na6u7js/uzx1Ya8QCh+EqClXa68nZu2zIzSZgM3iMc+Bvd51RA9SskdgLDYrcPBzNSs7dR4EWAZYzWYsTEr0HR5W0q+Wk3uTZeEoOYpPUTj3OvIobsn8xNe+Ovn6oIGVp/DI9X3+1z3SDyhRkD+Ql2mYz"}]}},
      "servicePrincipalProfile": {"clientId": "msi"}, "addonProfiles": {"KubeDashboard":
      {"enabled": true}}, "nodeResourceGroup": "MC_clitest000001_cliakstest000002_westus2",
      "enableRBAC": true, "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "Standard", "loadBalancerProfile": {"managedOutboundIPs":
      {"count": 1}, "effectiveOutboundIPs": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.Network/publicIPAddresses/5583190d-ee9f-469d-ac0e-1e5980a056c7"}]}},
      "autoUpgradeProfile": {"upgradeChannel": "stable"}, "identityProfile": {"kubeletidentity":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002-agentpool",
      "clientId": "bd1cd72d-901c-42a4-b850-94ff13ed02b7", "objectId": "371c1918-fbf8-4780-9300-0f3c2d636195"}}},
      "identity": {"type": "SystemAssigned"}, "sku": {"name": "Basic", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: h[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-09-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/482e91ab-19f5-4afc-9c8a-a9f51dd290f0?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/482e91ab-19f5-4afc-9c8a-a9f51dd290f0?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
