interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2025-06-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_aks_automatic_sku","date":"2025-07-30T23:12:15Z","module":"aks-preview"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-EUS2?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2?api-version=2015-11-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"02442239-ce90-4cc5-a81a-f0790de26364","provisioningState":"Succeeded","sku":{"name":"pernode","lastSkuUpdate":"2024-06-03T08:17:54.0850969Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-07-31T04:00:00Z","dataIngestionStatus":"RespectQuota"},"privateLinkScopedResources":[],"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-06-03T08:17:54.0850969Z","modifiedDate":"2025-07-30T23:00:48.1361059Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2","name":"DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5b007eae-0000-0200-0000-688aa4200000\""}'
    headers:
      api-supported-versions:
      - 2015-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus2\",\"name\":\"westus2\",\"displayName\":\"West
        US 2\",\"regionalDisplayName\":\"(US) West US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-119.852\",\"latitude\":\"47.233\",\"physicalLocation\":\"Washington\",\"pairedRegion\":[{\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSCI-eastus2-cliakstest000001?api-version=2022-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Insights/dataCollectionRules/MSCI-eastus2-cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"dataSources": {"extensions":
      [{"name": "ContainerInsightsExtension", "streams": ["Microsoft-ContainerInsights-Group-Default"],
      "extensionName": "ContainerInsights", "extensionSettings": {"dataCollectionSettings":
      {"enableContainerLogV2": true}}}]}, "dataFlows": [{"streams": ["Microsoft-ContainerInsights-Group-Default"],
      "destinations": ["la-workspace"]}], "destinations": {"logAnalytics": [{"workspaceResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2",
      "name": "la-workspace"}]}, "dataCollectionEndpointId": null}, "kind": "Linux"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSCI-eastus2-cliakstest000001?api-version=2022-06-01
  response:
    body:
      string: '{"properties":{"immutableId":"dcr-7bf27e2ce42749a6b1b64a582b4d9d6d","dataSources":{"extensions":[{"streams":["Microsoft-ContainerInsights-Group-Default"],"extensionName":"ContainerInsights","extensionSettings":{"dataCollectionSettings":{"enableContainerLogV2":true}},"name":"ContainerInsightsExtension"}]},"destinations":{"logAnalytics":[{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2","workspaceId":"02442239-ce90-4cc5-a81a-f0790de26364","name":"la-workspace"}]},"dataFlows":[{"streams":["Microsoft-ContainerInsights-Group-Default"],"destinations":["la-workspace"]}],"provisioningState":"Succeeded"},"location":"eastus2","tags":{},"kind":"Linux","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSCI-eastus2-cliakstest000001","name":"MSCI-eastus2-cliakstest000001","type":"Microsoft.Insights/dataCollectionRules","etag":"\"03001147-0000-0200-0000-688aa6db0000\"","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-30T23:12:26.351003Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-30T23:12:26.351003Z"}}'
    headers:
      api-supported-versions:
      - 2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11,
        2024-03-11, 2025-05-11
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "sku": {"name": "Automatic", "tier": "Standard"},
      "identity": {"type": "SystemAssigned"}, "kind": "Automatic", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitestdmm7o52i2-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "", "osDiskSizeGB": 0, "workloadRuntime": "OCIContainer",
      "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "enableCustomCATrust": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "spotMaxPrice": -1.0, "nodeTaints": [], "nodeInitializationTaints":
      [], "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "networkProfile": {}, "securityProfile": {"sshAccess": "localuser"},
      "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {"omsagent": {"enabled": true, "config":
      {"logAnalyticsWorkspaceResourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2",
      "useAADAuth": "true"}}}, "enableRBAC": true, "networkProfile": {"podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "outboundType": "managedNATGateway",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": true, "storageProfile":
      {}, "azureMonitorProfile": {"metrics": {"enabled": false, "kubeStateMetrics":
      {"metricLabelsAllowlist": "", "metricAnnotationsAllowList": ""}}}, "bootstrapProfile":
      {"artifactSource": "Direct"}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AutomaticSKUPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2025-06-02-preview
  response:
    body:
      string: "{\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \"location\": \"eastus2\",\n \"name\": \"cliakstest000001\",\n \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \"kind\": \"Automatic\",\n \"properties\": {\n  \"provisioningState\": \"Creating\",\n
        \ \"powerState\": {\n   \"code\": \"Running\"\n  },\n  \"kubernetesVersion\":
        \"1.32\",\n  \"currentKubernetesVersion\": \"1.32.6\",\n  \"dnsPrefix\": \"cliakstest-clitestdmm7o52i2-8ecadf\",\n
        \ \"fqdn\": \"cliakstest-clitestdmm7o52i2-8ecadf-jz0aedj8.hcp.eastus2.azmk8s.io\",\n
        \ \"azurePortalFQDN\": \"cliakstest-clitestdmm7o52i2-8ecadf-jz0aedj8.portal.hcp.eastus2.azmk8s.io\",\n
        \ \"agentPoolProfiles\": [\n   {\n    \"name\": \"nodepool1\",\n    \"count\":
        3,\n    \"vmSize\": \"standard_d4pds_v5\",\n    \"osDiskSizeGB\": 150,\n    \"osDiskType\":
        \"Ephemeral\",\n    \"kubeletDiskType\": \"OS\",\n    \"workloadRuntime\":
        \"OCIContainer\",\n    \"maxPods\": 250,\n    \"type\": \"VirtualMachineScaleSets\",\n
        \   \"availabilityZones\": [\n     \"1\",\n     \"2\",\n     \"3\"\n    ],\n
        \   \"enableAutoScaling\": false,\n    \"scaleDownMode\": \"Delete\",\n    \"provisioningState\":
        \"Creating\",\n    \"powerState\": {\n     \"code\": \"Running\"\n    },\n
        \   \"orchestratorVersion\": \"1.32\",\n    \"currentOrchestratorVersion\":
        \"1.32.6\",\n    \"enableNodePublicIP\": false,\n    \"enableCustomCATrust\":
        false,\n    \"nodeLabels\": {},\n    \"nodeTaints\": [\n     \"CriticalAddonsOnly=true:NoSchedule\"\n
        \   ],\n    \"mode\": \"System\",\n    \"enableEncryptionAtHost\": false,\n
        \   \"enableUltraSSD\": false,\n    \"osType\": \"Linux\",\n    \"osSKU\":
        \"AzureLinux\",\n    \"nodeImageVersion\": \"AKSAzureLinux-V3gen2arm64-202507.21.0\",\n
        \   \"upgradeSettings\": {\n     \"maxSurge\": \"10%\",\n     \"maxUnavailable\":
        \"0\"\n    },\n    \"enableFIPS\": false,\n    \"networkProfile\": {},\n    \"securityProfile\":
        {\n     \"sshAccess\": \"Disabled\",\n     \"enableVTPM\": false,\n     \"enableSecureBoot\":
        false\n    }\n   }\n  ],\n  \"linuxProfile\": {\n   \"adminUsername\": \"azureuser\",\n
        \  \"ssh\": {\n    \"publicKeys\": [\n     {\n      \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n     }\n    ]\n   }\n  },\n  \"servicePrincipalProfile\":
        {\n   \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n  },\n  \"addonProfiles\":
        {\n   \"azureKeyvaultSecretsProvider\": {\n    \"enabled\": true,\n    \"config\":
        {\n     \"enableSecretRotation\": \"true\"\n    }\n   },\n   \"azurepolicy\":
        {\n    \"enabled\": true,\n    \"config\": null\n   },\n   \"omsagent\": {\n
        \   \"enabled\": true,\n    \"config\": {\n     \"logAnalyticsWorkspaceResourceID\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2\",\n
        \    \"useAADAuth\": \"true\"\n    }\n   }\n  },\n  \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_eastus2\",\n  \"enableRBAC\": true,\n
        \ \"supportPlan\": \"KubernetesOfficial\",\n  \"networkProfile\": {\n   \"networkPlugin\":
        \"azure\",\n   \"networkPluginMode\": \"overlay\",\n   \"networkPolicy\":
        \"cilium\",\n   \"networkDataplane\": \"cilium\",\n   \"loadBalancerSku\":
        \"standard\",\n   \"loadBalancerProfile\": {\n    \"backendPoolType\": \"nodeIPConfiguration\"\n
        \  },\n   \"natGatewayProfile\": {\n    \"managedOutboundIPProfile\": {\n
        \    \"count\": 1\n    },\n    \"idleTimeoutInMinutes\": 4\n   },\n   \"podCidr\":
        \"10.244.0.0/16\",\n   \"serviceCidr\": \"10.0.0.0/16\",\n   \"dnsServiceIP\":
        \"10.0.0.10\",\n   \"outboundType\": \"managedNATGateway\",\n   \"podCidrs\":
        [\n    \"10.244.0.0/16\"\n   ],\n   \"serviceCidrs\": [\n    \"10.0.0.0/16\"\n
        \  ],\n   \"ipFamilies\": [\n    \"IPv4\"\n   ],\n   \"kubeProxyConfig\":
        {},\n   \"podLinkLocalAccess\": \"IMDS\"\n  },\n  \"aadProfile\": {\n   \"managed\":
        true,\n   \"adminGroupObjectIDs\": null,\n   \"adminUsers\": null,\n   \"enableAzureRBAC\":
        true,\n   \"tenantID\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"maxAgentPools\":
        100,\n  \"apiServerAccessProfile\": {\n   \"enablePrivateCluster\": false,\n
        \  \"enableVnetIntegration\": true,\n   \"subnetId\": \"\"\n  },\n  \"autoUpgradeProfile\":
        {\n   \"upgradeChannel\": \"stable\",\n   \"nodeOSUpgradeChannel\": \"NodeImage\"\n
        \ },\n  \"disableLocalAccounts\": true,\n  \"securityProfile\": {\n   \"imageCleaner\":
        {\n    \"enabled\": true,\n    \"intervalHours\": 168\n   },\n   \"workloadIdentity\":
        {\n    \"enabled\": true\n   }\n  },\n  \"storageProfile\": {\n   \"diskCSIDriver\":
        {\n    \"enabled\": true,\n    \"version\": \"v1\"\n   },\n   \"fileCSIDriver\":
        {\n    \"enabled\": true\n   },\n   \"snapshotController\": {\n    \"enabled\":
        true\n   }\n  },\n  \"oidcIssuerProfile\": {\n   \"enabled\": true,\n   \"issuerURL\":
        \"https://eastus2.oic.prod-aks.azure.com/72f988bf-86f1-41af-91ab-2d7cd011db47/c55938a7-4cdf-49b0-97a8-f46ff608b444/\"\n
        \ },\n  \"nodeResourceGroupProfile\": {\n   \"restrictionLevel\": \"ReadOnly\"\n
        \ },\n  \"ingressProfile\": {\n   \"webAppRouting\": {\n    \"enabled\": true,\n
        \   \"dnsZoneResourceIds\": null,\n    \"identity\": {},\n    \"nginx\": {\n
        \    \"defaultIngressControllerType\": \"AnnotationControlled\"\n    }\n   }\n
        \ },\n  \"workloadAutoScalerProfile\": {\n   \"keda\": {\n    \"enabled\":
        true\n   },\n   \"verticalPodAutoscaler\": {\n    \"enabled\": true,\n    \"addonAutoscaling\":
        \"Unspecified\"\n   }\n  },\n  \"azureMonitorProfile\": {\n   \"metrics\":
        {\n    \"enabled\": false,\n    \"kubeStateMetrics\": {\n     \"metricLabelsAllowlist\":
        \"\",\n     \"metricAnnotationsAllowList\": \"\"\n    }\n   },\n   \"containerInsights\":
        {\n    \"enabled\": true,\n    \"logAnalyticsWorkspaceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS2\"\n
        \  }\n  },\n  \"metricsProfile\": {\n   \"costAnalysis\": {\n    \"enabled\":
        false\n   }\n  },\n  \"resourceUID\": \"688aa6e49f3e510001bda777\",\n  \"controlPlanePluginProfiles\":
        {\n   \"azure-monitor-metrics-ccp\": {\n    \"enableV2\": true\n   },\n   \"gpu-provisioner\":
        {\n    \"enableV2\": true\n   },\n   \"karpenter\": {\n    \"enableV2\": true\n
        \  },\n   \"kubelet-serving-csr-approver\": {\n    \"enableV2\": true\n   },\n
        \  \"live-patching-controller\": {\n    \"enableV2\": true\n   },\n   \"static-egress-controller\":
        {\n    \"enableV2\": true\n   }\n  },\n  \"nodeProvisioningProfile\": {\n
        \  \"mode\": \"Auto\",\n   \"defaultNodePools\": \"Auto\"\n  },\n  \"bootstrapProfile\":
        {\n   \"artifactSource\": \"Direct\"\n  }\n },\n \"identity\": {\n  \"type\":
        \"SystemAssigned\",\n  \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \ \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n },\n \"sku\": {\n
        \ \"name\": \"Automatic\",\n  \"tier\": \"Standard\"\n }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2/operations/3e5bbbbc-d7d3-485a-8d30-cd0e45f5f768?api-version=2025-03-01&t=638895139585323711&c=MIIHhzCCBm-gAwIBAgITfAh_EjM5CPJ1HOWmNAAACH8SMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE3MDk0NTA0WhcNMjYwMTEzMDk0NTA0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2/operations/3e5bbbbc-d7d3-485a-8d30-cd0e45f5f768?api-version=2025-03-01&t=638895139585323711&c=MIIHhzCCBm-gAwIBAgITfAh_EjM5CPJ1HOWmNAAACH8SMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE3MDk0NTA0WhcNMjYwMTEzMDk0NTA0WjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2021-04-01&$select=namespace,registrationstate
  response:
    body:
      string: '{"value":[{"namespace":"Microsoft.ContainerService","registrationState":"Registered"},{"namespace":"Microsoft.OperationalInsights","registrationState":"Registered"},{"namespace":"Microsoft.OperationsManagement","registrationState":"Registered"},{"namespace":"Microsoft.ContainerRegistry","registrationState":"Registered"},{"namespace":"Microsoft.ClassicStorage","registrationState":"Registered"},{"namespace":"Microsoft.Advisor","registrationState":"Registered"},{"namespace":"Microsoft.NotificationHubs","registrationState":"Registered"},{"namespace":"Microsoft.Managemen[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.monitor/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Monitor","namespace":"Microsoft.Monitor","authorizations":[{"applicationId":"7d307c7e-d1c0-4b3f-976d-094279ad11ab"},{"applicationId":"be14bf7e-8ab4-49b0-9dc6-a0eddd6fa73e","roleDefinitionId":"803a038d-eff1-4489-a0c2-dbc204ebac3c"},{"applicationId":"e158b4a5-21ab-442e-ae73-2e19f4e7d763","roleDefinitionId":"e46476d4-e741-4936-a72b-b768349eed70","managedByRoleDefinitionId":"50cd84fb-5e4c-4801-a8d2-4089ab77e6cd"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"b59a8212-567c-4cbe-9fa7-e05e3acfd513"},{"applicationId":"0e282aa8-2770-4b6c-8cf8-fac26e9ebe1f","roleDefinitionId":"2dfe42c1-88e3-4036-a4ce-bd17b5c5d578"},{"applicationId":"6bccf540-eb86-4037-af03-7fa058c2db75","roleDefinitionId":"89dcede2-9219-403a-9723-d3c6473f9472"}],"resourceTypes":[{"resourceType":"accounts","locations":["East
        US","Australia Central","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Central India","Central US","East Asia","East US 2","France
        Central","Germany West Central","Israel Central","Italy North","Japan East","Japan
        West","Korea Central","Korea South","North Europe","Norway East","South Africa
        North","South Central US","Southeast Asia","South India","Spain Central","Sweden
        Central","Switzerland North","UAE North","UK South","UK West","West Central
        US","West Europe","West US","West US 2","West US 3","East US 2 EUAP","Central
        US EUAP","North Central US","Australia Central 2","Brazil Southeast","France
        South","Jio India Central","Jio India West","Mexico Central","New Zealand
        North","Norway West","Poland Central","Qatar Central","Sweden South","Switzerland
        West","Taiwan North","Taiwan Northwest","UAE Central"],"apiVersions":["2025-05-01-preview","2024-10-01-preview","2024-04-01-preview","2023-04-01","2021-06-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":["North
        Central US","East US","Australia Central","Australia Central 2","Australia
        East","Australia Southeast","Brazil South","Brazil Southeast","Canada Central","Canada
        East","Central India","Central US","East Asia","East US 2","France Central","France
        South","Germany West Central","Israel Central","Italy North","Japan East","Japan
        West","Jio India Central","Jio India West","Korea Central","Korea South","Mexico
        Central","New Zealand North","North Europe","Norway East","Norway West","Poland
        Central","Qatar Central","South Africa North","South Central US","Southeast
        Asia","South India","Spain Central","Sweden Central","Switzerland North","Switzerland
        West","UAE Central","UAE North","UK South","UK West","West Central US","West
        Europe","West US","West US 2","West US 3","East US 2 EUAP","Central US EUAP","Sweden
        South","Taiwan North","Taiwan Northwest"],"apiVersions":["2025-05-03-preview","2025-05-01-preview","2025-03-01-preview","2024-10-03-preview","2024-10-01-preview","2024-04-03-preview","2024-04-01-preview","2023-04-03","2023-04-01","2021-06-03-preview","2021-06-01-preview"],"defaultApiVersion":"2021-06-01-preview","capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2024-10-03-preview","2024-10-01-preview","2024-10-01","2024-04-03-preview","2024-04-01-preview","2023-10-01-preview","2023-04-03","2023-04-01","2021-06-03-preview","2021-06-01-preview"],"defaultApiVersion":"2023-04-03","capabilities":"None"},{"resourceType":"locations/operationResults","locations":["North
        Central US","East US","Australia Central","Australia Central 2","Australia
       [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.dashboard/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard","namespace":"Microsoft.Dashboard","authorizations":[{"applicationId":"ce34e7e5-485f-4d76-964f-b3d2b16d1e4f","roleDefinitionId":"996b8381-eac0-46be-8daf-9619bafd1073"}[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Monitor?api-version=2022-01-01
  response:
    body:
      string: '{"namespace":"Microsoft.Monitor","resourceTypes":[{"resourceType":"accounts","locations":["East
        US","Australia Central","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Central India","Central US","East Asia","East US 2","France
        Central","Germany West Centra[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-eastus2?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-eastus2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-eastus2?api-version=2023-04-03
  response:
    body:
      string: '{"properties":{"accountId":"cf02e0cb-b212-49fb-81b9-de38ac6e3260","metrics":{"prometheusQueryEndpoint":"https://defaultazuremonitorworkspace-eastus2-axdnbpamfbbdh9fd.eastus2.prometheus.monitor.azure.com","internalId":"mac_cf02e0cb-b212-49fb-81b9-de38ac6e3260"},"provisioningState":"Succeeded","defaultIngestionSettings":{"dataCollectionRuleResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-eastus2_eastus2_managed/providers/Microsoft.Insights/dataCollectionRules/defaultazuremonitorworkspace-eastus2","dataCollectionEndpointResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-eastus2_eastus2_managed/providers/Microsoft.Insights/dataCollectionEndpoints/defaultazuremonitorworkspace-eastus2"},"publicNetworkAccess":"Enabled"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eastus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-eastus2","name":"DefaultAzureMonitorWorkspace-eastus2","type":"Microsoft.Monitor/accounts","etag":"\"0001ec1d-0000-0200-0000-68890e930000\"","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-29T18:10:20.6464059Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-29T18:10:20.6464059Z"}}'
    headers:
      api-supported-versions:
      - 2021-06-01-preview, 2021-06-03-preview, 2023-04-01, 2023-04-03, 2023-06-01-preview,
        2024-04-01-preview, 2024-04-03-preview, 2024-10-01-preview, 2024-10-03-preview,
        2025-05-01-preview, 2025-05-03-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "MSProm-eastus2-cliakstest000001", "location": "eastus2", "kind":
      "Linux", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-eastus2-cliakstest000001?api-version=2022-06-01
  response:
    body:
[...]
