interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-06-07T05:53:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitest5mcnikium-8ecadf", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "enableEncryptionAtHost": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNGesZJ04maueBx9GlYIweh9+kFv4J3VceW73IaVpC7+5UIo0mOrKlkWGKoJx2z7PTfxjS3XJcJ2z8bQOyUpCqrY15P2xarBfRxpFjHqAuZRk234sBQ2DC9Txc1KpY+wzOEqaJDDyd+lmi0IqjGxsNPS65HbzuwCUziI2LjK61pwTALLnJv2HSn1/7003yIuu04IJXXSkncUZnp3a5Of/ek2+QU76/j02LYllctcGS2txei9g2zaipMBfZ9vnUCN9rxdqxbcKC1oFrVo+1reT/CvU3ej5cFKLRggZWHO/x+KYLtQDaVH61+sktlbj1CBCP8nTwKdLl+h9xCd0OJmDR"}]}},
      "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy": false, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "standard"}, "apiServerAccessProfile": {"enablePrivateCluster":
      true, "enablePrivateClusterPublicFQDN": true}, "disableLocalAccounts": false},
      "identity": {"type": "SystemAssigned"}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/EnablePrivateClusterPublicFQDN
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2021-05-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.19.11\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitest5mcnikium-8ecadf\",\n   \"fqdn\": \"cliakstest-clitest5mcnikium-8ecadf-d6f489fe.hcp.westus2.azmk8s.io\"\
        ,\n   \"azurePortalFQDN\": \"0ebcdadf2361915038345ff22c75e917-priv.portal.hcp.westus2.azmk8s.io\"\
        ,\n   \"privateFQDN\": \"cliakstest-clitest5mcnikium-8ecadf-5f3a2229.e3ea1835-ad19-4e03-9489-db955099a9bd.privatelink.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n \
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"\
        code\": \"Running\"\n     },\n     \"orchestratorVersion\": \"1.19.11\",\n\
        \     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n     \"mode\"\
        : \"System\",\n     \"enableEncryptionAtHost\": false,\n     \"osType\": \"\
        Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2021.05.19\"\
        ,\n     \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"\
        adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n\
        \      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNGesZJ04maueBx9GlYIweh9+kFv4J3VceW73IaVpC7+5UIo0mOrKlkWGKoJx2z7PTfxjS3XJcJ2z8bQOyUpCqrY15P2xarBfRxpFjHqAuZRk234sBQ2DC9Txc1KpY+wzOEqaJDDyd+lmi0IqjGxsNPS65HbzuwCUziI2LjK61pwTALLnJv2HSn1/7003yIuu04IJXXSkncUZnp3a5Of/ek2+QU76/j02LYllctcGS2txei9g2zaipMBfZ9vnUCN9rxdqxbcKC1oFrVo+1reT/CvU3ej5cFKLRggZWHO/x+KYLtQDaVH61+sktlbj1CBCP8nTwKdLl+h9xCd0OJmDR\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\"\
        : \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n\
        \   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"\
        networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n  \
        \  \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\"\
        : 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\"\
        : \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\"\
        : \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"\
        maxAgentPools\": 100,\n   \"privateLinkResources\": [\n    {\n     \"name\"\
        : \"management\",\n     \"type\": \"Microsoft.ContainerService/managedClusters/privateLinkResources\"\
        ,\n     \"groupId\": \"management\",\n     \"requiredMembers\": [\n      \"\
        management\"\n     ]\n    }\n   ],\n   \"apiServerAccessProfile\": {\n   \
        \ \"enablePrivateCluster\": true,\n    \"privateDNSZone\": \"system\",\n \
        \   \"enablePrivateClusterPublicFQDN\": true\n   },\n   \"disableLocalAccounts\"\
        : false\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"\
        principalId\":\"00000000-0000-0000-0000-000000000001\",\n   \"tenantId\":\
        \ \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\": {\n   \"name\"\
        : \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/50b22411-dc76-4918-94ad-add69ea4cd1b?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/50b22411-dc76-4918-94ad-add69ea4cd1b?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"1124b250-76dc-1849-94ad-add69ea4cd1b\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2021-06-07T05:54:05.0233333Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "1.19.11",
      "dnsPrefix": "cliakstest-clitest5mcnikium-8ecadf", "agentPoolProfiles": [{"count":
      1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType": "Managed",
      "kubeletDiskType": "OS", "maxPods": 110, "osType": "Linux", "osSKU": "Ubuntu",
      "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "1.19.11", "enableNodePublicIP": false, "nodeLabels": {}, "enableEncryptionAtHost":
      false, "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNGesZJ04maueBx9GlYIweh9+kFv4J3VceW73IaVpC7+5UIo0mOrKlkWGKoJx2z7PTfxjS3XJcJ2z8bQOyUpCqrY15P2xarBfRxpFjHqAuZRk234sBQ2DC9Txc1KpY+wzOEqaJDDyd+lmi0IqjGxsNPS65HbzuwCUziI2LjK61pwTALLnJv2HSn1/7003yIuu04IJXXSkncUZnp3a5Of/ek2+QU76/j02LYllctcGS2txei9g2zaipMBfZ9vnUCN9rxdqxbcKC1oFrVo+1reT/CvU3ej5cFKLRggZWHO/x+KYLtQDaVH61+sktlbj1CBCP8nTwKdLl+h9xCd0OJmDR"}]}},
      "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001"},
      "nodeResourceGroup": "MC_clitest000001_cliakstest000001_westus2", "enableRBAC":
      true, "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "Standard", "loadBalancerProfile": {"managedOutboundIPs":
      {"count": 1}, "effectiveOutboundIPs": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Network/publicIPAddresses/b3199125-8ad3-4b80-af09-854507b2979e"}]}},
      "autoUpgradeProfile": {}, "apiServerAccessProfile": {"enablePrivateCluster":
      true, "privateDNSZone": "system", "enablePrivateClusterPublicFQDN": false},
      "identityProfile": {"kubeletidentity": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000001-agentpool",
      "clientId":"00000000-0000-0000-0000-000000000001", "objectId":"00000000-0000-0000-0000-000000000001"}},
      "privateLinkResources": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/privateLinkResources/management",
      "name": "management", "type": "Microsoft.ContainerService/managedClusters/privateLinkResources",
      "groupId": "management", "requiredMembers": ["management"]}], "disableLocalAccounts":
      false}, "identity": {"type": "Sys[...]
[...]
