interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/meshRevisionProfiles?api-version=2024-02-02-preview
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/meshRevisionProfiles/istio\",\n
        \   \"name\": \"istio\",\n    \"type\": \"Microsoft.ContainerService/locations/meshRevisionProfiles\",\n
        \   \"properties\": {\n     \"meshRevisions\": [\n      {\n       \"revision\":
        \"asm-1-18\",\n       \"upgrades\": [\n        \"asm-1-19\"\n       ],\n       \"compatibleWith\":
        [\n        {\n         \"name\": \"kubernetes\",\n         \"versions\": [\n
        \         \"1.26.10\",\n          \"1.26.12\",\n          \"1.27.7\",\n          \"1.27.9\",\n
        \         \"1.28.3\",\n          \"1.28.5\"\n         ]\n        }\n       ]\n
        \     },\n      {\n       \"revision\": \"asm-1-19\",\n       \"compatibleWith\":
        [\n        {\n         \"name\": \"kubernetes\",\n         \"versions\": [\n
        \         \"1.26.10\",\n          \"1.26.12\",\n          \"1.27.7\",\n          \"1.27.9\",\n
        \         \"1.28.3\",\n          \"1.28.5\"\n         ]\n        }\n       ]\n
        \     }\n     ]\n    }\n   }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
