interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4YzdmMTVjNi03ZjZmLTQ1ZTAtOTkwMi05NjdhMTIzMjEyNjU=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4YzdmMTVjNi03ZjZmLTQ1ZTAtOTkwMi05NjdhMTIzMjEyNjU=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4YzdmMTVjNi03ZjZmLTQ1ZTAtOTkwMi05NjdhMTIzMjEyNjU=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest000001\/providers\/Microsoft.Network\/privateDnsZones\/privatelink.westus2.azmk8s.io","name":"privatelink.westus2.azmk8s.io","type":"Microsoft.Network\/privateDnsZones","etag":"0bfb99f7-83ab-4091-9ea4-5863b94cffff","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 0bfb99f7-83ab-4091-9ea4-5863b94cffff
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-10-19T05:29:01Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002","name":"cliakstest000002","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"00000000-0000-0000-0000-000000000001","clientId":"00000000-0000-0000-0000-000000000001","clientSecretUrl":"https://control-westus2.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=0c7f764d-00b4-4535-bc89-66be219839d9&aid=969bb8e7-c124-459a-aade-43716ded0f36"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Private%20DNS%20Zone%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Private DNS Zone Contributor","type":"BuiltInRole","description":"Lets
        you manage private DNS zone resources, but not the virtual networks they are
        linked to.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.Network/privateDnsZones/*","Microsoft.Network/privateDnsOperationResults/*","Microsoft.Network/privateDnsOperationStatuses/*","Microsoft.Network/virtualNetworks/read","Microsoft.Network/virtualNetworks/join/action","Microsoft.Authorization/*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2019-07-10T19:31:15.5645518Z","updatedOn":"2019-07-11T21:12:01.7260648Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b12aa53e-6015-4669-85d0-8515ebb3ae7f","type":"Microsoft.Authorization/roleDefinitions","name":"b12aa53e-6015-4669-85d0-8515ebb3ae7f"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b12aa53e-6015-4669-85d0-8515ebb3ae7f",
      "principalId":"00000000-0000-0000-0000-000000000001", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b12aa53e-6015-4669-85d0-8515ebb3ae7f","principalId":"00000000-0000-0000-0000-000000000001","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io","condition":null,"conditionVersion":null,"createdOn":"2021-10-19T05:29:40.6462646Z","updatedOn":"2021-10-19T05:29:41.0369127Z","createdBy":null,"updatedBy":"119e1aeb-4592-42d6-9507-c66df857924f","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "identity": {"type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002":
      {}}}, "properties": {"kubernetesVersion": "", "fqdnSubdomain": "cliakstest000003",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2", "workloadRuntime":
      "OCIContainer", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost": false, "enableUltraSSD":
      false, "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVfdiWPCK7b0PD8/va1l7EvLPBaHEGLDEISGfg3dnpEsOGU/iprRcAL5NFHQ25sALHD73ZjTIH3BcSqI3OfGrmAE4SFB+nohp6gnc0Gd3Hmrl3jdDSHhm10fyAZb+9RPNFKryGFf+7DcgPK3yPJuhoN1SCqV/mMYQuLM5TpXhWEucy0tfTwN2dYyz8N741cPQJ5jdIUzN+bed3yT3d4TYEIcAdR6BlP3JNyfZlCzx5aF43Z2LWnQHdkxcgZGG5yCndaBIRZwAsCOjXuK2iiNszo2ydwD6/HABke+8hGY84bhUSfZy7QPucQIJe5RQcDXDeB7bJGojIz0KVqpHSh4+L
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "apiServerAccessProfile": {"enablePrivateCluster": true, "privateDNSZone":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io"},
      "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.20.9\",\n   \"fqdn\": \"cliakstest000003-ba96f6e0.hcp.westus2.azmk8s.io\",\n
        \  \"fqdnSubdomain\": \"cliakstest000003\",\n   \"azurePortalFQDN\": \"f3773e6259a31218585878e529971e17-priv.portal.hcp.westus2.azmk8s.io\",\n
        \  \"privateFQDN\": \"cliakstest000003.privatelink.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.20.9\",\n     \"enableNodePublicIP\":
        false,\n     \"mode\": \"System\",\n     \"enableEncryptionAtHost\": false,\n
        \    \"enableUltraSSD\": false,\n     \"osType\": \"Linux\",\n     \"osSKU\":
        \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2021.10.02\",\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVfdiWPCK7b0PD8/va1l7EvLPBaHEGLDEISGfg3dnpEsOGU/iprRcAL5NFHQ25sALHD73ZjTIH3BcSqI3OfGrmAE4SFB+nohp6gnc0Gd3Hmrl3jdDSHhm10fyAZb+9RPNFKryGFf+7DcgPK3yPJuhoN1SCqV/mMYQuLM5TpXhWEucy0tfTwN2dYyz8N741cPQJ5jdIUzN+bed3yT3d4TYEIcAdR6BlP3JNyfZlCzx5aF43Z2LWnQHdkxcgZGG5yCndaBIRZwAsCOjXuK2iiNszo2ydwD6/HABke+8hGY84bhUSfZy7QPucQIJe5RQcDXDeB7bJGojIz0KVqpHSh4+L
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\"\n   },\n   \"maxAgentPools\": 100,\n   \"privateLinkResources\":
        [\n    {\n     \"name\": \"management\",\n     \"type\": \"Microsoft.ContainerService/managedClusters/privateLinkResources\",\n
        \    \"groupId\": \"management\",\n     \"requiredMembers\": [\n      \"management\"\n
        \    ]\n    }\n   ],\n   \"apiServerAccessProfile\": {\n    \"enablePrivateCluster\":
        true,\n    \"privateDNSZone\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/privateDnsZones/privatelink.westus2.azmk8s.io\",\n
        \   \"enablePrivateClusterPublicFQDN\": true,\n    \"privateClusterVersion\":
        \"v1\"\n   },\n   \"disableLocalAccounts\": false,\n   \"publicNetworkAccess\":
        \"Disabled\"\n  },\n  \"identity\": {\n   \"type\": \"UserAssigned\",\n   \"userAssignedIdentities\":
        {\n    \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002\":
        {\n     \"principalId\":\"00000000-0000-0000-0000-000000000001\"\n    }\n
        \  }\n  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n
        \ }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/063a76d4-3373-4261-ad16-1b93d754fbc8?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/063a76d4-3373-4261-ad16-1b93d754fbc8?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"d4763a06-7333-6142-ad16-1b93d754fbc8\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-10-19T05:29:50.5466666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/063a76d4-3373-4261-ad16-1b93d754fbc8?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"d4763a06-7333-6142-ad16-1b93d754fbc8\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-10-19T05:29:50.5466666Z\",\n  \"endTime\":
        \"2021-10-19T05:36:24.248725Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2021-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/64a0a309-fc53-45e2-88db-f6b2cba248c9?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/64a0a309-fc53-45e2-88db-f6b2cba248c9?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
