interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-11-17T02:12:20Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestzaadcj4fd-c10894", "agentPoolProfiles": [{"count": 3, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "kubeletConfig": {"cpuManagerPolicy": "static", "cpuCfsQuota": true,
      "cpuCfsQuotaPeriod": "200ms", "imageGcHighThreshold": 90, "imageGcLowThreshold":
      70, "topologyManagerPolicy": "best-effort", "allowedUnsafeSysctls": ["kernel.msg*",
      "net.*"], "failSwapOn": false}, "linuxOSConfig": {"sysctls": {"netCoreSomaxconn":
      163849, "netIpv4TcpTwReuse": true, "netIpv4IpLocalPortRange": "32000 60000"},
      "transparentHugePageEnabled": "madvise", "transparentHugePageDefrag": "defer+madvise",
      "swapFileSizeMB": 1500}, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDEvZOAiQi79CLB3LPrw6shgUuJAsmvPckoiDewIwdaFEFImMCn8UOc87QtruXAHLx6XQz3r6SH3STEobWw7I1aPVD1KuQBqUQwzqfL223UyA3BOm/mdpc77apIT1Pw4hDHtMwDwO01HMir/sRIcoavXphbcUh+H1bZ5WQQJwgS0jVptOhUjeuE9uiOVA+FzauAb91/QdE6zMfvq03bynVJja4Y81n2PlqlzMmIUUVUYnSoeFIYkUToZ07d0m76VY1ci91WrUFXKCv2iM5IPvyE2RTSlm7GKrR9fUJCa4YTqPNRNwGov5GpbeZqHQzvLnjRq3hl06WX5fG8ZXaU/Xbr"}]}},
      "servicePrincipalProfile": {"clientId": "64975f3e-8238-4edc-ba79-d1b35e1414a0",
      "secret": "07fc3b9ab2a0cf5b146a$"}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/CustomNodeConfigPreview
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.17.13\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitestzaadcj4fd-c10894\",\n   \"fqdn\": \"cliakstest-clitestzaadcj4fd-c10894-fdbfa539.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"maxPods\": 110,\n     \"\
        type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\"\
        ,\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\"\
        : \"1.17.13\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\":\
        \ {},\n     \"mode\": \"System\",\n     \"kubeletConfig\": {\n      \"cpuManagerPolicy\"\
        : \"static\",\n      \"cpuCfsQuota\": true,\n      \"cpuCfsQuotaPeriod\":\
        \ \"200ms\",\n      \"imageGcHighThreshold\": 90,\n      \"imageGcLowThreshold\"\
        : 70,\n      \"topologyManagerPolicy\": \"best-effort\",\n      \"allowedUnsafeSysctls\"\
        : [\n       \"kernel.msg*\",\n       \"net.*\"\n      ],\n      \"failSwapOn\"\
        : false\n     },\n     \"linuxOSConfig\": {\n      \"sysctls\": {\n      \
        \ \"netCoreSomaxconn\": 163849,\n       \"netIpv4TcpTwReuse\": true,\n   \
        \    \"netIpv4IpLocalPortRange\": \"32000 60000\"\n      },\n      \"transparentHugePageEnabled\"\
        : \"madvise\",\n      \"transparentHugePageDefrag\": \"defer+madvise\",\n\
        \      \"swapFileSizeMB\": 1500\n     },\n     \"osType\": \"Linux\",\n  \
        \   \"nodeImageVersion\": \"AKSUbuntu-1604-2020.10.28\"\n    }\n   ],\n  \
        \ \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\"\
        : {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDEvZOAiQi79CLB3LPrw6shgUuJAsmvPckoiDewIwdaFEFImMCn8UOc87QtruXAHLx6XQz3r6SH3STEobWw7I1aPVD1KuQBqUQwzqfL223UyA3BOm/mdpc77apIT1Pw4hDHtMwDwO01HMir/sRIcoavXphbcUh+H1bZ5WQQJwgS0jVptOhUjeuE9uiOVA+FzauAb91/QdE6zMfvq03bynVJja4Y81n2PlqlzMmIUUVUYnSoeFIYkUToZ07d0m76VY1ci91WrUFXKCv2iM5IPvyE2RTSlm7GKrR9fUJCa4YTqPNRNwGov5GpbeZqHQzvLnjRq3hl06WX5fG8ZXaU/Xbr\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\": \"64975f3e-8238-4edc-ba79-d1b35e1414a0\"\n   },\n   \"addonProfiles\"\
        : {\n    \"KubeDashboard\": {\n     \"enabled\": true,\n     \"config\": null\n\
        \    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\"\
        ,\n   \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"\
        networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\"\
        : \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\"\
        : {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\"\
        ,\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\"\
        ,\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"\
        loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n  },\n  \"sku\": {\n   \"\
        name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/4af886d2-1839-43c1-8f38-6371c72ef8b9?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/4af886d2-1839-43c1-8f38-6371c72ef8b9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"d286f84a-3918-c143-8f38-6371c72ef8b9\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-11-17T02:12:29.7212883Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/agentPools?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/agentPools/nodepool1\"\
        ,\n    \"name\": \"nodepool1\",\n    \"type\": \"Microsoft.ContainerService/managedClusters/agentPools\"\
        ,\n    \"properties\": {\n     \"count\": 3,\n     \"vmSize\": \"Standard_DS2_v2\"\
        ,\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\": \"Managed\",\n     \"\
        maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\"\
        : \"Succeeded\",\n     \"powerState\": {\n      \"code\": \"Running\"\n  \
        \   },\n     \"orchestratorVersion\": \"1.17.13\",\n     \"enableNodePublicIP\"\
        : false,\n     \"nodeLabels\": {},\n     \"mode\": \"System\",\n     \"kubeletConfig\"\
        : {\n      \"cpuManagerPolicy\": \"static\",\n      \"cpuCfsQuota\": true,\n\
        \      \"cpuCfsQuotaPeriod\": \"200ms\",\n      \"imageGcHighThreshold\":\
        \ 90,\n      \"imageGcLowThreshold\": 70,\n      \"topologyManagerPolicy\"\
        : \"best-effort\",\n      \"allowedUnsafeSysctls\": [\n       \"kernel.msg*\"\
        ,\n       \"net.*\"\n      ],\n      \"failSwapOn\": false\n     },\n    \
        \ \"linuxOSConfig\": {\n      \"sysctls\": {\n       \"netCoreSomaxconn\"\
        : 163849,\n       \"netIpv4TcpTwReuse\": true,\n       \"netIpv4IpLocalPortRange\"\
        : \"32000 60000\"\n      },\n      \"transparentHugePageEnabled\": \"madvise\"\
        ,\n      \"transparentHugePageDefrag\": \"defer+madvise\",\n      \"swapFileSizeMB\"\
        : 1500\n     },\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\": \"\
        AKSUbuntu-1604-2020.10.28\"\n    }\n   }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"count": 1, "vmSize": "Standard_DS2_v2", "osType": "Linux",
      "type": "VirtualMachineScaleSets", "mode": "User", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "nodeTaints":
      [], "kubeletConfig": {"cpuManagerPolicy": "static", "cpuCfsQuota": true, "cpuCfsQuotaPeriod":
      "200ms", "imageGcHighThreshold": 90, "imageGcLowThreshold": 70, "topologyManagerPolicy":
      "best-effort", "allowedUnsafeSysctls": ["kernel.msg*", "net.*"], "failSwapOn":
      false}, "linuxOSConfig": {"sysctls": {"netCoreSomaxconn": 163849, "netIpv4TcpTwReuse":
      true, "netIpv4IpLocalPortRange": "32000 60000"}, "transparentHugePageEnabled":
      "madvise", "transparentHugePageDefr[...]
[...]
