interactions:
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitest000001-79a739", "agentPoolProfiles":
      [{"count": 3, "vmSize": "standard_d2s_v3", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "enableCustomCATrust": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "spotMaxPrice": -1.0, "nodeTaints": [], "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "networkProfile": {}, "name":
      "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgwJ1YLtrtaF7seObyf1xaMbixzWbi2HkGaOQ4C7BPyeho2pMacCkJ0qYZa0V+Muv+22BUMr0QNBnzuEYku5uM5AZW2j4fu/cRMp+1HtZHtbGRcHD2a4iMRMfUDXUCefmVhL9WzN3JUzc5sTu2HLEaAtEKAMbT/hOL75vaYug7WFsE7U7eia+E1LFMxXa+z5aKDPLYok4JduYqdALRqElogv8QekQLwjw1kt7IZY9z4krjo4FXPHd5RDIalO0mH4eNYhxbxW6r6M/OQsqxqUAOauFzF9QgU/gFMcIZC4eU2ZbQZMbMH/l+CMAwNK8ccxOEFLSmkZiPVvQ3l1ANjJeN
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-01-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.12\",\n   \"currentKubernetesVersion\": \"1.23.12\",\n   \"dnsPrefix\":
        \"cliakstest-clitest000001-79a739\",\n   \"fqdn\": \"cliakstest-clitest000001-79a739-44bb39a8.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest000001-79a739-44bb39a8.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"standard_d2s_v3\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.23.12\",\n     \"currentOrchestratorVersion\": \"1.23.12\",\n     \"enableNodePublicIP\":
        false,\n     \"enableCustomCATrust\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.10.24\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false,\n     \"networkProfile\": {}\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgwJ1YLtrtaF7seObyf1xaMbixzWbi2HkGaOQ4C7BPyeho2pMacCkJ0qYZa0V+Muv+22BUMr0QNBnzuEYku5uM5AZW2j4fu/cRMp+1HtZHtbGRcHD2a4iMRMfUDXUCefmVhL9WzN3JUzc5sTu2HLEaAtEKAMbT/hOL75vaYug7WFsE7U7eia+E1LFMxXa+z5aKDPLYok4JduYqdALRqElogv8QekQLwjw1kt7IZY9z4krjo4FXPHd5RDIalO0mH4eNYhxbxW6r6M/OQsqxqUAOauFzF9QgU/gFMcIZC4eU2ZbQZMbMH/l+CMAwNK8ccxOEFLSmkZiPVvQ3l1ANjJeN
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     },\n     \"backendPoolType\":
        \"nodeIPConfiguration\"\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\":
        [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true,\n     \"version\": \"v1\"\n
        \   },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1846fdc1-411c-4088-9749-d0c579d3945f?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1846fdc1-411c-4088-9749-d0c579d3945f?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"c1fd4618-1c41-8840-9749-d0c579d3945f\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-11-24T11:21:27.8099618Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1846fdc1-411c-4088-9749-d0c579d3945f?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"c1fd4618-1c41-8840-9749-d0c579d3945f\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-11-24T11:21:27.8099618Z\",\n  \"endTime\":
        \"2022-11-24T11:26:20.1347791Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2019-08-01&$select=namespace,registrationstate
  response:
    body:
      string: '{"value":[{"namespace":"Microsoft.Security","registrationState":"Registered"},{"namespace":"Microsoft.Compute","registrationState":"Registered"},{"namespace":"Microsoft.ContainerService","registrationState":"Registered"},{"namespace":"Microsoft.ContainerInstance","registrationState":"Registered"},{"namespace":"Microsoft.OperationsManagement","registrationState":"Registered"},{"namespace":"Microsoft.Capacity","registrationState":"Registered"},{"namespace":"Microsoft.Storage","registrationState":"Registered"},{"namespace":"Microsoft.Advisor","registrationState[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.monitor/register?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Monitor","namespace":"Microsoft.Monitor","authorizations":[{"applicationId":"be14bf7e-8ab4-49b0-9dc6-a0eddd6fa73e","roleDefinitionId":"803a038d-eff1-4489-a0c2-dbc204ebac3c"},{"applicationId":"e158b4a5-21ab-442e-ae73-2e19f4e7d763","roleDefinitionId":"e46476d4-e741-4936-a72b-b768349eed70","managedByRoleDefinitionId":"50cd84fb-5e4c-4801-a8d2-4089ab77e6cd"}],"resourceTypes":[{"resourceType":"accounts","locations":["East
        US","Central India","Central US","East US 2","North Europe","South Central
        US","Southeast Asia","UK South","West Europe","West US","West US 2","East
        US 2 EUAP","Central US EUAP"],"apiVersions":["2021-06-03-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":["North
        Central US","East US","Australia Central","Brazil South","Central India","Central
        US","East US 2","North Europe","South Central US","Southeast Asia","UK South","West
        Europe","West US","West US 2","East US 2 EUAP","Central US EUAP"],"apiVersions":["2021-06-03-preview","2021-06-01-preview"],"defaultApiVersion":"2021-06-01-preview","capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.dashboard/register?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard","namespace":"Microsoft.Dashboard","authorizations":[{"applicationId":"ce34e7e5-485f-4d76-964f-b3d2b16d1e4f","roleDefinitionId":"996b8381-eac0-46be-8daf-9619bafd1073"}[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-WUS2?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-WUS2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-WUS2?api-version=2021-06-03-preview
  response:
    body:
      string: '{"properties":{"accountId":"d58ac6fd-a84c-4806-a803-b8465d0c6776","metrics":{"prometheusQueryEndpoint":"https://defaultazuremonitorworkspace-wus2-erza.westus2.prometheus.monitor.azure.com","internalId":"mac_d58ac6fd-a84c-4806-a803-b8465d0c6776"},"provisioningState":"Succeeded","defaultIngestionSettings":{"dataCollectionRuleResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-wus2_westus2_managed/providers/Microsoft.Insights/dataCollectionRules/defaultazuremonitorworkspace-wus2","dataCollectionEndpointResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-wus2_westus2_managed/providers/Microsoft.Insights/dataCollectionEndpoints/defaultazuremonitorworkspace-wus2"}},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-wus2","name":"DefaultAzureMonitorWorkspace-WUS2","type":"Microsoft.Monitor/accounts","etag":"\"05029ecf-0000-0800-0000-634ce8a00000\"","systemData":{"createdBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","createdByType":"Application","createdAt":"2022-10-17T05:30:27.1709474Z","lastModifiedBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","lastModifiedByType":"Application","lastModifiedAt":"2022-10-17T05:30:27.1709474Z"}}'
    headers:
      api-supported-versions:
      - 2021-06-01-preview, 2021-06-03-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-wus2?api-version=2021-06-03-preview
  response:
    body:
      string: '{"properties":{"accountId":"d58ac6fd-a84c-4806-a803-b8465d0c6776","metrics":{"prometheusQueryEndpoint":"https://defaultazuremonitorworkspace-wus2-erza.westus2.prometheus.monito[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights","namespace":"microsoft.insights","authorizations":[{"applicationId":"6bccf540-eb86-4037-af03-7fa058c2db75","roleDefinitionId":"89dcede2-9219-403a-9723-d3c6473f9472"},{"applicatio[...]
- request:
    body: '{"name": "MSProm-WUS2-cliakstest000002", "location": "westus2", "kind":
      "Linux", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-WUS2-cliakstest000002?api-version=2021-09-01-preview
  response:
    body:
      string: '{"properties":{"immutableId":"dce-c128ff9f760647719906083895c56d38","configurationAccess":{"endpoint":"https://msprom-wus2-cliakstest000002-hx4f.westus2-1.handler.control.monitor.azure.com"},"logsIngestion":{"endpoint":"https://msprom-wus2-cliakstest000002-hx4f.westus2-1.ingest.monitor.azure.com"},"metricsIngestion":{"endpoint":"https://msprom-wus2-cliakstest000002-hx4f.westus2-1.metrics.ingest.monitor.azure.com"},"networkAcls":{"publicNetworkAccess":"Enabled"},"provisioningState":"Succeeded"},"location":"westus2","kind":"Linux","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-WUS2-cliakstest000002","name":"MSProm-WUS2-cliakstest000002","type":"Microsoft.Insights/dataCollectionEndpoints","etag":"\"26000beb-0000-0800-0000-637f54ef0000\"","systemData":{"createdBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","createdByType":"Application","createdAt":"2022-11-24T11:26:38.0781292Z","lastModifiedBy":"3fac8b4e-cd90-4baa-a5d2-66d52bc8349d","lastModifiedByType":"Application","lastModifiedAt":"2022-11-24T11:26:38.0781292Z"}}'
    headers:
      api-supported-versions:
      - 2021-04-01, 2021-09-01-preview, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '59'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "kind": "Linux", "properties": {"dataCollectionEndpointId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-WUS2-cliakstest000002",
      "dataSources": {"prometheusForwarder": [{"name": "PrometheusDataSource", "streams":
      ["Microsoft-PrometheusMetrics"], "labelIncludeFilter": {}}]}, "dataFlows": [{"destinations":
      ["MonitoringAccount1"], "streams": ["Microsoft-PrometheusMetrics"]}], "description":
      "DCR description", "destinations": {"monitoringAccounts": [{"accountResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-wus2",
      "name": "MonitoringAccount1"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-WUS2-cliakstest000002?api-version=202[...]
- request:
    body: '{"location": "westus2", "properties": {"dataCollectionRuleId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-WUS2-cliakstest000002",
      "description": "Promtheus data collection association between DCR, DCE and target
      AKS resource"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerServi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://defaultrulessc.blob.core.windows.net/defaultrules/ManagedPrometheusDefaultRecordingRules.json
  response:
    body:
      string: "{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"clusterName\":
        {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n
        \               \"description\": \"Cluster name\"\r\n            }\r\n        },\r\n
        \       \"macResourceId\": {\r\n            \"type\": \"string\",\r\n            \"metadata\":
        {\r\n                \"description\": \"ResourceId of Monitoring Account (MAC)
        to associate to\"\r\n            }\r\n        },\r\n        \"location\":
        {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"[resourceGroup().location]\"\r\n
        \       }\r\n    },\r\n    \"variables\": {\r\n        \"nodeRecordingRuleGroup\":
        \"NodeRecordingRulesRuleGroup-\",\r\n        \"nodeRecordingRuleGroupName\":
        \"[concat(variables('nodeRecordingRuleGroup'), parameters('clusterName'))]\",\r\n
        \       \"nodeRecordingRuleGroupDescription\": \"Node Recording Rules RuleGroup\",\r\n
        \       \"kubernetesRecordingRuleGroup\": \"KubernetesReccordingRulesRuleGroup-\",\r\n
        \       \"kubernetesRecordingRuleGroupName\": \"[concat(variables('kubernetesRecordingRuleGroup'),
        parameters('clusterName'))]\",\r\n        \"kubernetesRecordingRuleGroupDescription\":
        \"Kubernetes Recording Rules RuleGroup\",\r\n        \"version\": \" - 0.1\"\r\n
        \   },\r\n    \"resources\": [\r\n        {\r\n            \"name\": \"[variables('nodeRecordingRuleGroupName')]\",\r\n
        \           \"type\": \"Microsoft.AlertsManagement/prometheusRuleGroups\",\r\n
        \           \"apiVersion\": \"2021-07-22-preview\",\r\n            \"location\":
        \"[parameters('location')]\",\r\n            \"properties\": {\r\n                \"description\":
        \"[concat(variables('nodeRecordingRuleGroupDescription'), variables('version'))]\",\r\n
        \               \"scopes\": [\r\n                    \"[parameters('macResourceId')]\"\r\n
        \               ],\r\n                \"clusterName\": \"[parameters('clusterName')]\",\r\n
        \               \"interval\": \"PT1M\",\r\n                \"rules\": [\r\n
        \                   {\r\n                        \"record\": \"instance:node_num_cpu:sum\",\r\n
        \                       \"expression\": \"count without (cpu, mode) (  node_cpu_seconds_total{job=\\\"node\\\",mode=\\\"idle\\\"})\"\r\n
        \                   },\r\n                    {\r\n                        \"record\":
        \"instance:node_cpu_utilisation:rate5m\",\r\n                        \"expression\":
        \"1 - avg without (cpu) (  sum without (mode) (rate(node_cpu_seconds_total{job=\\\"node\\\",
        mode=~\\\"idle|iowait|steal\\\"}[5m])))\"\r\n                    },\r\n                    {\r\n
        [...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-cliakstest000002",
      "name": "NodeRecordingRulesRuleGroup-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/micr[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/KubernetesRecordingRulesRuleGroup-cliakstest000002",
      "name": "KubernetesRecordingRulesRuleGroup-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/pr[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-cliakstest000002?api-version=2021-07-22-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-07-22-preview
      arr-disable-session-affinity:
      - 'true'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
