interactions:
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitest4lj6ceu2j-8ecadf",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDJjZSgmQbO+3p9iGhxgy6d1c/TszedUmiHvDgFZgZcp7KMhP8xZspw/0Q0rP/6vcoWPb4qysTLIzX3kr/L752/j+DEE5A+N80r7sm5/6qmeLyT5guyFOCO4YydKddTlTxaizHZo1+P/wcS57NHvpon9vx08TiJXnxvzRTAlaJcsg+fvgLywa7IxyQ8zdMZub8oYlMS23BNoY92EOhD4ppmqpWuUYG/QG9UM70TYt5td9BmJlo0ZHGZNt1FLhhEug87M0F7KEkqTN8KxyGJJJ0AfS4VGg0+6+xRz00aywV6VBClLZpjiavgQrZVqqduXhSkJbWsKDx6dKbZgG49tK6x
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "none",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2022-01-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.21.9\",\n   \"currentKubernetesVersion\": \"1.21.9\",\n   \"dnsPrefix\":
        \"cliakstest-clitest4lj6ceu2j-8ecadf\",\n   \"fqdn\": \"cliakstest-clitest4lj6ceu2j-8ecadf-3e106360.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest4lj6ceu2j-8ecadf-3e106360.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 250,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.21.9\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.02.01\",\n     \"enableFIPS\": false\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDJjZSgmQbO+3p9iGhxgy6d1c/TszedUmiHvDgFZgZcp7KMhP8xZspw/0Q0rP/6vcoWPb4qysTLIzX3kr/L752/j+DEE5A+N80r7sm5/6qmeLyT5guyFOCO4YydKddTlTxaizHZo1+P/wcS57NHvpon9vx08TiJXnxvzRTAlaJcsg+fvgLywa7IxyQ8zdMZub8oYlMS23BNoY92EOhD4ppmqpWuUYG/QG9UM70TYt5td9BmJlo0ZHGZNt1FLhhEug87M0F7KEkqTN8KxyGJJJ0AfS4VGg0+6+xRz00aywV6VBClLZpjiavgQrZVqqduXhSkJbWsKDx6dKbZgG49tK6x
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"none\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"oidcIssuerProfile\":
        {\n    \"enabled\": false\n   }\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n
        \  \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n   \"tenantId\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\": {\n   \"name\":
        \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/43e06db4-725b-452c-8dc1-efd4f8a75307?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/43e06db4-725b-452c-8dc1-efd4f8a75307?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b46de043-5b72-2c45-8dc1-efd4f8a75307\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-02-16T08:06:04.0466666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/43e06db4-725b-452c-8dc1-efd4f8a75307?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b46de043-5b72-2c45-8dc1-efd4f8a75307\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-02-16T08:06:04.0466666Z\",\n  \"endTime\":
        \"2022-02-16T08:11:15.7909262Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
