interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/centraluseuap/kubernetesVersions?api-version=2026-02-02-preview
  response:
    body:
      string: "{\n \"values\": [\n  {\n   \"version\": \"1.35\",\n   \"capabilities\"\
        : {\n    \"supportPlan\": [\n     \"KubernetesOfficial\"\n    ]\n   },\n \
        \  \"isPreview\": true,\n   \"patchVersions\": {\n    \"1.35.0\": {\n    \
        \ \"upgrades\": []\n    }\n   }\n  },\n  {\n   \"version\": \"1.32\",\n  \
        \ \"capabilities\": {\n    \"supportPlan\": [\n     \"KubernetesOfficial\"\
        ,\n     \"AKSLongTermSupport\"\n    ]\n   },\n   \"patchVersions\": {\n  \
        \  \"1.32.0\": {\n     \"upgrades\": [\n      \"1.32.11\",\n      \"1.32.10\"\
        ,\n      \"1.32.9\",\n      \"1.32.8\",\n      \"1.32.7\",\n      \"1.32.6\"\
        ,\n      \"1.32.5\",\n      \"1.32.4\",\n      \"1.32.3\",\n      \"1.32.2\"\
        ,\n      \"1.32.1\",\n      \"1.33.7\",\n      \"1.33.6\",\n      \"1.33.5\"\
        ,\n    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2026-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000002''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_aks_create_with_app_routing_istio_fails_when_asm_enabled","date":"2026-03-11T15:53:56Z","module":"aks-preview"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Base", "tier": "Free"}, "identity":
      {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-managed-identity-pool/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cp-82":
      {}}}, "kind": "Base", "properties": {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestl2xpmexfw-79a739",
      "agentPoolProfiles": [{"count": 3, "vmSize": "", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "upgradeSettingsBlueGreen":
      {}, "enableNodePublicIP": false, "scaleSetPriority": "Regular", "spotMaxPrice":
      -1.0, "nodeTaints": [], "nodeInitializationTaints": [], "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "networkProfile": {}, "securityProfile":
      {"sshAccess": "localuser"}, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCPZUrR83DGi3rdO9QtYiukvikwxVz+KFa9JmC/mg2kVnw8mLDweK1mOh2aAJ0xdK3VUEkIiOee6Iu6N2smdZD89u9xRVtwTiyOaWf2ZwuoQo9plqCtviiXzsVleXTKb+CaNZTUlDujwzJTxo9kBnJlPqliGwq5E0cz5q4WfzSlT+4qWc+6FnOp0bDqEDU8VzWIMV46c8exZZJNSop383eSAyYYtnklKTWkpmk5uzkbQTHbJE1U14WmiIKpC4dPkqA0MGbTL3vswP2Dei03Ue/jL//TS50NAk+Y9A0cpUZA+yO2X8DdkaNBQ2y7hkJTF4pM5QaMAslpmOZpyjqCkiG5
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}, "ingressProfile":
      {"webAppRouting": {"enabled": true, "gatewayAPIImplementations": {"appRoutingIstio":
      {"mode": "Enabled"}}}}, "serviceMeshProfile": {"mode": "Istio", "istio": {}},
      "bootstrapProfile": {"artifactSource": "Direct"}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AppRoutingIstioGatewayAPIPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2026-02-02-preview
  response:
    body:
      string: "{\n  \"code\": \"BadRequest\",\n  \"details\": null,\n  \"message\"\
        : \"Cannot enable both the Istio add-on and the AppRouting Istio Gateway API\
        \ implementation simultaneously.\",\n  \"subcode\": \"\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
version: 1
