interactions:
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestzk3jikxtz-8ecadf",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "workloadRuntime": "OCIContainer", "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "enableCustomCATrust":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCXdRliwyD34t9z/v7a5JetUu3pvZXNe4rjbNGlx9I0GU6k7K98GD4NDpUFSOmWUXCfYXkg++PR3Yn3uTvlnkQJxIIUcKvkNO1xRe4EyBN11CsaOK09u3tSLP1oQVzx3tgU2qajHD8hplsLp3aO0yoKI4VvZu3K5uPUY+D+5vFKfhypDTkANR4qqlAsQ9vBkETcpnhfZhfpylt9AjqgJbqFS99MEVKfzHauN4FnG6XsGpEjvU++nbtc26xtxaFlYumtgwY5qcewggHxmBp4v+HM+hAeHbO1oVPl4cltOCs9hdvj9e/Pc/A1UO8QEI+30G6CLyE0BiFAlbeyuGShYiF5
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "apiServerAccessProfile": {"authorizedIPRanges": [], "enablePrivateCluster":
      true, "enableVnetIntegration": true}, "disableLocalAccounts": false, "storageProfile":
      {}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/EnableAPIServerVnetIntegrationPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-08-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.8\",\n   \"currentKubernetesVersion\": \"1.23.8\",\n   \"dnsPrefix\":
        \"cliakstest-clitestzk3jikxtz-8ecadf\",\n   \"fqdn\": \"cliakstest-clitestzk3jikxtz-8ecadf-c6079a57.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"5a9c3f13bc786c1bb50e3934df62dea6-priv.portal.hcp.westus2.azmk8s.io\",\n
        \  \"privateFQDN\": \"cliakstest-clitestzk3jikxtz-8ecadf-dd640fc2.4aa8e163-902e-4edd-85e5-6290447c723a.private.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.23.8\",\n     \"enableNodePublicIP\": false,\n     \"enableCustomCATrust\":
        false,\n     \"mode\": \"System\",\n     \"enableEncryptionAtHost\": false,\n
        \    \"enableUltraSSD\": false,\n     \"osType\": \"Linux\",\n     \"osSKU\":
        \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2022.08.23\",\n
        \    \"upgradeSettings\": {},\n     \"enableFIPS\": false\n    }\n   ],\n
        \  \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\":
        {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCXdRliwyD34t9z/v7a5JetUu3pvZXNe4rjbNGlx9I0GU6k7K98GD4NDpUFSOmWUXCfYXkg++PR3Yn3uTvlnkQJxIIUcKvkNO1xRe4EyBN11CsaOK09u3tSLP1oQVzx3tgU2qajHD8hplsLp3aO0yoKI4VvZu3K5uPUY+D+5vFKfhypDTkANR4qqlAsQ9vBkETcpnhfZhfpylt9AjqgJbqFS99MEVKfzHauN4FnG6XsGpEjvU++nbtc26xtxaFlYumtgwY5qcewggHxmBp4v+HM+hAeHbO1oVPl4cltOCs9hdvj9e/Pc/A1UO8QEI+30G6CLyE0BiFAlbeyuGShYiF5
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     },\n     \"backendPoolType\":
        \"nodeIPConfiguration\"\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\":
        [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\":
        100,\n   \"apiServerAccessProfile\": {\n    \"enablePrivateCluster\": true,\n
        \   \"privateDNSZone\": \"system\",\n    \"enablePrivateClusterPublicFQDN\":
        true,\n    \"enableVnetIntegration\": true,\n    \"subnetId\": \"\"\n   },\n
        \  \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true,\n     \"version\": \"v1\"\n
        \   },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/419cc299-8aa3-4cbd-a53f-7bc3d0b546ca?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/419cc299-8aa3-4cbd-a53f-7bc3d0b546ca?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"99c29c41-a38a-bd4c-a53f-7bc3d0b546ca\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-09-13T02:36:18.0866367Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/419cc299-8aa3-4cbd-a53f-7bc3d0b546ca?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"99c29c41-a38a-bd4c-a53f-7bc3d0b546ca\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-09-13T02:36:18.0866367Z\",\n  \"endTime\":
        \"2022-09-13T02:43:39.4166288Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
