interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/kubernetesVersions?api-version=2024-02-02-preview
  response:
    body:
      string: "{\n  \"values\": [\n   {\n    \"version\": \"1.29\",\n    \"capabilities\":
        {\n     \"supportPlan\": [\n      \"KubernetesOfficial\"\n     ]\n    },\n
        \   \"patchVersions\": {\n     \"1.29.0\": {\n      \"upgrades\": [\n       \"1.29.2\"\n
        \     ]\n     },\n     \"1.29.2\": {\n      \"upgrades\": []\n     }\n    }\n
        \  },\n   {\n    \"version\": \"1.28\",\n    \"capabilities\": {\n     \"supportPlan\":
        [\n      \"KubernetesOfficial\"\n     ]\n    },\n    \"isDefault\": true,\n
        \   \"patchVersions\": {\n     \"1.28.3\": {\n      \"upgrades\": [\n       \"1.28.5\",\n
        \      \"1.29.2\",\n       \"1.29.0\"\n      ]\n     },\n     \"1.28.5\":
        {\n      \"upgrades\": [\n       \"1.29.2\",\n       \"1.29.0\"\n      ]\n
        \    }\n    }\n   },\n   {\n    \"version\": \"1.27\",\n    \"capabilities\":
        {\n     \"supportPlan\": [\n      \"KubernetesOfficial\",\n      \"AKSLongTermSupport\"\n
        \    ]\n    },\n    \"patchVersions\": {\n     \"1.27.7\": {\n      \"upgrades\":
        [\n       \"1.27.9\",\n       \"1.28.5\",\n       \"1.28.3\"\n      ]\n     },\n
        \    \"1.27.9\": {\n      \"upgrades\": [\n       \"1.28.5\",\n       \"1.28.3\"\n
        \     ]\n     }\n    }\n   }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_aks_automatic_sku","date":"2024-04-24T22:19:56Z","module":"aks-preview"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-EUS?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS?api-version=2015-11-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"8516f8af-d26c-4c80-b0c9-8237cfc0e379","provisioningState":"Succeeded","sku":{"name":"pernode","lastSkuUpdate":"2023-11-06T09:58:51.3862578Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-04-25T14:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2021-04-11T19:22:25Z","modifiedDate":"2024-04-24T19:42:33.936061Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus","name":"DefaultWorkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-EUS","type":"Microsoft.OperationalInsights/workspaces","etag":"\"0e009e7f-0000-0100-0000-662960a90000\""}'
    headers:
      api-supported-versions:
      - 2015-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus?api-version=2015-11-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"8516f8af-d26c-4c80-b0c9-8237cfc0e379","provisioningState":"Succeeded","sku":{"name":"pernode","lastSkuUpdate":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSCI-eastus-cliakstest000001?api-version=2022-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Insights/dataCollectionRules/MSCI-eastus-cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": {}, "kind": "Linux", "properties": {"dataSources":
      {"extensions": [{"name": "ContainerInsightsExtension", "streams": ["Microsoft-ContainerInsights-Group-Default"],
      "extensionName": "ContainerInsights", "extensionSettings": {"dataCollectionSettings":
      {"enableContainerLogV2": true}}}]}, "dataFlows": [{"streams": ["Microsoft-ContainerInsights-Group-Default"],
      "destinations": ["la-workspace"]}], "destinations": {"logAnalytics": [{"workspaceResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus",
      "name": "la-workspace"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSCI-eastus-cliakstest000001?api-version=2022-06-01
  response:
    body:
      string: '{"properties":{"immutableId":"dcr-c8d8444a77bb430b88ad7755517e01b6","dataSources":{"extensions":[{"streams":["Microsoft-ContainerInsights-Group-Default"],"extensionName":"ContainerInsights","extensionSettings":{"dataCollectionSettings":{"enableContainerLogV2":true}},"name":"ContainerInsightsExtension"}]},"destinations":{"logAnalytics":[{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus","workspaceId":"8516f8af-d26c-4c80-b0c9-8237cfc0e379","name":"la-workspace"}]},"dataFlows":[{"streams":["Microsoft-ContainerInsights-Group-Default"],"destinations":["la-workspace"]}],"provisioningState":"Succeeded"},"location":"eastus","tags":{},"kind":"Linux","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSCI-eastus-cliakstest000001","name":"MSCI-eastus-cliakstest000001","type":"Microsoft.Insights/dataCollectionRules","etag":"\"380098fe-0000-0100-0000-662985960000\"","systemData":{"createdBy":"ximengzhao@microsoft.com","createdByType":"User","createdAt":"2024-04-24T22:20:04.6098757Z","lastModifiedBy":"ximengzhao@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-04-24T22:20:04.6098757Z"}}'
    headers:
      api-supported-versions:
      - 2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11,
        2024-03-11
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Automatic", "tier": "Standard"},
      "identity": {"type": "SystemAssigned"}, "kind": "Automatic", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitestja2rxy6zb-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "standard_ds4_v2", "osDiskSizeGB": 0, "workloadRuntime":
      "OCIContainer", "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "enableCustomCATrust": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "spotMaxPrice": -1.0, "nodeTaints": [], "nodeInitializationTaints":
      [], "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "networkProfile": {}, "securityProfile": {"sshAccess": "localuser"},
      "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {"omsagent": {"enabled": true, "config":
      {"logAnalyticsWorkspaceResourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus",
      "useAADAuth": "true"}}}, "enableRBAC": true, "enablePodSecurityPolicy": false,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "outboundType": "managedNATGateway",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false, "storageProfile":
      {}, "bootstrapProfile": {"artifactSource": "Direct"}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AutomaticSKUPreview,Microsoft.ContainerService/EnableAPIServerVnetIntegrationPreview,Microsoft.ContainerService/SafeguardsPreview,Microsoft.ContainerService/NRGLockdownPreview,Microsoft.ContainerService/AKS-PrometheusAddonPreview,Microsoft.ContainerService/NodeAutoProvisioningPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2024-02-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"kind\": \"Automatic\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.28\",\n
        \  \"currentKubernetesVersion\": \"1.28.5\",\n   \"dnsPrefix\": \"cliakstest-clitestja2rxy6zb-8ecadf\",\n
        \  \"fqdn\": \"cliakstest-clitestja2rxy6zb-8ecadf-9sgnxukb.hcp.eastus.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestja2rxy6zb-8ecadf-9sgnxukb.portal.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"standard_ds4_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Ephemeral\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 250,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"availabilityZones\": [\n      \"1\",\n      \"2\",\n      \"3\"\n     ],\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.28\",\n     \"currentOrchestratorVersion\": \"1.28.5\",\n     \"enableNodePublicIP\":
        false,\n     \"enableCustomCATrust\": false,\n     \"nodeLabels\": {},\n     \"nodeTaints\":
        [\n      \"CriticalAddonsOnly=true:NoSchedule\"\n     ],\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"AzureLinux\",\n     \"nodeImageVersion\":
        \"AKSCBLMariner-V2gen2-202404.09.0\",\n     \"upgradeSettings\": {\n      \"maxSurge\":
        \"10%\"\n     },\n     \"enableFIPS\": false,\n     \"networkProfile\": {},\n
        \    \"securityProfile\": {\n      \"sshAccess\": \"Disabled\",\n      \"enableVTPM\":
        false,\n      \"enableSecureBoot\": false\n     }\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"addonProfiles\":
        {\n    \"azureKeyvaultSecretsProvider\": {\n     \"enabled\": true,\n     \"config\":
        {\n      \"enableSecretRotation\": \"true\"\n     }\n    },\n    \"azurepolicy\":
        {\n     \"enabled\": true,\n     \"config\": null\n    },\n    \"omsagent\":
        {\n     \"enabled\": true,\n     \"config\": {\n      \"logAnalyticsWorkspaceResourceID\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus\",\n
        \     \"useAADAuth\": \"true\"\n     }\n    }\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_eastus\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"supportPlan\": \"KubernetesOfficial\",\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"azure\",\n    \"networkPluginMode\":
        \"overlay\",\n    \"networkPolicy\": \"cilium\",\n    \"networkDataplane\":
        \"cilium\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"backendPoolType\": \"nodeIPConfiguration\",\n     \"clusterServiceLoadBalancerHealthProbeMode\":
        \"servicenodeport\"\n    },\n    \"natGatewayProfile\": {\n     \"managedOutboundIPProfile\":
        {\n      \"count\": 1\n     },\n     \"idleTimeoutInMinutes\": 4\n    },\n
        \   \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n
        \   \"dnsServiceIP\": \"10.0.0.10\",\n    \"outboundType\": \"managedNATGateway\",\n
        \   \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ],\n
        \   \"kubeProxyConfig\": {}\n   },\n   \"maxAgentPools\": 100,\n   \"apiServerAccessProfile\":
        {\n    \"enablePrivateCluster\": false,\n    \"enableVnetIntegration\": true,\n
        \   \"subnetId\": \"\"\n   },\n   \"autoUpgradeProfile\": {\n    \"upgradeChannel\":
        \"stable\",\n    \"nodeOSUpgradeChannel\": \"NodeImage\"\n   },\n   \"disableLocalAccounts\":
        false,\n   \"securityProfile\": {\n    \"imageCleaner\": {\n     \"enabled\":
        true,\n     \"intervalHours\": 168\n    },\n    \"workloadIdentity\": {\n
        \    \"enabled\": true\n    }\n   },\n   \"storageProfile\": {\n    \"diskCSIDriver\":
        {\n     \"enabled\": true,\n     \"version\": \"v1\"\n    },\n    \"fileCSIDriver\":
        {\n     \"enabled\": true\n    },\n    \"snapshotController\": {\n     \"enabled\":
        true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": true,\n
        \   \"issuerURL\": \"https://eastus.oic.prod-aks.azure.com/72f988bf-86f1-41af-91ab-2d7cd011db47/fe944edb-5e9b-4b0a-971a-3677b871ac1c/\"\n
        \  },\n   \"safeguardsProfile\": {\n    \"level\": \"Warning\",\n    \"version\":
        \"v1.0.0\",\n    \"systemExcludedNamespaces\": [\n     \"kube-system\",\n
        \    \"calico-system\",\n     \"tigera-system\",\n     \"gatekeeper-system\"\n
        \   ]\n   },\n   \"nodeResourceGroupProfile\": {\n    \"restrictionLevel\":
        \"ReadOnly\"\n   },\n   \"ingressProfile\": {\n    \"webAppRouting\": {\n
        \    \"enabled\": true,\n     \"dnsZoneResourceIds\": null,\n     \"identity\":
        {}\n    }\n   },\n   \"workloadAutoScalerProfile\": {\n    \"keda\": {\n     \"enabled\":
        true\n    },\n    \"verticalPodAutoscaler\": {\n     \"enabled\": true,\n
        \    \"addonAutoscaling\": \"Unspecified\"\n    }\n   },\n   \"azureMonitorProfile\":
        {\n    \"containerInsights\": {\n     \"enabled\": true,\n     \"logAnalyticsWorkspaceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8-eus\"\n
        \   }\n   },\n   \"metricsProfile\": {\n    \"costAnalysis\": {\n     \"enabled\":
        false\n    }\n   },\n   \"resourceUID\": \"6629859c9c46720001e637e2\",\n   \"controlPlanePluginProfiles\":
        {\n    \"azure-monitor-metrics-ccp\": {\n     \"enableV2\": true\n    },\n
        \   \"karpenter\": {\n     \"enableV2\": true\n    },\n    \"live-patching-controller\":
        {\n     \"enableV2\": true\n    },\n    \"static-egress-controller\": {\n
        \    \"enableV2\": true\n    }\n   },\n   \"nodeProvisioningProfile\": {\n
        \   \"mode\": \"Auto\"\n   },\n   \"bootstrapProfile\": {\n    \"artifactSource\":
        \"Direct\"\n   }\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n
        \  \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n   \"tenantId\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\": {\n   \"name\":
        \"Automatic\",\n   \"tier\": \"Standard\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/e6dfaa30-3056-4927-a880-c2e45967697c?api-version=2017-08-31&t=638495940143021411&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50Lm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/e6dfaa30-3056-4927-a880-c2e45967697c?api-version=2017-08-31&t=638495940143021411&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4w[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/88e206ea-0376-4c68-b368-c29a0adc3eb0?api-version=2017-08-31&t=638495945080593739&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4w[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/dbc57f1c-e2d2-4e04-8c79-270aa324daa8?api-version=2017-08-31&t=638495947897958294&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4w[...]
[...]
