interactions:
- request:
    body: '{"properties": {"bgpConfiguration": {"allowAS": 2, "allowASOverride": "Enable",
      "defaultRouteOriginate": "True", "ipv4ListenRangePrefixes": ["10.1.1.0/28"],
      "ipv4NeighborAddress": [{"address": "10.1.1.0"}], "peerASN": 65535}, "connectedIPv4Subnets":
      [{"prefix": "10.1.1.1/24"}], "connectedIPv6Subnets": [{"prefix": "2fff::/59"}],
      "mtu": 1500, "staticRouteConfiguration": {"ipv4Routes": [{"nextHop": ["10.0.1.1"],
      "prefix": "10.0.0.1/28"}], "ipv6Routes": [{"nextHop": ["3fff::"], "prefix":
      "2fff::/59"}]}, "vlanId": 2600}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423","name":"nfa-tool-ts-cli-internalnetwork061423","type":"microsoft.managednetworkfabric/l3isolationdomains/internalnetworks","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-06-14T02:46:55.4079717Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-14T02:46:55.4079717Z"},"properties":{"annotation":null,"vlanId":2600,"mtu":1500,"connectedIPv4Subnets":[{"prefix":"10.1.1.1/24","annotation":null}],"connectedIPv6Subnets":[{"prefix":"2fff::/59","annotation":null}],"staticRouteConfiguration":{"bfdConfiguration":null,"ipv4Routes":[{"prefix":"10.0.0.1/28","nextHop":["10.0.1.1"]}],"ipv6Routes":[{"prefix":"2fff::/59","nextHop":["3fff::"]}]},"bgpConfiguration":{"bfdConfiguration":null,"defaultRouteOriginate":"True","allowAS":2,"allowASOverride":"Enable","fabricASN":null,"peerASN":65535,"ipv4ListenRangePrefixes":["10.1.1.0/28"],"ipv6ListenRangePrefixes":null,"ipv4NeighborAddress":[{"address":"10.1.1.0","operationalState":"Disabled"}],"ipv6NeighborAddress":null,"annotation":null},"importRoutePolicyId":null,"exportRoutePolicyId":null,"disabledOnResources":null,"bgpDisabledOnResources":null,"bfdDisabledOnResources":null,"bfdForStaticRoutesDisabledOnResources":null,"administrativeState":"Enabled","provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/04431658-abac-4e0a-a601-cfa252a5503b*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b2089ae3-0000-0100-0000-64892a210000"'
      mise-correlation-id:
      - 3373e8f1-29d0-4561-9515-3e0a95ccaf22
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423","name":"nfa-tool-ts-cli-internalnetwork061423","type":"microsoft.managednetworkfabric/l3isolationdomains/internalnetworks","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-06-14T02:46:55.4079717Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-14T02:46:55.4079717Z"},"properties":{"vlanId":2600,"mtu":1500,"connectedIPv4Subnets":[{"prefix":"10.1.1.1/24"}],"connectedIPv6Subnets":[{"prefix":"2fff::/59"}],"staticRouteConfiguration":{"ipv4Routes":[{"prefix":"10.0.0.1/28","nextHop":["10.0.1.1"]}],"ipv6Routes":[{"prefix":"2fff::/59","nextHop":["3fff::"]}]},"bgpConfiguration":{"defaultRouteOriginate":"True","allowAS":2,"allowASOverride":"Enable","fabricASN":20,"peerASN":65535,"ipv4ListenRangePrefixes":["10.1.1.0/28"],"ipv4NeighborAddress":[{"address":"10.1.1.0","operationalState":"Disabled"}]},"administrativeState":"Enabled","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423?api-version=2023-02-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b208f6e3-0000-0100-0000-64892a270000"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90?api-version=2023-02-01-preview
      mise-correlation-id:
      - ecf49052-14f0-4b4c-a83e-54ec51a9a9ec
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90","name":"e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423","status":"Deleting","startTime":"2023-06-14T02:47:03.2108319Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9803995c-0000-0100-0000-64892a270000"'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90","name":"e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423","status":"Succeeded","startTime":"2023-06-14T02:47:03.2108319Z","endTime":"2023-06-14T02:47:05.731778Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9803a25c-0000-0100-0000-64892a290000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90","name":"e8b5c6d3-127a-498a-9ceb-0e936f5f6700*EC12B68F1844CC1BBFABE56D24D2F348B87929F1FD252DB0D540E6E3E9B69D90","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain1-061223/internalNetworks/nfa-tool-ts-cli-internalnetwork061423","status":"Succeeded","startTime":"2023-06-14T02:47:03.2108319Z","endTime":"2023-06-14T02:47:05.731778Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9803a25c-0000-0100-0000-64892a290000"'
    status:
      code: 200
      message: OK
version: 1
