interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"aggregateRouteConfiguration":
      {"ipv4Routes": [{"prefix": "10.0.0.1/28"}, {"prefix": "10.0.0.2/28"}], "ipv6Routes":
      [{"prefix": "2fff::/64"}, {"prefix": "2fff::/65"}]}, "connectedSubnetRoutePolicy":
      {"exportRoutePolicy": {"exportIpv4RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy081023",
      "exportIpv6RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy081023"}},
      "networkFabricId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081023",
      "redistributeConnectedSubnets": "True", "redistributeStaticRoutes": "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123test?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123test","name":"nfa-tool-ts-GA-cli-l3Domain081123test","type":"microsoft.managednetworkfabric/l3isolationdomains","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-08-11T04:48:50.263779Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-11T04:48:50.263779Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081023","provisioningState":"Accepted","redistributeConnectedSubnets":"True","redistributeStaticRoutes":"True","aggregateRouteConfiguration":{"ipv4Routes":[{"prefix":"10.0.0.1/28"},{"prefix":"10.0.0.2/28"}],"ipv6Routes":[{"prefix":"2fff::/64"},{"prefix":"2fff::/65"}]},"configurationState":"Succeeded","administrativeState":"Disabled","connectedSubnetRoutePolicy":{"exportRoutePolicyId":null,"exportRoutePolicy":{"exportIpv4RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy081023","exportIpv6RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy081023"}}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0604eb6a-0000-3400-0000-64d5bdb30000"'
      mise-correlation-id:
      - a4de2cbf-ce71-446b-bf05-ff0a408abc5d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD","name":"ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123test","status":"Accepted","startTime":"2023-08-11T04:48:51.7090727Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00001ed0-0000-3400-0000-64d5bdb30000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD","name":"ea714c11-3f94-44c0-82b2-18460efdfa2a*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123test","status":"Succeeded","startTime":"2023-08-11T04:48:51.7090727Z","endTime":"2023-08-11T04:48:54.3043114Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000021d0-0000-3400-0000-64d5bdb60000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123","name":"nfa-tool-ts-GA-cli-l3Domain081123","type":"microsoft.managednetworkfabric/l3isolationdomains","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-08-11T04:40:46.5570518Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-Bicep-l3domain071923","name":"nfa-tool-t[...]
- request:
    body: '{"state": "Enable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123/updateAdministrativeState?api-version=2023-06-15
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/7ea4fbc3-ca6f-410e-a129-d5efe3ec6c8a*4886ACB2B33CBF7A75E7AF26B77376C1DFDD36EFD99694D6BACBDA4F314E716B?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/7ea4fbc3-ca6f-410e-a129-d5efe3ec6c8a*4886ACB2B33CBF7A75E7AF26B77376C1DFDD36EFD99694D6BACBDA4F314E716B?api-version=2023-06-15
      mise-correlation-id:
      - 4f3efad9-9083-4bff-853b-9a3e45490d1f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/412395ef-ab72-4926-a68b-d132dbcc47b4*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/412395ef-ab72-4926-a68b-d132dbcc47b4*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD","name":"412395ef-ab72-4926-a68b-d132dbcc47b4*6BCB28151DAB582BF64432012864B29E58EFD8EE009769DCE0AC13CAC11CBFFD","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081123test","status":"Succeeded","startTime":"2023-08-11T05:00:19.0241736Z","endTime":"2023-08-11T05:00:19.6961015Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"000018d2-0000-3400-0000-64d5c0630000"'
    status:
      code: 200
      message: OK
version: 1
