interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"configurationType": "Inline",
      "dynamicMatchConfigurations": [{"ipGroups": [{"ipAddressType": "IPv4", "ipPrefixes":
      ["10.10.10.10/30"], "name": "example-ipGroup1"}], "portGroups": [{"name": "example-portGroup1",
      "ports": ["100-200"]}], "vlanGroups": [{"name": "exmaple-vlanGroup", "vlans":
      ["10"]}]}], "matchConfigurations": [{"actions": [{"destinationId": "/subscriptions//resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/neighborGroups/example-neighborGroup",
      "isTimestampEnabled": "True", "matchConfigurationName": "match1", "truncate":
      "100", "type": "Drop"}], "ipAddressType": "IPv4", "matchConditions": [{"encapsulationType":
      "None", "ipCondition": {"ipGroupNames": ["example-ipGroup"], "ipPrefixValues":
      ["10.10.10.10/20"], "prefixType": "Prefix", "type": "SourceIP"}, "portCondition":
      {"layer4Protocol": "TCP", "portGroupNames": ["example-portGroup1"], "portType":
      "SourcePort", "ports": ["100"]}, "protocolTypes": ["TCP"], "vlanMatchCondition":
      {"innerVlans": ["11-20"], "vlanGroupNames": ["exmaple-vlanGroup"], "vlans":
      ["10"]}}], "matchConfigurationName": "config1", "sequenceNumber": 10}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nfa-tool-ts-GA-cli-taprule0810233?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nfa-tool-ts-GA-cli-taprule0810233","name":"nfa-tool-ts-GA-cli-taprule0810233","type":"microsoft.managednetworkfabric/networktaprules","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-08-11T03:25:57.4186007Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-11T03:25:57.4186007Z"},"properties":{"pollingIntervalInSeconds":30,"configurationState":"Succeeded","provisioningState":"Accepted","administrativeState":"Disabled","configurationType":"Inline","matchConfigurations":[{"matchConfigurationName":"config1","sequenceNumber":10,"ipAddressType":"IPv4","matchConditions":[{"encapsulationType":"None","portCondition":{"portType":"SourcePort","layer4Protocol":"TCP","ports":["100"],"portGroupNames":["example-portGroup1"]},"protocolTypes":["TCP"],"vlanMatchCondition":{"vlans":["10"],"innerVlans":["11-20"],"vlanGroupNames":["exmaple-vlanGroup"]},"ipCondition":{"type":"SourceIP","prefixType":"Prefix","ipPrefixValues":["10.10.10.10/20"],"ipGroupNames":["example-ipGroup"]}}],"actions":[{"type":"Drop","truncate":"100","isTimestampEnabled":"True","destinationId":"/subscriptions//resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/neighborGroups/example-neighborGroup","matchConfigurationName":"match1"}]}],"dynamicMatchConfigurations":[{"ipGroups":[{"name":"example-ipGroup1","ipAddressType":"IPv4","ipPrefixes":["10.10.10.10/30"]}],"vlanGroups":[{"name":"exmaple-vlanGroup","vlans":["10"]}],"portGroups":[{"name":"example-portGroup1","ports":["100-200"]}]}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/70f8fe92-9096-45e9-bf0f-b53f72702e15*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"01001138-0000-3400-0000-64d5aa460000"'
      mise-correlation-id:
      - 23ad2670-326a-4aa5-a052-8f97cfc9c452
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/70f8fe92-9096-45e9-bf0f-b53f72702e15*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/70f8fe92-9096-45e9-bf0f-b53f72702e15*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C","name":"70f8fe92-9096-45e9-bf0f-b53f72702e15*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nfa-tool-ts-GA-cli-taprule0810233","status":"Succeeded","startTime":"2023-08-11T03:25:58.7351333Z","endTime":"2023-08-11T03:25:59.0777867Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000bcca-0000-3400-0000-64d5aa470000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkTapRules?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nfa-tool-ts-GA-cli-taprule0810233","name":"nfa-tool-ts-GA-cli-taprule0810233","type":"microsoft.managednetworkfabric/networktaprules","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-08-11T03:25:57.4186007Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nfa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/db92262a-5c6b-4f2f-b369-a7caa9d484d2*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/db92262a-5c6b-4f2f-b369-a7caa9d484d2*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C","name":"db92262a-5c6b-4f2f-b369-a7caa9d484d2*2AB107258E379AB32453E0ED666579F2F344D5D675F1419446DDC4F0457DBC1C","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nfa-tool-ts-GA-cli-taprule0810233","status":"Succeeded","startTime":"2023-08-11T03:26:08.6103308Z","endTime":"2023-08-11T03:26:08.7011144Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000beca-0000-3400-0000-64d5aa500000"'
    status:
      code: 200
      message: OK
version: 1
