interactions:
- request:
    body: '{"location": "eastus", "properties": {"fabricASN": 20, "ipv4Prefix": "10.1.0.0/19",
      "ipv6Prefix": "2fff::/59", "managementNetworkConfiguration": {"infrastructureVpnConfiguration":
      {"optionBProperties": {"routeTargets": {"exportIpv4RouteTargets": ["65046:10039"],
      "exportIpv6RouteTargets": ["65046:10039"], "importIpv4RouteTargets": ["65046:10039"],
      "importIpv6RouteTargets": ["65046:10039"]}}, "peeringOption": "OptionB"}, "workloadVpnConfiguration":
      {"optionBProperties": {"routeTargets": {"exportIpv4RouteTargets": ["65046:10039"],
      "exportIpv6RouteTargets": ["65046:10039"], "importIpv4RouteTargets": ["65046:10039"],
      "importIpv6RouteTargets": ["65046:10039"]}}, "peeringOption": "OptionB"}}, "networkFabricControllerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNFC-4-2/providers/microsoft.managednetworkfabric/networkfabriccontrollers/nfcfab3-4-2",
      "networkFabricSku": "fab1", "rackCount": 2, "serverCountPerRack": 5, "terminalServerConfiguration":
      {"password": "*****", "primaryIpv4Prefix": "172.31.0.0/30", "secondaryIpv4Prefix":
      "172.31.0.20/30", "serialNumber": "1234", "username": "****"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf-2?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf-2","name":"nfa-tool-ts-GA-cli-nf-2","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus","systemData":{"createdBy":"smylsamy@microsoft.com","createdByType":"User","createdAt":"2023-11-26T17:34:13.8178468Z","lastModifiedBy":"smylsamy@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-26T17:34:13.8178468Z"},"properties":{"fabricVersion":"1.0.0","networkFabricSku":"fab1","networkFabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNFC-4-2/providers/microsoft.managednetworkfabric/networkfabriccontrollers/nfcfab3-4-2","terminalServerConfiguration":{"username":"****","serialNumber":"1234","primaryIpv4Prefix":"172.31.0.0/30","secondaryIpv4Prefix":"172.31.0.20/30"},"managementNetworkConfiguration":{"infrastructureVpnConfiguration":{"administrativeState":"Enabled","peeringOption":"OptionB","optionBProperties":{"importRouteTargets":["65046:10039","65046:10039"],"exportRouteTargets":["65046:10039","65046:10039"],"routeTargets":{"importIpv4RouteTargets":["65046:10039"],"importIpv6RouteTargets":["65046:10039"],"exportIpv4RouteTargets":["65046:10039"],"exportIpv6RouteTargets":["65046:10039"]}}},"workloadVpnConfiguration":{"administrativeState":"Enabled","peeringOption":"OptionB","optionBProperties":{"importRouteTargets":["65046:10039","65046:10039"],"exportRouteTargets":["65046:10039","65046:10039"],"routeTargets":{"importIpv4RouteTargets":["65046:10039"],"importIpv6RouteTargets":["65046:10039"],"exportIpv4RouteTargets":["65046:10039"],"exportIpv6RouteTargets":["65046:10039"]}}}},"provisioningState":"Accepted","configurationState":"Succeeded","rackCount":2,"serverCountPerRack":5,"ipv4Prefix":"10.1.0.0/19","ipv6Prefix":"2fff::/59","fabricASN":20}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/84d525c3-5635-4373-8844-68a88e78a7c1*E748F4AF7C9061D7B635C4ED7B0AAE20BA6EF80B4F6F71980B1CE3978CF68011?api-version=2023-06-15&t=638366168557709880&c=MIIHHjCCBgagAwIBAgITfwI79y9UzaNyX0UmiQAEAjv3LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMDUyMjE5WhcNMjQxMDI2MDUyMjE5Wj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/84d525c3-5635-4373-8844-68a88e78a7c1*E748F4AF7C9061D7B635C4ED7B0AAE20BA6EF80B4F6F71980B1CE3978CF68011?api-version=2023-06-15&t=638366168557709880&c=MIIHHjCCBgagAwIBAgITfwI79y9UzaNyX0UmiQAEAjv3LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf-2?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf-2","name":"nfa-tool-ts-GA-cli-nf-2","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus","systemData":{"createdBy":"smylsamy@microsoft.com","createdByType":"User","createdAt":"2023-11-26T17:34:13.8178468Z","lastModifiedBy":"cbe7d642-9e0a-475d-b2bf-2cb0a9825e13","lastModifiedByType":"Application","lastModifiedAt":"2023-11-26T17:36:41.7541637Z"},"properties":{"racks":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkRacks/nfa-tool-ts-GA-cli-nf-2-aggrack","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkRacks/nfa-tool-ts-GA-cli-nf-2-comprack1","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf","name":"nfa-tool-ts-GA-cli-nf","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus","systemData":{"createdBy":"smylsamy@microsoft.com","createdByType":"User","createdAt":"2023-11-16T13:36:26.6193908Z","lastModifiedBy":"cbe7d642-9e0a-475d-b2bf-2cb0a9825e13","lastModifiedByType":"Application","lastModi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkFabrics?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RakeshTSAutomationTest/providers/Microsoft.ManagedNetworkFabric/networkFabrics/customnetworkgabric","name":"customnetworkgabric","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus","systemData":{"createdBy":"rapadh@microsoft.com","createdByType":"User","createdAt":"2023-04-26T12:55:53.262038Z","lastModifiedBy":"cbe7d642-9e0a-475d-b2bf-2cb0a9825e13","lastModifiedByType":"Application","lastModifiedAt":"2023-04-26T13:14:15.2515913Z"},"properties":{"networkFabricSku":"fab1","networkFabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/RakeshTSAutomationTest/providers/microsoft.managednetworkfabric/networkfabriccontrollers/RakeshTest","terminalServerConfiguration":{"username":"root","primaryIpv4Prefix":"192.0.0.68/30","secondaryIpv4Prefix":"192.0.1.68/30"},"managementNetworkConfiguration":{"infrastructureVpnConfiguration":{"administrativeState":"Enabled","peeringOption":"OptionA","optionAProperties":{"mtu":1500,"vlanId":1001,"peerASN":65001,"primaryIpv4Prefix":"192.22.0.124/30","secondaryIpv4Prefix":"192.22.0.128/30"},"optionBProperties":{"importRouteTargets":["65044:10039"],"exportRouteTargets":["65044:10039"]}},"workloadVpnConfiguration":{"administrativeState":"Enabled","peeringOption":"OptionB","optionBProperties":{"importRouteTargets":["65044:10050"],"exportRouteTargets":["65044:10050"]}}},"provisioningState":"Succeeded","rackCount":2,"serverCountPerRack":3,"ipv4Prefix":"192.0.0.68/30","fabricASN":65001}},{"id":"/subscrip[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nnf-4-2-cli-testing-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf?api-version=2023-06-15
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f6493799-2c3b-4acb-9661-6c71c2d29bb6*9F955E93C8A960EECCAB0F26D6AF67C90FDCDD17BEA1124C8350B73021072939?api-version=2023-06-15&t=638366170321847347&c=MIIHHjCCBgagAwIBAgITfwI79y9UzaNyX0UmiQAEAjv3LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f6493799-2c3b-4acb-9661-6c71c2d29bb6*9F955E93C8A960EECCAB0F26D6AF67C90FDCDD17BEA1124C8350B73021072939?api-version=2023-06-15&t=638366170322002794&c=MIIHHjCCBgagAwIBAgITfwI79y9UzaNyX0UmiQAEAjv3LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
