interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfcfab1-4-1-GF-oct9-infra?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfcfab1-4-1-GF-oct9-infra","name":"nfcfab1-4-1-GF-oct9-infra","type":"microsoft.managednetworkfabric/internetgateways","location":"eastus2euap","systemData":{"createdBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","createdByType":"Application","createdAt":"2023-10-09T14:53:07.457604Z","lastModifiedBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","lastModifiedByType":"Application","lastModifiedAt":"2023-10-09T14:53:07.457604Z"},"properties":{"port":0,"networkFabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/microsoft.managednetworkfabric/networkFabriccontrollers/nfcfab1-4-1-GF-oct9","type":"Infrastructure","provisioningState":"Succeeded","ipv4Address":"http://10.245.99.253:3128","internetGatewayRuleId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/InternetGatewayRules/nfcfab1-4-1-GF-oct9-infra-system"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00004641-0000-3400-0000-6524149a0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/internetGateways?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfcrg071323/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfa-tool-ts-GA-nfc071323-infra","name":"nfa-tool-ts-GA-nfc071323-infra","type":"microsoft.managednetworkfabric/internetgateways","location":"eastus2euap","systemData":{"createdBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","createdByType":"Application","createdAt":"2023-07-13T09:51:13.9152001Z","lastModifiedBy":"a893dadc-5c8e-47f4-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/internetGateways?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfcfab1-4-1-GF-oct9-infra","name":"nfcfab[...]
- request:
    body: '{"properties": {"internetGatewayRuleId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules/nfa-tool-ts-GA-cli-IgwRule101123-1"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNFC-4-1-oct9/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfcfab1-4-1-GF-oct9-infra?api-version=2023-06-15
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/8884a28e-ef60-4e0a-bd59-b4027b0179cb*837AB227E9420B4F5DA49F65C3DBE789C118B829F92AE97CEE9AAB63B37A089E?api-version=2023-06-15&t=638326358951374403&c=MIIHHjCCBgagAwIBAgITOgHdCaLrivgty2pL3wAEAd0JojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMTQxNzE0WhcNMjQwNzI3MTQxN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/8884a28e-ef60-4e0a-bd59-b4027b0179cb*837AB227E9420B4F5DA49F65C3DBE789C118B829F92AE97CEE9AAB63B37A089E?api-version=2023-06-15&t=638326358951374403&c=MIIHHjCCBgagAwIBAgITOgHdCaLrivgty2pL3wAEAd0JojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRg[...]
[...]
