interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab2-4-2-aggrack?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab2-4-2-aggrack","name":"nffab2-4-2-aggrack","type":"microsoft.managednetworkfabric/networkracks","location":"eastus2euap","systemData":{"createdBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","createdByType":"Application","createdAt":"2023-11-16T13:10:09.7281883Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2023-11-16T13:11:01.5854671Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Fab2LabNF-4-2/providers/microsoft.managednetworkfabric/networkfabrics/nffab2-4-2","networkDevices":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab2-4-2-AggrRack-CE1","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab2-4-2-AggrRack-CE2","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab2-4-2-AggrRack-MgmtSwitch1","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab2-4-2-AggrRack-MgmtSwitch2","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab2-4-2-AggrRack-NPB1"],"provisioningState":"Succeeded","networkRackType":"Aggregate"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"04007067-0000-3400-0000-655614e50000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkRacks?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab2-4-2-aggrack","name":"nffab2-4-2-aggrack","type":"microsoft.managednetworkfabric/networkracks","location":"eastus2euap","systemData":{"createdBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","createdByType":"Application","createdAt":"2023-11-16T13:10:09.7281883Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkRacks?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-2/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab2-4-2-aggrack","name":"nffab2-4-2-aggrack","type":"microsoft.managednetworkfabric/net[...]
