interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"location": "eastus", "properties": {"statements": [{"action": {"actionType":
      "Permit", "ipCommunityProperties": {"add": {"ipCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-cli-ipcommunity1-061223"]}},
      "localPreference": 113}, "condition": {"ipCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-cli-ipcommunity1-061223"],
      "ipPrefixId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-cli-ipprefix1-061223"},
      "sequenceNumber": 1214}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061223?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061223","name":"nfa-tool-ts-cli-routepolicy061223","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-06-12T07:41:17.6846934Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-12T07:41:17.6846934Z"},"properties":{"statements":[{"sequenceNumber":1214,"condition":{"ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-cli-ipcommunity1-061223"],"ipPrefixId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-cli-ipprefix1-061223"},"action":{"localPreference":113,"actionType":"Permit","ipCommunityProperties":{"add":{"ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-cli-ipcommunity1-061223"]}}}}],"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1ddf8c5b-0276-4d80-bcef-e512e0f4ffb2*034B9DA378CBB417CAB7CA57CD0B5433AAB2190B0105D353F366398AACF22797?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"660b31fe-0000-0100-0000-6486cc1e0000"'
      mise-correlation-id:
      - 915315bc-8801-4d0f-a67f-499250e44ade
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1ddf8c5b-0276-4d80-bcef-e512e0f4ffb2*034B9DA378CBB417CAB7CA57CD0B5433AAB2190B0105D353F366398AACF22797?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1ddf8c5b-0276-4d80-bcef-e512e0f4ffb2*034B9DA378CBB417CAB7CA57CD0B5433AAB2190B0105D353F366398AACF22797","name":"1ddf8c5b-0276-4d80-bcef-e512e0f4ffb2*034B9DA378CBB417CAB7CA57CD0B5433AAB2190B0105D353F366398AACF22797","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061223","status":"Succeeded","startTime":"2023-06-12T07:41:18.5769686Z","endTime":"2023-06-12T07:41:19.4316867Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6f03adef-0000-0100-0000-6486cc1f0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ankitha-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/rcf-Fab1-l3domain-connsubnet-ext-policy","name":"rcf-Fab1-l3domain-connsubnet-ext-policy","type":"microsoft.managednetworkfabric/routepolicies","location":"westus3","systemData":{"createdBy":"v-akurapati@microsoft.com","createdByType":"User","createdAt":"2023-05-09T10:31:48.9140534Z","lastModifiedBy":"v-akurapati@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-09T10:31:48.9140534Z"},"properties":{"statements":[{"sequenceNumber":10,"condition":{},"action":{"actionType":"Permit","ipCommunityProperties":{"set":{"ipCommunityIds":["<ref-of-ipcommunity-staticsubnet>"]}}}}],"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061223","name":"nfa-tool-ts-cli-routepolicy061223","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-06-12T07:41:17.6846934Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-12T07:41:21.0160551Z"},"properties":{"statements":[{"sequenceNumber":1214,"condition":{"ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-cli-ipcommunity1-061223"],"ipPrefixId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-cli-ipprefix1-061223"},"action":{"localPreference":113,"actionType":"Permit","ipCommunityProperties":{"add":{"ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-cli-ipcommunity1-061223"]}}}}],"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - bee8b063-0b56-442e-86f6-260735c41710
      - d8104ec5-f784-49f7-b40b-23d02f7a0a69
      - c81178e2-7a4a-40a9-a99c-a9d006b8d8bf
      - 488fbd00-31ac-41d1-ae19-ce38521c5fe4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2a51d47e-fe8f-4ee4-b7cb-1967bf09b5fc
      - 1774537e-10d7-4190-b87a-e6d8435e1526
      - 9c9ef938-dbce-4a7a-a329-e43e283c8f26
      - c6926b29-266c-4f1b-9153-1b8f1524cada
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061223?api-version=2023-02-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
version: 1
