interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"fabricASN": 65046, "ipv4Prefix":
      "10.18.0.0/19", "ipv6Prefix": "fda0:d59c:da12::/59", "managementNetworkConfiguration":
      {"infrastructureVpnConfiguration": {"optionBProperties": {"routeTargets": {"exportIpv4RouteTargets":
      ["65046:10039"], "exportIpv6RouteTargets": ["65046:10039"], "importIpv4RouteTargets":
      ["65046:10039"], "importIpv6RouteTargets": ["65046:10039"]}}, "peeringOption":
      "OptionB"}, "workloadVpnConfiguration": {"optionBProperties": {"routeTargets":
      {"exportIpv4RouteTargets": ["65046:10050"], "exportIpv6RouteTargets": ["65046:10050"],
      "importIpv4RouteTargets": ["65046:10050"], "importIpv6RouteTargets": ["65046:10050"]}},
      "peeringOption": "OptionB"}}, "networkFabricControllerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNFC-5-1/providers/microsoft.managednetworkfabric/networkfabriccontrollers/nfcfab3-5-1",
      "networkFabricSku": "abcd1234", "rackCount": 2, "serverCountPerRack":
      4, "terminalServerConfiguration": {"password": "*****", "primaryIpv4Prefix":
      "20.0.1.12/30", "secondaryIpv4Prefix": "20.0.0.12/30", "serialNumber": "abcd1234",
      "username": "*****"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nffab3-5-1?api-version=2024-02-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nffab3-5-1","name":"nffab3-5-1","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus2euap","systemData":{"createdBy":"aytripathi@microsoft.com","createdByType":"User","createdAt":"2024-02-12T09:30:23.4106879Z","lastModifiedBy":"aytripathi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-12T09:30:23.4106879Z"},"properties":{"fabricVersion":"1.0.0","networkFabricSku":"abcd1234","networkFabricControllerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNFC-5-1/providers/microsoft.managednetworkfabric/networkfabriccontrollers/nfcfab3-5-1","terminalServerConfiguration":{"username":"*****","serialNumber":"abcd1234","primaryIpv4Prefix":"20.0.1.12/30","secondaryIpv4Prefix":"20.0.0.12/30"},"managementNetworkConfiguration":{"infrastructureVpnConfiguration":{"administrativeState":"Enabled","peeringOption":"OptionB","optionBProperties":{"importRouteTargets":["65046:10039","65046:10039"],"exportRouteTargets":["65046:10039","65046:10039"],"routeTargets":{"importIpv4RouteTargets":["65046:10039"],"importIpv6RouteTargets":["65046:10039"],"exportIpv4RouteTargets":["65046:10039"],"exportIpv6RouteTargets":["65046:10039"]}}},"workloadVpnConfiguration":{"administrativeState":"Enabled","peeringOption":"OptionB","optionBProperties":{"importRouteTargets":["65046:10050","65046:10050"],"exportRouteTargets":["65046:10050","65046:10050"],"routeTargets":{"importIpv4RouteTargets":["65046:10050"],"importIpv6RouteTargets":["65046:10050"],"exportIpv4RouteTargets":["65046:10050"],"exportIpv6RouteTargets":["65046:10050"]}}}},"provisioningState":"Accepted","configurationState":"Succeeded","rackCount":2,"serverCountPerRack":4,"ipv4Prefix":"10.18.0.0/19","ipv6Prefix":"fda0:d59c:da12::/59","fabricASN":65046}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/0c541377-dd77-40b0-ae5d-d0412df771f2*63CEF835E203414829B0C4BF6F5E62CF9B95A0F84F7E358DB86D126CCEAD7A0D?api-version=2024-02-15-preview&t=638433270264107884&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwODE5WhcNMjUwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/0c541377-dd77-40b0-ae5d-d0412df771f2*63CEF835E203414829B0C4BF6F5E62CF9B95A0F84F7E358DB86D126CCEAD7A0D?api-version=2024-02-15-preview&t=638433270264107884&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nffab3-5-1?api-version=2024-02-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nffab3-5-1","name":"nffab3-5-1","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus2euap","systemData":{"createdBy":"aytripathi@microsoft.com","createdByType":"User","createdAt":"2024-02-12T09:30:23.4106879Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2024-02-12T09:32:54.0890478Z"},"properties":{"racks":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab3-5-1-aggrack","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab3-5-1-comprack1","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab3-5-1-comprack2"],"fabricVersion":"1.0.0","n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkFabrics?api-version=2024-02-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nffab3-5-1","name":"nffab3-5-1","type":"microsoft.managednetworkfabric/networkfabrics","location":"eastus2euap","systemData":{"createdBy":"aytripathi@microsoft.com","createdByType":"User","createdAt":"2024-02-12T09:30:23.4106879Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2024-02-12T09:3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkFabrics?api-version=2024-02-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA4.1-clisdktest-nfrg101023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-cli-nf101023-pro","name":"nfa-tool-ts[...]
