interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"addressFamilyType": "IPv4",
      "defaultAction": "Permit", "networkFabricId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081023",
      "statements": [{"action": {"actionType": "Permit", "ipCommunityProperties":
      {"add": {"ipCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-GA-cli-ipCommunity081023test"]}},
      "localPreference": 123}, "condition": {"ipCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-GA-cli-ipCommunity081023test"],
      "ipPrefixId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-GA-cli-ipPrefix081023test",
      "type": "Or"}, "sequenceNumber": 1234}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-GA-routePolicy081123?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-GA-routePolicy081123","name":"nfa-tool-ts-cli-GA-routePolicy081123","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-08-11T03:08:51.2896866Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-11T03:08:51.2896866Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081023","addressFamilyType":"IPv4","defaultAction":"Permit","statements":[{"sequenceNumber":1234,"condition":{"type":"Or","ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-GA-cli-ipCommunity081023test"],"ipPrefixId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-GA-cli-ipPrefix081023test"},"action":{"localPreference":123,"actionType":"Permit","ipCommunityProperties":{"add":{"ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-GA-cli-ipCommunity081023test"]}}}}],"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/2d073444-f010-482a-84a6-ba829d2eb096*E1E1C185E621CECA655C40A445B7B08A9ACA0C1C30DAD0C6F44F7DEBF10048B7?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"04002f8e-0000-3400-0000-64d5a6440000"'
      mise-correlation-id:
      - b9917685-139d-48fb-89da-851e5661b09c
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/2d073444-f010-482a-84a6-ba829d2eb096*E1E1C185E621CECA655C40A445B7B08A9ACA0C1C30DAD0C6F44F7DEBF10048B7?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/2d073444-f010-482a-84a6-ba829d2eb096*E1E1C185E621CECA655C40A445B7B08A9ACA0C1C30DAD0C6F44F7DEBF10048B7","name":"2d073444-f010-482a-84a6-ba829d2eb096*E1E1C185E621CECA655C40A445B7B08A9ACA0C1C30DAD0C6F44F7DEBF10048B7","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-GA-routePolicy081123","status":"Succeeded","startTime":"2023-08-11T03:08:52.3900734Z","endTime":"2023-08-11T03:08:53.2653441Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00009ec9-0000-3400-0000-64d5a6450000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy081023","name":"nfa-tool-ts-GA-routePolicy081023","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-08-10T10:40:30.0623841Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-GA-routePolicy081123?api-version=2023-06-15
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ManagedNetworkFabric/RoutePolicies/nfa-tool-ts-cli-GA-routePolicy081123''
        under resource group ''nfa-tool-ts-GA3.2-clisdktest-nfrg081023'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap", "properties": {"addressFamilyType": "IPv4",
      "defaultAction": "Permit", "networkFabricId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081023",
      "statements": [{"action": {"actionType": "Deny", "ipExtendedCommunityProperties":
      {"set": {"ipExtendedCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-cli-ipExtendedCommunity081023test"]}},
      "localPreference": 1235}, "condition": {"ipExtendedCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-cli-ipExtended[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-GA-routePolicy081123?api-version=2023-06-15
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-GA-routePolicy081123''
        could not be found."}}'
    headers:
      content-type:
      - application/json
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 404
      message: Not Found
version: 1
