interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"location": "eastus", "properties": {"statements": [{"action": {"actionType":
      "Permit", "ipExtendedCommunityProperties": {"add": {"ipExtendedCommunityIds":
      ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-cli-ipextcommunity1-061223"]}},
      "localPreference": 113}, "condition": {"ipExtendedCommunityIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-cli-ipextcommunity1-061223"],
      "ipPrefixId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-cli-ipprefix1-061223"},
      "sequenceNumber": 1214}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061423?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061423","name":"nfa-tool-ts-cli-routepolicy061423","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-06-14T02:19:17.7706101Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-14T02:19:17.7706101Z"},"properties":{"statements":[{"sequenceNumber":1214,"condition":{"ipExtendedCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-cli-ipextcommunity1-061223"],"ipPrefixId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-cli-ipprefix1-061223"},"action":{"localPreference":113,"actionType":"Permit","ipExtendedCommunityProperties":{"add":{"ipExtendedCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfcrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-cli-ipextcommunity1-061223"]}}}}],"provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/8f802884-6dd3-48db-a839-3f83adf2545d*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b80b513b-0000-0100-0000-648923a60000"'
      mise-correlation-id:
      - fa8ed602-33ec-483e-84df-f012028010ac
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/8f802884-6dd3-48db-a839-3f83adf2545d*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/8f802884-6dd3-48db-a839-3f83adf2545d*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0","name":"8f802884-6dd3-48db-a839-3f83adf2545d*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061423","status":"Succeeded","startTime":"2023-06-14T02:19:18.8674088Z","endTime":"2023-06-14T02:19:20.146161Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"98037522-0000-0100-0000-648923a80000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg061323/providers/Microsoft.ManagedNetworkFabric/routePolicies/rcf-fab1-l3domain-exp-policy","name":"rcf-fab1-l3domain-exp-policy","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus2euap","systemData":{"createdBy":"v-abalka@microsoft.com","createdByType":"User","createdAt":"2023-06-13T17:42:17.2794193Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2023-06-13T18:10:06.5772621Z"},"properties":{"statements":[{"sequenceNumber":10,"condition":{"ipPrefixId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg061323/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/ipprefixv4internalnetwork1export"},"action":{"actionType":"Permit","ipCommunityProperties":{"set":{"ipCommunityIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg061323/providers/Microsoft.ManagedNetworkFabric/ipCommunities/ipcommunityinternalexport"]}}}}],"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg061323/providers/Microsoft.ManagedNetworkFabric/routePolicies/rcf-fab1-l3domain-imp-policy","name":"rcf-fab1-l3domain-imp-policy","type":"microsoft.managednetworkfabric/routepolicies","location":"eastus2euap","sy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/c1db0ca8-5bc9-40b7-ab44-b89e7772bca0*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/c1db0ca8-5bc9-40b7-ab44-b89e7772bca0*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0","name":"c1db0ca8-5bc9-40b7-ab44-b89e7772bca0*D151D6B4864CA13859B46DA8F0E329119AD80990BFB1F452E9AD20500DF473C0","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-cli-routepolicy061423","status":"Succeeded","startTime":"2023-06-14T02:19:25.4538713Z","endTime":"2023-06-14T02:19:25.8861701Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9803ba22-0000-0100-0000-648923ad0000"'
    status:
      code: 200
      message: OK
version: 1
