interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab3-5-1-CompRack1-TOR1?api-version=2024-06-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab3-5-1-CompRack1-TOR1","name":"nffab3-5-1-CompRack1-TOR1","type":"microsoft.managednetworkfabric/networkdevices","location":"eastus2euap","systemData":{"createdBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","createdByType":"Application","createdAt":"2024-02-12T09:32:41.2764291Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2024-02-12T09:32:41.2764291Z"},"properties":{"annotation":null,"networkRackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab3-5-1-comprack1","networkDeviceSku":"DefaultSku","networkDeviceRole":"ToR","hostName":"CR1-TOR1","serialNumber":"NA","version":"1.0.0","provisioningState":"Succeeded","managementIpv4Address":null,"managementIpv6Address":null,"configurationState":"Succeeded","administrativeState":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00001300-0000-3400-0000-65c9e5b90000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkDevices?api-version=2024-06-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab3-5-1-AggrRack-CE2","name":"nffab3-5-1-AggrRack-CE2","type":"microsoft.managednetworkfabric/networkdevices","location":"eastus2euap","systemData":{"createdBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","createdByType":"Application","createdAt":"2024-02-12T09:32:33.3602612Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkDevices?api-version=2024-06-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-GA4.1-clisdktest-nfrg101023/providers/Microsoft.ManagedNetworkFabric/networkDevices/nfa-tool-ts-GA-cli-nf101023-1-AggrRack-MgmtSwitch1","name":"nfa-tool-ts-GA-cli-nf101023-1-AggrRack-MgmtSwitch1","type":"microsoft.managednetworkfabric/networkdevices","location":"eastus2euap","systemData":{"createdBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","createdByType":"Application","createdAt":"2023-10-10T10:20:29.2466082Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2024-02-02T06:56:43.7213665Z"},"properties":{"networkRackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SR-NF-TEST-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/NFSingleRackTEST-2-2-aggrack","networkDeviceSku":"DefaultSku","networkDeviceRole":"NPB","hostName":"NFSR-AR-NPB1","serialNumber":"Arista;DCS-7280CR3K-32D4A;11.01;JPE22162468","version":"1.0.0","configurationState":"Succeeded","administrativeState":"Enabled","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 15c8763f-d0cc-430b-bf41-ae32e30fd94f
      - 18449927-7d5c-4a0b-8d32-9927a659fd20
      - 3ec1305e-0d75-457f-ab31-fb710e36f0fb
      - e9dc67be-629c-4dab-99e0-e04ceed11d9f
      - 8f8dd476-6c60-4889-adf9-a7271150b8ff
      - edb4eaad-7b10-4b83-a313-80be6f46e8a7
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"serialNumber": "12345"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab3-5-1-CompRack1-TOR1?api-version=2024-06-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab3-5-1-CompRack1-TOR1","name":"nffab3-5-1-CompRack1-TOR1","type":"microsoft.managednetworkfabric/networkdevices","location":"eastus2euap","systemData":{"createdBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","createdByType":"Application","createdAt":"2024-02-12T09:32:41.2764291Z","lastModifiedBy":"REDACTED","lastModifiedByType":"User","lastModifiedAt":"2024-02-12T09:51:31.5850304Z"},"properties":{"networkRackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab3-5-1-comprack1","networkDeviceSku":"DefaultSku","networkDeviceRole":"ToR","hostName":"CR1-TOR1","serialNumber":"12345","version":"1.0.0","configurationState":"Succeeded","administrativeState":"Enabled","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00001700-0000-3400-0000-65c9ea260000"'
      mise-correlation-id:
      - b8904e86-7af5-4750-a645-8399486d7a40
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
