interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"aggregateRouteConfiguration":
      {"ipv4Routes": [{"prefix": "10.0.0.1/28"}, {"prefix": "10.0.0.2/28"}], "ipv6Routes":
      [{"prefix": "2fff::/64"}, {"prefix": "2fff::/65"}]}, "connectedSubnetRoutePolicy":
      {"exportRoutePolicy": {"exportIpv4RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423",
      "exportIpv6RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"}},
      "networkFabricId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071423",
      "redistributeConnectedSubnets": "True", "redistributeStaticRoutes": "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain071823?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain071823","name":"nfa-tool-ts-GA-cli-l3Domain071823","type":"microsoft.managednetworkfabric/l3isolationdomains","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-07-18T09:01:33.1447457Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-18T09:01:33.1447457Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071423","provisioningState":"Accepted","redistributeConnectedSubnets":"True","redistributeStaticRoutes":"True","aggregateRouteConfiguration":{"ipv4Routes":[{"prefix":"10.0.0.1/28"},{"prefix":"10.0.0.2/28"}],"ipv6Routes":[{"prefix":"2fff::/64"},{"prefix":"2fff::/65"}]},"configurationState":"Succeeded","administrativeState":"Disabled","connectedSubnetRoutePolicy":{"exportRoutePolicyId":null,"exportRoutePolicy":{"exportIpv4RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423","exportIpv6RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"}}}}'
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2600c228-0000-3400-0000-64b654ed0000"'
      mise-correlation-id:
      - a6ab1431-9a25-4358-93d1-ad93a696e8ec
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494","name":"ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain071823","status":"Accepted","startTime":"2023-07-18T09:01:33.4090798Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000064b-0000-3400-0000-64b654ed0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494","name":"ad90516e-6cc0-4490-81ef-cac68c98b80b*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain071823","status":"Succeeded","startTime":"2023-07-18T09:01:33.4090798Z","endTime":"2023-07-18T09:01:36.5018292Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000084b-0000-3400-0000-64b654f00000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423","name":"nfa-tool-ts-GA-l3domain071423","type":"microsoft.managednetworkfabric/l3isolationdomains","location":"eastus2euap","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-07-18T07:32:33.6630324Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d[...]
- request:
    body: '{"state": "Enable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/updateAdministrativeState?api-version=2023-06-15
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/7391b1d1-b543-493b-be72-0e956b335403*B982659B86D91DCCADDA146D86FAAFBCC52631C5CC54584444D45623207A8F7D?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/7391b1d1-b543-493b-be72-0e956b335403*B982659B86D91DCCADDA146D86FAAFBCC52631C5CC54584444D45623207A8F7D?api-version=2023-06-15
      mise-correlation-id:
      - 8d5227ee-77a7-4ecf-9bf1-23c1c3e43443
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/e0b20e94-577a-4f4f-abe6-5e9f88061a77*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/e0b20e94-577a-4f4f-abe6-5e9f88061a77*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494","name":"e0b20e94-577a-4f4f-abe6-5e9f88061a77*3420B225D2BBA091674790499641D3DC371512BFD4AF4ACE720378C9C9ECD494","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain071823","status":"Succeeded","startTime":"2023-07-18T09:12:54.2167719Z","endTime":"2023-07-18T09:12:55.492941Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000c94b-0000-3400-0000-64b657970000"'
    status:
      code: 200
      message: OK
version: 1
