interactions:
- request:
    body: '{"properties": {"exportRoutePolicy": {"exportIpv4RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423",
      "exportIpv6RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"},
      "importRoutePolicy": {"importIpv4RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423",
      "importIpv6RoutePolicyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"},
      "isManagementType": "True", "layer2Configuration": {"mtu": 1500}, "nniType":
      "CE", "optionBLayer3Configuration": {"peerASN": 28, "primaryIpv4Prefix": "172.31.0.0/31",
      "secondaryIpv4Prefix": "172.31.0.20/31", "vlanId": 501}, "useOptionB": "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823","name":"nfa-tool-ts-GA-cli-nni071823","type":"microsoft.managednetworkfabric/networkfabrics/networktonetworkinterconnects","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-07-18T14:05:22.8063402Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-18T14:05:22.8063402Z"},"properties":{"administrativeState":"Enabled","nniType":"CE","isManagementType":"True","useOptionB":"True","layer2Configuration":{"mtu":1500},"optionBLayer3Configuration":{"peerASN":28,"vlanId":501,"fabricASN":0,"primaryIpv4Prefix":"172.31.0.0/31","secondaryIpv4Prefix":"172.31.0.20/31"},"provisioningState":"Accepted","importRoutePolicy":{"importIpv4RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423","importIpv6RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"},"exportRoutePolicy":{"exportIpv4RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423","exportIpv6RoutePolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"},"configurationState":"Succeeded"}}'
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000beb7-0000-3400-0000-64b69c230000"'
      mise-correlation-id:
      - c0398851-3097-4103-894d-d8c252ae96e7
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A","name":"831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823","status":"Updating","startTime":"2023-07-18T14:05:23.2166785Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00008854-0000-3400-0000-64b69c230000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A","name":"831ace53-8724-4676-977d-b1eca43bbbf2*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823","status":"Succeeded","startTime":"2023-07-18T14:05:23.2166785Z","endTime":"2023-07-18T14:05:24.006499Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00008954-0000-3400-0000-64b69c240000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823","name":"nfa-tool-ts-GA-cli-nni071823","type":"microsoft.managednetworkfabric/networkfabrics/networktonetworkinterconnects","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-07-18T14:05:22.80634[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823?api-version=2023-06-15
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/4c9e27a3-844d-46cb-bca1-44a84996bd3c*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A?api-version=2023-06-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000c8b7-0000-3400-0000-64b69c480000"'
      location:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/4c9e27a3-844d-46cb-bca1-44a84996bd3c*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A?api-version=2023-06-15
      mise-correlation-id:
      - f6fdd00e-1874-40e8-bb26-fd72990b5285
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/4c9e27a3-844d-46cb-bca1-44a84996bd3c*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/4c9e27a3-844d-46cb-bca1-44a84996bd3c*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A","name":"4c9e27a3-844d-46cb-bca1-44a84996bd3c*5BEB25FD952F2D5D540A90AA3C16686C282C9C8E601B3E0029E389B9BB89F84A","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071823-postTest/networkToNetworkInterconnects/nfa-tool-ts-GA-cli-nni071823","status":"Succeeded","startTime":"2023-07-18T14:05:59.9846137Z","endTime":"2023-07-18T14:06:00.4931571Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00008f54-0000-3400-0000-64b69c480000"'
    status:
      code: 200
      message: OK
version: 1
