interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"configurationType": "Inline",
      "matchConfigurations": [{"actions": [{"type": "Count"}, {"type": "Drop"}], "ipAddressType":
      "IPv4", "matchConditions": [{"vlanMatchCondition": {"innerVlans": ["2012"],
      "vlans": ["100", "101", "200-300", "400", "500-520"]}}, {"vlanMatchCondition":
      {"innerVlans": ["2018"], "vlans": ["1000", "1001", "2000-3000", "4000", "4001-4050"]}}],
      "matchConfigurationName": "DEFAULT_TRAFFIC_RULE_M1", "sequenceNumber": 1001},
      {"actions": [{"type": "Count"}, {"type": "Drop"}], "ipAddressType": "IPv6",
      "matchConditions": [{"vlanMatchCondition": {"innerVlans": ["2012"], "vlans":
      ["100", "101", "200-300", "400", "500-520"]}}], "matchConfigurationName": "DEFAULT_TRAFFIC_RULE_M2",
      "sequenceNumber": 1002}, {"actions": [{"type": "Count"}, {"type": "Drop"}],
      "ipAddressType": "IPv4", "matchConditions": [{"portCondition": {"layer4Protocol":
      "TCP", "portType": "SourcePort", "ports": ["50", "301", "300-305", "350", "400-500"]},
      "protocolTypes": ["5", "6", "17"]}], "matchConfigurationName": "DEFAULT_TRAFFIC_RULE_M3",
      "sequenceNumber": 1010}, {"actions": [{"type": "Count"}], "ipAddressType": "IPv4",
      "matchConditions": [{"ipCondition": {"ipPrefixValues": ["2.2.2.0/24", "3.3.0.0/16"],
      "prefixType": "Prefix", "type": "DestinationIP"}}], "matchConfigurationName":
      "DEFAULT_TRAFFIC_RULE_M5", "sequenceNumber": 50}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nffab3-5-1-taprule?api-version=2024-02-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nffab3-5-1-taprule","name":"nffab3-5-1-taprule","type":"microsoft.managednetworkfabric/networktaprules","location":"eastus2euap","systemData":{"createdBy":"aytripathi@microsoft.com","createdByType":"User","createdAt":"2024-02-14T20:28:54.5549014Z","lastModifiedBy":"aytripathi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-15T04:26:47.2344046Z"},"properties":{"configurationState":"Succeeded","provisioningState":"Accepted","administrativeState":"Disabled","pollingIntervalInSeconds":30,"configurationType":"Inline","matchConfigurations":[{"matchConfigurationName":"DEFAULT_TRAFFIC_RULE_M1","sequenceNumber":1001,"ipAddressType":"IPv4","matchConditions":[{"encapsulationType":"None","vlanMatchCondition":{"vlans":["100","101","200-300","400","500-520"],"innerVlans":["2012"]}},{"encapsulationType":"None","vlanMatchCondition":{"vlans":["1000","1001","2000-3000","4000","4001-4050"],"innerVlans":["2018"]}}],"actions":[{"type":"Count","isTimestampEnabled":"False"},{"type":"Drop","isTimestampEnabled":"False"}]},{"matchConfigurationName":"DEFAULT_TRAFFIC_RULE_M2","sequenceNumber":1002,"ipAddressType":"IPv6","matchConditions":[{"encapsulationType":"None","vlanMatchCondition":{"vlans":["100","101","200-300","400","500-520"],"innerVlans":["2012"]}}],"actions":[{"type":"Count","isTimestampEnabled":"False"},{"type":"Drop","isTimestampEnabled":"False"}]},{"matchConfigurationName":"DEFAULT_TRAFFIC_RULE_M3","sequenceNumber":1010,"ipAddressType":"IPv4","matchConditions":[{"encapsulationType":"None","portCondition":{"portType":"SourcePort","layer4Protocol":"TCP","ports":["50","301","300-305","350","400-500"]},"protocolTypes":["5","6","17"]}],"actions":[{"type":"Count","isTimestampEnabled":"False"},{"type":"Drop","isTimestampEnabled":"False"}]},{"matchConfigurationName":"DEFAULT_TRAFFIC_RULE_M5","sequenceNumber":50,"ipAddressType":"IPv4","matchConditions":[{"encapsulationType":"None","ipCondition":{"type":"DestinationIP","prefixType":"Prefix","ipPrefixValues":["2.2.2.0/24","3.3.0.0/16"]}}],"actions":[{"type":"Count","isTimestampEnabled":"False"}]}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/1c98724e-47db-45b9-8c62-c23a98fd1517*A9F56D24568470C2F0FA2BBC5A0753F03F2EFEE3AEC6D1691F4E6F598FBE49C7?api-version=2024-02-15-preview&t=638435680104375579&c=MIIHADCCBeigAwIBAgITHgPomYee4Qu7BfhItwAAA-iZhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMTMwMDYwOTE2WhcNMjUwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/1c98724e-47db-45b9-8c62-c23a98fd1517*A9F56D24568470C2F0FA2BBC5A0753F03F2EFEE3AEC6D1691F4E6F598FBE49C7?api-version=2024-02-15-preview&t=638435680104375579&c=MIIHADCCBeigAwIBAgITHgPomYee4Qu7BfhItwAAA-iZhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkTapRules?api-version=2024-02-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNF-5-0/providers/Microsoft.ManagedNetworkFabric/networkTapRules/taprulesimple","name":"taprulesimple","type":"microsoft.managednetworkfabric/networktaprules","location":"eastus2euap","systemData":{"createdBy":"rapadh@microsoft.com","createdByType":"User","createdAt":"2024-02-03T17:43:49.7115099Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2024-02-03T17:58:50.7406052Z"},"properties":{"configurationState":"Succeeded","provisioningState":"Succeeded","administrativeState":"Disabled","pollingIntervalInSeconds":30,"configurationType":"Inline","matchConfigurations":[{"matchConfigurationName":"MSFT_ATT_AON_NW_TAP_IPV4_VLAN_131_SRC_MATCH_DST_ANY","sequenceNumber":2000,"ipAddressType":"IPv4","matchConditions":[{"encapsulationType":"None","vlanMatchCondition":{"vlans":["131"]}},{"encapsulationType":"None","ipCondition":{"type":"SourceIP","prefixType":"Prefix","ipPrefixValues":["166.194.14.0/25"]}}],"actions":[{"type":"Count","isTimestampEnabled":"False"},{"type":"Redirect","isTimestampEnabled":"False","destinationId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNF-5-0/providers/Microsoft.ManagedNetworkFabric/neighborGroups/ngh1?api-version=2024-02-15-preview"}]}],"networkTapId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/fab1labnf-5-0/providers/microsoft.managednetworkfabric/networktaps/networktapsimple"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNF-5-0/providers/Microsoft.ManagedNetworkFabric/networkTapRules/networktaprule-inline","name":"networktaprule-inline","type":"microsoft.managednetworkfabric/networktaprules","location":"EastUS2EUAP","systemData":{"createdBy":"v-pnavya@microsoft.com","createdByType[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkTapRules?api-version=2024-02-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkTapRules/nffab3-5-1-taprule","name":"nffab3-5-1-taprule"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/753238d4-e8f5-4da0-8cd6-3a2a83af3fd2*A9F56D24568470C2F0FA2BBC5A0753F03F2EFEE3AEC6D1691F4E6F598FBE49C7?api-version=2024-02-15-preview&t=638435680309355623&c=MIIHADCCBeigAwIBAgITHgPomYee4Qu7BfhItwAAA-iZhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
