interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pipeline-test-rg082823/providers/microsoft.managednetworkfabric/networkpacketbrokers/pipeline-nf082823-npb","name":"pipeline-nf082823-npb","type":"microsoft.managednetworkfabric/networkpacketbrokers","location":"eastus2euap","systemData":{"createdBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","createdByType":"Application","createdAt":"2023-08-28T09:49:37.784923Z","lastModifiedBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","lastModifiedByType":"Application","lastModifiedAt":"2023-08-28T09:49:37.784923Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pipeline-test-rg082823/providers/Microsoft.ManagedNetworkFabric/networkFabrics/pipeline-nf082823","provisioningState":"Succeeded","networkDeviceIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pipeline-test-rg082823/providers/Microsoft.ManagedNetworkFabric/networkDevices/pipeline-nf082823-AggrRack-NPB1","/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pipeline-test-rg082823/providers/Microsoft.ManagedNetworkFabric/networkDevices/pipeline-nf082823-AggrRack-NPB2"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab2LabNF-4-1/providers/microsoft.managednetworkfabric/network[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNF-4-1-oct7/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNF-4-1-oct7/providers/microsoft.managednetworkfabric/networkpacketbrokers/nffab1-4-1-gf-oct7-npb","name":"nffab1-4-1-gf-oct7-npb","type":"microsoft.managednetworkfabric/networkpacketbrokers","location":"eastus2euap","systemData":{"createdBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","createdByType":"Application","createdAt":"2023-10-07T07:28:01.7105646Z","lastModifiedBy":"a893dadc-5c8e-47f4-8379-6afb34bdbe12","lastModifiedByType":"Application","lastModifiedAt":"2023-10-07T07:28:01.7105646Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Fab1LabNF-4-1-oct7/providers/microsoft.managednetworkfabric/networkfabrics/nffab1-4-1-GF-oct7","provisioningState":"Succeeded","networkDeviceIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab1LabNF-4-1-oct7/providers/Microsoft.ManagedNetworkFabric/networkDevices/nffab1-4-1-GF-oct7-AggrRack-NPB1"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - aa29a361-7186-48f1-b392-51693696d6a2
      - f04e0c77-f333-445e-aa21-481d5809c3bc
      - 02d2d313-bda9-439d-9545-8d1e5627d059
      - 172b8bff-352a-4acb-a54d-88fef9624ad2
      - f6eac6bc-5ec2-423d-80d2-3664cdd8c6ba
      - a12c9375-9e23-4db3-bb59-97ffbbe6cb01
    status:
      code: 200
      message: OK
version: 1
