interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkBootstrapDevices/example-device?api-version=2025-07-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkBootstrapDevices/example-device","name":"example-device","type":"Microsoft.ManagedNetworkFabric/networkBootstrapDevices","location":"eastus2euap","systemData":{"createdBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","createdByType":"Application","createdAt":"2024-02-12T09:32:41.2764291Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2024-02-12T09:32:41.2764291Z"},"properties":{"annotation":null,"networkRackId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkRacks/nffab3-5-1-comprack1","networkDeviceSku":"DefaultSku","networkDeviceRole":"ToR","hostName":"CR1-TOR1","serialNumber":"NA","version":"1.0.0","provisioningState":"Succeeded","managementIpv4Address":null,"managementIpv6Address":null,"configurationState":"Succeeded","administrativeState":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"00001300-0000-3400-0000-65c9e5b90000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkBootstrapDevices?api-version=2025-07-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkBootstrapDevices/nffab3-5-1-AggrRack-CE2","name":"nffab3-5-1-AggrRack-CE2","type":"Microsoft.ManagedNetworkFabric/networkBootstrapDevices","location":"eastus2euap","systemData":{"createdBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","createdByType":"Application","createdAt":"2024-02-12T09:32:33.3602612Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","last[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkBootstrapDevices?api-version=2025-07-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Fab3LabNF-5-1/providers/Microsoft.ManagedNetworkFabric/networkBootstrapDevices/nfa-tool-ts-GA-cli-nf101023-1-AggrRack-MgmtSwitch1","name":"nfa-tool[...]
