interactions:
- request:
    body: '{"location": "eastus", "properties": {"administrativeState": "Enabled", "allowedEgressNetworks": [], "customerResourceGroupName": "customer-resource-group", "customerSubscriptionId": "00000000-0000-0000-0000-000000000000", "customerTenantId": "00000000-0000-0000-0000-000000000000", "defaultRoutingDomainLimits": {"managedNatEnabled": "False", "maxSnatPorts": 0, "publicIpAllowance": 0, "vlanBudget": 2}, "routingDomainBudget": 2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.ManagedNetworkFabric/fabrics/fabric-v2-test/delegations/fabric-delegation-test?api-version=2026-07-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.ManagedNetworkFabric/fabrics/fabric-v2-test/delegations/fabric-delegation-test","name":"fabric-delegation-test","type":"Microsoft.ManagedNetworkFabric/fabrics/delegations","location":"eastus","properties":{"administrativeState":"Enabled","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.ManagedNetworkFabric/fabrics/fabric-v2-test/delegations?api-version=2026-07-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.ManagedNetworkFabric/fabrics/fabric-v2-test/delegations/fabric-delegation-test","name":"fabric-delegation-test","type":"Microsoft.ManagedNetworkFabric/fabrics/delegations","location":"eastus","properties":{"administrativeState":"Disabled","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.ManagedNetworkFabric/fabrics/fabric-v2-test/delegations/fabric-delegation-test?api-version=2026-07-15-preview
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
