interactions:
- request:
    body: '{"consumerResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.Compute/virtualMachines/service-consumer", "requestGeneration": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mock-resource-group/providers/Microsoft.ManagedNetworkFabric/fabrics/fabric-v2-test/vrfs/vrf-test/servicePeers/service-peer-test/prepareAttachment?api-version=2026-07-15-preview
  response:
    body:
      string: '{"bgpAuthenticationSecretHandle":"secret-handle","expiresAt":"2026-08-14T01:00:00Z","localAsn":65001,"localIpv4Address":"10.0.0.1","peerIpv4Address":"10.0.0.2","prefixLength":30,"servicePeerAttachmentToken":"opaque-token-value"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
