interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"location": "eastus", "properties": {"aggregateRouteConfiguration": {"ipv4Routes":
      [{"prefix": "10.0.0.1/27"}], "ipv6Routes": [{"prefix": "2fff::/59"}]}, "connectedSubnetRoutePolicy":
      {"exportRoutePolicyId": "<exportRoutePolicyId>"}, "networkFabricId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-nf060523",
      "redistributeConnectedSubnets": "True", "redistributeStaticRoutes": "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain061423?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain061423","name":"nfa-tool-ts-cli-l3domain061423","type":"microsoft.managednetworkfabric/l3isolationdomains","location":"eastus","systemData":{"createdBy":"v-rmarimuthu@microsoft.com","createdByType":"User","createdAt":"2023-06-14T02:31:11.535147Z","lastModifiedBy":"v-rmarimuthu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-14T02:31:11.535147Z"},"properties":{"networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-nf060523","provisioningState":"Accepted","administrativeState":"Disabled","redistributeConnectedSubnets":"True","redistributeStaticRoutes":"True","aggregateRouteConfiguration":{"ipv4Routes":[{"prefix":"10.0.0.1/27"}],"ipv6Routes":[{"prefix":"2fff::/59"}]},"connectedSubnetRoutePolicy":{"exportRoutePolicyId":"<exportRoutePolicyId>","administrativeState":"Disabled"}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a50b7294-0000-0100-0000-648926700000"'
      mise-correlation-id:
      - de7996f3-2317-4a25-ba09-d774162d63fb
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E","name":"eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain061423","status":"Accepted","startTime":"2023-06-14T02:31:12.4900543Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9803ad42-0000-0100-0000-648926700000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E","name":"eba2dc51-da28-407d-a981-11c7f47c999b*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain061423","status":"Succeeded","startTime":"2023-06-14T02:31:12.4900543Z","endTime":"2023-06-14T02:43:10.4801396Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"98033755-0000-0100-0000-6489293e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg061323/providers/microsoft.managednetworkfabric/L3IsolationDomains/nfcfab1061323-nffab1061323-l3isd3-1196","name":"nfcfab1061323-nffab1061323-l3isd3-1196","type":"microsoft.managednetworkfabric/l3isolationdomains","location":"eastus2euap","systemData":{"createdBy":"v-sayyalu@microsoft.com","createdByType":"User","createdAt":"2023-06-13T15:39:13.6717174Z","lastModifiedBy":"d1bd24c7-b27f-477e-86dd-939e107873d7","lastModifiedByType":"Application","lastModifiedAt":"2023-06-13T15:39:24.8509154Z"},"properties":{"description":"creating
        L3 isolation domain","networkFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg061323/providers/Microsoft.ManagedNetworkFabric/networkfabrics/nffab1061323","provisioningState":"Succeeded","administrativeState":"Disabled","redistributeConnectedSubnets":"True","redistributeStaticRoutes":"True","aggregateRouteConfiguration":null,"connectedSubnetRoutePolicy":null}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fab1nfrg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains?api-version=2023-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/30948e2c-610b-4bf4-a36b-a308d8c01b3d*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E?api-version=2023-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/30948e2c-610b-4bf4-a36b-a308d8c01b3d*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E","name":"30948e2c-610b-4bf4-a36b-a308d8c01b3d*CA27A4C70B6569659C9D40D40FC4AAE70C745165DF32F8AAD90DDA984F07131E","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-cli-l3domain061423","status":"Succeeded","startTime":"2023-06-14T02:43:44.6975062Z","endTime":"2023-06-14T02:43:45.2399666Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"98033e56-0000-0100-0000-648929610000"'
    status:
      code: 200
      message: OK
version: 1
