interactions:
- request:
    body: '{"location": "westus3", "properties": {"infrastructureExpressRouteConnections":
      [{"expressRouteAuthorizationKey": "1234ABCD-0A1B-1234-5678-123456ABCDEF", "expressRouteCircuitId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"},
      {"expressRouteAuthorizationKey": "1234ABCD-0A1B-1234-5678-123456ABCDEF", "expressRouteCircuitId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"}],
      "ipv4AddressSpace": "10.0.0.0/19", "isWorkloadManagementNetworkEnabled": "True",
      "nfcSku": "Basic", "workloadExpressRouteConnections": [{"expressRouteAuthorizationKey":
      "1234ABCD-0A1B-1234-5678-123456ABCDEF", "expressRouteCircuitId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"},
      {"expressRouteAuthorizationKey": "1234ABCD-0A1B-1234-5678-123456ABCDEF", "expressRouteCircuitId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-4-1-cli-nfc-2?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-4-1-cli-nfc-2","name":"nfa-tool-ts-4-1-cli-nfc-2","type":"microsoft.managednetworkfabric/networkfabriccontrollers","location":"westus3","systemData":{"createdBy":"smylsamy@microsoft.com","createdByType":"User","createdAt":"2023-10-13T09:42:48.5149959Z","lastModifiedBy":"smylsamy@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-13T10:59:16.8171408Z"},"properties":{"provisioningState":"Accepted","workloadManagementNetwork":true,"infrastructureServices":{"ipv4AddressSpaces":["10.0.0.0/21"],"ipv6AddressSpaces":[]},"workloadServices":{"ipv4AddressSpaces":["10.0.28.0/22"],"ipv6AddressSpaces":[]},"tenantInternetGatewayIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfa-tool-ts-4-1-cli-nfc-2-workload"],"infrastructureExpressRouteConnections":[{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"},{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"}],"ipv4AddressSpace":"10.0.0.0/19","isWorkloadManagementNetworkEnabled":"True","nfcSku":"Basic","workloadExpressRouteConnections":[{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"},{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"}],"managedResourceGroupConfiguration":{"location":"westus3","name":"nfa-tool-ts-4-1-cli-nfc-2-HostedResources-4D01779B"}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/749868aa-ec9e-4e67-9c1e-9ae6d73a2d4b*AFB897AACD847ED7D11EDDFEBEED49F7EFFA57FB67EB5888A514CA858691A3C7?api-version=2023-06-15&t=638327915582392122&c=MIIHHjCCBgagAwIBAgITOgHdCaLrivgty2pL3wAEAd0JojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMTQxNzE0WhcNMjQwNzI3MTQxNzE0W[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/749868aa-ec9e-4e67-9c1e-9ae6d73a2d4b*AFB897AACD847ED7D11EDDFEBEED49F7EFFA57FB67EB5888A514CA858691A3C7?api-version=2023-06-15&t=638327915582392122&c=MIIHHjCCBgagAwIBAgITOgHdCaLrivgty2pL3wAEAd0JojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-4-1-cli-nfc-2?api-version=2023-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-4-1-cli-nfc-2","name":"nfa-tool-ts-4-1-cli-nfc-2","type":"microsoft.managednetworkfabric/networkfabriccontrollers","location":"westus3","systemData":{"createdBy":"smylsamy@microsoft.com","createdByType":"User","createdAt":"2023-10-13T09:42:48.5149959Z","lastModifiedBy":"cbe7d642-9e0a-475d-b2bf-2cb0a9825e13","lastModifiedByType":"Application","lastModifiedAt":"2023-10-13T11:01:16.2302082Z"},"properties":{"provisioningState":"Succeeded","ipv4AddressSpace":"10.0.0.0/19","ipv6AddressSpace":"FC00::/59","workloadManagementNetwork":true,"isWorkloadManagementNetworkEnabled":"True","infrastructureExpressRouteConnections":[{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"},{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"}],"workloadExpressRouteConnections":[{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"},{"expressRouteCircuitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit"}],"infrastructureServices":{"ipv4AddressSpaces":["10.0.0.0/21"],"ipv6AddressSpaces":[]},"workloadServices":{"ipv4AddressSpaces":["10.0.28.0/22"],"ipv6AddressSpaces":[]},"managedResourceGroupConfiguration":{"location":"westus3","name":"nfa-tool-ts-4-1-cli-nfc-2-HostedResources-4D01779B"},"tenantInternetGatewayIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfa-tool-ts-4-1-cli-nfc-2-workload"],"nfcSku":"Basic"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200c95f-0000-4d00-0000-6529237c0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-4-1-cli-nfc","name":"nfa-tool-ts-4-1-cli-nfc","type":"microsoft.managednetworkfabric/networkfabriccontrollers","location":"westus3","systemData":{"createdBy":"smylsamy@microsoft.com","createdByType":"User","createdAt":"2023-10-13T07:48:31.0795968Z","lastModifiedBy":"smylsamy@microsoft.com","lastModifiedByType":"User","l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rakesh_tsautomation/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfcfabts1","name":"nfcfabts1","type":"microsoft.managednetwo[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nfa-cli-testnfc-101223-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-4-1-cli-nfc?api-version=2023-06-15
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Managed[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/7fb4ecfd-1b9e-4fb7-9296-b1ff164130a4*2D25EAA53B4EB46944CF3CBFB7776AAED64C267087EBD43794891D674C053F45?api-version=2023-06-15&t=638327917029664163&c=MIIHHjCCBgagAwIBAgITOgHdCaLrivgty2pL3wAEAd0JojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/7fb4ecfd-1b9e-4fb7-9296-b1ff164130a4*2D25EAA53B4EB46944CF3CBFB7776AAED64C267087EBD43794891D674C053F45?api-version=2023-06-15&t=638327917029820634&c=MIIHHjCCBgagAwIBAgITOgHdCaLrivgty2pL3wAEAd0JojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
