interactions:
- request:
    body: '{"sku": {"name": "S0"}, "kind": "AIServices", "location": "westus2", "properties":
      {"allowProjectManagement": true}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002?api-version=2026-05-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002","name":"test-account-000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"16005f56-0000-0800-0000-6aa0960a0000\"","location":"westus2","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://westus2-tip.api.cognitive.microsoft.com/","internalId":"ba1010d10ae7449399b7231ad523e25b","dateCreated":"2026-09-08T23:11:05.474928Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/7ec755ff-5fe2-4076-b650-8e266f4c33bd?api-version=2017-04-18&t=639245058664558667&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5[...]
[...]
- request:
    body: '{"properties": {"displayName": "first display name", "rules": [{"amount":
      200.0, "counterKey": [{"type": "agent"}], "match": {"foundry.caller.agent.id":
      ["agent-123"]}, "name": "per-agent-monthly", "period": "month", "recurring":
      true, "thresholds": [{"action": "alert", "type": "percentage", "value": 80.0},
      {"action": "audit", "type": "absolute", "value": 200.0}], "unit": "usd"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1?api-version=2026-07-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1","type":"Microsoft.CognitiveServices/accounts/costControls","name":"test-1","properties":{"displayName":"first
        display name","rules":[{"name":"per-agent-monthly","counterKey":[{"type":"agent"}],"unit":"usd","amount":200.0,"period":"month","recurring":true,"match":{"foundry.caller.agent.id":["agent-123"]},"thresholds":[{"type":"percentage","value":80.0,"action":"alert"},{"type":"absolute","value":200.0,"action":"audit"}]}]},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-08T23:11:40.1018008Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-08T23:11:40.1018008Z"},"etag":"\"3a0bb123-2745-422e-9c02-50e31d33a732\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3a0bb123-2745-422e-9c02-50e31d33a732"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"displayName": "second display name", "rules": [{"amount":
      500.0, "counterKey": [{"type": "project"}], "match": {"foundry.project.id":
      ["project-456"]}, "name": "per-project-monthly", "period": "month", "recurring":
      true, "thresholds": [{"action": "alert", "type": "percentage", "value": 90.0},
      {"action": "audit", "type": "absolute", "value": 500.0}], "unit": "usd"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveSe[...]
- request:
    body: '{"properties": {"costControlConnections": {"appInsightsConnectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/placeholder-resource-group/providers/Microsoft.CognitiveServices/accounts/placeholder-account/connections/placeholder-connection",
      "eventGridConnectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/placeholder-resource-group/providers/Microsoft.CognitiveServices/accounts/placeholder-account/connections/placeholder-event-grid-connection"},
      "costControlIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls/test-1"]}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002?api-version=2026-07-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002","name":"test-account-000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"1600ce5a-0000-0800-0000-6aa0962e0000\"","location":"westus2","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://westus2-tip.api.cognitive.microsoft.com/","provisioningState":"Accepted","internalId":"ba1010d10ae7449399b7231ad523e25b","dateCreated":"2026-09-08T23:11:05.474928Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/aceca55c-44a9-4574-8bca-46c9e7d55144?api-version=2017-04-18&t=639245059025152435&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls?api-version=2026-07-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/48692d49-35c9-4f24-bd16-d000be93fc21?api-version=2017-04-18&t=639245059394663100&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-cost-control-test-rg-000001/providers/Microsoft.CognitiveServices/accounts/test-account-000002/costControls?api-version=2026-07-15-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
