interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"capabilities": [{"description":
      "quality", "name": "Quality"}], "hierarchies": [{"description": "Country", "name":
      "country"}, {"description": "Region", "name": "region"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mchichili-rg/providers/Microsoft.Edge/contexts/Mehoopany?api-version=2025-08-01
  response:
    body:
      string: '{"error":{"code":"ContextAlreadyExists","message":"Validation failed:
        Context /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context
        already exists."}}'
    headers:
      api-supported-versions:
      - 2025-01-01-preview, 2025-06-01, 2025-08-01, 2026-03-01, 2026-05-01-preview,
        2026-06-01
      content-type:
      - application/json
      mise-correlation-id:
      - 83063ced-508f-4313-97e1-e3ffbcd4980a
      servertime:
      - 757 ms
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
version: 1
