interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context?api-version=2025-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","systemData":{"lastModifiedBy":"e6ed84e9-6459-4861-bb95-5435f44861ce","lastModifiedByType":"Application","lastModifiedAt":"2025-05-30T09:34:47.6369693Z"},"properties":{"provisioningState":"Succeeded","capabilities":[{"name":"Test_0_fece3719f1b5459d79c5662f0aae3160","description":"Testing"},{"name":"Test_1_678133d395693d25b96bdd397ae55491","description":"Testing"},{"name":"Test_1_cd982dbfc40b3cf15cf9748245339a0e","description":"Testing"},{"name":"Test_0_113b01f3029043fce4682cbbf108d521","description":"Testing"},{"name":"Test_0_fe220e29dda1d1e18d89b8857c9b2f9f","description":"Testing"},{"name":"Test_0_c1523e0331837a5728f9da1626d59d4f","description":"Testing"},{"name":"Test_0_112aa9165416d2d00e65e1741711097d","description":"Testing"},{"name":"Test_1_941a512393846078c8a5e76[...]
- request:
    body: '!!! The request body has been omitted from the recording because its size
      344088 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context?api-version=2025-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts?api-version=2025-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","systemData":{"lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-30T09:37:07.3526118Z"},"properties":{"provisioningState":"Succeeded","capabilities":[{"description":"Testing","name":"Test_0_fece3719f1b5459d79c5662f0aae3160"},{"descr[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"capabilities": ["cliwdx6u-Shampoo"],
      "description": "This is Holtmelt Solution"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-CliBox/providers/Microsoft.Edge/solutionTemplates/cliwdx6u-solution234567?api-version=2025-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-CliBox/providers/Microsoft.Edge/solutionTemplates/cliwdx6u-solution234567","name":"cliwdx6u-solution234567","type":"microsoft.edge/solutiontemplates","location":"eastus2euap","tags":{},"systemData":{"createdBy":"audapure@microsoft.com","createdByType":"User","createdAt":"2025-05-30T07:14:54.4009279Z","lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-30T09:37:19.3758733Z"},"properties":{"description":"This
        is Holtmelt Solution","capabilities":["cliwdx6u-Shampoo"],"latestVersion":"9.0.0","provisioningState":"Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/2ac5da27-72e2-452e-85ca-a7cc0ab0393d*F55D74AD5BEBE7FC76D533C2A74E276FD45D0F42A57ECC540C54F6D46344DF22?api-version=2023-07-01-preview&t=638841946425637120&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDE5MTMyOTU0WhcNMjUxMDE2MTMyOTU0WjBAM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/2ac5da27-72e2-452e-85ca-a7cc0ab0393d*F55D74AD5BEBE7FC76D533C2A74E276FD45D0F42A57ECC540C54F6D46344DF22?api-version=2023-07-01-preview&t=638841946425637120&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/2ac5da27-72e2-452e-85ca-a7cc0ab0393d*F55D74AD5BEBE7FC76D533C2A74E276FD45D0F42A57ECC540C54F6D46344DF22?api-version=2023-07-01-preview&t=638841946425637120&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
