interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001?api-version=2025-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001","name":"cli000001","type":"Microsoft.Edge/schemas","location":"eastus2euap","systemData":{"createdBy":"audapure@microsoft.com","createdByType":"User","createdAt":"2025-06-23T07:52:53.1570188Z","lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-23T07:52:53.1570188Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"010085b3-0000-3300-0000-685907d50000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"version": "1.0.0", "schemaVersion": {"properties": {"value": "rules:\n  configs:\n    TemperatureThreshold:\n      type:
      float\n      required: true\n      editableAt:\n        - line\n      editableBy:\n        -
      OT\n      defaultValue: 80\n    PressureThreshold:\n      type: float\n      required:
      true\n      editableAt:\n        - line\n      editableBy:\n        - OT\n      defaultValue:
      8\n    ViscosityThreshold:\n      type: float\n      required: true\n      editableAt:\n        -
      line\n      editableBy:\n        - IT\n    ErrorThreshold:\n      type: float\n      required:
      true\n      editableAt:\n        - line\n      editableBy:\n        - IT\n    EnableDebug:\n      type:
      boolean\n      required: false\n      editableAt:\n        - factory\n      editableBy:\n        -
      IT\n"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001/createVersion?api-version=2025-08-01
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2024-06-01-preview, 2024-08-01-preview, 2025-01-01-preview, 2025-06-01, 2025-08-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/be608579-957a-48df-b416-ec06f1729f53*76B5B099053E0B36DAEDA12C377EEE3E43F43935FA2E4CBE58DC8E9778BFF71B?api-version=2023-07-01-preview&t=638862619759538731&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIxMTk0NzU4WhcNMjUxMDE4MTk0NzU4WjBAM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/be608579-957a-48df-b416-ec06f1729f53*76B5B099053E0B36DAEDA12C377EEE3E43F43935FA2E4CBE58DC8E9778BFF71B?api-version=2023-07-01-preview&t=638862619759538731&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/be608579-957a-48df-b416-ec06f1729f53*76B5B099053E0B36DAEDA12C377EEE3E43F43935FA2E4CBE58DC8E9778BFF71B?api-version=2023-07-01-preview&t=638862619759695028&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas?api-version=2025-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/CloudTestSiteSchema","name":"CloudTestSiteSchema","type":"Microsoft.Edge/schemas","location":"eastus","tags":{},"systemData":{"createdBy":"cba491bc-48c0-44a6-a6c7-23362a7f54a9","createdByType":"Application","createdAt":"2025-02-04T08:06:02.1820977Z","lastModifiedBy":"cba491bc-48c0-44a6-a6c7-23362a7f54a9","lastModifiedByType":"Application","lastModifiedAt":"2025-02-04T08:06:02.1820977Z"},"properties":{"currentVersion":"1.0.0","provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/UI-Test-MK67Schema","name":"UI-Test-MK67Schema","type":"Microsoft.Edge/schemas","location":"eastus","tags":{},"systemData":{"createdBy":"cba491bc-48c0-44a6-a6c7-23362a7f54a9","createdByType":"Application","createdAt":"2025-02-04T08:06:02.3587504Z","lastModifiedBy":"cba491bc-48c0-44a6-a6c7-23362a7f54a9","last[...]
- request:
    body: '{"version": "1.0.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001/removeVersion?api-version=2025-08-01
  response:
    body:
      string: '{"status":"Deletion Succeeded"}'
    headers:
      api-supported-versions:
      - 2024-06-01-preview, 2024-08-01-preview, 2025-01-01-preview, 2025-06-01, 2025-08-01
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a544437b-735d-415c-b338-c25c4f779ff1
      servertime:
      - 643 ms
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
