interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","systemData":{"lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-23T07:51:42.0795285Z"},"properties":{"provisioningState":"Succeeded","capabilities":[{"description":"Testing","name":"Test_0_b94707007740fe19fe82dd5d3661d923"},{"description":"Testing","name":"Test_1_edc92face116aedc2461ac520a5b1122"},{"description":"Testing","name":"Test_1_4cd927bed4ec7fe37a88d32d4423ba49"},{"description":"Testing","name":"Test_1_c4643f5858d2e161037f0ab116e9c4c1"},{"description":"Testing","name":"Test_0_a6479dfcc91146532f06fe6f99785038"},{"description":"Testing","name":"Test_1_f43818b944bd0a72df307f73a2f7e64f"},{"description":"Testing","name":"Test_0_92b9a49f45efd5e8b74d3863c[...]
- request:
    body: '!!! The request body has been omitted from the recording because its size
      710735 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","systemDat[...]
