interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context?api-version=2025-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","systemData":{"lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-28T08:42:09.2567537Z"},"properties":{"provisioningState":"Succeeded","capabilities":[{"description":"Testing","name":"Test_1_a0b7988df15a598fa05b61cb44a7fa73"},{"description":"Testing","name":"Test_1_a4f1e0633938bf3e08cc24409ed7e1d5"},{"description":"Testing","name":"Test_1_b695c050399112f3dc98851754128156"},{"description":"Testing","name":"Test_1_6ecd82b1873d13128beb10e9c3218b28"},{"description":"Testing","name":"Test_0_f271249d4d18be9ef2cad85da3051887"},{"description":"Testing","name":"Test_0_4f48151e667c06bc8cefe69e5f3895e4"},{"description":"___sentinel___","name":"___sentinel___"},{"descri[...]
- request:
    body: '!!! The request body has been omitted from the recording because its size
      201904 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context?api-version=2025-01-01-preview
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.Edge'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts?api-version=2025-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Mehoopany/providers/Microsoft.Edge/contexts/Mehoopany-Context","name":"Mehoopany-Context","type":"microsoft.edge/contexts","location":"eastus2euap","systemData":{"lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-28T08:43:32.2908557Z"},"properties":{"provisioningState":"Succeeded","capabilities":[{"description":"Testing","name":"Test_1_a0b7988df15a598fa05b61cb44a7fa73"},{"descr[...]
