interactions:
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/networkSecurityGroups/clihcp-nsg000005?api-version=2022-01-01
  response:
    body:
      string: '{"name":"clihcp-nsg000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/networkSecurityGroups/clihcp-nsg000005","etag":"W/\"27b34223-4aee-4e1b-929e-c92d901d8335\"","type":"Microsoft.Network/networkSecurityGroups","location":"uksouth","properties":{"provisioningState":"Updating","resourceGuid":"562479f1-8477-4350-a72c-9a73737f0b99","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/networkSecurityGroups/clihcp-nsg000005/defaultSecurityRules/AllowVnetInBound","etag":"W/\"27b34223-4aee-4e1b-929e-c92d901d8335\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow
        inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/networkSecurityGroups/clihcp-nsg000005/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"27b34223-4aee-4e1b-929e-c92d901d8335\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow
        inbound traffic from azure load balancer","p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/uksouth/operations/1df7c874-3b81-4b9f-9a22-1e100209cfdb?api-version=2022-01-01&t=639245801159046565&c=REDACTED&s=REDACTED&h=REDACTED
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
      x-ms-throttle-levels:
      - operationRatePct=0.1, operationConcurrencyPct=0.5, subscriptionReadRatePct=5.3,
        etc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "uksouth", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004?api-version=2025-07-01
  response:
    body:
      string: '{"name":"clihcp-vnet000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004","etag":"W/\"97bfd055-d2c9-4fb9-ad01-60f9f1d9cc28\"","type":"Microsoft.Network/virtualNetworks","location":"uksouth","properties":{"provisioningState":"Updating","resourceGuid":"17fcfdde-35d1-4143-aa4e-14d54024670a","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/uksouth/operations/bb6aa875-8e6e-47a1-a207-4c33842b0030?api-version=2025-07-01&t=639245801194102454&c=REDACTED&s=REDACTED&h=REDACTED
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttle-levels:
      - operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.5,
        etc
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "cluster-subnet", "properties": {"addressPrefix": "10.0.0.0/24",
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/networkSecurityGroups/clihcp-nsg000005"},
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004/subnets/cluster-subnet?api-version=2024-07-01
  response:
    body:
      string: '{"name":"cluster-subnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004/subnets/cluster-subnet","etag":"W/\"9e5a8980-f7f0-4c81-a76d-d3f1b2ed2f8a\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/networkSecurityGroups/clihcp-nsg000005"},"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/uksouth/operations/aa47b79d-29df-4a2f-a524-35200a64f35c?api-version=2024-07-01&t=639245801329497290&c=REDACTED&s=REDACTED&h=REDACTED
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttle-levels:
      - operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.5,
        etc
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "integration-subnet", "properties": {"addressPrefix": "10.0.1.0/24",
      "delegations": [{"name": "0", "properties": {"serviceName": "Microsoft.RedHatOpenShift/hcpOpenShiftClusters"}}],
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004/subnets/integration-subnet?api-version=2024-07-01
  response:
    body:
      string: '{"name":"integration-subnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004/subnets/integration-subnet","etag":"W/\"82c129da-f5ce-4983-b58a-c157c41ac173\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.1.0/24","delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.Network/virtualNetworks/clihcp-vnet000004/subnets/integration-subnet/delegations/0","etag":"W/\"82c129da-f5ce-4983-b58a-c157c41ac173\"","properties":{"provisioningState":"Succeeded","serviceName":"Microsoft.RedHatOpenShift/hcpOpenShiftClusters","actions":["Microsoft.Network/virtualNetworks/subnets/join/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/uksouth/operations/651043cd-4d62-44be-9d73-2038ac914ca7?api-version=2024-07-01&t=639245801363298872&c=REDACTED&s=REDACTED&h=REDACTED
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttle-levels:
      - operationRatePct=0.2, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.6,
        etc
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.KeyVault/vaults/clihcpkv000007?api-version=2026-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clihcpkv000007''
        under resource group ''cli_test_aro_hcp000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "uksouth", "properties": {"tenantId": "00000000-0000-0000-0000-000000000001",
      "sku": {"name": "standard", "family": "A"}, "accessPolicies": [], "enableRbacAuthorization":
      true, "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "publicNetworkAccess":
      "Enabled", "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.KeyVault/vaults/clihcpkv000007?api-version=2026-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.KeyVault/vaults/clihcpkv000007","name":"clihcpkv000007","type":"Microsoft.KeyVault/vaults","location":"uksouth","tags":{},"systemData":{"createdBy":"recording-user@example.com","createdByType":"User","createdAt":"2026-09-09T19:49:00.351Z","lastModifiedBy":"recording-user@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-09T19:49:00.351Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000001","accessPolicies":[],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":true,"vaultUri":"https://clihcpkv000007.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"id": "00000000-0000-0000-0000-000000000002"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"SA2PEPF00032430"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"principalType": "User", "principalId": "00000000-0000-0000-0000-000000000002",
      "roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/14b46e9e-c2b7-41b4-b07b-48a6ebf60603"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.KeyVault/vaults/clihcpkv000007/providers/Microsoft.Authorization/roleAssignments/00000000-0000-0000-0000-000000000004?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/14b46e9e-c2b7-41b4-b07b-48a6ebf60603","principalId":"00000000-0000-0000-0000-000000000002","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.KeyVault/vaults/clihcpkv000007","condition":null,"conditionVersion":null,"createdOn":"2026-09-09T19:49:35.0980142Z","updatedOn":"2026-09-09T19:49:35.3540361Z","createdBy":null,"updatedBy":"recording-user@example.com","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.KeyVault/vaults/clihcpkv000007/providers/Microsoft.Authorization/roleAssignments/00000000-0000-0000-0000-000000000004","type":"Microsoft.Authorization/roleAssignments","name":"6fd7a65d-808a-4bf2-ae07-108b7ae3ba6f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clihcpkv000007.vault.azure.net/keys/etcd-data-kms-encryption-key/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer, PoP, or MTLS_POP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000001",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clihcpkv000007.vault.azure.net/keys/etcd-data-kms-encryption-key/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clihcpkv000007.vault.azure.net/keys/etcd-data-kms-encryption-key/b028a075ce164637a425297d8d7921e0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1H29KWAqq7xDg6swgagzm_t6ItpEqdbnTTsJvnpWbuFlBarc6n_nXai4NxnH0Z-VCOwQC-bEETsGWHQ063R_kJcxd8wwsYsZBl2qIDX3O3qBQDtfwc8VoTm6J0H5g9Wz5soll1I80VqlroaQtziyXcR-xkxQ1FYheSilt2cc0LFaU1C1Vcuh1TWLhWH17UOEe6a502tyyco-u5PF3e4ZIi9S2sAuPiY0nlKGTKaUzCiQtNMgAtEdOh5VCQv9kA632teId6ZjwxgXjrvWaeOera51AZVWMY5XX-bOXkBbveXGR6Fzg-svz-32Dp7l7Du_LKk_ZmcK0zCtJ40rCWmL8Q","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1788983438,"updated":1788983438,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-service000008?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-service000008","name":"clihcp-service000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-service000008
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-capi000009?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-capi000009","name":"clihcp-capi000009","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-capi000009
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-control000010?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-control000010","name":"clihcp-control000010","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-control000010
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-ccm000011?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-ccm000011","name":"clihcp-ccm000011","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-ccm000011
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-ingress000012?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-ingress000012","name":"clihcp-ingress000012","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-ingress000012
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-disk000013?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-disk000013","name":"clihcp-disk000013","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-disk000013
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-file000014?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-file000014","name":"clihcp-file000014","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-file000014
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-image000015?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-image000015","name":"clihcp-image000015","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-image000015
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-network000016?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-network000016","name":"clihcp-network000016","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-network000016
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "uksouth"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-kms000017?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"uksouth","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-kms000017","name":"clihcp-kms000017","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"00000000-0000-0000-0000-000000000001","principalId":"00000000-0000-0000-0000-000000000002","clientId":"00000000-0000-0000-0000-000000000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_hcp000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clihcp-kms000017
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
