interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SqlTestLedgerRG/providers/Microsoft.ConfidentialLedger/ledgers/sql-test-ledger-1?api-version=2024-09-19-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SqlTestLedgerRG/providers/Microsoft.ConfidentialLedger/Ledgers/sql-test-ledger-1","name":"sql-test-ledger-1","type":"Microsoft.ConfidentialLedger/Ledgers","location":"eastus","tags":{"scope":"acl"},"properties":{"ledgerName":"sql-test-ledger-1","ledgerUri":"https://sql-test-ledger-1.confidential-ledger.azure.com","identityServiceUri":"https://identity.confidential-ledger.core.azure.com/ledgerIdentity/sql-test-ledger-1","runningState":"Active","ledgerType":"Public","aadBasedSecurityPrincipals":[{"principalId":"e76336f1-cae2-492f-84bc-bfcbb6503c9b","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","ledgerRoleName":"Contributor"},{"principalId":"61fe3baa-994a-463a-9851-e199115e4b19","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","ledgerRoleName":"Contributor"},{"principalId":"56454aeb-8719-4b58-9965-bb7b454032d2","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","ledgerRoleName":"Administrator"}],"ledgerInternalNamespace":"00000000-0000-0000-0000-4b1780eeff08","ledgerSku":"Standard","enclavePlatform":"IntelSgx","applicationType":"ConfidentialLedger","nodeCount":3,"hostLevel":"Info","maxBodySizeInMb":1,"subjectName":"CN=CCF
        Node","workerThreads":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"030105ea-0000-0100-0000-678938290000"'
      mise-correlation-id:
      - 7e0024c7-49cf-42a0-80e3-e588eed2890e
      x-ms-image-tag:
      - 1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4
      x-ms-machinename:
      - controlplane-6d79b784b6-bhqhx
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
