interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Mar 2020 03:59:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7D527E57CDE84"'
      last-modified:
      - Tue, 31 Mar 2020 03:59:22 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"enabled":false}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"cors": {"corsRules": []}, "deleteRetentionPolicy": {"enabled":
      false}, "changeFeed": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"changeFeed":{"enabled":true},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"enabled":false}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"cors": {"corsRules": []}, "deleteRetentionPolicy": {"enabled":
      false}, "isVersioningEnabled": true, "changeFeed": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"changeFeed":{"enabled":true},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"enabled":false},"isVersioningEnabled":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''{"properties": {"sourceAccount": "clitest000002", "destinationAccount":
      "clitest000003", "rules": [{"sourceContainer": "cont000005", "destinationContainer":
      "cont000006", "filters": {"minCreationTime": "2020-02-19T16:05:00Z"}}]}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/default?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/b583b03c-81ee-4822-9de5-36e197caa027","name":"b583b03c-81ee-4822-9de5-36e197caa027","type":"Microsoft.Storage/storageAccounts/objectReplicationPolicies","properties":{"policyId":"b583b03c-81ee-4822-9de5-36e197caa027","sourceAccount":"clitest000002","destinationAccount":"clitest000003","rules":[{"ruleId":"9241fc10-3abb-4fbd-8502-7b4f6d42ce28","sourceContainer":"cont000005","destinationContainer":"cont000006","filters":{"minCreationTime":"2020-02-19T16:05:00Z"}}]}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/b583b03c-81ee-4822-9de5-36e197caa027?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/b583b03c-81ee-4822-9de5-36e197caa027","name":"b583b03c-81ee-4822-9de5-36e197caa027","type":"Microsoft.Storage/storageAccounts/objectReplicationPolicies","properties":{"policyId":"b583b03c-81ee-4822-9de5-36e197caa027","sourceAccount":"clitest000002","destinationAccount":"clitest000003","rules":[{"ruleId":"9241fc10-3abb-4fbd-8502-7b4f6d42ce28","sourceContainer":"cont000005","destinationContainer":"cont000006","filters":{"minCreationTime":"2020-02-19T16:05:00Z"}}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''{"properties": {"sourceAccount": "clitest000002", "destinationAccount":
      "clitest000003", "rules": [{"ruleId": "9241fc10-3abb-4fbd-8502-7b4f6d42ce28",
      "sourceContainer": "cont000005", "destinationContainer": "cont000006", "filters":
      {"minCreationTime": "2020-02-19T16:05:00Z"}}, {"ruleId": "7afca49c-63d2-47ef-8107-292f00482561",
      "sourceContainer": "cont000007", "destinationContainer": "cont000008", "filters":
      {"prefixMatch": ["blobA", "blobB"], "minCreationTime": "2020-02-20T16:05:00Z"}}]}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/b583b03c-81ee-4822-9de5-36e197caa027?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscript[...]
[...]
- request:
    body: 'b''b\''{"properties": {"sourceAccount": "clitest000002", "destinationAccount":
      "clitest000003", "rules": [{"ruleId": "9241fc10-3abb-4fbd-8502-7b4f6d42ce28",
      "sourceContainer": "cont000005", "destinationContainer": "cont000006", "filters":
      {"minCreationTime": "2020-02-19T16:05:00Z"}}]}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies/b583b03c-81ee-4822-9de5-36e197caa027?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies/b583b03c-81ee-4822-9de5-36e197caa027","name":"b583b03c-81ee-4822-9de5-36e197caa027","type":"Microsoft.Storage/storageAccounts/objectReplicationPolicies","properties":{"policyId":"b583b03c-81ee-4822-9de5-36e197caa027","enabledTime":"2020-03-31T04:00:02.1295470Z","sourceAccount":"clitest000002","destinationAccount":"clitest000003","rules":[{"ruleId":"9241fc10-3abb-4fbd-8502-7b4f6d42ce28","sourceContainer":"cont000005","destinationContainer":"cont000006","filters":{"minCreationTime":"2020-02-19T16:05:00Z"}}]}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies?api-version=2019-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies?api-version=2019-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
