interactions:
- request:
    body: '{"name": "test_ticket_2020_01_09", "type": "Microsoft.Support/supportTickets"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/checkNameAvailability?api-version=2019-05-01-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "test ticket from python cli test", "problemClassificationId":
      "/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc/problemClassifications/44114011-6a66-e902-c00f-e419b6b4509f",
      "severity": "minimal", "require24X7Response": false, "contactDetails": {"firstName":
      "Foo", "lastName": "Bar", "preferredContactMethod": "email", "primaryEmailAddress":
      "azengcase@microsoft.com", "preferredTimeZone": "Pacific Standard Time", "country":
      "USA", "preferredSupportLanguage": "en-US"}, "title": "test ticket from python
      cli e2e test. do not assign and do not close.", "problemStartTime": "2020-01-09T22:51:49.000Z",
      "serviceId": "/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09?api-version=2019-05-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/241186a0-1f1f-42f3-adf9-61b700cd1a16?api-version=2019-05-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationResults/241186a0-1f1f-42f3-adf9-61b700cd1a16?api-version=2019-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/241186a0-1f1f-42f3-adf9-61b700cd1a16?api-version=2019-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/241186a0-1f1f-42f3-adf9-61b700cd1a16","status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09?api-version=2019-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09","name":"test_ticket_2020_01_09","type":"Microsoft.Support/supportTickets","properties":{"description":"test
        ticket from python cli test","problemClassificationId":"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc/problemClassifications/44114011-6a66-e902-c00f-e419b6b4509f","problemClassificationDisplayName":"Cost
        Management / Access control issues","severity":"Minimal","require24X7Response":false,"enrollmentId":"","productionOutage":false,"contactDetails":{"firstName":"Foo","lastName":"Bar","preferredContactMethod":"Email","primaryEmailAddress":"azengcase@microsoft.com","preferredTimeZone":"Pacific
        Standard Time","country":"USA","preferredSupportLanguage":"en-US"},"serviceLevelAgreement":{"startTime":"2020-01-10T14:00:00Z","expirationTime":"2020-01-10T18:00:00Z","slaMinutes":240},"supportEngineer":{},"supportPlanType":"Premier","supportTicketId":"120011021000389","title":"test
        ticket from python cli e2e test. do not assign and do not close.","serviceId":"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc","serviceDisplayName":"Billing","status":"Open","problemStartTime":"2020-01-09T22:51:49Z","createdDate":"2020-01-10T06:51:56Z","modifiedDate":"2020-01-10T06:51:57Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"sender": "nichheda@microsoft.com", "subject": "test subject
      for communication posted from azure python cli", "body": "test body for communication
      posted from azure python cli"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09/communications/2e2dfade-8067-4ba8-937d-ecb9935288e2?api-version=2019-05-01-preview
  response:
    body:
      string: '{"Error":{"Code":"InvalidData","Message":"Communication resource name
        is invalid. Please provide a valid name.","Target":null,"InnerError":null,"Details":[]}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"properties": {"sender": "nichheda@microsoft.com", "subject": "test subject
      for communication posted from azure python cli", "body": "test body for communication
      posted from azure python cli"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09/communications/test_ticket_communication_2020_01_09?api-version=2019-05-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/f6cc338b-a851-494a-8b4b-98bc2ea8d3ef?api-version=2019-05-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationResults/f6cc338b-a851-494a-8b4b-98bc2ea8d3ef?api-version=2019-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09/communications/test_ticket_communication_2020_01_09?api-version=2019-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09/communications/test_ticket_communication_2020_01_09","name":"test_ticket_communication_2020_01_09","type":"Microsoft.Support/communications","properties":{"communicationType":"Web","communicationDirection":"Inbound","sender":"nichheda@microsoft.com","subject":"test
        subject for communication posted from azure python cli","body":"test body
        for communication posted from azure python cli","createdDate":"2020-01-10T07:02:09Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09/communications?api-version=2019-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09/communications/test_ticket_communication_2020_01_09","name":"test_ticket_communication_2020_01_09","type":"Microsoft.Support/communications","properties":{"communicationType":"Web","communicationDirection":"Inbound","sender":"nichheda@microsoft.com","subject":"test
        subject for communication posted from azure python cli","body":"test body
        for communication posted from azure python cli","createdDate":"2020-01-10T07:02:09Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets?$top=100&$filter=status%20eq%20%27Open%27%20and%20CreatedDate%20ge%202020-01-02%20&api-version=2019-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/suppo[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets?%24top=100&%24filter=status+eq+%27Open%27+and+CreatedDate+ge+2020-01-02+&api-version=2019-05-01-preview&%24skipToken=%255B%257B%2522compositeToken%2522%253A%257B%2522token%2522%253Anull%252C%2522range%2522%253A%257B%2522min%2522%253A%252205C1E5673399CA%[...]
- request:
    body: '{"severity": "moderate", "contactDetails": {"preferredContactMethod": "phone",
      "phoneNumber": "123-456-7890"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09?api-version=2019-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_2020_01_09","name":"test_ticket_2020_01_09","type":"M[...]
[...]
