interactions:
- request:
    body: '{"name": "test_ticket_from_cli_000001", "type": "Microsoft.Support/supportTickets"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/checkNameAvailability?api-version=2020-04-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "test ticket from python cli test. Do not
      assign and close after a day.", "problemClassificationId": "/providers/Microsoft.Support/services/cddd3eb5-1830-b494-44fd-782f691479dc/problemClassifications/ef8b3865-0c5a-247b-dcaa-d70fd7611a3c",
      "severity": "minimal", "require24X7Response": false, "contactDetails": {"firstName":
      "Foo", "lastName": "Bar", "preferredContactMethod": "email", "primaryEmailAddress":
      "azengcase@microsoft.com", "preferredTimeZone": "Pacific Standard Time", "country":
      "USA", "preferredSupportLanguage": "en-US"}, "title": "test ticket from python
      cli test. Do not assign and close after a day.", "problemStartTime": "2021-08-03T15:18:13.000Z",
      "serviceId": "/providers/Microsoft.Support/services/cddd3eb5-1830-b494-44fd-782f691479dc",
      "technicalTicketDetails": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/test_ticket_from_cli_000001?api-version=2020-04-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/73427ccd-6ccf-437f-aa95-c9636c202988?api-version=2020-04-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationResults/73427ccd-6ccf-437f-aa95-c9636c202988?api-version=2020-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/73427ccd-6ccf-437f-aa95-c9636c202988?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/operationsStatus/73427ccd-6ccf-437f-aa95-c9636c202988","status":"Failed","error":{"code":"InvalidParameterValue","message":"Resource
        Id /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
        is not valid. Provide a valid ResourceId for technical support ticket","target":"Resource
        Id /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
        is not valid. Provide a valid ResourceId for technical support ticket","details":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "12345", "type": "Microsoft.Support/supportTickets"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/checkNameAvailability?api-version=2020-04-01
  response:
    body:
      string: '{"message":"Name 12345 is invalid. The name cannot include: ''<'',
        ''>'', ''%'', ''&'', '':'', '''', ''?'', ''/'' or any control characters.
        It cannot be all digits and cannot start with ''tmp-''. The max length is
        260 characters.","nameAvailable":false,"reason":"Invalid"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
