interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/58cf91d7-27a54e37-7ee57473-c9c9-4350-b0e1-f7aa2479108d/chatTranscripts?api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/58cf91d7-27a54e37-7ee57473-c9c9-4350-b0e1-f7aa2479108d/chatTranscripts/e3bc592b-ba39-49d3-8853-16e33023b22b","name":"e3bc592b-ba39-49d3-8853-16e33023b22b","type":"Microsoft.Support/chatTranscripts","properties":{"messages":[{"body":"hi","communicationDirection":"Inbound","contentType":"text","sender":"","createdDate":"2024-01-11T21:44:35Z"},{"body":"hi","communicationDirection":"Outbound","contentType":"text","sender":"Aditi
        Takle","createdDate":"2024-01-11T21:45:49Z"}],"startTime":"2024-01-12T00:50:22Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/58cf91d7-27a54e37-7ee57473-c9c9-4350-b0e1-f7aa2479108d/chatTranscripts/e3bc592b-ba39-49d3-8853-16e33023b22b?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/supportTickets/58cf91d7-27a54e37-7ee57473-c9c9-4350-b0e1-f7aa2479108d/chatTranscripts/e3bc592b-ba39-49d3-8853-16e33023b22b","name":"e3bc592b-ba39-49d3-8853-16e33023b22b","type":"Microsoft.Support/chatTranscripts","properties":{"messages":[{"body":"hi","communicationDirection":"Inbound","contentType":"text","sender":"","createdDate":"2024-01-11T21:44:35Z"},{"body":"hi","communicationDirection":"Outbound","contentType":"text","sender":"Aditi
        Takle","createdDate":"2024-01-11T21:45:49Z"}],"startTime":"2024-01-12T00:50:22Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
