# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import Any, Callable, Dict, Generic, Optional, TypeVar
import warnings

from azure.core.exceptions import map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse

from .. import models

T = TypeVar('T')
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class ConsumerInvitationOperations(object):
    """ConsumerInvitationOperations operations.

    You should not instantiate directly this class, but create a Client instance that will create it for you and attach it as attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~data_share_management_client.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def reject_invitation(
        self,
        location,  # type: str
        invitation_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.ConsumerInvitation"
        """Reject an invitation.

        Rejects the invitation identified by invitationId.

        :param location: Location of the invitation.
        :type location: str
        :param invitation_id: Unique id of the invitation.
        :type invitation_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ConsumerInvitation or the result of cls(response)
        :rtype: ~data_share_management_client.models.ConsumerInvitation
        :raises: ~data_share_management_client.models.DataShareErrorException:
        """
        cls = kwargs.pop('cls', None )  # type: ClsType["models.ConsumerInvitation"]
        error_map = kwargs.pop('error_map', {})

        invitation = models.ConsumerInvitation(invitation_id=invitation_id)
        api_version = "2019-11-01"

        # Construct URL
        url = self.reject_invitation.metadata['url']
        path_format_arguments = {
            'location': self._serialize.url("location", location, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'application/json'

        # Construct body
        body_content = self._serialize.body(invitation, 'ConsumerInvitation')

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters, body_content)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.DataShareErrorException.from_response(response, self._deserialize)

        deserialized = self._deserialize('ConsumerInvitation', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    reject_invitation.metadata = {'url': '/providers/Microsoft.DataShare/locations/{location}/RejectInvitation'}

    def get(
        self,
        location,  # type: str
        invitation_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.ConsumerInvitation"
        """Get an invitation.

        Gets the invitation identified by invitationId.

        :param location: Location of the invitation.
        :type location: str
        :param invitation_id: An invitation id.
        :type invitation_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ConsumerInvitation or the result of cls(response)
        :rtype: ~data_share_management_client.models.ConsumerInvitation
        :raises: ~data_share_management_client.models.DataShareErrorException:
        """
        cls = kwargs.pop('cls', None )  # type: ClsType["models.ConsumerInvitation"]
        error_map = kwargs.pop('error_map', {})
        api_version = "2019-11-01"

        # Construct URL
        url = self.get.metadata['url']
        path_format_arguments = {
            'location': self._serialize.url("location", location, 'str'),
            'invitationId': self._serialize.url("invitation_id", invitation_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.DataShareErrorException.from_response(response, self._deserialize)

        deserialized = self._deserialize('ConsumerInvitation', pipeline_response)

        if cls:
          return cls(pipeline_response, deserialized, {})

        return deserialized
    get.metadata = {'url': '/providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}'}

    def list_invitation(
        self,
        skip_token=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.ConsumerInvitationList"
        """Lists invitations.

        List the invitations.

        :param skip_token: Continuation token.
        :type skip_token: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ConsumerInvitationList or the result of cls(response)
        :rtype: ~data_share_management_client.models.ConsumerInvitationList
        :raises: ~data_share_management_client.models.DataShareErrorException:
        """
        cls = kwargs.pop('cls', None )  # type: ClsType["models.ConsumerInvitationList"]
        error_map = kwargs.pop('error_map', {})
        api_version = "2019-11-01"

        def prepare_request(next_link=None):
            if not next_link:
                # Construct URL
                url = self.list_invitation.metadata['url']
            else:
                url = next_link

            # Construct parameters
            query_parameters = {}
            query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
            if skip_token is not None:
                query_parameters['$skipToken'] = self._serialize.query("skip_token", skip_token, 'str')

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('ConsumerInvitationList', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise models.DataShareErrorException.from_response(response, self._deserialize)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_invitation.metadata = {'url': '/providers/Microsoft.DataShare/ListInvitations'}
