interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "sku": {"name": "Standard_S1",
      "capacity": 1}, "properties": {"publicNetworkAccess": "Enabled", "disableLocalAuth":
      false, "disableAadAuth": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002?api-version=2023-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"webpubsub000002.webpubsub.azure.com","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"hostNamePrefix":"webpubsub000002","liveTraceConfiguration":null,"resourceLogConfiguration":null,"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]},"publicNetworkAccess":"Enabled","disableLocalAuth":false,"disableAadAuth":false},"kind":"WebPubSub","location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002","name":"webpubsub000002","type":"Microsoft.SignalRService/WebPubSub","systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2023-08-01T04:35:11.0236123Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-01T04:35:11.0236123Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/00af3c5b-85a2-4136-978e-c2d7c65a5813?api-version=2023-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationResults/00af3c5b-85a2-4136-978e-c2d7c65a5813?api-version=2023-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/00af3c5b-85a2-4136-978e-c2d7c65a5813?api-version=2023-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/00af3c5b-85a2-4136-978e-c2d7c65a5813","name":"00af3c5b-85a2-4136-978e-c2d7c65a5813","status":"Running","startTime":"2023-08-01T04:35:12.9977375Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/00af3c5b-85a2-4136-978e-c2d7c65a5813?api-version=2023-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/00af3c5b-85a2-4136-978e-c2d7c65a5813","name":"00af3c5b-85a2-4136-978e-c2d7c65a5813","status":"Succeeded","startTime":"2023-08-01T04:35:12.9977375Z","endTime":"2023-08-01T04:36:12.6049789Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Succeeded","externalIP":"20.88.154.128","hostName":"webpubsub000002.webpubsub.azure.com","publicPort":443,"serverPort":443,"version":"1.0","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"hostNamePrefix":"webpubsub000002","liveTraceConfiguration":null,"resourceLogConfiguration":null,"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]},"publicNetworkAccess":"Enabled","disableLocalAuth":false,"disableAadAuth":false},"kind":"WebPubSub","location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002","name":"webpubsub000002","type":"Microsoft.SignalRService/WebPubSub","systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2023-08-01T04:35:11.0236123Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-08-01T04:35:11.0236123Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationResults/75d10874-418b-450b-afc2-e18f071f6eaf?api-version=2023-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Free_F1","tier":"Free","size":"F1","capacity":1},"properties":{"provisioningState":"Succeeded","externalIP":"20.88.154.161","[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002/listKeys?api-version=2023-06-01-preview
  response:
    body:
      string: '{"primaryKey":"mock_key","secondaryKey":"mock_key","primaryConnectionString":"mock_key","secondaryConnectionString":"mock_key"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002/skus?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.SignalRService/WebPubSub","sku":{"name":"Free_F1","tier":"Free","capacity":null},"capacity":{"minimum":1,"maximum":1,"default":1,"allowedValues":[1],"scaleType":"Manual"}},{"resourceType":"Microsoft.SignalRService/WebPubSub","sku":{"name":"Standard_S1","tier":"Standard","capacity":null},"capacity":{"minimum":1,"maximum":100,"default":1,"allowedValues":[1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100],"scaleType":"Manual"}},{"resourceType":"Microsoft.SignalRService/WebPubSub","sku":{"name":"Premium_P1","tier":"Premium","capacity":null},"capacity":{"minimum":1,"maximum":100,"default":1,"allowedValues":[1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100],"scaleType":"Automatic"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/FreeTierInstances","currentValue":0,"limit":10000,"name":{"value":"FreeTierInstances","localizedValue":"Free
        Tier SignalR Instances per subscription"},"unit":"Count"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/SignalRTotalUnits","currentValue":0,"limit":1200,"name":{"value":"SignalRTotalUnits","localizedValue":"SignalRTotalUnits"},"unit":"Count"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/WebPubSubFreeTierInstances","currentValue":1,"limit":100,"name":{"value":"WebPubSubFreeTierInstances","localizedValue":"WebPubSubFreeTierInstances"},"unit":"Count"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/WebPubSubTotalUnits","currentValue":62,"limit":1200,"name":{"value":"WebPubSubTotalUnits","localizedValue":"WebPubSubTotalUnits"},"unit":"Count"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "secondary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002/regenerateKey?api-version=2023-06-01-preview
  response:
    body:
      string: '{"primaryKey":"mock_key","secondaryKey":"mock_key","primaryConnectionString":"mock_key","secondaryConnectionString":"mock_key"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/be684242-3f37-45ca-b1b6-54c4a9b1221c?api-version=2023-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationResults/be684242-3f37-45ca-b1b6-54c4a9b1221c?api-version=2023-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - bae67624-1833-4301-8125-55760c1ae1cd
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/webPubSub?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Premium_P1","tier":"Premium","size":"P1","capacity":1},"properties":{"provisioningState":"Succeeded","externalIP":"20.88.154.170","hostName":"localcreatesio2.webpubsub.azure.com","publicPort":443,"serverPort":443,"ver[...]
[...]
