interactions:
- request:
    body: '{"location": "westcentralus", "tags": {"key": "value"}, "sku": {"name":
      "Standard_S1", "capacity": 1}, "properties": {"publicNetworkAccess": "Enabled",
      "disableLocalAuth": false, "disableAadAuth": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002?api-version=2021-10-01
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"webpubsub000002.webpubsub.azure.com","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"hostNamePrefix":"webpubsub000002","liveTraceConfiguration":null,"resourceLogConfiguration":null,"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]},"publicNetworkAccess":"Enabled","disableLocalAuth":false,"disableAadAuth":false},"systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-10-21T07:11:02.337084Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-21T07:11:02.337084Z"},"location":"westcentralus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002","name":"webpubsub000002","type":"Microsoft.SignalRService/WebPubSub"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/96a0ce46-c5b0-493e-9797-abec87c90424?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationResults/96a0ce46-c5b0-493e-9797-abec87c90424?api-version=2021-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - bd3620f5-b532-4e35-972a-6e9b0ccbed1c
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/96a0ce46-c5b0-493e-9797-abec87c90424?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/96a0ce46-c5b0-493e-9797-abec87c90424","name":"96a0ce46-c5b0-493e-9797-abec87c90424","status":"Running","startTime":"2021-10-21T07:11:04.0094072Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bd3620f5-b532-4e35-972a-6e9b0ccbed1c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/96a0ce46-c5b0-493e-9797-abec87c90424?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/96a0ce46-c5b0-493e-9797-abec87c90424","name":"96a0ce46-c5b0-493e-9797-abec87c90424","status":"Succeeded","startTime":"2021-10-21T07:11:04.0094072Z","endTime":"2021-10-21T07:12:00.8567795Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bd3620f5-b532-4e35-972a-6e9b0ccbed1c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"eventHandlers": [{"urlTemplate": "http://host.com", "userEventPattern":
      "event1,event2", "systemEvents": ["connect"]}], "anonymousConnectPolicy": "deny"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002/hubs/myHub?api-version=2021-10-01
  response:
    body:
      string: '{"systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-10-21T07:12:07.9588974Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-21T07:12:07.9588974Z"},"properties":{"eventHandlers":[{"urlTemplate":"http://host.com","userEventPattern":"event1,event2","systemEvents":["connect"],"auth":null}],"anonymousConnectPolicy":"deny"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/hubs/myHub","name":"myHub","type":"Microsoft.SignalRService/WebPubSub/hubs"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationStatuses/83856421-b288-46ec-ab9d-cad220df2247?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/operationResults/83856421-b288-46ec-ab9d-cad220df2247?api-version=2021-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - bd3620f5-b532-4e35-972a-6e9b0ccbed1c
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002/hubs?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-10-21T07:12:07.9588974Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-21T07:12:07.9588974Z"},"properties":{"eventHandlers":[{"urlTemplate":"http://host.com","userEventPattern":"event1,event2","systemEvents":["connect"],"auth":null}],"anonymousConnectPolicy":"deny"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002/hubs/myHub","name":"myHub","type":"Microsoft.SignalRService/WebPubSub/hubs"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - bd3620f5-b532-4e35-972a-6e9b0ccbed1c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"eventHandlers": [{"urlTemplate": "http://host2.com", "userEventPattern":
      "event3,event4", "systemEvents": ["disconnect", "connected"], "auth": {"type":
      "ManagedIdentity", "managedIdentity": {"resource": "uri://abc"}}}], "anonymousConnectPolicy":
      "allow"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002/hubs/myHub?api-version=2021-10-01
  response:
    body:
      string: '{"systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-10-21T07:13:44.503323[...]
[...]
