interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":{"type":"None"},"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"326de617-712d-4d5a-afd1-40780baced8f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount
      ms-cv:
      - m/PszOmluk+0r0YOTFAXEA.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":{"type":"None"},"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"2dc561fa-dd49-4a10-89db-e1c55cd1d9f3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount
      ms-cv:
      - J7HRGjW2LUCrF8JgGdwUrA.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"ikXgzGxZlMuGCh54QhB37X+MycTCb/UvlCOGzzxLh+o=","secondaryKey":"TfIX+p3cxD/oGfPBbXRRL1JvYql3O5oqPZ8hcL0Uh3c="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +tLi4mZ7n0e9W2nfV8pm1Q.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"UY4QfdcbYXGOqVnhDvhVxn/qaaO22uj4lN9DipQnBO4=","secondaryKey":"npOp0JfYnZQO1nJAzOWtatJwKNvWfSkS91txsE+GUxI="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bFjTIQ3vSUaERMOBFe+Hcw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"326de617-712d-4d5a-afd1-40780baced8f"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5Te7LSCQ40yJIxztoU1YVw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"2dc561fa-dd49-4a10-89db-e1c55cd1d9f3"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FHlNY4NzG0eZMVcgT8PtKQ.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MixedReality/remoteRenderingAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_realityrucuxalf63hnuc3eotzcosibkvrvcxmcmtankua6airfnb2hrj7y2/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"c5774a61-913b-4577-a099-d2539195f375"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"2dc561fa-dd49-4a10-89db-e1c55cd1d9f3"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kfvVMDeIPUGxjna+5lTsJA.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MixedReality/spatialAnchorsAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_realitygv2l3elh76a7brm66drgektfyzfsijxog6smmqzg6dnn2r7ofuf6c/providers/Microsoft.MixedReality/spatialAnchorsAccounts/[...]
- request:
    body: '{"serial": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"YoX7eaXiLAnKdnNZJLNVfQUlySq9gp56sADa19L+6CU=","secondaryKey":"TfIX+p3cxD/oGfPBbXRRL1JvYql3O5oqPZ8hcL0Uh3c="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - t9V0KleaqEOYQ7V/KgJogQ.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - N4dOyxvKgkaSHRQEpsaiHw.0
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
