interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":{"type":"None"},"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"68bff0b4-1681-4065-8341-559d7b648221"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount
      ms-cv:
      - tCNYYRmZSUq42kseXJYKdQ.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":{"type":"None"},"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"5e095a43-8e29-4bf6-808d-ef6295239f96"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount
      ms-cv:
      - kqqP8mgnlEeypiDm7PMwvg.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"PKGISyygl7d2eLKyYJzhd+OeXyP+tK2i7FanymESJpA=","secondaryKey":"s/Gi8lJWayUeA+itEQTYFOlph0KNemzpGhGe/SbPnBQ="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8t2vFZ5cnkSCOUgP9Y9hgg.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"R9co1NWJ3O9A19z9KSBECZ/Ndq2WwsQ8937be+/CFfM=","secondaryKey":"2mKG+6QI7/2/urCIxQV8TMS+ZMZn93J/MYiRfQqTzvQ="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Bq/qkNc7WkCQMlTd81fqyw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"68bff0b4-1681-4065-8341-559d7b648221"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LdNFvdOKME+7TNRZOPK5tw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"5e095a43-8e29-4bf6-808d-ef6295239f96"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PCme/M787Uqx5Y+bQPUFNQ.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"serial": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"4LZnawgMJ3QwuuF0TUhJAxo/PFiVVMZsBpoj49t/IEM=","secondaryKey":"s/Gi8lJWayUeA+itEQTYFOlph0KNemzpGhGe/SbPnBQ="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 78KrMML420mgw70FslbBPw.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - tppObNyfYEOM/7DsULGVdg.0
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
