interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":{"type":"None"},"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"fc9ac2a5-178c-4c4f-823d-7b270aee8317"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount
      ms-cv:
      - IrtNfwcSp06u3jYJOnSjsg.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":{"type":"None"},"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"20a4787f-ca40-4930-8b9c-bfc077dc6f46"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount
      ms-cv:
      - IiGs/AqecEitTHMN+Dx1BQ.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"+jbwfB4UkHnAqMeaCri3gBiUsR7f8alNqlwXLg7IVFk=","secondaryKey":"bCd4B2BATYLKschjKel3mZOF+itRHBVTB4clZcGpBdw="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aBPj9qNeskeeEQ8l/glKIw.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"il8sndUXeZ0thw2bC02G2V9CaaiPLzGomBOQx3fFixY=","secondaryKey":"60SEDFDSqVAw5HoknAwji5o814jsq1rs1MzOwMzbBOs="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kohG23ZGIUqfsvTmpRVI0A.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/spatialAnchorsAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"fc9ac2a5-178c-4c4f-823d-7b270aee8317"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Px/z4cc+BkyUoyZDsN+COQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts?api-version=2019-12-02-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount","name":"MyAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":null,"location":"eastus2euap","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus2euap.mixedreality.azure.com","accountId":"20a4787f-ca40-4930-8b9c-bfc077dc6f46"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 77GPY1hC2kC34WHKRQZUTg.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"serial": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount/keys?api-version=2019-12-02-preview
  response:
    body:
      string: '{"primaryKey":"ERjMVBC8rMCEuV/UlCo0r0faVYji6cZBgD8m03X/e9g=","secondaryKey":"bCd4B2BATYLKschjKel3mZOF+itRHBVTB4clZcGpBdw="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sSPUj21/FU2q+20WMLcl+Q.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mixed_reality000001/providers/Microsoft.MixedReality/remoteRenderingAccounts/MyAccount?api-version=2019-12-02-preview
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - rieFG6pbr0SKbUfFhJKSGw.0
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
