interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "EnterpriseFlash_F300"}, "tags":
      {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"East US\",\r\n  \"name\": \"clitest-cache2-000001\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"tag1\":
        \"value1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"EnterpriseFlash_F300\",\r\n
        \   \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\":
        \"1.2\",\r\n    \"hostName\": \"clitest-cache2-000001.eastus.redisenterprise.cache.azure.net\",\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n
        \ },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/ee575fcd-bc7f-45e6-8150-9be3eabbcc2e?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/ee575fcd-bc7f-45e6-8150-9be3eabbcc2e?api-version=2023-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/operationsStatus/ee575fcd-bc7f-45e6-8150-9be3eabbcc2e","name":"ee575fcd-bc7f-45e6-8150-9be3eabbcc2e","status":"InProgress","startTime":"2023-05-15T06:33:22.8902479+00:00","endTime":"2023-05-15T06:33:23.7652439+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"East US\",\r\n  \"name\": \"clitest-cache2-000001\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001\",\r\n
        \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"tag1\":
        \"value1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"EnterpriseFlash_F300\",\r\n
        \   \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\":
        \"1.2\",\r\n    \"hostName\": \"clitest-cache2-000001.eastus.redisenterprise.cache.azure.net\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n
        \   \"privateEndpointConnections\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\":
        \"None\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/redisEnterprise?api-version=2023-03-01-preview
  response:
    body:
      string: '{"value":[{"location":"East US","name":"clitest-cache31-zsuil","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-wsez7/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-zsuil","type":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-wsez7/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-zsuil/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-iki2p/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-gzikf/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-npuwu/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-4adym/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-npuwu/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-4adym/databases/default\",\r\n
        \     \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n      \"properties\":
        {\r\n        \"clientProtocol\": \"Encrypted\",\r\n        \"port\": 10000,\r\n
        \       \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\":
        \"Running\",\r\n        \"clusteringPolicy\": \"EnterpriseCluster\",\r\n        \"evictionPolicy\":
        \"NoEviction\",\r\n        \"geoReplication\": {\r\n          \"linkedDatabases\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-npuwu/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-4adym/databases/default\",\r\n
        \             \"state\": \"Linked\"\r\n            }\r\n          ],\r\n          \"groupNickname\":
        \"groupName\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-dbydb/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-kumhd/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-p3uej/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-mwgim/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-6wuql/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-whyob/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-k7xqf/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-tn6vh/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-av2ku/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-46god/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-dkxfc/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-3e5rf/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-ecyql/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-7vlxw/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-6bwcd/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-2cpe6/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-hfj2v/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-4ikv4/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-6htu5/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-idkq4/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-24jkr/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-ipkhh/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-u2dnm/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-hde32/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-jxeyn/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-cbsrm/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-bkxzh/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-bw4bo/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-ob3ido/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-l5iomp/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg1-ob3ido/providers/Microsoft.Cache/redisEnterprise/clitest-cache1-l5iomp/databases/default\",\r\n
        \     \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n      \"properties\":
        {\r\n        \"clientProtocol\": \"Encrypted\",\r\n        \"port\": 10000,\r\n
        \       \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\":
        \"Running\",\r\n        \"clusteringPolicy\": \"EnterpriseCluster\",\r\n        \"evictionPolicy\":
        \"NoEviction\",\r\n        \"modules\": [\r\n          {\r\n            \"name\":
        \"RedisBloom\",\r\n            \"args\": \"\",\r\n            \"version\":
        \"2.2.18\"\r\n          },\r\n          {\r\n            \"name\": \"RedisTimeSeries\",\r\n
        \           \"args\": \"\",\r\n            \"version\": \"1.6.17\"\r\n          },\r\n
        \         {\r\n            \"name\": \"RediSearch\",\r\n            \"args\":
        \"\",\r\n            \"version\": \"2.4.16\"\r\n          }\r\n        ]\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg31-7xjc2/providers/Microsoft.Cache/redisEnterprise/clitest-cache31-mde5z/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/flush1/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/flush1/databases/default\",\r\n
        \     \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n      \"properties\":
        {\r\n        \"clientProtocol\": \"Encrypted\",\r\n        \"port\": 10000,\r\n
        \       \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\":
        \"Running\",\r\n        \"clusteringPolicy\": \"OSSCluster\",\r\n        \"evictionPolicy\":
        \"NoEviction\",\r\n        \"persistence\": {\r\n          \"aofEnabled\":
        false,\r\n          \"rdbEnabled\": false,\r\n          \"aofFrequency\":
        null,\r\n          \"rdbFrequency\": null\r\n        },\r\n        \"geoReplication\":
        {\r\n          \"linkedDatabases\": [\r\n            {\r\n              \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/flush1/databases/default\",\r\n
        \             \"state\": \"Linked\"\r\n            },\r\n            {\r\n
        \             \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/flush2/databases/default\",\r\n
        \             \"state\": \"Linked\"\r\n            }\r\n          ],\r\n          \"groupNickname\":
        \"geoflush\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/test-cli-5/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/test-cli-5/databases/default\",\r\n
        \     \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n      \"properties\":
        {\r\n        \"clientProtocol\": \"Encrypted\",\r\n        \"port\": 10000,\r\n
        \       \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\":
        \"Running\",\r\n        \"clusteringPolicy\": \"EnterpriseCluster\",\r\n        \"evictionPolicy\":
        \"NoEviction\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/cache-geo-1/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/revanth-rg/providers/Microsoft.Cache/redisEnterprise/cache-cmk-1/databases?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"East US\",\r\n
        \     \"name\": \"clitest-cache2-000001\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001\",\r\n
        \     \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n      \"tags\": {\r\n
        \       \"tag1\": \"value1\"\r\n      },\r\n      \"sku\": {\r\n        \"name\":
        \"EnterpriseFlash_F300\",\r\n        \"capacity\": 3\r\n      },\r\n      \"properties\":
        {\r\n        \"minimumTlsVersion\": \"1.2\",\r\n        \"hostName\": \"clitest-cache2-000001.eastus.redisenterprise.cache.azure.net\",\r\n
        \       \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\":
        \"Running\",\r\n        \"privateEndpointConnections\": []\r\n      },\r\n
        \     \"identity\": {\r\n        \"type\": \"None\"\r\n      }\r\n    }\r\n
        \ ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"clientProtocol": "Plaintext", "clusteringPolicy": "OSSCluster",
      "evictionPolicy": "AllKeysLRU", "port": 10000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001/databases/default?api-version=2023-03-01-preview
  response:
    [...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001/databases/default/listKeys?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"primaryKey\": \"5ljt1h7TuGmQqlCfpWrKCGsFm6zDlPPpIC+I4SmWccE=\",\r\n
        \ \"secondaryKey\": \"cPEfee8u79B3O0+R1VPnIY5NxxnAWagdWol9bIDYJlM=\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "Primary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001/databases/default/regenerateKey?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"primaryKey\": \"SbapCmxSnwgLLbvYYzNuRx0a7UvFqdYr3OZyAN4ay+s=\",\r\n
        \ \"secondaryKey\": \"cPEfee8u79B3O0+R1VPnIY5NxxnAWagdWol9bIDYJlM=\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001/databases/default?api-version=2023-03-01-preview
  response:
    body:
      string: "{\r\n  \"StatusCode\": 202\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationsStatus/7ce973fe-29c3-4dbe-9c50-662412b66c85?api-version=2023-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-redisenterprise-rg2-000002/providers/Microsoft.Cache/redisEnterprise/clitest-cache2-000001/databases/default/operationresults/7ce973fe-29c3-4dbe-9c50-662412b66c85?api-version=2023-03-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-rp-server-mvid:
      - 1bf7c4a3-b5a8-4b2d-9d0c-c0b65b70eff4
    status:
      code: 202
      message: Accepted
[...]
