interactions:
- request:
    body: '{"properties": {"tags": {}, "credentials": {"credentialsType": "ServicePrincipal",
      "authorityUrl": "https://login.microsoftonline.com", "clientId": "f7152bb4-cfa5-4cc9-9516-c34b65a10d04",
      "secrets": {"secretsType": "ServicePrincipal", "clientSecret": "placeholder"},
      "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "datastoreType": "AzureDataLakeGen1",
      "storeName": "cliv2testdatalake"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/testadlsgen1000015?api-version=0000-00-00&skipValidation=true
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/kchawla-ws/datastores/testadlsgen1000015",
        "name": "testadlsgen1000015", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": {}, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "ServicePrincipal", "authorityUrl":
        "https://login.microsoftonline.com", "resourceUrl": "https://datalake.azure.net/",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "clientId": "f7152bb4-cfa5-4cc9-9516-c34b65a10d04"},
        "subscriptionId": null, "resourceGroup": null, "datastoreType": "AzureDataLakeGen1",
        "storeName": "cliv2testdatalake", "serviceDataAccessAuthIdentity": "None"},
        "systemData": {"createdAt": "2026-06-11T23:40:27.5779178+00:00", "createdBy":
        "Test User", "createdByType": "User", "lastModifiedAt": "2026-06-11T23:40:28.3358269+00:00",
        "lastModifiedBy": "Test User", "lastModifiedByType": "User"}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/kchawla-rg/providers/Microsoft.MachineLearningServices/workspaces/kchawla-ws/datastores/testadlsgen1000015?api-version=2024-07-01-preview&skipValidation=true
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.609'
    status:
      code: 201
      message: Created
version: 1
