interactions:
- request:
    body: '{"properties": {"isAnonymous": false, "isArchived": false, "condaFile":
      "name: sklearn-aks-env\nchannels:\n- conda-forge\ndependencies:\n- python=3.7.10\n-
      numpy\n- pip\n- scikit-learn==0.19.1\n- scipy\n- pip:\n  - azureml-defaults\n  -
      inference-schema[numpy-support]\n  - joblib\n  - numpy\n  - scikit-learn==0.19.1\n  -
      scipy\n", "image": "pytorch.pytorch"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/environments/test-environment-000004/versions/1?api-version=0000-00-00
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/v2scoringurl-testharnvirws/environments/test-environment-000004/versions/1\",\n
        \ \"name\": \"1\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces/environments/versions\",\n
        \ \"properties\": {\n    \"description\": null,\n    \"tags\": {},\n    \"properties\":
        {},\n    \"isArchived\": false,\n    \"isAnonymous\": false,\n    \"environmentType\":
        \"UserCreated\",\n    \"image\": \"pytorch.pytorch\",\n    \"condaFile\":
        \"{\\n  \\\"channels\\\": [\\n    \\\"conda-forge\\\"\\n  ],\\n  \\\"dependencies\\\":
        [\\n    \\\"python=3.7.10\\\",\\n    \\\"numpy\\\",\\n    \\\"pip\\\",\\n
        \   \\\"scikit-learn==0.19.1\\\",\\n    \\\"scipy\\\",\\n    {\\n      \\\"pip\\\":
        [\\n        \\\"azureml-defaults\\\",\\n        \\\"inference-schema[numpy-support]\\\",\\n
        \       \\\"joblib\\\",\\n        \\\"numpy\\\",\\n        \\\"scikit-learn==0.19.1\\\",\\n
        \       \\\"scipy\\\"\\n      ]\\n    }\\n  ],\\n  \\\"name\\\": \\\"azureml_11bf6c0579bd75dce02cc52c25613e26\\\"\\n}\",\n
        \   \"osType\": \"Linux\"\n  },\n  \"systemData\": {\n    \"createdAt\": \"2022-03-17T20:32:37.8550675Z\",\n
        \   \"createdBy\": \"Harneet Virk\",\n    \"createdByType\": \"User\",\n    \"lastModifiedAt\":
        \"2022-03-17T20:32:37.8550675Z\",\n    \"lastModifiedBy\": \"Harneet Virk\",\n
        \   \"lastModifiedByType\": \"User\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v2testharnvir-rg/providers/Microsoft.MachineLearningServices/workspaces/v2scoringurl-testharnvirws/environments/test-environment-000004/versions/1?api-version=2022-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '11.563'
    status:
      code: 201
      message: Created
version: 1
