interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws",
        "name": "namejia-ws", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus", "tags": {}, "etag": null, "properties": {"friendlyName":
        "namejia-ws", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.storage/storageaccounts/namejiaws5493561751",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.keyvault/vaults/namejiaws0093802117",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.insights/components/namejiaws9945639304",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "containerRegistry":
        null, "notebookInfo": {"resourceId": "bf94385dbfda46afa367e4bf14cc66a3", "fqdn":
        "ml-namejia-ws-westus-f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://westus.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws",
        "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0", "sasGetterUri":
        null}, "identity": {"type": "SystemAssigned", "principalId": "57bf5faf-11ee-4597-9faf-968d4ca2967e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "sku": {"name": "Basic",
        "tier": "Basic"}, "systemData": {"createdAt": "2022-05-10T16:52:35.1515386Z",
        "createdBy": "namejia@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-05-10T16:52:35.1515386Z", "lastModifiedBy": "namejia@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.014'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"authMode": "aadToken",
      "description": "my sample batch endpoint", "properties": {"p1": "v1", "p2":
      "v2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/batchEndpoints/test-batch-ept-1223423-8?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/batchEndpoints/test-batch-ept-1223423-8",
        "name": "test-batch-ept-1223423-8", "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {"description": "my sample batch endpoint", "properties": {"p1":
        "v1", "p2": "v2", "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:98ebaa95-f100-4802-bf49-1a8437d929e9?api-version=2022-05-01"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AADToken", "defaults":
        {"deploymentName": null}, "provisioningState": "Creating"}, "systemData":
        {"createdAt": "2022-05-10T22:34:43.2173978Z", "createdBy": "Nancy Mejia Juarez",
        "lastModifiedAt": "2022-05-10T22:34:43.2173984Z"}, "tags": {}, "location":
        "westus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:98ebaa95-f100-4802-bf49-1a8437d929e9?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/batchEndpoints/test-batch-ept-1223423-8?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '3.729'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:98ebaa95-f100-4802-bf49-1a8437d929e9?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:98ebaa95-f100-4802-bf49-1a8437d929e9",
        "name": "be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:98ebaa95-f100-4802-bf49-1a8437d929e9",
        "startTime": "2022-05-10T22:34:43.0358297Z", "endTime": "2022-05-10T22:34:54.5145009Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.043'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/batchEndpoints/test-batch-ept-1223423-8/deployments?api-version=0000-00-00
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.122'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:2b509d06-d67f-489b-ba24-e626b03bfcd5?api-version=0000-00-00
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:2b509d06-d67f-489b-ba24-e626b03bfcd5\",\n
        \ \"name\": \"be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:2b509d06-d67f-489b-ba24-e626b03bfcd5\",\n
        \ \"startTime\": \"2022-05-10T22:35:16.6810317Z\",\n  \"endTime\": \"2022-05-10T22:35:36.924433Z\",\n
        \ \"percentComplete\": 100.0,\n  \"status\": \"Succeeded\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.043'
    status:
      code: 200
      message: OK
version: 1
