interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/nthandetest",
        "name": "nthandetest", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus", "tags": {}, "etag": null, "properties": {"friendlyName":
        "nthandetest", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Storage/storageAccounts/nthandetest8920363208",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Keyvault/vaults/nthandetest0805776995",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.insights/components/nthandetest3519596268",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "v1LegacyMode":
        false, "softDeleteEnabled": false, "containerRegistry": "", "notebookInfo":
        {"resourceId": "e22f25f5396b42828c747e5272a417ee", "fqdn": "ml-nthandetest-eastus-429b3073-ea7c-435d-914a-9a2ffcb5b713.eastus.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "429b3073-ea7c-435d-914a-9a2ffcb5b713", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://eastus.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/nthandetest",
        "sdkTelemetryAppInsightsKey": "71fa86c2-fe23-49db-bb2e-8537edfb6ead", "sasGetterUri":
        "", "enableDataIsolation": false}, "identity": {"type": "SystemAssigned",
        "principalId": "16b65b94-b9f2-4120-b0f1-598534df268b", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "sku": {"name": "Basic", "tier": "Basic"}, "systemData": {"createdAt": "2022-08-11T16:20:09.2418482Z",
        "createdBy": "nthande@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-08-11T16:20:09.2418482Z", "lastModifiedBy": "nthande@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.021'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"properties": {"vmSize": "STANDARD_DS3_V2", "applicationSharingPolicy":
      "Shared", "computeInstanceAuthorizationType": "personal", "schedules": {"computeStartStop":
      [{"status": "Enabled", "action": "stop", "triggerType": "Cron", "cron": {"startTime":
      "2021-03-10T21:21:07", "timeZone": "Pacific Standard Time", "expression": "0
      18 * * *"}}, {"status": "Enabled", "action": "start", "triggerType": "Recurrence",
      "recurrence": {"frequency": "week", "interval": 1, "startTime": "2021-03-10T21:21:07",
      "timeZone": "Pacific Standard Time", "schedule": {"hours": [0], "minutes": [15],
      "weekDays": ["monday", "tuesday"]}}}]}, "idleTimeBeforeShutdown": "PT15M", "enableNodePublicIp":
      true}, "computeType": "ComputeInstance"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/computes/testcomp007ci4?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/nthandetest/computes/testcomp007ci4",
        "name": "testcomp007ci4", "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus", "tags": null, "properties": {"createdOn": "2023-01-25T19:19:22.8709769+00:00",
        "modifiedOn": "2023-01-25T19:19:22.8709769+00:00", "disableLocalAuth": false,
        "description": null, "resourceId": null, "computeType": "ComputeInstance",
        "provisioningState": "Creating", "provisioningErrors": null, "isAttachedCompute":
        false, "properties": {"vmSize": "STANDARD_DS3_V2", "subnet": null, "sshSettings":
        null, "autologgerSettings": null, "errors": null, "connectivityEndpoints":
        null, "applications": null, "state": null, "lastOperation": null, "createdBy":
        {"userOrgId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "userId": "f01782d0-678c-4574-b01c-7e1493e36a32"},
        "applicationSharingPolicy": null, "computeInstanceAuthorizationType": "personal",
        "personalComputeInstanceSettings": null, "setupScripts": null, "enableNodePublicIp":
        true, "dataMounts": null, "dataDisks": null, "containers": null, "updateStatus":
        null, "versions": null, "customServices": null, "osImageMetadata": null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/48da561d-faa9-4d5f-92e7-6512b393b6d7?api-version=2022-10-01-preview&service=new
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/000000000000000?api-version=0000-00-00&service=new
  response:
    body:
      string: '{"status": "InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.011'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/000000000000000?api-version=0000-00-00&service=new
  response:
    body:
      string: '{"status": "Succeeded", "percentComplete": 100.0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.014'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/computes/testcomp007ci4?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/nthandetest/computes/testcomp007ci4",
        "name": "testcomp007ci4", "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus", "tags": {}, "properties": {"createdOn": "2023-01-25T19:19:22.8709769+00:00",
        "modifiedOn": "2023-01-25T19:23:01.5771462+00:00", "disableLocalAuth": false,
        "description": null, "resourceId": null, "computeType": "ComputeInstance",
        "computeLocation": "eastus", "provisioningState": "Succeeded", "provisioningErrors":
        null, "isAttachedCompute": false, "properties": {"vmSize": "STANDARD_DS3_V2",
        "subnet": null, "sshSettings": {"sshPublicAccess": "Disabled", "adminUserName":
        "azureuser", "sshPort": 4000, "adminPublicKey": null}, "autologgerSettings":
        null, "errors": [], "connectivityEndpoints": {"publicIpAddress": "20.124.52.68",
        "privateIpAddress": "10.0.0.4"}, "applications": [{"displayName": "Jupyter",
        "endpointUri": "https://testcomp007ci4.eastus.instances.azureml.ms/tree/"},
        {"displayName": "Jupyter Lab", "endpointUri": "https://testcomp007ci4.eastus.instances.azureml.ms/lab"}],
        "state": "Running", "lastOperation": {"operationName": "Create", "operationTime":
        "2023-01-25T19:19:26.302+00:00", "operationStatus": "Succeeded", "operationTrigger":
        "User"}, "createdBy": {"userOrgId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "userId": "f01782d0-678c-4574-b01c-7e1493e36a32"}, "applicationSharingPolicy":
        "Shared", "computeInstanceAuthorizationType": "personal", "personalComputeInstanceSettings":
        null, "setupScripts": null, "idleTimeBeforeShutdown": "PT15M", "schedules":
        {"computeStartStop": [{"triggerType": "Recurrence", "recurrence": {"frequency":
        "Week", "interval": 1, "startTime": "2021-03-10T21:21:07", "timeZone": "Pacific
        Standard Time", "schedule": {"hours": [0], "minutes": [15], "weekDays": ["Monday",
        "Tuesday"]}}, "cron": null, "action": "Start", "id": "1538907e-6e50-448f-8717-4ee56bd954ba",
        "status": "Enabled", "provisioningStatus": "Completed"}, {"triggerType": "Cron",
        "recurrence": null, "cron": {"expression": "0 18 * * *", "startTime": "2021-03-10T21:21:07",
        "timeZone": "Pacific Standard Time"}, "action": "Stop", "id": "c64e60e0-ec66-44fd-9ce2-2a91aac96e45",
        "status": "Enabled", "provisioningStatus": "Completed"}]}, "dataMounts": null,
        "dataDisks": null, "containers": null, "updateStatus": "InProgress", "versions":
        {"runtime": "3.0.02209.0006"}, "customServices": [], "osImageMetadata": {"currentImageVersion":
        "23.01.19", "latestImageVersion": "23.01.19", "isLatestOsImageVersion": true}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.140'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/computes/testcomp007ci4?api-version=0000-00-00&underlyingResourceAction=Delete
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/ac47543b-a5f4-498f-af47-058b4c7ce852?api-version=2022-10-01-preview&service=new
      x-aml-cluster:
      - vienna-eastus-02
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.110'
    status:
      code: 202
      message: Accepted
version: 1
