interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/dsvm-test/discovery
  response:
    body:
      string: '{"registryId": "93595ad9-6099-4324-a067-a21a6c3fa6ba", "registryName":
        "dsvm-test", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "eastus", "regions": ["eastus"], "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "resourceGroup": "testrg", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-eastus.experiments.azureml.net/", "registryFqdns": {"eastus":
        {"uri": "https://eastus.api.azureml.ms"}}, "intellectualPropertyPublisher":
        null, "isTradeRestricted": false}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f220da61-d342-4b71-9262-f5e7254dd961
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.025'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cert-eastus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/dsvm-test/components/000000000000000/versions/1.0.12?api-version=0000-00-00
  response:
    body:
      string: '{"id": "azureml://registries/dsvm-test/components/batchscore/versions/1.0.12",
        "name": "1.0.12", "type": "Microsoft.MachineLearningServices/registries/components/versions",
        "properties": {"description": null, "tags": {}, "properties": {"client_component_hash":
        "bbaf8f9b-3037-523c-4a56-7ca6d8a2a04e"}, "isArchived": true, "isAnonymous":
        false, "componentSpec": {"$schema": "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
        "name": "batchscore", "version": "1.0.12", "display_name": "batchscore", "is_deterministic":
        "True", "type": "command", "description": "Test component", "outputs": {"component_out_path":
        {"type": "uri_folder"}}, "inputs": {"component_in_number": {"type": "number",
        "optional": "True", "default": "10.99", "description": "A number"}}, "environment":
        "azureml://registries/azureml/environments/sklearn-1.5/versions/45", "resources":
        {"instance_count": "1"}, "command": "echo Hello World"}}, "systemData": {"createdAt":
        "2026-05-19T03:10:24.6266905+00:00", "createdBy": "Test User", "createdByType":
        "User", "lastModifiedAt": "2026-05-19T06:41:52.9438522+00:00", "lastModifiedBy":
        "Test User", "lastModifiedByType": "User"}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 924e6cb0-105a-4b09-bf6a-1d301c0320d9
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.148'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"properties": {"client_component_hash": "bbaf8f9b-3037-523c-4a56-7ca6d8a2a04e"},
      "tags": {}, "isAnonymous": false, "isArchived": false, "componentSpec": {"$schema":
      "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
      "name": "batchscore", "version": "1.0.12", "display_name": "batchscore", "is_deterministic":
      "True", "type": "command", "description": "Test component", "outputs": {"component_out_path":
      {"type": "uri_folder"}}, "inputs": {"component_in_number": {"type": "number",
      "optional": "True", "default": "10.99", "description": "A number"}}, "environment":
      "azureml://registries/azureml/environments/sklearn-1.5/versions/45", "resources":
      {"instance_count": "1"}, "command": "echo Hello World"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cert-eastus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/dsvm-test/components/000000000000000/versions/1.0.12?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus.api.azureml.ms/assetstore/v1.0/operations/BeG3dl8uh0m7gRg3oZ0yotIxu7GLCAYN1xu7dClX8j4
      mise-correlation-id:
      - 46cd5342-c991-4f17-afec-f7a69e28b95a
      x-ms-async-operation-timeout:
      - PT1H
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.838'
    status:
      code: 202
      message: Accepted
version: 1
