interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/test-cli-reg/discovery
  response:
    body:
      string: '{"registryId": "f8c25193-1c5b-4477-9d64-b99d2e48967c", "registryName":
        "test-cli-reg", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "eastus2", "regions": ["eastus2"], "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "resourceGroup": "test-cli-rg", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-eastus2.experiments.azureml.net/", "registryFqdns": {"eastus2":
        {"uri": "https://eastus2.api.azureml.ms"}}, "intellectualPropertyPublisher":
        null, "isTradeRestricted": false}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a218d835-c34c-4577-8a79-b0d627514e8b
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.440'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg?api-version=0000-00-00
  response:
    body:
      string: '{"tags": {}, "location": "eastus2", "identity": {"type": "SystemAssigned",
        "principalId": "b265b0dc-d87f-4730-98f5-6a62e5d6830c", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg",
        "name": "test-cli-reg", "type": "Microsoft.MachineLearningServices/registries",
        "properties": {"registryId": "f8c25193-1c5b-4477-9d64-b99d2e48967c", "regionDetails":
        [{"location": "eastus2", "storageAccountDetails": [{"userCreatedStorageAccount":
        null, "systemCreatedStorageAccount": {"storageAccountName": "974d4d59413",
        "storageAccountType": "Standard_LRS", "storageAccountHnsEnabled": false, "armResourceId":
        {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Storage/storageAccounts/974d4d59413"}}}],
        "acrDetails": [{"userCreatedAcrAccount": null, "systemCreatedAcrAccount":
        {"acrAccountName": "3d8edf7d5bb", "acrAccountSku": "Premium", "armResourceId":
        {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/3d8edf7d5bb"}}}]}],
        "intellectualPropertyPublisher": null, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://eastus2.api.azureml.ms/registrymanagement/v1.0/registries/test-cli-reg/discovery",
        "managedResourceGroup": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000"},
        "mlFlowRegistryUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg",
        "privateEndpointConnections": [], "managedResourceGroupSettings": null, "syndicatedRegistries":
        []}, "systemData": null}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus2-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.031'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.api.azureml.ms/genericasset/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg/deploymenttemplates/nonexistent-template-xyz/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "UserError", "message": "Asset with Asset ID: azureml://registries/test-cli-reg/deploymenttemplates/nonexistent-template-xyz/versions/1
        and tenantId:  was not found", "details": [], "innerError": {"code": "NotFoundError"}},
        "correlation": {"operation": "e890a2261587d626f2a903de7a97293b", "request":
        "599b4ddb1dac1df2"}, "environment": "eastus2", "location": "eastus2", "time":
        "2025-11-07T16:40:12.5002118+00:00", "componentName": "genericasset", "statusCode":
        404}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus2-02
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - bc58253c-4bbc-4f0e-88d7-fcad19b0bbbc
      x-ms-response-type:
      - error
      x-request-time:
      - '0.215'
    status:
      code: 404
      message: 'Asset with Asset ID: azureml://registries/test-cli-reg/deploymenttemplates/nonexistent-template-xyz/'
version: 1
