interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-15?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-15''
        under resource group ''namejia-dev-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws",
        "name": "namejia-dev-ws", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2", "tags": {}, "etag": null, "properties": {"friendlyName":
        "namejia-dev-ws", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.storage/storageaccounts/namejiadevws1668375487",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.keyvault/vaults/namejiadevws5341870895",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.insights/components/namejiadevws8508045487",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "containerRegistry":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/3d827beff8dd42ec964290d023998bd9",
        "acrSkuTier": "Basic", "notebookInfo": {"resourceId": "040da9e1421f415e9eb217888467a7cd",
        "fqdn": "ml-namejia-dev-ws-eastus2-3d827bef-f8dd-42ec-9642-90d023998bd9.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "3d827bef-f8dd-42ec-9642-90d023998bd9", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://eastus2.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws",
        "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb", "sasGetterUri":
        null}, "identity": {"type": "SystemAssigned", "principalId": "faca638a-488c-4305-ae8e-dcdb04ed83df",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "sku": {"name": "Basic",
        "tier": "Basic"}, "systemData": {"createdAt": "2022-04-20T22:27:38.0187095Z",
        "createdBy": "namejia@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-04-20T22:27:38.0187095Z", "lastModifiedBy": "namejia@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.014'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "eastus2",
      "identity": {"type": "SystemAssigned"}, "properties": {"authMode": "AMLToken",
      "description": "some description", "properties": {}, "mirrorTraffic": {}, "traffic":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-15?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-15",
        "name": "test-onl-endpt-000005-15", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints",
        "properties": {"description": "some description", "properties": {"azureml.onlineendpointid":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.machinelearningservices/workspaces/namejia-dev-ws/onlineendpoints/test-onl-endpt-000005-15",
        "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:9266b401-be71-4ec2-ac95-2266386a9636?api-version=2022-02-01-preview"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AMLToken", "provisioningState":
        "Creating", "compute": null, "traffic": {}, "mirrorTraffic": {}, "publicNetworkAccess":
        "Enabled"}, "systemData": {"createdAt": "2022-04-29T00:30:28.0317033Z", "createdBy":
        "Nancy Mejia Juarez", "lastModifiedAt": "2022-04-29T00:30:28.0317034Z"}, "tags":
        {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "eastus2", "kind":
        "Managed", "identity": {"type": "SystemAssigned", "principalId": "5639e5e3-4c01-43d3-8d1e-51d2243194c1",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:9266b401-be71-4ec2-ac95-2266386a9636?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-15?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '2.762'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:9266b401-be71-4ec2-ac95-2266386a9636?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:9266b401-be71-4ec2-ac95-2266386a9636",
        "name": "oe:3d827bef-f8dd-42ec-9642-90d023998bd9:9266b401-be71-4ec2-ac95-2266386a9636",
        "startTime": "2022-04-29T00:30:26.396798Z", "endTime": "2022-04-29T00:30:48.4021383Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.042'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-15/deployments?api-version=0000-00-00
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.122'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-15?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:68928cc8-fc48-45de-900b-92467d069495?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:68928cc8-fc48-45de-900b-92467d069495?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.115'
    status:
      code: 202
      message: Accepted
version: 1
