interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/taji-westus3/onlineEndpoints/test-onl-endpt-000005-19v2''
        under resource group ''taji-westus3'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3",
        "name": "taji-westus3", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus3", "tags": {}, "etag": null, "properties": {"friendlyName":
        "taji-westus3", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Storage/storageAccounts/tajiwestus30569746174",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Keyvault/vaults/tajiwestus36684028948",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.insights/components/tajiwestus33514131373",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "v1LegacyMode":
        false, "softDeleteEnabled": true, "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/8d7aa2f058834569af1cb9c5ee0dd163",
        "notebookInfo": {"resourceId": "ff68bdb34340492b9543727c7645b9eb", "fqdn":
        "ml-taji-westus3-westus3-8d7aa2f0-5883-4569-af1c-b9c5ee0dd163.westus2.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "8d7aa2f0-5883-4569-af1c-b9c5ee0dd163", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://westus3.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3",
        "sdkTelemetryAppInsightsKey": "3c3a4870-ec7e-4790-8faa-fa109dddf062", "sasGetterUri":
        ""}, "identity": {"type": "SystemAssigned", "principalId": "8cd53445-87a3-4adf-9ddf-4da75085f21b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "sku": {"name": "Basic",
        "tier": "Basic"}, "systemData": {"createdAt": "2022-10-01T00:27:41.9970376Z",
        "createdBy": "tajiharris@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-10-01T00:27:41.9970376Z", "lastModifiedBy": "tajiharris@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.019'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "westus3",
      "identity": {"type": "SystemAssigned"}, "properties": {"authMode": "AMLToken",
      "description": "some description", "properties": {}, "mirrorTraffic": {}, "traffic":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/onlineEndpoints/test-onl-endpt-000005-19v2",
        "name": "test-onl-endpt-000005-19v2", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints",
        "properties": {"description": "some description", "properties": {"azureml.onlineendpointid":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-westus3/providers/microsoft.machinelearningservices/workspaces/taji-westus3/onlineendpoints/test-onl-endpt-000005-19v2",
        "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4?api-version=2022-02-01-preview"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AMLToken", "provisioningState":
        "Creating", "compute": null, "traffic": {}, "mirrorTraffic": {}, "publicNetworkAccess":
        "Enabled"}, "systemData": {"createdAt": "2022-10-01T02:11:56.8406789+00:00",
        "createdBy": "Taji Harris", "lastModifiedAt": "2022-10-01T02:11:56.840679+00:00"},
        "tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "westus3",
        "kind": "Managed", "identity": {"type": "SystemAssigned", "principalId": "e4889c3c-5869-4e2e-b9f4-1dc231626800",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-westus3/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/onlineEndpoints/test-onl-endpt-000005-19v2?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-westus3-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.837'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4",
        "name": "oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4",
        "startTime": "2022-10-01T02:11:56.7260962+00:00", "percentComplete": 0.0,
        "status": "Updating"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.086'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4",
        "name": "oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4",
        "startTime": "2022-10-01T02:11:56.7260962+00:00", "endTime": "2022-10-01T02:13:27.2682863+00:00",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.042'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2/deployments/mock-deployment?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/taji-westus3/onlineEndpoints/test-onl-endpt-000005-19v2/deployments/test-onl-mgr-dep-000011-19v2''
        under resource group ''taji-westus3'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "tajiwestus30569746174", "containerName": "azureml-blobstore-8d7aa2f0-5883-4569-af1c-b9c5ee0dd163",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2022-10-01T00:27:58.1842973+00:00",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2022-10-01T00:27:59.0488681+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.101'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "bb8fce543c266125b6a3eab8b95dacb5cc4ccac92fd767bbebef5a2afd2f492b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.223'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 01 Oct 2022 02:13:27 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/onlinescoring/score.py
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DAA34522D8ECD3"'
      last-modified:
      - Sat, 01 Oct 2022 00:37:35 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 01 Oct 2022 00:37:35 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - 8f99be24-0f03-48c9-a045-415f3fe7402e
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 01 Oct 2022 02:13:28 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/onlinescoring/score.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"properties": {"properties": {"hash_sha256": "89bf629a45030b47ba1c08e94308d8e580e8a0f5e73907bea99eff9cf2d4b401",
      "hash_version": "202208"}, "isAnonymous": true, "isArchived": false, "codeUri":
      "https://tajiwestus30569746174.blob.core.windows.net/azureml-blobstore-8d7aa2f0-5883-4569-af1c-b9c5ee0dd163/LocalUpload/e84ef8158d8d530d910e13b9a9685a0a/onlinescoring"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
 [...]
- request:
    body: '{"properties": {"isAnonymous": false, "isArchived": false, "condaFile":
      "channels:\n- conda-forge\ndependencies:\n- python=3.6.1\n- numpy=1.19.4\n-
      pip=21.2.4\n- scikit-learn=0.19.1\n- scipy=1.5.1\n- pip:\n  - azureml-defaults==1.33.0\n  -
      inference-schema[numpy-support]==1.3.0\n  - joblib==1.0.1\n  - numpy==1.19.4\n  -
      scikit-learn==0.19.1\n  - scipy==1.5.1\nname: model-env\n", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/environments/online-endpoint-mir-test/versions/3?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/environments/online-endpoint-mir-test/versions/3",
        "name": "3", "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "environmentType": "UserCreated", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1",
        "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\":
        [\n    \"python=3.6.1\",\n    \"numpy=1.19.4\",\n    \"pip=21.2.4\",\n    \"scikit-learn=0.19.1\",\n    \"scipy=1.5.1\",\n    {\n      \"pip\":
        [\n        \"azureml-defaults==1.33.0\",\n        \"inference-schema[numpy-support]==1.3.0\",\n        \"joblib==1.0.1\",\n        \"numpy==1.19.4\",\n        \"scikit-learn==0.19.1\",\n        \"scipy==1.5.1\"\n      ]\n    }\n  ],\n  \"name\":
        \"model-env\"\n}", "osType": "Linux"}, "systemData": {"createdAt": "2022-10-01T00:37:37.6751355+00:00",
        "createdBy": "Taji Harris", "createdByType": "User", "lastModifiedAt": "2022-10-01T00:37:37.6751355+00:00",
        "lastModifiedBy": "Taji Harris", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-westus3/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/environments/online-endpoint-mir-test/versions/3?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus3-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.924'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 01 Oct 2022 02:13:31 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/sklearn_regression_model.pkl
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DAA34536F5F55F"'
      last-modified:
      - Sat, 01 Oct 2022 00:38:09 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 01 Oct 2022 00:38:09 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - mir_test_model
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"properties": {}, "tags": {}, "isAnonymous": false, "isArchived":
      false, "modelType": "custom_model", "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-westus3/workspaces/taji-westus3/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/models/00000000-0000-0000-0000-000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/models/mir_test_model/versions/1",
        "name": "1", "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "flavors": {}, "modelType": "custom_model", "modelUri":
        "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/workspaces/taji-westus3/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl",
        "jobName": null}, "systemData": {"createdAt": "2022-10-01T00:38:10.5022427+00:00",
        "createdBy": "Taji Harris", "createdByType": "User", "lastModifiedAt": "2022-10-01T02:13:34.2643427+00:00",
        "lastModifiedBy": "Taji Harris", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.482'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "location": "westus3", "properties": {"codeConfiguration":
      {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-westus3/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/codes/8f99be24-0f03-48c9-a045-415f3fe7402e/versions/1",
      "scoringScript": "score.py"}, "description": "description for online deployment",
      "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-westus3/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/environments/online-endpoint-mir-test/versions/3",
      "environmentVariables": {}, "properties": {}, "appInsightsEnabled": false, "endpointComputeType":
      "Managed", "instanceType": "Standard_DS2_V2", "model": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-westus3/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/models/mir_test_model/versions/1",
      "privateNetworkConnection": false, "scaleSettings": {"scaleType": "Default"}},
      "sku": {"name": "Default", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2/deployments/mock-deployment?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/provide[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/od:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:471d4d31-b518-427d-95df-2dcefdf71d09?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/od:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:471d4d31-b518-427d-95df-2dcefdf71d09",
        "name": "od:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:471d4d31-b518-427d-95df-2dcefdf71d09",
        "startTime": "2022-10-01T02:13:36.5596357+00:00", "percentComplete": 0.0,
        "status": "Updating"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.101'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2/deployments?api-version=0000-00-00
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/onlineEndpoints/test-onl-endpt-000005-19v2/deployments/test-onl-mgr-dep-000011-19v2",
        "name": "test-onl-mgr-dep-000011-19v2", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints/deployments",
        "properties": {"description": "description for online deployment", "properties":
        {"AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/od:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:471d4d31-b518-427d-95df-2dcefdf71d09?api-version=2022-02-01-preview"},
        "codeConfiguration": {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/codes/8f99be24-0f03-48c9-a045-415f3fe7402e/versions/1",
        "scoringScript": "score.py"}, "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/environments/online-endpoint-mir-test/versions/3",
        "environmentVariables": {}, "scaleSettings": {"scaleType": "Default"}, "requestSettings":
        {"maxQueueWait": "PT0S", "requestTimeout": "PT5S", "maxConcurrentRequestsPerInstance":
        1}, "modelMountPath": null, "appInsightsEnabled": false, "livenessProbe":
        {"failureThreshold": 30, "successThreshold": 1, "timeout": "PT2S", "period":
        "PT10S", "initialDelay": "PT10S"}, "readinessProbe": {"failureThreshold":
        30, "successThreshold": 1, "timeout": "PT2S", "period": "PT10S", "initialDelay":
        "PT10S"}, "provisioningState": "Succeeded", "instanceType": "Standard_DS2_V2",
        "model": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-westus3/models/mir_test_model/versions/1",
        "privateNetworkConnection": false, "egressPublicNetworkAccess": "Enabled",
        "endpointComputeType": "Managed"}, "systemData": {"createdAt": "2022-10-01T02:13:36.5659487+00:00",
        "createdBy": "Taji Harris", "lastModifiedAt": "2022-10-01T02:13:36.5659487+00:00"},
        "tags": {}, "location": "westus3", "kind": "Managed", "sku": {"name": "Default",
        "tier": "Standard", "capacity": 1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus3-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.251'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "westus3",
      "identity": {"type": "SystemAssigned"}, "properties": {"authMode": "AMLToken",
      "description": "some description", "properties": {"azureml.onlineendpointid":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-westus3/providers/microsoft.machinelearningservices/workspaces/taji-westus3/onlineendpoints/test-onl-endpt-000005-19v2",
      "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:6ec805ff-1be3-4c96-ba61-79fe89f04fb4?api-version=2022-02-01-preview"},
      "mirrorTraffic": {}, "publicNetworkAccess": "Enabled", "traffic": {"test-onl-mgr-dep-000011-19v2":
      100}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Machin[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-19v2?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationsStatus/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:b4f64ff4-4150-4b13-8ef6-0c9da1326ecd?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/mfeOperationResults/oe:8d7aa2f0-5883-4569-af1c-b9c5ee0dd163:b4f64ff4-4150-4b13-8ef6-0c9da1326ecd?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-westus3-01
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.137'
    status:
      code: 202
      message: Accepted
version: 1
