interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery
  response:
    body:
      string: '{"registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170", "registryName":
        "testFeed", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "centraluseuap", "regions": ["centraluseuap"], "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-master.experiments.azureml-test.net/", "registryFqdns": {"centraluseuap":
        {"uri": "https://3b513a6b-f110-4e7f-9ce3-472b5aa28170.registry.master.privatelink.api.azureml-test.ms"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.124'
    status:
      code: 200
      message: OK
version: 1
