interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/dsvm-test/discovery
  response:
    body:
      string: '{"registryId": "93595ad9-6099-4324-a067-a21a6c3fa6ba", "registryName":
        "dsvm-test", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "eastus", "regions": ["eastus"], "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "resourceGroup": "testrg", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-eastus.experiments.azureml.net/", "registryFqdns": {"eastus":
        {"uri": "https://eastus.api.azureml.ms"}}, "intellectualPropertyPublisher":
        null, "isTradeRestricted": false}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 42470802-8066-4e8e-9898-6cac1377593f
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.022'
    status:
      code: 200
      message: OK
version: 1
