interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/main/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "mainstorage9c05dabf5c924", "containerName": "azureml-blobstore-54887b46-3cb0-485b-bb15-62e7b5578ee6",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2021-10-04T20:10:30.5073114Z",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2021-10-04T20:10:31.4975497Z", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.136'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "e5634147a72a6c0dffd472b5d67f529f474f639a70bcdd8599560789ad602b11"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.137'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Jul 2022 01:38:30 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/COMPONENT_PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA01FE248F78E2"'
      last-modified:
      - Wed, 09 Mar 2022 18:53:47 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 09 Mar 2022 18:53:47 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - 9bdc4215-c3ba-4d9f-8df7-4389fb30fa83
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 26 Jul 2022 01:38:32 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/COMPONENT_PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"properties": {"isAnonymous": true, "isArchived": false, "codeUri": "https://mainstorage9c05dabf5c924.blob.core.windows.net/azureml-blobstore-54887b46-3cb0-485b-bb15-62e7b5578ee6/LocalUpload/3068a0731a9a1fd369455aa62be92b23"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/main/codes/9bdc4215-c3ba-4d9[...]
- request:
    body: '{"properties": {"description": "This is the basic command component", "properties":
      {}, "tags": {"tag": "tagvalue", "owner": "sdkteam"}, "isAnonymous": false, "isArchived":
      false, "componentSpec": {"name": "microsoftsamples_command_component_basic",
      "description": "This is the basic command component", "tags": {"tag": "tagvalue",
      "owner": "sdkteam"}, "version": "0.0.1", "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
      "display_name": "CommandComponentBasic", "is_deterministic": true, "inputs":
      {"component_in_number": {"type": "number", "optional": true, "default": "10.99",
      "description": "A number"}, "component_in_path": {"type": "uri_folder", "description":
      "A path"}}, "outputs": {"component_out_path": {"type": "uri_folder"}}, "type":
      "command", "command": "echo Hello World & echo $[[${{inputs.component_in_number}}]]
      & echo ${{inputs.component_in_path}} & echo ${{outputs.component_out_path}}
      > ${{outputs.component_out_path}}/component_in_number", "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azureml-examples/providers/Microsoft.MachineLearningServices/workspaces/main/codes/9bdc4215-c3ba-4d9f-8df7-4389fb30fa83/versions/1",
      "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azureml-examples/providers/Microsoft.MachineLearningServices/workspaces/main/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/components[...]
[...]
