interactions:
- request:
    body: '{"properties": {"isAnonymous": true, "isArchived": false, "codeUri": "git+https://github.com/varndorfer/test-git-snapshot-public.git@testBranch&subdirectory=subdirectory"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/2d9366c8-0759-4949-80b6-7a115c571f08/versions/1",
        "name": "1", "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "codeUri": "git+https://github.com/varndorfer/test-git-snapshot-public.git@testBranch&subdirectory=subdirectory"},
        "systemData": {"createdAt": "2022-06-14T19:14:55.1386151Z", "createdBy": "Nancy
        Mejia Juarez", "createdByType": "User", "lastModifiedAt": "2022-06-14T19:14:55.1386172Z",
        "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/2d9366c8-0759-4949-80b6-7a115c571f08/versions/1?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '6.211'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/components/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/components/test_component_000012",
        "name": "test_component_000012", "type": "Microsoft.MachineLearningServices/workspaces/components",
        "properties": {"description": "", "tags": {}, "properties": {}, "isArchived":
        false, "latestVersion": null, "nextVersion": "2022-06-14-19-14-55-5410386"},
        "systemData": {"createdAt": "2022-06-14T19:08:43.2928277Z", "lastModifiedAt":
        "2022-06-14T19:08:43.4824445Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.152'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"properties": {}, "tags": {}, "isAnonymous": false, "isArchived":
      false, "componentSpec": {"$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
      "name": "test_component_000012", "display_name": "test_component_000012", "tags":
      {}, "is_deterministic": true, "inputs": {}, "outputs": {"output_path": {"type":
      "uri_folder"}}, "type": "command", "command": "echo ${{outputs.output_path}}",
      "code": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/2d9366c8-0759-4949-80b6-7a115c571f08/versions/1",
      "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/AzureML-Minimal/versions/2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/components/000000000000000/versions/2022-06-14-19-14-55-5410386?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/components/test_component_000012/versions/2022-06-14-19-14-55-5410386",
        "name": "2022-06-14-19-14-55-5410386", "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "componentSpec": {"name": "test_component_000012",
        "version": "2022-06-14-19-14-55-5410386", "display_name": "test_component_000012",
        "is_deterministic": "True", "type": "command", "outputs": {"output_path":
        {"type": "uri_folder"}}, "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/2d9366c8-0759-4949-80b6-7a115c571f08/versions/1",
        "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/AzureML-Minimal/versions/2",
        "resources": {"instance_count": "1"}, "command": "echo ${{outputs.output_path}}",
        "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json"}},
        "systemData": {"createdAt": "2022-06-14T19:14:56.8039847Z", "createdBy": "Nancy
        Mejia Juarez", "createdByType": "User", "lastModifiedAt": "2022-06-14T19:14:56.9697119Z",
        "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/components/test_component_000012/versions/2022-06-14-19-14-55-5410386?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.406'
    status:
      code: 201
      message: Created
version: 1
