interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/dsvm-test/discovery
  response:
    body:
      string: '{"registryId": "0b6229f6-570d-4378-aa08-158500c5638b", "registryName":
        "dsvm-test", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "eastus", "regions": ["eastus"], "subscriptionId": "b17253fa-f327-42d6-9686-f3e553e24763",
        "resourceGroup": "dsvm_master", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-eastus.experiments.azureml.net/", "registryFqdns": {"eastus":
        {"uri": "https://0b6229f6-570d-4378-aa08-158500c5638b.registry.eastus.privatelink.api.azureml.ms"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.022'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cert-eastus.experiments.azureml.net/mferp/managementfrontend/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/dsvm-test/models/b17253fa-f327-42d6-9686-f3e553e24763/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "azureml://registries/dsvm-test/models/model_version_e2e/versions/1",
        "name": "model_version_e2e", "type": "models", "properties": {"description":
        "this is my test model", "tags": {"foo": "bar", "abc": "123"}, "properties":
        {}, "isArchived": false, "isAnonymous": false, "flavors": {"sklearn": {"data":
        {"sklearn_version": "0.23.2"}}, "python_function": {"data": {"loader_module":
        "office.plrmodel", "python_version": "3.8.5"}}}, "modelType": "mlflow_model",
        "modelUri": "https://dsvmt82c5603a18b5479cbe7.blob.core.windows.net/dsvm-test-daa68f65-8eb2-5f60-ae02-24f520981c7a/lightgbm_mlflow_model",
        "originAssetId": null, "jobName": null}, "systemData": {"createdAt": "2022-10-19T23:31:15.1514204+00:00",
        "createdBy": "Banibrata De", "createdByType": "User", "lastModifiedAt": "2022-10-19T23:31:14.6292742+00:00",
        "lastModifiedBy": "Banibrata De", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.090'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "this is my test model", "properties": {},
      "tags": {"foo": "bar", "abc": "123"}, "isAnonymous": false, "isArchived": true,
      "flavors": {"sklearn": {"data": {"sklearn_version": "0.23.2"}}, "python_function":
      {"data": {"loader_module": "office.plrmodel", "python_version": "3.8.5"}}},
      "modelType": "mlflow_model", "modelUri": "https://dsvmt82c5603a18b5479cbe7.blob.core.windows.net/dsvm-test-daa68f65-8eb2-5f60-ae02-24f520981c7a/lightgbm_mlflow_model"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cert-eastus.experiments.azureml.net/mferp/managementfrontend/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/dsvm-test/models/b17253fa-f327-42d6-9686-f3e553e24763/versions/1?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus.api.azureml.ms/assetstore/v1.0/operations/i3I_xeObAEBWXwGMxgflTJY0oxPP3TzNubj3LcUGvXk
      x-aml-cluster:
      - vienna-eastus-01
      x-ms-async-operation-timeout:
      - PT1H
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.362'
    status:
      code: 202
      message: Accepted
version: 1
