interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws",
        "name": "namejia-ws", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus", "tags": {}, "etag": null, "properties": {"friendlyName":
        "namejia-ws", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.storage/storageaccounts/namejiaws5493561751",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.keyvault/vaults/namejiaws0093802117",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.insights/components/namejiaws9945639304",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "containerRegistry":
        null, "notebookInfo": {"resourceId": "bf94385dbfda46afa367e4bf14cc66a3", "fqdn":
        "ml-namejia-ws-westus-f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://westus.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws",
        "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0", "sasGetterUri":
        null}, "identity": {"type": "SystemAssigned", "principalId": "57bf5faf-11ee-4597-9faf-968d4ca2967e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "sku": {"name": "Basic",
        "tier": "Basic"}, "systemData": {"createdAt": "2022-05-10T16:52:35.1515386Z",
        "createdBy": "namejia@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-05-10T16:52:35.1515386Z", "lastModifiedBy": "namejia@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.016'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"authMode": "aadToken",
      "description": "my sample batch endpoint", "properties": {"p1": "v1", "p2":
      "v2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/batchEndpoints/test-batch-ept-1223423-41?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/batchEndpoints/test-batch-ept-1223423-41",
        "name": "test-batch-ept-1223423-41", "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {"description": "my sample batch endpoint", "properties": {"p1":
        "v1", "p2": "v2", "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:76d32f54-3241-4f07-a537-b68e80c29c76?api-version=2022-05-01"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AADToken", "defaults":
        {"deploymentName": null}, "provisioningState": "Creating"}, "systemData":
        {"createdAt": "2022-05-10T22:29:58.7584219Z", "createdBy": "Nancy Mejia Juarez",
        "lastModifiedAt": "2022-05-10T22:29:58.7584225Z"}, "tags": {}, "location":
        "westus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:76d32f54-3241-4f07-a537-b68e80c29c76?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/batchEndpoints/test-batch-ept-1223423-41?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.424'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:76d32f54-3241-4f07-a537-b68e80c29c76?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:76d32f54-3241-4f07-a537-b68e80c29c76",
        "name": "be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:76d32f54-3241-4f07-a537-b68e80c29c76",
        "startTime": "2022-05-10T22:29:58.5732398Z", "endTime": "2022-05-10T22:30:10.6339681Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.041'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "namejiaws5493561751", "containerName": "azureml-blobstore-f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2022-05-10T16:52:49.1017191Z",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2022-05-10T16:52:49.8688057Z", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.143'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "96cea2d0aa2ab97f7d15da3d666244402f287a8d79a2cab5b877b471ab88fe02"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.111'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 May 2022 22:30:31 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/endpoint_scoring/do_nothing.py
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA32D017AADFB0"'
      last-modified:
      - Tue, 10 May 2022 21:57:35 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 10 May 2022 21:57:35 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - 1a6f8a0a-8f1c-417c-8a43-36cdfc187642
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 May 2022 22:30:31 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/endpoint_scoring/do_nothing.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"properties": {"isAnonymous": true, "isArchived": false, "codeUri": "https://namejiaws5493561751.blob.core.windows.net/azureml-blobstore-f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef/LocalUpload/611357b17752d45a141612f5245a8649/endpoint_scoring"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
  resp[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 May 2022 22:30:33 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/sklearn_regression_model.pkl
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA32D019721672"'
      last-modified:
      - Tue, 10 May 2022 21:57:38 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 10 May 2022 21:57:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - model-1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '5'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"properties": {}, "tags": {}, "isAnonymous": false, "isArchived":
      false, "modelType": "custom_model", "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/workspaces/namejia-ws/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/models/00000000-0000-0000-0000-000000000000/versions/5?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/models/model-1/versions/5",
        "name": "5", "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "flavors": {}, "modelType": "custom_model", "modelUri":
        "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/workspaces/namejia-ws/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl",
        "jobName": null}, "systemData": {"createdAt": "2022-05-10T21:57:39.8935176Z",
        "createdBy": "Nancy Mejia Juarez", "createdByType": "User", "lastModifiedAt":
        "2022-05-10T22:30:34.4117533Z", "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType":
        "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.201'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"codeConfiguration":
      {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/1a6f8a0a-8f1c-417c-8a43-36cdfc187642/versions/1",
      "scoringScript": "./main.py"}, "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
      "environmentVariables": {"AZUREML_BE": "bla"}, "compute": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/computes/cpu-cluster",
      "errorThreshold": 10, "loggingLevel": "info", "maxConcurrencyPerInstance": 5,
      "miniBatchSize": 5, "model": {"referenceType": "Id", "assetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/models/model-1/versions/5"},
      "outputAction": "AppendRow", "outputFileName": "append_row.txt", "resources":
      {"instanceCount": 2, "properties": {}}, "retrySettings": {"maxRetries": 3, "timeout":
      "PT30S"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/batchEndpoints/test-batch-ept-1223423-41/deployments/deploy-0000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/0000000000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/bd:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:c803d584-7a25-47e1-98a3-70803e6aaa61?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/bd:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:c803d584-7a25-47e1-98a3-70803e6aaa61",
        "name": "bd:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:c803d584-7a25-47e1-98a3-70803e6aaa61",
        "startTime": "2022-05-10T22:30:36.2432991Z", "endTime": "2022-05-10T22:30:56.7500236Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.057'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:0c563ab5-7afc-4975-bd43-4329acb63d73?api-version=0000-00-00
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:0c563ab5-7afc-4975-bd43-4329acb63d73\",\n
        \ \"name\": \"be:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:0c563ab5-7afc-4975-bd43-4329acb63d73\",\n
        \ \"startTime\": \"2022-05-10T22:32:26.5905464Z\",\n  \"endTime\": \"2022-05-10T22:33:17.9435192Z\",\n
        \ \"percentComplete\": 100.0,\n  \"status\": \"Succeeded\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.046'
    status:
      code: 200
      message: OK
version: 1
