interactions:
- request:
    body: '{"properties": {"tags": {}, "credentials": {"credentialsType": "AccountKey",
      "secrets": {"secretsType": "AccountKey", "key": "REDACTEDVALUE"}}, "datastoreType":
      "AzureBlob", "accountName": "sdkvnextclidcdnrc7zb7xyy", "containerName": "testblob",
      "endpoint": "core.windows.net", "protocol": "https"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/testblobds000008?api-version=0000-00-00&skipValidation=true
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/kchawla-ws/datastores/testblobds000008",
        "name": "testblobds000008", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": {}, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "subscriptionId":
        null, "resourceGroup": null, "datastoreType": "AzureBlob", "accountName":
        "sdkvnextclidcdnrc7zb7xyy", "containerName": "testblob", "endpoint": "core.windows.net",
        "protocol": "https", "serviceDataAccessAuthIdentity": "None"}, "systemData":
        {"createdAt": "2026-06-11T23:40:51.9443397+00:00", "createdBy": "Lava Kumar
        Repala", "createdByType": "User", "lastModifiedAt": "2026-06-15T17:26:09.1171661+00:00",
        "lastModifiedBy": "Test User", "lastModifiedByType": "User"}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.761'
    status:
      code: 200
      message: OK
version: 1
