interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/jos-local/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "joslocal6979124150", "containerName": "azureml-blobstore-792ab1d7-6207-4f32-855b-cf0fa42085e7",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2022-07-08T18:26:16.7650952Z",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2022-07-08T18:26:17.7078602Z", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-test-westus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.837'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "11ecff7c74c503dc1a8e8fb234962d2cda2bd663e0e08fbc3e224cfc6e0c1e83"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-test-westus2-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.575'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Jul 2022 17:07:47 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/train/MLTable
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA6682D3B97CC2"'
      last-modified:
      - Fri, 15 Jul 2022 16:55:31 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 15 Jul 2022 16:55:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - 6b9f2690-5b76-4e68-a6c7-40b76c3de10b
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 4e03ca5f-d547-4750-9b9f-2a9935d55692
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Jul 2022 17:07:48 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/train/MLTable
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Jul 2022 17:07:48 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/valid/MLTable
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA6682D44CF4EA"'
      last-modified:
      - Fri, 15 Jul 2022 16:55:31 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 15 Jul 2022 16:55:31 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - 1f5997c6-d704-4544-84e0-0a29bfb914da
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - bd235c17-0136-46b9-8e8e-93362236758f
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"properties": {"mlflow.source.git.repoURL": "https://msdata.visualstudio.com/Vienna/_git/sdk-cli-v2",
      "mlflow.source.git.branch": "rdondera/automode_e2e_tests_cli", "mlflow.source.git.commit":
      "c0e8a080a9306207d520fa5b435fd648183f90b9", "azureml.git.dirty": "True"}, "tags":
      {}, "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rdondera-rg/providers/Microsoft.MachineLearningServices/workspaces/jos-local/computes/gpu-cluster",
      "displayName": "test-amlforimageclsmltlabeljob-000026-1", "experimentName":
      "automl-image-classification-multilabel-e2e-cli-test", "isArchived": false,
      "jobType": "AutoML", "outputs": {}, "taskDetails": {"dataSettings": {"targetColumnName":
      "label", "trainingData": {"data": {"uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/3d913f54596905081f844a3caac4bc34/train",
      "jobInputType": "MLTable"}}, "validationData": {"data": {"uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/09695fe94c6def97e46c2cd08c2f5e0e/valid",
      "jobInputType": "MLTable"}}}, "limitSettings": {"maxConcurrentTrials": 1, "maxTrials":
      2}, "logVerbosity": "Debug", "taskType": "ImageClassificationMultilabel", "primaryMetric":
      "IOU"}}}'
    headers:
      Content-Type:
      - application/json
      x-azureml-token:
      - <dummyToken>
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/jobs/test-amlforimageclsmltlabeljob-000026-1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/jos-local/jobs/test-amlforimageclsmltlabeljob-000026-1",
        "name": "test-amlforimageclsmltlabeljob-000026-1", "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {"description": null, "tags": {}, "properties": {"mlflow.source.git.repoURL":
        "https://msdata.visualstudio.com/Vienna/_git/sdk-cli-v2", "mlflow.source.git.branch":
        "rdondera/automode_e2e_tests_cli", "mlflow.source.git.commit": "c0e8a080a9306207d520fa5b435fd648183f90b9",
        "azureml.git.dirty": "True"}, "displayName": "test-amlforimageclsmltlabeljob-000026-1",
        "status": "NotStarted", "experimentName": "automl-image-classification-multilabel-e2e-cli-test",
        "services": {"Tracking": {"jobServiceType": "Tracking", "port": null, "endpoint":
        "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/jos-local?",
        "status": null, "errorMessage": null, "properties": null}, "Studio": {"jobServiceType":
        "Studio", "port": null, "endpoint": "https://ml.azure.com/runs/test-amlforimageclsmltlabeljob-000026-1?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rdondera-rg/workspaces/jos-local",
        "status": null, "errorMessage": null, "properties": null}}, "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/jos-local/computes/gpu-cluster",
        "isArchived": false, "schedule": null, "identity": null, "jobType": "AutoML",
        "resources": {"instanceCount": 1, "instanceType": null, "properties": null},
        "environmentId": null, "environmentVariables": null, "taskDetails": {"logVerbosity":
        "Debug", "limitSettings": {"maxTrials": 2, "maxConcurrentTrials": 1}, "dataSettings":
        {"targetColumnName": "label", "trainingData": {"data": {"description": null,
        "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/3d913f54596905081f844a3caac4bc34/train",
        "mode": "ReadOnlyMount", "jobInputType": "MLTable"}}, "testData": null, "validationData":
        {"data": {"description": null, "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/09695fe94c6def97e46c2cd08c2f5e0e/valid",
        "mode": "ReadOnlyMount", "jobInputType": "MLTable"}, "validationDataSize":
        null}}, "sweepSettings": null, "modelSettings": null, "searchSpace": null,
        "taskType": "ImageClassificationMultilabel", "primaryMetric": "IOU"}, "outputs":
        {}}, "systemData": {"createdAt": "2022-07-15T17:07:51.9092794Z", "createdBy":
        "Radu-Mihai Dondera", "createdByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rdondera-rg/providers/Microsoft.MachineLearningServices/workspaces/jos-local/jobs/test-amlforimageclsmltlabeljob-000026-1?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-test-westus2-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '3.051'
    status:
      code: 201
      message: Created
version: 1
