interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery
  response:
    body:
      string: '{"registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170", "registryName":
        "testFeed", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "centraluseuap", "regions": ["centraluseuap"], "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "resourceGroup": "test-registries", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-master.experiments.azureml-test.net/", "registryFqdns": {"centraluseuap":
        {"uri": "https://3b513a6b-f110-4e7f-9ce3-472b5aa28170.registry.master.api.azureml-test.ms"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.263'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/testFeed/components/000000000000000/versions/0.0.1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "azureml://registries/testFeed/components/HelloWorldRegistry/versions/0.0.1",
        "name": "0.0.1", "properties": {"description": null, "tags": {"tags1": "tags1"},
        "properties": {"properties1": "properties1"}, "isArchived": false, "isAnonymous":
        false, "componentSpec": {"name": "HelloWorldRegistry", "version": "0.0.1",
        "display_name": "HelloWorldRegistry", "is_deterministic": "True", "type":
        "command", "description": "A hello world component which reference a curated
        environment.", "tags": {"tags1": "tags1"}, "code": "azureml://registries/testFeed/codes/HelloWorld/versions/1",
        "environment": "azureml://registries/CuratedRegistry/environments/AzureML-minimal-ubuntu18.04-py37-cpu-inference/versions/34",
        "resources": {"instance_count": "1"}, "command": "python helloworld.py", "$schema":
        "http://azureml/sdk-2-0/CommandComponent.json"}}, "systemData": {"createdAt":
        "2022-03-30T20:31:22.4704462+00:00", "createdBy": "Jun Qi", "createdByType":
        "User", "lastModifiedAt": "2022-03-30T20:31:22.4704463+00:00", "lastModifiedBy":
        "Jun Qi", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-test-westus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.937'
    status:
      code: 200
      message: OK
version: 1
