interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-23?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/namejia-ws/onlineEndpoints/test-onl-endpt-000005-23''
        under resource group ''namejia-dev-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws",
        "name": "namejia-ws", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus", "tags": {}, "etag": null, "properties": {"friendlyName":
        "namejia-ws", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.storage/storageaccounts/namejiaws5493561751",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.keyvault/vaults/namejiaws0093802117",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.insights/components/namejiaws9945639304",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "containerRegistry":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/f73e08aedd244f928d4b2a4bf3b3a4ef",
        "acrSkuTier": "Basic", "notebookInfo": {"resourceId": "bf94385dbfda46afa367e4bf14cc66a3",
        "fqdn": "ml-namejia-ws-westus-f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://westus.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws",
        "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0", "sasGetterUri":
        null}, "identity": {"type": "SystemAssigned", "principalId": "57bf5faf-11ee-4597-9faf-968d4ca2967e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "sku": {"name": "Basic",
        "tier": "Basic"}, "systemData": {"createdAt": "2022-05-10T16:52:35.1515386Z",
        "createdBy": "namejia@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-05-10T16:52:35.1515386Z", "lastModifiedBy": "namejia@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.025'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "westus",
      "identity": {"type": "SystemAssigned"}, "properties": {"authMode": "AMLToken",
      "description": "some description", "properties": {}, "mirrorTraffic": {}, "traffic":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-23?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/onlineEndpoints/test-onl-endpt-000005-23",
        "name": "test-onl-endpt-000005-23", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints",
        "properties": {"description": "some description", "properties": {"azureml.onlineendpointid":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.machinelearningservices/workspaces/namejia-ws/onlineendpoints/test-onl-endpt-000005-23",
        "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:e29b2d87-7e58-4071-9f9f-c6e2481f6d5f?api-version=2022-02-01-preview"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AMLToken", "provisioningState":
        "Creating", "compute": null, "traffic": {}, "mirrorTraffic": {}, "publicNetworkAccess":
        "Enabled"}, "systemData": {"createdAt": "2022-06-29T18:22:38.9172484Z", "createdBy":
        "Nancy Mejia Juarez", "lastModifiedAt": "2022-06-29T18:22:38.9172487Z"}, "tags":
        {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "westus", "kind":
        "Managed", "identity": {"type": "SystemAssigned", "principalId": "1bc58214-2c74-4440-8158-065beeebb10c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:e29b2d87-7e58-4071-9f9f-c6e2481f6d5f?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/onlineEndpoints/test-onl-endpt-000005-23?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-westus-01
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '3.756'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:e29b2d87-7e58-4071-9f9f-c6e2481f6d5f?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:e29b2d87-7e58-4071-9f9f-c6e2481f6d5f",
        "name": "oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:e29b2d87-7e58-4071-9f9f-c6e2481f6d5f",
        "startTime": "2022-06-29T18:22:38.7691069Z", "endTime": "2022-06-29T18:22:59.262688Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.170'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-23/deployments/deploy-0000000?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/namejia-ws/onlineEndpoints/test-onl-endpt-000005-23/deployments/test-onl-mgr-dep-000011-23''
        under resource group ''namejia-dev-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"isAnonymous": false, "isArchived": false, "condaFile":
      "name: model-env\nchannels:\n- conda-forge\ndependencies:\n- python=3.6.1\n-
      numpy=1.19.4\n- pip=21.2.4\n- scikit-learn=0.19.1\n- scipy=1.5.1\n- pip:\n  -
      azureml-defaults==1.33.0\n  - inference-schema[numpy-support]==1.3.0\n  - joblib==1.0.1\n  -
      numpy==1.19.4\n  - scikit-learn==0.19.1\n  - scipy==1.5.1\n", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/environments/online-endpoint-mir-test/versions/3?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/online-endpoint-mir-test/versions/3",
        "name": "3", "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "environmentType": "UserCreated", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1",
        "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\":
        [\n    \"python=3.6.1\",\n    \"numpy=1.19.4\",\n    \"pip=21.2.4\",\n    \"scikit-learn=0.19.1\",\n    \"scipy=1.5.1\",\n    {\n      \"pip\":
        [\n        \"azureml-defaults==1.33.0\",\n        \"inference-schema[numpy-support]==1.3.0\",\n        \"joblib==1.0.1\",\n        \"numpy==1.19.4\",\n        \"scikit-learn==0.19.1\",\n        \"scipy==1.5.1\"\n      ]\n    }\n  ],\n  \"name\":
        \"model-env\"\n}", "osType": "Linux"}, "systemData": {"createdAt": "2022-05-10T23:13:59.3896622Z",
        "createdBy": "Nancy Mejia Juarez", "createdByType": "User", "lastModifiedAt":
        "2022-05-10T23:13:59.3896622Z", "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType":
        "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/online-endpoint-mir-test/versions/3?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.949'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "namejiaws5493561751", "containerName": "azureml-blobstore-f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2022-05-10T16:52:49.1017191Z",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2022-05-10T16:52:49.8688057Z", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.117'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "96cea2d0aa2ab97f7d15da3d666244402f287a8d79a2cab5b877b471ab88fe02"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.186'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 29 Jun 2022 18:23:15 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/sklearn_regression_model.pkl
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA32D019721672"'
      last-modified:
      - Tue, 10 May 2022 21:57:38 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 10 May 2022 21:57:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - model-1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '5'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 29 Jun 2022 18:23:15 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/sklearn_regression_model.pkl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"properties": {"properties": {}, "tags": {}, "isAnonymous": false, "isArchived":
      false, "modelType": "custom_model", "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/workspaces/namejia-ws/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/models/00000000-0000-0000-0000-000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/models/mir_test_model/versions/1",
        "name": "1", "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "flavors": {}, "modelType": "custom_model", "modelUri":
        "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/workspaces/namejia-ws/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl",
        "jobName": null}, "systemData": {"createdAt": "2022-05-10T23:14:13.8813526Z",
        "createdBy": "Nancy Mejia Juarez", "createdByType": "User", "lastModifiedAt":
        "2022-06-29T18:23:16.2072571Z", "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType":
        "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.595'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"codeConfiguration":
      {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/82ffabb8-ea16-4f6b-85b4-88df37bd44f8/versions/1",
      "scoringScript": "score.py"}, "description": "description for online deployment",
      "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/online-endpoint-mir-test/versions/3",
      "environmentVariables": {}, "properties": {}, "appInsightsEnabled": false, "endpointComputeType":
      "Managed", "instanceType": "Standard_DS2_V2", "model": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/models/mir_test_model/versions/1",
      "privateNetworkConnection": false, "scaleSettings": {"scaleType": "Default"}},
      "sku": {"name": "Default", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-23/deployments/deploy-0000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/od:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:079492ed-571a-4622-a550-8eba3b322e69?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/od:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:079492ed-571a-4622-a550-8eba3b322e69",
        "name": "od:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:079492ed-571a-4622-a550-8eba3b322e69",
        "startTime": "2022-06-29T18:23:19.9338361Z", "percentComplete": 0.0, "status":
        "Updating"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.083'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-23/deployments?api-version=0000-00-00
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/onlineEndpoints/test-onl-endpt-000005-23/deployments/test-onl-mgr-dep-000011-23",
        "name": "test-onl-mgr-dep-000011-23", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints/deployments",
        "properties": {"description": "description for online deployment", "properties":
        {"AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/od:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:079492ed-571a-4622-a550-8eba3b322e69?api-version=2022-02-01-preview"},
        "codeConfiguration": {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/82ffabb8-ea16-4f6b-85b4-88df37bd44f8/versions/1",
        "scoringScript": "score.py"}, "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/online-endpoint-mir-test/versions/3",
        "environmentVariables": {}, "scaleSettings": {"scaleType": "Default"}, "requestSettings":
        {"maxQueueWait": "PT0S", "requestTimeout": "PT5S", "maxConcurrentRequestsPerInstance":
        1}, "modelMountPath": null, "appInsightsEnabled": false, "livenessProbe":
        {"failureThreshold": 30, "successThreshold": 1, "timeout": "PT2S", "period":
        "PT10S", "initialDelay": "PT10S"}, "readinessProbe": {"failureThreshold":
        30, "successThreshold": 1, "timeout": "PT2S", "period": "PT10S", "initialDelay":
        "PT10S"}, "provisioningState": "Succeeded", "instanceType": "Standard_DS2_V2",
        "model": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/models/mir_test_model/versions/1",
        "privateNetworkConnection": false, "egressPublicNetworkAccess": "Enabled",
        "endpointComputeType": "Managed"}, "systemData": {"createdAt": "2022-06-29T18:23:19.9779847Z",
        "createdBy": "Nancy Mejia Juarez", "lastModifiedAt": "2022-06-29T18:23:19.9779847Z"},
        "tags": {}, "location": "westus", "kind": "Managed", "sku": {"name": "Default",
        "tier": "Standard", "capacity": 1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-westus-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.437'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-23?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:52ec6091-c214-4cd3-8344-d2d529b66966?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/oe:f73e08ae-dd24-4f92-8d4b-2a4bf3b3a4ef:52ec6091-c214-4cd3-8344-d2d529b66966?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-westus-01
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.364'
    status:
      code: 202
      message: Accepted
version: 1
