interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/test-cli-reg/discovery
  response:
    body:
      string: '{"registryId": "19702245-42e3-4d53-8efa-0e48981ddafc", "registryName":
        "test-cli-reg", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "primaryRegion":
        "westcentralus", "regions": ["westcentralus"], "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "resourceGroup": "test-cli-rg", "workspaceName": null, "primaryRegionResourceProviderUri":
        "https://cert-westcentralus.experiments.azureml.net/", "registryFqdns": {"westcentralus":
        {"uri": "https://westcentralus.api.azureml.ms"}}, "intellectualPropertyPublisher":
        null, "isTradeRestricted": false}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0a44ff6b-0a31-4de3-9480-88b5c5394fe4
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.018'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg?api-version=0000-00-00
  response:
    body:
      string: '{"tags": {}, "location": "westcentralus", "identity": {"type": "SystemAssigned",
        "principalId": "e28d3888-18c2-4a47-8d9b-8594b8c346dc", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg",
        "name": "test-cli-reg", "type": "Microsoft.MachineLearningServices/registries",
        "properties": {"registryId": "19702245-42e3-4d53-8efa-0e48981ddafc", "regionDetails":
        [{"location": "westcentralus", "storageAccountDetails": [{"userCreatedStorageAccount":
        null, "systemCreatedStorageAccount": {"storageAccountName": "d0d8b16cc3e",
        "storageAccountType": "standard_lrs", "storageAccountHnsEnabled": false, "armResourceId":
        {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Storage/storageAccounts/d0d8b16cc3e"}}}],
        "acrDetails": [{"userCreatedAcrAccount": null, "systemCreatedAcrAccount":
        {"acrAccountName": "0b615d9d977", "acrAccountSku": "Premium", "armResourceId":
        {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/0b615d9d977"}}}]}],
        "intellectualPropertyPublisher": null, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://westcentralus.api.azureml.ms/registrymanagement/v1.0/registries/test-cli-reg/discovery",
        "managedResourceGroup": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000"},
        "mlFlowRegistryUri": "azureml://westcentralus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg",
        "privateEndpointConnections": [], "managedResourceGroupSettings": null, "syndicatedRegistries":
        []}, "systemData": null}'
    headers:
      azureml-served-by-cluster:
      - vienna-westcentralus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.016'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.azureml.ms/genericasset/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg/deploymenttemplates/test-deployment-template/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"type": "deploymenttemplates", "name": "test-deployment-template",
        "stage": "Development", "version": "1", "id": "azureml://registries/test-cli-reg/deploymenttemplates/test-deployment-template/versions/1",
        "description": "Updated_description_for_deployment_template_testing", "createdBy":
        {"userObjectId": "7b119936-993f-49c4-adcf-31b1c1caa15b", "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "userName": "Lava Kumar Repala"}, "capabilities": [], "createdTime": "2026-06-11T23:19:56.0823465+00:00",
        "modifiedTime": "2026-06-11T23:20:17.4275804+00:00", "tags": {"stage": "Open",
        "environment": "test", "updated": "True"}, "deploymentTemplateType": "Managed",
        "environmentId": "azureml://registries/kchawla-reg/environments/kchawla-environment/versions/1",
        "environmentVariables": {"MODEL_BASE_PATH": "/var/azureml-app/azureml-models/tfs-model1/1",
        "MODEL_NAME": "half_plus_two", "ENABLE_INFERENCESERVER_DIAGNOSTICSLOG_AML_VISIBILITY":
        "True"}, "modelMountPath": "/var/azureml-app", "requestSettings": {"requestTimeout":
        "PT6S", "maxConcurrentRequestsPerInstance": 2}, "livenessProbe": {"initialDelay":
        "PT5M", "period": "PT10S", "timeout": "PT2S", "failureThreshold": 30, "successThreshold":
        1, "path": "/v1/models/half_plus_two", "port": 8501, "scheme": "HTTP", "httpMethod":
        "GET"}, "readinessProbe": {"initialDelay": "PT5M", "period": "PT10S", "timeout":
        "PT2S", "failureThreshold": 30, "successThreshold": 1, "path": "/v1/models/half_plus_two",
        "port": 8501, "scheme": "HTTP", "httpMethod": "GET"}, "allowedInstanceTypes":
        ["Standard_DS3_v2", "Standard_DS4_v2"], "defaultInstanceType": "Standard_DS3_v2",
        "instanceCount": 3, "scoringPath": "/v1/models/half_plus_two:predict", "scoringPort":
        8501}'
    headers:
      azureml-served-by-cluster:
      - vienna-westcentralus-01
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 917e07ab-30b6-4eca-b682-26d885d34c84
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.069'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"stage": "Development", "description": "Updated_description_for_deployment_template_testing",
      "tags": {"stage": "Open", "environment": "test", "updated": "True", "author":
      "test-automation", "project": "cli-testing", "iteration": "second-update", "validated":
      "True"}, "deploymentTemplateType": "Managed", "environmentId": "azureml://registries/kchawla-reg/environments/kchawla-environment/versions/1",
      "environmentVariables": {"MODEL_BASE_PATH": "/var/azureml-app/azureml-models/tfs-model1/1",
      "MODEL_NAME": "half_plus_two", "ENABLE_INFERENCESERVER_DIAGNOSTICSLOG_AML_VISIBILITY":
      "True"}, "modelMountPath": "/var/azureml-app", "requestSettings": {"requestTimeout":
      "PT6S", "maxConcurrentRequestsPerInstance": 2}, "livenessProbe": {"initialDelay":
      "PT5M", "period": "PT10S", "timeout": "PT2S", "failureThreshold": 30, "successThreshold":
      1, "path": "/v1/models/half_plus_two", "port": 8501, "scheme": "HTTP", "httpMethod":
      "GET"}, "readinessProbe": {"initialDelay": "PT5M", "period": "PT10S", "timeout":
      "PT2S", "failureThreshold": 30, "successThreshold": 1, "path": "/v1/models/half_plus_two",
      "port": 8501, "scheme": "HTTP", "httpMethod": "GET"}, "allowedInstanceTypes":
      ["Standard_DS3_v2", "Standard_DS4_v2"], "defaultInstanceType": "Standard_DS3_v2",
      "instanceCount": 3, "scoringPath": "/v1/models/half_plus_two:predict", "scoringPort":
      8501, "type": "deploymenttemplates"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.azureml.ms/genericasset/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/registries/test-cli-reg/test-deployment-template/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"location": "https://westcentralus.api.azureml.ms:443/assetstore/v1.0/operations/qRZoJVeGvAXkB_xzqIboIBvB0HTfxP3cqbTzGK8157A"}'
    headers:
      azureml-served-by-cluster:
      - vienna-westcentralus-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://westcentralus.api.azureml.ms/assetstore/v1.0/operations/qRZoJVeGvAXkB_xzqIboIBvB0HTfxP3cqbTzGK8157A
      mise-correlation-id:
      - fd03989c-66eb-410c-8ecd-9c5855da4723
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.477'
    status:
      code: 202
      message: Accepted
version: 1
