interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/test-ws-000006_full''
        under resource group ''joharrin-sdk-tests'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"workspaceName": {"type": "string",
      "metadata": {"description": "Specifies the name of the Azure Machine Learning
      workspace."}}, "description": {"type": "string", "metadata": {"description":
      "Description string."}}, "friendlyName": {"type": "string", "metadata": {"description":
      "Friendly name."}}, "kind": {"type": "string", "defaultValue": "Default", "metadata":
      {"description": "Specifies the Kind of the workspace."}}, "location": {"type":
      "string", "metadata": {"description": "Specifies the location for all resources."}},
      "resourceGroupName": {"type": "string", "metadata": {"description": "Specifies
      the resource group name of the Azure Machine Learning workspace."}}, "storageAccountOption":
      {"type": "string", "defaultValue": "new", "allowedValues": ["new", "existing"],
      "metadata": {"description": "Determines whether or not a new storage should
      be provisioned."}}, "storageAccountName": {"type": "string", "defaultValue":
      "[concat(''sa'', uniqueString(parameters(''resourceGroupName''), parameters(''workspaceName'')))]",
      "metadata": {"description": "Name of the storage account."}}, "storageAccountType":
      {"type": "string", "defaultValue": "Standard_LRS"}, "storageAccountBehindVNet":
      {"type": "string", "defaultValue": "false", "allowedValues": ["true", "false"],
      "metadata": {"description": "Determines whether or not to put the storage account
      behind VNet"}}, "storageAccountResourceGroupName": {"type": "string", "defaultValue":
      "[parameters(''resourceGroupName'')]"}, "storageAccountLocation": {"type": "string",
      "defaultValue": "[parameters(''location'')]"}, "keyVaultOption": {"type": "string",
      "defaultValue": "new", "allowedValues": ["new", "existing"], "metadata": {"description":
      "Determines whether or not a new key vault should be provisioned."}}, "keyVaultName":
      {"type": "string", "defaultValue": "[concat(''kv'', uniqueString(parameters(''resourceGroupName''),
      parameters(''workspaceName'')))]", "metadata": {"description": "Name of the
      key vault."}}, "keyVaultBehindVNet": {"type": "string", "defaultValue": "false",
      "allowedValues": ["true", "false"], "metadata": {"description": "Determines
      whether or not to put the storage account behind VNet"}}, "keyVaultResourceGroupName":
      {"type": "string", "defaultValue": "[parameters(''resourceGroupName'')]"}, "keyVaultLocation":
      {"type": "string", "defaultValue": "[parameters(''location'')]"}, "applicationInsightsOption":
      {"type": "string", "defaultValue": "new", "allowedValues": ["new", "existing",
      "none"], "metadata": {"description": "Determines whether or not new ApplicationInsights
      should be provisioned."}}, "logAnalyticsName": {"type": "string", "defaultValue":
      "[concat(''la'', uniqueString(parameters(''resourceGroupName''), parameters(''workspaceName'')))]",
      "metadata": {"description": "Name of LogAnalytics to be used by ApplicationInsights
      resource."}}, "logAnalyticsArmId": {"type": "string", "defaultValue": "", "metadata":
      {"description": "ARM Id of LogAnalytics to be used by ApplicationInsights resource."}},
      "applicationInsightsName": {"type": "string", "defaultValue": "[concat(''ai'',
      uniqueString(parameters(''resourceGroupName''), parameters(''workspaceName'')))]",
      "metadata": {"description": "Name of ApplicationInsights."}}, "applicationInsightsResourceGroupName":
      {"type": "string", "defaultValue": "[parameters(''resourceGroupName'')]"}, "applicationInsightsLocation":
      {"type": "string", "defaultValue": "[parameters(''location'')]"}, "containerRegistryOption":
      {"type": "string", "defaultValue": "none", "allowedValues": ["existing", "none"],
      "metadata": {"description": "Determines whether or not a new container registry
      should be provisioned."}}, "containerRegistryName": {"type": "string", "defaultValue":
      "[concat(''cr'', uniqueString(parameters(''resourceGroupName''), parameters(''workspaceName'')))]",
      "metadata": {"description": "The container registry bind to the workspace."}},
      "containerRegistrySku": {"type": "string", "defaultValue": "Standard", "allowedValues":
      ["Basic", "Standard", "Premium"]}, "containerRegistryResourceGroupName": {"type":
      "string", "defaultValue": "[parameters(''resourceGroupName'')]"}, "containerRegistryBehindVNet":
      {"type": "string", "defaultValue": "false", "allowedValues": ["true", "false"],
      "metadata": {"description": "Determines whether or not to put container registry
      behind VNet."}}, "containerRegistryLocation": {"type": "string", "defaultValue":
      "[parameters(''location'')]"}, "vnetOption": {"type": "string", "defaultValue":
      "[if(equals(parameters(''privateEndpointType''), ''none''), ''none'', ''new'')]",
      "allowedValues": ["new", "existing", "none"], "metadata": {"description": "Determines
      whether or not a new VNet should be provisioned."}}, "vnetName": {"type": "string",
      "defaultValue": "[concat(''vn'',uniqueString(parameters(''resourceGroupName''),
      parameters(''workspaceName'')))]", "metadata": {"description": "Name of the
      VNet"}}, "vnetResourceGroupName": {"type": "string", "defaultValue": "[parameters(''resourceGroupName'')]"},
      "addressPrefixes": {"type": "array", "defaultValue": ["10.0.0.0/16"], "metadata":
      {"description": "Address prefix of the virtual network"}}, "subnetOption": {"type":
      "string", "defaultValue": "[if(or(not(equals(parameters(''privateEndpointType''),
      ''none'')), equals(parameters(''vnetOption''), ''new'')), ''new'', ''none'')]",
      "allowedValues": ["new", "existing", "none"], "metadata": {"description": "Determines
      whether or not a new subnet should be provisioned."}}, "subnetName": {"type":
      "string", "defaultValue": "[concat(''sn'',uniqueString(parameters(''resourceGroupName''),
      parameters(''workspaceName'')))]", "metadata": {"description": "Name of the
      subnet"}}, "subnetPrefix": {"type": "string", "defaultValue": "10.0.0.0/24",
      "metadata": {"description": "Subnet prefix of the virtual network"}}, "adbWorkspace":
      {"type": "string", "defaultValue": "", "metadata": {"description": "Azure Databrick
      workspace to be linked to the workspace"}}, "confidential_data": {"type": "string",
      "defaultValue": "false", "allowedValues": ["false", "true"], "metadata": {"description":
      "Specifies that the Azure Machine Learning workspace holds highly confidential
      data."}}, "encryption_status": {"type": "string", "defaultValue": "Disabled",
      "allowedValues": ["Enabled", "Disabled"], "metadata": {"description": "Specifies
      if the Azure Machine Learning workspace should be encrypted with customer managed
      key."}}, "cmk_keyvault": {"type": "string", "defaultValue": "", "metadata":
      {"description": "Specifies the customer managed keyVault arm id."}}, "resource_cmk_uri":
      {"type": "string", "defaultValue": "", "metadata": {"description": "Specifies
      if the customer managed keyvault key uri."}}, "privateEndpointType": {"type":
      "string", "defaultValue": "none", "allowedValues": ["AutoApproval", "ManualApproval",
      "none"]}, "tagValues": {"type": "object"}, "privateEndpointName": {"type": "string",
      "defaultValue": "pe", "metadata": {"description": "Name of the private end point
      added to the workspace"}}, "privateEndpointResourceGroupName": {"type": "string",
      "defaultValue": "[parameters(''resourceGroupName'')]", "metadata": {"description":
      "Name of the resource group where the private end point is added to"}}, "imageBuildCompute":
      {"type": "string", "defaultValue": "", "metadata": {"description": "The name
      of the compute target to use for building environment Docker images with the
      container registry is behind a VNet."}}, "publicNetworkAccess": {"type": "string",
      "defaultValue": "Enabled", "allowedValues": ["Disabled", "Enabled"], "metadata":
      {"description": "Whether to allow public endpoint connectivity when a workspace
      is private link enabled."}}, "soft_delete_enabled": {"type": "string", "defaultValue":
      "false", "allowedValues": ["false", "true"], "metadata": {"description": "Whether
      to create a workspace with soft delete capability"}}, "allow_recover_softdeleted_workspace":
      {"type": "string", "defaultValue": "false", "allowedValues": ["false", "true"],
      "metadata": {"description": "Whether to allow an existing soft-deleted workspace
      to be recovered"}}, "encryption_cosmosdb_resourceid": {"type": "string", "defaultValue":
      "", "metadata": {"description": "The Bring-Your-Own cosmosdb account that customer
      brings to store data"}}, "encryption_storage_resourceid": {"type": "string",
      "defaultValue": "", "metadata": {"description": "The Bring-Your-Own storage
      account that customer brings to store data"}}, "encryption_search_resourceid":
      {"type": "string", "defaultValue": "", "metadata": {"description": "The Bring-Your-Own
      search account that customer brings to store data"}}, "identity": {"type": "object",
      "defaultValue": {"type": "systemAssigned"}, "metadata": {"description": "Managed
      identities assigned to workspace. If not specificed, SystemAssigned managed
      identity is the default."}}, "primaryUserAssignedIdentity": {"type": "string",
      "defaultValue": "", "metadata": {"description": "ARM identifier of primary user
      assigned managed identity, in case multiple ones are specified. Also the default
      managed identity for clusterless compute."}}, "managedNetwork": {"type": "object",
      "defaultValue": {"isolationMode": "Disabled"}, "metadata": {"description": "Managed
      network settings to be used for the workspace. If not specified, isolation mode
      Disabled is the default"}}, "allowRoleAssignmentOnRG": {"type": "string", "defaultValue":
      "true", "allowedValues": ["true", "false"], "metadata": {"description": "A flag
      to determine if workspace should be created/update with allow role assignment
      on resource group level."}}, "spark_runtime_version": {"type": "string", "defaultValue":
      "", "metadata": {"description": "spark version to be used by all feature sets"}},
      "offlineStoreStorageAccountOption": {"type": "string", "defaultValue": "none",
      "allowedValues": ["new", "existing", "none"], "metadata": {"description": "Determines
      whether or not to provision a feature store offline store storage account"}},
      "offline_store_storage_account_name": {"type": "string", "defaultValue": "[concat(''sa'',
      uniqueString(''featurestore'', parameters(''resourceGroupName''), parameters(''workspaceName'')))]",
      "metadata": {"description": "Name of the feature store offline store storage
      account."}}, "offline_store_container_name": {"type": "string", "defaultValue":
      "[concat(''offlinestore'', newGuid())]", "metadata": {"description": "Feature
      store offline store container"}}, "offline_store_resource_group_name": {"type":
      "string", "defaultValue": "[resourceGroup().name]", "metadata": {"description":
      "Feature store offline store resource group"}}, "offline_store_subscription_id":
      {"type": "string", "defaultValue": "[subscription().subscriptionId]", "metadata":
      {"description": "Feature store offline store subscription id"}}, "offline_store_connection_name":
      {"type": "string", "defaultValue": "", "metadata": {"description": "Feature
      store offline store config"}}, "online_store_resource_id": {"type": "string",
      "defaultValue": "", "metadata": {"description": "Feature store online store
      resource id"}}, "online_store_resource_group_name": {"type": "string", "defaultValue":
      "", "metadata": {"description": "Feature store online store resource group"}},
      "online_store_subscription_id": {"type": "string", "defaultValue": "", "metadata":
      {"description": "Feature store online store subscription id"}}, "online_store_connection_name":
      {"type": "string", "defaultValue": "", "metadata": {"description": "Feature
      store online store config"}}, "materializationIdentityOption": {"type": "string",
      "defaultValue": "none", "allowedValues": ["new", "existing", "none"], "metadata":
      {"description": "Determines whether or not to provision a materialization identity"}},
      "materialization_identity_name": {"type": "string", "defaultValue": "empty",
      "metadata": {"description": "Feature store materialization identity name"}},
      "materialization_identity_subscription_id": {"type": "string", "defaultValue":
      "[subscription().subscriptionId]", "metadata": {"description": "Feature store
      materialization identity subscription id"}}, "materialization_identity_resource_group_name":
      {"type": "string", "defaultValue": "[resourceGroup().name]", "metadata": {"description":
      "Feature store materialization identity resource group name"}}, "grant_materialization_permissions":
      {"type": "string", "defaultValue": "false", "allowedValues": ["false", "true"],
      "metadata": {"description": "Whether to grant materialization identity permissions"}},
      "enable_data_isolation": {"type": "string", "defaultValue": "false", "allowedValues":
      ["false", "true"], "metadata": {"description": "A flag to determine if workspace
      has data isolation enabled. The flag can only be set at the creation phase,
      it can''t be updated."}}, "workspace_hub_config": {"type": "object", "defaultValue":
      {}, "metadata": {"description": "Additional configuration for WorkspaceHub."}},
      "existing_workspaces": {"type": "array", "defaultValue": [], "metadata": {"description":
      "A list of existing workspaces used by Hub to perform convert."}}, "workspace_hub":
      {"type": "string", "defaultValue": "", "metadata": {"description": "Resource
      Id of Hub used for lean workspace."}}, "serverless_compute_settings": {"type":
      "object", "defaultValue": {}, "metadata": {"description": "Serverless compute
      settings to be used for the workspace."}}, "systemDatastoresAuthMode": {"type":
      "string", "defaultValue": "", "metadata": {"description": "The authentication
      mode for system datastores"}}, "endpoint_resource_id": {"type": "string", "defaultValue":
      "null", "metadata": {"description": "The resource id that this workspace hub''s
      endpoints should reference."}}, "endpoint_kind": {"type": "string", "defaultValue":
      "AIServices", "metadata": {"description": "The kind of endpoints this workspace
      hub ought to contain."}}, "endpoint_option": {"type": "string", "defaultValue":
      "new", "metadata": {"description": "Testing value. Do not touch."}}}, "variables":
      {"tenantId": "[subscription().tenantId]", "storageAccount": "[resourceId(parameters(''storageAccountResourceGroupName''),
      ''Microsoft.Storage/storageAccounts'', parameters(''storageAccountName''))]",
      "keyVault": "[resourceId(parameters(''keyVaultResourceGroupName''), ''Microsoft.KeyVault/vaults'',
      parameters(''keyVaultName''))]", "containerRegistry": "[resourceId(parameters(''containerRegistryResourceGroupName''),
      ''Microsoft.ContainerRegistry/registries'', parameters(''containerRegistryName''))]",
      "applicationInsights": "[resourceId(parameters(''applicationInsightsResourceGroupName''),
      ''Microsoft.Insights/components'', parameters(''applicationInsightsName''))]",
      "vnet": "[resourceId(parameters(''vnetResourceGroupName''), ''Microsoft.Network/virtualNetworks'',
      parameters(''vnetName''))]", "subnet": "[resourceId(parameters(''vnetResourceGroupName''),
      ''Microsoft.Network/virtualNetworks/subnets'', parameters(''vnetName''), parameters(''subnetName''))]",
      "enablePE": true, "networkRuleSetBehindVNet": {"defaultAction": "deny", "virtualNetworkRules":
      [{"action": "Allow", "id": "[variables(''subnet'')]"}]}, "privateEndpointSettings":
      {"name": "[concat(parameters(''workspaceName''), ''-PrivateEndpoint'')]", "properties":
      {"privateLinkServiceId": "[resourceId(''Microsoft.MachineLearningServices/workspaces'',
      parameters(''workspaceName''))]", "groupIds": ["amlworkspace"]}}, "defaultPEConnections":
      "[array(variables(''privateEndpointSettings''))]", "privateEndpointDeploymentName":
      "[concat(''DeployPrivateEndpoint-'', uniqueString(parameters(''privateEndpointName'')))]",
      "materializationIdentity": "[resourceId(parameters(''materialization_identity_subscription_id''),
      parameters(''materialization_identity_resource_group_name''), ''Microsoft.ManagedIdentity/userAssignedIdentities'',
      parameters(''materialization_identity_name''))]", "offlineStore": "[resourceId(parameters(''offline_store_subscription_id''),
      parameters(''offline_store_resource_group_name''), ''Microsoft.Storage/storageAccounts/blobServices/containers'',
      parameters(''offline_store_storage_account_name''), ''default'', parameters(''offline_store_container_name''))]",
      "isWorkspaceHub": "[equals(parameters(''kind''), ''hub'')]"}, "resources": [{"condition":
      "[and(variables(''enablePE''), equals(parameters(''vnetOption''), ''new''))]",
      "type": "Microsoft.Network/virtualNetworks", "apiVersion": "2019-09-01", "name":
      "[parameters(''vnetName'')]", "location": "[parameters(''location'')]", "tags":
      "[parameters(''tagValues'')]", "properties": {"addressSpace": {"addressPrefixes":
      "[parameters(''addressPrefixes'')]"}, "enableDdosProtection": false, "enableVmProtection":
      false}}, {"condition": "[and(variables(''enablePE''), equals(parameters(''subnetOption''),
      ''new''))]", "type": "Microsoft.Network/virtualNetworks/subnets", "apiVersion":
      "2019-09-01", "name": "[concat(parameters(''vnetName''), ''/'', parameters(''subnetName''))]",
      "dependsOn": ["[resourceId(''Microsoft.Network/virtualNetworks'', parameters(''vnetName''))]"],
      "properties": {"addressPrefix": "[parameters(''subnetPrefix'')]", "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled", "serviceEndpoints":
      [{"service": "Microsoft.Storage"}, {"service": "Microsoft.KeyVault"}, {"service":
      "Microsoft.ContainerRegistry"}]}}, {"condition": "[and(equals(parameters(''kind''),
      ''featurestore''), equals(parameters(''materializationIdentityOption''), ''new''))]",
      "type": "Microsoft.ManagedIdentity/userAssignedIdentities", "apiVersion": "2018-11-30",
      "name": "[parameters(''materialization_identity_name'')]", "location": "[parameters(''location'')]"},
      {"condition": "[and(variables(''enablePE''), equals(parameters(''storageAccountOption''),
      ''new''))]", "type": "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01",
      "name": "[parameters(''storageAccountName'')]", "tags": "[parameters(''tagValues'')]",
      "dependsOn": ["[resourceId(''Microsoft.Network/virtualNetworks/subnets'', parameters(''vnetName''),
      parameters(''subnetName''))]"], "location": "[parameters(''storageAccountLocation'')]",
      "sku": {"name": "[parameters(''storageAccountType'')]"}, "kind": "StorageV2",
      "properties": {"encryption": {"services": {"blob": {"enabled": true}, "file":
      {"enabled": true}}, "keySource": "Microsoft.Storage"}, "supportsHttpsTrafficOnly":
      true, "allowBlobPublicAccess": false, "networkAcls": "[if(equals(parameters(''storageAccountBehindVNet''),
      ''true''), variables(''networkRuleSetBehindVNet''), json(''null''))]", "isHnsEnabled":
      "[equals(parameters(''kind''), ''featurestore'')]", "minimumTlsVersion": "[if(equals(parameters(''kind''),
      ''featurestore''), ''TLS1_2'', ''TLS1_0'')]"}}, {"condition": "[and(variables(''enablePE''),
      equals(parameters(''kind''), ''featurestore''), equals(parameters(''storageAccountOption''),
      ''existing''), equals(parameters(''offlineStoreStorageAccountOption''), ''new''))]",
      "type": "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01", "name":
      "[parameters(''offline_store_storage_account_name'')]", "tags": "[parameters(''tagV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/000000000000000/providers/Microsoft.Resources/deployments/deploy-0000000/operationStatuses/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"status": "Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/000000000000000/providers/Microsoft.Resources/deployments/deploy-0000000/operationStatuses/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ExpiredAuthenticationToken", "message": "The access
        token expiry UTC time ''8/20/2024 4:48:47 PM'' is earlier than current UTC
        time ''8/20/2024 4:48:47 PM''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization_uri="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        error="invalid_token", error_description="The access token has expired."
      x-ms-failure-cause:
      - gateway
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/test-ws-000006_full",
        "name": "test-ws-000006_full", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2", "tags": {"createdByToolkit": "cli-v2-1.20.0"}, "etag":
        null, "properties": {"friendlyName": "baniwps", "description": "some desc",
        "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Storage/storageAccounts/saclie2etest2",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Keyvault/vaults/kvclie2etest",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.insights/components/aiclie2etest",
        "hbiWorkspace": true, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": "mycomputecluster", "provisioningState": "Succeeded",
        "managedNetwork": {"changeableIsolationModes": ["AllowInternetOutbound", "AllowOnlyApprovedOutbound"],
        "isolationMode": "Disabled"}, "allowRoleAssignmentOnRG": false, "v1LegacyMode":
        false, "softDeleteEnabled": false, "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/acrclie2etest2",
        "creationTime": "2024-08-20T16:43:00.5779924Z", "notebookInfo": {"resourceId":
        "9a335375a32b490890ee07ecb0e6f5a6", "fqdn": "ml-test-ws-000006f-eastus2-f089baee-a41c-4890-a5bf-d45ceb218989.eastus2.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "serviceProvisionedResourceGroup":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000",
        "serviceManagedResourcesSettings": {"cosmosDb": {"collectionsThroughput":
        4000}}, "storageHnsEnabled": false, "workspaceId": "f089baee-a41c-4890-a5bf-d45ceb218989",
        "linkedModelInventoryArmId": null, "privateLinkCount": 0, "publicNetworkAccess":
        "Enabled", "ipAllowlist": [], "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/test-ws-000006_full",
        "serverlessComputeSettings": {"serverlessComputeCustomSubnet": null, "serverlessComputeNoPublicIP":
        false}, "EnableSoftwareBillOfMaterials": false, "sdkTelemetryAppInsightsKey":
        "e1f7b545-6243-4abf-ba76-c5691d2edb62", "encryption": {"status": "Enabled",
        "identity": {"userAssignedIdentity": null}, "keyVaultProperties": {"keyIdentifier":
        "https://cmkkvclie2etest.vault.azure.net/keys/cmkkey1/68867cab25424b39919128577eb2f804",
        "identityClientId": null, "keyVaultArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.KeyVault/vaults/cmkkvclie2etest"},
        "cosmosDbResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb182936905",
        "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Storage/storageAccounts/sa606858140",
        "searchAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Search/searchServices/azuremlrgtes51744b6f"},
        "sasGetterUri": "", "enableDataIsolation": true, "systemDatastoresAuthMode":
        "accesskey", "enableServiceSideCMKEncryption": false}, "identity": {"type":
        "SystemAssigned", "principalId": "149fb058-60e7-4030-82a7-117fa2311f00", "tenantId":
        "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "systemData": {"createdAt": "2024-08-20T16:43:00.5779924Z",
        "createdBy": "joharrington@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2024-08-20T16:43:00.5779924Z", "lastModifiedBy": "joharrington@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.037'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/diagnose?api-version=0000-00-00
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/workspaceOperationsStatus/67cc28ca-9605-4e80-be9f-f788f6ae680c?api-version=2024-07-01-preview&type=location&t=638597701835849052&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/workspaceOperationsStatus/67cc28ca-9605-4e80-be9f-f788f6ae680c?api-version=0000-00-00&type=location&t=638597701835849052&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI[...]
[...]
- request:
    body: '{"tags": {"createdByToolkit": "cli-v2-1.20.0"}, "properties": {"allowRoleAssignmentOnRG":
      true, "description": "description2", "friendlyName": "workspace_display_name2",
      "imageBuildCompute": "some_compute_name_to_update", "publicNetworkAccess": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
[...]
