interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/sasik_ws_eastus2/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "sasikwsestoragee0dc2ea37", "containerName": "azureml-blobstore-c2d2b02b-3250-4809-be79-86cf1ca775ec",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "None"}, "systemData": {"createdAt": "2019-10-08T20:28:47.663599Z", "lastModifiedAt":
        "2019-10-08T20:28:47.663599Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.101'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "79464072dfcbd3f70c512756abb39d2c0230d85bf14f1b122384a8590c4640c4"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.098'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 03:40:27 GMT
      x-ms-version:
      - '2021-04-10'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/train/MLTable
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-04-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: "paths:\r\n  - file: https://automlsamplenotebookdata.blob.core.windows.net/automl-sample-notebook-data/Beer_no_valid_split_train.csv\r\ntransformations:\r\n
      \ - read_delimited:\r\n      delimiter: ','\r\n      encoding: 'ascii'\r\n      empty_as_string:
      false\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 28 Jun 2022 03:40:28 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/train/MLTable
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA58B7F1C89141"'
      last-modified:
      - Tue, 28 Jun 2022 03:40:28 GMT
      x-ms-content-crc64:
      - YCLCpvLFMvs=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 03:40:28 GMT
      x-ms-meta-name:
      - b0342a17-f1a2-4d76-97eb-561bfd6ca31d
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - e9422248-f3f2-4d09-b7e2-bc8b4337f5d4
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/train/MLTable?se=0000-00-00T00&sp=rt&sv=0000-00-00&sr=b&sig=000000000000000
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA58B7F1EF4EA9"'
      last-modified:
      - Tue, 28 Jun 2022 03:40:28 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"properties": {"mlflow.source.git.repoURL": "https://msdata.visualstudio.com/DefaultCollection/Vienna/_git/sdk-cli-v2",
      "mlflow.source.git.branch": "ayushmishra/bu1788024", "mlflow.source.git.commit":
      "d377f1ea91a7c4606099b25670c5bd7ab8d7b1e2", "azureml.git.dirty": "True"}, "tags":
      {}, "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sasik_rg/providers/Microsoft.MachineLearningServices/workspaces/sasik_ws_eastus2/computes/cpu-cluster",
      "displayName": "test-amlforjob-000016-1", "experimentName": "cli_e2e_test",
      "isArchived": false, "jobType": "AutoML", "outputs": {}, "taskDetails": {"dataSettings":
      {"targetColumnName": "BeerProduction", "testData": {}, "trainingData": {"data":
      {"uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/650c11a19a7d6a2c44787fffa17e96bd/train",
      "jobInputType": "MLTable"}}, "validationData": {"nCrossValidations": {"mode":
      "Custom", "value": 2}}}, "featurizationSettings": {"mode": "auto", "transformerParams":
      {}}, "limitSettings": {"enableEarlyTermination": true, "exitScore": 0.85, "maxConcurrentTrials":
      2, "maxTrials": 2, "timeout": "PT3H", "trialTimeout": "PT20M"}, "logVerbosity":
      "Debug", "taskType": "Forecasting", "forecastingSettings": {"forecastHorizon":
      {"mode": "Custom", "value": 12}, "frequency": "MS", "timeColumnName": "DATE"},
      "primaryMetric": "NormalizedRootMeanSquaredError"}}}'
    headers:
      Content-Type:
      - application/json
      x-azureml-token:
      - <dummyToken>
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/jobs/test-amlforjob-000016-1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/sasik_ws_eastus2/jobs/test-amlforjob-000016-1",
        "name": "test-amlforjob-000016-1", "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {"description": null, "tags": {}, "properties": {"mlflow.source.git.repoURL":
        "https://msdata.visualstudio.com/DefaultCollection/Vienna/_git/sdk-cli-v2",
        "mlflow.source.git.branch": "ayushmishra/bu1788024", "mlflow.source.git.commit":
        "d377f1ea91a7c4606099b25670c5bd7ab8d7b1e2", "azureml.git.dirty": "True"},
        "displayName": "test-amlforjob-000016-1", "status": "NotStarted", "experimentName":
        "cli_e2e_test", "services": {"Tracking": {"jobServiceType": "Tracking", "port":
        null, "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/sasik_ws_eastus2?",
        "status": null, "errorMessage": null, "properties": null}, "Studio": {"jobServiceType":
        "Studio", "port": null, "endpoint": "https://ml.azure.com/runs/test-amlforjob-000016-1?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sasik_rg/workspaces/sasik_ws_eastus2",
        "status": null, "errorMessage": null, "properties": null}}, "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/sasik_ws_eastus2/computes/cpu-cluster",
        "isArchived": false, "schedule": null, "identity": null, "jobType": "AutoML",
        "resources": {"instanceCount": 1, "instanceType": null, "properties": null},
        "environmentId": null, "environmentVariables": null, "taskDetails": {"logVerbosity":
        "Debug", "limitSettings": {"maxTrials": 2, "trialTimeout": "PT20M", "timeout":
        "PT3H", "maxConcurrentTrials": 2, "maxCoresPerTrial": -1, "exitScore": 0.85,
        "enableEarlyTermination": true}, "dataSettings": {"targetColumnName": "BeerProduction",
        "trainingData": {"data": {"description": null, "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/650c11a19a7d6a2c44787fffa17e96bd/train",
        "mode": "ReadOnlyMount", "jobInputType": "MLTable"}}, "testData": {"data":
        null, "testDataSize": null}, "weightColumnName": null, "validationData": {"data":
        null, "validationDataSize": null, "nCrossValidations": {"mode": "Custom",
        "value": 2}, "cvSplitColumnNames": null}}, "featurizationSettings": {"datasetLanguage":
        null, "mode": "Auto", "blockedTransformers": null, "columnNameAndTypes": null,
        "dropColumns": null, "transformerParams": {}, "enableDnnFeaturization": false},
        "trainingSettings": null, "taskType": "Forecasting", "primaryMetric": "NormalizedRootMeanSquaredError",
        "allowedModels": null, "blockedModels": null, "forecastingSettings": {"countryOrRegionForHolidays":
        null, "timeColumnName": "DATE", "targetLags": null, "targetRollingWindowSize":
        null, "forecastHorizon": {"mode": "Custom", "value": 12}, "timeSeriesIdColumnNames":
        null, "frequency": "MS", "featureLags": "None", "seasonality": null, "shortSeriesHandlingConfig":
        "Auto", "useStl": "None", "targetAggregateFunction": "None", "cvStepSize":
        null}}, "outputs": {}}, "systemData": {"createdAt": "2022-06-28T03:40:32.7320474Z",
        "createdBy": "Ayush Mishra", "createdByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sasik_rg/providers/Microsoft.MachineLearningServices/workspaces/sasik_ws_eastus2/jobs/test-amlforjob-000016-1?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.022'
    status:
      code: 201
      message: Created
version: 1
