interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-endpt-00005-11?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/taji-east2/onlineEndpoints/test-endpt-00005-11''
        under resource group ''taji-rg'' was not found. For more details please go
        to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2",
        "name": "taji-east2", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2", "tags": {}, "etag": null, "properties": {"friendlyName":
        "taji-east2", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-rg/providers/microsoft.storage/storageaccounts/tajieast21402489085",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-rg/providers/microsoft.keyvault/vaults/tajieast20351351607",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-rg/providers/microsoft.insights/components/tajieast28216106318",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "containerRegistry":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/06035155dcf14ecf9d71f8b4bee7af5c",
        "acrSkuTier": "Basic", "notebookInfo": {"resourceId": "126093995ef54004a1ea1ec9424701ad",
        "fqdn": "ml-taji-east2-eastus2-06035155-dcf1-4ecf-9d71-f8b4bee7af5c.notebooks.azure.net",
        "isPrivateLinkEnabled": true, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "06035155-dcf1-4ecf-9d71-f8b4bee7af5c", "linkedModelInventoryArmId":
        null, "privateLinkCount": 5, "privateEndpointConnections": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/privateEndpointConnections/taji-east2.e805b3bc-3f87-4e29-abfe-05dd81ce064c",
        "location": "eastus2", "properties": {"provisioningState": "Succeeded", "privateEndpoint":
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Network/privateEndpoints/pe_amlworkspace_default-managed_mdywmzuxntutzgnmms00zwnmltlknzetzjhingjlztdhzjvj",
        "subnetArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Network/virtualNetworks/default-managed_mdywmzuxntutzgnmms00zwnmltlknzetzjhingjlztdhzjvj/subnets/default-managed"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "Egress for Microsoft.MachineLearningServices/workspaces/onlineEndpoints",
        "actionsRequired": "None"}}}, {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/privateEndpointConnections/taji-east2.566506f3-6a41-48f2-a99e-23847fefb1c7",
        "location": "eastus2", "properties": {"provisioningState": "Succeeded", "privateEndpoint":
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.Network/privateEndpoints/pe_amlworks[...]
- request:
    body: '{"tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "eastus2",
      "identity": {"type": "SystemAssigned"}, "properties": {"authMode": "AMLToken",
      "description": "some description", "properties": {}, "mirrorTraffic": {}, "publicNetworkAccess":
      "disabled", "traffic": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-endpt-00005-11?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/onlineEndpoints/test-endpt-00005-11",
        "name": "test-endpt-00005-11", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints",
        "properties": {"description": "some description", "properties": {"azureml.onlineendpointid":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-rg/providers/microsoft.machinelearningservices/workspaces/taji-east2/onlineendpoints/test-endpt-00005-11",
        "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:0f605520-06e3-4975-8042-9e41365f09b6?api-version=2022-02-01-preview"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AMLToken", "provisioningState":
        "Creating", "compute": null, "traffic": {}, "mirrorTraffic": {}, "publicNetworkAccess":
        "Disabled"}, "systemData": {"createdAt": "2022-05-03T17:53:42.4018327Z", "createdBy":
        "Taji Harris", "lastModifiedAt": "2022-05-03T17:53:42.4018334Z"}, "tags":
        {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "eastus2", "kind":
        "Managed", "identity": {"type": "SystemAssigned", "principalId": "5e87eb57-e737-4162-b962-788957e23631",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:0f605520-06e3-4975-8042-9e41365f09b6?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-rg/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/onlineEndpoints/test-endpt-00005-11?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '13.192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:0f605520-06e3-4975-8042-9e41365f09b6?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:0f605520-06e3-4975-8042-9e41365f09b6",
        "name": "oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:0f605520-06e3-4975-8042-9e41365f09b6",
        "startTime": "2022-05-03T17:53:31.0574332Z", "endTime": "2022-05-03T17:54:02.7916954Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.046'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-endpt-00005-11/deployments?api-version=0000-00-00
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.731'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "tajieast21402489085", "containerName": "azureml-blobstore-06035155-dcf1-4ecf-9d71-f8b4bee7af5c",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2022-04-25T23:05:41.0180349Z",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2022-04-25T23:05:41.9381917Z", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.144'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "a04c5d70d8c5e177e81c36111ba8838840ec0e130a9d648135253a69111c0364"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 May 2022 17:54:11 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/onlinescoring/score.py
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA2712177088B2"'
      last-modified:
      - Mon, 25 Apr 2022 23:19:48 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 25 Apr 2022 23:19:48 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - 344c9774-ac1a-4277-9239-08cf64431ce8
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 May 2022 17:54:12 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/onlinescoring/score.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"properties": {"isAnonymous": true, "isArchived": false, "codeUri": "https://tajieast21402489085.blob.core.windows.net/azureml-blobstore-06035155-dcf1-4ecf-9d71-f8b4bee7af5c/LocalUpload/c1e63faf1520793bfa0bc21f8f8c056a/onlinescoring"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
  respons[...]
- request:
    body: '{"properties": {"isAnonymous": false, "isArchived": false, "condaFile":
      "name: model-env\nchannels:\n- conda-forge\ndependencies:\n- python=3.6.1\n-
      numpy=1.19.4\n- pip=21.2.4\n- scikit-learn=0.19.1\n- scipy=1.5.1\n- pip:\n  -
      azureml-defaults==1.33.0\n  - inference-schema[numpy-support]==1.3.0\n  - joblib==1.0.1\n  -
      numpy==1.19.4\n  - scikit-learn==0.19.1\n  - scipy==1.5.1\n", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/environments/online-endpoint-mir-test/versions/3?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/environments/online-endpoint-mir-test/versions/3",
        "name": "3", "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "environmentType": "UserCreated", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1",
        "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\":
        [\n    \"python=3.6.1\",\n    \"numpy=1.19.4\",\n    \"pip=21.2.4\",\n    \"scikit-learn=0.19.1\",\n    \"scipy=1.5.1\",\n    {\n      \"pip\":
        [\n        \"azureml-defaults==1.33.0\",\n        \"inference-schema[numpy-support]==1.3.0\",\n        \"joblib==1.0.1\",\n        \"numpy==1.19.4\",\n        \"scikit-learn==0.19.1\",\n        \"scipy==1.5.1\"\n      ]\n    }\n  ],\n  \"name\":
        \"model-env\"\n}", "osType": "Linux"}, "systemData": {"createdAt": "2022-04-25T23:19:51.7681199Z",
        "createdBy": "Taji Harris", "createdByType": "User", "lastModifiedAt": "2022-04-25T23:19:51.7681199Z",
        "lastModifiedBy": "Taji Harris", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-rg/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/environments/online-endpoint-mir-test/versions/3?api-version=2022-05-01
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.984'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 May 2022 17:54:17 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/sklearn_regression_model.pkl
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA27122115619A"'
      last-modified:
      - Mon, 25 Apr 2022 23:20:04 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 25 Apr 2022 23:20:04 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - mir_test_model
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"properties": {}, "tags": {}, "isAnonymous": false, "isArchived":
      false, "modelType": "custom_model", "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taji-rg/workspaces/taji-east2/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/models/00000000-0000-0000-0000-000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/models/mir_test_model/versions/1",
        "name": "1", "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "flavors": {}, "modelType": "custom_model", "modelUri":
        "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/workspaces/taji-east2/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl",
        "jobName": null}, "systemData": {"createdAt": "2022-04-25T23:20:05.5964023Z",
        "createdBy": "Taji Harris", "createdByType": "User", "lastModifiedAt": "2022-05-03T17:54:22.8933242Z",
        "lastModifiedBy": "Taji Harris", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.487'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "location": "eastus2", "properties": {"codeConfiguration":
      {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-rg/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/codes/344c9774-ac1a-4277-9239-08cf64431ce8/versions/1",
      "scoringScript": "score.py"}, "description": "description for online deployment",
      "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-rg/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/environments/online-endpoint-mir-test/versions/3",
      "environmentVariables": {}, "properties": {"private-network-connection": "True"},
      "appInsightsEnabled": false, "egressPublicNetworkAccess": "disabled", "endpointComputeType":
      "Managed", "instanceType": "Standard_DS2_V2", "model": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taji-rg/providers/Microsoft.MachineLearningServices/workspaces/taji-east2/models/mir_test_model/versions/1",
      "privateNetworkConnection": true, "scaleSettings": {"scaleType": "Default"}},
      "sku": {"name": "Default", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-endpt-00005-11/deployments/mock-deployment?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Micr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/od:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:2bf16a5b-5d1b-41c3-9adf-19e7f89abde5?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/od:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:2bf16a5b-5d1b-41c3-9adf-19e7f89abde5",
        "name": "od:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:2bf16a5b-5d1b-41c3-9adf-19e7f89abde5",
        "startTime": "2022-05-03T17:54:27.8847843Z", "percentComplete": 0.0, "status":
        "Updating"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.104'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-endpt-00005-11?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:c63860df-00ee-4c1f-a26f-f9a7349d4d53?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/oe:06035155-dcf1-4ecf-9d71-f8b4bee7af5c:c63860df-00ee-4c1f-a26f-f9a7349d4d53?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.765'
    status:
      code: 202
      message: Accepted
version: 1
