interactions:
- request:
    body: '{"properties": {"isAnonymous": true, "isArchived": false, "codeUri": "git+https://github.com/varndorfer/test-git-snapshot-public.git@testBranch&subdirectory=subdirectory"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/3d05e987-e837-4fc9-a606-cb4c5268656e/versions/1",
        "name": "1", "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "codeUri": "git+https://github.com/varndorfer/test-git-snapshot-public.git@testBranch&subdirectory=subdirectory"},
        "systemData": {"createdAt": "2022-06-17T22:14:51.97723Z", "createdBy": "Nancy
        Mejia Juarez", "createdByType": "User", "lastModifiedAt": "2022-06-17T22:14:51.9772345Z",
        "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/3d05e987-e837-4fc9-a606-cb4c5268656e/versions/1?api-version=2022-05-01
      x-aml-cluster:
      - vienna-westus-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '9.612'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"properties": {"mlflow.source.git.repoURL": "https://msdata.visualstudio.com/DefaultCollection/Vienna/_git/sdk-cli-v2",
      "mlflow.source.git.branch": "namejia/add-git-support-for-jobs", "mlflow.source.git.commit":
      "a9dd801e62b687585c42500b48d488ddf231e9f8", "azureml.git.dirty": "True"}, "tags":
      {}, "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/computes/cpu-cluster",
      "displayName": "test-cjob-000011-4", "experimentName": "sdk-cli-v2", "isArchived":
      false, "jobType": "Command", "codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/3d05e987-e837-4fc9-a606-cb4c5268656e/versions/1",
      "command": "python ./train.py --training_data ${{inputs.training_data}} --max_epochs
      ${{inputs.max_epochs}} --learning_rate ${{inputs.learning_rate}} --model_output
      ${{outputs.model_output}}", "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
      "environmentVariables": {}, "inputs": {"training_data": {"jobInputType": "literal",
      "value": "./training_data.pkl"}, "max_epochs": {"jobInputType": "literal", "value":
      "21"}, "learning_rate": {"jobInputType": "literal", "value": "0.01"}}, "outputs":
      {"model_output": {"mode": "ReadWriteMount", "jobOutputType": "uri_folder"}}}}'
    headers:
      Content-Type:
      - application/json
      x-azureml-token:
      - <dummyToken>
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/jobs/test-cjob-000011-4?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/jobs/test-cjob-000011-4",
        "name": "test-cjob-000011-4", "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {"description": null, "tags": {}, "properties": {"mlflow.source.git.repoURL":
        "https://msdata.visualstudio.com/DefaultCollection/Vienna/_git/sdk-cli-v2",
        "mlflow.source.git.branch": "namejia/add-git-support-for-jobs", "mlflow.source.git.commit":
        "a9dd801e62b687585c42500b48d488ddf231e9f8", "azureml.git.dirty": "True", "_azureml.ComputeTargetType":
        "amlctrain", "ContentSnapshotId": "0d26a170-930b-4a8c-8bc7-5645af50a1dc"},
        "displayName": "test-cjob-000011-4", "status": "Starting", "experimentName":
        "sdk-cli-v2", "services": {"Tracking": {"jobServiceType": "Tracking", "port":
        null, "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws?",
        "status": null, "errorMessage": null, "properties": null}, "Studio": {"jobServiceType":
        "Studio", "port": null, "endpoint": "https://ml.azure.com/runs/test-cjob-000011-4?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/workspaces/namejia-ws",
        "status": null, "errorMessage": null, "properties": null}}, "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/computes/cpu-cluster",
        "isArchived": false, "schedule": null, "identity": null, "jobType": "Command",
        "resources": {"instanceCount": 1, "instanceType": null, "properties": null},
        "codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/codes/3d05e987-e837-4fc9-a606-cb4c5268656e/versions/1",
        "command": "python ./train.py --training_data ${{inputs.training_data}} --max_epochs
        ${{inputs.max_epochs}} --learning_rate ${{inputs.learning_rate}} --model_output
        ${{outputs.model_output}}", "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
        "inputs": {"training_data": {"description": null, "jobInputType": "literal",
        "value": "./training_data.pkl"}, "max_epochs": {"description": null, "jobInputType":
        "literal", "value": "21"}, "learning_rate": {"description": null, "jobInputType":
        "literal", "value": "0.01"}}, "outputs": {"model_output": {"description":
        null, "uri": null, "mode": "ReadWriteMount", "jobOutputType": "uri_folder"},
        "default": {"description": null, "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.test-cjob-000011-4",
        "mode": "ReadWriteMount", "jobOutputType": "uri_folder"}}, "distribution":
        null, "limits": null, "environmentVariables": {}, "parameters": {}}, "systemData":
        {"createdAt": "2022-06-17T22:14:55.7018041Z", "createdBy": "Nancy Mejia Juarez",
        "createdByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-ws/jobs/test-cjob-000011-4?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-westus-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.622'
    status:
      code: 201
      message: Created
version: 1
