interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-6?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-6''
        under resource group ''namejia-dev-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws",
        "name": "namejia-dev-ws", "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2", "tags": {}, "etag": null, "properties": {"friendlyName":
        "namejia-dev-ws", "description": "", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.storage/storageaccounts/namejiadevws1668375487",
        "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.keyvault/vaults/namejiadevws5341870895",
        "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.insights/components/namejiadevws8508045487",
        "hbiWorkspace": false, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "imageBuildCompute": null, "provisioningState": "Succeeded", "containerRegistry":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.ContainerRegistry/registries/3d827beff8dd42ec964290d023998bd9",
        "acrSkuTier": "Basic", "notebookInfo": {"resourceId": "040da9e1421f415e9eb217888467a7cd",
        "fqdn": "ml-namejia-dev-ws-eastus2-3d827bef-f8dd-42ec-9642-90d023998bd9.notebooks.azure.net",
        "isPrivateLinkEnabled": false, "notebookPreparationError": null}, "storageHnsEnabled":
        false, "workspaceId": "3d827bef-f8dd-42ec-9642-90d023998bd9", "linkedModelInventoryArmId":
        null, "privateLinkCount": 0, "publicNetworkAccess": "Enabled", "discoveryUrl":
        "https://eastus2.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws",
        "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb", "sasGetterUri":
        null}, "identity": {"type": "SystemAssigned", "principalId": "faca638a-488c-4305-ae8e-dcdb04ed83df",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "sku": {"name": "Basic",
        "tier": "Basic"}, "systemData": {"createdAt": "2022-04-20T22:27:38.0187095Z",
        "createdBy": "namejia@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2022-04-20T22:27:38.0187095Z", "lastModifiedBy": "namejia@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.014'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "eastus2",
      "identity": {"type": "SystemAssigned"}, "properties": {"authMode": "AMLToken",
      "description": "some description", "properties": {}, "mirrorTraffic": {}, "traffic":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-6?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-6",
        "name": "test-onl-endpt-000005-6", "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints",
        "properties": {"description": "some description", "properties": {"azureml.onlineendpointid":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/providers/microsoft.machinelearningservices/workspaces/namejia-dev-ws/onlineendpoints/test-onl-endpt-000005-6",
        "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:e0e0d75d-c091-4064-b3a8-ad325b33c6aa?api-version=2022-02-01-preview"},
        "scoringUri": null, "swaggerUri": null, "authMode": "AMLToken", "provisioningState":
        "Creating", "compute": null, "traffic": {}, "mirrorTraffic": {}, "publicNetworkAccess":
        "Enabled"}, "systemData": {"createdAt": "2022-04-29T00:42:34.0727692Z", "createdBy":
        "Nancy Mejia Juarez", "lastModifiedAt": "2022-04-29T00:42:34.0727693Z"}, "tags":
        {"endpointkey1": "newval1", "dummy": "dummy"}, "location": "eastus2", "kind":
        "Managed", "identity": {"type": "SystemAssigned", "principalId": "65d8a7c2-2504-4e38-b7b9-34fa89d05b58",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:e0e0d75d-c091-4064-b3a8-ad325b33c6aa?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-6?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.510'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:e0e0d75d-c091-4064-b3a8-ad325b33c6aa?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:e0e0d75d-c091-4064-b3a8-ad325b33c6aa",
        "name": "oe:3d827bef-f8dd-42ec-9642-90d023998bd9:e0e0d75d-c091-4064-b3a8-ad325b33c6aa",
        "startTime": "2022-04-29T00:42:33.9000199Z", "endTime": "2022-04-29T00:42:45.5610314Z",
        "percentComplete": 100.0, "status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.628'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-6/deployments/deploy-0000000?api-version=0000-00-00
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/onlineEndpoints/test-onl-endpt-000005-6/deployments/test-onl-mgr-dep-000011-6''
        under resource group ''namejia-dev-rg'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "namejiadevws1668375487", "containerName": "azureml-blobstore-3d827bef-f8dd-42ec-9642-90d023998bd9",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity"}, "systemData": {"createdAt": "2022-04-20T22:27:49.8230893Z",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2022-04-20T22:27:50.4240246Z", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.183'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/datastores/workspaceblobstore/listSecrets?api-version=0000-00-00
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "a77bea2174bdb11873d66856fc7e484e73fba8b68c66c5458739b1b461045ce6"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.190'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 00:43:09 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/onlinescoring/score.py
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA23553D8E70ED"'
      last-modified:
      - Thu, 21 Apr 2022 05:10:23 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Apr 2022 05:10:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - a8c6a0a3-3ed7-49f1-a935-97b5265000f6
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 00:43:09 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/onlinescoring/score.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"properties": {"isAnonymous": true, "isArchived": false, "codeUri": "https://namejiadevws1668375487.blob.core.windows.net/azureml-blobstore-3d827bef-f8dd-42ec-9642-90d023998bd9/LocalUpload/c1e63faf1520793bfa0bc21f8f8c056a/onlinescoring"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/codes/000000000000000/versions/1?api-version=0000-00-00
  resp[...]
- request:
    body: '{"properties": {"isAnonymous": false, "isArchived": false, "condaFile":
      "name: model-env\nchannels:\n- conda-forge\ndependencies:\n- python=3.6.1\n-
      numpy=1.19.4\n- pip=21.2.4\n- scikit-learn=0.19.1\n- scipy=1.5.1\n- pip:\n  -
      azureml-defaults==1.33.0\n  - inference-schema[numpy-support]==1.3.0\n  - joblib==1.0.1\n  -
      numpy==1.19.4\n  - scikit-learn==0.19.1\n  - scipy==1.5.1\n", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/environments/online-endpoint-mir-test/versions/3?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/environments/online-endpoint-mir-test/versions/3",
        "name": "3", "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "environmentType": "UserCreated", "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20210727.v1",
        "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\":
        [\n    \"python=3.6.1\",\n    \"numpy=1.19.4\",\n    \"pip=21.2.4\",\n    \"scikit-learn=0.19.1\",\n    \"scipy=1.5.1\",\n    {\n      \"pip\":
        [\n        \"azureml-defaults==1.33.0\",\n        \"inference-schema[numpy-support]==1.3.0\",\n        \"joblib==1.0.1\",\n        \"numpy==1.19.4\",\n        \"scikit-learn==0.19.1\",\n        \"scipy==1.5.1\"\n      ]\n    }\n  ],\n  \"name\":
        \"model-env\"\n}", "osType": "Linux"}, "systemData": {"createdAt": "2022-04-21T05:10:28.6607067Z",
        "createdBy": "Nancy Mejia Juarez", "createdByType": "User", "lastModifiedAt":
        "2022-04-21T05:10:28.6607067Z", "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType":
        "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/environments/online-endpoint-mir-test/versions/3?api-version=2022-05-01
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-response-type:
      - standard
      x-request-time:
      - '1.655'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 00:43:14 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://xxxxxxxxxxxxxxxxxxxxxx.blob.core.windows.net/azureml-blobstore-00000000-0000-0000-0000-000000000000/xxxxx/00000000-0000-0000-0000-00000000000/sklearn_regression_model.pkl
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA23554E089E48"'
      last-modified:
      - Thu, 21 Apr 2022 05:10:51 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Apr 2022 05:10:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - mir_test_model
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"properties": {}, "tags": {}, "isAnonymous": false, "isArchived":
      false, "modelType": "custom_model", "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/namejia-dev-rg/workspaces/namejia-dev-ws/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/models/00000000-0000-0000-0000-000000000000/versions/1?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/models/mir_test_model/versions/1",
        "name": "1", "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {"description": null, "tags": {}, "properties": {}, "isArchived":
        false, "isAnonymous": false, "flavors": {}, "modelType": "custom_model", "modelUri":
        "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/workspaces/namejia-dev-ws/datastores/workspaceblobstore/paths/LocalUpload/98caf8d63f6927ada93b4a519b7df6d5/sklearn_regression_model.pkl",
        "jobName": null}, "systemData": {"createdAt": "2022-04-21T05:10:52.6967118Z",
        "createdBy": "Nancy Mejia Juarez", "createdByType": "User", "lastModifiedAt":
        "2022-04-29T00:43:15.449221Z", "lastModifiedBy": "Nancy Mejia Juarez", "lastModifiedByType":
        "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-02
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.515'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "location": "eastus2", "properties": {"codeConfiguration":
      {"codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/codes/a8c6a0a3-3ed7-49f1-a935-97b5265000f6/versions/1",
      "scoringScript": "score.py"}, "description": "description for online deployment",
      "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/environments/online-endpoint-mir-test/versions/3",
      "environmentVariables": {}, "properties": {}, "appInsightsEnabled": false, "endpointComputeType":
      "Managed", "instanceType": "Standard_DS2_V2", "model": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/namejia-dev-rg/providers/Microsoft.MachineLearningServices/workspaces/namejia-dev-ws/models/mir_test_model/versions/1",
      "privateNetworkConnection": false, "scaleSettings": {"scaleType": "Default"}},
      "sku": {"name": "Default", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-6/deployments/deploy-0000000?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/od:3d827bef-f8dd-42ec-9642-90d023998bd9:1be2b2f0-c201-4e45-8206-dfcc3930d02c?api-version=0000-00-00
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/od:3d827bef-f8dd-42ec-9642-90d023998bd9:1be2b2f0-c201-4e45-8206-dfcc3930d02c",
        "name": "od:3d827bef-f8dd-42ec-9642-90d023998bd9:1be2b2f0-c201-4e45-8206-dfcc3930d02c",
        "startTime": "2022-04-29T00:43:19.7969866Z", "percentComplete": 0.0, "status":
        "Updating"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.346'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/000000000000000/providers/Microsoft.MachineLearningServices/workspaces/000000000000000/onlineEndpoints/test-onl-endpt-000005-6?api-version=0000-00-00
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:58b45c50-92de-44b6-8353-5a333156e275?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/oe:3d827bef-f8dd-42ec-9642-90d023998bd9:58b45c50-92de-44b6-8353-5a333156e275?api-version=2022-02-01-preview
      x-aml-cluster:
      - vienna-eastus2-01
      x-ms-async-operation-timeout:
      - PT30M
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.106'
    status:
      code: 202
      message: Accepted
version: 1
