interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/locations/eastus/getLimits?api-version=2025-09-01-preview
  response:
    body:
      string: '{"properties":{"limits":{"maxFileShares":1000,"maxFileShareSnapshots":200,"maxFileShareSubnets":400,"maxFileSharePrivateEndpointConnections":100,"minProvisionedStorageGiB":32,"maxProvisionedStorageGiB":262144,"minProvisionedIOPerSec":3000,"maxProvisionedIOPerSec":102400,"minProvisionedThroughputMiBPerSec":100,"maxProvisionedThroughputMiBPerSec":10340},"provisioningConstants":{"baseIOPerSec":3000,"scalarIOPerSec":1.0,"baseThroughputMiBPerSec":100,"scalarThroughputMiBPerSec":0.1,"guardrailIOPerSecScalar":5.0,"guardrailThroughputScalar":5.0}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
