interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/patrykkulik-test?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/patrykkulik-test?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test","name":"patrykkulik-test","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"autoDelete":"true","expiresOn":"2023-08-20T10:48:11.8928180Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher","name":"ubuntuPublisher","type":"microsoft.hybridnetwork/publishers","location":"uksouth","systemData":{"createdBy":"patrykkulik@microsoft.com","createdByType":"User","createdAt":"2023-07-24T10:35:08.3094719Z","lastModifiedBy":"patrykkulik@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-24T10:35:08.3094719Z"},"properties":{"scope":"Private","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0b00b59c-0000-1100-0000-64be53e60000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr","name":"ubuntu-acr","type":"microsoft.hybridnetwork/publishers/artifactstores","location":"uksouth","systemData":{"createdBy":"patrykkulik@microsoft.com","createdByType":"User","createdAt":"2023-07-24T10:36:42.2618346Z","lastModifiedBy":"b8ed041c-aa91-418e-8f47-20c70abc2de1","lastModifiedByType":"Application","lastModifiedAt":"2023-07-25T15:05:03.3323028Z"},"properties":{"storeType":"AzureContainerRegistry","replicationStrategy":"SingleReplication","managedResourceGroupConfiguration":{"name":"ubuntu-acr-HostedResources-7510103F","location":"uksouth"},"provisioningState":"Succeeded","storageResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-acr-HostedResources-7510103F/providers/Microsoft.ContainerRegistry/registries/UbuntupublisherUbuntuAcr2315dcfa83"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0a00ba46-0000-1100-0000-64bfe49f0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactSt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/networkFunctionDefinitionGroups/ubuntu-vm-nfdg","name":"ubuntu-vm-nfdg","type":"microsoft.hybridnetwork/publishers/networkfunctiondefinitiongroups","location":"uksouth","systemData":{"createdBy":"patrykkulik@microsoft.com","createdByType":"User","createdAt":"2023-07-24T10:42:52.0873069Z","lastModifiedBy":"patrykkulik@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-24T10:42:52.0873069Z"},"properties":{"description":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f00e901-0000-1100-0000-64be55b40000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0","name":"ubuntu-vm-acr-manifest-1-0-0","type":"microsoft.hybridnetwork/publishers/artifactstores/artifactmanifests","location":"uksouth","systemData":{"createdBy":"patrykkulik@microsoft.com","createdByType":"User","createdAt":"2023-07-25T14:16:09.7629751Z","lastModifiedBy":"patrykkulik@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-25T14:16:09.7629751Z"},"properties":{"artifacts":[{"artifactName":"ubuntu-vm-arm-template","artifactType":"ArmTemplate","artifactVersion":"1.0.0"}],"artifactManifestState":"Uploading","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0e005122-0000-1100-0000-64bfd9380000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0","name":"ubuntu-vm-sa-manifest-1-0-0","type":"microsoft.hybridnetwork/publishers/artifactstores/artifactmanifests","location":"uksouth","systemData":{"createdBy":"patrykkulik@microsoft.com","createdByType":"User","createdAt":"2023-07-25T14:16:09.9192333Z","lastModifiedBy":"patrykkulik@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-25T14:16:09.9192333Z"},"properties":{"artifacts":[{"artifactName":"ubuntu-vm-vhd","artifactType":"VhdImageFile","artifactVersion":"1-0-0"}],"artifactManifestState":"Uploading","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0e002222-0000-1100-0000-64bfd92f0000"'
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "9578888424119431564"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
      deploy the template"}}, "acrArtifactStoreName": {"type": "string", "metadata":
      {"description": "Name of an existing ACR-backed Artifact Store, deployed under
      the publisher."}}, "saArtifactStoreName": {"type": "string", "metadata": {"description":
      "Name of an existing Storage Account-backed Artifact Store, deployed under the
      publisher."}}, "nfName": {"type": "string", "metadata": {"description": "Name
      of Network Function. Used predominantly as a prefix for other variable names"}},
      "nfDefinitionGroup": {"type": "string", "metadata": {"description": "Name of
      an existing Network Function Definition Group"}}, "nfDefinitionVersion": {"type":
      "string", "metadata": {"description": "The version of the NFDV you want to deploy,
      in format A-B-C"}}, "vhdVersion": {"type": "string", "metadata": {"description":
      "The version that you want to name the NFM VHD artifact, in format A-B-C. e.g.
      6-13-0"}}, "armTemplateVersion": {"type": "string", "metadata": {"description":
      "The version that you want to name the NFM template artifact, in format A.B.C.
      e.g. 6.13.0. If testing for development, you can use any numbers you like."}}},
      "variables": {"$fxv#0": {"$schema": "https://json-schema.org/draft-07/schema#",
      "title": "DeployParametersSchema", "type": "object", "properties": {"location":
      {"type": "string"}, "subnetName": {"type": "string"}, "ubuntuVmName": {"type":
      "string"}, "virtualNetworkId": {"type": "string"}, "sshPublicKeyAdmin": {"type":
      "string"}}}, "$fxv#1": {"imageName": "ubuntu-vmImage", "azureDeployLocation":
      "{deployParameters.location}"}, "$fxv#2": {"location": "{deployParameters.location}",
      "subnetName": "{deployParameters.subnetName}", "ubuntuVmName": "{deployParameters.ubuntuVmName}",
      "virtualNetworkId": "{deployParameters.virtualNetworkId}", "sshPublicKeyAdmin":
      "{deployParameters.sshPublicKeyAdmin}", "imageName": "ubuntu-vmImage"}}, "resources":
      [{"type": "Microsoft.Hybridnetwork/publishers/networkfunctiondefinitiongroups/networkfunctiondefinitionversions",
      "apiVersion": "2023-04-01-preview", "name": "[format(''{0}/{1}/{2}'', parameters(''publisherName''),
      parameters(''nfDefinitionGroup''), parameters(''nfDefinitionVersion''))]", "location":
      "[parameters(''location'')]", "properties": {"versionState": "Preview", "deployParameters":
      "[string(variables(''$fxv#0''))]", "networkFunctionType": "VirtualNetworkFunction",
      "networkFunctionTemplate": {"nfviType": "AzureCore", "networkFunctionApplications":
      [{"artifactType": "VhdImageFile", "name": "[format(''{0}Image'', parameters(''nfName''))]",
      "dependsOnProfile": null, "artifactProfile": {"vhdArtifactProfile": {"vhdName":
      "[format(''{0}-vhd'', parameters(''nfName''))]", "vhdVersion": "[parameters(''vhdVersion'')]"},
      "artifactStore": {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'',
      parameters(''publisherName''), parameters(''saArtifactStoreName''))]"}}, "deployParametersMappingRuleProfile":
      {"vhdImageMappingRuleProfile": {"userConfiguration": "[string(variables(''$fxv#1''))]"},
      "applicationEnablement": "Unknown"}}, {"artifactType": "ArmTemplate", "name":
      "[parameters(''nfName'')]", "dependsOnProfile": null, "artifactProfile": {"templateArtifactProfile":
      {"templateName": "[format(''{0}-arm-template'', parameters(''nfName''))]", "templateVersion":
      "[parameters(''armTemplateVersion'')]"}, "artifactStore": {"id": "[resourceId(''Microsoft.HybridNetwork/publishers/artifactStores'',
      parameters(''publisherName''), parameters(''acrArtifactStoreName''))]"}}, "deployParametersMappingRuleProfile":
      {"templateMappingRuleProfile": {"templateParameters": "[string(variables(''$fxv#2''))]"},
      "applicationEnablement": "Unknown"}}]}}}]}, "parameters": {"location": {"value":
      "uksouth"}, "publisherName": {"value": "ubuntuPublisher"}, "acrArtifactStoreName":
      {"value": "ubuntu-acr"}, "saArtifactStoreName": {"value": "ubuntu-blob-store"},
      "nfName": {"value": "ubuntu-vm"}, "nfDefinitionGroup": {"value": "ubuntu-vm-nfdg"},
      "nfDefinitionVersion": {"value": "1.0.0"}, "vhdVersion": {"value": "1-0-0"},
      "armTemplateVersion": {"value": "1.0.0"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/patrykkulik-test/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.Resources/deployments/AOSM_CLI_deployment_into_1690299248","name":"AOSM_CLI_deployment_into_1690299248","type":"Microsoft.Resources/deployments","properties":{"templateHash":"9578888424119431564","parameters":{"location":{"type":"String","value":"uksouth"},"publisherName":{"type":"String","value":"ubuntuPublisher"},"acrArtifactStoreName":{"type":"String","value":"ubuntu-acr"},"saArtifactStoreName":{"type":"String","value":"ubuntu-blob-store"},"nfName":{"type":"String","value":"ubuntu-vm"},"nfDefinitionGroup":{"type":"String","value":"ubuntu-vm-nfdg"},"nfDefinitionVersion":{"type":"String","value":"1.0.0"},"vhdVersion":{"type":"String","value":"1-0-0"},"armTemplateVersion":{"type":"String","value":"1.0.0"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"fab3d024-829a-46f0-8ded-f70611c24351","providers":[{"namespace":"Microsoft.Hybridnetwork","resourceTypes":[{"resourceType":"publishers/networkfunctiondefinitiongroups/networkfunctiondefinitionversions","locations":["uksouth"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.Hybridnetwork/publishers/ubuntuPublisher/networkfunctiondefinitiongroups/ubuntu-vm-nfdg/networkfunctiondefinitionversions/1.0.0"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.8.9.13224", "templateHash": "9578888424119431564"}}, "parameters": {"location":
      {"type": "string"}, "publisherName": {"type": "string", "metadata": {"description":
      "Name of an existing publisher, expected to be in the resource group where you
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/patrykkulik-test/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585113076344871384?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-blob-store/artifactManifests/ubuntu-vm-sa-manifest-1-0-0/listCredential?api-version=2023-04-01-preview
  response:
    body:
      string: '{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ubuntu-blob-store-HostedResources-07BDF073/providers/Microsoft.Storage/storageAccounts/07bdf073ubuntublobstorea","containerCredentials":[{"containerName":"ubuntuvmvhd-1-0-0","containerSasUri":"https://07bdf073ubuntublobstorea.blob.core.windows.net/ubuntuvmvhd-1-0-0?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=c&sig=eoSLWD7pccblbNRJt8QGMkWOcYR9xZbjVntVNxHmXiY%3D"}],"expiry":"2023-07-26T15:35:44.7911197+00:00","credentialType":"AzureStorageAccountToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/patrykkulik-test/providers/Microsoft.HybridNetwork/publishers/ubuntuPublisher/artifactStores/ubuntu-acr/artifactManifests/ubuntu-vm-acr-manifest-1-0-0/listCredential?api-version=2023-04-01-preview
  response:
    body:
      string: '{"username":"ubuntu-vm-acr-manifest-1-0-0","acrToken":"KeuLRqRSUG8EgGCa44L1aPWJfETjqS0rATb5RwwrQa+ACRCSaRro","acrServerUrl":"https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io","repositories":["ubuntu-vm-arm-template"],"expiry":"2023-07-26T15:35:45.4632085+00:00","credentialType":"AzureContainerRegistryScopedToken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.02386.1640
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 25 Jul 2023 15:35:46 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://ubuntuimage.blob.core.windows.net/images/livecd.ubuntu-cpc.azure.vhd?sp=r&st=2023-07-25T13%3A50%3A40Z&se=2024-07-25T21%3A50%3A40Z&spr=https&sv=2022-11-02&sr=b&sig=NlqXIleMtL9wIACerJdtxZ5kXdF0Gbe4uoYRmcDsFq8%3D
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB883E503690E6"'
      last-modified:
      - Wed, 19 Jul 2023 09:55:41 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Wed, 19 Jul 2023 09:33:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://ubuntuimage.blob.core.windows.net/images/livecd.ubuntu-cpc.azure.vhd?sp=r&st=2023-07-25T13%3A50%3A40Z&se=2024-07-25T21%3A50%3A40Z&spr=https&sv=2022-11-02&sr=b&sig=NlqXIleMtL9wIACerJdtxZ5kXdF0Gbe4uoYRmcDsFq8%3D
      x-ms-date:
      - Tue, 25 Jul 2023 15:35:46 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://07bdf073ubuntublobstorea.blob.core.windows.net/ubuntuvmvhd-1-0-0/ubuntuvm-1-0-0.vhd?sv=2021-08-06&si=StorageAccountAccessPolicy&sr=c&sig=eoSLWD7pccblbNRJt8QGMkWOcYR9xZbjVntVNxHmXiY%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB8D24D121DF09"'
      last-modified:
      - Tue, 25 Jul 2023 15:35:47 GMT
      x-ms-copy-id:
      - 0cd4f543-bb41-4b0d-add0-d5d20352b3fa
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2022-11-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io/v2/ubuntu-vm-arm-template/blobs/uploads/
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"ubuntu-vm-arm-template","Action":"pull"},{"Type":"repository","Name":"ubuntu-vm-arm-template","Action":"push"}]}]}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      www-authenticate:
      - Bearer realm="https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io/oauth2/token",service="ubuntupublisherubuntuacr2315dcfa83.azurecr.io",scope="repository:ubuntu-vm-arm-template:pull,push"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Service:
      - ubuntupublisherubuntuacr2315dcfa83.azurecr.io
    method: GET
    uri: https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io/oauth2/token?service=ubuntupublisherubuntuacr2315dcfa83.azurecr.io&scope=repository%3Aubuntu-vm-arm-template%3Apull%2Cpush
  response:
    body:
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkNPQVU6UERZSDo0SVJYOjM2SEI6TFYzUDpWNFBGOko0NzQ6SzNOSjpPS1JCOlRZQUo6NEc0Szo1Q1NEIn0.eyJqdGkiOiI0NDBjMzNhZC04ZDM3LTQ1YTYtOTI0NS1hMGZkNWU4MGNhMWEiLCJzdWIiOiJ1YnVudHUtdm0tYWNyLW1hbmlmZXN0LTEtMC0wIiwibmJmIjoxNjkwMjk4NDQ3LCJleHAiOjE2OTAzMDAyNDcsImlhdCI6MTY5MDI5ODQ0NywiaXNzIjoiQXp1cmUgQ29udGFpbmVyIFJlZ2lzdHJ5IiwiYXVkIjoidWJ1bnR1cHVibGlzaGVydWJ1bnR1YWNyMjMxNWRjZmE4My5henVyZWNyLmlvIiwidmVyc2lvbiI6IjIuMCIsInJpZCI6IjUzNjQ5MTE4MjEzMTRkNjc5MjZkYTdhM2NkYzE3NGY4IiwiYWNjZXNzIjpbeyJUeXBlIjoicmVwb3NpdG9yeSIsIk5hbWUiOiJ1YnVudHUtdm0tYXJtLXRlbXBsYXRlIiwiQWN0aW9ucyI6WyJwdWxsIiwicHVzaCJdfV0sInJvbGVzIjpbXSwiZ3JhbnRfdHlwZSI6ImFjY2Vzc190b2tlbiJ9.oFeh6SwGAWaye-dGbmnu4ZNVh_okkLVAnSjfLqssygSaYI3BmJZmmBfzWxmV7XONb437XORffj49Bj4lbDIfL7vCdAEGODZ17GC3bTqqAX_ALEDxrRv_I-mVzeI__nx3gBzAudDI6yTSPVrQI-ispryYWvmN6vWgVcTshiAv_9R3BIZHP7Yw_S1c7S1hFc6nHXKKdvryiX1rMd_oRpHxRTfm74rYd13MYktoJE4DGAjOxSNV3_kD4Ejujs-f3bzG08sVCQ12P7kGfd42gp3NpdbDqXgs79pMIzB7R27TynATTVz3pkNNSdAHRnup0dxppOua1XaGGX5ho4ZVHTU7rQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second:
      - '333.316667'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io/v2/ubuntu-vm-arm-template/blobs/uploads/
  response:
    body:
      string: ''
    headers:
      docker-distribution-api-version:
      - registry/2.0
      docker-upload-uuid:
      - 3b9f6aa5-5d35-49fb-8f7e-5cbeb5e8e2b4
      location:
      - /v2/ubuntu-vm-arm-template/blobs/uploads/3b9f6aa5-5d35-49fb-8f7e-5cbeb5e8e2b4?_nouploadcache=false&_state=ynLzJc1JybTowgoWdZD3cXIU3is38dC4f0LwUUvBfUF7Ik5hbWUiOiJ1YnVudHUtdm0tYXJtLXRlbXBsYXRlIiwiVVVJRCI6IjNiOWY2YWE1LTVkMzUtNDlmYi04ZjdlLTVjYmViNWU4ZTJiNCIsIk9mZnNldCI6MCwiU3RhcnRlZEF0IjoiMjAyMy0wNy0yNVQxNTozNTo0Ny4yNDA1Mzk0MjJaIn0%3D
      range:
      - 0-0
    status:
      code: 202
      message: Accepted
- request:
    body: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.8.9.13224\",\n      \"templateHash\":
      \"14979664264804385741\"\n    }\n  },\n  \"parameters\": {\n    \"location\":
      {\n      \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\"\n
      \   },\n    \"subnetName\": {\n      \"type\": \"string\"\n    },\n    \"ubuntuVmName\":
      {\n      \"type\": \"string\",\n      \"defaultValue\": \"ubuntu-vm\"\n    },\n
      \   \"virtualNetworkId\": {\n      \"type\": \"string\"\n    },\n    \"sshPublicKeyAdmin\":
      {\n      \"type\": \"string\"\n    },\n    \"imageName\": {\n      \"type\":
      \"string\"\n    }\n  },\n  \"variables\": {\n    \"imageResourceGroup\": \"[resourceGroup().name]\",\n
      \   \"subscriptionId\": \"[subscription().subscriptionId]\",\n    \"vmSizeSku\":
      \"Standard_D2s_v3\"\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.Network/networkInterfaces\",\n
      \     \"apiVersion\": \"2021-05-01\",\n      \"name\": \"[format('{0}_nic',
      parameters('ubuntuVmName'))]\",\n      \"location\": \"[parameters('location')]\",\n
      \     \"properties\": {\n        \"ipConfigurations\": [\n          {\n            \"name\":
      \"ipconfig1\",\n            \"properties\": {\n              \"subnet\": {\n
      \               \"id\": \"[format('{0}/subnets/{1}', parameters('virtualNetworkId'),
      parameters('subnetName'))]\"\n              },\n              \"primary\": true,\n
      \             \"privateIPAddressVersion\": \"IPv4\"\n            }\n          }\n
      \       ]\n      }\n    },\n    {\n      \"type\": \"Microsoft.Compute/virtualMachines\",\n
      \     \"apiVersion\": \"2021-07-01\",\n      \"name\": \"[parameters('ubuntuVmName')]\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"properties\": {\n
      \       \"hardwareProfile\": {\n          \"vmSize\": \"[variables('vmSizeSku')]\"\n
      \       },\n        \"storageProfile\": {\n          \"imageReference\": {\n
      \           \"id\": \"[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}',
      variables('subscriptionId'), variables('imageResourceGroup')), 'Microsoft.Compute/images',
      parameters('imageName'))]\"\n          },\n          \"osDisk\": {\n            \"osType\":
      \"Linux\",\n            \"name\": \"[format('{0}_disk', parameters('ubuntuVmName'))]\",\n
      \           \"createOption\": \"FromImage\",\n            \"caching\": \"ReadWrite\",\n
      \           \"writeAcceleratorEnabled\": false,\n            \"managedDisk\":
      \"[json('{\\\"storageAccountType\\\": \\\"Premium_LRS\\\"}')]\",\n            \"deleteOption\":
      \"Delete\",\n            \"diskSizeGB\": 30\n          }\n        },\n        \"osProfile\":
      {\n          \"computerName\": \"[parameters('ubuntuVmName')]\",\n          \"adminUsername\":
      \"azureuser\",\n          \"linuxConfiguration\": {\n            \"disablePasswordAuthentication\":
      true,\n            \"ssh\": {\n              \"publicKeys\": [\n                {\n
      \                 \"path\": \"/home/azureuser/.ssh/authorized_keys\",\n                  \"keyData\":
      \"[parameters('sshPublicKeyAdmin')]\"\n                }\n              ]\n
      \           },\n            \"provisionVMAgent\": true,\n            \"patchSettings\":
      {\n              \"patchMode\": \"ImageDefault\",\n              \"assessmentMode\":
      \"ImageDefault\"\n            }\n          },\n          \"secrets\": [],\n
      \         \"allowExtensionOperations\": true\n        },\n        \"networkProfile\":
      {\n          \"networkInterfaces\": [\n            {\n              \"id\":
      \"[resourceId('Microsoft.Network/networkInterfaces', format('{0}_nic', parameters('ubuntuVmName')))]\"\n
      \           }\n          ]\n        }\n      },\n      \"dependsOn\": [\n        \"[resourceId('Microsoft.Network/networkInterfaces',
      format('{0}_nic', parameters('ubuntuVmName')))]\"\n      ]\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io/v2/ubuntu-vm-arm-template/blobs/uploads/3b9f6aa5-5d35-49fb-8f7e-5cbeb5e8e2b4?_nouploadcache=false&_state=ynLzJc1JybTowgoWdZD3cXIU3is38dC4f0LwUUvBfUF7Ik5hbWUiOiJ1YnVudHUtdm0tYXJtLXRlbXBsYXRlIiwiVVVJRCI6IjNiOWY2YWE1LTVkMzUtNDlmYi04ZjdlLTVjYmViNWU4ZTJiNCIsIk9mZnNldCI6MCwiU3RhcnRlZEF0IjoiMjAyMy0wNy0yNVQxNTozNTo0Ny4yNDA1Mzk0MjJaIn0%3D&digest=sha256%3Ae71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b
  response:
    body:
      string: ''
    headers:
      docker-content-digest:
      - sha256:e71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b
      docker-distribution-api-version:
      - registry/2.0
      location:
      - /v2/ubuntu-vm-arm-template/blobs/sha256:e71bf56543dc33dc8e550a0c574efe9a4875754a4ddf74347e448dec2462798b
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://ubuntupublisherubuntuacr2315dcfa83.azurecr.io/v2/ubuntu-vm-arm-template/blobs/uploads/0f3938cd-c2ef-41a3-bacd-c3d2114c309c?_nouploadcache=false&_state=Kr-jGLwLCYs0b7ZxKJmnAjIHlgoNKP0UdSMhwziJRqF7Ik5hbWUiOiJ1YnVudHUtdm0tYXJtLXRlbXBsYXRlIiwiVVVJRCI6IjBmMzkzOGNkLWMyZWYtNDFhMy1iYWNkLWMzZDIxMTRjMzA5YyIsIk9mZnNldCI6MCwiU3RhcnRlZEF0IjoiMjAyMy0wNy0yNVQxNTozNTo0Ny42NjQ0NDE0ODlaIn0%3D&digest=sha256%3Ae3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
  response:
    body:
      string: ''
    headers:
      docker-content-digest:
      - sha256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      docker-distribution-api-version:
      - registry/2.0
      location:
      - /v2/ubuntu-vm-arm-template/blobs/sha256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
    status:
      code: 201
      message: Created
- request:
    body: '{"schemaVersion": 2, "mediaType": "application/vnd.oci.image.manifest.v1+json",
      "config": {"mediaType": "application/vnd.unknown.config.v1+json", "size": 0,
      "digest": "sha256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"},
[...]
