interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/PureStorage.Block/reservations?api-version=2024-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/reservations/cliTestReservation","name":"cliTestReservation","type":"purestorage.block/reservations","location":"centralus","tags":{"key1110":"euhfdmtfpucwurtu"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-08T12:04:52.0352337Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-09T11:33:35.9076285Z"},"properties":{"reservationInternalId":"524469f1-fe39-421a-9398-9e1589b01012","marketplace":{"subscriptionId":"660093d0-6674-40ea-cfee-edcedffdd61f","subscriptionStatus":"Subscribed","offerDetails":{"publisherId":"purestoragemarketplaceadmin","offerId":"krypton_3_plan","planId":"private_preview_zero","termUnit":"P1M","termId":"gmz7xq9ge3py"}},"user":{"firstName":"ritika","lastName":"joshi","emailAddress":"test@example.com","companyDetails":{"companyName":"Microsoft","address":{"addressLine1":"Street12s3","addressLine2":"h","city":"Redmond","state":"wa","postalCode":"98052-8300","country":"US"}}},"provisioningState":"Failed"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/reservations/tempReservation2","name":"tempReservation2","type":"purestorage.block/reservations","location":"East
        US 2 EUAP","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2024-12-04T10:26:28.1607248Z","lastModifiedBy":"2ac806ef-bfc3-487f-b66a-ec5023c35730","lastModifiedByType":"Application","lastModifiedAt":"2024-12-04T10:34:4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/reservations/cliTestReservation?api-version=2024-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/S1RG1/providers/PureStorage.Block/reservations/cliTestReservation","name":"cliTestReservation","type":"purestorage.block/reservations","location":"centralus","tags":{"key1110":"euhfdmtfpucwurtu"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-08T12:04:52.0352337Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-09T11:33:35.9076285Z"},"properties":{"reservationInternalId":"524469f1-fe39-421a-9398-9e1589b01012","marketplace":{"subscriptionId":"660093d0-6674-40ea-cfee-edcedffdd61f","subscriptionStatus":"Subscribed","offerDetails":{"publisherId":"purestoragemarketplaceadmin","offerId":"krypton_3_plan","planId":"private_preview_zero","planName":null,"termUnit":"P1M","termId":"gmz7xq9ge3py"}},"user":{"firstName":"ritika","lastName":"joshi","emailAddress":"test@example.com","companyDetails":{"companyName":"Microsoft","address":{"addressLine1":"Street12s3","addressLine2":"h","city":"Redmond","state":"wa","postalCode":"98052-8300","country":"US"}}},"provisioningState":"Failed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1201ba40-0000-0800-0000-687654fa0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
