interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/conk8stest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/conk8stest000001","name":"conk8stest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2022-11-17T10:15:09Z","Created":"20221117"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "firstvkgfp-conk8stest000001-1bfbb5",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvp8/0L+JGBNPdl8292HKmvItwPYykyQQx9YDYu2b8YSoveRvXiHoxu4jGq+UykW0mhXVjoKh54DD7qkh+ryMrAarhtLSjTuF6CVk9X8zrcxjQm0mr1xDtjNpd7R/NIU+KxDhn7ITKfal+SpXEC4634eOzPc4YqsKULVUCrdXk9rA/0CpE4KWO2YWwYV1MmWD2uLEpiUzLwgefuHcEH8S6hOUC5veiPc7AuD4lX0efogvvObE+5tqhvNCYvO2NG7x51rBlMgmcLYehNTeCFQLpUdFm014yfk9l8JQv2hQ/cFbCRzA/zYEPSAOOb1VSMYxTVk51wt1mrcb+wMzpsBQv"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/conk8stest000001/providers/Microsoft.ContainerService/managedClusters/first000002?api-version=2022-04-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/conk8stest000001/providers/Microsoft.ContainerService/managedClusters/first000002\",\n
        \ \"location\": \"eastus2euap\",\n  \"name\": \"first000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.12\",\n   \"currentKubernetesVersion\": \"1.23.12\",\n   \"dnsPrefix\":
        \"firstvkgfp-conk8stest000001-1bfbb5\",\n   \"fqdn\": \"firstvkgfp-conk8stest000001-1bfbb5-c97cd216.hcp.eastus2euap.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"firstvkgfp-conk8stest000001-1bfbb5-c97cd216.portal.hcp.eastus2euap.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.23.12\",\n     \"currentOrchestratorVersion\":
        \"1.23.12\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.11.02\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvp8/0L+JGBNPdl8292HKmvItwPYykyQQx9YDYu2b8YSoveRvXiHoxu4jGq+UykW0mhXVjoKh54DD7qkh+ryMrAarhtLSjTuF6CVk9X8zrcxjQm0mr1xDtjNpd7R/NIU+KxDhn7ITKfal+SpXEC4634eOzPc4YqsKULVUCrdXk9rA/0CpE4KWO2YWwYV1MmWD2uLEpiUzLwgefuHcEH8S6hOUC5veiPc7AuD4lX0efogvvObE+5tqhvNCYvO2NG7x51rBlMgmcLYehNTeCFQLpUdFm014yfk9l8JQv2hQ/cFbCRzA/zYEPSAOOb1VSMYxTVk51wt1mrcb+wMzpsBQv\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_conk8stest000001_first000002_eastus2euap\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   }\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\": \"da0c5567-fb9b-4190-ad0a-5fd8b3c13f8e\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/01d868b6-0017-453e-9f89-9f891de33b99?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/01d868b6-0017-453e-9f89-9f891de33b99?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b668d801-1700-3e45-9f89-9f891de33b99\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-11-17T10:15:42.2248561Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2euap/operations/01d868b6-0017-453e-9f89-9f891de33b99?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b668d801-1700-3e45-9f89-9f891de33b99\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-11-17T10:15:42.2248561Z\",\n  \"endTime\":
        \"2022-11-17T10:21:24.0212759Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/conk8stest000001/providers/Microsoft.ContainerService/managedClusters/first000002/listClusterUserCredential?api-version=2022-04-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterUser\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVVzM1dXVmthVlJVYlhOUk1rbEhVMlZ4V1hCblowMTNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BKZUUxVVJUTk5WRUYzVG5wQmVsZG9aMUJOYWtFeFRXcEZlRTFVWTNoTlJFVXpUVVJPWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVsSlEwTm5TME5CWjBWQkNua[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","West US 3","East
        Asia","Canada Central","East US 2 EUAP","Canada East"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://firstvkgfp-conk8stest000001-1bfbb5-c97cd216.hcp.eastus2euap.azmk8s.io/apis/networking.k8s.io/v1/
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"l/iqIbDgFyQ="},{"name":"ingresses","singularName":"","namespaced":true,"kind":"Ingress","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ing"],"storageVersionHash":"39NQlfNR+bo="},{"name":"ingresses/status","singularName":"","namespaced":true,"kind":"Ingress","verbs":["get","patch","update"]},{"name":"networkpolicies","singularName":"","namespaced":true,"kind":"NetworkPolicy","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["netpol"],"storageVersionHash":"YpfwF18m1G8="}]}

        '
    headers:
      audit-id:
      - 4b5eb02a-8d63-4b4f-bb2b-3599f8e70290
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 69344075-8d17-4182-b0c5-7aba987e623d
      x-kubernetes-pf-prioritylevel-uid:
      - 411baa24-70ea-49dc-b172-01e1e578784e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://firstvkgfp-conk8stest000001-1bfbb5-c97cd216.hcp.eastus2euap.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1919"},"items":[{"metadata":{"name":"aks-nodepool1-46409458-vmss000000","uid":"ce7d689e-898c-4192-904c-dfd6529bde4e","resourceVersion":"1537","creationTimestamp":"2022-11-17T10:19:00Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_DS2_v2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"eastus2euap","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_conk8stest000001_first000002_eastus2euap","kubernetes.azure.com/kubelet-identity-client-id":"1b2417ce-9a6a-4ee0-b32c-633fc85d7c78","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2022.11.02","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-46409458-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_DS2_v2","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"eastus2euap","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-46409458-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-46409458-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2022-11-17T10:19:00Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.2.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2022-11-17T10:19:00Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/kubelet-identity-client-id":{},"f:kuber[...]
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firstvkgfp-conk8stest000001-1bfbb5-c97cd216.hcp.eastus2euap.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2022-11-17T10:22:14Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - 9abad3b4-b1c2-4cf1-8bfa-7a0e87db3281
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 69344075-8d17-4182-b0c5-7aba987e623d
      x-kubernetes-pf-prioritylevel-uid:
      - 411baa24-70ea-49dc-b172-01e1e578784e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://firstvkgfp-conk8stest000001-1bfbb5-c97cd216.hcp.eastus2euap.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"23\",\n  \"gitVersion\": \"v1.23.12\",\n
        \ \"gitCommit\": \"f941a31f4515c5ac03f5fc7ccf9a330e3510b80d\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T17:12:33Z\",\n  \"goVersion\": \"go1.17.13\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - c447d8b9-716e-4bd5-a101-0ab9104e0d71
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 69344075-8d17-4182-b0c5-7aba987e623d
      x-kubernetes-pf-prioritylevel-uid:
      - 411baa24-70ea-49dc-b172-01e1e578784e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/conk8stest000001/providers/Microsoft.Kubernetes/connectedClusters/cc-000004?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/cc-000004''
        under resource group ''conk8stest000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.8.14"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "doo"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEApHgAALpeWtuHC5oHd+J6RXda9uDK+GwMMieLpQBAKvjyApyYhFRfLdt62SVbv6Bo0FCZcitQzsr9tHmmCqMqUjLj3uSaw79YNEteLd+n6Kj2CARDutWRmRWq/yFgxJ6LelutkktIZosWJw79fpdvWOHVk3x94palKlc4rvLApJemsprXeov/LhEPFhxcaM/G39ULBQoroAJYQW6zNlVqQcxnDjVNwXOqU81CsDj8ZpR5NkuI9lFylNYdg+Ye5jZEmgjIWrdiqeHMNBJ/zRg10ShH6TPcWHYtszKKU92OoAFrc23LSm8KmijkZWqFt2+8olzgdCafZXfO3UiH4bJDN17dYuz1uBaXcVWqheJwVzz3VckH9X77FR5mYiznEumvq6JDu+9CaRBQ7/QJo0w4ll6Lk02uF14ygF6IAIkcVN/+Hl//aEXTqRvvp+PE+TBeLEHJtkbWPNA4S+wOwHnf8nE2F8lZM1nbKrknfmGnjwpQdgVz3zeMfxBr6KgKUhwrGD/t5r6H3iIaGCs+eicTBlF1X+fPNiVP49008mJrIYgY4Rm3tQ3675Kw5JPRpX1ok2CP3VDimplMrK/6Wt+7pHUgX/u2bhLSD2fthXP1RgANpm8NW0vtSA3Mz0bxlU6zPOgv6/ij4+SXLX0h7KpUCWZzPVw/d/Lxwzd2XzUZwwsCAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/conk8stest000001/providers/Microsoft.Kubernetes/connectedClusters/cc-000004?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/conk8stest000001/providers/Microsoft.Kubernetes/connectedClusters/cc-000004","name":"cc-000004","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{"foo":"doo"},"systemData":{"createdBy":"rohandassani@microsoft.com","createdByType":"User","createdAt":"2022-11-17T10:23:18.613987Z","lastModifiedBy":"rohandassani@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-17T10:23:18.613987Z"},"identity":{"principalId":"37ec4cce-84cb-4f86-bda2-d0b2019ce6ec","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEApHgAALpeWtuHC5oHd+J6RXda9uDK+GwMMieLpQBAKvjyApyYhFRfLdt62SVbv6Bo0FCZcitQzsr9tHmmCqMqUjLj3uSaw79YNEteLd+n6Kj2CARDutWRmRWq/yFgxJ6LelutkktIZosWJw79fpdvWOHVk3x94palKlc4rvLApJemsprXeov/LhEPFhxcaM/G39ULBQoroAJYQW6zNlVqQcxnDjVNwXOqU81CsDj8ZpR5NkuI9lFylNYdg+Ye5jZEmgjIWrdiqeHMNBJ/zRg10ShH6TPcWHYtszKKU92OoAFrc23LSm8KmijkZWqFt2+8olzgdCafZXfO3UiH4bJDN17dYuz1uBaXcVWqheJwVzz3VckH9X77FR5mYiznEumvq6JDu+9CaRBQ7/QJo0w4ll6Lk02uF14ygF6IAIkcVN/+Hl//aEXTqRvvp+PE+TBeLEHJtkbWPNA4S+wOwHnf8nE2F8lZM1nbKrknfmGnjwpQdgVz3zeMfxBr6KgKUhwrGD/t5r6H3iIaGCs+eicTBlF1X+fPNiVP49008mJrIYgY4Rm3tQ3675Kw5JPRpX1ok2CP3VDimplMrK/6Wt+7pHUgX/u2bhLSD2fthXP1RgANpm8NW0vtSA3Mz0bxlU6zPOgv6/ij4+SXLX0h7KpUCWZzPVw/d/Lxwzd2XzUZwwsCAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/47a2c01a-63ea-4f36-a9db-2c284b84cf81*3E2F84C0126C4E0B953D64E3B96199173548C5BE52A3C7FA99052B94E470BBE7?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8b003a73-0000-0100-0000-63760b980000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/47a2c01a-63ea-4f36-a9db-2c284b84cf81*3E2F84C0126C4E0B953D64E3B96199173548C5BE52A3C7FA99052B94E470BBE7?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/47a2c01a-63ea-4f36-a9db-2c284b84cf81*3E2F84C0126C4E0B953D64E3B96199173548C5BE52A3C7FA99052B94E470BBE7","name":"47a2c01a-63ea-4f36-a9db-2c284b84cf81*3E2F84C0126C4E0B953D64E3B96199173548C5BE52A3C7FA99052B94E470BBE7","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/conk8stest000001/providers/Microsoft.Kubernetes/connectedClusters/cc-000004","status":"Succeeded","startTime":"2022-11-17T10:23:20.3677817Z","endTime":"2022-11-17T10:23:28.9572248Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"20013371-0000-0100-0000-63760ba00000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f6e3b06392"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"0981f4e0-04a7-4e31-bd2b-b2ac2fc6ba4e"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-03-15-preview","2020-07-15-privatepreview"],"capabilities":"None"},{"resourceType":"customLocations","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerland North","Sweden
        Central","East US 2 EUAP"],"apiVersions":["2021-08-31-preview","2021-08-15","2021-03-15-preview","2020-07-15-privatepreview"],"defaultApiVersion":"2021-08-15","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"customLocations/enabledResourceTypes","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerla[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
        Locations RP","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft
        Services","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bc313c14-388c-4e7d-a58e-70017303ee3b"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1160126'
      ocp-aad-diagnostics-server-name:
      - 06iWMoqaXtbt78qFv/f7+fl7y7WRWjS7TYAAX4ltmLI=
      ocp-aad-session-key:
      - mDhEl6rGW6Ux26qbOnwBhFW-q3I110MhFOzM5S64dHnxNRKIPkG8RYrEflQw0-Zp3br15tZNnauLNroIcSYq6vgjXzYiMi4mtI88ARt6zbclvwfIvLjSwF8wmhzIwHOZ.2D0cJ6DU_WP2BoMJHOow59Vf638q_YHdG-ay1jpaKY0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/conk8stest000001/providers/Microsoft.Kubernetes/connectedClusters/cc-000004?api-version=2022-05-01-preview
  response:
    body:
[...]
