interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar","name":"akkeshar","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"Created":"20210721"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cli-test-a-akkeshar-1bfbb5", "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_B2s",
      "osType": "Linux", "type": "VirtualMachineScaleSets", "mode": "System", "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "name":
      "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDaIV6uD+Mhm1JWF662S7fLWlkbdZODE8TuLUsKdkJoC+rWZVpXy1u4t/jCne6ZloWfdaHmF/99DOoIT9rLcWesXicBQCtPuZeQC3fHB6WQkVo7STwxrSGNKxVMelJ7D/YzJmsX/b9834uDUwvYSXc1xfRUJRMZR+5kajHus/NqfbpcBnSiG5WZhwXDGpEwA2YxuKQkYqSR+bcs/XaxI6t3iITOVe/QVzkrm4DT5n+bZzUfdSrrPHwTS3OQr788URnF48lcNDVpSEeQdDVC5B7RjD1U83yp7uvZ6GHSoxpIS8uStbaZKGWl8aV+dBFkjx6Fl2mGa0u8R86DUepdcO8T
      akkesharlinux@AkashLaptop\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy":
      false, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "standard"}},
      "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.ContainerService/managedClusters/cli-test-aks-000001?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.ContainerService/managedClusters/cli-test-aks-000001\",\n
        \ \"location\": \"westeurope\",\n  \"name\": \"cli-test-aks-000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.20.7\",\n   \"dnsPrefix\": \"cli-test-a-akkeshar-1bfbb5\",\n   \"fqdn\":
        \"cli-test-a-akkeshar-1bfbb5-864c8a90.hcp.westeurope.azmk8s.io\",\n   \"agentPoolProfiles\":
        [\n    {\n     \"name\": \"nodepool1\",\n     \"count\": 1,\n     \"vmSize\":
        \"Standard_B2s\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\": \"Managed\",\n
        \    \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\":
        \"Creating\",\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n
        \    \"orchestratorVersion\": \"1.20.7\",\n     \"enableNodePublicIP\": false,\n
        \    \"nodeLabels\": {},\n     \"mode\": \"System\",\n     \"osType\": \"Linux\",\n
        \    \"nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2021.07.10\"\n    }\n
        \  ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\":
        {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDaIV6uD+Mhm1JWF662S7fLWlkbdZODE8TuLUsKdkJoC+rWZVpXy1u4t/jCne6ZloWfdaHmF/99DOoIT9rLcWesXicBQCtPuZeQC3fHB6WQkVo7STwxrSGNKxVMelJ7D/YzJmsX/b9834uDUwvYSXc1xfRUJRMZR+5kajHus/NqfbpcBnSiG5WZhwXDGpEwA2YxuKQkYqSR+bcs/XaxI6t3iITOVe/QVzkrm4DT5n+bZzUfdSrrPHwTS3OQr788URnF48lcNDVpSEeQdDVC5B7RjD1U83yp7uvZ6GHSoxpIS8uStbaZKGWl8aV+dBFkjx6Fl2mGa0u8R86DUepdcO8T
        akkesharlinux@AkashLaptop\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_akkeshar_cli-test-aks-000001_westeurope\",\n
        \  \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\":
        {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n
        \   \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\":
        1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\":
        100\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":
        \"48ef5996-8142-4b50-a07f-8787200d8692\",\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n
        }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/d5845aff-d82e-4de9-aa5f-698d7f3a90ec?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/d5845aff-d82e-4de9-aa5f-698d7f3a90ec?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"ff5a84d5-2ed8-e94d-aa5f-698d7f3a90ec\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-08-01T13:00:30.3266666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/d5845aff-d82e-4de9-aa5f-698d7f3a90ec?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"ff5a84d5-2ed8-e94d-aa5f-698d7f3a90ec\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-08-01T13:00:30.3266666Z\",\n  \"endTime\":
        \"2021-08-01T13:03:33.8851728Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.ContainerService/managedClusters/cli-test-aks-000001/listClusterUserCredential?api-version=2020-11-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterUser\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVVzdmVYQXlWWGxFUW1KQlpYcDVTRlF6Vmxwc1VqQjNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BGZDA5RVFYaE5WRWt4VFVSUk1GZG9aMUJOYWtFeFRWUkJORTFFUlhoTmVrRjNUa1JTWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVsSlEwTm5TME5CWjBWQkNuT[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-864c8a90.hcp.westeurope.azmk8s.io/apis/networking.k8s.io/v1/
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"6upRfBq0FOI="},{"name":"ingresses","singularName":"","namespaced":true,"kind":"Ingress","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ing"],"storageVersionHash":"ZOAfGflaKd0="},{"name":"ingresses/status","singularName":"","namespaced":true,"kind":"Ingress","verbs":["get","patch","update"]},{"name":"networkpolicies","singularName":"","namespaced":true,"kind":"NetworkPolicy","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["netpol"],"storageVersionHash":"YpfwF18m1G8="}]}

        '
    headers:
      audit-id:
      - d59febd9-c766-41e7-815b-795e7f8937be
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 42425a08-be81-4317-a915-f233576debbf
      x-kubernetes-pf-prioritylevel-uid:
      - e660e6bc-f525-4a90-b922-f9dcb6519d33
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-864c8a90.hcp.westeurope.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"750"},"items":[{"metadata":{"name":"aks-nodepool1-41590460-vmss000000","uid":"a09e1e08-74ac-4441-abc4-34289ba2630a","resourceVersion":"718","creationTimestamp":"2021-08-01T13:03:01Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_B2s","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"westeurope","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/cluster":"MC_akkeshar_cli-test-aks-000001_westeurope","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2021.07.10","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-41590460-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_B2s","storageprofile":"managed","storagetier":"Premium_LRS","topology.kubernetes.io/region":"westeurope","topology.kubernetes.io/zone":"0"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2021-08-01T13:03:13Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/instance-type":{},"f:beta.kubernetes.io/os":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:failure-domain.beta.kubernetes.io/zone":{},"f:kubernetes.azure.com/cluster":{},"f:kubernetes.azure.com/mode":{},"f:kubernetes.azure.com/node-image-version":{},"f:kubernetes.azure.com/os-sku":{},"f:kubernetes.azu[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-864c8a90.hcp.westeurope.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"20\",\n  \"gitVersion\": \"v1.20.7\",\n
        \ \"gitCommit\": \"e1d093448d0ed9b9b1a48f49833ff1ee64c05ba5\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2021-06-03T00:20:57Z\",\n  \"goVersion\": \"go1.15.12\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - bda36c47-93bc-4443-82db-dcad7a7d15fe
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 42425a08-be81-4317-a915-f233576debbf
      x-kubernetes-pf-prioritylevel-uid:
      - e660e6bc-f525-4a90-b922-f9dcb6519d33
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","East US 2 EUAP","Japan East","East
        Asia"],"apiVersions":["2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia"],"apiVersions":["2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/cc-000002''
        under resource group ''akkeshar'' was not found. For more details please go
        to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus2euap.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/canary/stable/azure-arc-k8sagents:1.3.8"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "doo"}, "location": "eastus2euap", "identity": {"type":
      "SystemAssigned"}, "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAw7a556P1iGTnOffgc46vmftHKgA7bH+mVgRTzYe0g4rM4p1uiA4jQ2Bo/soSCqXQVG+Q0WIqai60rOJu1G49AsXrGuw7WBy7KUv+GTQFl7z5SWuPVW96WMzE0qLBVypMc6ogr44ismanyFhGzLSv+METP73iV1WiQcEf1D9FMgGnWhRlGOrj3eB4H2gBkApYHt5oqm9CwQN/Kfon3K2JY7oxOxowJz3GRVIVtB6h7L+IUbBg1/fRnpW5m8/s6fRyT+1cfJi8A4sfKB0GUs+DyNWGtqJMtO/pYoPJk2SpKm5uSFOgaiKcG6Iw8tXltmEzgy+KuaIX5inyo38ySXBOzIMrx8I2ojx/hYvt1NEdC8pimLE3sactu5B2TfdgRzD+BjLJifdFUnrUSxeOCGgyIfm8OMjPpt1iVRqJJFPqgflUDOb/sHBP+00cqO3K2tyoE1OQJllSWk3UBstY2f8Vhl4CMhpOURjAxKvXdscED8/a7jlqvcThYNXUIg+bYaSXwjv0+ukEtGz8ivwhwCqKQSSIssL/HYRosN+wCMpJT85i1qcl7DBpSzko6cfAL/HWVuPzluGlO2S7kTHHbGWkG3iCKHpBVg74+LRoc7T+GLSKJfgHxDA19zxoYGxNhP/5mO03gBq+WS5fr+yKTOhLf9EgaNtuqOkhaDiJZVKSrzUCAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","name":"cc-000002","type":"microsoft.kubernetes/connectedclusters","location":"eastus2euap","tags":{"foo":"doo"},"systemData":{"createdBy":"akkeshar@microsoft.com","createdByType":"User","createdAt":"2021-08-01T13:03:59.1455606Z","lastModifiedBy":"akkeshar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-08-01T13:03:59.1455606Z"},"identity":{"principalId":"a45968bd-00ac-44c5-a4d8-0a4c8f71603f","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEAw7a556P1iGTnOffgc46vmftHKgA7bH+mVgRTzYe0g4rM4p1uiA4jQ2Bo/soSCqXQVG+Q0WIqai60rOJu1G49AsXrGuw7WBy7KUv+GTQFl7z5SWuPVW96WMzE0qLBVypMc6ogr44ismanyFhGzLSv+METP73iV1WiQcEf1D9FMgGnWhRlGOrj3eB4H2gBkApYHt5oqm9CwQN/Kfon3K2JY7oxOxowJz3GRVIVtB6h7L+IUbBg1/fRnpW5m8/s6fRyT+1cfJi8A4sfKB0GUs+DyNWGtqJMtO/pYoPJk2SpKm5uSFOgaiKcG6Iw8tXltmEzgy+KuaIX5inyo38ySXBOzIMrx8I2ojx/hYvt1NEdC8pimLE3sactu5B2TfdgRzD+BjLJifdFUnrUSxeOCGgyIfm8OMjPpt1iVRqJJFPqgflUDOb/sHBP+00cqO3K2tyoE1OQJllSWk3UBstY2f8Vhl4CMhpOURjAxKvXdscED8/a7jlqvcThYNXUIg+bYaSXwjv0+ukEtGz8ivwhwCqKQSSIssL/HYRosN+wCMpJT85i1qcl7DBpSzko6cfAL/HWVuPzluGlO2S7kTHHbGWkG3iCKHpBVg74+LRoc7T+GLSKJfgHxDA19zxoYGxNhP/5mO03gBq+WS5fr+yKTOhLf9EgaNtuqOkhaDiJZVKSrzUCAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS2EUAP/operationStatuses/a035924c-8928-4973-a735-69de4e03245a?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0300b3a5-0000-3400-0000-61069bc30000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
        Locations RP","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft
        Services","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bc313c14-388c-4e7d-a58e-70017303ee3b"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1754441'
      ocp-aad-diagnostics-server-name:
      - V7ZnWAq1pA25vrXQmsRM9mwT5N2oOJoXH21SvGS9qlo=
      ocp-aad-session-key:
      - OIkQybNtqne3KVtskN7X-7P5cjGXQharVfrHXOuP70fXMAWAgxq2GwjmViwul4RWA6_lduJ_YoczPZZkzg1JR5apn6uhRLf0jHIyIWl4cQHX1w_a3oZS-CnoFT1jdW5p.ZYOmbKE1hjPZGkIMPrLEkrvF9b1OztoZbpPi4EOh9OA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS2EUAP/operationStatuses/a035924c-8928-4973-a735-69de4e03245a?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS2EUAP/operationStatuses/a035924c-8928-4973-a735-69de4e03245a","name":"a035924c-8928-4973-a735-69de4e03245a","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","status":"Succeeded","startTime":"2021-08-01T13:04:02.5482188Z","endTime":"2021-08-01T13:04:18.6820103Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3a00e105-0000-3400-0000-61069bd20000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-864c8a90.hcp.westeurope.azmk8s.io/api/v1/namespaces/azure-arc/configmaps/azure-clusterconfig
  response:
    body:
      string: '{"kind":"ConfigMap","apiVersion":"v1","metadata":{"name":"azure-clusterconfig","namespace":"azure-arc","uid":"efd2522c-7327-4c26-9ad0-b6fd6f683d5d","resourceVersion":"815","creationTimestamp":"2021-08-01T13:04:15Z","labels":{"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-864c8a90.hcp.westeurope.azmk8s.io/api/v1/namespaces?fieldSelector=metadata.name%3Dazure-arc
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"1573"},"items":[{"metadata":{"name":"azure-arc","uid":"1ad99091-8ee1-408f-898a-7ec198c6bf95","resourceVersion":"1572","creationTimestamp":"2021-08-01T13:04:15Z","deletionTimestamp":"2021-08-01T13:05:55Z","labels":{"admission.policy.azure.com/ignore":"true","app.kubernetes.io/managed-by":"Helm","control-plane":"true"},"annotations":{"meta.helm.sh/release-name":"azure-arc","meta.helm.sh/release-namespace":"default"},"managedFields":[{"manager":"Go-http-client","operation":"Update","apiVersion":"v1","time":"2021-08-01T13:04:15Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:meta.helm.sh/release-name":{},"f:meta.helm.sh/release-namespace":{}},"f:labels":{".":{},"f:admission.policy.azure.com/ignore":{},"f:app.kubernetes.io/managed-by":{},"f:control-plane":{}}},"f:status":{"f:phase":{}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Terminating"}}]}

        '
    headers:
      audit-id:
      - fd63b403-a45e-41f6-8315-3e6a1d86d663
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 42425a08-be81-4317-a915-f233576debbf
      x-kubernetes-pf-prioritylevel-uid:
      - e660e6bc-f525-4a90-b922-f9dcb6519d33
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/555cde31-85d4-4cb5-98e4-4f41314d3b08?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"31de5c55-d485-b54c-98e4-4f41314d3b08\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-08-01T13:06:44.99Z\",\n  \"endTime\":
        \"2021-08-01T13:15:17.9802038Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
