interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar","name":"akkeshar","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"Created":"20210721"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cli-test-a-akkeshar-1bfbb5", "agentPoolProfiles":
      [{"count": 1, "vmSize": "Standard_B4ms", "osType": "Linux", "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDknmXRBGa/GuPCkpyydwCNedhfwINfrO674LWcBih2UjjJc5yULl9cD9LsYMWOzHVqM7H7RFxaONyq46h9vgxB/1XAeJUGc2jS8GS+vsS83bXX6vVrwa8wVeD380SJcF87oH3xf7/v2hlKv3drXi7xPE2JBjTHIOJJ6OxX+bAFXBqd1dPvnX1X7kEyX6vvjvuQrp7rFDbLq/eRpmng7kykodASQkUFZlt5+gH/U/z/a/DRoTocgzNqGl9RmesNtslQJs17Vn/JIJMM55qcRCEKoJ3Fq/Osnx3tHNA3G/vTs/+sVgh0tZmM6oIMRfTKzJskSZkMZOd8KtK/7ROCZO72izRmzwTFwFvRe/I7iHQ4PrjeKAqKDvgHJ/0LlaHmIYysZI21OTo6HcoX4HmA4RsIybNAM5SWeMMGiGe94/LYPk9sgB3o8aMv/nI/hr6vA28c2nso7itOuNcH1GZalAnbCObNv7QqVZ23FPlCjV9GXWCDCnQeCoIispJCrf68N5s=
      fareast\\akkeshar@AkashLaptop\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.ContainerService/managedClusters/cli-test-aks-000001?api-version=2021-08-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.ContainerService/managedClusters/cli-test-aks-000001\",\n
        \ \"location\": \"westeurope\",\n  \"name\": \"cli-test-aks-000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.12\",\n   \"dnsPrefix\": \"cli-test-a-akkeshar-1bfbb5\",\n   \"fqdn\":
        \"cli-test-a-akkeshar-1bfbb5-52714f14.hcp.westeurope.azmk8s.io\",\n   \"azurePortalFQDN\":
        \"cli-test-a-akkeshar-1bfbb5-52714f14.portal.hcp.westeurope.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_B4ms\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.23.12\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.10.24\",\n     \"enableFIPS\": false\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABgQDknmXRBGa/GuPCkpyydwCNedhfwINfrO674LWcBih2UjjJc5yULl9cD9LsYMWOzHVqM7H7RFxaONyq46h9vgxB/1XAeJUGc2jS8GS+vsS83bXX6vVrwa8wVeD380SJcF87oH3xf7/v2hlKv3drXi7xPE2JBjTHIOJJ6OxX+bAFXBqd1dPvnX1X7kEyX6vvjvuQrp7rFDbLq/eRpmng7kykodASQkUFZlt5+gH/U/z/a/DRoTocgzNqGl9RmesNtslQJs17Vn/JIJMM55qcRCEKoJ3Fq/Osnx3tHNA3G/vTs/+sVgh0tZmM6oIMRfTKzJskSZkMZOd8KtK/7ROCZO72izRmzwTFwFvRe/I7iHQ4PrjeKAqKDvgHJ/0LlaHmIYysZI21OTo6HcoX4HmA4RsIybNAM5SWeMMGiGe94/LYPk9sgB3o8aMv/nI/hr6vA28c2nso7itOuNcH1GZalAnbCObNv7QqVZ23FPlCjV9GXWCDCnQeCoIispJCrf68N5s=
        fareast\\\\akkeshar@AkashLaptop\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_akkeshar_cli-test-aks-000001_westeurope\",\n
        \  \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\":
        {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n
        \   \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\":
        1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {}\n  },\n
        \ \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\": \"3be4dbdc-5fc8-4f92-b5cc-cdb57e4ff02a\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/b3446a92-fad3-48fa-80d2-a907d7aa829f?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/b3446a92-fad3-48fa-80d2-a907d7aa829f?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"926a44b3-d3fa-fa48-80d2-a907d7aa829f\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-11-15T11:32:26.6836066Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/b3446a92-fad3-48fa-80d2-a907d7aa829f?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"926a44b3-d3fa-fa48-80d2-a907d7aa829f\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-11-15T11:32:26.6836066Z\",\n  \"endTime\":
        \"2022-11-15T11:37:27.3166965Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.ContainerService/managedClusters/cli-test-aks-000001/listClusterUserCredential?api-version=2021-08-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterUser\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlJFTkRRWFJEWjBGM1NVSkJaMGxSVEhoWEwybE1TV2RpYmtoM1FXazVjMUp0U1d3MWVrRk9RbWRyY1docmFVYzVkekJDUVZGelJrRkVRVTRLVFZGemQwTlJXVVJXVVZGRVJYZEthbGxVUVdkR2R6QjVUV3BGZUUxVVZYaE5WRWw2VFVST1lVZEJPSGxOUkZWNVRWUkZlRTVVUlhoTmVrMTNUVEZ2ZHdwRVZFVk1UVUZyUjBFeFZVVkJlRTFEV1RKRmQyZG5TV2xOUVRCSFExTnhSMU5KWWpORVVVVkNRVkZWUVVFMFNVTkVkMEYzWjJkSlMwRnZTVU5CVVVNeUNrW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","West US 3","East
        Asia","Canada Central","East US 2 EUAP","Canada East"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-52714f14.hcp.westeurope.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"23\",\n  \"gitVersion\": \"v1.23.12\",\n
        \ \"gitCommit\": \"f941a31f4515c5ac03f5fc7ccf9a330e3510b80d\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T17:12:33Z\",\n  \"goVersion\": \"go1.17.13\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - 56bdbb39-bcde-4d18-afe2-5870af4f026a
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 2920afa3-e99e-4ce9-aad1-ae980c0c23f4
      x-kubernetes-pf-prioritylevel-uid:
      - 9a1ba86f-7d0f-4aa9-baa2-6f999741c9e7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-52714f14.hcp.westeurope.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1557"},"items":[{"metadata":{"name":"aks-nodepool1-30157530-vmss000000","uid":"3afcee7e-70b5-4205-8c41-25c2da42116d","resourceVersion":"1235","creationTimestamp":"2022-11-15T11:35:31Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_B4ms","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"westeurope","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_akkeshar_cli-test-aks-000001_westeurope","kubernetes.azure.com/kubelet-identity-client-id":"f7bc696b-0f88-445e-aed7-d11a045621ef","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2022.10.24","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-30157530-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_B4ms","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"westeurope","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-30157530-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-30157530-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:35:31Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.0.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:35:31Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/kubelet-identity-client-id":{},"f:kuber[...]
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-a-akkeshar-1bfbb5-52714f14.hcp.westeurope.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2022-11-15T11:37:42Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - 2104b4d0-1b42-4f26-9682-351b62ff65c6
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 2920afa3-e99e-4ce9-aad1-ae980c0c23f4
      x-kubernetes-pf-prioritylevel-uid:
      - 9a1ba86f-7d0f-4aa9-baa2-6f999741c9e7
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/cc-000002''
        under resource group ''akkeshar'' was not found. For more details please go
        to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cli-test-a-akkeshar-1bfbb5-52714f14.hcp.westeurope.azmk8s.io/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"1573"},"items":[{"metadata":{"name":"default","uid":"cd58e606-5900-40ef-a998-71ad36530e9b","resourceVersion":"205","creationTimestamp":"2022-11-15T11:33:55Z","labels":{"kubernetes.io/metadata.name":"default"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:33:55Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-node-lease","uid":"6997ca5a-66e9-46b0-bf71-b2c228b4f8d3","resourceVersion":"47","creationTimestamp":"2022-11-15T11:33:53Z","labels":{"kubernetes.io/metadata.name":"kube-node-lease"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:33:53Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","uid":"96ce53d6-f62f-4ba8-aea5-19c0d37747bc","resourceVersion":"34","creationTimestamp":"2022-11-15T11:33:53Z","labels":{"kubernetes.io/metadata.name":"kube-public"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:33:53Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","uid":"9360d1b2-f574-4dc0-9dd7-527224f71af1","resourceVersion":"585","creationTimestamp":"2022-11-15T11:33:53Z","labels":{"addonmanager.kubernetes.io/mode":"Reconcile","control-plane":"true","kubernetes.io/cluster-service":"true","kubernetes.io/metadata.name":"kube-system"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"Namespace\",\"metadata\":{\"annotations\":{},\"labels\":{\"addonmanager.kubernetes.io/mode\":\"Reconcile\",\"control-plane\":\"true\",\"kubernetes.io/cluster-service\":\"true\"},\"name\":\"kube-system\"}}\n"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:33:53Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}},{"manager":"kubectl-client-side-apply","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:34:14Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:kubectl.kubernetes.io/last-applied-configuration":{}},"f:labels":{"f:addonmanager.kubernetes.io/mode":{},"f:control-plane":{},"f:kubernetes.io/cluster-service":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}}]}

        '
    headers:
      audit-id:
      - 31a8cf59-4696-40b2-b92f-f8477d415a55
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 2920afa3-e99e-4ce9-aad1-ae980c0c23f4
      x-kubernetes-pf-prioritylevel-uid:
      - 9a1ba86f-7d0f-4aa9-baa2-6f999741c9e7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.8.14"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "doo"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAjBo1OVNXOvebGiKczgWusikBojChNWAgVBQ+/TW1t8+cCFbtT9pOJWhX571G2thyHyHCLc5Du56ikMLhx9uUYOYpe3L73b0eDJRe+mECd4UmyYbbySWOALuv2c6gYpB+X2fOtImdrs7WTFMrKW9QQ6FR0n0j3SS7v8Y2oW72lZ02WbEEr1a1G3494ZIRjTdH7uAtf3GtqwXMV5RMFI8lLlkNaVb5qVdkjk6ie2bAv4dNAU+kJegfT4N8uKC6HxEuaKp/uDwJum8ab4pfyHqZzbG8g+FbRdb/DxkL1Qa59egVDaT4To8S1cit6Z3D8bP/IN1W4bA6Rb8WLfmj8N2lgit88zSncK3QVbNDt9Yih6gYbyDMYSMxOBmGNiFKi3P35C1NkBiH5sVz3DUQLcWkorkl9bxtYO26CNumcebL7lNd56hz1AEoC/u7SuoskgxE8Pnz26MOYh91gV8OnpfyTes/aGFk5HxWK6tW5mLh8Mb8I0+fe2xoxZSc/vUZ2xdcKrDiNLJWmGGrdD7AvCxEE+BDt46G52s6J/it5uyBJsNwF3eBHeA9zVPuTU2ShFNiLRKYdnveiH2JETa/MuZ/doZ28RrCD2KFVtYAsNmNsxreTfXSwFbki9CF2ULUd7bzn7u3JyrWMhlBx6/AJfKVTmww70rqYeKM6Kg6uqmkffUCAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","name":"cc-000002","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{"foo":"doo"},"systemData":{"createdBy":"akkeshar@microsoft.com","createdByType":"User","createdAt":"2022-11-15T11:38:18.8618915Z","lastModifiedBy":"akkeshar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-15T11:38:18.8618915Z"},"identity":{"principalId":"486fb978-d865-4c3d-bbd4-92dc998d3386","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEAjBo1OVNXOvebGiKczgWusikBojChNWAgVBQ+/TW1t8+cCFbtT9pOJWhX571G2thyHyHCLc5Du56ikMLhx9uUYOYpe3L73b0eDJRe+mECd4UmyYbbySWOALuv2c6gYpB+X2fOtImdrs7WTFMrKW9QQ6FR0n0j3SS7v8Y2oW72lZ02WbEEr1a1G3494ZIRjTdH7uAtf3GtqwXMV5RMFI8lLlkNaVb5qVdkjk6ie2bAv4dNAU+kJegfT4N8uKC6HxEuaKp/uDwJum8ab4pfyHqZzbG8g+FbRdb/DxkL1Qa59egVDaT4To8S1cit6Z3D8bP/IN1W4bA6Rb8WLfmj8N2lgit88zSncK3QVbNDt9Yih6gYbyDMYSMxOBmGNiFKi3P35C1NkBiH5sVz3DUQLcWkorkl9bxtYO26CNumcebL7lNd56hz1AEoC/u7SuoskgxE8Pnz26MOYh91gV8OnpfyTes/aGFk5HxWK6tW5mLh8Mb8I0+fe2xoxZSc/vUZ2xdcKrDiNLJWmGGrdD7AvCxEE+BDt46G52s6J/it5uyBJsNwF3eBHeA9zVPuTU2ShFNiLRKYdnveiH2JETa/MuZ/doZ28RrCD2KFVtYAsNmNsxreTfXSwFbki9CF2ULUd7bzn7u3JyrWMhlBx6/AJfKVTmww70rqYeKM6Kg6uqmkffUCAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/f5219c92-8a50-40d1-bb6f-6f5a2f750873*8ED7E1FECB8CA304829375DD00A125132107034D99198B1B022353172C06DD11?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7100e54d-0000-0100-0000-63737a2d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/f5219c92-8a50-40d1-bb6f-6f5a2f750873*8ED7E1FECB8CA304829375DD00A125132107034D99198B1B022353172C06DD11?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/f5219c92-8a50-40d1-bb6f-6f5a2f750873*8ED7E1FECB8CA304829375DD00A125132107034D99198B1B022353172C06DD11","name":"f5219c92-8a50-40d1-bb6f-6f5a2f750873*8ED7E1FECB8CA304829375DD00A125132107034D99198B1B022353172C06DD11","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","status":"Accepted","startTime":"2022-11-15T11:38:20.81725Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1001835f-0000-0100-0000-63737a2c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f6e3b06392"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"0981f4e0-04a7-4e31-bd2b-b2ac2fc6ba4e"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-03-15-preview","2020-07-15-privatepreview"],"capabilities":"None"},{"resourceType":"customLocations","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerland North","Sweden
        Central","East US 2 EUAP"],"apiVersions":["2021-08-31-preview","2021-08-15","2021-03-15-preview","2020-07-15-privatepreview"],"defaultApiVersion":"2021-08-15","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"customLocations/enabledResourceTypes","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerla[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
        Locations RP","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft
        Services","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bc313c14-388c-4e7d-a58e-70017303ee3b"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '712978'
      ocp-aad-diagnostics-server-name:
      - OPelI7VrBtHnJkm7E0PsgwaZrjo2NsmSLt6qfy5nvUE=
      ocp-aad-session-key:
      - -LRuN2637PFTvLDTILUnYul8AoiysmIsdgoBW0aUGqjEJgkosJr2VnPrcSDHkCsGNImIvDhOZjMX48wUkQAXUNKAdwbtmwtHzI4szsrNgiXdEHjVIgsznxEaxLImlGHJ.1uwQgTnNzZLyxd3cnvKjvYXzY2Xzvk0H2s_CPyqgdgM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akkeshar/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2022-10-01-preview
  response:
    body:
[...]
