interactions:
- request:
    body: '{"location": "westeurope", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "test-force-rohanazuregroup-1bfbb5",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_B2s", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvp8/0L+JGBNPdl8292HKmvItwPYykyQQx9YDYu2b8YSoveRvXiHoxu4jGq+UykW0mhXVjoKh54DD7qkh+ryMrAarhtLSjTuF6CVk9X8zrcxjQm0mr1xDtjNpd7R/NIU+KxDhn7ITKfal+SpXEC4634eOzPc4YqsKULVUCrdXk9rA/0CpE4KWO2YWwYV1MmWD2uLEpiUzLwgefuHcEH8S6hOUC5veiPc7AuD4lX0efogvvObE+5tqhvNCYvO2NG7x51rBlMgmcLYehNTeCFQLpUdFm014yfk9l8JQv2hQ/cFbCRzA/zYEPSAOOb1VSMYxTVk51wt1mrcb+wMzpsBQv"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.ContainerService/managedClusters/test-force-delete000001?api-version=2022-04-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.ContainerService/managedClusters/test-force-delete000001\",\n
        \ \"location\": \"westeurope\",\n  \"name\": \"test-force-delete000001\",\n
        \ \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\":
        {\n   \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\":
        \"Running\"\n   },\n   \"kubernetesVersion\": \"1.23.8\",\n   \"currentKubernetesVersion\":
        \"1.23.8\",\n   \"dnsPrefix\": \"test-force-rohanazuregroup-1bfbb5\",\n   \"fqdn\":
        \"test-force-rohanazuregroup-1bfbb5-9755f136.hcp.westeurope.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"test-force-rohanazuregroup-1bfbb5-9755f136.portal.hcp.westeurope.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_B2s\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.23.8\",\n     \"currentOrchestratorVersion\":
        \"1.23.8\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.08.23\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvp8/0L+JGBNPdl8292HKmvItwPYykyQQx9YDYu2b8YSoveRvXiHoxu4jGq+UykW0mhXVjoKh54DD7qkh+ryMrAarhtLSjTuF6CVk9X8zrcxjQm0mr1xDtjNpd7R/NIU+KxDhn7ITKfal+SpXEC4634eOzPc4YqsKULVUCrdXk9rA/0CpE4KWO2YWwYV1MmWD2uLEpiUzLwgefuHcEH8S6hOUC5veiPc7AuD4lX0efogvvObE+5tqhvNCYvO2NG7x51rBlMgmcLYehNTeCFQLpUdFm014yfk9l8JQv2hQ/cFbCRzA/zYEPSAOOb1VSMYxTVk51wt1mrcb+wMzpsBQv\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_rohanazuregroup_test-force-delete000001_westeurope\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   }\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\": \"b06590d3-caf7-41e1-8964-36cb2c8f4713\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/8c37dac5-b971-4e82-89a5-244c853ba942?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/8c37dac5-b971-4e82-89a5-244c853ba942?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"c5da378c-71b9-824e-89a5-244c853ba942\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-09-12T05:17:02.3287692Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/8c37dac5-b971-4e82-89a5-244c853ba942?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"c5da378c-71b9-824e-89a5-244c853ba942\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-09-12T05:17:02.3287692Z\",\n  \"endTime\":
        \"2022-09-12T05:21:13.4664229Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.ContainerService/managedClusters/test-force-delete000001/listClusterUserCredential?api-version=2022-04-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterUser\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlJFTkRRWFJEWjBGM1NVSkJaMGxSVUVkdVdEaEhRMjFETlN0d1VUbGpOMFJPU0ROcGFrRk9RbWRyY1docmFVYzVkekJDUVZGelJrRkVRVTRLVFZGemQwTlJXVVJXVVZGRVJYZEthbGxVUVdkR2R6QjVUV3BCTlUxVVNYZE9WRUV6VGtSR1lVZEJPSGxOUkZWNVRVUnJlRTFxUVRGTlZHTXdUVlp2ZHdwRVZFVk1UVUZyUjBFeFZVVkJlRTFEV1RKRmQyZG5TV2xOUVRCSFExTnhSMU5KWWpORVVVVkNRVkZWUVVFMFNVTkVkMEYzWjJkSlMwRnZTVU5CVVVNMUNrS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","West US 3","East
        Asia","Canada Central","East US 2 EUAP","Canada East"],"apiVersions":["2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central"],"apiVersions":["2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-9755f136.hcp.westeurope.azmk8s.io/apis/networking.k8s.io/v1/
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"l/iqIbDgFyQ="},{"name":"ingresses","singularName":"","namespaced":true,"kind":"Ingress","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ing"],"storageVersionHash":"39NQlfNR+bo="},{"name":"ingresses/status","singularName":"","namespaced":true,"kind":"Ingress","verbs":["get","patch","update"]},{"name":"networkpolicies","singularName":"","namespaced":true,"kind":"NetworkPolicy","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["netpol"],"storageVersionHash":"YpfwF18m1G8="}]}

        '
    headers:
      audit-id:
      - 02b0f099-fa8c-4b96-bb00-62c197c2d4cf
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - df88ff9e-6cea-4e4b-b399-26033f6c9ddb
      x-kubernetes-pf-prioritylevel-uid:
      - 359b154f-5cc7-4f49-bd02-96565c5d61aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-9755f136.hcp.westeurope.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1448"},"items":[{"metadata":{"name":"aks-nodepool1-21710001-vmss000000","uid":"6fa7e60a-777e-4fa3-97c8-a0a0bee1a053","resourceVersion":"1137","creationTimestamp":"2022-09-12T05:20:20Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_B2s","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"westeurope","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_rohanazuregroup_test-force-delete000001_westeurope","kubernetes.azure.com/kubelet-identity-client-id":"69cb9591-160d-41cb-91c0-51cae3257f58","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2022.08.23","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-21710001-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_B2s","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"westeurope","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-21710001-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-21710001-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:20:20Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.0.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:20:20Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/cluster":{},"f:kubernetes.azure.com/kub[...]
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-force-rohanazuregroup-1bfbb5-9755f136.hcp.westeurope.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2022-09-12T05:22:04Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - bfb6ffd6-fabf-4f1b-8f29-fde02a6bca2f
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - df88ff9e-6cea-4e4b-b399-26033f6c9ddb
      x-kubernetes-pf-prioritylevel-uid:
      - 359b154f-5cc7-4f49-bd02-96565c5d61aa
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-9755f136.hcp.westeurope.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"23\",\n  \"gitVersion\": \"v1.23.8\",\n
        \ \"gitCommit\": \"a35ccc8395e8a5eaa83b7b8c981677893b651cba\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-07-28T20:52:46Z\",\n  \"goVersion\": \"go1.17.11\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - 8ed101fe-035c-4bb6-bca5-398a702c548e
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - df88ff9e-6cea-4e4b-b399-26033f6c9ddb
      x-kubernetes-pf-prioritylevel-uid:
      - 359b154f-5cc7-4f49-bd02-96565c5d61aa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/cc-000002''
        under resource group ''rohanazuregroup'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-9755f136.hcp.westeurope.azmk8s.io/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"1463"},"items":[{"metadata":{"name":"default","uid":"662097d9-2142-4c30-a023-5dba1b073f39","resourceVersion":"205","creationTimestamp":"2022-09-12T05:18:43Z","labels":{"kubernetes.io/metadata.name":"default"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:18:43Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-node-lease","uid":"1c1d6b06-9fb9-4211-8027-338d388be0f6","resourceVersion":"18","creationTimestamp":"2022-09-12T05:18:40Z","labels":{"kubernetes.io/metadata.name":"kube-node-lease"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:18:40Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","uid":"204b2f7c-1369-4fb9-9bb6-289a84fe6d58","resourceVersion":"10","creationTimestamp":"2022-09-12T05:18:40Z","labels":{"kubernetes.io/metadata.name":"kube-public"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:18:40Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","uid":"3d965e11-4b41-4834-98af-dd87458ad644","resourceVersion":"586","creationTimestamp":"2022-09-12T05:18:40Z","labels":{"addonmanager.kubernetes.io/mode":"Reconcile","control-plane":"true","kubernetes.io/cluster-service":"true","kubernetes.io/metadata.name":"kube-system"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"Namespace\",\"metadata\":{\"annotations\":{},\"labels\":{\"addonmanager.kubernetes.io/mode\":\"Reconcile\",\"control-plane\":\"true\",\"kubernetes.io/cluster-service\":\"true\"},\"name\":\"kube-system\"}}\n"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:18:40Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}},{"manager":"kubectl-client-side-apply","operation":"Update","apiVersion":"v1","time":"2022-09-12T05:19:04Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:kubectl.kubernetes.io/last-applied-configuration":{}},"f:labels":{"f:addonmanager.kubernetes.io/mode":{},"f:control-plane":{},"f:kubernetes.io/cluster-service":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}}]}

        '
    headers:
      audit-id:
      - d4b92f8e-5fa5-4923-a295-6e4d3a6dd07d
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - df88ff9e-6cea-4e4b-b399-26033f6c9ddb
      x-kubernetes-pf-prioritylevel-uid:
      - 359b154f-5cc7-4f49-bd02-96565c5d61aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup","name":"rohanazuregroup","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"Created":"20220718"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.7.18"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "doo"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAyBA1yNG7HDoONVgYWce0hd/0zk+smyScpx/V3YnJ+6EHJQgj5lu28zFIZhTQ/380pXbqel/aYyaA/em+oSDgkkN6e20BBe2flyYZbBNUCsqujgA8aSteesROkQrqq+jca+hctq6t/gYppK+wQ+v94eOHq/pBz75By1ediBixpGiF7KVCOpkKX5I0HN6Hx2a/ZyOPqnhxC54W2LemDWR73Pxdl9xB44uEywcfS7ShPgsnq/U8cqjnLHbrdDbpsLmK/yblomWLbRVtKFgL5Chi5MDOHWkGH9no4YRKeKKwbQJmiP1A82HzYlmDAJvMkDuNh7kn0ZnvvPP3OwZaqz/5CEPVT/6thzkUkqhXIhwGIUIcdp2i0tAV0SlaEUdKMirThA0VxJJPWsv0a3ZnZdzOoKrVCWloe3Sm2clwY6DCUAWmqQhxNZC2VfAV3LNA0gukRQ/reW9s9RNBHaPRcy1v9U3KoKJ9dhRylHee8+Zy5ImyOKrZ7YQgDBL28YcM5D5XJzFgyIVVKxTeYwE3EB+e3yDIjMnVy6Sb3IwPyicYo86v1MxKiE1eQhQCzuuV5sUG3GwRVoLon74PfNu7x+GBN1vD48Ia5dtUfQLfWNWCz2O13iQYIfDdE8o/F7c6NfHcPzkneJZ+RgeWLa9B/WCkQ2vA4cuKqv2vkybwOuX2MCECAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","name":"cc-000002","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{"foo":"doo"},"systemData":{"createdBy":"rohandassani@microsoft.com","createdByType":"User","createdAt":"2022-09-12T05:22:39.9296203Z","lastModifiedBy":"rohandassani@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-12T05:22:39.9296203Z"},"identity":{"principalId":"5f131a5f-26fd-4453-ab28-5ed68ea0b497","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEAyBA1yNG7HDoONVgYWce0hd/0zk+smyScpx/V3YnJ+6EHJQgj5lu28zFIZhTQ/380pXbqel/aYyaA/em+oSDgkkN6e20BBe2flyYZbBNUCsqujgA8aSteesROkQrqq+jca+hctq6t/gYppK+wQ+v94eOHq/pBz75By1ediBixpGiF7KVCOpkKX5I0HN6Hx2a/ZyOPqnhxC54W2LemDWR73Pxdl9xB44uEywcfS7ShPgsnq/U8cqjnLHbrdDbpsLmK/yblomWLbRVtKFgL5Chi5MDOHWkGH9no4YRKeKKwbQJmiP1A82HzYlmDAJvMkDuNh7kn0ZnvvPP3OwZaqz/5CEPVT/6thzkUkqhXIhwGIUIcdp2i0tAV0SlaEUdKMirThA0VxJJPWsv0a3ZnZdzOoKrVCWloe3Sm2clwY6DCUAWmqQhxNZC2VfAV3LNA0gukRQ/reW9s9RNBHaPRcy1v9U3KoKJ9dhRylHee8+Zy5ImyOKrZ7YQgDBL28YcM5D5XJzFgyIVVKxTeYwE3EB+e3yDIjMnVy6Sb3IwPyicYo86v1MxKiE1eQhQCzuuV5sUG3GwRVoLon74PfNu7x+GBN1vD48Ia5dtUfQLfWNWCz2O13iQYIfDdE8o/F7c6NfHcPzkneJZ+RgeWLa9B/WCkQ2vA4cuKqv2vkybwOuX2MCECAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/58cc0e2f-c8f3-44d5-8652-77ba6081984a*7FCB7DD29C1378623356D8C7300919A731F875ABBABACA663910B3EE45D95ED1?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8b0025e9-0000-0100-0000-631ec2230000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/58cc0e2f-c8f3-44d5-8652-77ba6081984a*7FCB7DD29C1378623356D8C7300919A731F875ABBABACA663910B3EE45D95ED1?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/58cc0e2f-c8f3-44d5-8652-77ba6081984a*7FCB7DD29C1378623356D8C7300919A731F875ABBABACA663910B3EE45D95ED1","name":"58cc0e2f-c8f3-44d5-8652-77ba6081984a*7FCB7DD29C1378623356D8C7300919A731F875ABBABACA663910B3EE45D95ED1","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","status":"Succeeded","startTime":"2022-09-12T05:22:42.4061745Z","endTime":"2022-09-12T05:22:48.6801697Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4600ab9e-0000-0100-0000-631ec2280000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f6e3b06392"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"0981f4e0-04a7-4e31-bd2b-b2ac2fc6ba4e"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-03-15-preview","2020-07-15-privatepreview"],"capabilities":"None"},{"resourceType":"customLocations","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","East US 2 EUAP"],"apiVersions":["2021-08-31-preview","2021-08-15","2021-03-15-preview","2020-07-15-privatepreview"],"defaultApiVersion":"2021-08-15","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"customLocations/enabledResourceTypes","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","East US 2 EUAP"],"apiVe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
[...]
