interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://aadcluster-akkeshar-1bfbb5-bd32ce8d.hcp.eastus.azmk8s.io/apis/networking.k8s.io/v1/
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"networkpolicies","singularName":"","namespaced":true,"kind":"NetworkPolicy","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["netpol"]}]}

        '
    headers:
      audit-id:
      - bd559a49-b612-443c-9acb-d0bb833f3612
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe"],"apiVersions":["2020-01-01-preview"],"capabilities":"None"},{"resourceType":"operations","locations":["West
        US","East US"],"apiVersions":["2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"},{"resourceType":"connectedClusters","locations":["East
        US","West Europe","East US 2 EUAP"],"apiVersions":["2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_connectedk8s000001/providers/Microsoft.Kubernetes/connectedClusters/test1?api-version=2020-01-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/test1''
        under resource group ''cli_test_connectedk8s000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_connectedk8s000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_connectedk8s000001","name":"cli_test_connectedk8s000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-04-23T05:37:13Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://aadcluster-akkeshar-1bfbb5-bd32ce8d.hcp.eastus.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"9126624"},"items":[{"metadata":{"name":"aks-nodepool1-39175733-0","selfLink":"/api/v1/nodes/aks-nodepool1-39175733-0","uid":"3f932a1b-5668-11ea-93db-b6bd01847510","resourceVersion":"9126305","creationTimestamp":"2020-02-23T18:13:53Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_DS2_v2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"eastus","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/cluster":"MC_akkeshar_aadCluster_eastus","kubernetes.azure.com/role":"agent","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-39175733-0","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","storageprofile":"managed","storagetier":"Premium_LRS"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"podCIDR":"10.244.2.0/24","providerID":"azure:///subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mc_akkeshar_aadcluster_eastus/providers/Microsoft.Compute/virtualMachines/aks-nodepool1-39175733-0"},"status":{"capacity":{"attachable-volumes-azure-disk":"8","cpu":"2","ephemeral-storage":"101445900Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"7113836Ki","pods":"110"},"allocatable":{"attachable-volumes-azure-disk":"8","cpu":"1900m","ephemeral-storage":"93492541286","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4668524Ki","pods":"110"},"conditions":[{"type":"NetworkUnavailable","status":"False","lastHeartbeatTime":"2020-02-23T18:14:08Z","lastTransitionTime":"2020-02-23T18:14:08Z","reason":"RouteCreated","message":"RouteController
        created a route"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2020-04-23T05:35:27Z","lastTransitionTime":"2020-03-27T00:39:58Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2020-04-23T05:35:27Z","lastTransitionTime":"2020-02-23T18:13:53Z","reason":"KubeletHasNoDiskPressure","message":"kubelet
        has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2020-04-23T05:35:27Z","lastTransitionTime":"2020-02-23T18:13:53Z","reason":"KubeletHasSufficientPID","message":"kubelet
        has sufficient PID available"},{"type":"Ready","status":"True","lastHeartbeatTime":"2020-04-23T05:35:27Z","lastTransitionTime":"2020-02-23T18:13:53Z","reason":"KubeletReady","message":"kubelet
        is posting ready status. AppArmor enabled"}],"addresses":[{"type":"Hostname","address":"aks-nodepool1-39175733-0"},{"type":"InternalIP","address":"10.240.0.4"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"cec0fb0ca5e2446fb650878822f0c841","systemUUID":"3A9475DA-829B-D848-AF1A-92272EF00E8C","bootID":"530fb4d1-b236-4f42-8244-39d6ee937b34","kernelVersion":"4.15.0-1066-azure","osImage":"Ubuntu
        16.04.6 LTS","containerRuntimeVersion":"docker://3.0.8","kubeletVersion":"v1.14.8","kubeProxyVersion":"v1.14.8","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["azurearcfork8s.azurecr.io/arc-preview/connect-agent@sha256:7efad12fd896428d7cdbc941c1795078a19296f7816f89d580ee4c3681ec0be8","azurearcfork8s.azurecr.io/arc-preview/connect-agent:0.1.16"],"sizeBytes":844477470},{"names":["azurearcfork8s.azurecr.io/arc-preview/connect-agent@sha256:dceb9976fd0ed5e2d0d386518667704bfe4201e6abf4633d15c89b2f5b97e120","azurearcfork8s.azurecr.io/arc-preview/connect-agent:0.1.19"],"sizeBytes":844477433},{"names":["akkesharacr.azurecr.io/connect@sha256:139962ff4af9ae0a624bb76c9d46ba17feab492f0290c8f17571f3a66c02ab04","akkesharacr.azurecr.io/connect:v3"],"sizeBytes":840857288},{"names":["akkesharacr.azurecr.io/connect@sha256:7f48940f4aad08c043099c02cee3b6d47c201c89fb26[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://aadcluster-akkeshar-1bfbb5-bd32ce8d.hcp.eastus.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"14\",\n  \"gitVersion\": \"v1.14.8\",\n
        \ \"gitCommit\": \"c52f59bbba5fbf21fbb18e9a06f96e563fe4c20a\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2020-01-31T20:00:26Z\",\n  \"goVersion\": \"go1.12.10\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - 4896fe2f-4a36-4246-a98a-544012882e99
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://aadcluster-akkeshar-1bfbb5-bd32ce8d.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc/configmaps/azure-clusterconfig
  response:
    body:
      string: '{"kind":"ConfigMap","apiVersion":"v1","metadata":{"name":"azure-clusterconfig","namespace":"azure-arc","selfLink":"/api/v1/namespaces/azure-arc/configmaps/azure-clusterconfig","uid":"90e17a96-8524-11ea-81f3-02b94fa537f0","resourceVersion":"9126568","creationTimestamp":"2020-04-23T05:37:48Z"},"data":{"AZURE_ARC_AGENT_VERSION":"0.1.19","AZURE_REGION":"eastus2euap","AZURE_RESOURCE_GROUP":"cli_test_connectedk8s000001","AZURE_RESOURCE_NAME":"test1","AZURE_SUBSCRIPTION_ID":"1bfbb5d0-917e-4346-9026-1d3b344417f5","AZURE_TENANT_ID":"72f988bf-86f1-41af-91ab-2d7cd011db47","CLUSTER_TYPE":"ConnectedClusters","FLUX_CLIENT_DEFAULT_LOCATION":"azurearcfork8s.azurecr.io/arc-preview/fluxctl:0.1.3"}}

        '
    headers:
      audit-id:
      - 3d75b941-a2e5-4448-a97f-8a860d04738e
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "doo"}, "location": "eastus2euap", "identity": {"type":
      "SystemAssigned"}, "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAwvKXSCsnbk2oGTisQf8yB1Ykaxw2wapqFTZqlMF5yiX1F/J9LzB+mH5J2IXTmXGpSKlWBzZC9ozxd8F89xbo/l0MRNwXYVZHvoXetGo2O+5t9Ru1WlFtuz0iYZmdi7HexYG8/lKHlOEIStyxyF5jpF0GBZ2TZ/b0GfPkKq0dj/V+CqOZcJF5A0qUZnyl8la8G1e3wjnsoT7LfbYlONvGaA+ELWdl/371hY9R+kdaGZsjgNaJUoOcJVD8I6wvhmrh/y5TBXqwElME4Gd/fsiGP85O/FXToeTWBX1ocsTXVM9cacLfgtzMAttDGQJWqGZuerzBNjjPISVZguAT9w43swVvb6HusZfpcESkICDZSquTZmRgsE7uyrHLCS0hZY/axbkzJoXQgfHWVt+/feIrc4fWpOIS0yZnnEQGgb9K+nC1yFAoHL7ScgA52y37ASRtxndGL3UQil9bdXmXqWOMitKv0sXkuWo+1cbKoFszKjMs5BXTsa/UyynLuHbETxUmh5GzyYBorcV9v2UfP9RmWf5htxw3iHm7F5A6R4z9FTm+cmK9xlLEahDVF1xR0Mljrrt6GIU2jckbgM6CkcgN/JnBCbIhLheTRuURPeg9KNuO+3RWzoFeyGnS1CpfNQCgJLmDMPnjikvwNrLvlSF3Du6ntBd8CKjx7bcEz9pAPaMCAwEAAQ==",
      "aadProfile": {"tenantId": "", "clientAppId": "", "serverAppId": ""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_connectedk8s000001/providers/Microsoft.Kubernetes/connectedClusters/test1?api-version=2020-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_connectedk8s000001/providers/Microsoft.Kubernetes/connectedClusters/test1","name":"test1","type":"Microsoft.Kubernetes/connectedClusters","location":"eastus2euap","tags":{"foo":"doo"},"identity":{"type":"SystemAssigned","principalId":"42391a1b-e07f-4222-abef-993604e74cea","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Accepted","agentPublicKeyCertificate":"MIICCgKCAgEAwvKXSCsnbk2oGTisQf8yB1Ykaxw2wapqFTZqlMF5yiX1F/J9LzB+mH5J2IXTmXGpSKlWBzZC9ozxd8F89xbo/l0MRNwXYVZHvoXetGo2O+5t9Ru1WlFtuz0iYZmdi7HexYG8/lKHlOEIStyxyF5jpF0GBZ2TZ/b0GfPkKq0dj/V+CqOZcJF5A0qUZnyl8la8G1e3wjnsoT7LfbYlONvGaA+ELWdl/371hY9R+kdaGZsjgNaJUoOcJVD8I6wvhmrh/y5TBXqwElME4Gd/fsiGP85O/FXToeTWBX1ocsTXVM9cacLfgtzMAttDGQJWqGZuerzBNjjPISVZguAT9w43swVvb6HusZfpcESkICDZSquTZmRgsE7uyrHLCS0hZY/axbkzJoXQgfHWVt+/feIrc4fWpOIS0yZnnEQGgb9K+nC1yFAoHL7ScgA52y37ASRtxndGL3UQil9bdXmXqWOMitKv0sXkuWo+1cbKoFszKjMs5BXTsa/UyynLuHbETxUmh5GzyYBorcV9v2UfP9RmWf5htxw3iHm7F5A6R4z9FTm+cmK9xlLEahDVF1xR0Mljrrt6GIU2jckbgM6CkcgN/JnBCbIhLheTRuURPeg9KNuO+3RWzoFeyGnS1CpfNQCgJLmDMPnjikvwNrLvlSF3Du6ntBd8CKjx7bcEz9pAPaMCAwEAAQ==","aadProfile":{"tenantId":"","clientAppId":"","serverAppId":""}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EastUS2EUAP/operationStatuses/cb7cd06c-269b-467e-a1ec-afef5769b639?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://aadcluster-akkeshar-1bfbb5-bd32ce8d.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc/pods
  response:
    body:
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces/azure-arc/pods","resourceVersion":"9126692"},"items":[{"metadata":{"name":"config-agent-5959fcbbf4-rf7z8","generateName":"config-agent-5959fcbbf4-","namespace":"azure-arc","selfLink":"/api/v1/namespaces/azure-arc/pods/config-agent-5959fcbbf4-rf7z8","uid":"91a63bad-8524-11ea-81f3-02b94fa537f0","resourceVersion":"9126656","creationTimestamp":"2020-04-23T05:37:49Z","labels":{"app.kubernetes.io/component":"config-agent","app.kubernetes.io/name":"azure-arc-k8s","pod-template-hash":"5959fcbbf4"},"ownerReferences":[{"apiVersion":"apps/v1","kind":"ReplicaSet","name":"config-agent-5959fcbbf4","uid":"91a34db5-8524-11ea-81f3-02b94fa537f0","controller":true,"blockOwnerDeletion":true}]},"spec":{"volumes":[{"name":"azure-arc-operatorsa-token-x6f5b","secret":{"secretName":"azure-arc-operatorsa-token-x6f5b","defaultMode":420}}],"containers":[{"name":"kube-rbac-proxy","image":"gcr.io/kubebuilder/kube-rbac-proxy:v0.4.0","args":["--secure-listen-address=0.0.0.0:8443","--upstream=http://127.0.0.1:8080/","--logtostderr=true","--v=10"],"ports":[{"name":"https","containerPort":8443,"protocol":"TCP"}],"resources":{},"volumeMounts":[{"name":"azure-arc-operatorsa-token-x6f5b","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent"},{"name":"config-agent","image":"azurearcfork8s.azurecr.io/arc-preview/config-agent:0.1.19","env":[{"name":"AZURE_RESOURCE_NAME","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_RESOURCE_NAME"}}},{"name":"AZURE_SUBSCRIPTION_ID","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_SUBSCRIPTION_ID"}}},{"name":"AZURE_RESOURCE_GROUP","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_RESOURCE_GROUP"}}},{"name":"AZURE_REGION","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_REGION"}}},{"name":"CLUSTER_TYPE","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"CLUSTER_TYPE"}}},{"name":"FLUX_CLIENT_DEFAULT_LOCATION","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"FLUX_CLIENT_DEFAULT_LOCATION"}}}],"resources":{},"volumeMounts":[{"name":"azure-arc-operatorsa-token-x6f5b","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"Always"}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","serviceAccountName":"azure-arc-operatorsa","serviceAccount":"azure-arc-operatorsa","nodeName":"aks-nodepool1-39175733-1","securityContext":{},"schedulerName":"default-scheduler","tolerations":[{"key":"node.kubernetes.io/not-ready","operator":"Exists","effect":"NoExecute","tolerationSeconds":300},{"key":"node.kubernetes.io/unreachable","operator":"Exists","effect":"NoExecute","tolerationSeconds":300}],"priority":0,"enableServiceLinks":true},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2020-04-23T05:37:49Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2020-04-23T05:37:54Z"},{"type":"ContainersReady","status":"True","lastProbeTime":null,"lastTransitionTime":"2020-04-23T05:37:54Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2020-04-23T05:37:49Z"}],"hostIP":"10.240.0.6","podIP":"10.244.1.242","startTime":"2020-04-23T05:37:49Z","containerStatuses":[{"name":"config-agent","state":{"running":{"startedAt":"2020-04-23T05:37:53Z"}},"lastState":{},"ready":true,"restartCount":0,"image":"azurearcfork8s.azurecr.io/arc-preview/config-agent:0.1.19","imageID":"docker-pullable://azurearcfork8s.azurecr.io/arc-preview/config-agent@sha256:766f5acc681d0764948f89e7252f874d8d2f23ffad38d449d0d84f7794185b6e","containerID":"docker://ce2b2657fd731fb6e89e8f4ad3800b603c9d04ac21cb68bff0ab7c659a5817e2"},{"name":"kube-rbac-proxy","state":{"running":{"startedAt":"2020-04-23T05:37:51Z"}},"lastState":{},"ready":true,"restartCount":0,"image":"gcr.io/kubebuilder/kube-rbac-proxy:v0.4.0","imageID":"docker-pullable://gcr.io/kubebuilder/kube-rbac-proxy@sha256:297896d96b827bbcb1abd696da1b2d81cab88359ac34cce0e8281f266b4e08de","containerID":"docker://43b49bd80d6232cf36dd0a763f516db5d8e70ca8cce017e80dd6e73433cb41a1"}],"qosClass":"BestEffort"}},{"metadata":{"name":"controller-manager-6c57776944-862sq","generateName":"controller-manager-6c57776944-","namespace":"azure-arc","selfLink":"/api/v1/namespaces/azure-arc/pods/controller-manager-6c57776944-862sq","uid":"91a63e0b-8524-11ea-81f3-02b94fa537f0","resourceVersion":"9126643","creationTimestamp":"2020-04-23T05:37:49Z","labels":{"control-plane":"controller-manager","pod-template-hash":"6c57776944"},"ownerReferences":[{"apiVersion":"apps/v1","kind":"ReplicaSet","name":"controller-manager-6c57776944","uid":"91a2f418-8524-11ea-81f3-02b94fa537f0","controller":true,"blockOwnerDeletion":true}]},"spec":{"volumes":[{"name":"azure-arc-operatorsa-token-x6f5b","secret":{"secretName":"azure-arc-operatorsa-token-x6f5b","defaultMode":420}}],"containers":[{"name":"kube-rbac-proxy","image":"gcr.io/kubebuilder/kube-rbac-proxy:v0.4.0","args":["--secure-listen-address=0.0.0.0:8443","--upstream=http://127.0.0.1:8080/","--logtostderr=true","--v=10"],"ports":[{"name":"https","containerPort":8443,"protocol":"TCP"}],"resources":{},"volumeMounts":[{"name":"azure-arc-operatorsa-token-x6f5b","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent"},{"name":"manager","image":"azurearcfork8s.azurecr.io/arc-preview/configoperator:0.1.19","command":["/data/manager"],"args":["--metrics-addr=127.0.0.1:8080","--enable-leader-election"],"env":[{"name":"AZURE_RESOURCE_NAME","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_RESOURCE_NAME"}}},{"name":"AZURE_SUBSCRIPTION_ID","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_SUBSCRIPTION_ID"}}},{"name":"AZURE_RESOURCE_GROUP","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_RESOURCE_GROUP"}}},{"name":"AZURE_REGION","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"AZURE_REGION"}}},{"name":"CLUSTER_TYPE","valueFrom":{"configMapKeyRef":{"name":"azure-clusterconfig","key":"CLUSTER_TYPE"}}}],"resources":{"limits":{"cpu":"100m","memory":"300Mi"},"requests":{"cpu":"100m","memory":"100Mi"}},"volumeMounts":[{"name":"azure-arc-operatorsa-token-x6f5b","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"Always"}],"restartPolicy":"Always","terminationGracePeriodSeconds":10,"dnsPolicy":"ClusterFirst","serviceAccountName":"azure-arc-operatorsa","serviceAccount":"azure-arc-operatorsa","nodeName":"aks-nodepool1-39175733-0","securityC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EastUS2EUAP/operationStatuses/cb7cd06c-269b-467e-a1ec-afef5769b639?api-version=2020-01-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EastUS2EUAP/operationStatuses/cb7cd06c-269b-467e-a1ec-afef5769b639","name":"cb7cd06c-269b-467e-a1ec-afef5769b639","status":"Succeeded","startTime":"2020-04-23T05:38:06.6180728Z","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://aadcluster-akkeshar-1bfbb5-bd32ce8d.hcp.eastus.azmk8s.io/api/v1/namespaces/azure-arc/pods?timeoutSeconds=60&watch=True
  response:
    body:
      string: '{"type":"ADDED","object":{"kind":"Pod","apiVersion":"v1","metadata":{"name":"controller-manager-6c57776944-862sq","generateName":"controller-manager-6c57776944-","namespace":"azure-arc","selfLink":"/api/v1/namespaces/azure-arc/pods/controller-manager-6c57776944-862sq","uid":"91a63e0b-8524-11ea-81f3-02b94fa537f0","resourceVersion":"9126643","creationTimestamp":"2020-04-23T05:37:49Z","labels":{"control-plane":"controller-manager","pod-template-hash":"6c57776944"},"ownerReferences":[{"apiVersion":"apps/v1","kind":"ReplicaS[...]
