interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup","name":"rohanazuregroup","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"Created":"20220718"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "test-force-rohanazuregroup-1bfbb5",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_B4ms", "osType": "Linux",
      "type": "VirtualMachineScaleSets", "mode": "System", "enableNodePublicIP": false,
      "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDknmXRBGa/GuPCkpyydwCNedhfwINfrO674LWcBih2UjjJc5yULl9cD9LsYMWOzHVqM7H7RFxaONyq46h9vgxB/1XAeJUGc2jS8GS+vsS83bXX6vVrwa8wVeD380SJcF87oH3xf7/v2hlKv3drXi7xPE2JBjTHIOJJ6OxX+bAFXBqd1dPvnX1X7kEyX6vvjvuQrp7rFDbLq/eRpmng7kykodASQkUFZlt5+gH/U/z/a/DRoTocgzNqGl9RmesNtslQJs17Vn/JIJMM55qcRCEKoJ3Fq/Osnx3tHNA3G/vTs/+sVgh0tZmM6oIMRfTKzJskSZkMZOd8KtK/7ROCZO72izRmzwTFwFvRe/I7iHQ4PrjeKAqKDvgHJ/0LlaHmIYysZI21OTo6HcoX4HmA4RsIybNAM5SWeMMGiGe94/LYPk9sgB3o8aMv/nI/hr6vA28c2nso7itOuNcH1GZalAnbCObNv7QqVZ23FPlCjV9GXWCDCnQeCoIispJCrf68N5s=
      fareast\\akkeshar@AkashLaptop\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.ContainerService/managedClusters/test-force-delete000001?api-version=2021-08-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.ContainerService/managedClusters/test-force-delete000001\",\n
        \ \"location\": \"westeurope\",\n  \"name\": \"test-force-delete000001\",\n
        \ \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\":
        {\n   \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\":
        \"Running\"\n   },\n   \"kubernetesVersion\": \"1.23.12\",\n   \"dnsPrefix\":
        \"test-force-rohanazuregroup-1bfbb5\",\n   \"fqdn\": \"test-force-rohanazuregroup-1bfbb5-6f1967ab.hcp.westeurope.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"test-force-rohanazuregroup-1bfbb5-6f1967ab.portal.hcp.westeurope.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_B4ms\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.23.12\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.10.24\",\n     \"enableFIPS\": false\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABgQDknmXRBGa/GuPCkpyydwCNedhfwINfrO674LWcBih2UjjJc5yULl9cD9LsYMWOzHVqM7H7RFxaONyq46h9vgxB/1XAeJUGc2jS8GS+vsS83bXX6vVrwa8wVeD380SJcF87oH3xf7/v2hlKv3drXi7xPE2JBjTHIOJJ6OxX+bAFXBqd1dPvnX1X7kEyX6vvjvuQrp7rFDbLq/eRpmng7kykodASQkUFZlt5+gH/U/z/a/DRoTocgzNqGl9RmesNtslQJs17Vn/JIJMM55qcRCEKoJ3Fq/Osnx3tHNA3G/vTs/+sVgh0tZmM6oIMRfTKzJskSZkMZOd8KtK/7ROCZO72izRmzwTFwFvRe/I7iHQ4PrjeKAqKDvgHJ/0LlaHmIYysZI21OTo6HcoX4HmA4RsIybNAM5SWeMMGiGe94/LYPk9sgB3o8aMv/nI/hr6vA28c2nso7itOuNcH1GZalAnbCObNv7QqVZ23FPlCjV9GXWCDCnQeCoIispJCrf68N5s=
        fareast\\\\akkeshar@AkashLaptop\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"msi\"\n   },\n   \"nodeResourceGroup\": \"MC_rohanazuregroup_test-force-delete000001_westeurope\",\n
        \  \"enableRBAC\": true,\n   \"enablePodSecurityPolicy\": false,\n   \"networkProfile\":
        {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n
        \   \"loadBalancerProfile\": {\n     \"managedOutboundIPs\": {\n      \"count\":
        1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {}\n  },\n
        \ \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\": \"8a8f658d-a098-4ef3-8623-e2872bd2af28\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/1f695e8a-2d1c-43a5-bd84-5f6e3e78aa5a?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/1f695e8a-2d1c-43a5-bd84-5f6e3e78aa5a?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"8a5e691f-1c2d-a543-bd84-5f6e3e78aa5a\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-11-15T11:32:26.7929876Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westeurope/operations/1f695e8a-2d1c-43a5-bd84-5f6e3e78aa5a?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"8a5e691f-1c2d-a543-bd84-5f6e3e78aa5a\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-11-15T11:32:26.7929876Z\",\n  \"endTime\":
        \"2022-11-15T11:37:24.5276284Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.ContainerService/managedClusters/test-force-delete000001/listClusterUserCredential?api-version=2021-08-01
  response:
    body:
      string: "{\n  \"kubeconfigs\": [\n   {\n    \"name\": \"clusterUser\",\n    \"value\":
        \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlJFTkRRWFJEWjBGM1NVSkJaMGxSWVdkb1pETjRTbloyVDBKc2QwY3ZWMDF3Y1ZkblJFRk9RbWRyY1docmFVYzVkekJDUVZGelJrRkVRVTRLVFZGemQwTlJXVVJXVVZGRVJYZEthbGxVUVdkR2R6QjVUV3BGZUUxVVZYaE5WRWw1VGxSYVlVZEJPSGxOUkZWNVRWUkZlRTVVUlhoTmVra3hUbXh2ZHdwRVZFVk1UVUZyUjBFeFZVVkJlRTFEV1RKRmQyZG5TV2xOUVRCSFExTnhSMU5KWWpORVVVVkNRVkZWUVVFMFNVTkVkMEYzWjJkSlMwRnZTVU5CVVVSUENqR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kubernetes","namespace":"Microsoft.Kubernetes","authorizations":[{"applicationId":"64b12d6e-6549-484c-8cc6-6281839ba394","roleDefinitionId":"1d1d44cf-68a1-4def-a2b6-cd7efc3515af"},{"applicationId":"359431ad-ece5-496b-8768-be4bbfd82f36","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"0000dab9-8b21-4ba2-807f-1743968cef00","roleDefinitionId":"1b5c71b7-9814-4b40-b62a-23018af874d8"},{"applicationId":"8edd93e1-2103-40b4-bd70-6e34e586362d","roleDefinitionId":"eb67887a-31e8-4e4e-bf5b-14ff79351a6f"}],"resourceTypes":[{"resourceType":"connectedClusters","locations":["West
        Europe","East US","West Central US","South Central US","Southeast Asia","UK
        South","East US 2","West US 2","Australia East","North Europe","France Central","Central
        US","West US","North Central US","Korea Central","Japan East","West US 3","East
        Asia","Canada Central","East US 2 EUAP","Canada East"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US 2 EUAP","West Europe","East US","West Central US","South Central US","Southeast
        Asia","UK South","East US 2","West US 2","Australia East","North Europe","France
        Central","Central US","West US","North Central US","Korea Central","Japan
        East","East Asia","West US 3","Canada East","Canada Central"],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"registeredSubscriptions","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview"],"capabilities":"None"},{"resourceType":"Operations","locations":[],"apiVersions":["2022-10-01-preview","2022-05-01-preview","2021-10-01","2021-04-01-preview","2021-03-01","2020-01-01-preview","2019-11-01-preview","2019-09-01-privatepreview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KubernetesConfiguration","namespace":"Microsoft.KubernetesConfiguration","authorizations":[{"applicationId":"c699bf69-fb1d-4eaf-999b-99e6b2ae4d85","roleDefinitionId":"901554[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-6f1967ab.hcp.westeurope.azmk8s.io/version/
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"23\",\n  \"gitVersion\": \"v1.23.12\",\n
        \ \"gitCommit\": \"f941a31f4515c5ac03f5fc7ccf9a330e3510b80d\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T17:12:33Z\",\n  \"goVersion\": \"go1.17.13\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      audit-id:
      - 06550239-f165-416e-bf9b-ffc84a96f5fc
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 41f5db60-86cb-4eda-ae03-4e5d3b32ee1c
      x-kubernetes-pf-prioritylevel-uid:
      - 10e00fa7-faea-45c7-90e4-414371b6c667
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-6f1967ab.hcp.westeurope.azmk8s.io/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"1501"},"items":[{"metadata":{"name":"aks-nodepool1-67049894-vmss000000","uid":"c51f8592-b109-4946-a303-a53d917c9871","resourceVersion":"1022","creationTimestamp":"2022-11-15T11:35:10Z","labels":{"agentpool":"nodepool1","beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"Standard_B4ms","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"westeurope","failure-domain.beta.kubernetes.io/zone":"0","kubernetes.azure.com/agentpool":"nodepool1","kubernetes.azure.com/cluster":"MC_rohanazuregroup_test-force-delete000001_westeurope","kubernetes.azure.com/kubelet-identity-client-id":"c27d58c7-a95c-4e20-8ed1-7a1748a68d3f","kubernetes.azure.com/mode":"system","kubernetes.azure.com/node-image-version":"AKSUbuntu-1804gen2containerd-2022.10.24","kubernetes.azure.com/os-sku":"Ubuntu","kubernetes.azure.com/role":"agent","kubernetes.azure.com/storageprofile":"managed","kubernetes.azure.com/storagetier":"Premium_LRS","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"aks-nodepool1-67049894-vmss000000","kubernetes.io/os":"linux","kubernetes.io/role":"agent","node-role.kubernetes.io/agent":"","node.kubernetes.io/instance-type":"Standard_B4ms","storageprofile":"managed","storagetier":"Premium_LRS","topology.disk.csi.azure.com/zone":"","topology.kubernetes.io/region":"westeurope","topology.kubernetes.io/zone":"0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"disk.csi.azure.com\":\"aks-nodepool1-67049894-vmss000000\",\"file.csi.azure.com\":\"aks-nodepool1-67049894-vmss000000\"}","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"cloud-controller-manager","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:35:10Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.244.0.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:35:10Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:agentpool":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.azure.com/agentpool":{},"f:kubernetes.azure.com/kubelet-identity-client-id":{},"f:kuber[...]
- request:
    body: '{"spec": {"resourceAttributes": {"verb": "create", "resource": "clusterrolebindings",
      "group": "rbac.authorization.k8s.io"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-force-rohanazuregroup-1bfbb5-6f1967ab.hcp.westeurope.azmk8s.io/apis/authorization.k8s.io/v1/selfsubjectaccessreviews
  response:
    body:
      string: '{"kind":"SelfSubjectAccessReview","apiVersion":"authorization.k8s.io/v1","metadata":{"creationTimestamp":null,"managedFields":[{"manager":"OpenAPI-Generator","operation":"Update","apiVersion":"authorization.k8s.io/v1","time":"2022-11-15T11:37:40Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:resourceAttributes":{".":{},"f:group":{},"f:resource":{},"f:verb":{}}}}}]},"spec":{"resourceAttributes":{"verb":"create","group":"rbac.authorization.k8s.io","resource":"clusterrolebindings"}},"status":{"allowed":true}}

        '
    headers:
      audit-id:
      - a538d9f2-620c-4cfc-b8ec-8476d69709c2
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 41f5db60-86cb-4eda-ae03-4e5d3b32ee1c
      x-kubernetes-pf-prioritylevel-uid:
      - 10e00fa7-faea-45c7-90e4-414371b6c667
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kubernetes/connectedClusters/cc-000002''
        under resource group ''rohanazuregroup'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://test-force-rohanazuregroup-1bfbb5-6f1967ab.hcp.westeurope.azmk8s.io/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"1516"},"items":[{"metadata":{"name":"default","uid":"a8f45c46-eebc-4fe8-861a-4fd13ce5eee2","resourceVersion":"202","creationTimestamp":"2022-11-15T11:34:09Z","labels":{"kubernetes.io/metadata.name":"default"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:34:09Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-node-lease","uid":"d1ac31c7-7376-49bc-a80d-acdc81679c17","resourceVersion":"12","creationTimestamp":"2022-11-15T11:34:08Z","labels":{"kubernetes.io/metadata.name":"kube-node-lease"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:34:08Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","uid":"b41f61d0-d70c-4a2d-8394-33fb1107460c","resourceVersion":"10","creationTimestamp":"2022-11-15T11:34:08Z","labels":{"kubernetes.io/metadata.name":"kube-public"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:34:08Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","uid":"652863d3-90f8-4e1a-bb66-17bf710b5b7d","resourceVersion":"597","creationTimestamp":"2022-11-15T11:34:08Z","labels":{"addonmanager.kubernetes.io/mode":"Reconcile","control-plane":"true","kubernetes.io/cluster-service":"true","kubernetes.io/metadata.name":"kube-system"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"Namespace\",\"metadata\":{\"annotations\":{},\"labels\":{\"addonmanager.kubernetes.io/mode\":\"Reconcile\",\"control-plane\":\"true\",\"kubernetes.io/cluster-service\":\"true\"},\"name\":\"kube-system\"}}\n"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:34:08Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}},{"manager":"kubectl-client-side-apply","operation":"Update","apiVersion":"v1","time":"2022-11-15T11:34:35Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:kubectl.kubernetes.io/last-applied-configuration":{}},"f:labels":{"f:addonmanager.kubernetes.io/mode":{},"f:control-plane":{},"f:kubernetes.io/cluster-service":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}}]}

        '
    headers:
      audit-id:
      - 54e64ffd-0d34-4c11-89a0-8e6abd1e19e1
      content-type:
      - application/json
      x-kubernetes-pf-flowschema-uid:
      - 41f5db60-86cb-4eda-ae03-4e5d3b32ee1c
      x-kubernetes-pf-prioritylevel-uid:
      - 10e00fa7-faea-45c7-90e4-414371b6c667
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview&releaseTrain=stable
  response:
    body:
      string: '{"repositoryPath":"mcr.microsoft.com/azurearck8s/batch1/stable/azure-arc-k8sagents:1.8.14"}'
    headers:
      api-supported-versions:
      - 2019-11-01-Preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "doo"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"agentPublicKeyCertificate": "MIICCgKCAgEAs2vNDhE4kT8Y+yVeMb3LBq7WKIq1/0Kk3FWB4j74tNUG4YS7fBqIOOqJM0izS8O6d0VCdNV8RLKQX1s+rK1sfITpU5Q+rzuzkzLvlHzHUpIJ2PjTFekMtIrQXNPpi6GnS/yEz1aVd5S1q6kDbvdof9bZ49qvidP3qdapzeltja2r0oZmXvp7OtQfAZRcYLVs9SqWBxR8Nl2NX8xR93ws5QXYNX7Fqk5WizbMqJDQL81v4HQKOlf3nT/ql3BBxLRfLtGsNCm/fkBBB+zqjUiyoqIYU3wj1DCt8BSJhU8uMU5HsJTm/vDAfnF6oD3svDPggxAoDDbrsF4o97RL2SDDatZna6nezNGl0dY8TFciMpET4FRXlD5kZi6O+hxNyHfrEsYw3bAcroN/djIJv8gTh//K6l/zZoVRdnGZFnuESqPjnr7VajNDqnwWjy59jkYmooFXT6hjXKVNSBeO5VWQHt2wcA44fD627/Ai2uvYYurgq0Bz4lCSoJJ1ho/mdZZDNfI/TsPoYyLT2PY2MGC/pTX+fexTed+LFVuJFEGTYyyoxZ0slI+7du60ZQoPAwvKxjGG6tyrXXBWYRRT+7bl2GeaLQ4R32N1k5ee/BijO9bDNTjiFnQ+N/C9HWndZmvhwIrAiJovwOgdXKS42mM/MaHH4pHw/PDsgE6XE69YBJkCAwEAAQ==",
      "distribution": "aks", "infrastructure": "azure"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","name":"cc-000002","type":"microsoft.kubernetes/connectedclusters","location":"eastus","tags":{"foo":"doo"},"systemData":{"createdBy":"akkeshar@microsoft.com","createdByType":"User","createdAt":"2022-11-15T11:38:02.9767221Z","lastModifiedBy":"akkeshar@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-15T11:38:02.9767221Z"},"identity":{"principalId":"4acfe3c2-3ed8-4b15-a152-19a32341eef3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","connectivityStatus":"Connecting","agentPublicKeyCertificate":"MIICCgKCAgEAs2vNDhE4kT8Y+yVeMb3LBq7WKIq1/0Kk3FWB4j74tNUG4YS7fBqIOOqJM0izS8O6d0VCdNV8RLKQX1s+rK1sfITpU5Q+rzuzkzLvlHzHUpIJ2PjTFekMtIrQXNPpi6GnS/yEz1aVd5S1q6kDbvdof9bZ49qvidP3qdapzeltja2r0oZmXvp7OtQfAZRcYLVs9SqWBxR8Nl2NX8xR93ws5QXYNX7Fqk5WizbMqJDQL81v4HQKOlf3nT/ql3BBxLRfLtGsNCm/fkBBB+zqjUiyoqIYU3wj1DCt8BSJhU8uMU5HsJTm/vDAfnF6oD3svDPggxAoDDbrsF4o97RL2SDDatZna6nezNGl0dY8TFciMpET4FRXlD5kZi6O+hxNyHfrEsYw3bAcroN/djIJv8gTh//K6l/zZoVRdnGZFnuESqPjnr7VajNDqnwWjy59jkYmooFXT6hjXKVNSBeO5VWQHt2wcA44fD627/Ai2uvYYurgq0Bz4lCSoJJ1ho/mdZZDNfI/TsPoYyLT2PY2MGC/pTX+fexTed+LFVuJFEGTYyyoxZ0slI+7du60ZQoPAwvKxjGG6tyrXXBWYRRT+7bl2GeaLQ4R32N1k5ee/BijO9bDNTjiFnQ+N/C9HWndZmvhwIrAiJovwOgdXKS42mM/MaHH4pHw/PDsgE6XE69YBJkCAwEAAQ==","distribution":"aks","infrastructure":"azure"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/f6012057-4af4-4179-95cd-f95b189cc547*6B91F8906561019D361BC05718C963234CC9E37EF8839FC4720ADD5A8D2E05F7?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7100014d-0000-0100-0000-63737a1d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/f6012057-4af4-4179-95cd-f95b189cc547*6B91F8906561019D361BC05718C963234CC9E37EF8839FC4720ADD5A8D2E05F7?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Kubernetes/locations/EASTUS/operationStatuses/f6012057-4af4-4179-95cd-f95b189cc547*6B91F8906561019D361BC05718C963234CC9E37EF8839FC4720ADD5A8D2E05F7","name":"f6012057-4af4-4179-95cd-f95b189cc547*6B91F8906561019D361BC05718C963234CC9E37EF8839FC4720ADD5A8D2E05F7","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002","status":"Accepted","startTime":"2022-11-15T11:38:04.4595994Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1001535f-0000-0100-0000-63737a1c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ExtendedLocation","namespace":"Microsoft.ExtendedLocation","authorizations":[{"applicationId":"bc313c14-388c-4e7d-a58e-70017303ee3b","roleDefinitionId":"a775b938-2819-4dd0-8067-01f6e3b06392"},{"applicationId":"319f651f-7ddb-4fc6-9857-7aef9250bd05","roleDefinitionId":"0981f4e0-04a7-4e31-bd2b-b2ac2fc6ba4e"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-03-15-preview","2020-07-15-privatepreview"],"capabilities":"None"},{"resourceType":"customLocations","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerland North","Sweden
        Central","East US 2 EUAP"],"apiVersions":["2021-08-31-preview","2021-08-15","2021-03-15-preview","2020-07-15-privatepreview"],"defaultApiVersion":"2021-08-15","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"customLocations/enabledResourceTypes","locations":["East
        US","West Europe","North Europe","France Central","Southeast Asia","Australia
        East","East US 2","West US 2","UK South","Central US","West Central US","West
        US","North Central US","South Central US","Korea Central","Japan East","East
        Asia","West US 3","Canada Central","Canada East","Switzerla[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27Custom%20Locations%20RP%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"51dfe1e8-70c6-4de5-a08e-e18aff23d815","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Custom
        Locations RP","appId":"bc313c14-388c-4e7d-a58e-70017303ee3b","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Custom
        Locations RP","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft
        Services","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bc313c14-388c-4e7d-a58e-70017303ee3b"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1452070'
      ocp-aad-diagnostics-server-name:
      - k0WOg1aus+ZrdPo95G8LSW5qqrlAqo9fxRmKhM5lw2M=
      ocp-aad-session-key:
      - KljhJDQJNL9MGHd8zovFj77cE80VcOs_g6soKN4Y2M6MHOOGCDgk_YBkRIFXx-huxlKBYVziLopjv9TdGojZJ_mNw9prWz7WC198FRgau0d2wmTwdT0lt09rxFGaNtQa.YuzcIYgdFkm7f2Ri-K2DSd41t6RxewWIKFv39b8Jc8o
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rohanazuregroup/providers/Microsoft.Kubernetes/connectedClusters/cc-000002?api-version=2022-10-01-preview
  response:
    body:
[...]
