interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EdgeOperator/observabilityConfiguration/default?api-version=2026-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EdgeOperator/observabilityConfiguration/default","name":"default","type":"Microsoft.EdgeOperator/observabilityConfiguration","properties":{"cloud":"AzureCloud","location":"eastus","resourceGroup":"rg-observability","servicePrincipalId":"33333333-3333-3333-3333-333333333333","subscriptionId":"22222222-2222-2222-2222-222222222222","tenantId":"11111111-1111-1111-1111-111111111111"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1