interactions:
- request:
    body: '{"subscriptions": ["92f95d8f-3c67-4124-91c7-8cf07cdbf241"], "query": "project
      id, tags, properties | limit 2", "options": {"$top": 100, "$skip": 0}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2019-04-01
  response:
    body:
      string: '{"totalRecords":2,"count":2,"data":{"columns":[{"name":"id","type":"string"},{"name":"tags","type":"object"},{"name":"properties","type":"object"}],"rows":[["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-southeastasia/providers/Microsoft.Storage/storageAccounts/cs110032000dbf0c5a6",{"ms-resource-usage":"azure-cloud-shell"},{"provisioningState":"Succeeded","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2021-04-25T07:25:04.7240000Z","keyType":"Account"},"file":{"enabled":true,"lastEnabledTime":"2021-04-25T07:25:04.7240000Z","keyType":"Account"}}},"privateEndpointConnections":[],"supportsHttpsTrafficOnly":true,"creationTime":"2021-04-25T07:25:04.6620000Z","primaryEndpoints":{"blob":"https://cs110032000dbf0c5a6.blob.core.windows.net/","file":"https://cs110032000dbf0c5a6.file.core.windows.net/","table":"https://cs110032000dbf0c5a6.table.core.windows.net/","queue":"https://cs110032000dbf0c5a6.queue.core.windows.net/","dfs":"https://cs110032000dbf0c5a6.dfs.core.windows.net/","web":"https://cs110032000dbf0c5a6.z23.web.core.windows.net/"},"statusOfPrimary":"available","primaryLocation":"southeastasia","networkAcls":{"virtualNetworkRules":[],"defaultAction":"Allow","ipRules":[],"bypass":"AzureServices"},"accessTier":"Hot","allowBlobPublicAccess":false,"minimumTlsVersion":"TLS1_2"}],["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus",{},{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ef9dcd93-26a7-437a-98e8-68fd79decffa","clientId":"835a3268-c19a-4e76-ab83-14ad62820f5e"}]]},"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '14'
      x-ms-user-quota-remaining:
      - '14'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
version: 1
