interactions:
- request:
    body: '{"managementGroups": ["72f988bf-86f1-41af-91ab-2d7cd011db47", "AzGovTest5"],
      "query": "ResourceContainers | where type contains ''management'' | project
      id, name, type | limit 2", "options": {"$top": 100, "$skip": 0, "resultFormat":
      "objectArray", "allowPartialScopes": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":2,"count":2,"data":[{"id":"/providers/Microsoft.Management/managementGroups/AzGovTest5","name":"AzGovTest5","type":"microsoft.management/managementgroups"},{"id":"/providers/Microsoft.Management/managementGroups/PolicyUIMG","name":"PolicyUIMG","type":"microsoft.management/managementgroups"}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '13'
      x-ms-user-quota-remaining:
      - '13'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
version: 1
