// Env
param containerAppEnvName string
param containerAppLogAnalyticsName string
param location string
param apps array
param revisions object

// App 
param containerAppName string
param containerImage string
param targetPort int
param cpuCore string
param memorySize string
param minReplicas int
param maxReplicas int

module containerAppEnv 'environment.bicep' = {
  name: 'containerAppEnvDeployment'
  params: {
    containerAppEnvName: containerAppEnvName
    containerAppLogAnalyticsName: containerAppLogAnalyticsName
    location: location
  }
}

module appModule 'app.bicep' = [for app in apps: {
  name: '${app.name}'
  dependsOn: [containerAppEnv]
  params: {
    containerAppName: containerAppName
    containerImage: containerImage
    targetPort: targetPort
    cpuCore: cpuCore
    memorySize: memorySize
    minReplicas: minReplicas
    maxReplicas: maxReplicas
    containerAppEnvId: containerAppEnv.outputs.containerAppEnvId
  }
}]