param containerAppName string = {{containerAppName}}
param containerImage string = {{containerImage}}

param cpuCore string = {{cpuCore}}
param memorySize string = {{memorySize}}

param containerAppEnvId string

resource conainerAppRevision 'Microsoft.App/containerApp/revisions@2024-03-01' = [for revision in range(1, 2): {
  name: '${containerAppName}-${revision}'
  parent: containerApp
  properties: {
    template: {
      containers: [
        {
          name: containerAppName
          image: containerImage
          resources: {
            cpu: json(cpuCore)
            memory: '${memorySize}Gi'
          }
        }
      ]
    }
  }
}]

output containerAppFQDN string = containerApp.properties.configuration.ingress.fqdn
