interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_L8s", "capacity": 2, "tier":
      "Standard"}, "properties": {"enableStreamingIngest": true, "keyVaultProperties":
      {"keyName": "", "keyVersion": "", "keyVaultUri": ""}, "enablePurge": true},
      "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben16?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben16","name":"testcliastauben16","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"westus","sku":{"name":"Standard_L8s","tier":"Standard","capacity":2},"properties":{"enableStreamingIngest":true,"keyVaultProperties":{"keyName":"","keyVersion":"","keyVaultUri":""},"enablePurge":true,"state":"Creating","provisioningState":"Creating"},"identity":{"type":"SystemAssigned"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/47090f8e-b1dd-4a2c-b792-5a4769563f96?api-version=2020-02-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/47090f8e-b1dd-4a2c-b792-5a4769563f96?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationresults/47090f8e-b1dd-4a2c-b792-5a4769563f96","name":"47090f8e-b1dd-4a2c-b792-5a4769563f96","status":"Running","startTime":"2020-04-23T12:24:39.3324746Z","endTime":"2020-04-23T12:24:41.3481278Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateExternal","RootActivityId":"1b83b31d-b13c-464b-a507-8b4aae877808","provisioningState":"Running"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben16?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben16","name":"testcliastauben16","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"Standard_L8s","tier":"Standard","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://testcliastauben16.westus.kusto.windows.net","dataIngestionUri":"https://ingest-testcliastauben16.westus.kusto.windows.net","trustedExternalTenants":[],"virtualNetworkConfiguration":null,"optimizedAutoscale":null,"enableDiskEncryption":false,"enableStreamingIngest":true,"keyVaultProperties":null,"languageExtensions":{"value":[]},"enablePurge":true,"provisioningState":"Succeeded"},"identity":{"principalId":"3edf18ef-024a-4201-9de9-4c54c742aa39","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/clusters?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/noamgotest/providers/Microsoft.Kusto/Clusters/noamgotest1","name":"noamgotest1","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        Europe","sku":{"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben16","name":"testcliastauben16","type":"Microsoft.Kusto/Clusters","etag":"\"\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/skus?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Kusto/clusters","sku":{"name":"Standard_D14_v2","tier":"Standard","locationInfo":[{"location":"West
        US","zones":[]}]},"capacity":{"minimum":2,"maximum":1000,"default":2,"scaleType":"Automatic"}},{"resourceType":"Microsoft.Kusto/clusters","sku":{"name":"Standard_D13_v2","tier":"Standard","locationInfo":[{"location":"West
        US","zones":[]}]},"capacity":{"minimum":2,"maximum":1000,"default":2,"scaleType":"Automatic"}},{"resourceType":"Microsoft.Kusto/clusters","sku":{"name":"Standard_L8s","tier":"Standard","locationInfo":[{"location":"West
        US","zones":[]}]},"capacity":{"minimum":2,"maximum":1000,"default":2,"scaleType":"Automatic"}},{"resourceType":"Microsoft.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/skus?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"resourceType":"clusters","name":"Dev(No SLA)_Standard_D11_v2","tier":"Basic","locations":["centralus"],"locationInfo":[{"location":"centralus","zones":["2","3","1"],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"clusters","name":"Standard_D11_v2","tier":"Standard","locations":["centralus"],"locationInfo":[{"location":"centralus","zones":["2","3","1"],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"clusters","name":"Standard_D12_v2","tier":"Standard","locations":["centralus"],"locationInfo":[{"location":"centralus","zones":["2","3","1"],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"clusters","name":"Standard_D13_v2","tier":"Standard","locations":["centralus"],"locatio[...]
- request:
    body: '{"location": "westus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/databases/KustoDatabase8?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15/Databases/KustoDatabase8","name":"testcliastauben15/KustoDatabase8","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"westus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/dd98d950-cff0-4aa4-aba5-e8dfcebc41bf?api-version=2020-02-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/databases/KustoDatabase8?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15/Databases/KustoDatabase8","name":"testcliastauben15/KustoDatabase8","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","kind":"ReadWrite","tags":{},"properties":{"isFollowed":false,"softDeletePeriodInDays":1,"softDeletePeriod":"P1D","hotCachePeriodInDays":0,"hotCachePeriod":null,"statistics":{"size":0.0},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/databases?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15/Databases/KustoDatabase8","name":"testcliastauben15/KustoDatabase8","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","kind":"ReadWrite","properties":{"isFollowed":false,"softDeletePeriodInDays":1,"softDeletePeriod":"P1D","hotCachePeriodInDays":0,"hotCachePeriod":null,"statistics":{"size":0.0},"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/3a0a9b62-1cd3-4cfc-8cc4-758ce1796eb5?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/3a0a9b62-1cd3-4cfc-8cc4-758ce1796eb5","name":"3a0a9b62-1cd3-4cfc-8cc4-758ce1796eb5","status":"Succeeded","startTime":"2020-04-23T12:49:36.7984649Z","endTime":"2020-04-23T12:49:38.5642255Z","percentComplete":1.0,"properties":{"OperationKind":"DatabaseCreate","RootActivityId":"4991fd7d-cf8a-4a5b-a3de-0857e84f17d4","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"principalId": "d9a1f322-1293-4595-91e3-f54f8bb34725",
      "role": "Admin", "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d", "principalType":
      "App"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/databases/Kustodatabase8/principalAssignments/kustoprincipal1?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15/Databases/Kustodatabase8/PrincipalAssignments/kustoprincipal1","name":"testcliastauben15/Kustodatabase8/kustoprincipal1","type":"Microsoft.Kusto/Clusters/Databases/PrincipalAssignments","etag":"\"\"","properties":{"principalId":"d9a1f322-1293-4595-91e3-f54f8bb34725","role":"Admin","tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","principalType":"App","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/99bbcc39-ce67-4af2-b7e7-8ba371b22f1b?api-version=2020-02-15
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/databases/Kustodatabase8/principalAssignments/kustoprincipal1?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15/Databases/Kustodatabase8/PrincipalAssignments/kustoprincipal1","name":"testcliastauben15/Kustodatabase8/kustoprincipal1","type":"Microsoft.Kusto/Clusters/Databases/PrincipalAssignments","etag":"\"\"","tags":{},"properties":{"principalId":"d9a1f322-1293-4595-91e3-f54f8bb34725","role":"Admin","principalType":"App","tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","tenantName":"MS
        Azure Cloud","principalName":"KustoResourceProvider","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/databases/Kustodatabase8/listPrincipals?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"name":"KustoResourceProvider","role":"Admin","type":"App","fqn":"aadapp=d9a1f322-1293-4595-91e3-f54f8bb34725;33e01921-4d64-4f8c-a055-5bdaffd5e33d","email":"","appId":"d9a1f322-1293-4595-91e3-f54f8bb34725","tenantName":"MS
        Azure Cloud"},{"name":"Assaf Taubenfeld","role":"Admin","type":"User","fqn":"aaduser=53d8fc23-618e-49fa-ae3f-ae65cc60aa37;72f988bf-86f1-41af-91ab-2d7cd011db47","email":"astauben@microsoft.com","appId":"","tenantName":"Microsoft"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"principalId": "d9a1f322-1293-4595-91e3-f54f8bb34725",
      "role": "AllDatabasesViewer", "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d",
      "principalType": "App"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/principalAssignments/kustoprincipa[...]
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"databaseName": "Kustodatabase8",
      "clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15",
      "defaultPrincipalsModificationKind": "Union"}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben16/attachedDatabaseConfigurations/attachedDatabaseConfigurations2?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Ku[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben16/attachedDatabaseConfigurations/attachedDatabaseConfigurations2?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben16/AttachedDatabaseConfigurations/attachedDatabaseConfigurations2","name":"testcliastauben16/attachedDatabaseConfigurations2","type":"Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations","etag":"\"\"","location":"West
        US","tags":{},"properties":{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben15","databaseName":"Kustodatabase8","attachedDatabaseNames":["Kustodatabase8"],"defaultPrincipalsModificationKind":"Union","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/attachedDatabaseConfigurations?api-version=2020-02-15
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/listFollowerDatabases?api-version=2020-02-15
  response:
    body:
      string: '{"value":[{"clusterResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/Clusters/testcliastauben16","attachedDatabaseConfigurationName":"attachedDatabaseConfigurations2","databaseName":"Kustodatabase8"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben16",
      "attachedDatabaseConfigurationName": "attachedDatabaseConfigurations2"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Kusto/clusters/testcliastauben15/detachFollowerDatabases?api-version=2020-02-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/9e33556a-e80e-48bb-b112-d2bac5c694d7?api-version=2020-02-15
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/9e33556a-e80e-48bb-b112-d2bac5c694d7?api-version=2020-02-15&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/9e33556a-e80e-48bb-b112-d2bac5c694d7?api-version=2020-02-15&operationResultResponseType=Location
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/dd06a05d-a7a4-482a-9ef2-2c5c29b4ba22?api-version=2020-02-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/dd06a05d-a7a4-482a-9ef2-2c5c29b4ba22","name":"dd06a05d-a7a4-482a-9ef2-2c5c29b4ba22","status":"Succeeded","startTime":"2020-04-23T12:53:46.4703819Z","endTime":"2020-04-23T13:04:41.7899844Z","percentComplete":1.0,"properties":{"OperationKind":"ClusterDelete","RootActivityId":"524a01d5-ca0f-4f81-b912-1a0bcf8a2003","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '280'
    status:
      code: 200
      message: OK
version: 1
