interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2021-05-08T00:00:00Z</Start><Expiry>2021-05-11T00:00:00Z</Expiry></KeyInfo>'
    headers:
      x-ms-date:
      - Sat, 08 May 2021 16:19:14 GMT
      x-ms-version:
      - '2018-11-09'
    method: POST
    uri: https://testclients.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>53d8fc23-618e-49fa-ae3f-ae65cc60aa37</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2021-05-08T00:00:00Z</SignedStart><SignedExpiry>2021-05-11T00:00:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2018-11-09</SignedVersion><Value>A0lEiYyJmfltmPhDGoq3JXAnxcHN8cH7l7oHTQ3FBd4=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"scriptUrl": "https://testclients.blob.core.windows.net/testclientscontainer/script.txt",
      "scriptUrlSasToken": "st=2021-05-08&se=2021-05-11&sp=r&sv=2018-11-09&sr=b&skoid=53d8fc23-618e-49fa-ae3f-ae65cc60aa37&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-05-08T00%3A00%3A00Z&ske=2021-05-11T00%3A00%3A00Z&sks=b&skv=2018-11-09&sig=btwYxfTstWFXjKcO1rm5jRvhsOTNLyOIxOe5jMQvN%2B4%3D",
      "continueOnErrors": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testgroupyefkpv/providers/Microsoft.Kusto/clusters/blablab123/databases/test00/scripts/testscript?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testgroupyefkpv/providers/Microsoft.Kusto/Clusters/blablab123/Databases/test00/Scripts/testscript","name":"blablab123/test00/testscript","type":"Microsoft.Kusto/Clusters/Databases/Scripts","etag":"\"\"","properties":{"scriptUrl":"https://testclients.blob.core.windows.net/testclientscontainer/script.txt","scriptUrlSasToken":"","continueOnErrors":true,"provisioningState":"Accepted"},"systemData":{"createdBy":"astauben@microsoft.com","createdAt":"2021-05-08T16:19:16.6515328Z","modifiedBy":"astauben@microsoft.com","modifiedAt":"2021-05-08T16:19:16.6515328Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East
        US/operationResults/ea7c89be-f131-4ac8-b01d-6fdd45bf3f11?api-version=2021-01-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East%20US/operationResults/ea7c89be-f131-4ac8-b01d-6fdd45bf3f11?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East
        US/operationresults/ea7c89be-f131-4ac8-b01d-6fdd45bf3f11","name":"ea7c89be-f131-4ac8-b01d-6fdd45bf3f11","status":"Succeeded","startTime":"2021-05-08T16:19:18.206341Z","endTime":"2021-05-08T16:19:20.4877397Z","percentComplete":1.0,"properties":{"OperationKind":"DatabaseScriptCreateOrUpdate","RootActivityId":"1e38ac46-bf22-464e-adb0-d5c758a29d95","provisioningState":"Succeeded","OperationState":"Completed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testgroupyefkpv/providers/Microsoft.Kusto/clusters/blablab123/databases/test00/scripts/testscript?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testgroupyefkpv/providers/Microsoft.Kusto/Clusters/blablab123/Databases/test00/Scripts/testscript","name":"blablab123/test00/testscript","type":"Microsoft.Kusto/Clusters/Databases/Scripts","etag":"\"\"","tags":{},"properties":{"scriptUrl":"https://testclients.blob.core.windows.net/testclientscontainer/script.txt","continueOnErrors":true,"provisioningState":"Succeeded"},"systemData":{"createdBy":"astauben@microsoft.com","createdAt":"2021-05-08T16:19:16.6515328Z","modifiedBy":"astauben@microsoft.com","modifiedAt":"2021-05-08T16:19:16.6515328Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
version: 1
