interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - linux
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Ff686d426-8d16-42db-81b7-ab578e110ccd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "WestUs", "properties": {"enabledState": "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"MyProfile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/networkexperimentprofiles/MyProfile\"\
        ,\"type\":\"Microsoft.Network/networkexperimentprofiles\",\"tags\":{\r\n \
        \   \r\n  },\"location\":\"WestUs\",\"properties\":{\r\n    \"enabledState\"\
        :\"Enabled\",\"resourceState\":\"Enabled\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "this is my first experiment!", "endpointA":
      {"name": "endpoint A", "endpoint": "endpointA.net"}, "endpointB": {"name": "endpoint
      B", "endpoint": "endpointB.net"}, "enabledState": "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"MyExperiment\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/networkexperimentprofiles/MyProfile/experiments/MyExperiment\"\
        ,\"type\":\"Microsoft.Network/networkexperimentprofiles/experiments\",\"properties\"\
        :{\r\n    \"enabledState\":\"Enabled\",\"resourceState\":\"Enabled\",\"description\"\
        :\"this is my first experiment!\",\"scriptFileUri\":\"https://fpc.msedge.net/client/v2/46b5373e2b5a41f79f484a8bf39c0b7d/ab.min.js\"\
        ,\"status\":null,\"endpointA\":{\r\n      \"name\":\"endpoint A\",\"endpoint\"\
        :\"endpointA.net\"\r\n    },\"endpointB\":{\r\n      \"name\":\"endpoint B\"\
        ,\"endpoint\":\"endpointB.net\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/NetworkExperimentProfiles?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"MyProfile\",\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/networkexperimentprofiles/MyProfile\"\
        ,\"type\":\"Microsoft.Network/networkexperimentprofiles\",\"tags\":{\r\n \
        \       \r\n      },\"location\":\"WestUs\",\"properties\":{\r\n        \"\
        enabledState\":\"Enabled\",\"resourceState\":\"Enabled\"\r\n      }\r\n  \
        \  }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"MyExperiment\",\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/networkexperimentprofiles/MyProfile/experiments/MyExperiment\"\
        ,\"type\":\"Microsoft.Network/networkexperimentprofiles/experiments\",\"properties\"\
        :{\r\n        \"enabledState\":\"Enabled\",\"resourceState\":\"Enabled\",\"\
        description\":\"this is my first experiment!\",\"scriptFileUri\":\"https://fpc.msedge.net/client/v2/46b5373e2b5a41f79f484a8bf39c0b7d/ab.min.js\"\
        ,\"status\":\"Enabled\",\"endpointA\":{\r\n          \"name\":\"endpoint A\"\
        ,\"endpoint\":\"endpointA.net\"\r\n        },\"endpointB\":{\r\n         \
        \ \"name\":\"endpoint B\",\"endpoint\":\"endpointB.net\"\r\n        }\r\n\
        \      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/PreconfiguredEndpoints?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"nextLink\":null,\"value\":[\r\n    {\r\n      \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/networkexperimentprofiles/MyProfile/preconfiguredendpoints\"\
        ,\"name\":\"Azure West Europe Region\",\"type\":\"networkexperimentprofile/preconfiguredendpoints\"\
        ,\"properties\":{\r\n        \"endpoint\":\"am2prdapp01-canary.azr.footprintdns.com\"\
        ,\"description\":\"West Europe Region\",\"backend\":\"West Europe\",\"endpointType\"\
        :\"AzureRegion\"\r\n      }\r\n    },{\r\n      \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/networkexperimentprofiles/MyProfile/preconfiguredendpoints\"\
        ,\"name\":\"Azure East US Region\",\"type\":\"networkexperimentprofile/preconfiguredendpoints\"\
        ,\"properties\":{\r\n        \"endpoint\":\"bl2prdapp01-canary.azr.footprintdns.com\"\
        ,\"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_internet_analyzer000001/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile?api-version=2019-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
