interactions:
- request:
    body: '{"location": "westus", "properties": {"links": [{"bandwidthMHz": 15.0,
      "centerFrequencyMHz": 8160.0, "direction": "downlink", "name": "downlink", "polarization":
      "RHCP"}], "noradId": "27424", "titleLine": "AQUA", "tleLine1": "1 27424U 02022A   21354.42153147  .00000392  00000-0  97092-4
      0  9992", "tleLine2": "2 27424  98.2297 293.2348 0001819  76.6594  32.9430 14.57096586
      44117"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts/AQUA?api-version=2022-03-01
  response:
    body:
      string: '{"location":"westus","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts/AQUA","name":"AQUA","type":"Microsoft.Orbital/spacecrafts","properties":{"provisioningState":"succeeded","noradId":"27424","titleLine":"AQUA","tleLine1":"1
        27424U 02022A   21354.42153147  .00000392  00000-0  97092-4 0  9992","tleLine2":"2
        27424  98.2297 293.2348 0001819  76.6594  32.9430 14.57096586 44117","links":[{"name":"downlink","centerFrequencyMHz":8160.0,"bandwidthMHz":15.0,"direction":"Downlink","polarization":"RHCP","authorizations":[]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/orbital_cli000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001","name":"orbital_cli000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-10T16:28:59Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"links": [{"bandwidthMHz": 15.0,
      "centerFrequencyMHz": 8160.0, "direction": "Downlink", "name": "downlink", "polarization":
      "RHCP"}], "noradId": "27424", "titleLine": "AQUA", "tleLine1": "1 27424U 02022A   21354.42153147  .00000392  00000-0  97092-4
      0  9992", "tleLine2": "2 27424  98.2297 293.2348 0001819  76.6594  32.9430 14.57096586
      44117"}, "tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts/AQUA?api-version=2022-03-01
  response:
    body:
      string: '{"location":"westus","tags":{"tag1":"value1","tag2":"value2"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts/AQUA","name":"AQUA","type":"Microsoft.Orbital/spacecrafts","properties":{"provisioningState":"succeeded","noradId":"27424","titleLine":"AQUA","tleLine1":"1
        27424U 02022A   21354.42153147  .00000392  00000-0  97092-4 0  9992","tleLine2":"2
        27424  98.2297 293.2348 0001819  76.6594  32.9430 14.57096586 44117","links":[{"name":"downlink","centerFrequencyMHz":8160.0,"bandwidthMHz":15.0,"direction":"Downlink","polarization":"RHCP","authorizations":[]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"location":"westus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Rgp/providers/Microsoft.Orbital/spacecrafts/Sat-1","name":"Sat-1","type":"Microsoft.Orbital/spacecrafts","properties":{"provisioningState":"succeeded","noradId":"25544","titleLine":"ISS
        (ZARYA)","tleLine1":"1 25544U 98067A   08264.51782528 -.00002182  00000-0
        -11606-4 0  2927","tleLine2":"2 25544  51.6416 247.4627 0006703 130.5360 325.0288
        15.72125391563537","links":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=5VTRTtswFP2XaNnT0qRO0oRKaHKTVGPL0jbNVuDNMW5rtbEz2y3dEPt2bGgB8cA0theE5Ydzfc69vr468pXFyE7llK2k1b%2ByZtm0%2BjYFVt9aKtXKvus2iKEFaQhTHfRrI0gH86YfBL4rN7XEgraKcibdIDzqxjj2HQQAcgISXTixB3oOxgQHdd3zw%2FjIbQXf0gsipPuVYsEln6vOSNRUobUrW6SlAs2V%2FIha6my1TFc%2BBh4Ajuc7Xvf9O7mibcVXhB3b0cAGoNCtj5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fVDbboJAEP0XUvqG4AKCJKZB0NTUaov09risq90oLNldra2x396h4iU%2BONmHM%2BfMnJmdrVbQjRqyYiG1YKu99SbpywRpgfapVCkD08xxgec0p4Vq4J%2BVoA3C88BxbFOuMkkEKxXjhTQdt930iW8bGCFsONSbGr6FWgYhlDhZ1rJdv22Wgq%2FZlAppPjIiuOQz1RiLjCm8NGWJoVTgmZJ3uGTGGsrAuYMshAzLNqzm7Y1csDLlC1p0dK%2BrIzSC1Z%2BwUKza4YF%2BA6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fZBbb4IwFMe%2FCxl7Q7CAIIlZEDQxc7ohuz2WWl2jUNLWy2bcZ99h4iU%2BeNKH3zn%2Fc%2BvZaQXdqiErFlILdtp7b5K%2BTpAWaF9KlTIwzRwXeE5zWqgG%2FlkJ2iA8DxzHNuUqk0SwUjFeSNNx202f%2BLaBEcKGQ72p4VuoZRBCiZNlLdv122Yp%2BJpNqZDmEyOCSz5TjbHImMJLU5YYUgWeKfmAS2asIQ06d5CFkGHZhtW8v5MLVqZ8QYuO7nV1hEaw%2BjMWilU7PN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fZBbb4IwFMe%2FCxl7Q7CAoIlZFDUxc7ghuz2WWl0jtKStTmfcZ99hXuODJ334nfM%2Ft56twelajxhfKKO1Nd77k%2FR1goyW8aV1qVq2XWCO57SgXNfwz1LSGhFFy%2FNcWy0zRSQrNRNc2Z7frIckdC2MELY8Gkyt0EENixBKvCxruH7YtEspVmxKpbKfGJFCiZmujWXGNM5tVWJIlXim1QMumbWCNOjcRg5CluNaTv3%2BTi1YmYoF5W0z6JoIxbD6M5aaVTs80g2ETLfDl3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fZDJbsIwEIbfJWp6CwlOQkIkVEECEi2FAul2dIyhFsSObLO0iD57J2UVB0Y%2BfDP%2FbJ6twelG9xifKyPaGu%2Ftcfo6RkZkfGldqMi2c8zxjOaU6wr%2BWUpaISKPPM%2B11TJTRLJCM8GV7fn1akhC18IIYcujwcQKHVSzCKHEy7Ka64d1u5BixSZUKvuZESmUmOrKQGZM44WtCgypEk%2B1esAFs1aQBp0byEHIclzLqd7fqTkrUjGnvGEGLROhPqz%2BgqVm5Q5P9BtCpt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fVDJbsIwEP2XqOktJDgJCUioggRUWgoF0u3oGEMtSBzZZimIfnvH7OqBkQ9v5r1Z%2FLZGTteqy%2FKZNGpb46M1St5GyKgZ30oVsmbbGc7xlGY0VyW8WQhaIjyreZ5ry0UqiWCFYjyXtudXyyEJXQsjhC2PBmMrdFDFIoQSL00rrh9W7ULwJRtTIe0XRgSXfKJKfZEyhee2LDBIBZ4o%2BYALZi1BBpPryEHIclzLKd%2FfyRkrEj6jed0MmiZCPTj9FQvF9A3P9AdKptvIF%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fZBbb4IwFMe%2FCxl7Q7CAoIlZUCQx8zKRXXwstbpGoaStzmncZ9%2FBe3zwpA%2B%2Fc%2F7n1rPTcrpRPZYvpNbYaZ%2BdcfI%2BRlpD%2B1aqkA3TzHCO5zSjuarg7UrQCuFZw3FsU65SSQQrFOO5NB23XvWJbxsYIWw41JsavoVqBiGUOGlas12%2FbhaCr9mUCmn2GRFc8pmqDEXKFF6assCQKvBMyRdcMGMNadC5iSyEDMs2rOrzk1ywIuELmjd1r6UjNIDV37BQrNzhlf5CSLeDfLVc6qh90mP%2Bc1FKHQrdUlNlnyNCzQlQK%2B6G4P6RAZ8Eg95Xsd5mk6AfHGyk2yCGOrLjBJI8gCRul2QBdscfgKikzhCo5rpuFbxROwLPP09oH0HgfE6v489bZex%2BJ%2BRFD%2B2ub4Y3166Hj6KH5VF0SvdCHR4c6HK5BKdLOsAZLaO3Z02wmFPV4wSXd79RvVDb7%2F8B
  response:
    body:
      string: '{"value":[{"location":"westus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mablonde-eastus-e2e/providers/Microsoft.Orbital/spacecrafts/GOES15-1-realw","name":"GOES15-1-realw","type":"Microsoft.Orbital/spacecrafts","properties":{"provisioningState":"succeeded","noradId":"27424","titleLine":"(AQUA)","tleLine1":"1
        27424U 02022A   22139.12846065  .00001093  00000+0  25178-3 0  9992","tleLine2":"2
        27424  98.2460  81.3002 0001349  59.5439 117.9890 14.57265691 65952","links":[{"name":"RHCP_Downlink_0","centerFrequencyMHz":8160.0,"bandwidthMHz":150.0,"direction":"Downlink","polarization":"RHCP","authorizations":[{"groundStation":"WESTUS2_0","expirationDate":"2023-05-20"},{"groundStation":"SVALSAT","expirationDate":"2023-05-20"},{"groundStation":"AWARUA","expirationDate":"2023-05-20"},{"groundStation":"HARTEBEESTHOEK","expirationDate":"2023-05-20"},{"groundStation":"LONG_BEACH","expirationDate":"2023-05-20"}]}]}},{"location":"westus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mablonde-ascii-demo/providers/Microsoft.Orbital/spacecrafts/AQUA","name":"AQUA","type":"Microsoft.Orbital/spacecrafts","properties":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fZBdb4IwFIb%2FCxm7Q7CAoIlZVCQxczoV93FZanWNQklbPzbjfvtOGX5kF2t68bTve855c45GTg9qyPK1NFpH47U%2FS%2BYzZLSMD6UK2bLtDOd4RTOaqxr%2B2gpaIzxreZ5ry20qiWCFYjyXtuc36yEJXQsjhC2PBgsrdFDDIoQSL00brh827ULwHVtQIe0nRgSXfKlqY5EyhTe2LDBYBV4q%2BYALZu3ABp3byEHIclzLqd%2FfyTUrEr6medsMuiZCI4j%2BjIViOsMj%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01&%24skiptoken=fZDJbsIwEIbfJWp6CwlOQgISqtgioVIoIXQ5OsZQiySObENpEX32jtnFgZEP38w%2Fm2drFHSjBqxYSqOxNd57k2Q6QUbD%2BFKqlA3bznGBFzSnharg35WgFcLzhue5tlylkghWKsYLaXt%2BvRqS0LUwQtjyaDCzQgfVLEIo8dK05vph3S4FX7MZFdJ%2BYURwyeeqMhIpUzizZYkhVeC5kk%2B4ZNYa0qBzEzkIWY5rOdXHB7lkZcKXtGiaQdtEaAirv2KhmN7hmf5AyHRbxS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts?api-version=2022-03-01
  response:
    body:
      string: '{"nextLink":null,"value":[{"location":"westus","tags":{"tag1":"value1","tag2":"value2"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts/AQUA","name":"AQUA","type":"Microsoft.Orbital/spacecrafts","properties":{"provisioningState":"succeeded","noradId":"27424","titleLine":"AQUA","tleLine1":"1
        27424U 02022A   21354.42153147  .00000392  00000-0  97092-4 0  9992","tleLine2":"2
        27424  98.2297 293.2348 0001819  76.6594  32.9430 14.57096586 44117","links":[{"name":"downlink","centerFrequencyMHz":8160.0,"bandwidthMHz":15.0,"direction":"Downlink","polarization":"RHCP","authorizations":[]}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/orbital_cli000001/providers/Microsoft.Orbital/spacecrafts/AQUA?api-version=2022-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
