interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7-9ec3-2fdb38b6878b"},{"applicationId":"ca7f3f0b-7d91-482c-8e09-c5d840d0eac5","roleDefinitionId":"5d5a2e56-9835-44aa-93db-d2f19e155438"}],"resourceTypes":[{"resourceType":"workspaces","locations":["East
        US","West Europe","Southeast Asia","Australia Southeast","West Central US","Japan
        East","UK South","Central India","Canada Central","West US 2","Australia Central","Australia
        East","France Central","Korea Central","North Europe","Central US","East Asia","East
        US 2","South Central US","North Central US","West US","UK West","South Africa
        North","Brazil South","Switzerland North","Switzerland West"],"apiVersions":["2020-03-01-preview","2017-04-26-preview","2017-03-15-preview","2017-03-03-preview","2017-01-01-preview","2015-11-01-preview","2015-03-20"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"locations","locations":[],"apiVersions":["2020-03-01-preview","2019-08-01-preview","2017-04-26-preview","2017-03-15-preview","2017-03-03-preview","2017-01-01-preview","2015-11-01-preview","2015-03-20"],"defaultApiVersion":"2015-11-01-preview","capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US","West Europe","Southeast Asia","Australia Southeast","West Central US","Japan
        East","UK South","Central India","Canada Central","West US 2","Australia Central","Australia
        East","France Central","Korea Central","North Europe","Central US","East Asia","East
        US 2","South Central US","North Central US","West US","UK West","South Africa
        North","Brazi[...]
- request:
    body: '{"location": "westus", "properties": {"features": {"legacy": "0", "searchVersion":
      "1"}, "retentionInDays": "7", "sku": {"name": "free"}, "source": "Azure"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace000005?api-version=2015-03-20
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"21e0679e-c06f-42e3-aa74-312f64a8f21d\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"free\",\r\n      \"lastSkuUpdate\": \"Tue,
        28 Apr 2020 12:16:40 GMT\"\r\n    },\r\n    \"retentionInDays\": 7,\r\n    \"features\":
        {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\":
        true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": 0.5,\r\n
        \     \"quotaNextResetTime\": \"Wed, 29 Apr 2020 08:00:00 GMT\",\r\n      \"dataIngestionStatus\":
        \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n
        \   \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/workspace000005\",\r\n
        \ \"name\": \"workspace000005\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace000005?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"21e0679e-c06f-42e3-aa74-312f64a8f21d\",\r[...]
- request:
    body: 'b''{"location": "westus", "tags": {"key1": "value1"}, "plan": {"name":
      "Containers(workspace000005)", "publisher": "Microsoft", "promotionCode": "",
      "product": "OMSGallery/Containers"}, "properties": {"workspaceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/workspace000005"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationsManagement/solutions/Containers%28workspace000005%29?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"plan\": {\r\n    \"name\": \"Containers(workspace000005)\",\r\n
        \   \"publisher\": \"Microsoft\",\r\n    \"promotionCode\": \"\",\r\n    \"product\":
        \"OMSGallery/Containers\"\r\n  },\r\n  \"properties\": {\r\n    \"workspaceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/workspace000005\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"Mon,
        01 Jan 0001 00:00:00 GMT\",\r\n    \"lastModifiedTime\": \"Mon, 01 Jan 0001
        00:00:00 GMT\",\r\n    \"containedResources\": [\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace000005/views/Containers(workspace000005)\"\r\n
        \   ]\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationsManagement/solutions/Containers(workspace000005)\",\r\n
        \ \"name\": \"Containers(workspace000005)\",\r\n  \"type\": \"Microsoft.OperationsManagement/solutions\",\r\n
        \ \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n
        \ }\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": {"key2": "value2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationsManagement/solutions/Containers%28workspace000005%29?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"plan\": {\r\n    \"name\": \"Containers(workspace000005)\",\r\n
        \   \"publisher\": \"Microsoft\",\r\n    \"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000002?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002","name":"clitest.rg000002","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-04-28T12:16:14Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "westus", "tags": {"key3": "value3"}, "plan": {"name":
      "Containers(workspace000006)", "publisher": "Microsoft", "promotionCode": "",
      "product": "OMSGallery/Containers"}, "properties": {"workspaceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.OperationalInsights/workspaces/workspace000006"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/0000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationsManagement/solutions?api-version=2015-11-01-preview
  response:
    body:
      string: '{"value":[{"plan":{"name":"Containers(workspace000005)","publisher":"Microsoft","promotionCode":"","product":"OMSGallery/Containers"},"properties":{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/workspace000005","provisioningState":"Succeeded","creationTime":"Tue,
        28 Apr 2020 12:17:29 GMT","lastModifiedTime":"Tue, 28 Apr 2020 12:17:40 GMT","containedResources":["/subscriptions/00000000-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000002/providers/Microsoft.OperationsManagement/solutions?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"plan\": {\r\n        \"name\":
        \"Containers(workspace000006)\",\r\n        \"publisher\": \"Microsoft\",\r\n
        \       \"promotionCode\": \"\",\r\n    [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000002/providers/Microsoft.OperationsManagement/solutions?api-version=2015-11-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
