[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
colorama = "*"
azure-cli-core = "*"
# https://github.com/Azure/azure-cli-dev-tools/releases
azdev = "==0.1.13"

# [packages]
# azure-cli = "*"
# azure-cli-testsdk = { git = "https://github.com/Azure/azure-cli", subdirectory = "src/azure-cli-testsdk" }
# [requires]
# python_version = "3.7"